Repository withastro/astro, changes with the labels that .github/labeler.yml gives for each.
All labels: pkg: example, ðŸš¨ action, pkg: astro, pkg: create-astro, pkg: db, feat: markdown, pkg: integration, pkg: lit, pkg: preact, pkg: react, pkg: solid, pkg: svelte, pkg: vue, docs pr

.github/labeler.yml:

# See https://github.com/actions/labeler

'pkg: example':
- examples/**/*

'ðŸš¨ action':
- .github/workflows/**

'pkg: astro':
- packages/astro/**

'pkg: create-astro':
- packages/create-astro/**

'pkg: db':
- packages/integrations/db/**

'feat: markdown':
- packages/markdown/**

'pkg: integration':
- packages/integrations/**

'pkg: lit':
- packages/integrations/lit/**

'pkg: preact':
- packages/integrations/preact/**

'pkg: react':
- packages/integrations/react/**

'pkg: solid':
- packages/integrations/solid/**

'pkg: svelte':
- packages/integrations/svelte/**

'pkg: vue':
- packages/integrations/vue/**

'docs pr':
- packages/astro/src/types/public/**
- packages/astro/src/core/errors/errors-data.ts

Update type import
  packages/astro/src/core/config/merge.ts
Labels: pkg: astro

ci: remove `--pnpm`
  .github/workflows/preview-release.yml
Labels: ðŸš¨ action

ci: remove `--pnpm` (#13246)
  .github/workflows/preview-release.yml
Labels: ðŸš¨ action

ci: restore `--pnpm`
  .github/workflows/preview-release.yml
Labels: ðŸš¨ action

ci: restore `--pnpm` (#13247)
  .github/workflows/preview-release.yml
Labels: ðŸš¨ action

ci: remove template, add more info
  .github/workflows/preview-release.yml
Labels: ðŸš¨ action

ci: remove template, add more info (#13248)
  .github/workflows/preview-release.yml
Labels: ðŸš¨ action

Expose config merge and validation APIs
  packages/astro/src/config/entrypoint.ts
Labels: pkg: astro

fix(vue): compiler fallback
  .changeset/itchy-buckets-dream.md
  packages/integrations/vue/src/index.ts
Labels: pkg: integration, pkg: vue

Update index.ts
  packages/integrations/vue/src/index.ts
Labels: pkg: integration, pkg: vue

ci: remove events to avoid non-wanted triggers
  .github/workflows/preview-release.yml
Labels: ðŸš¨ action

ci: remove events to avoid non-wanted triggers (#13252)
  .github/workflows/preview-release.yml
Labels: ðŸš¨ action
