Repository withastro/astro, pull requests merged in 2021-11, with the labels that each got.

#1775 Update www site
  www/public/assets/fonts/ibm-plex-mono/ibm-plex-mono-v7-latin-700.woff
  www/public/assets/fonts/ibm-plex-mono/ibm-plex-mono-v7-latin-regular.woff
  www/public/assets/fonts/ibm-plex-sans/ibm-plex-sans-v9-latin-600.woff
  www/public/assets/fonts/ibm-plex-sans/ibm-plex-sans-v9-latin-700.woff
  www/public/assets/fonts/ibm-plex-sans/ibm-plex-sans-v9-latin-regular.woff
  www/snowpack.config.js
  www/src/components/BlogHead.astro
  www/src/pages/404.astro
  www/src/pages/blog/astro-018.astro
  www/src/pages/blog/astro-019.astro
  www/src/pages/blog/astro-021-preview.astro
  www/src/pages/blog/astro-repl.astro
  www/src/pages/blog/demo-day-2021-09.astro
  www/src/pages/blog/index.astro
  www/src/pages/blog/introducing-astro.astro
  www/src/pages/blog/netlify-astro-hosting-sponsorship.astro
  www/src/pages/index.astro
  www/src/scss/fonts.scss
Labels: 0.21

#1738 Update Astro docs to use v0.21
  docs/astro.config.mjs
  docs/package.json
  docs/snowpack.config.mjs
  docs/src/components/HeadSEO.astro
  docs/src/components/Header/Header.astro
  docs/src/components/Header/Search.tsx
  docs/src/components/PageContent/PageContent.astro
  docs/src/components/RightSidebar/MoreMenu.astro
  docs/src/components/RightSidebar/RightSidebar.astro
  docs/src/layouts/MainLayout.astro
  docs/src/pages/guides/deploy.md
  docs/src/pages/themes.astro
Labels: 0.21

#1774 Enable macOS tests
  .github/workflows/ci.yml
  packages/astro/src/vite-plugin-astro/index.ts
Labels: 0.21

#1783 Inject Doctype tag
  packages/astro/src/core/build/index.ts
  packages/astro/src/core/ssr/index.ts
  packages/astro/test/astro-doctype.test.js
  packages/astro/test/fixtures/astro-doctype/src/layouts/WithDoctype.astro
  packages/astro/test/fixtures/astro-doctype/src/layouts/WithoutDoctype.astro
  packages/astro/test/fixtures/astro-doctype/src/pages/preserve.astro
Labels: 0.21

#1743 Uncomment hoisted scripts
  .changeset/little-dogs-help.md
  packages/astro/src/vite-plugin-build-html/extract-assets.ts
  packages/astro/src/vite-plugin-build-html/index.ts
  packages/astro/test/astro-scripts.test.js
  packages/astro/test/fixtures/astro-scripts/src/components/Widget.astro
  packages/astro/test/fixtures/astro-scripts/src/components/Widget2.astro
  packages/astro/test/fixtures/astro-scripts/src/scripts/another_external.js
  packages/astro/test/fixtures/astro-scripts/src/scripts/something.js
Labels: 0.21

#1782 Improve WASM panic error
  packages/astro/src/core/dev/index.ts
  packages/astro/src/core/dev/template/error.ts
  packages/astro/src/core/ssr/index.ts
  packages/astro/src/vite-plugin-astro/index.ts
  packages/astro/test/fixtures/wasm-panic-error/src/pages/index.astro
  packages/astro/test/wasm-panic-error.test.js
Labels: 0.21

#1837 Fix PostCSS (and Autoprefixer) processing
  .changeset/twenty-rabbits-repeat.md
  docs/src/pages/guides/styling.md
  packages/astro/package.json
  packages/astro/src/core/ssr/css.ts
  packages/astro/src/core/util.ts
  packages/astro/src/vite-plugin-astro/index.ts
  packages/astro/src/vite-plugin-astro/styles.ts
  packages/astro/test/fixtures/postcss/postcss.config.cjs
  packages/astro/test/fixtures/postcss/public/global.css
  packages/astro/test/fixtures/postcss/src/components/Astro.astro
  packages/astro/test/fixtures/postcss/src/components/Solid.css
  packages/astro/test/fixtures/postcss/src/components/Solid.jsx
  packages/astro/test/fixtures/postcss/src/components/Svelte.svelte
  packages/astro/test/fixtures/postcss/src/components/Vue.vue
  packages/astro/test/fixtures/postcss/src/pages/index.astro
  packages/astro/test/fixtures/postcss/src/styles/linked.css
  packages/astro/test/postcss.test.js
  yarn.lock
Labels: docs

#1689 Docs/add italian translation
  docs/src/pages/it/getting-started.md
Labels: i18n

#1841 Add Autoprefixer change to 0.21 migration guide
  docs/src/pages/migration/0.21.0.md
Labels: docs

#1716 Implement `client:only` handling
  .changeset/polite-ladybugs-train.md
  packages/astro/package.json
  packages/astro/src/runtime/server/index.ts
  packages/astro/src/runtime/server/metadata.ts
  packages/astro/test/astro-client-only.test.js
  packages/astro/test/astro-dynamic.test.js
  packages/astro/test/fixtures/astro-dynamic/src/pages/client-only.astro
  packages/astro/test/fixtures/custom-elements/my-component-lib/server.js
  yarn.lock
Labels: 0.21

#1859 Fix docs Netlify build
  docs/src/config.ts
Labels: docs

#1845 fix: header logo/nav/svg
  www/src/components/MainHeader.astro
Labels: www

#1771 fix: enable node builtins
  packages/astro/src/core/create-vite.ts
  packages/astro/test/builtins.test.js
  packages/astro/test/fixtures/builtins/src/components/Version.astro
  packages/astro/test/fixtures/builtins/src/pages/bare.astro
Labels: 0.21

#1861 Improve PR labels
  .github/labeler.yml
  .github/workflows/label.yml
Labels: 🚨 action

#1868 Fix for built scoped Vue styles
  .changeset/serious-knives-hug.md
  packages/astro/src/vite-plugin-build-css/index.ts
  packages/astro/test/astro-styles-ssr.test.js
Labels: test, core

#1879 Dev server routing tests (and fixes)
  .changeset/seven-bottles-warn.md
  packages/astro/src/core/dev/index.ts
  packages/astro/test/astro-styles-ssr.test.js
  packages/astro/test/dev-routing.test.js
  packages/astro/test/fixtures/with-subpath-no-trailing-slash/astro.config.mjs
  packages/astro/test/fixtures/with-subpath-no-trailing-slash/src/pages/another.astro
  packages/astro/test/fixtures/with-subpath-no-trailing-slash/src/pages/index.astro
  packages/astro/test/fixtures/with-subpath-trailing-slash/astro.config.mjs
  packages/astro/test/fixtures/with-subpath-trailing-slash/src/pages/another.astro
  packages/astro/test/fixtures/with-subpath-trailing-slash/src/pages/index.astro
  packages/astro/test/fixtures/without-site-config/src/pages/another.astro
  packages/astro/test/fixtures/without-site-config/src/pages/index.astro
  packages/astro/test/fixtures/without-subpath/astro.config.mjs
  packages/astro/test/fixtures/without-subpath/src/pages/another.astro
  packages/astro/test/fixtures/without-subpath/src/pages/index.astro
  packages/astro/test/test-utils.js
Labels: test, core

#1891 Fix styles-ssr timeout
  packages/astro/test/astro-styles-ssr.test.js
Labels: test, core

#1892 Update yarn.lock to reflect the state of the package.json files
  package.json
  packages/astro/package.json
  packages/astro/src/vite-plugin-build-html/extract-assets.ts
  scripts/package.json
  yarn.lock
Labels: core

#1875 Improve error messages
  .changeset/two-ducks-sit.md
  packages/astro/src/core/build/index.ts
  packages/astro/src/core/ssr/css.ts
  packages/astro/src/core/ssr/index.ts
  packages/astro/src/core/util.ts
  packages/astro/src/vite-plugin-astro/index.ts
  packages/astro/src/vite-plugin-build-html/index.ts
  packages/astro/src/vite-plugin-jsx/index.ts
  packages/astro/test/astro-styles-ssr.test.js
  packages/astro/test/errors.test.js
  packages/astro/test/fixtures/errors/src/components/JSRuntimeError.js
  packages/astro/test/fixtures/errors/src/components/JSSyntaxError.js
  packages/astro/test/fixtures/errors/src/components/PreactRuntimeError.jsx
  packages/astro/test/fixtures/errors/src/components/PreactSyntaxError.jsx
  packages/astro/test/fixtures/errors/src/components/ReactRuntimeError.jsx
  packages/astro/test/fixtures/errors/src/components/ReactSyntaxError.jsx
  packages/astro/test/fixtures/errors/src/components/SolidRuntimeError.jsx
  packages/astro/test/fixtures/errors/src/components/SolidSyntaxError.jsx
  packages/astro/test/fixtures/errors/src/components/SvelteRuntimeError.svelte
  packages/astro/test/fixtures/errors/src/components/SvelteSyntaxError.svelte
  packages/astro/test/fixtures/errors/src/components/VueRuntimeError.vue
  packages/astro/test/fixtures/errors/src/components/VueSyntaxError.vue
  packages/astro/test/fixtures/errors/src/pages/astro-runtime-error.astro
  packages/astro/test/fixtures/errors/src/pages/astro-syntax-error.astro
  packages/astro/test/fixtures/errors/src/pages/js-runtime-error.astro
  packages/astro/test/fixtures/errors/src/pages/js-syntax-error.astro
  packages/astro/test/fixtures/errors/src/pages/preact-runtime-error.astro
  packages/astro/test/fixtures/errors/src/pages/preact-syntax-error.astro
  packages/astro/test/fixtures/errors/src/pages/react-runtime-error.astro
  packages/astro/test/fixtures/errors/src/pages/react-syntax-error.astro
  packages/astro/test/fixtures/errors/src/pages/solid-runtime-error.astro
  packages/astro/test/fixtures/errors/src/pages/solid-syntax-error.astro
  packages/astro/test/fixtures/errors/src/pages/svelte-runtime-error.astro
  packages/astro/test/fixtures/errors/src/pages/svelte-syntax-error.astro
  packages/astro/test/fixtures/errors/src/pages/vue-runtime-error.astro
  packages/astro/test/fixtures/errors/src/pages/vue-syntax-error.astro
  packages/renderers/renderer-vue/package.json
  packages/renderers/renderer-vue/server.js
  yarn.lock
Labels: test, framework-vue, renderer, core

#1894 remove unused remark dependency
  packages/markdown/remark/package.json
  yarn.lock
Labels: markdown

#1869 Update compiler
  packages/astro/package.json
  www/src/pages/blog/demo-day-2021-09.astro
  yarn.lock
Labels: www, core

#1896 Improve HMR
  packages/astro/src/core/dev/index.ts
  packages/astro/src/vite-plugin-astro/index.ts
Labels: core

#1882 Add Debug tests
  packages/astro/test/debug-component.test.js
  packages/astro/test/fixtures/debug-component/src/data/posts/my-first-post.md
  packages/astro/test/fixtures/debug-component/src/pages/index.astro
  packages/astro/test/fixtures/debug-component/src/pages/posts/[slug].astro
Labels: test, core

#1903 Resolve vite client modules to vendored vite
  .changeset/popular-plants-report.md
  packages/astro/vendor/vite/dist/node/chunks/dep-35df7f96.js
Labels: core

#1901 Remove OSX \x00 workaround
  .changeset/serious-rocks-juggle.md
  packages/astro/src/vite-plugin-astro/index.ts
Labels: core

#1906 Remove further dependence on vite package
  .changeset/few-pumpkins-report.md
  packages/astro/vendor/vite/dist/node/chunks/dep-35df7f96.js
  packages/markdown/remark/package.json
Labels: markdown, core

#1910 Fix blog example
  examples/blog/src/pages/posts/index.md
Labels: example

#1911 Small fixes
  .prettierignore
  examples/blog/src/pages/posts/index.md
  packages/astro/package.json
Labels: example, core

#1908 Remove additional newlines added to HTML
  packages/astro/src/runtime/server/index.ts
Labels: core

#1917 Fix blog example yet again
  .prettierignore
  examples/blog/src/pages/posts/index.md
Labels: example

#1920 Add polyfill scripts to result.scripts
  .changeset/rare-cars-lick.md
  packages/astro/src/runtime/server/index.ts
  packages/astro/test/custom-elements.test.js
Labels: test, core

#1921 Add vite back as a dependency
  .changeset/friendly-dingos-lie.md
  packages/astro/package.json
Labels: core

#1922 Fix RegExp#test in Config test
  packages/astro/test/config.test.js
Labels: test, core

#1898 Improve www blog page layout
  www/src/components/BlogPost.astro
  www/src/components/Shell.astro
  www/src/data/blog-posts/astro-018.md
  www/src/data/blog-posts/astro-019.md
  www/src/data/blog-posts/astro-021-preview.md
  www/src/data/blog-posts/astro-repl.md
  www/src/data/blog-posts/demo-day-2021-09.md
  www/src/pages/blog/[slug].astro
  www/src/pages/blog/astro-018.astro
  www/src/pages/blog/astro-019.astro
  www/src/pages/blog/astro-021-preview.astro
  www/src/pages/blog/astro-repl.astro
  www/src/pages/blog/demo-day-2021-09.astro
  www/src/pages/blog/netlify-astro-hosting-sponsorship.astro
Labels: www

#1897 fix the preview command base URL
  packages/astro/src/core/preview/index.ts
Labels: core

#1925 Migrate `www` to new Markdown + Components format
  .changeset/clever-cobras-notice.md
  .changeset/twenty-ties-protect.md
  packages/astro/src/runtime/server/index.ts
  packages/astro/src/vite-plugin-markdown/index.ts
  www/src/data/blog-posts/astro-018.md
  www/src/data/blog-posts/astro-021-preview.md
  www/src/data/blog-posts/introducing-astro.md
  www/src/data/blog-posts/netlify-astro-hosting-sponsorship.md
  www/src/pages/blog/[slug].astro
  www/src/pages/blog/introducing-astro.astro
  www/src/pages/blog/netlify-astro-hosting-sponsorship.astro
Labels: www, core

#1929 Doc improvements
  docs/src/pages/core-concepts/routing.md
  docs/src/pages/es/core-concepts/routing.md
  docs/src/pages/es/guides/imports.md
  docs/src/pages/es/reference/api-reference.md
  docs/src/pages/guides/imports.md
  docs/src/pages/guides/markdown-content.md
  docs/src/pages/guides/pagination.md
  docs/src/pages/guides/styling.md
  docs/src/pages/migration/0.21.0.md
  docs/src/pages/reference/api-reference.md
  examples/docs/README.md
  packages/renderers/renderer-lit/readme.md
Labels: docs, i18n, example, framework-lit, renderer

#1927 Allow search params
  packages/astro/src/core/dev/index.ts
  packages/astro/test/dev-routing.test.js
Labels: test, core

#1899 [blog] New 0.21 release post
  www/src/components/BlogPost.astro
  www/src/components/BlogPostPreview.astro
  www/src/data/blog-posts/astro-021-release.md
  www/src/pages/blog/index.astro
Labels: www

#1926 add missing, indirect dependencies to astro package
  packages/astro/package.json
  yarn.lock
Labels: core

#1932 Allow links/images to be loaded from browser /src
  .changeset/afraid-badgers-search.md
  packages/astro/src/vite-plugin-build-html/index.ts
Labels: core

#1933 Fix Svelte and Vue styles in dev
  packages/astro/src/core/ssr/index.ts
Labels: core

#1936 [www] Update index.astro to point to new blog post
  www/src/pages/index.astro
Labels: www

#1938 Update www for v0.21
  www/public/_redirects
  www/public/assets/blog/astro-021-release/hero.png
  www/public/assets/blog/astro-021-release/social.png
  www/src/data/blog-posts/astro-021-preview.md
  www/src/data/blog-posts/astro-021-release.md
  www/src/pages/blog/[slug].astro
Labels: www

#1937 Clarify rules of define:vars
  docs/src/pages/migration/0.21.0.md
Labels: docs

#1940 Add migration guide for Tailwind CSS
  docs/src/pages/migration/0.21.0.md
Labels: docs

#1935 Mention astro.new in docs
  docs/src/pages/getting-started.md
Labels: docs

#1946 (docs) Fix config reference link
  docs/src/pages/reference/configuration-reference.md
Labels: docs

#1945 Updating docs for automatic detection of `export interface Props`
  docs/src/pages/core-concepts/astro-components.md
Labels: docs

#1955 Patch: Example Nanostores Update
  docs/src/pages/getting-started.md
  examples/with-nanostores/package.json
  examples/with-nanostores/src/components/AdminsPreact.jsx
  examples/with-nanostores/src/components/AdminsReact.jsx
  examples/with-nanostores/src/components/AdminsSvelte.svelte
  examples/with-nanostores/src/components/AdminsVue.vue
  examples/with-nanostores/src/store/admins.js
  examples/with-nanostores/src/store/counter.js
  examples/with-nanostores/src/store/users.js
Labels: docs, example

#1956 fix: avoid infinite loops in `crawlCSS`
  .changeset/six-rockets-jump.md
  packages/astro/src/core/ssr/css.ts
Labels: core

#1959 fix: `client:only` behavior with a single renderer
  .changeset/slimy-turtles-boil.md
  packages/astro/src/runtime/server/index.ts
Labels: core

#1961 docs: update link to AstroUserConfig type definitions
  docs/src/pages/reference/configuration-reference.md
Labels: docs

#1948 Support `lang="postcss"`
  .changeset/big-mangos-bow.md
  packages/astro/src/core/ssr/css.ts
Labels: core

#1966 Fix Japanese theme page to use v0.21
  docs/src/pages/ja/themes.astro
Labels: docs, i18n

#1949 fix: output `404.astro` to `404.html`
  .changeset/twenty-hounds-approve.md
  packages/astro/src/vite-plugin-build-html/index.ts
Labels: core

#1902 Warn on missing pages directory
  packages/astro/src/cli/index.ts
  packages/astro/src/core/build/index.ts
  packages/astro/src/core/dev/index.ts
  packages/astro/src/core/ssr/routing.ts
  packages/astro/test/config.test.js
Labels: test, core

#1975 chore: update compiler
  .changeset/fuzzy-stingrays-count.md
  packages/astro/package.json
  packages/astro/test/errors.test.js
  packages/astro/test/fixtures/wasm-panic-error/src/pages/index.astro
  packages/astro/test/wasm-panic-error.test.js
  yarn.lock
Labels: test, core

#1970 Clean up styling for framework-* examples
  examples/framework-multiple/src/components/PreactCounter.tsx
  examples/framework-multiple/src/components/ReactCounter.jsx
  examples/framework-multiple/src/components/SolidCounter.tsx
  examples/framework-multiple/src/components/SvelteCounter.svelte
  examples/framework-multiple/src/components/VueCounter.vue
  examples/framework-multiple/src/pages/index.astro
  examples/framework-multiple/src/styles/global.css
  examples/framework-preact/src/components/Counter.css
  examples/framework-preact/src/components/Counter.tsx
  examples/framework-preact/src/pages/index.astro
  examples/framework-react/src/components/Counter.css
  examples/framework-react/src/components/Counter.jsx
  examples/framework-react/src/pages/index.astro
  examples/framework-solid/src/components/Counter.css
  examples/framework-solid/src/components/Counter.jsx
  examples/framework-solid/src/pages/index.astro
  examples/framework-svelte/src/components/Counter.svelte
  examples/framework-svelte/src/pages/index.astro
  examples/framework-vue/src/components/Counter.vue
  examples/framework-vue/src/pages/index.astro
Labels: example

#1954 Markdown package improvements
  .changeset/fluffy-ligers-mate.md
  .changeset/little-turtles-sniff.md
  docs/src/pages/guides/markdown-content.md
  examples/with-markdown-plugins/astro.config.mjs
  examples/with-markdown-plugins/package.json
  packages/astro/package.json
  packages/astro/src/@types/astro.ts
  packages/astro/test/astro-markdown-plugins.test.js
  packages/markdown/remark/CHANGELOG.md
  packages/markdown/remark/package.json
  packages/markdown/remark/src/index.ts
  yarn.lock
Labels: docs, test, markdown, example, core

#1874 fix(lit-renderer): certain reactive props not init correctly
  .changeset/gentle-donkeys-rule.md
  packages/astro/test/fixtures/lit-element/src/components/my-element.js
  packages/astro/test/fixtures/lit-element/src/pages/index.astro
  packages/astro/test/lit-element.test.js
  packages/renderers/renderer-lit/server.js
Labels: test, framework-lit, renderer, core

#1977 Bring back building of non-hoisted scripts
  .changeset/tiny-buckets-mix.md
  packages/astro/src/vite-plugin-build-html/extract-assets.ts
  packages/astro/src/vite-plugin-build-html/index.ts
  packages/astro/src/vite-plugin-build-html/util.ts
  packages/astro/test/astro-scripts.test.js
  packages/astro/test/fixtures/astro-scripts/src/components/NoHoistClassic.astro
  packages/astro/test/fixtures/astro-scripts/src/components/NoHoistModule.astro
  packages/astro/test/fixtures/astro-scripts/src/pages/external-no-hoist-classic.astro
  packages/astro/test/fixtures/astro-scripts/src/pages/external-no-hoist.astro
  packages/astro/test/fixtures/astro-scripts/src/scripts/no_hoist_module.js
  packages/astro/test/fixtures/astro-scripts/src/scripts/no_hoist_nonmodule.js
Labels: test, core

#1919 Add Sass tests
  .changeset/cool-knives-fry.md
  packages/astro/package.json
  packages/astro/test/0-css.test.js
  packages/astro/test/astro-styles-ssr.test.js
  packages/astro/test/fixtures/0-css/src/components/Astro.astro
  packages/astro/test/fixtures/0-css/src/components/AstroNone.astro
  packages/astro/test/fixtures/0-css/src/components/AstroSass.astro
  packages/astro/test/fixtures/0-css/src/components/AstroScss.astro
  packages/astro/test/fixtures/0-css/src/components/ReactCSS.css
  packages/astro/test/fixtures/0-css/src/components/ReactCSS.jsx
  packages/astro/test/fixtures/0-css/src/components/ReactDynamic.jsx
  packages/astro/test/fixtures/0-css/src/components/ReactModules.jsx
  packages/astro/test/fixtures/0-css/src/components/ReactModules.module.css
  packages/astro/test/fixtures/0-css/src/components/ReactModules.module.sass
  packages/astro/test/fixtures/0-css/src/components/ReactModules.module.scss
  packages/astro/test/fixtures/0-css/src/components/ReactModulesSass.jsx
  packages/astro/test/fixtures/0-css/src/components/ReactModulesScss.jsx
  packages/astro/test/fixtures/0-css/src/components/ReactSass.jsx
  packages/astro/test/fixtures/0-css/src/components/ReactSass.sass
  packages/astro/test/fixtures/0-css/src/components/ReactScss.jsx
  packages/astro/test/fixtures/0-css/src/components/ReactScss.scss
  packages/astro/test/fixtures/0-css/src/components/SvelteCSS.svelte
  packages/astro/test/fixtures/0-css/src/components/SvelteSass.svelte
  packages/astro/test/fixtures/0-css/src/components/SvelteScss.svelte
  packages/astro/test/fixtures/0-css/src/components/VueCSS.vue
  packages/astro/test/fixtures/0-css/src/components/VueModules.vue
  packages/astro/test/fixtures/0-css/src/components/VueSass.vue
  packages/astro/test/fixtures/0-css/src/components/VueScoped.vue
  packages/astro/test/fixtures/0-css/src/components/VueScss.vue
  packages/astro/test/fixtures/0-css/src/pages/index.astro
  packages/astro/test/fixtures/0-css/src/styles/linked.css
  packages/astro/test/fixtures/0-css/src/styles/linked.sass
  packages/astro/test/fixtures/0-css/src/styles/linked.scss
  packages/astro/test/fixtures/astro-styles-ssr/src/components/SvelteScoped.svelte
  packages/astro/test/fixtures/astro-styles-ssr/src/components/VueCSS.vue
  packages/astro/test/fixtures/astro-styles-ssr/src/pages/index.astro
  yarn.lock
Labels: test, core

#1980 Update Tailwind PostCSS sample config in docs
  docs/src/pages/guides/styling.md
Labels: docs

#1829 Add `with-vite-plugin-pwa` example
  examples/with-vite-plugin-pwa/.gitignore
  examples/with-vite-plugin-pwa/.npmrc
  examples/with-vite-plugin-pwa/.stackblitzrc
  examples/with-vite-plugin-pwa/README.md
  examples/with-vite-plugin-pwa/astro.config.mjs
  examples/with-vite-plugin-pwa/package.json
  examples/with-vite-plugin-pwa/public/favicon.ico
  examples/with-vite-plugin-pwa/public/robots.txt
  examples/with-vite-plugin-pwa/sandbox.config.json
  examples/with-vite-plugin-pwa/src/index.ts
  examples/with-vite-plugin-pwa/src/pages/index.astro
  examples/with-vite-plugin-pwa/src/vite-env.d.ts
  examples/with-vite-plugin-pwa/tsconfig.json
  packages/astro/src/core/build/index.ts
  packages/astro/src/core/create-vite.ts
  yarn.lock
Labels: example, core

#1984 create-astro: Add a helpful message for the "could not find commit hash for ..." error
  .changeset/unlucky-days-rescue.md
  packages/create-astro/src/index.ts
Labels: create-astro

#1982 Add default TypeScript, Sass support to Svelte
  .changeset/rare-bulldogs-tie.md
  packages/astro/test/0-css.test.js
  packages/astro/test/fixtures/0-css/src/pages/index.astro
  packages/astro/test/fixtures/svelte-component/src/components/TypeScript.svelte
  packages/astro/test/fixtures/svelte-component/src/pages/typescript.astro
  packages/astro/test/svelte-component.test.js
  packages/renderers/renderer-svelte/index.js
  packages/renderers/renderer-svelte/package.json
  yarn.lock
Labels: test, framework-svelte, renderer, core

#1991 Fix broken "Routing guide" link
  docs/src/pages/quick-start.md
Labels: docs

#1990 docs: update env variable guide
  docs/src/pages/guides/environment-variables.md
Labels: docs

#1993 Improve CSS URLs on Windows
  .changeset/tame-melons-think.md
  packages/astro/src/core/ssr/css.ts
  packages/astro/src/core/ssr/index.ts
  packages/astro/test/0-css.test.js
  packages/astro/test/fixtures/0-css/public/global.css
  packages/astro/test/fixtures/0-css/src/pages/index.astro
  packages/astro/test/test-utils.js
Labels: test, core

#1997 Add package descriptions
  packages/astro/package.json
  packages/renderers/renderer-lit/package.json
  packages/renderers/renderer-preact/package.json
  packages/renderers/renderer-react/package.json
  packages/renderers/renderer-solid/package.json
  packages/renderers/renderer-svelte/package.json
  packages/renderers/renderer-vue/package.json
Labels: framework-svelte, framework-vue, framework-react, framework-preact, framework-solid, framework-lit, renderer, core

#1999 Fix client:visible for duplicate component instances
  .changeset/famous-mice-sparkle.md
  docs/src/components/RightSidebar/ThemeToggleButton.tsx
  packages/astro/src/runtime/client/visible.ts
Labels: docs, core

#1995 chore: update compiler
  .changeset/lemon-comics-cheat.md
  packages/astro/package.json
  yarn.lock
Labels: core

#2003 [examples] move styles from public to src
  examples/blog-multiple-authors/src/components/MainHead.astro
  examples/blog-multiple-authors/src/styles/global.css
  examples/blog/public/global.css
  examples/blog/src/layouts/BlogPost.astro
  examples/blog/src/pages/index.astro
  examples/blog/src/styles/blog.css
  examples/docs/src/components/HeadCommon.astro
  examples/docs/src/styles/code.css
  examples/docs/src/styles/index.css
  examples/docs/src/styles/theme.css
  examples/minimal/src/pages/index.astro
  examples/portfolio-svelte/src/components/MainHead.astro
  examples/portfolio-svelte/src/styles/global.scss
  examples/portfolio/src/components/MainHead.astro
  examples/portfolio/src/styles/global.scss
  examples/starter/src/pages/index.astro
  examples/starter/src/styles/global.css
  examples/starter/src/styles/home.css
  examples/with-markdown-plugins/src/layouts/main.astro
  examples/with-markdown-plugins/src/styles/global.css
  examples/with-markdown/src/layouts/main.astro
  examples/with-markdown/src/styles/global.css
  examples/with-nanostores/public/style/global.css
  examples/with-nanostores/public/style/home.css
  examples/with-nanostores/src/pages/index.astro
  examples/with-nanostores/src/styles/global.css
  examples/with-nanostores/src/styles/home.css
Labels: example

#2008 Chore: update compiler
  .changeset/selfish-ads-invent.md
  packages/astro/package.json
  yarn.lock
Labels: core

#2013 add dark-mode for logos [readme]
  .github/assets/netlify-dark.svg
  .github/assets/vercel-dark.svg
  packages/astro/README.md
Labels: core

#2036 Fix sponsors logos [Readme].
  packages/astro/README.md
Labels: core

#2028 fixed alias path on migration guide.
  docs/src/pages/migration/0.21.0.md
Labels: docs

#2029 fix: typo
  docs/src/pages/core-concepts/routing.md
Labels: docs

#2044 Use of PUBLIC_ environment variables
  .changeset/wise-months-serve.md
  packages/astro/src/core/build/index.ts
  packages/astro/test/astro-envs.test.js
  packages/astro/test/fixtures/astro-envs/src/components/Client.vue
  packages/astro/test/fixtures/astro-envs/src/pages/index.astro
  packages/astro/test/test-utils.js
Labels: test, core

#2038 Fix cached inline modules
  .changeset/little-carrots-sleep.md
  packages/astro/vendor/vite/dist/node/chunks/dep-35df7f96.js
Labels: core

#2034 fix(astro): prevent crash on unexpected file in pages
  .changeset/tame-hats-give.md
  packages/astro/src/core/ssr/routing.ts
  packages/astro/test/fixtures/route-manifest/invalid-extension/about.astro
  packages/astro/test/fixtures/route-manifest/invalid-extension/image.svg
  packages/astro/test/fixtures/route-manifest/invalid-extension/index.astro
  packages/astro/test/fixtures/route-manifest/invalid-extension/styles.css
  packages/astro/test/route-manifest.test.js
Labels: test, core

#2011 Fix style injection for partial HTML
  .changeset/warm-students-melt.md
  packages/astro/src/core/ssr/html.ts
  packages/astro/src/core/ssr/index.ts
  packages/astro/src/runtime/server/index.ts
  packages/astro/test/astro-partial-html.test.js
  packages/astro/test/fixtures/astro-partial-html/src/components/Component.css
  packages/astro/test/fixtures/astro-partial-html/src/components/Component.jsx
  packages/astro/test/fixtures/astro-partial-html/src/components/Layout.astro
  packages/astro/test/fixtures/astro-partial-html/src/pages/astro.astro
  packages/astro/test/fixtures/astro-partial-html/src/pages/jsx.astro
  packages/astro/test/test-utils.js
Labels: test, core

#2020 Fix resolve of scss/css-file in Starter Example
  examples/starter/src/pages/index.astro
Labels: example

#1983 Add italian to language selector
  docs/src/components/Header/LanguageSelect.tsx
Labels: docs

#2005 Docs: Update Japanese getting started page
  docs/src/pages/ja/getting-started.md
Labels: docs, i18n

#1985 docs: Update danish translation of getting-started
  docs/src/pages/da/getting-started.md
Labels: docs, i18n

#1856 Docs: Add Japanese Astro vs. X page
  docs/src/config.ts
  docs/src/pages/ja/comparing-astro-vs-other-tools.md
Labels: docs, i18n

#2041 Improve GitHub Actions
  .changeset/config.json
  .eslintignore
  .github/extract-artifacts.sh
  .github/workflows/ci.yml
  .github/workflows/congratsbot.yml
  .github/workflows/label.yml
  .github/workflows/main.yml
  .github/workflows/release.yml
  .github/workflows/stat.yml
  .github/workflows/updatelatest.yml
  package.json
  packages/astro-parser/src/parse/index.ts
  scripts/notify/index.js
  yarn.lock
Labels: 🚨 action

#2049 Fix Sass WASM crashes
  .changeset/honest-knives-bake.md
  packages/astro/src/vite-plugin-astro/index.ts
  packages/astro/test/fixtures/sass/src/pages/error.astro
  packages/astro/test/sass.test.js
Labels: test, core

#2050 fix(#2007): astro preview port retry
  .changeset/early-pandas-teach.md
  packages/astro/src/core/preview/index.ts
Labels: core

#2052 Fix Windows dev script proxying
  packages/astro/src/core/dev/index.ts
  packages/astro/src/core/ssr/css.ts
  packages/astro/src/core/ssr/index.ts
  packages/astro/src/core/util.ts
  packages/astro/test/fixtures/solid-component/src/pages/index.astro
  packages/astro/test/fixtures/svelte-component/src/pages/typescript.astro
  packages/astro/test/react-component.test.js
  packages/astro/test/solid-component.test.js
  packages/astro/test/svelte-component.test.js
  packages/astro/test/vue-component.test.js
Labels: test, core
