Repository withastro/astro, pull requests merged in 2021-12, with the labels that each got.

#2065 Enforce consistent import order of CSS
  .changeset/bright-ravens-remain.md
  packages/astro/src/vite-plugin-build-css/index.ts
  packages/astro/src/vite-plugin-build-html/index.ts
  packages/astro/test/astro-css-bundling-import.test.js
  packages/astro/test/fixtures/astro-css-bundling-import/src/layouts/BaseLayout.astro
  packages/astro/test/fixtures/astro-css-bundling-import/src/layouts/PageLayout.astro
  packages/astro/test/fixtures/astro-css-bundling-import/src/pages/page-1.astro
  packages/astro/test/fixtures/astro-css-bundling-import/src/pages/page-2.astro
  packages/astro/test/fixtures/astro-css-bundling-import/src/styles/page-one.css
  packages/astro/test/fixtures/astro-css-bundling-import/src/styles/page-two.css
  packages/astro/test/fixtures/astro-css-bundling-import/src/styles/site.css
Labels: test, core

#2070 Add migration guide for markdownOptions
  docs/src/pages/migration/0.21.0.md
Labels: docs

#2073 Prevent unknown keys in markdownOptions
  packages/astro/src/core/config.ts
  packages/astro/test/config-validate.test.js
Labels: test, core

#2075 Allow importing of rehype plugins
  .changeset/wise-icons-tell.md
  packages/astro/src/core/ssr/index.ts
  packages/astro/test/astro-markdown-plugins.test.js
Labels: test, core

#2064 Render void elements as self-closing tags
  .changeset/rare-jars-dance.md
  packages/astro/src/runtime/server/index.ts
  packages/astro/test/astro-basic.test.js
  packages/astro/test/fixtures/astro-basic/src/components/Input.astro
  packages/astro/test/fixtures/astro-basic/src/pages/input.astro
Labels: test, core

#2057 Upgrade compiler to 0.5.4
  packages/astro/package.json
  packages/astro/test/astro-css-bundling-import.test.js
  yarn.lock
Labels: test, core

#2076 Improving error messages for invalid client hydration directives
  .changeset/two-geckos-rhyme.md
  packages/astro/src/runtime/server/hydration.ts
  packages/astro/test/errors.test.js
  packages/astro/test/fixtures/errors/src/components/SvelteDirectiveError.svelte
  packages/astro/test/fixtures/errors/src/pages/astro-client-media-error.astro
  packages/astro/test/fixtures/errors/src/pages/astro-hydration-error.astro
Labels: test, core

#2077 Add external PR lint support
  .github/workflows/ci.yml
Labels: 🚨 action

#2086 Invalidate based on modulePath
  .changeset/dull-parents-speak.md
  packages/astro/vendor/vite/dist/node/chunks/dep-35df7f96.js
Labels: core

#2048 Makes Astro.resolve return root-relative paths
  .changeset/gorgeous-clocks-leave.md
  packages/astro/src/runtime/server/index.ts
  packages/astro/src/vite-plugin-astro/index.ts
  packages/astro/src/vite-plugin-build-html/index.ts
  packages/astro/src/vite-plugin-markdown/index.ts
Labels: core

#2080 [experiment] Netlify Ignore
  docs/netlify.toml
  www/netlify.toml
Labels: docs, www

#2081 Improve CSS import ordering, fix empty CSS outputs
  .changeset/clever-suits-hide.md
  packages/astro/src/vite-plugin-build-css/index.ts
  packages/astro/src/vite-plugin-build-html/index.ts
  packages/astro/test/astro-css-bundling-import.test.js
Labels: test, core

#2090 Add tests for assets using imports
  packages/astro/test/astro-assets.test.js
  packages/astro/test/fixtures/astro-assets/src/images/penguin1.jpg
  packages/astro/test/fixtures/astro-assets/src/images/penguin2.jpg
  packages/astro/test/fixtures/astro-assets/src/pages/index.astro
Labels: test, core

#2091 Allow special characters in filenames
  .changeset/proud-yaks-smile.md
  packages/astro/src/core/util.ts
  packages/astro/test/astro-basic.test.js
  packages/astro/test/fixtures/astro-basic/src/pages/special-“characters” -in-file.md
Labels: test, core

#1725 Docs: Add Themes page in Zh-TW
  docs/src/config.ts
  docs/src/pages/zh-TW/themes.astro
Labels: docs, i18n

#2088 Cleanup Actions
  .github/workflows/ci.yml
  .github/workflows/main.yml
  scripts/notify/index.js
Labels: 🚨 action

#2096 Update Astro dependencies
  .changeset/cold-teachers-deny.md
  packages/astro/package.json
  yarn.lock
Labels: core

#2107 Remove use of URL module in runtime
  .changeset/empty-oranges-provide.md
  packages/astro/src/runtime/server/index.ts
Labels: core

#2106 Fix support for ?url on CSS
  .changeset/gold-windows-sell.md
  packages/astro/test/0-css.test.js
  packages/astro/test/fixtures/0-css/src/pages/index.astro
  packages/astro/test/fixtures/0-css/src/styles/imported-url.css
  packages/astro/vendor/vite/dist/node/chunks/dep-35df7f96.js
Labels: test, core

#2084 Update styling.md
  docs/src/pages/guides/styling.md
Labels: docs

#2109 Make aliases work on windows
  .changeset/chilled-coins-wash.md
  packages/astro/src/vite-plugin-config-alias/index.ts
Labels: core

#2117 Update Compiler
  .changeset/thick-yaks-smile.md
  packages/astro/package.json
  yarn.lock
Labels: core

#2114 Fix a link syntax
  docs/src/pages/zh-CN/comparing-astro-vs-other-tools.md
Labels: docs, i18n

#2124 Parse --renderers flag correctly when passed to the create-astro cli
  .changeset/spicy-bats-search.md
  packages/create-astro/src/index.ts
Labels: create-astro

#2116 test(lit): add reflected property tests
  .changeset/weak-planets-think.md
  packages/astro/test/fixtures/lit-element/src/components/my-element.js
  packages/astro/test/fixtures/lit-element/src/pages/index.astro
  packages/astro/test/lit-element.test.js
Labels: test, core

#2135 Make `fetch` injection safe to existing code
  .changeset/wet-insects-dance.md
  packages/astro/package.json
  packages/astro/src/vite-plugin-fetch/index.ts
  packages/astro/test/fetch.test.js
  packages/astro/test/fixtures/fetch/src/components/AlreadyImported.astro
  packages/astro/test/fixtures/fetch/src/components/CustomDeclaration.astro
  packages/astro/test/fixtures/fetch/src/pages/index.astro
  yarn.lock
Labels: test, core

#2138 Skip flaky macOS Sass test
  packages/astro/test/sass.test.js
Labels: test, core

#2137 fix(#2129): exclude 404 from sitemap
  .changeset/angry-pillows-accept.md
  packages/astro/src/core/ssr/sitemap.ts
  packages/astro/test/astro-sitemap-rss.test.js
Labels: test, core

#2112 Fix build missing styles (affecting docs)
  .changeset/popular-roses-ring.md
  docs/src/config.ts
  docs/src/pages/es/guides/markdown-content.astro
  docs/src/pages/es/guides/pagination.astro
  docs/src/pages/es/guides/publish-to-npm.astro
  docs/src/pages/es/guides/styling.astro
  docs/src/pages/es/reference/renderer-reference.astro
  docs/src/pages/zh-TW/themes.astro
  netlify.toml
  packages/astro/src/core/ssr/css.ts
  packages/astro/src/core/ssr/index.ts
  packages/astro/src/core/util.ts
Labels: docs, i18n, core

#2120 Recreating recent changes to German docs as performed in #2093 but overwritten
  docs/src/config.ts
  docs/src/pages/de/comparing-astro-vs-other-tools.md
  docs/src/pages/de/core-concepts/astro-components.md
  docs/src/pages/de/core-concepts/astro-pages.md
  docs/src/pages/de/core-concepts/component-hydration.md
  docs/src/pages/de/core-concepts/layouts.md
  docs/src/pages/de/core-concepts/project-structure.md
  docs/src/pages/de/core-concepts/routing.md
  docs/src/pages/de/getting-started.md
  docs/src/pages/de/installation.md
  docs/src/pages/de/migration/0.21.0.md
  docs/src/pages/de/quick-start.md
Labels: docs, i18n

#2134 DOCS: Update "Publish to NPM"
  docs/src/pages/guides/publish-to-npm.md
Labels: docs

#2115 Validate Astro frontmatter JS/TS on compiler error
  .changeset/dirty-guests-wash.md
  packages/astro/src/vite-plugin-astro/index.ts
  packages/astro/test/errors.test.js
  packages/astro/test/fixtures/errors/src/pages/astro-frontmatter-syntax-error.astro
Labels: test, core

#2150 fix create-astro export map entry
  .changeset/purple-paws-shave.md
  packages/create-astro/package.json
Labels: create-astro

#2141 Added Qoddi inside the sponsor list
  packages/astro/README.md
Labels: core

#2156 Fix missing styles
  .changeset/ninety-actors-try.md
  packages/astro/src/core/ssr/css.ts
  packages/astro/src/vite-plugin-build-css/index.ts
  packages/astro/test/astro-css-bundling-import.test.js
  packages/astro/test/astro-css-bundling-nested-layouts.test.js
  packages/astro/test/fixtures/astro-css-bundling-nested-layouts/src/layouts/BaseLayout.astro
  packages/astro/test/fixtures/astro-css-bundling-nested-layouts/src/layouts/PageLayout.astro
  packages/astro/test/fixtures/astro-css-bundling-nested-layouts/src/pages/page-1.astro
  packages/astro/test/fixtures/astro-css-bundling-nested-layouts/src/pages/page-2.astro
  packages/astro/test/fixtures/astro-css-bundling-nested-layouts/src/styles/page-one.css
  packages/astro/test/fixtures/astro-css-bundling-nested-layouts/src/styles/page-two.css
  packages/astro/test/fixtures/astro-css-bundling-nested-layouts/src/styles/site.css
Labels: test, core

#2170 pin preact to 10.5 to resolve preact issue
  .changeset/curvy-crabs-pay.md
  packages/renderers/renderer-preact/package.json
  yarn.lock
Labels: framework-preact, renderer

#2167 Adopt turborepo
  .github/workflows/ci.yml
  .github/workflows/main.yml
  .gitignore
  CONTRIBUTING.md
  lerna.json
  package.json
  yarn.lock
Labels: 🚨 action

#2178 Improve turbo cache
  .github/workflows/ci.yml
Labels: 🚨 action

#2191 Migration Guide typo
  docs/src/pages/de/migration/0.21.0.md
  docs/src/pages/migration/0.21.0.md
Labels: docs, i18n

#2164 Update astro-components.md
  docs/src/pages/core-concepts/astro-components.md
Labels: docs

#2100 Fix Docs layout: Themes in Zh-tw
  docs/src/pages/zh-TW/themes.astro
Labels: docs, i18n

#2184 Update `turbo` cache
  .github/workflows/ci.yml
Labels: 🚨 action

#2085 Upgrade dependencies
  docs/package.json
  examples/docs/package.json
  package.json
  packages/astro-parser/package.json
  packages/astro/package.json
  packages/astro/src/core/ssr/rss.ts
  packages/astro/test/errors.test.js
  packages/astro/test/postcss.test.js
  packages/astro/test/test-utils.js
  packages/create-astro/package.json
  packages/create-astro/test/create-astro.test.js
  packages/create-astro/test/external.test.js
  packages/create-astro/test/helpers.js
  packages/create-astro/yarn.lock
  packages/renderers/renderer-svelte/package.json
  scripts/cmd/copy.js
  scripts/package.json
  yarn.lock
Labels: docs, test, framework-svelte, example, renderer, create-astro, core

#2173 Add a nightly lockfile regeneration CI job
  .github/workflows/nightly.yml
  .github/workflows/stat.yml
Labels: 🚨 action

#2166 Add missing licenses to published packages
  packages/astro-parser/package.json
  packages/astro-prism/package.json
  packages/astro/package.json
  packages/create-astro/package.json
  packages/markdown/remark/package.json
  packages/renderers/renderer-lit/package.json
  packages/renderers/renderer-preact/package.json
  packages/renderers/renderer-react/package.json
  packages/renderers/renderer-solid/package.json
  packages/renderers/renderer-svelte/package.json
  packages/renderers/renderer-vue/package.json
Labels: markdown, framework-svelte, framework-vue, framework-react, framework-preact, framework-solid, framework-lit, renderer, create-astro, core

#2087 Update dependencies (typescript)
  docs/package.json
  examples/docs/package.json
  package.json
  packages/markdown/remark/src/rehype-islands.ts
  packages/markdown/remark/src/remark-unwrap.ts
  yarn.lock
Labels: docs, markdown, example

#2181 Update astro-components.md
  docs/src/pages/core-concepts/astro-components.md
Labels: docs

#2172 Revert default RSS feed generated to rss.xml (0.21 changed to feed.xml)
  packages/astro/src/core/ssr/rss.ts
Labels: core

#2142 Replace invalid quote character with standard
  docs/src/pages/guides/rss.md
Labels: docs

#2174 improve our smoke tests to run on all examples
  .github/workflows/ci.yml
  package.json
  scripts/smoke/index.js
Labels: 🚨 action

#2194 Fix example path for init
  examples/with-vite-plugin-pwa/README.md
Labels: example

#2204 Update alias docs
  docs/src/pages/guides/aliases.md
Labels: docs

#2179 New translation for German docs Guides/Styling & CSS, updated config.js
  docs/src/config.ts
  docs/src/pages/de/guides/styling.md
Labels: docs, i18n

#2207 Update docs/de styling.md to correct minor spelling errors
  docs/src/pages/de/guides/styling.md
Labels: docs, i18n

#2209 chore: update tailwind to v3 and update the readme
  docs/src/pages/guides/styling.md
  examples/with-tailwindcss/package.json
  examples/with-tailwindcss/tailwind.config.js
Labels: docs, example

#2210 Update CI to cache `node_modules` per OS
  .github/workflows/ci.yml
Labels: 🚨 action

#2202 Support Node v14.15+
  .changeset/new-hats-design.md
  .github/ISSUE_TEMPLATE/---01-bug-report.yml
  .github/workflows/ci.yml
  CONTRIBUTING.md
  docs/src/pages/de/installation.md
  docs/src/pages/de/quick-start.md
  docs/src/pages/es/installation.md
  docs/src/pages/es/quick-start.md
  docs/src/pages/fi/installation.md
  docs/src/pages/fi/quick-start.md
  docs/src/pages/fr/installation.md
  docs/src/pages/fr/quick-start.md
  docs/src/pages/installation.md
  docs/src/pages/ja/installation.md
  docs/src/pages/ja/quick-start.md
  docs/src/pages/nl/quick-start.md
  docs/src/pages/quick-start.md
  docs/src/pages/ru/quick-start.md
  docs/src/pages/zh-CN/installation.md
  docs/src/pages/zh-CN/quick-start.md
  docs/src/pages/zh-TW/installation.md
  docs/src/pages/zh-TW/quick-start.md
  package.json
  packages/astro-parser/package.json
  packages/astro-parser/tsconfig.json
  packages/astro-prism/package.json
  packages/astro/astro.js
  packages/astro/package.json
  packages/astro/test/builtins.test.js
  packages/astro/tsconfig.json
  packages/create-astro/package.json
  packages/create-astro/tsconfig.json
  packages/markdown/remark/tsconfig.json
  packages/renderers/renderer-preact/package.json
  packages/renderers/renderer-react/package.json
  packages/renderers/renderer-solid/package.json
  packages/renderers/renderer-svelte/package.json
  packages/renderers/renderer-vue/package.json
  scripts/cmd/build.js
  yarn.lock
Labels: docs, test, markdown, framework-svelte, framework-vue, i18n, 🚨 action, framework-react, framework-preact, framework-solid, renderer, create-astro, core

#2203 Add Component Example
  examples/component/.gitignore
  examples/component/.npmrc
  examples/component/.stackblitzrc
  examples/component/README.md
  examples/component/astro.config.mjs
  examples/component/demo/package.json
  examples/component/demo/public/favicon.ico
  examples/component/demo/public/robots.txt
  examples/component/demo/src/pages/index.astro
  examples/component/package.json
  examples/component/packages/my-component/Button.astro
  examples/component/packages/my-component/Heading.astro
  examples/component/packages/my-component/README.md
  examples/component/packages/my-component/index.js
  examples/component/packages/my-component/package.json
  examples/component/sandbox.config.json
  package.json
Labels: example

#2218 Bump `@astropub/webapi`
  packages/astro/package.json
  packages/astro/src/core/build/index.ts
  packages/astro/src/core/dev/index.ts
  yarn.lock
Labels: core

#2233 Fix minor typo in styling docs
  docs/src/pages/guides/styling.md
Labels: docs

#2236 Update index.js
  packages/renderers/renderer-svelte/index.js
Labels: framework-svelte, renderer

#2168 Flagged static (performance optimized) build
  examples/fast-build/astro.config.mjs
  examples/fast-build/package.json
  examples/fast-build/src/components/Greeting.vue
  examples/fast-build/src/images/penguin.jpg
  examples/fast-build/src/images/random.jpg
  examples/fast-build/src/pages/index.astro
  examples/fast-build/src/styles/global.css
  packages/astro/package.json
  packages/astro/src/@types/astro.ts
  packages/astro/src/cli/index.ts
  packages/astro/src/core/build/index.ts
  packages/astro/src/core/build/internal.ts
  packages/astro/src/core/build/page-data.ts
  packages/astro/src/core/build/scan-based-build.ts
  packages/astro/src/core/build/static-build.ts
  packages/astro/src/core/config.ts
  packages/astro/src/core/ssr/index.ts
  packages/astro/src/runtime/server/index.ts
  packages/astro/src/vite-plugin-astro/compile.ts
  packages/astro/src/vite-plugin-astro/index.ts
  packages/astro/src/vite-plugin-astro/query.ts
  packages/astro/src/vite-plugin-build-css/index.ts
  packages/astro/src/vite-plugin-build-html/index.ts
  packages/astro/test/preact-component.test.js
  packages/astro/test/react-component.test.js
  packages/astro/test/solid-component.test.js
  packages/astro/test/svelte-component.test.js
  packages/astro/test/test-utils.js
  packages/astro/test/vue-component.test.js
  yarn.lock
Labels: test, example, core

#2232 Improve wording in documentation for `client:*` directives
  docs/src/pages/core-concepts/component-hydration.md
Labels: docs

#2222 Add AlpineJS example
  examples/framework-alpine/.gitignore
  examples/framework-alpine/.npmrc
  examples/framework-alpine/.stackblitzrc
  examples/framework-alpine/README.md
  examples/framework-alpine/astro.config.mjs
  examples/framework-alpine/package.json
  examples/framework-alpine/public/favicon.ico
  examples/framework-alpine/sandbox.config.json
  examples/framework-alpine/src/components/Counter.astro
  examples/framework-alpine/src/pages/index.astro
  examples/framework-alpine/tsconfig.json
Labels: example

#2240 [ci] update lockfile
  .changeset/heavy-pianos-obey.md
  packages/astro/package.json
  yarn.lock
Labels: core

#2246 Run Prettier
  docs/src/pages/core-concepts/component-hydration.md
  examples/fast-build/astro.config.mjs
Labels: docs, example

#2239 Update Configuration Reference documentation
  docs/src/pages/reference/configuration-reference.md
Labels: docs

#2249 bump webapi
  packages/astro/package.json
  yarn.lock
Labels: core

#2245 Improve CLI & CLI Testing
  packages/astro/src/cli/index.ts
  packages/astro/src/core/dev/index.ts
  packages/astro/src/core/preview/index.ts
  packages/astro/test/cli.test.js
  packages/astro/test/config.test.js
  packages/astro/test/fixtures/config-path/config/my-config.mjs
  packages/astro/test/test-utils.js
Labels: test, core

#2250 Cleanup tests with leftover console logs
  packages/astro/test/astro-css-bundling-nested-layouts.test.js
  packages/astro/test/astro-dynamic.test.js
  packages/astro/test/errors.test.js
  packages/astro/test/svelte-component.test.js
  packages/create-astro/test/create-astro.test.js
Labels: test, create-astro, core

#2258 Fixes includes remote @imports in inline styles
  .changeset/calm-crabs-rush.md
  packages/astro/src/vite-plugin-build-css/index.ts
  packages/astro/src/vite-plugin-build-html/index.ts
  packages/astro/test/fixtures/remote-css/src/components/CommonHead.astro
  packages/astro/test/fixtures/remote-css/src/pages/index.astro
  packages/astro/test/remote-css.test.js
Labels: test, core

#2261 Fix formatting issues caused by release
  packages/astro/CHANGELOG.md
  packages/astro/test/builtins.test.js
  packages/markdown/remark/CHANGELOG.md
Labels: test, markdown, core

#2263 bump webapi
  packages/astro/package.json
  yarn.lock
Labels: core

#2262 Don't run dev mode tests on windows
  packages/astro/test/errors.test.js
  packages/astro/test/react-component.test.js
  packages/astro/test/solid-component.test.js
  packages/astro/test/svelte-component.test.js
  packages/astro/test/test-utils.js
  packages/astro/test/vue-component.test.js
Labels: test, core

#2278 Adjust TSConfig example files to include compilerOptions
  examples/blog-multiple-authors/tsconfig.json
  examples/blog/tsconfig.json
  examples/framework-alpine/tsconfig.json
  examples/framework-lit/tsconfig.json
  examples/framework-multiple/tsconfig.json
  examples/framework-preact/tsconfig.json
  examples/framework-react/tsconfig.json
  examples/framework-svelte/tsconfig.json
  examples/framework-vue/tsconfig.json
  examples/portfolio-svelte/tsconfig.json
  examples/portfolio/tsconfig.json
  examples/starter/tsconfig.json
  examples/with-markdown-plugins/tsconfig.json
  examples/with-markdown/tsconfig.json
  examples/with-nanostores/tsconfig.json
  examples/with-tailwindcss/tsconfig.json
Labels: example

#2260 Implement hydrated components in the static build
  examples/fast-build/package.json
  examples/fast-build/src/components/Counter.vue
  examples/fast-build/src/pages/[pokemon].astro
  examples/fast-build/src/pages/index.astro
  packages/astro/package.json
  packages/astro/src/@types/astro.ts
  packages/astro/src/core/build/internal.ts
  packages/astro/src/core/build/static-build.ts
  packages/astro/src/core/ssr/index.ts
  packages/astro/src/core/ssr/result.ts
  packages/astro/src/runtime/server/hydration.ts
  packages/astro/src/runtime/server/index.ts
  packages/astro/src/runtime/server/metadata.ts
  packages/astro/src/runtime/server/util.ts
  packages/astro/src/vite-plugin-astro/compile.ts
  packages/astro/src/vite-plugin-build-html/index.ts
  packages/astro/src/vite-plugin-markdown/index.ts
  packages/astro/test/astro-client-only.test.js
  yarn.lock
Labels: test, example, core

#2290 Don't overwrite the stack when using verbose logging
  .changeset/soft-frogs-tap.md
  packages/astro/src/core/create-vite.ts
  packages/astro/src/vite-plugin-astro/index.ts
Labels: core

#2292 Revert "Implement hydrated components in the static build (#2260)"
  .changeset/ninety-zoos-search.md
  examples/fast-build/package.json
  examples/fast-build/src/components/Counter.vue
  examples/fast-build/src/pages/[pokemon].astro
  examples/fast-build/src/pages/index.astro
  packages/astro/package.json
  packages/astro/src/@types/astro.ts
  packages/astro/src/core/build/internal.ts
  packages/astro/src/core/build/static-build.ts
  packages/astro/src/core/ssr/index.ts
  packages/astro/src/core/ssr/result.ts
  packages/astro/src/runtime/server/hydration.ts
  packages/astro/src/runtime/server/index.ts
  packages/astro/src/runtime/server/metadata.ts
  packages/astro/src/runtime/server/util.ts
  packages/astro/src/vite-plugin-astro/compile.ts
  packages/astro/src/vite-plugin-build-html/index.ts
  packages/astro/src/vite-plugin-markdown/index.ts
  packages/astro/test/astro-client-only.test.js
  yarn.lock
Labels: test, example, core
