Repository withastro/astro, pull requests merged in 2022-09, with the labels that each got.

#4588 [MDX] Fix: GFM and Smartypants missing by default
  .changeset/weak-emus-confess.md
  packages/integrations/mdx/src/utils.ts
  packages/integrations/mdx/test/mdx-plugins.test.js
Labels: integration

#4586 Move ast-types as dev dependency
  .changeset/loud-berries-sit.md
  packages/astro/package.json
  pnpm-lock.yaml
Labels: core

#4593 Fix: [@astrojs/image] handle filenames with spaces
  .changeset/twelve-singers-accept.md
  packages/integrations/image/src/vite-plugin-astro-image.ts
  packages/integrations/image/test/fixtures/basic-image/src/assets/blog/introducing astro.jpg
  packages/integrations/image/test/fixtures/basic-image/src/pages/index.astro
  packages/integrations/image/test/image-ssg.test.js
  packages/integrations/image/test/image-ssr-build.test.js
  packages/integrations/image/test/image-ssr-dev.test.js
Labels: integration

#4511 feat(image): throw if alt text is missing
  .changeset/polite-pears-hope.md
  packages/integrations/image/README.md
  packages/integrations/image/components/Image.astro
  packages/integrations/image/components/Picture.astro
  packages/integrations/image/components/index.ts
  packages/integrations/image/test/fixtures/basic-image/src/pages/index.astro
  packages/integrations/image/test/fixtures/no-alt-text-image/astro.config.mjs
  packages/integrations/image/test/fixtures/no-alt-text-image/package.json
  packages/integrations/image/test/fixtures/no-alt-text-image/public/favicon.ico
  packages/integrations/image/test/fixtures/no-alt-text-image/server/server.mjs
  packages/integrations/image/test/fixtures/no-alt-text-image/src/assets/social.jpg
  packages/integrations/image/test/fixtures/no-alt-text-image/src/pages/index.astro
  packages/integrations/image/test/fixtures/no-alt-text-picture/astro.config.mjs
  packages/integrations/image/test/fixtures/no-alt-text-picture/package.json
  packages/integrations/image/test/fixtures/no-alt-text-picture/public/favicon.ico
  packages/integrations/image/test/fixtures/no-alt-text-picture/server/server.mjs
  packages/integrations/image/test/fixtures/no-alt-text-picture/src/assets/social.jpg
  packages/integrations/image/test/fixtures/no-alt-text-picture/src/pages/index.astro
  packages/integrations/image/test/fixtures/rotation/src/pages/index.astro
  packages/integrations/image/test/fixtures/with-mdx/src/pages/index.mdx
  packages/integrations/image/test/no-alt-text-image-ssg.test.js
  packages/integrations/image/test/no-alt-text-image-ssr.test.js
  packages/integrations/image/test/no-alt-text-picture-ssg.test.js
  packages/integrations/image/test/no-alt-text-picture-ssr.test.js
  pnpm-lock.yaml
Labels: integration

#4585 Small polish to the "missing adapter" error message
  .changeset/thick-guests-sell.md
  packages/astro/src/core/build/static-build.ts
Labels: core

#4592 Fix client:only when used with JSX
  packages/astro/src/core/build/internal.ts
  packages/astro/src/core/path.ts
  packages/astro/test/astro-client-only.test.js
  packages/astro/test/fixtures/astro-client-only/src/components/UsingCSSModules.jsx
  packages/astro/test/fixtures/astro-client-only/src/components/styles.module.scss
  packages/astro/test/fixtures/astro-client-only/src/pages/css-modules.astro
Labels: core

#4599 Fix image integration README
  packages/integrations/image/README.md
Labels: integration

#4603 Provide a better error message when no jsx renderer configured
  .changeset/tough-zoos-bathe.md
  packages/astro/src/vite-plugin-jsx/index.ts
Labels: core

#4577 Blog template changes
  examples/blog/src/layouts/BlogPost.astro
  examples/blog/src/pages/blog.astro
  examples/blog/src/pages/index.astro
  examples/ssr/src/pages/cart.astro
  examples/ssr/src/pages/index.astro
  examples/ssr/src/pages/login.astro
Labels: example

#4611 Typo in alpinejs integration README.md
  packages/integrations/alpinejs/README.md
Labels: integration

#4612 Add deploy guides links to integrations READMEs
  packages/integrations/cloudflare/README.md
  packages/integrations/deno/README.md
  packages/integrations/netlify/README.md
  packages/integrations/vercel/README.md
Labels: integration

#4584 Correctly escape paths in file names
  .changeset/slimy-fireants-carry.md
  packages/astro/src/core/build/vite-plugin-analyzer.ts
  packages/astro/src/jsx/babel.ts
  packages/astro/src/runtime/server/hydration.ts
  packages/astro/test/fixtures/special-chars-in-component-imports/src/pages/index.astro
  packages/astro/test/fixtures/special-chars-in-component-imports/src/pages/mdx.mdx
  packages/astro/test/special-chars-in-component-imports.test.js
Labels: core

#4622 Fix AlpineJS homepage link
  .changeset/three-owls-help.md
  packages/integrations/alpinejs/package.json
Labels: integration

#4621 fix: ensure SSR module is loaded before testing is CSS
  .changeset/smooth-hats-smell.md
  packages/astro/src/core/render/dev/css.ts
Labels: core

#4605 nit: create-astro unused variable
  packages/create-astro/src/index.ts
Labels: create-astro

#4607 fix: add unique key to elements in map
  examples/docs/src/components/Header/LanguageSelect.tsx
Labels: example

#4595 [docs] update adapter READMESs to include astro add
  packages/integrations/cloudflare/README.md
  packages/integrations/deno/README.md
  packages/integrations/netlify/README.md
  packages/integrations/node/README.md
  packages/integrations/vercel/README.md
Labels: integration

#4626 Parallelize @astrojs/image transforms
  .changeset/rich-dolphins-teach.md
  packages/integrations/image/package.json
  packages/integrations/image/src/build/ssg.ts
  pnpm-lock.yaml
Labels: integration

#4606 Remove subpath and env-vars examples
  examples/env-vars/.env
  examples/env-vars/.gitignore
  examples/env-vars/.npmrc
  examples/env-vars/.stackblitzrc
  examples/env-vars/.vscode/extensions.json
  examples/env-vars/.vscode/launch.json
  examples/env-vars/README.md
  examples/env-vars/astro.config.mjs
  examples/env-vars/package.json
  examples/env-vars/public/favicon.svg
  examples/env-vars/sandbox.config.json
  examples/env-vars/src/env.d.ts
  examples/env-vars/src/pages/index.astro
  examples/env-vars/src/scripts/client.ts
  examples/env-vars/tsconfig.json
  examples/subpath/.gitignore
  examples/subpath/.npmrc
  examples/subpath/.stackblitzrc
  examples/subpath/README.md
  examples/subpath/astro.config.mjs
  examples/subpath/package.json
  examples/subpath/public/favicon.svg
  examples/subpath/public/images/penguin.png
  examples/subpath/sandbox.config.json
  examples/subpath/src/components/Time.jsx
  examples/subpath/src/env.d.ts
  examples/subpath/src/pages/index.astro
  examples/subpath/src/styles/main.css
  examples/subpath/tsconfig.json
Labels: example

#4623 Improve third-party Astro package support
  .changeset/fifty-avocados-lay.md
  packages/astro/src/core/create-vite.ts
  packages/astro/test/fixtures/third-party-astro/astro.config.mjs
  packages/astro/test/fixtures/third-party-astro/package.json
  packages/astro/test/fixtures/third-party-astro/src/pages/astro-embed.astro
  packages/astro/test/third-party-astro.test.js
  pnpm-lock.yaml
Labels: core

#4643 When removing duplicate CSS, also remove from metadata
  .changeset/seven-zoos-lie.md
  packages/astro/src/core/build/vite-plugin-css.ts
  packages/astro/test/0-css.test.js
  packages/astro/test/fixtures/0-css/src/components/ReactDynamic.jsx
  packages/astro/test/fixtures/0-css/src/components/ReactLazy.jsx
  packages/astro/test/fixtures/0-css/src/components/ReactLazy.module.css
  packages/astro/test/test-utils.js
Labels: core

#4653 Integrations: Fix NPM instructions to use `npx astro add` again
  packages/integrations/alpinejs/README.md
  packages/integrations/image/README.md
  packages/integrations/lit/README.md
  packages/integrations/mdx/README.md
  packages/integrations/partytown/README.md
  packages/integrations/preact/README.md
  packages/integrations/prefetch/README.md
  packages/integrations/react/README.md
  packages/integrations/sitemap/README.md
  packages/integrations/solid/README.md
  packages/integrations/svelte/README.md
  packages/integrations/tailwind/README.md
  packages/integrations/turbolinks/README.md
  packages/integrations/vue/README.md
Labels: framework-svelte, framework-vue, framework-react, framework-preact, framework-solid, framework-lit, integration

#4656 Upgrade minimum compiler version
  .changeset/nice-cameras-hug.md
  packages/astro/package.json
  pnpm-lock.yaml
Labels: core

#4659 fixes an eslint error
  packages/astro/src/core/create-vite.ts
Labels: core

#4646 Throw helpful errors when attempting to serialize cyclic references
  .changeset/giant-beds-beam.md
  packages/astro/e2e/error-cyclic.test.js
  packages/astro/e2e/fixtures/error-cyclic/astro.config.mjs
  packages/astro/e2e/fixtures/error-cyclic/package.json
  packages/astro/e2e/fixtures/error-cyclic/src/components/PreactCounter.tsx
  packages/astro/e2e/fixtures/error-cyclic/src/pages/index.astro
  packages/astro/src/runtime/server/hydration.ts
  packages/astro/src/runtime/server/render/component.ts
  packages/astro/src/runtime/server/serialize.ts
  packages/astro/src/vite-plugin-astro-server/index.ts
  pnpm-lock.yaml
Labels: core

#4515 Automatically set up Preact DevTools in dev mode
  .changeset/brown-berries-eat.md
  packages/integrations/preact/client-dev.js
  packages/integrations/preact/package.json
  packages/integrations/preact/src/index.ts
Labels: framework-preact, integration

#4403 fix: exportName metadata for JSXMemberExpressions that use named imports
  .changeset/soft-icons-travel.md
  packages/astro/e2e/fixtures/namespaced-component/astro.config.mjs
  packages/astro/e2e/fixtures/namespaced-component/package.json
  packages/astro/e2e/fixtures/namespaced-component/src/pages/index.astro
  packages/astro/e2e/fixtures/namespaced-component/src/pages/mdx.mdx
  packages/astro/e2e/namespaced-component.test.js
  packages/astro/src/jsx/babel.ts
  pnpm-lock.yaml
Labels: core

#4664 Docs Typo fixes
  packages/integrations/vercel/README.md
Labels: integration

#4540 Update and simplify the component template
  examples/component/.gitignore
  examples/component/.npmrc
  examples/component/.stackblitzrc
  examples/component/README.md
  examples/component/demo/astro.config.mjs
  examples/component/demo/package.json
  examples/component/demo/public/favicon.svg
  examples/component/demo/src/pages/index.astro
  examples/component/index.ts
  examples/component/package.json
  examples/component/packages/my-component/Button.astro
  examples/component/packages/my-component/Heading.astro
  examples/component/packages/my-component/README.md
  examples/component/packages/my-component/index.js
  examples/component/packages/my-component/package.json
  examples/component/pnpm-workspace.yaml
  examples/component/sandbox.config.json
  examples/component/src/MyComponent.astro
  examples/component/tsconfig.json
  pnpm-lock.yaml
Labels: example

#4667 Fix component frameworks on Vercel Edge
  .changeset/tasty-owls-watch.md
  packages/astro/src/runtime/server/render/page.ts
  packages/integrations/react/server.js
Labels: framework-react, integration, core

#4679 Make React integration work with Deno
  .changeset/orange-llamas-play.md
  package.json
  packages/integrations/react/server.js
Labels: framework-react, integration

#4678 [@astrojs/image] Build all optimized images to dist/assets
  .changeset/proud-gifts-explain.md
  packages/integrations/image/src/build/ssg.ts
  packages/integrations/image/src/index.ts
  packages/integrations/image/src/loaders/sharp.ts
  packages/integrations/image/test/image-ssg.test.js
  packages/integrations/image/test/picture-ssg.test.js
  packages/integrations/image/test/rotation.test.js
  packages/integrations/image/test/with-mdx.test.js
Labels: integration

#4683 Fix TypeScript compilation errors
  .changeset/ninety-donuts-hunt.md
  packages/astro/package.json
  packages/astro/src/@types/astro.ts
  pnpm-lock.yaml
Labels: core

#4684 Improve cyclic reference detection, now ignores non-cyclic shared references
  .changeset/lovely-clocks-tease.md
  packages/astro/src/runtime/server/serialize.ts
  packages/astro/test/serialize.test.js
Labels: core

#4666 Remove devDependency flag from `astro add`
  packages/astro/src/core/add/index.ts
Labels: core

#4688 docs: correct mistake in `@astrojs/node` integration
  packages/integrations/node/README.md
Labels: integration

#4675 Prevent locking up when encountering invalid CSS
  .changeset/eleven-goats-confess.md
  packages/astro/package.json
  packages/astro/src/core/compile/compile.ts
  packages/astro/src/core/compile/index.ts
  packages/astro/src/core/compile/style.ts
  packages/astro/src/core/compile/types.ts
  packages/astro/src/core/util.ts
  packages/astro/src/vite-plugin-astro/hmr.ts
  packages/astro/src/vite-plugin-astro/index.ts
  packages/astro/src/vite-plugin-markdown-legacy/index.ts
  packages/astro/src/vite-style-transform/index.ts
  packages/astro/src/vite-style-transform/style-transform.ts
  packages/astro/src/vite-style-transform/transform-with-vite.ts
  packages/astro/test/units/compile/invalid-css.test.js
  pnpm-lock.yaml
Labels: core

#4645 Fix: Windows client-side script reloads on dev server
  .changeset/two-cherries-drop.md
  packages/astro/e2e/astro-component.test.js
  packages/astro/e2e/fixtures/astro-component/src/pages/index.astro
  packages/astro/src/core/util.ts
  packages/astro/src/vite-plugin-astro/index.ts
Labels: core

#4578 No 👏 more 👏 server 👏 restarts 👏 on 👏 config 👏 changes
  .changeset/tricky-cows-travel.md
  packages/astro/package.json
  packages/astro/src/cli/index.ts
  packages/astro/src/core/add/index.ts
  packages/astro/src/core/config.ts
  packages/astro/src/core/dev/index.ts
  packages/astro/src/core/messages.ts
  packages/astro/src/vite-plugin-astro/hmr.ts
  packages/integrations/alpinejs/README.md
  packages/integrations/image/README.md
  packages/integrations/lit/README.md
  packages/integrations/mdx/README.md
  packages/integrations/partytown/README.md
  packages/integrations/preact/README.md
  packages/integrations/prefetch/README.md
  packages/integrations/react/README.md
  packages/integrations/sitemap/README.md
  packages/integrations/solid/README.md
  packages/integrations/svelte/README.md
  packages/integrations/tailwind/README.md
  packages/integrations/turbolinks/README.md
  packages/integrations/vue/README.md
  pnpm-lock.yaml
Labels: framework-svelte, framework-vue, framework-react, framework-preact, framework-solid, framework-lit, integration, core, semver minor

#4549 Add support for custom non-html route encoding
  .changeset/stale-camels-invent.md
  packages/astro/src/@types/astro.ts
  packages/astro/src/core/build/generate.ts
  packages/astro/src/core/endpoint/index.ts
  packages/astro/test/fixtures/non-html-pages/package.json
  packages/astro/test/fixtures/non-html-pages/src/images/placeholder.png
  packages/astro/test/fixtures/non-html-pages/src/pages/about.json.ts
  packages/astro/test/fixtures/non-html-pages/src/pages/placeholder.png.ts
  packages/astro/test/non-html-pages.test.js
  packages/astro/test/test-utils.js
  pnpm-lock.yaml
Labels: core, semver minor

#4694 docs: add section on .mdx file support in VS Code
  packages/integrations/mdx/README.md
Labels: integration

#4697 Fix theme.css location in docs starter project
  examples/docs/README.md
Labels: example

#4699 Fix client:only CSS missing from child packages
  .changeset/orange-clocks-exist.md
  packages/astro/src/core/build/vite-plugin-analyzer.ts
  packages/astro/test/astro-client-only.test.js
  packages/astro/test/fixtures/astro-client-only/package.json
  packages/astro/test/fixtures/astro-client-only/pkg/index.svelte
  packages/astro/test/fixtures/astro-client-only/pkg/package.json
  packages/astro/test/fixtures/astro-client-only/src/pages/pkg.astro
  pnpm-lock.yaml
Labels: core

#4438 [@astrojs/image] support additional resize options
  .changeset/breezy-flowers-pay.md
  packages/integrations/image/README.md
  packages/integrations/image/components/Picture.astro
  packages/integrations/image/src/lib/get-picture.ts
  packages/integrations/image/src/loaders/index.ts
  packages/integrations/image/src/loaders/sharp.ts
  packages/integrations/image/test/sharp.test.js
Labels: integration

#4703 Fix `[astro add]` fetch failure
  .changeset/mean-dingos-juggle.md
  packages/astro/src/core/add/index.ts
Labels: core

#4706 Fix: Vue `script setup` with other renderers applied
  .changeset/green-pillows-hammer.md
  packages/astro/test/fixtures/vue-with-multi-renderer/astro.config.mjs
  packages/astro/test/fixtures/vue-with-multi-renderer/package.json
  packages/astro/test/fixtures/vue-with-multi-renderer/src/components/Counter.vue
  packages/astro/test/fixtures/vue-with-multi-renderer/src/components/CounterWithScriptSetup.vue
  packages/astro/test/fixtures/vue-with-multi-renderer/src/pages/index.astro
  packages/astro/test/vue-with-multi-renderer.test.js
  packages/integrations/vue/server.js
  pnpm-lock.yaml
Labels: framework-vue, integration, core

#4720 Fix typo in render/head.ts
  packages/astro/src/runtime/server/render/head.ts
Labels: core

#4705 Add an error message for improperly configured renderers
  .changeset/fuzzy-rats-remain.md
  packages/astro/src/integrations/index.ts
Labels: core

#4723 Make error handling more resilient in the dev server
  .changeset/orange-cycles-serve.md
  packages/astro/src/core/errors.ts
  packages/astro/src/vite-plugin-astro-server/index.ts
  packages/astro/test/error-bad-js.test.js
  packages/astro/test/fixtures/error-bad-js/astro.config.mjs
  packages/astro/test/fixtures/error-bad-js/package.json
  packages/astro/test/fixtures/error-bad-js/src/env.d.ts
  packages/astro/test/fixtures/error-bad-js/src/pages/index.astro
  packages/astro/test/fixtures/error-bad-js/src/something.js
  pnpm-lock.yaml
Labels: core

#4713 [vercel] Use Edge Functions instead of Edge Middlewares
  .changeset/polite-beds-happen.md
  packages/integrations/vercel/src/edge/adapter.ts
Labels: integration

#4724 Use import order to sort CSS in prod
  .changeset/many-tables-brush.md
  packages/astro/src/core/build/graph.ts
  packages/astro/src/core/build/internal.ts
  packages/astro/src/core/build/types.ts
  packages/astro/src/core/build/vite-plugin-css.ts
  packages/astro/test/css-order.test.js
  packages/astro/test/fixtures/css-order/astro.config.mjs
  packages/astro/test/fixtures/css-order/src/pages/three.astro
  packages/astro/test/fixtures/css-order/src/styles/base.css
Labels: core

#4483 Add a new preview release action
  .github/workflows/release.yml
  .github/workflows/snapshot-release.yml
Labels: 🚨 action

#4722 Fix route validation for Netlify Edge
  .changeset/dull-flowers-prove.md
  packages/integrations/netlify/src/integration-edge-functions.ts
Labels: integration

#4647 Template (Blog): fix `HeaderLink` `isActive` check
  examples/blog/src/components/HeaderLink.astro
Labels: example

#4662 Migrate examples to `type: module`
  .changeset/three-humans-promise.md
  examples/basics/package.json
  examples/blog/package.json
  examples/component/demo/astro.config.mjs
  examples/docs/package.json
  examples/framework-alpine/package.json
  examples/framework-lit/package.json
  examples/framework-multiple/package.json
  examples/framework-preact/package.json
  examples/framework-react/package.json
  examples/framework-solid/package.json
  examples/framework-svelte/package.json
  examples/framework-vue/package.json
  examples/minimal/package.json
  examples/non-html-pages/package.json
  examples/portfolio/package.json
  examples/ssr/package.json
  examples/with-markdown-plugins/package.json
  examples/with-markdown-shiki/package.json
  examples/with-mdx/package.json
  examples/with-nanostores/package.json
  examples/with-tailwindcss/package.json
  examples/with-vite-plugin-pwa/package.json
  examples/with-vitest/package.json
  packages/integrations/tailwind/README.md
Labels: example, integration

#4744 Updating snapshot-release.yml GitHub Action
  .github/workflows/snapshot-release.yml
Labels: 🚨 action

#4745 fix: typo in snapshot ref checkout
  .github/workflows/snapshot-release.yml
Labels: 🚨 action

#4746 Enabling the publish step for snapshot releases
  .github/workflows/snapshot-release.yml
Labels: 🚨 action

#4739 Delete examples/component/demo directory
  examples/component/demo/astro.config.mjs
Labels: example

#4747 Capture stderr in snapshot-release github action
  .github/workflows/snapshot-release.yml
Labels: 🚨 action

#4742 Properly handle multipart file uploads in the dev server
  .changeset/polite-melons-pump.md
  packages/astro/src/vite-plugin-astro-server/index.ts
  packages/astro/test/api-routes.test.js
  packages/astro/test/fixtures/api-routes/package.json
  packages/astro/test/fixtures/ssr-api-route/src/images/penguin.jpg
  packages/astro/test/fixtures/ssr-api-route/src/pages/binary.js
  packages/astro/test/ssr-api-route.test.js
  packages/astro/test/test-utils.js
Labels: core

#4736 Handle builds with outDir outside of cwd
  .changeset/kind-rats-lay.md
  packages/astro/src/core/build/common.ts
  packages/astro/src/core/build/generate.ts
  packages/astro/src/core/build/static-build.ts
Labels: core

#4748 Fix console.error filtering
  .changeset/nice-peaches-swim.md
  packages/astro/src/runtime/server/jsx.ts
Labels: core

#4752 Support Vite 3.1
  .changeset/shaggy-books-give.md
  packages/astro/src/vite-plugin-astro/index.ts
  packages/astro/src/vite-style-transform/style-transform.ts
  packages/astro/src/vite-style-transform/transform-with-vite.ts
Labels: core

#4755 Compatiblity between hoisted scripts and tailwind integration
  .changeset/spotty-ways-cry.md
  packages/astro/package.json
  packages/astro/test/astro-scripts.test.js
  packages/astro/test/fixtures/astro-scripts/astro.config.mjs
  packages/astro/test/fixtures/astro-scripts/package.json
  packages/astro/test/fixtures/astro-scripts/src/pages/inline-in-page.astro
  pnpm-lock.yaml
Labels: core

#4543 Update peer dep with Tailwindcss
  .changeset/leaders-of-the-free-world.md
  packages/integrations/tailwind/package.json
  pnpm-lock.yaml
Labels: integration

#4756 Only pass through children prop if there are children
  .changeset/spotty-berries-grow.md
  packages/astro/test/fixtures/react-component/src/components/CloneElement.jsx
  packages/astro/test/fixtures/react-component/src/pages/index.astro
  packages/astro/test/react-component.test.js
  packages/integrations/react/server.js
Labels: framework-react, integration, core

#4594 Allow custom 404 route to handle API route missing methods
  .changeset/twelve-days-build.md
  packages/astro/src/core/app/index.ts
  packages/astro/src/runtime/server/endpoint.ts
  packages/astro/src/vite-plugin-astro-server/index.ts
  packages/astro/test/dev-routing.test.js
  packages/astro/test/fixtures/ssr-api-route-custom-404/src/pages/api/route.js
  packages/astro/test/ssr-404-500-pages.test.js
Labels: core

#4758 Tailwind v2 docs
  .changeset/swift-trees-double.md
  packages/integrations/tailwind/CHANGELOG.md
  packages/integrations/tailwind/README.md
Labels: integration

#4759 Read jsxImportSource from tsconfig
  .changeset/tricky-cats-drop.md
  packages/astro/src/@types/astro.ts
  packages/astro/src/core/config.ts
  packages/astro/src/vite-plugin-config-alias/index.ts
  packages/astro/src/vite-plugin-jsx/index.ts
  packages/astro/test/fixtures/react-and-solid/astro.config.mjs
  packages/astro/test/fixtures/react-and-solid/package.json
  packages/astro/test/fixtures/react-and-solid/src/components/ExampleReact.tsx
  packages/astro/test/fixtures/react-and-solid/src/components/ExampleSolid.tsx
  packages/astro/test/fixtures/react-and-solid/src/pages/index.astro
  packages/astro/test/fixtures/react-and-solid/tsconfig.json
  packages/astro/test/react-and-solid.test.js
  pnpm-lock.yaml
Labels: core

#4768 Ensure before-hydration is only loaded when used
  .changeset/fluffy-eyes-boil.md
  packages/astro/src/core/app/index.ts
  packages/astro/src/core/build/generate.ts
  packages/astro/src/core/build/vite-plugin-ssr.ts
  packages/astro/src/runtime/server/astro-island.ts
  packages/astro/src/runtime/server/hydration.ts
  packages/astro/test/before-hydration.test.js
  packages/astro/test/fixtures/before-hydration/astro.config.mjs
  packages/astro/test/fixtures/before-hydration/deps.mjs
  packages/astro/test/fixtures/before-hydration/package.json
  packages/astro/test/fixtures/before-hydration/src/components/SomeComponent.jsx
  packages/astro/test/fixtures/before-hydration/src/pages/index.astro
  packages/astro/test/fixtures/before-hydration/src/scripts/global.js
  pnpm-lock.yaml
Labels: core

#4764 Fix typo in portfolio example
  examples/portfolio/src/pages/index.astro
Labels: example

#4772 Adds a new "astro:build:generated" hook for SSG builds
  .changeset/four-eggs-compare.md
  packages/astro/src/@types/astro.ts
  packages/astro/src/core/build/generate.ts
  packages/astro/src/integrations/index.ts
  packages/astro/test/static-build-dir.test.js
Labels: core, semver minor

#4774 Revert "Adds a new "astro:build:generated" hook for SSG builds (#4772)"
  .changeset/four-eggs-compare.md
  packages/astro/src/@types/astro.ts
  packages/astro/src/core/build/generate.ts
  packages/astro/src/integrations/index.ts
  packages/astro/test/static-build-dir.test.js
Labels: core

#4771 Refactor to remove AstroConfig['_ctx']
  .changeset/new-llamas-wash.md
  packages/astro/src/@types/astro.ts
  packages/astro/src/cli/check/index.ts
  packages/astro/src/cli/index.ts
  packages/astro/src/core/add/index.ts
  packages/astro/src/core/build/generate.ts
  packages/astro/src/core/build/index.ts
  packages/astro/src/core/build/page-data.ts
  packages/astro/src/core/build/static-build.ts
  packages/astro/src/core/build/types.ts
  packages/astro/src/core/build/vite-plugin-css.ts
  packages/astro/src/core/build/vite-plugin-hoisted-scripts.ts
  packages/astro/src/core/build/vite-plugin-pages.ts
  packages/astro/src/core/build/vite-plugin-ssr.ts
  packages/astro/src/core/config/config.ts
  packages/astro/src/core/config/index.ts
  packages/astro/src/core/config/schema.ts
  packages/astro/src/core/config/settings.ts
  packages/astro/src/core/config/tsconfig.ts
  packages/astro/src/core/create-vite.ts
  packages/astro/src/core/dev/index.ts
  packages/astro/src/core/endpoint/dev/index.ts
  packages/astro/src/core/preview/index.ts
  packages/astro/src/core/render/dev/index.ts
  packages/astro/src/core/render/dev/scripts.ts
  packages/astro/src/core/routing/manifest/create.ts
  packages/astro/src/core/util.ts
  packages/astro/src/integrations/index.ts
  packages/astro/src/vite-plugin-astro-postprocess/index.ts
  packages/astro/src/vite-plugin-astro-server/index.ts
  packages/astro/src/vite-plugin-astro/index.ts
  packages/astro/src/vite-plugin-config-alias/index.ts
  packages/astro/src/vite-plugin-env/index.ts
  packages/astro/src/vite-plugin-integrations-container/index.ts
  packages/astro/src/vite-plugin-jsx/index.ts
  packages/astro/src/vite-plugin-markdown-legacy/index.ts
  packages/astro/src/vite-plugin-markdown/index.ts
  packages/astro/src/vite-plugin-scripts/index.ts
  packages/astro/src/vite-plugin-scripts/page-ssr.ts
  packages/astro/test/config-mode.test.js
  packages/astro/test/config.test.js
  packages/astro/test/test-utils.js
  packages/astro/test/units/config/config-server.test.js
  packages/astro/test/units/config/config-validate.test.js
Labels: core

#4760 .md only: npm init astro --> npm create astro
  examples/README.md
  examples/blog/README.md
  examples/component/README.md
  examples/docs/README.md
  examples/framework-alpine/README.md
  examples/framework-lit/README.md
  examples/framework-multiple/README.md
  examples/framework-preact/README.md
  examples/framework-react/README.md
  examples/framework-solid/README.md
  examples/framework-svelte/README.md
  examples/framework-vue/README.md
  examples/minimal/README.md
  examples/non-html-pages/README.md
  examples/portfolio/README.md
  examples/with-markdown-plugins/README.md
  examples/with-markdown-shiki/README.md
  examples/with-mdx/README.md
  examples/with-nanostores/README.md
  examples/with-tailwindcss/README.md
  examples/with-vite-plugin-pwa/README.md
  examples/with-vitest/README.md
  packages/create-astro/README.md
Labels: example, create-astro

#4743 Update CHANGELOG.md
  packages/astro/CHANGELOG.md
Labels: core

#4782 Fixes client:only CSS in Svelte components
  .changeset/witty-suits-grab.md
  packages/astro/src/core/build/internal.ts
  packages/astro/test/astro-client-only.test.js
  packages/astro/test/fixtures/astro-client-only/src/components/PersistentCounterStandalone.svelte
  packages/astro/test/fixtures/astro-client-only/src/pages/persistent-counter-standalone.astro
Labels: core

#4802 Update Vite 3.1.3
  .changeset/ten-tips-argue.md
  packages/astro/package.json
  pnpm-lock.yaml
Labels: core

#4795 fixed broken emoji for in "Getting started" section of integration docs
  packages/integrations/lit/README.md
  packages/integrations/mdx/README.md
  packages/integrations/preact/README.md
  packages/integrations/react/README.md
  packages/integrations/solid/README.md
  packages/integrations/svelte/README.md
  packages/integrations/vue/README.md
Labels: framework-svelte, framework-vue, framework-react, framework-preact, framework-solid, framework-lit, integration

#4787 fix(markdown-remark): declare `hast-util-to-html` as a dependency
  .changeset/tidy-glasses-unite.md
  packages/markdown/remark/package.json
  pnpm-lock.yaml
Labels: markdown

#4807 Remove explicit `Transfer-Encoding: chunked` header
  .changeset/sweet-ligers-push.md
  packages/astro/src/core/render/core.ts
  packages/astro/src/core/render/result.ts
Labels: core

#4813 Allow override `vite.build.target`
  .changeset/green-baboons-clean.md
  packages/astro/src/core/build/static-build.ts
Labels: core

#4641 Add Deno example
  examples/deno/.npmrc
  examples/deno/.stackblitzrc
  examples/deno/.vscode/extensions.json
  examples/deno/.vscode/launch.json
  examples/deno/README.md
  examples/deno/astro.config.mjs
  examples/deno/package.json
  examples/deno/public/favicon.ico
  examples/deno/sandbox.config.json
  examples/deno/src/components/Layout.astro
  examples/deno/src/pages/index.astro
  examples/deno/tsconfig.json
  pnpm-lock.yaml
Labels: example

#4805 Add support for running `create-astro` in cloned empty git repository
  .changeset/six-weeks-grab.md
  packages/create-astro/src/index.ts
  packages/create-astro/test/directory-step.test.js
  packages/create-astro/test/fixtures/select-directory/nonempty-safe-dir/.gitignore
  packages/create-astro/test/fixtures/select-directory/nonempty-safe-dir/module.iml
Labels: create-astro

#4803 [chore] replaces hard-coded `minify` values with `vite.build.minify`
  .changeset/tender-nails-sip.md
  packages/astro/src/core/build/static-build.ts
  packages/astro/src/core/build/vite-plugin-css.ts
Labels: core

#4816 Prevent errors in React components from crashing the dev server
  .changeset/tricky-walls-walk.md
  packages/astro/test/fixtures/react-component/src/components/ImportsThrowsAnError.jsx
  packages/astro/test/fixtures/react-component/src/components/ThrowsAnError.jsx
  packages/astro/test/fixtures/react-component/src/pages/error-rendering.astro
  packages/astro/test/react-component.test.js
  packages/integrations/react/server.js
Labels: framework-react, integration, core

#4817 Fix extra slash when adding integrations that ends with `/astro`
  .changeset/lovely-seals-compare.md
  packages/astro/src/core/add/index.ts
Labels: core

#4815 update cloudflare esbuild config (fixing solid ssr)
  .changeset/new-ties-change.md
  packages/integrations/cloudflare/src/index.ts
Labels: integration

#4819 Allow passing promises to set:html
  .changeset/popular-deers-grow.md
  packages/astro/src/runtime/server/escape.ts
  packages/astro/src/runtime/server/index.ts
  packages/astro/test/astro-slots.test.js
  packages/astro/test/fixtures/astro-slots/src/components/RenderArgs.astro
  packages/astro/test/fixtures/astro-slots/src/pages/slottedapi-render.astro
Labels: core

#4800 [@astrojs/image] flatten background only if alpha channel isn't supported
  .changeset/grumpy-monkeys-watch.md
  packages/integrations/image/README.md
  packages/integrations/image/src/loaders/index.ts
  packages/integrations/image/src/loaders/sharp.ts
  packages/integrations/image/test/background-color-image-ssg.test.js
  packages/integrations/image/test/background-color-image-ssr.test.js
  packages/integrations/image/test/fixtures/background-color-image/src/pages/index.astro
Labels: integration

#4775 Adds a new "astro:build:generated" hook for SSG builds
  .changeset/four-eggs-compare.md
  packages/astro/src/@types/astro.ts
  packages/astro/src/core/build/generate.ts
  packages/astro/src/integrations/index.ts
  packages/astro/test/static-build-dir.test.js
Labels: core, semver minor

#4509 Refactor server url logs
  .changeset/violet-tigers-shake.md
  packages/astro/src/core/dev/index.ts
  packages/astro/src/core/messages.ts
  packages/astro/src/core/preview/index.ts
  packages/astro/test/cli.test.js
Labels: core, semver minor

#4754 Update `astro check` to latest version of the language server
  .changeset/sour-steaks-rule.md
  packages/astro/package.json
  packages/astro/src/cli/check/index.ts
  packages/astro/src/cli/check/print.ts
  pnpm-lock.yaml
Labels: core, semver minor

#4763 Support shared signals in Preact islands
  .changeset/itchy-tigers-help.md
  examples/framework-preact/package.json
  examples/framework-preact/src/components/Counter.tsx
  examples/framework-preact/src/pages/index.astro
  packages/astro/src/runtime/server/hydration.ts
  packages/astro/test/fixtures/preact-component/package.json
  packages/astro/test/fixtures/preact-component/src/components/Signals.jsx
  packages/astro/test/fixtures/preact-component/src/pages/signals.astro
  packages/astro/test/fixtures/ssr-response/src/pages/some-header.astro
  packages/astro/test/preact-component.test.js
  packages/astro/test/ssr-response.test.js
  packages/integrations/preact/client.js
  packages/integrations/preact/package.json
  packages/integrations/preact/src/client-dev.ts
  packages/integrations/preact/src/client.ts
  packages/integrations/preact/src/context.ts
  packages/integrations/preact/src/server.ts
  packages/integrations/preact/src/signals.ts
  packages/integrations/preact/src/static-html.ts
  packages/integrations/preact/src/types.ts
  pnpm-lock.yaml
Labels: example, framework-preact, integration, core, semver minor

#4831 Fix: Invalid hook call when user use export jsx function
  .changeset/cyan-chefs-marry.md
  packages/astro/src/vite-plugin-jsx/tag.ts
  packages/astro/test/fixtures/react-jsx-export/astro.config.mjs
  packages/astro/test/fixtures/react-jsx-export/package.json
  packages/astro/test/fixtures/react-jsx-export/src/components/DeclarationExportTest.jsx
  packages/astro/test/fixtures/react-jsx-export/src/components/ListExportTest.jsx
  packages/astro/test/fixtures/react-jsx-export/src/components/defaultExport/AnonymousArrowDefaultExport.jsx
  packages/astro/test/fixtures/react-jsx-export/src/components/defaultExport/AnonymousFunctionDefaultExport.jsx
  packages/astro/test/fixtures/react-jsx-export/src/components/defaultExport/NamedArrowDefaultExport.jsx
  packages/astro/test/fixtures/react-jsx-export/src/components/defaultExport/NamedFunctionDefaultExport.jsx
  packages/astro/test/fixtures/react-jsx-export/src/pages/index.astro
  packages/astro/test/react-jsx-export.test.js
  pnpm-lock.yaml
Labels: core

#4832 Allow passing fetch() Response to set:html
  .changeset/silent-comics-hang.md
  packages/astro/src/runtime/server/escape.ts
  packages/astro/src/runtime/server/index.ts
  packages/astro/src/runtime/server/jsx.ts
  packages/astro/src/runtime/server/render/any.ts
  packages/astro/src/runtime/server/render/astro.ts
  packages/astro/src/runtime/server/render/common.ts
  packages/astro/src/runtime/server/render/component.ts
  packages/astro/src/runtime/server/render/page.ts
  packages/astro/src/runtime/server/response.ts
  packages/astro/src/runtime/server/util.ts
  packages/astro/test/fixtures/set-html/package.json
  packages/astro/test/fixtures/set-html/public/test.html
  packages/astro/test/fixtures/set-html/src/pages/fetch.astro
  packages/astro/test/fixtures/set-html/src/pages/index.astro
  packages/astro/test/set-html.test.js
  pnpm-lock.yaml
Labels: core, semver minor

#4821 Update blog post date text color to meet contrast-ratio guidelines
  examples/blog/src/pages/blog.astro
Labels: example

#4836 docs: integrations: yarn & pnpm
  packages/integrations/cloudflare/README.md
  packages/integrations/deno/README.md
  packages/integrations/netlify/README.md
  packages/integrations/node/README.md
  packages/integrations/vercel/README.md
Labels: integration

#4840 Update preact example to match @astrojs/preact ranges
  examples/framework-preact/package.json
  pnpm-lock.yaml
Labels: example

#4843 Revert preact signals support
  .changeset/itchy-tigers-help.md
  examples/framework-preact/package.json
  examples/framework-preact/src/components/Counter.tsx
  examples/framework-preact/src/pages/index.astro
  packages/astro/src/runtime/server/hydration.ts
  packages/astro/test/fixtures/preact-component/package.json
  packages/astro/test/fixtures/preact-component/src/components/Signals.jsx
  packages/astro/test/fixtures/preact-component/src/pages/signals.astro
  packages/astro/test/fixtures/ssr-response/src/pages/some-header.astro
  packages/astro/test/preact-component.test.js
  packages/astro/test/ssr-response.test.js
  packages/integrations/preact/client-dev.js
  packages/integrations/preact/client.js
  packages/integrations/preact/package.json
  packages/integrations/preact/server.js
  packages/integrations/preact/src/client.ts
  packages/integrations/preact/src/context.ts
  packages/integrations/preact/src/signals.ts
  packages/integrations/preact/src/types.ts
  packages/integrations/preact/static-html.js
  pnpm-lock.yaml
Labels: example, framework-preact, integration, core

#4837 Fix ESLint not working in CI
  .github/workflows/ci.yml
  packages/astro/src/core/messages.ts
Labels: 🚨 action, core

#4712 Fix slashes for paths containing non-ASCII characters on Windows.
  .changeset/pink-beans-cross.md
  packages/astro/src/core/util.ts
  packages/astro/test/fixtures/non-ascii-path/测试/package.json
  packages/astro/test/fixtures/non-ascii-path/测试/src/pages/index.astro
  packages/astro/test/non-ascii-path.test.js
  pnpm-lock.yaml
Labels: core

#4700 docs: add MDXLayoutProps to README
  .changeset/metal-bees-pretend.md
  packages/integrations/mdx/README.md
Labels: integration

#4810 `create-astro`: always create `tsconfig.json`
  .changeset/many-boats-peel.md
  package.json
  packages/astro/test/benchmark/build.bench.js
  packages/astro/test/benchmark/dev.bench.js
  packages/create-astro/package.json
  packages/create-astro/src/index.ts
  packages/create-astro/test/directory-step.test.js
  packages/create-astro/test/typescript-step.test.js
  packages/create-astro/test/utils.js
  pnpm-lock.yaml
  scripts/cmd/build.js
Labels: create-astro, core

#4710 examples rss: add mdx file ending
  examples/blog/src/pages/rss.xml.js
Labels: example

#4780 feat(vite-plugin-markdown): support importing markdown files from outside root project
  packages/astro/src/vite-plugin-markdown/index.ts
Labels: core

#4454 Add CSS `@import` test
  .changeset/odd-swans-collect.md
  packages/astro/e2e/css.test.js
  packages/astro/e2e/fixtures/css/package.json
  packages/astro/e2e/fixtures/css/src/pages/index.astro
  packages/astro/e2e/fixtures/css/src/styles/main.css
  packages/astro/e2e/test-utils.js
  packages/astro/src/vite-plugin-astro/hmr.ts
  pnpm-lock.yaml
Labels: core

#4845 Prevent the root from being deleted during the build
  .changeset/hot-lamps-search.md
  packages/astro/src/core/build/index.ts
  packages/astro/test/dont-delete-root.test.js
  packages/astro/test/fixtures/dont-delete-me/astro.config.mjs
  packages/astro/test/fixtures/dont-delete-me/package.json
  packages/astro/test/fixtures/dont-delete-me/src/pages/index.astro
  pnpm-lock.yaml
Labels: core

#4841 Resolves #4825
  .changeset/late-cups-jam.md
  packages/astro/src/core/build/static-build.ts
Labels: core

#4850 fix: Can't overwrite vite's MODE environment variable
  .changeset/short-ravens-marry.md
  packages/astro/src/cli/index.ts
  packages/astro/src/core/build/static-build.ts
Labels: core

#4848 Add action to check if PR can be merged
  .github/workflows/check-merge.yml
Labels: 🚨 action

#4854 update SSR example to match recent change on Astro API Context
  examples/ssr/src/pages/api/cart.ts
  examples/ssr/src/pages/api/products/[id].ts
Labels: example

#4855 Define toStringTag another way
  .changeset/fluffy-doors-vanish.md
  packages/astro/src/runtime/server/escape.ts
Labels: core

#4872 docs: Update references to support channel in Discord.
  packages/integrations/alpinejs/README.md
  packages/integrations/deno/README.md
  packages/integrations/image/README.md
  packages/integrations/mdx/README.md
  packages/integrations/netlify/README.md
  packages/integrations/node/README.md
  packages/integrations/partytown/README.md
  packages/integrations/preact/README.md
  packages/integrations/prefetch/README.md
  packages/integrations/sitemap/README.md
  packages/integrations/tailwind/README.md
  packages/integrations/vercel/README.md
Labels: framework-preact, integration

#4874 docs: Standardize troubleshooting and contributing sections for integrations
  packages/integrations/cloudflare/README.md
  packages/integrations/lit/README.md
  packages/integrations/react/README.md
  packages/integrations/solid/README.md
  packages/integrations/svelte/README.md
  packages/integrations/turbolinks/README.md
  packages/integrations/vue/README.md
Labels: framework-svelte, framework-vue, framework-react, framework-solid, framework-lit, integration

#4867 fix: 🐛 BUG: class:list directive adding class attribute when undefined
  .changeset/lucky-comics-bow.md
  packages/astro/src/runtime/server/hydration.ts
Labels: core

#4873 Prevent /undefined catch-all routes in dev
  .changeset/mighty-garlics-exercise.md
  packages/astro/src/core/render/route-cache.ts
  packages/astro/src/core/routing/params.ts
  packages/astro/test/fixtures/routing-priority/src/pages/empty-slug/[...slug].astro
  packages/astro/test/routing-priority.test.js
  packages/astro/test/test-utils.js
Labels: core

#4861 fix: Script with innerHTML not working on Safari
  .changeset/cool-camels-tease.md
  packages/astro/src/runtime/server/render/util.ts
  packages/astro/test/astro-directives.test.js
Labels: core

#4857 add double check on astro file Response return type with more readable error
  examples/ssr/src/pages/index.astro
  packages/astro/src/runtime/server/render/page.ts
  packages/astro/test/astro-not-response.test.js
  packages/astro/test/fixtures/astro-not-response/package.json
  packages/astro/test/fixtures/astro-not-response/src/pages/not-response.astro
  pnpm-lock.yaml
Labels: example, core

#4866 fix: Lookbehind regex crashing on Safari
  packages/astro/src/runtime/server/render/util.ts
Labels: core

#4858 Fix: correctly transform `import.meta.env.*` in MDX
  .changeset/metal-hats-explain.md
  packages/integrations/mdx/package.json
  packages/integrations/mdx/src/astro-data-utils.ts
  packages/integrations/mdx/src/index.ts
  packages/integrations/mdx/src/plugins.ts
  packages/integrations/mdx/src/utils.ts
  packages/integrations/mdx/test/fixtures/mdx-vite-env-vars/astro.config.mjs
  packages/integrations/mdx/test/fixtures/mdx-vite-env-vars/package.json
  packages/integrations/mdx/test/fixtures/mdx-vite-env-vars/src/pages/frontmatter.json.js
  packages/integrations/mdx/test/fixtures/mdx-vite-env-vars/src/pages/vite-env-vars.mdx
  packages/integrations/mdx/test/mdx-vite-env-vars.test.js
  pnpm-lock.yaml
Labels: integration

#4884 Set SSR target webworker for Vercel edge
  .changeset/curvy-comics-smash.md
  packages/integrations/vercel/src/edge/adapter.ts
Labels: integration

#4883 docs: Fix links to Tailwind examples
  packages/integrations/tailwind/README.md
Labels: integration

#4878 fix: post API routes in SSG should warn or error during dev mode
  .changeset/famous-camels-study.md
  packages/astro/src/core/endpoint/index.ts
  packages/astro/src/runtime/server/endpoint.ts
Labels: core

#4893 fixed typing
  packages/integrations/sitemap/README.md
Labels: integration

#4892 Ensure head content rendered once with lazy layouts
  .changeset/popular-horses-lie.md
  packages/astro/src/@types/astro.ts
  packages/astro/src/core/render/result.ts
  packages/astro/src/runtime/server/render/head.ts
  packages/astro/test/fixtures/lazy-layout/package.json
  packages/astro/test/fixtures/lazy-layout/src/layouts/Main.astro
  packages/astro/test/fixtures/lazy-layout/src/pages/index.astro
  packages/astro/test/lazy-layout.test.js
  pnpm-lock.yaml
Labels: core

#4891 Hoist hydration script out of slot templates
  .changeset/smart-elephants-check.md
  packages/astro/src/runtime/server/render/any.ts
  packages/astro/src/runtime/server/render/component.ts
  packages/astro/src/runtime/server/render/dom.ts
  packages/astro/src/runtime/server/render/index.ts
  packages/astro/src/runtime/server/render/slot.ts
  packages/astro/test/astro-slots-nested.test.js
  packages/astro/test/fixtures/astro-slots-nested/astro.config.mjs
  packages/astro/test/fixtures/astro-slots-nested/package.json
  packages/astro/test/fixtures/astro-slots-nested/src/components/Inner.tsx
  packages/astro/test/fixtures/astro-slots-nested/src/components/Parent.jsx
  packages/astro/test/fixtures/astro-slots-nested/src/pages/hidden-nested.astro
  pnpm-lock.yaml
Labels: core

#4879 redesign basics template
  examples/basics/src/components/Card.astro
  examples/basics/src/layouts/Layout.astro
  examples/basics/src/pages/index.astro
Labels: example

#4904 Fix test
  packages/astro/test/fixtures/astro-slots-nested/package.json
  pnpm-lock.yaml
Labels: core

#4898 Update README.md
  packages/integrations/tailwind/README.md
Labels: integration

#4906 Fix: let Squoosh default image quality internally
  .changeset/fuzzy-garlics-obey.md
  packages/integrations/image/src/loaders/squoosh.ts
  packages/integrations/image/src/vendor/squoosh/image-pool.ts
  packages/integrations/image/src/vendor/squoosh/image.ts
  packages/integrations/image/src/vendor/squoosh/impl.ts
Labels: integration

#4876 Astro.cookies implementation
  .changeset/thin-news-collect.md
  packages/astro/package.json
  packages/astro/src/@types/astro.ts
  packages/astro/src/core/app/index.ts
  packages/astro/src/core/cookies/cookies.ts
  packages/astro/src/core/cookies/index.ts
  packages/astro/src/core/cookies/response.ts
  packages/astro/src/core/endpoint/index.ts
  packages/astro/src/core/render/core.ts
  packages/astro/src/core/render/result.ts
  packages/astro/src/runtime/server/endpoint.ts
  packages/astro/src/vite-plugin-astro-server/index.ts
  packages/astro/test/astro-cookies.test.js
  packages/astro/test/fixtures/astro-cookies/package.json
  packages/astro/test/fixtures/astro-cookies/src/pages/early-return.astro
  packages/astro/test/fixtures/astro-cookies/src/pages/get-json.astro
  packages/astro/test/fixtures/astro-cookies/src/pages/set-prefs.js
  packages/astro/test/fixtures/astro-cookies/src/pages/set-value.astro
  packages/astro/test/units/cookies/delete.test.js
  packages/astro/test/units/cookies/get.test.js
  packages/astro/test/units/cookies/has.test.js
  packages/astro/test/units/cookies/set.test.js
  packages/integrations/cloudflare/src/server.advanced.ts
  packages/integrations/cloudflare/src/server.directory.ts
  packages/integrations/deno/src/server.ts
  packages/integrations/netlify/src/netlify-edge-functions.ts
  packages/integrations/netlify/src/netlify-functions.ts
  packages/integrations/node/src/server.ts
  packages/integrations/vercel/src/edge/entrypoint.ts
  packages/integrations/vercel/src/serverless/entrypoint.ts
  packages/integrations/vercel/src/serverless/request-transform.ts
  pnpm-lock.yaml
Labels: integration, core, semver minor

#4907 Fix CSS ordering between imported and Astro styles
  .changeset/small-bugs-prove.md
  packages/astro/package.json
  packages/astro/test/css-order-import.test.js
  packages/astro/test/css-order.test.js
  packages/astro/test/fixtures/css-order-import/package.json
  packages/astro/test/fixtures/css-order-import/src/components/One.astro
  packages/astro/test/fixtures/css-order-import/src/components/Two.astro
  packages/astro/test/fixtures/css-order-import/src/pages/component.astro
  packages/astro/test/fixtures/css-order-import/src/pages/index.astro
  packages/astro/test/fixtures/css-order-import/src/styles/One.css
  packages/astro/test/fixtures/css-order-import/src/styles/base.css
  pnpm-lock.yaml
Labels: core, semver minor

#4897 Support Vue JSX
  .changeset/honest-melons-walk.md
  packages/astro/src/runtime/server/render/component.ts
  packages/astro/test/fixtures/vue-jsx/astro.config.mjs
  packages/astro/test/fixtures/vue-jsx/package.json
  packages/astro/test/fixtures/vue-jsx/src/components/Counter.jsx
  packages/astro/test/fixtures/vue-jsx/src/components/Result.vue
  packages/astro/test/fixtures/vue-jsx/src/pages/index.astro
  packages/astro/test/vue-jsx.test.js
  packages/integrations/vue/README.md
  packages/integrations/vue/package.json
  packages/integrations/vue/src/index.ts
  pnpm-lock.yaml
Labels: framework-vue, integration, core

#4912 fix trailing slash mismatch in dev vs build in docs example
  examples/docs/src/components/LeftSidebar/LeftSidebar.astro
Labels: example

#4909 [@astrojs/image] adding caching support for SSG builds
  .changeset/seven-shrimps-hope.md
  packages/integrations/image/README.md
  packages/integrations/image/package.json
  packages/integrations/image/src/build/cache.ts
  packages/integrations/image/src/build/ssg.ts
  packages/integrations/image/src/index.ts
  packages/integrations/image/test/image-ssg.test.js
  pnpm-lock.yaml
Labels: integration

#4928 Move module declarations for Markdown and MDX so they're available everywhere
  .changeset/thirty-crabs-shout.md
  packages/astro/client-base.d.ts
  packages/astro/env.d.ts
  packages/astro/tsconfig.json
Labels: core

#4939 P5: fix MDX memory leak
  .changeset/tall-files-smash.md
  packages/astro/src/jsx-runtime/index.ts
  packages/astro/src/runtime/server/jsx.ts
  packages/integrations/mdx/test/fixtures/mdx-infinite-loop/astro.config.ts
  packages/integrations/mdx/test/fixtures/mdx-infinite-loop/package.json
  packages/integrations/mdx/test/fixtures/mdx-infinite-loop/src/components/Test.js
  packages/integrations/mdx/test/fixtures/mdx-infinite-loop/src/pages/doc.mdx
  packages/integrations/mdx/test/fixtures/mdx-infinite-loop/src/pages/index.astro
  packages/integrations/mdx/test/mdx-infinite-loop.test.js
  pnpm-lock.yaml
Labels: integration, core

#4940 Fix missing language tag on README code block
  packages/integrations/image/README.md
Labels: integration

#4932 Convert HTMLString to regular string, preventing hydration script fro…
  .changeset/khaki-tables-remember.md
  packages/astro/src/runtime/server/render/common.ts
Labels: core
