Repository withastro/astro, pull requests merged in 2022-01, with the labels that each got.

#2302 Only resolve inline script specifiers in the static build
  .changeset/soft-sloths-impress.md
  examples/fast-build/package.json
  examples/fast-build/src/components/Counter.vue
  examples/fast-build/src/pages/[pokemon].astro
  examples/fast-build/src/pages/index.astro
  packages/astro/package.json
  packages/astro/src/@types/astro.ts
  packages/astro/src/core/build/internal.ts
  packages/astro/src/core/build/static-build.ts
  packages/astro/src/core/ssr/index.ts
  packages/astro/src/core/ssr/result.ts
  packages/astro/src/runtime/server/hydration.ts
  packages/astro/src/runtime/server/index.ts
  packages/astro/src/runtime/server/metadata.ts
  packages/astro/src/runtime/server/util.ts
  packages/astro/src/vite-plugin-astro/compile.ts
  packages/astro/src/vite-plugin-build-html/index.ts
  packages/astro/src/vite-plugin-markdown/index.ts
  yarn.lock
Labels: example, core

#2300 Update svelte version in renderer-svelte
  .changeset/swift-cherries-rule.md
  packages/renderers/renderer-svelte/package.json
  yarn.lock
Labels: framework-svelte, renderer

#2305 Upgrade language server
  .changeset/quick-pots-hunt.md
  packages/astro/package.json
  yarn.lock
Labels: core

#2306 Rename [slug].astro to [...slug].astro
  docs/src/pages/[...slug].astro
Labels: docs

#2299 Fix dynamic routes for sites with subpath
  .changeset/dry-brooms-care.md
  packages/astro/src/core/dev/index.ts
  packages/astro/test/dev-routing.test.js
  packages/astro/test/fixtures/with-subpath-no-trailing-slash/src/pages/[id].astro
  packages/astro/test/fixtures/with-subpath-trailing-slash/src/pages/[id].astro
  packages/astro/test/fixtures/without-site-config/src/pages/[id].astro
  packages/astro/test/fixtures/without-subpath/src/pages/[id].astro
Labels: test, core

#2271 Adds ‹div›RIOTS logo to the list of sponsors
  .github/assets/divriots-dark.svg
  .github/assets/divriots.svg
  packages/astro/README.md
Labels: core

#2309 Remove rehype-add-classes
  examples/with-markdown-plugins/add-classes.mjs
  examples/with-markdown-plugins/astro.config.mjs
  examples/with-markdown-plugins/package.json
  packages/astro/test/astro-markdown-plugins.test.js
  yarn.lock
Labels: test, example, core

#2308 Update compiler to 0.7.2
  .changeset/sixty-shoes-taste.md
  packages/astro/package.json
  yarn.lock
Labels: core

#2319 Bump WebAPI
  .changeset/thirty-rings-applaud.md
  packages/astro/package.json
  yarn.lock
Labels: core

#2318 Update compiler
  .changeset/soft-boxes-dance.md
  packages/astro/package.json
  yarn.lock
Labels: core

#2321 Add `<guid>` to RSS feed based on page link to uniquely identify rss …
  packages/astro/src/core/ssr/rss.ts
  packages/astro/test/astro-sitemap-rss.test.js
Labels: test, core

#2324 Update compiler
  .changeset/calm-insects-relate.md
  packages/astro/package.json
  yarn.lock
Labels: core

#2326 Added "IntelliSense for TypeScript"
  docs/src/pages/en/guides/environment-variables.md
Labels: docs, i18n

#2330 Fix subpath support regressions
  .changeset/tough-melons-march.md
  .eslintrc.cjs
  packages/astro/src/core/path.ts
  packages/astro/src/core/preview/index.ts
  packages/astro/src/vite-plugin-build-html/index.ts
  packages/astro/test/0-css.test.js
  packages/astro/test/astro-css-bundling.test.js
  packages/astro/test/astro-pageDirectoryUrl.test.js
  packages/astro/test/fixtures/with-subpath-no-trailing-slash/astro.config.mjs
  packages/astro/test/postcss.test.js
  packages/astro/test/preview-routing.test.js
  packages/astro/test/test-utils.js
Labels: test, core

#2337 Handle loading the Code package in the static build
  .changeset/silent-moles-provide.md
  examples/fast-build/src/pages/index.astro
  packages/astro/package.json
  packages/astro/src/core/build/static-build.ts
  packages/astro/src/vite-plugin-astro/index.ts
  packages/astro/test/fixtures/static-build-code-component/src/pages/index.astro
  packages/astro/test/static-build-code-component.test.js
  yarn.lock
Labels: test, example, core

#2323 Fix issue with plugins running twice in dev and build
  .changeset/seven-mice-do.md
  packages/astro/src/core/create-vite.ts
Labels: core

#2335 Fix sitemap.xml page urls
  .changeset/bright-suns-brake.md
  packages/astro/src/core/ssr/sitemap.ts
  packages/astro/src/vite-plugin-build-html/index.ts
  packages/astro/test/astro-sitemap-rss.test.js
Labels: test, core

#2338 Fix Astro Preview Pathing Issues
  .changeset/spotty-turtles-complain.md
  packages/astro/src/core/dev/template/4xx.ts
  packages/astro/src/core/path.ts
  packages/astro/src/core/preview/index.ts
  packages/astro/test/preview-routing.test.js
Labels: test, core

#2274 Improve the contributing docs for the documentation!
  docs/README.md
Labels: docs

#2345 Update Cloudflare Pages guide
  docs/src/pages/en/guides/deploy.md
Labels: docs, i18n

#2301 Add Astro Blog RSS feed
  www/src/components/BaseHead.astro
  www/src/pages/blog/[slug].astro
Labels: www

#2256 smooth scroll behavior property added
  docs/public/index.css
Labels: docs

#2354 Note that Astro also supports `<Fragment>` syntax
  docs/src/pages/en/core-concepts/astro-components.md
Labels: docs, i18n

#2341 move changeset to run after build, no test required
  .github/workflows/ci.yml
Labels: 🚨 action

#2355 Use smooth scrolling with reduced motion has no preference
  docs/public/index.css
Labels: docs

#2359 Fix renderer-solid (fix #2336)
  .changeset/happy-penguins-wave.md
  packages/renderers/renderer-solid/server.js
Labels: framework-solid, renderer

#2362 Fix accessibility check on docs site
  docs/package.json
  yarn.lock
Labels: docs

#2363 Fix: static-build with .md pages
  .changeset/tricky-eagles-enjoy.md
  packages/astro/src/core/build/static-build.ts
  packages/astro/test/fixtures/static-build/src/layouts/Main.astro
  packages/astro/test/fixtures/static-build/src/pages/index.astro
  packages/astro/test/fixtures/static-build/src/pages/posts/thoughts.md
  packages/astro/test/static-build.test.js
Labels: test, core

#2365 Fix for shared CSS when using the static build
  .changeset/moody-boats-pull.md
  examples/portfolio/src/components/MainHead.astro
  packages/astro/src/core/build/static-build.ts
  packages/astro/src/vite-plugin-build-css/index.ts
  packages/astro/test/fixtures/static-build/src/components/MainHead.astro
  packages/astro/test/fixtures/static-build/src/components/Nav/index.jsx
  packages/astro/test/fixtures/static-build/src/components/Nav/styles.module.scss
  packages/astro/test/fixtures/static-build/src/layouts/Main.astro
  packages/astro/test/fixtures/static-build/src/pages/index.astro
  packages/astro/test/fixtures/static-build/src/pages/posts/nested/more.md
  packages/astro/test/fixtures/static-build/src/styles/main.scss
  packages/astro/test/static-build.test.js
Labels: test, example, core

#2367 Fix use of frameworks in the static build
  .changeset/long-eagles-care.md
  packages/astro/src/@types/astro.ts
  packages/astro/src/core/build/fs.ts
  packages/astro/src/core/build/static-build.ts
  packages/astro/src/core/ssr/index.ts
  packages/astro/test/fixtures/static-build-frameworks/src/components/PCounter.jsx
  packages/astro/test/fixtures/static-build-frameworks/src/pages/index.astro
  packages/astro/test/static-build-frameworks.test.js
Labels: test, core

#2369 Fix for using React in the static build
  .changeset/fuzzy-peas-nail.md
  packages/astro/test/fixtures/static-build-frameworks/src/components/RCounter.jsx
  packages/astro/test/fixtures/static-build-frameworks/src/pages/preact.astro
  packages/astro/test/fixtures/static-build-frameworks/src/pages/react.astro
  packages/astro/test/static-build-frameworks.test.js
  packages/renderers/renderer-react/index.js
  packages/renderers/renderer-react/jsx-runtime.js
  packages/renderers/renderer-react/package.json
Labels: test, framework-react, renderer, core

#2391 Improve static build performance on large sites
  .changeset/metal-pens-decide.md
  packages/astro/src/@types/astro.ts
  packages/astro/src/core/build/page-data.ts
  packages/astro/src/core/build/static-build.ts
  packages/astro/src/core/ssr/index.ts
  packages/astro/src/core/ssr/route-cache.ts
Labels: core

#2402 Update doc move away from Astro.resolve on styles
  docs/src/pages/de/guides/styling.md
  docs/src/pages/en/guides/styling.md
Labels: docs, i18n

#2393 Update examples to move away from Astro.resolve on styles
  .changeset/flat-tips-happen.md
  examples/blog-multiple-authors/src/components/MainHead.astro
  examples/docs/src/components/HeadCommon.astro
  examples/framework-multiple/src/pages/index.astro
  examples/starter/src/pages/index.astro
  examples/with-markdown-plugins/src/layouts/main.astro
  examples/with-markdown/src/layouts/main.astro
  examples/with-nanostores/src/pages/index.astro
  packages/astro/src/core/build/static-build.ts
Labels: example, core

#2411 Fix "Island Architecture" phrase attribution
  docs/src/pages/de/core-concepts/component-hydration.md
  docs/src/pages/en/core-concepts/component-hydration.md
  docs/src/pages/es/core-concepts/component-hydration.md
Labels: docs, i18n

#2413 Update Astro README
  assets/social/banner.jpg
  assets/social/banner.svg
  packages/astro/README.md
Labels: core

#2392 Implement support for draft pages
  .changeset/ten-cougars-knock.md
  docs/src/pages/en/guides/markdown-content.md
  docs/src/pages/en/reference/configuration-reference.md
  packages/astro/src/@types/astro.ts
  packages/astro/src/cli/index.ts
  packages/astro/src/core/build/index.ts
  packages/astro/src/core/config.ts
  packages/astro/test/astro-markdown-drafts.test.js
  packages/astro/test/fixtures/astro-markdown-drafts/src/pages/index.md
  packages/astro/test/fixtures/astro-markdown-drafts/src/pages/wip.md
Labels: docs, test, i18n, core

#2401 fix: path error in sample markdown code
  docs/src/pages/en/guides/markdown-content.md
Labels: docs, i18n

#2400 Update .degit cache path in error message
  packages/create-astro/src/index.ts
Labels: create-astro

#2405 Fix visibility of focused skip link on docs site
  docs/src/components/Header/SkipToContent.astro
  examples/docs/src/components/Header/SkipToContent.astro
Labels: docs, example

#2408 Fix arabic docs
  docs/src/pages/ar/getting-started.md
Labels: docs, i18n

#2417 update image reference path
  docs/src/pages/en/guides/markdown-content.md
Labels: docs, i18n

#2371 Add support for styled RSS feeds
  .changeset/five-crabs-sparkle.md
  docs/src/pages/en/guides/rss.md
  packages/astro/src/@types/astro.ts
  packages/astro/src/core/build/page-data.ts
  packages/astro/src/core/ssr/rss.ts
  packages/astro/src/core/util.ts
Labels: docs, i18n, core

#2357 Update Cloudflare pages to show gitlab support
  docs/src/pages/en/guides/deploy.md
Labels: docs, i18n

#2428 Pin to the compiler 0.8.1
  .changeset/cold-bottles-eat.md
  packages/astro/package.json
Labels: core

#2431 doc: fix "Astro Components" link reference
  docs/src/pages/en/core-concepts/component-hydration.md
Labels: docs, i18n

#2432 Upgrade compiler to latest
  .changeset/afraid-ducks-develop.md
  packages/astro/package.json
  yarn.lock
Labels: core

#2429 Add a verbose flag to create-astro
  .changeset/gentle-cats-guess.md
  packages/create-astro/README.md
  packages/create-astro/src/index.ts
  packages/create-astro/src/logger.ts
Labels: create-astro

#2423 Resolve sitemap URLs in relation to full site path
  .changeset/flat-countries-roll.md
  packages/astro/src/core/build/index.ts
  packages/astro/test/astro-sitemap-rss.test.js
  packages/astro/test/test-utils.js
Labels: test, core

#2443 Fix pre-generated RSS URLs
  .changeset/flat-mayflies-ring.md
  packages/astro/src/core/build/page-data.ts
  packages/astro/src/core/ssr/rss.ts
  packages/astro/src/core/util.ts
  packages/astro/test/astro-sitemap-rss.test.js
  packages/astro/test/fixtures/astro-sitemap-rss/src/pages/episodes/[...page].astro
Labels: test, core

#2444 patch tailwindcss example global css
  examples/with-tailwindcss/src/pages/index.astro
Labels: example

#2442 Pass user's viteConfig.ssr to the build
  .changeset/neat-seals-fold.md
  package.json
  packages/astro/src/core/build/static-build.ts
  packages/astro/test/fixtures/static-build/package.json
  packages/astro/test/fixtures/static-build/pkg/package.json
  packages/astro/test/fixtures/static-build/pkg/pkg.js
  packages/astro/test/fixtures/static-build/src/pages/index.astro
  packages/astro/test/static-build.test.js
Labels: test, core

#2448 Allow not specfying section header in sidebar.
  examples/docs/src/components/LeftSidebar/LeftSidebar.astro
Labels: example

#2449 Use CONFIG.SITE.title for h1 in doc theme header
  examples/docs/src/components/Header/Header.astro
Labels: example

#2450 Set channel link in rss.xml to site index
  packages/astro/src/core/ssr/rss.ts
  packages/astro/test/astro-sitemap-rss.test.js
Labels: test, core

#2440 Fix HMR in static build + @import HMR
  .changeset/angry-apricots-invite.md
  packages/astro/src/core/ssr/index.ts
  packages/astro/src/vite-plugin-astro/compile.ts
  packages/astro/src/vite-plugin-astro/index.ts
  packages/astro/vendor/vite/dist/client/client.mjs
Labels: core

#2446 run lit test separately to prevent error
  packages/astro/package.json
Labels: core

#2460 Remove `vite-plugin-fetch`
  packages/astro/src/vite-plugin-fetch/README.md
  packages/astro/src/vite-plugin-fetch/index.ts
Labels: core

#2457 Change from Intall to Install in line 239 Documentation in Migration
  docs/src/pages/en/migration/0.21.0.md
Labels: docs, i18n

#2463 Remove `vite-plugin-fetch` from one more location
  packages/astro/package.json
Labels: core

#2462 Remove `node-fetch`
  packages/astro/package.json
  packages/astro/test/fixtures/fetch/src/components/AlreadyImported.astro
  packages/astro/test/test-utils.js
Labels: core

#2467 Add note about imports to migration guide
  docs/src/pages/en/migration/0.21.0.md
Labels: docs, i18n

#2469 clean up config loading and flag merging
  packages/astro/src/@types/astro.ts
  packages/astro/src/cli/index.ts
  packages/astro/src/core/config.ts
Labels: core

#2470 add a new test:match command script
  CONTRIBUTING.md
  package.json
  packages/astro/package.json
Labels: core

#2477 Aligns docs on `pages` config with reality
  docs/src/pages/en/reference/configuration-reference.md
Labels: docs, i18n

#2478 update pages config doc description
  docs/src/pages/en/reference/configuration-reference.md
Labels: docs, i18n

#2479 Add escapeHTML to astro/internal
  .changeset/few-papayas-swim.md
  packages/astro/src/runtime/server/escape.ts
  packages/astro/src/runtime/server/index.ts
Labels: core

#2490 Fix use of preprocessors with the static build
  .changeset/hungry-dots-reply.md
  examples/fast-build/src/pages/index.astro
  packages/astro/src/vite-plugin-astro/compile.ts
Labels: example, core

#2473 Render Custom Element Tag
  packages/astro/src/runtime/server/index.ts
Labels: core

#2487 Changed vite.build target to esnext
  packages/astro/src/core/build/static-build.ts
Labels: core

#2486 Handle project folders containing a space in the static build
  .changeset/afraid-crabs-heal.md
  package.json
  packages/astro/src/core/build/static-build.ts
  packages/astro/src/core/build/vite-plugin-hoisted-scripts.ts
  packages/astro/test/fixtures/static build/package.json
  packages/astro/test/fixtures/static build/pkg/package.json
  packages/astro/test/fixtures/static build/pkg/pkg.js
  packages/astro/test/fixtures/static build/src/components/ExternalHoisted.astro
  packages/astro/test/fixtures/static build/src/components/InlineHoisted.astro
  packages/astro/test/fixtures/static build/src/components/MainHead.astro
  packages/astro/test/fixtures/static build/src/components/Nav/index.jsx
  packages/astro/test/fixtures/static build/src/components/Nav/styles.module.scss
  packages/astro/test/fixtures/static build/src/layouts/Main.astro
  packages/astro/test/fixtures/static build/src/pages/hoisted.astro
  packages/astro/test/fixtures/static build/src/pages/index.astro
  packages/astro/test/fixtures/static build/src/pages/posts/nested/more.md
  packages/astro/test/fixtures/static build/src/pages/posts/thoughts.md
  packages/astro/test/fixtures/static build/src/scripts/external-hoist.ts
  packages/astro/test/fixtures/static build/src/styles/main.scss
  packages/astro/test/static-build.test.js
Labels: test, core

#2471 [MINOR] standardize trailing subpath, fix fetchContent url issue
  .changeset/old-parents-obey.md
  .changeset/shaggy-shoes-leave.md
  packages/astro/src/core/config.ts
  packages/astro/src/runtime/server/index.ts
  packages/astro/test/astro-global.test.js
  packages/astro/test/dev-routing.test.js
  packages/astro/test/fixtures/astro-global/src/pages/posts/[page].astro
Labels: test, core

#2500 Update deployment documentation for Vercel.
  docs/src/pages/en/guides/deploy.md
  docs/src/pages/es/guides/deploy.md
Labels: docs, i18n

#2504 use debug package for debug logs
  packages/astro/package.json
  packages/astro/src/core/build/index.ts
  packages/astro/src/core/build/page-data.ts
  packages/astro/src/core/build/static-build.ts
  packages/astro/src/core/logger.ts
  packages/astro/src/core/ssr/index.ts
  packages/astro/src/core/ssr/route-cache.ts
  yarn.lock
Labels: core

#2494 refactor dev to use vite server
  .changeset/empty-snails-allow.md
  LICENSE
  packages/astro/package.json
  packages/astro/src/cli/index.ts
  packages/astro/src/core/create-vite.ts
  packages/astro/src/core/dev/index.ts
  packages/astro/src/core/messages.ts
  packages/astro/src/core/preview/index.ts
  packages/astro/src/core/util.ts
  packages/astro/src/template/4xx.ts
  packages/astro/src/template/5xx.ts
  packages/astro/src/template/css.ts
  packages/astro/src/vite-plugin-astro-postprocess/index.ts
  packages/astro/src/vite-plugin-astro-server/index.ts
  packages/astro/src/vite-plugin-astro/index.ts
  packages/astro/src/vite-plugin-build-html/index.ts
  packages/astro/src/vite-plugin-config-alias/index.ts
  packages/astro/src/vite-plugin-jsx/index.ts
  packages/astro/src/vite-plugin-markdown/index.ts
  packages/astro/test/test-utils.js
  yarn.lock
Labels: core

#2503 refactor the route cache and other build internals
  packages/astro/package.json
  packages/astro/src/@types/astro.ts
  packages/astro/src/cli/index.ts
  packages/astro/src/core/build/index.ts
  packages/astro/src/core/build/page-data.ts
  packages/astro/src/core/build/scan-based-build.ts
  packages/astro/src/core/build/static-build.ts
  packages/astro/src/core/logger.ts
  packages/astro/src/core/ssr/index.ts
  packages/astro/src/core/ssr/route-cache.ts
  packages/astro/src/core/ssr/rss.ts
  packages/astro/src/vite-plugin-astro-server/index.ts
  packages/astro/src/vite-plugin-build-html/index.ts
  yarn.lock
Labels: core

#2493 Add Astro.resolve deprecation warning case for script tags
  packages/astro/src/core/ssr/result.ts
  packages/astro/src/core/ssr/script.ts
Labels: core

#2507 Fix Astro Component example
  examples/component/demo/astro.config.mjs
Labels: example

#2502 Fix a regression in vite.build() base option
  packages/astro/src/core/build/static-build.ts
  packages/astro/src/runtime/server/index.ts
  packages/astro/test/static-build.test.js
Labels: test, core

#2508 Minimize the minimal example
  examples/minimal/astro.config.mjs
  examples/minimal/src/pages/index.astro
Labels: example

#2485 Missing '&' in example of scoped styles
  docs/src/pages/en/guides/styling.md
Labels: docs, i18n

#2496 [docs] fix typo in portfolio-svelte example
  examples/portfolio-svelte/README.md
Labels: example

#2506 Fix issue rendering content within HTMLElement
  .changeset/calm-suns-give.md
  packages/astro/src/runtime/server/index.ts
Labels: core

#2511 Fix define:vars in the static build flag
  .changeset/mighty-lamps-drive.md
  examples/fast-build/src/pages/index.astro
  packages/astro/package.json
  packages/astro/src/runtime/server/index.ts
  yarn.lock
Labels: example, core

#2489 Deprecate unescaped HTML inside of expressions
  .changeset/chatty-spies-wink.md
  .changeset/mighty-lamps-drive.md
  packages/astro/components/Code.astro
  packages/astro/components/Markdown.astro
  packages/astro/components/Prism.astro
  packages/astro/package.json
  packages/astro/src/runtime/server/escape.ts
  packages/astro/src/runtime/server/index.ts
  yarn.lock
Labels: core

#2497 Add Shiki as an alternative to Prism
  .changeset/rotten-planets-love.md
  .changeset/tiny-owls-dress.md
  docs/src/pages/en/guides/markdown-content.md
  examples/with-markdown-shiki/.gitignore
  examples/with-markdown-shiki/.npmrc
  examples/with-markdown-shiki/.stackblitzrc
  examples/with-markdown-shiki/README.md
  examples/with-markdown-shiki/astro.config.mjs
  examples/with-markdown-shiki/package.json
  examples/with-markdown-shiki/public/favicon.ico
  examples/with-markdown-shiki/sandbox.config.json
  examples/with-markdown-shiki/src/layouts/main.astro
  examples/with-markdown-shiki/src/pages/index.md
  examples/with-markdown-shiki/src/styles/global.css
  examples/with-markdown-shiki/tsconfig.json
  packages/astro/components/Code.astro
  packages/astro/package.json
  packages/astro/test/astro-markdown-shiki.test.js
  packages/astro/test/fixtures/astro-markdown-shiki/src/layouts/content.astro
  packages/astro/test/fixtures/astro-markdown-shiki/src/pages/astro.astro
  packages/astro/test/fixtures/astro-markdown-shiki/src/pages/index.md
  packages/markdown/remark/package.json
  packages/markdown/remark/src/index.ts
  packages/markdown/remark/src/remark-shiki.ts
  packages/markdown/remark/src/types.ts
  yarn.lock
Labels: docs, test, markdown, i18n, example, core
