Repository withastro/astro, pull requests merged in 2022-08, with the labels that each got.

#4097 remove unused util polyfill dependency
  packages/astro/src/core/add/index.ts
  packages/astro/src/core/app/index.ts
  packages/astro/src/core/logger/console.ts
  packages/astro/src/core/logger/core.ts
  packages/astro/src/core/logger/node.ts
  packages/astro/src/core/preview/index.ts
  packages/astro/test/static-build.test.js
Labels: core

#4095 [MDX] Add `getHeadings` + generate anchor links
  .changeset/fifty-peas-admire.md
  packages/integrations/mdx/README.md
  packages/integrations/mdx/package.json
  packages/integrations/mdx/src/index.ts
  packages/integrations/mdx/src/rehype-collect-headings.ts
  packages/integrations/mdx/src/utils.ts
  packages/integrations/mdx/test/fixtures/mdx-get-headings/src/pages/pages.json.js
  packages/integrations/mdx/test/fixtures/mdx-get-headings/src/pages/test-with-jsx-expressions.mdx
  packages/integrations/mdx/test/fixtures/mdx-get-headings/src/pages/test.mdx
  packages/integrations/mdx/test/fixtures/mdx-rehype-plugins/src/pages/reading-time.json.js
  packages/integrations/mdx/test/fixtures/mdx-rehype-plugins/src/pages/space-ipsum.mdx
  packages/integrations/mdx/test/mdx-get-headings.test.js
  packages/integrations/mdx/test/mdx-rehype-plugins.test.js
  pnpm-lock.yaml
Labels: integration

#4112 Load configs with Vite when loading with Proload fails
  .changeset/dull-radios-sparkle.md
  packages/astro/src/core/config.ts
  packages/integrations/mdx/src/index.ts
  packages/integrations/mdx/test/fixtures/mdx-page/astro.config.ts
  packages/integrations/mdx/test/fixtures/mdx-page/package.json
  packages/integrations/mdx/test/mdx-page.test.js
  pnpm-lock.yaml
Labels: integration, core

#4117 Skip cloudflare CI test
  packages/integrations/cloudflare/test/basics.test.js
Labels: integration

#4119 Clarify README on Cloudflare adapter
  packages/integrations/cloudflare/README.md
Labels: integration

#4115 Do not crawl non-style deps imported by styles
  .changeset/weak-crabs-pump.md
  packages/astro/src/core/render/dev/vite.ts
Labels: core

#4105 Do not send body with HEAD and GET on node integration
  .changeset/seven-suits-sit.md
  packages/astro/src/core/app/node.ts
Labels: core

#4049 Add generic plugin for `page-ssr` injection
  .changeset/plenty-hats-grow.md
  packages/astro/src/core/build/generate.ts
  packages/astro/src/core/build/static-build.ts
  packages/astro/src/core/build/vite-plugin-ssr.ts
  packages/astro/src/core/create-vite.ts
  packages/astro/src/core/render/dev/index.ts
  packages/astro/src/vite-plugin-astro/index.ts
  packages/astro/src/vite-plugin-markdown/index.ts
  packages/astro/src/vite-plugin-scripts/page-ssr.ts
  packages/integrations/mdx/src/index.ts
Labels: integration, core

#4114 Refactor @astrojs/prism, fix Prism component import not working
  .changeset/slow-spiders-fly.md
  packages/astro-prism/Prism.astro
  packages/astro-prism/README.md
  packages/astro-prism/index.js
  packages/astro-prism/internal.d.ts
  packages/astro-prism/package.json
  packages/astro-prism/src/highlighter.ts
  packages/astro-prism/src/index.ts
  packages/astro-prism/src/plugin.ts
  packages/astro-prism/tsconfig.json
  packages/astro/package.json
  packages/integrations/mdx/package.json
  packages/integrations/mdx/src/remark-prism.ts
  packages/markdown/remark/package.json
  packages/markdown/remark/src/remark-prism.ts
  packages/webapi/mod.d.ts
  pnpm-lock.yaml
Labels: markdown, integration, core

#4096 Audit dependencies
  packages/astro/package.json
  packages/integrations/cloudflare/package.json
  packages/integrations/image/package.json
  packages/markdown/remark/package.json
  pnpm-lock.yaml
Labels: markdown, integration, core

#4124 Upgrade Vite to 3.0.4
  .changeset/smart-geese-grab.md
  packages/astro/package.json
  pnpm-lock.yaml
Labels: core

#4127 Remove renderer tag to fix a docs issue
  packages/integrations/mdx/package.json
Labels: integration

#4108 Allow globbed mdx files to have typed frontmatter
  .changeset/dirty-tables-report.md
  packages/astro/src/@types/astro.ts
Labels: core

#4131 Only rethrow renderer error when no renderer found
  .changeset/lazy-cameras-float.md
  packages/astro/src/runtime/server/index.ts
  packages/astro/test/fixtures/multiple-renderers/astro.config.mjs
  packages/astro/test/fixtures/multiple-renderers/package.json
  packages/astro/test/fixtures/multiple-renderers/renderers/one/index.mjs
  packages/astro/test/fixtures/multiple-renderers/renderers/one/package.json
  packages/astro/test/fixtures/multiple-renderers/renderers/one/server.mjs
  packages/astro/test/fixtures/multiple-renderers/renderers/two/index.mjs
  packages/astro/test/fixtures/multiple-renderers/renderers/two/package.json
  packages/astro/test/fixtures/multiple-renderers/renderers/two/server.mjs
  packages/astro/test/fixtures/multiple-renderers/src/pages/index.astro
  packages/astro/test/multiple-renderers.test.js
  pnpm-lock.yaml
Labels: core

#4125 Improve style HMR
  .changeset/funny-poems-learn.md
  packages/astro/src/core/messages.ts
  packages/astro/src/vite-plugin-astro/hmr.ts
  packages/astro/src/vite-plugin-astro/index.ts
Labels: core

#4063 Add mdx extension to tailwind content glob.
  .changeset/wicked-hairs-rescue.md
  examples/with-tailwindcss/tailwind.config.cjs
  packages/astro/e2e/fixtures/tailwindcss/tailwind.config.js
  packages/astro/src/core/add/index.ts
  packages/astro/test/fixtures/tailwindcss/tailwind.config.js
Labels: example, core

#4134 [MDX] Add `headings` and `frontmatter` to layout props
  .changeset/hip-glasses-beg.md
  packages/integrations/mdx/src/index.ts
  packages/integrations/mdx/test/fixtures/mdx-frontmatter/src/layouts/Base.astro
  packages/integrations/mdx/test/fixtures/mdx-frontmatter/src/pages/with-headings.mdx
  packages/integrations/mdx/test/mdx-frontmatter.test.js
Labels: integration

#4141 fix windows package export
  .changeset/neat-badgers-bow.md
  packages/astro/package.json
  packages/integrations/image/package.json
Labels: integration, core

#4149 Order server CSS the same as static
  .changeset/curvy-donuts-build.md
  packages/astro/src/core/build/vite-plugin-ssr.ts
  packages/astro/test/css-order.test.js
  packages/astro/test/fixtures/css-order/package.json
  packages/astro/test/fixtures/css-order/src/components/CommonHead.astro
  packages/astro/test/fixtures/css-order/src/pages/one.astro
  packages/astro/test/fixtures/css-order/src/pages/two.astro
  packages/astro/test/ssr-response.test.js
  pnpm-lock.yaml
Labels: core

#4155 Add `vite.build.cssTarget` support for CSS build
  .changeset/empty-eagles-reply.md
  packages/astro/src/core/build/static-build.ts
  packages/astro/src/vite-plugin-build-css/index.ts
  packages/astro/test/config-vite-css-target.test.js
  packages/astro/test/fixtures/config-vite-css-target/astro.config.mjs
  packages/astro/test/fixtures/config-vite-css-target/package.json
  packages/astro/test/fixtures/config-vite-css-target/src/pages/index.astro
  pnpm-lock.yaml
Labels: core

#4153 improve an error message for getstaticpaths
  .changeset/pretty-bananas-refuse.md
  packages/astro/src/core/render/route-cache.ts
  packages/astro/src/core/routing/index.ts
  packages/astro/src/core/routing/validation.ts
Labels: core

#4145 fix missing newline bug in mdx
  .changeset/shaggy-beds-itch.md
  packages/integrations/mdx/src/index.ts
  packages/integrations/mdx/test/fixtures/mdx-frontmatter/src/pages/index.mdx
Labels: integration

#4156 Include CSS when child component uses Astro.glob on page
  .changeset/long-toys-rule.md
  packages/astro/src/core/build/graph.ts
  packages/astro/src/core/build/static-build.ts
  packages/astro/src/core/build/vite-plugin-analyzer.ts
  packages/astro/src/core/build/vite-plugin-css.ts
  packages/astro/src/core/util.ts
  packages/astro/src/vite-plugin-build-css/resolve.ts
  packages/astro/test/fixtures/glob-pages-css/src/components/Footer.astro
  packages/astro/test/fixtures/glob-pages-css/src/components/Navbar.astro
  packages/astro/test/fixtures/glob-pages-css/src/pages/index.astro
  packages/astro/test/fixtures/glob-pages-css/src/pages/two.astro
  packages/astro/test/glob-pages-css.test.js
Labels: core

#4169 Fix double-escaping of non-highlighted code blocks in Astro-flavored Md
  .changeset/strong-hotels-cross.md
  packages/markdown/remark/src/rehype-escape.ts
  packages/markdown/remark/test/entities.test.js
Labels: markdown

#4158 Handle edge case in jsx-runtime
  .changeset/hungry-vans-deliver.md
  packages/astro/src/runtime/server/jsx.ts
  packages/integrations/mdx/test/fixtures/mdx-escape/src/components/Em.astro
  packages/integrations/mdx/test/fixtures/mdx-escape/src/components/P.astro
  packages/integrations/mdx/test/fixtures/mdx-escape/src/components/Title.astro
  packages/integrations/mdx/test/fixtures/mdx-escape/src/pages/html-tag.mdx
  packages/integrations/mdx/test/fixtures/mdx-escape/src/pages/index.mdx
  packages/integrations/mdx/test/mdx-escape.test.js
Labels: integration, core

#4162 Hide error overlay tip
  packages/astro/src/core/render/dev/index.ts
  packages/astro/src/vite-plugin-astro-server/index.ts
Labels: core

#4157 Fix duplicate CSS in `dev` mode
  .changeset/large-beds-cheer.md
  packages/astro/src/core/render/dev/index.ts
  packages/astro/src/runtime/client/hmr.ts
  packages/astro/test/0-css.test.js
  packages/astro/test/astro-markdown-css.test.js
  packages/astro/test/astro-partial-html.test.js
  packages/astro/test/component-library.test.js
Labels: core

#4154 Add `getViteConfig` helper
  .changeset/healthy-meals-wink.md
  examples/with-vitest/.gitignore
  examples/with-vitest/.npmrc
  examples/with-vitest/.stackblitzrc
  examples/with-vitest/README.md
  examples/with-vitest/astro.config.ts
  examples/with-vitest/package.json
  examples/with-vitest/public/favicon.ico
  examples/with-vitest/sandbox.config.json
  examples/with-vitest/src/pages/index.astro
  examples/with-vitest/test/basic.test.ts
  examples/with-vitest/tsconfig.json
  examples/with-vitest/vitest.config.ts
  packages/astro/config.d.ts
  packages/astro/config.mjs
  packages/astro/package.json
  packages/astro/src/core/create-vite.ts
  pnpm-lock.yaml
Labels: example, core

#4143 do not resolve renderer.serverEntrypoint url before loading it
  packages/astro/src/core/render/dev/index.ts
Labels: core

#4144 update test coverage to include more Node and Windows tests
  .github/workflows/ci.yml
  package.json
  turbo.json
Labels: 🚨 action

#4173 Fixes local image resolution in SSR builds on Windows
  .changeset/long-bees-promise.md
  packages/integrations/image/README.md
  packages/integrations/image/src/build/ssr.ts
  packages/integrations/image/src/endpoints/prod.ts
  packages/integrations/image/src/utils/images.ts
Labels: integration

#4174 Add test for mdx + React usage
  .changeset/metal-dodos-sin.md
  packages/integrations/mdx/test/fixtures/mdx-plus-react/astro.config.mjs
  packages/integrations/mdx/test/fixtures/mdx-plus-react/package.json
  packages/integrations/mdx/test/fixtures/mdx-plus-react/src/components/Component.jsx
  packages/integrations/mdx/test/fixtures/mdx-plus-react/src/pages/index.astro
  packages/integrations/mdx/test/mdx-plus-react.test.js
  packages/integrations/react/src/index.ts
  pnpm-lock.yaml
Labels: framework-react, integration

#4175 Update compiler version
  .changeset/cold-pens-mate.md
  packages/astro/package.json
  packages/astro/test/astro-doctype.test.js
  pnpm-lock.yaml
Labels: core

#4171 Move types to a .d.ts file inside examples projects
  examples/basics/src/env.d.ts
  examples/basics/tsconfig.json
  examples/blog/src/env.d.ts
  examples/blog/tsconfig.json
  examples/docs/src/env.d.ts
  examples/docs/tsconfig.json
  examples/env-vars/tsconfig.json
  examples/framework-alpine/src/env.d.ts
  examples/framework-alpine/tsconfig.json
  examples/framework-lit/src/env.d.ts
  examples/framework-lit/tsconfig.json
  examples/framework-multiple/src/env.d.ts
  examples/framework-multiple/tsconfig.json
  examples/framework-preact/src/env.d.ts
  examples/framework-preact/tsconfig.json
  examples/framework-react/src/env.d.ts
  examples/framework-react/tsconfig.json
  examples/framework-solid/src/env.d.ts
  examples/framework-solid/tsconfig.json
  examples/framework-svelte/src/env.d.ts
  examples/framework-svelte/tsconfig.json
  examples/framework-vue/src/env.d.ts
  examples/framework-vue/tsconfig.json
  examples/minimal/src/env.d.ts
  examples/minimal/tsconfig.json
  examples/non-html-pages/src/env.d.ts
  examples/non-html-pages/tsconfig.json
  examples/portfolio/src/env.d.ts
  examples/portfolio/tsconfig.json
  examples/ssr/src/env.d.ts
  examples/ssr/tsconfig.json
  examples/subpath/src/env.d.ts
  examples/subpath/tsconfig.json
  examples/with-markdown-plugins/src/env.d.ts
  examples/with-markdown-plugins/tsconfig.json
  examples/with-markdown-shiki/src/env.d.ts
  examples/with-markdown-shiki/tsconfig.json
  examples/with-mdx/src/env.d.ts
  examples/with-mdx/tsconfig.json
  examples/with-nanostores/src/env.d.ts
  examples/with-nanostores/tsconfig.json
  examples/with-tailwindcss/src/env.d.ts
  examples/with-tailwindcss/tsconfig.json
  examples/with-vite-plugin-pwa/src/env.d.ts
  examples/with-vite-plugin-pwa/tsconfig.json
Labels: example

#4180 Fix [Object object] in MDX output
  .changeset/purple-mirrors-smile.md
  packages/astro/src/runtime/server/index.ts
Labels: core

#4136 Support Fragment in MDX files
  .changeset/strong-cars-wash.md
  packages/astro/src/core/render/core.ts
Labels: core

#4140 feat(image): Add GIF -> WEBP support (#4139)
  .changeset/empty-sheep-march.md
  packages/integrations/image/src/loaders/sharp.ts
Labels: integration

#4176 Frontmatter injection for MD and MDX
  .changeset/cool-crabs-trade.md
  packages/astro/src/@types/astro.ts
  packages/astro/src/vite-plugin-markdown/index.ts
  packages/astro/src/vite-plugin-utils/index.ts
  packages/astro/test/astro-markdown-frontmatter-injection.test.js
  packages/astro/test/fixtures/astro-markdown-frontmatter-injection/astro.config.mjs
  packages/astro/test/fixtures/astro-markdown-frontmatter-injection/package.json
  packages/astro/test/fixtures/astro-markdown-frontmatter-injection/src/markdown-plugins.mjs
  packages/astro/test/fixtures/astro-markdown-frontmatter-injection/src/pages/glob.json.js
  packages/astro/test/fixtures/astro-markdown-frontmatter-injection/src/pages/page-1.md
  packages/astro/test/fixtures/astro-markdown-frontmatter-injection/src/pages/page-2.md
  packages/astro/test/fixtures/astro-markdown-frontmatter-injection/src/pages/with-overrides.md
  packages/astro/test/fixtures/astro-markdown/package.json
  packages/integrations/mdx/package.json
  packages/integrations/mdx/src/astro-data-utils.ts
  packages/integrations/mdx/src/index.ts
  packages/integrations/mdx/src/utils.ts
  packages/integrations/mdx/test/fixtures/mdx-frontmatter-injection/astro.config.mjs
  packages/integrations/mdx/test/fixtures/mdx-frontmatter-injection/package.json
  packages/integrations/mdx/test/fixtures/mdx-frontmatter-injection/src/markdown-plugins.mjs
  packages/integrations/mdx/test/fixtures/mdx-frontmatter-injection/src/pages/glob.json.js
  packages/integrations/mdx/test/fixtures/mdx-frontmatter-injection/src/pages/page-1.mdx
  packages/integrations/mdx/test/fixtures/mdx-frontmatter-injection/src/pages/page-2.mdx
  packages/integrations/mdx/test/fixtures/mdx-frontmatter-injection/src/pages/with-overrides.mdx
  packages/integrations/mdx/test/fixtures/mdx-rehype-plugins/src/pages/reading-time.json.js
  packages/integrations/mdx/test/fixtures/mdx-remark-plugins/src/pages/headings-glob.json.js
  packages/integrations/mdx/test/mdx-frontmatter-injection.test.js
  packages/integrations/mdx/test/mdx-rehype-plugins.test.js
  packages/markdown/remark/src/index.ts
  packages/markdown/remark/src/remark-initialize-astro-data.ts
  packages/markdown/remark/src/types.ts
  pnpm-lock.yaml
Labels: markdown, integration, core

#4147 Fix external astro image usage
  .changeset/rude-falcons-smash.md
  packages/integrations/image/src/lib/get-image.ts
Labels: integration

#4146 fix: export all of @astrojs/image dist
  .changeset/six-masks-divide.md
  packages/integrations/image/package.json
Labels: integration

#4181 [MDX] Prevent overriding `collect-headings` plugin
  .changeset/afraid-rules-boil.md
  packages/integrations/mdx/README.md
  packages/integrations/mdx/src/index.ts
  packages/integrations/mdx/test/mdx-rehype-plugins.test.js
Labels: integration

#4179 Add a TypeScript step to `create-astro`
  .changeset/ninety-planets-work.md
  packages/create-astro/package.json
  packages/create-astro/src/index.ts
  packages/create-astro/tsconfigs/tsconfig.strict.json
  packages/create-astro/tsconfigs/tsconfig.stricter.json
Labels: create-astro

#4098 update example template default scripts
  examples/basics/README.md
  examples/basics/package.json
  examples/blog/README.md
  examples/blog/package.json
  examples/component/README.md
  examples/component/demo/package.json
  examples/docs/README.md
  examples/docs/package.json
  examples/env-vars/package.json
  examples/framework-alpine/package.json
  examples/framework-lit/package.json
  examples/framework-multiple/package.json
  examples/framework-preact/package.json
  examples/framework-react/package.json
  examples/framework-solid/package.json
  examples/framework-svelte/package.json
  examples/framework-vue/package.json
  examples/minimal/README.md
  examples/minimal/package.json
  examples/non-html-pages/README.md
  examples/non-html-pages/package.json
  examples/portfolio/README.md
  examples/portfolio/package.json
  examples/ssr/package.json
  examples/subpath/README.md
  examples/subpath/package.json
  examples/with-markdown-plugins/package.json
  examples/with-markdown-shiki/package.json
  examples/with-mdx/package.json
  examples/with-nanostores/package.json
  examples/with-tailwindcss/package.json
  examples/with-vite-plugin-pwa/README.md
  examples/with-vite-plugin-pwa/package.json
  examples/with-vitest/package.json
Labels: example

#4183 Fix relaxed and default TypeScript settings not working
  .changeset/itchy-hats-exist.md
  packages/create-astro/src/index.ts
Labels: create-astro

#4187 docs: Modify legacy flag description
  packages/astro/src/@types/astro.ts
Labels: core

#4195 Fix client build sourcemap generation
  .changeset/strong-plants-tell.md
  packages/astro/src/core/build/static-build.ts
  packages/astro/src/vite-plugin-astro/index.ts
  packages/astro/src/vite-plugin-env/index.ts
  packages/astro/test/fixtures/sourcemap/astro.config.mjs
  packages/astro/test/fixtures/sourcemap/package.json
  packages/astro/test/fixtures/sourcemap/src/components/Counter.jsx
  packages/astro/test/fixtures/sourcemap/src/pages/index.astro
  packages/astro/test/sourcemap.test.js
  pnpm-lock.yaml
Labels: core

#4193 doc: tailwind: link to import doc for applyBaseStyles
  packages/integrations/tailwind/README.md
Labels: integration

#4189 fix: astro preview does not serve custom 404 (4113)
  .changeset/thick-ducks-sparkle.md
  packages/astro/src/core/preview/index.ts
Labels: core

#4198 [docs] remove details tags from integration READMEs
  packages/integrations/deno/README.md
  packages/integrations/image/README.md
  packages/integrations/mdx/README.md
  packages/integrations/netlify/README.md
  packages/integrations/partytown/README.md
  packages/integrations/preact/README.md
  packages/integrations/prefetch/README.md
  packages/integrations/sitemap/README.md
  packages/integrations/tailwind/README.md
Labels: framework-preact, integration

#3806 feat: add support to `@astrojs/cloudflare` directory deploy mode
  .changeset/proud-moose-push.md
  packages/integrations/cloudflare/README.md
  packages/integrations/cloudflare/package.json
  packages/integrations/cloudflare/src/index.ts
  packages/integrations/cloudflare/src/server.advanced.ts
  packages/integrations/cloudflare/src/server.directory.ts
Labels: integration

#4012 Add Astro.generator
  .changeset/happy-peas-attend.md
  examples/basics/src/layouts/Layout.astro
  examples/blog/src/components/BaseHead.astro
  examples/component/demo/src/pages/index.astro
  examples/docs/src/components/HeadCommon.astro
  examples/env-vars/src/pages/index.astro
  examples/framework-alpine/src/pages/index.astro
  examples/framework-multiple/src/pages/index.astro
  examples/framework-preact/src/pages/index.astro
  examples/framework-react/src/pages/index.astro
  examples/framework-solid/src/pages/index.astro
  examples/framework-svelte/src/pages/index.astro
  examples/framework-vue/src/pages/index.astro
  examples/minimal/src/pages/index.astro
  examples/non-html-pages/src/pages/index.astro
  examples/portfolio/src/components/MainHead.astro
  examples/subpath/src/pages/index.astro
  examples/with-nanostores/src/layouts/Layout.astro
  examples/with-tailwindcss/src/pages/index.astro
  examples/with-vite-plugin-pwa/src/pages/index.astro
  packages/astro/src/@types/astro.ts
  packages/astro/src/runtime/server/index.ts
  packages/astro/test/astro-generator.test.js
  packages/astro/test/fixtures/astro-generator/package.json
  packages/astro/test/fixtures/astro-generator/src/pages/index.astro
  pnpm-lock.yaml
Labels: example, core

#4201 Refactor runtime
  .changeset/shy-dogs-return.md
  packages/astro/src/runtime/server/astro-global.ts
  packages/astro/src/runtime/server/endpoint.ts
  packages/astro/src/runtime/server/hydration.ts
  packages/astro/src/runtime/server/index.ts
  packages/astro/src/runtime/server/render/any.ts
  packages/astro/src/runtime/server/render/astro.ts
  packages/astro/src/runtime/server/render/common.ts
  packages/astro/src/runtime/server/render/component.ts
  packages/astro/src/runtime/server/render/dom.ts
  packages/astro/src/runtime/server/render/head.ts
  packages/astro/src/runtime/server/render/index.ts
  packages/astro/src/runtime/server/render/page.ts
  packages/astro/src/runtime/server/render/types.ts
  packages/astro/src/runtime/server/render/util.ts
Labels: core

#4202 Add Windows back to smoke tests
  .github/workflows/ci.yml
Labels: 🚨 action

#4205 [MDX] Add frontmatter injection to README
  .changeset/honest-bottles-drum.md
  packages/integrations/mdx/README.md
Labels: integration

#4203 Ensure JSX does not reference server entrypoint
  .changeset/slimy-parrots-exist.md
  packages/astro/src/jsx/babel.ts
  packages/astro/src/runtime/server/index.ts
  packages/astro/src/runtime/server/jsx.ts
Labels: core

#4206 Update @astrojs/image README with mention of the new env.d.ts file
  packages/integrations/image/README.md
Labels: integration

#4204 [MDX] Remove `frontmatterOptions`
  .changeset/thin-houses-play.md
  packages/integrations/mdx/README.md
  packages/integrations/mdx/package.json
  packages/integrations/mdx/src/astro-data-utils.ts
  packages/integrations/mdx/src/index.ts
  packages/integrations/mdx/test/fixtures/mdx-custom-frontmatter-name/src/pages/glob.json.js
  packages/integrations/mdx/test/fixtures/mdx-custom-frontmatter-name/src/pages/index.mdx
  packages/integrations/mdx/test/mdx-frontmatter.test.js
  pnpm-lock.yaml
Labels: integration

#4212 [Docs READMEs] remove errant tags from details sweep
  packages/integrations/image/README.md
  packages/integrations/mdx/README.md
Labels: integration

#4222 [MD] Add `rawContent` and `compiledContent` to MD layout props
  .changeset/warm-socks-exercise.md
  packages/astro/src/vite-plugin-markdown/index.ts
  packages/astro/test/astro-markdown.test.js
  packages/astro/test/fixtures/astro-markdown/src/layouts/Base.astro
Labels: core

#4208 Markdown component: fix package name in readme.md
  .changeset/dry-deers-vanish.md
  packages/markdown/component/readme.md
Labels: markdown

#4221 Updated @astrojs/image README.md missing formats prop as subtitle
  .changeset/fast-drinks-visit.md
  packages/integrations/image/README.md
Labels: integration

#4225 feat: Support `-y` in `astro add`
  .changeset/two-ducks-end.md
  packages/astro/src/core/add/index.ts
Labels: core

#4234 Remove dev server during build
  .changeset/silly-chairs-pretend.md
  packages/astro/src/core/build/index.ts
  packages/astro/src/core/build/page-data.ts
  packages/astro/src/core/errors.ts
Labels: core

#4213 Fix preact compat support for libraries
  .changeset/tall-eels-wink.md
  .changeset/tall-walls-visit.md
  packages/astro/package.json
  packages/astro/test/fixtures/preact-compat-component/astro.config.mjs
  packages/astro/test/fixtures/preact-compat-component/package.json
  packages/astro/test/fixtures/preact-compat-component/packages/react-lib/index.js
  packages/astro/test/fixtures/preact-compat-component/packages/react-lib/package.json
  packages/astro/test/fixtures/preact-compat-component/src/components/Counter.jsx
  packages/astro/test/fixtures/preact-compat-component/src/pages/index.astro
  packages/astro/test/preact-compat-component.test.js
  packages/integrations/preact/src/index.ts
  pnpm-lock.yaml
Labels: framework-preact, integration, core

#4241 Update code samples to match release version
  packages/integrations/lit/README.md
Labels: framework-lit, integration

#4215 Fix solid recursion bug
  packages/astro/e2e/fixtures/solid-recurse/astro.config.mjs
  packages/astro/e2e/fixtures/solid-recurse/package.json
  packages/astro/e2e/fixtures/solid-recurse/src/components/Counter.jsx
  packages/astro/e2e/fixtures/solid-recurse/src/components/WrapperA.jsx
  packages/astro/e2e/fixtures/solid-recurse/src/components/WrapperB.jsx
  packages/astro/e2e/fixtures/solid-recurse/src/pages/index.astro
  packages/astro/e2e/solid-recurse.test.js
  packages/astro/src/@types/astro.ts
  packages/astro/src/runtime/server/hydration.ts
  packages/astro/src/runtime/server/render/component.ts
  packages/integrations/solid/package.json
  packages/integrations/solid/server.js
  packages/integrations/solid/src/client.ts
  packages/integrations/solid/src/context.ts
  packages/integrations/solid/src/server.ts
  packages/integrations/solid/src/types.ts
  pnpm-lock.yaml
Labels: framework-solid, integration, core

#4232 [Docs]: Update Cloudflare README
  .changeset/modern-papayas-rhyme.md
  packages/integrations/cloudflare/README.md
Labels: integration

#4240 Include astro components for HMR invalidation
  .changeset/nasty-gifts-push.md
  packages/astro/e2e/fixtures/invalidate-script-deps/package.json
  packages/astro/e2e/fixtures/invalidate-script-deps/src/pages/index.astro
  packages/astro/e2e/fixtures/invalidate-script-deps/src/scripts/heading.js
  packages/astro/e2e/invalidate-script-deps.test.js
  packages/astro/src/vite-plugin-astro/hmr.ts
  packages/astro/src/vite-plugin-astro/index.ts
  packages/astro/src/vite-plugin-astro/query.ts
  pnpm-lock.yaml
Labels: core

#4237 [MDX] Astro.props.content -> frontmatter
  .changeset/neat-bats-heal.md
  packages/integrations/mdx/README.md
Labels: integration

#4247 Return 404 status code for 404.astro in SSR
  .changeset/empty-bottles-allow.md
  packages/astro/src/core/app/index.ts
  packages/astro/src/core/app/node.ts
  packages/astro/test/ssr-404-500-pages.test.js
  packages/astro/test/test-adapter.js
Labels: core

#4239 Simulate Vite resolve id to url
  .changeset/nervous-socks-sin.md
  packages/astro/src/core/render/dev/index.ts
  packages/astro/src/core/util.ts
Labels: core

#4248 Mdx/plugin unshift
  .changeset/fuzzy-emus-develop.md
  packages/integrations/mdx/src/index.ts
Labels: integration

#4253 Do not cancel-in-progress on main
  .github/workflows/ci.yml
Labels: 🚨 action

#4256 Fix spelling mistake in @astrojs/image docs
  packages/integrations/image/README.md
Labels: integration

#4255 [MDX] Pass injected frontmatter to layouts
  .changeset/tasty-masks-draw.md
  packages/integrations/mdx/src/astro-data-utils.ts
  packages/integrations/mdx/src/index.ts
  packages/integrations/mdx/test/fixtures/mdx-frontmatter-injection/src/layouts/Base.astro
  packages/integrations/mdx/test/fixtures/mdx-frontmatter-injection/src/pages/page-1.mdx
  packages/integrations/mdx/test/fixtures/mdx-frontmatter-injection/src/pages/page-2.mdx
  packages/integrations/mdx/test/mdx-frontmatter-injection.test.js
Labels: integration

#4271 Update CI timeout to 25 mins
  .github/workflows/ci.yml
Labels: 🚨 action

#4279 Improve DX when astrojs/image isn't properly configured
  .changeset/real-feet-rule.md
  .changeset/strange-meals-march.md
  packages/astro/src/core/render/dev/vite.ts
  packages/integrations/image/src/lib/get-image.ts
Labels: integration, core

#4274 Add 404 routing logic to Netlify redirects file
  .changeset/orange-pens-live.md
  packages/integrations/netlify/src/shared.ts
  packages/integrations/netlify/test/functions/404.test.js
  packages/integrations/netlify/test/functions/fixtures/404/src/pages/404.astro
  packages/integrations/netlify/test/functions/fixtures/404/src/pages/index.astro
Labels: integration

#4273 Fix build output for endpoints route
  .changeset/rude-birds-ring.md
  packages/astro/src/core/build/generate.ts
  packages/astro/src/core/util.ts
Labels: core

#4270 Fix `astro add` with third-party integrations
  .changeset/wise-cups-greet.md
  packages/astro/src/core/add/index.ts
Labels: core

#4267 Clarify preact/compat integration docs
  .changeset/long-lobsters-ring.md
  packages/integrations/preact/README.md
Labels: framework-preact, integration

#4280 Split release script out of CI script
  .github/workflows/ci.yml
  .github/workflows/release.yml
Labels: 🚨 action

#4281 Make imports inside env.d.ts relative for monorepo usage
  packages/astro/env.d.ts
Labels: core

#4282 fix(#4194): remove Astro runtime from browser
  .changeset/heavy-nails-juggle.md
  packages/astro/src/vite-plugin-jsx/index.ts
Labels: core

#4288 Ensure hydration scripts inside of slots render ASAP
  .changeset/four-students-rescue.md
  packages/astro/src/@types/astro.ts
  packages/astro/src/core/render/result.ts
  packages/astro/src/runtime/server/hydration.ts
  packages/astro/src/runtime/server/index.ts
  packages/astro/src/runtime/server/jsx.ts
  packages/astro/src/runtime/server/render/any.ts
  packages/astro/src/runtime/server/render/astro.ts
  packages/astro/src/runtime/server/render/common.ts
  packages/astro/src/runtime/server/render/component.ts
  packages/astro/src/runtime/server/render/index.ts
  packages/astro/src/runtime/server/render/page.ts
  packages/astro/src/runtime/server/render/types.ts
  packages/astro/test/fixtures/hydration-race/src/components/Layout.astro
  packages/astro/test/fixtures/hydration-race/src/pages/slot.astro
  packages/astro/test/hydration-race.test.js
Labels: core

#4265 Prevents automatic trailingSlash behavior with getStaticPaths
  .changeset/fluffy-otters-guess.md
  packages/astro/e2e/solid-recurse.test.js
  packages/astro/src/core/build/generate.ts
  packages/astro/src/core/routing/manifest/generator.ts
  packages/astro/test/astro-get-static-paths.test.js
  packages/astro/test/fixtures/astro-get-static-paths/src/pages/food/[name].astro
Labels: core

#4289 [astro add] Set `output: 'server'` when adding adapter
  .changeset/witty-bears-joke.md
  packages/astro/src/core/add/index.ts
Labels: core

#4272 Fix namespaced component usage in MDX
  .changeset/late-tips-study.md
  packages/astro/e2e/fixtures/namespaced-component/astro.config.mjs
  packages/astro/e2e/fixtures/namespaced-component/package.json
  packages/astro/e2e/fixtures/namespaced-component/src/components/PreactCounter.tsx
  packages/astro/e2e/fixtures/namespaced-component/src/pages/index.astro
  packages/astro/e2e/namespaced-component.test.js
  packages/astro/package.json
  packages/astro/src/jsx/babel.ts
  packages/astro/src/runtime/server/astro-island.ts
  packages/astro/src/runtime/server/hydration.ts
  packages/integrations/mdx/test/fixtures/mdx-namespace/astro.config.mjs
  packages/integrations/mdx/test/fixtures/mdx-namespace/package.json
  packages/integrations/mdx/test/fixtures/mdx-namespace/src/components/Component.jsx
  packages/integrations/mdx/test/fixtures/mdx-namespace/src/pages/object.mdx
  packages/integrations/mdx/test/fixtures/mdx-namespace/src/pages/star.mdx
  packages/integrations/mdx/test/mdx-namespace.test.js
  pnpm-lock.yaml
Labels: integration, core

#4268 [MDX] Fix remaining inconsistencies with Markdown
  .changeset/empty-parents-lie.md
  packages/astro/env.d.ts
  packages/astro/src/@types/astro.ts
  packages/astro/src/vite-plugin-markdown/index.ts
  packages/integrations/mdx/src/astro-data-utils.ts
  packages/integrations/mdx/src/index.ts
  packages/integrations/mdx/test/fixtures/mdx-component/src/pages/glob.astro
  packages/integrations/mdx/test/fixtures/mdx-frontmatter/src/layouts/Base.astro
  packages/integrations/mdx/test/mdx-component.test.js
  packages/integrations/mdx/test/mdx-frontmatter.test.js
Labels: integration, core

#4294 [@examples/docs] Fix table of contents
  examples/docs/src/components/HeadSEO.astro
  examples/docs/src/components/PageContent/PageContent.astro
  examples/docs/src/components/RightSidebar/RightSidebar.astro
  examples/docs/src/layouts/MainLayout.astro
Labels: example

#4283 Update: blog template
  examples/blog/README.md
  examples/blog/astro.config.mjs
  examples/blog/package.json
  examples/blog/public/assets/blog/introducing-astro.jpg
  examples/blog/public/astro.svg
  examples/blog/public/favicon.ico
  examples/blog/public/placeholder-social.jpg
  examples/blog/public/social.png
  examples/blog/src/assets/placeholder-about.jpg
  examples/blog/src/assets/placeholder-hero.jpg
  examples/blog/src/components/Author.astro
  examples/blog/src/components/BaseHead.astro
  examples/blog/src/components/BlogPostPreview.astro
  examples/blog/src/components/FollowMe.astro
  examples/blog/src/components/Footer.astro
  examples/blog/src/components/Header.astro
  examples/blog/src/components/HeaderLink.astro
  examples/blog/src/components/LikeButton.tsx
  examples/blog/src/config.ts
  examples/blog/src/layouts/BlogPost.astro
  examples/blog/src/pages/about.md
  examples/blog/src/pages/blog.astro
  examples/blog/src/pages/blog/first-post.md
  examples/blog/src/pages/blog/markdown-style-guide.md
  examples/blog/src/pages/blog/second-post.md
  examples/blog/src/pages/blog/third-post.md
  examples/blog/src/pages/blog/using-mdx.mdx
  examples/blog/src/pages/index.astro
  examples/blog/src/pages/posts/interactive-content.md
  examples/blog/src/pages/posts/static-content.md
  examples/blog/src/styles/blog.css
  examples/blog/src/styles/global.css
  pnpm-lock.yaml
Labels: example

#4284 Prevent "preview" from running if output mode is set to server
  .changeset/yellow-insects-add.md
  packages/astro/src/cli/index.ts
  packages/astro/src/core/preview/index.ts
  packages/astro/test/cli.test.js
Labels: core

#4303 add missing word in image integration-guide
  packages/integrations/image/README.md
Labels: integration

#4305 Remove: references to Lit
  examples/framework-multiple/astro.config.mjs
Labels: example

#4302 Revert "Ensure hydration scripts inside of slots render ASAP (#4288)"
  .changeset/khaki-dots-press.md
  packages/astro/src/@types/astro.ts
  packages/astro/src/core/render/result.ts
  packages/astro/src/runtime/server/hydration.ts
  packages/astro/src/runtime/server/index.ts
  packages/astro/src/runtime/server/jsx.ts
  packages/astro/src/runtime/server/render/any.ts
  packages/astro/src/runtime/server/render/astro.ts
  packages/astro/src/runtime/server/render/common.ts
  packages/astro/src/runtime/server/render/component.ts
  packages/astro/src/runtime/server/render/index.ts
  packages/astro/src/runtime/server/render/page.ts
  packages/astro/src/runtime/server/render/types.ts
  packages/astro/test/fixtures/hydration-race/src/components/Layout.astro
  packages/astro/test/fixtures/hydration-race/src/pages/slot.astro
  packages/astro/test/hydration-race.test.js
Labels: core

#4322 Remove Image component from blog theme until stackblitz supports
  examples/blog/README.md
  examples/blog/astro.config.mjs
  examples/blog/package.json
  examples/blog/public/placeholder-about.jpg
  examples/blog/public/placeholder-hero.jpg
  examples/blog/public/placeholder-social.jpg
  examples/blog/src/assets/placeholder-about.jpg
  examples/blog/src/assets/placeholder-hero.jpg
  examples/blog/src/layouts/BlogPost.astro
  examples/blog/src/pages/about.md
  examples/blog/src/pages/blog.astro
  examples/blog/src/pages/blog/first-post.md
  examples/blog/src/pages/blog/markdown-style-guide.md
  examples/blog/src/pages/blog/second-post.md
  examples/blog/src/pages/blog/third-post.md
  examples/blog/src/pages/blog/using-mdx.mdx
  examples/blog/src/pages/index.astro
  examples/blog/src/pages/rss.xml.js
  pnpm-lock.yaml
Labels: example

#4314 docs: specify lang for a codeblock
  packages/integrations/preact/README.md
  packages/integrations/turbolinks/README.md
  packages/webapi/README.md
Labels: framework-preact, integration

#4308 docs: fixed typo in the tailwind integration docs
  packages/integrations/tailwind/README.md
Labels: integration

#4292 [MDX] Switch from Shiki Twoslash -> Astro Markdown highlighter
  .changeset/grumpy-wombats-laugh.md
  packages/integrations/mdx/README.md
  packages/integrations/mdx/package.json
  packages/integrations/mdx/src/index.ts
  packages/integrations/mdx/src/remark-shiki.ts
  packages/integrations/mdx/test/mdx-syntax-highlighting.test.js
  pnpm-lock.yaml
Labels: integration

#4327 Use auto height on blog template
  examples/blog/src/styles/global.css
Labels: example

#4334 Fix double injecting of head content in md pages
  .changeset/hip-bobcats-divide.md
  packages/astro/src/runtime/server/render/astro.ts
  packages/astro/src/runtime/server/render/component.ts
  packages/astro/src/runtime/server/render/page.ts
  packages/astro/src/vite-plugin-markdown/index.ts
  packages/astro/test/fixtures/head-injection-md/package.json
  packages/astro/test/fixtures/head-injection-md/src/components/Layout.astro
  packages/astro/test/fixtures/head-injection-md/src/pages/index.md
  packages/astro/test/head-injection-md.test.js
  pnpm-lock.yaml
Labels: core

#4329 SSR doesn't need to block multiple routes that match the same URL
  .changeset/orange-llamas-glow.md
  packages/astro/src/vite-plugin-astro-server/index.ts
Labels: core

#4340 integrations: update recommended method for running astro add
  packages/integrations/image/README.md
  packages/integrations/lit/README.md
  packages/integrations/mdx/README.md
  packages/integrations/partytown/README.md
  packages/integrations/preact/README.md
  packages/integrations/prefetch/README.md
  packages/integrations/react/README.md
  packages/integrations/sitemap/README.md
  packages/integrations/solid/README.md
  packages/integrations/svelte/README.md
  packages/integrations/tailwind/README.md
  packages/integrations/turbolinks/README.md
  packages/integrations/vue/README.md
Labels: framework-svelte, framework-vue, framework-react, framework-preact, framework-solid, framework-lit, integration

#4347 Fix: TS lint on `MDXLayoutProps`
  .changeset/thick-spiders-try.md
  packages/astro/src/@types/astro.ts
Labels: core

#4324 Don’t use Buffer.byteLength() as Deno can’t use it
  .changeset/green-schools-pump.md
  packages/astro/src/runtime/server/render/page.ts
  packages/integrations/deno/test/basics.test.js
  packages/integrations/deno/test/fixtures/basics/astro.config.mjs
  packages/integrations/deno/test/fixtures/basics/package.json
  packages/integrations/deno/test/fixtures/basics/src/pages/markdown.md
  packages/integrations/deno/test/fixtures/basics/src/pages/mdx.mdx
  pnpm-lock.yaml
Labels: integration, core

#4362 Fallback to undefined rather than false when resolving CLI flags
  .changeset/few-mayflies-invent.md
  packages/astro/src/core/config.ts
Labels: core

#4360 Update example blog post markdown-style-guide.md to use correct image extension
  examples/blog/src/pages/blog/markdown-style-guide.md
Labels: example

#4344 Refactor static build config merge
  .changeset/giant-ants-smoke.md
  packages/astro/src/core/build/static-build.ts
Labels: core

#4356 Provide correct MIME type for dynamic endpoint routes in dev
  .changeset/six-jars-push.md
  packages/astro/src/vite-plugin-astro-server/index.ts
  packages/astro/test/dev-routing.test.js
  packages/astro/test/fixtures/with-endpoint-routes/src/pages/images/[image].svg.ts
  packages/astro/test/fixtures/with-endpoint-routes/src/pages/images/static.svg.ts
Labels: core

#4354 Testing perf improvements for e2e tests
  packages/astro/e2e/astro-component.test.js
  packages/astro/e2e/client-only.test.js
  packages/astro/e2e/error-react-spectrum.test.js
  packages/astro/e2e/error-sass.test.js
  packages/astro/e2e/errors.test.js
  packages/astro/e2e/invalidate-script-deps.test.js
  packages/astro/e2e/lit-component.test.js
  packages/astro/e2e/multiple-frameworks.test.js
  packages/astro/e2e/namespaced-component.test.js
  packages/astro/e2e/nested-in-preact.test.js
  packages/astro/e2e/nested-in-react.test.js
  packages/astro/e2e/nested-in-solid.test.js
  packages/astro/e2e/nested-in-svelte.test.js
  packages/astro/e2e/nested-in-vue.test.js
  packages/astro/e2e/nested-recursive.test.js
  packages/astro/e2e/nested-styles.test.js
  packages/astro/e2e/pass-js.test.js
  packages/astro/e2e/shared-component-tests.js
  packages/astro/e2e/solid-recurse.test.js
  packages/astro/e2e/tailwindcss.test.js
  packages/astro/e2e/test-utils.js
  packages/astro/e2e/ts-resolution.test.js
Labels: core

#4364 Preserve all error stack lines
  .changeset/rare-comics-roll.md
  packages/astro/src/core/errors.ts
  packages/astro/src/core/messages.ts
Labels: core

#4382 Fix typo in the docs example
  examples/docs/src/components/LeftSidebar/LeftSidebar.astro
Labels: example

#4394 Fix typo in stricter tsconfig
  packages/create-astro/tsconfigs/tsconfig.stricter.json
Labels: create-astro

#4375 Fix race condition with directive definitions
  .changeset/smooth-nails-remain.md
  packages/astro/e2e/fixtures/hydration-race/astro.config.mjs
  packages/astro/e2e/fixtures/hydration-race/package.json
  packages/astro/e2e/fixtures/hydration-race/src/components/Deeper.astro
  packages/astro/e2e/fixtures/hydration-race/src/components/Layout.astro
  packages/astro/e2e/fixtures/hydration-race/src/components/One.jsx
  packages/astro/e2e/fixtures/hydration-race/src/components/Wrapper.astro
  packages/astro/e2e/fixtures/hydration-race/src/pages/slot.astro
  packages/astro/e2e/hydration-race.test.js
  packages/astro/src/runtime/client/idle.ts
  packages/astro/src/runtime/client/load.ts
  packages/astro/src/runtime/client/media.ts
  packages/astro/src/runtime/client/only.ts
  packages/astro/src/runtime/client/visible.ts
  packages/astro/src/runtime/server/astro-island.ts
  pnpm-lock.yaml
Labels: core

#4415 Bump Vite to 3.0.9
  .changeset/big-cougars-jam.md
  packages/astro/package.json
  pnpm-lock.yaml
Labels: core

#4421 fix: correctly add `react-dom` alias to Vercel edge
  .changeset/heavy-pants-change.md
  packages/integrations/vercel/src/edge/adapter.ts
Labels: integration

#4299 Running Astro as SSG on Vercel without adapter
  packages/integrations/vercel/README.md
Labels: integration

#4402 Updated Express code to serve assets
  packages/integrations/node/README.md
Labels: integration

#4353 Include note about Tailwind per-component errors using '@apply'
  packages/integrations/tailwind/README.md
Labels: integration

#4405 refactor the JSX plugin, improve performance
  .changeset/silver-dragons-run.md
  packages/astro/src/vite-plugin-jsx/index.ts
Labels: core

#4406 add an alpine integration and update example
  .changeset/purple-guests-fetch.md
  examples/framework-alpine/astro.config.mjs
  examples/framework-alpine/package.json
  examples/framework-alpine/src/pages/index.astro
  packages/integrations/alpinejs/README.md
  packages/integrations/alpinejs/package.json
  packages/integrations/alpinejs/src/index.ts
  packages/integrations/alpinejs/tsconfig.json
  pnpm-lock.yaml
Labels: example, integration

#4417 chore(basics): update README folder structure
  examples/basics/README.md
Labels: example

#4370 fix: vercel static export path
  packages/integrations/vercel/package.json
Labels: integration

#4342 [@astrojs/image] adds a logger to the the image integration
  .changeset/itchy-crews-care.md
  packages/integrations/image/README.md
  packages/integrations/image/package.json
  packages/integrations/image/src/build/ssg.ts
  packages/integrations/image/src/index.ts
  packages/integrations/image/src/utils/logger.ts
  packages/integrations/image/test/fixtures/basic-image/astro.config.mjs
  packages/integrations/image/test/fixtures/basic-picture/astro.config.mjs
  packages/integrations/image/test/fixtures/rotation/astro.config.mjs
  pnpm-lock.yaml
Labels: integration

#4338 [@astrojs/image] Handle query params in remote image URLs during SSG builds
  .changeset/chatty-ants-shop.md
  packages/integrations/image/src/utils/paths.ts
  packages/integrations/image/test/fixtures/basic-image/src/pages/index.astro
  packages/integrations/image/test/image-ssg.test.js
  packages/integrations/image/test/image-ssr.test.js
Labels: integration

#4428 Improve MDX glob perf - move Layout to async import
  .changeset/kind-onions-reply.md
  packages/integrations/mdx/src/astro-data-utils.ts
Labels: integration

#4427 fix (core): allow falsy values in astro config integrations arrays
  .changeset/eleven-shoes-lie.md
  packages/astro/src/@types/astro.ts
Labels: core

#4385 Fix invalid hook usage for exports
  .changeset/flat-ads-lay.md
  packages/astro/src/vite-plugin-jsx/tag.ts
Labels: core, p5-urgent

#4426 Ensure index pages are generated on paginated results
  .changeset/odd-elephants-remember.md
  packages/astro/src/core/build/generate.ts
  packages/astro/test/fixtures/get-static-paths-pages/package.json
  packages/astro/test/fixtures/get-static-paths-pages/src/pages/[...page].astro
  packages/astro/test/get-static-paths-pages.test.js
  pnpm-lock.yaml
Labels: core

#4430 Fix `astro add @example-org/integration`
  .changeset/loud-eagles-do.md
  packages/astro/src/core/add/index.ts
Labels: core

#4330 Warn hydration directive for Astro components in JSX
  .changeset/eight-adults-guess.md
  packages/astro/src/jsx/babel.ts
Labels: core

#4441 Allow string as a valid value for the target attribute
  .changeset/nice-mice-teach.md
  packages/astro/astro-jsx.d.ts
Labels: core

#4443 Fix MDX style imports when layout is not applied
  .changeset/hungry-pens-develop.md
  packages/integrations/mdx/src/index.ts
  packages/integrations/mdx/test/fixtures/mdx-page/src/pages/index.mdx
  packages/integrations/mdx/test/fixtures/mdx-page/src/styles.css
  packages/integrations/mdx/test/mdx-page.test.js
Labels: integration

#4446 Use CSS depth to sort CSS in production
  .changeset/nine-pants-leave.md
  packages/astro/src/core/build/generate.ts
  packages/astro/src/core/build/graph.ts
  packages/astro/src/core/build/internal.ts
  packages/astro/src/core/build/page-data.ts
  packages/astro/src/core/build/types.ts
  packages/astro/src/core/build/vite-plugin-analyzer.ts
  packages/astro/src/core/build/vite-plugin-css.ts
  packages/astro/src/core/build/vite-plugin-ssr.ts
  packages/astro/test/css-order.test.js
  packages/astro/test/fixtures/css-order/src/pages/two.astro
Labels: core

#4445 Add logs for long-running integration hooks
  .changeset/four-worms-wonder.md
  packages/astro/src/core/build/index.ts
  packages/astro/src/core/build/static-build.ts
  packages/astro/src/core/build/vite-plugin-ssr.ts
  packages/astro/src/core/create-vite.ts
  packages/astro/src/core/dev/index.ts
  packages/astro/src/integrations/index.ts
  packages/astro/src/vite-plugin-integrations-container/index.ts
Labels: core

#4422 Refactor CSS preprocess and HMR
  .changeset/tricky-melons-grin.md
  packages/astro/src/vite-plugin-astro/compile.ts
  packages/astro/src/vite-plugin-astro/hmr.ts
  packages/astro/src/vite-plugin-astro/index.ts
  packages/astro/src/vite-plugin-astro/styles.ts
  packages/astro/src/vite-plugin-markdown-legacy/index.ts
Labels: core

#4449 Remove debugger statements
  packages/astro/src/core/build/vite-plugin-css.ts
Labels: core

#4442 feat: add screenshots to official theme readme files
  examples/basics/README.md
  examples/blog/README.md
  examples/docs/README.md
  examples/portfolio/README.md
Labels: example

#4451 Fix incorrect css test
  .changeset/odd-oranges-laugh.md
  packages/astro/package.json
  packages/astro/test/0-css.test.js
  pnpm-lock.yaml
Labels: core

#4455 Update Filter Section
  packages/integrations/sitemap/README.md
Labels: integration

#4467 Fix typo in vite-plugin-astro/index.ts
  packages/astro/src/vite-plugin-astro/index.ts
Labels: core

#4458 Support `vite.build.cssCodeSplit: false` option
  .changeset/sour-avocados-exercise.md
  packages/astro/src/core/build/vite-plugin-css.ts
  packages/astro/test/css-no-code-split.test.js
  packages/astro/test/fixtures/css-no-code-split/astro.config.mjs
  packages/astro/test/fixtures/css-no-code-split/package.json
  packages/astro/test/fixtures/css-no-code-split/src/pages/index.astro
  pnpm-lock.yaml
Labels: core

#4469 Fix load `base` option in build
  .changeset/gold-suns-repair.md
  packages/astro/src/core/build/static-build.ts
Labels: core

#4473 Remove optional chaining in astro-island
  .changeset/olive-gifts-hope.md
  packages/astro/src/runtime/server/astro-island.ts
Labels: core

#4457 Include styles imported by hoisted scripts
  .changeset/fast-oranges-collect.md
  packages/astro/src/core/build/graph.ts
  packages/astro/src/core/build/internal.ts
  packages/astro/src/core/build/vite-plugin-css.ts
  packages/astro/test/astro-scripts.test.js
  packages/astro/test/fixtures/astro-scripts/src/pages/with-styles.astro
  packages/astro/test/fixtures/astro-scripts/src/styles/one.css
Labels: core

#4313 Adding time-slicing with `startTransition` to prevent hydration from blocking the main thread for too long for those users who immediately scroll.
  packages/integrations/react/client.js
Labels: framework-react, integration, semver minor

#4182 Make astro package play nice with node16 module resolution
  .changeset/perfect-melons-wonder.md
  packages/astro/astro-jsx.d.ts
  packages/astro/env.d.ts
  packages/astro/package.json
  packages/astro/tsconfig.json
Labels: core, semver minor

#4439 Add template tsconfigs for users to extend from
  .changeset/healthy-kangaroos-smoke.md
  examples/basics/tsconfig.json
  examples/blog/tsconfig.json
  examples/docs/tsconfig.json
  examples/env-vars/tsconfig.json
  examples/framework-alpine/tsconfig.json
  examples/framework-lit/tsconfig.json
  examples/framework-multiple/tsconfig.json
  examples/framework-preact/tsconfig.json
  examples/framework-react/tsconfig.json
  examples/framework-solid/tsconfig.json
  examples/framework-svelte/tsconfig.json
  examples/framework-vue/tsconfig.json
  examples/minimal/tsconfig.json
  examples/non-html-pages/tsconfig.json
  examples/portfolio/tsconfig.json
  examples/ssr/tsconfig.json
  examples/subpath/tsconfig.json
  examples/with-markdown-plugins/tsconfig.json
  examples/with-markdown-shiki/tsconfig.json
  examples/with-mdx/tsconfig.json
  examples/with-nanostores/tsconfig.json
  examples/with-tailwindcss/tsconfig.json
  examples/with-vite-plugin-pwa/tsconfig.json
  examples/with-vitest/astro.config.ts
  examples/with-vitest/tsconfig.json
  packages/astro/package.json
  packages/astro/tsconfigs/base.json
  packages/astro/tsconfigs/strict.json
  packages/astro/tsconfigs/strictest.json
  packages/create-astro/package.json
  packages/create-astro/src/index.ts
  pnpm-lock.yaml
Labels: example, create-astro, core

#4352 Make Astro.url conform to build.format during the build
  .changeset/beige-deers-travel.md
  packages/astro/src/@types/astro.ts
  packages/astro/src/core/build/generate.ts
  packages/astro/test/astro-get-static-paths.test.js
  packages/astro/test/fixtures/page-format/package.json
  packages/astro/test/fixtures/page-format/src/pages/nested/page.astro
  packages/astro/test/page-format.test.js
  pnpm-lock.yaml
Labels: core, semver minor

#4138 make Remark rehype options available in astro config
  .changeset/giant-pandas-roll.md
  packages/astro/src/@types/astro.ts
  packages/astro/src/core/config.ts
  packages/astro/test/astro-markdown-remarkRehype.test.js
  packages/astro/test/fixtures/astro-markdown-remarkRehype/package.json
  packages/astro/test/fixtures/astro-markdown-remarkRehype/src/pages/index.md
  packages/markdown/remark/src/index.ts
  packages/markdown/remark/src/types.ts
  pnpm-lock.yaml
Labels: markdown, core, blocked-release, semver minor
