Repository withastro/astro, pull requests merged in 2022-03, with the labels that each got.

#2682 Move astro-basic test to use static build
  packages/astro/package.json
  packages/astro/src/core/build/static-build.ts
  packages/astro/src/core/routing/manifest/create.ts
  packages/astro/src/runtime/server/metadata.ts
  packages/astro/test/astro-assets.test.js
  packages/astro/test/astro-basic.test.js
  packages/astro/test/astro-client-only.test.js
  packages/astro/test/astro-components.test.js
  packages/astro/test/astro-scripts.test.js
  packages/astro/test/cli.test.js
  packages/astro/test/fixtures/astro-assets/src/pages/index.astro
  packages/astro/test/fixtures/astro-components/src/components/Component.astro
  packages/astro/test/fixtures/astro-components/src/components/Component.jsx
  packages/astro/test/fixtures/astro-components/src/components/Component.svelte
  packages/astro/test/fixtures/astro-components/src/components/Component.vue
  packages/astro/test/fixtures/astro-components/src/components/Props-Component.astro
  packages/astro/test/fixtures/astro-components/src/pages/client.astro
  packages/astro/test/fixtures/astro-components/src/pages/frontmatter-component.astro
  packages/astro/test/fixtures/astro-components/src/pages/index.astro
  packages/astro/test/fixtures/astro-components/src/pages/props-shadowing.astro
  packages/astro/test/fixtures/astro-components/src/pages/undefined-component.astro
  packages/astro/test/fixtures/astro-scripts/src/components/NoHoistClassic.astro
  packages/astro/test/fixtures/astro-scripts/src/components/NoHoistModule.astro
  packages/astro/test/fixtures/astro-scripts/src/components/Widget.astro
  packages/astro/test/fixtures/astro-scripts/src/components/Widget2.astro
  packages/astro/test/fixtures/postcss/src/pages/index.astro
  packages/astro/test/postcss.test.js
  yarn.lock
Labels: test, core

#2684 fix: disable HMR during build
  .changeset/wet-knives-raise.md
  packages/astro/src/vite-plugin-astro/index.ts
Labels: core

#2694 fix failing tests on main
  packages/astro/package.json
  yarn.lock
Labels: core

#2696 fix failing format command in CI
  .github/workflows/ci.yml
  .prettierignore
  .prettierrc.json
  scripts/smoke/index.js
  scripts/smoke/sync.js
  smoke/docs-main/package.json
  yarn.lock
Labels: 🚨 action

#2698 Add detailed type annotations to AstroUserConfig
  packages/astro/src/@types/astro.ts
  packages/astro/src/core/config.ts
Labels: core

#2678 fix: upgraded vite
  .changeset/green-pumpkins-happen.md
  packages/astro/package.json
  yarn.lock
Labels: core

#2436 Improve `head` injection behavior
  packages/astro/package.json
  packages/astro/src/@types/astro.ts
  packages/astro/src/core/config.ts
  packages/astro/src/core/render/core.ts
  packages/astro/src/runtime/server/index.ts
  packages/astro/src/vite-plugin-astro/compile.ts
  yarn.lock
Labels: core

#2697 Improve build perf
  .changeset/orange-coins-whisper.md
  .changeset/short-rats-double.md
  packages/astro/src/core/build/page-data.ts
  packages/markdown/remark/src/remark-shiki.ts
Labels: markdown, core

#2710 Remove the after in the Lit test
  packages/astro/test/lit-element.test.js
Labels: test, core

#2706 chore: changed `data-astro-raw` to `is:raw`
  .changeset/thirty-lobsters-ring.md
  packages/astro/components/Code.astro
  packages/markdown/remark/src/rehype-escape.ts
  packages/markdown/remark/src/remark-prism.ts
  packages/markdown/remark/src/remark-shiki.ts
Labels: markdown, core

#2716 Enable ci on `next`
  .github/workflows/ci.yml
Labels: 🚨 action

#2715 Remove `postcss-load-config` warning for Svelte users
  .changeset/eighty-kiwis-brush.md
  packages/renderers/renderer-svelte/index.js
  packages/renderers/renderer-svelte/package.json
  yarn.lock
Labels: framework-svelte, renderer

#2722 Revert #2715 (temporarily)
  .changeset/funny-pants-begin.md
  packages/renderers/renderer-svelte/index.js
  packages/renderers/renderer-svelte/package.json
  yarn.lock
Labels: framework-svelte, renderer

#2733 remove a bad dev warning from static-build
  .changeset/silver-foxes-bathe.md
  packages/astro/src/core/render/core.ts
Labels: core

#2732 Fix/2177/log missing local network ip
  .changeset/yellow-trees-clean.md
  packages/astro/src/core/dev/index.ts
  packages/astro/src/core/dev/util.ts
  packages/astro/src/core/logger.ts
  packages/astro/src/core/messages.ts
  packages/astro/src/core/preview/index.ts
  packages/astro/test/cli.test.js
  scripts/cmd/build.js
Labels: test, core

#2738 chore: update actions
  .github/workflows/ci.yml
  .github/workflows/format.yml
  .github/workflows/issue.yml
  .github/workflows/label.yml
  .github/workflows/main.yml
  .github/workflows/nightly.yml
  package.json
Labels: 🚨 action

#2739 improve preview reliability
  packages/astro/src/core/preview/index.ts
  packages/astro/test/0-css.test.js
Labels: test, core

#2744 Fixes windows test flakiness
  packages/astro/src/core/build/fs.ts
Labels: core

#2745 run tests on example change
  .github/workflows/ci.yml
Labels: 🚨 action

#2746 Update tests for legacy build
  .changeset/pre.json
  examples/fast-build/.npmrc
  examples/fast-build/package.json
  examples/fast-build/src/components/ExternalHoisted.astro
  examples/fast-build/src/images/penguin.jpg
  examples/fast-build/src/images/random.jpg
  packages/astro/src/core/config.ts
  packages/astro/test/fixtures/legacy-build/astro.config.mjs
  packages/astro/test/fixtures/legacy-build/package.json
  packages/astro/test/fixtures/legacy-build/src/components/Counter.vue
  packages/astro/test/fixtures/legacy-build/src/components/Greeting.vue
  packages/astro/test/fixtures/legacy-build/src/components/InlineHoisted.astro
  packages/astro/test/fixtures/legacy-build/src/pages/[pokemon].astro
  packages/astro/test/fixtures/legacy-build/src/pages/index.astro
  packages/astro/test/fixtures/legacy-build/src/scripts/external-hoist.ts
  packages/astro/test/fixtures/legacy-build/src/styles/_global.scss
  packages/astro/test/fixtures/legacy-build/src/styles/global.css
  packages/astro/test/legacy-build.test.js
  packages/astro/test/static-build-code-component.test.js
  packages/astro/test/static-build-frameworks.test.js
  packages/astro/test/static-build-page-url-format.test.js
  packages/astro/test/static-build.test.js
  pnpm-lock.yaml
Labels: test, example, core

#2747 Escape HTML by default
  .changeset/sour-socks-enjoy.md
  packages/astro/package.json
  packages/astro/src/runtime/server/escape.ts
  packages/astro/src/runtime/server/index.ts
  packages/astro/test/astro-expr.test.js
  packages/astro/test/fixtures/astro-expr/src/pages/escape.astro
  pnpm-lock.yaml
Labels: test, core

#2737 Improve logger (deduping, new help and version)
  .changeset/neat-snakes-know.md
  packages/astro/src/cli/index.ts
  packages/astro/src/core/logger.ts
  packages/astro/src/core/messages.ts
  packages/astro/src/vite-plugin-astro-server/index.ts
  packages/astro/src/vite-plugin-astro/hmr.ts
  packages/astro/test/astro-doctype.test.js
  packages/astro/test/cli.test.js
  packages/astro/test/config.test.js
  packages/astro/test/test-utils.js
Labels: test, core

#2695 Improve `Astro.slots` API
  .changeset/clean-bottles-drive.md
  packages/astro/components/Markdown.astro
  packages/astro/src/@types/astro.ts
  packages/astro/src/core/render/result.ts
  packages/astro/test/fixtures/astro-slots/src/components/SlottedAPI.astro
Labels: core

#2549 Fix component usage in portfolio-svelte 404 page
  examples/portfolio-svelte/src/pages/404.astro
Labels: example

#2750 update deps: esbuild, typescript
  .changeset/khaki-humans-sort.md
  package.json
  packages/astro-parser/package.json
  packages/astro/package.json
  packages/astro/src/cli/index.ts
  packages/astro/test/0-css.test.js
  packages/astro/test/postcss.test.js
  packages/create-astro/package.json
  packages/create-astro/src/index.ts
  packages/webapi/package.json
  packages/webapi/src/lib/Timeout.ts
  pnpm-lock.yaml
  scripts/package.json
Labels: test, create-astro, core

#2622 Support Prism in the blog template example
  examples/blog/src/layouts/BlogPost.astro
  examples/blog/src/pages/posts/index.md
  examples/blog/src/styles/blog.css
Labels: example

#2757 Fix flakey windows CI: eperm, totalist
  packages/astro/src/core/preview/index.ts
Labels: core

#2755 Add sitemap filter option
  .changeset/cool-ravens-occur.md
  packages/astro/src/@types/astro.ts
  packages/astro/src/core/build/index.ts
  packages/astro/src/core/config.ts
  packages/astro/src/core/render/sitemap.ts
Labels: core

#2756 fix(#2753): unescape `define:vars`
  packages/astro/src/runtime/server/index.ts
  packages/astro/test/astro-directives.test.js
  packages/astro/test/fixtures/astro-directives/package.json
  packages/astro/test/fixtures/astro-directives/src/pages/define-vars.astro
  pnpm-lock.yaml
Labels: test, core

#2761 add maxRetries to fix windows fs.rmsync
  packages/astro/src/core/util.ts
Labels: core

#2758 CLI: add prerelease warning
  .changeset/stupid-pots-give.md
  packages/astro/src/core/dev/index.ts
  packages/astro/src/core/messages.ts
Labels: core

#2762 update `buildOptions.sitemapFilter` jsdoc
  packages/astro/src/@types/astro.ts
Labels: core

#2767 Update compiler
  .changeset/empty-students-occur.md
  packages/astro/package.json
  pnpm-lock.yaml
Labels: core

#2760 Feat: expose server on local network with new --host flag
  .changeset/breezy-walls-guess.md
  packages/astro/src/@types/astro.ts
  packages/astro/src/cli/index.ts
  packages/astro/src/core/config.ts
  packages/astro/src/core/dev/index.ts
  packages/astro/src/core/dev/util.ts
  packages/astro/src/core/messages.ts
  packages/astro/src/core/preview/index.ts
  packages/astro/src/core/preview/util.ts
  packages/astro/test/cli.test.js
  packages/astro/test/config.test.js
  packages/astro/test/fixtures/config-host/astro.config.mjs
  packages/astro/test/fixtures/config-host/package.json
  packages/astro/test/fixtures/config-path/config/my-config.mjs
  packages/astro/test/test-utils.js
  pnpm-lock.yaml
Labels: test, core

#2768 Fix dev resolution of client modules on Windows
  .changeset/strange-kings-add.md
  packages/astro/src/core/render/dev/index.ts
Labels: core

#2763 [ci] update lockfile
  examples/blog-multiple-authors/package.json
  examples/docs/package.json
  examples/ssr/package.json
  examples/with-markdown-plugins/package.json
  examples/with-markdown-shiki/package.json
  examples/with-markdown/package.json
  examples/with-nanostores/package.json
  examples/with-tailwindcss/package.json
  examples/with-vite-plugin-pwa/package.json
  package.json
  packages/astro-parser/package.json
  packages/astro-prism/package.json
  packages/astro/package.json
  packages/astro/test/fixtures/legacy-build/package.json
  packages/astro/test/fixtures/postcss/package.json
  packages/astro/test/fixtures/sass/package.json
  packages/astro/test/fixtures/static build/package.json
  packages/create-astro/package.json
  packages/markdown/remark/package.json
  packages/renderers/renderer-lit/package.json
  packages/renderers/renderer-preact/package.json
  packages/renderers/renderer-react/package.json
  packages/renderers/renderer-solid/package.json
  packages/renderers/renderer-svelte/package.json
  packages/renderers/renderer-vue/package.json
  packages/webapi/package.json
  pnpm-lock.yaml
  scripts/package.json
Labels: markdown, framework-svelte, framework-vue, example, framework-react, framework-preact, framework-solid, framework-lit, renderer, create-astro, core

#2785 Fix: Astro.props missing properties
  .changeset/nice-tables-applaud.md
  packages/astro/src/core/render/core.ts
Labels: core

#2772 Improve build perf
  .changeset/tough-cherries-bathe.md
  .changeset/tough-dragons-sniff.md
  packages/astro/src/core/build/index.ts
  packages/astro/src/core/build/scan-based-build.ts
  packages/astro/src/core/build/static-build.ts
  packages/astro/src/core/create-vite.ts
  packages/astro/src/vite-plugin-astro/index.ts
  packages/astro/test/fixtures/astro-doctype/public/styles/global.css
  packages/astro/test/fixtures/astro-doctype/src/layouts/WithDoctype.astro
  packages/astro/test/fixtures/astro-doctype/src/layouts/WithoutDoctype.astro
Labels: core

#2773 [ci] update lockfile
  examples/with-nanostores/package.json
  package.json
  packages/astro/package.json
  packages/create-astro/package.json
  packages/webapi/package.json
  pnpm-lock.yaml
Labels: example, create-astro, core

#2790 Fix `set:html` behavior with `null`
  .changeset/serious-guests-matter.md
  packages/astro/src/runtime/server/escape.ts
  packages/astro/src/runtime/server/index.ts
  packages/astro/test/astro-directives.test.js
  packages/astro/test/fixtures/astro-directives/src/pages/set-html.astro
Labels: test, core

#2795 Remove parallel test runner race conditions
  packages/astro/test/0-css.test.js
  packages/astro/test/astro-basic.test.js
  packages/astro/test/astro-get-static-paths.test.js
  packages/astro/test/astro-partial-html.test.js
  packages/astro/test/astro-sitemap-rss.test.js
  packages/astro/test/cli.test.js
  packages/astro/test/debug-component.test.js
  packages/astro/test/dev-routing.test.js
  packages/astro/test/fixtures/with-subpath-no-trailing-slash/.gitignore
  packages/astro/test/preview-routing.test.js
  packages/astro/test/react-component.test.js
  packages/astro/test/sass.test.js
  packages/astro/test/solid-component.test.js
  packages/astro/test/svelte-component.test.js
  packages/astro/test/vue-component.test.js
Labels: test, core

#2797 Fix for allowing space in folder name
  .changeset/grumpy-dancers-smell.md
  packages/astro/src/vite-plugin-astro/compile.ts
Labels: core

#2801 [windows:ci] handle CLI output in a cross-compat way
  .changeset/modern-feet-lay.md
  packages/astro/src/core/logger.ts
Labels: core

#2803 Export defineConfig helper
  .changeset/quick-islands-call.md
  examples/blog-multiple-authors/astro.config.mjs
  examples/blog/astro.config.mjs
  examples/component/demo/astro.config.mjs
  examples/docs/astro.config.mjs
  examples/env-vars/astro.config.mjs
  examples/framework-alpine/astro.config.mjs
  examples/framework-lit/astro.config.mjs
  examples/framework-multiple/astro.config.mjs
  examples/framework-preact/astro.config.mjs
  examples/framework-react/astro.config.mjs
  examples/framework-solid/astro.config.mjs
  examples/framework-svelte/astro.config.mjs
  examples/framework-vue/astro.config.mjs
  examples/minimal/astro.config.mjs
  examples/non-html-pages/astro.config.mjs
  examples/portfolio/astro.config.mjs
  examples/ssr/astro.config.mjs
  examples/starter/astro.config.mjs
  examples/subpath/astro.config.mjs
  examples/with-markdown-plugins/astro.config.mjs
  examples/with-markdown-shiki/astro.config.mjs
  examples/with-markdown/astro.config.mjs
  examples/with-nanostores/astro.config.mjs
  examples/with-tailwindcss/astro.config.mjs
  examples/with-vite-plugin-pwa/astro.config.mjs
  packages/astro/config.d.ts
  packages/astro/config.mjs
  packages/astro/package.json
Labels: example, core

#2793 Fix HTML double-escaping
  .changeset/pink-stingrays-swim.md
  packages/astro/package.json
  packages/astro/src/runtime/server/escape.ts
  packages/astro/src/runtime/server/index.ts
  packages/astro/test/astro-expr.test.js
  packages/astro/test/fixtures/astro-expr/src/pages/escape.astro
  pnpm-lock.yaml
Labels: test, core

#2807 fix: Svelte PostCSS config error
  .changeset/large-snakes-lay.md
  packages/renderers/renderer-svelte/index.js
Labels: framework-svelte, renderer

#2810 [ci] update lockfile
  examples/docs/package.json
  examples/with-tailwindcss/package.json
  package.json
  packages/astro/package.json
  packages/astro/test/fixtures/postcss/package.json
  packages/renderers/renderer-lit/package.json
  packages/webapi/package.json
  pnpm-lock.yaml
Labels: example, framework-lit, renderer, core

#2798 Implements redirects, headers for SSR
  .changeset/fuzzy-lies-nail.md
  examples/ssr/astro.config.mjs
  examples/ssr/package.json
  examples/ssr/server/api.mjs
  examples/ssr/server/server.mjs
  examples/ssr/src/api.ts
  examples/ssr/src/components/AddToCart.svelte
  examples/ssr/src/components/Cart.svelte
  examples/ssr/src/components/Header.astro
  examples/ssr/src/models/user.ts
  examples/ssr/src/pages/cart.astro
  examples/ssr/src/pages/login.astro
  examples/ssr/src/pages/login.form.js
  examples/ssr/src/pages/products/[id].astro
  examples/ssr/tsconfig.json
  packages/astro/src/@types/astro.ts
  packages/astro/src/core/app/index.ts
  packages/astro/src/core/app/node.ts
  packages/astro/src/core/build/index.ts
  packages/astro/src/core/build/static-build.ts
  packages/astro/src/core/dev/index.ts
  packages/astro/src/core/endpoint/dev/index.ts
  packages/astro/src/core/endpoint/index.ts
  packages/astro/src/core/polyfill.ts
  packages/astro/src/core/render/core.ts
  packages/astro/src/core/render/dev/index.ts
  packages/astro/src/core/render/request.ts
  packages/astro/src/core/render/result.ts
  packages/astro/src/runtime/server/index.ts
  packages/astro/src/vite-plugin-astro-server/index.ts
  packages/astro/src/vite-plugin-build-html/index.ts
  packages/astro/test/test-utils.js
  pnpm-lock.yaml
Labels: example, core

#2809 Adds tests for tailwind support in `dev` and `build`
  packages/astro/test/fixtures/tailwindcss/package.json
  packages/astro/test/fixtures/tailwindcss/postcss.config.js
  packages/astro/test/fixtures/tailwindcss/src/components/Button.astro
  packages/astro/test/fixtures/tailwindcss/src/pages/index.astro
  packages/astro/test/fixtures/tailwindcss/src/styles/global.css
  packages/astro/test/fixtures/tailwindcss/tailwind.config.js
  packages/astro/test/tailwindcss.test.js
  pnpm-lock.yaml
Labels: test, core

#2815 Allow SSR dynamic routes to not implement getStaticPaths
  .changeset/spotty-houses-stare.md
  examples/ssr/astro.config.mjs
  examples/ssr/src/pages/products/[id].astro
  packages/astro/src/core/build/index.ts
  packages/astro/src/core/build/page-data.ts
  packages/astro/src/core/render/core.ts
  packages/astro/src/core/render/route-cache.ts
  packages/astro/src/core/routing/validation.ts
  packages/astro/src/vite-plugin-astro-server/index.ts
  packages/astro/test/fixtures/ssr-dynamic/src/pages/[id].astro
  packages/astro/test/ssr-dynamic.test.js
  packages/astro/test/test-utils.js
Labels: test, example, core

#2822 [ci] update lockfile
  packages/astro/package.json
  packages/astro/test/fixtures/tailwindcss/package.json
  packages/renderers/renderer-solid/package.json
  pnpm-lock.yaml
Labels: framework-solid, renderer, core

#2825 Fix island deduplication ignoring props.
  .changeset/silent-walls-tan.md
  packages/astro/src/runtime/server/index.ts
  packages/astro/test/fixtures/react-component/src/components/Hello.jsx
  packages/astro/test/fixtures/react-component/src/pages/index.astro
  packages/astro/test/fixtures/vue-component/src/components/Counter.vue
  packages/astro/test/fixtures/vue-component/src/pages/index.astro
  packages/astro/test/react-component.test.js
  packages/astro/test/vue-component.test.js
Labels: test, core

#2824 Feat: change to shiki default md renderer
  .changeset/lemon-needles-count.md
  examples/blog/src/styles/blog.css
  examples/docs/src/components/HeadCommon.astro
  examples/docs/src/styles/code.css
  examples/docs/src/styles/index.css
  examples/with-markdown/src/styles/global.css
  packages/astro/test/astro-markdown.test.js
  packages/markdown/remark/src/index.ts
  packages/markdown/remark/src/remark-shiki.ts
  packages/markdown/remark/src/types.ts
Labels: test, markdown, example, core

#2833 Update Compiler with new CSS Parser
  .changeset/eighty-trees-thank.md
  packages/astro/package.json
  packages/astro/test/astro-partial-html.test.js
  pnpm-lock.yaml
Labels: test, core

#2835 Fix missing `postcss-load-config` dependency
  .changeset/moody-trees-allow.md
  packages/astro/package.json
  pnpm-lock.yaml
Labels: core

#2837 Clean-up example dependencies
  examples/blog-multiple-authors/package.json
  examples/blog/package.json
  examples/docs/package.json
  examples/framework-lit/package.json
  examples/framework-multiple/package.json
  examples/framework-preact/package.json
  examples/framework-react/package.json
  examples/framework-solid/package.json
  examples/framework-svelte/package.json
  examples/framework-vue/package.json
  examples/integrations-playground/package.json
  examples/portfolio/package.json
  examples/ssr/package.json
  examples/subpath/package.json
  examples/with-markdown/package.json
  pnpm-lock.yaml
Labels: example

#2836 Release bot
  .github/workflows/ci.yml
  scripts/notify/index.js
Labels: 🚨 action

#2845 chore: remove `@astrojs/parser`
  .changeset/config.json
  .changeset/pre.json
  LICENSE
  packages/astro-parser/CHANGELOG.md
  packages/astro-parser/README.md
  packages/astro-parser/package.json
  packages/astro-parser/src/Stats.ts
  packages/astro-parser/src/config.ts
  packages/astro-parser/src/index.ts
  packages/astro-parser/src/interfaces.ts
  packages/astro-parser/src/parse/index.ts
  packages/astro-parser/src/parse/read/context.ts
  packages/astro-parser/src/parse/read/expression.ts
  packages/astro-parser/src/parse/read/script.ts
  packages/astro-parser/src/parse/read/style.ts
  packages/astro-parser/src/parse/state/codefence.ts
  packages/astro-parser/src/parse/state/codespan.ts
  packages/astro-parser/src/parse/state/fragment.ts
  packages/astro-parser/src/parse/state/mustache.ts
  packages/astro-parser/src/parse/state/setup.ts
  packages/astro-parser/src/parse/state/tag.ts
  packages/astro-parser/src/parse/state/text.ts
  packages/astro-parser/src/parse/utils/bracket.ts
  packages/astro-parser/src/parse/utils/entities.ts
  packages/astro-parser/src/parse/utils/features.ts
  packages/astro-parser/src/parse/utils/html.ts
  packages/astro-parser/src/parse/utils/node.ts
  packages/astro-parser/src/utils/error.ts
  packages/astro-parser/src/utils/full_char_code_at.ts
  packages/astro-parser/src/utils/fuzzymatch.ts
  packages/astro-parser/src/utils/get_code_frame.ts
  packages/astro-parser/src/utils/link.ts
  packages/astro-parser/src/utils/list.ts
  packages/astro-parser/src/utils/names.ts
  packages/astro-parser/src/utils/namespaces.ts
  packages/astro-parser/src/utils/nodes_match.ts
  packages/astro-parser/src/utils/patterns.ts
  packages/astro-parser/tsconfig.json
  packages/astro/package.json
  packages/astro/src/core/logger.ts
  pnpm-lock.yaml
Labels: core

#2848 add injected scripts to markdown pages
  .changeset/twenty-kiwis-tease.md
  packages/astro/src/vite-plugin-markdown/index.ts
Labels: core

#2852 Fix: `isSelfAccepting`? More like `isBanishedToTheShadowRealm`
  .changeset/forty-badgers-relate.md
  packages/astro/src/core/render/dev/index.ts
Labels: core

#2859 Ensure private API is not enumerable
  .changeset/modern-adults-dance.md
  packages/astro/components/Markdown.astro
  packages/astro/src/core/render/result.ts
Labels: core

#2853 fix a bad file URL creation
  packages/astro/src/core/build/scan-based-build.ts
  packages/astro/src/core/config.ts
  packages/astro/src/vite-plugin-build-html/index.ts
Labels: core

#2826 Updated markdownOptions config type
  packages/astro/src/@types/astro.ts
Labels: core

#2863 Pin `rollup` to same version as `vite`
  packages/astro/src/core/build/scan-based-build.ts
  packages/astro/src/vite-plugin-astro/index.ts
  packages/astro/src/vite-plugin-build-html/index.ts
Labels: core

#2869 Add `build:ci` command which skips `tsc`
  package.json
  packages/create-astro/package.json
  packages/integrations/lit/package.json
  packages/integrations/partytown/package.json
  packages/integrations/preact/package.json
  packages/integrations/react/package.json
  packages/integrations/sitemap/package.json
  packages/integrations/solid/package.json
  packages/integrations/svelte/package.json
  packages/integrations/tailwind/package.json
  packages/integrations/turbolinks/package.json
  packages/integrations/vue/package.json
  packages/markdown/remark/package.json
  packages/webapi/package.json
  turbo.json
Labels: markdown, create-astro

#2855 Adapters v0
  .changeset/hot-plants-help.md
  examples/ssr/astro.config.mjs
  examples/ssr/build.mjs
  examples/ssr/package.json
  examples/ssr/server/server.mjs
  packages/astro/package.json
  packages/astro/src/@types/astro.ts
  packages/astro/src/adapter-ssg/index.ts
  packages/astro/src/core/app/index.ts
  packages/astro/src/core/app/node.ts
  packages/astro/src/core/build/common.ts
  packages/astro/src/core/build/generate.ts
  packages/astro/src/core/build/index.ts
  packages/astro/src/core/build/static-build.ts
  packages/astro/src/core/build/types.d.ts
  packages/astro/src/core/build/vite-plugin-internals.ts
  packages/astro/src/core/build/vite-plugin-ssr.ts
  packages/astro/src/core/config.ts
  packages/astro/src/integrations/index.ts
  packages/astro/src/vite-plugin-build-css/index.ts
  packages/astro/test/ssr-dynamic.test.js
  packages/astro/test/test-adapter.js
  packages/astro/test/test-utils.js
  packages/integrations/node/package.json
  packages/integrations/node/readme.md
  packages/integrations/node/src/index.ts
  packages/integrations/node/src/server.ts
  packages/integrations/node/tsconfig.json
  pnpm-lock.yaml
Labels: test, example, core

#2872 Fix: `is self accepting` pt 2 module graph boogaloo
  .changeset/wise-garlics-bathe.md
  packages/astro/src/core/render/dev/index.ts
  packages/integrations/preact/package.json
  packages/integrations/preact/src/index.ts
Labels: core

#2870 Fix shiki perf issue pt. 2
  .changeset/silly-sloths-hammer.md
  packages/markdown/remark/src/remark-shiki.ts
Labels: markdown

#2875 Fix adblock issue
  .changeset/strong-bears-knock.md
  packages/astro/src/core/build/static-build.ts
  packages/astro/test/astro-client-only.test.js
  packages/astro/test/astro-css-bundling.test.js
  packages/astro/test/astro-dynamic.test.js
Labels: test, core

#2857 Feat: improve production build logging
  .changeset/rude-trainers-repeat.md
  packages/astro/src/core/build/generate.ts
  packages/astro/src/core/build/index.ts
  packages/astro/src/core/build/page-data.ts
  packages/astro/src/core/build/static-build.ts
  packages/astro/src/core/build/util.ts
Labels: core

#2871 fix markdown page script injection
  .changeset/cyan-pigs-ring.md
  examples/with-tailwindcss/src/pages/index.astro
  examples/with-tailwindcss/src/pages/markdown-page.md
  packages/astro/src/@types/astro.ts
  packages/astro/src/core/build/generate.ts
  packages/astro/src/core/build/vite-plugin-ssr.ts
  packages/astro/src/runtime/server/hydration.ts
  packages/astro/src/vite-plugin-astro/index.ts
  packages/astro/src/vite-plugin-markdown/index.ts
  packages/astro/src/vite-plugin-scripts/index.ts
  packages/astro/test/fixtures/tailwindcss/src/pages/index.astro
  packages/astro/test/fixtures/tailwindcss/src/pages/markdown-page.md
  packages/astro/test/fixtures/tailwindcss/src/styles/global.css
  packages/astro/test/tailwindcss.test.js
Labels: test, example, core

#2861 fix(#2846): handle destructured private env usage during SSR
  packages/astro/src/vite-plugin-env/index.ts
  packages/astro/test/astro-envs.test.js
  packages/astro/test/fixtures/astro-envs/src/pages/destructured.astro
Labels: test, core

#2854 [ci] update lockfile
  examples/docs/package.json
  package.json
  packages/astro/package.json
  pnpm-lock.yaml
Labels: example, core

#2873 Build to a single file
  .changeset/small-horses-protect.md
  packages/astro/src/core/app/index.ts
  packages/astro/src/core/app/node.ts
  packages/astro/src/core/app/types.ts
  packages/astro/src/core/build/add-rollup-input.ts
  packages/astro/src/core/build/common.ts
  packages/astro/src/core/build/generate.ts
  packages/astro/src/core/build/internal.ts
  packages/astro/src/core/build/page-data.ts
  packages/astro/src/core/build/static-build.ts
  packages/astro/src/core/build/types.d.ts
  packages/astro/src/core/build/vite-plugin-hoisted-scripts.ts
  packages/astro/src/core/build/vite-plugin-pages.ts
  packages/astro/src/core/build/vite-plugin-ssr.ts
  packages/astro/src/core/routing/manifest/serialization.ts
  packages/astro/src/core/util.ts
  packages/astro/src/vite-plugin-build-css/index.ts
  packages/astro/test/fixtures/ssr-api-route/src/pages/food.json.js
  packages/astro/test/fixtures/ssr-api-route/src/pages/index.astro
  packages/astro/test/ssr-api-route.test.js
  packages/astro/test/ssr-dynamic.test.js
  packages/astro/test/static-build.test.js
  packages/astro/test/test-adapter.js
  packages/astro/test/test-utils.js
  packages/integrations/node/src/server.ts
Labels: test, core

#2878 Refactor: move prism to `@astrojs/prism/components`
  .changeset/perfect-ravens-count.md
  packages/astro-prism/component/Prism.astro
  packages/astro-prism/package.json
  packages/astro/components/index.js
Labels: core

#2882 [ci] update lockfile
  examples/docs/package.json
  examples/with-vite-plugin-pwa/package.json
  package.json
  pnpm-lock.yaml
Labels: example

#2879 Netlify adapter
  .changeset/blue-rocks-smoke.md
  packages/astro/package.json
  packages/astro/src/@types/astro.ts
  packages/astro/src/core/app/types.ts
  packages/astro/src/core/build/common.ts
  packages/astro/src/core/build/generate.ts
  packages/astro/src/core/build/index.ts
  packages/astro/src/core/build/static-build.ts
  packages/astro/src/core/build/vite-plugin-ssr.ts
  packages/astro/src/core/dev/index.ts
  packages/astro/src/core/logger.ts
  packages/astro/src/integrations/index.ts
  packages/integrations/netlify/package.json
  packages/integrations/netlify/readme.md
  packages/integrations/netlify/src/index.ts
  packages/integrations/netlify/src/integration-functions.ts
  packages/integrations/netlify/src/netlify-functions.ts
  packages/integrations/netlify/tsconfig.json
  pnpm-lock.yaml
Labels: core

#2887 Refactor: move Prism comp to default export
  packages/astro-prism/Prism.astro
  packages/astro-prism/index.js
  packages/astro-prism/internal.d.ts
  packages/astro-prism/internal.mjs
  packages/astro-prism/package.json
  packages/markdown/remark/src/remark-prism.ts
Labels: markdown

#2849 feat(cli): scaffold out `astro add` command
  .changeset/brave-rings-jump.md
  examples/with-tailwindcss/tailwind.config.cjs
  packages/astro/package.json
  packages/astro/src/cli/index.ts
  packages/astro/src/core/add/babel.ts
  packages/astro/src/core/add/consts.ts
  packages/astro/src/core/add/imports.ts
  packages/astro/src/core/add/index.ts
  packages/astro/src/core/add/wrapper.ts
  packages/astro/src/core/config.ts
  packages/astro/src/core/messages.ts
  pnpm-lock.yaml
Labels: example, core

#2888 Exit `pre` mode
  .changeset/pre.json
  packages/astro/src/core/add/index.ts
Labels: core

#2891 Fix missing `execa` dependency
  .changeset/good-jobs-raise.md
  packages/astro/package.json
  pnpm-lock.yaml
Labels: core

#2894 add "--experimental-integrations" flag
  .changeset/hip-vans-return.md
  packages/astro/src/@types/astro.ts
  packages/astro/src/core/config.ts
  packages/astro/test/config-validate.test.js
Labels: test, core

#2893 small tailwind example config fix
  .changeset/shaggy-bulldogs-beam.md
  examples/with-tailwindcss/tailwind.config.cjs
  packages/astro/src/core/add/consts.ts
Labels: example, core

#2918 Prevent CSS from being added to pages not using it
  .changeset/tiny-snails-grab.md
  packages/astro/src/core/build/internal.ts
  packages/astro/src/core/build/scan-based-build.ts
  packages/astro/src/core/build/static-build.ts
  packages/astro/src/core/build/vite-plugin-pages.ts
  packages/astro/src/vite-plugin-build-css/index.ts
  packages/astro/test/fixtures/page-level-styles/src/layouts/Base.astro
  packages/astro/test/fixtures/page-level-styles/src/layouts/Styled.astro
  packages/astro/test/fixtures/page-level-styles/src/pages/blog.astro
  packages/astro/test/fixtures/page-level-styles/src/pages/index.astro
  packages/astro/test/fixtures/page-level-styles/src/styles/main.css
  packages/astro/test/page-level-styles.test.js
Labels: test, core

#2516 chore: removed syntax files
  tools/vscode/syntaxes/astro-markdown.tmLanguage.json
  tools/vscode/syntaxes/astro.tmLanguage.json
Labels: upstream

#2911 Corrected package name in warning message
  packages/astro/src/core/config.ts
Labels: core

#2907 Fix typing of `integrations` array in user config
  .changeset/real-starfishes-turn.md
  packages/astro/src/@types/astro.ts
Labels: core

#2900 [ci] update lockfile
  package.json
  packages/astro/package.json
  pnpm-lock.yaml
Labels: core

#2902 Restyle error messages
  .changeset/small-radios-remain.md
  packages/astro/src/cli/check.ts
  packages/astro/src/cli/index.ts
  packages/astro/src/core/add/index.ts
  packages/astro/src/core/build/common.ts
  packages/astro/src/core/build/generate.ts
  packages/astro/src/core/build/index.ts
  packages/astro/src/core/build/static-build.ts
  packages/astro/src/core/config.ts
  packages/astro/src/core/dev/index.ts
  packages/astro/src/core/dev/util.ts
  packages/astro/src/core/endpoint/dev/index.ts
  packages/astro/src/core/errors.ts
  packages/astro/src/core/messages.ts
  packages/astro/src/core/render/dev/error.ts
  packages/astro/src/core/render/dev/index.ts
  packages/astro/src/core/util.ts
  packages/astro/src/vite-plugin-astro-server/index.ts
  packages/astro/src/vite-plugin-build-html/index.ts
  packages/astro/test/cli.test.js
  packages/astro/test/config-validate.test.js
Labels: test, core

#2862 New Markdown API
  .changeset/forty-coins-attend.md
  examples/blog-multiple-authors/src/components/PostPreview.astro
  examples/blog-multiple-authors/src/pages/authors/[author].astro
  examples/blog-multiple-authors/src/pages/index.astro
  examples/blog-multiple-authors/src/pages/posts/[...page].astro
  examples/blog/src/components/BlogPostPreview.astro
  examples/blog/src/pages/index.astro
  examples/portfolio/src/components/PortfolioPreview/index.jsx
  examples/portfolio/src/pages/index.astro
  examples/portfolio/src/pages/projects.astro
  packages/astro/env.d.ts
  packages/astro/package.json
  packages/astro/src/@types/astro.ts
  packages/astro/src/core/render/dev/css.ts
  packages/astro/src/runtime/server/index.ts
  packages/astro/src/vite-plugin-astro-postprocess/index.ts
  packages/astro/src/vite-plugin-markdown/index.ts
  packages/astro/test/astro-global.test.js
  packages/astro/test/fixtures/astro-global/src/pages/posts/[page].astro
  packages/astro/test/fixtures/astro-pagination/src/pages/posts/[slug]/[page].astro
  packages/astro/test/fixtures/astro-pagination/src/pages/posts/named-root-page/[page].astro
  packages/astro/test/fixtures/astro-pagination/src/pages/posts/optional-root-page/[...page].astro
  packages/astro/test/fixtures/astro-sitemap-rss/src/pages/episodes/[...page].astro
  packages/astro/test/fixtures/debug-component/src/pages/posts/[slug].astro
  packages/astro/test/fixtures/static build/src/pages/index.astro
  packages/astro/test/static-build.test.js
  pnpm-lock.yaml
Labels: test, example, core

#2926 [fix] 2924 Update import in astro config of portfolio starter
  .changeset/stale-walls-whisper.md
  examples/portfolio/astro.config.mjs
Labels: example

#2913 Implement the Astro.request RFC
  .changeset/perfect-dogs-turn.md
  examples/blog-multiple-authors/src/layouts/post.astro
  examples/blog-multiple-authors/src/pages/about.astro
  examples/blog-multiple-authors/src/pages/index.astro
  examples/blog-multiple-authors/src/pages/posts/[...page].astro
  examples/docs/src/layouts/MainLayout.astro
  examples/ssr/src/pages/products/[id].astro
  packages/astro/src/@types/astro.ts
  packages/astro/src/core/app/index.ts
  packages/astro/src/core/build/generate.ts
  packages/astro/src/core/endpoint/index.ts
  packages/astro/src/core/render/core.ts
  packages/astro/src/core/render/dev/index.ts
  packages/astro/src/core/render/request.ts
  packages/astro/src/core/render/result.ts
  packages/astro/src/core/request.ts
  packages/astro/src/runtime/server/index.ts
  packages/astro/src/vite-plugin-astro-server/index.ts
  packages/astro/src/vite-plugin-build-html/index.ts
  packages/astro/test/astro-global.test.js
  packages/astro/test/fixtures/astro-get-static-paths/src/pages/[...calledTwiceTest].astro
  packages/astro/test/fixtures/astro-get-static-paths/src/pages/blog/[year]/[slug].astro
  packages/astro/test/fixtures/astro-get-static-paths/src/pages/pizza/[...pizza].astro
  packages/astro/test/fixtures/astro-get-static-paths/src/pages/pizza/[cheese]-[topping].astro
  packages/astro/test/fixtures/astro-global/src/components/Child.astro
  packages/astro/test/fixtures/astro-global/src/components/NestedChild.astro
  packages/astro/test/fixtures/astro-global/src/layouts/post.astro
  packages/astro/test/fixtures/astro-global/src/pages/index.astro
  packages/astro/test/fixtures/astro-global/src/pages/posts/[page].astro
  packages/astro/test/fixtures/astro-pagination/src/pages/index.astro
  packages/astro/test/fixtures/astro-pagination/src/pages/posts/[slug]/[page].astro
  packages/astro/test/fixtures/astro-pagination/src/pages/posts/named-root-page/[page].astro
  packages/astro/test/fixtures/astro-pagination/src/pages/posts/optional-root-page/[...page].astro
  packages/astro/test/fixtures/ssr-dynamic/src/pages/[id].astro
Labels: test, example, core

#2931 Refactor SSR example
  examples/ssr/astro.config.mjs
  examples/ssr/package.json
  examples/ssr/server/api.mjs
  examples/ssr/server/dev-api.mjs
  examples/ssr/server/server.mjs
  examples/ssr/src/api.ts
  examples/ssr/src/models/db.json
  examples/ssr/src/models/db.ts
  examples/ssr/src/models/session.ts
  examples/ssr/src/pages/api/cart.ts
  examples/ssr/src/pages/api/products.ts
  examples/ssr/src/pages/api/products/[id].ts
  examples/ssr/tsconfig.json
  packages/astro/src/core/build/vite-plugin-ssr.ts
  packages/astro/src/core/request.ts
  packages/astro/src/vite-plugin-astro-server/index.ts
  packages/astro/test/fixtures/ssr-dynamic/src/pages/[id].astro
  packages/astro/test/ssr-dynamic.test.js
Labels: test, example, core

#2932 Make the SSR example infer the origin
  examples/ssr/src/api.ts
  examples/ssr/src/components/Header.astro
  examples/ssr/src/pages/cart.astro
  examples/ssr/src/pages/index.astro
  examples/ssr/src/pages/products/[id].astro
Labels: example

#2930 [ci] update lockfile
  package.json
  packages/astro/package.json
  packages/integrations/svelte/package.json
  pnpm-lock.yaml
Labels: core

#2936 Fixes API route compat with Node 14
  .changeset/odd-swans-walk.md
  packages/astro/src/vite-plugin-astro-server/index.ts
  packages/astro/test/fixtures/ssr-api-route/src/pages/food.json.js
  packages/astro/test/ssr-api-route.test.js
Labels: test, core

#2927 remove docs jsdoc tag from adapter
  packages/astro/src/@types/astro.ts
Labels: core

#2934 Deno adapter
  .changeset/sour-eggs-wink.md
  .github/workflows/ci.yml
  examples/ssr/astro.config.mjs
  package.json
  packages/astro/package.json
  packages/astro/src/@types/astro.ts
  packages/astro/src/cli/index.ts
  packages/astro/src/core/add/index.ts
  packages/astro/src/core/app/index.ts
  packages/astro/src/core/build/generate.ts
  packages/astro/src/core/build/index.ts
  packages/astro/src/core/build/page-data.ts
  packages/astro/src/core/build/scan-based-build.ts
  packages/astro/src/core/build/static-build.ts
  packages/astro/src/core/create-vite.ts
  packages/astro/src/core/dev/index.ts
  packages/astro/src/core/logger.ts
  packages/astro/src/core/logger/console.ts
  packages/astro/src/core/logger/core.ts
  packages/astro/src/core/logger/node.ts
  packages/astro/src/core/preview/index.ts
  packages/astro/src/core/render/core.ts
  packages/astro/src/core/render/dev/css.ts
  packages/astro/src/core/render/dev/index.ts
  packages/astro/src/core/render/pretty-feed.ts
  packages/astro/src/core/render/result.ts
  packages/astro/src/core/render/route-cache.ts
  packages/astro/src/core/render/rss.ts
  packages/astro/src/core/render/ssr-element.ts
  packages/astro/src/core/render/util.ts
  packages/astro/src/core/request.ts
  packages/astro/src/core/routing/manifest/create.ts
  packages/astro/src/core/routing/validation.ts
  packages/astro/src/core/util.ts
  packages/astro/src/integrations/index.ts
  packages/astro/src/vite-plugin-astro-server/index.ts
  packages/astro/src/vite-plugin-astro/hmr.ts
  packages/astro/src/vite-plugin-astro/index.ts
  packages/astro/src/vite-plugin-astro/styles.ts
  packages/astro/src/vite-plugin-build-css/index.ts
  packages/astro/src/vite-plugin-build-html/index.ts
  packages/astro/src/vite-plugin-jsx/index.ts
  packages/astro/test/test-utils.js
  packages/integrations/deno/CHANGELOG.md
  packages/integrations/deno/package.json
  packages/integrations/deno/readme.md
  packages/integrations/deno/src/index.ts
  packages/integrations/deno/src/server.ts
  packages/integrations/deno/src/shim.ts
  packages/integrations/deno/test/basics.test.js
  packages/integrations/deno/test/deps.js
  packages/integrations/deno/test/fixtures/basics/astro.config.mjs
  packages/integrations/deno/test/fixtures/basics/package.json
  packages/integrations/deno/test/fixtures/basics/src/pages/index.astro
  packages/integrations/deno/test/helpers.js
  packages/integrations/deno/tsconfig.json
  packages/integrations/node/readme.md
  pnpm-lock.yaml
Labels: test, example, 🚨 action, core

#2944 Allow components to return a Response
  .changeset/chatty-cows-attack.md
  packages/astro/src/runtime/server/index.ts
  packages/astro/test/astro-response.test.js
  packages/astro/test/fixtures/astro-response/src/components/not-found.astro
  packages/astro/test/fixtures/astro-response/src/pages/not-found-component.astro
  packages/astro/test/fixtures/astro-response/src/pages/not-found.astro
Labels: test, core

#2948 React 18 monorepo upgrade
  examples/docs/package.json
  examples/framework-multiple/package.json
  examples/framework-react/package.json
  examples/integrations-playground/package.json
  examples/subpath/package.json
  examples/with-markdown/package.json
  examples/with-nanostores/package.json
  packages/astro/test/fixtures/react-component/package.json
  packages/integrations/react/package.json
  packages/integrations/react/src/index.ts
  packages/renderers/renderer-react/package.json
  pnpm-lock.yaml
Labels: example, framework-react, renderer, core

#2940 Fix the favicon for the starter example
  examples/starter/public/favicon.ico
Labels: example

#2937 fix: `--experimental-ssr` fixes
  .changeset/flat-radios-cheer.md
  examples/ssr/package.json
  packages/astro/src/@types/astro.ts
  packages/astro/src/cli/index.ts
  packages/astro/src/core/build/generate.ts
  packages/astro/src/core/build/index.ts
  packages/astro/src/core/build/page-data.ts
  packages/astro/src/core/build/static-build.ts
  packages/astro/src/core/config.ts
  packages/astro/src/core/endpoint/dev/index.ts
  packages/astro/src/core/render/dev/index.ts
  packages/astro/src/core/util.ts
  packages/astro/src/vite-plugin-astro-server/index.ts
  packages/astro/test/ssr-api-route.test.js
  packages/astro/test/ssr-dynamic.test.js
  packages/integrations/deno/test/fixtures/basics/astro.config.mjs
  packages/integrations/deno/test/helpers.js
Labels: test, example, core

#2955 SSR - copy public folder when there is no client JS
  .changeset/swift-trainers-suffer.md
  packages/astro/src/core/build/static-build.ts
  packages/astro/test/fixtures/ssr-request/public/cars.json
  packages/astro/test/fixtures/ssr-request/src/pages/request.astro
  packages/astro/test/ssr-request.test.js
Labels: test, core

#2954 Add function-based slot support to `Astro.slots.render()`
  .changeset/light-apricots-sort.md
  packages/astro/src/@types/astro.ts
  packages/astro/src/core/render/result.ts
  packages/astro/test/astro-slots.test.js
  packages/astro/test/fixtures/astro-slots/src/components/Render.astro
  packages/astro/test/fixtures/astro-slots/src/components/RenderArgs.astro
  packages/astro/test/fixtures/astro-slots/src/components/RenderFn.astro
  packages/astro/test/fixtures/astro-slots/src/pages/slottedapi-render.astro
Labels: test, core
