Repository withastro/astro, pull requests merged in 2022-07, with the labels that each got.

#3777 Adding an option to disable HTTP streaming
  .changeset/curly-worms-agree.md
  .changeset/two-dolls-marry.md
  packages/astro/src/core/app/index.ts
  packages/astro/src/core/build/generate.ts
  packages/astro/src/core/config.ts
  packages/astro/src/core/render/core.ts
  packages/astro/src/core/render/dev/index.ts
  packages/astro/src/core/render/result.ts
  packages/astro/src/runtime/server/index.ts
  packages/astro/src/runtime/server/response.ts
  packages/astro/src/vite-plugin-astro-server/index.ts
  packages/astro/test/streaming.test.js
  packages/astro/test/test-adapter.js
  packages/astro/test/test-utils.js
  packages/integrations/cloudflare/src/server.ts
  pnpm-lock.yaml
Labels: integration, core

#3694 Adds an `@astrojs/image` integration for optimizing images
  packages/astro/src/vite-plugin-astro-server/index.ts
  packages/integrations/image/.npmignore
  packages/integrations/image/README.md
  packages/integrations/image/components/Image.astro
  packages/integrations/image/components/index.ts
  packages/integrations/image/package.json
  packages/integrations/image/src/endpoints/dev.ts
  packages/integrations/image/src/endpoints/prod.ts
  packages/integrations/image/src/index.ts
  packages/integrations/image/src/loaders/sharp.ts
  packages/integrations/image/src/metadata.ts
  packages/integrations/image/src/types.ts
  packages/integrations/image/src/utils.ts
  packages/integrations/image/src/vite-plugin-astro-image.ts
  packages/integrations/image/test/fixtures/basic-image/astro.config.mjs
  packages/integrations/image/test/fixtures/basic-image/package.json
  packages/integrations/image/test/fixtures/basic-image/public/favicon.ico
  packages/integrations/image/test/fixtures/basic-image/server/server.mjs
  packages/integrations/image/test/fixtures/basic-image/src/assets/blog/introducing-astro.jpg
  packages/integrations/image/test/fixtures/basic-image/src/assets/social.jpg
  packages/integrations/image/test/fixtures/basic-image/src/assets/social.png
  packages/integrations/image/test/fixtures/basic-image/src/pages/index.astro
  packages/integrations/image/test/image-ssg.test.js
  packages/integrations/image/test/image-ssr.test.js
  packages/integrations/image/test/sharp.test.js
  packages/integrations/image/test/test-utils.js
  packages/integrations/image/tsconfig.json
  packages/webapi/mod.d.ts
  pnpm-lock.yaml
Labels: integration, core

#3795 Updates the images integration to automatically mark `optimizeDeps` for sharp
  .changeset/neat-yaks-hope.md
  packages/integrations/image/components/Image.astro
  packages/integrations/image/package.json
  packages/integrations/image/src/index.ts
  packages/integrations/image/src/loaders/sharp.ts
Labels: integration

#3796 Increases node memory during the CI format workflow
  .github/workflows/format.yml
Labels: 🚨 action

#3798 Manually correcting import ordering to unblock CI
  packages/integrations/image/src/endpoints/dev.ts
  packages/integrations/image/src/endpoints/prod.ts
Labels: integration

#3799 Update MDX example to address failure
  .changeset/cyan-balloons-battle.md
  examples/with-mdx/.vscode/extensions.json
  examples/with-mdx/src/pages/index.mdx
  packages/astro/src/jsx-runtime/index.ts
Labels: example, core

#3812 Updates how the new Image component is exported to support older versions of Astro
  .changeset/pretty-rats-yawn.md
  packages/integrations/image/README.md
  packages/integrations/image/components/index.js
Labels: integration

#3817 Fix example on `README.md` on @astrojs/node
  .changeset/itchy-bottles-rhyme.md
  packages/integrations/node/README.md
Labels: integration

#3829 Fix portfolio example to use lowercase srcset
  examples/portfolio/src/pages/index.astro
Labels: example

#3821 Ensure that maybeRenderHead runs last
  .changeset/hip-months-invent.md
  packages/astro/src/runtime/server/index.ts
  packages/astro/test/astro-head.test.js
  packages/astro/test/fixtures/astro-head/src/components/Head.astro
  packages/astro/test/fixtures/astro-head/src/pages/head-own-component.astro
Labels: core

#3839 Fix `client:visible` directive in safari
  .changeset/twenty-meals-train.md
  packages/astro/src/runtime/server/astro-island.ts
Labels: core

#3841 Fix: Infer content type with charset in dev and prod
  .changeset/ten-radios-rush.md
  packages/astro/src/core/app/index.ts
  packages/astro/src/vite-plugin-astro-server/index.ts
  packages/astro/test/ssr-api-route.test.js
Labels: core

#3848 Allow importing Image component from @astrojs/image
  .changeset/nervous-swans-perform.md
  packages/astro/src/core/create-vite.ts
  packages/integrations/image/README.md
  packages/integrations/image/package.json
  packages/integrations/image/src/types.ts
  packages/integrations/image/test/fixtures/basic-image/src/pages/index.astro
  packages/integrations/image/test/image-ssg.test.js
Labels: integration, core

#3831 small create-astro wording changes
  .changeset/wild-pens-hunt.md
  packages/create-astro/src/index.ts
  packages/create-astro/src/templates.ts
Labels: create-astro

#3801 Improve JSX definitions
  .changeset/rare-news-confess.md
  packages/astro/astro-jsx.d.ts
Labels: core

#3828 update lockfile
  packages/integrations/tailwind/package.json
  packages/integrations/tailwind/src/index.ts
  pnpm-lock.yaml
Labels: integration

#3794 fix: lint failing on astro and some integrations
  .github/workflows/ci.yml
  packages/astro/src/cli/index.ts
  packages/integrations/image/src/index.ts
  packages/integrations/image/src/vite-plugin-astro-image.ts
  packages/integrations/sitemap/src/index.ts
  packages/telemetry/src/index.ts
  packages/webapi/mod.d.ts
Labels: 🚨 action, integration, core

#3842 Docs: add adapter heading for configuration docs
  .changeset/funny-masks-yawn.md
  packages/astro/src/@types/astro.ts
Labels: core

#3857 Fix manual import
  packages/integrations/partytown/README.md
Labels: integration

#3860 Better response.arrayBuffer() handling in Node
  .changeset/great-pants-chew.md
  packages/astro/src/runtime/server/response.ts
  packages/astro/test/fixtures/large-array/astro.config.mjs
  packages/astro/test/fixtures/large-array/package.json
  packages/astro/test/fixtures/large-array/src/components/Counter.jsx
  packages/astro/test/fixtures/large-array/src/pages/index.astro
  packages/astro/test/ssr-large-array.test.js
  pnpm-lock.yaml
Labels: core

#3861 Bump `vite` minimum version
  packages/astro/package.json
  pnpm-lock.yaml
Labels: core

#3868 Fixed broken link in Cloudflare SSR adapter README
  packages/integrations/cloudflare/README.md
Labels: integration

#3863 fix(#3843): move @babel/types to dependencies
  packages/astro/package.json
  pnpm-lock.yaml
Labels: core

#3865 Integration README fixes
  .changeset/breezy-ravens-sort.md
  packages/integrations/deno/README.md
  packages/integrations/image/README.md
  packages/integrations/netlify/README.md
  packages/integrations/node/README.md
  packages/integrations/prefetch/README.md
  packages/integrations/sitemap/README.md
  packages/integrations/vercel/README.md
Labels: integration

#3869 fix: Always add @astrojs/image to vite.ssr.noExternal
  .changeset/stupid-cougars-warn.md
  packages/integrations/image/src/index.ts
Labels: integration

#3854 [astro add] Support adapters and third party packages
  .changeset/lucky-bottles-wait.md
  packages/astro/src/core/add/index.ts
  packages/integrations/cloudflare/package.json
  packages/integrations/deno/package.json
  packages/integrations/image/package.json
  packages/integrations/lit/package.json
  packages/integrations/mdx/package.json
  packages/integrations/netlify/package.json
  packages/integrations/node/package.json
  packages/integrations/partytown/package.json
  packages/integrations/preact/package.json
  packages/integrations/prefetch/package.json
  packages/integrations/react/package.json
  packages/integrations/sitemap/package.json
  packages/integrations/solid/package.json
  packages/integrations/svelte/package.json
  packages/integrations/tailwind/package.json
  packages/integrations/turbolinks/package.json
  packages/integrations/vercel/package.json
  packages/integrations/vue/package.json
Labels: framework-svelte, framework-vue, framework-react, framework-preact, framework-solid, framework-lit, integration, core

#3864 Add editor integrations to language integrations
  .changeset/nasty-students-run.md
  package.json
  packages/integrations/svelte/package.json
  packages/integrations/svelte/src/editor.cts
  packages/integrations/vue/package.json
  packages/integrations/vue/src/editor.cts
  pnpm-lock.yaml
  scripts/cmd/build.js
Labels: framework-svelte, framework-vue, integration

#3873 Fix: hydrate components that return `null`
  .changeset/quiet-pugs-tie.md
  packages/astro/src/runtime/server/astro-island.ts
  packages/astro/src/runtime/server/index.ts
Labels: core

#3876 Updating the <Picture /> component to default to async image decoding
  .changeset/quiet-bananas-obey.md
  packages/integrations/image/components/Picture.astro
Labels: integration

#3851 Move client types into Astro
  .changeset/healthy-poems-know.md
  examples/basics/tsconfig.json
  examples/blog-multiple-authors/tsconfig.json
  examples/blog/tsconfig.json
  examples/docs/tsconfig.json
  examples/env-vars/src/env.d.ts
  examples/env-vars/tsconfig.json
  examples/framework-alpine/tsconfig.json
  examples/framework-lit/tsconfig.json
  examples/framework-multiple/tsconfig.json
  examples/framework-preact/tsconfig.json
  examples/framework-react/tsconfig.json
  examples/framework-solid/tsconfig.json
  examples/framework-svelte/tsconfig.json
  examples/framework-vue/tsconfig.json
  examples/integrations-playground/tsconfig.json
  examples/minimal/tsconfig.json
  examples/non-html-pages/tsconfig.json
  examples/portfolio/tsconfig.json
  examples/ssr/tsconfig.json
  examples/starter/tsconfig.json
  examples/subpath/tsconfig.json
  examples/with-markdown-plugins/tsconfig.json
  examples/with-markdown-shiki/tsconfig.json
  examples/with-markdown/tsconfig.json
  examples/with-mdx/tsconfig.json
  examples/with-nanostores/tsconfig.json
  examples/with-tailwindcss/tsconfig.json
  examples/with-vite-plugin-pwa/tsconfig.json
  packages/astro/client.d.ts
  packages/astro/env.d.ts
  packages/astro/package.json
  packages/astro/src/runtime/client/hmr.ts
  packages/astro/tsconfig.json
Labels: example, core

#3886 fix: portfolio example JSX error
  .changeset/nervous-points-confess.md
  examples/portfolio/src/pages/projects.astro
Labels: example

#3871 Update supported node versions
  .changeset/modern-chicken-cry.md
  .github/ISSUE_TEMPLATE/---01-bug-report.yml
  CONTRIBUTING.md
  package.json
  packages/astro-prism/package.json
  packages/astro/astro.js
  packages/astro/package.json
  packages/create-astro/package.json
  packages/integrations/mdx/package.json
  packages/integrations/preact/package.json
  packages/integrations/react/package.json
  packages/integrations/solid/package.json
  packages/integrations/svelte/package.json
  packages/integrations/vue/package.json
  packages/telemetry/package.json
Labels: framework-svelte, framework-vue, framework-react, framework-preact, framework-solid, integration, create-astro, core

#3892 Update compiler
  .changeset/odd-donuts-push.md
  packages/astro/package.json
  packages/astro/test/fixtures/astro-slots/src/pages/conditional.astro
  pnpm-lock.yaml
Labels: core

#3840 Update `with-nanostores` example to match docs walkthrough
  examples/with-nanostores/README.md
  examples/with-nanostores/astro.config.mjs
  examples/with-nanostores/package.json
  examples/with-nanostores/public/assets/logo.svg
  examples/with-nanostores/public/images/astronaut-figurine.png
  examples/with-nanostores/public/robots.txt
  examples/with-nanostores/src/cartStore.ts
  examples/with-nanostores/src/components/AddToCartForm.tsx
  examples/with-nanostores/src/components/AdminsReact.jsx
  examples/with-nanostores/src/components/AdminsSolid.jsx
  examples/with-nanostores/src/components/AdminsSvelte.svelte
  examples/with-nanostores/src/components/AdminsVue.vue
  examples/with-nanostores/src/components/CartFlyout.module.css
  examples/with-nanostores/src/components/CartFlyout.tsx
  examples/with-nanostores/src/components/CartFlyoutToggle.tsx
  examples/with-nanostores/src/components/FigurineDescription.astro
  examples/with-nanostores/src/layouts/Layout.astro
  examples/with-nanostores/src/pages/index.astro
  examples/with-nanostores/src/store/admins.js
  examples/with-nanostores/src/store/counter.js
  examples/with-nanostores/src/store/users.js
  examples/with-nanostores/src/styles/global.css
  examples/with-nanostores/src/styles/home.css
  pnpm-lock.yaml
Labels: example

#3893 Ignore bundle size check for irrelevant PRs
  .github/workflows/scripts.yml
Labels: 🚨 action

#3889 Allow defining Astro components in Vite plugins
  .changeset/hungry-cougars-yell.md
  packages/astro/src/vite-plugin-astro/compile.ts
  packages/astro/src/vite-plugin-astro/index.ts
  packages/astro/src/vite-plugin-markdown/index.ts
  packages/astro/test/fixtures/virtual-astro-file/astro.config.mjs
  packages/astro/test/fixtures/virtual-astro-file/package.json
  packages/astro/test/fixtures/virtual-astro-file/src/pages/index.astro
  packages/astro/test/fixtures/virtual-astro-file/src/plugin/my-plugin.mjs
  packages/astro/test/hmr-css.test.js
  packages/astro/test/virtual-astro-file.js
  pnpm-lock.yaml
Labels: core

#3669 Fix: reintroduce smoke tests across example projects
  .changeset/famous-moons-kick.md
  .github/workflows/ci.yml
  .gitmodules
  examples/with-mdx/src/pages/index.mdx
  package.json
  packages/astro/package.json
  packages/astro/src/vite-plugin-markdown/index.ts
  packages/markdown/remark/package.json
  packages/markdown/remark/src/ssr-utils.ts
  pnpm-lock.yaml
Labels: markdown, example, 🚨 action, core

#3883 fix: add TypeScript type and documentation for markdown "mode" config
  .changeset/beige-lizards-scream.md
  packages/astro/src/@types/astro.ts
Labels: core

#3880 Fix md mode comment
  .changeset/ten-frogs-mate.md
  packages/astro/src/vite-plugin-markdown/index.ts
Labels: core

#3830 Centralise community health files in `.github` repo
  .changeset/clever-ties-refuse.md
  CODE_OF_CONDUCT.md
  COMMUNITY_GUIDE.md
  CONTRIBUTING.md
  FUNDING.md
  FUNDING.yml
  GOVERNANCE.md
  README.md
  packages/astro/README.md
Labels: core

#3896 Example blog rework
  examples/blog/README.md
  examples/blog/astro.config.mjs
  examples/blog/public/social.jpg
  examples/blog/public/social.png
  examples/blog/src/components/BaseHead.astro
  examples/blog/src/components/BlogHeader.astro
  examples/blog/src/components/BlogPost.astro
  examples/blog/src/components/BlogPostPreview.astro
  examples/blog/src/components/FollowMe.astro
  examples/blog/src/components/Header.astro
  examples/blog/src/components/Heading.astro
  examples/blog/src/components/LikeButton.tsx
  examples/blog/src/components/Logo.astro
  examples/blog/src/layouts/BlogPost.astro
  examples/blog/src/pages/index.astro
  examples/blog/src/pages/posts/index.md
  examples/blog/src/pages/posts/interactive-content.md
  examples/blog/src/pages/posts/static-content.md
  examples/blog/src/styles/blog.css
Labels: example

#3902 fix: add github-slugger to ALWAYS_EXTERNAL
  .changeset/giant-bugs-battle.md
  packages/astro/src/core/create-vite.ts
Labels: core

#3911 fix: don't throw when Shiki doesn't recognize a language
  .changeset/healthy-donuts-dream.md
  packages/astro/test/astro-markdown-shiki.test.js
  packages/astro/test/fixtures/astro-markdown-shiki/langs/src/pages/astro.astro
  packages/astro/test/fixtures/astro-markdown-shiki/langs/src/pages/index.md
  packages/markdown/remark/src/remark-shiki.ts
Labels: markdown, core

#3912 Astro Types for docs: capitalize Markdown
  packages/astro/src/@types/astro.ts
Labels: core

#3919 add back missing ssr-utils.ts file
  .changeset/many-terms-do.md
  packages/markdown/remark/package.json
  packages/markdown/remark/src/ssr-utils.ts
Labels: markdown

#3918 Update compiler
  .changeset/heavy-papayas-shout.md
  packages/astro/package.json
  pnpm-lock.yaml
Labels: core

#3922 Handle `false` properly in `class:list`
  .changeset/dirty-doors-call.md
  packages/astro/src/runtime/server/index.ts
  packages/astro/src/runtime/server/util.ts
  packages/astro/test/astro-class-list.test.js
  packages/astro/test/fixtures/astro-class-list/src/pages/component.astro
  packages/astro/test/fixtures/astro-class-list/src/pages/index.astro
Labels: core

#3917 fix: export AstroComponentFactory for tsc validation to pass
  packages/astro/src/@types/astro.ts
Labels: core

#3927 Use a .ts file to export built-in components so they're typed
  .changeset/perfect-games-shop.md
  packages/astro/components/index.ts
  packages/astro/package.json
Labels: core

#3937 Roll back supported Node engines
  .changeset/blue-avocados-jog.md
  .github/ISSUE_TEMPLATE/---01-bug-report.yml
  CONTRIBUTING.md
  package.json
  packages/astro-prism/package.json
  packages/astro/astro.js
  packages/astro/package.json
  packages/create-astro/package.json
  packages/integrations/mdx/package.json
  packages/integrations/preact/package.json
  packages/integrations/react/package.json
  packages/integrations/solid/package.json
  packages/integrations/svelte/package.json
  packages/integrations/vue/package.json
  packages/telemetry/package.json
Labels: framework-svelte, framework-vue, framework-react, framework-preact, framework-solid, integration, create-astro, core

#3915 Handle metadata for MDX files during build
  .changeset/purple-flowers-arrive.md
  examples/with-mdx/src/pages/index.mdx
  packages/astro/src/jsx-runtime/index.ts
  packages/astro/src/jsx/babel.ts
  packages/astro/src/jsx/server.ts
  packages/astro/src/runtime/server/hydration.ts
  packages/astro/src/runtime/server/index.ts
  packages/astro/src/runtime/server/jsx.ts
  packages/astro/src/vite-plugin-jsx/index.ts
Labels: example, core

#3044 Removes trailing dash from generated slugs in markdown
  .changeset/cold-bears-sneeze.md
  packages/markdown/remark/src/rehype-collect-headers.ts
  packages/markdown/remark/test/expressions.test.js
Labels: markdown, breaking

#3955 Sets import.meta.env.BASE_URL correctly in dev
  .changeset/strong-squids-hide.md
  packages/astro/src/vite-plugin-env/index.ts
  packages/astro/test/astro-envs.test.js
  packages/astro/test/fixtures/astro-envs/astro.config.mjs
  packages/astro/test/fixtures/astro-envs/src/components/Client.vue
  packages/astro/test/fixtures/astro-envs/src/pages/destructured.astro
  packages/astro/test/fixtures/astro-envs/src/pages/index.astro
Labels: core

#3930 Hoist Astro.globbed hoisted scripts in dev
  .changeset/quiet-toys-type.md
  packages/astro/e2e/shared-component-tests.js
  packages/astro/src/core/render/dev/css.ts
  packages/astro/src/core/render/dev/index.ts
  packages/astro/src/core/render/dev/scripts.ts
  packages/astro/src/core/render/dev/vite.ts
  packages/astro/src/runtime/server/index.ts
  packages/astro/src/runtime/server/metadata.ts
  packages/astro/test/astro-scripts.test.js
  packages/astro/test/fixtures/astro-scripts/src/components/Glob/GlobComponent.astro
  packages/astro/test/fixtures/astro-scripts/src/pages/glob.astro
Labels: core

#3958 Fix expected types for Element in our JSX definitions
  .changeset/nice-toes-cough.md
  packages/astro/astro-jsx.d.ts
  packages/astro/src/@types/astro.ts
Labels: core

#3906 Improve astro check
  .changeset/rich-bats-tell.md
  packages/astro/package.json
  packages/astro/src/cli/check.ts
  packages/astro/src/cli/check/index.ts
  packages/astro/src/cli/check/print.ts
  packages/astro/src/cli/index.ts
  packages/astro/test/cli.test.js
  packages/astro/test/fixtures/astro-check-errors/astro.config.mjs
  packages/astro/test/fixtures/astro-check-errors/package.json
  packages/astro/test/fixtures/astro-check-errors/src/pages/index.astro
  packages/astro/test/fixtures/astro-check-errors/tsconfig.json
  packages/astro/test/fixtures/astro-check-no-errors/astro.config.mjs
  packages/astro/test/fixtures/astro-check-no-errors/package.json
  packages/astro/test/fixtures/astro-check-no-errors/src/pages/index.astro
  packages/astro/test/fixtures/astro-check-no-errors/tsconfig.json
  packages/webapi/mod.d.ts
  pnpm-lock.yaml
Labels: core

#3957 Improving support for third-party hosted image services
  .changeset/purple-vans-bake.md
  packages/integrations/image/README.md
  packages/integrations/image/src/endpoints/dev.ts
  packages/integrations/image/src/get-image.ts
  packages/integrations/image/src/index.ts
  packages/integrations/image/src/types.ts
Labels: integration

#3963 Moves Debug component's styles to be inlined
  .changeset/warm-news-fly.md
  packages/astro/components/Code.astro
  packages/astro/components/Debug.astro
  packages/astro/test/code-component.test.js
  packages/astro/test/fixtures/code-component/package.json
  packages/astro/test/fixtures/code-component/src/pages/index.astro
  pnpm-lock.yaml
Labels: core

#3966 Make timeout higher for astro check tests as TS is slow on Windows in CI
  packages/astro/test/cli.test.js
Labels: core

#3588 add missing props in markdown layout
  .changeset/eight-baboons-train.md
  packages/astro/src/vite-plugin-markdown/index.ts
  packages/astro/test/astro-markdown.test.js
  packages/astro/test/fixtures/astro-markdown/src/layouts/layout-props.astro
  packages/astro/test/fixtures/astro-markdown/src/pages/layout-props.md
Labels: core

#3969 ci: fix eslint issues
  packages/integrations/image/src/types.ts
  packages/markdown/remark/src/remark-shiki.ts
Labels: markdown, integration

#3965 Feat/image url hash
  .changeset/rare-deers-relax.md
  packages/integrations/image/src/shorthash.ts
  packages/integrations/image/src/utils.ts
  packages/integrations/image/test/image-ssg.test.js
  packages/integrations/image/test/picture-ssg.test.js
Labels: integration

#3971 Adds back `create-astro` support for GitHub repos
  .changeset/lemon-tools-rescue.md
  packages/create-astro/src/index.ts
Labels: create-astro

#3974 Add missing media attribute on MetaHTMLAttributes
  .changeset/old-walls-draw.md
  packages/astro/astro-jsx.d.ts
Labels: core

#3944 fix: add export keyword to file stub
  .changeset/cold-eyes-run.md
  packages/astro/src/core/add/index.ts
Labels: core

#3975 TEMPORARY Chore: remove astro build from smoke
  .github/workflows/ci.yml
Labels: 🚨 action

#3968 Feat: log warning on `astro.config` change, restart server on `astro.config` added
  .changeset/wet-wombats-prove.md
  packages/astro/src/cli/index.ts
  packages/astro/src/core/config.ts
Labels: core

#3961 <Picture> component should pass all unknown attributes to the <img> element
  .changeset/chatty-bikes-sin.md
  packages/integrations/image/README.md
  packages/integrations/image/components/Picture.astro
  packages/integrations/image/test/fixtures/basic-picture/src/pages/index.astro
  packages/integrations/image/test/picture-ssg.test.js
  packages/integrations/image/test/picture-ssr.test.js
Labels: integration

#3973 Adds support for Astro.clientAddress
  .changeset/olive-dryers-sell.md
  packages/astro/src/@types/astro.ts
  packages/astro/src/core/app/index.ts
  packages/astro/src/core/app/node.ts
  packages/astro/src/core/app/types.ts
  packages/astro/src/core/build/generate.ts
  packages/astro/src/core/build/index.ts
  packages/astro/src/core/build/static-build.ts
  packages/astro/src/core/build/types.ts
  packages/astro/src/core/build/vite-plugin-ssr.ts
  packages/astro/src/core/render/core.ts
  packages/astro/src/core/render/dev/index.ts
  packages/astro/src/core/render/result.ts
  packages/astro/src/core/request.ts
  packages/astro/src/vite-plugin-astro-server/index.ts
  packages/astro/test/client-address.test.js
  packages/astro/test/fixtures/client-address/src/pages/index.astro
  packages/astro/test/test-adapter.js
  packages/astro/test/test-utils.js
  packages/integrations/cloudflare/src/server.ts
  packages/integrations/deno/src/server.ts
  packages/integrations/netlify/src/netlify-edge-functions.ts
  packages/integrations/netlify/src/netlify-functions.ts
  packages/integrations/vercel/src/edge/entrypoint.ts
  packages/integrations/vercel/src/serverless/request-transform.ts
Labels: integration, core

#3980 Fixing TypeScript type definitions for image components
  .changeset/perfect-islands-teach.md
  packages/integrations/image/README.md
  packages/integrations/image/components/index.ts
  packages/integrations/image/src/types.ts
  packages/integrations/image/test/fixtures/basic-image/src/pages/index.astro
  packages/integrations/image/test/fixtures/basic-picture/src/pages/index.astro
Labels: integration

#3981 [MDX] Include `url` in glob result
  .changeset/shiny-pumpkins-return.md
  packages/integrations/mdx/package.json
  packages/integrations/mdx/src/index.ts
  packages/integrations/mdx/src/utils.ts
  packages/integrations/mdx/test/fixtures/mdx-url-export/src/pages/pages.json.js
  packages/integrations/mdx/test/fixtures/mdx-url-export/src/pages/test-1.mdx
  packages/integrations/mdx/test/fixtures/mdx-url-export/src/pages/test-2.mdx
  packages/integrations/mdx/test/fixtures/mdx-url-export/src/pages/with-url-override.mdx
  packages/integrations/mdx/test/mdx-url-export.js
  pnpm-lock.yaml
Labels: integration

#3988 Fix `astro check` file paths not handling URL paths correctly
  .changeset/breezy-llamas-behave.md
  packages/astro/src/cli/check/print.ts
Labels: core

#3977 [MDX] Support remark and rehype plugins, with defaults
  .changeset/new-coats-cheer.md
  packages/integrations/mdx/README.md
  packages/integrations/mdx/package.json
  packages/integrations/mdx/src/index.ts
  packages/integrations/mdx/test/fixtures/mdx-remark-plugins/src/pages/with-gfm.mdx
  packages/integrations/mdx/test/fixtures/mdx-remark-plugins/src/pages/with-toc.mdx
  packages/integrations/mdx/test/mdx-remark-plugins.test.js
  pnpm-lock.yaml
Labels: integration

#3992 Removes warnings / flags for integrations and ssr
  .changeset/loud-apes-flash.md
  packages/astro/src/@types/astro.ts
  packages/astro/src/core/build/index.ts
  packages/astro/src/core/config.ts
  packages/astro/src/core/dev/index.ts
  packages/astro/src/core/logger/core.ts
  packages/astro/src/core/util.ts
  packages/astro/test/config-validate.test.js
Labels: core

#4000 Updates SSR routing to always give priority to public assets
  .changeset/brown-drinks-leave.md
  packages/astro/src/core/app/index.ts
  packages/astro/test/fixtures/ssr-dynamic/public/favicon.ico
  packages/astro/test/ssr-dynamic.test.js
Labels: core

#3993 Properly support and type optional props in Svelte components
  .changeset/lovely-lions-attend.md
  packages/integrations/svelte/src/editor.cts
Labels: framework-svelte, integration

#4009 Make the Lit integration be compat with Vite 3.0.1
  .changeset/mighty-poets-prove.md
  packages/astro/package.json
  packages/integrations/lit/src/index.ts
  pnpm-lock.yaml
Labels: framework-lit, integration, core

#3776 Support objects for `style` attribute
  packages/astro/astro-jsx.d.ts
  packages/astro/src/runtime/server/index.ts
Labels: core

#4004 [READMEs] removed "experimental" from astro add instructions
  .changeset/moody-teachers-knock.md
  packages/integrations/image/README.md
  packages/integrations/partytown/README.md
  packages/integrations/prefetch/README.md
  packages/integrations/sitemap/README.md
  packages/integrations/tailwind/README.md
Labels: integration

#3942 fix: better dev routing with base using middleware
  .changeset/dull-eagles-beg.md
  packages/astro/src/vite-plugin-astro-server/index.ts
  packages/astro/test/fixtures/public-base-404/package.json
  packages/astro/test/fixtures/public-base-404/public/twitter.png
  packages/astro/test/fixtures/public-base-404/src/pages/404.astro
  packages/astro/test/fixtures/public-base-404/src/pages/index.astro
  packages/astro/test/public-base-404.test.js
  pnpm-lock.yaml
Labels: core

#4010 Fixes using tsconfig to set aliases
  .changeset/spotty-apricots-deny.md
  packages/astro/src/vite-plugin-config-alias/index.ts
  packages/astro/test/alias-tsconfig.test.js
  packages/astro/test/fixtures/alias-tsconfig/astro.config.mjs
  packages/astro/test/fixtures/alias-tsconfig/package.json
  packages/astro/test/fixtures/alias-tsconfig/src/components/Client.svelte
  packages/astro/test/fixtures/alias-tsconfig/src/pages/index.astro
  packages/astro/test/fixtures/alias-tsconfig/tsconfig.json
  pnpm-lock.yaml
Labels: core

#3959 Replace/Rename Astro.canonicalURL with new Astro.url helper
  .changeset/unlucky-panthers-yawn.md
  .changeset/yellow-drinks-judge.md
  examples/blog-multiple-authors/astro.config.mjs
  examples/blog-multiple-authors/src/layouts/post.astro
  examples/blog-multiple-authors/src/pages/about.astro
  examples/blog-multiple-authors/src/pages/authors/[author].astro
  examples/blog-multiple-authors/src/pages/index.astro
  examples/blog-multiple-authors/src/pages/posts/[...page].astro
  examples/blog/astro.config.mjs
  examples/blog/src/components/BaseHead.astro
  examples/docs/astro.config.mjs
  examples/docs/src/components/HeadSEO.astro
  examples/docs/src/layouts/MainLayout.astro
  packages/astro/src/@types/astro.ts
  packages/astro/src/core/config.ts
  packages/astro/src/core/render/result.ts
  packages/astro/src/core/render/util.ts
  packages/astro/src/core/request.ts
  packages/astro/src/runtime/server/index.ts
  packages/astro/src/vite-plugin-astro/compile.ts
  packages/astro/test/astro-get-static-paths.test.js
  packages/astro/test/astro-global.test.js
  packages/astro/test/custom-404.test.js
  packages/astro/test/fixtures/astro-get-static-paths/src/pages/posts/[page].astro
  packages/astro/test/fixtures/astro-global/src/components/Child.astro
  packages/astro/test/fixtures/astro-global/src/components/NestedChild.astro
  packages/astro/test/fixtures/astro-global/src/layouts/post.astro
  packages/astro/test/fixtures/astro-global/src/pages/index.astro
  packages/astro/test/fixtures/astro-global/src/pages/posts/[page].astro
  packages/astro/test/fixtures/astro-pagination/src/pages/index.astro
  packages/astro/test/fixtures/astro-pagination/src/pages/posts/[slug]/[page].astro
  packages/astro/test/fixtures/astro-pagination/src/pages/posts/named-root-page/[page].astro
  packages/astro/test/fixtures/astro-pagination/src/pages/posts/optional-root-page/[...page].astro
  packages/astro/test/fixtures/custom-404/src/pages/404.astro
  packages/astro/test/fixtures/ssr-request/src/pages/request.astro
Labels: example, core

#4003 Provide hint for `undefined` with hoisted exports
  packages/astro/src/core/errors.ts
Labels: core

#4002 [MDX] Add Prism and Shiki support
  .changeset/real-camels-roll.md
  examples/with-mdx/src/pages/index.mdx
  packages/integrations/mdx/README.md
  packages/integrations/mdx/package.json
  packages/integrations/mdx/src/index.ts
  packages/integrations/mdx/src/remark-prism.ts
  packages/integrations/mdx/test/fixtures/mdx-syntax-hightlighting/src/pages/index.mdx
  packages/integrations/mdx/test/mdx-frontmatter.test.js
  packages/integrations/mdx/test/mdx-syntax-highlighting.test.js
  packages/integrations/mdx/test/mdx-url-export.test.js
  pnpm-lock.yaml
Labels: example, integration

#4008 Fix: use `set:html` when markdown mode is `md`
  .changeset/moody-crabs-occur.md
  packages/astro/src/vite-plugin-markdown/index.ts
  packages/astro/test/astro-markdown-md-mode.test.js
  packages/astro/test/fixtures/astro-markdown-md-mode/astro.config.mjs
  packages/astro/test/fixtures/astro-markdown-md-mode/package.json
  packages/astro/test/fixtures/astro-markdown-md-mode/src/components/Counter.svelte
  packages/astro/test/fixtures/astro-markdown-md-mode/src/pages/code-in-md.md
  packages/astro/test/fixtures/astro-markdown-md-mode/src/pages/components.md
  packages/astro/test/fixtures/astro-markdown-md-mode/src/pages/jsx-expressions.md
  packages/markdown/remark/src/index.ts
  pnpm-lock.yaml
Labels: markdown, core

#4020 feat(vercel): remove requirement of `ENABLE_VC_BUILD=1`
  .changeset/rotten-candles-count.md
  packages/integrations/vercel/README.md
  packages/integrations/vercel/src/edge/adapter.ts
  packages/integrations/vercel/src/serverless/adapter.ts
  packages/integrations/vercel/src/static/adapter.ts
Labels: integration

#3976 New handling for `define:vars` scripts and styles
  .changeset/sixty-drinks-search.md
  packages/astro/package.json
  packages/astro/src/runtime/server/index.ts
  packages/astro/src/vite-plugin-astro/index.ts
  packages/astro/test/astro-directives.test.js
  packages/astro/test/fixtures/astro-directives/src/components/Title.astro
  packages/astro/test/fixtures/astro-directives/src/pages/define-vars.astro
  pnpm-lock.yaml
Labels: core

#3867 Add `.html` support
  .changeset/strong-stingrays-compete.md
  packages/astro/env.d.ts
  packages/astro/package.json
  packages/astro/src/core/config.ts
  packages/astro/src/core/create-vite.ts
  packages/astro/src/core/dev/index.ts
  packages/astro/src/core/errors.ts
  packages/astro/src/runtime/server/index.ts
  packages/astro/src/vite-plugin-html/index.ts
  packages/astro/src/vite-plugin-html/transform/escape.ts
  packages/astro/src/vite-plugin-html/transform/index.ts
  packages/astro/src/vite-plugin-html/transform/slots.ts
  packages/astro/src/vite-plugin-html/transform/utils.ts
  packages/astro/test/fixtures/html-component/package.json
  packages/astro/test/fixtures/html-component/src/components/Test.html
  packages/astro/test/fixtures/html-component/src/pages/index.astro
  packages/astro/test/fixtures/html-escape/package.json
  packages/astro/test/fixtures/html-escape/src/components/Test.html
  packages/astro/test/fixtures/html-escape/src/pages/index.astro
  packages/astro/test/fixtures/html-page/package.json
  packages/astro/test/fixtures/html-page/src/pages/index.html
  packages/astro/test/fixtures/html-slots/package.json
  packages/astro/test/fixtures/html-slots/src/components/Default.html
  packages/astro/test/fixtures/html-slots/src/components/Inline.html
  packages/astro/test/fixtures/html-slots/src/components/Named.html
  packages/astro/test/fixtures/html-slots/src/pages/index.astro
  packages/astro/test/html-component.test.js
  packages/astro/test/html-escape.test.js
  packages/astro/test/html-page.test.js
  packages/astro/test/html-slots.test.js
  packages/webapi/mod.d.ts
  pnpm-lock.yaml
Labels: core

#3932 Overhaul HMR handling for `.astro` files
  .changeset/popular-taxis-prove.md
  package.json
  packages/astro/src/core/render/dev/hmr.ts
  packages/astro/src/core/render/dev/index.ts
  packages/astro/src/runtime/client/hmr.ts
  packages/astro/src/vite-plugin-astro-server/index.ts
  packages/astro/src/vite-plugin-astro/hmr.ts
  packages/astro/src/vite-plugin-astro/index.ts
  packages/astro/test/fixtures/hmr-css/src/pages/index.astro
  packages/astro/test/hmr-css.test.js
  packages/astro/test/postcss.test.js
Labels: core

#4021 Handle EXIF orientation flag
  .changeset/gentle-mails-mate.md
  packages/integrations/image/src/metadata.ts
Labels: integration

#4023 Fixes Node adapter receiving a request body
  .changeset/smooth-seahorses-hear.md
  packages/astro/src/core/app/node.ts
  packages/integrations/node/package.json
  packages/integrations/node/src/server.ts
  packages/integrations/node/test/api-route.test.js
  packages/integrations/node/test/fixtures/api-route/package.json
  packages/integrations/node/test/fixtures/api-route/src/pages/recipes.js
  packages/integrations/node/test/test-utils.js
  pnpm-lock.yaml
Labels: integration, core

#4018 SSR 404 and 500 routes in adapters
  .changeset/happy-parrots-stare.md
  packages/astro/src/core/app/index.ts
  packages/astro/src/core/endpoint/index.ts
  packages/astro/src/core/render/core.ts
  packages/astro/src/core/render/result.ts
  packages/astro/test/fixtures/ssr-api-route-custom-404/package.json
  packages/astro/test/fixtures/ssr-api-route-custom-404/src/pages/404.astro
  packages/astro/test/fixtures/ssr-api-route-custom-404/src/pages/500.astro
  packages/astro/test/fixtures/ssr-api-route-custom-404/src/pages/causes-error.astro
  packages/astro/test/ssr-404-500-pages.test.js
  packages/integrations/cloudflare/src/server.ts
  packages/integrations/netlify/src/netlify-functions.ts
  packages/integrations/vercel/src/serverless/entrypoint.ts
  pnpm-lock.yaml
Labels: integration, core

#4013 WIP: [image] Fixing SSR support and improving error validation
  .changeset/tiny-glasses-play.md
  packages/integrations/image/components/Image.astro
  packages/integrations/image/components/Picture.astro
  packages/integrations/image/package.json
  packages/integrations/image/src/build/ssg.ts
  packages/integrations/image/src/build/ssr.ts
  packages/integrations/image/src/endpoints/dev.ts
  packages/integrations/image/src/endpoints/prod.ts
  packages/integrations/image/src/index.ts
  packages/integrations/image/src/integration.ts
  packages/integrations/image/src/lib/get-image.ts
  packages/integrations/image/src/lib/get-picture.ts
  packages/integrations/image/src/loaders/sharp.ts
  packages/integrations/image/src/types.ts
  packages/integrations/image/src/utils/images.ts
  packages/integrations/image/src/utils/metadata.ts
  packages/integrations/image/src/utils/paths.ts
  packages/integrations/image/src/utils/shorthash.ts
  packages/integrations/image/src/vite-plugin-astro-image.ts
  packages/integrations/image/test/fixtures/rotation/astro.config.mjs
  packages/integrations/image/test/fixtures/rotation/package.json
  packages/integrations/image/test/fixtures/rotation/public/favicon.ico
  packages/integrations/image/test/fixtures/rotation/server/server.mjs
  packages/integrations/image/test/fixtures/rotation/src/assets/Landscape_0.jpg
  packages/integrations/image/test/fixtures/rotation/src/assets/Landscape_1.jpg
  packages/integrations/image/test/fixtures/rotation/src/assets/Landscape_2.jpg
  packages/integrations/image/test/fixtures/rotation/src/assets/Landscape_3.jpg
  packages/integrations/image/test/fixtures/rotation/src/assets/Landscape_4.jpg
  packages/integrations/image/test/fixtures/rotation/src/assets/Landscape_5.jpg
  packages/integrations/image/test/fixtures/rotation/src/assets/Landscape_6.jpg
  packages/integrations/image/test/fixtures/rotation/src/assets/Landscape_7.jpg
  packages/integrations/image/test/fixtures/rotation/src/assets/Landscape_8.jpg
  packages/integrations/image/test/fixtures/rotation/src/assets/Portrait_0.jpg
  packages/integrations/image/test/fixtures/rotation/src/assets/Portrait_1.jpg
  packages/integrations/image/test/fixtures/rotation/src/assets/Portrait_2.jpg
  packages/integrations/image/test/fixtures/rotation/src/assets/Portrait_3.jpg
  packages/integrations/image/test/fixtures/rotation/src/assets/Portrait_4.jpg
  packages/integrations/image/test/fixtures/rotation/src/assets/Portrait_5.jpg
  packages/integrations/image/test/fixtures/rotation/src/assets/Portrait_6.jpg
  packages/integrations/image/test/fixtures/rotation/src/assets/Portrait_7.jpg
  packages/integrations/image/test/fixtures/rotation/src/assets/Portrait_8.jpg
  packages/integrations/image/test/fixtures/rotation/src/pages/index.astro
  packages/integrations/image/test/image-ssg.test.js
  packages/integrations/image/test/image-ssr.test.js
  packages/integrations/image/test/picture-ssg.test.js
  packages/integrations/image/test/picture-ssr.test.js
  packages/integrations/image/test/rotation.test.js
  pnpm-lock.yaml
Labels: integration

#4024 Preserve authored CSS specificity
  .changeset/fuzzy-donuts-wonder.md
  packages/astro/package.json
  packages/astro/test/0-css.test.js
  packages/astro/test/astro-markdown-css.test.js
  packages/astro/test/astro-partial-html.test.js
  pnpm-lock.yaml
Labels: core

#4031 Rename Markdown util `getHeaders()` to `getHeadings()`
  .changeset/young-radios-call.md
  examples/docs/src/components/PageContent/PageContent.astro
  examples/docs/src/components/RightSidebar/MoreMenu.astro
  examples/docs/src/components/RightSidebar/RightSidebar.astro
  examples/docs/src/components/RightSidebar/TableOfContents.tsx
  examples/docs/src/styles/index.css
  packages/astro/env.d.ts
  packages/astro/src/@types/astro.ts
  packages/astro/src/vite-plugin-markdown/index.ts
  packages/markdown/remark/src/index.ts
  packages/markdown/remark/src/rehype-collect-headings.ts
  packages/markdown/remark/src/types.ts
Labels: markdown, example, core

#4032 Fix: (patching old PR) Check node version and find acceptable host accordingly
  .changeset/strange-needles-hide.md
  packages/astro/src/core/messages.ts
Labels: core

#4030 Update `astro` version to `1.0.0-rc.0`
  examples/basics/package.json
  examples/blog-multiple-authors/package.json
  examples/blog/package.json
  examples/component/demo/package.json
  examples/component/package.json
  examples/docs/package.json
  examples/env-vars/package.json
  examples/framework-alpine/package.json
  examples/framework-lit/package.json
  examples/framework-multiple/package.json
  examples/framework-preact/package.json
  examples/framework-react/package.json
  examples/framework-solid/package.json
  examples/framework-svelte/package.json
  examples/framework-vue/package.json
  examples/integrations-playground/package.json
  examples/minimal/package.json
  examples/non-html-pages/package.json
  examples/portfolio/package.json
  examples/ssr/package.json
  examples/starter/package.json
  examples/subpath/package.json
  examples/with-markdown-plugins/package.json
  examples/with-markdown-shiki/package.json
  examples/with-mdx/package.json
  examples/with-nanostores/package.json
  examples/with-tailwindcss/package.json
  examples/with-vite-plugin-pwa/package.json
  packages/astro/package.json
  pnpm-lock.yaml
Labels: example, core

#4027 [Doc-generated content] legacy.astroFlavoredMarkdown
  packages/astro/src/@types/astro.ts
Labels: core

#4046 Add warnings on markdown deprecations
  .changeset/large-seas-drum.md
  packages/astro/src/core/create-vite.ts
  packages/astro/src/vite-plugin-markdown/index.ts
Labels: core

#4043 [docs content] use "version" not since
  packages/astro/src/@types/astro.ts
Labels: core

#4048 Removes `fileURLToPath` dependency from `@astrojs/image` SSR production endpoint
  .changeset/khaki-tables-design.md
  packages/integrations/image/package.json
  packages/integrations/image/src/build/ssg.ts
  packages/integrations/image/src/build/ssr.ts
  packages/integrations/image/src/endpoints/prod.ts
  packages/integrations/image/src/lib/get-picture.ts
  packages/integrations/image/src/utils/images.ts
  packages/integrations/image/src/utils/metadata.ts
  packages/integrations/image/src/utils/paths.ts
  packages/integrations/image/src/vite-plugin-astro-image.ts
  pnpm-lock.yaml
Labels: integration

#4050 Fix MDX + Tailwind, add support for injected page-ssr scripts to MDX extension
  .changeset/great-insects-beam.md
  packages/astro/test/fixtures/tailwindcss/astro.config.mjs
  packages/astro/test/fixtures/tailwindcss/package.json
  packages/astro/test/fixtures/tailwindcss/src/pages/mdx-page.mdx
  packages/astro/test/tailwindcss.test.js
  packages/integrations/mdx/src/index.ts
  pnpm-lock.yaml
Labels: integration, core

#4047 Move getStaticPaths call to happen during generation
  .changeset/old-stingrays-smoke.md
  packages/astro/src/core/build/generate.ts
  packages/astro/src/core/build/page-data.ts
  packages/astro/src/core/build/static-build.ts
  packages/astro/src/core/build/types.ts
  packages/astro/test/astro-get-static-paths.test.js
  packages/astro/test/fixtures/lit-element/src/pages/[page].astro
  packages/astro/test/fixtures/routing-priority/src/pages/de/index.astro
  packages/astro/test/lit-element.test.js
  packages/astro/test/routing-priority.test.js
Labels: core

#4055 Fixes binary data request bodies in the Node adapter
  .changeset/slow-terms-repeat.md
  packages/astro/src/core/app/node.ts
  packages/integrations/node/test/api-route.test.js
  packages/integrations/node/test/fixtures/api-route/src/pages/binary.ts
Labels: integration, core

#4057 Prevent Svelte HMR warning during the build
  .changeset/lucky-phones-mix.md
  packages/integrations/svelte/src/index.ts
Labels: framework-svelte, integration

#4058 Add tests for markdown content escaping
  packages/astro/package.json
  packages/astro/test/fixtures/markdown/src/pages/entities.md
  packages/astro/test/markdown.test.js
  packages/markdown/remark/src/rehype-escape.ts
  packages/markdown/remark/test/entities.test.js
  pnpm-lock.yaml
Labels: markdown, core

#4045 Fixes type definitions `@astrojs/image` and adds more documentation to the README
  .changeset/fifty-apricots-clap.md
  .changeset/five-singers-notice.md
  packages/astro/client-base.d.ts
  packages/astro/client.d.ts
  packages/astro/package.json
  packages/integrations/image/README.md
  packages/integrations/image/client.d.ts
  packages/integrations/image/components/Image.astro
  packages/integrations/image/components/Picture.astro
  packages/integrations/image/components/index.ts
  packages/integrations/image/package.json
  packages/integrations/image/src/build/ssg.ts
  packages/integrations/image/src/index.ts
  packages/integrations/image/src/integration.ts
  packages/integrations/image/src/lib/get-image.ts
  packages/integrations/image/src/lib/get-picture.ts
  packages/integrations/image/src/loaders/index.ts
  packages/integrations/image/src/loaders/sharp.ts
  packages/integrations/image/src/utils/images.ts
  packages/integrations/image/src/utils/metadata.ts
  packages/integrations/image/src/utils/paths.ts
  packages/integrations/image/src/vite-plugin-astro-image.ts
Labels: integration, core

#4068 Add errors to cloudflare/vercel adapters when no output config
  .changeset/giant-dolls-reply.md
  packages/integrations/cloudflare/package.json
  packages/integrations/cloudflare/src/index.ts
  packages/integrations/cloudflare/test/fixtures/no-output/astro.config.mjs
  packages/integrations/cloudflare/test/fixtures/no-output/package.json
  packages/integrations/cloudflare/test/no-output.test.js
  packages/integrations/cloudflare/test/test-utils.js
  packages/integrations/vercel/package.json
  packages/integrations/vercel/src/serverless/adapter.ts
  packages/integrations/vercel/test/fixtures/no-output/astro.config.mjs
  packages/integrations/vercel/test/fixtures/no-output/package.json
  packages/integrations/vercel/test/fixtures/no-output/src/pages/index.astro
  packages/integrations/vercel/test/no-output.test.js
  packages/integrations/vercel/test/test-utils.js
  pnpm-lock.yaml
Labels: integration

#4073 Add fontsource packages to always be noExternal
  .changeset/clever-nails-pump.md
  packages/astro/src/core/create-vite.ts
Labels: core

#4072 Fixes cloudflare throwing over process
  .changeset/shy-kids-hug.md
  packages/astro/src/core/render/result.ts
  packages/integrations/cloudflare/package.json
  packages/integrations/cloudflare/src/index.ts
  packages/integrations/cloudflare/test/basics.test.js
  packages/integrations/cloudflare/test/fixtures/basics/astro.config.mjs
  packages/integrations/cloudflare/test/fixtures/basics/package.json
  packages/integrations/cloudflare/test/fixtures/basics/src/pages/index.astro
  packages/integrations/cloudflare/test/test-utils.js
  pnpm-lock.yaml
Labels: integration, core

#4070 Fix readme link
  packages/astro/README.md
Labels: core

#4028 Update MarkdownContent type
  .changeset/quick-onions-itch.md
  packages/astro/src/@types/astro.ts
Labels: core

#4077 [docs content] MDX layouts
  packages/integrations/mdx/README.md
Labels: integration

#4076 Ensure file and url are always present in MDX for Astro.glob
  .changeset/silent-files-promise.md
  packages/integrations/mdx/src/index.ts
  packages/integrations/mdx/src/utils.ts
  packages/integrations/mdx/test/fixtures/mdx-get-static-paths/src/content/1.mdx
  packages/integrations/mdx/test/fixtures/mdx-get-static-paths/src/pages/[slug].astro
  packages/integrations/mdx/test/mdx-get-static-paths.test.js
Labels: integration

#4075 Fix misc create-astro issues
  .changeset/large-rivers-enjoy.md
  packages/create-astro/src/index.ts
Labels: create-astro

#4085 Fix shape of Markdown component to work with the language-server
  .changeset/rich-months-develop.md
  packages/markdown/component/Markdown.astro
Labels: markdown

#4080 Prevent hydration scripts from being rendered in the wrong order
  .changeset/ninety-news-change.md
  packages/astro/src/@types/astro.ts
  packages/astro/src/core/render/result.ts
  packages/astro/src/runtime/server/hydration.ts
  packages/astro/src/runtime/server/index.ts
  packages/astro/src/runtime/server/jsx.ts
  packages/astro/src/runtime/server/scripts.ts
  packages/astro/test/fixtures/hydration-race/astro.config.mjs
  packages/astro/test/fixtures/hydration-race/package.json
  packages/astro/test/fixtures/hydration-race/src/components/Deeper.astro
  packages/astro/test/fixtures/hydration-race/src/components/One.jsx
  packages/astro/test/fixtures/hydration-race/src/components/Wrapper.astro
  packages/astro/test/fixtures/hydration-race/src/pages/index.astro
  packages/astro/test/hydration-race.test.js
  packages/integrations/cloudflare/test/basics.test.js
  packages/integrations/cloudflare/test/test-utils.js
  pnpm-lock.yaml
Labels: integration, core

#4088 feat: support `layout` in MDX frontmatter
  .changeset/witty-crews-worry.md
  packages/integrations/mdx/README.md
  packages/integrations/mdx/package.json
  packages/integrations/mdx/src/index.ts
  packages/integrations/mdx/src/utils.ts
  packages/integrations/mdx/test/fixtures/mdx-frontmatter/src/layouts/Base.astro
  packages/integrations/mdx/test/fixtures/mdx-frontmatter/src/pages/index.mdx
  packages/integrations/mdx/test/mdx-frontmatter.test.js
  pnpm-lock.yaml
Labels: integration

#4087 Updates the dev server to handle multiple routes matching the same URL
  .changeset/gold-olives-cover.md
  packages/astro/src/core/routing/index.ts
  packages/astro/src/core/routing/manifest/create.ts
  packages/astro/src/core/routing/match.ts
  packages/astro/src/vite-plugin-astro-server/index.ts
  packages/astro/test/astro-get-static-paths.test.js
  packages/astro/test/fixtures/routing-priority/astro.config.mjs
  packages/astro/test/fixtures/routing-priority/integration.mjs
  packages/astro/test/fixtures/routing-priority/src/[id].astro
  packages/astro/test/fixtures/routing-priority/src/_to-inject.astro
  packages/astro/test/fixtures/routing-priority/src/pages/[page].astro
  packages/astro/test/fixtures/routing-priority/src/pages/[slug].astro
  packages/astro/test/fixtures/routing-priority/src/to-inject.astro
  packages/astro/test/routing-priority.test.js
Labels: core

#4082 [docs content] Image README formatting
  packages/integrations/image/README.md
Labels: integration
