Repository withastro/astro, pull requests merged in 2022-10, with the labels that each got.

#4944 Astro image cache dependency fix scottaw66
  .changeset/clever-lies-reflect.md
  packages/integrations/image/package.json
  pnpm-lock.yaml
Labels: integration

#4952 Refactor ViteConfigWithSSR type
  .changeset/moody-gifts-press.md
  packages/astro/src/@types/astro.ts
  packages/astro/src/core/build/index.ts
  packages/astro/src/core/build/static-build.ts
  packages/astro/src/core/build/types.ts
  packages/astro/src/core/create-vite.ts
  packages/astro/src/integrations/index.ts
Labels: core

#4953 Suppress eslint warnings
  .changeset/tough-turkeys-teach.md
  .eslintrc.cjs
  packages/integrations/mdx/src/index.ts
Labels: integration

#4956 Improve rendering perf
  .changeset/fifty-icons-smash.md
  packages/astro/src/runtime/server/render/common.ts
  packages/astro/test/benchmark/simple/astro.config.mjs
  packages/astro/test/benchmark/simple/package.json
  packages/astro/test/benchmark/simple/server.mjs
  packages/astro/test/benchmark/simple/src/components/Layout.astro
  packages/astro/test/benchmark/simple/src/pages/index.astro
  pnpm-lock.yaml
Labels: core

#4960 Run benchmarks on comment
  .github/workflows/benchmark.yml
  package.json
Labels: 🚨 action

#4962 Build packages in the benchmark action
  .github/workflows/benchmark.yml
Labels: 🚨 action

#4964 Benchmark action: provide the PR number
  .github/workflows/benchmark.yml
Labels: 🚨 action

#4966 Adds a better test for benchmarking
  packages/astro/test/benchmark/simple/package.json
  packages/astro/test/benchmark/simple/src/pages/index.astro
Labels: core

#4967 Fix regression in rendering strings
  .changeset/breezy-teachers-clean.md
  packages/astro/src/runtime/server/render/any.ts
Labels: core

#4973 Support Astro.slots.render for mdx
  .changeset/friendly-wolves-juggle.md
  packages/astro/src/core/render/result.ts
  packages/astro/src/runtime/server/jsx.ts
  packages/astro/test/fixtures/slots-react/src/components/Render.astro
  packages/astro/test/fixtures/slots-react/src/components/RenderArgs.astro
  packages/astro/test/fixtures/slots-react/src/components/RenderFn.astro
  packages/astro/test/fixtures/slots-react/src/pages/slottedapi-render.mdx
  packages/astro/test/slots-react.test.js
Labels: core

#4954 Update config base type description
  packages/astro/src/@types/astro.ts
Labels: core

#4977 closes #4633
  .changeset/lemon-pets-sneeze.md
  packages/astro/src/core/render/route-cache.ts
  packages/astro/src/vite-plugin-astro-server/index.ts
Labels: core

#4887 fix object styles not escaped
  .changeset/swift-moles-crash.md
  packages/astro/src/runtime/server/render/util.ts
  packages/astro/test/astro-object-style.test.js
  packages/astro/test/fixtures/astro-object-style/package.json
  packages/astro/test/fixtures/astro-object-style/src/components/Span.astro
  packages/astro/test/fixtures/astro-object-style/src/pages/component.astro
  packages/astro/test/fixtures/astro-object-style/src/pages/index.astro
  pnpm-lock.yaml
Labels: core

#4886 fix: import.meta.env.BASE_URL will be '/' in client loaded component on dev mode
  .changeset/four-suns-happen.md
  packages/astro/e2e/astro-envs.test.js
  packages/astro/e2e/fixtures/astro-envs/.gitignore
  packages/astro/e2e/fixtures/astro-envs/astro.config.mjs
  packages/astro/e2e/fixtures/astro-envs/package.json
  packages/astro/e2e/fixtures/astro-envs/src/components/Client.vue
  packages/astro/e2e/fixtures/astro-envs/src/pages/index.astro
  packages/astro/src/core/dev/index.ts
  pnpm-lock.yaml
Labels: core

#4983 Fix failing e2e test
  packages/astro/e2e/fixtures/astro-envs/package.json
  pnpm-lock.yaml
Labels: core

#4990 Upgrade Astro compiler to 0.26.0
  .changeset/wise-worms-add.md
  packages/astro/package.json
  pnpm-lock.yaml
Labels: core

#4981 Yield out potentional slot instructions when rendering dynamic tags
  .changeset/four-doors-exercise.md
  packages/astro/src/runtime/server/jsx.ts
  packages/astro/src/runtime/server/render/component.ts
  packages/astro/src/runtime/server/render/page.ts
  packages/astro/test/astro-slot-with-client.test.js
  packages/astro/test/fixtures/astro-slot-with-client/astro.config.mjs
  packages/astro/test/fixtures/astro-slot-with-client/package.json
  packages/astro/test/fixtures/astro-slot-with-client/src/components/Slotted.astro
  packages/astro/test/fixtures/astro-slot-with-client/src/components/Thing.jsx
  packages/astro/test/fixtures/astro-slot-with-client/src/pages/index.astro
  pnpm-lock.yaml
Labels: core

#4993 Remove early return from SSR example
  examples/ssr/src/pages/index.astro
Labels: example

#4999 Document Lit's limitations in SSR
  packages/integrations/lit/README.md
Labels: framework-lit, integration

#4888 adjusting cloudflare adapter and solid ssr to work together
  .changeset/cuddly-clouds-complain.md
  packages/integrations/cloudflare/src/index.ts
  packages/integrations/solid/src/index.ts
Labels: framework-solid, integration

#4978 Docs: add yarn workaround to node integration docs
  packages/integrations/node/README.md
Labels: integration

#4997 [@astrojs/image]: Fix <Picture /> component with query string
  .changeset/large-bananas-prove.md
  packages/integrations/image/src/utils/paths.ts
  packages/integrations/image/test/fixtures/basic-picture/src/assets/blog/introducing astro.jpg
  packages/integrations/image/test/fixtures/basic-picture/src/pages/index.astro
  packages/integrations/image/test/picture-ssg.test.js
  packages/integrations/image/test/picture-ssr-build.test.js
  packages/integrations/image/test/picture-ssr-dev.test.js
Labels: integration

#5002 e2e test stability
  packages/astro/e2e/multiple-frameworks.test.js
  packages/astro/playwright.config.js
  packages/astro/src/core/build/static-build.ts
  packages/astro/src/core/fs/index.ts
  packages/astro/src/core/util.ts
  packages/astro/test/cli.test.js
Labels: core

#5005 Improve test infrastructure for integrations/deno
  .github/workflows/ci.yml
  packages/integrations/deno/test/basics.test.js
  packages/integrations/deno/test/basics.test.ts
  packages/integrations/deno/test/deps.js
  packages/integrations/deno/test/dynamic-import.test.js
  packages/integrations/deno/test/dynamic-import.test.ts
  packages/integrations/deno/test/helpers.js
  packages/integrations/deno/test/helpers.ts
Labels: 🚨 action, integration

#5009 [@astrojs/prefetch]: Prevent prefetching current page
  .changeset/cold-colts-laugh.md
  packages/integrations/prefetch/src/client.ts
  packages/integrations/prefetch/test/basic-prefetch.test.js
  packages/integrations/prefetch/test/custom-selectors.test.js
  packages/integrations/prefetch/test/fixtures/basic-prefetch/src/pages/index.astro
Labels: integration

#5013 Move astro/config into src and typecheck
  .changeset/smooth-horses-repeat.md
  packages/astro/config.mjs
  packages/astro/src/config/index.ts
Labels: core

#4877 Adds an integration starter example
  examples/integration/README.md
  examples/integration/index.ts
  examples/integration/package.json
  examples/integration/tsconfig.json
  pnpm-lock.yaml
Labels: example

#5016 Fix support for mui
  .changeset/friendly-bottles-push.md
  packages/integrations/react/src/index.ts
Labels: framework-react, integration

#4992 Correct `base` documentation
  packages/astro/src/@types/astro.ts
Labels: core

#5021 Fix remote images in SSG mode
  .changeset/sixty-actors-look.md
  packages/integrations/image/src/build/ssg.ts
  packages/integrations/image/test/fixtures/get-image-remote/astro.config.mjs
  packages/integrations/image/test/fixtures/get-image-remote/package.json
  packages/integrations/image/test/fixtures/get-image-remote/src/pages/index.astro
  packages/integrations/image/test/get-image.test.js
  pnpm-lock.yaml
Labels: integration

#5015 Add back Preact signals support
  .changeset/itchy-tigers-help.md
  examples/framework-preact/package.json
  examples/framework-preact/src/components/Counter.tsx
  examples/framework-preact/src/pages/index.astro
  packages/astro/src/runtime/server/hydration.ts
  packages/astro/test/fixtures/preact-component/package.json
  packages/astro/test/fixtures/preact-component/src/components/Signals.jsx
  packages/astro/test/fixtures/preact-component/src/pages/signals.astro
  packages/astro/test/fixtures/ssr-response/src/pages/some-header.astro
  packages/astro/test/preact-component.test.js
  packages/astro/test/ssr-response.test.js
  packages/integrations/preact/client.js
  packages/integrations/preact/package.json
  packages/integrations/preact/src/client-dev.ts
  packages/integrations/preact/src/client.ts
  packages/integrations/preact/src/context.ts
  packages/integrations/preact/src/server.ts
  packages/integrations/preact/src/signals.ts
  packages/integrations/preact/src/static-html.ts
  packages/integrations/preact/src/types.ts
  pnpm-lock.yaml
Labels: example, framework-preact, integration, core

#5035 fixing multiple doctype injections in single file
  .changeset/chilly-carrots-think.md
  packages/astro/src/runtime/server/render/page.ts
Labels: core

#5036 Shorter CSS naming algorithm
  .changeset/six-oranges-shop.md
  packages/astro/src/core/build/vite-plugin-css.ts
Labels: core

#5034 Support strict dependency install for image integration
  .changeset/small-laws-dream.md
  packages/integrations/image/package.json
  packages/integrations/image/src/index.ts
  pnpm-lock.yaml
Labels: integration

#5033 fix(vercel): now works with monorepos
  .changeset/famous-dancers-explain.md
  packages/integrations/vercel/package.json
  packages/integrations/vercel/src/lib/fs.ts
  packages/integrations/vercel/src/lib/nft.ts
  packages/integrations/vercel/src/serverless/adapter.ts
  pnpm-lock.yaml
Labels: integration

#5042 Fix typo
  examples/with-markdown-plugins/src/pages/index.md
Labels: example

#5044 chore: Upgrade Astro compiler to 0.27.1
  .changeset/sixty-ladybugs-return.md
  packages/astro/package.json
  pnpm-lock.yaml
Labels: core, hacktoberfest-accepted

#5045 Allow `class` to be passed into Svelte islands
  .changeset/early-pillows-deliver.md
  packages/integrations/svelte/client.js
Labels: framework-svelte, integration

#5050 fix a typo in Code component's wrap prop
  packages/astro/components/Code.astro
Labels: core

#5057 Skip JSX tagging for export statements with source
  .changeset/serious-icons-dream.md
  packages/astro/src/vite-plugin-jsx/tag.ts
  packages/astro/test/fixtures/react-jsx-export/src/components/ListExportTest.jsx
  packages/astro/test/fixtures/react-jsx-export/src/components/ListExportTestComponent.jsx
  packages/astro/test/fixtures/react-jsx-export/src/pages/index.astro
  packages/astro/test/react-jsx-export.test.js
Labels: core

#5047 Update the Astro.cookies.set types to receive boolean and numbers
  .changeset/witty-sheep-wave.md
  packages/astro/src/core/cookies/cookies.ts
  packages/astro/test/units/cookies/set.test.js
  packages/integrations/deno/test/basics.test.ts
  packages/integrations/deno/test/fixtures/basics/src/pages/admin.astro
  packages/integrations/deno/test/fixtures/basics/src/pages/login.astro
Labels: integration, core

#5022 Run astro check on all examples in CI
  .github/workflows/check.yml
  examples/framework-lit/src/pages/index.astro
  examples/non-html-pages/src/pages/index.astro
  examples/portfolio/src/components/PortfolioPreview.astro
  examples/portfolio/src/layouts/project.astro
  examples/portfolio/src/pages/index.astro
  examples/portfolio/src/pages/projects.astro
  examples/portfolio/src/types.ts
  examples/ssr/src/api.ts
  examples/ssr/src/components/ProductListing.astro
  examples/ssr/src/components/TextDecorationSkip.astro
  examples/ssr/src/pages/index.astro
  examples/with-tailwindcss/package.json
  examples/with-tailwindcss/src/components/Button.astro
  package.json
  pnpm-lock.yaml
  scripts/package.json
  scripts/smoke/check.js
Labels: example, 🚨 action

#5059 Support solidjs libraries
  .changeset/ten-phones-drop.md
  .changeset/thin-parents-breathe.md
  packages/astro/package.json
  packages/astro/src/vite-plugin-jsx/index.ts
  packages/astro/src/vite-plugin-jsx/tag.ts
  packages/astro/test/fixtures/solid-component/package.json
  packages/astro/test/fixtures/solid-component/src/pages/index.astro
  packages/integrations/solid/src/dependencies.ts
  packages/integrations/solid/src/index.ts
  pnpm-lock.yaml
Labels: framework-solid, integration, core

#4959 Added support for updating tsconfig.json when using astro add
  .changeset/giant-news-speak.md
  package.json
  packages/astro/package.json
  packages/astro/src/core/add/index.ts
  packages/astro/src/core/config/index.ts
  packages/astro/src/core/config/tsconfig.ts
  packages/astro/src/core/util.ts
  packages/astro/test/fixtures/tsconfig-handling/invalid/tsconfig.json
  packages/astro/test/fixtures/tsconfig-handling/jsconfig/jsconfig.json
  packages/astro/test/fixtures/tsconfig-handling/missing/.gitkeep
  packages/astro/test/fixtures/tsconfig-handling/nested-folder/.gitkeep
  packages/astro/test/fixtures/tsconfig-handling/tsconfig.json
  packages/astro/test/units/config/config-tsconfig.test.js
  packages/integrations/react/package.json
  pnpm-lock.yaml
Labels: framework-react, integration, core, semver minor

#4986 Add new fields to API route context
  .changeset/fifty-ads-march.md
  .changeset/selfish-foxes-bake.md
  packages/astro/src/@types/astro.ts
  packages/astro/src/cli/index.ts
  packages/astro/src/core/constants.ts
  packages/astro/src/core/endpoint/dev/index.ts
  packages/astro/src/core/endpoint/index.ts
  packages/astro/src/core/render/core.ts
  packages/astro/src/core/render/result.ts
  packages/astro/src/core/util.ts
  packages/astro/src/events/index.ts
  packages/astro/src/runtime/server/astro-global.ts
  packages/astro/test/fixtures/ssr-api-route/astro.config.mjs
  packages/astro/test/fixtures/ssr-api-route/package.json
  packages/astro/test/fixtures/ssr-api-route/src/pages/context/[param].js
  packages/astro/test/ssr-api-route.test.js
  pnpm-lock.yaml
Labels: core, semver minor

#5056 Node.js standalone mode + support for astro preview
  .changeset/cyan-paws-fry.md
  .changeset/metal-pumas-walk.md
  .changeset/stupid-points-refuse.md
  examples/ssr/astro.config.mjs
  examples/ssr/package.json
  examples/ssr/server/server.mjs
  packages/astro/src/@types/astro.ts
  packages/astro/src/core/build/index.ts
  packages/astro/src/core/config/config.ts
  packages/astro/src/core/config/schema.ts
  packages/astro/src/core/preview/index.ts
  packages/astro/src/core/preview/static-preview-server.ts
  packages/astro/src/core/util.ts
  packages/astro/src/integrations/index.ts
  packages/astro/test/benchmark/simple/astro.config.mjs
  packages/astro/test/fixtures/static-build-ssr/astro.config.mjs
  packages/integrations/cloudflare/src/index.ts
  packages/integrations/deno/src/index.ts
  packages/integrations/image/src/index.ts
  packages/integrations/netlify/src/integration-edge-functions.ts
  packages/integrations/netlify/src/integration-functions.ts
  packages/integrations/node/README.md
  packages/integrations/node/package.json
  packages/integrations/node/src/http-server.ts
  packages/integrations/node/src/index.ts
  packages/integrations/node/src/middleware.ts
  packages/integrations/node/src/preview.ts
  packages/integrations/node/src/server.ts
  packages/integrations/node/src/standalone.ts
  packages/integrations/node/src/types.ts
  packages/integrations/node/test/api-route.test.js
  packages/integrations/vercel/src/edge/adapter.ts
  packages/integrations/vercel/src/serverless/adapter.ts
  pnpm-lock.yaml
Labels: example, integration, core, semver minor

#5067 Fix failing SSR test
  packages/astro/test/fixtures/ssr-api-route/astro.config.mjs
Labels: core

#5073 Fix image external config in build
  .changeset/happy-mayflies-sort.md
  packages/integrations/image/src/index.ts
Labels: integration

#5072 Support relative protocol image URL
  .changeset/warm-mangos-dance.md
  packages/integrations/image/src/build/ssg.ts
  packages/integrations/image/src/lib/get-image.ts
  packages/integrations/image/src/loaders/squoosh.ts
  packages/integrations/image/src/utils/paths.ts
  packages/integrations/image/test/fixtures/squoosh-service/src/pages/index.astro
  packages/integrations/image/test/squoosh-service.test.js
Labels: integration

#5076 Fix aliases from jsconfig.json not being picked up anymore
  .changeset/honest-crabs-scream.md
  packages/astro/src/core/config/tsconfig.ts
Labels: core

#5075 [Vue] add support for `appEntrypoint`
  .changeset/dry-moose-join.md
  packages/integrations/vue/README.md
  packages/integrations/vue/client.js
  packages/integrations/vue/package.json
  packages/integrations/vue/server.js
  packages/integrations/vue/src/index.ts
  packages/integrations/vue/test/app-entrypoint.test.js
  packages/integrations/vue/test/fixtures/app-entrypoint/astro.config.mjs
  packages/integrations/vue/test/fixtures/app-entrypoint/package.json
  packages/integrations/vue/test/fixtures/app-entrypoint/src/components/Bar.vue
  packages/integrations/vue/test/fixtures/app-entrypoint/src/components/Foo.vue
  packages/integrations/vue/test/fixtures/app-entrypoint/src/pages/_app.ts
  packages/integrations/vue/test/fixtures/app-entrypoint/src/pages/index.astro
  packages/integrations/vue/test/test-utils.js
  pnpm-lock.yaml
Labels: framework-vue, integration

#5071 Refactor rendering for testing
  packages/astro/src/core/app/index.ts
  packages/astro/src/core/build/generate.ts
  packages/astro/src/core/endpoint/dev/index.ts
  packages/astro/src/core/endpoint/index.ts
  packages/astro/src/core/render/context.ts
  packages/astro/src/core/render/core.ts
  packages/astro/src/core/render/dev/environment.ts
  packages/astro/src/core/render/dev/index.ts
  packages/astro/src/core/render/dev/resolve.ts
  packages/astro/src/core/render/environment.ts
  packages/astro/src/core/render/index.ts
  packages/astro/src/core/render/renderer.ts
  packages/astro/src/core/render/result.ts
  packages/astro/src/jsx/component.ts
  packages/astro/src/jsx/index.ts
  packages/astro/src/runtime/server/index.ts
  packages/astro/src/vite-plugin-astro-server/index.ts
  packages/astro/test/units/render/jsx.test.js
Labels: core, performance

#5077 Improved benchmark output
  .github/workflows/benchmark.yml
  package.json
Labels: 🚨 action

#5079 doc(node): fix wrong import
  packages/integrations/node/README.md
Labels: integration

#5081 Revert "Improved benchmark output (#5077)"
  .github/workflows/benchmark.yml
Labels: 🚨 action

#5082 Compat with Astro < 1.5
  .changeset/tender-cars-wait.md
  packages/integrations/tailwind/src/index.ts
Labels: integration

#5080 Fixes JSX usage of slots with dashes in their name
  .changeset/large-cougars-cough.md
  packages/astro/src/jsx-runtime/index.ts
  packages/astro/test/units/render/jsx.test.js
Labels: core

#5087 fix: pnpm install command on astro add
  .changeset/tender-lemons-remain.md
  packages/astro/src/core/add/index.ts
Labels: core

#5089 Suppress warnings for solidjs dependency crawling
  .changeset/silver-hotels-jam.md
  packages/integrations/solid/src/dependencies.ts
Labels: framework-solid, integration

#5086 feat(vercel): Edge improvements
  .changeset/hot-dogs-leave.md
  packages/integrations/vercel/src/edge/adapter.ts
Labels: integration

#5085 feat(vercel): `includeFiles` and `excludeFiles`
  .changeset/violet-buckets-call.md
  packages/integrations/vercel/README.md
  packages/integrations/vercel/src/edge/adapter.ts
  packages/integrations/vercel/src/lib/fs.ts
  packages/integrations/vercel/src/lib/nft.ts
  packages/integrations/vercel/src/serverless/adapter.ts
Labels: integration

#5108 Fix types not working properly when using `moduleResolution: 'node16'`
  .changeset/olive-jeans-shout.md
  packages/astro/astro-jsx.d.ts
  packages/astro/config.d.ts
  packages/astro/env.d.ts
  packages/astro/package.json
Labels: core

#5109 Fix missing image src in config for examples docs
  examples/docs/src/config.ts
Labels: example

#5110 Ensure CLI flags override function-style server config
  .changeset/eighty-planes-kneel.md
  packages/astro/src/core/config/schema.ts
  packages/astro/test/fixtures/astro-basic/astro.config.mjs
Labels: core

#5106 Support spread parameters for server endpoints
  .changeset/gold-roses-argue.md
  packages/astro/src/core/routing/manifest/create.ts
  packages/astro/src/core/routing/manifest/generator.ts
  packages/astro/test/fixtures/routing-priority/src/pages/api/catch/[...slug].json.ts
  packages/astro/test/fixtures/routing-priority/src/pages/api/catch/[foo]-[bar].json.ts
  packages/astro/test/routing-priority.test.js
Labels: core

#5111 Fix port env in standalone mode
  .changeset/short-lemons-fold.md
  packages/integrations/node/src/standalone.ts
Labels: integration

#5104 update with-tailwind example to use mdx
  examples/with-tailwindcss/astro.config.mjs
  examples/with-tailwindcss/package.json
  examples/with-tailwindcss/src/pages/markdown-page.md
  examples/with-tailwindcss/src/pages/markdown-page.mdx
  pnpm-lock.yaml
Labels: example

#5098 Implicit element types
  .changeset/little-dodos-beam.md
  packages/astro/astro-jsx.d.ts
Labels: core

#5060 adding cookies to api route response [simple result]
  .changeset/silent-cougars-run.md
  examples/ssr/package.json
  examples/ssr/src/api.ts
  examples/ssr/src/models/user.ts
  examples/ssr/src/pages/api/cart.ts
  examples/ssr/src/pages/cart.astro
  examples/ssr/src/pages/login.astro
  examples/ssr/src/pages/login.form.async.ts
  examples/ssr/src/pages/login.form.js
  examples/ssr/src/pages/login.form.ts
  packages/astro/src/core/app/index.ts
  packages/astro/src/core/endpoint/index.ts
  packages/astro/src/vite-plugin-astro-server/index.ts
  pnpm-lock.yaml
Labels: example, core

#5114 Mark @astrojs/node to be noExternal
  .changeset/afraid-baboons-return.md
  packages/integrations/node/src/index.ts
Labels: integration

#5116 Throw when using Response.redirect from SSG site
  .changeset/tall-trainers-do.md
  packages/astro/src/vite-plugin-astro-server/index.ts
  packages/astro/test/dev-routing.test.js
  packages/astro/test/fixtures/without-site-config/src/pages/redirect.astro
Labels: core

#5118 fix KNOWN_LANGUAGES option child element for multi-language support
  examples/docs/src/components/Header/LanguageSelect.tsx
Labels: example

#5123 Fixes index page with build.format=file
  .changeset/many-lions-relate.md
  packages/astro/src/core/build/common.ts
  packages/astro/src/core/build/generate.ts
  packages/astro/test/dynamic-route-build-file.test.js
  packages/astro/test/fixtures/dynamic-route-build-file/index.html
  packages/astro/test/fixtures/dynamic-route-build-file/package.json
  packages/astro/test/fixtures/dynamic-route-build-file/src/pages/[...slug].astro
  pnpm-lock.yaml
Labels: core

#5119 Use `fs.promises.rm` to remove node deprecation warning
  .changeset/eight-swans-divide.md
  packages/astro/src/core/build/static-build.ts
Labels: core

#5126 Automatically include `vuetify` in `ssr.noExternal`
  .changeset/silly-windows-sin.md
  packages/integrations/vue/src/index.ts
Labels: framework-vue, integration

#5127 fix(vercel): fixed regression #5120
  .changeset/smart-crabs-pump.md
  packages/integrations/vercel/src/edge/adapter.ts
Labels: integration

#5125 Prefetch styles only once
  .changeset/tender-islands-watch.md
  packages/integrations/prefetch/src/client.ts
  packages/integrations/prefetch/test/fixtures/style-prefetch/astro.config.mjs
  packages/integrations/prefetch/test/fixtures/style-prefetch/package.json
  packages/integrations/prefetch/test/fixtures/style-prefetch/src/pages/index.astro
  packages/integrations/prefetch/test/fixtures/style-prefetch/src/pages/style1.astro
  packages/integrations/prefetch/test/fixtures/style-prefetch/src/pages/style2.astro
  packages/integrations/prefetch/test/style-prefetch.test.js
  pnpm-lock.yaml
Labels: integration

#5038 fix: updates <Picture /> to pass HTML attributes down to the <img /> element
  .changeset/wicked-laws-heal.md
  packages/integrations/image/README.md
  packages/integrations/image/components/Picture.astro
  packages/integrations/image/test/fixtures/basic-picture/src/pages/index.astro
  packages/integrations/image/test/picture-ssg.test.js
  packages/integrations/image/test/picture-ssr-build.test.js
  packages/integrations/image/test/picture-ssr-dev.test.js
Labels: integration

#5133 Use new compiler `resolvePath` option
  .changeset/dry-dragons-greet.md
  .changeset/gentle-insects-run.md
  packages/astro/e2e/fixtures/errors/src/pages/import-not-found.astro
  packages/astro/package.json
  packages/astro/src/@types/astro.ts
  packages/astro/src/core/build/vite-plugin-css.ts
  packages/astro/src/core/compile/compile.ts
  packages/astro/src/core/render/dev/index.ts
  packages/astro/src/core/render/util.ts
  packages/astro/src/core/util.ts
  packages/astro/src/jsx/babel.ts
  packages/astro/src/runtime/server/index.ts
  packages/astro/src/runtime/server/metadata.ts
  packages/astro/src/vite-plugin-astro-postprocess/index.ts
  packages/astro/src/vite-plugin-markdown-legacy/index.ts
  packages/astro/test/0-css.test.js
  packages/astro/test/fixtures/0-css/src/pages/index.astro
  packages/astro/test/fixtures/0-css/src/styles/raw.css
  packages/astro/test/fixtures/error-bad-js/src/pages/index.astro
  pnpm-lock.yaml
Labels: core

#5179 Update README.md
  packages/integrations/mdx/README.md
Labels: integration

#5146 [MDX] Support `recmaPlugins` config
  .changeset/clever-keys-hammer.md
  packages/integrations/mdx/README.md
  packages/integrations/mdx/package.json
  packages/integrations/mdx/src/index.ts
  packages/integrations/mdx/test/fixtures/mdx-plugins/src/pages/with-plugins.mdx
  packages/integrations/mdx/test/mdx-plugins.test.js
Labels: integration

#5180 Removes default content-visibility styles from image components
  .changeset/chilly-experts-add.md
  packages/integrations/image/components/Image.astro
  packages/integrations/image/components/Picture.astro
Labels: integration

#5192 Updates `astro add` to ignore optional peer dependencies
  .changeset/smart-chicken-develop.md
  packages/astro/src/core/add/index.ts
Labels: core

#5190 [MDX] Improved docs for custom components
  packages/integrations/mdx/README.md
Labels: integration

#5103 enable access to cloudflare runtime
  .changeset/poor-frogs-clean.md
  packages/integrations/cloudflare/README.md
  packages/integrations/cloudflare/package.json
  packages/integrations/cloudflare/src/runtime.ts
  packages/integrations/cloudflare/src/server.advanced.ts
  packages/integrations/cloudflare/src/server.directory.ts
Labels: integration

#5164 feat: add support for other markdown file extensions
  .changeset/many-rockets-admire.md
  packages/astro-rss/src/index.ts
  packages/astro-rss/test/rss.test.js
  packages/astro/client-base.d.ts
  packages/astro/src/@types/astro.ts
  packages/astro/src/core/build/graph.ts
  packages/astro/src/core/config/settings.ts
  packages/astro/src/core/constants.ts
  packages/astro/src/core/render/dev/vite.ts
  packages/astro/src/core/routing/manifest/create.ts
  packages/astro/src/core/util.ts
  packages/astro/src/vite-plugin-astro-postprocess/index.ts
  packages/astro/src/vite-plugin-jsx/index.ts
  packages/astro/src/vite-plugin-markdown-legacy/index.ts
  packages/astro/src/vite-plugin-markdown/index.ts
  packages/astro/test/fixtures/markdown/src/pages/dot-markdown-page.markdown
  packages/astro/test/fixtures/markdown/src/pages/dot-mdown-page.mdown
  packages/astro/test/fixtures/markdown/src/pages/dot-mdwn-page.mdwn
  packages/astro/test/fixtures/markdown/src/pages/dot-mkd-page.mkd
  packages/astro/test/fixtures/markdown/src/pages/dot-mkdn-page.mkdn
  packages/astro/test/markdown.test.js
  packages/integrations/mdx/src/index.ts
Labels: integration, core, semver minor

#4917 Add support for `--base` CLI argument
  .changeset/wise-swans-live.md
  examples/minimal/src/pages/index.astro
  packages/astro/src/@types/astro.ts
  packages/astro/src/cli/index.ts
  packages/astro/src/core/config/config.ts
Labels: example, core, semver minor

#5147 Add `astro/types` for common prop patterns
  .changeset/dirty-cycles-lick.md
  packages/astro/package.json
  packages/astro/types.d.ts
Labels: core, semver minor

#5205 [docs] Cloudflare integration README edits
  packages/integrations/cloudflare/README.md
Labels: integration

#5182 Error message: clarify "adapter does not have previewEntrypoint"
  packages/astro/src/core/preview/index.ts
Labels: core

#5204 docs: `extendDefaultPlugins` cross-linking (minor)
  packages/astro/src/@types/astro.ts
Labels: core

#5203 Improve Astro libraries config handling
  .changeset/witty-melons-heal.md
  packages/astro/package.json
  packages/astro/src/core/create-vite.ts
  pnpm-lock.yaml
Labels: core

#5200 [docs] Fix broken fragment link
  packages/integrations/mdx/README.md
Labels: integration

#5207 Fix/node standalone for windows system
  .changeset/metal-boxes-compare.md
  packages/integrations/node/src/http-server.ts
Labels: integration

#5210 Add missing language to code block
  packages/integrations/cloudflare/README.md
Labels: integration

#5206 Refactor error handling
  .changeset/ten-cheetahs-perform.md
  packages/astro/e2e/errors.test.js
  packages/astro/src/cli/index.ts
  packages/astro/src/core/build/index.ts
  packages/astro/src/core/compile/compile.ts
  packages/astro/src/core/create-vite.ts
  packages/astro/src/core/errors.ts
  packages/astro/src/core/errors/codes.ts
  packages/astro/src/core/errors/dev/index.ts
  packages/astro/src/core/errors/dev/utils.ts
  packages/astro/src/core/errors/dev/vite.ts
  packages/astro/src/core/errors/errors.ts
  packages/astro/src/core/errors/index.ts
  packages/astro/src/core/errors/printer.ts
  packages/astro/src/core/errors/utils.ts
  packages/astro/src/core/messages.ts
  packages/astro/src/core/render/dev/index.ts
  packages/astro/src/core/util.ts
  packages/astro/src/events/error.ts
  packages/astro/src/vite-plugin-astro-server/index.ts
  packages/astro/src/vite-plugin-astro/index.ts
  packages/astro/src/vite-plugin-markdown-legacy/index.ts
  packages/astro/src/vite-plugin-markdown/index.ts
  packages/astro/src/vite-style-transform/style-transform.ts
  packages/astro/test/events.test.js
  packages/astro/test/units/compile/invalid-css.test.js
Labels: core

#5214 Fix unintentional change to minimal example
  examples/minimal/src/pages/index.astro
Labels: example

#5216 Fix errors that are not instanceof Error crashing the dev server
  packages/astro/src/cli/index.ts
  packages/astro/src/core/errors/index.ts
  packages/astro/src/core/errors/utils.ts
  packages/astro/src/core/util.ts
  packages/astro/src/vite-plugin-astro-server/index.ts
  packages/astro/src/vite-style-transform/style-transform.ts
  packages/astro/test/error-non-error.test.js
  packages/astro/test/fixtures/error-non-error/astro.config.mjs
  packages/astro/test/fixtures/error-non-error/package.json
  packages/astro/test/fixtures/error-non-error/src/env.d.ts
  packages/astro/test/fixtures/error-non-error/src/pages/index.astro
  pnpm-lock.yaml
Labels: core

#5218 remove unnecessary `ReactDOM.renderToString` operation
  .changeset/tasty-rules-sleep.md
  packages/integrations/react/server.js
Labels: framework-react, integration

#5212 Upgrade Vite to 3.2
  .changeset/tasty-mugs-approve.md
  .changeset/wicked-pans-wait.md
  packages/astro/package.json
  packages/astro/src/core/build/static-build.ts
  packages/astro/test/fixtures/vue-component/public/favicon.svg
  packages/astro/test/fixtures/vue-component/src/components/Img.vue
  packages/astro/test/fixtures/vue-component/src/pages/index.astro
  packages/astro/test/vue-component.test.js
  packages/webapi/package.json
  pnpm-lock.yaml
Labels: core

#5230 Export Cloudflare runtime types
  .changeset/new-pumas-begin.md
  packages/integrations/cloudflare/package.json
  packages/integrations/cloudflare/runtime.d.ts
Labels: integration

#5208 Improve Solid libraries config handling
  .changeset/dull-moles-sell.md
  packages/integrations/solid/package.json
  packages/integrations/solid/src/dependencies.ts
  packages/integrations/solid/src/index.ts
  pnpm-lock.yaml
Labels: framework-solid, integration

#5237 Fix mergability check
  .github/workflows/check-merge.yml
Labels: 🚨 action

#5238 fix not omitted extension in `url` metadata for newly added markdown files in development
  .changeset/mighty-chairs-reply.md
  packages/astro/src/vite-plugin-utils/index.ts
  packages/astro/test/astro-global.test.js
  packages/astro/test/fixtures/astro-global/src/pages/omit-markdown-extensions.astro
  packages/astro/test/fixtures/astro-global/src/pages/post/post-4.markdown
  packages/astro/test/fixtures/astro-global/src/pages/post/post-5.mdown
  packages/astro/test/fixtures/astro-global/src/pages/post/post-6.mkdn
  packages/astro/test/fixtures/astro-global/src/pages/post/post-7.mkd
  packages/astro/test/fixtures/astro-global/src/pages/post/post-8.mdwn
Labels: core

#5196 GitHub Actions: add install action
  .github/actions/install/action.yml
  .github/workflows/benchmark.yml
  .github/workflows/check.yml
  .github/workflows/ci.yml
  .github/workflows/format.yml
  .github/workflows/main.yml
  .github/workflows/nightly.yml
  .github/workflows/release.yml
  .github/workflows/scripts.yml
  .github/workflows/snapshot-release.yml
Labels: 🚨 action

#5226 feat(create-astro): add --fancy flag
  .changeset/empty-feet-brush.md
  packages/create-astro/README.md
  packages/create-astro/package.json
  packages/create-astro/src/index.ts
  pnpm-lock.yaml
Labels: create-astro

#5242 Revert "GitHub Actions: add install action (#5196)"
  .github/actions/install/action.yml
  .github/workflows/benchmark.yml
  .github/workflows/check.yml
  .github/workflows/ci.yml
  .github/workflows/format.yml
  .github/workflows/main.yml
  .github/workflows/nightly.yml
  .github/workflows/release.yml
  .github/workflows/scripts.yml
  .github/workflows/snapshot-release.yml
Labels: 🚨 action

#5241 Throw error when trying to use the vercel static adapter in server mode
  .changeset/neat-cooks-fail.md
  packages/integrations/vercel/src/static/adapter.ts
Labels: integration

#5240 fix(create-astro): improve error messages when create-astro fails
  .changeset/chilly-mice-agree.md
  packages/create-astro/src/index.ts
Labels: create-astro

#5231 [docs] update image integration README
  packages/integrations/image/README.md
Labels: integration

#5243 Upgrade compiler to latest
  .changeset/chilly-zoos-exist.md
  packages/astro/package.json
  packages/astro/test/astro-directives.test.js
  pnpm-lock.yaml
Labels: core

#5193 Remove `shamefully-hoist` from docs smoke test
  .github/workflows/ci.yml
Labels: 🚨 action

#5258 Allow 200 response for endpoints in build
  .changeset/cool-ducks-mix.md
  packages/astro/src/core/build/generate.ts
  packages/astro/src/core/endpoint/index.ts
  packages/astro/src/vite-plugin-astro-server/index.ts
  packages/astro/test/fixtures/with-endpoint-routes/src/pages/invalid-redirect.json.ts
Labels: core
