Repository withastro/astro, pull requests merged in 2022-05, with the labels that each got.

#3245 Replace outdated translations contribution guide
  CONTRIBUTING.md
Labels: docs

#3256 Telemetry
  .changeset/lazy-phones-run.md
  .github/workflows/ci.yml
  packages/astro/package.json
  packages/astro/src/cli/index.ts
  packages/astro/src/cli/telemetry.ts
  packages/astro/src/core/add/index.ts
  packages/astro/src/core/build/index.ts
  packages/astro/src/core/dev/index.ts
  packages/astro/src/core/messages.ts
  packages/astro/src/core/preview/index.ts
  packages/astro/test/test-utils.js
  packages/telemetry/README.md
  packages/telemetry/events.d.ts
  packages/telemetry/package.json
  packages/telemetry/src/anonymous-meta.ts
  packages/telemetry/src/config.ts
  packages/telemetry/src/events/build.ts
  packages/telemetry/src/events/index.ts
  packages/telemetry/src/events/session.ts
  packages/telemetry/src/index.ts
  packages/telemetry/src/keys.ts
  packages/telemetry/src/post.ts
  packages/telemetry/src/project-id.ts
  packages/telemetry/test/session-event.test.js
  packages/telemetry/tsconfig.json
  pnpm-lock.yaml
  scripts/memory/index.js
  scripts/smoke/index.js
Labels: test, 🚨 action, core

#3213 Fix/deno gitpod
  .gitpod.Dockerfile
Labels: test

#3275 Revert "Consolidate inline hydration scripts into one (#3244)"
  .changeset/fresh-wasps-smash.md
  packages/astro/src/@types/astro.ts
  packages/astro/src/core/render/result.ts
  packages/astro/src/runtime/client/hmr.ts
  packages/astro/src/runtime/client/idle.ts
  packages/astro/src/runtime/client/load.ts
  packages/astro/src/runtime/client/media.ts
  packages/astro/src/runtime/client/only.ts
  packages/astro/src/runtime/client/visible.ts
  packages/astro/src/runtime/server/astro-island.ts
  packages/astro/src/runtime/server/hydration.ts
  packages/astro/src/runtime/server/index.ts
  packages/astro/test/0-css.test.js
  packages/astro/test/astro-client-only.test.js
  packages/astro/test/astro-dynamic.test.js
  packages/astro/test/custom-elements.test.js
  packages/astro/test/react-component.test.js
  packages/astro/test/vue-component.test.js
  packages/markdown/remark/src/rehype-islands.ts
  packages/markdown/remark/src/remark-unwrap.ts
Labels: test, markdown, core

#3274 fix: remove extra meta title from complex blog template
  examples/blog-multiple-authors/src/pages/index.astro
Labels: example

#3278 refactor: remove serialize-javascript
  .changeset/forty-goats-dance.md
  packages/astro/package.json
  packages/astro/src/@types/serialize-javascript.d.ts
  packages/astro/src/core/create-vite.ts
  packages/astro/src/runtime/server/hydration.ts
  pnpm-lock.yaml
Labels: core

#3281 refactor: internalize shorthash
  .changeset/big-years-type.md
  packages/astro/package.json
  packages/astro/src/@types/shorthash.d.ts
  packages/astro/src/core/create-vite.ts
  packages/astro/src/runtime/server/index.ts
  packages/astro/src/runtime/server/shorthash.ts
  pnpm-lock.yaml
Labels: core

#3271 Feat: `@astrojs/rss` package!
  .changeset/beige-gifts-yawn.md
  packages/astro-rss/README.md
  packages/astro-rss/package.json
  packages/astro-rss/src/index.ts
  packages/astro-rss/src/util.ts
  packages/astro-rss/test/rss.test.js
  packages/astro-rss/tsconfig.json
  packages/astro/src/core/create-vite.ts
  pnpm-lock.yaml
Labels: test, core

#3283 Turbolinks: clean up injected scripts and styles on page navigation
  .changeset/tall-forks-cross.md
  packages/integrations/turbolinks/client.js
Labels: renderer

#3237 new readme
  README.md
  assets/social/banner-minimal.png
  packages/astro/README.md
Labels: core

#3236 Update/polish basics template
  examples/basics/src/components/Card.astro
  examples/basics/src/layouts/Layout.astro
  examples/basics/src/pages/index.astro
Labels: example

#3240 deprecate the markdown component in SSR
  packages/astro/components/Markdown.astro
  packages/astro/src/core/render/result.ts
Labels: core

#3286 feat: expose pages
  .changeset/mean-donkeys-sin.md
  packages/astro/src/@types/astro.ts
  packages/astro/src/core/build/static-build.ts
  packages/astro/src/integrations/index.ts
Labels: core

#3290 small readme image fix
  README.md
  packages/astro/README.md
Labels: core

#3292 Fix: Make Congratsbot link to actual commit
  .github/workflows/main.yml
Labels: 🚨 action

#3272 Conform to API route signature
  .changeset/fast-dolls-eat.md
  packages/astro/src/@types/astro.ts
  packages/astro/src/core/render/route-cache.ts
  packages/astro/src/runtime/server/index.ts
  packages/astro/test/api-routes.test.js
  packages/astro/test/fixtures/api-routes/src/pages/context/data/[param].json.js
  packages/astro/test/fixtures/api-routes/src/pages/old-api/onearg/[param].json.js
  packages/astro/test/fixtures/api-routes/src/pages/old-api/twoarg/[param].json.js
  packages/astro/test/fixtures/ssr-dynamic/src/pages/api/products/[id].js
Labels: test, core

#3289 Implement the Astro.response RFC
  .changeset/angry-rats-turn.md
  packages/astro/src/@types/astro.ts
  packages/astro/src/core/app/index.ts
  packages/astro/src/core/render/core.ts
  packages/astro/src/core/render/dev/index.ts
  packages/astro/src/core/render/result.ts
  packages/astro/src/vite-plugin-astro-server/index.ts
  packages/astro/test/fixtures/ssr-response/src/components/OverwriteHeader.astro
  packages/astro/test/fixtures/ssr-response/src/components/SetAHeader.astro
  packages/astro/test/fixtures/ssr-response/src/components/SetStatus.astro
  packages/astro/test/fixtures/ssr-response/src/pages/child-set-status.astro
  packages/astro/test/fixtures/ssr-response/src/pages/child-tries-to-overwrite.astro
  packages/astro/test/fixtures/ssr-response/src/pages/some-header.astro
  packages/astro/test/fixtures/ssr-response/src/pages/status-code.astro
  packages/astro/test/ssr-adapter-build-config.test.js
  packages/astro/test/ssr-api-route.test.js
  packages/astro/test/ssr-dynamic.test.js
  packages/astro/test/ssr-request.test.js
  packages/astro/test/ssr-response.test.js
Labels: test, core

#3304 Revert "refactor: remove serialize-javascript (#3278)"
  .changeset/sour-pianos-help.md
  packages/astro/package.json
  packages/astro/src/@types/serialize-javascript.d.ts
  packages/astro/src/core/create-vite.ts
  packages/astro/src/runtime/server/hydration.ts
  pnpm-lock.yaml
Labels: core

#3301 Fix: make RSS canonicalUrl required
  .changeset/tasty-numbers-destroy.md
  packages/astro-rss/README.md
  packages/astro-rss/src/index.ts
  packages/astro-rss/test/rss.test.js
Labels: test

#3178 Allowing Vite to handle base config for deploying to subpaths
  .changeset/pretty-pumpkins-work.md
  packages/astro/src/core/build/static-build.ts
  packages/astro/src/core/config.ts
  packages/astro/test/static-build.test.js
Labels: test, core

#3299 Add new configKeys prop for telemetry
  .changeset/sweet-vans-begin.md
  packages/astro/src/cli/index.ts
  packages/astro/src/core/config.ts
  packages/telemetry/src/events/session.ts
  packages/telemetry/test/session-event.test.js
Labels: test, core

#3305 Fix tailwind integration in markdown files
  examples/with-tailwindcss/tailwind.config.cjs
  packages/astro/src/core/add/consts.ts
  packages/astro/test/fixtures/tailwindcss/tailwind.config.js
Labels: example, core

#3295 Update server options configuration reference
  packages/astro/src/@types/astro.ts
Labels: core

#3332 rename dts to ts file
  .changeset/new-carrots-cough.md
  packages/astro/src/core/build/types.ts
Labels: core

#3331 Fixes custom 404 pages in astro dev
  .changeset/healthy-oranges-approve.md
  packages/astro/src/vite-plugin-astro-server/index.ts
  packages/astro/test/custom-404.test.js
  packages/astro/test/fixtures/custom-404/astro.config.mjs
  packages/astro/test/fixtures/custom-404/package.json
  packages/astro/test/fixtures/custom-404/src/pages/404.astro
  packages/astro/test/fixtures/custom-404/src/pages/index.astro
  pnpm-lock.yaml
Labels: test, core

#3335 Fixing mobile header for docs example
  examples/docs/src/components/Header/Header.astro
  examples/docs/src/config.ts
Labels: example

#3339 fix: inject script for ssr mode
  .changeset/heavy-adults-obey.md
  packages/astro/src/core/app/index.ts
  packages/astro/src/core/app/types.ts
  packages/astro/src/core/build/vite-plugin-ssr.ts
Labels: core

#3342 Fix/netlify edge redirects
  .changeset/eighty-keys-explode.md
  packages/integrations/netlify/src/integration-edge-functions.ts
  packages/integrations/netlify/src/integration-functions.ts
  packages/integrations/netlify/src/shared.ts
Labels: integration

#3341 Fix GetStaticPathsOptions.* types
  packages/astro/src/@types/astro.ts
Labels: core

#3336 HMR hoisted scripts
  .changeset/happy-wasps-check.md
  examples/minimal/src/pages/index.astro
  packages/astro/src/vite-plugin-astro/hmr.ts
  packages/astro/src/vite-plugin-astro/index.ts
  packages/astro/test/astro-markdown-css.test.js
Labels: example, core

#3327 Allow Astro to pass `process.env` variables to `import.meta.env`
  packages/astro/src/vite-plugin-env/index.ts
Labels: core

#3321 Update markdown.remark/rehypePlugins defaults for docs
  packages/astro/src/@types/astro.ts
Labels: core

#3282 Remove try/catch from solid component check
  examples/integrations-playground/astro.config.mjs
  examples/integrations-playground/package.json
  examples/integrations-playground/src/components/Link.jsx
  examples/integrations-playground/src/components/SolidCounter.jsx
  examples/integrations-playground/src/pages/index.astro
  packages/astro/src/runtime/server/index.ts
  packages/integrations/solid/server.js
  pnpm-lock.yaml
Labels: example, framework-solid, integration, core

#3344 Fix APIRoute type
  .changeset/curly-bees-collect.md
  packages/astro/src/@types/astro.ts
  packages/astro/src/runtime/server/index.ts
Labels: core

#3216 refactor(vercel): Build Output API v3
  .changeset/tiny-apes-shave.md
  .gitignore
  .prettierignore
  examples/blog-multiple-authors/.gitignore
  examples/blog/.gitignore
  examples/component/.gitignore
  examples/docs/.gitignore
  examples/env-vars/.gitignore
  examples/framework-alpine/.gitignore
  examples/framework-lit/.gitignore
  examples/framework-multiple/.gitignore
  examples/framework-preact/.gitignore
  examples/framework-react/.gitignore
  examples/framework-solid/.gitignore
  examples/framework-svelte/.gitignore
  examples/framework-vue/.gitignore
  examples/integrations-playground/.gitignore
  examples/minimal/.gitignore
  examples/non-html-pages/.gitignore
  examples/portfolio/.gitignore
  examples/starter/.gitignore
  examples/subpath/.gitignore
  examples/with-markdown-plugins/.gitignore
  examples/with-markdown-shiki/.gitignore
  examples/with-markdown/.gitignore
  examples/with-nanostores/.gitignore
  examples/with-tailwindcss/.gitignore
  examples/with-vite-plugin-pwa/.gitignore
  packages/integrations/vercel/README.md
  packages/integrations/vercel/package.json
  packages/integrations/vercel/src/edge/adapter.ts
  packages/integrations/vercel/src/edge/entrypoint.ts
  packages/integrations/vercel/src/edge/shim.ts
  packages/integrations/vercel/src/index.ts
  packages/integrations/vercel/src/lib/fs.ts
  packages/integrations/vercel/src/lib/nft.ts
  packages/integrations/vercel/src/lib/redirects.ts
  packages/integrations/vercel/src/serverless/adapter.ts
  packages/integrations/vercel/src/serverless/entrypoint.ts
  packages/integrations/vercel/src/serverless/request-transform.ts
  packages/integrations/vercel/src/static/adapter.ts
  pnpm-lock.yaml
Labels: integration

#3312 fix: updated blog template with existing address
  examples/blog/src/components/BaseHead.astro
Labels: example

#3348 Exclude `node-fetch` from vite.optimizeDeps
  .changeset/funny-poets-walk.md
  packages/astro/src/core/create-vite.ts
Labels: core

#3300 Resolve components by module ID during compilation
  .changeset/proud-cups-brush.md
  package.json
  packages/astro/src/core/build/internal.ts
  packages/astro/src/core/build/static-build.ts
  packages/astro/src/core/build/vite-plugin-hoisted-scripts.ts
  packages/astro/src/vite-plugin-astro/compile.ts
  packages/astro/src/vite-plugin-astro/index.ts
  packages/astro/test/component-library.test.js
  packages/astro/test/fixtures/component-library-shared/Button.astro
  packages/astro/test/fixtures/component-library-shared/Counter.css
  packages/astro/test/fixtures/component-library-shared/Counter.jsx
  packages/astro/test/fixtures/component-library-shared/Counter.svelte
  packages/astro/test/fixtures/component-library-shared/CounterWrapper.astro
  packages/astro/test/fixtures/component-library-shared/HelloReact.jsx
  packages/astro/test/fixtures/component-library-shared/README.md
  packages/astro/test/fixtures/component-library-shared/package.json
  packages/astro/test/fixtures/component-library/astro.config.mjs
  packages/astro/test/fixtures/component-library/package.json
  packages/astro/test/fixtures/component-library/src/pages/internal-hydration.astro
  packages/astro/test/fixtures/component-library/src/pages/with-astro.astro
  packages/astro/test/fixtures/component-library/src/pages/with-react.astro
  pnpm-lock.yaml
Labels: core

#3337 Fix: React - Use "createRoot" instead of "hydrateRoot" for `client:only`
  .changeset/small-maps-cough.md
  packages/astro/src/runtime/server/hydration.ts
  packages/integrations/react/client-v17.js
  packages/integrations/react/client.js
Labels: framework-react, integration, core

#3350 add error hints
  .changeset/dry-glasses-guess.md
  packages/astro/src/core/errors.ts
  packages/astro/src/core/messages.ts
Labels: core

#3287 [ci] update lockfile
  examples/blog-multiple-authors/package.json
  examples/blog/package.json
  examples/docs/package.json
  examples/framework-lit/package.json
  examples/framework-multiple/package.json
  examples/framework-preact/package.json
  examples/framework-react/package.json
  examples/framework-solid/package.json
  examples/framework-svelte/package.json
  examples/integrations-playground/package.json
  examples/portfolio/package.json
  examples/ssr/package.json
  examples/subpath/package.json
  examples/with-markdown/package.json
  examples/with-nanostores/package.json
  examples/with-tailwindcss/package.json
  package.json
  packages/astro/package.json
  packages/astro/test/fixtures/postcss/package.json
  packages/astro/test/fixtures/react-component/package.json
  packages/astro/test/fixtures/sass/package.json
  packages/astro/test/fixtures/tailwindcss/package.json
  packages/integrations/preact/package.json
  packages/integrations/react/package.json
  packages/integrations/solid/package.json
  packages/integrations/svelte/package.json
  packages/integrations/tailwind/package.json
  packages/integrations/vue/package.json
  packages/markdown/remark/package.json
  packages/telemetry/package.json
  packages/webapi/package.json
  pnpm-lock.yaml
  scripts/package.json
Labels: markdown, framework-svelte, framework-vue, example, framework-react, framework-preact, framework-solid, integration, core

#3315 Add config option customPages
  packages/integrations/sitemap/src/index.ts
Labels: integration

#3354 internal: deserialized routes now have `generate()`
  packages/astro/src/@types/astro.ts
  packages/astro/src/core/build/vite-plugin-ssr.ts
  packages/astro/src/core/routing/manifest/create.ts
  packages/astro/src/core/routing/manifest/generator.ts
  packages/astro/src/core/routing/manifest/serialization.ts
Labels: core

#3355 fix(vercel): added type definitions
  .changeset/fast-dancers-watch.md
  packages/integrations/vercel/package.json
Labels: integration

#3349 Adding E2E testing with Playwright
  .github/workflows/ci.yml
  CONTRIBUTING.md
  package.json
  packages/astro/e2e/fixtures/tailwindcss/astro.config.mjs
  packages/astro/e2e/fixtures/tailwindcss/package.json
  packages/astro/e2e/fixtures/tailwindcss/postcss.config.js
  packages/astro/e2e/fixtures/tailwindcss/src/components/Button.astro
  packages/astro/e2e/fixtures/tailwindcss/src/components/Complex.astro
  packages/astro/e2e/fixtures/tailwindcss/src/pages/index.astro
  packages/astro/e2e/fixtures/tailwindcss/src/pages/markdown-page.md
  packages/astro/e2e/fixtures/tailwindcss/tailwind.config.js
  packages/astro/e2e/tailwindcss.test.js
  packages/astro/e2e/test-utils.js
  packages/astro/package.json
  packages/astro/test/tailwindcss.test.js
  packages/astro/test/test-utils.js
  pnpm-lock.yaml
Labels: 🚨 action, core

#3376 Support alias use with hydration scripts
  .changeset/tiny-donuts-own.md
  packages/astro/src/core/build/index.ts
  packages/astro/src/core/render/dev/index.ts
  packages/astro/src/runtime/server/index.ts
  packages/astro/test/alias.test.js
  packages/astro/test/fixtures/alias/astro.config.mjs
  packages/astro/test/fixtures/alias/package.json
  packages/astro/test/fixtures/alias/src/components/Client.svelte
  packages/astro/test/fixtures/alias/src/pages/index.astro
  pnpm-lock.yaml
Labels: core

#3377 Netlify outdirectory
  .changeset/fair-kangaroos-talk.md
  packages/integrations/netlify/README.md
  packages/integrations/netlify/src/integration-edge-functions.ts
Labels: integration

#3380 Add options to partytown integration
  .changeset/silent-books-train.md
  packages/integrations/partytown/README.md
  packages/integrations/partytown/src/index.ts
Labels: integration

#3363 [ci] update lockfile
  examples/framework-multiple/package.json
  examples/framework-react/package.json
  examples/framework-solid/package.json
  examples/integrations-playground/package.json
  examples/ssr/package.json
  package.json
  packages/astro/package.json
  packages/astro/test/fixtures/component-library/package.json
  packages/integrations/react/package.json
  packages/integrations/solid/package.json
  packages/telemetry/package.json
  packages/webapi/package.json
  pnpm-lock.yaml
Labels: example, framework-react, framework-solid, integration, core

#3368 feat(vercel): remove `nodeVersion`
  .changeset/silver-toes-retire.md
  packages/integrations/vercel/README.md
  packages/integrations/vercel/src/serverless/adapter.ts
Labels: integration

#3379 Fix for loading markdown pages with spaces in the name
  .changeset/stupid-donkeys-care.md
  packages/astro/src/vite-plugin-markdown/index.ts
  packages/astro/test/astro-pages.test.js
  packages/astro/test/fixtures/astro pages/package.json
  packages/astro/test/fixtures/astro pages/src/pages/index.md
  packages/astro/test/fixtures/astro pages/src/pages/posts/name-with-index.md
  pnpm-lock.yaml
Labels: core

#3383 Deprecate @astrojs/turbolinks
  .changeset/smart-bananas-kick.md
  packages/integrations/turbolinks/README.md
Labels: integration

#3388 Error recovery test and more
  .changeset/lucky-meals-ring.md
  packages/astro/e2e/fixtures/nested-styles/package.json
  packages/astro/e2e/fixtures/nested-styles/src/components/Card.astro
  packages/astro/e2e/fixtures/nested-styles/src/components/partials/Header/index.astro
  packages/astro/e2e/fixtures/nested-styles/src/components/partials/Layout/index.astro
  packages/astro/e2e/fixtures/nested-styles/src/pages/index.astro
  packages/astro/e2e/fixtures/nested-styles/src/styles/global.css
  packages/astro/e2e/nested-styles.test.js
  packages/astro/src/core/dev/index.ts
  packages/astro/src/vite-plugin-astro-server/index.ts
  packages/astro/src/vite-plugin-astro/index.ts
  packages/astro/test/errors.test.js
  packages/astro/test/test-utils.js
  pnpm-lock.yaml
Labels: core

#3386 [ci] update lockfile
  package.json
  packages/astro/package.json
  packages/integrations/preact/package.json
  packages/integrations/react/package.json
  pnpm-lock.yaml
Labels: framework-react, framework-preact, integration, core

#3390 Matching custom 404 pages using the manifest's route patterns
  packages/astro/src/vite-plugin-astro-server/index.ts
  packages/astro/test/custom-404-md.test.js
  packages/astro/test/fixtures/custom-404-md/astro.config.mjs
  packages/astro/test/fixtures/custom-404-md/package.json
  packages/astro/test/fixtures/custom-404-md/src/layouts/Base.astro
  packages/astro/test/fixtures/custom-404-md/src/pages/404.md
  packages/astro/test/fixtures/custom-404-md/src/pages/index.astro
  pnpm-lock.yaml
Labels: core

#3394 Fix tests: remove `it.only`
  packages/astro/test/alias.test.js
  packages/astro/test/errors.test.js
Labels: core

#3395 [ci] update lockfile
  examples/docs/package.json
  examples/framework-lit/package.json
  examples/framework-multiple/package.json
  examples/integrations-playground/package.json
  package.json
  pnpm-lock.yaml
Labels: example

#3396 Re-enable error recovery test
  packages/astro/package.json
  packages/astro/test/errors.test.js
  packages/astro/test/test-utils.js
Labels: core

#3391 fix: locale handling for logger
  .changeset/thirty-drinks-shout.md
  packages/astro/src/core/logger/core.ts
  packages/astro/test/cli.test.js
  packages/create-astro/src/logger.ts
Labels: create-astro, core

#3399 Fix: update "building for SSR" messaging on SSG
  .changeset/sour-years-scream.md
  packages/astro/src/core/build/static-build.ts
Labels: core

#3392 Allow overriding build vite config options
  .changeset/eleven-gifts-matter.md
  packages/astro/src/@types/astro.ts
  packages/astro/src/core/build/static-build.ts
  packages/astro/src/integrations/index.ts
  packages/astro/test/config-vite.test.js
  packages/astro/test/fixtures/config-vite/astro.config.mjs
  packages/astro/test/fixtures/config-vite/src/pages/index.astro
Labels: core

#3401 Fix: Support .html requests in dev
  .changeset/lemon-insects-smash.md
  packages/astro/src/vite-plugin-astro-server/index.ts
  packages/astro/test/dev-routing.test.js
Labels: core

#3402 Include server CSS in the manifest assets
  .changeset/good-humans-sniff.md
  packages/astro/src/core/build/vite-plugin-ssr.ts
  packages/astro/test/fixtures/ssr-assets/src/pages/index.astro
  packages/astro/test/ssr-assets.test.js
  packages/astro/test/test-utils.js
Labels: core

#3404 [ci] update lockfile
  examples/framework-multiple/package.json
  examples/framework-solid/package.json
  examples/framework-vue/package.json
  examples/integrations-playground/package.json
  examples/with-markdown/package.json
  examples/with-nanostores/package.json
  examples/with-tailwindcss/package.json
  packages/astro/package.json
  packages/astro/test/fixtures/postcss/package.json
  packages/astro/test/fixtures/react-component/package.json
  packages/astro/test/fixtures/tailwindcss/package.json
  packages/integrations/solid/package.json
  packages/integrations/tailwind/package.json
  packages/integrations/vue/package.json
  packages/webapi/package.json
  pnpm-lock.yaml
Labels: framework-vue, example, framework-solid, integration, core

#3406 Provide a good error message when loading react spectrum
  .changeset/poor-ways-relax.md
  packages/astro/src/core/errors.ts
  packages/astro/src/template/5xx.ts
  packages/astro/src/vite-plugin-astro-server/index.ts
  packages/astro/test/error-react-spectrum.test.js
  packages/astro/test/fixtures/error-react-spectrum/astro.config.mjs
  packages/astro/test/fixtures/error-react-spectrum/package.json
  packages/astro/test/fixtures/error-react-spectrum/src/pages/index.astro
  pnpm-lock.yaml
Labels: core

#3408 Defer head injection until `renderPage`
  .changeset/fluffy-wolves-sneeze.md
  packages/astro/src/runtime/server/index.ts
  packages/astro/test/astro-partial-html.test.js
  packages/astro/test/fixtures/astro-partial-html/src/components/Head.astro
  packages/astro/test/fixtures/astro-partial-html/src/pages/head.astro
Labels: core

#3414 [ci] update lockfile
  examples/blog-multiple-authors/package.json
  examples/portfolio/package.json
  examples/subpath/package.json
  packages/astro/package.json
  packages/astro/test/fixtures/error-react-spectrum/package.json
  packages/astro/test/fixtures/sass/package.json
  packages/webapi/package.json
  pnpm-lock.yaml
Labels: example, core

#3398 Fix: components in imported markdown
  .changeset/dull-monkeys-grab.md
  packages/astro/src/core/render/dev/index.ts
  packages/astro/src/core/render/util.ts
  packages/astro/src/vite-plugin-markdown/index.ts
  packages/astro/test/fixtures/astro-markdown/astro.config.mjs
  packages/astro/test/fixtures/astro-markdown/package.json
  packages/astro/test/fixtures/astro-markdown/src/components/SvelteButton.svelte
  packages/astro/test/fixtures/astro-markdown/src/imported-md/plain.md
  packages/astro/test/fixtures/astro-markdown/src/imported-md/with-components.md
  packages/astro/test/fixtures/astro-markdown/src/pages/imported-md/with-components.astro
  packages/astro/test/test-utils.js
  pnpm-lock.yaml
Labels: core

#3416 Upgrade the compiler
  packages/astro/package.json
  pnpm-lock.yaml
Labels: core

#3407 Enforcing routing priority during production builds
  .changeset/blue-buckets-attack.md
  packages/astro/src/core/build/page-data.ts
  packages/astro/src/vite-plugin-astro-server/index.ts
  packages/astro/test/fixtures/routing-priority/astro.config.mjs
  packages/astro/test/fixtures/routing-priority/package.json
  packages/astro/test/fixtures/routing-priority/src/pages/[lang]/[...catchall].astro
  packages/astro/test/fixtures/routing-priority/src/pages/[lang]/index.astro
  packages/astro/test/fixtures/routing-priority/src/pages/de/index.astro
  packages/astro/test/fixtures/routing-priority/src/pages/index.astro
  packages/astro/test/fixtures/routing-priority/src/pages/posts/[...slug].astro
  packages/astro/test/fixtures/routing-priority/src/pages/posts/[pid].astro
  packages/astro/test/routing-priority.test.js
  pnpm-lock.yaml
Labels: core

#3393 Fix: Only trim `/1` from the canonical URL for paginate() routes
  .changeset/quick-waves-act.md
  packages/astro/src/core/render/core.ts
  packages/astro/src/core/render/result.ts
  packages/astro/src/core/render/util.ts
  packages/astro/test/astro-get-static-paths.test.js
  packages/astro/test/fixtures/astro-get-static-paths/src/pages/posts/[page].astro
Labels: core

#3421 Fix GitHub Issue creation link
  .changeset/hungry-elephants-smash.md
  .github/ISSUE_TEMPLATE/---01-bug-report.yml
  packages/astro/src/vite-plugin-astro/index.ts
Labels: core

#3425 Split up e2e HMR test
  packages/astro/e2e/multiple-frameworks.test.js
Labels: core

#3422 Updates hydration scripts to use absolute paths
  .changeset/wet-beds-act.md
  packages/astro/src/core/app/index.ts
  packages/astro/src/core/app/types.ts
  packages/astro/src/core/build/generate.ts
  packages/astro/src/core/build/vite-plugin-ssr.ts
  packages/astro/test/astro-client-only.test.js
  packages/astro/test/astro-dynamic.test.js
Labels: core

#3423 Fix: Relative imports inside of hosited script on windows
  .changeset/friendly-ways-collect.md
  packages/astro/src/vite-plugin-astro/index.ts
  packages/astro/test/astro-scripts.test.js
  packages/astro/test/fixtures/astro-scripts/src/pages/inline.astro
  packages/astro/test/fixtures/astro-scripts/src/scripts/hoist_external_imported_inline.js
Labels: core

#3431 feat: use Vite's `logLevel` on SSR build
  packages/astro/src/core/build/static-build.ts
Labels: core

#3426 Fix: add "CSS" to noExternal hint
  .changeset/blue-bottles-explode.md
  packages/astro/src/core/errors.ts
Labels: core

#3436 Use `error` log level since warnings are irrelevant and noisy
  .changeset/fair-bananas-camp.md
  packages/astro/src/core/build/static-build.ts
Labels: core

#3437 Add base config option to partytown snippet generation
  .changeset/orange-colts-march.md
  packages/integrations/partytown/src/index.ts
Labels: integration

#3410 Improve Markdown + Components usage
  .changeset/wicked-adults-pull.md
  packages/astro/src/@types/astro.ts
  packages/astro/src/vite-plugin-markdown/index.ts
  packages/astro/test/astro-markdown.test.js
  packages/astro/test/fixtures/astro-markdown/src/components/TextBlock.jsx
  packages/astro/test/fixtures/astro-markdown/src/components/index.js
  packages/astro/test/fixtures/astro-markdown/src/content/code-element.md
  packages/astro/test/fixtures/astro-markdown/src/pages/children.md
  packages/astro/test/fixtures/astro-markdown/src/pages/code-element.astro
  packages/astro/test/fixtures/astro-markdown/src/pages/comment.md
  packages/astro/test/fixtures/astro-markdown/src/pages/jsx-expressions.md
  packages/astro/test/fixtures/astro-markdown/src/pages/namespace.md
  packages/astro/test/fixtures/astro-markdown/src/pages/script.md
  packages/astro/test/fixtures/astro-markdown/src/pages/slug.md
  packages/astro/test/fixtures/astro-markdown/src/scripts/test.js
  packages/markdown/remark/package.json
  packages/markdown/remark/src/index.ts
  packages/markdown/remark/src/mdast-util-mdxish.ts
  packages/markdown/remark/src/rehype-collect-headers.ts
  packages/markdown/remark/src/rehype-expressions.ts
  packages/markdown/remark/src/rehype-jsx.ts
  packages/markdown/remark/src/remark-expressions.ts
  packages/markdown/remark/src/remark-jsx.ts
  packages/markdown/remark/src/remark-mark-and-unravel.ts
  packages/markdown/remark/src/remark-mdxish.ts
  packages/markdown/remark/src/remark-shiki.ts
  packages/markdown/remark/src/types.ts
  packages/markdown/remark/test/components.test.js
  packages/markdown/remark/test/expressions.test.js
  packages/markdown/remark/test/plugins.test.js
  pnpm-lock.yaml
Labels: markdown, core

#3444 Fix: markdown imports failing
  .changeset/seven-ghosts-confess.md
  packages/astro/src/core/create-vite.ts
Labels: core

#3438 feat: expose route dist URL on SSG
  .changeset/ten-hounds-fry.md
  .gitignore
  packages/astro/src/@types/astro.ts
  packages/astro/src/core/build/generate.ts
  packages/astro/test/static-build-page-dist-url.test.js
Labels: core

#3454 Add bundle-size check action
  .github/scripts/bundle-size.mjs
  .github/workflows/scripts.yml
  packages/astro/src/runtime/client/idle.ts
  packages/astro/src/runtime/client/load.ts
  packages/astro/src/runtime/client/media.ts
  packages/astro/src/runtime/client/only.ts
  packages/astro/src/runtime/client/visible.ts
Labels: 🚨 action, core

#3452 Feat: markdown `content.raw()` and `content.compiled()` helpers
  .changeset/nasty-tigers-sip.md
  packages/astro/env.d.ts
  packages/astro/src/@types/astro.ts
  packages/astro/src/vite-plugin-markdown/index.ts
  packages/astro/test/astro-markdown.test.js
  packages/astro/test/fixtures/astro-markdown/src/pages/raw-content.json.js
  packages/astro/test/test-utils.js
Labels: core

#3475 Remove unused slot in the "Just the Basics" starter until slot bugs are fixed (fix #3473)
  examples/basics/src/components/Card.astro
Labels: example

#3477 Fix `*/` breaking HTML comments in Markdown
  .changeset/polite-eels-visit.md
  packages/astro/src/vite-plugin-markdown/index.ts
  packages/astro/test/astro-markdown.test.js
  packages/astro/test/fixtures/astro-markdown/src/pages/comment-with-js.md
Labels: core

#3471 Fix using Vite env var names in Markdown (#3412)
  .changeset/old-pigs-exist.md
  packages/astro/src/vite-plugin-markdown/index.ts
  packages/astro/test/astro-markdown.test.js
  packages/astro/test/fixtures/astro-markdown/astro.config.mjs
  packages/astro/test/fixtures/astro-markdown/src/pages/vite-env-vars.md
Labels: core

#3482 Correcting the link to docs on Just the Basics starter README
  examples/basics/README.md
  examples/blog-multiple-authors/README.md
  examples/blog/README.md
  examples/component/README.md
  examples/docs/README.md
  examples/minimal/README.md
  examples/non-html-pages/README.md
  examples/portfolio/README.md
  examples/starter/README.md
  examples/subpath/README.md
  examples/with-vite-plugin-pwa/README.md
Labels: example

#3484 Lit polyfill - wait to polyfill on DOMContentLoaded
  .changeset/gentle-cheetahs-divide.md
  packages/integrations/lit/client-shim.js
  packages/integrations/lit/client-shim.min.js
Labels: framework-lit, integration

#3459 Set the correct content-type for CSS HMR
  .changeset/fifty-mice-bow.md
  packages/astro/src/vite-plugin-astro-server/index.ts
  packages/astro/test/fixtures/hmr-css/src/pages/index.astro
  packages/astro/test/hmr-css.test.js
Labels: core

#3483 Load environment variables in deno SSR
  .changeset/chilly-sheep-doubt.md
  packages/integrations/deno/package.json
  packages/integrations/deno/src/shim.ts
  packages/integrations/deno/test/basics.test.js
  packages/integrations/deno/test/fixtures/basics/src/pages/index.astro
Labels: integration

#3462 Chore: remove rss helper from `getStaticPaths`
  .changeset/modern-readers-ring.md
  packages/astro/package.json
  packages/astro/src/@types/astro.ts
  packages/astro/src/core/build/page-data.ts
  packages/astro/src/core/render/dev/index.ts
  packages/astro/src/core/render/pretty-feed.ts
  packages/astro/src/core/render/route-cache.ts
  packages/astro/src/core/render/rss.ts
  pnpm-lock.yaml
Labels: core

#3427 Fixing HMR for hoisted scripts
  .changeset/quick-crabs-lay.md
  packages/astro/e2e/astro-component.test.js
  packages/astro/e2e/fixtures/astro-component/src/pages/index.astro
  packages/astro/src/runtime/server/metadata.ts
Labels: core
