Repository withastro/astro, pull requests merged in 2022-02, with the labels that each got.

#2522 Fix support for scss in static build
  .changeset/brown-dancers-perform.md
  examples/fast-build/src/pages/index.astro
  examples/fast-build/src/styles/_global.scss
  packages/astro/src/vite-plugin-astro/compile.ts
  packages/astro/src/vite-plugin-astro/hmr.ts
  packages/astro/src/vite-plugin-astro/index.ts
Labels: example, core

#2514 fix(sitemap): remove debug message if sitemap disabled
  packages/astro/src/core/build/index.ts
Labels: core

#2525 Handles all http error code file names the same as 404 files.
  packages/astro/src/core/ssr/sitemap.ts
  packages/astro/src/vite-plugin-build-html/index.ts
Labels: core

#2521 Adding StackUp Digital to the list of sponsors
  .github/assets/stackup-dark.svg
  .github/assets/stackup.svg
  packages/astro/README.md
Labels: core

#2531 add back dev server host support
  .changeset/grumpy-chefs-judge.md
  packages/astro/src/core/dev/index.ts
Labels: core

#2532 Append to list of HMR modules, don't override
  .changeset/four-mirrors-wonder.md
  packages/astro/src/vite-plugin-astro/hmr.ts
Labels: core

#2534 fix: import local plugins into markdown
  .changeset/curly-wasps-sin.md
  docs/src/pages/en/guides/markdown-content.md
  examples/with-markdown-plugins/astro.config.mjs
  packages/astro/package.json
  packages/astro/test/astro-markdown-plugins.test.js
  packages/astro/test/fixtures/astro-markdown-plugins/add-classes.mjs
  packages/markdown/remark/src/load-plugins.ts
  packages/markdown/remark/src/types.ts
  yarn.lock
Labels: docs, test, markdown, i18n, example, core

#2538 fix: HTML/SVG boolean attributes
  .changeset/shy-brooms-tell.md
  packages/astro/src/runtime/server/index.ts
Labels: core

#2537 improve debug logs
  .changeset/many-oranges-retire.md
  packages/astro/src/cli/index.ts
  packages/astro/src/core/logger.ts
Labels: core

#2540 Delete robots.txt
  examples/starter/public/robots.txt
  examples/starter/src/components/Tour.astro
Labels: example

#2518 feat: Added the ability to add custom themes/languages to Shiki
  .changeset/nasty-lions-exist.md
  .changeset/serious-glasses-taste.md
  docs/src/pages/en/guides/markdown-content.md
  docs/src/pages/en/reference/builtin-components.md
  examples/with-markdown-shiki/astro.config.mjs
  packages/astro/components/Code.astro
  packages/astro/test/astro-component-code.test.js
  packages/astro/test/astro-markdown-shiki.test.js
  packages/astro/test/fixtures/astro-component-code/src/assets/ri.tmLanguage.json
  packages/astro/test/fixtures/astro-component-code/src/assets/serendipity-morning.json
  packages/astro/test/fixtures/astro-component-code/src/pages/imported.astro
  packages/astro/test/fixtures/astro-markdown-shiki/langs/astro.config.mjs
  packages/astro/test/fixtures/astro-markdown-shiki/langs/src/layouts/content.astro
  packages/astro/test/fixtures/astro-markdown-shiki/langs/src/pages/astro.astro
  packages/astro/test/fixtures/astro-markdown-shiki/langs/src/pages/index.md
  packages/astro/test/fixtures/astro-markdown-shiki/normal/astro.config.mjs
  packages/astro/test/fixtures/astro-markdown-shiki/normal/src/layouts/content.astro
  packages/astro/test/fixtures/astro-markdown-shiki/normal/src/pages/astro.astro
  packages/astro/test/fixtures/astro-markdown-shiki/normal/src/pages/index.md
  packages/astro/test/fixtures/astro-markdown-shiki/themes-custom/astro.config.mjs
  packages/astro/test/fixtures/astro-markdown-shiki/themes-custom/src/layouts/content.astro
  packages/astro/test/fixtures/astro-markdown-shiki/themes-custom/src/pages/astro.astro
  packages/astro/test/fixtures/astro-markdown-shiki/themes-custom/src/pages/index.md
  packages/astro/test/fixtures/astro-markdown-shiki/themes-integrated/astro.config.mjs
  packages/astro/test/fixtures/astro-markdown-shiki/themes-integrated/src/layouts/content.astro
  packages/astro/test/fixtures/astro-markdown-shiki/themes-integrated/src/pages/astro.astro
  packages/astro/test/fixtures/astro-markdown-shiki/themes-integrated/src/pages/index.md
  packages/astro/test/fixtures/astro-markdown-shiki/wrap-false/astro.config.mjs
  packages/astro/test/fixtures/astro-markdown-shiki/wrap-false/src/layouts/content.astro
  packages/astro/test/fixtures/astro-markdown-shiki/wrap-false/src/pages/astro.astro
  packages/astro/test/fixtures/astro-markdown-shiki/wrap-false/src/pages/index.md
  packages/astro/test/fixtures/astro-markdown-shiki/wrap-null/astro.config.mjs
  packages/astro/test/fixtures/astro-markdown-shiki/wrap-null/src/layouts/content.astro
  packages/astro/test/fixtures/astro-markdown-shiki/wrap-null/src/pages/astro.astro
  packages/astro/test/fixtures/astro-markdown-shiki/wrap-null/src/pages/index.md
  packages/astro/test/fixtures/astro-markdown-shiki/wrap-true/astro.config.mjs
  packages/astro/test/fixtures/astro-markdown-shiki/wrap-true/src/layouts/content.astro
  packages/astro/test/fixtures/astro-markdown-shiki/wrap-true/src/pages/astro.astro
  packages/astro/test/fixtures/astro-markdown-shiki/wrap-true/src/pages/index.md
  packages/markdown/remark/src/index.ts
  packages/markdown/remark/src/remark-shiki.ts
  packages/markdown/remark/src/types.ts
Labels: docs, test, markdown, i18n, example, core

#2539 Improve error handling
  packages/astro/src/runtime/server/index.ts
Labels: core

#2544 adding test coverage for boolean and enum HTML attributes
  packages/astro/test/astro-attrs.test.js
  packages/astro/test/fixtures/astro-attrs/src/pages/index.astro
Labels: test, core

#2425 Fix type FetchContentResultBase['url']
  packages/astro/src/@types/astro.ts
Labels: core

#2545 fix: curly braces inside Shiki
  packages/astro/components/Code.astro
  packages/markdown/remark/src/remark-shiki.ts
Labels: markdown, core

#2552 Prevent the server plugin from running during the build
  .changeset/fresh-moose-compare.md
  packages/astro/src/core/build/index.ts
  packages/astro/src/core/create-vite.ts
  packages/astro/src/core/dev/index.ts
  packages/astro/test/astro-class-list.test.js
  packages/astro/test/astro-client-only.test.js
  packages/astro/test/astro-component-code.test.js
  packages/astro/test/astro-doctype.test.js
  packages/astro/test/astro-jsx.test.js
  packages/astro/test/astro-pagination.test.js
  packages/astro/test/builtins.test.js
  packages/astro/test/lit-element.test.js
  packages/astro/test/markdown.test.js
  packages/astro/test/postcss.test.js
  packages/astro/test/preact-component.test.js
Labels: test, core

#2563 Upgrade `vite` and renderer dependencies
  .changeset/afraid-moles-hunt.md
  .changeset/loud-seals-camp.md
  .changeset/many-berries-bake.md
  packages/astro/package.json
  packages/renderers/renderer-lit/package.json
  packages/renderers/renderer-preact/package.json
  packages/renderers/renderer-react/package.json
  packages/renderers/renderer-solid/package.json
  packages/renderers/renderer-svelte/package.json
  packages/renderers/renderer-vue/package.json
  yarn.lock
Labels: framework-svelte, framework-vue, framework-react, framework-preact, framework-solid, framework-lit, renderer, core

#2570 Use noExternal config on 'astro'
  .changeset/soft-mayflies-warn.md
  packages/astro/src/core/create-vite.ts
Labels: core

#2581 Resolve relative imports from hoisted scripts (static build)
  .changeset/sour-rabbits-sing.md
  packages/astro/src/vite-plugin-astro/index.ts
  packages/astro/test/fixtures/static build/src/components/InlineHoisted.astro
  packages/astro/test/fixtures/static build/src/scripts/inline-hoist.js
  packages/astro/test/lit-element.test.js
  yarn.lock
Labels: test, core

#2572 Move SASS to devDependencies
  packages/astro/package.json
Labels: core

#2594 chore: upgrade compiler
  .changeset/warm-drinks-design.md
  packages/astro/package.json
  yarn.lock
Labels: core

#2588 Pass children to client components even if they do not render them
  .changeset/great-suns-pump.md
  packages/astro/src/@types/astro.ts
  packages/astro/src/runtime/client/idle.ts
  packages/astro/src/runtime/client/load.ts
  packages/astro/src/runtime/client/media.ts
  packages/astro/src/runtime/client/only.ts
  packages/astro/src/runtime/client/visible.ts
  packages/astro/src/runtime/server/hydration.ts
  packages/astro/src/runtime/server/index.ts
  packages/astro/test/astro-children.test.js
  packages/astro/test/fixtures/astro-children/src/components/NoRender.jsx
  packages/astro/test/fixtures/astro-children/src/pages/no-render.astro
Labels: test, core

#2593 Bug fix: Order of params for routing has to match
  .changeset/sweet-spoons-cheer.md
  packages/astro/src/core/render/core.ts
  packages/astro/src/core/render/route-cache.ts
  packages/astro/test/fixtures/astro-get-static-paths/src/pages/blog/[year]/[slug].astro
Labels: core

#2599 Upgrade `@astrojs/compiler`
  .changeset/eighty-cows-wink.md
  packages/astro/package.json
  yarn.lock
Labels: core

#2601 importing and inlining global.css with set:html
  examples/with-tailwindcss/src/pages/index.astro
Labels: example

#2590 Chore: fix examples/blog template generate sitemap.xml
  examples/blog/astro.config.mjs
Labels: example

#2605 Fix loading of styles in static build
  .changeset/fuzzy-drinks-drop.md
  packages/astro/src/core/path.ts
  packages/astro/src/vite-plugin-astro/index.ts
  packages/astro/test/static-build.test.js
Labels: test, core

#2606 Static build - fixes path to HMR script
  .changeset/cool-months-deliver.md
  packages/astro/src/core/render/dev/index.ts
Labels: core

#2616 Adds memory leak test in CI
  .github/workflows/ci.yml
  .gitignore
  package.json
  packages/astro/package.json
  scripts/memory/index.js
  scripts/memory/mk.js
  scripts/memory/project/.gitkeep
  scripts/memory/project/src/pages/.gitkeep
  yarn.lock
Labels: 🚨 action, core

#2617 Improve smoke tests
  .github/workflows/ci.yml
  package.json
  scripts/smoke/index.js
Labels: 🚨 action

#2621 improve memory leak test
  .github/workflows/ci.yml
  scripts/memory/index.js
Labels: 🚨 action

#2638 Make Non-HTML Pages work for static build
  packages/astro/src/core/render/dev/index.ts
Labels: core

#2628 Fixed shiki import to work with "type": "module"
  .changeset/great-hotels-breathe.md
  packages/astro/components/Code.astro
  packages/markdown/remark/src/remark-shiki.ts
Labels: markdown, core

#2609 Run all smoke tests with the static build
  examples/with-vite-plugin-pwa/src/pages/index.astro
  scripts/smoke/index.js
Labels: example

#2631 Fix(component): align starting position in Markdown slot
  packages/astro/components/Markdown.astro
  packages/astro/test/astro-markdown-shiki.test.js
  packages/astro/test/astro-markdown.test.js
  packages/astro/test/fixtures/astro-markdown/src/pages/nested-list.astro
Labels: test, core

#2643 Add sass dev dep to blog-multiple-authors example
  examples/blog-multiple-authors/package.json
Labels: example

#2630 Fixed incorrect types and imports
  .changeset/grumpy-tigers-melt.md
  packages/astro/package.json
  packages/astro/src/@types/astro.ts
  packages/astro/src/core/build/index.ts
  packages/astro/src/core/build/page-data.ts
  packages/astro/src/core/build/scan-based-build.ts
  packages/astro/src/core/build/static-build.ts
  packages/astro/src/core/build/vite-plugin-hoisted-scripts.ts
  packages/astro/src/core/create-vite.ts
  packages/astro/src/core/dev/index.ts
  packages/astro/src/core/render/dev/css.ts
  packages/astro/src/core/render/dev/error.ts
  packages/astro/src/core/render/dev/html.ts
  packages/astro/src/core/render/dev/index.ts
  packages/astro/src/core/render/dev/renderers.ts
  packages/astro/src/core/vite.ts
  packages/astro/src/vite-plugin-astro-postprocess/index.ts
  packages/astro/src/vite-plugin-astro-server/index.ts
  packages/astro/src/vite-plugin-astro/hmr.ts
  packages/astro/src/vite-plugin-astro/index.ts
  packages/astro/src/vite-plugin-astro/styles.ts
  packages/astro/src/vite-plugin-build-css/index.ts
  packages/astro/src/vite-plugin-build-css/resolve.ts
  packages/astro/src/vite-plugin-build-html/index.ts
  packages/astro/src/vite-plugin-config-alias/index.ts
  packages/astro/src/vite-plugin-jsx/index.ts
  packages/astro/src/vite-plugin-markdown/index.ts
Labels: core

#2649 Add fine-grained HMR support
  .changeset/tasty-tigers-flow.md
  packages/astro/package.json
  packages/astro/src/runtime/client/hmr.ts
  packages/astro/src/vite-plugin-astro-server/index.ts
  packages/astro/src/vite-plugin-astro/hmr.ts
  packages/astro/src/vite-plugin-astro/index.ts
  yarn.lock
Labels: core

#2653 Upgrade compiler, fixes self-closing `<title />`
  .changeset/lazy-parents-turn.md
  packages/astro/package.json
  yarn.lock
Labels: core

#2645 fix(core): Issue #2625. error with process.env.LANG larger than 5
  .changeset/twelve-eggs-join.md
  packages/astro/src/core/logger.ts
Labels: core

#2654 ensure utf8 encoding when serving html
  .changeset/spicy-tomatoes-act.md
  examples/ssr/server/server.mjs
  packages/astro/src/vite-plugin-astro-server/index.ts
Labels: example, core

#2637 Add Non-HTML Pages example
  examples/non-html-pages/.gitignore
  examples/non-html-pages/.npmrc
  examples/non-html-pages/.stackblitzrc
  examples/non-html-pages/README.md
  examples/non-html-pages/astro.config.mjs
  examples/non-html-pages/package.json
  examples/non-html-pages/public/favicon.ico
  examples/non-html-pages/sandbox.config.json
  examples/non-html-pages/src/pages/company.json.ts
  examples/non-html-pages/src/pages/index.astro
  examples/non-html-pages/tsconfig.json
Labels: example

#2665 Improve third-party Astro package compatability
  .changeset/dry-geese-speak.md
  packages/astro/src/@types/astro.ts
  packages/astro/src/core/create-vite.ts
Labels: core

#2656 fix astro scoping of "@import" inside of style tags
  .changeset/lovely-lies-dress.md
  examples/fast-build/package.json
  packages/astro/src/vite-plugin-astro/compile.ts
Labels: example, core

#2675 Fix HTMLElement expression warning
  packages/astro/src/runtime/server/index.ts
Labels: core

#2677 Move some tests over to the static build
  packages/astro/package.json
  packages/astro/src/core/build/static-build.ts
  packages/astro/src/runtime/server/metadata.ts
  packages/astro/test/astro-assets.test.js
  packages/astro/test/astro-basic.test.js
  packages/astro/test/astro-client-only.test.js
  packages/astro/test/astro-components.test.js
  packages/astro/test/astro-scripts.test.js
  packages/astro/test/cli.test.js
  packages/astro/test/fixtures/astro-assets/src/pages/index.astro
  packages/astro/test/fixtures/astro-components/src/components/Component.astro
  packages/astro/test/fixtures/astro-components/src/components/Component.jsx
  packages/astro/test/fixtures/astro-components/src/components/Component.svelte
  packages/astro/test/fixtures/astro-components/src/components/Component.vue
  packages/astro/test/fixtures/astro-components/src/components/Props-Component.astro
  packages/astro/test/fixtures/astro-components/src/pages/client.astro
  packages/astro/test/fixtures/astro-components/src/pages/frontmatter-component.astro
  packages/astro/test/fixtures/astro-components/src/pages/index.astro
  packages/astro/test/fixtures/astro-components/src/pages/props-shadowing.astro
  packages/astro/test/fixtures/astro-components/src/pages/undefined-component.astro
  packages/astro/test/fixtures/astro-scripts/src/components/NoHoistClassic.astro
  packages/astro/test/fixtures/astro-scripts/src/components/NoHoistModule.astro
  packages/astro/test/fixtures/astro-scripts/src/components/Widget.astro
  packages/astro/test/fixtures/astro-scripts/src/components/Widget2.astro
  packages/astro/test/fixtures/postcss/src/pages/index.astro
  packages/astro/test/postcss.test.js
  yarn.lock
Labels: test, core

#2681 Fix HMR regression related to .astro updates
  .changeset/thin-birds-rescue.md
  packages/astro/package.json
  packages/astro/src/runtime/client/hmr.ts
  packages/astro/src/vite-plugin-astro/hmr.ts
  packages/astro/src/vite-plugin-astro/index.ts
  yarn.lock
Labels: core

#2674 Fix typo
  examples/ssr/src/api.ts
Labels: example
