Repository withastro/astro, pull requests merged in 2022-12, with the labels that each got.

#5501 Show warning about hydrating Astro components in build
  .changeset/yellow-lizards-shout.md
  packages/astro/src/runtime/server/render/astro.ts
Labels: core

#5514 fix(vercel): Update request-transforms.ts
  .changeset/plenty-tigers-pretend.md
  packages/integrations/vercel/package.json
  packages/integrations/vercel/src/serverless/request-transform.ts
  pnpm-lock.yaml
Labels: integration

#5506 Refactor Astro plugin and compile flow
  .changeset/lazy-walls-sneeze.md
  .changeset/seven-seahorses-talk.md
  packages/astro/src/core/compile/cache.ts
  packages/astro/src/core/compile/compile.ts
  packages/astro/src/core/compile/index.ts
  packages/astro/src/core/create-vite.ts
  packages/astro/src/vite-plugin-astro/compile.ts
  packages/astro/src/vite-plugin-astro/index.ts
  packages/astro/src/vite-plugin-utils/index.ts
Labels: core

#5522 Support rendering `<Fragment>` in MDX `<Content />` component
  .changeset/sweet-chairs-buy.md
  packages/astro/src/core/render/core.ts
  packages/integrations/mdx/src/index.ts
  packages/integrations/mdx/test/fixtures/mdx-component/src/components/WithFragment.mdx
  packages/integrations/mdx/test/fixtures/mdx-component/src/pages/glob.astro
  packages/integrations/mdx/test/fixtures/mdx-component/src/pages/w-fragment.astro
  packages/integrations/mdx/test/fixtures/mdx-slots/src/components/Slotted.astro
  packages/integrations/mdx/test/fixtures/mdx-slots/src/components/Test.mdx
  packages/integrations/mdx/test/fixtures/mdx-slots/src/pages/glob.astro
  packages/integrations/mdx/test/fixtures/mdx-slots/src/pages/index.astro
  packages/integrations/mdx/test/mdx-component.test.js
  packages/integrations/mdx/test/mdx-slots.js
Labels: integration, core

#5528 Fix tests with node 18
  packages/astro/test/test-utils.js
Labels: core

#5534 Update esbuild dependency
  .changeset/beige-forks-cough.md
  package.json
  packages/integrations/cloudflare/package.json
  packages/integrations/deno/package.json
  packages/integrations/netlify/package.json
  pnpm-lock.yaml
  scripts/package.json
Labels: integration

#5543 Fix bench workflow
  .github/workflows/benchmark.yml
Labels: 🚨 action

#5546 bench workflow - use bash as shell
  .github/workflows/benchmark.yml
Labels: 🚨 action

#5545 Exclude astro from Vite optimization
  .changeset/chilled-papayas-build.md
  packages/astro/src/core/create-vite.ts
Labels: core

#5511 Head propagation
  .changeset/cool-jobs-draw.md
  packages/astro/package.json
  packages/astro/src/@types/astro.ts
  packages/astro/src/core/compile/compile.ts
  packages/astro/src/core/create-vite.ts
  packages/astro/src/core/render/context.ts
  packages/astro/src/core/render/core.ts
  packages/astro/src/core/render/dev/head.ts
  packages/astro/src/core/render/dev/index.ts
  packages/astro/src/core/render/result.ts
  packages/astro/src/jsx/babel.ts
  packages/astro/src/runtime/server/astro-component.ts
  packages/astro/src/runtime/server/astro-global.ts
  packages/astro/src/runtime/server/index.ts
  packages/astro/src/runtime/server/jsx.ts
  packages/astro/src/runtime/server/render/any.ts
  packages/astro/src/runtime/server/render/astro.ts
  packages/astro/src/runtime/server/render/astro/factory.ts
  packages/astro/src/runtime/server/render/astro/head-and-content.ts
  packages/astro/src/runtime/server/render/astro/index.ts
  packages/astro/src/runtime/server/render/astro/instance.ts
  packages/astro/src/runtime/server/render/astro/render-template.ts
  packages/astro/src/runtime/server/render/component.ts
  packages/astro/src/runtime/server/render/head.ts
  packages/astro/src/runtime/server/render/index.ts
  packages/astro/src/runtime/server/render/page.ts
  packages/astro/src/runtime/server/render/stylesheet.ts
  packages/astro/src/vite-plugin-astro/index.ts
  packages/astro/src/vite-plugin-astro/metadata.ts
  packages/astro/src/vite-plugin-astro/types.ts
  packages/astro/src/vite-plugin-head-propagation/index.ts
  packages/astro/src/vite-plugin-load-fallback/index.ts
  packages/astro/src/vite-plugin-markdown-legacy/index.ts
  packages/astro/src/vite-plugin-markdown/index.ts
  packages/astro/test/units/dev/head-injection.test.js
  pnpm-lock.yaml
Labels: core

#5446 Allow all redirection status codes in redirect()
  .changeset/chilly-pumpkins-fetch.md
  packages/astro/src/@types/astro.ts
Labels: core

#5553 Fix Astro.params not having values when using base in SSR
  .changeset/fast-carpets-float.md
  packages/astro/src/core/app/index.ts
  packages/astro/test/fixtures/ssr-params/package.json
  packages/astro/test/fixtures/ssr-params/src/pages/[category].astro
  packages/astro/test/ssr-params.test.js
  pnpm-lock.yaml
Labels: core

#5539 fix: Error reporting fails on undefined error index
  .changeset/slow-cherries-bake.md
  packages/astro/src/core/errors/dev/utils.ts
Labels: core

#5482 Documented how to access the base config in the app
  packages/astro/src/@types/astro.ts
Labels: core

#5554 Update compiler
  .changeset/silver-falcons-serve.md
  packages/astro/package.json
  pnpm-lock.yaml
Labels: core

#5560 Node: better serverEntrypoint error
  .changeset/nice-pens-lie.md
  packages/integrations/node/src/preview.ts
Labels: integration

#5570 [docs] MDX README update
  .changeset/neat-hounds-push.md
  packages/integrations/mdx/README.md
Labels: integration

#5572 Include base in 'page' stage injected scripts
  .changeset/few-days-refuse.md
  packages/astro/src/core/build/vite-plugin-ssr.ts
  packages/astro/test/fixtures/ssr-request/src/scripts/inject-script.js
  packages/astro/test/ssr-request.test.js
Labels: core

#5573 Update deno integration dependencies
  packages/integrations/deno/README.md
  packages/integrations/deno/src/server.ts
Labels: integration

#5577 Updated magic-string to 0.27.0
  .changeset/ten-books-burn.md
  packages/astro/package.json
  pnpm-lock.yaml
Labels: core

#5587 fix(vercel): support node-fetch and Node 18 fetch
  .changeset/modern-camels-appear.md
  packages/integrations/vercel/src/serverless/entrypoint.ts
  packages/integrations/vercel/src/serverless/request-transform/legacy.ts
  packages/integrations/vercel/src/serverless/request-transform/node18.ts
Labels: integration

#5585 fix link 404 in Vue integration README
  packages/integrations/vue/README.md
Labels: framework-vue, integration

#5576 Add Vercel middleware docs to Vercel integration README
  packages/integrations/vercel/README.md
Labels: integration

#5564 Add `server.headers` option
  .changeset/light-moose-attend.md
  packages/astro/src/core/config/schema.ts
  packages/astro/src/core/dev/container.ts
  packages/astro/src/core/preview/index.ts
  packages/astro/src/core/preview/static-preview-server.ts
  packages/astro/src/vite-plugin-astro-server/route.ts
  packages/astro/test/astro-dev-headers.test.js
  packages/astro/test/astro-preview-headers.test.js
  packages/astro/test/fixtures/astro-dev-headers/package.json
  packages/astro/test/fixtures/astro-dev-headers/src/pages/index.astro
  packages/astro/test/fixtures/astro-preview-headers/package.json
  packages/astro/test/fixtures/astro-preview-headers/src/pages/index.astro
  pnpm-lock.yaml
Labels: core, semver minor

#5341 Allow setting domain when deleting cookies
  .changeset/small-ravens-cover.md
  packages/astro/src/core/cookies/cookies.ts
  packages/astro/test/units/cookies/delete.test.js
Labels: core, semver minor

#5495 Add a new error overlay
  .changeset/happy-chefs-ring.md
  packages/astro/e2e/error-cyclic.test.js
  packages/astro/e2e/error-react-spectrum.test.js
  packages/astro/e2e/error-sass.test.js
  packages/astro/e2e/errors.test.js
  packages/astro/e2e/shared-component-tests.js
  packages/astro/e2e/test-utils.js
  packages/astro/src/@types/astro.ts
  packages/astro/src/core/compile/style.ts
  packages/astro/src/core/config/config.ts
  packages/astro/src/core/config/schema.ts
  packages/astro/src/core/errors/dev/utils.ts
  packages/astro/src/core/errors/dev/vite.ts
  packages/astro/src/core/errors/errors-data.ts
  packages/astro/src/core/errors/errors.ts
  packages/astro/src/core/errors/overlay.ts
  packages/astro/src/core/messages.ts
  packages/astro/src/vite-plugin-astro-server/plugin.ts
  packages/astro/src/vite-plugin-astro-server/response.ts
Labels: core, semver minor

#5579 upgrade giget to support proxy config
  .changeset/hip-scissors-live.md
  packages/create-astro/package.json
  pnpm-lock.yaml
Labels: create-astro

#5603 Docs example: use HTTPS for `site` in `astro.config.mjs`
  examples/docs/astro.config.mjs
Labels: example

#5297 Experimental Prerender API
  .changeset/funny-waves-worry.md
  packages/astro/e2e/error-cyclic.test.js
  packages/astro/e2e/error-react-spectrum.test.js
  packages/astro/e2e/error-sass.test.js
  packages/astro/e2e/errors.test.js
  packages/astro/package.json
  packages/astro/src/@types/astro.ts
  packages/astro/src/core/app/index.ts
  packages/astro/src/core/build/common.ts
  packages/astro/src/core/build/generate.ts
  packages/astro/src/core/build/internal.ts
  packages/astro/src/core/build/static-build.ts
  packages/astro/src/core/build/types.ts
  packages/astro/src/core/build/vite-plugin-analyzer.ts
  packages/astro/src/core/build/vite-plugin-internals.ts
  packages/astro/src/core/build/vite-plugin-pages.ts
  packages/astro/src/core/build/vite-plugin-prerender.ts
  packages/astro/src/core/build/vite-plugin-ssr.ts
  packages/astro/src/core/config/config.ts
  packages/astro/src/core/config/schema.ts
  packages/astro/src/core/create-vite.ts
  packages/astro/src/core/errors/errors-data.ts
  packages/astro/src/core/errors/overlay.ts
  packages/astro/src/core/routing/match.ts
  packages/astro/src/core/util.ts
  packages/astro/src/integrations/index.ts
  packages/astro/src/jsx/babel.ts
  packages/astro/src/vite-plugin-astro/index.ts
  packages/astro/src/vite-plugin-astro/types.ts
  packages/astro/src/vite-plugin-markdown-legacy/index.ts
  packages/astro/src/vite-plugin-markdown/index.ts
  packages/astro/src/vite-plugin-scanner/index.ts
  packages/astro/src/vite-plugin-scanner/scan.ts
  packages/astro/test/fixtures/ssr-prerender/package.json
  packages/astro/test/fixtures/ssr-prerender/src/pages/static.astro
  packages/astro/test/fixtures/ssr-prerender/src/pages/users/[id].astro
  packages/astro/test/ssr-prerender.test.js
  packages/astro/test/units/vite-plugin-astro/compile.test.js
  packages/astro/test/units/vite-plugin-scanner/scan.test.js
  packages/integrations/netlify/src/shared.ts
  pnpm-lock.yaml
Labels: integration, core, semver minor

#5615 Sanitize dynamic tags
  .changeset/fresh-bats-prove.md
  packages/astro/src/runtime/server/render/component.ts
  packages/astro/test/units/render/components.test.js
Labels: core

#5616 Fix `create-astro` on Windows
  .changeset/violet-parents-mix.md
  packages/create-astro/package.json
  packages/create-astro/src/index.ts
  pnpm-lock.yaml
Labels: create-astro

#5617 [Fix] Incorrect error message for MDX peer dependency
  .changeset/red-nails-mix.md
  packages/astro/src/content/internal.ts
Labels: core

#5626 Docs: Fix `prerender` error message
  packages/astro/src/core/errors/errors-data.ts
Labels: core

#5631 Fix links in content used by docs
  examples/with-content/README.md
  packages/astro/src/@types/astro.ts
  packages/astro/src/core/errors/errors-data.ts
Labels: example, core

#5633 Add JSDoc comments for error overlay to match other experimental flags
  packages/astro/src/@types/astro.ts
Labels: core

#5627 Fix spelling mistakes found by codespell and mwic
  examples/docs/README.md
  packages/astro/CHANGELOG.md
  packages/astro/README.md
  packages/astro/components/Shiki.js
  packages/astro/src/core/errors/errors-data.ts
  packages/astro/src/core/errors/utils.ts
  packages/astro/src/core/render/route-cache.ts
  packages/astro/src/runtime/server/index.ts
  packages/astro/src/runtime/server/shorthash.ts
  packages/astro/src/vite-plugin-astro/hmr.ts
  packages/astro/src/vite-plugin-astro/query.ts
  packages/astro/src/vite-plugin-config-alias/index.ts
  packages/astro/src/vite-plugin-head-propagation/index.ts
  packages/astro/test/astro-css-bundling.test.js
  packages/astro/test/astro-envs.test.js
  packages/astro/test/custom-elements.test.js
  packages/astro/test/fixtures/astro-component-code/src/assets/serendipity-morning.json
  packages/astro/test/fixtures/astro-markdown-shiki/themes-custom/astro.config.mjs
  packages/astro/test/fixtures/markdown/src/pages/realworld.md
  packages/astro/test/lit-element.test.js
  packages/astro/test/react-jsx-export.test.js
  packages/astro/test/test-utils.js
  packages/create-astro/CHANGELOG.md
  packages/integrations/deno/CHANGELOG.md
  packages/integrations/image/src/utils/shorthash.ts
  packages/integrations/image/src/vendor/squoosh/avif/avif_node_dec.ts
  packages/integrations/image/src/vendor/squoosh/avif/avif_node_enc.ts
  packages/integrations/image/src/vendor/squoosh/mozjpeg/mozjpeg_node_dec.ts
  packages/integrations/image/src/vendor/squoosh/mozjpeg/mozjpeg_node_enc.ts
  packages/integrations/image/src/vendor/squoosh/webp/webp_node_dec.ts
  packages/integrations/image/src/vendor/squoosh/webp/webp_node_enc.ts
  packages/integrations/image/test/image-ssr-dev.test.js
  packages/integrations/lit/CHANGELOG.md
  packages/integrations/lit/test/server.test.js
  packages/integrations/netlify/CHANGELOG.md
  packages/integrations/netlify/src/netlify-functions.ts
  packages/integrations/partytown/CHANGELOG.md
  packages/integrations/react/client.js
  packages/integrations/sitemap/CHANGELOG.md
  packages/integrations/solid/src/index.ts
  packages/integrations/tailwind/CHANGELOG.md
  packages/integrations/vercel/README.md
  packages/markdown/component/test/fixtures/astro-markdown-shiki/themes-custom/astro.config.mjs
  packages/markdown/remark/CHANGELOG.md
Labels: markdown, example, framework-react, framework-solid, framework-lit, integration, create-astro, core

#5639 Fix client only import with importsNotUsedAsValues error
  .changeset/two-pants-enjoy.md
  packages/astro/e2e/fixtures/client-only/src/components/ReactCounter.jsx
  packages/astro/e2e/fixtures/client-only/tsconfig.json
  packages/astro/src/vite-plugin-astro/compile.ts
  packages/astro/src/vite-plugin-jsx/index.ts
Labels: core

#5641 Fix "maximum call stack size exceeded" error
  .changeset/itchy-laws-smile.md
  packages/astro/src/vite-plugin-head-propagation/index.ts
Labels: core

#5644 Patch static build regression
  .changeset/small-camels-mix.md
  packages/astro/src/core/build/static-build.ts
Labels: core

#5638 fix traced warnings from unexpected token
  .changeset/lazy-tomatoes-call.md
  packages/integrations/vercel/src/lib/nft.ts
Labels: integration

#5654 MD/MDX collect headings refactor
  .changeset/fast-baboons-prove.md
  .changeset/violet-mice-push.md
  packages/integrations/mdx/package.json
  packages/integrations/mdx/src/plugins.ts
  packages/integrations/mdx/src/rehype-collect-headings.ts
  packages/integrations/mdx/test/mdx-get-headings.test.js
  packages/markdown/remark/src/index.ts
  packages/markdown/remark/src/rehype-collect-headings.ts
  packages/markdown/remark/src/types.ts
  pnpm-lock.yaml
Labels: markdown, integration

#5652 Use acorn to postprocess Astro globs
  .changeset/five-cups-battle.md
  packages/astro/e2e/fixtures/pass-js/src/components/React.tsx
  packages/astro/e2e/fixtures/pass-js/src/pages/index.astro
  packages/astro/e2e/pass-js.test.js
  packages/astro/package.json
  packages/astro/src/vite-plugin-astro-postprocess/index.ts
  pnpm-lock.yaml
Labels: core

#5651 Add canonical URL to blog example
  examples/blog/src/components/BaseHead.astro
Labels: example

#5648 [Content] Throw on relative image usage
  .changeset/khaki-crabs-develop.md
  packages/astro/src/content/index.ts
  packages/astro/src/core/build/generate.ts
  packages/astro/src/core/build/vite-plugin-ssr.ts
  packages/astro/src/core/render/dev/environment.ts
  packages/astro/src/core/render/environment.ts
  packages/astro/src/vite-plugin-markdown-legacy/index.ts
  packages/astro/src/vite-plugin-markdown/index.ts
  packages/integrations/mdx/package.json
  packages/integrations/mdx/src/plugins.ts
  packages/integrations/mdx/src/utils.ts
  packages/markdown/remark/src/index.ts
  packages/markdown/remark/src/remark-content-rel-image-error.ts
  packages/markdown/remark/src/types.ts
  pnpm-lock.yaml
Labels: markdown, integration, core

#5667 [MDX] Remove verbose migration logs
  .changeset/fluffy-cougars-care.md
  packages/integrations/mdx/src/index.ts
  packages/integrations/mdx/src/utils.ts
Labels: integration

#5668 [Content Collections] Stray console.log snuck in!
  .changeset/five-apes-heal.md
  packages/markdown/remark/src/remark-content-rel-image-error.ts
Labels: markdown

#5647 [Content] Add `astro sync` type gen command
  .changeset/good-suns-mate.md
  packages/astro/src/cli/index.ts
  packages/astro/src/cli/sync/index.ts
  packages/astro/src/content/index.ts
  packages/astro/src/content/types-generator.ts
  packages/astro/src/content/vite-plugin-content-server.ts
  packages/astro/src/core/errors/errors-data.ts
  packages/astro/test/content-collections.test.js
  packages/astro/test/fixtures/content-collections/.gitignore
  packages/astro/test/fixtures/content-collections/src/content/types.generated.d.ts
  packages/astro/test/test-utils.js
Labels: core, semver minor

#5635 fix(types): add `server.headers` typing
  .changeset/slow-nails-retire.md
  packages/astro/src/@types/astro.ts
Labels: core

#5678 Fix code generation quotes handling
  .changeset/purple-hounds-decide.md
  packages/astro/src/core/build/vite-plugin-pages.ts
  packages/astro/src/core/create-vite.ts
  packages/astro/src/core/dev/container.ts
  packages/astro/src/vite-plugin-env/index.ts
  packages/astro/src/vite-plugin-markdown-legacy/index.ts
  packages/astro/src/vite-plugin-markdown/index.ts
  packages/astro/test/astro-pages.test.js
  packages/astro/test/fixtures/astro pages/src/pages/quotes'-work-too.md
Labels: core

#5694 [docs] reflects updates to cloudflare: streams, env variables
  packages/integrations/cloudflare/README.md
Labels: integration

#5695 [Content Collections] Remove `types.generated` from tests
  packages/astro/test/fixtures/content-ssr-integration/.gitignore
  packages/astro/test/fixtures/content-ssr-integration/src/content/types.generated.d.ts
  packages/astro/test/fixtures/content-static-paths-integration/.gitignore
  packages/astro/test/fixtures/content-static-paths-integration/src/content/types.generated.d.ts
  packages/astro/test/fixtures/content/.gitignore
  packages/astro/test/fixtures/content/src/content/types.generated.d.ts
Labels: core
