Repository withastro/astro, pull requests merged in 2022-11, with the labels that each got.

#5263 ci: fix `prettier` arg
  .github/workflows/ci.yml
Labels: 🚨 action

#5244 Improve prefetch conditions
  .changeset/lemon-spies-approve.md
  packages/integrations/prefetch/src/client.ts
  packages/integrations/prefetch/src/index.ts
Labels: integration, hacktoberfest-accepted

#5198 Graceful error recovery in the dev server
  .changeset/thin-trains-run.md
  packages/astro/package.json
  packages/astro/src/@types/typed-emitter.ts
  packages/astro/src/core/config/config.ts
  packages/astro/src/core/config/index.ts
  packages/astro/src/core/config/settings.ts
  packages/astro/src/core/create-vite.ts
  packages/astro/src/core/dev/container.ts
  packages/astro/src/core/dev/dev.ts
  packages/astro/src/core/dev/index.ts
  packages/astro/src/core/errors/dev/vite.ts
  packages/astro/src/core/module-loader/index.ts
  packages/astro/src/core/module-loader/loader.ts
  packages/astro/src/core/module-loader/vite.ts
  packages/astro/src/core/render/dev/css.ts
  packages/astro/src/core/render/dev/environment.ts
  packages/astro/src/core/render/dev/index.ts
  packages/astro/src/core/render/dev/resolve.ts
  packages/astro/src/core/render/dev/scripts.ts
  packages/astro/src/core/render/dev/vite.ts
  packages/astro/src/core/routing/manifest/create.ts
  packages/astro/src/core/util.ts
  packages/astro/src/vite-plugin-astro-server/base.ts
  packages/astro/src/vite-plugin-astro-server/common.ts
  packages/astro/src/vite-plugin-astro-server/controller.ts
  packages/astro/src/vite-plugin-astro-server/index.ts
  packages/astro/src/vite-plugin-astro-server/plugin.ts
  packages/astro/src/vite-plugin-astro-server/request.ts
  packages/astro/src/vite-plugin-astro-server/response.ts
  packages/astro/src/vite-plugin-astro-server/route.ts
  packages/astro/src/vite-plugin-astro-server/server-state.ts
  packages/astro/src/vite-plugin-load-fallback/index.ts
  packages/astro/test/test-utils.js
  packages/astro/test/units/correct-path.js
  packages/astro/test/units/dev/dev.test.js
  packages/astro/test/units/test-utils.js
  packages/astro/test/units/vite-plugin-astro-server/controller.test.js
  packages/astro/test/units/vite-plugin-astro-server/request.test.js
  pnpm-lock.yaml
Labels: core

#5270 Prevent tailwind config errors from crashing dev server
  .changeset/long-turtles-run.md
  packages/integrations/tailwind/src/index.ts
Labels: integration

#5213 Adds a Hackernews example site
  examples/hackernews/.gitignore
  examples/hackernews/.vscode/extensions.json
  examples/hackernews/.vscode/launch.json
  examples/hackernews/README.md
  examples/hackernews/astro.config.mjs
  examples/hackernews/package.json
  examples/hackernews/public/favicon.svg
  examples/hackernews/sandbox.config.json
  examples/hackernews/src/components/Comment.astro
  examples/hackernews/src/components/For.astro
  examples/hackernews/src/components/Nav.astro
  examples/hackernews/src/components/Show.astro
  examples/hackernews/src/components/Story.astro
  examples/hackernews/src/components/Toggle.astro
  examples/hackernews/src/env.d.ts
  examples/hackernews/src/layouts/Layout.astro
  examples/hackernews/src/lib/api.ts
  examples/hackernews/src/pages/[...stories].astro
  examples/hackernews/src/pages/stories/[id].astro
  examples/hackernews/src/pages/users/[id].astro
  examples/hackernews/src/types.ts
  examples/hackernews/tsconfig.json
  package.json
  pnpm-lock.yaml
Labels: example

#5271 Updates @astrojs/prefetch package keywords
  .changeset/lucky-bees-impress.md
  packages/integrations/prefetch/package.json
Labels: integration

#5272 fix: consider trailing slashes when calculating current path in blog example
  examples/blog/src/components/HeaderLink.astro
Labels: example

#5236 Refactor CSS preprocessing handling
  .changeset/tall-keys-hunt.md
  packages/astro/src/core/compile/compile.ts
  packages/astro/src/core/compile/style.ts
  packages/astro/src/vite-plugin-astro/index.ts
  packages/astro/src/vite-plugin-markdown-legacy/index.ts
  packages/astro/src/vite-style-transform/index.ts
  packages/astro/src/vite-style-transform/style-transform.ts
  packages/astro/src/vite-style-transform/transform-with-vite.ts
  packages/astro/test/units/compile/invalid-css.test.js
Labels: core

#5278 [docs] cloudflare `directory` nits
  packages/integrations/cloudflare/README.md
Labels: integration

#5264 Fix memleak caused by directory names containing '.md' or '.mdx'
  .changeset/clever-files-wash.md
  packages/astro/src/core/util.ts
  packages/astro/src/vite-plugin-astro-postprocess/index.ts
  packages/astro/src/vite-plugin-jsx/index.ts
  packages/astro/src/vite-plugin-markdown-legacy/index.ts
  packages/astro/src/vite-plugin-markdown/index.ts
  packages/astro/test/fixtures/impostor-mdx-file/astro.config.mjs
  packages/astro/test/fixtures/impostor-mdx-file/package.json
  packages/astro/test/fixtures/impostor-mdx-file/src/components/Foo.mdx.jsx
  packages/astro/test/fixtures/impostor-mdx-file/src/pages/index.astro
  packages/astro/test/impostor-mdx-file.js
  pnpm-lock.yaml
Labels: core

#5281 fix homepage url for integrations
  .changeset/curvy-countries-kiss.md
  packages/astro-prism/package.json
  packages/markdown/component/package.json
Labels: markdown

#5273 Surface configuration errors to the client
  .changeset/brown-clocks-press.md
  packages/astro/src/cli/index.ts
  packages/astro/src/core/config/config.ts
  packages/astro/src/core/dev/container.ts
  packages/astro/src/core/dev/dev.ts
  packages/astro/src/core/dev/index.ts
  packages/astro/src/core/dev/restart.ts
  packages/astro/test/units/dev/restart.test.js
  packages/astro/test/units/test-utils.js
Labels: core

#5284 fix(astro): add `class:list` to `HTMLAttributes`
  .changeset/dull-days-grin.md
  packages/astro/types.d.ts
Labels: core

#5266 fix: added .pnpm-store file when the node version was greater than 1
  .gitignore
  packages/astro/test/test-utils.js
Labels: core

#5293 Prevent overcaching of astro components for HMR
  .changeset/heavy-bananas-deny.md
  packages/astro/src/core/create-vite.ts
  packages/astro/src/vite-plugin-astro/hmr.ts
  packages/astro/src/vite-plugin-load-fallback/index.ts
  packages/astro/test/units/dev/dev.test.js
  packages/astro/test/units/test-utils.js
Labels: core

#5292 Adds astro cli dynamic imports
  .changeset/friendly-beds-explode.md
  packages/astro/src/cli/index.ts
Labels: core

#5290 Handle `base` in adapters
  .changeset/blue-parrots-jam.md
  packages/astro/src/@types/astro.ts
  packages/astro/src/core/app/index.ts
  packages/astro/src/core/build/vite-plugin-ssr.ts
  packages/astro/src/core/preview/index.ts
  packages/astro/test/fixtures/ssr-request/src/pages/request.astro
  packages/astro/test/ssr-request.test.js
  packages/astro/test/test-adapter.js
  packages/integrations/cloudflare/package.json
  packages/integrations/cloudflare/src/server.advanced.ts
  packages/integrations/cloudflare/src/server.directory.ts
  packages/integrations/deno/package.json
  packages/integrations/deno/src/server.ts
  packages/integrations/node/package.json
  packages/integrations/node/src/http-server.ts
  packages/integrations/node/src/preview.ts
  packages/integrations/node/src/standalone.ts
Labels: integration, core

#5312 Fix typo in create-astro
  packages/create-astro/src/messages.ts
Labels: create-astro

#5314 When creating a new dev container, restart it if previously started
  .changeset/selfish-mangos-drum.md
  packages/astro/src/core/dev/index.ts
  packages/astro/src/core/dev/restart.ts
  packages/astro/test/units/dev/restart.test.js
Labels: core

#5321 Fix image test fail
  packages/integrations/image/test/image-ssr-build.test.js
  packages/integrations/image/test/picture-ssr-build.test.js
Labels: integration

#5301 Support environment variables in Cloudflare and Netlify Edge functions
  .changeset/cold-needles-heal.md
  .changeset/hungry-coats-mix.md
  .changeset/orange-melons-roll.md
  packages/astro/src/vite-plugin-env/index.ts
  packages/integrations/cloudflare/README.md
  packages/integrations/cloudflare/src/server.advanced.ts
  packages/integrations/cloudflare/src/server.directory.ts
  packages/integrations/cloudflare/src/shim.ts
  packages/integrations/cloudflare/src/util.ts
  packages/integrations/cloudflare/test/basics.test.js
  packages/integrations/cloudflare/test/fixtures/basics/astro.config.mjs
  packages/integrations/cloudflare/test/fixtures/basics/src/pages/index.astro
  packages/integrations/cloudflare/test/wrangler.toml
  packages/integrations/netlify/src/integration-edge-functions.ts
  packages/integrations/netlify/test/edge-functions/edge-basic.test.ts
  packages/integrations/netlify/test/edge-functions/fixtures/edge-basic/astro.config.mjs
  packages/integrations/netlify/test/edge-functions/fixtures/edge-basic/src/pages/index.astro
Labels: integration, core

#5317 Allow image-pool to be used as its own Worker
  .changeset/breezy-beers-peel.md
  packages/integrations/image/src/index.ts
  packages/integrations/image/src/loaders/squoosh.ts
  packages/integrations/image/src/vendor/squoosh/image-pool.ts
  packages/integrations/image/src/vite-plugin-astro-image.ts
Labels: integration

#5319 `create-astro` bug fixes
  .changeset/witty-bobcats-eat.md
  packages/create-astro/create-astro.mjs
  packages/create-astro/package.json
  packages/create-astro/src/index.ts
  pnpm-lock.yaml
Labels: create-astro

#5326 Ensure astro-island scripts render when using Astro.slots.render
  .changeset/chilly-ladybugs-leave.md
  packages/astro/src/core/render/result.ts
  packages/astro/src/runtime/server/render/common.ts
  packages/astro/src/runtime/server/render/slot.ts
  packages/astro/test/astro-slots-nested.test.js
  packages/astro/test/fixtures/astro-slots-nested/src/components/SlotRender.astro
  packages/astro/test/fixtures/astro-slots-nested/src/pages/component-slot.astro
Labels: core

#5327 Update language-server and prettier plugin to latest versions
  .changeset/spotty-planes-fix.md
  package.json
  packages/astro/package.json
  pnpm-lock.yaml
Labels: core

#5332 @ts-check issue on `main`
  examples/framework-lit/src/pages/index.astro
Labels: example

#5331 Allow dynamic segments in injected routes
  .changeset/good-ghosts-attack.md
  packages/astro/src/core/routing/manifest/create.ts
  packages/astro/src/vite-plugin-load-fallback/index.ts
  packages/astro/test/units/dev/dev.test.js
  packages/astro/test/units/test-utils.js
Labels: core

#5328 404 when not using subpath for items in public in dev
  .changeset/plenty-eyes-develop.md
  packages/astro/src/vite-plugin-astro-server/base.ts
  packages/astro/test/fixtures/alias/public/test.txt
  packages/astro/test/units/dev/dev.test.js
Labels: core, semver minor

#5324 Share picture fallback image with source
  .changeset/fifty-olives-end.md
  packages/integrations/image/src/lib/get-picture.ts
  packages/integrations/image/test/picture-ssg.test.js
Labels: integration

#5335 Preserve code element node meta for rehype syntax highlighters
  .changeset/heavy-kangaroos-sin.md
  packages/integrations/mdx/package.json
  packages/integrations/mdx/src/plugins.ts
  packages/integrations/mdx/src/rehype-meta-string.ts
  packages/integrations/mdx/test/fixtures/mdx-syntax-hightlighting/src/pages/index.mdx
  packages/integrations/mdx/test/mdx-syntax-highlighting.test.js
  pnpm-lock.yaml
Labels: integration

#5337 Move rehype-pretty-code as devDep
  packages/integrations/mdx/package.json
  pnpm-lock.yaml
Labels: integration

#5338 Fix the image tests
  packages/integrations/image/test/fixtures/basic-image/src/pages/index.astro
  packages/integrations/image/test/fixtures/basic-picture/src/pages/index.astro
  packages/integrations/image/test/image-ssg.test.js
  packages/integrations/image/test/image-ssr-build.test.js
  packages/integrations/image/test/image-ssr-dev.test.js
  packages/integrations/image/test/picture-ssg.test.js
  packages/integrations/image/test/picture-ssr-build.test.js
  packages/integrations/image/test/picture-ssr-dev.test.js
Labels: integration

#5316 Migrate error messages to new format (and misc error improvements)
  .changeset/curly-experts-think.md
  packages/astro/e2e/errors.test.js
  packages/astro/package.json
  packages/astro/src/cli/index.ts
  packages/astro/src/core/build/index.ts
  packages/astro/src/core/build/static-build.ts
  packages/astro/src/core/compile/compile.ts
  packages/astro/src/core/compile/style.ts
  packages/astro/src/core/config/config.ts
  packages/astro/src/core/endpoint/index.ts
  packages/astro/src/core/errors/README.md
  packages/astro/src/core/errors/codes.ts
  packages/astro/src/core/errors/dev/utils.ts
  packages/astro/src/core/errors/dev/vite.ts
  packages/astro/src/core/errors/errors-data.ts
  packages/astro/src/core/errors/errors.ts
  packages/astro/src/core/errors/index.ts
  packages/astro/src/core/errors/printer.ts
  packages/astro/src/core/errors/utils.ts
  packages/astro/src/core/messages.ts
  packages/astro/src/core/render/core.ts
  packages/astro/src/core/render/result.ts
  packages/astro/src/core/render/route-cache.ts
  packages/astro/src/core/routing/manifest/create.ts
  packages/astro/src/core/routing/params.ts
  packages/astro/src/core/routing/validation.ts
  packages/astro/src/events/error.ts
  packages/astro/src/jsx/babel.ts
  packages/astro/src/runtime/server/hydration.ts
  packages/astro/src/runtime/server/render/component.ts
  packages/astro/src/runtime/server/render/page.ts
  packages/astro/src/vite-plugin-astro-server/plugin.ts
  packages/astro/src/vite-plugin-astro-server/request.ts
  packages/astro/src/vite-plugin-astro-server/route.ts
  packages/astro/src/vite-plugin-markdown-legacy/index.ts
  packages/astro/src/vite-plugin-markdown/index.ts
  packages/astro/test/events.test.js
  pnpm-lock.yaml
Labels: core

#5339 Upgrade compiler
  .changeset/poor-eagles-melt.md
  packages/astro/package.json
  packages/astro/test/astro-directives.test.js
  pnpm-lock.yaml
Labels: core

#5330 Prevent mdx server hangs on JSX checking
  .changeset/hot-parrots-exist.md
  packages/astro/src/jsx-runtime/index.ts
  packages/astro/src/runtime/server/hydration.ts
  packages/astro/src/runtime/server/jsx.ts
  packages/astro/test/units/render/jsx.test.js
Labels: core

#5342 Change 404 to 301 for omitting base for items in public
  packages/astro/src/vite-plugin-astro-server/base.ts
  packages/astro/test/units/dev/dev.test.js
Labels: core

#5344 Fixes failing mdx test
  packages/astro/src/runtime/server/jsx.ts
Labels: core

#5322 Add “Open with CodeSandbox” buttons to example project READMEs
  examples/basics/README.md
  examples/blog/README.md
  examples/component/README.md
  examples/deno/README.md
  examples/docs/README.md
  examples/framework-alpine/README.md
  examples/framework-lit/README.md
  examples/framework-multiple/README.md
  examples/framework-preact/README.md
  examples/framework-react/README.md
  examples/framework-solid/README.md
  examples/framework-svelte/README.md
  examples/framework-vue/README.md
  examples/hackernews/README.md
  examples/integration/README.md
  examples/minimal/README.md
  examples/non-html-pages/README.md
  examples/portfolio/README.md
  examples/with-markdown-plugins/README.md
  examples/with-markdown-shiki/README.md
  examples/with-mdx/README.md
  examples/with-nanostores/README.md
  examples/with-tailwindcss/README.md
  examples/with-vite-plugin-pwa/README.md
  examples/with-vitest/README.md
Labels: example

#5350 Fix `astro.config.mjs` in minimal example
  examples/minimal/astro.config.mjs
Labels: example

#5353 Updated CSS naming algorithm
  .changeset/shiny-baboons-trade.md
  packages/astro/src/core/build/css-asset-name.ts
  packages/astro/src/core/build/vite-plugin-css.ts
  packages/astro/test/astro-css-bundling.test.js
Labels: core

#5294 Consistent MD frontmatter typing
  .changeset/thin-trains-complain.md
  packages/astro/src/@types/astro.ts
Labels: core

#5360 Revert "Allow image-pool to be used as its own Worker (#5317)"
  .changeset/red-worms-occur.md
  packages/integrations/image/src/index.ts
  packages/integrations/image/src/loaders/squoosh.ts
  packages/integrations/image/src/vendor/squoosh/image-pool.ts
  packages/integrations/image/src/vite-plugin-astro-image.ts
Labels: integration

#5345 Respect Vite user config for third-party packages
  .changeset/metal-suns-tell.md
  packages/astro/package.json
  packages/astro/src/core/create-vite.ts
  packages/integrations/solid/package.json
  packages/integrations/solid/src/dependencies.ts
  packages/integrations/solid/src/index.ts
  pnpm-lock.yaml
Labels: framework-solid, integration, core

#5364 Fix a typo in the @astrojs/node documentation
  packages/integrations/node/README.md
Labels: integration

#5346 Fix .html.astro file routing in dev
  .changeset/chatty-kiwis-fail.md
  packages/astro/src/vite-plugin-astro-server/request.ts
  packages/astro/src/vite-plugin-astro-server/route.ts
  packages/astro/test/dev-routing.test.js
  packages/astro/test/fixtures/without-site-config/src/pages/html-ext/[slug].astro
  packages/astro/test/fixtures/without-site-config/src/pages/html-ext/[slug].html.astro
Labels: core

#5358 Properly support trailingSlash: never with a base
  .changeset/kind-icons-destroy.md
  packages/astro/src/core/config/schema.ts
  packages/astro/src/core/routing/manifest/create.ts
  packages/astro/src/vite-plugin-astro-server/base.ts
  packages/astro/src/vite-plugin-astro-server/plugin.ts
  packages/astro/src/vite-plugin-astro-server/request.ts
  packages/astro/test/astro-global.test.js
  packages/astro/test/units/dev/base.test.js
  packages/astro/test/units/routing/manifest.test.js
  packages/astro/test/units/vite-plugin-astro-server/request.test.js
Labels: core

#5374 chore(ci): add timeout to all ci jobs
  .github/workflows/ci.yml
Labels: 🚨 action

#5371 Use base rather than site to create subpath for links/scripts
  .changeset/thirty-cheetahs-repeat.md
  packages/astro/src/core/app/index.ts
  packages/astro/src/core/build/generate.ts
  packages/astro/src/core/build/vite-plugin-hoisted-scripts.ts
  packages/astro/src/core/build/vite-plugin-ssr.ts
  packages/astro/src/core/config/schema.ts
  packages/astro/src/core/render/ssr-element.ts
  packages/astro/test/asset-url-base.test.js
  packages/astro/test/astro-scripts.test.js
  packages/astro/test/fixtures/asset-url-base/package.json
  packages/astro/test/fixtures/asset-url-base/src/pages/index.astro
  packages/astro/test/fixtures/ssr-request/src/pages/request.astro
  packages/astro/test/ssr-request.test.js
  pnpm-lock.yaml
Labels: core

#5375 Fix `getStaticPaths` regressions with nested arrays
  .changeset/angry-dragons-drive.md
  packages/astro/src/core/render/route-cache.ts
  packages/astro/test/astro-get-static-paths.test.js
  packages/astro/test/fixtures/astro-get-static-paths/src/pages/nested-arrays/[slug].astro
Labels: core

#5388 Fix typo in image integration documentatation
  packages/integrations/image/README.md
Labels: integration

#5386 Preserve reactivity in Solid example component
  examples/framework-solid/src/components/Counter.tsx
Labels: example

#5369 Upgrade compiler
  .changeset/tricky-dodos-cheer.md
  packages/astro/package.json
  pnpm-lock.yaml
Labels: core

#5361 Fix usage of the Image component with the Vercel adapter
  .changeset/tidy-shoes-yawn.md
  packages/integrations/image/src/index.ts
  packages/integrations/image/src/loaders/squoosh.ts
  packages/integrations/image/src/vendor/squoosh/image-pool.ts
  packages/integrations/vercel/package.json
  packages/integrations/vercel/src/serverless/adapter.ts
  pnpm-lock.yaml
Labels: integration

#5402 [deno] fix package name
  packages/integrations/deno/CHANGELOG.md
Labels: integration

#5403 fix(template): delete extra css.
  examples/docs/src/components/Header/Search.css
Labels: example

#5404 fix(create-astro): fix error when don't have template input
  .changeset/violet-apricots-smash.md
  packages/create-astro/src/index.ts
Labels: create-astro

#5377 Use Vite to load non JS astro configs
  .changeset/swift-bees-hope.md
  packages/astro/package.json
  packages/astro/src/cli/index.ts
  packages/astro/src/core/add/index.ts
  packages/astro/src/core/config/config.ts
  packages/astro/src/core/config/vite-load.ts
  packages/astro/test/fixtures/tailwindcss-ts/astro.config.ts
  packages/astro/test/fixtures/tailwindcss-ts/package.json
  packages/astro/test/fixtures/tailwindcss-ts/tailwind.config.cjs
  packages/astro/test/units/dev/restart.test.js
  packages/integrations/image/src/index.ts
  pnpm-lock.yaml
Labels: integration, core

#5410 Fix: https://github.com/withastro/astro/issues/5400
  .changeset/loud-penguins-tickle.md
  packages/astro/src/core/build/css-asset-name.ts
Labels: core

#5412 Restart dev server on package.json changes
  .changeset/olive-walls-hunt.md
  packages/astro/package.json
  packages/astro/src/core/config/settings.ts
  packages/astro/test/units/dev/restart.test.js
  packages/integrations/solid/package.json
  pnpm-lock.yaml
Labels: framework-solid, integration, core

#5409 Allow Code component to run in Vercel
  .changeset/cuddly-eyes-change.md
  packages/astro/components/Code.astro
  packages/astro/components/Shiki.js
  packages/astro/components/shiki-languages.js
  packages/astro/components/shiki-themes.js
  packages/astro/scripts/shiki-gen-languages.mjs
  packages/astro/scripts/shiki-gen-themes.mjs
Labels: core

#5416 [docs] fix typo in image integration README
  packages/integrations/image/README.md
Labels: integration

#5417 Prevent dev from crashing when there are errors in template
  .changeset/wild-falcons-sparkle.md
  packages/astro/src/runtime/server/render/astro.ts
  packages/astro/test/units/dev/hydration.test.js
Labels: core

#5418 Add response iterator to node adapter
  .changeset/blue-rabbits-hear.md
  packages/integrations/node/package.json
  packages/integrations/node/src/middleware.ts
  packages/integrations/node/src/response-iterator.ts
  pnpm-lock.yaml
Labels: integration

#5393 Log error if failed to fetch remote image
  .changeset/tough-doors-shop.md
  packages/integrations/image/src/build/ssg.ts
  packages/integrations/image/src/endpoint.ts
Labels: integration

#5431 Fix regression with loading .ts in .mjs config
  .changeset/purple-tips-flash.md
  packages/astro/src/core/config/vite-load.ts
  packages/astro/src/core/create-vite.ts
  packages/astro/src/vite-plugin-load-fallback/index.ts
  packages/astro/test/units/config/format.test.js
Labels: core

#5426 Fix JSX tagging for anonymous higher-order components default export
  .changeset/sixty-apricots-drum.md
  packages/astro/src/vite-plugin-jsx/tag.ts
  packages/astro/test/fixtures/react-jsx-export/src/components/defaultExport/HocDefaultExport.jsx
  packages/astro/test/fixtures/react-jsx-export/src/pages/index.astro
  packages/astro/test/react-jsx-export.test.js
Labels: core

#5421 feat: provide HOST env variable at runtime
  .changeset/violet-buckets-repeat.md
  packages/integrations/node/README.md
  packages/integrations/node/src/standalone.ts
Labels: integration

#5411 fix: Docs Site - Table of contents highlight not working
  examples/docs/package.json
  examples/docs/src/components/RightSidebar/MoreMenu.astro
  examples/docs/src/components/RightSidebar/TableOfContents.tsx
  examples/docs/src/styles/index.css
  pnpm-lock.yaml
Labels: example

#5433 Add missing `fetchpriority` attribute to `ImgHTMLAttributes`
  .changeset/clever-queens-beam.md
  packages/astro/astro-jsx.d.ts
Labels: core

#5425 fix: partytown base path
  .changeset/popular-melons-pretend.md
  packages/integrations/partytown/src/index.ts
Labels: integration

#5434 Use Vite's resolve to resolve paths for client:only
  .changeset/pink-cheetahs-heal.md
  packages/astro/src/core/build/vite-plugin-analyzer.ts
  packages/astro/test/astro-client-only.test.js
  packages/astro/test/fixtures/astro-client-only/src/components/TSXComponent.tsx
  packages/astro/test/fixtures/astro-client-only/src/components/global2.css
  packages/astro/test/fixtures/astro-client-only/src/pages/tsx-no-extension.astro
Labels: core

#5437 Correctly transform third-party JSX files
  .changeset/dull-camels-accept.md
  packages/astro/src/core/path.ts
  packages/astro/src/vite-plugin-jsx/index.ts
  packages/astro/test/fixtures/solid-component/deps/solid-jsx-component/Counter.jsx
  packages/astro/test/fixtures/solid-component/deps/solid-jsx-component/index.js
  packages/astro/test/fixtures/solid-component/deps/solid-jsx-component/package.json
  packages/astro/test/fixtures/solid-component/package.json
  packages/astro/test/fixtures/solid-component/src/pages/index.astro
  pnpm-lock.yaml
Labels: core

#5448 Fix docs link in MDX integration README
  .changeset/honest-chairs-confess.md
  packages/integrations/mdx/README.md
Labels: integration

#5450 Remove temp tailwind config file in finally
  .changeset/thirty-bananas-smell.md
  packages/integrations/tailwind/src/index.ts
Labels: integration

#5355 Add JSDoc comments to errors for doc generation
  .github/CODEOWNERS
  packages/astro/e2e/errors.test.js
  packages/astro/src/core/compile/compile.ts
  packages/astro/src/core/endpoint/index.ts
  packages/astro/src/core/errors/README.md
  packages/astro/src/core/errors/errors-data.ts
  packages/astro/src/core/errors/errors.ts
  packages/astro/src/core/render/result.ts
  packages/astro/src/core/render/route-cache.ts
  packages/astro/src/core/routing/validation.ts
  packages/astro/src/runtime/server/hydration.ts
Labels: core

#5406 Update tailwindcss `@apply` suggestion
  packages/integrations/tailwind/README.md
Labels: integration

#5427 [MDX] Support remark-rehype options from Astro Markdown config
  .changeset/nice-jokes-smile.md
  packages/integrations/mdx/README.md
  packages/integrations/mdx/package.json
  packages/integrations/mdx/src/index.ts
  packages/integrations/mdx/test/fixtures/mdx-astro-markdown-remarkRehype/src/pages/index.mdx
  packages/integrations/mdx/test/mdx-astro-markdown-remarkRehype.test.js
  pnpm-lock.yaml
Labels: integration

#5464 doc: fix deno preview command
  packages/integrations/deno/README.md
Labels: integration

#5480 Fix astro preview not working on Windows
  .changeset/swift-papayas-kiss.md
  packages/astro/src/core/preview/index.ts
  packages/astro/test/fixtures/ssr-preview/package.json
  packages/astro/test/fixtures/ssr-preview/preview.mjs
  packages/astro/test/fixtures/ssr-preview/src/pages/index.astro
  packages/astro/test/ssr-preview.test.js
  packages/astro/test/test-adapter.js
  pnpm-lock.yaml
Labels: core

#5477 Prevent inlining SCSS partials in dev
  .changeset/twelve-kings-rest.md
  packages/astro/src/core/render/dev/css.ts
  packages/astro/test/fixtures/0-css/src/pages/index.astro
  packages/astro/test/fixtures/0-css/src/styles/_partial-1.scss
  packages/astro/test/fixtures/0-css/src/styles/_partial-2.scss
  packages/astro/test/fixtures/0-css/src/styles/partial-main.scss
Labels: core

#5484 Narrow the type of Params
  .changeset/nervous-laws-knock.md
  packages/astro/src/@types/astro.ts
  packages/astro/src/core/routing/params.ts
Labels: core

#5474 fix bug: added a warning if the image was GIF
  .changeset/dirty-scissors-fail.md
  packages/integrations/image/src/vendor/squoosh/impl.ts
Labels: integration

#5460 Fix linked Astro library style HMR
  .changeset/ten-emus-raise.md
  packages/astro/e2e/astro-component.test.js
  packages/astro/e2e/fixtures/_deps/astro-linked-lib/Component.astro
  packages/astro/e2e/fixtures/_deps/astro-linked-lib/package.json
  packages/astro/e2e/fixtures/astro-component/package.json
  packages/astro/e2e/fixtures/astro-component/src/pages/index.astro
  packages/astro/src/vite-plugin-astro/index.ts
  pnpm-lock.yaml
Labels: core

#5497 Refactor internal plugins code
  .changeset/tall-goats-knock.md
  packages/astro/src/vite-plugin-astro/index.ts
  packages/astro/src/vite-plugin-env/README.md
  packages/astro/src/vite-plugin-html/README.md
  packages/astro/src/vite-plugin-html/transform/index.ts
  packages/astro/src/vite-plugin-load-fallback/README.md
  packages/astro/src/vite-plugin-markdown-legacy/index.ts
  packages/astro/src/vite-plugin-markdown/README.md
  packages/astro/src/vite-plugin-scripts/README.md
  packages/astro/src/vite-plugin-scripts/page-ssr.ts
  packages/astro/src/vite-plugin-utils/index.ts
Labels: core

#5498 Optimize JSX import source detection
  .changeset/wicked-dolphins-design.md
  packages/astro/src/vite-plugin-jsx/import-source.ts
  packages/astro/src/vite-plugin-jsx/index.ts
Labels: core
