Repository withastro/astro, pull requests merged in 2022-06, with the labels that each got.

#3429 Integration Docs: Tailwind
  packages/integrations/tailwind/README.md
Labels: integration

#3464 Add console warning on fs.strict=false
  .changeset/olive-cobras-bow.md
  packages/astro/src/core/dev/index.ts
  packages/astro/src/core/messages.ts
Labels: core

#3505 Fix: newline characters in Solid
  .changeset/real-dogs-taste.md
  packages/astro/src/@types/astro.ts
  packages/astro/src/vite-plugin-jsx/index.ts
  packages/astro/test/fixtures/solid-component/src/components/WithNewlines.jsx
  packages/astro/test/fixtures/solid-component/src/pages/index.astro
  packages/integrations/solid/src/index.ts
Labels: framework-solid, integration, core

#3503 fix: alias astro to @types/astro
  .changeset/spicy-turkeys-clean.md
  packages/astro/src/core/create-vite.ts
  packages/astro/test/fixtures/type-imports/src/pages/index.astro
  packages/astro/test/type-imports.test.js
  packages/integrations/deno/src/index.ts
  packages/integrations/netlify/src/integration-edge-functions.ts
Labels: integration, core

#3506 Fix `<link>` tag not being self-closing
  .changeset/new-knives-raise.md
  packages/astro/src/runtime/server/index.ts
  packages/astro/test/0-css.test.js
Labels: core

#3498 provide import.meta.env.SITE when there are private envs
  .changeset/nice-cougars-hear.md
  packages/astro/src/vite-plugin-env/index.ts
  packages/astro/test/astro-envs.test.js
  packages/astro/test/fixtures/astro-envs/src/pages/destructured.astro
Labels: core

#3511 Patch Lit server shim to fix sass compatability
  .changeset/famous-pens-cheer.md
  packages/integrations/lit/package.json
  packages/integrations/lit/server-shim.js
  packages/integrations/lit/test/sass.test.js
  pnpm-lock.yaml
Labels: framework-lit, integration

#3516 Fix: Allow self-closing tags in Markdown again
  .changeset/late-swans-impress.md
  packages/markdown/remark/src/remark-mdxish.ts
  packages/markdown/remark/test/strictness.test.js
Labels: markdown

#3514 Fix Markdown errors missing source filename
  .changeset/hot-waves-jump.md
  packages/markdown/remark/src/index.ts
Labels: markdown

#3504 refactor(config): refactor duplicated default config values
  packages/astro/src/core/config.ts
Labels: core

#3518 Allow importing .ts files with .js extension
  .changeset/hungry-ears-clap.md
  packages/astro/src/vite-plugin-astro/index.ts
  packages/astro/src/vite-plugin-markdown/index.ts
  packages/astro/test/fixtures/import-ts-with-js/src/bar.ts
  packages/astro/test/fixtures/import-ts-with-js/src/foo.ts
  packages/astro/test/fixtures/import-ts-with-js/src/pages/index.astro
  packages/astro/test/fixtures/import-ts-with-js/src/pages/post.md
  packages/astro/test/import-ts-with-js.test.js
Labels: core

#3515 [ci] update lockfile
  examples/blog-multiple-authors/package.json
  examples/portfolio/package.json
  examples/ssr/package.json
  examples/subpath/package.json
  packages/astro/e2e/fixtures/client-only/package.json
  packages/astro/e2e/fixtures/multiple-frameworks/package.json
  packages/astro/e2e/fixtures/nested-in-preact/package.json
  packages/astro/e2e/fixtures/nested-in-react/package.json
  packages/astro/e2e/fixtures/nested-in-solid/package.json
  packages/astro/e2e/fixtures/nested-in-svelte/package.json
  packages/astro/e2e/fixtures/nested-in-vue/package.json
  packages/astro/package.json
  packages/astro/test/fixtures/sass/package.json
  packages/integrations/lit/package.json
  pnpm-lock.yaml
Labels: example, framework-lit, integration, core

#3521 Fix: refusing to accept `isSelfAccepting` for JSX
  .changeset/long-spies-check.md
  packages/astro/src/core/create-vite.ts
  packages/astro/src/core/dev/index.ts
Labels: core

#3499 format: automatically organize imports and removed unused
  .github/workflows/format.yml
  package.json
  packages/integrations/deno/src/server.ts
  packages/integrations/vercel/src/edge/entrypoint.ts
  pnpm-lock.yaml
Labels: 🚨 action, integration

#3492 Improve HMR handling for styles, persisted islands
  .changeset/tame-lies-flow.md
  packages/astro/e2e/fixtures/client-only/package.json
  packages/astro/e2e/fixtures/multiple-frameworks/package.json
  packages/astro/e2e/fixtures/nested-in-preact/package.json
  packages/astro/e2e/fixtures/nested-in-react/package.json
  packages/astro/e2e/fixtures/nested-in-solid/package.json
  packages/astro/e2e/fixtures/nested-in-svelte/package.json
  packages/astro/e2e/fixtures/nested-in-vue/package.json
  packages/astro/e2e/fixtures/svelte-component/src/components/Counter.svelte
  packages/astro/e2e/fixtures/vue-component/src/components/Counter.vue
  packages/astro/e2e/lit-component.test.js
  packages/astro/e2e/multiple-frameworks.test.js
  packages/astro/e2e/preact-component.test.js
  packages/astro/e2e/react-component.test.js
  packages/astro/e2e/solid-component.test.js
  packages/astro/e2e/svelte-component.test.js
  packages/astro/e2e/vue-component.test.js
  packages/astro/playwright.config.js
  packages/astro/src/core/render/core.ts
  packages/astro/src/core/render/dev/css.ts
  packages/astro/src/core/render/dev/index.ts
  packages/astro/src/core/render/result.ts
  packages/astro/src/runtime/client/hmr.ts
  packages/astro/test/0-css.test.js
  packages/astro/test/astro-markdown-css.test.js
  packages/astro/test/astro-partial-html.test.js
  packages/astro/test/component-library.test.js
  packages/astro/test/fixtures/0-css/src/pages/index.astro
  packages/astro/test/fixtures/0-css/src/styles/imported.sass
  packages/astro/test/fixtures/0-css/src/styles/imported.scss
  pnpm-lock.yaml
Labels: core

#3533 Prevent minifying server JS
  .changeset/three-news-cry.md
  packages/astro/src/vite-plugin-build-css/index.ts
Labels: core

#3537 Fix importing CSS packages in frontmatter
  .changeset/green-ducks-reply.md
  packages/astro/package.json
  packages/astro/src/vite-plugin-build-css/index.ts
  packages/astro/test/fixtures/fontsource-package/package.json
  packages/astro/test/fixtures/fontsource-package/src/pages/index.astro
  packages/astro/test/fontsource.test.js
  pnpm-lock.yaml
Labels: core

#3540 Fix: bubbling up a more useful error message for unresolve imports in Astro components
  .changeset/stale-flowers-share.md
  packages/astro/src/vite-plugin-astro/index.ts
  packages/astro/test/errors.test.js
  packages/astro/test/fixtures/errors/src/pages/import-not-found.astro
  packages/astro/test/test-utils.js
Labels: core

#3553 Prevent sitemap URLs without pathname
  .changeset/large-rings-invite.md
  packages/integrations/sitemap/src/index.ts
Labels: integration

#3564 Fix autolinking of URLs inside links in Markdown
  .changeset/afraid-stingrays-sell.md
  packages/markdown/remark/src/index.ts
  packages/markdown/remark/src/rehype-jsx.ts
  packages/markdown/remark/test/autolinking.test.js
Labels: markdown

#3568 Preoptimize renderers and hydration directives
  .changeset/modern-toes-glow.md
  packages/astro/package.json
  packages/astro/src/core/dev/index.ts
  pnpm-lock.yaml
Labels: core

#3560 Disabling unreliable E2E test for further investigation
  packages/astro/e2e/fixtures/multiple-frameworks/src/components/SvelteCounter.svelte
  packages/astro/e2e/multiple-frameworks.test.js
Labels: core

#3557 Improve YAML error handling
  .changeset/rare-buckets-kneel.md
  packages/astro/src/core/errors.ts
  packages/astro/src/vite-plugin-markdown/index.ts
Labels: core

#3572 Fix remarkMdxish performance issue on huge sites
  .changeset/proud-forks-hammer.md
  packages/markdown/remark/src/remark-mdxish.ts
Labels: markdown

#3584 fix(examples): incorrect StackBlitz demo URLs
  examples/basics/README.md
  examples/integrations-playground/README.md
  examples/subpath/README.md
  examples/with-markdown-shiki/README.md
  examples/with-vite-plugin-pwa/README.md
Labels: example

#3590 feat: support optional and conditional integrations
  .changeset/unlucky-eyes-attend.md
  packages/astro/src/integrations/index.ts
  packages/astro/test/config-validate.test.js
  packages/webapi/mod.d.ts
Labels: core

#3397 Fix unintentional missing type data in `MarkdownInstance`
  .changeset/eleven-planes-deliver.md
  packages/astro/src/@types/astro.ts
Labels: core

#3457 feat: implement injectRoute
  packages/astro/src/@types/astro.ts
  packages/astro/src/core/build/index.ts
  packages/astro/src/core/config.ts
  packages/astro/src/core/routing/manifest/create.ts
  packages/astro/src/core/routing/manifest/serialization.ts
  packages/astro/src/integrations/index.ts
Labels: core

#3595 Handle importing multiple CSS packages in same bundle
  .changeset/friendly-colts-rush.md
  packages/astro/src/vite-plugin-build-css/index.ts
  packages/astro/test/fixtures/fontsource-package/package.json
  packages/astro/test/fixtures/fontsource-package/src/pages/index.astro
  pnpm-lock.yaml
Labels: core

#3599 Fix: Check node version and find acceptable host accordingly
  .changeset/kind-feet-double.md
  packages/astro/src/core/messages.ts
Labels: core

#3597 Update README.md in blog example
  examples/blog/README.md
Labels: example

#3592 Adds support base64 encoding in Netlify Functions
  .changeset/hot-pumas-bathe.md
  packages/integrations/netlify/README.md
  packages/integrations/netlify/src/integration-functions.ts
  packages/integrations/netlify/src/netlify-functions.ts
  packages/integrations/netlify/test/functions/base64-response.test.js
  packages/integrations/netlify/test/functions/fixtures/base64-response/src/pages/font.js
  packages/integrations/netlify/test/functions/fixtures/base64-response/src/pages/image.js
Labels: integration

#3605 Inline hydration directive scripts
  .changeset/many-seas-notice.md
  .gitignore
  packages/astro/package.json
  packages/astro/src/core/build/static-build.ts
  packages/astro/src/runtime/client/hydration-directives.d.ts
  packages/astro/src/runtime/client/idle.ts
  packages/astro/src/runtime/client/load.ts
  packages/astro/src/runtime/client/media.ts
  packages/astro/src/runtime/client/only.ts
  packages/astro/src/runtime/client/visible.ts
  packages/astro/src/runtime/server/astro-island.prebuilt.ts
  packages/astro/src/runtime/server/astro-island.ts
  packages/astro/src/runtime/server/hydration.ts
  packages/astro/src/runtime/server/index.ts
  packages/astro/src/runtime/server/metadata.ts
  packages/astro/src/runtime/server/scripts.ts
  packages/astro/src/runtime/server/util.ts
  scripts/cmd/build.js
  scripts/cmd/prebuild.js
Labels: core

#3600 feat: add SSR adaptor for cloudflare pages functions
  .changeset/nine-dots-applaud.md
  packages/integrations/cloudflare/README.md
  packages/integrations/cloudflare/package.json
  packages/integrations/cloudflare/src/index.ts
  packages/integrations/cloudflare/src/server.ts
  packages/integrations/cloudflare/src/shim.ts
  packages/integrations/cloudflare/tsconfig.json
  pnpm-lock.yaml
Labels: integration

#3579 feat: improved sitemap
  .changeset/popular-cherries-float.md
  examples/integrations-playground/astro.config.mjs
  packages/integrations/sitemap/README.md
  packages/integrations/sitemap/package.json
  packages/integrations/sitemap/src/config-defaults.ts
  packages/integrations/sitemap/src/constants.ts
  packages/integrations/sitemap/src/generate-sitemap.ts
  packages/integrations/sitemap/src/index.ts
  packages/integrations/sitemap/src/schema.ts
  packages/integrations/sitemap/src/utils/is-object-empty.ts
  packages/integrations/sitemap/src/utils/is-valid-url.ts
  packages/integrations/sitemap/src/utils/logger.ts
  packages/integrations/sitemap/src/utils/parse-url.ts
  packages/integrations/sitemap/src/validate-options.ts
  pnpm-lock.yaml
Labels: example, integration

#3616 feat: update `@astrojs/cloudflare` readme
  packages/integrations/cloudflare/README.md
Labels: integration

#3613 Investiging a flaky error test
  packages/astro/test/errors.test.js
Labels: core

#3620 Remove extra newlines around components in Markdown
  .changeset/wild-phones-work.md
  packages/astro/test/astro-markdown.test.js
  packages/markdown/remark/src/rehype-collect-headers.ts
  packages/markdown/remark/src/rehype-jsx.ts
  packages/markdown/remark/test/components.test.js
  packages/markdown/remark/test/expressions.test.js
Labels: markdown, core

#3610 Add component hydration in .md E2E tests, refactor
  .changeset/hungry-ravens-cheat.md
  packages/astro/e2e/fixtures/preact-component/src/components/JSXComponent.jsx
  packages/astro/e2e/fixtures/preact-component/src/pages/index.astro
  packages/astro/e2e/fixtures/preact-component/src/pages/markdown.md
  packages/astro/e2e/fixtures/react-component/src/components/JSXComponent.jsx
  packages/astro/e2e/fixtures/react-component/src/pages/index.astro
  packages/astro/e2e/fixtures/react-component/src/pages/markdown.md
  packages/astro/e2e/fixtures/solid-component/src/components/SolidComponent.jsx
  packages/astro/e2e/fixtures/solid-component/src/pages/index.astro
  packages/astro/e2e/fixtures/solid-component/src/pages/markdown.md
  packages/astro/e2e/fixtures/svelte-component/src/components/Counter.svelte
  packages/astro/e2e/fixtures/svelte-component/src/components/SvelteComponent.svelte
  packages/astro/e2e/fixtures/svelte-component/src/pages/index.astro
  packages/astro/e2e/fixtures/svelte-component/src/pages/markdown.md
  packages/astro/e2e/preact-component.test.js
  packages/astro/e2e/react-component.test.js
  packages/astro/e2e/shared-component-tests.js
  packages/astro/e2e/solid-component.test.js
  packages/astro/e2e/svelte-component.test.js
Labels: core

#3609 Update incorrect example in changelog
  packages/astro/CHANGELOG.md
Labels: core

#3638 Fixes rendering of HTML comments inside markdown code blocks
  .changeset/empty-bats-grow.md
  packages/astro/src/vite-plugin-markdown/index.ts
  packages/astro/test/astro-markdown.test.js
  packages/astro/test/fixtures/astro-markdown/src/pages/comment-with-js.md
  packages/markdown/remark/src/index.ts
  packages/markdown/remark/src/remark-escape.ts
  packages/markdown/remark/test/expressions.test.js
Labels: markdown, core

#3630 Encode ampersands in markdown code blocks
  .changeset/pink-pugs-beg.md
  packages/markdown/remark/src/rehype-escape.ts
  packages/markdown/remark/test/expressions.test.js
Labels: markdown

#3650 Properly catch falsey components
  .changeset/great-badgers-raise.md
  packages/astro/src/runtime/server/index.ts
Labels: core

#3634 refactor sitemap: better typings
  packages/integrations/sitemap/README.md
  packages/integrations/sitemap/src/constants.ts
  packages/integrations/sitemap/src/generate-sitemap.ts
  packages/integrations/sitemap/src/index.ts
  packages/integrations/sitemap/src/schema.ts
Labels: integration

#3655 Remove it.only
  packages/astro/test/astro-markdown.test.js
Labels: core

#3625 Support re-exporting astro components containing client components
  .changeset/cyan-kids-sleep.md
  .changeset/unlucky-hairs-camp.md
  packages/astro/package.json
  packages/astro/src/core/build/generate.ts
  packages/astro/src/core/build/graph.ts
  packages/astro/src/core/build/index.ts
  packages/astro/src/core/build/internal.ts
  packages/astro/src/core/build/page-data.ts
  packages/astro/src/core/build/static-build.ts
  packages/astro/src/core/build/types.ts
  packages/astro/src/core/build/vite-plugin-analyzer.ts
  packages/astro/src/core/build/vite-plugin-ssr.ts
  packages/astro/src/runtime/server/metadata.ts
  packages/astro/src/vite-plugin-astro/compile.ts
  packages/astro/src/vite-plugin-astro/index.ts
  packages/astro/src/vite-plugin-astro/styles.ts
  packages/astro/src/vite-plugin-astro/types.ts
  packages/astro/src/vite-plugin-build-css/index.ts
  packages/astro/src/vite-plugin-markdown/index.ts
  packages/astro/test/astro-markdown-drafts.test.js
  packages/astro/test/custom-elements.test.js
  packages/astro/test/fixtures/custom-elements/src/pages/load.astro
  packages/astro/test/fixtures/lit-element/src/components/my-element.js
  packages/astro/test/fixtures/lit-element/src/pages/index.astro
  packages/astro/test/fixtures/reexport-astro-containing-client-component/astro.config.mjs
  packages/astro/test/fixtures/reexport-astro-containing-client-component/package.json
  packages/astro/test/fixtures/reexport-astro-containing-client-component/src/components/One/One.astro
  packages/astro/test/fixtures/reexport-astro-containing-client-component/src/components/One/One.jsx
  packages/astro/test/fixtures/reexport-astro-containing-client-component/src/components/One/index.js
  packages/astro/test/fixtures/reexport-astro-containing-client-component/src/pages/index.astro
  packages/astro/test/lit-element.test.js
  packages/astro/test/reexport-astro-containing-client-component.test.js
  packages/integrations/lit/server-shim.js
  packages/integrations/lit/server.js
  packages/integrations/lit/src/index.ts
  packages/integrations/netlify/package.json
  packages/integrations/netlify/src/integration-edge-functions.ts
  packages/integrations/netlify/test/edge-functions/dynamic-import.test.js
  packages/integrations/netlify/test/edge-functions/edge-basic.test.ts
  pnpm-lock.yaml
Labels: framework-lit, integration, core

#3656 chore(example): fix react @types install location
  examples/framework-react/package.json
  pnpm-lock.yaml
Labels: example

#3661 Add .js to imports in the sitemap package
  .changeset/gold-walls-pretend.md
  packages/integrations/sitemap/package.json
  packages/integrations/sitemap/src/config-defaults.ts
  packages/integrations/sitemap/src/generate-sitemap.ts
  packages/integrations/sitemap/src/index.ts
  packages/integrations/sitemap/src/schema.ts
  packages/integrations/sitemap/src/validate-options.ts
  packages/integrations/sitemap/test/smoke.test.js
Labels: integration

#3663 Resolve .jsx -> .tsx in hydrated components
  .changeset/warm-panthers-clap.md
  packages/astro/e2e/fixtures/ts-resolution/astro.config.mjs
  packages/astro/e2e/fixtures/ts-resolution/package.json
  packages/astro/e2e/fixtures/ts-resolution/src/components/Counter.tsx
  packages/astro/e2e/fixtures/ts-resolution/src/pages/index.astro
  packages/astro/e2e/ts-resolution.test.js
  packages/astro/src/core/build/vite-plugin-analyzer.ts
  packages/astro/src/core/render/dev/index.ts
  packages/astro/src/core/render/dev/resolve.ts
  packages/astro/src/runtime/server/metadata.ts
  pnpm-lock.yaml
Labels: core

#3675 Fix `import.meta.env` without trailing dot/var in Markdown
  .changeset/tidy-peaches-sit.md
  packages/astro/src/vite-plugin-markdown/index.ts
  packages/astro/test/astro-markdown.test.js
  packages/astro/test/fixtures/astro-markdown/src/pages/vite-env-vars.md
Labels: core

#3673 Fix react dependencies to improve test reliability
  .changeset/tricky-items-reply.md
  examples/docs/package.json
  packages/astro/test/fixtures/0-css/package.json
  packages/astro/test/fixtures/astro-attrs/package.json
  packages/astro/test/fixtures/astro-client-only/package.json
  packages/astro/test/fixtures/astro-dynamic/package.json
  packages/astro/test/fixtures/astro-partial-html/package.json
  packages/astro/test/fixtures/error-react-spectrum/package.json
  packages/astro/test/fixtures/errors/package.json
  packages/astro/test/fixtures/slots-react/package.json
  packages/astro/test/fixtures/static-build-frameworks/package.json
  packages/integrations/deno/test/fixtures/basics/package.json
  packages/integrations/netlify/test/edge-functions/fixtures/edge-basic/package.json
  pnpm-lock.yaml
Labels: example, integration, core

#3678 Include all client build artifacts in SSRManifest
  .changeset/unlucky-otters-agree.md
  packages/astro/src/core/build/vite-plugin-ssr.ts
  packages/astro/test/fixtures/ssr-scripts/astro.config.mjs
  packages/astro/test/fixtures/ssr-scripts/package.json
  packages/astro/test/fixtures/ssr-scripts/src/components/Hello.jsx
  packages/astro/test/fixtures/ssr-scripts/src/pages/index.astro
  packages/astro/test/ssr-scripts.test.js
  pnpm-lock.yaml
Labels: core

#3667 Add `@nanostores/preact` to ALWAYS_NOEXTERNAL
  .changeset/famous-icons-pull.md
  packages/astro/src/core/create-vite.ts
Labels: core

#3659 Enables eslint on the full repo and adds a rule for no `only()` tests
  .eslintignore
  .eslintrc.cjs
  .github/workflows/ci.yml
  package.json
  packages/astro/e2e/ts-resolution.test.js
  packages/astro/test/astro-css-bundling.test.js
  packages/astro/test/sass.test.js
  packages/astro/test/ssr-adapter-build-config.test.js
  packages/astro/test/static-build-page-dist-url.test.js
  packages/astro/test/tailwindcss.test.js
  packages/astro/test/test-adapter.js
  packages/create-astro/src/index.ts
  packages/create-astro/test/directory-step.test.js
  packages/integrations/deno/src/server.ts
  packages/integrations/netlify/test/edge-functions/dynamic-import.test.js
  packages/integrations/partytown/src/sirv.ts
  packages/integrations/sitemap/src/utils/logger.ts
  packages/integrations/sitemap/src/validate-options.ts
  packages/integrations/vercel/src/lib/fs.ts
  packages/markdown/remark/src/index.ts
  packages/markdown/remark/src/rehype-collect-headers.ts
  packages/markdown/remark/src/remark-prism.ts
  pnpm-lock.yaml
Labels: markdown, 🚨 action, integration, create-astro, core

#3633 simplify a complex peer semver used by astro add
  .changeset/pink-shirts-mix.md
  packages/astro/src/core/add/index.ts
Labels: core

#3685 Fix: pass Astro config postcss to Svelte preprocess
  .changeset/empty-chicken-refuse.md
  packages/astro/test/fixtures/postcss/package.json
  packages/astro/test/fixtures/postcss/postcss.config.cjs
  packages/astro/test/fixtures/postcss/src/components/Astro.astro
  packages/astro/test/fixtures/postcss/src/components/Solid.css
  packages/astro/test/fixtures/postcss/src/components/Solid.jsx
  packages/astro/test/fixtures/postcss/src/components/Svelte.svelte
  packages/astro/test/fixtures/postcss/src/components/Vue.vue
  packages/astro/test/fixtures/postcss/src/pages/index.astro
  packages/astro/test/postcss.test.js
  packages/integrations/svelte/src/index.ts
  pnpm-lock.yaml
Labels: framework-svelte, integration, core

#3686 Include partytown scripts in SSR manifest
  .changeset/cuddly-llamas-arrive.md
  packages/astro/test/fixtures/ssr-partytown/astro.config.mjs
  packages/astro/test/fixtures/ssr-partytown/package.json
  packages/astro/test/fixtures/ssr-partytown/src/pages/index.astro
  packages/astro/test/ssr-partytown.test.js
  packages/integrations/partytown/src/index.ts
  pnpm-lock.yaml
Labels: integration, core

#3652 Enable named slots in renderers
  .changeset/clever-pumpkins-begin.md
  .changeset/lovely-bulldogs-admire.md
  .changeset/mean-ears-mate.md
  .changeset/tough-ants-rest.md
  packages/astro/e2e/fixtures/nested-recursive/astro.config.mjs
  packages/astro/e2e/fixtures/nested-recursive/package.json
  packages/astro/e2e/fixtures/nested-recursive/src/components/PreactCounter.tsx
  packages/astro/e2e/fixtures/nested-recursive/src/components/ReactCounter.jsx
  packages/astro/e2e/fixtures/nested-recursive/src/components/SolidCounter.tsx
  packages/astro/e2e/fixtures/nested-recursive/src/components/SvelteCounter.svelte
  packages/astro/e2e/fixtures/nested-recursive/src/components/VueCounter.vue
  packages/astro/e2e/fixtures/nested-recursive/src/pages/index.astro
  packages/astro/e2e/nested-recursive.test.js
  packages/astro/src/@types/astro.ts
  packages/astro/src/runtime/server/astro-island.ts
  packages/astro/src/runtime/server/index.ts
  packages/astro/test/fixtures/lit-element/src/components/my-element.js
  packages/astro/test/fixtures/lit-element/src/pages/slots.astro
  packages/astro/test/fixtures/slots-preact/src/components/Counter.jsx
  packages/astro/test/fixtures/slots-preact/src/pages/index.astro
  packages/astro/test/fixtures/slots-preact/src/pages/markdown.md
  packages/astro/test/fixtures/slots-react/src/components/Counter.jsx
  packages/astro/test/fixtures/slots-react/src/pages/index.astro
  packages/astro/test/fixtures/slots-react/src/pages/markdown.md
  packages/astro/test/fixtures/slots-solid/src/components/Counter.jsx
  packages/astro/test/fixtures/slots-solid/src/pages/index.astro
  packages/astro/test/fixtures/slots-solid/src/pages/markdown.md
  packages/astro/test/fixtures/slots-svelte/src/components/Counter.svelte
  packages/astro/test/fixtures/slots-svelte/src/pages/index.astro
  packages/astro/test/fixtures/slots-svelte/src/pages/markdown.md
  packages/astro/test/fixtures/slots-vue/src/components/Counter.vue
  packages/astro/test/fixtures/slots-vue/src/pages/index.astro
  packages/astro/test/fixtures/slots-vue/src/pages/markdown.md
  packages/astro/test/lit-element.test.js
  packages/astro/test/slots-preact.test.js
  packages/astro/test/slots-react.test.js
  packages/astro/test/slots-solid.test.js
  packages/astro/test/slots-svelte.test.js
  packages/astro/test/slots-vue.test.js
  packages/integrations/lit/server.js
  packages/integrations/preact/client.js
  packages/integrations/preact/server.js
  packages/integrations/preact/static-html.js
  packages/integrations/react/client-v17.js
  packages/integrations/react/client.js
  packages/integrations/react/server-v17.js
  packages/integrations/react/server.js
  packages/integrations/react/static-html.js
  packages/integrations/solid/client.js
  packages/integrations/solid/server.js
  packages/integrations/solid/static-html.js
  packages/integrations/svelte/Wrapper.svelte
  packages/integrations/svelte/Wrapper.svelte.ssr.js
  packages/integrations/svelte/client.js
  packages/integrations/svelte/server.js
  packages/integrations/vue/client.js
  packages/integrations/vue/server.js
  packages/integrations/vue/static-html.js
  packages/webapi/mod.d.ts
  pnpm-lock.yaml
Labels: framework-svelte, framework-vue, framework-react, framework-preact, framework-solid, framework-lit, integration, core

#3689 Fix: document sitemap + SSR use case
  .changeset/sixty-mirrors-bake.md
  packages/integrations/sitemap/README.md
  packages/integrations/sitemap/src/index.ts
Labels: integration

#3693 E2E test cleanup and improvements
  packages/astro/e2e/astro-component.test.js
  packages/astro/e2e/client-only.test.js
  packages/astro/e2e/fixtures/vue-component/src/components/Counter.vue
  packages/astro/e2e/fixtures/vue-component/src/components/VueComponent.vue
  packages/astro/e2e/fixtures/vue-component/src/pages/index.astro
  packages/astro/e2e/fixtures/vue-component/src/pages/markdown.md
  packages/astro/e2e/lit-component.test.js
  packages/astro/e2e/multiple-frameworks.test.js
  packages/astro/e2e/nested-in-preact.test.js
  packages/astro/e2e/nested-in-react.test.js
  packages/astro/e2e/nested-in-solid.test.js
  packages/astro/e2e/nested-in-svelte.test.js
  packages/astro/e2e/nested-in-vue.test.js
  packages/astro/e2e/nested-styles.test.js
  packages/astro/e2e/pass-js.test.js
  packages/astro/e2e/shared-component-tests.js
  packages/astro/e2e/tailwindcss.test.js
  packages/astro/e2e/test-utils.js
  packages/astro/e2e/ts-resolution.test.js
  packages/astro/e2e/vue-component.test.js
Labels: core

#3649 Added test for dir parameter in astro:build:done.
  .changeset/modern-dots-smile.md
  packages/astro/test/fixtures/static-build-dir/package.json
  packages/astro/test/fixtures/static-build-dir/src/pages/index.astro
  packages/astro/test/static-build-dir.test.js
  pnpm-lock.yaml
Labels: core

#3679 Remove post-rendering head injection
  .changeset/tasty-hornets-return.md
  packages/astro/e2e/fixtures/preact-component/src/components/Layout.astro
  packages/astro/e2e/fixtures/preact-component/src/pages/markdown.md
  packages/astro/e2e/fixtures/react-component/src/components/Layout.astro
  packages/astro/e2e/fixtures/react-component/src/pages/markdown.md
  packages/astro/e2e/fixtures/solid-component/src/components/Layout.astro
  packages/astro/e2e/fixtures/solid-component/src/pages/markdown.md
  packages/astro/e2e/fixtures/svelte-component/src/components/Layout.astro
  packages/astro/e2e/fixtures/svelte-component/src/pages/markdown.md
  packages/astro/e2e/fixtures/vue-component/src/components/Layout.astro
  packages/astro/e2e/fixtures/vue-component/src/pages/markdown.md
  packages/astro/package.json
  packages/astro/src/@types/astro.ts
  packages/astro/src/core/render/core.ts
  packages/astro/src/core/render/result.ts
  packages/astro/src/runtime/server/index.ts
  packages/astro/src/runtime/server/scripts.ts
  packages/astro/test/0-css.test.js
  packages/astro/test/astro-partial-html.test.js
  packages/astro/test/fixtures/astro-partial-html/src/pages/with-head.astro
  packages/webapi/mod.d.ts
  pnpm-lock.yaml
Labels: core

#3695 fix: `@astrojs/cloudflare` 404 handling
  .changeset/five-zoos-look.md
  packages/integrations/cloudflare/src/server.ts
Labels: integration

#3696 Streaming
  .changeset/funny-pianos-mix.md
  packages/astro/package.json
  packages/astro/src/core/app/index.ts
  packages/astro/src/core/build/generate.ts
  packages/astro/src/core/render/core.ts
  packages/astro/src/core/render/dev/html.ts
  packages/astro/src/core/render/dev/index.ts
  packages/astro/src/core/render/result.ts
  packages/astro/src/runtime/server/index.ts
  packages/astro/src/runtime/server/response.ts
  packages/astro/src/vite-plugin-astro-server/index.ts
  packages/astro/test/astro-response.test.js
  packages/astro/test/fixtures/astro-response/src/components/not-found.astro
  packages/astro/test/fixtures/astro-response/src/pages/not-found-component.astro
  packages/astro/test/fixtures/streaming/astro.config.mjs
  packages/astro/test/fixtures/streaming/package.json
  packages/astro/test/fixtures/streaming/src/components/AsyncEach.astro
  packages/astro/test/fixtures/streaming/src/components/Header.astro
  packages/astro/test/fixtures/streaming/src/pages/index.astro
  packages/astro/test/fixtures/streaming/src/wait.ts
  packages/astro/test/streaming.test.js
  pnpm-lock.yaml
Labels: core

#3700 Make Astro.redirect use a 302 status code
  .changeset/stupid-steaks-hang.md
  packages/astro/src/core/render/result.ts
  packages/astro/test/fixtures/ssr-redirect/package.json
  packages/astro/test/fixtures/ssr-redirect/src/pages/secret.astro
  packages/astro/test/ssr-redirect.test.js
  pnpm-lock.yaml
Labels: core

#3697 Add *private* built-in JSX renderer
  packages/astro/package.json
  packages/astro/src/core/config.ts
  packages/astro/src/jsx-runtime/index.ts
  packages/astro/src/jsx/babel.ts
  packages/astro/src/jsx/renderer.ts
  packages/astro/src/jsx/server.ts
  packages/astro/src/runtime/server/index.ts
  packages/astro/src/runtime/server/jsx.ts
  packages/astro/src/vite-plugin-jsx/index.ts
  packages/astro/test/fixtures/jsx/astro.config.mjs
  packages/astro/test/fixtures/jsx/package.json
  packages/astro/test/fixtures/jsx/src/components/Frameworks.jsx
  packages/astro/test/fixtures/jsx/src/components/PreactCounter.tsx
  packages/astro/test/fixtures/jsx/src/components/ReactCounter.jsx
  packages/astro/test/fixtures/jsx/src/components/SolidCounter.jsx
  packages/astro/test/fixtures/jsx/src/components/SvelteCounter.svelte
  packages/astro/test/fixtures/jsx/src/components/Test.jsx
  packages/astro/test/fixtures/jsx/src/components/VueCounter.vue
  packages/astro/test/fixtures/jsx/src/pages/component.astro
  packages/astro/test/fixtures/jsx/src/pages/frameworks.astro
  packages/astro/test/jsx.test.js
  pnpm-lock.yaml
Labels: core

#3702 Ensure import.meta.env.SSR is true in SSR mode
  .changeset/moody-crabs-stare.md
  packages/astro/src/core/build/static-build.ts
  packages/astro/src/vite-plugin-env/index.ts
  packages/astro/test/fixtures/ssr-env/astro.config.mjs
  packages/astro/test/fixtures/ssr-env/package.json
  packages/astro/test/fixtures/ssr-env/src/components/Env.jsx
  packages/astro/test/fixtures/ssr-env/src/pages/ssr.astro
  packages/astro/test/ssr-env.test.js
  pnpm-lock.yaml
Labels: core

#3705 Simplified Response#text() implementation
  .changeset/early-teachers-vanish.md
  packages/astro/src/jsx/renderer.ts
  packages/astro/src/runtime/server/response.ts
  pnpm-lock.yaml
Labels: core

#3724 Inline define:var styles rendered after the head
  .changeset/plenty-kids-own.md
  packages/astro/src/runtime/server/index.ts
  packages/astro/test/astro-directives.test.js
  packages/astro/test/fixtures/astro-directives/src/components/Title.astro
  packages/astro/test/fixtures/astro-directives/src/pages/define-vars.astro
  packages/astro/test/fixtures/ssr-response/src/components/OverwriteHeader.astro
  packages/astro/test/fixtures/ssr-response/src/components/SetAHeader.astro
  packages/astro/test/fixtures/ssr-response/src/components/SetStatus.astro
  packages/astro/test/fixtures/ssr-response/src/pages/child-set-status.astro
  packages/astro/test/fixtures/ssr-response/src/pages/child-tries-to-overwrite.astro
  packages/astro/test/fixtures/ssr-response/src/pages/some-header.astro
  packages/astro/test/ssr-response.test.js
Labels: core

#3725 Adds a prefetch integration for near-instant page navigations
  packages/integrations/prefetch/@types/network-information.d.ts
  packages/integrations/prefetch/README.md
  packages/integrations/prefetch/package.json
  packages/integrations/prefetch/playwright.config.js
  packages/integrations/prefetch/src/client.ts
  packages/integrations/prefetch/src/index.ts
  packages/integrations/prefetch/src/requestIdleCallback.ts
  packages/integrations/prefetch/test/basic-prefetch.test.js
  packages/integrations/prefetch/test/custom-selectors.test.js
  packages/integrations/prefetch/test/fixtures/basic-prefetch/astro.config.mjs
  packages/integrations/prefetch/test/fixtures/basic-prefetch/package.json
  packages/integrations/prefetch/test/fixtures/basic-prefetch/src/pages/about.astro
  packages/integrations/prefetch/test/fixtures/basic-prefetch/src/pages/admin.astro
  packages/integrations/prefetch/test/fixtures/basic-prefetch/src/pages/contact.astro
  packages/integrations/prefetch/test/fixtures/basic-prefetch/src/pages/index.astro
  packages/integrations/prefetch/test/test-utils.js
  packages/integrations/prefetch/tsconfig.json
  pnpm-lock.yaml
Labels: integration

#3715 SImplify "astro add" by removing confusing multi-select
  .changeset/lucky-apes-yell.md
  .changeset/perfect-drinks-fold.md
  packages/astro/src/cli/index.ts
  packages/astro/src/cli/telemetry.ts
  packages/astro/src/core/add/consts.ts
  packages/astro/src/core/add/index.ts
  packages/astro/src/core/messages.ts
  packages/create-astro/create-astro.mjs
  packages/create-astro/src/index.ts
  packages/create-astro/test/astro-add-step.test.js
  packages/create-astro/test/install-step.test.js
  packages/create-astro/test/utils.js
  packages/webapi/mod.d.ts
Labels: create-astro, core

#3732 Fix Tailwind integration Typescript warning
  .changeset/khaki-ligers-glow.md
  packages/integrations/tailwind/src/index.ts
Labels: integration

#3737 improve performance by adding another preconnect
  examples/portfolio/src/components/MainHead.astro
Labels: example

#3743 Fix lint issues
  packages/create-astro/src/index.ts
  packages/integrations/prefetch/src/client.ts
Labels: integration, create-astro

#3746 Disable problematic `create-astro` test
  packages/create-astro/test/install-step.test.js
Labels: create-astro

#3756 Chore: remove complex install step test
  .changeset/lemon-papayas-cough.md
  packages/create-astro/test/install-step.test.js
  packages/create-astro/test/utils.js
Labels: create-astro

#3758 Chore: remove memory test from CI
  .changeset/wet-shirts-warn.md
  .github/workflows/ci.yml
Labels: 🚨 action

#3760 Added: reminder to update docs if create-astro flow or wording changes
  packages/create-astro/src/index.ts
Labels: create-astro

#3755 Improve types for getStaticPaths and fixes dead links
  packages/astro/src/@types/astro.ts
Labels: core

#3712 Add `preact/compat` support to `@astrojs/preact`
  .changeset/odd-bikes-turn.md
  packages/astro/e2e/fixtures/preact-compat-component/astro.config.mjs
  packages/astro/e2e/fixtures/preact-compat-component/package.json
  packages/astro/e2e/fixtures/preact-compat-component/src/components/Counter.css
  packages/astro/e2e/fixtures/preact-compat-component/src/components/Counter.jsx
  packages/astro/e2e/fixtures/preact-compat-component/src/components/JSXComponent.jsx
  packages/astro/e2e/fixtures/preact-compat-component/src/components/Layout.astro
  packages/astro/e2e/fixtures/preact-compat-component/src/pages/index.astro
  packages/astro/e2e/fixtures/preact-compat-component/src/pages/markdown.md
  packages/astro/e2e/preact-compat-component.test.js
  packages/integrations/preact/README.md
  packages/integrations/preact/package.json
  packages/integrations/preact/src/index.ts
  pnpm-lock.yaml
Labels: framework-preact, integration, core

#3750 Add basic error reporting
  .changeset/silly-phones-watch.md
  packages/astro/src/cli/index.ts
  packages/astro/src/core/errors.ts
  packages/astro/src/core/messages.ts
  packages/astro/src/core/util.ts
  packages/astro/src/events/error.ts
  packages/astro/src/events/index.ts
  packages/astro/src/events/session.ts
  packages/astro/src/vite-plugin-astro-server/index.ts
  packages/astro/src/vite-plugin-astro/compile.ts
  packages/astro/test/errors.test.js
  packages/astro/test/events.test.js
  packages/create-astro/src/index.ts
  packages/telemetry/src/index.ts
  packages/telemetry/src/system-info.ts
  packages/webapi/mod.d.ts
Labels: create-astro, core

#3768 Fix an issue with unfriendly config validation errors
  .changeset/sour-clocks-unite.md
  packages/astro/src/cli/index.ts
Labels: core

#3677 Integration Docs Next Steps
  .changeset/yellow-cameras-ring.md
  packages/integrations/deno/README.md
  packages/integrations/deno/readme.md
  packages/integrations/netlify/README.md
  packages/integrations/node/README.md
  packages/integrations/node/readme.md
  packages/integrations/partytown/README.md
  packages/integrations/sitemap/README.md
  packages/integrations/sitemap/src/index.ts
  packages/integrations/vercel/README.md
  packages/telemetry/README.md
Labels: integration

#3778 Fix integration name (`prefetch` instead of `lit`)
  .changeset/light-moons-protect.md
  packages/integrations/prefetch/src/index.ts
Labels: integration

#3779 await error reporter
  .changeset/plenty-paws-divide.md
  packages/astro/src/cli/index.ts
Labels: core

#3780 Ci: improve times, reduce delay
  .github/workflows/ci.yml
Labels: 🚨 action

#3781 CI: Prefer per-job cache rather than artifact I/O
  .github/extract-artifacts.sh
  .github/workflows/ci.yml
  package.json
  turbo.json
Labels: 🚨 action
