Repository withastro/astro, pull requests merged in 2022-04, with the labels that each got.

#2957 Update compiler
  .changeset/soft-avocados-turn.md
  packages/astro/package.json
  pnpm-lock.yaml
Labels: core

#2956 fix: prevent CLI defaults from overriding astro.config.mjs
  packages/astro/src/core/config.ts
Labels: core

#2960 Add tests for using buildConfig
  packages/astro/test/ssr-adapter-build-config.test.js
  packages/astro/test/ssr-api-route.test.js
Labels: test, core

#2961 Implement new default `script` behavior, `style is:global`
  .changeset/happy-carrots-carry.md
  examples/component/demo/src/pages/index.astro
  examples/with-tailwindcss/src/components/Button.astro
  packages/astro/package.json
  packages/astro/src/core/render/result.ts
  packages/astro/src/runtime/server/index.ts
  packages/astro/src/vite-plugin-astro/index.ts
  packages/astro/test/astro-public.test.js
  packages/astro/test/fixtures/astro-css-bundling/src/components/Nav.astro
  packages/astro/test/fixtures/astro-public/src/pages/index.astro
  packages/astro/test/fixtures/astro-scripts/src/components/Inline.astro
  packages/astro/test/fixtures/astro-scripts/src/components/NoHoistClassic.astro
  packages/astro/test/fixtures/astro-scripts/src/components/NoHoistModule.astro
  packages/astro/test/fixtures/astro-scripts/src/components/Widget.astro
  packages/astro/test/fixtures/astro-scripts/src/components/Widget2.astro
  packages/astro/test/fixtures/astro-scripts/src/pages/external.astro
  packages/astro/test/fixtures/remote-css/src/components/CommonHead.astro
  pnpm-lock.yaml
Labels: test, example, core

#2967 exit prerelease mode
  .changeset/pre.json
  examples/blog-multiple-authors/package.json
  examples/blog/astro.config.mjs
  examples/blog/package.json
  examples/docs/package.json
  examples/framework-multiple/package.json
  examples/framework-preact/package.json
  examples/framework-svelte/package.json
  examples/integrations-playground/package.json
  examples/portfolio/package.json
  examples/ssr/package.json
  examples/subpath/package.json
  examples/with-markdown/package.json
  examples/with-nanostores/package.json
  package.json
  packages/astro/package.json
  packages/astro/src/core/config.ts
  packages/astro/test/fixtures/sass/package.json
  packages/integrations/preact/package.json
  packages/integrations/svelte/package.json
  packages/integrations/tailwind/package.json
  packages/integrations/vue/package.json
  packages/renderers/renderer-preact/package.json
  packages/renderers/renderer-svelte/package.json
  packages/renderers/renderer-vue/package.json
  pnpm-lock.yaml
  scripts/package.json
Labels: framework-svelte, framework-vue, example, framework-preact, renderer, core

#2973 Fixing the new config defaults (docs only)
  .changeset/plenty-suits-happen.md
  packages/astro/src/@types/astro.ts
Labels: core

#2971 fix(markdown): escape when mode == 'md'
  .changeset/silent-cows-shave.md
  packages/markdown/remark/src/index.ts
Labels: markdown

#2974 fix(cli): prevent CLI from hanging
  .changeset/soft-dolphins-join.md
  packages/astro/astro.js
Labels: core

#2977 chore: updated examples to v0.26.0
  examples/blog-multiple-authors/src/pages/authors/[author].astro
  examples/docs/src/components/HeadCommon.astro
  examples/docs/src/components/LeftSidebar/LeftSidebar.astro
  examples/docs/src/layouts/MainLayout.astro
  examples/docs/src/pages/index.astro
  examples/env-vars/src/pages/index.astro
  examples/framework-alpine/src/pages/index.astro
  examples/integrations-playground/src/pages/index.astro
  examples/non-html-pages/src/pages/index.astro
  examples/ssr/astro.config.mjs
  examples/subpath/astro.config.mjs
  examples/with-vite-plugin-pwa/src/pages/index.astro
Labels: example

#2978 Fix edge case with slotted children
  .changeset/flat-coats-crash.md
  packages/astro/src/runtime/server/index.ts
Labels: core

#2985 Add JSX definitions to astro package for language-tools consumption
  packages/astro/astro-jsx.d.ts
  packages/astro/src/@types/astro.ts
Labels: core

#2988 Add missing entry in files field in package.json
  packages/astro/package.json
Labels: core

#2991 fix markdown mode default
  packages/astro/src/core/config.ts
Labels: core

#3004 fix(#2981): keeps `astro preview` server alive
  .changeset/big-yaks-invite.md
  packages/astro/src/cli/index.ts
  packages/astro/src/core/preview/index.ts
Labels: core

#2958 Astro add docs
  .changeset/strange-avocados-double.md
  packages/astro/src/cli/index.ts
  packages/astro/src/cli/open.ts
Labels: core

#3003 fix: Nested hydration with Solid
  .changeset/ten-rice-unite.md
  packages/integrations/solid/client.js
  packages/renderers/renderer-solid/client.js
Labels: framework-solid, renderer

#3008 fix(integrations): `astro:build:done` dir now matches SSR client output
  .changeset/empty-pens-talk.md
  packages/astro/src/core/build/index.ts
  packages/astro/src/integrations/index.ts
  packages/integrations/partytown/src/index.ts
  packages/integrations/vercel/src/index.ts
Labels: core

#3011 Fix Netlify adapter and dynamic routes
  .changeset/nervous-chairs-check.md
  package.json
  packages/astro/src/@types/astro.ts
  packages/astro/src/core/routing/manifest/create.ts
  packages/astro/src/core/routing/manifest/serialization.ts
  packages/integrations/netlify/package.json
  packages/integrations/netlify/src/index.ts
  packages/integrations/netlify/test/dynamic-route.test.js
  packages/integrations/netlify/test/fixtures/.gitignore
  packages/integrations/netlify/test/fixtures/dynamic-route/src/pages/products/[id].astro
Labels: test, core

#3001 fix(#2987): relative config handling with `--config` flag
  .changeset/dirty-trains-yawn.md
  packages/astro/src/core/config.ts
  packages/astro/test/config.test.js
  packages/astro/test/fixtures/astro-basic/my-config.mjs
  packages/astro/test/test-utils.js
Labels: test, core

#3022 Allow an adapter to export default
  .changeset/forty-boats-remain.md
  packages/astro/src/core/build/vite-plugin-ssr.ts
  packages/integrations/vercel/src/index.ts
  packages/integrations/vercel/src/server-entrypoint.ts
Labels: core

#3020 Exclude any ?raw or ?url css imports when adding asset links
  .changeset/dull-bobcats-clean.md
  packages/astro/src/vite-plugin-build-css/index.ts
  packages/astro/test/astro-css-bundling-import.test.js
  packages/astro/test/fixtures/astro-css-bundling-import/src/layouts/InlineLayout.astro
  packages/astro/test/fixtures/astro-css-bundling-import/src/pages/page-3.astro
  packages/astro/test/fixtures/astro-css-bundling-import/src/styles/page-three.css
Labels: test, core

#3021 Warn when trying to access headers in SSG mode
  .changeset/odd-squids-rest.md
  packages/astro/src/core/build/generate.ts
  packages/astro/src/core/request.ts
  packages/astro/src/vite-plugin-astro-server/index.ts
  packages/astro/src/vite-plugin-build-html/index.ts
  packages/astro/test/fixtures/static build/src/pages/index.astro
  packages/astro/test/static-build.test.js
Labels: test, core

#3026 Fixes adding set-cookie headers multiple times
  .changeset/calm-dolphins-remain.md
  packages/astro/src/vite-plugin-astro-server/index.ts
  packages/astro/test/fixtures/ssr-api-route/src/pages/login.js
  packages/astro/test/ssr-api-route.test.js
Labels: test, core

#2999 Update JSDoc comments that get shown in editor
  .changeset/shaggy-pans-buy.md
  packages/astro/env.d.ts
  packages/astro/src/@types/astro.ts
Labels: core

#3028 chore: updated esbuild
  .changeset/breezy-days-remember.md
  package.json
  packages/astro/package.json
  packages/integrations/vercel/package.json
  pnpm-lock.yaml
  scripts/package.json
Labels: core

#3042 add missing Astro.self type
  packages/astro/src/@types/astro.ts
Labels: core

#3038 Fixed MD Lint issues
  examples/docs/README.md
Labels: example

#3037 Fix SSR static build public file copying. fixes #3016
  .changeset/metal-grapes-tickle.md
  packages/astro/src/core/build/static-build.ts
  packages/astro/test/fixtures/static build SSR/astro.config.mjs
  packages/astro/test/fixtures/static build SSR/package.json
  packages/astro/test/fixtures/static build SSR/public/asset.txt
  packages/astro/test/fixtures/static build SSR/public/nested/asset2.txt
  packages/astro/test/static-build.test.js
  pnpm-lock.yaml
Labels: test, core

#3059 update lockfile
  examples/blog-multiple-authors/package.json
  examples/blog/package.json
  examples/docs/package.json
  examples/framework-lit/package.json
  examples/framework-multiple/package.json
  examples/framework-preact/package.json
  examples/framework-solid/package.json
  examples/framework-svelte/package.json
  examples/integrations-playground/package.json
  examples/portfolio/package.json
  examples/ssr/package.json
  examples/subpath/package.json
  examples/with-markdown/package.json
  examples/with-nanostores/package.json
  package.json
  packages/astro/package.json
  packages/astro/test/fixtures/sass/package.json
  packages/integrations/lit/package.json
  packages/integrations/preact/package.json
  packages/integrations/react/package.json
  packages/integrations/solid/package.json
  packages/integrations/svelte/package.json
  packages/renderers/renderer-lit/package.json
  packages/renderers/renderer-preact/package.json
  packages/renderers/renderer-solid/package.json
  packages/renderers/renderer-svelte/package.json
  packages/webapi/package.json
  pnpm-lock.yaml
  scripts/package.json
Labels: framework-svelte, example, framework-preact, framework-solid, framework-lit, renderer, core

#3063 remove unused renderers
  .github/labeler.yml
  package.json
  packages/astro/test/fixtures/astro-jsx/package.json
  packages/renderers/README.md
  packages/renderers/renderer-lit/.gitignore
  packages/renderers/renderer-lit/CHANGELOG.md
  packages/renderers/renderer-lit/client-shim.js
  packages/renderers/renderer-lit/hydration-support.js
  packages/renderers/renderer-lit/index.js
  packages/renderers/renderer-lit/package.json
  packages/renderers/renderer-lit/readme.md
  packages/renderers/renderer-lit/server-shim.js
  packages/renderers/renderer-lit/server.js
  packages/renderers/renderer-preact/CHANGELOG.md
  packages/renderers/renderer-preact/README.md
  packages/renderers/renderer-preact/client.js
  packages/renderers/renderer-preact/compat/index.js
  packages/renderers/renderer-preact/index.js
  packages/renderers/renderer-preact/package.json
  packages/renderers/renderer-preact/server.js
  packages/renderers/renderer-preact/static-html.js
  packages/renderers/renderer-react/CHANGELOG.md
  packages/renderers/renderer-react/README.md
  packages/renderers/renderer-react/client.js
  packages/renderers/renderer-react/index.js
  packages/renderers/renderer-react/jsx-runtime.js
  packages/renderers/renderer-react/package.json
  packages/renderers/renderer-react/server.js
  packages/renderers/renderer-react/static-html.js
  packages/renderers/renderer-solid/CHANGELOG.md
  packages/renderers/renderer-solid/README.md
  packages/renderers/renderer-solid/client.js
  packages/renderers/renderer-solid/index.js
  packages/renderers/renderer-solid/package.json
  packages/renderers/renderer-solid/server.js
  packages/renderers/renderer-solid/static-html.js
  packages/renderers/renderer-svelte/CHANGELOG.md
  packages/renderers/renderer-svelte/README.md
  packages/renderers/renderer-svelte/Wrapper.svelte
  packages/renderers/renderer-svelte/Wrapper.svelte.ssr.js
  packages/renderers/renderer-svelte/client.js
  packages/renderers/renderer-svelte/index.js
  packages/renderers/renderer-svelte/package.json
  packages/renderers/renderer-svelte/server.js
  packages/renderers/renderer-vue/CHANGELOG.md
  packages/renderers/renderer-vue/README.md
  packages/renderers/renderer-vue/client.js
  packages/renderers/renderer-vue/index.js
  packages/renderers/renderer-vue/package.json
  packages/renderers/renderer-vue/server.js
  packages/renderers/renderer-vue/static-html.js
  pnpm-lock.yaml
  scripts/package.json
Labels: framework-svelte, framework-vue, framework-react, framework-preact, framework-solid, framework-lit, renderer, core

#3039 chore: updated turborepo
  package.json
  packages/astro/test/0-css.test.js
Labels: test, core

#3065 use bundled alpinejs in the example
  examples/framework-alpine/package.json
  examples/framework-alpine/src/pages/index.astro
  pnpm-lock.yaml
Labels: example

#3066 fix ssr url search params bug
  .changeset/afraid-mugs-call.md
  packages/astro/src/@types/astro.ts
  packages/astro/src/cli/index.ts
  packages/astro/src/vite-plugin-astro-server/index.ts
  packages/astro/test/astro-global.test.js
  packages/astro/test/fixtures/astro-global/src/pages/index.astro
Labels: test, core

#2970 feat: markdown config typechecking
  .changeset/forty-plants-hope.md
  .changeset/small-months-speak.md
  packages/astro/package.json
  packages/astro/src/@types/astro.ts
  packages/astro/src/core/app/index.ts
  packages/astro/src/core/app/types.ts
  packages/astro/src/core/build/generate.ts
  packages/astro/src/core/build/vite-plugin-ssr.ts
  packages/astro/src/core/config.ts
  packages/astro/src/core/render/core.ts
  packages/astro/src/core/render/dev/index.ts
  packages/astro/src/core/render/result.ts
  packages/astro/src/vite-plugin-markdown/index.ts
  packages/markdown/remark/package.json
  packages/markdown/remark/src/index.ts
  packages/markdown/remark/src/load-plugins.ts
  packages/markdown/remark/src/remark-shiki.ts
  packages/markdown/remark/src/types.ts
  pnpm-lock.yaml
Labels: markdown, core

#3081 fix(vercel): support dynamic paths
  .changeset/quick-kangaroos-notice.md
  packages/integrations/vercel/src/index.ts
Labels: renderer

#3092 Allow setting multiple cookies in Netlify adapter
  .changeset/sharp-moose-perform.md
  packages/integrations/netlify/src/netlify-functions.ts
  packages/integrations/netlify/test/cookies.test.js
  packages/integrations/netlify/test/fixtures/cookies/src/pages/index.astro
  packages/integrations/netlify/test/fixtures/cookies/src/pages/login.js
Labels: test, renderer

#3094 Fix: React hydration failure
  .changeset/clean-cherries-bow.md
  packages/astro/src/runtime/server/index.ts
Labels: core

#3068 fix build base bug
  .changeset/nice-dingos-enjoy.md
  packages/astro/src/core/build/generate.ts
  packages/astro/src/core/path.ts
  packages/astro/src/core/util.ts
  packages/astro/test/astro-global.test.js
Labels: test, core

#3078 Improve API handler export naming
  .changeset/chilly-terms-smoke.md
  .changeset/lazy-kangaroos-rush.md
  packages/astro/src/runtime/server/index.ts
Labels: core

#3095 Re-enable custom element test and fix "undefined" child
  .changeset/neat-oranges-tan.md
  packages/astro/src/core/config.ts
  packages/astro/src/runtime/server/index.ts
  packages/astro/test/custom-elements.test.js
  packages/astro/test/fixtures/custom-elements/astro.config.mjs
  packages/astro/test/fixtures/custom-elements/my-component-lib/index.js
  packages/astro/test/fixtures/custom-elements/my-component-lib/server.js
  packages/webapi/src/lib/CustomElementRegistry.ts
  packages/webapi/src/lib/Element.ts
Labels: test, core

#3099 Fixing bug that could lose Tailwind's default presets
  .changeset/tame-lamps-roll.md
  packages/astro/test/fixtures/tailwindcss/src/pages/index.astro
  packages/astro/test/fixtures/tailwindcss/tailwind.config.js
  packages/astro/test/tailwindcss.test.js
  packages/integrations/tailwind/README.md
  packages/integrations/tailwind/src/index.ts
Labels: test, renderer, core

#3104 Add `build:ci` script to integrations
  packages/integrations/deno/package.json
  packages/integrations/netlify/package.json
  packages/integrations/node/package.json
  packages/integrations/vercel/package.json
Labels: renderer

#3036 Support the Markdown component in SSR
  .changeset/blue-mayflies-cheat.md
  .changeset/wild-llamas-argue.md
  packages/astro/src/core/app/index.ts
  packages/astro/src/core/build/index.ts
  packages/astro/src/core/build/vite-plugin-ssr.ts
  packages/astro/src/core/config.ts
  packages/astro/test/fixtures/ssr-markdown/package.json
  packages/astro/test/fixtures/ssr-markdown/src/layouts/Base.astro
  packages/astro/test/fixtures/ssr-markdown/src/pages/page.astro
  packages/astro/test/fixtures/ssr-markdown/src/pages/post.md
  packages/astro/test/ssr-markdown.test.js
  packages/astro/test/test-adapter.js
  packages/integrations/node/src/index.ts
  pnpm-lock.yaml
Labels: test, renderer, core

#3113 Add client:only CSS to their pages
  .changeset/forty-goats-warn.md
  packages/astro/src/core/build/internal.ts
  packages/astro/src/core/build/static-build.ts
  packages/astro/src/vite-plugin-build-css/index.ts
  packages/astro/test/astro-client-only.test.js
  packages/astro/test/fixtures/astro-client-only/astro.config.mjs
  packages/astro/test/fixtures/astro-client-only/package.json
  packages/astro/test/fixtures/astro-client-only/src/components/JSXComponent.jsx
  packages/astro/test/fixtures/astro-client-only/src/components/PersistentCounter.svelte
  packages/astro/test/fixtures/astro-client-only/src/components/global.css
  packages/astro/test/fixtures/astro-client-only/src/pages/index.astro
  pnpm-lock.yaml
Labels: test, core

#3109 update starter template for SSR
  examples/starter/public/logo.svg
  examples/starter/src/components/Logo.astro
  examples/starter/src/components/Tour.astro
  examples/starter/src/content/Tour.md
  examples/starter/src/pages/index.astro
Labels: example

#3087 Fix/numeric path params
  .changeset/few-ways-jump.md
  packages/astro/src/@types/astro.ts
  packages/astro/src/core/render/route-cache.ts
  packages/astro/src/core/routing/params.ts
  packages/astro/src/core/routing/validation.ts
  packages/astro/test/astro-get-static-paths.test.js
  packages/astro/test/fixtures/astro-get-static-paths/src/pages/blog/[year]/[slug].astro
Labels: test, core

#3051 fix(vercel): CJS bundle fix
  .changeset/little-numbers-buy.md
  packages/integrations/vercel/src/index.ts
Labels: renderer

#3121 Handle static file serving in Deno adapter's start command
  .changeset/brave-planes-punch.md
  packages/integrations/deno/src/index.ts
  packages/integrations/deno/src/server.ts
  packages/integrations/deno/test/basics.test.js
  packages/integrations/deno/test/deps.js
  packages/integrations/deno/test/fixtures/basics/src/pages/index.astro
  packages/integrations/deno/test/helpers.js
Labels: test, renderer

#3129 Roll back to React 17 in docs template
  .changeset/mighty-teachers-fail.md
  examples/docs/package.json
  pnpm-lock.yaml
Labels: example

#3130 Perf: reuse Shiki highlighters per theme/lang
  .changeset/eleven-guests-rhyme.md
  packages/astro/components/Code.astro
  packages/astro/components/Shiki.js
Labels: core

#3116 Fix: component styles within imported markdown files
  .changeset/tidy-poems-occur.md
  packages/astro/src/core/render/dev/css.ts
  packages/astro/src/core/render/dev/index.ts
  packages/astro/src/vite-plugin-build-css/index.ts
  packages/astro/src/vite-plugin-markdown/index.ts
  packages/astro/test/astro-markdown-css.js
  packages/astro/test/fixtures/astro-markdown-css/astro.config.mjs
  packages/astro/test/fixtures/astro-markdown-css/package.json
  packages/astro/test/fixtures/astro-markdown-css/src/components/Visual.astro
  packages/astro/test/fixtures/astro-markdown-css/src/markdown/article.md
  packages/astro/test/fixtures/astro-markdown-css/src/markdown/article2.md
  packages/astro/test/fixtures/astro-markdown-css/src/pages/index.astro
  pnpm-lock.yaml
Labels: core

#3139 feat(vercel): added warning when `ENABLE_FILE_SYSTEM_API=1` is missing
  .changeset/soft-fishes-switch.md
  packages/integrations/vercel/README.md
  packages/integrations/vercel/src/index.ts
Labels: renderer

#3108 handle diff symbols in shiki
  .changeset/violet-cups-glow.md
  packages/astro/test/astro-markdown-shiki.test.js
  packages/astro/test/fixtures/astro-markdown-shiki/normal/src/pages/index.md
  packages/markdown/remark/src/remark-shiki.ts
Labels: test, markdown, core

#3142 improve legacy config warning message
  packages/astro/src/core/config.ts
Labels: core

#3150 Adjustments for Netlify Edge Functions
  .changeset/small-radios-whisper.md
  packages/integrations/netlify/src/integration-edge-functions.ts
Labels: renderer

#3141 Refactor: remove all legacy build logic from codebase
  .changeset/three-pigs-hunt.md
  packages/astro/package.json
  packages/astro/src/@types/astro.ts
  packages/astro/src/cli/index.ts
  packages/astro/src/core/app/index.ts
  packages/astro/src/core/build/generate.ts
  packages/astro/src/core/build/index.ts
  packages/astro/src/core/build/internal.ts
  packages/astro/src/core/build/static-build.ts
  packages/astro/src/core/path.ts
  packages/astro/src/core/render/core.ts
  packages/astro/src/core/render/dev/index.ts
  packages/astro/src/core/render/result.ts
  packages/astro/src/runtime/server/index.ts
  packages/astro/src/vite-plugin-build-css/index.ts
  packages/astro/src/vite-plugin-build-html/add-rollup-input.ts
  packages/astro/src/vite-plugin-build-html/extract-assets.ts
  packages/astro/src/vite-plugin-build-html/index.ts
  packages/astro/src/vite-plugin-build-html/util.ts
  packages/astro/test/0-css.test.js
  packages/astro/test/astro-doctype.test.js
  packages/astro/test/astro-markdown-css.test.js
  pnpm-lock.yaml
Labels: test, core

#3140 Fix location of SolidJS pre-hydration code
  .changeset/eight-pumas-repeat.md
  packages/integrations/solid/client.js
  packages/integrations/solid/server.js
Labels: framework-solid, renderer

#3152 Fix: markdown JSX expression inconsistencies
  .changeset/purple-timers-speak.md
  packages/astro/test/astro-markdown.test.js
  packages/astro/test/fixtures/astro-markdown/src/pages/jsx-expressions.md
  packages/markdown/remark/package.json
  packages/markdown/remark/src/remark-expressions.ts
  pnpm-lock.yaml
Labels: test, markdown, core

#3153 [ci] update lockfile
  examples/blog-multiple-authors/package.json
  examples/docs/package.json
  examples/framework-alpine/package.json
  examples/framework-multiple/package.json
  examples/framework-solid/package.json
  examples/framework-vue/package.json
  examples/integrations-playground/package.json
  examples/portfolio/package.json
  examples/subpath/package.json
  examples/with-markdown/package.json
  examples/with-nanostores/package.json
  examples/with-tailwindcss/package.json
  examples/with-vite-plugin-pwa/package.json
  package.json
  packages/astro-prism/package.json
  packages/astro/package.json
  packages/astro/test/fixtures/react-component/package.json
  packages/astro/test/fixtures/sass/package.json
  packages/astro/test/fixtures/tailwindcss/package.json
  packages/integrations/solid/package.json
  packages/integrations/svelte/package.json
  packages/integrations/tailwind/package.json
  packages/integrations/vercel/package.json
  packages/integrations/vue/package.json
  packages/markdown/remark/package.json
  packages/webapi/package.json
  pnpm-lock.yaml
  scripts/package.json
Labels: markdown, framework-svelte, framework-vue, example, framework-solid, renderer, core

#3157 Netlify adapter, add --build flag in the readme
  packages/integrations/netlify/README.md
Labels: renderer

#3158 Add test to verify Lit works in SSR
  packages/astro/test/fixtures/lit-element/src/components/my-element.js
  packages/astro/test/ssr-lit.test.js
Labels: test, core

#3138 Improved HMR
  .changeset/cyan-dots-admire.md
  packages/astro/src/runtime/client/hmr.ts
  packages/astro/src/vite-plugin-astro/hmr.ts
  packages/astro/src/vite-plugin-astro/index.ts
Labels: core

#3164 Make 'lit' always be bundled in SSR
  .changeset/old-plants-glow.md
  packages/astro/src/core/build/vite-plugin-pages.ts
  packages/astro/test/ssr-lit.test.js
  packages/integrations/lit/src/index.ts
Labels: test, framework-lit, renderer, core

#3156 Improvements to build and dev when building for subpaths
  .changeset/chatty-peas-warn.md
  packages/astro/src/core/build/generate.ts
  packages/astro/src/core/path.ts
  packages/astro/src/vite-plugin-astro-server/index.ts
  packages/astro/test/static-build.test.js
Labels: test, core

#3166 fix(preact): use updateConfig hook
  .changeset/thick-beds-flow.md
  packages/integrations/preact/src/index.ts
Labels: framework-preact, renderer

#3171 Upgrade compiler
  .changeset/funny-houses-drop.md
  packages/astro/package.json
  pnpm-lock.yaml
Labels: core

#3176 feat(vercel): Support `trailingSlash`
  .changeset/thirty-boxes-shave.md
  packages/integrations/vercel/src/index.ts
Labels: renderer

#3162 [ci] update lockfile
  examples/framework-alpine/package.json
  examples/framework-multiple/package.json
  examples/framework-solid/package.json
  examples/integrations-playground/package.json
  package.json
  packages/astro/package.json
  packages/create-astro/package.json
  packages/integrations/solid/package.json
  packages/integrations/vercel/package.json
  packages/webapi/package.json
  pnpm-lock.yaml
  scripts/package.json
Labels: example, framework-solid, renderer, create-astro, core

#3181 Support custom svelte compiler options in @astrojs/svelte
  .changeset/strong-dogs-boil.md
  packages/astro/test/fixtures/svelte-component/astro.config.mjs
  packages/astro/test/fixtures/svelte-component/src/components/Custom.sve
  packages/astro/test/fixtures/svelte-component/src/pages/typescript.astro
  packages/astro/test/svelte-component.test.js
  packages/integrations/svelte/README.md
  packages/integrations/svelte/src/index.ts
Labels: test, framework-svelte, renderer, core

#3175 Feat: [create-astro] remove online editor configs from output
  packages/create-astro/src/index.ts
Labels: create-astro

#3186 Fix: `astro add` generating config outside project root
  .changeset/warm-days-wash.md
  packages/astro/src/core/add/index.ts
Labels: core

#3191 feat(markdown): Improved types
  .changeset/cool-experts-shake.md
  packages/astro/env.d.ts
  packages/astro/src/@types/astro.ts
Labels: core

#3198 fix(markdown): file.url fixes
  .changeset/large-birds-repair.md
  packages/astro/src/core/build/generate.ts
  packages/astro/src/core/config.ts
  packages/astro/src/vite-plugin-astro-server/index.ts
  packages/astro/src/vite-plugin-markdown/index.ts
  packages/astro/test/astro-markdown-url.test.js
  packages/astro/test/fixtures/astro-markdown-url/.gitignore
  packages/astro/test/fixtures/astro-markdown-url/package.json
  packages/astro/test/fixtures/astro-markdown-url/src/pages/docs/pages/how-to-make-a-page.md
  packages/astro/test/fixtures/astro-markdown-url/src/pages/index.astro
  pnpm-lock.yaml
Labels: test, core

#3190 Feat: `create astro` add install step
  .changeset/strong-seals-grow.md
  packages/create-astro/package.json
  packages/create-astro/src/index.ts
  packages/create-astro/test/directory-step.test.js
  packages/create-astro/test/install-step.test.js
  packages/create-astro/test/utils.js
  pnpm-lock.yaml
Labels: test, create-astro

#3205 Add Astro attributes to svg elements
  .changeset/metal-doors-rhyme.md
  packages/astro/astro-jsx.d.ts
Labels: core

#3183 Feat: support `astro add` without npm installing
  .changeset/giant-impalas-design.md
  packages/astro/package.json
  packages/astro/src/cli/index.ts
  packages/astro/src/core/config.ts
  packages/integrations/tailwind/package.json
  pnpm-lock.yaml
Labels: renderer, core

#3209 Add missing is:raw in AstroBuiltinAttributes
  .changeset/happy-sheep-chew.md
  packages/astro/src/@types/astro.ts
Labels: core

#3207 Prevent watcher from running during the build
  .changeset/big-ducks-search.md
  packages/astro/src/core/create-vite.ts
Labels: core

#3185 fix(vercel): `trailingSlash` fix for non-html pages
  .changeset/swift-houses-itch.md
  packages/integrations/vercel/src/index.ts
Labels: renderer

#3211 Update `@proload/core`
  packages/astro/package.json
  packages/integrations/tailwind/package.json
  pnpm-lock.yaml
Labels: renderer, core

#3206 Feat: new just the basics template
  examples/basics/.gitignore
  examples/basics/.npmrc
  examples/basics/.stackblitzrc
  examples/basics/.vscode/extensions.json
  examples/basics/.vscode/launch.json
  examples/basics/README.md
  examples/basics/astro.config.mjs
  examples/basics/package.json
  examples/basics/public/favicon.ico
  examples/basics/sandbox.config.json
  examples/basics/src/components/Layout.astro
  examples/basics/src/pages/index.astro
  examples/basics/tsconfig.json
  pnpm-lock.yaml
Labels: example

#3212 Refactor/clean create astro logs
  .changeset/curly-cobras-kneel.md
  packages/create-astro/src/index.ts
  packages/create-astro/test/directory-step.test.js
Labels: test, create-astro

#3225 chore: remove deprecation message when using cheerio's default export
  packages/astro/test/0-css.test.js
  packages/astro/test/astro-assets.test.js
  packages/astro/test/astro-attrs.test.js
  packages/astro/test/astro-basic.test.js
  packages/astro/test/astro-children.test.js
  packages/astro/test/astro-class-list.test.js
  packages/astro/test/astro-component-code.test.js
  packages/astro/test/astro-css-bundling-import.test.js
  packages/astro/test/astro-css-bundling.test.js
  packages/astro/test/astro-directives.test.js
  packages/astro/test/astro-doctype.test.js
  packages/astro/test/astro-dynamic.test.js
  packages/astro/test/astro-expr.test.js
  packages/astro/test/astro-fallback.test.js
  packages/astro/test/astro-global.test.js
  packages/astro/test/astro-markdown-css.test.js
  packages/astro/test/astro-markdown-drafts.test.js
  packages/astro/test/astro-markdown-plugins.test.js
  packages/astro/test/astro-markdown-shiki.test.js
  packages/astro/test/astro-markdown-url.test.js
  packages/astro/test/astro-markdown.test.js
  packages/astro/test/astro-pages.test.js
  packages/astro/test/astro-pagination.test.js
  packages/astro/test/astro-partial-html.test.js
  packages/astro/test/astro-scripts.test.js
  packages/astro/test/astro-slots.test.js
  packages/astro/test/dev-routing.test.js
  packages/astro/test/fetch.test.js
  packages/astro/test/lit-element.test.js
  packages/astro/test/markdown.test.js
  packages/astro/test/postcss.test.js
  packages/astro/test/preact-component.test.js
  packages/astro/test/remote-css.test.js
  packages/astro/test/slots-preact.test.js
  packages/astro/test/slots-react.test.js
  packages/astro/test/slots-solid.test.js
  packages/astro/test/slots-svelte.test.js
  packages/astro/test/slots-vue.test.js
  packages/astro/test/solid-component.test.js
  packages/astro/test/static-build-code-component.test.js
  packages/astro/test/static-build-frameworks.test.js
  packages/astro/test/static-build-page-url-format.test.js
  packages/astro/test/svelte-component.test.js
  packages/astro/test/tailwindcss.test.js
  packages/astro/test/vue-component.test.js
Labels: test, core

#3224 fix: replaced deprecated String.substr with String.slice
  .changeset/eight-falcons-applaud.md
  packages/astro/src/core/routing/manifest/create.ts
  packages/astro/src/runtime/server/index.ts
  packages/astro/src/vite-plugin-astro/compile.ts
  packages/astro/src/vite-plugin-jsx/index.ts
  packages/astro/src/vite-plugin-markdown/index.ts
  packages/astro/test/astro-css-bundling.test.js
Labels: test, core

#3233 chore: remove unintended changelogs
  examples/blog-multiple-authors/CHANGELOG.md
  examples/docs/CHANGELOG.md
  scripts/CHANGELOG.md
Labels: example

#3232 fix: use defined Props interface
  examples/starter/src/components/Logo.astro
Labels: example

#3241 Fixes variable definitions in <style define:vars>
  .changeset/curly-crews-cross.md
  packages/astro/src/runtime/server/index.ts
  packages/astro/test/astro-directives.test.js
  packages/astro/test/fixtures/astro-directives/src/pages/define-vars.astro
Labels: test, core

#3234 refactor(markdown): removed `rehype-slug` in favor of our own implementation
  .changeset/cuddly-trees-sniff.md
  .changeset/silly-yaks-happen.md
  examples/with-markdown-plugins/astro.config.mjs
  packages/astro/package.json
  packages/astro/src/@types/astro.ts
  packages/astro/test/astro-markdown-plugins.test.js
  packages/astro/test/fixtures/astro-markdown-plugins/package.json
  packages/markdown/remark/package.json
  packages/markdown/remark/src/index.ts
  packages/markdown/remark/src/rehype-collect-headers.ts
  packages/markdown/remark/src/remark-slug.ts
  packages/markdown/remark/src/types.ts
  pnpm-lock.yaml
Labels: test, markdown, example, core
