Repository withastro/astro, pull requests merged in 2023-04, with the labels that each got.

#6723 [Markdoc] Fix: Support `render: null`
  .changeset/mean-guests-joke.md
  packages/integrations/markdoc/components/TreeNode.ts
  packages/integrations/markdoc/test/fixtures/render-null/astro.config.mjs
  packages/integrations/markdoc/test/fixtures/render-null/markdoc.config.mjs
  packages/integrations/markdoc/test/fixtures/render-null/package.json
  packages/integrations/markdoc/test/fixtures/render-null/src/content/blog/render-null.mdoc
  packages/integrations/markdoc/test/fixtures/render-null/src/pages/index.astro
  packages/integrations/markdoc/test/render.test.js
  pnpm-lock.yaml
Labels: integration

#6741 fix(images): Return the proper content-type for the chosen format
  .changeset/serious-ladybugs-eat.md
  packages/astro/src/assets/image-endpoint.ts
  packages/astro/src/assets/vite-plugin-assets.ts
  packages/astro/test/core-image.test.js
Labels: core

#6747 Fix broken links in TailwindCSS section
  packages/integrations/tailwind/README.md
Labels: integration

#6745 ci: use correct issue number
  .github/workflows/check-merge.yml
Labels: 🚨 action

#6658 Fix #6618: sitemap urls generated without slash
  .changeset/chatty-parrots-compare.md
  packages/integrations/sitemap/src/index.ts
  packages/integrations/sitemap/test/trailing-slash.test.js
Labels: integration

#6753 Fix getViteConfig return type
  .changeset/empty-moose-grin.md
  packages/astro/config.d.ts
Labels: core

#6751 @astrojs/vercel: Fix vercel analytics id not being provided
  .changeset/cyan-fireants-care.md
  packages/integrations/vercel/src/analytics.ts
Labels: integration

#6714 Add `build.assetsPrefix` option for CDN support
  .changeset/two-beans-dress.md
  packages/astro/src/@types/astro.ts
  packages/astro/src/assets/vite-plugin-assets.ts
  packages/astro/src/content/vite-plugin-content-assets.ts
  packages/astro/src/core/build/generate.ts
  packages/astro/src/core/build/plugins/plugin-ssr.ts
  packages/astro/src/core/config/schema.ts
  packages/astro/src/core/create-vite.ts
  packages/astro/src/core/dev/container.ts
  packages/astro/src/core/render/dev/index.ts
  packages/astro/src/core/render/dev/scripts.ts
  packages/astro/src/core/render/ssr-element.ts
  packages/astro/src/core/util.ts
  packages/astro/src/vite-plugin-env/index.ts
  packages/astro/src/vite-plugin-markdown/index.ts
  packages/astro/test/astro-assets-prefix.test.js
  packages/astro/test/fixtures/astro-assets-prefix/astro.config.mjs
  packages/astro/test/fixtures/astro-assets-prefix/package.json
  packages/astro/test/fixtures/astro-assets-prefix/src/assets/penguin1.jpg
  packages/astro/test/fixtures/astro-assets-prefix/src/components/Counter.jsx
  packages/astro/test/fixtures/astro-assets-prefix/src/content/blog/my-post.md
  packages/astro/test/fixtures/astro-assets-prefix/src/content/config.ts
  packages/astro/test/fixtures/astro-assets-prefix/src/pages/blog.astro
  packages/astro/test/fixtures/astro-assets-prefix/src/pages/index.astro
  packages/astro/test/fixtures/astro-assets-prefix/src/pages/markdown.md
  packages/astro/test/space-in-folder-name.test.js
  packages/integrations/image/src/build/ssg.ts
  packages/integrations/image/src/index.ts
  packages/integrations/image/src/vite-plugin-astro-image.ts
  packages/integrations/image/test/assets-prefix.test.js
  packages/integrations/image/test/fixtures/assets-prefix/astro.config.mjs
  packages/integrations/image/test/fixtures/assets-prefix/package.json
  packages/integrations/image/test/fixtures/assets-prefix/src/assets/social.png
  packages/integrations/image/test/fixtures/assets-prefix/src/pages/index.astro
  pnpm-lock.yaml
Labels: integration, core, semver minor

#6761 test: remove outdated image() import
  packages/astro/test/fixtures/astro-assets-prefix/src/content/config.ts
Labels: core

#6762 Show the actual error when there was an error while generating types
  .changeset/metal-lizards-arrive.md
  packages/astro/src/core/errors/errors-data.ts
  packages/astro/src/core/sync/index.ts
Labels: core

#6763 Update link to use new React docs
  examples/framework-react/README.md
Labels: example

#6766 Exporting ImageFunction from astro:content
  .changeset/big-poems-march.md
  packages/astro/src/content/template/types.d.ts
Labels: core

#6770 Update client types to match Vite
  .changeset/fast-worms-agree.md
  packages/astro/client-base.d.ts
Labels: core

#6760 ci: correctly update comment
  .github/workflows/check-merge.yml
Labels: 🚨 action

#6756 Update react links
  examples/framework-multiple/README.md
Labels: example

#6774 Fix: remove `slug()` from `defineCollection()`
  .changeset/good-gorillas-compare.md
  packages/astro/src/content/template/types.d.ts
Labels: core

#6651 Use Deno API to set Astro.clientAddress
  .changeset/silver-avocados-drum.md
  packages/integrations/netlify/package.json
  packages/integrations/netlify/src/netlify-edge-functions.ts
  pnpm-lock.yaml
Labels: integration

#6779 Prevent body head content injection in MDX when using layout
  .changeset/smart-files-flow.md
  packages/astro/src/runtime/server/render/page.ts
  packages/integrations/mdx/src/index.ts
  packages/integrations/mdx/test/css-head-mdx.test.js
  packages/integrations/mdx/test/fixtures/css-head-mdx/src/components/BasicBlock.astro
  packages/integrations/mdx/test/fixtures/css-head-mdx/src/layouts/DocumentLayout.astro
  packages/integrations/mdx/test/fixtures/css-head-mdx/src/pages/componentwithtext.mdx
Labels: integration, core

#6781 Fix: `astro:server:setup` middleware
  .changeset/wet-chefs-love.md
  packages/astro/src/core/create-vite.ts
  packages/astro/src/core/dev/container.ts
  packages/astro/src/vite-plugin-integrations-container/index.ts
  packages/astro/test/fixtures/integration-server-setup/astro.config.mjs
  packages/astro/test/fixtures/integration-server-setup/integration.js
  packages/astro/test/fixtures/integration-server-setup/package.json
  packages/astro/test/integration-server-setup.test.js
  pnpm-lock.yaml
Labels: core

#6783 Fix Tailwind README code block
  packages/integrations/tailwind/README.md
Labels: integration

#6776 Revert vercel env fix
  .changeset/shaggy-chefs-build.md
  packages/integrations/vercel/src/analytics.ts
Labels: integration

#6793 Fix no edge functions deployed to netlify
  .changeset/strong-hairs-sort.md
  packages/integrations/netlify/src/integration-edge-functions.ts
  packages/integrations/netlify/test/edge-functions/prerender.test.ts
Labels: integration

#6773 Optional `Sizes` prop on Picture component
  .changeset/breezy-roses-smash.md
  packages/integrations/image/components/Picture.astro
  packages/integrations/image/components/index.ts
Labels: integration

#6812 Add more tsconfig alias tests
  packages/astro/test/alias-tsconfig.test.js
  packages/astro/test/fixtures/alias-tsconfig/deps/namespace-package/index.js
  packages/astro/test/fixtures/alias-tsconfig/deps/namespace-package/package.json
  packages/astro/test/fixtures/alias-tsconfig/package.json
  packages/astro/test/fixtures/alias-tsconfig/src/components/Foo.astro
  packages/astro/test/fixtures/alias-tsconfig/src/components/Style.astro
  packages/astro/test/fixtures/alias-tsconfig/src/pages/index.astro
  packages/astro/test/fixtures/alias-tsconfig/src/styles/extra.css
  packages/astro/test/fixtures/alias-tsconfig/src/styles/main.css
  packages/astro/test/fixtures/alias-tsconfig/src/utils/constants.js
  packages/astro/test/fixtures/alias-tsconfig/tsconfig.json
  pnpm-lock.yaml
Labels: core

#6782 fix(error-overlay): force error overlay direction to be LTR
  .changeset/beige-humans-study.md
  packages/astro/src/core/errors/overlay.ts
Labels: core

#6811 Fix check CLI fs load fallback behaviour
  .changeset/angry-experts-compete.md
  packages/astro/src/cli/check/index.ts
  packages/astro/src/vite-plugin-load-fallback/index.ts
Labels: core

#6765 Fix experimental.assets's Squoosh service not working on Netlify and Vercel SSR
  .changeset/bright-laws-drum.md
  packages/astro/src/assets/services/vendor/squoosh/avif/avif_node_dec.wasm.ts
  packages/astro/src/assets/services/vendor/squoosh/avif/avif_node_enc.wasm.ts
  packages/astro/src/assets/services/vendor/squoosh/codecs.ts
  packages/astro/src/assets/services/vendor/squoosh/copy-wasm.ts
  packages/astro/src/assets/services/vendor/squoosh/emscripten-utils.ts
  packages/astro/src/assets/services/vendor/squoosh/mozjpeg/mozjpeg_node_dec.wasm.ts
  packages/astro/src/assets/services/vendor/squoosh/mozjpeg/mozjpeg_node_enc.wasm.ts
  packages/astro/src/assets/services/vendor/squoosh/png/squoosh_oxipng_bg.wasm.ts
  packages/astro/src/assets/services/vendor/squoosh/png/squoosh_png_bg.wasm.ts
  packages/astro/src/assets/services/vendor/squoosh/resize/squoosh_resize_bg.wasm.ts
  packages/astro/src/assets/services/vendor/squoosh/rotate/rotate.wasm.ts
  packages/astro/src/assets/services/vendor/squoosh/webp/webp_node_dec.wasm.ts
  packages/astro/src/assets/services/vendor/squoosh/webp/webp_node_enc.wasm.ts
  packages/astro/src/assets/vite-plugin-assets.ts
  packages/astro/src/core/build/generate.ts
Labels: core

#6819 Fix slot fallbacks unexpectedly showing up in some cases
  .changeset/healthy-experts-worry.md
  packages/astro/src/runtime/server/render/slot.ts
  packages/astro/test/astro-slots.test.js
  packages/astro/test/fixtures/astro-slots/src/components/Fallback2.astro
  packages/astro/test/fixtures/astro-slots/src/pages/fallback-override.astro
Labels: core

#6582 Fix CSS chunking between multiple framework components
  .changeset/violet-islands-buy.md
  packages/astro/src/core/build/plugins/plugin-css.ts
  packages/astro/test/astro-client-only.test.js
  packages/astro/test/css-order-import.test.js
  packages/astro/test/fixtures/css-order-import/astro.config.mjs
  packages/astro/test/fixtures/css-order-import/package.json
  packages/astro/test/fixtures/css-order-import/src/components/Client1.jsx
  packages/astro/test/fixtures/css-order-import/src/components/Client2.jsx
  packages/astro/test/fixtures/css-order-import/src/components/Dedupe.jsx
  packages/astro/test/fixtures/css-order-import/src/pages/component.astro
  packages/astro/test/fixtures/css-order-import/src/pages/dedupe.astro
  packages/astro/test/fixtures/css-order-import/src/pages/index.astro
  packages/astro/test/fixtures/css-order-import/src/styles/AstroJsx.css
  packages/astro/test/fixtures/css-order-import/src/styles/Client1.css
  packages/astro/test/fixtures/css-order-import/src/styles/Client2.css
  pnpm-lock.yaml
Labels: core

#6822 chore: update `xml2js` version
  packages/integrations/sitemap/package.json
  pnpm-lock.yaml
Labels: integration

#6517 Added a caution about rewrites only working for static files
  packages/integrations/vercel/README.md
Labels: integration

#6544 fix #6420
  .changeset/moody-points-reflect.md
  packages/astro/src/core/build/static-build.ts
  packages/astro/test/custom-assets-name.test.js
  packages/astro/test/fixtures/custom-assets-name/astro.config.mjs
  packages/astro/test/fixtures/custom-assets-name/package.json
  packages/astro/test/fixtures/custom-assets-name/src/pages/index.astro
  pnpm-lock.yaml
Labels: core

#6825 fix(content): Remove unsupported file warning for images
  .changeset/sweet-cows-eat.md
  packages/astro/src/assets/consts.ts
  packages/astro/src/assets/services/service.ts
  packages/astro/src/assets/types.ts
  packages/astro/src/content/types-generator.ts
  packages/astro/src/content/utils.ts
  packages/astro/src/content/vite-plugin-content-imports.ts
  packages/astro/test/units/content-collections/get-entry-type.test.js
Labels: core

#6824 feat(mdx): Add support for turning ![]() into <Image>
  .changeset/giant-squids-pull.md
  packages/integrations/mdx/src/plugins.ts
  packages/integrations/mdx/src/remark-images-to-component.ts
  packages/integrations/mdx/test/fixtures/mdx-images/astro.config.ts
  packages/integrations/mdx/test/fixtures/mdx-images/package.json
  packages/integrations/mdx/test/fixtures/mdx-images/src/assets/houston in space.webp
  packages/integrations/mdx/test/fixtures/mdx-images/src/assets/houston.webp
  packages/integrations/mdx/test/fixtures/mdx-images/src/pages/index.mdx
  packages/integrations/mdx/test/mdx-images.test.js
  packages/markdown/remark/src/index.ts
  packages/markdown/remark/src/remark-collect-images.ts
  pnpm-lock.yaml
Labels: markdown, integration

#6816 Support tsconfig aliases in CSS `@import`
  .changeset/metal-guests-tickle.md
  packages/astro/src/vite-plugin-config-alias/index.ts
  packages/astro/test/alias-tsconfig.test.js
  packages/astro/test/fixtures/alias-tsconfig/src/components/Alias.svelte
  packages/astro/test/fixtures/alias-tsconfig/src/pages/index.astro
Labels: core, semver minor

#6836 Ensure unique workspace name
  packages/astro/e2e/fixtures/astro-envs/package.json
  packages/astro/e2e/fixtures/preact-compat-component/package.json
  packages/astro/e2e/fixtures/vue-component/package.json
  packages/astro/test/fixtures/content-collections-with-config-mjs/package.json
  packages/astro/test/fixtures/core-image-base/package.json
  packages/astro/test/fixtures/core-image-errors/package.json
  packages/astro/test/fixtures/css-assets/package.json
  packages/astro/test/fixtures/css-order-dynamic-import/package.json
  packages/astro/test/fixtures/error-build-location/package.json
  packages/astro/test/fixtures/root-srcdir-css/package.json
  packages/astro/test/fixtures/static-build-ssr/package.json
  packages/integrations/image/test/fixtures/rotation/package.json
  packages/integrations/image/test/fixtures/squoosh-service/package.json
  packages/integrations/node/test/fixtures/prerender/package.json
  packages/integrations/prefetch/test/fixtures/style-prefetch/package.json
Labels: integration, core

#6840 Fix warning syntax in Vercel integration README
  .changeset/wet-schools-clap.md
  packages/integrations/vercel/README.md
Labels: integration

#6841 Fix vercel edge private env vars
  .changeset/blue-moons-cough.md
  packages/integrations/vercel/src/edge/adapter.ts
Labels: integration

#6862 fix: astro island urls missing assetsPrefix in SSR mode
  .changeset/large-pens-rhyme.md
  packages/astro/src/core/app/index.ts
  packages/astro/src/core/app/types.ts
  packages/astro/src/core/build/plugins/plugin-ssr.ts
  packages/astro/test/astro-assets-prefix.test.js
Labels: core

#6859 Fix Astro.params does not contain path parameter from URL with non-English characters
  .changeset/few-cats-beam.md
  packages/astro/src/core/render/core.ts
  packages/astro/test/fixtures/ssr-params/src/pages/東西/[category].astro
  packages/astro/test/ssr-params.test.js
Labels: core

#6864 docs: add the right `npm` command regarding `astro --help` for examples' `README.md` files
  examples/basics/README.md
  examples/blog/README.md
  examples/deno/README.md
  examples/docs/README.md
  examples/hackernews/README.md
  examples/minimal/README.md
  examples/non-html-pages/README.md
  examples/portfolio/README.md
  examples/with-markdoc/README.md
  examples/with-vite-plugin-pwa/README.md
Labels: example

#6874 Align adapter setup
  .changeset/hungry-lizards-float.md
  packages/integrations/vercel/src/static/adapter.ts
Labels: integration

#6838 Cleanup CI logs and run windows on node16 only
  .github/workflows/ci.yml
  packages/astro/src/runtime/server/endpoint.ts
  packages/astro/test/api-routes.test.js
  packages/astro/test/astro-envs.test.js
  packages/astro/test/dev-routing.test.js
  packages/astro/test/dynamic-endpoint-collision.js
  packages/astro/test/error-bad-js.test.js
  packages/astro/test/error-non-error.test.js
  packages/astro/test/fixtures/api-routes/src/pages/old-api/onearg/[param].json.js
  packages/astro/test/fixtures/api-routes/src/pages/old-api/twoarg/[param].json.js
  packages/astro/test/fixtures/component-library/package.json
  packages/astro/test/fixtures/slots-svelte/src/components/Counter.svelte
  packages/astro/test/fixtures/ssr-api-route/src/pages/food.json.js
  packages/astro/test/fixtures/static-build/src/pages/data/[slug].json.ts
  packages/astro/test/fixtures/with-endpoint-routes/src/pages/[slug].json.ts
  packages/astro/test/fixtures/with-endpoint-routes/src/pages/data/[slug].json.ts
  packages/astro/test/react-component.test.js
  packages/astro/test/root-srcdir-css.test.js
  packages/astro/test/test-utils.js
  packages/webapi/test/fetch.js
  pnpm-lock.yaml
Labels: 🚨 action, core

#6872 Fix hoisted scripts path for linked package Astro components
  .changeset/hungry-houses-arrive.md
  packages/astro/e2e/astro-component.test.js
  packages/astro/e2e/fixtures/_deps/astro-linked-lib/HoistedScript.astro
  packages/astro/e2e/fixtures/_deps/astro-linked-lib/package.json
  packages/astro/e2e/fixtures/astro-component/src/pages/index.astro
  packages/astro/src/core/util.ts
Labels: core

#6897 chore: cleanup code
  packages/astro/src/core/build/generate.ts
  packages/astro/src/core/build/plugins/plugin-ssr.ts
Labels: core

#6902 Disable Vite optimizer for sync and config loading
  .changeset/shiny-roses-tap.md
  packages/astro/src/core/config/vite-load.ts
  packages/astro/src/core/sync/index.ts
Labels: core

#6911 Upgrade turbo
  .github/workflows/ci.yml
  .gitignore
  package.json
  packages/astro/test/fixtures/css-assets/package.json
  packages/astro/test/fixtures/css-assets/packages/font-awesome/package.json
  packages/astro/test/fixtures/css-assets/src/pages/one.astro
  packages/astro/test/fixtures/css-assets/src/pages/two.astro
  packages/astro/test/fixtures/multiple-renderers/astro.config.mjs
  packages/astro/test/fixtures/multiple-renderers/package.json
  packages/astro/test/fixtures/multiple-renderers/renderers/one/index.mjs
  packages/astro/test/fixtures/multiple-renderers/renderers/one/package.json
  packages/astro/test/fixtures/multiple-renderers/renderers/two/index.mjs
  packages/astro/test/fixtures/multiple-renderers/renderers/two/package.json
  packages/integrations/mdx/test/fixtures/mdx-images/package.json
  packages/markdown/component/test/fixtures/astro-markdown-plugins/package.json
  packages/markdown/component/test/fixtures/astro-markdown-shiki/langs/package.json
  packages/markdown/component/test/fixtures/astro-markdown-shiki/normal/package.json
  packages/markdown/component/test/fixtures/astro-markdown-shiki/package.json
  packages/markdown/component/test/fixtures/astro-markdown-shiki/themes-custom/package.json
  packages/markdown/component/test/fixtures/astro-markdown-shiki/themes-integrated/package.json
  packages/markdown/component/test/fixtures/astro-markdown-shiki/wrap-false/package.json
  packages/markdown/component/test/fixtures/astro-markdown-shiki/wrap-null/package.json
  packages/markdown/component/test/fixtures/astro-markdown-shiki/wrap-true/package.json
  packages/markdown/component/test/fixtures/astro-markdown/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  turbo.json
Labels: markdown, 🚨 action, integration, core

#6917 Fix changeset version run
  .changeset/config.json
  packages/create-astro/test/fixtures/not-empty/package.json
Labels: create-astro

#6920 Fix tsconfig alias baseUrl handling for "." and ".." imports
  .changeset/funny-plums-drum.md
  packages/astro/src/vite-plugin-config-alias/index.ts
  packages/astro/test/alias-tsconfig.test.js
  packages/astro/test/fixtures/alias-tsconfig/src/pages/index.astro
  packages/astro/test/fixtures/alias-tsconfig/src/utils/constants.js
  packages/astro/test/fixtures/alias-tsconfig/src/utils/index.js
Labels: core

#6921 Speed up docs smoke tests
  .github/workflows/ci.yml
Labels: 🚨 action

#6848 feat(image): Update image service config to allow passing settings to the service
  .changeset/tall-news-hang.md
  packages/astro/src/@types/astro.ts
  packages/astro/src/assets/image-endpoint.ts
  packages/astro/src/assets/index.ts
  packages/astro/src/assets/internal.ts
  packages/astro/src/assets/services/service.ts
  packages/astro/src/assets/vite-plugin-assets.ts
  packages/astro/src/core/config/schema.ts
  packages/astro/test/core-image.test.js
  packages/astro/test/fixtures/core-image/service.mjs
Labels: core

#6925 Add missing code language in Cloudflare README
  .changeset/tidy-singers-thank.md
  packages/integrations/cloudflare/README.md
Labels: integration

#6929 Upgrade undici to v5.22.0
  .changeset/polite-pears-kneel.md
  packages/astro/package.json
  packages/integrations/node/package.json
  packages/telemetry/package.json
  packages/webapi/package.json
  pnpm-lock.yaml
Labels: integration, core

#6930 Update dependencies to remove peer dep warnings
  .changeset/wise-steaks-wash.md
  examples/with-tailwindcss/package.json
  packages/astro/e2e/fixtures/tailwindcss/package.json
  packages/astro/test/fixtures/postcss/package.json
  packages/astro/test/fixtures/tailwindcss-ts/package.json
  packages/astro/test/fixtures/tailwindcss/package.json
  packages/integrations/svelte/package.json
  packages/integrations/tailwind/package.json
  pnpm-lock.yaml
Labels: framework-svelte, example, integration, core
