Repository withastro/astro, pull requests merged in 2023-08, with the labels that each got.

#7885 Fix incorrect build path logging for 404.astro pages
  .changeset/cuddly-snails-boil.md
  packages/astro/src/core/util.ts
Labels: pkg: astro

#7888 Make Astro.cookies.get(key) return undefined
  .changeset/twenty-cheetahs-deny.md
  packages/astro/src/core/cookies/cookies.ts
  packages/astro/test/units/cookies/delete.test.js
  packages/astro/test/units/cookies/get.test.js
Labels: pkg: astro

#7879 Refactor and improve Astro config loading flow
  .changeset/twenty-oranges-poke.md
  packages/astro/e2e/errors.test.js
  packages/astro/e2e/test-utils.js
  packages/astro/src/@types/astro.ts
  packages/astro/src/cli/add/index.ts
  packages/astro/src/cli/build/index.ts
  packages/astro/src/cli/check/index.ts
  packages/astro/src/cli/dev/index.ts
  packages/astro/src/cli/flags.ts
  packages/astro/src/cli/index.ts
  packages/astro/src/cli/info/index.ts
  packages/astro/src/cli/load-settings.ts
  packages/astro/src/cli/preview/index.ts
  packages/astro/src/cli/sync/index.ts
  packages/astro/src/cli/throw-and-exit.ts
  packages/astro/src/config/index.ts
  packages/astro/src/core/build/index.ts
  packages/astro/src/core/config/config.ts
  packages/astro/src/core/config/index.ts
  packages/astro/src/core/config/logging.ts
  packages/astro/src/core/config/settings.ts
  packages/astro/src/core/dev/container.ts
  packages/astro/src/core/dev/dev.ts
  packages/astro/src/core/dev/index.ts
  packages/astro/src/core/dev/restart.ts
  packages/astro/src/core/errors/errors.ts
  packages/astro/src/core/preview/index.ts
  packages/astro/src/core/sync/index.ts
  packages/astro/test/astro-markdown-url.test.js
  packages/astro/test/astro-sync.test.js
  packages/astro/test/client-address.test.js
  packages/astro/test/dev-routing.test.js
  packages/astro/test/dynamic-endpoint-collision.test.js
  packages/astro/test/error-bad-js.test.js
  packages/astro/test/error-non-error.test.js
  packages/astro/test/preview-routing.test.js
  packages/astro/test/react-component.test.js
  packages/astro/test/test-utils.js
  packages/astro/test/units/config/config-server.test.js
  packages/astro/test/units/config/config-validate.test.js
  packages/astro/test/units/config/format.test.js
  packages/astro/test/units/content-collections/frontmatter.test.js
  packages/astro/test/units/dev/base.test.js
  packages/astro/test/units/dev/collections-mixed-content-errors.test.js
  packages/astro/test/units/dev/collections-renderentry.test.js
  packages/astro/test/units/dev/dev.test.js
  packages/astro/test/units/dev/head-injection.test.js
  packages/astro/test/units/dev/hydration.test.js
  packages/astro/test/units/dev/restart.test.js
  packages/astro/test/units/render/components.test.js
  packages/astro/test/units/routing/manifest.test.js
  packages/astro/test/units/routing/route-matching.test.js
  packages/astro/test/units/shiki/shiki.test.js
  packages/astro/test/units/test-utils.js
  packages/astro/test/units/vite-plugin-astro-server/request.test.js
  packages/integrations/mdx/test/mdx-get-static-paths.test.js
  packages/integrations/mdx/test/mdx-plugins.test.js
Labels: pkg: integration, pkg: astro

#7894 chore: use workspace packages
  packages/astro/package.json
  packages/integrations/markdoc/package.json
  packages/integrations/mdx/package.json
  packages/integrations/vercel/package.json
  pnpm-lock.yaml
Labels: pkg: integration, pkg: astro

#7895 Fix streaming Astro components
  .changeset/new-ants-speak.md
  packages/astro/src/runtime/server/render/component.ts
  packages/astro/test/streaming.test.js
Labels: pkg: astro

#7899 fix: update examples to use the new API of cookies
  examples/ssr/src/pages/cart.astro
  packages/astro/test/fixtures/astro-cookies/src/pages/early-return.astro
  packages/astro/test/fixtures/astro-cookies/src/pages/get-json.astro
Labels: pkg: example, pkg: astro

#7754 Refactor 404 and 500 approach
  .changeset/big-suns-wave.md
  .changeset/heavy-cooks-laugh.md
  .changeset/rich-toys-jog.md
  packages/astro/src/core/app/index.ts
  packages/astro/test/fixtures/ssr-prerender-404/package.json
  packages/astro/test/fixtures/ssr-prerender-404/src/pages/404.astro
  packages/astro/test/fixtures/ssr-prerender-404/src/pages/static.astro
  packages/astro/test/fixtures/ssr-response/src/pages/status-code.astro
  packages/astro/test/ssr-prerender-404.test.js
  packages/astro/test/ssr-response.test.js
  packages/integrations/netlify/src/netlify-edge-functions.ts
  packages/integrations/netlify/src/netlify-functions.ts
  packages/integrations/node/src/nodeMiddleware.ts
  packages/integrations/node/test/fixtures/node-middleware/src/pages/404.astro
  packages/integrations/node/test/fixtures/prerender-404/package.json
  packages/integrations/node/test/fixtures/prerender-404/src/pages/404.astro
  packages/integrations/node/test/fixtures/prerender-404/src/pages/static.astro
  packages/integrations/node/test/node-middleware.test.js
  packages/integrations/node/test/prerender-404.test.js
  packages/integrations/vercel/src/edge/entrypoint.ts
  packages/integrations/vercel/src/serverless/entrypoint.ts
  pnpm-lock.yaml
Labels: pkg: integration, pkg: astro

#7900 Setup cleanup cache workflow
  .github/workflows/cleanup-cache.yml
Labels: 🚨 action

#7902 Fix prefetch test fail
  packages/integrations/prefetch/test/custom-selectors.test.js
Labels: pkg: integration

#7887 feat: add logging for when hydrate's JSON parse fails
  .changeset/gorgeous-starfishes-serve.md
  packages/astro/src/runtime/server/astro-island.ts
Labels: pkg: astro

#7908 feat: make Sharp the default image service
  .changeset/four-houses-compete.md
  packages/astro/package.json
  packages/astro/src/@types/astro.ts
  packages/astro/src/core/config/schema.ts
  pnpm-lock.yaml
Labels: pkg: astro

#7909 Fix: Content Collections - Ignore `.json` files nested in non-underscored subdirectories within underscored directories
  .changeset/yellow-insects-tell.md
  packages/astro/src/content/vite-plugin-content-virtual-mod.ts
  packages/astro/test/fixtures/content-collections/src/content/with-schema-config/_ignore/ignore/file.md
Labels: pkg: astro

#7708 Fix "res.writeHead is not a function" in Express/node middleware
  .changeset/olive-knives-rush.md
  packages/integrations/node/src/nodeMiddleware.ts
  packages/integrations/node/src/types.ts
Labels: pkg: integration

#7729 feat: add cache headers to assets in Vercel adapter
  .changeset/tidy-tips-doubt.md
  packages/integrations/vercel/src/edge/adapter.ts
  packages/integrations/vercel/src/serverless/adapter.ts
  packages/integrations/vercel/src/static/adapter.ts
  packages/integrations/vercel/test/fixtures/static-assets/astro.config.mjs
  packages/integrations/vercel/test/fixtures/static-assets/package.json
  packages/integrations/vercel/test/fixtures/static-assets/src/pages/index.astro
  packages/integrations/vercel/test/split.test.js
  packages/integrations/vercel/test/static-assets.test.js
  pnpm-lock.yaml
Labels: pkg: integration, pkg: vercel

#7821 Fix astro/app import
  .changeset/four-ways-tap.md
  packages/astro/src/core/app/index.ts
  packages/astro/test/import-app.test.js
  pnpm-lock.yaml
Labels: pkg: astro

#7901 Improve sourcemap generation and performance
  .changeset/wise-glasses-hang.md
  packages/astro/package.json
  packages/astro/src/assets/vite-plugin-assets.ts
  packages/astro/src/vite-plugin-astro-postprocess/index.ts
  packages/astro/src/vite-plugin-env/index.ts
  packages/astro/src/vite-plugin-html/transform/index.ts
  packages/astro/src/vite-plugin-scripts/page-ssr.ts
  packages/integrations/image/package.json
  packages/integrations/image/src/vite-plugin-astro-image.ts
  packages/webapi/package.json
  pnpm-lock.yaml
Labels: pkg: integration, pkg: astro

#7904 Refactor MDX components exports handling
  .changeset/loud-candles-admire.md
  .changeset/young-roses-teach.md
  packages/astro/src/core/render/core.ts
  packages/integrations/mdx/src/index.ts
Labels: pkg: integration, pkg: astro

#7911 Fix scroll position in view transition (#7882)
  .changeset/witty-bikes-relate.md
  packages/astro/components/ViewTransitions.astro
Labels: pkg: astro

#7903 feat: add noop service and make integrations that needs it use it
  .changeset/heavy-walls-arrive.md
  packages/astro/package.json
  packages/astro/src/assets/services/noop.ts
  packages/astro/src/integrations/astroFeaturesValidation.ts
  packages/astro/src/integrations/index.ts
Labels: pkg: astro

#7861 Persistent DOM in ViewTransitions
  .changeset/empty-experts-unite.md
  packages/astro/components/ViewTransitions.astro
  packages/astro/e2e/fixtures/view-transitions/astro.config.mjs
  packages/astro/e2e/fixtures/view-transitions/package.json
  packages/astro/e2e/fixtures/view-transitions/src/components/Island.css
  packages/astro/e2e/fixtures/view-transitions/src/components/Island.jsx
  packages/astro/e2e/fixtures/view-transitions/src/components/Video.astro
  packages/astro/e2e/fixtures/view-transitions/src/pages/island-one.astro
  packages/astro/e2e/fixtures/view-transitions/src/pages/island-two.astro
  packages/astro/e2e/fixtures/view-transitions/src/pages/video-one.astro
  packages/astro/e2e/fixtures/view-transitions/src/pages/video-two.astro
  packages/astro/e2e/view-transitions.test.js
  packages/astro/package.json
  packages/astro/src/@types/astro.ts
  packages/astro/src/core/compile/compile.ts
  packages/astro/src/runtime/server/hydration.ts
  packages/astro/src/runtime/server/transition.ts
  pnpm-lock.yaml
Labels: pkg: astro, semver: minor

#7917 Fix failed server restart calling integration hooks twice
  .changeset/metal-chairs-beam.md
  packages/astro/src/core/dev/container.ts
  packages/astro/src/core/dev/index.ts
  packages/astro/src/core/dev/restart.ts
  packages/astro/test/units/dev/restart.test.js
Labels: pkg: astro

#7926 Make the image decorative
  examples/basics/src/pages/index.astro
Labels: pkg: example

#7935 Fix duplicate slash handling
  .changeset/clean-tools-yawn.md
  .changeset/flat-toes-fold.md
  packages/astro/src/core/app/index.ts
  packages/astro/src/vite-plugin-astro-server/request.ts
  packages/astro/test/fixtures/ssr-request/src/pages/request.astro
  packages/astro/test/ssr-request.test.js
  packages/internal-helpers/src/path.ts
Labels: pkg: astro

#7936 Export createTransitionScope from the runtime
  .changeset/metal-owls-juggle.md
  packages/astro/src/runtime/server/index.ts
Labels: pkg: astro

#7938 Visual updates to 404
  packages/astro/src/template/4xx.ts
Labels: pkg: astro

#7939 Handle error state for version
  .changeset/late-falcons-dream.md
  packages/create-astro/src/actions/intro.ts
  packages/create-astro/src/messages.ts
Labels: pkg: create-astro

#7950 Fix node test fail
  packages/integrations/node/test/bad-urls.test.js
  packages/integrations/node/test/fixtures/api-route/src/pages/binary.ts
  packages/integrations/node/test/fixtures/api-route/src/pages/recipes.js
  packages/integrations/node/test/fixtures/headers/src/pages/endpoints/astro-cookies-multi.ts
  packages/integrations/node/test/fixtures/headers/src/pages/endpoints/astro-cookies-single.ts
  packages/integrations/node/test/fixtures/headers/src/pages/endpoints/astro-response-cookie-multi.ts
  packages/integrations/node/test/fixtures/headers/src/pages/endpoints/astro-response-cookie-single.ts
  packages/integrations/node/test/fixtures/headers/src/pages/endpoints/kitchen-sink.ts
  packages/integrations/node/test/fixtures/headers/src/pages/endpoints/response-cookies-multi.ts
  packages/integrations/node/test/fixtures/headers/src/pages/endpoints/response-cookies-single.ts
  packages/integrations/node/test/fixtures/headers/src/pages/endpoints/response-empty-headers-object.ts
  packages/integrations/node/test/fixtures/headers/src/pages/endpoints/response-undefined-headers-object.ts
  packages/integrations/node/test/fixtures/headers/src/pages/endpoints/simple.ts
  packages/integrations/node/test/image.test.js
Labels: pkg: integration

#7954 fix broken partytown GitHub link
  packages/integrations/partytown/README.md
Labels: pkg: integration

#7945 Fix race condition when performing swap for fallback
  .changeset/cold-maps-report.md
  packages/astro/components/ViewTransitions.astro
Labels: pkg: astro

#7959 chore: update Deno server import path
  packages/integrations/deno/README.md
Labels: pkg: integration

#7949 feat: break down AstroErrorData in multiple objects
  .github/workflows/ci.yml
  packages/astro/src/content/types-generator.ts
  packages/astro/src/content/vite-plugin-content-imports.ts
  packages/astro/src/core/compile/compile.ts
  packages/astro/src/core/compile/style.ts
  packages/astro/src/core/errors/README.md
  packages/astro/src/core/errors/dev/vite.ts
  packages/astro/src/core/errors/errors-data.ts
  packages/astro/src/core/errors/errors.ts
  packages/astro/src/core/errors/index.ts
  packages/astro/src/core/errors/utils.ts
  packages/astro/src/jsx/babel.ts
  packages/astro/src/transitions/vite-plugin-transitions.ts
  packages/astro/src/vite-plugin-markdown/index.ts
  packages/astro/test/events.test.js
Labels: 🚨 action, pkg: astro

#7960 docs: Update Lit README.md
  packages/integrations/lit/README.md
Labels: pkg: lit, pkg: integration

#7963 Add timeout for check CI
  .github/workflows/check.yml
Labels: 🚨 action

#7961 ci: enable codegen errors job
  .github/workflows/ci.yml
Labels: 🚨 action

#7977 Fix inline root resolve logic
  .changeset/quick-eagles-impress.md
  packages/astro/src/core/config/config.ts
  packages/astro/test/units/config/config-resolve.test.js
Labels: pkg: astro

#7943 Fix `injectRoute`
  .changeset/stupid-pants-press.md
  packages/astro/src/@types/astro.ts
  packages/astro/src/core/config/settings.ts
  packages/astro/src/core/util.ts
  packages/astro/src/vite-plugin-integrations-container/index.ts
Labels: pkg: astro

#7946 Fix missing CSS when 404 server Response redirects to a custom 404 page
  .changeset/great-spoons-try.md
  packages/astro/src/core/app/index.ts
  packages/astro/test/fixtures/ssr-api-route-custom-404/src/content/pages/index.md
  packages/astro/test/fixtures/ssr-api-route-custom-404/src/pages/404.astro
  packages/astro/test/fixtures/ssr-api-route-custom-404/src/pages/blog/[...ssrPath].astro
  packages/astro/test/fixtures/ssr-api-route-custom-404/src/styles/main.css
  packages/astro/test/ssr-404-500-pages.test.js
Labels: pkg: astro

#7915 Added slashes at the end of the filter option in the sitemap docs
  packages/integrations/sitemap/README.md
Labels: pkg: integration

#7985 Fix formatting in Lit README
  .changeset/dirty-peaches-rescue.md
  packages/integrations/lit/README.md
Labels: pkg: lit, pkg: integration

#7984 Add screen reader text to example blog footer
  examples/blog/src/components/Footer.astro
Labels: pkg: example

#7986 Ensure `injectRoute` works during build
  .changeset/red-bikes-return.md
  packages/astro/src/core/create-vite.ts
  packages/astro/src/vite-plugin-integrations-container/index.ts
Labels: pkg: astro

#7987 chore: remove MDX integration from Tailwind example
  examples/with-tailwindcss/astro.config.mjs
  examples/with-tailwindcss/package.json
  examples/with-tailwindcss/src/pages/markdown-page.md
  examples/with-tailwindcss/src/pages/markdown-page.mdx
  pnpm-lock.yaml
Labels: pkg: example

#7980 Remove undici dep
  .changeset/violet-peaches-invent.md
  packages/astro/package.json
  packages/astro/test/ssr-api-route.test.js
  packages/astro/test/test-utils.js
  packages/integrations/node/package.json
  packages/integrations/node/src/response-iterator.ts
  packages/integrations/node/test/prerender-404.test.js
  packages/integrations/node/test/prerender.test.js
  packages/telemetry/package.json
  packages/telemetry/src/post.ts
  pnpm-lock.yaml
Labels: pkg: integration, pkg: astro

#7981 Remove StreamingCompatibleResponse polyfill
  .changeset/purple-buses-prove.md
  packages/astro/src/runtime/server/render/page.ts
  packages/astro/src/runtime/server/response.ts
Labels: pkg: astro

#7957 chore: update prettier to `3.0`
  .prettierrc.cjs
  examples/blog/src/content/blog/markdown-style-guide.md
  package.json
  packages/astro/astro-jsx.d.ts
  packages/astro/content-types.template.d.ts
  packages/astro/src/@types/astro.ts
  packages/astro/src/vite-plugin-head/index.ts
  packages/integrations/image/README.md
  packages/integrations/image/src/build/ssg.ts
  packages/integrations/node/src/response-iterator.ts
  packages/integrations/node/src/types.ts
  pnpm-lock.yaml
Labels: pkg: example, pkg: integration, pkg: astro

#7993 Add shorthand for Starlight templates to `create astro`
  .changeset/dry-pandas-flash.md
  packages/create-astro/src/actions/template.ts
Labels: pkg: create-astro

#8003 fix: `EndpointOutput` type with encoding `'binary'`
  .changeset/funny-glasses-bathe.md
  packages/astro/src/@types/astro.ts
  packages/astro/src/core/app/index.ts
  packages/astro/src/core/endpoint/index.ts
  packages/astro/src/vite-plugin-astro-server/route.ts
Labels: pkg: astro

#7878 Preserve base slash when trailingSlash ignore
  .changeset/six-grapes-look.md
  packages/astro/e2e/astro-envs.test.js
  packages/astro/src/@types/astro.ts
  packages/astro/src/core/build/generate.ts
  packages/astro/src/core/config/schema.ts
  packages/astro/test/astro-envs.test.js
  packages/astro/test/astro-global.test.js
  packages/astro/test/dev-routing.test.js
  packages/astro/test/preview-routing.test.js
  packages/astro/test/public-base-404.test.js
Labels: pkg: astro

#7998 Fix examples check hang
  .changeset/gentle-deers-yawn.md
  package.json
  packages/astro/src/cli/check/index.ts
  pnpm-lock.yaml
Labels: pkg: astro

#8006 docs: Fix error link in markdoc
  packages/integrations/markdoc/README.md
Labels: pkg: integration

#7995 Remove nested JSON.stringify from props serialization
  .changeset/great-icons-turn.md
  packages/astro/src/runtime/server/astro-island.ts
  packages/astro/src/runtime/server/serialize.ts
  packages/astro/test/serialize.test.js
Labels: pkg: astro

#7802 fixed image path and added markdown syntax in markdown-style-guide.md file
  examples/blog/src/content/blog/markdown-style-guide.md
Labels: pkg: example

#8007 Support Bun by adjusting how `@babel/plugin-transform-react-jsx` is imported.
  .changeset/quick-actors-sing.md
  packages/astro/src/jsx/renderer.ts
  packages/integrations/preact/src/index.ts
Labels: pkg: preact, pkg: integration, pkg: astro

#7846 more efficient _routes.json for cloudflare integration
  .changeset/breezy-frogs-learn.md
  packages/integrations/cloudflare/README.md
  packages/integrations/cloudflare/src/index.ts
  packages/integrations/cloudflare/test/fixtures/routesJson/astro.config.mjs
  packages/integrations/cloudflare/test/fixtures/routesJson/package.json
  packages/integrations/cloudflare/test/fixtures/routesJson/src/dynamicOnly/pages/another.astro
  packages/integrations/cloudflare/test/fixtures/routesJson/src/dynamicOnly/pages/index.astro
  packages/integrations/cloudflare/test/fixtures/routesJson/src/mixed/pages/a/[...rest].astro
  packages/integrations/cloudflare/test/fixtures/routesJson/src/mixed/pages/a/[id].astro
  packages/integrations/cloudflare/test/fixtures/routesJson/src/mixed/pages/a/endpoint.ts
  packages/integrations/cloudflare/test/fixtures/routesJson/src/mixed/pages/a/index.astro
  packages/integrations/cloudflare/test/fixtures/routesJson/src/mixed/pages/b/index.html
  packages/integrations/cloudflare/test/fixtures/routesJson/src/mixed/public/public.txt
  packages/integrations/cloudflare/test/fixtures/routesJson/src/staticOnly/pages/index.astro
  packages/integrations/cloudflare/test/prerender.test.js
  packages/integrations/cloudflare/test/routesJson.js
  pnpm-lock.yaml
Labels: pkg: integration

#8011 Move hoisted script analysis optimization as experimental
  .changeset/wild-jobs-tan.md
  packages/astro/src/@types/astro.ts
  packages/astro/src/core/build/plugins/index.ts
  packages/astro/src/core/build/plugins/plugin-analyzer.ts
  packages/astro/src/core/config/schema.ts
  packages/astro/test/hoisted-imports.test.js
Labels: pkg: astro

#8010 CollectionEntry type improvement
  packages/astro/content-types.template.d.ts
Labels: pkg: astro

#8020 refactor: add pipeline concept
  packages/astro/src/core/README.md
  packages/astro/src/core/app/index.ts
  packages/astro/src/core/app/ssrPipeline.ts
  packages/astro/src/core/build/generate.ts
  packages/astro/src/core/build/plugins/plugin-analyzer.ts
  packages/astro/src/core/cookies/index.ts
  packages/astro/src/core/cookies/response.ts
  packages/astro/src/core/endpoint/index.ts
  packages/astro/src/core/pipeline.ts
  packages/astro/src/core/render/context.ts
  packages/astro/src/core/render/core.ts
  packages/astro/src/core/render/index.ts
  packages/astro/src/vite-plugin-astro-server/route.ts
  packages/astro/test/units/render/head.test.js
  packages/astro/test/units/render/jsx.test.js
Labels: pkg: astro

#8013 View Transitions: do not animate same page navigation, but animate hash links to different pages
  .changeset/tender-tips-kneel.md
  packages/astro/components/ViewTransitions.astro
Labels: pkg: astro

#8019 Clear todos and remove css kebab handling
  .changeset/giant-plants-sip.md
  packages/astro/e2e/css-sourcemaps.test.js
  packages/astro/e2e/css.test.js
  packages/astro/e2e/multiple-frameworks.test.js
  packages/astro/src/cli/add/index.ts
  packages/astro/src/core/util.ts
  packages/astro/src/jsx/server.ts
  packages/astro/src/runtime/server/render/util.ts
  packages/astro/test/astro-external-files.test.js
Labels: pkg: astro

#8026 Update path to image in public/ to suppress warning
  examples/blog/src/content/blog/markdown-style-guide.md
Labels: pkg: example

#8027 Ensure dev server restart respects `base` removal
  .changeset/funny-eels-jog.md
  packages/astro/src/template/4xx.ts
  packages/astro/src/template/css.ts
  packages/astro/src/vite-plugin-astro-server/plugin.ts
Labels: pkg: astro

#8028 [create-astro] improve yarn berry support
  .changeset/nasty-olives-rush.md
  packages/create-astro/src/actions/dependencies.ts
Labels: pkg: create-astro

#8015 Remove the Vercel Edge adapter
  .changeset/plenty-keys-add.md
  packages/integrations/vercel/README.md
  packages/integrations/vercel/src/edge/adapter.ts
  packages/integrations/vercel/src/edge/entrypoint.ts
  packages/integrations/vercel/src/edge/shim.ts
  packages/integrations/vercel/test/static-assets.test.js
Labels: pkg: integration

#6928 Support `--host` for Node adapter preview
  .changeset/popular-spoons-behave.md
  packages/integrations/node/src/get-network-address.ts
  packages/integrations/node/src/preview.ts
  packages/integrations/node/src/standalone.ts
Labels: pkg: integration

#8029 Remove the Nelify Edge adapter
  .changeset/tame-files-glow.md
  packages/integrations/netlify/README.md
  packages/integrations/netlify/src/index.ts
  packages/integrations/netlify/src/integration-edge-functions.ts
  packages/integrations/netlify/src/netlify-edge-functions.ts
  packages/integrations/netlify/test/edge-functions/deps.ts
  packages/integrations/netlify/test/edge-functions/dynamic-import.test.ts
  packages/integrations/netlify/test/edge-functions/edge-basic.test.ts
  packages/integrations/netlify/test/edge-functions/fixtures/dynimport/astro.config.mjs
  packages/integrations/netlify/test/edge-functions/fixtures/dynimport/package.json
  packages/integrations/netlify/test/edge-functions/fixtures/dynimport/prod.js
  packages/integrations/netlify/test/edge-functions/fixtures/dynimport/src/components/Thing.astro
  packages/integrations/netlify/test/edge-functions/fixtures/dynimport/src/pages/index.astro
  packages/integrations/netlify/test/edge-functions/fixtures/edge-basic/astro.config.mjs
  packages/integrations/netlify/test/edge-functions/fixtures/edge-basic/package.json
  packages/integrations/netlify/test/edge-functions/fixtures/edge-basic/src/pages/index.astro
  packages/integrations/netlify/test/edge-functions/fixtures/edge-basic/src/pages/three.md
  packages/integrations/netlify/test/edge-functions/fixtures/edge-basic/src/pages/two.astro
  packages/integrations/netlify/test/edge-functions/fixtures/prerender/astro.config.mjs
  packages/integrations/netlify/test/edge-functions/fixtures/prerender/package.json
  packages/integrations/netlify/test/edge-functions/fixtures/prerender/src/pages/index.astro
  packages/integrations/netlify/test/edge-functions/fixtures/root-dynamic/astro.config.mjs
  packages/integrations/netlify/test/edge-functions/fixtures/root-dynamic/package.json
  packages/integrations/netlify/test/edge-functions/fixtures/root-dynamic/public/styles.css
  packages/integrations/netlify/test/edge-functions/fixtures/root-dynamic/src/pages/[...all].astro
  packages/integrations/netlify/test/edge-functions/prerender.test.ts
  packages/integrations/netlify/test/edge-functions/root-dynamic.test.ts
  packages/integrations/netlify/test/edge-functions/test-utils.ts
Labels: pkg: integration

#8036 fix: middleware entry point to not be set
  .changeset/rotten-flowers-know.md
  packages/astro/src/core/build/plugins/plugin-middleware.ts
  packages/astro/test/middleware.test.js
Labels: pkg: astro

#8033 Prevent script re-execution on page evaluation
  .changeset/lovely-impalas-pretend.md
  packages/astro/components/ViewTransitions.astro
  packages/astro/e2e/fixtures/view-transitions/src/components/Layout.astro
  packages/astro/e2e/view-transitions.test.js
Labels: pkg: astro

#8039 Prevent Vercel NFT from scanning /dev
  .changeset/fast-penguins-sleep.md
  packages/integrations/vercel/src/lib/nft.ts
Labels: pkg: integration

#7975 Add Incremental Static Regeneration support for the Netlify's on-demand builders
  .changeset/sweet-cows-roll.md
  packages/integrations/netlify/README.md
  packages/integrations/netlify/builders-types.d.ts
  packages/integrations/netlify/package.json
  packages/integrations/netlify/src/netlify-functions.ts
  packages/integrations/netlify/test/functions/builders.test.js
  packages/integrations/netlify/test/functions/fixtures/builders/src/pages/index.astro
Labels: pkg: integration

#8040 docs(netlify): remove comma
  packages/integrations/netlify/README.md
Labels: pkg: integration

#8012 feat: expose user astro error
  .changeset/wild-bobcats-carry.md
  packages/astro/package.json
  packages/astro/src/core/errors/errors.ts
  packages/astro/src/core/errors/index.ts
  packages/astro/src/core/errors/userError.ts
  packages/astro/src/core/messages.ts
Labels: pkg: astro, semver: minor

#8042 Fix same-page transition with different query params
  .changeset/ten-parrots-burn.md
  packages/astro/components/ViewTransitions.astro
  packages/astro/e2e/fixtures/view-transitions/astro.config.mjs
  packages/astro/e2e/fixtures/view-transitions/package.json
  packages/astro/e2e/fixtures/view-transitions/src/pages/query.astro
  packages/astro/e2e/view-transitions.test.js
  pnpm-lock.yaml
Labels: pkg: astro

#8051 fix: Cleanup blog template images
  examples/blog/public/blog-placeholder-5.jpg
  examples/blog/public/placeholder-about.jpg
Labels: pkg: example

#8063 docs: fix github search link in README.md
  .changeset/lazy-pillows-burn.md
  packages/integrations/sitemap/README.md
Labels: pkg: integration

#8065 chore: Update README.md
  packages/integrations/netlify/README.md
Labels: pkg: integration

#8066 feat(assets): Add support for passing non-awaited imports to the Image component and `getImage`
  .changeset/odd-plants-tie.md
  packages/astro/client-base.d.ts
  packages/astro/src/assets/internal.ts
  packages/astro/src/assets/types.ts
  packages/astro/test/core-image.test.js
  packages/astro/test/fixtures/core-image/src/pages/inlineImport.astro
Labels: pkg: astro

#8030 Remove duplicate jsx export
  .changeset/quick-boats-bow.md
  packages/astro/package.json
Labels: pkg: astro

#8075 fix: prevent null prefixed results from React.useId when using client:only directive
  .changeset/thin-plums-drop.md
  packages/astro/e2e/fixtures/react-component/src/components/WithId.jsx
  packages/astro/e2e/fixtures/react-component/src/pages/index.astro
  packages/astro/e2e/react-component.test.js
  packages/integrations/react/client.js
Labels: pkg: react, pkg: integration, pkg: astro

#8077 Reduce `create-astro` dependencies
  .changeset/moody-houses-drum.md
  packages/create-astro/package.json
  packages/create-astro/src/actions/dependencies.ts
  packages/create-astro/src/actions/git.ts
  packages/create-astro/src/messages.ts
  packages/create-astro/src/shell.ts
  packages/create-astro/test/fixtures/not-empty/git.json
  packages/create-astro/test/git.test.js
  pnpm-lock.yaml
Labels: pkg: create-astro

#8079 fix(@astrojs/cloudflare): unsynced astro asset support flag
  .changeset/strong-papayas-chew.md
  packages/integrations/cloudflare/src/index.ts
Labels: pkg: integration

#8085 Export astro/compiler-runtime and cleanup exports
  .changeset/neat-owls-run.md
  packages/astro/package.json
  packages/astro/src/core/compile/compile.ts
  packages/astro/src/runtime/README.md
  packages/astro/src/runtime/compiler/index.ts
  packages/astro/src/runtime/server/index.ts
  packages/astro/src/vite-plugin-mdx/tag.ts
Labels: pkg: astro

#8086 Remove deepmerge-ts for simpler implementation
  packages/astro/package.json
  packages/astro/src/core/config/tsconfig.ts
  pnpm-lock.yaml
Labels: pkg: astro

#8068 Document SSG format and trailingSlash consistency
  packages/astro/src/@types/astro.ts
Labels: pkg: astro

#8084 Stream request body instead of buffering it in memory
  .changeset/lemon-lobsters-do.md
  packages/astro/src/core/app/node.ts
  packages/integrations/node/package.json
  packages/integrations/node/test/api-route.test.js
  packages/integrations/node/test/fixtures/api-route/src/pages/hash.ts
  pnpm-lock.yaml
Labels: pkg: integration, pkg: astro

#8035 fix: Removed extra double quotes from computed style in shiki code component
  .changeset/tall-owls-act.md
  packages/astro/components/Code.astro
Labels: pkg: astro

#8089 [create-astro] update shell logic
  .changeset/angry-balloons-argue.md
  packages/create-astro/src/shell.ts
Labels: pkg: create-astro

#8091 Handle noscript tags in head during ViewTransitions
  .changeset/shaggy-cameras-hide.md
  packages/astro/components/ViewTransitions.astro
Labels: pkg: astro

#8093 Update example to use `getEntry`
  examples/with-markdoc/src/pages/index.astro
Labels: pkg: example

#7291 Filter out Svelte's unknown class prop console warnings
  .changeset/big-elephants-drive.md
  packages/integrations/svelte/client.js
Labels: pkg: svelte, pkg: integration

#7921 feat: unflag experimental.assets
  .changeset/warm-weeks-yell.md
  packages/astro/client-base.d.ts
  packages/astro/client-image.d.ts
  packages/astro/client.d.ts
  packages/astro/e2e/fixtures/view-transitions/astro.config.mjs
  packages/astro/env.d.ts
  packages/astro/package.json
  packages/astro/src/@types/astro.ts
  packages/astro/src/assets/image-endpoint.ts
  packages/astro/src/assets/internal.ts
  packages/astro/src/cli/flags.ts
  packages/astro/src/content/types-generator.ts
  packages/astro/src/content/utils.ts
  packages/astro/src/content/vite-plugin-content-imports.ts
  packages/astro/src/core/build/generate.ts
  packages/astro/src/core/build/index.ts
  packages/astro/src/core/build/plugins/plugin-pages.ts
  packages/astro/src/core/build/plugins/plugin-prerender.ts
  packages/astro/src/core/config/config.ts
  packages/astro/src/core/config/schema.ts
  packages/astro/src/core/config/settings.ts
  packages/astro/src/core/create-vite.ts
  packages/astro/src/core/dev/container.ts
  packages/astro/src/core/routing/manifest/create.ts
  packages/astro/src/vite-plugin-inject-env-ts/index.ts
  packages/astro/src/vite-plugin-markdown/index.ts
  packages/astro/test/core-image.test.js
  packages/astro/test/fixtures/astro-assets-prefix/astro.config.mjs
  packages/astro/test/fixtures/astro-assets/src/pages/index.astro
  packages/astro/test/fixtures/content-collection-references/astro.config.mjs
  packages/astro/test/ssr-split-manifest.test.js
  packages/astro/test/units/content-collections/get-entry-type.test.js
  packages/integrations/cloudflare/test/prerender.test.js
  packages/integrations/cloudflare/test/routesJson.js
  packages/integrations/markdoc/package.json
  packages/integrations/markdoc/src/content-entry-type.ts
  packages/integrations/markdoc/src/runtime-assets-config.ts
  packages/integrations/markdoc/src/runtime.ts
  packages/integrations/markdoc/test/fixtures/image-assets/astro.config.mjs
  packages/integrations/mdx/src/index.ts
  packages/integrations/mdx/src/plugins.ts
  packages/integrations/mdx/test/fixtures/mdx-images/astro.config.ts
  packages/integrations/netlify/test/functions/prerender.test.js
  packages/integrations/netlify/test/functions/redirects.test.js
  packages/integrations/netlify/test/functions/redirects.test.js.snap
  packages/integrations/netlify/test/functions/split-support.test.js
  packages/integrations/netlify/test/hosted/hosted-astro-project/astro.config.mjs
  packages/integrations/node/test/image.test.js
  packages/integrations/vercel/src/image/shared.ts
  packages/integrations/vercel/src/serverless/adapter.ts
  packages/integrations/vercel/src/static/adapter.ts
  packages/integrations/vercel/test/edge-middleware.test.js
  packages/integrations/vercel/test/fixtures/image/astro.config.mjs
  packages/integrations/vercel/test/hosted/hosted-astro-project/astro.config.mjs
  packages/integrations/vercel/test/serverless-prerender.test.js
  packages/integrations/vercel/test/split.test.js
  packages/markdown/remark/src/index.ts
  packages/markdown/remark/src/types.ts
Labels: feat: markdown, pkg: integration, pkg: astro

#8098 chore(test): remove duplicates fixtures
  packages/astro/test/css-inline-stylesheets.test.js
  packages/astro/test/fixtures/css-inline-stylesheets/auto/package.json
  packages/astro/test/fixtures/css-inline-stylesheets/auto/src/components/Button.astro
  packages/astro/test/fixtures/css-inline-stylesheets/auto/src/content/en/endeavour.md
  packages/astro/test/fixtures/css-inline-stylesheets/auto/src/imported.css
  packages/astro/test/fixtures/css-inline-stylesheets/auto/src/layouts/Layout.astro
  packages/astro/test/fixtures/css-inline-stylesheets/auto/src/pages/index.astro
  packages/astro/test/fixtures/css-inline-stylesheets/never/package.json
  packages/astro/test/fixtures/css-inline-stylesheets/never/src/components/Button.astro
  packages/astro/test/fixtures/css-inline-stylesheets/never/src/content/en/endeavour.md
  packages/astro/test/fixtures/css-inline-stylesheets/never/src/imported.css
  packages/astro/test/fixtures/css-inline-stylesheets/never/src/layouts/Layout.astro
  packages/astro/test/fixtures/css-inline-stylesheets/never/src/pages/index.astro
  packages/astro/test/fixtures/css-inline-stylesheets/package.json
  packages/astro/test/fixtures/css-inline-stylesheets/src/components/Button.astro
  packages/astro/test/fixtures/css-inline-stylesheets/src/content/en/endeavour.md
  packages/astro/test/fixtures/css-inline-stylesheets/src/imported.css
  packages/astro/test/fixtures/css-inline-stylesheets/src/layouts/Layout.astro
  packages/astro/test/fixtures/css-inline-stylesheets/src/pages/index.astro
  pnpm-lock.yaml
Labels: pkg: astro

#8092 Cleanup dotfiles in dist
  .changeset/eleven-wasps-teach.md
  packages/astro/src/core/build/static-build.ts
Labels: pkg: astro

#8076 Refactor dependency usage
  packages/astro/package.json
  pnpm-lock.yaml
Labels: pkg: astro

#8088 refactor: build pipeline
  packages/astro/src/cli/add/index.ts
  packages/astro/src/core/app/ssrPipeline.ts
  packages/astro/src/core/build/buildPipeline.ts
  packages/astro/src/core/build/generate.ts
  packages/astro/src/core/build/internal.ts
  packages/astro/src/core/build/plugins/README.md
  packages/astro/src/core/build/plugins/index.ts
  packages/astro/src/core/build/plugins/plugin-manifest.ts
  packages/astro/src/core/build/plugins/plugin-ssr.ts
  packages/astro/src/core/build/static-build.ts
  packages/astro/src/core/logger/core.ts
  packages/astro/src/core/pipeline.ts
  packages/astro/src/prerender/utils.ts
  packages/astro/test/astro-assets-prefix.test.js
  packages/astro/test/ssr-hoisted-script.test.js
Labels: pkg: astro

#8082 Add experimentalReactChildren option to React integration
  .changeset/yellow-snakes-jam.md
  packages/astro/test/fixtures/react-component/src/components/WithChildren.jsx
  packages/integrations/react/README.md
  packages/integrations/react/package.json
  packages/integrations/react/server.js
  packages/integrations/react/src/index.ts
  packages/integrations/react/test/fixtures/react-component/astro.config.mjs
  packages/integrations/react/test/fixtures/react-component/package.json
  packages/integrations/react/test/fixtures/react-component/src/components/ArrowFunction.jsx
  packages/integrations/react/test/fixtures/react-component/src/components/CloneElement.jsx
  packages/integrations/react/test/fixtures/react-component/src/components/ForgotImport.jsx
  packages/integrations/react/test/fixtures/react-component/src/components/GetSearch.jsx
  packages/integrations/react/test/fixtures/react-component/src/components/Goodbye.vue
  packages/integrations/react/test/fixtures/react-component/src/components/Hello.jsx
  packages/integrations/react/test/fixtures/react-component/src/components/ImportsThrowsAnError.jsx
  packages/integrations/react/test/fixtures/react-component/src/components/LazyComponent.jsx
  packages/integrations/react/test/fixtures/react-component/src/components/PragmaComment.jsx
  packages/integrations/react/test/fixtures/react-component/src/components/PragmaCommentTypeScript.tsx
  packages/integrations/react/test/fixtures/react-component/src/components/PropsSpread.jsx
  packages/integrations/react/test/fixtures/react-component/src/components/Pure.jsx
  packages/integrations/react/test/fixtures/react-component/src/components/Research.jsx
  packages/integrations/react/test/fixtures/react-component/src/components/Suspense.jsx
  packages/integrations/react/test/fixtures/react-component/src/components/ThrowsAnError.jsx
  packages/integrations/react/test/fixtures/react-component/src/components/TypeScriptComponent.tsx
  packages/integrations/react/test/fixtures/react-component/src/components/WithChildren.jsx
  packages/integrations/react/test/fixtures/react-component/src/components/WithId.jsx
  packages/integrations/react/test/fixtures/react-component/src/pages/children.astro
  packages/integrations/react/test/fixtures/react-component/src/pages/error-rendering.astro
  packages/integrations/react/test/fixtures/react-component/src/pages/index.astro
  packages/integrations/react/test/fixtures/react-component/src/pages/pragma-comment.astro
  packages/integrations/react/test/fixtures/react-component/src/pages/suspense.astro
  packages/integrations/react/test/fixtures/react-component/src/skipped-pages/forgot-import.astro
  packages/integrations/react/test/fixtures/react-component/src/skipped-pages/window.astro
  packages/integrations/react/test/react-component.test.js
  packages/integrations/react/vnode-children.js
  pnpm-lock.yaml
Labels: pkg: react, pkg: integration, pkg: astro

#8061 Update build.inlineStylesheets docs
  packages/astro/src/@types/astro.ts
Labels: pkg: astro

#8104 Fix missing async/await in vite-plugin-integrations-container on astro:server:setup hook
  packages/astro/src/vite-plugin-integrations-container/index.ts
  packages/astro/test/fixtures/integration-server-setup/integration.js
Labels: pkg: astro

#8103 Fix flaky Cloudflare test
  packages/integrations/cloudflare/test/cf.test.js
  packages/integrations/cloudflare/test/fixtures/cf/src/pages/index.astro
  packages/integrations/cloudflare/test/fixtures/runtime/src/pages/index.astro
  packages/integrations/cloudflare/test/runtime.test.js
  packages/integrations/cloudflare/test/test-utils.js
Labels: pkg: integration

#8102 [create-astro] verify connectivity and --template
  .changeset/silent-baboons-juggle.md
  packages/create-astro/src/actions/template.ts
  packages/create-astro/src/actions/verify.ts
  packages/create-astro/src/index.ts
  packages/create-astro/src/messages.ts
  packages/create-astro/test/verify.test.js
Labels: pkg: create-astro

#7078 Fix #7056 Splashing Navigation Menu in portfolio template
  examples/portfolio/src/components/Nav.astro
Labels: pkg: example

#8105 Fix 8083
  .changeset/popular-planes-cover.md
  packages/astro/components/ViewTransitions.astro
Labels: pkg: astro

#8107 Update babel-preset-solid
  .changeset/orange-foxes-care.md
  packages/integrations/solid/package.json
  pnpm-lock.yaml
Labels: pkg: solid, pkg: integration

#8112 chore: update codesamples for Netlify v3 adapter
  packages/integrations/netlify/README.md
Labels: pkg: integration

#8111 chore: update codesamples for Vercel v3 adapter
  packages/integrations/vercel/README.md
Labels: pkg: integration, pkg: vercel

#7778 feat(assets): support remote images
  .changeset/itchy-pants-grin.md
  .changeset/sour-frogs-shout.md
  packages/astro/package.json
  packages/astro/src/@types/astro.ts
  packages/astro/src/assets/build/generate.ts
  packages/astro/src/assets/build/remote.ts
  packages/astro/src/assets/generate.ts
  packages/astro/src/assets/image-endpoint.ts
  packages/astro/src/assets/internal.ts
  packages/astro/src/assets/services/service.ts
  packages/astro/src/assets/utils/remotePattern.ts
  packages/astro/src/assets/utils/transformToPath.ts
  packages/astro/src/assets/vite-plugin-assets.ts
  packages/astro/src/core/build/generate.ts
  packages/astro/src/core/config/schema.ts
  packages/astro/test/core-image.test.js
  packages/astro/test/fixtures/core-image-ssg/src/pages/remote.astro
  packages/astro/test/test-image-service.js
  packages/astro/test/units/assets/remote-pattern.test.js
  packages/integrations/vercel/src/image/build-service.ts
  packages/integrations/vercel/src/image/dev-service.ts
  packages/integrations/vercel/src/image/shared.ts
  pnpm-lock.yaml
Labels: pkg: integration, pkg: astro

#8113 config: remove ~/assets alias
  .changeset/clever-bats-breathe.md
  packages/astro/src/assets/types.ts
  packages/astro/src/assets/vite-plugin-assets.ts
  packages/astro/test/fixtures/content-collection-references/src/content/banners/welcome.json
  packages/astro/test/fixtures/core-image-base/src/content/blog/one.md
  packages/astro/test/fixtures/core-image-base/tsconfig.json
  packages/astro/test/fixtures/core-image-ssg/tsconfig.json
  packages/astro/test/fixtures/core-image/src/content/blog/one.md
  packages/astro/test/fixtures/core-image/tsconfig.json
  packages/astro/tsconfigs/base.json
  packages/integrations/markdoc/test/fixtures/image-assets/tsconfig.json
  packages/integrations/mdx/test/fixtures/mdx-images/tsconfig.json
  pnpm-lock.yaml
Labels: pkg: integration, pkg: astro

#8109 fix: reinsert attribute to specify direction of ViewTransition
  .changeset/wet-foxes-sleep.md
  packages/astro/components/ViewTransitions.astro
Labels: pkg: astro

#8115 refactor: use pipeline in Development mode
  packages/astro/src/core/app/index.ts
  packages/astro/src/core/pipeline.ts
  packages/astro/src/core/render/environment.ts
  packages/astro/src/core/render/index.ts
  packages/astro/src/core/render/renderer.ts
  packages/astro/src/prerender/routing.ts
  packages/astro/src/vite-plugin-astro-server/devPipeline.ts
  packages/astro/src/vite-plugin-astro-server/environment.ts
  packages/astro/src/vite-plugin-astro-server/index.ts
  packages/astro/src/vite-plugin-astro-server/plugin.ts
  packages/astro/src/vite-plugin-astro-server/request.ts
  packages/astro/src/vite-plugin-astro-server/route.ts
  packages/astro/test/units/routing/route-matching.test.js
  packages/astro/test/units/vite-plugin-astro-server/request.test.js
Labels: pkg: astro

#8116 only update our own history entries during back navigation through VT
  .changeset/small-nails-try.md
  packages/astro/components/ViewTransitions.astro
Labels: pkg: astro

#8120 [error msg] add hybrid option to a getStaticPaths error message
  packages/astro/src/core/errors/errors-data.ts
Labels: pkg: astro

#8122 Fix build stats
  .changeset/lovely-walls-call.md
  packages/astro/src/core/build/generate.ts
Labels: pkg: astro

#8078 feature(@astrojs/cloudflare): port functionPerRoute
  .changeset/nasty-garlics-listen.md
  .changeset/wise-cameras-agree.md
  packages/astro/src/core/build/generate.ts
  packages/integrations/cloudflare/README.md
  packages/integrations/cloudflare/src/index.ts
  packages/integrations/cloudflare/test/fixtures/function-per-route/astro.config.mjs
  packages/integrations/cloudflare/test/fixtures/function-per-route/package.json
  packages/integrations/cloudflare/test/fixtures/function-per-route/src/middleware.ts
  packages/integrations/cloudflare/test/fixtures/function-per-route/src/pages/[language]/files/[...path].astro
  packages/integrations/cloudflare/test/fixtures/function-per-route/src/pages/[person]/[car].astro
  packages/integrations/cloudflare/test/fixtures/function-per-route/src/pages/blog/[post].astro
  packages/integrations/cloudflare/test/fixtures/function-per-route/src/pages/blog/cool.astro
  packages/integrations/cloudflare/test/fixtures/function-per-route/src/pages/files/[...path].astro
  packages/integrations/cloudflare/test/fixtures/function-per-route/src/pages/index.astro
  packages/integrations/cloudflare/test/fixtures/function-per-route/src/pages/javascript.js
  packages/integrations/cloudflare/test/fixtures/function-per-route/src/pages/prerender.astro
  packages/integrations/cloudflare/test/fixtures/function-per-route/src/pages/test.json.ts
  packages/integrations/cloudflare/test/fixtures/function-per-route/src/pages/trpc/[trpc].ts
  packages/integrations/cloudflare/test/function-per-route.test.js
  pnpm-lock.yaml
Labels: pkg: integration, pkg: astro

#8123 Open to configured base path
  .changeset/popular-carrots-sneeze.md
  packages/astro/src/core/dev/container.ts
Labels: pkg: astro

#8118 Switch `build.inlineStylesheets` default to auto
  .changeset/smart-numbers-shout.md
  packages/astro/src/@types/astro.ts
  packages/astro/src/core/config/schema.ts
  packages/astro/test/alias-tsconfig-baseurl-only.test.js
  packages/astro/test/alias-tsconfig.test.js
  packages/astro/test/asset-url-base.test.js
  packages/astro/test/astro-client-only.test.js
  packages/astro/test/astro-css-bundling.test.js
  packages/astro/test/astro-directives.test.js
  packages/astro/test/astro-head.test.js
  packages/astro/test/build-assets.test.js
  packages/astro/test/component-library.test.js
  packages/astro/test/config-vite-css-target.test.js
  packages/astro/test/config-vite.test.js
  packages/astro/test/content-collections-render.test.js
  packages/astro/test/css-import-as-inline.test.js
  packages/astro/test/css-no-code-split.test.js
  packages/astro/test/css-order-import.test.js
  packages/astro/test/css-order-layout.test.js
  packages/astro/test/css-order.test.js
  packages/astro/test/glob-pages-css.test.js
  packages/astro/test/head-injection.test.js
  packages/astro/test/lazy-layout.test.js
  packages/astro/test/minification-html.test.js
  packages/astro/test/page-level-styles.test.js
  packages/astro/test/postcss.test.js
  packages/astro/test/remote-css.test.js
  packages/astro/test/root-srcdir-css.test.js
  packages/astro/test/scoped-style-strategy.test.js
  packages/astro/test/ssr-404-500-pages.test.js
  packages/astro/test/ssr-assets.test.js
  packages/astro/test/ssr-dynamic.test.js
  packages/astro/test/ssr-manifest.test.js
  packages/astro/test/ssr-split-manifest.test.js
  packages/astro/test/static-build.test.js
  packages/astro/test/virtual-astro-file.test.js
  packages/integrations/deno/test/basics.test.ts
  packages/integrations/markdoc/test/propagated-assets.test.js
  packages/integrations/mdx/test/css-head-mdx.test.js
  packages/integrations/mdx/test/mdx-page.test.js
  packages/integrations/node/test/prerender-404-500.test.js
Labels: pkg: integration, pkg: astro

#8127 Stringify shouldn't throw on user object during rendering
  .changeset/brave-cheetahs-float.md
  packages/astro/src/runtime/server/render/common.ts
  packages/astro/src/runtime/server/render/component.ts
  packages/astro/src/runtime/server/render/head.ts
  packages/astro/src/runtime/server/render/index.ts
  packages/astro/src/runtime/server/render/instruction.ts
  packages/astro/src/runtime/server/render/slot.ts
  packages/astro/src/runtime/server/render/types.ts
  packages/astro/test/units/render/chunk.test.js
Labels: pkg: astro

#8128 fix: better error when Sharp can't be resolved (ex: pnpm)
  .changeset/cyan-carrots-stare.md
  packages/astro/config.d.ts
  packages/astro/config.mjs
  packages/astro/src/assets/services/sharp.ts
  packages/astro/src/core/errors/errors-data.ts
Labels: pkg: astro

#8130 feat: add polyfills for stackblitz
  .changeset/thin-ants-repeat.md
  packages/astro/astro.js
  packages/astro/package.json
  packages/astro/src/core/polyfill.ts
  packages/telemetry/package.json
  packages/telemetry/src/post.ts
  pnpm-lock.yaml
Labels: pkg: astro

#8137 Add missing export to react integration
  .changeset/kind-bears-pretend.md
  packages/integrations/react/package.json
Labels: pkg: react, pkg: integration

#8136 Fix 404 response leading to an infinite loop when there is no 404 page
  .changeset/lemon-comics-jump.md
  packages/astro/src/vite-plugin-astro-server/route.ts
Labels: pkg: astro

#8139 fix: polyfill File using undici instead of node:buffer
  .changeset/angry-dogs-shake.md
  packages/astro/src/core/polyfill.ts
Labels: pkg: astro

#8144 fix(data collections): normalize file paths for DataEntry.id
  .changeset/twenty-mirrors-remember.md
  packages/astro/src/content/utils.ts
Labels: pkg: astro

#8142 Replace `class:list` implementation with `clsx`
  .changeset/cool-jokes-clap.md
  packages/astro/package.json
  packages/astro/src/runtime/server/hydration.ts
  packages/astro/src/runtime/server/render/component.ts
  packages/astro/src/runtime/server/render/util.ts
  packages/astro/src/runtime/server/util.ts
  packages/astro/test/astro-class-list.test.js
  packages/astro/test/fixtures/astro-class-list/src/components/Span.astro
  packages/astro/test/fixtures/astro-class-list/src/pages/component.astro
  packages/astro/test/fixtures/astro-class-list/src/pages/index.astro
  packages/astro/test/units/render/components.test.js
  pnpm-lock.yaml
Labels: pkg: astro

#8141 fix(node): delegate preview's not found and error handling to core/app
  .changeset/rude-ducks-exist.md
  packages/integrations/node/src/preview.ts
Labels: pkg: integration

#8149 Fix missing package file regression
  .changeset/early-owls-attend.md
  packages/integrations/react/package.json
Labels: pkg: react, pkg: integration

#8148 [docs] update scopedStyleStragegy default and description
  packages/astro/src/@types/astro.ts
Labels: pkg: astro

#8171 fix(assets): Add missing type for imageConfig export
  .changeset/many-ears-drum.md
  packages/astro/client-base.d.ts
Labels: pkg: astro

#8169 Remove pre-shiki v0.14 theme names
  .changeset/spicy-icons-live.md
  packages/astro/components/shiki-themes.js
  packages/astro/scripts/shiki-gen-themes.mjs
  packages/integrations/markdoc/src/extensions/shiki.ts
  packages/integrations/mdx/src/remark-shiki.ts
  packages/markdown/remark/src/remark-shiki.ts
Labels: feat: markdown, pkg: integration, pkg: astro

#8170 Remove deprecated APIs
  .changeset/happy-penguins-hug.md
  packages/astro/content-types.template.d.ts
  packages/astro/src/@types/astro.ts
  packages/astro/src/core/config/config.ts
Labels: pkg: astro

#8158 [docs] deprecate build.split and build.excludeMiddleware in config ref
  packages/astro/src/@types/astro.ts
Labels: pkg: astro

#8177 Change version of @astrojs/markdoc
  packages/integrations/markdoc/package.json
Labels: pkg: integration, semver: minor

#8180 feat: style scoped hash is lowercase
  .changeset/serious-waves-fry.md
  packages/astro/package.json
  packages/astro/test/0-css.test.js
  pnpm-lock.yaml
Labels: pkg: astro

#8163 Use more permissive type for `defineCollection` schema option
  .changeset/unlucky-cougars-heal.md
  packages/astro/content-types.template.d.ts
Labels: pkg: astro

#8099 Deprecate drafts feature
  .changeset/silent-bikes-crash.md
  packages/astro-rss/README.md
  packages/astro-rss/src/index.ts
  packages/astro/src/@types/astro.ts
  packages/astro/src/core/build/generate.ts
  packages/astro/src/core/errors/errors-data.ts
  packages/astro/src/core/render/core.ts
Labels: pkg: astro

#8152 add: config error if `outDir` is inside `publicDir`
  .changeset/brown-numbers-prove.md
  packages/astro/src/core/config/schema.ts
  packages/astro/test/units/config/config-validate.test.js
Labels: pkg: astro

#8182 fix: self link does not trigger page reload
  .changeset/gold-carpets-film.md
  packages/astro/components/ViewTransitions.astro
  packages/astro/e2e/fixtures/view-transitions/src/pages/one.astro
  packages/astro/e2e/view-transitions.test.js
Labels: pkg: astro

#8184 Mt scroll behavior
  .changeset/pretty-dancers-admire.md
  packages/astro/components/ViewTransitions.astro
Labels: pkg: astro

#8185 Fix: changed inline-style to regular selector
  examples/portfolio/src/components/Nav.astro
Labels: pkg: example

#8196 Prevent bundling sharp
  .changeset/spicy-stingrays-cheer.md
  packages/astro/src/core/build/plugins/plugin-internals.ts
Labels: pkg: astro

#8155 Add h3 for Installing dependencies manually
  packages/integrations/netlify/README.md
  packages/integrations/node/README.md
  packages/integrations/vercel/README.md
Labels: pkg: integration

#8187 Fix Astro components parent-child render order
  .changeset/mean-snakes-play.md
  packages/astro/src/runtime/server/render/any.ts
  packages/astro/src/runtime/server/render/astro/render-template.ts
  packages/astro/src/runtime/server/render/common.ts
  packages/astro/src/runtime/server/render/component.ts
  packages/astro/src/runtime/server/render/util.ts
  packages/astro/test/astro-basic.test.js
  packages/astro/test/fixtures/astro-basic/src/components/OrderA.astro
  packages/astro/test/fixtures/astro-basic/src/components/OrderB.astro
  packages/astro/test/fixtures/astro-basic/src/components/OrderLast.astro
  packages/astro/test/fixtures/astro-basic/src/pages/order.astro
Labels: pkg: astro

#8190 docs: better documentation for `runtime`
  .changeset/silent-snakes-shave.md
  packages/integrations/cloudflare/README.md
  packages/integrations/cloudflare/src/index.ts
  packages/integrations/cloudflare/src/server.advanced.ts
  packages/integrations/cloudflare/src/server.directory.ts
Labels: pkg: integration

#8204 refactor: replace header with div
  examples/portfolio/src/components/Hero.astro
Labels: pkg: example

#8206 View Transition: swap attributes of document's root element
  .changeset/lovely-ducks-move.md
  packages/astro/components/ViewTransitions.astro
  packages/astro/e2e/fixtures/view-transitions/src/components/AttributedLayout.astro
  packages/astro/e2e/fixtures/view-transitions/src/pages/other-attributes.astro
  packages/astro/e2e/fixtures/view-transitions/src/pages/some-attributes.astro
  packages/astro/e2e/view-transitions.test.js
Labels: pkg: astro

#8214 fix: add back code to update user's env.d.ts with proper types
  .changeset/tasty-dragons-smash.md
  packages/astro/src/vite-plugin-inject-env-ts/index.ts
Labels: pkg: astro

#8153 property in anchor element forces a reload of the target
  .changeset/lovely-ducks-move.md
  packages/astro/components/ViewTransitions.astro
  packages/astro/e2e/fixtures/view-transitions/src/components/AttributedLayout.astro
  packages/astro/e2e/fixtures/view-transitions/src/pages/other-attributes.astro
  packages/astro/e2e/fixtures/view-transitions/src/pages/some-attributes.astro
  packages/astro/e2e/view-transitions.test.js
Labels: pkg: astro

#8207 Update built-in view transitions
  .changeset/five-geese-crash.md
  packages/astro/e2e/fixtures/view-transitions/src/components/Layout.astro
  packages/astro/package.json
  packages/astro/src/@types/astro.ts
  packages/astro/src/core/compile/compile.ts
  packages/astro/src/runtime/server/transition.ts
  packages/astro/src/transitions/index.ts
  pnpm-lock.yaml
Labels: pkg: astro

#8181 Finalize View Transition event names
  .changeset/proud-fans-type.md
  packages/astro/components/ViewTransitions.astro
  packages/astro/e2e/fixtures/view-transitions/src/components/DarkMode.astro
  packages/astro/e2e/fixtures/view-transitions/src/pages/two.astro
  packages/astro/e2e/view-transitions.test.js
Labels: pkg: astro, semver: minor

#8200 fix(ssr): correctly call the middleware when rendering error pages
  packages/astro/src/core/app/index.ts
  packages/astro/src/core/app/types.ts
  packages/astro/src/core/build/buildPipeline.ts
  packages/astro/src/core/build/generate.ts
  packages/astro/src/core/build/plugins/plugin-manifest.ts
  packages/astro/src/core/build/plugins/plugin-middleware.ts
  packages/astro/src/core/build/types.ts
  packages/astro/src/core/redirects/component.ts
  packages/astro/src/vite-plugin-astro-server/plugin.ts
  packages/astro/test/fixtures/middleware-dev/src/middleware.js
  packages/astro/test/fixtures/middleware-dev/src/pages/404.astro
  packages/astro/test/middleware.test.js
  packages/astro/test/test-adapter.js
Labels: pkg: astro

#8156 feat(ViewTransitions): use `scrollend` instead of `scroll` where supported
  .changeset/long-chefs-jump.md
  packages/astro/components/ViewTransitions.astro
Labels: pkg: astro

#8220 Update config error message for `outDir` infinity loop error
  packages/astro/src/core/config/schema.ts
  packages/astro/test/units/config/config-validate.test.js
Labels: pkg: astro
