Repository withastro/astro, pull requests merged in 2023-10, with the labels that each got.

#8690 feat(cloudflare): add local mocking for DO bindings
  .changeset/hot-readers-live.md
  packages/integrations/cloudflare/README.md
  packages/integrations/cloudflare/src/index.ts
  packages/integrations/cloudflare/src/utils/parser.ts
  packages/integrations/cloudflare/test/cf.test.js
  packages/integrations/cloudflare/test/fixtures/cf/src/pages/do.astro
  packages/integrations/cloudflare/test/fixtures/cf/wrangler.toml
Labels: pkg: integration

#8664 feat(cloudflare): add local mocking for Caches bindings
  .changeset/hot-readers-live.md
  .changeset/yellow-kiwis-pretend.md
  packages/integrations/cloudflare/README.md
  packages/integrations/cloudflare/src/index.ts
  packages/integrations/cloudflare/src/utils/parser.ts
  packages/integrations/cloudflare/test/cf.test.js
  packages/integrations/cloudflare/test/fixtures/cf/src/pages/caches.astro
  packages/integrations/cloudflare/test/fixtures/cf/src/pages/do.astro
  packages/integrations/cloudflare/test/fixtures/cf/src/pages/index.astro
  packages/integrations/cloudflare/test/fixtures/cf/wrangler.toml
Labels: pkg: integration

#8657 feat(cloudflare): add local mocking for KV bindings
  .changeset/funny-cobras-accept.md
  .changeset/hot-readers-live.md
  .changeset/yellow-kiwis-pretend.md
  packages/integrations/cloudflare/README.md
  packages/integrations/cloudflare/src/index.ts
  packages/integrations/cloudflare/src/utils/parser.ts
  packages/integrations/cloudflare/test/cf.test.js
  packages/integrations/cloudflare/test/fixtures/cf/src/pages/caches.astro
  packages/integrations/cloudflare/test/fixtures/cf/src/pages/do.astro
  packages/integrations/cloudflare/test/fixtures/cf/src/pages/index.astro
  packages/integrations/cloudflare/test/fixtures/cf/src/pages/kv.astro
  packages/integrations/cloudflare/test/fixtures/cf/wrangler.toml
Labels: pkg: integration

#8656 feat(cloudflare): add local mocking for R2 bindings
  .changeset/funny-cobras-accept.md
  .changeset/hot-readers-live.md
  .changeset/khaki-toes-exercise.md
  .changeset/yellow-kiwis-pretend.md
  packages/integrations/cloudflare/README.md
  packages/integrations/cloudflare/src/index.ts
  packages/integrations/cloudflare/src/utils/parser.ts
  packages/integrations/cloudflare/test/cf.test.js
  packages/integrations/cloudflare/test/fixtures/cf/src/pages/caches.astro
  packages/integrations/cloudflare/test/fixtures/cf/src/pages/do.astro
  packages/integrations/cloudflare/test/fixtures/cf/src/pages/index.astro
  packages/integrations/cloudflare/test/fixtures/cf/src/pages/kv.astro
  packages/integrations/cloudflare/test/fixtures/cf/src/pages/r2.astro
  packages/integrations/cloudflare/test/fixtures/cf/wrangler.toml
Labels: pkg: integration

#8655 feat(cloudflare): add local mocking for D1 bindings
  .changeset/funny-cobras-accept.md
  .changeset/hot-readers-live.md
  .changeset/hungry-mails-boil.md
  .changeset/khaki-toes-exercise.md
  .changeset/yellow-kiwis-pretend.md
  packages/integrations/cloudflare/.gitignore
  packages/integrations/cloudflare/README.md
  packages/integrations/cloudflare/package.json
  packages/integrations/cloudflare/src/index.ts
  packages/integrations/cloudflare/src/utils/parser.ts
  packages/integrations/cloudflare/test/cf.test.js
  packages/integrations/cloudflare/test/fixtures/cf/src/pages/caches.astro
  packages/integrations/cloudflare/test/fixtures/cf/src/pages/d1.astro
  packages/integrations/cloudflare/test/fixtures/cf/src/pages/do.astro
  packages/integrations/cloudflare/test/fixtures/cf/src/pages/index.astro
  packages/integrations/cloudflare/test/fixtures/cf/src/pages/kv.astro
  packages/integrations/cloudflare/test/fixtures/cf/src/pages/r2.astro
  packages/integrations/cloudflare/test/fixtures/cf/wrangler.toml
  pnpm-lock.yaml
Labels: pkg: integration

#8724 Fix CSS styles on windows
  .changeset/poor-frogs-melt.md
  packages/astro/src/content/vite-plugin-content-assets.ts
  packages/astro/src/vite-plugin-astro-server/css.ts
  packages/astro/src/vite-plugin-astro-server/route.ts
Labels: pkg: astro

#8708 fix: typo in error deprecation message
  packages/astro/src/core/errors/errors-data.ts
Labels: pkg: astro

#8736 Fix `tsconfig.json` update causing the server to crash
  .changeset/red-masks-drop.md
  packages/astro/src/content/vite-plugin-content-imports.ts
  packages/astro/src/core/module-loader/vite.ts
Labels: pkg: astro

#8740 feat: expose partytown types (close #8723)
  .changeset/tricky-otters-cross.md
  packages/integrations/partytown/src/index.ts
Labels: pkg: integration

#8730 Improve `astro info` compatability
  .changeset/witty-fishes-heal.md
  packages/astro/src/cli/info/index.ts
Labels: pkg: astro

#8733 Fix markdown rehype plugin example
  packages/astro/src/@types/astro.ts
Labels: pkg: astro

#8715 Fixes: Shiki syntax highlighting adds is:raw attribute to the HTML output
  .changeset/cuddly-vans-reply.md
  packages/markdown/remark/src/remark-shiki.ts
  packages/markdown/remark/test/shiki.js
Labels: feat: markdown

#8743 Remove unused CSS output files when inlined
  .changeset/tasty-meals-buy.md
  packages/astro/src/core/build/plugins/plugin-css.ts
Labels: pkg: astro

#8747 Improve error message for dynamic component usage
  .changeset/fair-otters-worry.md
  packages/astro/src/runtime/server/hydration.ts
Labels: pkg: astro

#8700 fix: Update Netlify SSR link
  .changeset/thick-cups-knock.md
  packages/astro/src/@types/astro.ts
Labels: pkg: astro

#8749 Fix provenance release
  .github/workflows/release.yml
  packages/create-astro/package.json
Labels: 🚨 action, pkg: create-astro

#8752 Fix git tag release
  .github/workflows/release.yml
Labels: 🚨 action

#8767 Revert fix #8472
  .changeset/great-bears-watch.md
  packages/astro/e2e/view-transitions.test.js
  packages/astro/src/transitions/router.ts
Labels: pkg: astro

#8773 fix(assets): add the missing `await` to getHTMLAttributes
  .changeset/young-taxis-battle.md
  packages/astro/src/assets/internal.ts
Labels: pkg: astro

#8754 Make CSS chunk names less confusing
  .changeset/sharp-insects-yawn.md
  packages/astro/src/core/build/css-asset-name.ts
  packages/astro/src/core/build/plugins/plugin-css.ts
Labels: pkg: astro

#8778 feat(i18n): better virtual module functions
  packages/astro/client.d.ts
  packages/astro/package.json
  packages/astro/src/core/build/generate.ts
  packages/astro/src/core/build/util.ts
  packages/astro/src/core/create-vite.ts
  packages/astro/src/core/errors/errors-data.ts
  packages/astro/src/i18n/index.ts
  packages/astro/src/i18n/vite-plugin-i18n.ts
  packages/astro/test/units/i18n/getI18nBaseUrl.test.js
  packages/create-astro/src/index.ts
  pnpm-lock.yaml
Labels: pkg: create-astro, pkg: astro

#8777 Fix snapshot release permissions
  .github/workflows/snapshot-release.yml
Labels: 🚨 action

#8772 Fix flickering during view transitions
  .changeset/seven-seas-hide.md
  packages/astro/e2e/fixtures/view-transitions/src/components/listener-layout.astro
  packages/astro/e2e/fixtures/view-transitions/src/pages/listener-one.astro
  packages/astro/e2e/fixtures/view-transitions/src/pages/listener-two.astro
  packages/astro/e2e/view-transitions.test.js
  packages/astro/src/transitions/router.ts
Labels: pkg: astro

#8638 feat(tailwind): create a tailwind.config.mjs file by default
  .changeset/early-ghosts-hang.md
  packages/astro/src/cli/add/index.ts
  packages/integrations/tailwind/README.md
  packages/integrations/tailwind/src/index.ts
Labels: pkg: integration, pkg: astro

#8741 fix(windows): ensure drive letter is uppercase
  .changeset/large-clouds-sip.md
  packages/astro/astro.js
Labels: pkg: astro

#8766 fix(cloudflare): support for 'cloudflare:*' imports
  .changeset/heavy-elephants-tan.md
  packages/integrations/cloudflare/README.md
  packages/integrations/cloudflare/src/index.ts
Labels: pkg: integration

#8788 fix(cloudflare): esbuild settings for cloudflare
  .changeset/tidy-bags-give.md
  packages/integrations/cloudflare/README.md
  packages/integrations/cloudflare/src/index.ts
Labels: pkg: integration

#8782 fix(cloudflare): runtime types for Cloudflare caches
  .changeset/unlucky-avocados-brake.md
  packages/integrations/cloudflare/src/entrypoints/server.advanced.ts
  packages/integrations/cloudflare/src/entrypoints/server.directory.ts
Labels: pkg: integration, hacktoberfest-accepted

#8771 fix(transitions router): no-op on the server
  .changeset/forty-singers-ring.md
  packages/astro/e2e/fixtures/view-transitions/src/components/ClickToNavigate.jsx
  packages/astro/e2e/fixtures/view-transitions/src/pages/client-load.astro
  packages/astro/e2e/view-transitions.test.js
  packages/astro/src/transitions/router.ts
Labels: pkg: astro

#8791 feat(i18n): fallback via middleware
  packages/astro/src/@types/astro.ts
  packages/astro/src/core/build/common.ts
  packages/astro/src/core/config/schema.ts
  packages/astro/src/core/errors/errors-data.ts
  packages/astro/src/core/middleware/index.ts
  packages/astro/src/core/middleware/sequence.ts
  packages/astro/src/core/pipeline.ts
  packages/astro/src/core/redirects/helpers.ts
  packages/astro/src/core/render/context.ts
  packages/astro/src/core/render/core.ts
  packages/astro/src/core/render/params-and-props.ts
  packages/astro/src/core/render/route-cache.ts
  packages/astro/src/core/routing/index.ts
  packages/astro/src/core/routing/manifest/create.ts
  packages/astro/src/core/routing/manifest/serialization.ts
  packages/astro/src/core/routing/match.ts
  packages/astro/src/i18n/middleware.ts
  packages/astro/src/vite-plugin-astro-server/route.ts
  packages/astro/test/dev-routing.test.js
  packages/astro/test/fixtures/i18n-routing-base/astro.config.mjs
  packages/astro/test/fixtures/i18n-routing-fallback/astro.config.mjs
  packages/astro/test/fixtures/i18n-routing-fallback/package.json
  packages/astro/test/fixtures/i18n-routing-fallback/src/pages/en/blog/[id].astro
  packages/astro/test/fixtures/i18n-routing-fallback/src/pages/en/start.astro
  packages/astro/test/fixtures/i18n-routing-fallback/src/pages/index.astro
  packages/astro/test/fixtures/i18n-routing-fallback/src/pages/pt/blog/[id].astro
  packages/astro/test/fixtures/i18n-routing-fallback/src/pages/pt/start.astro
  packages/astro/test/fixtures/i18n-routing/astro.config.mjs
  packages/astro/test/units/config/config-validate.test.js
  pnpm-lock.yaml
Labels: pkg: astro

#8799 port https://github.com/withastro/docs/pull/4980
  packages/integrations/cloudflare/README.md
Labels: pkg: integration

#8798 feat: use tsconfck instead of tsconfig-resolver
  .changeset/giant-dolphins-mix.md
  packages/astro/package.json
  packages/astro/src/@types/astro.ts
  packages/astro/src/cli/add/index.ts
  packages/astro/src/config/index.ts
  packages/astro/src/content/server-listeners.ts
  packages/astro/src/core/build/index.ts
  packages/astro/src/core/config/settings.ts
  packages/astro/src/core/config/tsconfig.ts
  packages/astro/src/core/dev/restart.ts
  packages/astro/src/core/preview/index.ts
  packages/astro/src/core/sync/index.ts
  packages/astro/src/vite-plugin-config-alias/index.ts
  packages/astro/test/units/config/config-tsconfig.test.js
  pnpm-lock.yaml
Labels: pkg: astro

#8810 Remove network-information-types
  .changeset/tame-hairs-cheer.md
  packages/astro/package.json
  packages/astro/tsconfig.json
  pnpm-lock.yaml
Labels: pkg: astro

#8813 Fix: Retain focus for persisted input elements during view transitions
  .changeset/three-toes-talk.md
  packages/astro/e2e/fixtures/view-transitions/astro.config.mjs
  packages/astro/e2e/fixtures/view-transitions/src/components/Layout.astro
  packages/astro/e2e/fixtures/view-transitions/src/pages/page-with-persistent-form.astro
  packages/astro/e2e/fixtures/view-transitions/src/pages/query.astro
  packages/astro/e2e/view-transitions.test.js
  packages/astro/src/transitions/router.ts
Labels: pkg: astro

#8800 fix(middleware): instantiate locals if the adapter does not
  .changeset/large-colts-jump.md
  packages/astro/src/core/endpoint/index.ts
  packages/integrations/node/test/fixtures/locals/src/middleware.ts
  packages/integrations/node/test/fixtures/locals/src/pages/api.js
  packages/integrations/node/test/fixtures/locals/src/pages/from-astro-middleware.astro
  packages/integrations/node/test/fixtures/locals/src/pages/from-node-middleware.astro
  packages/integrations/node/test/locals.test.js
Labels: pkg: integration, pkg: astro

#8817 Fix error overlay syntax highlighting
  .changeset/lemon-boats-bake.md
  packages/astro/components/Code.astro
  packages/astro/src/core/errors/dev/vite.ts
  packages/astro/src/core/errors/overlay.ts
  packages/astro/src/core/shiki.ts
Labels: pkg: astro

#8838 chore(deps): unpin tsconfck and use 3.0.0 release
  .changeset/red-socks-peel.md
  packages/astro/package.json
  pnpm-lock.yaml
Labels: pkg: astro

#8826 fix(lit): pin last lit 2.x compatible versions
  .changeset/quiet-readers-shop.md
  packages/integrations/lit/package.json
  pnpm-lock.yaml
Labels: pkg: lit, pkg: integration

#8827 fix: Unexpected token < in JSON at position 1
  .changeset/great-eyes-rest.md
  packages/astro/src/cli/add/index.ts
Labels: pkg: astro

#8842 fix(assets): Fallback format not being taken into account properly
  .changeset/dull-bikes-decide.md
  packages/astro/components/Picture.astro
  packages/astro/src/assets/services/service.ts
  packages/astro/src/core/errors/errors-data.ts
  packages/astro/test/core-image.test.js
  packages/astro/test/fixtures/core-image/src/pages/picturecomponent.astro
Labels: pkg: astro

#8823 fix: remote srcset images not being resized and deduplication not working in certain cases
  .changeset/brown-pumpkins-clean.md
  .changeset/serious-news-yell.md
  packages/astro/components/Picture.astro
  packages/astro/package.json
  packages/astro/src/assets/services/service.ts
  packages/astro/src/assets/utils/transformToPath.ts
  packages/astro/test/core-image.test.js
  packages/astro/test/fixtures/core-image/src/pages/srcset.astro
  pnpm-lock.yaml
Labels: pkg: astro

#8828 fix: _image endpoint returning a 404 for local images
  .changeset/heavy-lies-cover.md
  packages/astro/src/assets/endpoint/node.ts
Labels: pkg: astro

#8816 feat(i18n): fallback system in SSG
  packages/astro/src/core/build/buildPipeline.ts
  packages/astro/src/core/build/generate.ts
  packages/astro/src/core/build/index.ts
  packages/astro/src/core/build/internal.ts
  packages/astro/src/core/build/page-data.ts
  packages/astro/src/core/build/plugins/plugin-pages.ts
  packages/astro/src/core/build/plugins/plugin-ssr.ts
  packages/astro/src/core/build/static-build.ts
  packages/astro/src/core/build/types.ts
  packages/astro/src/core/build/util.ts
  packages/astro/src/core/routing/manifest/create.ts
  packages/astro/test/dev-routing.test.js
  packages/astro/test/i18-routing.test.js
Labels: pkg: astro

#8824 Added OUTPUT dir to sitemap build command
  .changeset/funny-deers-report.md
  packages/integrations/sitemap/src/index.ts
Labels: pkg: integration

#8846 feat: make Houston wear scary hats for spooky season
  .changeset/small-beers-laugh.md
  packages/create-astro/src/actions/context.ts
  packages/create-astro/src/messages.ts
Labels: pkg: create-astro, hacktoberfest-accepted

#8852 fix(astro): build config from astro conflict with vite.config.js
  .changeset/fresh-lizards-whisper.md
  packages/astro/src/core/create-vite.ts
Labels: pkg: astro

#8844 fix(docs): Update `@astrojs/sitemap` readme to clarify build output location
  packages/integrations/sitemap/README.md
Labels: pkg: integration

#8860 Fix Vue HMR for script tags
  .changeset/seven-brooms-trade.md
  packages/astro/e2e/fixtures/vue-component/src/components/State.vue
  packages/astro/e2e/fixtures/vue-component/src/pages/index.astro
  packages/astro/e2e/vue-component.test.js
  packages/integrations/vue/client.js
Labels: pkg: vue, pkg: integration, pkg: astro

#8868 Set vite logLevel silent for test
  packages/astro/test/test-utils.js
Labels: pkg: astro

#8840 Fix: Persist styles of persistent client:only components during view transitions in DEV mode
  .changeset/purple-dots-refuse.md
  packages/astro/e2e/fixtures/view-transitions/astro.config.mjs
  packages/astro/e2e/fixtures/view-transitions/package.json
  packages/astro/e2e/fixtures/view-transitions/src/components/Island.css
  packages/astro/e2e/fixtures/view-transitions/src/components/Island.jsx
  packages/astro/e2e/fixtures/view-transitions/src/components/SvelteCounter.svelte
  packages/astro/e2e/fixtures/view-transitions/src/components/VueCounter.vue
  packages/astro/e2e/fixtures/view-transitions/src/components/css.js
  packages/astro/e2e/fixtures/view-transitions/src/components/other.postcss
  packages/astro/e2e/fixtures/view-transitions/src/pages/client-only-four.astro
  packages/astro/e2e/fixtures/view-transitions/src/pages/client-only-one.astro
  packages/astro/e2e/fixtures/view-transitions/src/pages/client-only-three.astro
  packages/astro/e2e/fixtures/view-transitions/src/pages/client-only-two.astro
  packages/astro/e2e/view-transitions.test.js
  packages/astro/src/transitions/router.ts
  pnpm-lock.yaml
Labels: pkg: astro, docs pr

#8863 fix(astro): terminal HMR path (close #8831)
  .changeset/two-lamps-tell.md
  packages/astro/src/vite-plugin-astro/hmr.ts
Labels: pkg: astro, docs pr

#8875 Handle Rollup 4 hash change
  packages/astro/src/assets/vite-plugin-assets.ts
  packages/astro/test/astro-css-bundling.test.js
  packages/astro/test/ssr-manifest.test.js
  packages/astro/test/ssr-split-manifest.test.js
Labels: pkg: astro

#8870 fix(cli): prevent production install on add cmd
  .changeset/great-queens-yawn.md
  packages/astro/src/cli/add/index.ts
Labels: pkg: astro, docs pr

#8872 [ci] Update `!preview` response
  .github/workflows/snapshot-release.yml
Labels: 🚨 action

#8884 fix: snapshot release workflow
  .github/workflows/snapshot-release.yml
Labels: 🚨 action

#8888 Update README.md: Fix incorrect import in example code
  packages/integrations/vercel/README.md
Labels: pkg: integration

#8867 feat(vercel): maxDuration config
  .changeset/lazy-actors-enjoy.md
  packages/integrations/vercel/README.md
  packages/integrations/vercel/src/serverless/adapter.ts
  packages/integrations/vercel/test/fixtures/max-duration/astro.config.mjs
  packages/integrations/vercel/test/fixtures/max-duration/package.json
  packages/integrations/vercel/test/fixtures/max-duration/src/pages/one.astro
  packages/integrations/vercel/test/fixtures/max-duration/src/pages/two.astro
  packages/integrations/vercel/test/max-duration.test.js
  pnpm-lock.yaml
Labels: pkg: integration, docs pr

#8877 Fix CSS modules ordering
  .changeset/silent-goats-invent.md
  packages/astro/src/runtime/server/render/head.ts
  packages/astro/test/0-css.test.js
  packages/astro/test/fixtures/0-css/src/components/ModuleOrdering.jsx
  packages/astro/test/fixtures/0-css/src/components/ModuleOrdering.module.css
  packages/astro/test/fixtures/0-css/src/pages/index.astro
  packages/astro/test/fixtures/0-css/src/styles/default.css
Labels: pkg: astro, docs pr

#8885 fix: snapshot release main branch not found
  .github/workflows/snapshot-release.yml
Labels: 🚨 action

#8853 feat(create-astro): add astro checks to build script when user choose TypeScript
  .changeset/ninety-onions-bow.md
  packages/create-astro/src/actions/typescript.ts
  packages/create-astro/test/fixtures/not-empty/package.json
  packages/create-astro/test/project-name.test.js
  packages/create-astro/test/typescript.test.js
  packages/create-astro/test/utils.js
Labels: pkg: create-astro

#8900 telemetry: record isTTY
  .changeset/cold-jokes-buy.md
  packages/telemetry/src/system-info.ts
Labels: docs pr

#8802 feat(markdoc): allowIndentation integration option
  .changeset/hip-rockets-glow.md
  packages/integrations/markdoc/README.md
  packages/integrations/markdoc/src/options.ts
  packages/integrations/markdoc/src/tokenizer.ts
  packages/integrations/markdoc/test/fixtures/render-with-indented-components/astro.config.mjs
  packages/integrations/markdoc/test/fixtures/render-with-indented-components/markdoc.config.ts
  packages/integrations/markdoc/test/fixtures/render-with-indented-components/package.json
  packages/integrations/markdoc/test/fixtures/render-with-indented-components/src/components/Code.astro
  packages/integrations/markdoc/test/fixtures/render-with-indented-components/src/components/CustomMarquee.astro
  packages/integrations/markdoc/test/fixtures/render-with-indented-components/src/content/blog/with-indented-components.mdoc
  packages/integrations/markdoc/test/fixtures/render-with-indented-components/src/pages/index.astro
  packages/integrations/markdoc/test/render.test.js
  pnpm-lock.yaml
Labels: pkg: integration, docs pr

#8889 Chores: Tidying up the view transition router
  packages/astro/e2e/fixtures/view-transitions/src/components/listener-layout.astro
  packages/astro/e2e/view-transitions.test.js
  packages/astro/src/transitions/router.ts
Labels: pkg: astro

#8902 Update [id].ts - Fixing typo
  examples/ssr/src/pages/api/products/[id].ts
Labels: pkg: example

#8898 Fix client hydration in experimentalReactChildren
  .changeset/real-dryers-destroy.md
  packages/integrations/react/client.js
  packages/integrations/react/server.js
  packages/integrations/react/test/fixtures/react-component/src/components/WithChildren.jsx
  packages/integrations/react/test/fixtures/react-component/src/pages/children.astro
  packages/integrations/react/test/react-component.test.js
  packages/integrations/react/vnode-children.js
Labels: pkg: react, pkg: integration, docs pr

#8897 Recommend the VS Code MDX extension
  .changeset/slow-cheetahs-marry.md
  packages/integrations/mdx/README.md
Labels: pkg: integration, docs pr

#8841 misc(create): Ignore errors removing directory after download failed
  .changeset/soft-berries-prove.md
  packages/create-astro/src/actions/template.ts
Labels: pkg: create-astro, docs pr

#8911 fix(create-astro): respect existing `package.json#scripts`
  .changeset/tame-wasps-exercise.md
  packages/create-astro/src/actions/typescript.ts
  packages/create-astro/test/fixtures/not-empty/package.json
  packages/create-astro/test/fixtures/not-empty/tsconfig.json
  packages/create-astro/test/typescript.test.js
  packages/create-astro/test/utils.js
Labels: pkg: create-astro, docs pr

#8821 feat: Rework image generation to improve performance
  .changeset/good-mirrors-bake.md
  .eslintrc.cjs
  packages/astro/package.json
  packages/astro/src/assets/build/generate.ts
  packages/astro/src/assets/types.ts
  packages/astro/src/assets/vite-plugin-assets.ts
  packages/astro/src/core/build/generate.ts
  packages/astro/src/type-utils.ts
  pnpm-lock.yaml
Labels: pkg: astro, semver: minor, docs pr

#8908 feat(i18n): better APIs
  packages/astro/client.d.ts
  packages/astro/src/i18n/index.ts
  packages/astro/src/i18n/vite-plugin-i18n.ts
  packages/astro/test/units/i18n/astro_i18n.js
Labels: pkg: astro

#8757 feat: Add a dev overlay
  .changeset/large-stingrays-fry.md
  .eslintrc.cjs
  .github/scripts/bundle-size.mjs
  packages/astro/src/@types/astro.ts
  packages/astro/src/core/config/schema.ts
  packages/astro/src/core/config/settings.ts
  packages/astro/src/core/create-vite.ts
  packages/astro/src/integrations/index.ts
  packages/astro/src/runtime/client/dev-overlay/overlay.ts
  packages/astro/src/runtime/client/dev-overlay/plugins/astro.ts
  packages/astro/src/runtime/client/dev-overlay/plugins/audit.ts
  packages/astro/src/runtime/client/dev-overlay/plugins/utils/highlight.ts
  packages/astro/src/runtime/client/dev-overlay/plugins/xray.ts
  packages/astro/src/runtime/client/dev-overlay/ui-library/card.ts
  packages/astro/src/runtime/client/dev-overlay/ui-library/highlight.ts
  packages/astro/src/runtime/client/dev-overlay/ui-library/icons.ts
  packages/astro/src/runtime/client/dev-overlay/ui-library/tooltip.ts
  packages/astro/src/runtime/client/dev-overlay/ui-library/window.ts
  packages/astro/src/vite-plugin-astro-server/route.ts
  packages/astro/src/vite-plugin-dev-overlay/vite-plugin-dev-overlay.ts
Labels: pkg: astro, semver: minor, docs pr

#8880 fix noop overwrite image service regression
  .changeset/witty-waves-rhyme.md
  packages/astro/src/integrations/index.ts
Labels: pkg: astro, semver: minor

#8920 Update new location of @astrojs/cloudflare to adapters repo.
  README.md
Labels: docs pr

#8893 Prevent bumping peer deps
  .changeset/config.json
  benchmark/packages/timer/package.json
  examples/component/package.json
  examples/integration/package.json
  packages/integrations/markdoc/package.json
  packages/integrations/mdx/package.json
  packages/integrations/node/package.json
  packages/integrations/svelte/package.json
  packages/integrations/tailwind/package.json
  packages/integrations/vercel/package.json
  packages/integrations/vue/package.json
  packages/markdown/remark/package.json
Labels: feat: markdown, pkg: svelte, pkg: vue, pkg: example, pkg: integration

#8923 Fix examples smoke test fail
  examples/ssr/src/pages/login.astro
  packages/astro-rss/README.md
  packages/astro/CHANGELOG.md
  packages/integrations/node/CHANGELOG.md
  packages/integrations/vercel/CHANGELOG.md
  packages/integrations/vue/CHANGELOG.md
  packages/integrations/vue/README.md
Labels: pkg: vue, pkg: example, pkg: integration, pkg: astro

#8755 Partials
  .changeset/brave-pots-drop.md
  packages/astro/src/@types/astro.ts
  packages/astro/src/core/render/core.ts
  packages/astro/src/core/render/result.ts
  packages/astro/src/runtime/server/render/astro/render.ts
  packages/astro/src/runtime/server/render/common.ts
  packages/astro/src/runtime/server/render/component.ts
  packages/astro/test/fixtures/partials/astro.config.mjs
  packages/astro/test/fixtures/partials/package.json
  packages/astro/test/fixtures/partials/src/pages/partials/docs.mdx
  packages/astro/test/fixtures/partials/src/pages/partials/item.astro
  packages/astro/test/partials.test.js
  pnpm-lock.yaml
Labels: pkg: astro, semver: minor, docs pr

#8924 refactor(i18n): changes (again) the signature of the APIs after feedback
  packages/astro/client.d.ts
  packages/astro/src/i18n/vite-plugin-i18n.ts
Labels: pkg: astro

#8927 Update page partials link in CHANGELOG
  packages/astro/CHANGELOG.md
Labels: pkg: astro

#8892 fix(partytown): allow overriding the lib option (close #8760)
  .changeset/forty-eggs-raise.md
  packages/integrations/partytown/src/index.ts
Labels: pkg: integration

#8928 Fix dev overlay UI Toolkit component names
  .changeset/violet-ants-bow.md
  packages/astro/src/runtime/client/dev-overlay/overlay.ts
  packages/astro/src/runtime/client/dev-overlay/plugins/astro.ts
  packages/astro/src/runtime/client/dev-overlay/plugins/audit.ts
  packages/astro/src/runtime/client/dev-overlay/plugins/utils/highlight.ts
  packages/astro/src/runtime/client/dev-overlay/plugins/xray.ts
Labels: pkg: astro, docs pr

#8930 Prevent passing slot names as props
  .changeset/swift-suits-drum.md
  packages/integrations/vue/server.js
  packages/integrations/vue/test/basics.test.js
  packages/integrations/vue/test/fixtures/basics/astro.config.mjs
  packages/integrations/vue/test/fixtures/basics/package.json
  packages/integrations/vue/test/fixtures/basics/src/components/Foo.vue
  packages/integrations/vue/test/fixtures/basics/src/components/Parent.astro
  packages/integrations/vue/test/fixtures/basics/src/pages/index.astro
  pnpm-lock.yaml
Labels: pkg: vue, pkg: integration, docs pr

#8941 [docs] remove outdated anchor links
  packages/astro-rss/README.md
  packages/astro/src/@types/astro.ts
  packages/astro/src/core/errors/errors-data.ts
Labels: pkg: astro, docs pr

#8939 fix(create-astro): TypeScript installation failure with yarn
  .changeset/young-avocados-wink.md
  packages/create-astro/src/actions/typescript.ts
Labels: pkg: create-astro, docs pr

#8762 chore(deps): Upgrade Zod to @latest
  .changeset/swift-rivers-impress.md
  packages/astro/package.json
  packages/astro/src/core/config/schema.ts
  packages/integrations/markdoc/package.json
  packages/integrations/sitemap/package.json
  pnpm-lock.yaml
Labels: pkg: integration, pkg: astro, docs pr

#8961 Content Collections refactor cached build to happen in a single step
  packages/astro/src/content/utils.ts
  packages/astro/src/content/vite-plugin-content-assets.ts
  packages/astro/src/content/vite-plugin-content-virtual-mod.ts
  packages/astro/src/core/build/internal.ts
  packages/astro/src/core/build/plugins/index.ts
  packages/astro/src/core/build/plugins/plugin-analyzer.ts
  packages/astro/src/core/build/plugins/plugin-chunks.ts
  packages/astro/src/core/build/plugins/plugin-content.ts
  packages/astro/src/core/build/plugins/plugin-external.ts
  packages/astro/src/core/build/plugins/plugin-internals.ts
  packages/astro/src/core/build/static-build.ts
  packages/astro/test/fixtures/content-collection-references/src/pages/welcome-data.json.js
Labels: pkg: astro

#8964 Three small improvements for handling client-only in view transitions
  packages/astro/src/transitions/router.ts
Labels: pkg: astro

#8965 Move VT route announcer styles to a class
  .changeset/sweet-nails-dream.md
  packages/astro/components/viewtransitions.css
  packages/astro/src/transitions/router.ts
Labels: pkg: astro, docs pr

#8962 Add `experimental.contentCollectionCache` config option
  packages/astro/src/@types/astro.ts
  packages/astro/src/content/runtime.ts
  packages/astro/src/content/vite-plugin-content-assets.ts
  packages/astro/src/content/vite-plugin-content-virtual-mod.ts
  packages/astro/src/core/build/plugin.ts
  packages/astro/src/core/build/plugins/plugin-content.ts
  packages/astro/src/core/build/static-build.ts
  packages/astro/src/core/config/schema.ts
Labels: pkg: astro, docs pr

#8966 refactor: dev overlay to make it easier to work with VT
  .changeset/healthy-hornets-kiss.md
  packages/astro/src/@types/astro.ts
  packages/astro/src/runtime/client/dev-overlay/entrypoint.ts
  packages/astro/src/runtime/client/dev-overlay/overlay.ts
  packages/astro/src/runtime/client/dev-overlay/plugins/astro.ts
  packages/astro/src/runtime/client/dev-overlay/plugins/audit.ts
  packages/astro/src/runtime/client/dev-overlay/plugins/utils/highlight.ts
  packages/astro/src/runtime/client/dev-overlay/plugins/xray.ts
  packages/astro/src/runtime/client/dev-overlay/ui-library/tooltip.ts
  packages/astro/src/vite-plugin-astro-server/route.ts
Labels: pkg: astro
