Repository withastro/astro, pull requests merged in 2023-09, with the labels that each got.

#8348 fix(@astrojs/vercel): slowness and symbolic link
  .changeset/proud-forks-rescue.md
  packages/integrations/vercel/src/lib/fs.ts
  packages/integrations/vercel/src/lib/nft.ts
  packages/integrations/vercel/src/serverless/adapter.ts
Labels: pkg: integration

#8354 fix(vercel): Don't output an error message for failing to resolve sharp
  .changeset/shy-socks-return.md
  packages/integrations/vercel/src/lib/nft.ts
Labels: pkg: integration

#8346 Uppercase endpoint examples in adapter READMEs
  .changeset/quiet-sheep-refuse.md
  packages/integrations/cloudflare/README.md
  packages/integrations/netlify/README.md
Labels: pkg: integration

#8357 feat: add progress to asset generation
  .changeset/polite-scissors-invent.md
  packages/astro/src/assets/build/generate.ts
  packages/astro/src/core/build/generate.ts
Labels: pkg: astro

#8367 fix: tsc complaining about astro imports again
  .changeset/flat-cows-own.md
  packages/astro/components/index.ts
Labels: pkg: astro

#8366 Ensure `chunkFileNames` do not include invalid characters
  .changeset/eighty-laws-brake.md
  packages/astro/src/core/build/static-build.ts
Labels: pkg: astro

#8370 fix: remove double `}`
  .changeset/many-mayflies-punch.md
  packages/astro/src/core/build/generate.ts
Labels: pkg: astro

#8388 Fix pipeline `beforeHydrationScript` handling
  .changeset/hot-colts-call.md
  packages/astro/src/core/build/buildPipeline.ts
Labels: pkg: astro

#8383 chore: use `z.coerce.date()` to pass input through `new Date(input)`.
  examples/blog/src/content/config.ts
  packages/astro/test/fixtures/content-ssr-integration/src/content/config.ts
  packages/astro/test/fixtures/content-static-paths-integration/src/content/config.ts
Labels: pkg: example, pkg: astro

#8391 Update examples & uppercase endpoints & fix response
  examples/blog/src/pages/rss.xml.js
  examples/non-html-pages/src/pages/about.json.ts
  examples/ssr/src/pages/api/cart.ts
  examples/ssr/src/pages/api/products.ts
  examples/ssr/src/pages/api/products/[id].ts
Labels: pkg: example

#8385 refactor: fix typo in astro.ts
  packages/astro/src/@types/astro.ts
Labels: pkg: astro

#8406 fix: `funcitonPerRoute` → `functionPerRoute` in vercel integ package changelog
  packages/integrations/vercel/CHANGELOG.md
Labels: pkg: integration

#8405 Add location data to MDX compile errors
  .changeset/spotty-glasses-grin.md
  packages/integrations/mdx/src/index.ts
Labels: pkg: integration

#8410 Fix some formatting problems and description in astro.ts
  packages/astro/src/@types/astro.ts
Labels: pkg: astro

#8414 fix: missing imageConfig type in astro:assets
  .changeset/hip-cats-jump.md
  packages/astro/client.d.ts
Labels: pkg: astro

#8351 Allow vite to refer to inlined CSS
  .changeset/chatty-walls-happen.md
  .changeset/fair-countries-admire.md
  .eslintrc.cjs
  packages/astro/src/core/app/index.ts
  packages/astro/src/core/build/plugins/plugin-css.ts
  packages/astro/test/css-dangling-references.test.js
  packages/astro/test/fixtures/css-dangling-references/astro.config.ts
  packages/astro/test/fixtures/css-dangling-references/package.json
  packages/astro/test/fixtures/css-dangling-references/src/components/DynamicallyImportedComponent1.svelte
  packages/astro/test/fixtures/css-dangling-references/src/components/DynamicallyImportedComponent2.svelte
  packages/astro/test/fixtures/css-dangling-references/src/components/Wrapper.svelte
  packages/astro/test/fixtures/css-dangling-references/src/pages/glob-import-1.astro
  packages/astro/test/fixtures/css-dangling-references/src/pages/glob-import-2.astro
  packages/astro/test/fixtures/css-inline-stylesheets/package.json
  packages/integrations/svelte/src/index.ts
  pnpm-lock.yaml
Labels: pkg: svelte, pkg: integration, pkg: astro

#8332 Fix scroll position when navigating back from page w/o ViewTransitions
  .changeset/weak-kids-roll.md
  packages/astro/components/ViewTransitions.astro
  packages/astro/e2e/fixtures/view-transitions/src/pages/long-page.astro
  packages/astro/e2e/view-transitions.test.js
Labels: pkg: astro

#8417 Skip cloudflare CLI tests if fail to start
  packages/integrations/cloudflare/test/basics.test.js
  packages/integrations/cloudflare/test/cf.test.js
  packages/integrations/cloudflare/test/runtime.test.js
  packages/integrations/cloudflare/test/with-solid-js.test.js
Labels: pkg: integration

#8418 Fix markdown page HMR
  .changeset/twelve-cars-tell.md
  packages/astro/src/vite-plugin-markdown/index.ts
  packages/astro/test/astro-pages.test.js
Labels: pkg: astro

#8424 fix: caching not working for `astro:assets`
  .changeset/empty-rings-bow.md
  packages/astro/src/assets/build/generate.ts
Labels: pkg: astro

#8408 fix: include route prefix in vercel func names, fix #8401
  .changeset/modern-guests-float.md
  packages/integrations/vercel/src/serverless/adapter.ts
  packages/integrations/vercel/test/fixtures/serverless-with-dynamic-routes/astro.config.mjs
  packages/integrations/vercel/test/fixtures/serverless-with-dynamic-routes/included.js
  packages/integrations/vercel/test/fixtures/serverless-with-dynamic-routes/package.json
  packages/integrations/vercel/test/fixtures/serverless-with-dynamic-routes/src/pages/[id]/index.astro
  packages/integrations/vercel/test/fixtures/serverless-with-dynamic-routes/src/pages/api/[id].js
  packages/integrations/vercel/test/fixtures/serverless-with-dynamic-routes/src/pages/index.astro
  packages/integrations/vercel/test/serverless-with-dynamic-routes.test.js
  pnpm-lock.yaml
Labels: pkg: integration

#8306 Improve Package Detection
  .changeset/friendly-clocks-act.md
  packages/astro/package.json
  packages/astro/src/cli/add/index.ts
  packages/astro/src/cli/install-package.ts
  packages/astro/src/cli/telemetry/index.ts
  packages/astro/src/core/messages.ts
  packages/create-astro/src/actions/context.ts
  packages/create-astro/src/actions/dependencies.ts
  packages/create-astro/src/actions/next-steps.ts
  packages/create-astro/test/dependencies.test.js
  packages/create-astro/test/next.test.js
  pnpm-lock.yaml
Labels: pkg: create-astro, pkg: astro

#8416 fix: make sharp an optional dep
  .changeset/sweet-icons-stare.md
  packages/astro/package.json
  packages/astro/src/core/errors/errors-data.ts
  pnpm-lock.yaml
Labels: pkg: astro

#8428 Fix React dev mode using a base
  .changeset/cold-knives-peel.md
  packages/integrations/react/package.json
  packages/integrations/react/src/index.ts
  pnpm-lock.yaml
Labels: pkg: react, pkg: integration

#8427 trim project name of the user input
  .changeset/eighty-gifts-speak.md
  packages/create-astro/src/actions/project-name.ts
  packages/create-astro/test/project-name.test.js
Labels: pkg: create-astro

#8429 [docs] Typo fix in Cloudflare README
  .changeset/lovely-shoes-scream.md
  packages/integrations/cloudflare/README.md
Labels: pkg: integration, pkg: cloudflare

#8431 Temporarily pin Node 20 version in CI
  .github/workflows/ci.yml
Labels: 🚨 action

#8438 fix: MDX errors not having stack trace and a confusing name
  .changeset/olive-deers-switch.md
  packages/integrations/mdx/src/index.ts
Labels: pkg: example, pkg: integration

#8437 fix: imports for images with uppercase extensions not working
  .changeset/nice-sheep-bathe.md
  packages/astro/src/assets/vite-plugin-assets.ts
  packages/astro/test/core-image.test.js
  packages/astro/test/fixtures/core-image/src/assets/walrus.JPG
  packages/astro/test/fixtures/core-image/src/pages/uppercase.astro
Labels: pkg: astro

#8440 Fix `renderToFinalDestination` handling
  .changeset/tame-fans-happen.md
  packages/astro/src/runtime/server/render/any.ts
Labels: pkg: astro

#8365 fix hydration in solid renderer
  .changeset/giant-cycles-marry.md
  packages/integrations/solid/src/client.ts
Labels: pkg: solid, pkg: integration

#8443 Fix "Cannot read properties of null" in cli/telemetry
  .changeset/strong-colts-hang.md
  packages/astro/src/cli/telemetry/index.ts
Labels: pkg: astro

#8430 Refactor mdx remark plugins
  .changeset/cuddly-baboons-begin.md
  .changeset/stupid-olives-push.md
  packages/integrations/mdx/package.json
  packages/integrations/mdx/src/plugins.ts
  packages/integrations/mdx/src/remark-prism.ts
  packages/integrations/mdx/src/remark-shiki.ts
  packages/markdown/remark/src/index.ts
  packages/markdown/remark/src/remark-prism.ts
  packages/markdown/remark/src/remark-scoped-styles.ts
  packages/markdown/remark/src/remark-shiki.ts
  packages/markdown/remark/src/types.ts
  pnpm-lock.yaml
Labels: feat: markdown, pkg: integration

#8448 Unmount Svelte islands properly on navigation
  .changeset/sweet-sheep-sell.md
  packages/integrations/svelte/client.js
Labels: pkg: svelte, pkg: integration

#8441 Transition only between pages where both have ViewTransitions enabled
  .changeset/curvy-dolls-thank.md
  packages/astro/components/ViewTransitions.astro
  packages/astro/e2e/fixtures/view-transitions/src/pages/five.astro
  packages/astro/e2e/fixtures/view-transitions/src/pages/three.astro
  packages/astro/e2e/view-transitions.test.js
Labels: pkg: astro

#8455 fix(react): support void children in experimentalReactChildren
  .changeset/cool-jokes-unite.md
  packages/integrations/react/vnode-children.js
Labels: pkg: react, pkg: integration

#8462 refactor: move type utils into a single file
  packages/astro/client.d.ts
  packages/astro/src/@types/astro.ts
  packages/astro/src/assets/types.ts
  packages/astro/src/runtime/server/serialize.ts
  packages/astro/src/type-utils.ts
Labels: pkg: astro

#8461 Fix: lang unspecified code blocks
  .changeset/poor-pears-wash.md
  examples/README.md
  examples/basics/README.md
  examples/blog/README.md
  examples/component/README.md
  examples/deno/README.md
  examples/framework-alpine/README.md
  examples/framework-lit/README.md
  examples/framework-multiple/README.md
  examples/framework-preact/README.md
  examples/framework-react/README.md
  examples/framework-solid/README.md
  examples/framework-svelte/README.md
  examples/framework-vue/README.md
  examples/hackernews/README.md
  examples/integration/README.md
  examples/minimal/README.md
  examples/non-html-pages/README.md
  examples/portfolio/README.md
  examples/with-markdoc/README.md
  examples/with-markdown-plugins/README.md
  examples/with-markdown-shiki/README.md
  examples/with-mdx/README.md
  examples/with-nanostores/README.md
  examples/with-tailwindcss/README.md
  examples/with-vite-plugin-pwa/README.md
  examples/with-vitest/README.md
Labels: pkg: example

#8492 fix(types): make `image.service` optional
  .changeset/spotty-tools-rhyme.md
  packages/astro/src/@types/astro.ts
Labels: pkg: astro

#8484 fix(astro): support `content/config.mts`
  .changeset/calm-houses-carry.md
  packages/astro/src/content/utils.ts
  packages/astro/test/content-collections.test.js
  packages/astro/test/fixtures/content-collections-with-config-mts/package.json
  packages/astro/test/fixtures/content-collections-with-config-mts/src/content/blog/introduction.md
  packages/astro/test/fixtures/content-collections-with-config-mts/src/content/config.mts
  packages/astro/test/fixtures/content-collections-with-config-mts/src/pages/index.astro
  pnpm-lock.yaml
Labels: pkg: astro

#8491 Bugfixes for back navigation in the view transition client-side router
  .changeset/witty-readers-behave.md
  packages/astro/components/ViewTransitions.astro
  packages/astro/e2e/view-transitions.test.js
Labels: pkg: astro

#8494 Clear caches older than 5 days
  .github/workflows/cleanup-cache.yml
Labels: 🚨 action

#8504 fix: minify HTML for redirects when emitted as HTML files
  .changeset/gold-weeks-hammer.md
  packages/astro/src/core/build/generate.ts
  packages/astro/test/redirects.test.js
Labels: pkg: astro

#8506 chore: correct description of `attribute` option in `scopedStyleStrategy`
  .changeset/itchy-clouds-design.md
  packages/astro/src/@types/astro.ts
Labels: pkg: astro

#8380 Support AVIF input assets
  .changeset/five-doors-love.md
  packages/astro/client.d.ts
  packages/astro/package.json
  packages/astro/src/assets/consts.ts
  packages/astro/src/assets/utils/metadata.ts
  packages/astro/src/assets/vendor/README.md
  packages/astro/src/assets/vendor/image-size/LICENSE
  packages/astro/src/assets/vendor/image-size/detector.ts
  packages/astro/src/assets/vendor/image-size/index.ts
  packages/astro/src/assets/vendor/image-size/readUInt.ts
  packages/astro/src/assets/vendor/image-size/types.ts
  packages/astro/src/assets/vendor/image-size/types/bmp.ts
  packages/astro/src/assets/vendor/image-size/types/cur.ts
  packages/astro/src/assets/vendor/image-size/types/dds.ts
  packages/astro/src/assets/vendor/image-size/types/gif.ts
  packages/astro/src/assets/vendor/image-size/types/icns.ts
  packages/astro/src/assets/vendor/image-size/types/ico.ts
  packages/astro/src/assets/vendor/image-size/types/interface.ts
  packages/astro/src/assets/vendor/image-size/types/j2c.ts
  packages/astro/src/assets/vendor/image-size/types/jp2.ts
  packages/astro/src/assets/vendor/image-size/types/jpg.ts
  packages/astro/src/assets/vendor/image-size/types/ktx.ts
  packages/astro/src/assets/vendor/image-size/types/png.ts
  packages/astro/src/assets/vendor/image-size/types/pnm.ts
  packages/astro/src/assets/vendor/image-size/types/psd.ts
  packages/astro/src/assets/vendor/image-size/types/svg.ts
  packages/astro/src/assets/vendor/image-size/types/tiff.ts
  packages/astro/src/assets/vendor/image-size/types/webp.ts
  packages/astro/src/assets/vendor/queue/LICENSE
  packages/astro/src/assets/vendor/queue/queue.js
  packages/astro/src/assets/vite-plugin-assets.ts
  packages/astro/test/core-image.test.js
  packages/astro/test/fixtures/core-image/src/assets/light_walrus.avif
  packages/astro/test/fixtures/core-image/src/pages/avif.astro
  pnpm-lock.yaml
Labels: pkg: astro

#8426 feat(@astrojs/cloudflare): add runtime support to `astro dev`
  .changeset/smart-dragons-taste.md
  packages/integrations/cloudflare/README.md
  packages/integrations/cloudflare/package.json
  packages/integrations/cloudflare/runtime.d.ts
  packages/integrations/cloudflare/src/index.ts
  packages/integrations/cloudflare/src/parser.ts
  packages/integrations/cloudflare/src/server.advanced.ts
  packages/integrations/cloudflare/src/server.directory.ts
  packages/integrations/cloudflare/test/cf.test.js
  packages/integrations/cloudflare/test/fixtures/cf/.dev.vars
  packages/integrations/cloudflare/test/fixtures/cf/astro.config.mjs
  packages/integrations/cloudflare/test/fixtures/cf/wrangler.toml
  pnpm-lock.yaml
Labels: pkg: integration

#8511 revert: avif support
  .changeset/five-doors-love.md
  packages/astro/client.d.ts
  packages/astro/package.json
  packages/astro/src/assets/consts.ts
  packages/astro/src/assets/utils/metadata.ts
  packages/astro/src/assets/vendor/README.md
  packages/astro/src/assets/vendor/image-size/LICENSE
  packages/astro/src/assets/vendor/image-size/detector.ts
  packages/astro/src/assets/vendor/image-size/index.ts
  packages/astro/src/assets/vendor/image-size/readUInt.ts
  packages/astro/src/assets/vendor/image-size/types.ts
  packages/astro/src/assets/vendor/image-size/types/bmp.ts
  packages/astro/src/assets/vendor/image-size/types/cur.ts
  packages/astro/src/assets/vendor/image-size/types/dds.ts
  packages/astro/src/assets/vendor/image-size/types/gif.ts
  packages/astro/src/assets/vendor/image-size/types/icns.ts
  packages/astro/src/assets/vendor/image-size/types/ico.ts
  packages/astro/src/assets/vendor/image-size/types/interface.ts
  packages/astro/src/assets/vendor/image-size/types/j2c.ts
  packages/astro/src/assets/vendor/image-size/types/jp2.ts
  packages/astro/src/assets/vendor/image-size/types/jpg.ts
  packages/astro/src/assets/vendor/image-size/types/ktx.ts
  packages/astro/src/assets/vendor/image-size/types/png.ts
  packages/astro/src/assets/vendor/image-size/types/pnm.ts
  packages/astro/src/assets/vendor/image-size/types/psd.ts
  packages/astro/src/assets/vendor/image-size/types/svg.ts
  packages/astro/src/assets/vendor/image-size/types/tiff.ts
  packages/astro/src/assets/vendor/image-size/types/webp.ts
  packages/astro/src/assets/vendor/queue/LICENSE
  packages/astro/src/assets/vendor/queue/queue.js
  packages/astro/src/assets/vite-plugin-assets.ts
  packages/astro/test/core-image.test.js
  packages/astro/test/fixtures/core-image/src/assets/light_walrus.avif
  packages/astro/test/fixtures/core-image/src/pages/avif.astro
  pnpm-lock.yaml
Labels: pkg: astro

#8480 Removed `<style>` with `type="text/css"` from inline output at build time
  .changeset/gorgeous-dancers-divide.md
  packages/astro/src/core/render/ssr-element.ts
  packages/astro/src/runtime/client/hmr.ts
  packages/astro/src/runtime/server/render/tags.ts
  packages/astro/src/vite-plugin-astro-server/route.ts
  packages/integrations/deno/test/basics.test.ts
  packages/integrations/node/test/prerender-404-500.test.js
Labels: pkg: integration, pkg: astro

#8505 Restore horizontal scroll position on history navigation (view transitions)
  .changeset/polite-ravens-serve.md
  packages/astro/components/ViewTransitions.astro
  packages/astro/e2e/fixtures/view-transitions/src/pages/wide-page.astro
  packages/astro/e2e/view-transitions.test.js
Labels: pkg: astro

#8522 Vt follow redirects
  .changeset/warm-windows-occur.md
  packages/astro/components/ViewTransitions.astro
  packages/astro/e2e/fixtures/view-transitions/astro.config.mjs
  packages/astro/e2e/fixtures/view-transitions/src/pages/one.astro
  packages/astro/e2e/view-transitions.test.js
Labels: pkg: astro

#8529 chore(create-astro): Remove npm 6.x note
  packages/create-astro/README.md
Labels: pkg: create-astro

#8456 Improve `create-astro` startup performance
  .changeset/ten-kings-smash.md
  packages/create-astro/create-astro.mjs
  packages/create-astro/package.json
  packages/create-astro/src/actions/context.ts
  packages/create-astro/src/actions/intro.ts
  packages/create-astro/src/actions/next-steps.ts
  packages/create-astro/src/actions/verify.ts
  packages/create-astro/src/index.ts
  packages/create-astro/src/messages.ts
  pnpm-lock.yaml
Labels: pkg: create-astro

#8536 feat: better errors for images
  .changeset/slow-mirrors-provide.md
  packages/astro/src/assets/internal.ts
  packages/astro/src/assets/services/service.ts
  packages/astro/src/core/errors/dev/utils.ts
  packages/astro/src/core/errors/errors-data.ts
  packages/astro/src/core/errors/overlay.ts
Labels: pkg: astro

#8518 Support AVIF input assets
  .changeset/five-doors-love.md
  packages/astro/client.d.ts
  packages/astro/package.json
  packages/astro/src/assets/consts.ts
  packages/astro/src/assets/utils/metadata.ts
  packages/astro/src/assets/vendor/README.md
  packages/astro/src/assets/vendor/image-size/LICENSE
  packages/astro/src/assets/vendor/image-size/detector.ts
  packages/astro/src/assets/vendor/image-size/index.ts
  packages/astro/src/assets/vendor/image-size/readUInt.ts
  packages/astro/src/assets/vendor/image-size/types.ts
  packages/astro/src/assets/vendor/image-size/types/bmp.ts
  packages/astro/src/assets/vendor/image-size/types/cur.ts
  packages/astro/src/assets/vendor/image-size/types/dds.ts
  packages/astro/src/assets/vendor/image-size/types/gif.ts
  packages/astro/src/assets/vendor/image-size/types/icns.ts
  packages/astro/src/assets/vendor/image-size/types/ico.ts
  packages/astro/src/assets/vendor/image-size/types/interface.ts
  packages/astro/src/assets/vendor/image-size/types/j2c.ts
  packages/astro/src/assets/vendor/image-size/types/jp2.ts
  packages/astro/src/assets/vendor/image-size/types/jpg.ts
  packages/astro/src/assets/vendor/image-size/types/ktx.ts
  packages/astro/src/assets/vendor/image-size/types/png.ts
  packages/astro/src/assets/vendor/image-size/types/pnm.ts
  packages/astro/src/assets/vendor/image-size/types/psd.ts
  packages/astro/src/assets/vendor/image-size/types/svg.ts
  packages/astro/src/assets/vendor/image-size/types/tiff.ts
  packages/astro/src/assets/vendor/image-size/types/webp.ts
  packages/astro/src/assets/vendor/queue/LICENSE
  packages/astro/src/assets/vendor/queue/queue.js
  packages/astro/src/assets/vite-plugin-assets.ts
  packages/astro/test/core-image.test.js
  packages/astro/test/fixtures/core-image/src/assets/light_walrus.avif
  packages/astro/test/fixtures/core-image/src/pages/avif.astro
  pnpm-lock.yaml
Labels: pkg: astro, semver: minor

#8475 feat(markdown): Add support for `imageReference` paths when collecting images
  .changeset/grumpy-seas-learn.md
  packages/markdown/remark/package.json
  packages/markdown/remark/src/remark-collect-images.ts
  packages/markdown/remark/test/remark-collect-images.test.js
  packages/markdown/remark/test/test-utils.js
  pnpm-lock.yaml
Labels: feat: markdown

#8467 feat(assets): Allow users to set a custom endpoint to use for image optimization
  .changeset/dirty-seahorses-move.md
  packages/astro/src/@types/astro.ts
  packages/astro/src/assets/internal.ts
  packages/astro/src/core/config/schema.ts
  packages/astro/test/core-image.test.js
  packages/astro/test/fixtures/core-image/src/custom-endpoint.ts
Labels: pkg: astro, semver: minor

#8002 chore: check if ssr works on netlify
  packages/integrations/netlify/test/hosted/hosted-astro-project/src/pages/time.astro
  packages/integrations/netlify/test/hosted/hosted.test.js
Labels: pkg: integration

#7607 feat: added types to allow the creation of user space content services
  .changeset/small-apes-clap.md
  packages/astro/content-types.template.d.ts
Labels: pkg: astro

#8537 Fix for checking media type in CSR
  .changeset/sixty-beds-give.md
  packages/astro/components/ViewTransitions.astro
Labels: pkg: astro

#8530 chore(astro): update readme
  packages/astro/README.md
Labels: pkg: astro

#8021 [@astrojs/vercel] Individually enable Speed Insights and Web Analytics
  .changeset/sixty-teachers-tap.md
  packages/integrations/vercel/README.md
  packages/integrations/vercel/package.json
  packages/integrations/vercel/src/lib/speed-insights.ts
  packages/integrations/vercel/src/lib/web-analytics.ts
  packages/integrations/vercel/src/serverless/adapter.ts
  packages/integrations/vercel/src/speed-insights.ts
  packages/integrations/vercel/src/static/adapter.ts
  packages/integrations/vercel/src/types.d.ts
  packages/integrations/vercel/test/fixtures/with-speed-insights-enabled/output-as-server/astro.config.mjs
  packages/integrations/vercel/test/fixtures/with-speed-insights-enabled/output-as-server/package.json
  packages/integrations/vercel/test/fixtures/with-speed-insights-enabled/output-as-server/src/pages/one.astro
  packages/integrations/vercel/test/fixtures/with-speed-insights-enabled/output-as-server/src/pages/two.astro
  packages/integrations/vercel/test/fixtures/with-speed-insights-enabled/output-as-static/astro.config.mjs
  packages/integrations/vercel/test/fixtures/with-speed-insights-enabled/output-as-static/package.json
  packages/integrations/vercel/test/fixtures/with-speed-insights-enabled/output-as-static/src/pages/one.astro
  packages/integrations/vercel/test/fixtures/with-speed-insights-enabled/output-as-static/src/pages/two.astro
  packages/integrations/vercel/test/fixtures/with-web-analytics-enabled/output-as-static/astro.config.mjs
  packages/integrations/vercel/test/fixtures/with-web-analytics-enabled/output-as-static/package.json
  packages/integrations/vercel/test/fixtures/with-web-analytics-enabled/output-as-static/src/pages/one.astro
  packages/integrations/vercel/test/fixtures/with-web-analytics-enabled/output-as-static/src/pages/two.astro
  packages/integrations/vercel/test/speed-insights.test.js
  packages/integrations/vercel/test/web-analytics.test.js
  pnpm-lock.yaml
Labels: pkg: integration

#8533 Improve MDX rendering performance
  .changeset/thin-starfishes-love.md
  packages/integrations/mdx/package.json
  packages/integrations/mdx/src/index.ts
  packages/integrations/mdx/src/plugins.ts
  packages/integrations/mdx/src/recma-inject-import-meta-env.ts
  packages/integrations/mdx/src/rehype-apply-frontmatter-export.ts
  packages/markdown/remark/src/frontmatter-injection.ts
  packages/markdown/remark/src/index.ts
  packages/markdown/remark/src/internal.ts
  pnpm-lock.yaml
Labels: feat: markdown, pkg: integration

#8580 fix: islands are not being rendered correctly
  .changeset/eighty-trainers-accept.md
  packages/astro/src/runtime/server/scripts.ts
Labels: pkg: astro

#8568 fix(assets): Fix misc types issues
  .changeset/fair-teachers-protect.md
  packages/astro/client.d.ts
  packages/astro/content-types.template.d.ts
  packages/astro/src/@types/astro.ts
  packages/astro/src/assets/internal.ts
  packages/astro/src/assets/types.ts
Labels: pkg: astro

#8583 Tailwind configuration file changed from `cjs` to `ts`
  packages/integrations/tailwind/README.md
Labels: pkg: integration

#8560 feat(@astro/cloudflare): improve DX for runtime typing
  .changeset/thin-pigs-mate.md
  packages/integrations/cloudflare/README.md
  packages/integrations/cloudflare/src/server.advanced.ts
  packages/integrations/cloudflare/src/server.directory.ts
Labels: pkg: integration

#8579 fix: redirect page type icon not properly displayed
  .changeset/two-jeans-serve.md
  packages/astro/src/core/build/generate.ts
Labels: pkg: astro

#8581 fix: Vercel serverless adapter logs too much
  .changeset/fluffy-dodos-rule.md
  packages/integrations/vercel/src/serverless/adapter.ts
Labels: pkg: integration

#8551 feat(create-astro): Update flag behavior for template and project-name
  .changeset/plenty-taxis-hunt.md
  packages/create-astro/src/actions/project-name.ts
  packages/create-astro/src/actions/template.ts
  packages/create-astro/test/project-name.test.js
Labels: pkg: create-astro

#8595 fix(@astrojs/cloudflare): support for nodejs_compat
  .changeset/fifty-weeks-bake.md
  packages/integrations/cloudflare/README.md
  packages/integrations/cloudflare/src/index.ts
Labels: pkg: integration

#8576 Improved the spelling of a word in the Portfolio template.
  examples/portfolio/src/pages/index.astro
Labels: pkg: example

#8599 fix(node): report render error to the terminal
  .changeset/curly-icons-watch.md
  packages/integrations/node/src/nodeMiddleware.ts
Labels: pkg: integration

#8592 Fix alias plugin causing CSS ordering issue
  .changeset/serious-wolves-breathe.md
  packages/astro/src/vite-plugin-config-alias/index.ts
Labels: pkg: astro

#8605 test: since we check the media-type, data-astro-reload has fewer use cases
  packages/astro/e2e/fixtures/view-transitions/src/pages/four.astro
  packages/astro/e2e/view-transitions.test.js
Labels: pkg: astro

#8603 Prevent body scripts from re-executing on navigation
  .changeset/warm-turkeys-develop.md
  packages/astro/components/ViewTransitions.astro
  packages/astro/e2e/fixtures/view-transitions/src/components/InlineScript.astro
  packages/astro/e2e/fixtures/view-transitions/src/pages/inline-script-one.astro
  packages/astro/e2e/fixtures/view-transitions/src/pages/inline-script-two.astro
  packages/astro/e2e/view-transitions.test.js
Labels: pkg: astro

#8600 telemetry: Improve config info object format
  .changeset/large-shoes-hammer.md
  packages/astro/src/cli/add/index.ts
  packages/astro/src/core/config/schema.ts
  packages/astro/src/events/session.ts
  packages/astro/test/events.test.js
  packages/telemetry/README.md
Labels: pkg: astro

#8614 fix(middleware): undo config's path to URL encoding
  .changeset/tidy-kiwis-lick.md
  packages/astro/src/core/build/plugins/plugin-middleware.ts
  packages/astro/src/core/middleware/loadMiddleware.ts
  packages/astro/test/featuresSupport.test.js
  packages/astro/test/fixtures/middleware space/package.json
  packages/astro/test/fixtures/middleware space/src/middleware.js
  packages/astro/test/fixtures/middleware space/src/pages/404.astro
  packages/astro/test/fixtures/middleware space/src/pages/api/endpoint.js
  packages/astro/test/fixtures/middleware space/src/pages/broken-500.astro
  packages/astro/test/fixtures/middleware space/src/pages/broken-locals.astro
  packages/astro/test/fixtures/middleware space/src/pages/clone.astro
  packages/astro/test/fixtures/middleware space/src/pages/does-nothing.astro
  packages/astro/test/fixtures/middleware space/src/pages/index.astro
  packages/astro/test/fixtures/middleware space/src/pages/lorem.astro
  packages/astro/test/fixtures/middleware space/src/pages/not-interested.astro
  packages/astro/test/fixtures/middleware space/src/pages/redirect.astro
  packages/astro/test/fixtures/middleware space/src/pages/rewrite.astro
  packages/astro/test/fixtures/middleware space/src/pages/second.astro
  packages/astro/test/middleware.test.js
  pnpm-lock.yaml
Labels: pkg: astro

#8612 Ensure cookies are attached when middleware changes the Response
  .changeset/curvy-owls-rest.md
  packages/astro/src/core/cookies/index.ts
  packages/astro/src/core/cookies/response.ts
  packages/astro/src/core/middleware/callMiddleware.ts
  packages/astro/test/fixtures/middleware space/src/middleware.js
  packages/astro/test/fixtures/middleware space/src/pages/return-response-cookies.astro
  packages/astro/test/middleware.test.js
Labels: pkg: astro

#8617 Clean-up router implementation
  packages/astro/components/ViewTransitions.astro
  packages/astro/e2e/view-transitions.test.js
Labels: pkg: astro

#8598 fix(markdown): Fix Markdown images breaking the build
  .changeset/honest-snakes-peel.md
  packages/astro/src/assets/services/squoosh.ts
  packages/astro/src/assets/utils/emitAsset.ts
  packages/astro/src/assets/utils/metadata.ts
  packages/astro/src/assets/vite-plugin-assets.ts
  packages/astro/src/core/errors/errors-data.ts
  packages/astro/src/vite-plugin-markdown/index.ts
Labels: pkg: astro

#8624 Revert "fix: islands are not being rendered correctly (#8580)"
  packages/astro/src/runtime/server/scripts.ts
Labels: pkg: astro

#8623 Fix subheading inconsistency
  packages/integrations/node/README.md
Labels: pkg: integration

#8607 feat(i18n): first draft of configuration
  packages/astro/client.d.ts
  packages/astro/package.json
  packages/astro/src/@types/astro.ts
  packages/astro/src/core/config/schema.ts
  packages/astro/src/i18n/index.ts
  packages/astro/src/i18n/vite-plugin-i18n.ts
  packages/astro/src/integrations/astroFeaturesValidation.ts
  packages/astro/test/units/i18n/getI18nBaseUrl.test.js
Labels: pkg: astro

#8634 Fix behaviour regression in create-astro
  .changeset/neat-islands-wink.md
  packages/create-astro/src/actions/template.ts
  packages/create-astro/test/template.test.js
Labels: pkg: create-astro

#8619 Update: Improve manual install guide of `@astrojs/tailwind` integration
  packages/integrations/tailwind/README.md
Labels: pkg: integration

#8628 feat(i18n): default locale system for dev
  packages/astro/src/@types/astro.ts
  packages/astro/src/core/config/schema.ts
  packages/astro/src/core/routing/index.ts
  packages/astro/src/core/routing/manifest/create.ts
  packages/astro/src/core/routing/manifest/serialization.ts
  packages/astro/src/core/routing/match.ts
  packages/astro/src/vite-plugin-astro-server/devPipeline.ts
  packages/astro/src/vite-plugin-astro-server/route.ts
  packages/astro/test/dev-routing.test.js
  packages/astro/test/fixtures/i18n-routing-base/astro.config.mjs
  packages/astro/test/fixtures/i18n-routing-base/package.json
  packages/astro/test/fixtures/i18n-routing-base/src/pages/en/blog/[id].astro
  packages/astro/test/fixtures/i18n-routing-base/src/pages/en/start.astro
  packages/astro/test/fixtures/i18n-routing-base/src/pages/index.astro
  packages/astro/test/fixtures/i18n-routing-base/src/pages/pt/blog/[id].astro
  packages/astro/test/fixtures/i18n-routing-base/src/pages/pt/start.astro
  packages/astro/test/fixtures/i18n-routing/astro.config.mjs
  packages/astro/test/fixtures/i18n-routing/package.json
  packages/astro/test/fixtures/i18n-routing/src/pages/en/blog/[id].astro
  packages/astro/test/fixtures/i18n-routing/src/pages/en/start.astro
  packages/astro/test/fixtures/i18n-routing/src/pages/index.astro
  packages/astro/test/fixtures/i18n-routing/src/pages/pt/blog/[id].astro
  packages/astro/test/fixtures/i18n-routing/src/pages/pt/start.astro
  pnpm-lock.yaml
Labels: pkg: astro

#8640 Warn on empty content collections
  .changeset/spotty-jokes-arrive.md
  packages/astro/src/content/runtime.ts
  packages/astro/src/core/errors/errors-data.ts
Labels: pkg: astro

#8545 Refine CLI flag descriptions for clarity
  packages/create-astro/README.md
  packages/create-astro/src/actions/help.ts
Labels: pkg: create-astro

#8645 fix getDataEntryById to lookup by base name
  .changeset/spicy-walls-wave.md
  packages/astro/content-module.template.mjs
  packages/astro/src/content/runtime.ts
  packages/astro/test/data-collections.test.js
  packages/astro/test/fixtures/data-collections/src/pages/translations/by-id.json.js
Labels: pkg: astro

#8615 chore(core): improve the logging of assets feature
  .changeset/stale-dragons-invite.md
  packages/astro/src/integrations/astroFeaturesValidation.ts
  packages/astro/src/integrations/index.ts
Labels: pkg: astro

#8459 fix(cloudflare): added config for _routes.json generation
  .changeset/famous-seas-obey.md
  packages/integrations/cloudflare/README.md
  packages/integrations/cloudflare/src/index.ts
  packages/integrations/cloudflare/test/fixtures/routes-json/astro.config.mjs
  packages/integrations/cloudflare/test/fixtures/routes-json/package.json
  packages/integrations/cloudflare/test/fixtures/routes-json/public/_redirects
  packages/integrations/cloudflare/test/fixtures/routes-json/public/public.txt
  packages/integrations/cloudflare/test/fixtures/routes-json/src/dynamicOnly/pages/dynamic1.astro
  packages/integrations/cloudflare/test/fixtures/routes-json/src/dynamicOnly/pages/dynamic2.astro
  packages/integrations/cloudflare/test/fixtures/routes-json/src/dynamicOnly/pages/dynamic3.astro
  packages/integrations/cloudflare/test/fixtures/routes-json/src/dynamicOnly/pages/index.astro
  packages/integrations/cloudflare/test/fixtures/routes-json/src/mixed/pages/a/[...rest].astro
  packages/integrations/cloudflare/test/fixtures/routes-json/src/mixed/pages/a/[id].astro
  packages/integrations/cloudflare/test/fixtures/routes-json/src/mixed/pages/a/endpoint.ts
  packages/integrations/cloudflare/test/fixtures/routes-json/src/mixed/pages/a/index.astro
  packages/integrations/cloudflare/test/fixtures/routes-json/src/mixed/pages/b/index.html
  packages/integrations/cloudflare/test/fixtures/routes-json/src/staticOnly/pages/index.astro
  packages/integrations/cloudflare/test/routes-json.test.js
  packages/integrations/cloudflare/test/routesJson.js
  pnpm-lock.yaml
Labels: pkg: integration

#8591 fix: generated redirect page canonical lacks of site prefix
  .changeset/great-oranges-pay.md
  packages/astro/src/core/build/generate.ts
  packages/astro/test/fixtures/static-build/astro.config.mjs
  packages/astro/test/fixtures/static-build/src/pages/new.astro
  packages/astro/test/static-build.test.js
Labels: pkg: astro

#8652 fix(deno): do not set vite.ssr.noExternal
  .changeset/spotty-dryers-exist.md
  packages/integrations/deno/src/index.ts
Labels: pkg: integration

#8646 Head propagation graph walking on new pages
  .changeset/fifty-comics-cross.md
  packages/astro/src/vite-plugin-head/index.ts
  packages/astro/test/fixtures/view-transitions/package.json
  packages/astro/test/fixtures/view-transitions/src/components/Animate.astro
  packages/astro/test/fixtures/view-transitions/src/components/AnimateContainer.astro
  packages/astro/test/fixtures/view-transitions/src/components/Animations.astro
  packages/astro/test/fixtures/view-transitions/src/pages/one.astro
  packages/astro/test/fixtures/view-transitions/src/pages/two.astro
  pnpm-lock.yaml
Labels: pkg: astro

#8666 fix: print image path for NoImageMetadata
  .changeset/gentle-rocks-enjoy.md
  packages/astro/src/core/errors/errors-data.ts
Labels: pkg: astro

#8678 Fix logLevel passed to Vite build
  .changeset/fast-glasses-remain.md
  packages/astro/src/core/build/static-build.ts
  packages/astro/src/core/create-vite.ts
Labels: pkg: astro

#8672 Support integrations added in updateConfig() in astro:config:setup
  .changeset/cold-schools-yell.md
  packages/astro/src/integrations/index.ts
  packages/astro/test/units/integrations/api.test.js
Labels: pkg: astro, semver: minor

#8621 Add View Transitions announcer
  .changeset/small-rules-relax.md
  examples/view-transitions/README.md
  examples/view-transitions/astro.config.mjs
  examples/view-transitions/package.json
  examples/view-transitions/public/favicon.ico
  examples/view-transitions/src/components/Footer.astro
  examples/view-transitions/src/components/MovieCard.astro
  examples/view-transitions/src/components/MovieDetails.astro
  examples/view-transitions/src/components/MovieList.astro
  examples/view-transitions/src/components/Nav.astro
  examples/view-transitions/src/content/config.ts
  examples/view-transitions/src/content/movies/1008042.json
  examples/view-transitions/src/content/movies/1085218.json
  examples/view-transitions/src/content/movies/1880.json
  examples/view-transitions/src/content/movies/298618.json
  examples/view-transitions/src/content/movies/335977.json
  examples/view-transitions/src/content/movies/346698.json
  examples/view-transitions/src/content/movies/385687.json
  examples/view-transitions/src/content/movies/565770.json
  examples/view-transitions/src/content/movies/569094.json
  examples/view-transitions/src/content/movies/606403.json
  examples/view-transitions/src/content/movies/614930.json
  examples/view-transitions/src/content/movies/615656.json
  examples/view-transitions/src/content/movies/667538.json
  examples/view-transitions/src/content/movies/678512.json
  examples/view-transitions/src/content/movies/717930.json
  examples/view-transitions/src/content/movies/762430.json
  examples/view-transitions/src/content/movies/820525.json
  examples/view-transitions/src/content/movies/968051.json
  examples/view-transitions/src/content/movies/976573.json
  examples/view-transitions/src/content/movies/990140.json
  examples/view-transitions/src/layouts/Layout.astro
  examples/view-transitions/src/pages/index.astro
  examples/view-transitions/src/pages/movies/[id].astro
  examples/view-transitions/src/popular-movies.json
  examples/view-transitions/src/scripts/spa-navigation.js
  examples/view-transitions/src/scripts/utils.js
  examples/view-transitions/src/styles/styles.css
  examples/view-transitions/tailwind.config.cjs
  examples/view-transitions/tsconfig.json
  packages/astro/src/transitions/router.ts
  pnpm-lock.yaml
Labels: pkg: example, pkg: astro, semver: minor

#8559 Remove the deno adapter
  packages/integrations/deno/CHANGELOG.md
  packages/integrations/deno/README.md
  packages/integrations/deno/package.json
  packages/integrations/deno/src/__deno_imports.ts
  packages/integrations/deno/src/index.ts
  packages/integrations/deno/src/server.ts
  packages/integrations/deno/src/types.ts
  packages/integrations/deno/test/basics.test.ts
  packages/integrations/deno/test/dynamic-import.test.ts
  packages/integrations/deno/test/fixtures/basics/astro.config.mjs
  packages/integrations/deno/test/fixtures/basics/package.json
  packages/integrations/deno/test/fixtures/basics/src/components/React.jsx
  packages/integrations/deno/test/fixtures/basics/src/pages/404.astro
  packages/integrations/deno/test/fixtures/basics/src/pages/admin.astro
  packages/integrations/deno/test/fixtures/basics/src/pages/index.astro
  packages/integrations/deno/test/fixtures/basics/src/pages/login.astro
  packages/integrations/deno/test/fixtures/basics/src/pages/markdown.md
  packages/integrations/deno/test/fixtures/basics/src/pages/mdx.mdx
  packages/integrations/deno/test/fixtures/basics/src/pages/nodecompat.astro
  packages/integrations/deno/test/fixtures/basics/src/pages/prerender.astro
  packages/integrations/deno/test/fixtures/basics/src/util/data.ts
  packages/integrations/deno/test/fixtures/dynimport/astro.config.mjs
  packages/integrations/deno/test/fixtures/dynimport/package.json
  packages/integrations/deno/test/fixtures/dynimport/src/components/Thing.astro
  packages/integrations/deno/test/fixtures/dynimport/src/pages/index.astro
  packages/integrations/deno/test/helpers.ts
  packages/integrations/deno/tsconfig.json
Labels: pkg: integration

#8670 Fix assets not getting optimized when `outDir` is outside the CWD
  .changeset/little-onions-relax.md
  packages/astro/src/assets/build/generate.ts
Labels: pkg: astro

#8647 fix(redirects): attempt to get only params in dev mode
  .changeset/famous-numbers-smell.md
  packages/astro/src/core/render/params-and-props.ts
  packages/astro/test/fixtures/redirects/package.json
  packages/astro/test/fixtures/redirects/src/components/redirect.astro
  packages/astro/test/fixtures/redirects/src/middleware.ts
  packages/astro/test/fixtures/redirects/src/pages/articles/[...slug].astro
  packages/astro/test/fixtures/redirects/src/pages/late.astro
  packages/astro/test/fixtures/redirects/src/pages/middleware-redirect.astro
  packages/astro/test/fixtures/redirects/src/pages/more/[dynamic].astro
  packages/astro/test/fixtures/redirects/src/pages/more/[dynamic]/[route].astro
  packages/astro/test/fixtures/redirects/src/pages/more/new/[...spread].astro
  packages/astro/test/fixtures/redirects/src/pages/secret.astro
  packages/astro/test/fixtures/redirects/src/pages/test.astro
  packages/astro/test/redirects.test.js
  pnpm-lock.yaml
Labels: pkg: astro

#7776 Match the .well-known directory when generating routes.json
  .changeset/clean-planets-retire.md
  packages/integrations/cloudflare/src/index.ts
Labels: pkg: integration

#8689 Update codesample for Alpine README
  packages/integrations/alpinejs/README.md
Labels: pkg: integration

#8691 update all the readme's for expressive code
  packages/integrations/alpinejs/README.md
  packages/integrations/cloudflare/README.md
  packages/integrations/lit/README.md
  packages/integrations/markdoc/README.md
  packages/integrations/mdx/README.md
  packages/integrations/node/README.md
  packages/integrations/partytown/README.md
  packages/integrations/preact/README.md
  packages/integrations/prefetch/README.md
  packages/integrations/react/README.md
  packages/integrations/sitemap/README.md
  packages/integrations/solid/README.md
  packages/integrations/svelte/README.md
  packages/integrations/tailwind/README.md
  packages/integrations/vercel/README.md
  packages/integrations/vue/README.md
Labels: pkg: svelte, pkg: vue, pkg: react, pkg: preact, pkg: solid, pkg: lit, pkg: integration

#8693 chore(ci): pin CI Node version to 18.17.1
  .github/workflows/ci.yml
Labels: 🚨 action

#8654 chore(cloudflare): refactor structure, optimize patterns
  .changeset/olive-jeans-reply.md
  packages/integrations/cloudflare/README.md
  packages/integrations/cloudflare/package.json
  packages/integrations/cloudflare/src/entrypoints/server.advanced.ts
  packages/integrations/cloudflare/src/entrypoints/server.directory.ts
  packages/integrations/cloudflare/src/getAdapter.ts
  packages/integrations/cloudflare/src/index.ts
  packages/integrations/cloudflare/src/utils/deduplicatePatterns.ts
  packages/integrations/cloudflare/src/utils/getCFObject.ts
  packages/integrations/cloudflare/src/utils/parser.ts
  packages/integrations/cloudflare/src/utils/prependForwardSlash.ts
  packages/integrations/cloudflare/src/utils/rewriteWasmImportPath.ts
  packages/integrations/cloudflare/src/utils/wasm-module-loader.ts
Labels: pkg: integration

#8648 fix(rerouting): check that the new route is different
  .changeset/wild-bees-sneeze.md
  packages/astro/src/vite-plugin-astro-server/route.ts
  packages/astro/test/custom-404-implicit-rerouting.test.js
  packages/astro/test/fixtures/custom-404-loop-case-1/astro.config.mjs
  packages/astro/test/fixtures/custom-404-loop-case-1/package.json
  packages/astro/test/fixtures/custom-404-loop-case-1/src/pages/404.astro
  packages/astro/test/fixtures/custom-404-loop-case-1/src/pages/index.astro
  packages/astro/test/fixtures/custom-404-loop-case-2/astro.config.mjs
  packages/astro/test/fixtures/custom-404-loop-case-2/package.json
  packages/astro/test/fixtures/custom-404-loop-case-2/src/pages/404.astro
  packages/astro/test/fixtures/custom-404-loop-case-2/src/pages/index.astro
  packages/astro/test/fixtures/custom-404-loop-case-3/astro.config.mjs
  packages/astro/test/fixtures/custom-404-loop-case-3/package.json
  packages/astro/test/fixtures/custom-404-loop-case-3/src/middleware.js
  packages/astro/test/fixtures/custom-404-loop-case-3/src/pages/404.astro
  packages/astro/test/fixtures/custom-404-loop-case-3/src/pages/index.astro
  packages/astro/test/fixtures/custom-404-loop-case-4/astro.config.mjs
  packages/astro/test/fixtures/custom-404-loop-case-4/package.json
  packages/astro/test/fixtures/custom-404-loop-case-4/src/middleware.js
  packages/astro/test/fixtures/custom-404-loop-case-4/src/pages/404.astro
  packages/astro/test/fixtures/custom-404-loop-case-4/src/pages/index.astro
  pnpm-lock.yaml
Labels: pkg: astro

#8696 Revert "[ci] release (#8671)"
  .changeset/cold-schools-yell.md
  .changeset/fast-glasses-remain.md
  .changeset/fresh-pots-draw.md
  .changeset/gentle-rocks-enjoy.md
  .changeset/small-rules-relax.md
  examples/basics/package.json
  examples/blog/package.json
  examples/component/package.json
  examples/deno/package.json
  examples/framework-alpine/package.json
  examples/framework-lit/package.json
  examples/framework-multiple/package.json
  examples/framework-preact/package.json
  examples/framework-react/package.json
  examples/framework-solid/package.json
  examples/framework-svelte/package.json
  examples/framework-vue/package.json
  examples/hackernews/package.json
  examples/integration/package.json
  examples/middleware/package.json
  examples/minimal/package.json
  examples/non-html-pages/package.json
  examples/portfolio/package.json
  examples/ssr/package.json
  examples/view-transitions/package.json
  examples/with-markdoc/package.json
  examples/with-markdown-plugins/package.json
  examples/with-markdown-shiki/package.json
  examples/with-mdx/package.json
  examples/with-nanostores/package.json
  examples/with-tailwindcss/package.json
  examples/with-vite-plugin-pwa/package.json
  examples/with-vitest/package.json
  packages/astro/CHANGELOG.md
  packages/astro/package.json
  packages/integrations/cloudflare/package.json
  packages/integrations/markdoc/package.json
  packages/integrations/mdx/package.json
  packages/integrations/node/package.json
  packages/integrations/svelte/package.json
  packages/integrations/tailwind/package.json
  packages/integrations/vercel/package.json
  packages/integrations/vue/package.json
  pnpm-lock.yaml
Labels: pkg: svelte, pkg: vue, pkg: example, pkg: integration, pkg: astro, semver: minor

#8697 Remove the Deno example
  examples/deno/.codesandbox/Dockerfile
  examples/deno/.vscode/extensions.json
  examples/deno/.vscode/launch.json
  examples/deno/README.md
  examples/deno/astro.config.mjs
  examples/deno/package.json
  examples/deno/public/favicon.svg
  examples/deno/src/components/Layout.astro
  examples/deno/src/pages/index.astro
  examples/deno/tsconfig.json
Labels: pkg: example

#8694 fix(cloudflare): sneaky docs
  packages/integrations/cloudflare/README.md
Labels: pkg: integration

#8682 fix(cloudflare): target es2022 instead of es2020 to fix esbuild incompatibility issues
  .changeset/orange-windows-battle.md
  packages/integrations/cloudflare/src/index.ts
Labels: pkg: integration

#8680 Fix hydration on slow connection
  .changeset/curly-bags-attack.md
  packages/astro/src/runtime/server/astro-island.ts
  packages/astro/src/runtime/server/render/component.ts
Labels: pkg: astro

#8706 Fix duplicated Astro and Vite injected styles
  .changeset/olive-bags-think.md
  packages/astro/e2e/css-sourcemaps.test.js
  packages/astro/e2e/css.test.js
  packages/astro/e2e/fixtures/css-sourcemaps/astro.config.mjs
  packages/astro/e2e/fixtures/css-sourcemaps/package.json
  packages/astro/e2e/fixtures/css-sourcemaps/src/env.d.ts
  packages/astro/e2e/fixtures/css-sourcemaps/src/pages/index.astro
  packages/astro/e2e/fixtures/css-sourcemaps/src/styles/main.css
  packages/astro/e2e/view-transitions.test.js
  packages/astro/src/runtime/client/hmr.ts
  packages/astro/src/transitions/router.ts
  packages/astro/src/vite-plugin-astro-server/css.ts
  packages/astro/src/vite-plugin-astro-server/route.ts
Labels: pkg: astro

#8707 Fix preloading stylesheets in view transitions
  packages/astro/e2e/fixtures/view-transitions/public/one.css
  packages/astro/e2e/fixtures/view-transitions/public/styles.css
  packages/astro/e2e/fixtures/view-transitions/src/components/Layout.astro
  packages/astro/e2e/fixtures/view-transitions/src/pages/one.astro
  packages/astro/e2e/view-transitions.test.js
  packages/astro/src/transitions/router.ts
Labels: pkg: astro

#8698 feat: resolve images through the file systems on applicable runtimes
  .changeset/gold-trains-eat.md
  packages/astro/package.json
  packages/astro/src/assets/endpoint/generic.ts
  packages/astro/src/assets/endpoint/node.ts
  packages/astro/src/assets/internal.ts
  packages/astro/src/assets/vite-plugin-assets.ts
  packages/astro/src/core/build/index.ts
  packages/astro/src/core/dev/container.ts
  packages/astro/test/core-image.test.js
  packages/integrations/node/src/index.ts
Labels: pkg: integration, pkg: astro

#8709 fix(cloudflare): broken link in docs
  packages/integrations/cloudflare/README.md
Labels: pkg: integration
