Repository withastro/astro, pull requests merged in 2023-07, with the labels that each got.

#7543 Integration READMEs: Move code block titles into comments to match docs
  packages/integrations/alpinejs/README.md
  packages/integrations/deno/README.md
  packages/integrations/image/README.md
  packages/integrations/lit/README.md
  packages/integrations/markdoc/README.md
  packages/integrations/mdx/README.md
  packages/integrations/partytown/README.md
  packages/integrations/preact/README.md
  packages/integrations/prefetch/README.md
  packages/integrations/react/README.md
  packages/integrations/sitemap/README.md
  packages/integrations/solid/README.md
  packages/integrations/svelte/README.md
  packages/integrations/tailwind/README.md
  packages/integrations/vue/README.md
Labels: framework-svelte, framework-vue, framework-react, framework-preact, framework-solid, framework-lit, integration

#7546 fix small typo in the examples
  examples/framework-react/astro.config.mjs
Labels: example

#7521 Make APIRoute generic like APIContext
  .changeset/grumpy-readers-draw.md
  packages/astro/src/@types/astro.ts
Labels: core

#7542 Update style attribute behavior for better object support
  .changeset/giant-crews-tell.md
  packages/astro/package.json
  packages/astro/src/runtime/server/render/util.ts
  packages/astro/test/astro-directives.test.js
  packages/astro/test/fixtures/astro-directives/src/pages/define-vars.astro
  pnpm-lock.yaml
Labels: core

#7500 fix: make `Picture` generate valid dev URLs
  .changeset/few-ants-brake.md
  packages/integrations/image/src/lib/get-picture.ts
  packages/integrations/image/test/picture-ssg.test.js
  packages/integrations/image/test/picture-ssr-build.test.js
  packages/integrations/image/test/picture-ssr-dev.test.js
Labels: integration

#7550 Temporary fix for examples check
  examples/portfolio/src/components/Nav.astro
Labels: example

#7537 Refactor getParamsAndProps code
  packages/astro/src/core/render/context.ts
  packages/astro/src/core/render/core.ts
  packages/astro/src/core/render/environment.ts
  packages/astro/src/core/render/index.ts
  packages/astro/src/core/render/params-and-props.ts
  packages/astro/src/core/render/result.ts
  packages/astro/src/vite-plugin-astro-server/route.ts
Labels: core

#7554 Fix CI lint command
  .github/workflows/ci.yml
Labels: 🚨 action

#7544 Batch iterator buffering to reduce number of timeout calls
  .changeset/chilled-books-shave.md
  packages/astro/src/runtime/server/render/util.ts
Labels: core

#7562 chore: fix incorrect default type
  packages/astro/src/@types/astro.ts
Labels: core

#7558 Handle callGetStaticPaths TODO
  packages/astro/src/core/build/generate.ts
  packages/astro/src/core/render/params-and-props.ts
  packages/astro/src/core/render/route-cache.ts
Labels: core

#7560 Move createBasicEnvironment as test-util
  packages/astro/src/core/render/environment.ts
  packages/astro/src/core/render/index.ts
  packages/astro/test/units/config/config-server.test.js
  packages/astro/test/units/config/format.test.js
  packages/astro/test/units/dev/collections-mixed-content-errors.test.js
  packages/astro/test/units/dev/collections-renderentry.test.js
  packages/astro/test/units/dev/hydration.test.js
  packages/astro/test/units/dev/restart.test.js
  packages/astro/test/units/render/components.test.js
  packages/astro/test/units/render/head.test.js
  packages/astro/test/units/render/jsx.test.js
  packages/astro/test/units/routing/route-matching.test.js
  packages/astro/test/units/test-utils.js
  packages/astro/test/units/vite-plugin-astro-server/request.test.js
Labels: core

#7565 Fix style crawling logic for CSS HMR
  .changeset/red-turtles-drum.md
  packages/astro/src/core/module-loader/loader.ts
  packages/astro/src/core/render/dev/vite.ts
  packages/astro/test/units/dev/styles.test.js
Labels: core

#7567 Fix MDX README typo
  packages/integrations/mdx/src/README.md
Labels: integration

#7571 refactor: use only manifest to compute information
  packages/astro/src/core/app/types.ts
  packages/astro/src/core/build/generate.ts
Labels: core

#7532 feat: vercel edge middleware support
  .changeset/brown-shrimps-hug.md
  .changeset/chilly-pants-fix.md
  .changeset/cool-kids-grin.md
  .changeset/good-pigs-fetch.md
  .changeset/long-geckos-battle.md
  .changeset/strong-years-travel.md
  packages/astro/src/@types/astro.ts
  packages/astro/src/core/build/index.ts
  packages/astro/src/core/build/internal.ts
  packages/astro/src/core/build/plugins/index.ts
  packages/astro/src/core/build/plugins/plugin-middleware.ts
  packages/astro/src/core/build/plugins/plugin-pages.ts
  packages/astro/src/core/build/plugins/plugin-ssr.ts
  packages/astro/src/core/build/static-build.ts
  packages/astro/src/core/config/schema.ts
  packages/astro/src/core/endpoint/index.ts
  packages/astro/src/core/middleware/index.ts
  packages/astro/src/integrations/index.ts
  packages/astro/test/middleware.test.js
  packages/astro/test/ssr-split-manifest.test.js
  packages/astro/test/test-adapter.js
  packages/integrations/vercel/README.md
  packages/integrations/vercel/package.json
  packages/integrations/vercel/src/lib/fs.ts
  packages/integrations/vercel/src/lib/nft.ts
  packages/integrations/vercel/src/serverless/adapter.ts
  packages/integrations/vercel/src/serverless/entrypoint.ts
  packages/integrations/vercel/src/serverless/middleware.ts
  packages/integrations/vercel/test/edge-middleware.test.js
  packages/integrations/vercel/test/edge-middleware.test.js.snap
  packages/integrations/vercel/test/fixtures/middleware/astro.config.mjs
  packages/integrations/vercel/test/fixtures/middleware/package.json
  packages/integrations/vercel/test/fixtures/middleware/src/middleware.js
  packages/integrations/vercel/test/fixtures/middleware/src/pages/index.astro
  packages/integrations/vercel/test/fixtures/middleware/src/vercel-edge-middleware.js
  pnpm-lock.yaml
Labels: integration, core, semver minor

#7432 feat: `astro info` command
  .changeset/happy-donuts-taste.md
  packages/astro/package.json
  packages/astro/src/cli/index.ts
  pnpm-lock.yaml
Labels: core, semver minor

#7575 Refactor `SSRResult` and `RenderContext`
  .changeset/many-nails-arrive.md
  packages/astro/src/@types/astro.ts
  packages/astro/src/core/app/index.ts
  packages/astro/src/core/build/generate.ts
  packages/astro/src/core/endpoint/dev/index.ts
  packages/astro/src/core/render/context.ts
  packages/astro/src/core/render/core.ts
  packages/astro/src/core/render/dev/index.ts
  packages/astro/src/core/render/result.ts
  packages/astro/src/runtime/server/hydration.ts
  packages/astro/src/runtime/server/jsx.ts
  packages/astro/src/runtime/server/render/astro/instance.ts
  packages/astro/src/runtime/server/render/component.ts
  packages/astro/src/runtime/server/render/head.ts
  packages/astro/src/runtime/server/render/page.ts
  packages/astro/src/runtime/server/render/types.ts
  packages/astro/src/runtime/server/scripts.ts
  packages/astro/src/vite-plugin-astro-server/route.ts
  packages/integrations/markdoc/components/TreeNode.ts
Labels: integration, core

#7580 corrected grammar. minor change
  .changeset/sour-snakes-wonder.md
  packages/create-astro/src/actions/dependencies.ts
Labels: create-astro

#7584 Simpify passing endpoint logging option
  packages/astro/src/core/app/index.ts
  packages/astro/src/core/build/generate.ts
  packages/astro/src/core/endpoint/dev/index.ts
  packages/astro/src/core/endpoint/index.ts
  packages/astro/src/vite-plugin-astro-server/route.ts
Labels: core

#7591 docs(cloudflare): fix code snippet in enabling preview
  packages/integrations/cloudflare/README.md
Labels: integration

#7378 Runtime environment variables docs for node integration
  packages/integrations/node/README.md
Labels: integration

#7592 Fix code snippet in markdoc README
  packages/integrations/markdoc/README.md
Labels: integration

#7593 Fix: Markdoc v0.4.0 docs
  .changeset/sharp-ducks-walk.md
  packages/integrations/markdoc/README.md
  packages/integrations/markdoc/src/load-config.ts
Labels: integration

#6585 Updates prefetch integration to add "only prefetch link on hover/mouseover/focus" option
  .changeset/little-cars-exist.md
  packages/integrations/prefetch/README.md
  packages/integrations/prefetch/src/client.ts
  packages/integrations/prefetch/test/basic-prefetch.test.js
  packages/integrations/prefetch/test/custom-selectors.test.js
  packages/integrations/prefetch/test/fixtures/basic-prefetch/src/pages/conditions.astro
  packages/integrations/prefetch/test/fixtures/basic-prefetch/src/pages/index.astro
  packages/integrations/prefetch/test/fixtures/basic-prefetch/src/pages/terms.astro
  packages/integrations/prefetch/test/fixtures/basic-prefetch/src/pages/uses.astro
Labels: integration

#7599 Fix: Hyphens breaking Markdoc tags
  .changeset/witty-pandas-behave.md
  packages/integrations/markdoc/src/content-entry-type.ts
  packages/integrations/markdoc/test/fixtures/render-with-components/markdoc.config.ts
  packages/integrations/markdoc/test/fixtures/render-with-components/src/content/blog/with-components.mdoc
Labels: integration

#7611 Ignore content .json files prefixed with underscores
  .changeset/funny-tomatoes-guess.md
  packages/astro/src/content/vite-plugin-content-virtual-mod.ts
  packages/astro/test/fixtures/content-collections/src/content/with-schema-config/_ignore.md
  packages/astro/test/fixtures/content-collections/src/content/with-schema-config/_ignore/file.md
Labels: core

#7613 Update prefetch README filename styling
  .changeset/ten-buckets-rush.md
  packages/integrations/prefetch/README.md
Labels: integration

#7596 Document codebase rendering concepts
  packages/astro/src/core/render/README.md
Labels: core

#7617 Add CLI startup speed benchmark
  benchmark/bench/_util.js
  benchmark/bench/cli-startup.js
  benchmark/bench/render.js
  benchmark/index.js
  packages/astro/src/cli/index.ts
Labels: core

#7619 Refactor simple CLI commands
  packages/astro/src/cli/add/babel.ts
  packages/astro/src/cli/add/imports.ts
  packages/astro/src/cli/add/index.ts
  packages/astro/src/cli/add/wrapper.ts
  packages/astro/src/cli/docs/index.ts
  packages/astro/src/cli/docs/open.ts
  packages/astro/src/cli/index.ts
  packages/astro/src/cli/info/index.ts
  packages/astro/src/cli/telemetry/index.ts
  packages/astro/src/config/index.ts
  packages/astro/src/core/config/config.ts
  packages/astro/src/core/dev/restart.ts
Labels: core

#7620 Filter out astro from `peerDependencies` in `astro add`
  .changeset/rude-balloons-sniff.md
  packages/astro/src/cli/add/index.ts
Labels: core

#7623 Fixes Response not being cloneable by middleware
  .changeset/tasty-beans-give.md
  packages/astro/src/runtime/server/response.ts
  packages/astro/test/fixtures/middleware-dev/src/middleware.js
  packages/astro/test/fixtures/middleware-dev/src/pages/clone.astro
  packages/astro/test/middleware.test.js
Labels: core

#7621 fix(@astrojs/vercel): improve file detection
  .changeset/tidy-actors-relate.md
  packages/integrations/vercel/package.json
  packages/integrations/vercel/src/serverless/middleware.ts
  packages/integrations/vercel/test/edge-middleware.test.js
  packages/integrations/vercel/test/edge-middleware.test.js.snap
  packages/integrations/vercel/test/fixtures/middleware-with-edge-file/astro.config.mjs
  packages/integrations/vercel/test/fixtures/middleware-with-edge-file/package.json
  packages/integrations/vercel/test/fixtures/middleware-with-edge-file/src/middleware.js
  packages/integrations/vercel/test/fixtures/middleware-with-edge-file/src/pages/index.astro
  packages/integrations/vercel/test/fixtures/middleware-with-edge-file/src/vercel-edge-middleware.js
  packages/integrations/vercel/test/fixtures/middleware-without-edge-file/astro.config.mjs
  packages/integrations/vercel/test/fixtures/middleware-without-edge-file/package.json
  packages/integrations/vercel/test/fixtures/middleware-without-edge-file/src/middleware.js
  packages/integrations/vercel/test/fixtures/middleware-without-edge-file/src/pages/index.astro
  packages/integrations/vercel/test/setup.js
  pnpm-lock.yaml
Labels: integration

#7626 feat: bumped typescript-eslint to v6 stable 🥳
  .eslintrc.cjs
  package.json
  packages/astro/src/events/error.ts
  pnpm-lock.yaml
Labels: core

#7622 Refactor config loading
  packages/astro/src/cli/index.ts
  packages/astro/src/core/config/config.ts
  packages/astro/src/core/config/index.ts
  packages/astro/src/core/config/merge.ts
  packages/astro/src/core/config/vite-load.ts
  packages/astro/src/integrations/index.ts
Labels: core

#7630 Fix `build.excludeMiddleware` default type docs
  packages/astro/src/@types/astro.ts
Labels: core

#7631 Update turbo cache flow
  .github/workflows/ci.yml
Labels: 🚨 action

#7634 Move all CLI commands to their subfolders
  packages/astro/src/cli/build/index.ts
  packages/astro/src/cli/check/index.ts
  packages/astro/src/cli/dev/index.ts
  packages/astro/src/cli/index.ts
  packages/astro/src/cli/load-settings.ts
  packages/astro/src/cli/preview/index.ts
  packages/astro/src/cli/sync/index.ts
Labels: core

#7633 [docs] update image integration README
  packages/integrations/image/README.md
Labels: integration

#7643 Allow SVGs when using Assets
  .changeset/tasty-bags-accept.md
  packages/astro/src/assets/consts.ts
  packages/astro/src/assets/services/service.ts
  packages/astro/src/assets/services/sharp.ts
  packages/astro/src/assets/services/squoosh.ts
  packages/astro/src/core/errors/errors-data.ts
  packages/astro/test/core-image.test.js
  packages/astro/test/fixtures/core-image/src/pages/svgSupport.astro
Labels: core

#7637 fix(assets): Fix images not following EXIF rotation
  .changeset/fluffy-timers-remain.md
  packages/astro/src/assets/services/service.ts
  packages/astro/src/assets/services/sharp.ts
  packages/astro/src/assets/services/squoosh.ts
  packages/astro/src/assets/types.ts
  packages/astro/src/assets/utils/emitAsset.ts
  packages/astro/src/assets/utils/metadata.ts
Labels: core

#7644 Fixes for redirects config
  .changeset/four-pumpkins-try.md
  .changeset/light-eggs-hug.md
  packages/astro/src/core/build/generate.ts
  packages/astro/src/core/build/static-build.ts
  packages/astro/src/core/routing/manifest/create.ts
  packages/astro/test/fixtures/ssr-redirect/src/middleware.ts
  packages/astro/test/fixtures/ssr-redirect/src/pages/test.astro
  packages/astro/test/redirects.test.js
  packages/astro/test/units/routing/manifest.test.js
Labels: core

#7639 Refactor merge server config
  packages/astro/src/core/config/config.ts
  packages/astro/src/core/config/merge.ts
  packages/astro/src/core/config/schema.ts
Labels: core

#7647 Add new internal `resolveConfig` API
  packages/astro/src/@types/astro.ts
  packages/astro/src/cli/add/index.ts
  packages/astro/src/cli/dev/index.ts
  packages/astro/src/cli/load-settings.ts
  packages/astro/src/core/config/config.ts
  packages/astro/src/core/config/index.ts
  packages/astro/test/units/config/config-validate.test.js
Labels: core

#7649 [docs] fix link in image integration README
  packages/integrations/image/README.md
Labels: integration

#7650 fix(squoosh): Fix wrong file path in rotation check
  packages/astro/src/assets/services/squoosh.ts
Labels: core

#7625 Clarify SSR limitations of sitemaps of dynamic routes
  packages/integrations/sitemap/README.md
Labels: integration

#7587 refactor: use SSR manifest in dev
  packages/astro/src/core/app/index.ts
  packages/astro/src/core/build/generate.ts
  packages/astro/src/core/render/dev/environment.ts
  packages/astro/src/vite-plugin-astro-server/plugin.ts
  packages/astro/src/vite-plugin-astro-server/request.ts
  packages/astro/src/vite-plugin-astro-server/route.ts
  packages/astro/test/units/routing/route-matching.test.js
  packages/astro/test/units/vite-plugin-astro-server/request.test.js
Labels: core

#7653 Revert "Clarify SSR limitations of sitemaps of dynamic routes (#7625)"
  packages/integrations/sitemap/README.md
Labels: integration

#7659 Vercel: exclude `@vercel/nft` automatically
  .changeset/pretty-hats-smash.md
  packages/integrations/vercel/src/edge/adapter.ts
  packages/integrations/vercel/src/serverless/adapter.ts
Labels: integration

#7651 Handle flaky tests
  packages/astro/package.json
  packages/astro/test/astro-get-static-paths.test.js
  packages/integrations/cloudflare/test/basics.test.js
  packages/integrations/cloudflare/test/cf.test.js
  packages/integrations/cloudflare/test/test-utils.js
  packages/integrations/cloudflare/test/with-solid-js.test.js
Labels: integration, core

#7679 Fix cloudflare runtime env var handling
  .changeset/light-jars-cheat.md
  .changeset/spicy-pugs-wonder.md
  packages/astro/src/vite-plugin-env/index.ts
  packages/integrations/cloudflare/src/index.ts
  packages/integrations/cloudflare/test/basics.test.js
Labels: integration, core

#7677 Fix vercel build error when passing `includeFiles`
  .changeset/six-baboons-allow.md
  packages/integrations/vercel/src/serverless/adapter.ts
  packages/integrations/vercel/test/fixtures/serverless-prerender/astro.config.mjs
  packages/integrations/vercel/test/fixtures/serverless-prerender/included.js
  packages/integrations/vercel/test/serverless-prerender.test.js
Labels: integration

#7568 fix(@astrojs/cloudflare): SSR split file renaming misses ts endpoints
  .changeset/large-meals-joke.md
  .changeset/sweet-bats-clap.md
  packages/integrations/cloudflare/src/index.ts
  packages/integrations/cloudflare/src/server.directory.ts
  packages/integrations/cloudflare/test/directory-split.test.js
  packages/integrations/cloudflare/test/fixtures/split/src/pages/javascript.js
  packages/integrations/cloudflare/test/fixtures/split/src/pages/test.json.ts
  packages/integrations/cloudflare/test/fixtures/split/src/pages/trpc/[trpc].ts
Labels: integration

#7632 feat(@astrojs/netlify): edge middleware support
  .changeset/great-days-judge.md
  .github/workflows/ci.yml
  packages/integrations/netlify/README.md
  packages/integrations/netlify/package.json
  packages/integrations/netlify/src/integration-edge-functions.ts
  packages/integrations/netlify/src/integration-functions.ts
  packages/integrations/netlify/src/middleware.ts
  packages/integrations/netlify/src/netlify-functions.ts
  packages/integrations/netlify/src/shared.ts
  packages/integrations/netlify/test/edge-functions/deps.ts
  packages/integrations/netlify/test/edge-functions/dynamic-import.test.ts
  packages/integrations/netlify/test/edge-functions/edge-basic.test.ts
  packages/integrations/netlify/test/edge-functions/fixtures/edge-basic/astro.config.mjs
  packages/integrations/netlify/test/edge-functions/fixtures/edge-basic/package.json
  packages/integrations/netlify/test/edge-functions/fixtures/edge-basic/src/components/React.jsx
  packages/integrations/netlify/test/edge-functions/fixtures/edge-basic/src/pages/index.astro
  packages/integrations/netlify/test/edge-functions/prerender.test.ts
  packages/integrations/netlify/test/functions/edge-middleware.test.js
  packages/integrations/netlify/test/functions/fixtures/middleware-with-handler-file/src/middleware.ts
  packages/integrations/netlify/test/functions/fixtures/middleware-with-handler-file/src/netlify-edge-middleware.js
  packages/integrations/netlify/test/functions/fixtures/middleware-with-handler-file/src/pages/index.astro
  packages/integrations/netlify/test/functions/fixtures/middleware-without-handler-file/src/middleware.ts
  packages/integrations/netlify/test/functions/fixtures/middleware-without-handler-file/src/pages/index.astro
  packages/integrations/netlify/tsconfig.json
  pnpm-lock.yaml
Labels: 🚨 action, integration

#7684 refactor: move page rendering in one single function
  packages/astro/src/core/app/index.ts
  packages/astro/src/core/build/generate.ts
  packages/astro/src/core/render/core.ts
  packages/astro/src/core/render/dev/index.ts
  packages/astro/src/core/render/index.ts
  packages/astro/test/units/render/head.test.js
  packages/astro/test/units/render/jsx.test.js
Labels: core

#7688 Update Action labels
  .github/labeler.yml
  .github/workflows/check-merge.yml
  .github/workflows/issue-labeled.yml
  .github/workflows/issue-needs-repro.yml
  .github/workflows/issue-opened.yml
Labels: 🚨 action

#7689 CI: handle `needs` labels properly
  .github/workflows/issue-labeled.yml
  .github/workflows/issue-needs-repro.yml
  .github/workflows/issue-opened.yml
Labels: 🚨 action

#7656 Sitemap should only include `page` routes
  .changeset/fluffy-experts-tie.md
  .changeset/giant-tomatoes-dream.md
  packages/integrations/sitemap/README.md
  packages/integrations/sitemap/src/index.ts
  packages/integrations/sitemap/test/fixtures/static/astro.config.mjs
  packages/integrations/sitemap/test/fixtures/static/src/pages/endpoint.json.ts
  packages/integrations/sitemap/test/routes.test.js
Labels: pkg: integration, integration

#7691 fix(assets): Remove Node deps from index of assets
  .changeset/shy-garlics-join.md
  packages/astro/src/assets/index.ts
  packages/astro/src/content/runtime-assets.ts
Labels: pkg: astro

#7698 Revert netlify edge middleware docs
  .changeset/great-days-judge.md
  packages/integrations/netlify/README.md
Labels: pkg: integration

#7694 Fix routing behavior when getStaticPaths params include hyphens
  .changeset/stupid-trains-move.md
  packages/astro/src/core/render/route-cache.ts
  packages/astro/src/core/routing/params.ts
  packages/astro/test/astro-get-static-paths.test.js
  packages/astro/test/fixtures/astro-get-static-paths/src/pages/pizza/[cheese]-[topping].astro
Labels: pkg: astro

#7700 Add changeset & docs for next `@astrojs/netlify` release
  .changeset/great-days-judge.md
  packages/integrations/netlify/README.md
Labels: pkg: integration

#7706 Fix/markdoc assets
  .changeset/smart-hairs-lick.md
  packages/astro/package.json
  packages/astro/src/assets/utils/index.ts
  packages/integrations/markdoc/src/content-entry-type.ts
Labels: pkg: integration, pkg: astro

#7693 Fix 404 handling in dev server
  .changeset/pink-deers-grab.md
  packages/astro/src/vite-plugin-astro-server/route.ts
  packages/astro/test/custom-404-server.test.js
  packages/astro/test/fixtures/custom-404-server/astro.config.mjs
  packages/astro/test/fixtures/custom-404-server/package.json
  packages/astro/test/fixtures/custom-404-server/src/pages/404.astro
  packages/astro/test/fixtures/custom-404-server/src/pages/[slug].astro
  packages/astro/test/fixtures/custom-404-server/src/pages/index.astro
  pnpm-lock.yaml
Labels: pkg: astro

#7701 Fix redirects map object-form value validation
  .changeset/eleven-eyes-jog.md
  packages/astro/src/core/config/schema.ts
Labels: pkg: astro

#7704 Fix absolute path handling for config validation in windows
  .changeset/loud-hairs-tell.md
  packages/astro/src/core/config/config.ts
  packages/astro/src/core/config/schema.ts
Labels: pkg: astro

#7686 Remove experimental flag for redirects config
  .changeset/dry-beers-grow.md
  packages/astro/src/@types/astro.ts
  packages/astro/src/core/build/generate.ts
  packages/astro/src/core/config/config.ts
  packages/astro/src/core/config/schema.ts
  packages/astro/src/core/endpoint/index.ts
  packages/astro/src/vite-plugin-astro-server/route.ts
  packages/astro/test/dev-routing.test.js
  packages/astro/test/redirects.test.js
  packages/integrations/cloudflare/test/directory.test.js
  packages/integrations/netlify/README.md
  packages/integrations/netlify/test/functions/redirects.test.js
  packages/integrations/netlify/test/static/redirects.test.js
  packages/integrations/vercel/test/redirects.test.js
Labels: pkg: integration, pkg: astro, semver: minor

#7713 Warn when `getStaticPaths` exists without a `prerender` statement
  .changeset/sixty-plums-appear.md
  packages/astro/src/core/create-vite.ts
  packages/astro/src/core/render/route-cache.ts
  packages/astro/src/core/routing/validation.ts
  packages/astro/src/vite-plugin-scanner/index.ts
  packages/astro/src/vite-plugin-scanner/scan.ts
Labels: pkg: astro

#7511 Initial View Transition Support
  .changeset/silly-garlics-live.md
  examples/basics/src/layouts/Layout.astro
  examples/portfolio/src/components/MainHead.astro
  packages/astro/client-base.d.ts
  packages/astro/components/ViewTransitions.astro
  packages/astro/components/index.ts
  packages/astro/components/viewtransitions.css
  packages/astro/e2e/fixtures/view-transitions/astro.config.mjs
  packages/astro/e2e/fixtures/view-transitions/package.json
  packages/astro/e2e/fixtures/view-transitions/src/components/Layout.astro
  packages/astro/e2e/fixtures/view-transitions/src/pages/four.astro
  packages/astro/e2e/fixtures/view-transitions/src/pages/one.astro
  packages/astro/e2e/fixtures/view-transitions/src/pages/three.astro
  packages/astro/e2e/fixtures/view-transitions/src/pages/two.astro
  packages/astro/e2e/view-transitions.test.js
  packages/astro/package.json
  packages/astro/src/@types/astro.ts
  packages/astro/src/core/compile/compile.ts
  packages/astro/src/core/config/schema.ts
  packages/astro/src/core/create-vite.ts
  packages/astro/src/runtime/server/astro-component.ts
  packages/astro/src/runtime/server/index.ts
  packages/astro/src/runtime/server/transition.ts
  packages/astro/src/transitions/index.ts
  packages/astro/src/transitions/vite-plugin-transitions.ts
  packages/astro/test/units/compile/invalid-css.test.js
  packages/astro/test/units/vite-plugin-astro/compile.test.js
  packages/astro/tsconfig.json
  packages/integrations/sitemap/test/fixtures/static/astro.config.mjs
  pnpm-lock.yaml
Labels: pkg: example, pkg: integration, pkg: astro, semver: minor

#7723 Fix ts error on `main`
  packages/astro/src/transitions/index.ts
Labels: pkg: astro

#7722 Ensure sitemap excludes nested error pages
  .changeset/fuzzy-toes-float.md
  packages/integrations/sitemap/src/index.ts
  packages/integrations/sitemap/test/fixtures/static/src/pages/de/404.astro
  packages/integrations/sitemap/test/staticPaths.test.js
Labels: pkg: integration

#7724 Fix TS error (again)
  packages/astro/src/transitions/index.ts
Labels: pkg: astro

#7726 Import missing TransitionAnimationPair
  packages/astro/src/transitions/index.ts
Labels: pkg: astro

#7727 Fix organize-imports-cli with satisfies operator
  .prettierignore
  package.json
  packages/astro/src/assets/services/vendor/squoosh/impl.ts
  packages/astro/src/content/runtime.ts
  packages/astro/src/core/build/generate.ts
  packages/astro/src/core/build/plugins/plugin-css.ts
  packages/astro/src/core/build/plugins/plugin-internals.ts
  packages/astro/src/core/build/types.ts
  packages/astro/src/core/errors/index.ts
  packages/astro/src/core/middleware/index.ts
  packages/astro/src/core/render/params-and-props.ts
  packages/astro/src/jsx-runtime/index.ts
  packages/astro/src/runtime/server/index.ts
  packages/astro/src/runtime/server/jsx.ts
  packages/astro/src/runtime/server/render/component.ts
  packages/astro/src/runtime/server/render/page.ts
  packages/astro/src/transitions/index.ts
  packages/astro/src/vite-plugin-config-alias/index.ts
  packages/create-astro/src/index.ts
  packages/create-astro/src/messages.ts
  packages/integrations/cloudflare/src/server.advanced.ts
  packages/integrations/cloudflare/src/server.directory.ts
  packages/integrations/image/src/vendor/squoosh/impl.ts
  packages/integrations/markdoc/src/content-entry-type.ts
  packages/integrations/markdoc/src/index.ts
  packages/integrations/mdx/src/remark-images-to-component.ts
  packages/integrations/netlify/src/integration-functions.ts
  packages/integrations/sitemap/src/config-defaults.ts
  packages/markdown/remark/src/frontmatter-injection.ts
  packages/markdown/remark/src/types.ts
  packages/telemetry/src/system-info.ts
  packages/webapi/src/ponyfill.ts
  pnpm-lock.yaml
Labels: feat: markdown, pkg: integration, pkg: create-astro, pkg: astro

#7728 refactor: move dev rendering logic inside vite plugin
  packages/astro/src/content/vite-plugin-content-assets.ts
  packages/astro/src/core/build/plugins/plugin-css.ts
  packages/astro/src/core/endpoint/dev/index.ts
  packages/astro/src/core/render/dev/index.ts
  packages/astro/src/core/render/environment.ts
  packages/astro/src/core/render/index.ts
  packages/astro/src/prerender/routing.ts
  packages/astro/src/vite-plugin-astro-server/css.ts
  packages/astro/src/vite-plugin-astro-server/environment.ts
  packages/astro/src/vite-plugin-astro-server/index.ts
  packages/astro/src/vite-plugin-astro-server/metadata.ts
  packages/astro/src/vite-plugin-astro-server/plugin.ts
  packages/astro/src/vite-plugin-astro-server/request.ts
  packages/astro/src/vite-plugin-astro-server/resolve.ts
  packages/astro/src/vite-plugin-astro-server/route.ts
  packages/astro/src/vite-plugin-astro-server/scripts.ts
  packages/astro/src/vite-plugin-astro-server/util.ts
  packages/astro/src/vite-plugin-astro-server/vite.ts
  packages/astro/test/units/dev/styles.test.js
  packages/astro/test/units/routing/route-matching.test.js
Labels: pkg: astro

#7707 Determine hoisted scripts via AST analysis
  .changeset/real-drinks-melt.md
  packages/astro/src/core/build/graph.ts
  packages/astro/src/core/build/plugins/plugin-analyzer.ts
  packages/astro/test/fixtures/hoisted-imports/package.json
  packages/astro/test/fixtures/hoisted-imports/src/components/A.astro
  packages/astro/test/fixtures/hoisted-imports/src/components/B.astro
  packages/astro/test/fixtures/hoisted-imports/src/components/C.astro
  packages/astro/test/fixtures/hoisted-imports/src/components/CWrapper.astro
  packages/astro/test/fixtures/hoisted-imports/src/components/D.astro
  packages/astro/test/fixtures/hoisted-imports/src/components/E.astro
  packages/astro/test/fixtures/hoisted-imports/src/components/index.ts
  packages/astro/test/fixtures/hoisted-imports/src/pages/all.astro
  packages/astro/test/fixtures/hoisted-imports/src/pages/dynamic.astro
  packages/astro/test/fixtures/hoisted-imports/src/pages/none.astro
  packages/astro/test/fixtures/hoisted-imports/src/pages/some.astro
  packages/astro/test/hoisted-imports.test.js
  pnpm-lock.yaml
Labels: pkg: astro

#7718 fix(vercel): Switch to node 18 when local version is not supported
  .changeset/gorgeous-ads-develop.md
  packages/integrations/vercel/src/serverless/adapter.ts
Labels: pkg: integration

#7738 [docs] update to view transitions in config ref
  packages/astro/src/@types/astro.ts
Labels: pkg: astro

#7742 Fix parsing image assets from a Markdown line along with other markup
  .changeset/five-phones-notice.md
  packages/astro/src/vite-plugin-markdown/index.ts
Labels: pkg: astro

#7730 Refactor Astro page rendering
  packages/astro/src/runtime/server/jsx.ts
  packages/astro/src/runtime/server/render/astro/factory.ts
  packages/astro/src/runtime/server/render/astro/index.ts
  packages/astro/src/runtime/server/render/astro/render.ts
  packages/astro/src/runtime/server/render/common.ts
  packages/astro/src/runtime/server/render/page.ts
Labels: pkg: astro

#7750 Handle back navigation from page without VT
  .changeset/sixty-peas-join.md
  packages/astro/components/ViewTransitions.astro
  packages/astro/e2e/view-transitions.test.js
Labels: pkg: astro

#7757 Prevent animations with prefers-reduced-motion
  .changeset/poor-cameras-tell.md
  packages/astro/components/viewtransitions.css
Labels: pkg: astro

#7756 Prevent FOUC with production links in ViewTransitions
  .changeset/cool-deers-dream.md
  packages/astro/components/ViewTransitions.astro
  packages/astro/e2e/fixtures/view-transitions/public/two.css
  packages/astro/e2e/fixtures/view-transitions/src/components/Layout.astro
  packages/astro/e2e/fixtures/view-transitions/src/pages/two.astro
  packages/astro/e2e/view-transitions.test.js
Labels: pkg: astro

#7759 Misc improvements for `astro:assets`
  .changeset/hot-buckets-tie.md
  packages/astro/src/assets/image-endpoint.ts
  packages/astro/src/assets/internal.ts
  packages/astro/src/assets/services/service.ts
  packages/astro/src/assets/utils/index.ts
  packages/astro/src/assets/vite-plugin-assets.ts
  packages/astro/src/cli/load-settings.ts
  packages/astro/src/config/index.ts
  packages/astro/src/core/config/settings.ts
  packages/astro/src/core/dev/restart.ts
  packages/astro/test/test-utils.js
  packages/astro/test/units/config/format.test.js
  packages/astro/test/units/dev/collections-mixed-content-errors.test.js
  packages/astro/test/units/dev/restart.test.js
Labels: pkg: astro

#7764 Fix Astro pride emoji in congrats message
  .github/workflows/main.yml
Labels: 🚨 action

#7766 Fix missing `referrerpolicy` attribute on script tags
  .changeset/orange-badgers-fly.md
  packages/astro/astro-jsx.d.ts
Labels: pkg: astro

#7745 Fix prerender getStaticPaths flaky test
  packages/astro/test/ssr-prerender-get-static-paths.test.js
Labels: pkg: astro

#7746 Bump vite to 4.4.6
  .changeset/sweet-lamps-cover.md
  packages/astro/e2e/fixtures/solid-circular/src/components/ContextProvider.tsx
  packages/astro/e2e/fixtures/solid-circular/src/components/SimpleDiv.tsx
  packages/astro/package.json
  packages/astro/src/vite-plugin-astro/compile.ts
  packages/astro/src/vite-plugin-jsx/index.ts
  packages/integrations/image/package.json
  packages/integrations/markdoc/package.json
  packages/integrations/mdx/package.json
  packages/integrations/netlify/package.json
  packages/integrations/svelte/package.json
  packages/integrations/tailwind/package.json
  packages/integrations/vue/package.json
  pnpm-lock.yaml
Labels: pkg: svelte, pkg: vue, pkg: integration, pkg: astro

#7777 Fix rendering TextEncoder encoding error regression
  .changeset/dry-cycles-appear.md
  packages/astro/src/runtime/server/render/common.ts
Labels: pkg: astro

#7687 Update esbuild target for Deno
  .changeset/khaki-chicken-pay.md
  packages/integrations/deno/src/index.ts
  packages/integrations/deno/test/basics.test.ts
  packages/integrations/deno/test/fixtures/basics/src/pages/index.astro
  packages/integrations/deno/test/fixtures/basics/src/util/data.ts
Labels: pkg: integration

#7760 Basics theme styling updates
  examples/basics/package.json
  examples/basics/src/components/Card.astro
  examples/basics/src/layouts/Layout.astro
  examples/basics/src/pages/index.astro
  examples/basics/tsconfig.json
Labels: pkg: example

#7597 Add "allowHTML" option for Markdoc with HTML parsing/processing
  .changeset/stupid-poets-grab.md
  packages/integrations/markdoc/README.md
  packages/integrations/markdoc/package.json
  packages/integrations/markdoc/src/content-entry-type.ts
  packages/integrations/markdoc/src/html/css/parse-inline-css-to-react.ts
  packages/integrations/markdoc/src/html/css/parse-inline-styles.ts
  packages/integrations/markdoc/src/html/css/style-to-object.ts
  packages/integrations/markdoc/src/html/index.ts
  packages/integrations/markdoc/src/html/tagdefs/html.tag.ts
  packages/integrations/markdoc/src/html/transform/html-token-transform.ts
  packages/integrations/markdoc/src/index.ts
  packages/integrations/markdoc/src/options.ts
  packages/integrations/markdoc/src/runtime.ts
  packages/integrations/markdoc/src/tokenizer.ts
  packages/integrations/markdoc/test/fixtures/render-html/astro.config.mjs
  packages/integrations/markdoc/test/fixtures/render-html/markdoc.config.ts
  packages/integrations/markdoc/test/fixtures/render-html/package.json
  packages/integrations/markdoc/test/fixtures/render-html/src/components/Aside.astro
  packages/integrations/markdoc/test/fixtures/render-html/src/components/Mark.astro
  packages/integrations/markdoc/test/fixtures/render-html/src/content/blog/components.mdoc
  packages/integrations/markdoc/test/fixtures/render-html/src/content/blog/nested-html.mdoc
  packages/integrations/markdoc/test/fixtures/render-html/src/content/blog/randomly-cased-html-attributes.mdoc
  packages/integrations/markdoc/test/fixtures/render-html/src/content/blog/simple.mdoc
  packages/integrations/markdoc/test/fixtures/render-html/src/pages/[slug].astro
  packages/integrations/markdoc/test/render-html.test.js
  pnpm-lock.yaml
Labels: pkg: integration

#7786 Execute scripts on page navigation (view transitions)
  .changeset/sharp-seas-smile.md
  packages/astro/components/ViewTransitions.astro
  packages/astro/e2e/fixtures/view-transitions/src/pages/two.astro
  packages/astro/e2e/view-transitions.test.js
Labels: pkg: astro

#7782 Refactor Astro rendering to write results directly
  .changeset/lemon-snakes-invite.md
  packages/astro/src/core/render/result.ts
  packages/astro/src/runtime/server/index.ts
  packages/astro/src/runtime/server/jsx.ts
  packages/astro/src/runtime/server/render/any.ts
  packages/astro/src/runtime/server/render/astro/index.ts
  packages/astro/src/runtime/server/render/astro/instance.ts
  packages/astro/src/runtime/server/render/astro/render-template.ts
  packages/astro/src/runtime/server/render/astro/render.ts
  packages/astro/src/runtime/server/render/common.ts
  packages/astro/src/runtime/server/render/component.ts
  packages/astro/src/runtime/server/render/dom.ts
  packages/astro/src/runtime/server/render/index.ts
  packages/astro/src/runtime/server/render/page.ts
  packages/astro/src/runtime/server/render/slot.ts
  packages/astro/src/runtime/server/render/util.ts
  packages/astro/test/streaming.test.js
Labels: pkg: astro

#7798 [docs] Markdoc README syntax fixes
  packages/integrations/markdoc/README.md
Labels: pkg: integration

#7799 [docs] Markdoc README
  packages/integrations/markdoc/README.md
Labels: pkg: integration

#7796 Update README.md with new image
  examples/basics/README.md
Labels: pkg: example

#7797 Update README.md with new image
  examples/blog/README.md
Labels: pkg: example

#7809 Refactor dev CLI flow
  packages/astro/src/cli/dev/index.ts
  packages/astro/src/core/config/config.ts
  packages/astro/src/core/config/index.ts
  packages/astro/src/core/config/settings.ts
  packages/astro/src/core/dev/container.ts
  packages/astro/src/core/dev/dev.ts
  packages/astro/src/core/dev/index.ts
  packages/astro/src/core/dev/restart.ts
  packages/astro/test/test-utils.js
  packages/astro/test/units/config/format.test.js
  packages/astro/test/units/content-collections/frontmatter.test.js
  packages/astro/test/units/dev/base.test.js
  packages/astro/test/units/dev/collections-renderentry.test.js
  packages/astro/test/units/dev/dev.test.js
  packages/astro/test/units/dev/head-injection.test.js
  packages/astro/test/units/dev/hydration.test.js
  packages/astro/test/units/dev/restart.test.js
  packages/astro/test/units/render/components.test.js
  packages/astro/test/units/routing/manifest.test.js
  packages/astro/test/units/routing/route-matching.test.js
  packages/astro/test/units/shiki/shiki.test.js
  packages/astro/test/units/test-utils.js
  packages/astro/test/units/vite-plugin-astro-server/request.test.js
Labels: pkg: astro

#7805 Prevent building .html files in hybrid mode
  .changeset/ninety-kids-fail.md
  packages/integrations/netlify/src/integration-functions.ts
  packages/integrations/netlify/test/functions/fixtures/redirects/src/pages/index.astro
  packages/integrations/netlify/test/functions/fixtures/redirects/src/pages/nope.astro
  packages/integrations/netlify/test/functions/fixtures/redirects/src/pages/team/articles/[...slug].astro
  packages/integrations/netlify/test/functions/redirects.test.js
Labels: pkg: integration

#7817 [docs] Markdoc README problematic aside notation
  packages/integrations/markdoc/README.md
Labels: pkg: integration

#7826 fix: squoosh not working on Windows in certain situations
  .changeset/calm-balloons-study.md
  packages/astro/src/assets/services/squoosh.ts
  packages/astro/src/assets/types.ts
  packages/astro/src/assets/utils/emitAsset.ts
  packages/astro/src/assets/utils/metadata.ts
  packages/astro/test/fixtures/core-image-ssr/src/pages/api.ts
Labels: pkg: astro

#7734 test: add test in the Node adapter for astro:assets
  .changeset/warm-gifts-jam.md
  packages/astro/src/core/build/generate.ts
  packages/astro/test/astro-assets-prefix.test.js
  packages/integrations/node/test/fixtures/image/package.json
  packages/integrations/node/test/fixtures/image/src/assets/some_penguin.png
  packages/integrations/node/test/fixtures/image/src/pages/index.astro
  packages/integrations/node/test/image.test.js
  pnpm-lock.yaml
Labels: pkg: integration, pkg: astro

#7825 fix: typo alpine -> alpinejs
  packages/astro/src/cli/add/index.ts
Labels: pkg: astro

#7829 fix(assets): Fix endpoint not being injected when an integration would enable `experimental.assets`
  .changeset/neat-balloons-doubt.md
  packages/astro/src/assets/internal.ts
  packages/astro/src/cli/load-settings.ts
  packages/astro/src/config/index.ts
  packages/astro/src/core/build/index.ts
  packages/astro/src/core/config/settings.ts
  packages/astro/src/core/dev/container.ts
  packages/astro/src/core/dev/restart.ts
  packages/astro/test/test-utils.js
  packages/astro/test/units/config/format.test.js
  packages/astro/test/units/dev/collections-mixed-content-errors.test.js
  packages/astro/test/units/dev/restart.test.js
Labels: pkg: astro

#7824 Prevent navigation on hash change
  .changeset/moody-beers-leave.md
  packages/astro/components/ViewTransitions.astro
  packages/astro/e2e/fixtures/view-transitions/src/pages/one.astro
  packages/astro/e2e/view-transitions.test.js
Labels: pkg: astro

#7811 Make build/preview/sync API accept AstroInlineConfig
  packages/astro/src/@types/astro.ts
  packages/astro/src/cli/build/index.ts
  packages/astro/src/cli/check/index.ts
  packages/astro/src/cli/preview/index.ts
  packages/astro/src/cli/sync/index.ts
  packages/astro/src/core/build/index.ts
  packages/astro/src/core/preview/index.ts
  packages/astro/src/core/sync/index.ts
  packages/astro/test/test-utils.js
  packages/astro/test/units/dev/collections-mixed-content-errors.test.js
Labels: pkg: astro

#7843 Track added links/styles/scripts to prevent duplicates
  .changeset/yellow-olives-sing.md
  packages/astro/src/@types/astro.ts
  packages/astro/src/content/runtime.ts
  packages/astro/src/core/render/result.ts
  packages/astro/src/runtime/server/index.ts
  packages/astro/src/runtime/server/render/astro/render.ts
  packages/astro/src/runtime/server/render/index.ts
  packages/astro/src/runtime/server/render/tags.ts
Labels: pkg: astro

#7845 feat: remove automatic flattening of `getStaticPaths` result
  .changeset/chilled-ducks-grin.md
  packages/astro/src/@types/astro.ts
  packages/astro/src/core/build/generate.ts
  packages/astro/src/core/errors/errors-data.ts
  packages/astro/src/core/render/params-and-props.ts
  packages/astro/src/core/render/route-cache.ts
  packages/astro/src/core/routing/validation.ts
  packages/astro/test/astro-get-static-paths.test.js
  packages/astro/test/fixtures/astro-get-static-paths/src/pages/nested-arrays/[slug].astro
  packages/astro/test/fixtures/astro-pagination/src/pages/posts/[slug]/[page].astro
  packages/astro/test/fixtures/ssr-prerender-get-static-paths/src/pages/nested-arrays/[slug].astro
  packages/astro/test/ssr-prerender-get-static-paths.test.js
  pnpm-lock.yaml
Labels: pkg: astro

#7836 Allow the Image component to get transitions
  .changeset/healthy-glasses-smash.md
  packages/astro/e2e/fixtures/view-transitions/astro.config.mjs
  packages/astro/e2e/fixtures/view-transitions/src/assets/penguin.jpg
  packages/astro/e2e/fixtures/view-transitions/src/components/Penguin.astro
  packages/astro/e2e/fixtures/view-transitions/src/pages/image-one.astro
  packages/astro/e2e/fixtures/view-transitions/src/pages/image-two.astro
  packages/astro/e2e/view-transitions.test.js
  packages/astro/package.json
  pnpm-lock.yaml
Labels: pkg: astro

#7841 fix: dev server should redirect when a page doesn't exist
  .changeset/plenty-bats-shake.md
  packages/astro/src/vite-plugin-astro-server/route.ts
Labels: pkg: astro

#7816 feat: pass logger to integrations
  .changeset/odd-books-live.md
  packages/astro/src/@types/astro.ts
  packages/astro/src/core/logger/console.ts
  packages/astro/src/core/logger/core.ts
  packages/astro/src/core/logger/node.ts
  packages/astro/src/integrations/index.ts
  packages/astro/test/static-build.test.js
Labels: pkg: astro, semver: minor

#7815 feat: astro features
  .changeset/dirty-lies-cover.md
  packages/astro/src/@types/astro.ts
  packages/astro/src/assets/generate.ts
  packages/astro/src/assets/vite-plugin-assets.ts
  packages/astro/src/integrations/astroFeaturesValidation.ts
  packages/astro/src/integrations/index.ts
  packages/astro/test/featuresSupport.test.js
  packages/astro/test/test-adapter.js
  packages/astro/test/units/integrations/api.test.js
  packages/integrations/cloudflare/src/index.ts
  packages/integrations/cloudflare/test/fixtures/basics/astro.config.mjs
  packages/integrations/deno/src/index.ts
  packages/integrations/deno/test/fixtures/basics/astro.config.mjs
  packages/integrations/deno/test/fixtures/dynimport/astro.config.mjs
  packages/integrations/netlify/src/integration-edge-functions.ts
  packages/integrations/netlify/src/integration-functions.ts
  packages/integrations/node/src/index.ts
  packages/integrations/vercel/src/edge/adapter.ts
  packages/integrations/vercel/src/serverless/adapter.ts
  packages/integrations/vercel/test/no-output.test.js
Labels: pkg: integration, pkg: astro, semver: minor

#7800 Scroll position restoration
  .changeset/smart-boats-pull.md
  packages/astro/components/ViewTransitions.astro
  packages/astro/e2e/fixtures/view-transitions/src/components/Layout.astro
  packages/astro/e2e/fixtures/view-transitions/src/pages/long-page.astro
  packages/astro/e2e/fixtures/view-transitions/src/pages/one.astro
  packages/astro/e2e/view-transitions.test.js
Labels: pkg: astro

#7852 Improve config error handling
  packages/astro/src/cli/build/index.ts
  packages/astro/src/cli/check/index.ts
  packages/astro/src/cli/dev/index.ts
  packages/astro/src/cli/flags.ts
  packages/astro/src/cli/info/index.ts
  packages/astro/src/cli/load-settings.ts
  packages/astro/src/cli/preview/index.ts
  packages/astro/src/cli/sync/index.ts
  packages/astro/src/cli/throw-and-exit.ts
  packages/astro/src/core/config/config.ts
  packages/astro/src/core/dev/dev.ts
  packages/astro/src/core/dev/restart.ts
  packages/astro/src/core/errors/errors.ts
  packages/astro/test/units/config/config-server.test.js
Labels: pkg: astro

#7859 [docs] removed the broken link and revised the content
  packages/integrations/node/README.md
Labels: pkg: integration

#7862 Update old link from `@astrojs/netlify` README
  .changeset/honest-moose-type.md
  packages/integrations/netlify/README.md
Labels: pkg: integration

#7872 Move MDX plugin re-ordering hack to MDX integration
  .changeset/famous-queens-itch.md
  .changeset/rude-ears-play.md
  .changeset/unlucky-hotels-try.md
  packages/astro/src/core/create-vite.ts
  packages/integrations/mdx/package.json
  packages/integrations/mdx/src/index.ts
Labels: pkg: integration, pkg: astro

#7871 Move `logging` option to `logLevel` inline config option
  packages/astro/e2e/errors.test.js
  packages/astro/src/@types/astro.ts
  packages/astro/src/cli/add/index.ts
  packages/astro/src/cli/build/index.ts
  packages/astro/src/cli/check/index.ts
  packages/astro/src/cli/dev/index.ts
  packages/astro/src/cli/flags.ts
  packages/astro/src/cli/index.ts
  packages/astro/src/cli/preview/index.ts
  packages/astro/src/cli/sync/index.ts
  packages/astro/src/core/build/index.ts
  packages/astro/src/core/config/config.ts
  packages/astro/src/core/config/index.ts
  packages/astro/src/core/config/logging.ts
  packages/astro/src/core/dev/dev.ts
  packages/astro/src/core/dev/restart.ts
  packages/astro/src/core/preview/index.ts
  packages/astro/src/core/sync/index.ts
  packages/astro/test/astro-sync.test.js
  packages/astro/test/client-address.test.js
  packages/astro/test/dev-routing.test.js
  packages/astro/test/dynamic-endpoint-collision.test.js
  packages/astro/test/error-bad-js.test.js
  packages/astro/test/error-non-error.test.js
  packages/astro/test/react-component.test.js
  packages/astro/test/test-utils.js
  packages/astro/test/units/dev/collections-mixed-content-errors.test.js
  packages/astro/test/units/dev/hydration.test.js
  packages/astro/test/units/dev/restart.test.js
  packages/astro/test/units/render/components.test.js
Labels: pkg: astro

#7884 ci: enable pre releases for Astro 3.0
  .github/workflows/release.yml
Labels: 🚨 action
