Repository withastro/astro, pull requests merged in 2023-02, with the labels that each got.

#6017 Add links to sharp docs in @astro/image README
  packages/integrations/image/README.md
Labels: integration

#6074 Add required `alt` to Picture example
  packages/integrations/image/README.md
Labels: integration

#6076 Add JSDOC `@message` param to broken error pages
  packages/astro/src/core/errors/errors-data.ts
Labels: core

#6070 fix: Failed to execute 'encode' on 'TextEncoder': parameter 1 is not of type 'String' in Edge Runtime SSR
  .changeset/curvy-owls-grow.md
  packages/astro/src/runtime/server/render/common.ts
  packages/astro/src/runtime/server/render/component.ts
Labels: core, adapter-cloudflare, adapter-vercel

#6064 [Content collections] Apply MDX components on render
  .changeset/heavy-tomatoes-know.md
  packages/astro/src/content/internal.ts
  packages/astro/src/content/vite-plugin-content-assets.ts
  packages/astro/test/content-collections-render.test.js
  packages/astro/test/fixtures/content/src/components/H2.astro
  packages/astro/test/fixtures/content/src/content/blog/promo/launch-week-components-export.mdx
  packages/astro/test/fixtures/content/src/pages/launch-week-components-export.astro
Labels: core

#6055 [Lit] Forwards compatiblity for streaming Declarative Shadow DOM
  .changeset/hip-pots-push.md
  packages/astro/test/custom-elements.test.js
  packages/astro/test/fixtures/custom-elements/my-component-lib/server.js
  packages/integrations/lit/client-shim.js
  packages/integrations/lit/client-shim.min.js
  packages/integrations/lit/server.js
  packages/integrations/lit/test/server.test.js
Labels: framework-lit, integration, core

#6088 Fix incorrent encoded when path has other language characters
  .changeset/shaggy-gifts-beg.md
  packages/integrations/node/src/http-server.ts
Labels: integration

#6090 Move @netlify/functions to be a dep
  .changeset/green-penguins-tease.md
  packages/integrations/netlify/package.json
  pnpm-lock.yaml
Labels: integration

#6085 fix: solidjs integration for vercel edge build (adopting same mechanics as cloudflare)
  .changeset/wild-seas-happen.md
  packages/integrations/vercel/src/edge/adapter.ts
Labels: integration, adapter-vercel

#6104 chore: bump vitefu for @astrojs/solid-js
  .changeset/cold-maps-wash.md
  packages/integrations/solid/package.json
  pnpm-lock.yaml
Labels: framework-solid, integration

#6107 Prevent eager rendering of head content in multi-level MDX layout
  .changeset/lucky-hounds-rhyme.md
  packages/astro/src/@types/astro.ts
  packages/astro/src/core/render/result.ts
  packages/astro/src/runtime/server/jsx.ts
  packages/astro/src/runtime/server/render/astro/factory.ts
  packages/astro/src/runtime/server/render/head.ts
  packages/astro/src/runtime/server/render/slot.ts
  packages/astro/src/runtime/server/render/util.ts
  packages/integrations/mdx/test/css-head-mdx.test.js
Labels: integration, core

#6108 Upgrade preact's dependencies to fix security issue
  .changeset/breezy-scissors-attack.md
  packages/integrations/preact/package.json
  pnpm-lock.yaml
Labels: framework-preact, integration

#6110 Node adapter: handle prerendering and serving with query params
  .changeset/shy-cats-heal.md
  packages/integrations/node/package.json
  packages/integrations/node/src/http-server.ts
  packages/integrations/node/src/index.ts
  packages/integrations/node/src/server.ts
  packages/integrations/node/src/standalone.ts
  packages/integrations/node/test/fixtures/prerender/package.json
  packages/integrations/node/test/fixtures/prerender/src/pages/one.astro
  packages/integrations/node/test/fixtures/prerender/src/pages/two.astro
  packages/integrations/node/test/prerender.test.js
  pnpm-lock.yaml
Labels: integration

#6114 Fix scanning sourcemap handling
  .changeset/lemon-flies-clean.md
  packages/astro/src/vite-plugin-scanner/index.ts
Labels: core

#6077 Refactor build into plugins
  packages/astro/src/content/vite-plugin-content-assets.ts
  packages/astro/src/core/build/plugin.ts
  packages/astro/src/core/build/plugins/index.ts
  packages/astro/src/core/build/plugins/plugin-alias-resolve.ts
  packages/astro/src/core/build/plugins/plugin-analyzer.ts
  packages/astro/src/core/build/plugins/plugin-css.ts
  packages/astro/src/core/build/plugins/plugin-hoisted-scripts.ts
  packages/astro/src/core/build/plugins/plugin-internals.ts
  packages/astro/src/core/build/plugins/plugin-pages.ts
  packages/astro/src/core/build/plugins/plugin-prerender.ts
  packages/astro/src/core/build/plugins/plugin-ssr.ts
  packages/astro/src/core/build/plugins/util.ts
  packages/astro/src/core/build/static-build.ts
  packages/astro/src/core/build/types.ts
  packages/astro/src/core/build/vite-plugin-prerender.ts
Labels: core

#6075 fix: use the root of the project as the functions location
  .changeset/honest-beds-flow.md
  packages/integrations/cloudflare/src/index.ts
  packages/integrations/cloudflare/test/directory.test.js
Labels: integration, adapter-cloudflare

#6105 Update open with CodeSandbox link to use synced sandboxes
  examples/basics/README.md
  examples/blog/README.md
  examples/component/README.md
  examples/deno/README.md
  examples/docs/README.md
  examples/framework-alpine/README.md
  examples/framework-lit/README.md
  examples/framework-multiple/README.md
  examples/framework-preact/README.md
  examples/framework-react/README.md
  examples/framework-solid/README.md
  examples/framework-svelte/README.md
  examples/framework-vue/README.md
  examples/hackernews/README.md
  examples/integration/README.md
  examples/minimal/README.md
  examples/non-html-pages/README.md
  examples/portfolio/README.md
  examples/with-markdown-plugins/README.md
  examples/with-markdown-shiki/README.md
  examples/with-mdx/README.md
  examples/with-nanostores/README.md
  examples/with-tailwindcss/README.md
  examples/with-vite-plugin-pwa/README.md
  examples/with-vitest/README.md
Labels: example

#6092 [Content collections] Load content config with full Vite setup
  .changeset/friendly-bobcats-warn.md
  packages/astro/src/cli/sync/index.ts
  packages/astro/src/content/index.ts
  packages/astro/src/content/server-listeners.ts
  packages/astro/src/content/types-generator.ts
  packages/astro/src/content/utils.ts
  packages/astro/src/content/vite-plugin-content-imports.ts
  packages/astro/src/content/vite-plugin-content-server.ts
  packages/astro/src/core/build/index.ts
  packages/astro/src/core/create-vite.ts
  packages/astro/src/core/dev/dev.ts
  packages/astro/test/units/dev/collections-renderentry.test.js
Labels: core

#6122 [Content collections] Fix "underscore to ignore" warnings
  .changeset/grumpy-bees-worry.md
  packages/astro/src/content/types-generator.ts
  packages/astro/src/content/utils.ts
  packages/astro/src/content/vite-plugin-content-imports.ts
  packages/astro/test/units/content-collections/get-entry-type.test.js
Labels: core

#6124 Fix outdated error message in paginate() function
  .changeset/gorgeous-mails-sniff.md
  packages/astro/src/core/render/paginate.ts
Labels: core

#6123 fix example Card component style
  examples/basics/src/components/Card.astro
Labels: example

#6119 Fix hoisted script propagation in content collection pages
  .changeset/shaggy-pianos-sleep.md
  packages/astro/src/content/index.ts
  packages/astro/src/content/vite-plugin-content-assets.ts
  packages/astro/src/core/build/graph.ts
  packages/astro/src/core/build/page-data.ts
  packages/astro/src/core/build/plugins/index.ts
  packages/astro/src/core/build/plugins/plugin-analyzer.ts
  packages/astro/src/core/build/plugins/plugin-css.ts
  packages/astro/src/core/build/static-build.ts
  packages/astro/src/core/build/types.ts
  packages/astro/test/content-collections-render.test.js
Labels: core

#6149 Move pagination error to AstroErrorData
  .changeset/breezy-worms-retire.md
  packages/astro/src/core/errors/errors-data.ts
  packages/astro/src/core/render/paginate.ts
Labels: core

#6126 fix(portfolio): keyboard a11y for ThemeToggle
  examples/portfolio/src/components/ThemeToggle.astro
Labels: example

#6142 fix: #5979
  .changeset/lazy-plums-sit.md
  packages/integrations/image/components/index.ts
Labels: integration

#6153 Check vite.emptyOutDir before emptying dir
  .changeset/flat-dolphins-admire.md
  packages/astro/src/core/build/static-build.ts
Labels: core

#6117 Fix polyfills not being available to imports on Netlify
  .changeset/silent-dragons-sell.md
  packages/astro/src/core/create-vite.ts
  packages/integrations/netlify/package.json
Labels: integration, core

#6112 Fix remote image example
  packages/integrations/image/README.md
Labels: integration

#6111 [Lit] add `client:only` functionality to Lit integration
  .changeset/good-wolves-remain.md
  packages/astro/e2e/fixtures/lit-component/src/components/ClientOnlyComponent.js
  packages/astro/e2e/fixtures/lit-component/src/pages/index.astro
  packages/astro/e2e/lit-component.test.js
  packages/astro/src/runtime/server/render/component.ts
  packages/integrations/lit/src/client.ts
Labels: framework-lit, integration, core

#6157 Fix duplicate alt attribute on Picture component.
  .changeset/tidy-buses-mate.md
  packages/integrations/image/components/Picture.astro
Labels: integration

#6161 Prevent ?inline and ?raw CSS from being bundled as CSS
  .changeset/big-rocks-do.md
  packages/astro/src/core/build/plugins/plugin-css.ts
  packages/astro/src/core/render/dev/css.ts
  packages/astro/src/core/render/dev/util.ts
  packages/astro/src/core/render/dev/vite.ts
  packages/astro/src/core/render/util.ts
  packages/astro/test/css-inline.test.js
  packages/astro/test/fixtures/css-inline/package.json
  packages/astro/test/fixtures/css-inline/src/inline.css
  packages/astro/test/fixtures/css-inline/src/layouts/Layout.astro
  packages/astro/test/fixtures/css-inline/src/pages/index.astro
  packages/astro/test/fixtures/css-inline/src/raw.css
  pnpm-lock.yaml
Labels: core

#6163 Fix returning images from endpoints in dev
  .changeset/honest-pugs-hang.md
  packages/astro/src/vite-plugin-astro-server/route.ts
  packages/astro/test/dev-routing.test.js
  packages/astro/test/fixtures/with-endpoint-routes/src/astro.png
  packages/astro/test/fixtures/with-endpoint-routes/src/pages/images/hex.ts
Labels: core

#6152 Add additional scoping for head buffering
  .changeset/pretty-bananas-own.md
  packages/astro/package.json
  packages/astro/src/content/internal.ts
  packages/astro/src/core/app/common.ts
  packages/astro/src/core/app/index.ts
  packages/astro/src/core/app/types.ts
  packages/astro/src/core/build/generate.ts
  packages/astro/src/core/build/internal.ts
  packages/astro/src/core/build/plugins/index.ts
  packages/astro/src/core/build/plugins/plugin-ssr.ts
  packages/astro/src/core/compile/compile.ts
  packages/astro/src/core/render/result.ts
  packages/astro/src/runtime/server/index.ts
  packages/astro/src/runtime/server/jsx.ts
  packages/astro/src/runtime/server/render/astro/factory.ts
  packages/astro/src/runtime/server/render/astro/index.ts
  packages/astro/src/runtime/server/render/astro/instance.ts
  packages/astro/src/runtime/server/render/common.ts
  packages/astro/src/runtime/server/render/component.ts
  packages/astro/src/runtime/server/render/head.ts
  packages/astro/src/runtime/server/render/index.ts
  packages/astro/src/runtime/server/render/page.ts
  packages/astro/src/runtime/server/render/scope.ts
  packages/astro/src/runtime/server/render/slot.ts
  packages/astro/src/runtime/server/render/types.ts
  packages/astro/src/runtime/server/render/util.ts
  packages/astro/src/vite-plugin-head-propagation/index.ts
  packages/integrations/mdx/test/css-head-mdx.test.js
  packages/integrations/mdx/test/fixtures/css-head-mdx/package.json
  packages/integrations/mdx/test/fixtures/css-head-mdx/src/components/P.astro
  packages/integrations/mdx/test/fixtures/css-head-mdx/src/components/SmallCaps.astro
  packages/integrations/mdx/test/fixtures/css-head-mdx/src/components/UsingMdx.astro
  packages/integrations/mdx/test/fixtures/css-head-mdx/src/components/WithHoistedScripts.astro
  packages/integrations/mdx/test/fixtures/css-head-mdx/src/content/blog/_styles.css
  packages/integrations/mdx/test/fixtures/css-head-mdx/src/content/blog/using-mdx.mdx
  packages/integrations/mdx/test/fixtures/css-head-mdx/src/content/posts/test.mdx
  packages/integrations/mdx/test/fixtures/css-head-mdx/src/layouts/ContentLayout.astro
  packages/integrations/mdx/test/fixtures/css-head-mdx/src/pages/DirectContentUsage.astro
  packages/integrations/mdx/test/fixtures/css-head-mdx/src/pages/posts/[post].astro
  packages/integrations/mdx/test/fixtures/css-head-mdx/src/pages/remote.astro
  packages/integrations/mdx/test/fixtures/css-head-mdx/src/styles/global.css
  pnpm-lock.yaml
Labels: integration, core

#6120 update node integration README with Fastify code example
  packages/integrations/node/README.md
Labels: integration

#6176 Take dynamic imports into account for CSS ordering
  .changeset/happy-dragons-invite.md
  packages/astro/src/core/build/graph.ts
  packages/astro/test/css-order-import.test.js
  packages/astro/test/fixtures/css-order-dynamic-import/package.json
  packages/astro/test/fixtures/css-order-dynamic-import/src/components/One.astro
  packages/astro/test/fixtures/css-order-dynamic-import/src/components/Three.astro
  packages/astro/test/fixtures/css-order-dynamic-import/src/components/Two.astro
  packages/astro/test/fixtures/css-order-dynamic-import/src/pages/one.astro
  packages/astro/test/fixtures/css-order-dynamic-import/src/pages/two.astro
  packages/astro/test/fixtures/css-order-dynamic-import/src/styles/One.css
  packages/astro/test/fixtures/css-order-dynamic-import/src/styles/base.css
  pnpm-lock.yaml
Labels: core

#6148 Add vercel analytics support
  .changeset/eighty-bobcats-deliver.md
  packages/integrations/vercel/README.md
  packages/integrations/vercel/package.json
  packages/integrations/vercel/src/analytics.ts
  packages/integrations/vercel/src/edge/adapter.ts
  packages/integrations/vercel/src/serverless/adapter.ts
  packages/integrations/vercel/src/static/adapter.ts
  pnpm-lock.yaml
Labels: integration

#6180 Allow binary data to be returned from api routes in SSG
  .changeset/tame-poems-walk.md
  packages/astro/src/core/build/generate.ts
  packages/astro/test/api-routes.test.js
  packages/astro/test/fixtures/api-routes/src/pages/binary.dat.ts
  packages/astro/test/test-utils.js
Labels: core

#6182 Ensure base configuration appended to content collection styles
  .changeset/late-poets-own.md
  packages/astro/src/content/vite-plugin-content-assets.ts
  packages/astro/test/content-collections.test.js
  packages/astro/test/fixtures/content-collections-base/astro.config.mjs
  packages/astro/test/fixtures/content-collections-base/package.json
  packages/astro/test/fixtures/content-collections-base/src/components/One.astro
  packages/astro/test/fixtures/content-collections-base/src/content/config.ts
  packages/astro/test/fixtures/content-collections-base/src/content/docs/one.mdx
  packages/astro/test/fixtures/content-collections-base/src/pages/docs.astro
  pnpm-lock.yaml
Labels: core

#6183 Fix root directory spread pagination `url.prev` for first page
  .changeset/calm-readers-learn.md
  packages/astro/src/core/render/paginate.ts
  packages/astro/test/astro-pagination-root-spread.test.js
  packages/astro/test/fixtures/astro-pagination-root-spread/package.json
  packages/astro/test/fixtures/astro-pagination-root-spread/src/pages/[...page].astro
  pnpm-lock.yaml
Labels: core

#6195 Fix blog starter about page
  examples/blog/src/components/FormattedDate.astro
  examples/blog/src/layouts/BlogPost.astro
  examples/blog/src/pages/about.astro
  examples/blog/src/pages/about.md
  examples/blog/src/pages/blog/index.astro
  examples/blog/tsconfig.json
Labels: example

#6196 Fix head injection misplacement with Astro.slots.render()
  .changeset/thirty-bugs-film.md
  packages/astro/src/runtime/server/render/common.ts
  packages/astro/src/runtime/server/render/scope.ts
  packages/astro/src/runtime/server/render/slot.ts
  packages/astro/test/fixtures/head-injection/package.json
  packages/astro/test/fixtures/head-injection/src/components/Layout.astro
  packages/astro/test/fixtures/head-injection/src/components/RegularSlot.astro
  packages/astro/test/fixtures/head-injection/src/components/SlotRenderComponent.astro
  packages/astro/test/fixtures/head-injection/src/components/SlotRenderLayout.astro
  packages/astro/test/fixtures/head-injection/src/components/SlotsRender.astro
  packages/astro/test/fixtures/head-injection/src/pages/index.md
  packages/astro/test/fixtures/head-injection/src/pages/with-slot-in-render-slot.astro
  packages/astro/test/fixtures/head-injection/src/pages/with-slot-in-slot.astro
  packages/astro/test/fixtures/head-injection/src/pages/with-slot-render.astro
  packages/astro/test/head-injection-md.test.js
  packages/astro/test/head-injection.test.js
  packages/integrations/mdx/test/css-head-mdx.test.js
  packages/integrations/mdx/test/fixtures/css-head-mdx/src/pages/noLayoutWithComponent.mdx
  pnpm-lock.yaml
Labels: integration, core

#6191 Vercel adapter README tweaks
  .changeset/grumpy-cameras-own.md
  packages/integrations/vercel/README.md
Labels: integration

#6197 Fix types for TableHTMLAttributes
  .changeset/sixty-scissors-refuse.md
  packages/astro/astro-jsx.d.ts
Labels: core

#6198 Fixes usage of Code component in Vercel
  .changeset/great-mails-agree.md
  packages/astro/components/Shiki.js
  packages/astro/test/units/shiki/shiki.test.js
Labels: core

#6049 Preserve `--root` CLI flag on restart
  .changeset/tasty-planes-knock.md
  packages/astro/src/core/dev/dev.ts
Labels: core

#6208 Fix 6206: Cloudflare function path resolving one step above
  .changeset/lazy-coins-compete.md
  packages/integrations/cloudflare/src/index.ts
  packages/integrations/cloudflare/test/directory.test.js
Labels: integration

#6216 Fix head injection in body with slots.render() and head buffering
  .changeset/eight-cameras-itch.md
  packages/astro/src/runtime/server/render/common.ts
  packages/astro/test/fixtures/head-injection/src/components/UsesSlotRender.astro
  packages/astro/test/fixtures/head-injection/src/pages/with-render-slot-in-head-buffer.astro
  packages/astro/test/head-injection.test.js
  packages/integrations/mdx/test/css-head-mdx.test.js
  packages/integrations/mdx/test/fixtures/css-head-mdx/src/components/BaseHead.astro
  packages/integrations/mdx/test/fixtures/css-head-mdx/src/components/GenericComponent.astro
  packages/integrations/mdx/test/fixtures/css-head-mdx/src/components/MDXWrapper.astro
  packages/integrations/mdx/test/fixtures/css-head-mdx/src/content/posts/using-component.mdx
  packages/integrations/mdx/test/fixtures/css-head-mdx/src/layouts/ContentLayout.astro
Labels: integration, core

#6233 [docs] README typo fixes
  packages/integrations/cloudflare/README.md
Labels: integration

#6218 Fix `getEntryType` failure on spaces in file name
  .changeset/orange-sheep-deliver.md
  packages/astro/src/content/utils.ts
Labels: core

#6215 Prevent hydration mismatches in Preact
  .changeset/orange-chicken-end.md
  packages/integrations/preact/src/client.ts
Labels: framework-preact, integration

#6229 fix: add support for `js/mjs` file extensions for Content Collections config file
  .changeset/three-peaches-guess.md
  packages/astro/src/content/server-listeners.ts
  packages/astro/src/content/types-generator.ts
  packages/astro/src/content/utils.ts
  packages/astro/src/content/vite-plugin-content-imports.ts
  packages/astro/test/content-collections.test.js
  packages/astro/test/fixtures/content-collections-with-config-mjs/package.json
  packages/astro/test/fixtures/content-collections-with-config-mjs/src/content/blog/introduction.md
  packages/astro/test/fixtures/content-collections-with-config-mjs/src/content/config.mjs
  packages/astro/test/fixtures/content-collections-with-config-mjs/src/pages/index.astro
  packages/astro/test/units/content-collections/get-entry-type.test.js
  pnpm-lock.yaml
Labels: core

#6118 Add support for SVG images to  `@astrojs/image`
  .changeset/little-carrots-add.md
  packages/integrations/image/README.md
  packages/integrations/image/client.d.ts
  packages/integrations/image/src/loaders/index.ts
  packages/integrations/image/src/loaders/sharp.ts
  packages/integrations/image/src/loaders/squoosh.ts
  packages/integrations/image/src/vite-plugin-astro-image.ts
  packages/integrations/image/test/fixtures/basic-image/src/assets/logo.svg
  packages/integrations/image/test/fixtures/basic-image/src/pages/index.astro
  packages/integrations/image/test/image-ssg.test.js
  packages/integrations/image/test/image-ssr-build.test.js
  packages/integrations/image/test/image-ssr-dev.test.js
Labels: integration

#6244 Fix hydration path for circular imports
  .changeset/selfish-frogs-tell.md
  packages/astro/e2e/fixtures/solid-circular/astro.config.mjs
  packages/astro/e2e/fixtures/solid-circular/package.json
  packages/astro/e2e/fixtures/solid-circular/src/components/ContextProvider.tsx
  packages/astro/e2e/fixtures/solid-circular/src/components/SimpleDiv.tsx
  packages/astro/e2e/fixtures/solid-circular/src/env.d.ts
  packages/astro/e2e/fixtures/solid-circular/src/pages/index.astro
  packages/astro/e2e/solid-circular.test.js
  packages/astro/src/core/render/dev/environment.ts
  packages/astro/src/core/render/dev/resolve.ts
  packages/astro/src/core/util.ts
  pnpm-lock.yaml
Labels: core

#6243 Support rehype plugins that inject namespaced attributes
  .changeset/moody-cats-train.md
  packages/integrations/mdx/package.json
  packages/integrations/mdx/src/index.ts
  packages/integrations/mdx/test/mdx-plugins.test.js
  pnpm-lock.yaml
Labels: integration

#6250 Fix unmount Svelte slots
  .changeset/curvy-snakes-turn.md
  packages/astro/e2e/fixtures/svelte-component/src/components/ToggleSlots.svelte
  packages/astro/e2e/fixtures/svelte-component/src/env.d.ts
  packages/astro/e2e/fixtures/svelte-component/src/pages/index.astro
  packages/astro/e2e/svelte-component.test.js
  packages/integrations/svelte/client.js
Labels: framework-svelte, integration, core

#6252 Revert previous mdx breaking change
  .changeset/afraid-rivers-camp.md
  packages/integrations/mdx/src/index.ts
  packages/integrations/mdx/test/mdx-plugins.test.js
Labels: integration

#6253 Support rehype plugins that inject namespaced attributes 2
  .changeset/gentle-parrots-cheer.md
  packages/integrations/mdx/src/index.ts
  packages/integrations/mdx/test/mdx-plugins.test.js
Labels: integration

#6248 Deno fix #6131
  .changeset/funny-seahorses-compare.md
  packages/astro/src/core/build/plugins/plugin-ssr.ts
  packages/integrations/deno/src/code-constant.ts
  packages/integrations/deno/src/index.ts
  packages/integrations/deno/src/server.ts
  packages/integrations/deno/test/basics.test.ts
  packages/integrations/deno/test/fixtures/basics/src/pages/perendering.astro
Labels: integration, core

#6258 Only inject Vercel analytics in production
  .changeset/dull-wasps-decide.md
  packages/integrations/vercel/src/edge/adapter.ts
  packages/integrations/vercel/src/serverless/adapter.ts
  packages/integrations/vercel/src/static/adapter.ts
Labels: integration

#6254 Clarify SVG image gotcha info
  packages/integrations/image/README.md
Labels: integration

#6257 Fix: recursive `getCollection()` hanging
  .changeset/metal-ducks-invite.md
  packages/astro/src/core/render/dev/vite.ts
  packages/astro/test/content-collections-render.test.js
  packages/astro/test/fixtures/content/src/components/LayoutProp.astro
  packages/astro/test/fixtures/content/src/content/blog/with-layout-prop.md
  packages/astro/test/fixtures/content/src/pages/with-layout-prop.astro
Labels: core

#6265 fix(cookies): Fix cookies not being all returned on Node 16 after Undici upgrade
  packages/astro/src/vite-plugin-astro-server/response.ts
Labels: core

#6278 fix(create-astro): Pin giget to 1.0.0
  .changeset/rare-lizards-grin.md
  packages/create-astro/package.json
  pnpm-lock.yaml
Labels: create-astro

#6277 Bump Vite to 4.1
  .changeset/breezy-eyes-cheat.md
  packages/astro/package.json
  packages/integrations/image/package.json
  packages/integrations/mdx/package.json
  packages/integrations/netlify/package.json
  packages/integrations/svelte/package.json
  packages/integrations/tailwind/package.json
  packages/integrations/vue/package.json
  pnpm-lock.yaml
Labels: framework-svelte, framework-vue, integration, core

#6274 docs: Update `create-astro` README.
  packages/create-astro/README.md
Labels: create-astro

#6281 Revert "Deno fix #6131 (#6248)"
  .changeset/gold-months-live.md
  packages/astro/src/core/build/plugins/plugin-ssr.ts
  packages/integrations/deno/src/code-constant.ts
  packages/integrations/deno/src/index.ts
  packages/integrations/deno/src/server.ts
  packages/integrations/deno/test/basics.test.ts
  packages/integrations/deno/test/fixtures/basics/src/pages/perendering.astro
Labels: integration, core

#6284 Fix prerendered page handling on Deno
  .changeset/shaggy-moons-judge.md
  examples/deno/package.json
  examples/deno/src/pages/index.astro
  packages/integrations/deno/package.json
  packages/integrations/deno/src/__deno_imports.ts
  packages/integrations/deno/src/index.ts
  packages/integrations/deno/src/server.ts
  packages/integrations/deno/test/basics.test.ts
  packages/integrations/deno/test/fixtures/basics/src/pages/prerender.astro
Labels: example, integration

#6262 update `ChangeFreq` to support typescript configurations with string literal
  .changeset/shiny-years-beg.md
  packages/integrations/sitemap/src/generate-sitemap.ts
  packages/integrations/sitemap/src/index.ts
Labels: integration

#6285 Add documentation for unknown errors
  packages/astro/src/core/errors/errors-data.ts
Labels: core

#6293 fix(content-collections): warn about `allowJs` only when `content` directory exists
  .changeset/kind-cameras-type.md
  packages/astro/src/content/server-listeners.ts
Labels: core

#6290 Docs: Image README clarifications
  packages/integrations/image/README.md
Labels: integration

#6322 Fix import of type HTMLAttributes in blog example
  examples/blog/src/components/HeaderLink.astro
Labels: example

#6294 `create-astro` help info add `--typescript` flag
  .changeset/rare-pumpkins-end.md
  packages/create-astro/README.md
  packages/create-astro/src/actions/help.ts
Labels: create-astro

#6314 [create-astro] Execute the 'git' step as the final interaction
  .changeset/great-colts-accept.md
  packages/create-astro/src/index.ts
Labels: create-astro

#6325 fix(examples/docs): future-proof Discord link
  examples/docs/src/content/docs/en/introduction.md
Labels: example

#6320 fix #6020
  .changeset/lazy-cats-clean.md
  packages/astro/src/@types/astro.ts
  packages/astro/src/core/app/index.ts
  packages/astro/src/core/build/plugins/plugin-prerender.ts
  packages/astro/src/core/routing/manifest/create.ts
  packages/astro/src/core/routing/manifest/serialization.ts
  packages/astro/src/core/routing/match.ts
  packages/astro/test/fixtures/ssr-prerender/src/pages/[...params].astro
  packages/astro/test/ssr-prerender.test.js
Labels: core

#6333 fix(astro): correctly change configuration when node adapter is added
  .changeset/swift-islands-promise.md
  packages/astro/src/core/add/index.ts
Labels: core

#6343 Improve portfolio example icon support
  examples/portfolio/src/components/Icon.astro
  examples/portfolio/src/components/IconPaths.ts
Labels: example

#6330 fix(content): ensure underscore ignores only child paths of the content directory.
  .changeset/tiny-geckos-reply.md
  packages/astro/src/content/utils.ts
  packages/astro/test/units/content-collections/get-entry-type.test.js
Labels: core

#6296 Update MDX integration to es-module-lexer@1.1.1
  .changeset/lucky-flowers-wonder.md
  packages/integrations/mdx/CHANGELOG.md
  packages/integrations/mdx/package.json
  packages/integrations/mdx/src/index.ts
  pnpm-lock.yaml
Labels: integration

#6288 Enhanced Astro codespace support
  .devcontainer/Dockerfile
  .devcontainer/basics/devcontainer.json
  .devcontainer/blog/devcontainer.json
  .devcontainer/component/devcontainer.json
  .devcontainer/deno/devcontainer.json
  .devcontainer/devcontainer.json
  .devcontainer/docs/devcontainer.json
  .devcontainer/example-welcome-message.txt
  .devcontainer/examples.Dockerfile
  .devcontainer/examples.deno.Dockerfile
  .devcontainer/framework-alpine/devcontainer.json
  .devcontainer/framework-lit/devcontainer.json
  .devcontainer/framework-multiple/devcontainer.json
  .devcontainer/framework-preact/devcontainer.json
  .devcontainer/framework-react/devcontainer.json
  .devcontainer/framework-solid/devcontainer.json
  .devcontainer/framework-svelte/devcontainer.json
  .devcontainer/framework-vue/devcontainer.json
  .devcontainer/hackernews/devcontainer.json
  .devcontainer/integration/devcontainer.json
  .devcontainer/minimal/devcontainer.json
  .devcontainer/non-html-pages/devcontainer.json
  .devcontainer/portfolio/devcontainer.json
  .devcontainer/ssr/devcontainer.json
  .devcontainer/welcome-message.txt
  .devcontainer/with-markdown-plugins/devcontainer.json
  .devcontainer/with-markdown-shiki/devcontainer.json
  .devcontainer/with-mdx/devcontainer.json
  .devcontainer/with-nanostores/devcontainer.json
  .devcontainer/with-tailwindcss/devcontainer.json
  .devcontainer/with-vite-plugin-pwa/devcontainer.json
  .devcontainer/with-vitest/devcontainer.json
  CONTRIBUTING.md
  examples/basics/README.md
  examples/blog/README.md
  examples/component/README.md
  examples/deno/README.md
  examples/docs/README.md
  examples/framework-alpine/README.md
  examples/framework-lit/README.md
  examples/framework-multiple/README.md
  examples/framework-preact/README.md
  examples/framework-react/README.md
  examples/framework-solid/README.md
  examples/framework-svelte/README.md
  examples/framework-vue/README.md
  examples/hackernews/README.md
  examples/integration/README.md
  examples/minimal/README.md
  examples/non-html-pages/README.md
  examples/portfolio/README.md
  examples/with-markdown-plugins/README.md
  examples/with-markdown-shiki/README.md
  examples/with-mdx/README.md
  examples/with-nanostores/README.md
  examples/with-tailwindcss/README.md
  examples/with-vite-plugin-pwa/README.md
  examples/with-vitest/README.md
Labels: example

#6347 Use getSetCookie, if available
  .changeset/six-crabs-hunt.md
  packages/astro/src/vite-plugin-astro-server/response.ts
  packages/astro/test/astro-cookies.test.js
  packages/integrations/image/src/build/ssg.ts
Labels: integration, core

#6313 fix: too many files opened for collections with many entries
  packages/astro/src/content/types-generator.ts
Labels: core

#6348 CI pin `pnpm/action-setup` to `v2`
  .github/workflows/benchmark.yml
  .github/workflows/check.yml
  .github/workflows/ci.yml
  .github/workflows/format.yml
  .github/workflows/main.yml
  .github/workflows/nightly.yml
  .github/workflows/release.yml
  .github/workflows/scripts.yml
  .github/workflows/snapshot-release.yml
Labels: 🚨 action

#6355 fix: bump `undici` to v5.20.0
  .changeset/yellow-kings-rhyme.md
  packages/astro/src/core/cookies/response.ts
  packages/astro/src/vite-plugin-astro-server/response.ts
  packages/webapi/package.json
  pnpm-lock.yaml
Labels: core

#6351 [Lit] render DSD attributes based on `shadowRootOptions`
  .changeset/old-fireants-allow.md
  packages/integrations/lit/server.js
  packages/integrations/lit/test/server.test.js
Labels: framework-lit, integration

#6352 Add missing flags to help action
  .changeset/purple-crews-agree.md
  packages/create-astro/src/actions/help.ts
Labels: create-astro

#6363 Only apply head propagation in trees that need it
  .changeset/orange-cheetahs-hide.md
  packages/astro/src/vite-plugin-head-propagation/index.ts
  packages/astro/test/fixtures/head-injection/src/components/with-slot-render2/inner.astro
  packages/astro/test/fixtures/head-injection/src/components/with-slot-render2/slots-render-outer.astro
  packages/astro/test/fixtures/head-injection/src/pages/with-slot-render2.astro
  packages/astro/test/head-injection.test.js
Labels: core

#6369 Update doc link in non-html-pages example README
  examples/non-html-pages/README.md
Labels: example

#6360 fix: remove duplicate exit key from create template
  packages/create-astro/src/actions/template.ts
Labels: create-astro

#6375 Respect original `package.json` indentation
  .changeset/real-balloons-cough.md
  packages/create-astro/src/actions/template.ts
Labels: create-astro

#6358 Add a warning when using `encoding` in SSR and `headers` on objects in endpoints
  .changeset/wise-bikes-fix.md
  packages/astro/src/core/app/index.ts
  packages/astro/src/core/build/generate.ts
  packages/astro/src/core/endpoint/dev/index.ts
  packages/astro/src/core/endpoint/index.ts
  packages/astro/src/vite-plugin-astro-server/route.ts
Labels: core

#6368 fix: don't mix Vite plugins when spawning temporary Vite server
  .changeset/green-wombats-pay.md
  packages/astro/src/core/build/index.ts
  packages/astro/src/core/create-vite.ts
  packages/astro/src/core/dev/container.ts
  packages/astro/test/static-build-vite-plugins.test.js
  packages/webapi/mod.d.ts
Labels: core

#6381 Add initial core image tests
  packages/astro/test/core-image.test.js
  packages/astro/test/fixtures/core-image/package.json
  packages/astro/test/fixtures/core-image/src/assets/penguin1.jpg
  packages/astro/test/fixtures/core-image/src/pages/index.astro
  packages/astro/test/fixtures/core-image/src/pages/remote-error-no-dimensions.astro
  packages/astro/test/fixtures/core-image/src/pages/remote-error-no-height.astro
  pnpm-lock.yaml
Labels: core
