Repository withastro/astro, pull requests merged in 2023-11, with the labels that each got.

#8929 fix(slots): consume eagerly rendered slot after one use
  .changeset/plenty-spiders-act.md
  packages/astro/src/runtime/server/render/astro/instance.ts
  packages/astro/test/astro-slots.test.js
  packages/astro/test/fixtures/astro-slots/src/components/Random.astro
  packages/astro/test/fixtures/astro-slots/src/components/RenderMultipleTimes.astro
  packages/astro/test/fixtures/astro-slots/src/pages/rendered-multiple-times.astro
Labels: pkg: astro, docs pr

#8953 feat(underscore-redirects): add `base` to input paths
  .changeset/odd-maps-glow.md
  packages/underscore-redirects/src/astro.ts
Labels: docs pr

#8976 Fix ViewTransitions example
  examples/view-transitions/src/pages/movies/[id].astro
Labels: pkg: example

#8968 feat: new event to toggle a plugin from itself
  packages/astro/src/runtime/client/dev-overlay/entrypoint.ts
  packages/astro/src/runtime/client/dev-overlay/overlay.ts
Labels: pkg: astro

#8977 Prevent the route announcer from being visible
  .changeset/five-ads-look.md
  packages/astro/components/ViewTransitions.astro
  packages/astro/components/viewtransitions.css
  packages/astro/e2e/fixtures/view-transitions/src/pages/no-directive-one.astro
  packages/astro/e2e/fixtures/view-transitions/src/pages/no-directive-two.astro
  packages/astro/e2e/view-transitions.test.js
Labels: pkg: astro, docs pr

#8978 feat(dev-overlay): Add a tooltip on plugin hover / focus
  .changeset/twenty-shirts-smile.md
  packages/astro/e2e/dev-overlay.test.js
  packages/astro/src/runtime/client/dev-overlay/overlay.ts
Labels: pkg: astro, docs pr

#8979 fix(underscore-redirects): fix dynamic pattern regression
  .changeset/cuddly-walls-remember.md
  packages/underscore-redirects/src/astro.ts
Labels: docs pr

#8940 fix: toStyleString omit nullish values
  .changeset/long-roses-shave.md
  packages/astro/src/runtime/server/render/util.ts
Labels: pkg: astro, docs pr

#8986 fix(assets): Propagate sizes attribute on all sources
  .changeset/tasty-oranges-bathe.md
  packages/astro/components/Image.astro
  packages/astro/components/Picture.astro
  packages/astro/src/assets/internal.ts
  packages/astro/src/assets/services/service.ts
  packages/astro/src/assets/types.ts
  packages/astro/test/core-image.test.js
  packages/astro/test/fixtures/core-image/src/pages/picturecomponent.astro
Labels: pkg: astro, docs pr

#8995 chore(i18n): reworked fallback, docs, types and validation
  packages/astro/src/@types/astro.ts
  packages/astro/src/core/config/schema.ts
  packages/astro/src/vite-plugin-astro-server/route.ts
  packages/astro/test/units/config/config-validate.test.js
Labels: pkg: astro, docs pr

#9004 refactor(i18n): make `normalizePath` to default to `true`
  packages/astro/client.d.ts
  packages/astro/src/i18n/index.ts
  packages/astro/test/units/i18n/astro_i18n.js
Labels: pkg: astro, docs pr

#8996 Add shiki lang path compat
  .changeset/strange-toes-remain.md
  packages/astro/components/Code.astro
  packages/astro/src/core/config/schema.ts
  packages/astro/test/astro-markdown-shiki.test.js
  packages/astro/test/fixtures/astro-markdown-shiki/langs/astro.config.mjs
  packages/astro/test/fixtures/astro-markdown-shiki/langs/src/caddyfile.tmLanguage.json
  packages/astro/test/fixtures/astro-markdown-shiki/langs/src/pages/index.md
Labels: pkg: astro, docs pr

#8997 refactor(i18n): compute preferred locales lazily
  packages/astro/src/@types/astro.ts
  packages/astro/src/core/app/index.ts
  packages/astro/src/core/build/generate.ts
  packages/astro/src/core/endpoint/index.ts
  packages/astro/src/core/middleware/index.ts
  packages/astro/src/core/pipeline.ts
  packages/astro/src/core/render/context.ts
  packages/astro/src/core/render/core.ts
  packages/astro/src/core/render/index.ts
  packages/astro/src/core/render/result.ts
  packages/astro/src/vite-plugin-astro-server/route.ts
Labels: pkg: astro, docs pr

#9005 Handle Vite 5 changes
  packages/astro/src/core/preview/static-preview-server.ts
  packages/astro/src/core/preview/vite-plugin-astro-preview.ts
  packages/astro/src/vite-plugin-scripts/index.ts
  packages/astro/test/preview-routing.test.js
Labels: pkg: astro

#8879 feat(vercel): streaming
  .changeset/tricky-clocks-end.md
  packages/integrations/vercel/src/serverless/adapter.ts
  packages/integrations/vercel/test/fixtures/streaming/astro.config.mjs
  packages/integrations/vercel/test/fixtures/streaming/package.json
  packages/integrations/vercel/test/fixtures/streaming/src/pages/one.astro
  packages/integrations/vercel/test/fixtures/streaming/src/pages/two.astro
  packages/integrations/vercel/test/static-assets.test.js
  packages/integrations/vercel/test/streaming.test.js
  pnpm-lock.yaml
Labels: pkg: integration, docs pr

#9014 feat(overlay): Match the design's animations, shadows and general styling
  .changeset/rude-eggs-hunt.md
  packages/astro/src/@types/astro.ts
  packages/astro/src/runtime/client/dev-overlay/entrypoint.ts
  packages/astro/src/runtime/client/dev-overlay/overlay.ts
  packages/astro/src/runtime/client/dev-overlay/plugins/astro.ts
  packages/astro/src/runtime/client/dev-overlay/plugins/audit.ts
  packages/astro/src/runtime/client/dev-overlay/plugins/xray.ts
  packages/astro/src/runtime/client/dev-overlay/ui-library/card.ts
  packages/astro/src/runtime/client/dev-overlay/ui-library/icons.ts
  packages/astro/src/runtime/client/dev-overlay/ui-library/tooltip.ts
  packages/astro/src/runtime/client/dev-overlay/ui-library/window.ts
Labels: pkg: astro, docs pr

#8998 fix(vue): vue regular script block exports not being recognized inside editor
  .changeset/two-oranges-knock.md
  packages/integrations/vue/package.json
  packages/integrations/vue/src/editor.cts
  packages/integrations/vue/test/app-entrypoint.test.js
  packages/integrations/vue/test/fixtures/app-entrypoint/src/components/Generics.vue
  packages/integrations/vue/test/fixtures/app-entrypoint/src/components/GenericsAndBlocks.vue
  packages/integrations/vue/test/fixtures/app-entrypoint/src/components/MultipleScriptBlocks.vue
  packages/integrations/vue/test/fixtures/app-entrypoint/src/pages/index.astro
  pnpm-lock.yaml
Labels: pkg: vue, pkg: integration, docs pr

#9010 Use jpeg source files as fallback rather than converting to png
  .changeset/quiet-games-film.md
  packages/astro/components/Picture.astro
Labels: pkg: astro

#8984 feat(assets): Add property to image services to control which properties to use for hashing
  .changeset/new-islands-lick.md
  packages/astro/src/assets/consts.ts
  packages/astro/src/assets/internal.ts
  packages/astro/src/assets/services/service.ts
  packages/astro/src/assets/types.ts
  packages/astro/src/assets/utils/transformToPath.ts
  packages/astro/src/assets/vite-plugin-assets.ts
  packages/astro/test/core-image.test.js
  packages/astro/test/fixtures/core-image-ssg/src/pages/imageDeduplication.astro
  packages/astro/test/test-image-service.js
Labels: pkg: astro, semver: minor, docs pr

#8954 feat(assets): Delete original assets unused outside of the optimization pipeline
  .changeset/nasty-elephants-provide.md
  packages/astro/src/assets/build/generate.ts
  packages/astro/src/assets/internal.ts
  packages/astro/src/assets/types.ts
  packages/astro/src/assets/utils/emitAsset.ts
  packages/astro/src/assets/utils/metadata.ts
  packages/astro/src/assets/utils/proxy.ts
  packages/astro/src/assets/utils/queryParams.ts
  packages/astro/src/assets/vite-plugin-assets.ts
  packages/astro/src/content/runtime-assets.ts
  packages/astro/src/content/vite-plugin-content-imports.ts
  packages/astro/src/core/build/generate.ts
  tsconfig.base.json
Labels: pkg: astro, semver: minor, docs pr

#9018 Fix Lit integration hydration ordering
  .changeset/spotty-rings-crash.md
  packages/integrations/lit/server.js
  packages/integrations/lit/test/server.test.js
Labels: pkg: lit, pkg: integration, docs pr

#8951 Support prefetch in core
  .changeset/sixty-laws-argue.md
  packages/astro/client.d.ts
  packages/astro/components/ViewTransitions.astro
  packages/astro/e2e/fixtures/prefetch/astro.config.mjs
  packages/astro/e2e/fixtures/prefetch/package.json
  packages/astro/e2e/fixtures/prefetch/src/pages/index.astro
  packages/astro/e2e/fixtures/prefetch/src/pages/prefetch-default.astro
  packages/astro/e2e/fixtures/prefetch/src/pages/prefetch-false.astro
  packages/astro/e2e/fixtures/prefetch/src/pages/prefetch-hover.astro
  packages/astro/e2e/fixtures/prefetch/src/pages/prefetch-tap.astro
  packages/astro/e2e/fixtures/prefetch/src/pages/prefetch-viewport.astro
  packages/astro/e2e/fixtures/view-transitions/src/pages/prefetch.astro
  packages/astro/e2e/prefetch.test.js
  packages/astro/e2e/view-transitions.test.js
  packages/astro/package.json
  packages/astro/src/@types/astro.ts
  packages/astro/src/core/config/schema.ts
  packages/astro/src/core/create-vite.ts
  packages/astro/src/prefetch/index.ts
  packages/astro/src/prefetch/vite-plugin-prefetch.ts
  packages/astro/src/transitions/vite-plugin-transitions.ts
  packages/integrations/prefetch/README.md
  pnpm-lock.yaml
Labels: pkg: integration, pkg: astro, semver: minor, docs pr

#9016 feat(overlay): Add click to go to editor for audits
  .changeset/calm-shirts-battle.md
  packages/astro/package.json
  packages/astro/src/core/compile/compile.ts
  packages/astro/src/runtime/client/dev-overlay/plugins/audit.ts
  packages/astro/test/fixtures/middleware space/src/middleware.js
  packages/astro/test/middleware.test.js
  packages/astro/test/partials.test.js
  packages/astro/test/units/dev/dev.test.js
  pnpm-lock.yaml
Labels: pkg: astro, docs pr

#8903 Light/dark theming for shikiji's codeblocks
  .changeset/tender-suits-glow.md
  packages/astro/components/Code.astro
  packages/astro/src/core/config/schema.ts
  packages/astro/src/vite-plugin-markdown/index.ts
  packages/markdown/remark/src/index.ts
  packages/markdown/remark/src/remark-shiki.ts
  packages/markdown/remark/src/types.ts
  packages/markdown/remark/test/shiki.js
Labels: feat: markdown, pkg: astro, semver: minor

#8963 Support form submissions in the ViewTransitions router
  .changeset/many-weeks-sort.md
  packages/astro/client.d.ts
  packages/astro/components/ViewTransitions.astro
  packages/astro/e2e/fixtures/view-transitions/src/components/Layout.astro
  packages/astro/e2e/fixtures/view-transitions/src/pages/contact.ts
  packages/astro/e2e/fixtures/view-transitions/src/pages/form-one.astro
  packages/astro/e2e/fixtures/view-transitions/src/pages/form-response.astro
  packages/astro/e2e/view-transitions.test.js
  packages/astro/src/transitions/router.ts
Labels: pkg: astro, semver: minor, docs pr

#8869 Integration defined middleware
  .changeset/khaki-glasses-raise.md
  packages/astro/src/@types/astro.ts
  packages/astro/src/core/build/plugins/plugin-middleware.ts
  packages/astro/src/core/config/settings.ts
  packages/astro/src/core/create-vite.ts
  packages/astro/src/core/middleware/loadMiddleware.ts
  packages/astro/src/core/middleware/sequence.ts
  packages/astro/src/core/middleware/vite-plugin.ts
  packages/astro/src/integrations/index.ts
  packages/astro/src/vite-plugin-astro-server/route.ts
  packages/astro/test/fixtures/middleware space/astro.config.mjs
  packages/astro/test/fixtures/middleware space/integration-middleware-post.js
  packages/astro/test/fixtures/middleware space/integration-middleware-pre.js
  packages/astro/test/fixtures/middleware space/package.json
  packages/astro/test/middleware.test.js
Labels: pkg: astro, semver: minor, docs pr

#9030 Remove empty changeset
  .changeset/odd-mayflies-dress.md
Labels: docs pr

#9032 fix(i18n): fallback index when routing is prefix-always
  packages/astro/src/core/build/buildPipeline.ts
  packages/astro/src/core/routing/manifest/create.ts
  packages/astro/src/vite-plugin-astro-server/route.ts
  packages/astro/test/fixtures/i18n-routing-prefix-always/src/pages/index.astro
Labels: pkg: astro

#9034 fix(config types): routingStrategy is optional
  packages/astro/src/@types/astro.ts
Labels: pkg: astro, docs pr

#9035 fix(i18n): names of the functions should match the RFC
  .changeset/rude-lizards-scream.md
  packages/astro/client.d.ts
  packages/astro/src/i18n/vite-plugin-i18n.ts
  packages/astro/test/fixtures/i18n-routing/src/pages/virtual-module.astro
  packages/astro/test/i18-routing.test.js
Labels: pkg: astro, semver: minor, docs pr

#9025 chore: Update docs for TS 5 presets
  packages/astro/tsconfigs/base.json
Labels: pkg: astro

#9037 [docs] hotfixes to i18n config-ref
  .changeset/blue-mice-hide.md
  packages/astro/src/@types/astro.ts
Labels: pkg: astro, docs pr

#9050 fix(logging): Fix --verbose flag not working
  .changeset/little-deers-glow.md
  packages/astro/src/core/logger/node.ts
Labels: pkg: astro, docs pr

#9049 fix(assets): Fix image errors when images were used on the client
  .changeset/sour-schools-visit.md
  packages/astro/src/assets/vite-plugin-assets.ts
  packages/astro/test/core-image.test.js
  packages/astro/test/fixtures/core-image-ssg/src/assets/light_walrus.avif
  packages/astro/test/fixtures/core-image-ssg/src/client/client-image.ts
  packages/astro/test/fixtures/core-image-ssg/src/pages/client.astro
Labels: pkg: astro, docs pr

#9042 fix: Astro info throws when xclip is not available
  .changeset/hot-teachers-wave.md
  packages/astro/src/cli/info/index.ts
Labels: pkg: astro, docs pr

#9051 fix: regression when calculating params and pattern
  .changeset/grumpy-cobras-attend.md
  packages/astro/src/core/render/route-cache.ts
  packages/astro/src/core/routing/manifest/create.ts
  packages/integrations/sitemap/test/fixtures/static/astro.config.mjs
  packages/integrations/sitemap/test/fixtures/static/src/pages/[lang]/manifest.ts
  packages/integrations/sitemap/test/staticPaths.test.js
Labels: pkg: integration, pkg: astro, docs pr

#9048 fix: added onError functionality to spinner
  .changeset/silent-experts-sip.md
  packages/create-astro/package.json
  packages/create-astro/src/actions/dependencies.ts
  packages/create-astro/src/messages.ts
  pnpm-lock.yaml
Labels: pkg: create-astro, docs pr

#9055 Allow same-page navigations on form posts
  packages/astro/components/ViewTransitions.astro
  packages/astro/e2e/fixtures/view-transitions/src/pages/form-two.astro
  packages/astro/e2e/view-transitions.test.js
  packages/astro/src/transitions/router.ts
Labels: pkg: astro

#9052 [docs] test config-reference formatting for sidebar
  packages/astro/src/@types/astro.ts
Labels: pkg: astro, docs pr

#9069 Fix asset propagation regression in 3.5
  .changeset/quick-parrots-judge.md
  packages/astro/src/content/vite-plugin-content-assets.ts
  packages/astro/src/content/vite-plugin-content-virtual-mod.ts
  packages/astro/src/core/build/plugins/plugin-css.ts
  packages/astro/test/content-collections.test.js
  packages/astro/test/core-image.test.js
  packages/astro/test/fixtures/content-collections/src/pages/propagation.astro
Labels: pkg: astro, docs pr

#9067 fix(logger): namespace label in debug logger
  .changeset/dirty-zoos-fail.md
  packages/astro/src/core/logger/core.ts
Labels: pkg: astro, docs pr

#9077 Fix typo in router.ts
  packages/astro/src/transitions/router.ts
Labels: pkg: astro

#9075 fix(assets): Only use src to hash files generated by the passthrough service
  .changeset/famous-hats-teach.md
  packages/astro/src/assets/services/noop.ts
Labels: pkg: astro, docs pr

#9076 chore(config.d.ts): Update comment of `ImageServiceConfig`
  packages/astro/config.d.ts
Labels: pkg: astro

#9058 feat(overlay): Add a settings panel
  .changeset/six-chefs-flash.md
  packages/astro/e2e/dev-overlay.test.js
  packages/astro/src/@types/astro.ts
  packages/astro/src/runtime/client/dev-overlay/entrypoint.ts
  packages/astro/src/runtime/client/dev-overlay/overlay.ts
  packages/astro/src/runtime/client/dev-overlay/plugins/astro.ts
  packages/astro/src/runtime/client/dev-overlay/plugins/settings.ts
  packages/astro/src/runtime/client/dev-overlay/plugins/utils/window.ts
  packages/astro/src/runtime/client/dev-overlay/settings.ts
  packages/astro/src/runtime/client/dev-overlay/ui-library/icons.ts
  packages/astro/src/runtime/client/dev-overlay/ui-library/toggle.ts
  packages/astro/src/runtime/client/dev-overlay/ui-library/window.ts
Labels: pkg: astro, docs pr

#9084 Support formmethod and formaction in ViewTransitions
  .changeset/new-pets-fail.md
  packages/astro/components/ViewTransitions.astro
  packages/astro/e2e/fixtures/view-transitions/src/pages/form-three.astro
  packages/astro/e2e/view-transitions.test.js
  packages/astro/package.json
  pnpm-lock.yaml
Labels: pkg: astro, docs pr

#9085 fix(i18n): middleware should consider trailing slash when redirecting
  .changeset/calm-lemons-compare.md
  packages/astro/src/core/app/index.ts
  packages/astro/src/core/app/types.ts
  packages/astro/src/core/build/generate.ts
  packages/astro/src/core/build/plugins/plugin-manifest.ts
  packages/astro/src/i18n/middleware.ts
  packages/astro/src/vite-plugin-astro-server/plugin.ts
  packages/astro/src/vite-plugin-astro-server/route.ts
  packages/astro/test/i18-routing.test.js
Labels: pkg: astro, docs pr

#9094 [docs] config-reference typo
  packages/astro/src/@types/astro.ts
Labels: pkg: astro, docs pr

#9087 fix(assets): image service bundling for pre-rendered pages non-node runtime regression
  .changeset/red-houses-explode.md
  packages/astro/src/core/build/plugins/plugin-prerender.ts
Labels: pkg: astro, docs pr

#9045 fix: Query params trigger the trailingSlash error in preview mode
  .changeset/tidy-peas-accept.md
  packages/astro/src/core/preview/vite-plugin-astro-preview.ts
Labels: pkg: astro, docs pr

#9083 Refactor shikiji syntax highlighting code
  .changeset/fast-zebras-divide.md
  .changeset/mighty-zebras-clap.md
  packages/astro/components/Code.astro
  packages/astro/src/core/errors/dev/vite.ts
  packages/astro/src/core/shiki.ts
  packages/integrations/markdoc/src/extensions/shiki.ts
  packages/markdown/remark/src/index.ts
  packages/markdown/remark/src/remark-shiki.ts
  packages/markdown/remark/src/shiki.ts
  packages/markdown/remark/test/shiki.test.js
Labels: feat: markdown, pkg: integration, pkg: astro, docs pr

#9099 i18n(domains): validation and updated logic
  packages/astro/src/@types/astro.ts
  packages/astro/src/core/config/schema.ts
  packages/astro/src/i18n/index.ts
  packages/astro/src/i18n/vite-plugin-i18n.ts
  packages/astro/src/integrations/astroFeaturesValidation.ts
  packages/astro/test/fixtures/i18n-routing/astro.config.mjs
  packages/astro/test/fixtures/i18n-routing/src/pages/virtual-module.astro
  packages/astro/test/i18-routing.test.js
  packages/astro/test/units/config/config-validate.test.js
  packages/astro/test/units/i18n/astro_i18n.js
Labels: pkg: astro, docs pr

#9098 Support Svelte 5 (experimental)
  .changeset/twelve-mails-drive.md
  packages/integrations/svelte/README.md
  packages/integrations/svelte/client-v5.js
  packages/integrations/svelte/package.json
  packages/integrations/svelte/server-v5.js
  packages/integrations/svelte/src/index.ts
  pnpm-lock.yaml
Labels: pkg: svelte, pkg: integration, docs pr

#9091 feat(i18n): apply specific routing logic only to pages
  .changeset/empty-turtles-wave.md
  packages/astro/src/core/app/index.ts
  packages/astro/src/core/build/generate.ts
  packages/astro/src/core/pipeline.ts
  packages/astro/src/i18n/middleware.ts
  packages/astro/src/vite-plugin-astro-server/route.ts
  packages/astro/test/fixtures/i18n-routing-prefix-always/src/pages/test.json.js
  packages/astro/test/i18-routing.test.js
Labels: pkg: astro, docs pr

#9071 Cancel response stream when connection closes
  .changeset/modern-ways-develop.md
  packages/integrations/node/src/nodeMiddleware.ts
  packages/integrations/node/src/response-iterator.ts
  packages/integrations/node/test/api-route.test.js
  packages/integrations/node/test/fixtures/api-route/src/pages/hash.ts
  packages/integrations/node/test/fixtures/api-route/src/pages/streaming.ts
Labels: pkg: integration, docs pr

#8925 Add compatibility with cloudflare node
  .changeset/calm-ducks-divide.md
  packages/integrations/react/server.js
Labels: pkg: react, pkg: integration, docs pr

#9122 Support Vite 5
  .changeset/light-ties-poke.md
  .changeset/wild-apricots-rescue.md
  packages/astro/package.json
  packages/astro/src/core/preview/static-preview-server.ts
  packages/astro/src/core/preview/vite-plugin-astro-preview.ts
  packages/astro/src/vite-plugin-load-fallback/index.ts
  packages/astro/src/vite-plugin-scripts/index.ts
  packages/astro/src/vite-plugin-utils/index.ts
  packages/astro/test/fixtures/integration-add-page-extension/astro.config.mjs
  packages/astro/test/fixtures/integration-server-setup/astro.config.mjs
  packages/astro/test/preview-routing.test.js
  packages/integrations/markdoc/package.json
  packages/integrations/markdoc/src/content-entry-type.ts
  packages/integrations/mdx/package.json
  packages/integrations/react/package.json
  packages/integrations/svelte/package.json
  packages/integrations/svelte/src/index.ts
  packages/integrations/tailwind/package.json
  packages/integrations/vue/package.json
  pnpm-lock.yaml
Labels: pkg: svelte, pkg: vue, pkg: react, pkg: integration, pkg: astro, docs pr

#9121 Warn if astro add fetch failed with non 404 status
  .changeset/brave-taxis-arrive.md
  packages/astro/src/cli/add/index.ts
Labels: pkg: astro, docs pr

#9119 fix(i18n): review fallback system
  .changeset/flat-jobs-punch.md
  packages/astro/src/@types/astro.ts
  packages/astro/src/core/app/index.ts
  packages/astro/src/core/build/buildPipeline.ts
  packages/astro/src/core/build/generate.ts
  packages/astro/src/core/build/internal.ts
  packages/astro/src/core/build/page-data.ts
  packages/astro/src/core/build/static-build.ts
  packages/astro/src/core/build/types.ts
  packages/astro/src/core/routing/manifest/create.ts
  packages/astro/src/core/routing/manifest/serialization.ts
  packages/astro/src/core/routing/match.ts
  packages/astro/src/vite-plugin-astro-server/route.ts
  packages/astro/test/fixtures/i18n-routing-fallback/src/pages/index.astro
  packages/astro/test/i18n-routing.test.js
Labels: pkg: astro, docs pr

#9105 Logging rewrite 2
  .changeset/calm-baboons-watch.md
  .changeset/modern-candles-sip.md
  packages/astro/src/assets/build/generate.ts
  packages/astro/src/cli/install-package.ts
  packages/astro/src/cli/telemetry/index.ts
  packages/astro/src/content/server-listeners.ts
  packages/astro/src/content/types-generator.ts
  packages/astro/src/core/app/index.ts
  packages/astro/src/core/build/generate.ts
  packages/astro/src/core/build/index.ts
  packages/astro/src/core/build/static-build.ts
  packages/astro/src/core/build/util.ts
  packages/astro/src/core/create-vite.ts
  packages/astro/src/core/dev/dev.ts
  packages/astro/src/core/dev/restart.ts
  packages/astro/src/core/endpoint/index.ts
  packages/astro/src/core/errors/dev/vite.ts
  packages/astro/src/core/logger/console.ts
  packages/astro/src/core/logger/core.ts
  packages/astro/src/core/logger/node.ts
  packages/astro/src/core/messages.ts
  packages/astro/src/core/middleware/callMiddleware.ts
  packages/astro/src/core/preview/static-preview-server.ts
  packages/astro/src/core/render/core.ts
  packages/astro/src/core/render/result.ts
  packages/astro/src/core/render/route-cache.ts
  packages/astro/src/core/request.ts
  packages/astro/src/core/routing/manifest/create.ts
  packages/astro/src/core/routing/validation.ts
  packages/astro/src/core/sync/index.ts
  packages/astro/src/integrations/astroFeaturesValidation.ts
  packages/astro/src/integrations/index.ts
  packages/astro/src/runtime/server/endpoint.ts
  packages/astro/src/vite-plugin-astro-server/base.ts
  packages/astro/src/vite-plugin-astro-server/common.ts
  packages/astro/src/vite-plugin-astro-server/route.ts
  packages/astro/src/vite-plugin-astro/hmr.ts
  packages/astro/src/vite-plugin-astro/index.ts
  packages/astro/src/vite-plugin-inject-env-ts/index.ts
  packages/astro/src/vite-plugin-scanner/index.ts
  packages/astro/test/cli.test.js
  packages/astro/test/core-image.test.js
  packages/astro/test/static-build.test.js
  packages/astro/test/units/vite-plugin-astro-server/request.test.js
  packages/create-astro/src/index.ts
  packages/integrations/sitemap/src/index.ts
  packages/integrations/sitemap/src/utils/logger.ts
Labels: pkg: integration, pkg: create-astro, pkg: astro, semver: minor, docs pr

#9142 fix(i18n): fallback should create consistent directories
  .changeset/curvy-sheep-lick.md
  packages/astro/src/core/build/generate.ts
  packages/astro/src/core/routing/manifest/create.ts
  packages/astro/src/core/routing/params.ts
  packages/astro/src/i18n/middleware.ts
  packages/astro/test/i18n-routing.test.js
  packages/astro/test/ssr-split-manifest.test.js
Labels: pkg: astro, docs pr

#9140 Extend the 'click' listener of view transitions to handle links in SVGs and areas in image maps
  .changeset/nine-houses-attend.md
  packages/astro/components/ViewTransitions.astro
  packages/astro/e2e/fixtures/view-transitions/src/pages/non-html-anchor.astro
  packages/astro/e2e/view-transitions.test.js
Labels: pkg: astro, docs pr

#9127 fix: test case for #9095
  packages/astro/test/i18n-routing.test.js
Labels: pkg: astro

#9157 Revert "fix(i18n): fallback should create consistent directories (#9142…
  .changeset/olive-socks-double.md
  packages/astro/src/core/build/generate.ts
  packages/astro/src/core/routing/manifest/create.ts
  packages/astro/src/core/routing/params.ts
  packages/astro/src/i18n/middleware.ts
  packages/astro/test/i18n-routing.test.js
  packages/astro/test/ssr-split-manifest.test.js
Labels: pkg: astro, docs pr

#9149 Remove vendored Vite importMeta.d.ts
  .changeset/short-deers-whisper.md
  packages/astro/client.d.ts
  packages/astro/import-meta.d.ts
Labels: pkg: astro, docs pr

#9147 Fix RemarkRehype types
  .changeset/khaki-fans-sell.md
  packages/markdown/remark/package.json
  packages/markdown/remark/src/index.ts
  packages/markdown/remark/src/types.ts
  pnpm-lock.yaml
Labels: feat: markdown, docs pr

#9090 New events for Astro's view transition API
  .changeset/few-keys-heal.md
  packages/astro/client.d.ts
  packages/astro/components/ViewTransitions.astro
  packages/astro/package.json
  packages/astro/src/runtime/server/transition.ts
  packages/astro/src/transitions/events.ts
  packages/astro/src/transitions/index.ts
  packages/astro/src/transitions/router.ts
  packages/astro/src/transitions/types.ts
  packages/astro/src/transitions/vite-plugin-transitions.ts
Labels: pkg: astro, semver: minor, docs pr

#9092 Fallback to tap prefetch strategy on slow connection
  .changeset/neat-mangos-judge.md
  .changeset/six-owls-trade.md
  packages/astro/src/prefetch/index.ts
Labels: pkg: astro, semver: minor, docs pr

#9150 Refactor virtual modules exports
  .changeset/sour-games-burn.md
  packages/astro/client.d.ts
  packages/astro/components/ViewTransitions.astro
  packages/astro/package.json
  packages/astro/src/core/create-vite.ts
  packages/astro/src/core/middleware/namespace.ts
  packages/astro/src/i18n/vite-plugin-i18n.ts
  packages/astro/src/prefetch/vite-plugin-prefetch.ts
  packages/astro/src/transitions/vite-plugin-transitions.ts
  packages/astro/src/virtual-modules/README.md
  packages/astro/src/virtual-modules/i18n.ts
  packages/astro/src/virtual-modules/middleware.ts
  packages/astro/src/virtual-modules/prefetch.ts
  packages/astro/src/virtual-modules/transitions-router.ts
  packages/astro/src/virtual-modules/transitions.ts
Labels: pkg: astro, docs pr

#9166 Move the Picture component out of experimental
  .changeset/pretty-ducks-hang.md
Labels: semver: minor, docs pr

#9160 Fix esbuild warning for local dev
  packages/astro/src/vite-plugin-scanner/scan.ts
Labels: pkg: astro

#9161 Rename entryPoint to entrypoint
  .changeset/rude-hairs-whisper.md
  packages/astro/src/@types/astro.ts
  packages/astro/src/assets/internal.ts
  packages/astro/src/core/build/buildPipeline.ts
  packages/astro/src/core/build/internal.ts
  packages/astro/src/core/routing/manifest/create.ts
  packages/astro/src/integrations/index.ts
  packages/astro/src/vite-plugin-integrations-container/index.ts
  packages/astro/test/astro-scripts.test.js
  packages/astro/test/fixtures/custom-404-injected-from-dep/astro.config.mjs
  packages/astro/test/fixtures/custom-404-injected/astro.config.mjs
  packages/astro/test/fixtures/routing-priority/integration.mjs
  packages/astro/test/ssr-dynamic.test.js
  packages/astro/test/units/dev/dev.test.js
Labels: pkg: astro, semver: minor, docs pr

#9174 fix: Changelog formatting for 3.6.0 View Transition events
  packages/astro/CHANGELOG.md
Labels: pkg: astro

#9176 fix: Changelog formatting for 3.6.0 View Transition events
  packages/astro/CHANGELOG.md
Labels: pkg: astro

#9173 fix(middleware): rename internal middleware id
  .changeset/great-hats-drive.md
  packages/astro/src/core/middleware/vite-plugin.ts
Labels: pkg: astro, docs pr

#9186 fix scroll restoration issue on webKit browsers
  .changeset/shaggy-socks-glow.md
  packages/astro/src/transitions/router.ts
Labels: pkg: astro, docs pr

#9184 Remove vercel deprecated analytics option
  .changeset/giant-snails-perform.md
  packages/integrations/vercel/src/serverless/adapter.ts
  packages/integrations/vercel/src/static/adapter.ts
Labels: pkg: integration, docs pr

#9182 Remove deprecated markdown-remark APIs
  .changeset/shiny-trees-sip.md
  packages/markdown/remark/src/frontmatter-injection.ts
  packages/markdown/remark/src/index.ts
  packages/markdown/remark/src/internal.ts
Labels: feat: markdown, docs pr

#9183 Clean up tests
  packages/astro/e2e/react-component.test.js
  packages/astro/test/i18n-routing.test.js
  packages/astro/test/parallel.test.js
  packages/astro/test/ssr-split-manifest.test.js
  packages/astro/test/units/dev/dev.test.js
  packages/astro/test/units/i18n/astro_i18n.test.js
  packages/create-astro/test/typescript.test.js
  packages/integrations/mdx/test/mdx-slots.test.js
  packages/integrations/node/test/bad-urls.test.js
  packages/integrations/node/test/headers.test.js
Labels: pkg: integration, pkg: create-astro, pkg: astro

#9168 Remove deprecated features from Astro 3.0
  .changeset/slow-hornets-try.md
  .changeset/wicked-sloths-develop.md
  benchmark/packages/timer/src/index.ts
  packages/astro-rss/README.md
  packages/astro-rss/src/index.ts
  packages/astro-rss/src/schema.ts
  packages/astro-rss/test/rss.test.js
  packages/astro/client.d.ts
  packages/astro/src/@types/astro.ts
  packages/astro/src/cli/build/index.ts
  packages/astro/src/cli/flags.ts
  packages/astro/src/core/build/generate.ts
  packages/astro/src/core/build/index.ts
  packages/astro/src/core/build/plugins/plugin-manifest.ts
  packages/astro/src/core/build/plugins/plugin-pages.ts
  packages/astro/src/core/build/plugins/plugin-ssr.ts
  packages/astro/src/core/config/config.ts
  packages/astro/src/core/config/schema.ts
  packages/astro/src/core/render/core.ts
  packages/astro/src/integrations/astroFeaturesValidation.ts
  packages/astro/src/integrations/index.ts
  packages/astro/src/runtime/server/endpoint.ts
  packages/astro/test/astro-markdown-drafts.test.js
  packages/astro/test/events.test.js
  packages/astro/test/featuresSupport.test.js
  packages/astro/test/fixtures/astro-markdown-drafts/package.json
  packages/astro/test/fixtures/astro-markdown-drafts/src/pages/index.md
  packages/astro/test/fixtures/astro-markdown-drafts/src/pages/wip.md
  packages/astro/test/fixtures/astro-markdown/src/pages/vite-env-vars.md
  packages/astro/test/fixtures/ssr-api-route/src/pages/binary.js
  packages/astro/test/fixtures/with-endpoint-routes/src/pages/invalid-redirect.json.ts
  packages/astro/test/middleware.test.js
  packages/astro/test/ssr-adapter-build-config.test.js
  packages/astro/test/test-adapter.js
  packages/astro/test/units/integrations/api.test.js
  packages/integrations/markdoc/test/fixtures/content-collections/src/pages/collection.json.js
  packages/integrations/markdoc/test/fixtures/content-collections/src/pages/entry.json.js
  packages/integrations/mdx/README.md
  packages/integrations/mdx/test/fixtures/mdx-frontmatter-injection/src/pages/glob.json.js
  packages/integrations/mdx/test/fixtures/mdx-frontmatter/src/pages/glob.json.js
  packages/integrations/mdx/test/fixtures/mdx-get-headings/src/pages/pages.json.js
  packages/integrations/mdx/test/fixtures/mdx-url-export/src/pages/pages.json.js
  packages/integrations/mdx/test/fixtures/mdx-vite-env-vars/src/pages/frontmatter.json.js
  packages/integrations/node/test/fixtures/node-middleware/src/pages/ssr.ts
  packages/integrations/sitemap/test/fixtures/static/src/pages/endpoint.json.ts
  packages/markdown/remark/src/index.ts
  packages/markdown/remark/src/types.ts
Labels: feat: markdown, pkg: integration, pkg: astro, docs pr

#9181 Remove support for simple objects in endpoints
  .changeset/clever-beds-notice.md
  packages/astro/src/@types/astro.ts
  packages/astro/src/core/app/index.ts
  packages/astro/src/core/build/generate.ts
  packages/astro/src/core/build/types.ts
  packages/astro/src/core/endpoint/index.ts
  packages/astro/src/core/middleware/callMiddleware.ts
  packages/astro/src/core/middleware/index.ts
  packages/astro/src/core/middleware/sequence.ts
  packages/astro/src/core/pipeline.ts
  packages/astro/src/core/render/index.ts
  packages/astro/src/i18n/middleware.ts
  packages/astro/src/vite-plugin-astro-server/route.ts
  packages/astro/test/fixtures/api-routes/src/pages/context/data/[param].json.js
  packages/astro/test/fixtures/astro-get-static-paths/src/pages/data/[slug].json.ts
  packages/astro/test/fixtures/astro-markdown-frontmatter-injection/src/pages/glob.json.js
  packages/astro/test/fixtures/astro-markdown/src/pages/headings-glob.json.js
  packages/astro/test/fixtures/astro-markdown/src/pages/raw-content.json.js
  packages/astro/test/fixtures/astro-markdown/src/pages/vite-env-vars-glob.json.js
  packages/astro/test/fixtures/content-collections/src/pages/collections.json.js
  packages/astro/test/fixtures/content-collections/src/pages/entries.json.js
  packages/astro/test/fixtures/core-image-ssr/src/pages/api.ts
  packages/astro/test/fixtures/data-collections/src/pages/authors/[id].json.js
  packages/astro/test/fixtures/data-collections/src/pages/authors/all.json.js
  packages/astro/test/fixtures/data-collections/src/pages/translations/[lang].json.js
  packages/astro/test/fixtures/data-collections/src/pages/translations/all.json.js
  packages/astro/test/fixtures/data-collections/src/pages/translations/by-id.json.js
  packages/astro/test/fixtures/dynamic-endpoint-collision/src/pages/api/catch/[...slug].ts
  packages/astro/test/fixtures/non-html-pages/src/pages/about-object.json.ts
  packages/astro/test/fixtures/non-html-pages/src/pages/placeholder-object.png.ts
  packages/astro/test/fixtures/non-html-pages/src/pages/placeholder.png.ts
  packages/astro/test/fixtures/routing-priority/src/pages/api/catch/[...slug].json.ts
  packages/astro/test/fixtures/routing-priority/src/pages/api/catch/[foo]-[bar].json.ts
  packages/astro/test/fixtures/ssr-api-route/src/pages/context/[param].js
  packages/astro/test/fixtures/ssr-api-route/src/pages/food-object.json.js
  packages/astro/test/fixtures/ssr-dynamic/src/pages/api/products/[id].js
  packages/astro/test/fixtures/ssr-prerender-get-static-paths/src/pages/data/[slug].json.ts
  packages/astro/test/fixtures/static-build/src/pages/company.json.ts
  packages/astro/test/fixtures/static-build/src/pages/data/[slug].json.ts
  packages/astro/test/fixtures/static-build/src/pages/posts.json.js
  packages/astro/test/fixtures/with-endpoint-routes/src/pages/[slug].json.ts
  packages/astro/test/fixtures/with-endpoint-routes/src/pages/data/[slug].json.ts
  packages/astro/test/fixtures/with-endpoint-routes/src/pages/home.json.ts
  packages/astro/test/fixtures/with-endpoint-routes/src/pages/images/[image].svg.ts
  packages/astro/test/fixtures/with-endpoint-routes/src/pages/images/hex.ts
  packages/astro/test/fixtures/with-endpoint-routes/src/pages/images/static.svg.ts
  packages/astro/test/non-html-pages.test.js
  packages/astro/test/ssr-api-route.test.js
  packages/integrations/markdoc/test/fixtures/content-collections/src/pages/collection.json.js
  packages/integrations/markdoc/test/fixtures/content-collections/src/pages/entry.json.js
  packages/integrations/mdx/test/fixtures/mdx-frontmatter-injection/src/pages/glob.json.js
  packages/integrations/mdx/test/fixtures/mdx-frontmatter/src/pages/glob.json.js
  packages/integrations/mdx/test/fixtures/mdx-get-headings/src/pages/pages.json.js
  packages/integrations/mdx/test/fixtures/mdx-url-export/src/pages/pages.json.js
  packages/integrations/mdx/test/fixtures/mdx-vite-env-vars/src/pages/frontmatter.json.js
  packages/integrations/node/test/fixtures/node-middleware/src/pages/ssr.ts
Labels: pkg: integration, pkg: astro, docs pr

#8525 Add `@astrojs/upgrade` package for automatic package upgrades
  .changeset/tasty-dryers-bathe.md
  packages/create-astro/src/actions/dependencies.ts
  packages/upgrade/README.md
  packages/upgrade/package.json
  packages/upgrade/src/actions/context.ts
  packages/upgrade/src/actions/help.ts
  packages/upgrade/src/actions/install.ts
  packages/upgrade/src/actions/verify.ts
  packages/upgrade/src/index.ts
  packages/upgrade/src/messages.ts
  packages/upgrade/src/shell.ts
  packages/upgrade/test/context.test.js
  packages/upgrade/test/fixtures/basic/package.json
  packages/upgrade/test/install.test.js
  packages/upgrade/test/utils.js
  packages/upgrade/tsconfig.json
  packages/upgrade/upgrade.mjs
  pnpm-lock.yaml
Labels: docs pr

#9189 fix: links with same path but different search params not prefetched
  .changeset/brown-jars-lick.md
  packages/astro/e2e/fixtures/prefetch/src/pages/index.astro
  packages/astro/e2e/prefetch.test.js
  packages/astro/src/prefetch/index.ts
Labels: pkg: astro, docs pr

#9125 Support immutable cache headers for _astro assets
  .changeset/twelve-fishes-fail.md
  packages/integrations/node/README.md
  packages/integrations/node/src/http-server.ts
  packages/integrations/node/src/index.ts
  packages/integrations/node/src/preview.ts
  packages/integrations/node/src/server.ts
  packages/integrations/node/src/standalone.ts
  packages/integrations/node/src/types.ts
  packages/integrations/node/test/assets.test.js
  packages/integrations/node/test/fixtures/image/src/assets/file.txt
  packages/integrations/node/test/fixtures/image/src/pages/text-file.astro
Labels: pkg: integration, docs pr

#9118 feat: implement overlay main screen redesign
  .changeset/angry-swans-fry.md
  .changeset/brown-jars-lick.md
  .changeset/tasty-dryers-bathe.md
  packages/astro/e2e/fixtures/prefetch/src/pages/index.astro
  packages/astro/e2e/prefetch.test.js
  packages/astro/e2e/react-component.test.js
  packages/astro/src/@types/astro.ts
  packages/astro/src/cli/info/index.ts
  packages/astro/src/prefetch/index.ts
  packages/astro/src/runtime/client/dev-overlay/entrypoint.ts
  packages/astro/src/runtime/client/dev-overlay/overlay.ts
  packages/astro/src/runtime/client/dev-overlay/plugins/astro.ts
  packages/astro/src/runtime/client/dev-overlay/plugins/settings.ts
  packages/astro/src/runtime/client/dev-overlay/plugins/utils/icons.ts
  packages/astro/src/runtime/client/dev-overlay/plugins/utils/window.ts
  packages/astro/src/runtime/client/dev-overlay/ui-library/badge.ts
  packages/astro/src/runtime/client/dev-overlay/ui-library/button.ts
  packages/astro/src/runtime/client/dev-overlay/ui-library/card.ts
  packages/astro/src/runtime/client/dev-overlay/ui-library/highlight.ts
  packages/astro/src/runtime/client/dev-overlay/ui-library/icon.ts
  packages/astro/src/runtime/client/dev-overlay/ui-library/icons.ts
  packages/astro/src/runtime/client/dev-overlay/ui-library/index.ts
  packages/astro/src/runtime/client/dev-overlay/ui-library/window.ts
  packages/astro/src/vite-plugin-astro-server/route.ts
  packages/astro/test/i18n-routing.test.js
  packages/astro/test/parallel.test.js
  packages/astro/test/ssr-split-manifest.test.js
  packages/astro/test/units/dev/dev.test.js
  packages/astro/test/units/i18n/astro_i18n.test.js
  packages/create-astro/src/actions/dependencies.ts
  packages/create-astro/test/typescript.test.js
  packages/integrations/mdx/test/mdx-slots.test.js
  packages/integrations/node/test/bad-urls.test.js
  packages/integrations/node/test/headers.test.js
  packages/upgrade/README.md
  packages/upgrade/package.json
  packages/upgrade/src/actions/context.ts
  packages/upgrade/src/actions/help.ts
  packages/upgrade/src/actions/install.ts
  packages/upgrade/src/actions/verify.ts
  packages/upgrade/src/index.ts
  packages/upgrade/src/messages.ts
  packages/upgrade/src/shell.ts
  packages/upgrade/test/context.test.js
  packages/upgrade/test/fixtures/basic/package.json
  packages/upgrade/test/install.test.js
  packages/upgrade/test/utils.js
  packages/upgrade/tsconfig.json
  packages/upgrade/upgrade.mjs
  pnpm-lock.yaml
Labels: pkg: integration, pkg: create-astro, pkg: astro, docs pr

#9193 feat(astro): use plaintext lang if lang does not exist
  .changeset/dull-deers-accept.md
  packages/astro/components/Code.astro
Labels: pkg: astro, docs pr

#9213 fix(upgrade): Remove semver parse
  .changeset/chilly-sloths-move.md
  packages/upgrade/src/messages.ts
  packages/upgrade/test/fixtures/basic/package.json
  packages/upgrade/test/utils.js
  pnpm-lock.yaml
Labels: docs pr

#9212 remove deprecated `matchNotFound` options
  .changeset/weak-wolves-bow.md
  packages/astro/src/core/app/index.ts
  packages/astro/src/core/app/node.ts
  packages/astro/test/middleware.test.js
  packages/astro/test/ssr-404-500-pages.test.js
Labels: pkg: astro, docs pr

#9214 Small polish to the overlay
  .changeset/tricky-dragons-explain.md
  packages/astro/src/runtime/client/dev-overlay/plugins/astro.ts
Labels: pkg: astro, docs pr

#9227 Ensure dev overlay x-ray highlight goes over the island
  .changeset/spicy-starfishes-shake.md
  packages/astro/src/runtime/client/dev-overlay/plugins/utils/highlight.ts
  packages/astro/src/runtime/client/dev-overlay/plugins/xray.ts
Labels: pkg: astro, docs pr

#9225 Unflag view transitions form handling
  .changeset/odd-rivers-happen.md
  packages/astro/components/ViewTransitions.astro
Labels: pkg: astro, docs pr

#9219 fix(#9216): fix style HMR in certain cases
  .changeset/wicked-books-appear.md
  packages/astro/src/vite-plugin-astro/hmr.ts
Labels: pkg: astro, docs pr

#9199 Switch `app.render` signature
  .changeset/big-cooks-notice.md
  .changeset/sharp-starfishes-compete.md
  packages/astro/src/core/app/index.ts
  packages/astro/src/core/app/node.ts
  packages/astro/test/middleware.test.js
  packages/astro/test/ssr-locals.test.js
  packages/integrations/node/src/nodeMiddleware.ts
  packages/integrations/vercel/src/serverless/entrypoint.ts
Labels: pkg: integration, pkg: astro, docs pr

#9222 Ensure dev-overlay-window is anchored to the bottom
  .changeset/famous-eels-trade.md
  packages/astro/src/runtime/client/dev-overlay/ui-library/window.ts
Labels: pkg: astro, docs pr

#9218 Improve high contrast mode with the dev overlay
  .changeset/grumpy-seas-switch.md
  packages/astro/src/runtime/client/dev-overlay/overlay.ts
  packages/astro/src/runtime/client/dev-overlay/plugins/astro.ts
  packages/astro/src/runtime/client/dev-overlay/ui-library/icon.ts
  packages/astro/src/runtime/client/dev-overlay/ui-library/toggle.ts
  packages/astro/src/runtime/client/dev-overlay/ui-library/window.ts
Labels: pkg: astro, docs pr

#9220 Fix dev overlay style leak
  packages/astro/src/runtime/client/dev-overlay/overlay.ts
Labels: pkg: astro

#9129 [next] Update error logging
  .changeset/three-chairs-sip.md
  packages/astro/src/cli/throw-and-exit.ts
  packages/astro/src/core/dev/restart.ts
  packages/astro/src/core/errors/errors-data.ts
  packages/astro/src/core/logger/node.ts
  packages/astro/src/core/messages.ts
  packages/astro/src/vite-plugin-astro-server/request.ts
Labels: pkg: astro, semver: minor, docs pr

#9115 Add new preferences module
  .changeset/gentle-cobras-wash.md
  packages/astro/package.json
  packages/astro/src/@types/astro.ts
  packages/astro/src/cli/index.ts
  packages/astro/src/cli/preferences/index.ts
  packages/astro/src/core/config/settings.ts
  packages/astro/src/core/dev/restart.ts
  packages/astro/src/core/logger/core.ts
  packages/astro/src/core/messages.ts
  packages/astro/src/preferences/README.md
  packages/astro/src/preferences/defaults.ts
  packages/astro/src/preferences/index.ts
  packages/astro/src/preferences/store.ts
  packages/astro/src/vite-plugin-astro-server/route.ts
  pnpm-lock.yaml
Labels: pkg: astro, semver: minor, docs pr

#9226 [i18n] During fallback, only remove locale if prefix-always is false
  .changeset/happy-beans-protect.md
  packages/astro/src/i18n/middleware.ts
  packages/astro/test/i18n-routing.test.js
Labels: pkg: astro, docs pr

#9179 fix(rendering): prevent error when slots is keyed into
  .changeset/tall-hotels-argue.md
  packages/astro/src/core/render/core.ts
  packages/astro/src/runtime/server/render/page.ts
  packages/astro/test/astro-slots.test.js
  packages/astro/test/fixtures/astro-slots/src/pages/fallback-own.astro
  packages/astro/test/fixtures/astro-slots/src/pages/fallback.astro
Labels: pkg: astro, docs pr

#9230 Overlay look-and-feel polish
  .changeset/mighty-rats-flow.md
  packages/astro/src/runtime/client/dev-overlay/entrypoint.ts
  packages/astro/src/runtime/client/dev-overlay/overlay.ts
  packages/astro/src/runtime/client/dev-overlay/plugins/astro.ts
  packages/astro/src/runtime/client/dev-overlay/plugins/audit.ts
  packages/astro/src/runtime/client/dev-overlay/plugins/settings.ts
  packages/astro/src/runtime/client/dev-overlay/plugins/utils/window.ts
  packages/astro/src/runtime/client/dev-overlay/plugins/xray.ts
  packages/astro/src/runtime/client/dev-overlay/ui-library/badge.ts
  packages/astro/src/runtime/client/dev-overlay/ui-library/window.ts
Labels: pkg: astro, docs pr

#9236 refactor(i18n): breakdown routing strategy
  .changeset/young-trains-shout.md
  packages/astro/src/@types/astro.ts
  packages/astro/src/core/app/index.ts
  packages/astro/src/core/app/types.ts
  packages/astro/src/core/build/generate.ts
  packages/astro/src/core/build/plugins/plugin-manifest.ts
  packages/astro/src/core/config/schema.ts
  packages/astro/src/core/endpoint/index.ts
  packages/astro/src/core/pipeline.ts
  packages/astro/src/core/render/context.ts
  packages/astro/src/core/render/core.ts
  packages/astro/src/core/routing/manifest/create.ts
  packages/astro/src/i18n/middleware.ts
  packages/astro/src/vite-plugin-astro-server/plugin.ts
  packages/astro/src/vite-plugin-astro-server/route.ts
  packages/astro/test/fixtures/i18n-routing-base/astro.config.mjs
  packages/astro/test/fixtures/i18n-routing-prefix-always/astro.config.mjs
  packages/astro/test/fixtures/i18n-routing-prefix-other-locales/astro.config.mjs
  packages/astro/test/i18n-routing.test.js
Labels: pkg: astro, docs pr

#9245 Enable releasing from 3-legacy branch
  .github/workflows/release.yml
Labels: 🚨 action

#9013 (feat) return updated config in integration hooks
  .changeset/wild-boats-wait.md
  packages/astro/src/@types/astro.ts
  packages/astro/src/integrations/index.ts
  packages/astro/src/type-utils.ts
  packages/astro/test/units/integrations/api.test.js
  packages/integrations/solid/src/index.ts
Labels: pkg: solid, pkg: integration, pkg: astro, docs pr

#9250 Fix missing type import from auto format
  package.json
  packages/astro/src/assets/vite-plugin-assets.ts
  packages/astro/src/core/build/index.ts
  packages/astro/src/core/dev/dev.ts
  packages/astro/src/core/module-loader/vite.ts
  packages/astro/src/i18n/vite-plugin-i18n.ts
  packages/astro/src/prefetch/vite-plugin-prefetch.ts
  packages/astro/src/transitions/vite-plugin-transitions.ts
  packages/astro/src/vite-plugin-astro-server/base.ts
  packages/astro/src/vite-plugin-astro-server/plugin.ts
  packages/astro/src/vite-plugin-astro/index.ts
  packages/astro/src/vite-plugin-dev-overlay/vite-plugin-dev-overlay.ts
  packages/astro/src/vite-plugin-env/index.ts
  packages/astro/src/vite-plugin-head/index.ts
  packages/astro/src/vite-plugin-load-fallback/index.ts
  packages/integrations/react/src/index.ts
Labels: pkg: react, pkg: integration, pkg: astro

#9255 Add instructions on how to hide the dev overlay
  .changeset/tasty-parents-own.md
  packages/astro/src/runtime/client/dev-overlay/plugins/settings.ts
Labels: pkg: astro, docs pr
