Repository withastro/astro, pull requests merged in 2023-12, with the labels that each got.

#9139 Rework Vite and Astro logger for HMR messages
  .changeset/gold-grapes-jump.md
  packages/astro/src/core/build/static-build.ts
  packages/astro/src/core/create-vite.ts
  packages/astro/src/core/logger/core.ts
  packages/astro/src/core/logger/vite.ts
  packages/astro/src/vite-plugin-astro/hmr.ts
  packages/astro/src/vite-plugin-astro/index.ts
Labels: pkg: astro, semver: minor, docs pr

#9243 fix(overlay): Fix notification setting not working immediately
  packages/astro/src/runtime/client/dev-overlay/entrypoint.ts
  packages/astro/src/runtime/client/dev-overlay/overlay.ts
  packages/astro/src/runtime/client/dev-overlay/plugins/settings.ts
Labels: pkg: astro

#9241 Remove @astrojs/prefetch integration
  .changeset/pre.json
  README.md
  packages/integrations/prefetch/@types/network-information.d.ts
  packages/integrations/prefetch/CHANGELOG.md
  packages/integrations/prefetch/README.md
  packages/integrations/prefetch/package.json
  packages/integrations/prefetch/playwright.config.js
  packages/integrations/prefetch/src/client.ts
  packages/integrations/prefetch/src/index.ts
  packages/integrations/prefetch/src/requestIdleCallback.ts
  packages/integrations/prefetch/test/basic-prefetch.test.js
  packages/integrations/prefetch/test/custom-selectors.test.js
  packages/integrations/prefetch/test/fixtures/basic-prefetch/astro.config.mjs
  packages/integrations/prefetch/test/fixtures/basic-prefetch/package.json
  packages/integrations/prefetch/test/fixtures/basic-prefetch/src/pages/about.astro
  packages/integrations/prefetch/test/fixtures/basic-prefetch/src/pages/admin.astro
  packages/integrations/prefetch/test/fixtures/basic-prefetch/src/pages/conditions.astro
  packages/integrations/prefetch/test/fixtures/basic-prefetch/src/pages/contact.astro
  packages/integrations/prefetch/test/fixtures/basic-prefetch/src/pages/index.astro
  packages/integrations/prefetch/test/fixtures/basic-prefetch/src/pages/terms.astro
  packages/integrations/prefetch/test/fixtures/basic-prefetch/src/pages/uses.astro
  packages/integrations/prefetch/test/fixtures/style-prefetch/astro.config.mjs
  packages/integrations/prefetch/test/fixtures/style-prefetch/package.json
  packages/integrations/prefetch/test/fixtures/style-prefetch/src/pages/index.astro
  packages/integrations/prefetch/test/fixtures/style-prefetch/src/pages/style1.astro
  packages/integrations/prefetch/test/fixtures/style-prefetch/src/pages/style2.astro
  packages/integrations/prefetch/test/style-prefetch.test.js
  packages/integrations/prefetch/test/test-utils.js
  packages/integrations/prefetch/tsconfig.json
  pnpm-lock.yaml
Labels: pkg: integration, docs pr

#9261 chore: add test case
  packages/astro/test/i18n-routing.test.js
  packages/integrations/sitemap/test/fixtures/static/src/pages/endpoint.json.ts
Labels: pkg: integration, pkg: astro

#9237 Clarify language for Verbose Logging setting
  packages/astro/src/runtime/client/dev-overlay/plugins/settings.ts
  packages/astro/src/runtime/client/dev-overlay/settings.ts
Labels: pkg: astro

#9265 fix(upgrade): point beta changelogs to main
  .changeset/modern-lies-thank.md
  packages/upgrade/src/actions/verify.ts
Labels: docs pr

#9266 Remove remaining simple objects usage
  examples/ssr/src/pages/api/cart.ts
  examples/ssr/src/pages/login.form.async.ts
  examples/ssr/src/pages/login.form.ts
  packages/astro/test/fixtures/content-collection-references/src/pages/welcome-data.json.js
  packages/astro/test/fixtures/ssr-api-route-custom-404/src/pages/api/route.js
Labels: pkg: example, pkg: astro

#9263 Remove remaining deprecated APIs
  .changeset/green-parrots-brake.md
  .changeset/little-beers-sit.md
  .changeset/slimy-jeans-peel.md
  packages/astro/src/@types/astro.ts
  packages/astro/src/core/build/plugins/index.ts
  packages/astro/src/core/build/plugins/plugin-alias-resolve.ts
  packages/astro/src/core/errors/errors-data.ts
  packages/astro/src/core/render/route-cache.ts
  packages/astro/src/core/request.ts
  packages/astro/src/vite-plugin-astro-server/base.ts
  packages/astro/src/vite-plugin-inject-env-ts/index.ts
  packages/astro/test/units/dev/dev.test.js
  packages/integrations/markdoc/components/TreeNode.ts
  packages/integrations/vercel/package.json
  packages/integrations/vercel/src/edge/throw.ts
Labels: pkg: integration, pkg: astro, docs pr

#9248 Adds missing name/value of the submit button to the form data of a view transition
  .changeset/ninety-weeks-juggle.md
  packages/astro/components/ViewTransitions.astro
  packages/astro/e2e/fixtures/view-transitions/src/pages/form-four.astro
  packages/astro/e2e/view-transitions.test.js
Labels: pkg: astro, docs pr

#9271 Rename Dev Overlay to Dev Toolbar
  .changeset/lemon-crews-juggle.md
  packages/astro/e2e/dev-overlay.test.js
  packages/astro/e2e/fixtures/dev-overlay/src/pages/audit-no-warning.astro
  packages/astro/e2e/fixtures/dev-overlay/src/pages/xray-no-islands.astro
  packages/astro/src/@types/astro.ts
  packages/astro/src/core/config/schema.ts
  packages/astro/src/core/config/settings.ts
  packages/astro/src/integrations/index.ts
  packages/astro/src/preferences/defaults.ts
  packages/astro/src/runtime/client/dev-overlay/entrypoint.ts
  packages/astro/src/runtime/client/dev-overlay/overlay.ts
  packages/astro/src/runtime/client/dev-overlay/plugins/astro.ts
  packages/astro/src/runtime/client/dev-overlay/plugins/audit.ts
  packages/astro/src/runtime/client/dev-overlay/plugins/settings.ts
  packages/astro/src/runtime/client/dev-overlay/plugins/utils/highlight.ts
  packages/astro/src/runtime/client/dev-overlay/plugins/utils/window.ts
  packages/astro/src/runtime/client/dev-overlay/plugins/xray.ts
  packages/astro/src/runtime/client/dev-overlay/ui-library/button.ts
  packages/astro/src/vite-plugin-astro-server/route.ts
  packages/astro/src/vite-plugin-dev-overlay/vite-plugin-dev-overlay.ts
Labels: pkg: astro, docs pr

#9283 [Toolbar] Fix tooltip overlap bug
  packages/astro/src/runtime/client/dev-overlay/plugins/utils/highlight.ts
  packages/astro/src/runtime/client/dev-overlay/plugins/xray.ts
Labels: pkg: astro

#9282 [Toolbar] Final style polish and code cleanup
  packages/astro/e2e/dev-overlay.test.js
  packages/astro/src/runtime/client/dev-overlay/overlay.ts
  packages/astro/src/runtime/client/dev-overlay/plugins/audit.ts
  packages/astro/src/runtime/client/dev-overlay/plugins/settings.ts
  packages/astro/src/runtime/client/dev-overlay/plugins/xray.ts
  packages/astro/src/runtime/client/dev-overlay/ui-library/tooltip.ts
  packages/astro/src/runtime/client/dev-overlay/ui-library/window.ts
Labels: pkg: astro

#9264 chore: remove `experimental` from i18n configuration
  packages/astro/src/@types/astro.ts
  packages/astro/src/core/build/generate.ts
  packages/astro/src/core/build/plugins/plugin-manifest.ts
  packages/astro/src/core/build/util.ts
  packages/astro/src/core/config/schema.ts
  packages/astro/src/core/create-vite.ts
  packages/astro/src/core/routing/manifest/create.ts
  packages/astro/src/i18n/vite-plugin-i18n.ts
  packages/astro/src/vite-plugin-astro-server/plugin.ts
  packages/astro/src/vite-plugin-astro-server/route.ts
  packages/astro/test/fixtures/i18n-routing-base/astro.config.mjs
  packages/astro/test/fixtures/i18n-routing-fallback/astro.config.mjs
  packages/astro/test/fixtures/i18n-routing-prefix-always/astro.config.mjs
  packages/astro/test/fixtures/i18n-routing-prefix-other-locales/astro.config.mjs
  packages/astro/test/fixtures/i18n-routing-redirect-preferred-language/astro.config.mjs
  packages/astro/test/fixtures/i18n-routing/astro.config.mjs
  packages/astro/test/i18n-routing.test.js
  packages/astro/test/units/config/config-validate.test.js
Labels: pkg: astro, docs pr

#9288 fix: enforce separate type imports
  .eslintrc.cjs
  packages/astro-rss/test/rss.test.js
  packages/astro/src/assets/build/generate.ts
  packages/astro/src/core/build/buildPipeline.ts
  packages/astro/src/core/build/generate.ts
  packages/astro/src/core/build/index.ts
  packages/astro/src/core/compile/compile.ts
  packages/astro/src/core/dev/restart.ts
  packages/astro/src/core/logger/node.ts
  packages/astro/src/core/render/params-and-props.ts
  packages/astro/src/core/render/route-cache.ts
  packages/astro/src/integrations/index.ts
  packages/astro/src/runtime/client/dev-overlay/entrypoint.ts
  packages/astro/src/runtime/server/render/common.ts
  packages/astro/src/runtime/server/render/component.ts
  packages/astro/src/transitions/router.ts
  packages/astro/src/vite-plugin-astro/hmr.ts
  packages/astro/test/i18n-routing.test.js
  packages/integrations/markdoc/components/TreeNode.ts
  packages/integrations/node/src/types.ts
  packages/integrations/sitemap/src/index.ts
Labels: pkg: integration, pkg: astro

#9279 Increase consistency between navigation with and without ViewTransitions
  .changeset/nervous-beans-peel.md
  packages/astro/e2e/fixtures/view-transitions/src/pages/long-page.astro
  packages/astro/e2e/view-transitions.test.js
  packages/astro/src/transitions/router.ts
Labels: pkg: astro, semver: minor, docs pr

#9273 chore: also export `DevToolbarApp` type for API
  .changeset/smooth-gifts-train.md
  packages/astro/src/@types/astro.ts
Labels: pkg: astro, docs pr

#9291 remove outdated devoverlay config and defaultstate config
  packages/astro/e2e/astro-envs.test.js
  packages/astro/e2e/css.test.js
  packages/astro/e2e/dev-overlay.test.js
  packages/astro/e2e/fixtures/astro-component/astro.config.mjs
  packages/astro/e2e/fixtures/astro-envs/astro.config.mjs
  packages/astro/e2e/fixtures/lit-component/astro.config.mjs
  packages/astro/e2e/fixtures/prefetch/astro.config.mjs
  packages/astro/e2e/fixtures/tailwindcss/astro.config.mjs
  packages/astro/e2e/fixtures/view-transitions/astro.config.mjs
  packages/astro/e2e/hmr.test.js
  packages/astro/src/@types/astro.ts
  packages/astro/src/core/compile/compile.ts
  packages/astro/src/core/config/schema.ts
  packages/astro/src/runtime/client/dev-overlay/overlay.ts
  packages/astro/src/vite-plugin-astro-server/route.ts
Labels: pkg: astro, docs pr

#9292 Improves display of `preferences list` command
  .changeset/gorgeous-squids-walk.md
  packages/astro/src/cli/preferences/index.ts
  packages/astro/src/preferences/index.ts
Labels: pkg: astro, docs pr

#9293 Remove audit role that depends on CJS package
  .changeset/tender-eagles-learn.md
  packages/astro/package.json
  packages/astro/src/runtime/client/dev-overlay/plugins/audit/a11y.ts
  pnpm-lock.yaml
Labels: pkg: astro, docs pr

#9295 Remove aria-query and related rule
  .changeset/silent-phones-divide.md
  packages/astro/package.json
  packages/astro/src/runtime/client/dev-overlay/plugins/audit/a11y.ts
  pnpm-lock.yaml
Labels: pkg: astro, docs pr

#9302 [Toolbar] fix issue where requestIdleCallback would take forever
  packages/astro/src/runtime/client/dev-overlay/overlay.ts
Labels: pkg: astro

#9301 [Toolbar] fix z-index on dev overlay tooltips and highlights
  packages/astro/src/runtime/client/dev-overlay/entrypoint.ts
  packages/astro/src/runtime/client/dev-overlay/overlay.ts
  packages/astro/src/runtime/client/dev-overlay/plugins/audit/index.ts
  packages/astro/src/runtime/client/dev-overlay/plugins/utils/highlight.ts
  packages/astro/src/runtime/client/dev-overlay/plugins/xray.ts
  packages/astro/src/runtime/client/dev-overlay/ui-library/highlight.ts
  packages/astro/src/runtime/client/dev-overlay/ui-library/tooltip.ts
Labels: pkg: astro

#9303 [Toolbar] capture click events inside the toolbar
  packages/astro/src/runtime/client/dev-overlay/overlay.ts
Labels: pkg: astro

#9304 [Toolbar] Filter out internal island props
  packages/astro/src/runtime/client/dev-overlay/plugins/xray.ts
Labels: pkg: astro

#9308 Release markdoc integration as v0.x
  packages/integrations/markdoc/package.json
Labels: pkg: integration

#9309 Downgrade the tailwind integration for Astro 3/4 compat
  packages/integrations/tailwind/package.json
Labels: pkg: integration

#9311 edits to release CHANGELOGS
  packages/astro-rss/CHANGELOG.md
  packages/astro/CHANGELOG.md
Labels: pkg: astro

#9313 Add changeset for Tailiwind
  .changeset/nice-panthers-tell.md
Labels: docs pr

#9315 fix: logging build trace of pages
  .changeset/angry-cows-hug.md
  packages/astro/src/core/build/generate.ts
Labels: pkg: astro, docs pr

#9317 Improves `@astrojs/upgrade` dependency handling
  .changeset/poor-otters-doubt.md
  packages/upgrade/src/actions/verify.ts
  packages/upgrade/src/index.ts
  packages/upgrade/test/verify.test.js
Labels: docs pr

#8794 Improve Vue `appEntrypoint` handling
  .changeset/smart-cameras-kneel.md
  packages/integrations/vue/src/index.ts
  packages/integrations/vue/test/app-entrypoint.test.js
  packages/integrations/vue/test/fixtures/app-entrypoint-no-export-default/astro.config.mjs
  packages/integrations/vue/test/fixtures/app-entrypoint-no-export-default/package.json
  packages/integrations/vue/test/fixtures/app-entrypoint-no-export-default/src/components/Bar.vue
  packages/integrations/vue/test/fixtures/app-entrypoint-no-export-default/src/components/Circle.svg
  packages/integrations/vue/test/fixtures/app-entrypoint-no-export-default/src/components/Foo.vue
  packages/integrations/vue/test/fixtures/app-entrypoint-no-export-default/src/pages/_app.ts
  packages/integrations/vue/test/fixtures/app-entrypoint-no-export-default/src/pages/index.astro
  packages/integrations/vue/test/fixtures/app-entrypoint-relative/astro.config.mjs
  packages/integrations/vue/test/fixtures/app-entrypoint-relative/package.json
  packages/integrations/vue/test/fixtures/app-entrypoint-relative/src/components/Bar.vue
  packages/integrations/vue/test/fixtures/app-entrypoint-relative/src/components/Circle.svg
  packages/integrations/vue/test/fixtures/app-entrypoint-relative/src/components/Foo.vue
  packages/integrations/vue/test/fixtures/app-entrypoint-relative/src/pages/index.astro
  packages/integrations/vue/test/fixtures/app-entrypoint-relative/src/vue.ts
  pnpm-lock.yaml
Labels: pkg: vue, pkg: integration, docs pr

#9331 Update `vitefu` version
  .changeset/beige-gorillas-camp.md
  packages/astro/package.json
  pnpm-lock.yaml
Labels: pkg: astro, docs pr

#9333 Vue: Remove `hasDefaultExport` check from `appEntrypoint` logic
  .changeset/selfish-lamps-build.md
  packages/integrations/vue/src/index.ts
  packages/integrations/vue/test/app-entrypoint.test.js
  packages/integrations/vue/test/fixtures/app-entrypoint-no-export-default/src/pages/_app.ts
  packages/integrations/vue/test/fixtures/app-entrypoint-src-absolute/astro.config.mjs
  packages/integrations/vue/test/fixtures/app-entrypoint-src-absolute/package.json
  packages/integrations/vue/test/fixtures/app-entrypoint-src-absolute/src/components/Bar.vue
  packages/integrations/vue/test/fixtures/app-entrypoint-src-absolute/src/components/Circle.svg
  packages/integrations/vue/test/fixtures/app-entrypoint-src-absolute/src/components/Foo.vue
  packages/integrations/vue/test/fixtures/app-entrypoint-src-absolute/src/pages/index.astro
  packages/integrations/vue/test/fixtures/app-entrypoint-src-absolute/src/vue.ts
  pnpm-lock.yaml
Labels: pkg: vue, pkg: integration, docs pr

#9327 Prevent client-side navigation for method="dialog"
  .changeset/rich-keys-rescue.md
  packages/astro/components/ViewTransitions.astro
  packages/astro/e2e/fixtures/view-transitions/src/pages/dialog.astro
  packages/astro/e2e/view-transitions.test.js
Labels: pkg: astro, docs pr

#9339 Fix log message for `Disable notifications`
  .changeset/strange-parrots-promise.md
  packages/astro/src/runtime/client/dev-overlay/plugins/settings.ts
Labels: pkg: astro, docs pr

#9336 Fix issue where 404/500 status codes were logged as "[200]"
  .changeset/modern-mice-shout.md
  packages/astro/src/core/messages.ts
  packages/astro/src/vite-plugin-astro-server/route.ts
Labels: pkg: astro, docs pr

#9299 [@astrojs/rss] Quality-of-Life Improvement to `items` property-related error
  .changeset/thirty-hairs-pump.md
  packages/astro-rss/src/index.ts
Labels: docs pr

#9348 Define the Vercel adapter's peerDependency
  .changeset/nasty-carrots-study.md
  packages/integrations/vercel/package.json
Labels: pkg: integration, docs pr

#9334 Allow async functions in the Vercel edge middleware integration
  .changeset/young-spoons-rescue.md
  packages/integrations/vercel/src/serverless/middleware.ts
Labels: pkg: integration, docs pr

#9285 Allow Svelte 5 render slots as snippets
  .changeset/big-shirts-travel.md
  packages/integrations/svelte/client-v5.js
  packages/integrations/svelte/server-v5.js
Labels: pkg: svelte, pkg: integration, docs pr

#9349 chore: markdown-remark peerDependencies
  .changeset/gorgeous-buttons-remember.md
  packages/markdown/remark/package.json
Labels: feat: markdown, docs pr

#9366 chore: update peer dependencies
  .changeset/neat-peaches-mate.md
  packages/integrations/mdx/package.json
  packages/integrations/node/package.json
  packages/integrations/svelte/package.json
  packages/integrations/vue/package.json
Labels: pkg: svelte, pkg: vue, pkg: integration, docs pr

#9131 feat(examples): make content collections type explicit
  examples/blog/src/content/config.ts
  examples/portfolio/src/content/config.ts
Labels: pkg: example

#9372 fix: markdown formatting issue
  README.md
Labels: docs pr

#9374 Preserve generating routes that end with .mjs
  .changeset/shiny-glasses-care.md
  packages/astro/src/core/build/index.ts
  packages/astro/src/core/build/plugin.ts
  packages/astro/src/core/build/static-build.ts
  packages/astro/src/core/build/util.ts
  packages/astro/test/astro-basic.test.js
  packages/astro/test/fixtures/astro-basic/src/pages/get-static-paths-with-mjs/[...file].js
Labels: pkg: astro, docs pr

#9383 [docs] Vercel README - update code samples
  .changeset/sweet-deers-watch.md
  packages/integrations/vercel/README.md
Labels: pkg: integration, docs pr

#9379 Refactor Vue example to use `<script setup>`
  examples/framework-vue/src/components/Counter.vue
Labels: pkg: example

#9380 fix(i18n): correctly pull the ssr entry during build
  .changeset/honest-bats-own.md
  packages/astro/src/core/build/buildPipeline.ts
  packages/astro/test/i18n-routing.test.js
Labels: pkg: astro, docs pr

#9387 Ensure `astro add` only installs stable versions
  .changeset/young-rats-sin.md
  packages/astro/package.json
  packages/astro/src/cli/add/index.ts
  pnpm-lock.yaml
Labels: pkg: astro, docs pr

#9404 Add missing global attributes to JSX definition
  .changeset/dull-masks-eat.md
  packages/astro/astro-jsx.d.ts
Labels: pkg: astro, docs pr

#9289 fix(vercel): handle dots in source path for redirects
  .changeset/rotten-socks-help.md
  packages/integrations/vercel/src/lib/redirects.ts
  packages/integrations/vercel/test/redirects.test.js
Labels: pkg: integration, docs pr

#9414 fix: mention which feature is experimental/deprecated
  .changeset/fifty-pets-hunt.md
  packages/astro/src/integrations/astroFeaturesValidation.ts
Labels: pkg: astro, docs pr

#9407 Allow file URLs to be used as import specifiers
  .changeset/smart-colts-think.md
  packages/astro/src/core/create-vite.ts
  packages/astro/src/vite-plugin-fileurl/index.ts
  packages/astro/test/astro-basic.test.js
  packages/astro/test/fixtures/astro-basic/src/pages/fileurl.astro
  packages/astro/test/fixtures/astro-basic/src/strings.js
Labels: pkg: astro, docs pr

#8822 [@astrojs/lit] lit 3.0 compatibility
  .changeset/big-comics-work.md
  packages/astro/e2e/fixtures/lit-component/package.json
  packages/integrations/lit/package.json
  packages/integrations/lit/src/index.ts
  pnpm-lock.yaml
Labels: pkg: lit, pkg: integration, pkg: astro, docs pr

#9418 Fix broken link
  .changeset/old-dragons-kneel.md
  packages/astro/astro.js
Labels: pkg: astro, docs pr

#9413 chore(vercel): Add beta option for status
  .changeset/stupid-cheetahs-sell.md
  packages/integrations/vercel/README.md
  packages/integrations/vercel/src/serverless/adapter.ts
Labels: pkg: integration, docs pr

#9423 Error when getImage() is passed an undefined src
  .changeset/brown-apricots-kick.md
  packages/astro/src/assets/internal.ts
  packages/astro/test/core-image.test.js
  packages/astro/test/fixtures/core-image-errors/src/pages/get-image-undefined.astro
Labels: pkg: astro, docs pr

#9378 Fix static build when out dir is not within the cwd
  .changeset/lorem-ipsum-dolor
  packages/astro/src/core/build/static-build.ts
Labels: pkg: astro

#9424 Handle unhandledrejections in the dev server
  .changeset/curvy-lobsters-crash.md
  packages/astro/src/core/errors/errors-data.ts
  packages/astro/src/vite-plugin-astro-server/error.ts
  packages/astro/src/vite-plugin-astro-server/plugin.ts
  packages/astro/src/vite-plugin-astro-server/request.ts
Labels: pkg: astro, docs pr

#9419 Prevent Partytown from hijacking history API
  .changeset/angry-avocados-live.md
  packages/astro/src/transitions/router.ts
Labels: pkg: astro, docs pr

#9433 fix: merge headers from the original response in error pages
  .changeset/thirty-hats-bathe.md
  packages/astro/src/core/app/index.ts
  packages/astro/src/vite-plugin-astro-server/request.ts
  packages/astro/test/fixtures/middleware space/src/middleware.js
  packages/astro/test/middleware.test.js
Labels: pkg: astro, docs pr

#9126 fix(error pages): account for trailingSlash
  .changeset/old-pandas-travel.md
  packages/astro/src/core/app/index.ts
  packages/astro/test/custom-404-static.test.js
  packages/astro/test/custom-404.test.js
  packages/astro/test/fixtures/custom-404-server/astro.config.mjs
  packages/astro/test/fixtures/custom-404-server/package.json
  packages/astro/test/fixtures/custom-404-server/src/pages/404.astro
  packages/astro/test/fixtures/custom-404-server/src/pages/[slug].astro
  packages/astro/test/fixtures/custom-404-server/src/pages/index.astro
  packages/astro/test/fixtures/custom-404-static/astro.config.mjs
  packages/astro/test/fixtures/custom-404-static/package.json
  packages/astro/test/fixtures/custom-404-static/src/pages/404.astro
  packages/astro/test/fixtures/custom-404-static/src/pages/index.astro
  packages/astro/test/fixtures/ssr-error-pages/package.json
  packages/astro/test/fixtures/ssr-error-pages/src/content/pages/index.md
  packages/astro/test/fixtures/ssr-error-pages/src/pages/404.astro
  packages/astro/test/fixtures/ssr-error-pages/src/pages/500.astro
  packages/astro/test/fixtures/ssr-error-pages/src/pages/api/route.js
  packages/astro/test/fixtures/ssr-error-pages/src/pages/blog/[...ssrPath].astro
  packages/astro/test/fixtures/ssr-error-pages/src/pages/causes-404.astro
  packages/astro/test/fixtures/ssr-error-pages/src/pages/causes-error.astro
  packages/astro/test/fixtures/ssr-error-pages/src/styles/main.css
  packages/astro/test/fixtures/status-code/package.json
  packages/astro/test/fixtures/status-code/src/pages/404.astro
  packages/astro/test/fixtures/status-code/src/pages/index.astro
  packages/astro/test/ssr-error-pages.test.js
  packages/astro/test/status-page.test.js
  pnpm-lock.yaml
Labels: pkg: astro, docs pr

#9362 Simplify vue appEntrypoint handling
  .changeset/rotten-olives-beg.md
  packages/integrations/vue/src/index.ts
Labels: pkg: vue, pkg: integration, docs pr

#9358 feat: make Houston festive for the holiday season
  .changeset/small-numbers-wink.md
  packages/create-astro/src/actions/context.ts
  packages/create-astro/src/messages.ts
Labels: pkg: create-astro, docs pr

#9426 Fixes warning for external URL redirects
  .changeset/gentle-chefs-glow.md
  packages/astro/src/core/routing/manifest/create.ts
Labels: pkg: astro, docs pr

#9409 refactor(assets): Move things around to avoid importing image service unnecessarily
  packages/astro/components/Picture.astro
  packages/astro/src/assets/build/generate.ts
  packages/astro/src/assets/endpoint/config.ts
  packages/astro/src/assets/endpoint/generic.ts
  packages/astro/src/assets/endpoint/node.ts
  packages/astro/src/assets/internal.ts
  packages/astro/src/assets/services/service.ts
  packages/astro/src/assets/utils/imageKind.ts
  packages/astro/src/assets/utils/index.ts
  packages/astro/src/assets/utils/remotePattern.ts
  packages/astro/src/assets/utils/transformToPath.ts
  packages/astro/src/assets/vite-plugin-assets.ts
  packages/astro/src/core/build/index.ts
  packages/astro/src/core/dev/container.ts
Labels: pkg: astro

#9445 Upgrade compiler
  .changeset/many-dogs-rest.md
  packages/astro/package.json
  pnpm-lock.yaml
Labels: pkg: astro, docs pr

#9455 fix: error in ssr demo when init
  examples/ssr/src/pages/api/cart.ts
Labels: pkg: example

#9400 Fix import dev toolbar apps on windows
  .changeset/modern-humans-think.md
  packages/astro/src/vite-plugin-dev-overlay/vite-plugin-dev-overlay.ts
Labels: pkg: astro, docs pr

#9403 Fix Preact Forwarded Ref components not working in astro files when React integration is enabled
  .changeset/breezy-hairs-yell.md
  packages/integrations/react/server.js
Labels: pkg: react, pkg: integration, docs pr

#9460 fix(assets): Prevent concurrency from being set to 0
  .changeset/real-bags-hope.md
  packages/astro/src/core/build/generate.ts
Labels: pkg: astro, docs pr

#9461 fix: update netlify import
  .changeset/friendly-tables-worry.md
  packages/astro/src/@types/astro.ts
  packages/astro/src/cli/add/index.ts
Labels: pkg: astro, docs pr

#9458 fix: handle middleware loading error
  .changeset/selfish-rings-occur.md
  packages/astro/src/core/errors/errors-data.ts
  packages/astro/src/core/middleware/loadMiddleware.ts
Labels: pkg: astro, docs pr

#9471 Fix typo in @astrojs/node README
  .changeset/eight-sheep-nail.md
  packages/integrations/node/README.md
Labels: pkg: integration, docs pr

#9477 chore: fix error message
  packages/astro/src/core/errors/errors-data.ts
Labels: pkg: astro, docs pr

#9089 fix(redirects): handle non-verbatim targets
  .changeset/silly-cycles-clap.md
  packages/astro/src/core/redirects/helpers.ts
  packages/astro/test/redirects.test.js
Labels: pkg: astro, docs pr

#9437 fix: handle external hoisted scripts correctly
  .changeset/warm-bats-eat.md
  packages/astro/src/core/build/plugins/plugin-manifest.ts
  packages/astro/test/ssr-hoisted-script.test.js
Labels: pkg: astro, docs pr

#9352 Descriptive image error
  .changeset/famous-cars-sell.md
  packages/astro/package.json
  packages/astro/src/assets/build/generate.ts
  packages/astro/src/assets/endpoint/generic.ts
  packages/astro/src/assets/endpoint/node.ts
  packages/astro/src/assets/internal.ts
  packages/astro/src/core/errors/errors-data.ts
  pnpm-lock.yaml
Labels: pkg: astro, docs pr

#9464 Fix transitions with non-recommended headers
  .changeset/khaki-ducks-give.md
  packages/astro/e2e/fixtures/view-transitions/src/pages/one.astro
  packages/astro/e2e/fixtures/view-transitions/src/pages/seven.astro
  packages/astro/e2e/view-transitions.test.js
  packages/astro/src/transitions/router.ts
Labels: pkg: astro, docs pr

#9475 fix: remove the manifest file from the `dist/` folder
  .changeset/wise-wasps-sell.md
  packages/astro/src/core/build/static-build.ts
Labels: pkg: astro, docs pr

#9452 chore: upgrade vite to latest (close #9443)
  .changeset/eleven-hairs-peel.md
  packages/astro/package.json
  packages/astro/test/cli.test.js
  packages/integrations/markdoc/package.json
  packages/integrations/mdx/package.json
  packages/integrations/react/package.json
  packages/integrations/svelte/package.json
  packages/integrations/tailwind/package.json
  packages/integrations/tailwind/src/index.ts
  packages/integrations/vue/package.json
  pnpm-lock.yaml
Labels: pkg: svelte, pkg: vue, pkg: react, pkg: integration, pkg: astro, docs pr

#9486 view transition's form handling honors default prevention
  .changeset/fresh-games-confess.md
  packages/astro/components/ViewTransitions.astro
Labels: pkg: astro, docs pr

#9483 fix(a11y): Fix some audit false positives
  .changeset/thirty-panthers-repeat.md
  packages/astro/src/runtime/client/dev-overlay/plugins/audit/a11y.ts
Labels: pkg: astro, docs pr

#9487 chore: smoother logging when building pages
  .changeset/popular-meals-yell.md
  packages/astro/src/core/build/generate.ts
  packages/astro/src/core/logger/core.ts
  packages/astro/src/core/logger/node.ts
Labels: pkg: astro, docs pr

#9482 Skip `check` for known Qwik components
  .changeset/eight-ears-call.md
  packages/integrations/preact/src/server.ts
  packages/integrations/react/server-v17.js
  packages/integrations/react/server.js
  packages/integrations/solid/src/server.ts
Labels: pkg: react, pkg: preact, pkg: solid, pkg: integration, docs pr

#9478 chore: improve type fidelity for internal error class
  .changeset/rare-ants-swim.md
  packages/astro/src/assets/build/generate.ts
  packages/astro/src/core/errors/errors.ts
  packages/astro/src/core/middleware/loadMiddleware.ts
Labels: pkg: astro, docs pr

#9479 [docs] minimal integration READMEs
  .changeset/soft-sheep-glow.md
  packages/integrations/alpinejs/README.md
  packages/integrations/lit/README.md
  packages/integrations/markdoc/README.md
  packages/integrations/mdx/README.md
  packages/integrations/node/README.md
  packages/integrations/partytown/README.md
  packages/integrations/preact/README.md
  packages/integrations/react/README.md
  packages/integrations/sitemap/README.md
  packages/integrations/solid/README.md
  packages/integrations/svelte/README.md
  packages/integrations/tailwind/README.md
  packages/integrations/vercel/README.md
  packages/integrations/vue/README.md
Labels: pkg: svelte, pkg: vue, pkg: react, pkg: preact, pkg: solid, pkg: lit, pkg: integration, docs pr

#9498 chore(ci): remove integrations from docs smoke tests
  .github/workflows/ci.yml
Labels: 🚨 action

#9463 fix(deps): Update Sharp optionalDep version
  .changeset/shy-knives-unite.md
  packages/astro/package.json
  pnpm-lock.yaml
Labels: pkg: astro, docs pr

#9493 Compress banner image
  .github/assets/banner.jpg
  README.md
  packages/astro/README.md
Labels: pkg: astro, docs pr

#9502 [docs] update build.format with note an adapter may set this value
  packages/astro/src/@types/astro.ts
Labels: pkg: astro, docs pr

#9501 feat: export JSX types from jsx-runtime
  .changeset/chilly-tips-breathe.md
  packages/astro/jsx-runtime.d.ts
  packages/astro/package.json
Labels: pkg: astro, docs pr

#9522 Add autocomplete to button JSX type
  .changeset/beige-zebras-ring.md
  packages/astro/astro-jsx.d.ts
Labels: pkg: astro, docs pr

#9512 Prevent dev toolbar tooltip from overflowing
  .changeset/small-emus-deny.md
  packages/astro/e2e/dev-overlay.test.js
  packages/astro/e2e/fixtures/dev-overlay/src/pages/tooltip-position.astro
  packages/astro/src/runtime/client/dev-overlay/plugins/utils/highlight.ts
Labels: pkg: astro, docs pr

#9510 Filter out Svelte's unknown data prop warnings
  .changeset/forty-actors-wash.md
  packages/integrations/svelte/client.js
Labels: pkg: svelte, pkg: integration, docs pr

#9529 Add tailwindcss nesting support
  .changeset/rude-deers-turn.md
  packages/integrations/tailwind/package.json
  packages/integrations/tailwind/src/index.ts
  packages/integrations/tailwind/test/basic.test.js
  packages/integrations/tailwind/test/fixtures/basic/astro.config.js
  packages/integrations/tailwind/test/fixtures/basic/package.json
  packages/integrations/tailwind/test/fixtures/basic/src/pages/index.astro
  packages/integrations/tailwind/test/fixtures/basic/tailwind.config.js
  pnpm-lock.yaml
Labels: pkg: integration, docs pr

#9532 Prevent double uri decoding
  .changeset/old-goats-occur.md
  packages/astro/src/core/routing/params.ts
  packages/astro/src/vite-plugin-astro-server/request.ts
  packages/astro/test/ssr-params.test.js
Labels: pkg: astro, docs pr

#9531 Fix duplicated CSS modules inlining
  .changeset/blue-ladybugs-march.md
  packages/astro/src/content/vite-plugin-content-assets.ts
  packages/astro/src/vite-plugin-astro-server/css.ts
  packages/astro/src/vite-plugin-astro-server/route.ts
  packages/astro/test/0-css.test.js
  packages/astro/test/units/dev/styles.test.js
Labels: pkg: astro, docs pr

#9497 qol(routing): warn when api route method doesn't match the casing of an export
  .changeset/tidy-dogs-remain.md
  packages/astro/src/@types/astro.ts
  packages/astro/src/runtime/server/endpoint.ts
Labels: pkg: astro, docs pr

#9492 fix(content): helpful message for DuplicateContentEntry
  .changeset/gold-zebras-burn.md
  packages/astro/src/content/vite-plugin-content-virtual-mod.ts
  packages/astro/src/core/errors/errors-data.ts
Labels: pkg: astro, docs pr

#9540 Support remote images with encoded characters
  .changeset/small-snakes-build.md
  packages/astro/src/assets/utils/transformToPath.ts
  packages/astro/test/core-image.test.js
  packages/astro/test/fixtures/core-image-ssg/public/documents/ProductCoverImages/ghost.webp
  packages/astro/test/fixtures/core-image-ssg/src/pages/index.astro
Labels: pkg: astro, docs pr

#8931 feat(examples): add starlog release notes theme
  examples/starlog/README.md
  examples/starlog/astro.config.mjs
  examples/starlog/package.json
  examples/starlog/public/favicon.svg
  examples/starlog/src/assets/starlog-placeholder-1.jpg
  examples/starlog/src/assets/starlog-placeholder-14.jpg
  examples/starlog/src/assets/starlog-placeholder-18.jpg
  examples/starlog/src/assets/starlog-placeholder-2.jpg
  examples/starlog/src/components/BaseHead.astro
  examples/starlog/src/components/Footer.astro
  examples/starlog/src/components/FormattedDate.astro
  examples/starlog/src/components/Header.astro
  examples/starlog/src/components/SEO.astro
  examples/starlog/src/consts.ts
  examples/starlog/src/content/config.ts
  examples/starlog/src/content/releases/1_0.md
  examples/starlog/src/content/releases/1_4.md
  examples/starlog/src/content/releases/1_8.md
  examples/starlog/src/content/releases/2_0.md
  examples/starlog/src/layouts/IndexLayout.astro
  examples/starlog/src/layouts/PostLayout.astro
  examples/starlog/src/pages/index.astro
  examples/starlog/src/pages/releases/[slug].astro
  examples/starlog/src/styles/colors.scss
  examples/starlog/src/styles/global.scss
  examples/starlog/src/styles/layout.scss
  examples/starlog/src/styles/type.scss
  examples/starlog/tsconfig.json
  pnpm-lock.yaml
Labels: pkg: example

#9537 fix: handle srcset local image paths with spaces
  .changeset/weak-oranges-relate.md
  packages/astro/src/assets/vite-plugin-assets.ts
  packages/astro/test/core-image.test.js
  packages/astro/test/fixtures/core-image-ssg/src/assets/image 1.jpg
  packages/astro/test/fixtures/core-image-ssg/src/pages/srcset.astro
Labels: pkg: astro, docs pr

#9542 fix(examples): make astro check pass
  examples/integration/index.ts
  examples/middleware/package.json
  examples/middleware/src/middleware.ts
  examples/ssr/src/api.ts
  examples/ssr/src/pages/api/cart.ts
  examples/ssr/src/pages/login.form.async.ts
  examples/ssr/src/pages/login.form.ts
  examples/with-nanostores/src/cartStore.ts
  pnpm-lock.yaml
Labels: pkg: example

#9446 Toggle dev toolbar hitbox height when toolbar is visible
  .changeset/silent-wasps-learn.md
  packages/astro/src/runtime/client/dev-overlay/overlay.ts
Labels: pkg: astro, docs pr

#9533 fix(node): prevent crash on stream error
  .changeset/olive-sloths-brush.md
  packages/integrations/node/src/nodeMiddleware.ts
Labels: pkg: integration, docs pr

#9550 fix(vercel): prevent build failure with node 21
  .changeset/yellow-yaks-promise.md
  packages/integrations/vercel/src/serverless/adapter.ts
Labels: pkg: integration, docs pr

#9547 Prevent render ansi in error overlay
  .changeset/quiet-weeks-teach.md
  packages/astro/src/core/errors/dev/utils.ts
Labels: pkg: astro, docs pr
