Repository withastro/astro, pull requests merged in 2023-03, with the labels that each got.

#6376 Refactor benchmark script
  .eslintrc.cjs
  .github/workflows/benchmark.yml
  .gitignore
  benchmark/README.md
  benchmark/bench/README.md
  benchmark/bench/_template.js
  benchmark/bench/_util.js
  benchmark/bench/memory.js
  benchmark/bench/server-stress.js
  benchmark/ci-helper.js
  benchmark/index.js
  benchmark/make-project/README.md
  benchmark/make-project/_template.js
  benchmark/make-project/_util.js
  benchmark/make-project/memory-default.js
  benchmark/make-project/server-stress-default.js
  benchmark/package.json
  package.json
  packages/astro/src/@types/astro.ts
  packages/astro/src/core/build/index.ts
  packages/astro/src/core/build/static-build.ts
  packages/astro/src/core/config/settings.ts
  packages/astro/src/core/config/timer.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: 🚨 action, core

#6386 ci: add workflow_dispatch to workflows
  .github/workflows/benchmark.yml
  .github/workflows/check.yml
  .github/workflows/ci.yml
  .github/workflows/format.yml
  .github/workflows/main.yml
  .github/workflows/scripts.yml
  .github/workflows/snapshot-release.yml
Labels: 🚨 action

#6392 Fix astro sync config merge
  .changeset/cold-mirrors-joke.md
  packages/astro/src/core/create-vite.ts
  packages/astro/src/core/sync/index.ts
Labels: core

#6397 ci: correctly update comment in action
  .github/workflows/check-merge.yml
  benchmark/package.json
Labels: 🚨 action

#6380 fix(vercel): update getRequest to use undici
  .changeset/cuddly-snakes-switch.md
  packages/integrations/vercel/src/serverless/request-transform.ts
Labels: integration

#6391 Teardown compiler to improve rendering perf
  .changeset/bright-forks-add.md
  packages/astro/package.json
  packages/astro/src/cli/index.ts
  packages/astro/src/core/build/index.ts
  packages/astro/src/core/build/static-build.ts
  packages/astro/src/core/build/types.ts
  pnpm-lock.yaml
Labels: core

#6406 ci: use one action for comments
  .github/workflows/benchmark.yml
Labels: 🚨 action

#6412 Remove redundant comments when `astro add` update `astro.config.mjs`
  .changeset/lovely-elephants-peel.md
  packages/astro/src/core/add/index.ts
Labels: core

#6396 Remove unused benchmarks
  CONTRIBUTING.md
  packages/astro/package.json
  packages/astro/test/benchmark/benchmark.js
  packages/astro/test/benchmark/build-cached.json
  packages/astro/test/benchmark/build-uncached.json
  packages/astro/test/benchmark/build.bench.js
  packages/astro/test/benchmark/dev-server-cached.json
  packages/astro/test/benchmark/dev-server-uncached.json
  packages/astro/test/benchmark/dev.bench.js
  packages/astro/test/benchmark/simple/astro.config.mjs
  packages/astro/test/benchmark/simple/package.json
  packages/astro/test/benchmark/simple/server.mjs
  packages/astro/test/benchmark/simple/src/components/Layout.astro
  packages/astro/test/benchmark/simple/src/pages/index.astro
  scripts/memory/index.js
  scripts/memory/mk.js
  scripts/memory/project/.gitkeep
  scripts/memory/project/src/pages/.gitkeep
Labels: core

#6426 Fix `?inline` and `?raw` css query suffixes inlined in style tags in development
  .changeset/witty-taxis-accept.md
  packages/astro/src/core/render/dev/css.ts
  packages/astro/test/css-inline.test.js
  pnpm-lock.yaml
Labels: core

#6150 Add getStaticPaths type helpers to infer params and props
  .changeset/flat-candles-glow.md
  packages/astro/src/@types/astro.ts
Labels: core, semver minor

#6394 feat(cli): add help flags to various commands
  .changeset/old-rivers-remember.md
  packages/astro/src/cli/check/index.ts
  packages/astro/src/cli/index.ts
  packages/astro/src/cli/telemetry.ts
  packages/astro/src/core/build/index.ts
  packages/astro/src/core/dev/dev.ts
  packages/astro/src/core/preview/index.ts
  packages/astro/src/core/sync/index.ts
Labels: core, semver minor

#6423 [error docs] update link for client-side scripts
  packages/astro/src/core/errors/errors-data.ts
Labels: core

#6213 Update compilation target for Node 16
  .changeset/wicked-pumpkins-punch.md
  package.json
  packages/astro-prism/tsconfig.json
  packages/astro-rss/tsconfig.json
  packages/astro/tsconfig.json
  packages/create-astro/tsconfig.json
  packages/integrations/alpinejs/tsconfig.json
  packages/integrations/cloudflare/tsconfig.json
  packages/integrations/deno/tsconfig.json
  packages/integrations/image/tsconfig.json
  packages/integrations/lit/tsconfig.json
  packages/integrations/mdx/tsconfig.json
  packages/integrations/netlify/tsconfig.json
  packages/integrations/node/tsconfig.json
  packages/integrations/partytown/tsconfig.json
  packages/integrations/preact/tsconfig.json
  packages/integrations/prefetch/tsconfig.json
  packages/integrations/react/tsconfig.json
  packages/integrations/sitemap/tsconfig.json
  packages/integrations/solid/tsconfig.json
  packages/integrations/svelte/tsconfig.json
  packages/integrations/tailwind/tsconfig.json
  packages/integrations/turbolinks/tsconfig.json
  packages/integrations/vercel/tsconfig.json
  packages/integrations/vue/tsconfig.json
  packages/markdown/remark/tsconfig.json
  packages/telemetry/tsconfig.json
  packages/webapi/tsconfig.json
  scripts/cmd/build.js
Labels: markdown, framework-svelte, framework-vue, framework-react, framework-preact, framework-solid, framework-lit, integration, create-astro, core, semver minor

#6436 Update branding assets
  .github/assets/banner.png
  assets/brand/file-icon.svg
  assets/brand/icon-32.svg
  assets/brand/logo-square-black.png
  assets/brand/logo-square-white.png
  assets/brand/logo-white.svg
  assets/brand/logo.svg
  assets/social/avatar.png
  assets/social/banner-minimal.png
  assets/social/banner.svg
  examples/docs/src/consts.ts
  packages/astro/README.md
Labels: example, core

#6433 Move benchmark package and update changeset config
  .changeset/config.json
  benchmark/bench/render.js
  benchmark/make-project/render-default.js
  benchmark/package.json
  benchmark/packages/timer/README.md
  benchmark/packages/timer/package.json
  benchmark/packages/timer/src/index.ts
  benchmark/packages/timer/src/preview.ts
  benchmark/packages/timer/src/server.ts
  benchmark/packages/timer/tsconfig.json
  package.json
  packages/integrations/timer/CHANGELOG.md
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: integration

#6356 feat(cli): add `--watch` to `astro check` command
  .changeset/six-moons-taste.md
  packages/astro/package.json
  packages/astro/src/cli/check/index.ts
  packages/astro/src/cli/index.ts
  packages/astro/src/core/sync/index.ts
  packages/astro/test/cli.test.js
  packages/astro/test/fixtures/astro-check-watch/astro.config.mjs
  packages/astro/test/fixtures/astro-check-watch/package.json
  packages/astro/test/fixtures/astro-check-watch/src/pages/index.astro
  packages/astro/test/fixtures/astro-check-watch/tsconfig.json
  packages/astro/test/test-utils.js
  packages/webapi/mod.d.ts
  pnpm-lock.yaml
Labels: core, semver minor

#6429 chore: use directive `@ts-expect-error` instead of `@ts-ignore`
  packages/astro/src/core/add/babel.ts
  packages/astro/src/core/build/plugins/plugin-internals.ts
  packages/astro/src/core/endpoint/index.ts
  packages/astro/src/core/render/result.ts
  packages/astro/src/jsx/renderer.ts
  packages/integrations/deno/src/server.ts
  packages/integrations/image/src/endpoint.ts
  packages/integrations/image/src/lib/get-image.ts
  packages/integrations/image/src/loaders/squoosh.ts
  packages/integrations/image/src/vendor/squoosh/codecs.ts
  packages/integrations/image/src/vendor/squoosh/image-pool.ts
  packages/integrations/image/src/vendor/squoosh/impl.ts
  packages/integrations/netlify/test/edge-functions/edge-basic.test.ts
  packages/integrations/netlify/test/edge-functions/prerender.test.ts
  packages/integrations/netlify/test/edge-functions/root-dynamic.test.ts
  packages/integrations/netlify/test/edge-functions/test-utils.ts
  packages/integrations/node/src/response-iterator.ts
  packages/integrations/preact/src/client-dev.ts
  packages/markdown/remark/src/index.ts
  packages/webapi/src/lib/Image.ts
  packages/webapi/src/lib/utils.ts
Labels: markdown, framework-preact, integration, core

#6435 Expose the ssr manifest
  .changeset/heavy-kids-heal.md
  packages/astro/client-base.d.ts
  packages/astro/src/core/build/plugins/plugin-ssr.ts
  packages/astro/src/core/create-vite.ts
  packages/astro/src/vite-plugin-astro-server/plugin.ts
  packages/astro/src/vite-plugin-ssr-manifest/index.ts
  packages/astro/test/fixtures/ssr-manifest/package.json
  packages/astro/test/fixtures/ssr-manifest/src/pages/index.astro
  packages/astro/test/ssr-manifest.test.js
  pnpm-lock.yaml
Labels: core, semver minor

#6421 [@astrojs/image] Handle missing trailing slash in processStaticImage
  .changeset/eleven-mugs-flash.md
  packages/integrations/image/src/build/ssg.ts
Labels: integration

#6382 Add RSS feed discovery link to head
  examples/blog/src/components/BaseHead.astro
Labels: example

#6438 fix: sharp image configure diff
  packages/integrations/image/README.md
Labels: integration

#6448 Add instructions on how to link the sitemap
  packages/integrations/sitemap/README.md
Labels: integration

#6449 Update with-markdoc example
  examples/with-markdoc/package.json
Labels: example

#6450 Fix markdoc version
  packages/astro/performance/fixtures/mdoc/package.json
  packages/integrations/markdoc/package.json
  pnpm-lock.yaml
Labels: integration, core

#6455 Fix configuration reference docs
  .changeset/cyan-readers-wonder.md
  packages/astro/src/@types/astro.ts
Labels: core

#6454 Add support new `astro:assets` ESM import shape for SVGs
  .changeset/clever-laws-lie.md
  packages/astro/src/assets/services/service.ts
  packages/astro/src/assets/vite-plugin-assets.ts
  packages/astro/src/core/errors/errors-data.ts
  packages/astro/test/core-image.test.js
  packages/astro/test/fixtures/core-image/src/assets/penguin.svg
  packages/astro/test/fixtures/core-image/src/pages/unsupported-format.astro
Labels: core

#6463 docs(images): Add docs for image related errors
  packages/astro/src/assets/services/service.ts
  packages/astro/src/core/errors/errors-data.ts
  packages/astro/test/core-image.test.js
  packages/webapi/mod.d.ts
Labels: core

#6465 Fixes ESM imported assets to be root relative
  .changeset/smart-crews-swim.md
  packages/astro/src/assets/vite-plugin-assets.ts
  packages/astro/src/core/util.ts
  packages/astro/test/core-image.test.js
  packages/astro/test/fixtures/core-image/src/pages/regular-img.astro
Labels: core

#6466 Fix asset loading in dev mode
  .changeset/red-candles-retire.md
  packages/astro/src/assets/vite-plugin-assets.ts
  packages/astro/test/core-image.test.js
Labels: core

#6460 Add default .npmrc for `astro add lit`
  .changeset/tough-tigers-drum.md
  packages/astro/src/core/add/index.ts
  packages/integrations/lit/README.md
Labels: framework-lit, integration, core

#6289 fix(examples/docs): Styles for left sidebar's group titles are not applied.
  examples/docs/src/components/LeftSidebar/LeftSidebar.astro
Labels: example

#6486 Get rid of ‘txt not found’
  packages/integrations/sitemap/README.md
Labels: integration

#6485 Fix `@astrojs/prism` edgecase with pnpm
  .changeset/tall-taxis-exercise.md
  packages/astro/src/core/create-vite.ts
Labels: core

#6419 Make Tailwind & Turbolinks integration descriptions more consistent
  .changeset/sweet-zoos-serve.md
  packages/integrations/tailwind/package.json
  packages/integrations/turbolinks/package.json
Labels: integration

#6498 Add postbuild to build:ci command
  packages/astro/package.json
Labels: core

#6495 Prefer dynamic import for `image-size`
  packages/astro/src/assets/utils/metadata.ts
Labels: core

#6503 feat: cache `getCollection()` calls in production
  .changeset/nasty-cougars-double.md
  packages/astro/src/content/internal.ts
Labels: core

#6505 fix(images): Move emitESMImage util to another file
  packages/astro/src/assets/internal.ts
  packages/astro/src/assets/utils/emitAsset.ts
  packages/astro/src/assets/vite-plugin-assets.ts
  packages/astro/src/content/utils.ts
Labels: core

#6530 fix(assets): Fix types to be more accurate
  .changeset/calm-tigers-stare.md
  packages/astro/client-base.d.ts
  packages/astro/client-image.d.ts
  packages/astro/src/@types/astro.ts
  packages/astro/src/assets/consts.ts
  packages/astro/src/assets/services/service.ts
  packages/astro/src/assets/types.ts
  packages/astro/src/assets/vite-plugin-assets.ts
Labels: core

#6532 Fix `env.d.ts` switching back between types on every restart when assets are enabled
  .changeset/tough-sheep-grab.md
  packages/astro/src/vite-plugin-inject-env-ts/index.ts
Labels: core

#6531 Remove false-positive warnings from Cloudflare's build
  .changeset/fair-emus-taste.md
  packages/integrations/cloudflare/src/index.ts
Labels: integration

#6494 Consistency improvements to several package descriptions
  .changeset/tiny-hairs-battle.md
  packages/astro-prism/package.json
  packages/integrations/alpinejs/package.json
  packages/integrations/cloudflare/package.json
  packages/integrations/image/package.json
  packages/integrations/markdoc/package.json
  packages/integrations/mdx/package.json
  packages/integrations/partytown/package.json
  packages/integrations/prefetch/package.json
  packages/integrations/sitemap/package.json
  packages/markdown/component/package.json
Labels: markdown, integration

#6533 Add warning when using assets with non-node adapters
  .changeset/famous-games-warn.md
  packages/astro/src/assets/vite-plugin-assets.ts
Labels: core

#6527 Treeshake exported client components that are not imported
  .changeset/cyan-camels-swim.md
  packages/astro/src/core/build/internal.ts
  packages/astro/src/core/build/plugins/index.ts
  packages/astro/src/core/build/plugins/plugin-analyzer.ts
  packages/astro/src/core/build/plugins/plugin-component-entry.ts
  packages/astro/src/core/build/plugins/plugin-internals.ts
  packages/astro/src/core/build/static-build.ts
  packages/astro/test/astro-component-bundling.test.js
  packages/astro/test/fixtures/astro-component-bundling/astro.config.mjs
  packages/astro/test/fixtures/astro-component-bundling/package.json
  packages/astro/test/fixtures/astro-component-bundling/src/components/ManyComponents.jsx
  packages/astro/test/fixtures/astro-component-bundling/src/pages/index.astro
  pnpm-lock.yaml
Labels: core

#6508 [Content collections] Better error formatting
  .changeset/quick-turtles-decide.md
  packages/astro/src/content/error-map.ts
  packages/astro/src/content/index.ts
  packages/astro/src/content/utils.ts
  packages/astro/src/core/errors/errors-data.ts
  packages/astro/test/content-collections.test.js
  packages/astro/test/units/content-collections/error-map.test.js
Labels: core

#6537 Prevent astro:content from depending on Node builtins
  .changeset/four-planets-smoke.md
  packages/astro/package.json
  packages/astro/src/content/runtime-assets.ts
  packages/astro/src/content/runtime.ts
  packages/astro/src/content/template/virtual-mod-assets.mjs
  packages/astro/src/content/template/virtual-mod.mjs
  packages/astro/src/content/utils.ts
  packages/astro/src/content/vite-plugin-content-virtual-mod.ts
  packages/astro/test/content-collections.test.js
  packages/astro/test/test-plugins.js
Labels: core

#6542 ci: format add owner judgment
  .github/workflows/format.yml
Labels: 🚨 action

#6547 Fix local images having the wrong width and height when both dimensions were provided
  .changeset/dirty-flies-hunt.md
  packages/astro/src/assets/services/service.ts
  packages/astro/test/core-image.test.js
  packages/astro/test/fixtures/core-image/src/pages/index.astro
Labels: core

#6536 fix(assets): Fix images from public not working with the new Assets feature
  .changeset/stupid-lemons-boil.md
  packages/astro/src/assets/services/service.ts
  packages/astro/test/core-image.test.js
  packages/astro/test/fixtures/core-image/public/penguin3.jpg
  packages/astro/test/fixtures/core-image/src/pages/blog/[...slug].astro
  packages/astro/test/fixtures/core-image/src/pages/index.astro
Labels: core

#6556 fix(assets): Fix usage of custom service resulting in Invalid Input error
  .changeset/gorgeous-beds-tickle.md
  packages/astro/src/core/config/schema.ts
Labels: core

#6472 It even starts to remove a file before it finish it.
  .changeset/forty-dodos-dress.md
  packages/astro/src/core/build/static-build.ts
Labels: core

#6562 Integration readme: Replace tabs with double spaces
  packages/astro-rss/README.md
  packages/integrations/image/README.md
  packages/integrations/markdoc/README.md
  packages/integrations/sitemap/README.md
  packages/integrations/svelte/README.md
  packages/webapi/README.md
Labels: integration, improve documentation

#6559 Vendor image-size
  .changeset/shy-walls-divide.md
  packages/astro/package.json
  packages/astro/src/assets/utils/metadata.ts
  packages/astro/src/assets/vendor/README.md
  packages/astro/src/assets/vendor/image-size/LICENSE
  packages/astro/src/assets/vendor/image-size/detector.ts
  packages/astro/src/assets/vendor/image-size/index.ts
  packages/astro/src/assets/vendor/image-size/readUInt.ts
  packages/astro/src/assets/vendor/image-size/types.ts
  packages/astro/src/assets/vendor/image-size/types/bmp.ts
  packages/astro/src/assets/vendor/image-size/types/cur.ts
  packages/astro/src/assets/vendor/image-size/types/dds.ts
  packages/astro/src/assets/vendor/image-size/types/gif.ts
  packages/astro/src/assets/vendor/image-size/types/icns.ts
  packages/astro/src/assets/vendor/image-size/types/ico.ts
  packages/astro/src/assets/vendor/image-size/types/interface.ts
  packages/astro/src/assets/vendor/image-size/types/j2c.ts
  packages/astro/src/assets/vendor/image-size/types/jp2.ts
  packages/astro/src/assets/vendor/image-size/types/jpg.ts
  packages/astro/src/assets/vendor/image-size/types/ktx.ts
  packages/astro/src/assets/vendor/image-size/types/png.ts
  packages/astro/src/assets/vendor/image-size/types/pnm.ts
  packages/astro/src/assets/vendor/image-size/types/psd.ts
  packages/astro/src/assets/vendor/image-size/types/svg.ts
  packages/astro/src/assets/vendor/image-size/types/tiff.ts
  packages/astro/src/assets/vendor/image-size/types/webp.ts
  packages/astro/src/assets/vendor/queue/LICENSE
  packages/astro/src/assets/vendor/queue/queue.js
  packages/astro/src/core/sync/index.ts
  packages/astro/src/vite-plugin-markdown/index.ts
  packages/markdown/remark/package.json
  packages/markdown/remark/src/index.ts
  packages/markdown/remark/src/rehype-images.ts
  packages/markdown/remark/src/types.ts
  pnpm-lock.yaml
Labels: markdown, core

#6550 fix(cloudflare): base strip logic
  .changeset/early-kangaroos-invent.md
  packages/integrations/cloudflare/src/index.ts
Labels: integration

#6558 Fix prerendered 404 page handling in SSR
  .changeset/yellow-grapes-design.md
  packages/astro/src/core/app/index.ts
  packages/astro/test/fixtures/ssr-prerender-404/package.json
  packages/astro/test/fixtures/ssr-prerender-404/src/pages/404.astro
  packages/astro/test/fixtures/ssr-prerender-404/src/pages/static.astro
  packages/astro/test/ssr-prerender-404.test.js
  pnpm-lock.yaml
Labels: core

#6566 Support tsconfig aliases in styles
  .changeset/empty-ravens-complain.md
  packages/astro/src/vite-plugin-config-alias/index.ts
  packages/astro/test/alias-tsconfig.test.js
  packages/astro/test/fixtures/alias-tsconfig/src/components/Foo.astro
  packages/astro/test/fixtures/alias-tsconfig/src/components/Style.astro
  packages/astro/test/fixtures/alias-tsconfig/src/pages/index.astro
  packages/astro/test/fixtures/alias-tsconfig/src/styles/extra.css
  packages/astro/test/fixtures/alias-tsconfig/src/styles/main.css
  packages/astro/test/fixtures/alias-tsconfig/tsconfig.json
Labels: core

#6568 Fix `image()` type to be compatible with ImageMetadata
  .changeset/perfect-humans-wink.md
  packages/astro/src/content/template/types.d.ts
Labels: core

#6555 Add validateOptions hook to Image Service API
  .changeset/tidy-dryers-add.md
  packages/astro/src/assets/internal.ts
  packages/astro/src/assets/services/service.ts
  packages/astro/src/assets/services/sharp.ts
  packages/astro/src/assets/services/squoosh.ts
  packages/astro/src/vite-plugin-markdown/index.ts
  packages/astro/test/core-image.test.js
  packages/astro/test/fixtures/core-image/service.mjs
  packages/markdown/remark/src/rehype-images.ts
Labels: markdown, core

#6572 Fix error in empty markdown files with content
  .changeset/tidy-crabs-warn.md
  packages/astro/src/content/utils.ts
  packages/astro/test/content-collections.test.js
  packages/astro/test/fixtures/content-collections-empty-md-file/package.json
  packages/astro/test/fixtures/content-collections-empty-md-file/src/content/blog/empty.md
  packages/astro/test/fixtures/content-collections-empty-md-file/src/content/config.ts
  packages/astro/test/fixtures/content-collections-empty-md-file/src/pages/index.astro
  pnpm-lock.yaml
Labels: core

#6576 Simplify internal resolver in dev
  .changeset/soft-plants-hope.md
  packages/astro/src/core/render/dev/resolve.ts
Labels: core

#6584 fix typo
  examples/docs/README.md
Labels: example

#6591 Added prop type definition for FormattedDate in Blog example
  examples/blog/src/components/FormattedDate.astro
Labels: example

#6586 fix: Add missing --watch flag when running astro check --help
  .changeset/tender-emus-eat.md
  packages/astro/src/cli/check/index.ts
Labels: core

#6605 fix(tsconfig): Update tsconfig templates to ignore 5.0 deprecations
  .changeset/tiny-worms-joke.md
  packages/astro/tsconfigs/base.json
Labels: core

#6601 Fix plugin apply args when filtering
  .changeset/tame-taxis-perform.md
  packages/astro/src/core/create-vite.ts
Labels: core

#6594 chore: wrap the projectDir in quotes if it contains spaces
  .changeset/tall-beans-own.md
  packages/create-astro/src/messages.ts
Labels: create-astro

#6607 [Markdoc] Refactor Renderer internals to use `renderComponent()`
  .changeset/thirty-crews-love.md
  packages/integrations/markdoc/components/RenderNode.astro
  packages/integrations/markdoc/components/Renderer.astro
  packages/integrations/markdoc/components/TreeNode.ts
  packages/integrations/markdoc/components/astroNode.ts
  packages/integrations/markdoc/package.json
  pnpm-lock.yaml
Labels: integration

#6588 feat: Expose `$entry` variable to Markdoc
  .changeset/lazy-mice-fetch.md
  packages/astro/src/@types/astro.ts
  packages/astro/src/content/vite-plugin-content-imports.ts
  packages/astro/src/core/errors/dev/vite.ts
  packages/integrations/markdoc/README.md
  packages/integrations/markdoc/src/index.ts
  packages/integrations/markdoc/test/entry-prop.test.js
  packages/integrations/markdoc/test/fixtures/entry-prop/astro.config.mjs
  packages/integrations/markdoc/test/fixtures/entry-prop/package.json
  packages/integrations/markdoc/test/fixtures/entry-prop/src/content/blog/entry.mdoc
  packages/integrations/markdoc/test/fixtures/entry-prop/src/content/config.ts
  packages/integrations/markdoc/test/fixtures/entry-prop/src/pages/index.astro
  pnpm-lock.yaml
Labels: integration, core

#6622 edit commands for installing @markdoc/markdoc
  .changeset/twenty-islands-protect.md
  packages/integrations/markdoc/README.md
Labels: integration

#6617 Fix tsconfig alias regression
  .changeset/curly-wasps-matter.md
  packages/astro/src/vite-plugin-config-alias/index.ts
  packages/astro/test/alias-tsconfig.test.js
  packages/astro/test/fixtures/alias-tsconfig/src/pages/index.astro
  packages/astro/test/fixtures/alias-tsconfig/src/ts-file.ts
Labels: core

#6604 Fix using optimized images in Markdown
  .changeset/blue-swans-teach.md
  packages/astro/src/vite-plugin-markdown/index.ts
  packages/astro/test/core-image.test.js
  packages/markdown/remark/src/index.ts
  packages/markdown/remark/src/rehype-images.ts
  packages/markdown/remark/src/remark-collect-images.ts
  packages/markdown/remark/src/types.ts
Labels: markdown, core

#6633 Revert `tsconfig-alias` plugin changes
  .changeset/sharp-timers-lick.md
  packages/astro/src/vite-plugin-config-alias/index.ts
  packages/astro/test/alias-tsconfig.test.js
  packages/astro/test/fixtures/alias-tsconfig/src/components/Foo.astro
  packages/astro/test/fixtures/alias-tsconfig/src/components/Style.astro
  packages/astro/test/fixtures/alias-tsconfig/src/pages/index.astro
  packages/astro/test/fixtures/alias-tsconfig/src/styles/extra.css
  packages/astro/test/fixtures/alias-tsconfig/src/styles/main.css
  packages/astro/test/fixtures/alias-tsconfig/src/ts-file.ts
  packages/astro/test/fixtures/alias-tsconfig/tsconfig.json
Labels: core

#6548 Change how squoosh is loaded in the image integration
  .changeset/green-apes-approve.md
  packages/integrations/image/package.json
  packages/integrations/image/src/vendor/squoosh/avif/avif_node_dec.wasm.ts
  packages/integrations/image/src/vendor/squoosh/avif/avif_node_enc.wasm.ts
  packages/integrations/image/src/vendor/squoosh/codecs.ts
  packages/integrations/image/src/vendor/squoosh/emscripten-utils.ts
  packages/integrations/image/src/vendor/squoosh/mozjpeg/mozjpeg_node_dec.wasm.ts
  packages/integrations/image/src/vendor/squoosh/mozjpeg/mozjpeg_node_enc.wasm.ts
  packages/integrations/image/src/vendor/squoosh/png/squoosh_oxipng_bg.wasm.ts
  packages/integrations/image/src/vendor/squoosh/png/squoosh_png_bg.wasm.ts
  packages/integrations/image/src/vendor/squoosh/resize/squoosh_resize_bg.wasm.ts
  packages/integrations/image/src/vendor/squoosh/rotate/rotate.wasm.ts
  packages/integrations/image/src/vendor/squoosh/webp/webp_node_dec.wasm.ts
  packages/integrations/image/src/vendor/squoosh/webp/webp_node_enc.wasm.ts
  packages/integrations/image/wasmize.mjs
  pnpm-lock.yaml
Labels: integration

#6627 Resolve images in the frontmatter relative to the current file
  .changeset/stupid-suns-beg.md
  packages/astro/src/content/runtime-assets.ts
  packages/astro/src/content/utils.ts
  packages/astro/src/content/vite-plugin-content-imports.ts
  packages/astro/test/fixtures/core-image-ssg/src/content/blog/one.md
  packages/astro/test/fixtures/core-image/src/content/blog/one.md
Labels: core

#6630 [Markdoc] Support automatic image optimization with `experimental.assets`
  .changeset/big-rice-rest.md
  packages/astro/src/@types/astro.ts
  packages/astro/src/assets/index.ts
  packages/astro/src/assets/utils/emitAsset.ts
  packages/astro/src/content/vite-plugin-content-imports.ts
  packages/integrations/markdoc/components/TreeNode.ts
  packages/integrations/markdoc/package.json
  packages/integrations/markdoc/src/index.ts
  packages/integrations/markdoc/src/utils.ts
  packages/integrations/markdoc/test/fixtures/image-assets/astro.config.mjs
  packages/integrations/markdoc/test/fixtures/image-assets/package.json
  packages/integrations/markdoc/test/fixtures/image-assets/src/assets/alias/cityscape.jpg
  packages/integrations/markdoc/test/fixtures/image-assets/src/assets/relative/oar.jpg
  packages/integrations/markdoc/test/fixtures/image-assets/src/content/docs/intro.mdoc
  packages/integrations/markdoc/test/fixtures/image-assets/src/pages/index.astro
  packages/integrations/markdoc/test/fixtures/image-assets/src/public/favicon.svg
  packages/integrations/markdoc/test/image-assets.test.js
  pnpm-lock.yaml
Labels: integration, core

#6647 Pass --mode flag to build
  .changeset/smart-wombats-peel.md
  packages/astro/src/cli/index.ts
Labels: core

#6639 fix: updating HTML attribute types for the <link> element
  .changeset/perfect-rabbits-repair.md
  packages/astro/astro-jsx.d.ts
Labels: core

#6643 Fix using optimized images with `base`
  .changeset/thick-penguins-turn.md
  packages/astro/src/assets/internal.ts
  packages/astro/src/assets/vite-plugin-assets.ts
  packages/astro/test/core-image.test.js
  packages/astro/test/fixtures/core-image-base/package.json
  packages/astro/test/fixtures/core-image-base/src/assets/penguin1.jpg
  packages/astro/test/fixtures/core-image-base/src/assets/penguin2.jpg
  packages/astro/test/fixtures/core-image-base/src/content/blog/one.md
  packages/astro/test/fixtures/core-image-base/src/content/config.ts
  packages/astro/test/fixtures/core-image-base/src/pages/alias.astro
  packages/astro/test/fixtures/core-image-base/src/pages/aliasMarkdown.md
  packages/astro/test/fixtures/core-image-base/src/pages/blog/[...slug].astro
  packages/astro/test/fixtures/core-image-base/src/pages/direct.astro
  packages/astro/test/fixtures/core-image-base/src/pages/format.astro
  packages/astro/test/fixtures/core-image-base/src/pages/get-image.astro
  packages/astro/test/fixtures/core-image-base/src/pages/index.astro
  packages/astro/test/fixtures/core-image-base/src/pages/post.md
  packages/astro/test/fixtures/core-image-base/src/pages/quality.astro
  pnpm-lock.yaml
Labels: core

#6675 Prevent frontmatter errors from crashing dev server
  .changeset/flat-baboons-nail.md
  packages/astro/src/content/types-generator.ts
  packages/astro/test/units/content-collections/frontmatter.test.js
  packages/astro/test/units/test-utils.js
Labels: core

#6667 Expose partytown config options from astro plugin
  .changeset/chilly-dingos-eat.md
  packages/integrations/partytown/README.md
  packages/integrations/partytown/src/index.ts
Labels: integration

#6680 Fix image regeneration after changing image service
  .changeset/lovely-owls-sniff.md
  packages/astro/src/assets/utils/transformToPath.ts
  packages/astro/src/assets/vite-plugin-assets.ts
  packages/integrations/image/src/index.ts
  packages/integrations/image/src/loaders/index.ts
  packages/integrations/image/src/utils/paths.ts
Labels: integration, core

#6691 Fix CI = specify astro peer dep version for Markdoc
  packages/integrations/markdoc/package.json
Labels: integration

#6353 Improve error message for endpoint getStaticPaths with undefined value
  .changeset/small-knives-sparkle.md
  packages/astro/src/core/errors/errors-data.ts
  packages/astro/src/core/render/core.ts
  packages/astro/test/dynamic-endpoint-collision.js
  packages/astro/test/fixtures/dynamic-endpoint-collision/astro.config.mjs
  packages/astro/test/fixtures/dynamic-endpoint-collision/package.json
  packages/astro/test/fixtures/dynamic-endpoint-collision/src/pages/api/catch/[...slug].ts
  packages/astro/test/fixtures/unused-slot/src/components/Card.astro
  pnpm-lock.yaml
Labels: core

#6693 Fix: stop executing `astro:server:setup` twice
  .changeset/dirty-zoos-provide.md
  packages/astro/src/core/create-vite.ts
  packages/astro/src/vite-plugin-integrations-container/index.ts
Labels: core, semver minor

#6696 Add use-immer as a noExternal module
  .changeset/wet-lemons-rest.md
  packages/integrations/react/src/index.ts
Labels: framework-react, integration

#6676 Fix: Paginate adds unexpected trailing slash on index route
  .changeset/eight-humans-push.md
  packages/astro/src/core/render/paginate.ts
  packages/astro/test/astro-pagination.test.js
  packages/astro/test/fixtures/astro-pagination/src/pages/posts/[slug]/[page].astro
Labels: core

#6690 `docs:` change the external React docs page to `https://react.dev`
  packages/integrations/react/README.md
Labels: framework-react, integration

#6554 @astrojs/partytown - Use debug option for debugDir
  packages/integrations/partytown/src/index.ts
Labels: integration

#6649 fix(images): Improve error handling around the new assets feature
  .changeset/lemon-snails-kiss.md
  packages/astro/src/assets/internal.ts
  packages/astro/src/assets/services/service.ts
  packages/astro/src/content/runtime-assets.ts
  packages/astro/src/content/utils.ts
  packages/astro/src/core/errors/errors-data.ts
  packages/astro/src/core/errors/overlay.ts
  packages/astro/src/vite-plugin-markdown/index.ts
  packages/astro/test/core-image.test.js
  packages/astro/test/fixtures/core-image-errors/package.json
  packages/astro/test/fixtures/core-image-errors/src/content/blog/one.md
  packages/astro/test/fixtures/core-image-errors/src/content/config.ts
  packages/astro/test/fixtures/core-image-errors/src/pages/blog/[...slug].astro
  packages/astro/test/fixtures/core-image-errors/src/pages/get-image-empty.astro
  packages/astro/test/fixtures/core-image-errors/src/pages/get-image-undefined.astro
  packages/astro/test/fixtures/core-image-errors/src/pages/post.md
  pnpm-lock.yaml
Labels: core

#6711 Fix InferGetStaticParamsType and InferGetStaticPropsType not working with sync getStaticPaths
  .changeset/odd-falcons-exist.md
  packages/astro/src/@types/astro.ts
Labels: core

#6701 Remove unnecessary image-related `.wasm` files inside build output when possible
  .changeset/proud-buckets-fly.md
  packages/astro/src/assets/services/vendor/squoosh/copy-wasm.ts
  packages/astro/src/assets/vite-plugin-assets.ts
  packages/astro/src/core/build/generate.ts
  packages/integrations/image/src/index.ts
  packages/integrations/image/src/vendor/squoosh/copy-wasm.ts
Labels: integration, core

#6679 Fix incorrect path in error overlay on Win
  .changeset/honest-paws-behave.md
  packages/astro/e2e/errors.test.js
  packages/astro/e2e/test-utils.js
  packages/astro/src/core/errors/dev/utils.ts
  packages/astro/src/core/errors/overlay.ts
Labels: core

#6718 fix(errors): Add simplified message for MarkdownImageNotFound
  packages/astro/src/core/errors/errors-data.ts
Labels: core

#6717 fix(check): Dynamically import check command
  .changeset/eight-stingrays-pull.md
  packages/astro/src/cli/index.ts
Labels: core

#6671 supporting top of await
  .changeset/spotty-keys-change.md
  packages/astro/e2e/fixtures/vue-component/src/components/Test.vue
  packages/astro/e2e/fixtures/vue-component/src/pages/index.astro
  packages/astro/e2e/fixtures/vue-component/src/pages/mdx.mdx
  packages/astro/e2e/vue-component.test.js
  packages/integrations/vue/client.js
  packages/integrations/vue/test/app-entrypoint.test.js
Labels: framework-vue, integration, core

#6719 Better errors for when response is already sent
  .changeset/red-parents-knock.md
  packages/astro/src/core/app/index.ts
  packages/astro/src/core/cookies/cookies.ts
  packages/astro/src/core/errors/errors-data.ts
  packages/astro/src/core/render/result.ts
  packages/astro/src/runtime/server/render/common.ts
  packages/astro/src/vite-plugin-astro-server/response.ts
  packages/astro/src/vite-plugin-astro-server/route.ts
  packages/astro/test/fixtures/ssr-redirect/src/components/redirect.astro
  packages/astro/test/fixtures/ssr-redirect/src/pages/late.astro
  packages/astro/test/ssr-redirect.test.js
  packages/astro/test/units/cookies/error.test.js
Labels: core
