Repository withastro/astro, pull requests merged in 2023-06, with the labels that each got.

#7257 fix: build fail upon have 'process.env' in *.md file.
  .changeset/pink-ghosts-end.md
  packages/astro/src/vite-plugin-utils/index.ts
Labels: core

#7269 Fix duplicate `semver minor` blocks
  .github/workflows/check-merge.yml
Labels: 🚨 action

#7263 Fix sitemap filter
  .changeset/eight-planes-drop.md
  packages/integrations/sitemap/src/index.ts
  packages/integrations/sitemap/test/filter.test.js
  packages/integrations/sitemap/test/fixtures/static/deps.mjs
Labels: integration

#7136 Parallel array rendering
  .changeset/olive-gorillas-cheat.md
  packages/astro/src/runtime/server/render/any.ts
  packages/astro/src/runtime/server/render/astro/render-template.ts
  packages/astro/src/runtime/server/render/util.ts
  packages/astro/test/fixtures/parallel/src/pages/index.astro
Labels: core

#7215 fix(astro/core/app/node): support http2 requests
  .changeset/curvy-pumpkins-remain.md
  packages/astro/src/core/app/node.ts
Labels: core

#7268 Content collections: ignored underscore directories in file glob
  .changeset/rotten-pens-destroy.md
  packages/astro/src/content/vite-plugin-content-virtual-mod.ts
Labels: core

#7233 Fix Vitest with content collections
  .changeset/fuzzy-papayas-shout.md
  packages/astro/src/config/index.ts
  packages/astro/src/config/vite-plugin-content-listen.ts
Labels: core

#7277 Add 'starlight' as template alias
  .changeset/chilled-insects-melt.md
  packages/create-astro/src/actions/template.ts
Labels: create-astro

#7276 Simplify Deno test
  packages/integrations/deno/test/basics.test.ts
  packages/integrations/deno/test/dynamic-import.test.ts
  packages/integrations/deno/test/helpers.ts
Labels: integration

#7242 remove the white space after the doctype according to the property co…
  .changeset/tasty-stingrays-smile.md
  packages/astro/src/core/build/generate.ts
  packages/astro/src/core/render/core.ts
  packages/astro/src/runtime/server/render/page.ts
  packages/astro/test/minification-html.test.js
Labels: core

#7180 Stabilize inline stylesheets
  .changeset/stupid-pumpkins-perform.md
  packages/astro/src/@types/astro.ts
  packages/astro/src/core/build/plugins/plugin-css.ts
  packages/astro/src/core/config/schema.ts
  packages/astro/test/css-inline-stylesheets.test.js
Labels: core, semver minor

#7296 fix(html): Export HTML components as default export so their type is valid JSX
  .changeset/khaki-onions-relax.md
  packages/astro/env.d.ts
  packages/astro/src/runtime/server/render/component.ts
  packages/astro/src/vite-plugin-html/transform/index.ts
Labels: core

#7109 feat: remove experimental flag middleware
  .changeset/young-flies-allow.md
  examples/middleware/astro.config.mjs
  packages/astro/src/@types/astro.ts
  packages/astro/src/core/app/index.ts
  packages/astro/src/core/app/types.ts
  packages/astro/src/core/build/generate.ts
  packages/astro/src/core/build/plugins/plugin-middleware.ts
  packages/astro/src/core/build/plugins/plugin-pages.ts
  packages/astro/src/core/build/plugins/plugin-ssr.ts
  packages/astro/src/core/build/static-build.ts
  packages/astro/src/core/config/config.ts
  packages/astro/src/core/config/schema.ts
  packages/astro/src/core/redirects/component.ts
  packages/astro/src/core/redirects/index.ts
  packages/astro/src/vite-plugin-astro-server/route.ts
  packages/astro/test/middleware.test.js
Labels: example, core, semver minor

#7237 Remove experimental flag for custom client directives
  .changeset/fuzzy-tables-build.md
  examples/middleware/astro.config.mjs
  packages/astro/e2e/fixtures/custom-client-directives/astro.config.mjs
  packages/astro/src/@types/astro.ts
  packages/astro/src/core/config/schema.ts
  packages/astro/src/integrations/index.ts
  packages/astro/test/fixtures/middleware-dev/astro.config.mjs
  packages/astro/test/fixtures/middleware-ssg/astro.config.mjs
  packages/astro/test/fixtures/middleware-tailwind/astro.config.mjs
  packages/astro/test/redirects.test.js
Labels: example, core, semver minor

#7197 Fix nested astro-island hydration race condition
  .changeset/light-sheep-hunt.md
  packages/astro/src/runtime/server/astro-island.ts
  scripts/cmd/prebuild.js
Labels: core

#7305 [docs] fix note syntax in Netlify README
  packages/integrations/netlify/README.md
Labels: integration

#7262 Fix injected scripts not injected to injected routes
  .changeset/orange-dryers-shop.md
  packages/astro/src/core/util.ts
  packages/astro/test/astro-scripts.test.js
  packages/astro/test/fixtures/astro-scripts/deps.mjs
  packages/astro/test/fixtures/astro-scripts/src/external-page.astro
Labels: core, merge-queue

#7243 fix:query not considered in directory redirection
  .changeset/chatty-rats-whisper.md
  packages/integrations/node/src/http-server.ts
  packages/integrations/node/test/prerender.test.js
Labels: integration, merge-queue

#7227 #7226 - fixes NodeJS adapter for multiple set-cookie headers (and other header issues)
  .changeset/chilled-rockets-flash.md
  packages/integrations/node/package.json
  packages/integrations/node/src/createOutgoingHttpHeaders.ts
  packages/integrations/node/src/nodeMiddleware.ts
  packages/integrations/node/test/createOutgoingHttpHeaders.test.js
  packages/integrations/node/test/fixtures/headers/package.json
  packages/integrations/node/test/fixtures/headers/src/pages/astro/component-astro-cookies-multi.astro
  packages/integrations/node/test/fixtures/headers/src/pages/astro/component-astro-cookies-single.astro
  packages/integrations/node/test/fixtures/headers/src/pages/astro/component-astro-response-cookie-multi.astro
  packages/integrations/node/test/fixtures/headers/src/pages/astro/component-astro-response-cookie-single.astro
  packages/integrations/node/test/fixtures/headers/src/pages/astro/component-response-cookies-multi.astro
  packages/integrations/node/test/fixtures/headers/src/pages/astro/component-response-cookies-single.astro
  packages/integrations/node/test/fixtures/headers/src/pages/endpoints/astro-cookies-multi.ts
  packages/integrations/node/test/fixtures/headers/src/pages/endpoints/astro-cookies-single.ts
  packages/integrations/node/test/fixtures/headers/src/pages/endpoints/astro-response-cookie-multi.ts
  packages/integrations/node/test/fixtures/headers/src/pages/endpoints/astro-response-cookie-single.ts
  packages/integrations/node/test/fixtures/headers/src/pages/endpoints/kitchen-sink.ts
  packages/integrations/node/test/fixtures/headers/src/pages/endpoints/response-cookies-multi.ts
  packages/integrations/node/test/fixtures/headers/src/pages/endpoints/response-cookies-single.ts
  packages/integrations/node/test/fixtures/headers/src/pages/endpoints/response-empty-headers-object.ts
  packages/integrations/node/test/fixtures/headers/src/pages/endpoints/response-undefined-headers-object.ts
  packages/integrations/node/test/fixtures/headers/src/pages/endpoints/simple.ts
  packages/integrations/node/test/headers.test.js.js
  pnpm-lock.yaml
Labels: integration, merge-queue

#7306 Remove `docs` example
  examples/docs/.gitignore
  examples/docs/.vscode/extensions.json
  examples/docs/.vscode/launch.json
  examples/docs/README.md
  examples/docs/astro.config.mjs
  examples/docs/package.json
  examples/docs/public/default-og-image.png
  examples/docs/public/favicon.svg
  examples/docs/public/make-scrollable-code-focusable.js
  examples/docs/sandbox.config.json
  examples/docs/src/components/Footer/AvatarList.astro
  examples/docs/src/components/Footer/Footer.astro
  examples/docs/src/components/HeadCommon.astro
  examples/docs/src/components/HeadSEO.astro
  examples/docs/src/components/Header/AstroLogo.astro
  examples/docs/src/components/Header/Header.astro
  examples/docs/src/components/Header/LanguageSelect.css
  examples/docs/src/components/Header/LanguageSelect.tsx
  examples/docs/src/components/Header/Search.css
  examples/docs/src/components/Header/Search.tsx
  examples/docs/src/components/Header/SidebarToggle.tsx
  examples/docs/src/components/Header/SkipToContent.astro
  examples/docs/src/components/LeftSidebar/LeftSidebar.astro
  examples/docs/src/components/PageContent/PageContent.astro
  examples/docs/src/components/RightSidebar/MoreMenu.astro
  examples/docs/src/components/RightSidebar/RightSidebar.astro
  examples/docs/src/components/RightSidebar/TableOfContents.tsx
  examples/docs/src/components/RightSidebar/ThemeToggleButton.css
  examples/docs/src/components/RightSidebar/ThemeToggleButton.tsx
  examples/docs/src/consts.ts
  examples/docs/src/content/config.ts
  examples/docs/src/content/docs/en/introduction.md
  examples/docs/src/content/docs/en/page-2.md
  examples/docs/src/content/docs/en/page-3.md
  examples/docs/src/content/docs/en/page-4.md
  examples/docs/src/env.d.ts
  examples/docs/src/languages.ts
  examples/docs/src/layouts/MainLayout.astro
  examples/docs/src/pages/[...slug].astro
  examples/docs/src/pages/index.astro
  examples/docs/src/styles/index.css
  examples/docs/src/styles/theme.css
  examples/docs/tsconfig.json
Labels: example

#7308 [docs-errors] Astro.redirects link changed
  packages/astro/src/core/errors/errors-data.ts
Labels: core

#7309 Fix missing styles and scripts on `document: {render:null}`
  .changeset/shaggy-deers-end.md
  packages/integrations/markdoc/README.md
  packages/integrations/markdoc/components/Renderer.astro
  packages/integrations/markdoc/components/TreeNode.ts
  packages/integrations/markdoc/test/fixtures/render-null/markdoc.config.mjs
Labels: integration

#7307 Fix [Object AsyncGenerator] logging for Markdoc components
  .changeset/nice-falcons-flash.md
  packages/astro/src/runtime/server/render/astro/instance.ts
  packages/integrations/mdx/test/astro-content-css.test.js
  packages/integrations/mdx/test/fixtures/astro-content-css/astro.config.mjs
  packages/integrations/mdx/test/fixtures/astro-content-css/package.json
  packages/integrations/mdx/test/fixtures/astro-content-css/src/content/config.ts
  packages/integrations/mdx/test/fixtures/astro-content-css/src/content/dynamic/FirstComponentWithJS.astro
  packages/integrations/mdx/test/fixtures/astro-content-css/src/content/dynamic/first-component-with-js.mdx
  packages/integrations/mdx/test/fixtures/astro-content-css/src/pages/index.astro
  pnpm-lock.yaml
Labels: integration, core

#7311 Fix: Markdoc type errors
  .changeset/khaki-dolls-nail.md
  packages/integrations/markdoc/package.json
  packages/integrations/markdoc/src/config.ts
  packages/integrations/markdoc/src/heading-ids.ts
  packages/integrations/markdoc/src/index.ts
  packages/integrations/markdoc/src/load-config.ts
  packages/integrations/markdoc/test/fixtures/render-with-components/markdoc.config.ts
  packages/integrations/markdoc/test/fixtures/render-with-config/markdoc.config.ts
Labels: integration

#7303 Refactor some integration tests
  packages/astro/test/astro-get-static-paths.test.js
  packages/astro/test/astro-markdown-plugins.test.js
  packages/astro/test/cli.test.js
  packages/astro/test/client-address.test.js
  packages/astro/test/core-image.test.js
  packages/astro/test/fixtures/core-image/service.mjs
  packages/astro/test/fixtures/reexport-astro-containing-client-component/src/pages/index.astro
  packages/astro/test/minification-html.test.js
  packages/astro/test/ssr-prerender-get-static-paths.test.js
  packages/astro/test/test-image-service.js
  packages/astro/test/units/logger/locale.test.js
  packages/astro/test/units/shiki/shiki.test.js
Labels: core

#7316 Fix: catch and report config errors from `handleConfigError`
  .changeset/large-keys-peel.md
  packages/astro/src/cli/index.ts
Labels: core

#7310 Fix/update spread attribute
  .changeset/blue-spies-live.md
  packages/astro/src/runtime/server/index.ts
Labels: core

#7339 Better dynamic route regex error
  .changeset/kind-cycles-smile.md
  packages/astro/src/core/build/generate.ts
  packages/astro/src/core/errors/errors-data.ts
Labels: core

#7343 Remove error message for using Markdown component
  .changeset/modern-turkeys-shop.md
  packages/markdown/component/Markdown.astro
Labels: markdown

#7342 Fix redirects in dev mode
  .changeset/swift-flies-press.md
  packages/astro/src/core/endpoint/index.ts
  packages/astro/src/prerender/routing.ts
  packages/astro/test/redirects.test.js
Labels: core

#7326 Fixes an issue where create Astro doesn't respect custom npm registries
  .changeset/thirty-books-smoke.md
  .changeset/yellow-plants-stare.md
  packages/astro/src/core/add/index.ts
  packages/create-astro/package.json
  packages/create-astro/src/messages.ts
  pnpm-lock.yaml
Labels: create-astro, core

#7089 Do not silence runtime MDX errors
  packages/astro/src/jsx/server.ts
  packages/integrations/mdx/src/index.ts
  packages/integrations/mdx/test/fixtures/invalid-mdx-component/src/pages/invalid-content.mdx
  packages/integrations/mdx/test/invalid-mdx-component.test.js
  pnpm-lock.yaml
Labels: integration, core

#7341 Fix: better collection entry devalue error
  .changeset/seven-carpets-accept.md
  packages/astro/package.json
  packages/astro/src/content/vite-plugin-content-imports.ts
  packages/astro/src/core/errors/errors-data.ts
  packages/integrations/markdoc/package.json
  pnpm-lock.yaml
Labels: integration, core

#7351 Fix Markdoc cloudflare errors
  .changeset/early-colts-punch.md
  examples/with-markdoc/package.json
  packages/integrations/markdoc/package.json
  packages/integrations/markdoc/src/index.ts
  packages/integrations/markdoc/src/utils.ts
  pnpm-lock.yaml
Labels: example, integration

#7352 Raise error for duplicate content entry slugs
  .changeset/yellow-icons-attack.md
  packages/astro/src/content/vite-plugin-content-virtual-mod.ts
  packages/astro/src/core/errors/errors-data.ts
Labels: core

#7366 Fixed `AstroUserConfig`'s redirect type definition
  .changeset/proud-vans-approve.md
  packages/astro/src/@types/astro.ts
Labels: core

#7373 Upgrade lit deps
  .changeset/cool-readers-stare.md
  packages/integrations/lit/hydration-support.js
  packages/integrations/lit/package.json
  pnpm-lock.yaml
Labels: framework-lit, integration

#7386 [Cloudflare integration] Expose cf metadata and Cloudflare caches API
  .changeset/angry-socks-sell.md
  packages/integrations/cloudflare/package.json
  packages/integrations/cloudflare/src/runtime.ts
  packages/integrations/cloudflare/src/server.advanced.ts
  packages/integrations/cloudflare/src/server.directory.ts
  packages/integrations/cloudflare/test/cf.js
  packages/integrations/cloudflare/test/fixtures/cf/astro.config.mjs
  packages/integrations/cloudflare/test/fixtures/cf/package.json
  packages/integrations/cloudflare/test/fixtures/cf/src/pages/index.astro
  packages/integrations/cloudflare/test/test-utils.js
  pnpm-lock.yaml
Labels: integration

#6724 @astrojs/tailwind: simplify, upgrade & fix support for ts config file
  .changeset/real-spies-pretend.md
  packages/astro/e2e/fixtures/tailwindcss/astro.config.mjs
  packages/astro/e2e/fixtures/tailwindcss/postcss.config.js
  packages/astro/test/astro-scripts.test.js
  packages/astro/test/fixtures/astro-scripts/astro.config.mjs
  packages/astro/test/fixtures/astro-scripts/deps.mjs
  packages/astro/test/fixtures/astro-scripts/tailwind.config.cjs
  packages/astro/test/fixtures/middleware-tailwind/astro.config.mjs
  packages/astro/test/fixtures/middleware-tailwind/tailwind.config.cjs
  packages/astro/test/fixtures/tailwindcss-ts/astro.config.ts
  packages/astro/test/fixtures/tailwindcss/astro.config.mjs
  packages/astro/test/fixtures/tailwindcss/postcss.config.js
  packages/integrations/tailwind/package.json
  packages/integrations/tailwind/src/index.ts
  pnpm-lock.yaml
Labels: integration, core

#7288 Node built-in modules support for Deno adapter
  .changeset/modern-lobsters-sparkle.md
  .github/workflows/ci.yml
  packages/integrations/deno/src/index.ts
  packages/integrations/deno/test/basics.test.ts
  packages/integrations/deno/test/fixtures/basics/src/pages/nodecompat.astro
Labels: 🚨 action, integration

#7391 Rename tailwind integration options
  .changeset/beige-schools-hang.md
  .changeset/real-spies-pretend.md
  packages/astro/e2e/fixtures/tailwindcss/astro.config.mjs
  packages/astro/test/fixtures/astro-scripts/astro.config.mjs
  packages/astro/test/fixtures/middleware-tailwind/astro.config.mjs
  packages/astro/test/fixtures/tailwindcss-ts/astro.config.ts
  packages/astro/test/fixtures/tailwindcss/astro.config.mjs
  packages/integrations/tailwind/README.md
  packages/integrations/tailwind/src/index.ts
Labels: integration, core

#7399 Fix injected route edge case
  .changeset/large-ants-tap.md
  packages/astro/src/core/build/generate.ts
  packages/astro/src/core/build/static-build.ts
  packages/astro/test/custom-404-injected-from-dep.test.js
  packages/astro/test/fixtures/custom-404-injected-from-dep/astro.config.mjs
  packages/astro/test/fixtures/custom-404-injected-from-dep/package.json
  packages/astro/test/fixtures/custom-404-injected-from-dep/src/pages/index.astro
  packages/astro/test/fixtures/custom-404-pkg/404.astro
  packages/astro/test/fixtures/custom-404-pkg/package.json
  pnpm-lock.yaml
Labels: core

#7409 remove extra "ago" in hackernews example
  examples/hackernews/src/components/Comment.astro
  examples/hackernews/src/pages/stories/[id].astro
Labels: example

#7419 fix: cloudflare waitUntil not working as inteded with getRuntime
  .changeset/clever-apes-shop.md
  packages/integrations/cloudflare/src/server.advanced.ts
  packages/integrations/cloudflare/src/server.directory.ts
Labels: integration

#7418 fix: document `open` option
  .changeset/sour-teachers-kiss.md
  packages/astro/src/@types/astro.ts
Labels: core

#7424 Fix up `pnpm dev`
  .changeset/fluffy-pandas-breathe.md
  package.json
  packages/astro/content-module.template.mjs
  packages/astro/content-types.template.d.ts
  packages/astro/package.json
  packages/astro/src/content/utils.ts
  packages/astro/src/content/vite-plugin-content-virtual-mod.ts
  packages/astro/test/units/content-collections/frontmatter.test.js
  scripts/cmd/build.js
  turbo.json
Labels: core

#7433 ci: don't run workflow for `ISSUE_TEMPLATE`
  .github/workflows/ci.yml
Labels: 🚨 action

#7436 Fix minior issue in the documentation related to port customization
  .changeset/five-ghosts-sit.md
  packages/astro/src/@types/astro.ts
Labels: core

#7384 docs: add snippet for `base` option
  packages/integrations/node/README.md
Labels: integration

#7385 feat: expose locals to render api and from requests in dev mode
  .changeset/smooth-jokes-watch.md
  packages/astro/src/core/app/index.ts
  packages/astro/src/core/app/node.ts
  packages/astro/src/core/build/generate.ts
  packages/astro/src/core/endpoint/index.ts
  packages/astro/src/core/render/context.ts
  packages/astro/src/core/render/core.ts
  packages/astro/src/core/render/dev/index.ts
  packages/astro/src/core/request.ts
  packages/astro/src/vite-plugin-astro-server/route.ts
  packages/astro/test/fixtures/ssr-locals/package.json
  packages/astro/test/fixtures/ssr-locals/src/pages/api.js
  packages/astro/test/fixtures/ssr-locals/src/pages/foo.astro
  packages/astro/test/ssr-locals.test.js
  packages/astro/test/test-adapter.js
  packages/integrations/node/README.md
  packages/integrations/node/src/nodeMiddleware.ts
  packages/integrations/node/test/fixtures/locals/package.json
  packages/integrations/node/test/fixtures/locals/src/pages/api.js
  packages/integrations/node/test/fixtures/locals/src/pages/foo.astro
  packages/integrations/node/test/locals.test.js
  pnpm-lock.yaml
Labels: integration, core, semver minor

#7220 feat: SSR `split` mode
  .changeset/wet-readers-join.md
  packages/astro/src/@types/astro.ts
  packages/astro/src/core/app/index.ts
  packages/astro/src/core/app/types.ts
  packages/astro/src/core/build/internal.ts
  packages/astro/src/core/build/plugins/index.ts
  packages/astro/src/core/build/plugins/plugin-pages.ts
  packages/astro/src/core/build/plugins/plugin-ssr.ts
  packages/astro/src/core/build/plugins/util.ts
  packages/astro/src/core/build/static-build.ts
  packages/astro/src/core/config/schema.ts
  packages/astro/src/core/errors/errors-data.ts
  packages/astro/src/integrations/index.ts
  packages/astro/test/fixtures/ssr-request/astro.config.mjs
  packages/astro/test/fixtures/ssr-split-manifest/astro.config.mjs
  packages/astro/test/fixtures/ssr-split-manifest/package.json
  packages/astro/test/fixtures/ssr-split-manifest/src/pages/[...post].astro
  packages/astro/test/fixtures/ssr-split-manifest/src/pages/index.astro
  packages/astro/test/fixtures/ssr-split-manifest/src/pages/lorem.md
  packages/astro/test/fixtures/ssr-split-manifest/src/pages/zod.astro
  packages/astro/test/ssr-split-manifest.test.js
  packages/astro/test/test-adapter.js
  packages/astro/test/test-utils.js
  pnpm-lock.yaml
Labels: core, semver minor

#7438 Fix `astro:build:setup` hook `updateConfig` utility
  .changeset/cyan-vans-clap.md
  packages/astro/src/core/build/static-build.ts
  packages/astro/src/integrations/index.ts
  packages/astro/test/units/integrations/api.test.js
Labels: core

#7435 fix: `pnpm` failure on `create-astro`
  .changeset/clever-rings-draw.md
  packages/create-astro/package.json
  packages/create-astro/src/messages.ts
  pnpm-lock.yaml
Labels: create-astro

#7353 Chore: remove legacy mdx content collections handler
  .changeset/six-keys-cheat.md
  packages/astro/src/integrations/index.ts
  packages/astro/src/vite-plugin-markdown/content-entry-type.ts
Labels: core, semver minor

#7423 fix(astro:assets): inject /_image endpoint with prerendered=false on serverLikeOutput
  .changeset/honest-flies-care.md
  packages/astro/src/@types/astro.ts
  packages/astro/src/core/config/settings.ts
  packages/astro/src/core/routing/manifest/create.ts
Labels: core

#7340 fix: encode spaces when generating `srcset`
  .changeset/late-steaks-perform.md
  packages/integrations/image/package.json
  packages/integrations/image/src/lib/get-picture.ts
  packages/integrations/image/test/picture-ssg.test.js
  pnpm-lock.yaml
Labels: integration

#7447 Fix vercel redirects with trailingSlash always
  .changeset/nervous-paws-knock.md
  packages/integrations/vercel/src/lib/redirects.ts
  packages/integrations/vercel/test/fixtures/redirects/src/pages/subpage.astro
  packages/integrations/vercel/test/redirects.test.js
Labels: integration

#7381 Prevent accidental CSS inclusion in dev
  .changeset/tiny-lemons-sit.md
  packages/astro/src/core/module-loader/loader.ts
  packages/astro/src/core/render/dev/vite.ts
  packages/astro/test/units/dev/styles.test.js
Labels: core

#7451 Cleanup GitHub Actions
  .github/workflows/format.yml
  .github/workflows/issue.yml
  .github/workflows/main.yml
  .github/workflows/nightly.yml
Labels: 🚨 action

#7440 Remove slash package
  .changeset/early-students-taste.md
  .changeset/rich-pumpkins-change.md
  packages/astro/package.json
  packages/astro/src/assets/utils/emitAsset.ts
  packages/astro/src/core/render/ssr-element.ts
  packages/astro/src/core/routing/manifest/create.ts
  packages/astro/src/core/util.ts
  packages/astro/src/vite-plugin-load-fallback/index.ts
  packages/astro/test/units/content-collections/frontmatter.test.js
  packages/integrations/cloudflare/package.json
  packages/integrations/cloudflare/test/prerender.test.js
  packages/internal-helpers/src/path.ts
  pnpm-lock.yaml
Labels: integration, core

#7457 Update congrats workflow for latest version
  .github/workflows/main.yml
Labels: 🚨 action

#7459 Fix markdoc test fail in main
  .changeset/cool-birds-prove.md
  packages/astro/src/core/render/dev/vite.ts
  packages/astro/src/core/util.ts
Labels: core

#7454 Svelte Four
  .changeset/flat-houses-brush.md
  packages/integrations/svelte/package.json
  pnpm-lock.yaml
Labels: framework-svelte, integration

#7439 Format markdown files
  .prettierignore
  README.md
  examples/basics/README.md
  examples/blog/README.md
  examples/blog/src/content/blog/first-post.md
  examples/blog/src/content/blog/markdown-style-guide.md
  examples/blog/src/content/blog/second-post.md
  examples/blog/src/content/blog/third-post.md
  examples/component/README.md
  examples/deno/README.md
  examples/framework-alpine/README.md
  examples/framework-lit/README.md
  examples/framework-vue/README.md
  examples/integration/README.md
  examples/portfolio/README.md
  package.json
  packages/astro-prism/README.md
  packages/astro-rss/README.md
  packages/astro/README.md
  packages/astro/src/core/build/plugins/README.md
  packages/astro/src/core/errors/README.md
  packages/astro/src/vite-plugin-config-alias/README.md
  packages/create-astro/README.md
  packages/integrations/alpinejs/README.md
  packages/integrations/cloudflare/README.md
  packages/integrations/deno/README.md
  packages/integrations/image/README.md
  packages/integrations/lit/README.md
  packages/integrations/markdoc/README.md
  packages/integrations/mdx/README.md
  packages/integrations/mdx/src/README.md
  packages/integrations/netlify/README.md
  packages/integrations/node/README.md
  packages/integrations/partytown/README.md
  packages/integrations/preact/README.md
  packages/integrations/prefetch/README.md
  packages/integrations/react/README.md
  packages/integrations/sitemap/README.md
  packages/integrations/solid/README.md
  packages/integrations/svelte/README.md
  packages/integrations/tailwind/README.md
  packages/integrations/turbolinks/README.md
  packages/integrations/vercel/README.md
  packages/integrations/vue/README.md
  packages/markdown/component/readme.md
  packages/webapi/README.md
  pnpm-lock.yaml
Labels: markdown, framework-svelte, framework-vue, example, framework-react, framework-preact, framework-solid, framework-lit, integration, create-astro, core

#7465 Typo fixed in `node.mdx`
  packages/integrations/node/README.md
Labels: integration

#7477 Bump dependency versions
  packages/astro-rss/package.json
  packages/astro/package.json
  pnpm-lock.yaml
Labels: core

#7347 fix(errors): Deprecate error codes
  packages/astro/src/content/vite-plugin-content-imports.ts
  packages/astro/src/core/compile/compile.ts
  packages/astro/src/core/compile/style.ts
  packages/astro/src/core/errors/README.md
  packages/astro/src/core/errors/dev/vite.ts
  packages/astro/src/core/errors/errors-data.ts
  packages/astro/src/core/errors/errors.ts
  packages/astro/src/core/errors/index.ts
  packages/astro/src/core/errors/utils.ts
  packages/astro/src/events/error.ts
  packages/astro/src/vite-plugin-markdown/index.ts
  packages/astro/test/core-image.test.js
  packages/astro/test/dynamic-endpoint-collision.test.js
  packages/astro/test/events.test.js
  packages/astro/test/units/cookies/error.test.js
  packages/astro/test/units/dev/collections-mixed-content-errors.test.js
  packages/astro/test/units/vite-plugin-scanner/scan.test.js
  packages/integrations/markdoc/src/utils.ts
Labels: integration, core

#7476 fix: Installs underneath a path containing leading underscores
  .changeset/flat-papayas-invite.md
  packages/astro/src/content/vite-plugin-content-virtual-mod.ts
Labels: core

#7458 feat: expose middleware URL to integrations
  .changeset/chilly-pants-fix.md
  packages/astro/src/@types/astro.ts
  packages/astro/src/core/build/index.ts
  packages/astro/src/core/build/internal.ts
  packages/astro/src/core/build/plugins/plugin-middleware.ts
  packages/astro/src/integrations/index.ts
  packages/astro/test/middleware.test.js
  packages/astro/test/ssr-split-manifest.test.js
  packages/astro/test/test-adapter.js
  packages/integrations/vercel/src/serverless/adapter.ts
  packages/integrations/vercel/test/edge-middleware.test.js
Labels: integration, core, semver minor

#7487 Remove invalid code block language tag in sitemap README
  packages/integrations/sitemap/README.md
Labels: integration

#7479 Handle esbuild 0.18 changes
  .changeset/happy-stingrays-carry.md
  packages/astro/src/vite-plugin-astro/compile.ts
  packages/astro/src/vite-plugin-jsx/index.ts
Labels: core

#7490 fix: correct URL for entry points
  .changeset/brave-waves-battle.md
  packages/astro/CHANGELOG.md
  packages/astro/src/@types/astro.ts
  packages/astro/src/core/build/generate.ts
  packages/astro/src/core/build/index.ts
  packages/astro/src/core/build/plugins/plugin-ssr.ts
  packages/astro/src/core/build/static-build.ts
  packages/astro/src/core/build/types.ts
  packages/astro/src/integrations/index.ts
  packages/astro/test/ssr-split-manifest.test.js
Labels: core

#7370 Simplify nested hydration flow
  .changeset/gorgeous-tables-sparkle.md
  .github/scripts/bundle-size.mjs
  packages/astro/src/runtime/client/events.ts
  packages/astro/src/runtime/client/hydration-directives.d.ts
  packages/astro/src/runtime/server/astro-island.ts
Labels: core

#7273 Fix error stacktrace from Vite SSR runtime
  .changeset/breezy-onions-scream.md
  packages/astro/src/vite-plugin-astro-postprocess/index.ts
  packages/astro/src/vite-plugin-astro-server/request.ts
  packages/astro/src/vite-plugin-env/index.ts
  packages/astro/src/vite-plugin-scripts/page-ssr.ts
Labels: core

#7467 feat: restart server on markdoc config change
  .changeset/wet-apples-smoke.md
  packages/integrations/markdoc/src/index.ts
  packages/integrations/markdoc/src/load-config.ts
Labels: integration

#7392 Update astro.ts to clarify configuration settings for base
  packages/astro/src/@types/astro.ts
Labels: core

#7502 Don’t post Discord congrats for auto-formatter commits
  .github/workflows/main.yml
Labels: 🚨 action

#7468 feat: New Markdoc `render` API
  .changeset/sour-starfishes-behave.md
  examples/with-markdoc/markdoc.config.mjs
  packages/integrations/markdoc/package.json
  packages/integrations/markdoc/src/config.ts
  packages/integrations/markdoc/src/content-entry-type.ts
  packages/integrations/markdoc/src/index.ts
  packages/integrations/markdoc/src/load-config.ts
  packages/integrations/markdoc/src/runtime.ts
  packages/integrations/markdoc/src/utils.ts
  packages/integrations/markdoc/test/fixtures/headings-custom/markdoc.config.mjs
  packages/integrations/markdoc/test/fixtures/propagated-assets/markdoc.config.mjs
  packages/integrations/markdoc/test/fixtures/render-with-components/markdoc.config.ts
  pnpm-lock.yaml
Labels: example, integration

#7505 Fix: `ts-expect-error` on astro runtime types
  packages/integrations/markdoc/src/runtime.ts
Labels: integration

#7509 fix: correctly handle prerender pages in split mode
  .changeset/unlucky-paws-own.md
  packages/astro/src/core/build/generate.ts
  packages/astro/src/core/build/internal.ts
  packages/astro/test/fixtures/ssr-split-manifest/src/pages/prerender.astro
  packages/astro/test/ssr-split-manifest.test.js
  packages/astro/test/test-utils.js
  packages/integrations/node/test/prerender.test.js
Labels: integration, core

#7495 Run documentation generation as part of docs smoke test
  .github/workflows/ci.yml
Labels: 🚨 action

#7498 feat: export a new api called `createContext`
  .changeset/long-geckos-battle.md
  packages/astro/src/core/endpoint/index.ts
  packages/astro/src/core/middleware/index.ts
Labels: core, semver minor

#7492 feat: bundle the Vercel Edge Middleware function
  .changeset/chilly-pants-fix.md
  .changeset/cool-kids-grin.md
  .changeset/good-pigs-fetch.md
  packages/astro/src/@types/astro.ts
  packages/astro/src/core/build/index.ts
  packages/astro/src/core/build/plugins/plugin-middleware.ts
  packages/astro/src/core/build/plugins/plugin-ssr.ts
  packages/astro/src/integrations/index.ts
  packages/astro/test/test-adapter.js
  packages/integrations/vercel/src/serverless/adapter.ts
  packages/integrations/vercel/src/serverless/middleware.ts
  packages/integrations/vercel/test/edge-middleware.test.js
Labels: integration, core, semver minor

#7512 Use head repository name for docgen in smoke test
  .github/workflows/ci.yml
Labels: 🚨 action

#7488 Pass `compressHTML` settings to manifest
  .changeset/mean-spoons-tie.md
  packages/astro/src/core/app/index.ts
  packages/astro/src/core/app/types.ts
  packages/astro/src/core/build/plugins/plugin-ssr.ts
  packages/astro/test/ssr-manifest.test.js
Labels: core

#7518 Refactor component and renderers loading flow
  packages/astro/src/core/endpoint/dev/index.ts
  packages/astro/src/core/render/dev/index.ts
  packages/astro/src/core/render/index.ts
  packages/astro/src/core/render/renderer.ts
  packages/astro/src/prerender/routing.ts
  packages/astro/src/vite-plugin-astro-server/route.ts
  packages/astro/test/units/render/jsx.test.js
Labels: core

#7514 Split support in the Vercel Serverless adapter
  .changeset/tricky-snails-poke.md
  packages/integrations/vercel/README.md
  packages/integrations/vercel/src/lib/fs.ts
  packages/integrations/vercel/src/serverless/adapter.ts
  packages/integrations/vercel/test/fixtures/basic/astro.config.mjs
  packages/integrations/vercel/test/fixtures/basic/package.json
  packages/integrations/vercel/test/fixtures/basic/src/pages/one.astro
  packages/integrations/vercel/test/fixtures/basic/src/pages/two.astro
  packages/integrations/vercel/test/split.test.js
  pnpm-lock.yaml
Labels: integration

#7464 feature(astrojs/cloudflare): add support for `splitted` SSR bundles
  .changeset/healthy-books-study.md
  packages/integrations/cloudflare/README.md
  packages/integrations/cloudflare/package.json
  packages/integrations/cloudflare/src/index.ts
  packages/integrations/cloudflare/src/server.directory.ts
  packages/integrations/cloudflare/test/directory-split.test.js
  packages/integrations/cloudflare/test/fixtures/split/package.json
  packages/integrations/cloudflare/test/fixtures/split/src/middleware.ts
  packages/integrations/cloudflare/test/fixtures/split/src/pages/[language]/files/[...path].astro
  packages/integrations/cloudflare/test/fixtures/split/src/pages/[person]/[car].astro
  packages/integrations/cloudflare/test/fixtures/split/src/pages/blog/[post].astro
  packages/integrations/cloudflare/test/fixtures/split/src/pages/blog/cool.astro
  packages/integrations/cloudflare/test/fixtures/split/src/pages/files/[...path].astro
  packages/integrations/cloudflare/test/fixtures/split/src/pages/index.astro
  packages/integrations/cloudflare/test/fixtures/split/src/pages/prerender.astro
  pnpm-lock.yaml
Labels: integration

#7522 Refactor telemetry usage flow
  packages/astro/src/@types/astro.ts
  packages/astro/src/cli/index.ts
  packages/astro/src/cli/telemetry.ts
  packages/astro/src/core/add/index.ts
  packages/astro/src/core/build/index.ts
  packages/astro/src/core/config/settings.ts
  packages/astro/src/core/dev/container.ts
  packages/astro/src/core/dev/dev.ts
  packages/astro/src/core/preview/index.ts
  packages/astro/src/core/render/dev/environment.ts
  packages/astro/src/core/render/environment.ts
  packages/astro/src/vite-plugin-astro-server/request.ts
  packages/astro/test/test-utils.js
  packages/astro/test/units/routing/route-matching.test.js
  packages/astro/test/units/shiki/shiki.test.js
Labels: core

#7523 feat: connect vercel edge middleware to astro
  .changeset/brown-shrimps-hug.md
  .changeset/good-pigs-fetch.md
  packages/astro/src/core/middleware/index.ts
  packages/integrations/vercel/README.md
  packages/integrations/vercel/package.json
  packages/integrations/vercel/src/lib/nft.ts
  packages/integrations/vercel/src/serverless/adapter.ts
  packages/integrations/vercel/src/serverless/entrypoint.ts
  packages/integrations/vercel/src/serverless/middleware.ts
  packages/integrations/vercel/test/edge-middleware.test.js
  packages/integrations/vercel/test/edge-middleware.test.js.snap
  packages/integrations/vercel/test/fixtures/middleware/astro.config.mjs
  packages/integrations/vercel/test/fixtures/middleware/src/vercel-edge-middleware.js
  pnpm-lock.yaml
Labels: integration, core, semver minor

#7527 Fallback to default `npm` registry if config command fails
  .changeset/fair-trees-jump.md
  packages/astro/src/core/add/index.ts
  packages/create-astro/src/messages.ts
Labels: create-astro, core

#7510 Fix image metadata generation
  .changeset/stupid-lions-relax.md
  packages/integrations/image/src/loaders/squoosh.ts
  packages/integrations/image/src/utils/metadata.ts
Labels: integration

#7535 Remove unused getParamsAndProps call
  packages/astro/src/vite-plugin-astro-server/route.ts
Labels: core

#7531 fix: don't serialize `undefined` as `null`
  .changeset/moody-singers-develop.md
  packages/astro/e2e/fixtures/pass-js/src/components/React.tsx
  packages/astro/e2e/fixtures/pass-js/src/pages/index.astro
  packages/astro/e2e/pass-js.test.js
  packages/astro/src/runtime/server/serialize.ts
  packages/astro/test/serialize.test.js
Labels: core

#7539 Fix multiple `create-astro` registry issues
  .changeset/old-seahorses-fold.md
  packages/astro/src/core/add/index.ts
  packages/create-astro/package.json
  packages/create-astro/src/messages.ts
  pnpm-lock.yaml
Labels: create-astro, core
