Repository withastro/astro, pull requests merged in 2023-01, with the labels that each got.

#5706 Fix docs smoke error
  .changeset/mean-knives-smash.md
  .github/workflows/ci.yml
  package.json
  packages/astro/src/core/config/vite-load.ts
Labels: 🚨 action, core

#5720 fix(astro/core): Do not add base to hoisted script body
  .changeset/good-carpets-confess.md
  packages/astro/src/core/build/vite-plugin-ssr.ts
  packages/astro/test/ssr-hoisted-script.test.js
Labels: core

#5700 [Content Collections] Fix `import.meta.env.DEV` always set to `true`
  .changeset/yellow-gifts-complain.md
  packages/astro/src/content/utils.ts
Labels: core

#5685 Upgrade to Vite 4
  .changeset/new-lies-guess.md
  .changeset/spotty-bees-switch.md
  packages/astro/e2e/error-react-spectrum.test.js
  packages/astro/e2e/fixtures/error-react-spectrum/astro.config.mjs
  packages/astro/e2e/fixtures/error-react-spectrum/package.json
  packages/astro/e2e/fixtures/error-react-spectrum/src/pages/index.astro
  packages/astro/package.json
  packages/astro/src/cli/index.ts
  packages/astro/src/core/create-vite.ts
  packages/astro/src/core/errors/dev/index.ts
  packages/astro/src/core/errors/dev/utils.ts
  packages/astro/src/core/errors/dev/vite.ts
  packages/astro/test/fixtures/postcss/src/components/Svelte.svelte
  packages/astro/test/test-utils.js
  packages/integrations/image/package.json
  packages/integrations/mdx/package.json
  packages/integrations/netlify/package.json
  packages/integrations/svelte/package.json
  packages/integrations/svelte/src/index.ts
  packages/integrations/vue/package.json
  pnpm-lock.yaml
Labels: framework-svelte, framework-vue, integration, core, semver major

#5728 Unflag experimental features
  .changeset/chilled-geese-worry.md
  packages/astro/e2e/error-cyclic.test.js
  packages/astro/e2e/error-sass.test.js
  packages/astro/e2e/errors.test.js
  packages/astro/src/@types/astro.ts
  packages/astro/src/core/build/generate.ts
  packages/astro/src/core/build/static-build.ts
  packages/astro/src/core/build/vite-plugin-prerender.ts
  packages/astro/src/core/config/config.ts
  packages/astro/src/core/config/schema.ts
  packages/astro/src/core/create-vite.ts
  packages/astro/src/core/errors/overlay.ts
  packages/astro/test/fixtures/config-vite/astro.config.mjs
Labels: core

#5707 Remove deprecated APIs
  .changeset/selfish-tigers-do.md
  .changeset/tricky-rabbits-count.md
  .changeset/two-geese-eat.md
  examples/integration/index.ts
  packages/astro/src/@types/astro.ts
  packages/astro/src/core/build/index.ts
  packages/astro/src/core/render/result.ts
  packages/astro/src/integrations/index.ts
  packages/astro/src/runtime/server/astro-global.ts
  packages/astro/test/ssr-adapter-build-config.test.js
  packages/integrations/cloudflare/src/index.ts
  packages/integrations/deno/src/index.ts
  packages/integrations/image/src/index.ts
  packages/integrations/netlify/src/integration-edge-functions.ts
  packages/integrations/netlify/src/integration-functions.ts
  packages/integrations/node/src/index.ts
  packages/integrations/vercel/src/edge/adapter.ts
  packages/integrations/vercel/src/serverless/adapter.ts
Labels: example, integration, core, semver major

#5716 Remove MDX Fragment hack
  .changeset/lovely-terms-drive.md
  packages/astro/src/core/render/core.ts
Labels: core, semver major

#5730 Fix missing ts flag on main
  packages/astro/src/core/render/result.ts
Labels: core

#5731 Fix astro-embed peerDep issue
  packages/astro/test/fixtures/third-party-astro/package.json
  pnpm-lock.yaml
Labels: core

#5724 Cleanup internal breaking changes
  .changeset/serious-cats-jog.md
  packages/astro/src/core/add/index.ts
  packages/astro/src/runtime/server/render/astro/render-template.ts
  packages/astro/src/vite-plugin-astro-postprocess/index.ts
Labels: core, semver major

#5687 Change frontmatter injection ordering
  .changeset/beige-pumpkins-pump.md
  examples/with-content/src/content/types.generated.d.ts
  packages/astro/src/@types/astro.ts
  packages/astro/src/content/internal.ts
  packages/astro/src/content/template/types.generated.d.ts
  packages/astro/src/content/vite-plugin-content-assets.ts
  packages/astro/src/core/errors/errors-data.ts
  packages/astro/src/vite-plugin-markdown/index.ts
  packages/astro/src/vite-plugin-utils/index.ts
  packages/astro/test/astro-markdown-frontmatter-injection.test.js
  packages/astro/test/fixtures/astro-markdown-frontmatter-injection/astro.config.mjs
  packages/astro/test/fixtures/astro-markdown-frontmatter-injection/src/markdown-plugins.mjs
  packages/astro/test/fixtures/astro-markdown-frontmatter-injection/src/pages/page-1.md
  packages/astro/test/fixtures/astro-markdown-frontmatter-injection/src/pages/page-2.md
  packages/astro/test/fixtures/astro-markdown-frontmatter-injection/src/pages/with-overrides.md
  packages/integrations/mdx/src/index.ts
  packages/integrations/mdx/src/plugins.ts
  packages/integrations/mdx/test/fixtures/mdx-frontmatter-injection/astro.config.mjs
  packages/integrations/mdx/test/fixtures/mdx-frontmatter-injection/src/markdown-plugins.mjs
  packages/integrations/mdx/test/fixtures/mdx-frontmatter-injection/src/pages/page-1.mdx
  packages/integrations/mdx/test/fixtures/mdx-frontmatter-injection/src/pages/page-2.mdx
  packages/integrations/mdx/test/fixtures/mdx-frontmatter-injection/src/pages/with-overrides.mdx
  packages/integrations/mdx/test/mdx-frontmatter-injection.test.js
  packages/markdown/remark/package.json
  packages/markdown/remark/src/frontmatter-injection.ts
  packages/markdown/remark/src/index.ts
  packages/markdown/remark/src/internal.ts
  packages/markdown/remark/src/remark-initialize-astro-data.ts
  packages/markdown/remark/src/types.ts
Labels: markdown, example, integration, core, semver major

#5684 Markdown and MDX configuration rework
  .changeset/shaggy-keys-turn.md
  packages/astro/src/@types/astro.ts
  packages/astro/src/core/config/schema.ts
  packages/astro/test/astro-markdown-plugins.test.js
  packages/integrations/mdx/README.md
  packages/integrations/mdx/package.json
  packages/integrations/mdx/src/index.ts
  packages/integrations/mdx/src/plugins.ts
  packages/integrations/mdx/test/mdx-plugins.test.js
  packages/integrations/mdx/test/mdx-syntax-highlighting.test.js
  packages/markdown/remark/package.json
  packages/markdown/remark/src/index.ts
  packages/markdown/remark/src/types.ts
  pnpm-lock.yaml
Labels: markdown, integration, core, semver major

#5736 update frontmatter injection link to match docs changes
  packages/astro/src/core/errors/errors-data.ts
Labels: core

#5741 Fix docs links in MDX README
  .changeset/quick-impalas-rush.md
  packages/integrations/mdx/README.md
Labels: integration

#5743 Add file location to errors in build
  .changeset/shaggy-melons-tap.md
  packages/astro/src/core/build/generate.ts
  packages/astro/src/core/errors/utils.ts
  packages/astro/test/error-build-location.test.js
  packages/astro/test/fixtures/error-build-location/astro.config.mjs
  packages/astro/test/fixtures/error-build-location/package.json
  packages/astro/test/fixtures/error-build-location/src/env.d.ts
  packages/astro/test/fixtures/error-build-location/src/pages/index.astro
  pnpm-lock.yaml
Labels: core

#5547 Update telemetry to use new errors information
  packages/astro/src/@types/astro.ts
  packages/astro/src/core/config/settings.ts
  packages/astro/src/core/dev/container.ts
  packages/astro/src/core/errors/errors-data.ts
  packages/astro/src/core/errors/utils.ts
  packages/astro/src/core/render/dev/environment.ts
  packages/astro/src/core/render/environment.ts
  packages/astro/src/events/error.ts
  packages/astro/src/vite-plugin-astro-server/request.ts
  packages/astro/test/events.test.js
  packages/astro/test/test-utils.js
  packages/astro/test/units/vite-plugin-astro-server/request.test.js
  packages/telemetry/src/index.ts
Labels: core

#5734 Handle `getStaticPaths` with prerendered pages
  .changeset/lemon-eagles-worry.md
  packages/astro/src/@types/astro.ts
  packages/astro/src/core/build/generate.ts
  packages/astro/src/core/build/vite-plugin-ssr.ts
  packages/astro/src/core/errors/errors-data.ts
  packages/astro/src/core/render/route-cache.ts
  packages/astro/src/core/routing/validation.ts
  packages/astro/test/fixtures/ssr-prerender-get-static-paths/package.json
  packages/astro/test/fixtures/ssr-prerender-get-static-paths/src/pages/[...calledTwiceTest].astro
  packages/astro/test/fixtures/ssr-prerender-get-static-paths/src/pages/blog/[year]/[slug].astro
  packages/astro/test/fixtures/ssr-prerender-get-static-paths/src/pages/data/[slug].json.ts
  packages/astro/test/fixtures/ssr-prerender-get-static-paths/src/pages/food/[name].astro
  packages/astro/test/fixtures/ssr-prerender-get-static-paths/src/pages/nested-arrays/[slug].astro
  packages/astro/test/fixtures/ssr-prerender-get-static-paths/src/pages/pizza/[...pizza].astro
  packages/astro/test/fixtures/ssr-prerender-get-static-paths/src/pages/pizza/[cheese]-[topping].astro
  packages/astro/test/fixtures/ssr-prerender-get-static-paths/src/pages/posts/[page].astro
  packages/astro/test/ssr-prerender-get-static-paths.test.js
  pnpm-lock.yaml
Labels: core

#5756 Fix for hoisted scripts in project with spaces in the file path
  .changeset/pretty-planes-promise.md
  packages/astro/src/vite-plugin-utils/index.ts
  packages/astro/test/fixtures/space in folder name/app/package.json
  packages/astro/test/fixtures/space in folder name/app/src/pages/index.astro
  packages/astro/test/space-in-folder-name.test.js
  pnpm-lock.yaml
Labels: core

#5693 [docs] Document base
  packages/astro/src/@types/astro.ts
Labels: core

#5758 Setup changesets to backport to 1.0 legacy branch
  .github/workflows/release.yml
Labels: 🚨 action

#5757 [ci] Skip OG images in docs smoke test
  .github/workflows/ci.yml
Labels: 🚨 action

#5760 Fix legacy branch name in the release action
  .github/workflows/release.yml
Labels: 🚨 action

#5762 fix broken link in tailwind example docs
  examples/with-tailwindcss/README.md
Labels: example

#5761 Log pretty error when MDX integration is missing
  .changeset/smart-clouds-applaud.md
  packages/astro/src/core/errors/dev/vite.ts
  packages/astro/src/core/errors/errors-data.ts
  packages/astro/src/core/render/dev/index.ts
Labels: core

#5767 Fix MDX integration error message not being compatible with docs
  packages/astro/src/core/errors/README.md
  packages/astro/src/core/errors/dev/vite.ts
  packages/astro/src/core/errors/errors-data.ts
Labels: core

#5584 feat: change path into assets
  .changeset/lovely-worms-invite.md
  packages/astro/src/core/build/static-build.ts
  packages/astro/test/astro-dynamic.test.js
  packages/astro/test/astro-envs.test.js
  packages/astro/test/sourcemap.test.js
  packages/integrations/deno/src/index.ts
  packages/integrations/image/src/index.ts
  packages/integrations/netlify/src/integration-edge-functions.ts
Labels: integration, core, semver major

#5656 Update compiler
  packages/astro/package.json
  pnpm-lock.yaml
Labels: core

#5776 [@astrojs/lit] Fix slotted content
  .changeset/kind-beers-give.md
  packages/astro/test/fixtures/lit-element/src/pages/slots.astro
  packages/astro/test/fixtures/lit-element/tsconfig.json
  packages/astro/test/lit-element.test.js
  packages/astro/test/ssr-lit.test.js
  packages/integrations/lit/package.json
  packages/integrations/lit/server.js
  pnpm-lock.yaml
Labels: framework-lit, integration, core

#5769 Add SmartyPants flag
  .changeset/angry-pots-boil.md
  packages/astro/src/@types/astro.ts
  packages/astro/src/core/config/schema.ts
  packages/astro/test/astro-markdown-plugins.test.js
  packages/astro/test/fixtures/astro-markdown-plugins/src/pages/with-smartypants.md
  packages/integrations/mdx/package.json
  packages/integrations/mdx/src/index.ts
  packages/integrations/mdx/src/plugins.ts
  packages/integrations/mdx/test/fixtures/mdx-plugins/src/pages/with-plugins.mdx
  packages/integrations/mdx/test/mdx-plugins.test.js
  packages/markdown/remark/package.json
  packages/markdown/remark/src/index.ts
  packages/markdown/remark/src/types.ts
  pnpm-lock.yaml
Labels: markdown, integration, core, semver minor

#5768 Drop Node 14 in CI for Node 16 and add Node 18 to the matrix
  .changeset/modern-bulldogs-film.md
  .github/workflows/benchmark.yml
  .github/workflows/ci.yml
  packages/astro/test/units/test-utils.js
  packages/integrations/netlify/src/netlify-functions.ts
  packages/integrations/node/test/test-utils.js
Labels: 🚨 action, integration, core

#5778 Remove proload for config loading
  .changeset/calm-peas-doubt.md
  packages/astro/package.json
  packages/astro/src/content/utils.ts
  packages/astro/src/core/config/config.ts
  packages/astro/src/core/config/vite-load.ts
  packages/astro/test/test-utils.js
  pnpm-lock.yaml
  scripts/memory/index.js
Labels: core

#5791 [@astrojs/lit] Fix slotted content into main
  .changeset/kind-beers-give.md
  packages/astro/test/fixtures/lit-element/src/pages/slots.astro
  packages/astro/test/fixtures/lit-element/tsconfig.json
  packages/astro/test/lit-element.test.js
  packages/astro/test/ssr-lit.test.js
  packages/integrations/lit/package.json
  packages/integrations/lit/server.js
  pnpm-lock.yaml
Labels: framework-lit, integration, core

#5798 Fix broken link in comments
  packages/astro/env.d.ts
Labels: core

#5793 Add `@version` metadata to config reference types
  packages/astro/src/@types/astro.ts
Labels: core

#5785 Remove Astro-flavored Markdown from `@astrojs/markdown-remark`
  .changeset/poor-chicken-film.md
  packages/astro/src/vite-plugin-markdown/index.ts
  packages/markdown/remark/package.json
  packages/markdown/remark/src/index.ts
  packages/markdown/remark/src/mdast-util-mdxish.ts
  packages/markdown/remark/src/mdxjs.ts
  packages/markdown/remark/src/rehype-collect-headings.ts
  packages/markdown/remark/src/rehype-escape.ts
  packages/markdown/remark/src/rehype-expressions.ts
  packages/markdown/remark/src/rehype-islands.ts
  packages/markdown/remark/src/rehype-jsx.ts
  packages/markdown/remark/src/remark-escape.ts
  packages/markdown/remark/src/remark-mark-and-unravel.ts
  packages/markdown/remark/src/remark-mdxish.ts
  packages/markdown/remark/src/remark-unwrap.ts
  packages/markdown/remark/src/types.ts
  packages/markdown/remark/test/autolinking.test.js
  packages/markdown/remark/test/components.test.js
  packages/markdown/remark/test/entities.test.js
  packages/markdown/remark/test/expressions.test.js
  packages/markdown/remark/test/strictness.test.js
  pnpm-lock.yaml
Labels: markdown, core

#5806 Add Astro as a peerDependency
  .changeset/thin-seahorses-worry.md
  packages/integrations/cloudflare/package.json
  packages/integrations/deno/package.json
  packages/integrations/image/package.json
  packages/integrations/netlify/package.json
  packages/integrations/node/package.json
  packages/integrations/svelte/package.json
  packages/integrations/tailwind/package.json
  packages/integrations/vercel/package.json
  packages/integrations/vue/package.json
  packages/markdown/remark/package.json
Labels: markdown, framework-svelte, framework-vue, integration

#5772 Output assets to `_astro` directory
  .changeset/lovely-worms-invite.md
  packages/astro/src/@types/astro.ts
  packages/astro/src/core/build/static-build.ts
  packages/astro/src/core/config/schema.ts
  packages/astro/src/core/fs/index.ts
  packages/astro/test/0-css.test.js
  packages/astro/test/astro-css-bundling.test.js
  packages/astro/test/astro-dynamic.test.js
  packages/astro/test/astro-envs.test.js
  packages/astro/test/astro-scripts.test.js
  packages/astro/test/build-assets.test.js
  packages/astro/test/config-vite-css-target.test.js
  packages/astro/test/css-no-code-split.test.js
  packages/astro/test/fixtures/build-assets/package.json
  packages/astro/test/fixtures/build-assets/src/components/SomeComponent.jsx
  packages/astro/test/fixtures/build-assets/src/pages/index.astro
  packages/astro/test/postcss.test.js
  packages/astro/test/sourcemap.test.js
  packages/astro/test/tailwindcss.test.js
  packages/integrations/deno/src/index.ts
  packages/integrations/image/src/build/ssg.ts
  packages/integrations/image/src/index.ts
  packages/integrations/image/test/background-color-image-ssr.test.js
  packages/integrations/image/test/get-image.test.js
  packages/integrations/image/test/image-ssg.test.js
  packages/integrations/image/test/image-ssr-build.test.js
  packages/integrations/image/test/picture-ssg.test.js
  packages/integrations/image/test/picture-ssr-build.test.js
  packages/integrations/image/test/rotation.test.js
  packages/integrations/image/test/with-mdx.test.js
  packages/integrations/netlify/src/integration-edge-functions.ts
  pnpm-lock.yaml
Labels: integration, core

#5804 [markdown-remark] Remove unused dependencies
  packages/markdown/remark/package.json
  pnpm-lock.yaml
Labels: markdown

#5753 Default preview host to localhost
  .changeset/lemon-bobcats-kick.md
  packages/astro/package.json
  packages/astro/src/core/dev/dev.ts
  packages/astro/src/core/messages.ts
  packages/astro/src/core/preview/index.ts
  packages/astro/src/core/preview/static-preview-server.ts
  packages/astro/src/core/preview/util.ts
  packages/astro/src/core/preview/vite-plugin-astro-preview.ts
  packages/astro/src/core/util.ts
  packages/astro/test/cli.test.js
  packages/integrations/prefetch/package.json
  packages/integrations/prefetch/test/basic-prefetch.test.js
  packages/integrations/prefetch/test/custom-selectors.test.js
  packages/integrations/prefetch/test/style-prefetch.test.js
  pnpm-lock.yaml
Labels: integration, core, semver major

#5782 Drop Node 14 support
  .changeset/chatty-rivers-camp.md
  .changeset/curvy-beds-warn.md
  .changeset/stupid-wolves-explain.md
  packages/astro-prism/package.json
  packages/astro/astro.js
  packages/astro/package.json
  packages/astro/src/runtime/server/escape.ts
  packages/astro/src/runtime/server/response.ts
  packages/astro/src/runtime/server/util.ts
  packages/astro/test/ssr-api-route.test.js
  packages/astro/test/streaming.test.js
  packages/astro/test/test-utils.js
  packages/create-astro/package.json
  packages/integrations/lit/server-shim.js
  packages/integrations/mdx/package.json
  packages/integrations/node/package.json
  packages/integrations/node/src/response-iterator.ts
  packages/integrations/preact/package.json
  packages/integrations/react/package.json
  packages/integrations/solid/package.json
  packages/integrations/svelte/package.json
  packages/integrations/vercel/src/serverless/entrypoint.ts
  packages/integrations/vercel/src/serverless/request-transform.ts
  packages/integrations/vercel/src/serverless/request-transform/legacy.ts
  packages/integrations/vue/package.json
  packages/telemetry/package.json
  packages/telemetry/src/post.ts
  packages/webapi/LICENSE
  packages/webapi/README.md
  packages/webapi/package.json
  packages/webapi/run/build.js
  packages/webapi/src/lib/fetch.ts
  packages/webapi/src/ponyfill.ts
  packages/webapi/src/types.d.ts
  packages/webapi/test/fetch.js
  pnpm-lock.yaml
Labels: framework-svelte, framework-vue, framework-react, framework-preact, framework-solid, framework-lit, integration, create-astro, core

#5773 Cleanup dependencies
  .changeset/six-carpets-talk.md
  packages/astro/package.json
  packages/astro/src/core/config/schema.ts
  packages/astro/src/core/create-vite.ts
  packages/astro/src/core/render/ssr-element.ts
  packages/astro/src/core/util.ts
  packages/astro/src/template/4xx.ts
  packages/astro/src/vite-plugin-jsx/tag.ts
  pnpm-lock.yaml
Labels: core

#5770 [Content Collections] Allow Zod unions, objects, and transforms as schemas
  examples/with-content/src/content/config.ts
  examples/with-content/src/content/types.generated.d.ts
  packages/astro/src/content/template/types.generated.d.ts
  packages/astro/src/content/utils.ts
  packages/astro/test/content-collections.test.js
  packages/astro/test/fixtures/content-collections/src/content/config.ts
  packages/astro/test/fixtures/content-collections/src/content/with-union-schema/newsletter.md
  packages/astro/test/fixtures/content-collections/src/content/with-union-schema/post.md
  packages/astro/test/fixtures/content-collections/src/pages/collections.json.js
  packages/astro/test/fixtures/content-collections/src/pages/entries.json.js
  packages/astro/test/fixtures/content-ssr-integration/src/content/config.ts
  packages/astro/test/fixtures/content-static-paths-integration/src/content/config.ts
  packages/astro/test/fixtures/content/src/content/config.ts
Labels: example, core

#5812 test(create-astro): correct wrong argument
  packages/create-astro/test/utils.js
Labels: create-astro

#5701 can jump 404 when that page does not exist
  .changeset/red-snakes-fetch.md
  packages/integrations/node/package.json
  packages/integrations/node/src/middleware.ts
  packages/integrations/node/src/server.ts
  packages/integrations/node/src/standalone.ts
  packages/integrations/node/test/api-route.test.js
  packages/integrations/node/test/fixtures/node-middleware/package.json
  packages/integrations/node/test/fixtures/node-middleware/src/pages/404.astro
  packages/integrations/node/test/fixtures/node-middleware/src/pages/index.astro
  packages/integrations/node/test/node-middleware.test.js
  pnpm-lock.yaml
Labels: integration

#5808 Remove old migration guide link from error docs
  packages/astro/src/core/errors/errors-data.ts
Labels: core

#5820 Bumps partytown version to fix deprecation warning
  .changeset/gold-baboons-tie.md
  packages/integrations/partytown/package.json
  pnpm-lock.yaml
Labels: integration

#5786 [Content collections] Move generated types to `.astro` directory
  .changeset/curvy-foxes-reply.md
  examples/with-content/.astro/types.d.ts
  examples/with-content/src/env.d.ts
  packages/astro/src/cli/sync/index.ts
  packages/astro/src/content/consts.ts
  packages/astro/src/content/index.ts
  packages/astro/src/content/template/types.d.ts
  packages/astro/src/content/template/virtual-mod.mjs
  packages/astro/src/content/types-generator.ts
  packages/astro/src/content/utils.ts
  packages/astro/src/content/vite-plugin-content-server.ts
  packages/astro/src/content/vite-plugin-content-virtual-mod.ts
  packages/astro/src/core/create-vite.ts
  packages/astro/src/vite-plugin-inject-env-ts/index.ts
  packages/astro/test/astro-sync.test.js
  packages/astro/test/content-collections.test.js
  packages/astro/test/fixtures/.gitignore
  packages/astro/test/fixtures/content-collections/.gitignore
  packages/astro/test/fixtures/content-ssr-integration/.gitignore
  packages/astro/test/fixtures/content-static-paths-integration/.gitignore
  packages/astro/test/fixtures/content/.gitignore
Labels: example, core, semver minor

#5832 Add support for serving well-known URIs with the @astrojs/node SSR adapter
  .changeset/two-needles-buy.md
  packages/astro/src/core/build/static-build.ts
  packages/astro/test/fixtures/static-build-ssr/public/.well-known/apple-app-site-association
  packages/astro/test/static-build.test.js
  packages/integrations/node/src/http-server.ts
  packages/integrations/node/test/fixtures/well-known-locations/package.json
  packages/integrations/node/test/fixtures/well-known-locations/public/.hidden/file.json
  packages/integrations/node/test/fixtures/well-known-locations/public/.well-known/apple-app-site-association
  packages/integrations/node/test/well-known-locations.test.js
  pnpm-lock.yaml
Labels: integration, core

#5829 Fix `Code.astro` shiki css class replace logic
  .changeset/sweet-rocks-count.md
  packages/astro/components/Code.astro
Labels: core

#5822 Fix order-of-execution bug when generating pages
  .changeset/beige-beds-smile.md
  packages/astro/src/core/build/vite-plugin-prerender.ts
Labels: core

#5823 Run sync as part of `astro check`
  .changeset/real-nails-clean.md
  packages/astro/src/cli/check/index.ts
  packages/astro/src/cli/index.ts
Labels: core, semver minor

#5824 [Content collections] Improve content config handling
  .changeset/fluffy-onions-wink.md
  packages/astro/src/cli/sync/index.ts
  packages/astro/src/content/types-generator.ts
  packages/astro/src/content/utils.ts
  packages/astro/src/content/vite-plugin-content-server.ts
Labels: core

#5825 [Content collections] Remove experimental flag
  .changeset/thin-beers-drive.md
  .gitignore
  examples/with-content/astro.config.mjs
  packages/astro/src/@types/astro.ts
  packages/astro/src/core/build/generate.ts
  packages/astro/src/core/build/static-build.ts
  packages/astro/src/core/build/vite-plugin-css.ts
  packages/astro/src/core/build/vite-plugin-ssr.ts
  packages/astro/src/core/config/config.ts
  packages/astro/src/core/config/schema.ts
  packages/astro/src/core/create-vite.ts
  packages/astro/src/core/render/dev/environment.ts
  packages/astro/src/vite-plugin-markdown/index.ts
  packages/astro/test/fixtures/.gitignore
  packages/astro/test/fixtures/content-collections/astro.config.mjs
  packages/astro/test/fixtures/content-ssr-integration/astro.config.mjs
  packages/astro/test/fixtures/content-static-paths-integration/astro.config.mjs
  packages/astro/test/fixtures/content/astro.config.mjs
  packages/astro/test/units/dev/collections-renderentry.test.js
  packages/integrations/mdx/src/plugins.ts
  packages/markdown/remark/src/index.ts
  packages/markdown/remark/src/remark-content-rel-image-error.ts
  packages/markdown/remark/src/types.ts
  packages/markdown/remark/test/autolinking.test.js
  packages/markdown/remark/test/entities.test.js
  packages/markdown/remark/test/plugins.test.js
  packages/markdown/remark/test/test-utils.js
Labels: markdown, example, integration, core

#5811 Simplify HMR handling
  .changeset/fluffy-mirrors-swim.md
  packages/astro/src/core/compile/compile.ts
  packages/astro/src/core/create-vite.ts
  packages/astro/src/vite-plugin-astro/compile.ts
  packages/astro/src/vite-plugin-astro/index.ts
  packages/astro/src/vite-plugin-scanner/index.ts
  packages/astro/src/vite-plugin-scripts/page-ssr.ts
  packages/astro/src/vite-plugin-utils/index.ts
Labels: core, hmr

#5837 fix shiki css class replace logic in md and mdx integrations
  .changeset/giant-chefs-rule.md
  packages/integrations/mdx/src/remark-shiki.ts
  packages/markdown/remark/src/remark-shiki.ts
Labels: markdown, integration

#5803 Handle compiler breaking change
  .changeset/dull-rabbits-relax.md
  .npmrc
  package.json
  packages/astro/package.json
  packages/astro/src/core/compile/compile.ts
  packages/astro/src/runtime/server/astro-global.ts
  packages/astro/src/vite-plugin-astro/hmr.ts
  packages/astro/src/vite-plugin-astro/index.ts
  packages/astro/test/fixtures/third-party-astro/package.json
  packages/astro/test/units/compile/invalid-css.test.js
  packages/astro/test/units/vite-plugin-astro/compile.test.js
  pnpm-lock.yaml
Labels: core

#5836 Handle encoded characters when matching routes
  .changeset/swift-kangaroos-decide.md
  packages/astro/src/core/routing/match.ts
  packages/integrations/node/test/encoded.test.js
  packages/integrations/node/test/fixtures/encoded/package.json
  packages/integrations/node/test/fixtures/encoded/src/pages/blog/什么.md
  packages/integrations/node/test/fixtures/encoded/src/pages/什么.astro
  packages/integrations/node/test/test-utils.js
  pnpm-lock.yaml
Labels: integration, core

#5842 Add changeset for `_astro` directory
  .changeset/spicy-tips-dream.md
  packages/astro/CHANGELOG.md
  packages/integrations/deno/CHANGELOG.md
  packages/integrations/image/CHANGELOG.md
  packages/integrations/netlify/CHANGELOG.md
Labels: integration, core

#5840 fix: pass flags to dev
  .changeset/eleven-bulldogs-provide.md
  packages/astro/src/cli/index.ts
  packages/astro/src/core/dev/dev.ts
Labels: core

#5765 Implement redesign of portfolio example
  examples/portfolio/README.md
  examples/portfolio/public/assets/at-work.jpg
  examples/portfolio/public/assets/backgrounds/bg-footer-dark-1440w.jpg
  examples/portfolio/public/assets/backgrounds/bg-footer-dark-800w.jpg
  examples/portfolio/public/assets/backgrounds/bg-footer-light-1440w.jpg
  examples/portfolio/public/assets/backgrounds/bg-footer-light-800w.jpg
  examples/portfolio/public/assets/backgrounds/bg-main-dark-1440w.jpg
  examples/portfolio/public/assets/backgrounds/bg-main-dark-800w.jpg
  examples/portfolio/public/assets/backgrounds/bg-main-dark.svg
  examples/portfolio/public/assets/backgrounds/bg-main-light-1440w.jpg
  examples/portfolio/public/assets/backgrounds/bg-main-light-800w.jpg
  examples/portfolio/public/assets/backgrounds/bg-main-light.svg
  examples/portfolio/public/assets/backgrounds/bg-subtle-1-dark-1440w.jpg
  examples/portfolio/public/assets/backgrounds/bg-subtle-1-dark-800w.jpg
  examples/portfolio/public/assets/backgrounds/bg-subtle-1-light-1440w.jpg
  examples/portfolio/public/assets/backgrounds/bg-subtle-1-light-800w.jpg
  examples/portfolio/public/assets/backgrounds/bg-subtle-2-dark-1440w.jpg
  examples/portfolio/public/assets/backgrounds/bg-subtle-2-dark-800w.jpg
  examples/portfolio/public/assets/backgrounds/bg-subtle-2-light-1440w.jpg
  examples/portfolio/public/assets/backgrounds/bg-subtle-2-light-800w.jpg
  examples/portfolio/public/assets/backgrounds/noise.png
  examples/portfolio/public/assets/mesh-gradient.jpg
  examples/portfolio/public/assets/portrait.jpg
  examples/portfolio/public/assets/stock-1.jpg
  examples/portfolio/public/assets/stock-2.jpg
  examples/portfolio/public/assets/stock-3.jpg
  examples/portfolio/public/assets/stock-4.jpg
  examples/portfolio/src/components/CallToAction.astro
  examples/portfolio/src/components/ContactCTA.astro
  examples/portfolio/src/components/Footer.astro
  examples/portfolio/src/components/Grid.astro
  examples/portfolio/src/components/Hero.astro
  examples/portfolio/src/components/Icon.astro
  examples/portfolio/src/components/IconPaths.ts
  examples/portfolio/src/components/MainHead.astro
  examples/portfolio/src/components/Nav.astro
  examples/portfolio/src/components/Pill.astro
  examples/portfolio/src/components/PortfolioPreview.astro
  examples/portfolio/src/components/Skills.astro
  examples/portfolio/src/components/ThemeToggle.astro
  examples/portfolio/src/content/config.ts
  examples/portfolio/src/content/work/bloom-box.md
  examples/portfolio/src/content/work/h20.md
  examples/portfolio/src/content/work/markdown-mystery-tour.md
  examples/portfolio/src/content/work/nested/duvet-genius.md
  examples/portfolio/src/env.d.ts
  examples/portfolio/src/layouts/BaseLayout.astro
  examples/portfolio/src/layouts/project.astro
  examples/portfolio/src/pages/404.astro
  examples/portfolio/src/pages/about.astro
  examples/portfolio/src/pages/index.astro
  examples/portfolio/src/pages/project/mars-rover.md
  examples/portfolio/src/pages/project/nested/lunar-eclipse.md
  examples/portfolio/src/pages/projects.astro
  examples/portfolio/src/pages/work.astro
  examples/portfolio/src/pages/work/[...slug].astro
  examples/portfolio/src/styles/global.css
  examples/portfolio/src/types.ts
Labels: example

#5852 Support envPrefix in Astro config
  .changeset/twenty-llamas-type.md
  packages/astro/src/core/build/static-build.ts
  packages/astro/src/core/create-vite.ts
Labels: core

#5845 Fix importing client-side components with alias
  .changeset/ninety-garlics-fly.md
  packages/astro/src/core/build/static-build.ts
  packages/astro/src/core/build/vite-plugin-alias-resolve.ts
  packages/astro/test/alias.test.js
Labels: core

#5849 Handle server restart from Vite plugins
  .changeset/poor-ladybugs-thank.md
  packages/astro/src/core/dev/restart.ts
  packages/astro/test/units/dev/restart.test.js
Labels: core

#5872 Enable skipLibCheck by default
  .changeset/witty-pugs-drum.md
  packages/astro/tsconfigs/base.json
Labels: core

#5864 Add missing `noPropertyAccessFromIndexSignature` to strictest tsconfig profile
  .changeset/smooth-cycles-sing.md
  packages/astro/tsconfigs/strictest.json
Labels: core

#5876 Revert "Add missing `noPropertyAccessFromIndexSignature` to strictest tsconfig profile"
  .changeset/smooth-cycles-sing.md
  packages/astro/tsconfigs/strictest.json
Labels: core

#5862 Remove unused exports
  .changeset/wicked-clouds-obey.md
  packages/astro/package.json
Labels: core

#5788 Refactor `Props` of `Image` and `Picture` component to support type checking
  .changeset/mean-suits-cover.md
  packages/integrations/image/components/Image.astro
  packages/integrations/image/components/Picture.astro
  packages/integrations/image/components/index.ts
  packages/integrations/image/test/fixtures/basic-image/src/pages/index.astro
Labels: integration

#5891 Cleanup deprecated Markdown APIs from 0.X
  .changeset/calm-emus-raise.md
  packages/astro/src/@types/astro.ts
  packages/astro/src/vite-plugin-markdown/index.ts
  packages/integrations/mdx/src/index.ts
  packages/integrations/mdx/src/plugins.ts
Labels: integration, core

#5896 Update compiler
  .changeset/smooth-guests-perform.md
  packages/astro/package.json
  pnpm-lock.yaml
Labels: core

#5884 feat: add theme toggle button to error overlay
  .changeset/few-rice-report.md
  packages/astro/src/core/errors/overlay.ts
Labels: core

#5608 fix(astro/core): Do not automatically add trailing slash
  .changeset/twelve-cooks-tickle.md
  packages/astro/src/core/config/schema.ts
Labels: core, semver major

#5901 Refactor Svelte preprocess integration handling
  .changeset/chatty-planes-bathe.md
  examples/framework-svelte/svelte.config.js
  packages/astro/src/core/add/index.ts
  packages/integrations/svelte/README.md
  packages/integrations/svelte/src/index.ts
Labels: framework-svelte, example, integration, core, semver minor

#5893 Rename getEntry to getEntryBySlug
  .changeset/neat-eagles-trade.md
  packages/astro/src/content/internal.ts
  packages/astro/src/content/template/types.d.ts
  packages/astro/src/content/template/virtual-mod.mjs
  packages/astro/test/fixtures/content-collections/src/content/config.ts
  packages/astro/test/fixtures/content-collections/src/pages/entries.json.js
Labels: core

#5851 [RSS] Get ready for content collections
  .changeset/fluffy-cups-travel.md
  examples/blog/src/pages/rss.xml.js
  packages/astro-rss/README.md
  packages/astro-rss/package.json
  packages/astro-rss/src/index.ts
  packages/astro-rss/src/schema.ts
  packages/astro-rss/src/util.ts
  packages/astro-rss/test/pagesGlobToRssItems.test.js
  packages/astro-rss/test/rss.test.js
  packages/astro-rss/test/test-utils.js
  packages/astro-rss/tsconfig.json
  pnpm-lock.yaml
Labels: example

#5909 Update compiler to 1.0.1
  .changeset/three-comics-share.md
  packages/astro/package.json
  pnpm-lock.yaml
Labels: core

#5905 Fix CLI node version check
  .changeset/six-dingos-add.md
  packages/astro/astro.js
Labels: core

#5898 Add headless support to create-astro
  .changeset/kind-panthers-doubt.md
  packages/create-astro/README.md
  packages/create-astro/src/index.ts
Labels: create-astro

#5920 Improve error message for third-party template 404s
  .changeset/large-hotels-give.md
  packages/create-astro/src/index.ts
Labels: create-astro

#5923 Improve Svelte README
  .changeset/lucky-ants-push.md
  packages/integrations/svelte/README.md
Labels: framework-svelte, integration

#5930 Update magic-string used by @astrojs/image and @astrojs/webapi
  .changeset/lucky-tigers-know.md
  packages/integrations/image/package.json
  packages/webapi/package.json
  pnpm-lock.yaml
Labels: integration

#5908 fix(@astrojs/tailwind): manually load postcss config file
  .changeset/ten-paws-obey.md
  packages/integrations/tailwind/package.json
  packages/integrations/tailwind/src/index.ts
  pnpm-lock.yaml
Labels: integration

#5904 Support prerender in Netlify redirects
  .changeset/real-rules-occur.md
  packages/integrations/netlify/src/integration-edge-functions.ts
  packages/integrations/netlify/src/integration-functions.ts
  packages/integrations/netlify/src/shared.ts
  packages/integrations/netlify/test/functions/dynamic-route.test.js
  packages/integrations/netlify/test/functions/fixtures/dynamic-route/src/pages/pets/[cat].astro
  packages/integrations/netlify/test/functions/fixtures/dynamic-route/src/pages/pets/[dog].astro
  packages/integrations/netlify/test/functions/fixtures/dynamic-route/src/pages/pets/index.astro
  packages/integrations/netlify/test/functions/fixtures/prerender/src/pages/404.astro
  packages/integrations/netlify/test/functions/fixtures/prerender/src/pages/index.astro
  packages/integrations/netlify/test/functions/fixtures/prerender/src/pages/one.astro
  packages/integrations/netlify/test/functions/prerender.test.js
Labels: integration

#5499 Handle custom injected entry files during build
  .changeset/kind-seahorses-reply.md
  packages/astro/src/core/build/static-build.ts
Labels: core

#5944 Migrate CHANGELOGs from `1-legacy` branch
  packages/astro/CHANGELOG.md
  packages/integrations/lit/CHANGELOG.md
Labels: framework-lit, integration, core

#5941 [Content Collections] Add `slug` frontmatter field
  .changeset/large-steaks-film.md
  packages/astro/src/content/types-generator.ts
  packages/astro/src/content/utils.ts
  packages/astro/src/content/vite-plugin-content-server.ts
  packages/astro/src/core/errors/errors-data.ts
  packages/astro/test/content-collections.test.js
  packages/astro/test/fixtures/content-collections/src/content/config.ts
  packages/astro/test/fixtures/content-collections/src/content/with-custom-slugs/one.md
  packages/astro/test/fixtures/content-collections/src/content/with-custom-slugs/three.md
  packages/astro/test/fixtures/content-collections/src/content/with-custom-slugs/two.md
  packages/astro/test/fixtures/content-collections/src/pages/collections.json.js
  packages/astro/test/fixtures/content-collections/src/pages/entries.json.js
Labels: core

#5958 fix(create-astro): typescript prompt handling
  .changeset/angry-cups-hug.md
  packages/create-astro/src/index.ts
Labels: create-astro

#5962 Fix Content Collections not loading config file when there are spaces in the folder tree
  .changeset/silly-bees-impress.md
  packages/astro/src/content/utils.ts
  packages/astro/test/content-collections.test.js
  packages/astro/test/fixtures/content with spaces in folder name/package.json
  packages/astro/test/fixtures/content with spaces in folder name/src/content/config.ts
  packages/astro/test/fixtures/content with spaces in folder name/src/pages/index.astro
  pnpm-lock.yaml
Labels: core

#5966 docs(svelte): Update integration README
  packages/integrations/svelte/README.md
Labels: framework-svelte, integration

#5969 Protect against shimmed process usage in Vercel Edge
  .changeset/nasty-dolphins-cry.md
  packages/astro/src/core/logger/core.ts
Labels: core

#5972 Upgrade semver dependency
  .changeset/swift-toes-divide.md
  packages/astro/package.json
  pnpm-lock.yaml
Labels: core

#5977 [docs] typo fix in MDX README
  packages/integrations/mdx/README.md
Labels: integration

#5983 Handle unmatched 404 when using prerender in dev mode
  .changeset/fluffy-cherries-shake.md
  packages/astro/src/core/render/core.ts
  packages/astro/test/ssr-prerender-get-static-paths.test.js
Labels: core

#5970 [Content collections] Support type guards on `getCollection()` filter
  .changeset/strong-hotels-sort.md
  packages/astro/src/content/template/types.d.ts
Labels: core

#5886 Support passing `children` as props to a React component
  .changeset/fresh-eels-speak.md
  packages/astro/test/fixtures/react-component/src/components/WithChildren.jsx
  packages/astro/test/fixtures/react-component/src/pages/index.astro
  packages/astro/test/react-component.test.js
  packages/integrations/react/server-v17.js
  packages/integrations/react/server.js
Labels: framework-react, integration, core

#5971 change @astrojs/solid to @astrojs/solid-js
  .changeset/serious-turtles-explode.md
  packages/astro/src/runtime/server/render/component.ts
Labels: core

#5952 fix: component is not able to use a custom theme anymore
  .changeset/ten-icons-raise.md
  packages/astro/components/Code.astro
  packages/astro/components/Shiki.js
Labels: core

#5914 Re-enable streaming on Cloudflare Pages
  .changeset/tidy-ties-repeat.md
  packages/integrations/cloudflare/src/server.advanced.ts
  packages/integrations/cloudflare/src/server.directory.ts
Labels: integration

#5201 Make examples more consistent
  examples/basics/.gitignore
  examples/basics/README.md
  examples/deno/README.md
  examples/docs/README.md
  examples/docs/package.json
  examples/hackernews/package.json
Labels: example

#5992 Fix `Astro.url.protocol` when using the @astrojs/node SSR adapter with HTTPS
  .changeset/odd-rats-drop.md
  packages/astro/src/core/app/node.ts
  packages/integrations/node/src/standalone.ts
  packages/integrations/node/test/fixtures/url-protocol/package.json
  packages/integrations/node/test/fixtures/url-protocol/src/pages/index.astro
  packages/integrations/node/test/url-protocol.test.js
  pnpm-lock.yaml
Labels: integration, core

#5993 Support for prerendering in the Cloudflare integration
  .changeset/good-avocados-repeat.md
  packages/integrations/cloudflare/src/index.ts
  packages/integrations/cloudflare/src/server.advanced.ts
  packages/integrations/cloudflare/src/server.directory.ts
  packages/integrations/cloudflare/src/util.ts
  packages/integrations/cloudflare/test/fixtures/prerender/astro.config.mjs
  packages/integrations/cloudflare/test/fixtures/prerender/package.json
  packages/integrations/cloudflare/test/fixtures/prerender/src/pages/index.astro
  packages/integrations/cloudflare/test/fixtures/prerender/src/pages/one.astro
  packages/integrations/cloudflare/test/prerender.test.js
  pnpm-lock.yaml
Labels: integration

#5978 Fix MDX heading IDs generation when using a frontmatter reference
  .changeset/eighty-knives-remain.md
  packages/integrations/mdx/test/fixtures/mdx-get-headings/src/pages/test-with-frontmatter.mdx
  packages/integrations/mdx/test/mdx-get-headings.test.js
  packages/markdown/remark/package.json
  packages/markdown/remark/src/rehype-collect-headings.ts
  pnpm-lock.yaml
Labels: markdown, integration

#5478 Updated according to new configuration
  .changeset/cuddly-donkeys-warn.md
  packages/integrations/alpinejs/README.md
  packages/integrations/image/README.md
  packages/integrations/lit/README.md
  packages/integrations/mdx/README.md
  packages/integrations/preact/README.md
  packages/integrations/prefetch/README.md
  packages/integrations/react/README.md
  packages/integrations/sitemap/README.md
  packages/integrations/solid/README.md
  packages/integrations/svelte/README.md
  packages/integrations/tailwind/README.md
  packages/integrations/turbolinks/README.md
  packages/integrations/vue/README.md
Labels: framework-svelte, framework-vue, framework-react, framework-preact, framework-solid, framework-lit, integration

#5927 fix: undefined remarkPluginFrontmatter after calling render method
  .changeset/lazy-buttons-prove.md
  packages/astro/src/content/vite-plugin-content-assets.ts
Labels: core

#5997 fix error in changelog formatting
  packages/astro/CHANGELOG.md
Labels: core

#5953 Add a check for existing .git directory (and skip if one is found).
  .changeset/try-button-rumor.md
  packages/create-astro/src/index.ts
Labels: create-astro

#5998 fix: Don’t require `getCollection()` filter to be a type guard
  .changeset/rotten-dogs-hide.md
  packages/astro/src/content/internal.ts
  packages/astro/src/content/template/types.d.ts
Labels: core

#6002 fix: autoprefixer on dev mode for tailwind plugin
  .changeset/mean-tips-search.md
  examples/with-tailwindcss/src/components/Button.astro
  packages/astro/e2e/fixtures/tailwindcss/src/components/Button.astro
  packages/astro/e2e/tailwindcss.test.js
  packages/integrations/tailwind/README.md
  packages/integrations/tailwind/src/index.ts
Labels: example, integration, core

#5874 feat(@astrojs/netlify): Add on-demand builders Netlify functions
  .changeset/twenty-pans-agree.md
  packages/integrations/netlify/README.md
  packages/integrations/netlify/src/integration-edge-functions.ts
  packages/integrations/netlify/src/integration-functions.ts
  packages/integrations/netlify/src/netlify-functions.ts
  packages/integrations/netlify/src/shared.ts
Labels: integration

#6006 Makes the `AstroCookies` type importable directly from "astro"
  .changeset/modern-colts-fix.md
  packages/astro/src/@types/astro.ts
Labels: core

#6008 `@astrojs/image`: Allow passing `undefined` to transform options
  .changeset/polite-wombats-play.md
  .changeset/strange-olives-rest.md
  packages/integrations/image/src/lib/get-picture.ts
  packages/integrations/image/src/loaders/index.ts
Labels: integration

#6019 Fix local image example in @astrojs/image README
  packages/integrations/image/README.md
Labels: integration

#6024 Remove outdated MDX import types
  .changeset/gentle-weeks-lie.md
  packages/astro/client-base.d.ts
Labels: core

#6028 Fix `edit this Page` on `examples/docs`
  examples/docs/README.md
  examples/docs/src/layouts/MainLayout.astro
Labels: example

#6034 Simplified head injection
  .changeset/good-items-rest.md
  packages/astro/src/@types/astro.ts
  packages/astro/src/runtime/server/render/astro/head-and-content.ts
  packages/astro/src/runtime/server/render/common.ts
  packages/astro/src/runtime/server/render/head.ts
  packages/astro/src/runtime/server/render/slot.ts
  packages/astro/src/runtime/server/render/types.ts
  packages/astro/test/units/render/head.test.js
  packages/integrations/mdx/test/css-head-mdx.test.js
  packages/integrations/mdx/test/fixtures/css-head-mdx/src/components/HelloWorld.astro
  packages/integrations/mdx/test/fixtures/css-head-mdx/src/layouts/One.astro
  packages/integrations/mdx/test/fixtures/css-head-mdx/src/layouts/Three.astro
  packages/integrations/mdx/test/fixtures/css-head-mdx/src/layouts/Two.astro
  packages/integrations/mdx/test/fixtures/css-head-mdx/src/pages/indexOne.astro
  packages/integrations/mdx/test/fixtures/css-head-mdx/src/pages/indexThree.astro
  packages/integrations/mdx/test/fixtures/css-head-mdx/src/pages/indexTwo.astro
  packages/integrations/mdx/test/fixtures/css-head-mdx/src/pages/testOne.mdx
  packages/integrations/mdx/test/fixtures/css-head-mdx/src/pages/testThree.mdx
  packages/integrations/mdx/test/fixtures/css-head-mdx/src/pages/testTwo.mdx
  packages/integrations/mdx/test/fixtures/css-head-mdx/src/test.mdx
Labels: integration, core

#6036 Improve top-level return error
  .changeset/neat-actors-switch.md
  packages/astro/src/vite-plugin-astro/compile.ts
Labels: core

#6046 Fix Cloudflare directory mode regression
  .changeset/long-boats-perform.md
  packages/integrations/cloudflare/src/index.ts
  packages/integrations/cloudflare/test/directory.test.js
Labels: integration

#6045 Handle invalid argument errors
  .changeset/happy-fireants-occur.md
  packages/astro/src/core/errors/errors-data.ts
  packages/astro/src/runtime/server/astro-component.ts
Labels: core

#5894 Fix `GetPictureResult` interface
  .changeset/chilly-ads-roll.md
  packages/integrations/image/src/lib/get-picture.ts
Labels: integration

#5932 fix(image): allow usage of image from any directory
  .changeset/heavy-meals-complain.md
  packages/integrations/image/package.json
  packages/integrations/image/src/vite-plugin-astro-image.ts
  packages/integrations/image/test/fixtures/basic-image/social.png
  packages/integrations/image/test/fixtures/basic-image/src/pages/index.astro
  packages/integrations/image/test/fixtures/basic-picture/social.png
  packages/integrations/image/test/fixtures/basic-picture/src/pages/index.astro
  packages/integrations/image/test/image-ssg.test.js
  packages/integrations/image/test/image-ssr-dev.test.js
  packages/integrations/image/test/picture-ssg.test.js
  packages/integrations/image/test/picture-ssr-build.test.js
  packages/integrations/image/test/picture-ssr-dev.test.js
  packages/integrations/image/test/squoosh-service.test.js
  pnpm-lock.yaml
Labels: integration

#6052 error overlay: show `cause` if available
  .changeset/clever-panthers-end.md
  packages/astro/src/core/errors/dev/vite.ts
  packages/astro/src/core/errors/overlay.ts
Labels: core

#6063 Wrap tag in example error message in code backticks
  packages/astro/src/core/errors/errors-data.ts
Labels: core

#6068 Correct usage of `getImage` function
  packages/integrations/image/README.md
Labels: integration

#6050 [MDX] Syntax highlighting after user plugins
  .changeset/orange-carpets-greet.md
  packages/integrations/mdx/src/plugins.ts
Labels: integration
