Repository withastro/astro, pull requests merged in 2023-05, with the labels that each got.

#6933 Configure redoc to be noExternal
  .changeset/many-fans-reply.md
  packages/integrations/react/src/index.ts
Labels: framework-react, integration

#6940 Show injected custom 404 route in dev
  .changeset/ninety-snails-study.md
  packages/astro/src/vite-plugin-astro-server/route.ts
  packages/astro/test/custom-404-html.test.js
  packages/astro/test/custom-404-injected.test.js
  packages/astro/test/fixtures/custom-404-html/astro.config.mjs
  packages/astro/test/fixtures/custom-404-html/package.json
  packages/astro/test/fixtures/custom-404-html/src/pages/404.html
  packages/astro/test/fixtures/custom-404-html/src/pages/index.astro
  packages/astro/test/fixtures/custom-404-injected/astro.config.mjs
  packages/astro/test/fixtures/custom-404-injected/package.json
  packages/astro/test/fixtures/custom-404-injected/src/404.astro
  packages/astro/test/fixtures/custom-404-injected/src/pages/index.astro
  packages/astro/test/units/dev/dev.test.js
  pnpm-lock.yaml
Labels: core

#6939 Fix some TS compilation errors
  packages/integrations/netlify/test/edge-functions/dynamic-import.test.js
  packages/integrations/netlify/test/edge-functions/edge-basic.test.ts
  packages/integrations/netlify/test/edge-functions/prerender.test.ts
  packages/integrations/netlify/test/edge-functions/root-dynamic.test.ts
  packages/integrations/netlify/test/edge-functions/test-utils.ts
Labels: integration

#6953 Upgrade to version 1.0.0 of the language server
  .changeset/tidy-points-do.md
  package.json
  packages/astro/package.json
  pnpm-lock.yaml
Labels: core

#6948 Fix slot tags uncleaned in HTML String
  .changeset/sharp-jobs-grow.md
  packages/astro/src/runtime/server/render/component.ts
  packages/astro/test/astro-slot-with-client.test.js
Labels: core

#6952 fix: fix sharp semver range to allow for 0.32.0
  .changeset/thick-frogs-call.md
  packages/astro/package.json
  packages/integrations/image/package.json
  packages/integrations/image/test/fixtures/background-color-image/package.json
  packages/integrations/image/test/fixtures/basic-image/package.json
  packages/integrations/image/test/fixtures/basic-picture/package.json
  packages/integrations/image/test/fixtures/get-image-remote/package.json
  packages/integrations/image/test/fixtures/no-alt-text-image/package.json
  packages/integrations/image/test/fixtures/no-alt-text-picture/package.json
  packages/integrations/image/test/fixtures/rotation/package.json
  packages/integrations/image/test/fixtures/with-mdx/package.json
  pnpm-lock.yaml
Labels: integration, core

#6910 Inline `process.env` boolean values (`0`, `1`, `false`, `true`)
  .changeset/shaggy-berries-accept.md
  packages/astro/src/vite-plugin-env/index.ts
Labels: core

#6956 Make prerendering decision based on `PageBuildData` instead of `BuildInternals`
  .changeset/popular-bats-pump.md
  packages/astro/src/core/build/generate.ts
  packages/astro/src/core/build/internal.ts
  packages/astro/src/core/build/plugins/plugin-ssr.ts
  packages/astro/src/core/build/static-build.ts
Labels: core

#6957 Implement tests for integrations mutating prerendering
  packages/astro/test/fixtures/ssr-prerender/src/pages/not-prerendered.astro
  packages/astro/test/ssr-prerender-integrations.test.js
Labels: core

#6845 feat(vercel): Add support for image optimization API
  .changeset/wise-geckos-applaud.md
  packages/integrations/vercel/README.md
  packages/integrations/vercel/package.json
  packages/integrations/vercel/src/edge/adapter.ts
  packages/integrations/vercel/src/image/build-service.ts
  packages/integrations/vercel/src/image/dev-service.ts
  packages/integrations/vercel/src/image/shared.ts
  packages/integrations/vercel/src/serverless/adapter.ts
  packages/integrations/vercel/src/static/adapter.ts
  packages/integrations/vercel/test/fixtures/image/astro.config.mjs
  packages/integrations/vercel/test/fixtures/image/package.json
  packages/integrations/vercel/test/fixtures/image/src/assets/astro.jpeg
  packages/integrations/vercel/test/fixtures/image/src/pages/index.astro
  packages/integrations/vercel/test/image.test.js
  packages/integrations/vercel/test/serverless-prerender.test.js
  pnpm-lock.yaml
Labels: integration

#6961 fix(types): Fix getImage type requesting for a second parameter
  .changeset/nice-jars-breathe.md
  packages/astro/client-base.d.ts
  packages/astro/src/assets/internal.ts
Labels: core

#6960 Improve undici fetch failed errors in tests
  packages/astro/test/astro-get-static-paths.test.js
  packages/astro/test/ssr-prerender-get-static-paths.test.js
  packages/astro/test/test-utils.js
Labels: core

#6964 fix: update lit example to properly ignore error
  examples/framework-lit/src/pages/index.astro
Labels: example

#6967 Fix `astro-entry` error on build with multiple JSX frameworks
  .changeset/loud-bears-glow.md
  packages/astro/src/core/build/plugins/plugin-component-entry.ts
  packages/astro/src/vite-plugin-jsx/index.ts
Labels: core

#6958 Fix content render imports flow
  .changeset/shy-games-punch.md
  packages/astro/src/content/vite-plugin-content-imports.ts
Labels: core

#6934 Update Solid ecosystem package logic to include packages with peerDep…
  .changeset/purple-lamps-sleep.md
  packages/integrations/solid/src/index.ts
Labels: framework-solid, integration

#6969 Avoid removing leading slash for `build.assetsPrefix`
  .changeset/rotten-worms-walk.md
  packages/astro/src/core/path.ts
  packages/astro/test/astro-assets-prefix.test.js
  packages/integrations/image/src/utils/paths.ts
Labels: integration, core

#6932 Upgrade shiki to v0.14.1
  .changeset/smooth-cows-jog.md
  packages/astro/components/shiki-languages.js
  packages/astro/components/shiki-themes.js
  packages/astro/package.json
  packages/astro/scripts/shiki-gen-languages.mjs
  packages/astro/scripts/shiki-gen-themes.mjs
  packages/astro/test/astro-component-code.test.js
  packages/astro/test/astro-markdown-shiki.test.js
  packages/integrations/markdoc/test/fixtures/render-with-components/package.json
  packages/integrations/markdoc/test/render.test.js
  packages/integrations/mdx/package.json
  packages/integrations/mdx/src/remark-shiki.ts
  packages/integrations/mdx/test/mdx-syntax-highlighting.test.js
  packages/markdown/component/test/astro-markdown-shiki.test.js
  packages/markdown/component/test/astro-markdown.test.js
  packages/markdown/remark/package.json
  packages/markdown/remark/src/remark-shiki.ts
  pnpm-lock.yaml
Labels: markdown, integration, core, semver minor

#6771 Implement scopedStyleStrategy
  .changeset/green-cups-hammer.md
  packages/astro/package.json
  packages/astro/src/@types/astro.ts
  packages/astro/src/core/compile/compile.ts
  packages/astro/src/core/config/schema.ts
  packages/astro/test/fixtures/scoped-style-strategy/package.json
  packages/astro/test/fixtures/scoped-style-strategy/src/pages/index.astro
  packages/astro/test/scoped-style-strategy.test.js
  pnpm-lock.yaml
Labels: core, semver minor

#6973 Ensure multiple cookies set in dev result in multiple set-cookie headers
  .changeset/twelve-feet-switch.md
  packages/astro/src/vite-plugin-astro-server/response.ts
  packages/astro/test/fixtures/ssr-api-route/src/pages/login.js
  packages/astro/test/ssr-api-route.test.js
Labels: core

#6959 Support `<Code inline />` to output inline code
  .changeset/nine-geckos-act.md
  packages/astro/components/Code.astro
  packages/astro/test/astro-component-code.test.js
  packages/astro/test/fixtures/astro-component-code/src/pages/inline.astro
Labels: core, semver minor

#6534 Sitemap: support SSR routes
  .changeset/chatty-dolls-visit.md
  packages/integrations/sitemap/package.json
  packages/integrations/sitemap/src/index.ts
  packages/integrations/sitemap/test/fixtures/ssr/astro.config.mjs
  packages/integrations/sitemap/test/fixtures/ssr/package.json
  packages/integrations/sitemap/test/fixtures/ssr/src/pages/one.astro
  packages/integrations/sitemap/test/fixtures/ssr/src/pages/two.astro
  packages/integrations/sitemap/test/ssr.test.js
  pnpm-lock.yaml
Labels: integration, semver minor

#6978 fix: double test names
  packages/integrations/sitemap/test/fixtures/ssr/package.json
Labels: integration

#6659 feature: configuration for css inlining behavior
  .changeset/friendly-fishes-sing.md
  packages/astro/src/@types/astro.ts
  packages/astro/src/content/runtime.ts
  packages/astro/src/content/vite-plugin-content-assets.ts
  packages/astro/src/core/app/index.ts
  packages/astro/src/core/app/types.ts
  packages/astro/src/core/build/generate.ts
  packages/astro/src/core/build/internal.ts
  packages/astro/src/core/build/page-data.ts
  packages/astro/src/core/build/plugins/plugin-css.ts
  packages/astro/src/core/build/plugins/plugin-ssr.ts
  packages/astro/src/core/build/types.ts
  packages/astro/src/core/config/schema.ts
  packages/astro/src/core/render/ssr-element.ts
  packages/astro/src/runtime/server/index.ts
  packages/astro/src/runtime/server/render/head.ts
  packages/astro/src/runtime/server/render/index.ts
  packages/astro/src/runtime/server/render/tags.ts
  packages/astro/test/content-collections-render.test.js
  packages/astro/test/css-import-as-inline.test.js
  packages/astro/test/css-inline-stylesheets.js
  packages/astro/test/fixtures/content/src/components/H3.astro
  packages/astro/test/fixtures/content/src/components/LayoutProp.astro
  packages/astro/test/fixtures/content/src/pages/with-layout-prop.astro
  packages/astro/test/fixtures/css-import-as-inline/package.json
  packages/astro/test/fixtures/css-import-as-inline/src/inline.css
  packages/astro/test/fixtures/css-import-as-inline/src/layouts/Layout.astro
  packages/astro/test/fixtures/css-import-as-inline/src/pages/index.astro
  packages/astro/test/fixtures/css-import-as-inline/src/raw.css
  packages/astro/test/fixtures/css-inline-stylesheets/always/package.json
  packages/astro/test/fixtures/css-inline-stylesheets/always/src/components/Button.astro
  packages/astro/test/fixtures/css-inline-stylesheets/always/src/content/en/endeavour.md
  packages/astro/test/fixtures/css-inline-stylesheets/always/src/imported.css
  packages/astro/test/fixtures/css-inline-stylesheets/always/src/layouts/Layout.astro
  packages/astro/test/fixtures/css-inline-stylesheets/always/src/pages/index.astro
  packages/astro/test/fixtures/css-inline-stylesheets/auto/package.json
  packages/astro/test/fixtures/css-inline-stylesheets/auto/src/components/Button.astro
  packages/astro/test/fixtures/css-inline-stylesheets/auto/src/content/en/endeavour.md
  packages/astro/test/fixtures/css-inline-stylesheets/auto/src/imported.css
  packages/astro/test/fixtures/css-inline-stylesheets/auto/src/layouts/Layout.astro
  packages/astro/test/fixtures/css-inline-stylesheets/auto/src/pages/index.astro
  packages/astro/test/fixtures/css-inline-stylesheets/never/package.json
  packages/astro/test/fixtures/css-inline-stylesheets/never/src/components/Button.astro
  packages/astro/test/fixtures/css-inline-stylesheets/never/src/content/en/endeavour.md
  packages/astro/test/fixtures/css-inline-stylesheets/never/src/imported.css
  packages/astro/test/fixtures/css-inline-stylesheets/never/src/layouts/Layout.astro
  packages/astro/test/fixtures/css-inline-stylesheets/never/src/pages/index.astro
  packages/astro/test/units/dev/head-injection.test.js
  pnpm-lock.yaml
Labels: core, semver minor

#6980 Fixed scopedStyleStrategy version
  packages/astro/src/@types/astro.ts
Labels: core

#6987 ci: fix and update check merge workflow
  .github/workflows/check-merge.yml
Labels: 🚨 action

#6986 chore: update middleware changeset
  .changeset/pretty-bears-deliver.md
Labels: semver minor

#6976 Generate unique ids within each React island
  .changeset/happy-ears-call.md
  packages/astro/test/fixtures/react-component/src/components/WithId.jsx
  packages/astro/test/fixtures/react-component/src/pages/index.astro
  packages/astro/test/react-component.test.js
  packages/integrations/react/client.js
  packages/integrations/react/context.js
  packages/integrations/react/server.js
Labels: framework-react, integration, core

#6994 Fix scopedStyleStrategy description
  packages/astro/src/@types/astro.ts
Labels: core

#6995 fix: move service functions from astro/assets to astro/config so it can be imported
  .changeset/mean-houses-exist.md
  packages/astro/config.d.ts
  packages/astro/config.mjs
  packages/astro/src/assets/index.ts
Labels: core

#6999 [docs] escape style tags for config reference
  packages/astro/src/@types/astro.ts
Labels: core

#7001 Fix `partytown` README
  .changeset/wise-jars-trade.md
  packages/integrations/partytown/README.md
Labels: integration

#7002 Update template deps to latest
  examples/basics/package.json
  examples/blog/package.json
  examples/component/package.json
  examples/deno/package.json
  examples/docs/package.json
  examples/framework-alpine/package.json
  examples/framework-lit/package.json
  examples/framework-multiple/package.json
  examples/framework-preact/package.json
  examples/framework-react/package.json
  examples/framework-solid/package.json
  examples/framework-svelte/package.json
  examples/framework-vue/package.json
  examples/hackernews/package.json
  examples/integration/package.json
  examples/middleware/package.json
  examples/minimal/package.json
  examples/non-html-pages/package.json
  examples/portfolio/package.json
  examples/ssr/package.json
  examples/with-markdoc/package.json
  examples/with-markdown-plugins/package.json
  examples/with-markdown-shiki/package.json
  examples/with-mdx/package.json
  examples/with-nanostores/package.json
  examples/with-tailwindcss/package.json
  examples/with-vite-plugin-pwa/package.json
  examples/with-vitest/package.json
  pnpm-lock.yaml
Labels: example

#7009 fix: declare namespace so client-base.d.ts stays an ambient definition
  .changeset/giant-planes-try.md
  packages/astro/client-base.d.ts
  packages/astro/src/assets/internal.ts
Labels: core

#7010 fix(middleware): emit warning if `next` is called and nothing is returned
  .changeset/large-seahorses-reply.md
  examples/middleware/src/env.d.ts
  examples/middleware/src/middleware.ts
  examples/middleware/src/pages/api/login.ts
  packages/astro/src/core/middleware/callMiddleware.ts
  packages/astro/test/fixtures/middleware-dev/src/middleware.js
  packages/astro/test/fixtures/middleware-tailwind/astro.config.mjs
  packages/astro/test/fixtures/middleware-tailwind/package.json
  packages/astro/test/fixtures/middleware-tailwind/src/middleware.js
  packages/astro/test/fixtures/middleware-tailwind/src/pages/index.astro
  packages/astro/test/middleware.test.js
  pnpm-lock.yaml
Labels: example, core

#7032 fix middleware typing export
  .changeset/new-seals-hear.md
  packages/astro/package.json
Labels: core

#7029 Fix generation for routes defined using getStaticPaths
  .changeset/hungry-spies-kick.md
  packages/integrations/cloudflare/test/fixtures/basics/functions/[[path]].js
  packages/integrations/sitemap/src/index.ts
  packages/integrations/sitemap/test/fixtures/static/astro.config.mjs
  packages/integrations/sitemap/test/fixtures/static/package.json
  packages/integrations/sitemap/test/fixtures/static/src/pages/[slug].astro
  packages/integrations/sitemap/test/staticPaths.test.js
  pnpm-lock.yaml
Labels: integration

#7047 fix: properly prefix endpoint path with base in SSR
  .changeset/clean-carpets-battle.md
  packages/astro/src/assets/services/service.ts
  packages/astro/test/core-image.test.js
Labels: core

#7000 fix: don't require 'paths' object in tsconfig to alias paths
  .changeset/dry-garlics-push.md
  packages/astro/src/vite-plugin-config-alias/index.ts
  packages/astro/test/alias-tsconfig-baseurl-only.test.js
  packages/astro/test/fixtures/alias-tsconfig-baseurl-only/astro.config.mjs
  packages/astro/test/fixtures/alias-tsconfig-baseurl-only/package.json
  packages/astro/test/fixtures/alias-tsconfig-baseurl-only/src/components/Alias.svelte
  packages/astro/test/fixtures/alias-tsconfig-baseurl-only/src/components/Client.svelte
  packages/astro/test/fixtures/alias-tsconfig-baseurl-only/src/components/Foo.astro
  packages/astro/test/fixtures/alias-tsconfig-baseurl-only/src/components/Style.astro
  packages/astro/test/fixtures/alias-tsconfig-baseurl-only/src/pages/index.astro
  packages/astro/test/fixtures/alias-tsconfig-baseurl-only/src/styles/extra.css
  packages/astro/test/fixtures/alias-tsconfig-baseurl-only/src/styles/main.css
  packages/astro/test/fixtures/alias-tsconfig-baseurl-only/src/utils/constants.js
  packages/astro/test/fixtures/alias-tsconfig-baseurl-only/src/utils/index.js
  packages/astro/test/fixtures/alias-tsconfig-baseurl-only/tsconfig.json
  pnpm-lock.yaml
Labels: core

#7055 fix(image): Fix astro:assets from interfering with SSR query params ending with image extensions
  .changeset/young-schools-refuse.md
  packages/astro/src/assets/vite-plugin-assets.ts
  packages/astro/test/core-image.test.js
  packages/astro/test/fixtures/core-image-ssr/src/pages/api.ts
Labels: core

#7086 Fix `create-astro` regression
  .changeset/nice-shrimps-search.md
  packages/create-astro/src/actions/dependencies.ts
Labels: create-astro

#6876 Inject analytics env
  .changeset/fifty-guests-remember.md
  packages/integrations/vercel/src/edge/adapter.ts
  packages/integrations/vercel/src/lib/env.ts
  packages/integrations/vercel/src/serverless/adapter.ts
  packages/integrations/vercel/src/static/adapter.ts
Labels: integration

#7044 Escape closing script tag when using define:vars
  .changeset/fresh-baboons-switch.md
  packages/astro/src/runtime/server/render/util.ts
  packages/astro/test/astro-directives.test.js
  packages/astro/test/fixtures/astro-directives/src/pages/define-vars.astro
Labels: core

#7084 Fix e2e flaky tests
  packages/astro/e2e/lit-component.test.js
  packages/astro/e2e/namespaced-component.test.js
  packages/astro/e2e/nested-in-preact.test.js
  packages/astro/e2e/nested-in-react.test.js
  packages/astro/e2e/nested-in-solid.test.js
  packages/astro/e2e/nested-in-svelte.test.js
  packages/astro/e2e/nested-in-vue.test.js
  packages/astro/e2e/nested-recursive.test.js
  packages/astro/e2e/shared-component-tests.js
  packages/astro/e2e/solid-recurse.test.js
  packages/astro/e2e/test-utils.js
  packages/astro/e2e/ts-resolution.test.js
Labels: core

#7105 Update lockfile CI
  .github/workflows/nightly.yml
Labels: 🚨 action

#7102 refactor(assets): Move generation logic out of internal.ts
  .changeset/brown-goats-serve.md
  packages/astro/src/assets/generate.ts
  packages/astro/src/assets/internal.ts
  packages/astro/src/core/build/generate.ts
Labels: core

#7101 Build edge/worker runtime with webworker ssr target
  .changeset/quiet-gifts-pay.md
  .changeset/silver-ties-vanish.md
  packages/integrations/cloudflare/src/index.ts
  packages/integrations/solid/src/index.ts
  packages/integrations/vercel/package.json
  packages/integrations/vercel/src/edge/adapter.ts
  pnpm-lock.yaml
Labels: framework-solid, integration

#7104 Add files field to packages
  .changeset/young-impalas-boil.md
  packages/astro-prism/package.json
  packages/astro-rss/package.json
  packages/integrations/alpinejs/package.json
  packages/integrations/cloudflare/package.json
  packages/integrations/deno/package.json
  packages/integrations/image/.npmignore
  packages/integrations/lit/package.json
  packages/integrations/markdoc/package.json
  packages/integrations/mdx/package.json
  packages/integrations/netlify/.npmignore
  packages/integrations/netlify/package.json
  packages/integrations/node/package.json
  packages/integrations/partytown/package.json
  packages/integrations/preact/package.json
  packages/integrations/prefetch/package.json
  packages/integrations/react/package.json
  packages/integrations/solid/package.json
  packages/integrations/svelte/package.json
  packages/integrations/tailwind/package.json
  packages/integrations/turbolinks/package.json
  packages/integrations/vercel/package.json
  packages/integrations/vue/package.json
  packages/markdown/component/package.json
  packages/markdown/remark/package.json
Labels: markdown, framework-svelte, framework-vue, framework-react, framework-preact, framework-solid, framework-lit, integration

#7106 fix: middleware for API endpoints
  .changeset/long-starfishes-raise.md
  packages/astro/src/core/app/index.ts
  packages/astro/src/core/build/generate.ts
  packages/astro/src/core/endpoint/dev/index.ts
  packages/astro/src/core/endpoint/index.ts
  packages/astro/src/core/middleware/callMiddleware.ts
  packages/astro/src/core/render/dev/index.ts
  packages/astro/test/fixtures/middleware-dev/src/middleware.js
  packages/astro/test/fixtures/middleware-dev/src/pages/api/endpoint.js
  packages/astro/test/middleware.test.js
Labels: core

#7074 Implement custom client directives
  .changeset/tall-eyes-vanish.md
  packages/astro/astro-jsx.d.ts
  packages/astro/e2e/custom-client-directives.test.js
  packages/astro/e2e/fixtures/custom-client-directives/astro.config.mjs
  packages/astro/e2e/fixtures/custom-client-directives/client-click.js
  packages/astro/e2e/fixtures/custom-client-directives/client-password.js
  packages/astro/e2e/fixtures/custom-client-directives/package.json
  packages/astro/e2e/fixtures/custom-client-directives/src/client-directives-types.d.ts
  packages/astro/e2e/fixtures/custom-client-directives/src/components/Counter.jsx
  packages/astro/e2e/fixtures/custom-client-directives/src/pages/index.astro
  packages/astro/e2e/fixtures/custom-client-directives/tsconfig.json
  packages/astro/e2e/test-utils.js
  packages/astro/package.json
  packages/astro/src/@types/astro.ts
  packages/astro/src/core/app/common.ts
  packages/astro/src/core/app/index.ts
  packages/astro/src/core/app/types.ts
  packages/astro/src/core/build/generate.ts
  packages/astro/src/core/build/plugins/plugin-ssr.ts
  packages/astro/src/core/client-directive/build.ts
  packages/astro/src/core/client-directive/default.ts
  packages/astro/src/core/client-directive/index.ts
  packages/astro/src/core/config/schema.ts
  packages/astro/src/core/config/settings.ts
  packages/astro/src/core/render/core.ts
  packages/astro/src/core/render/dev/environment.ts
  packages/astro/src/core/render/environment.ts
  packages/astro/src/core/render/result.ts
  packages/astro/src/integrations/index.ts
  packages/astro/src/jsx/babel.ts
  packages/astro/src/runtime/client/idle.ts
  packages/astro/src/runtime/client/load.ts
  packages/astro/src/runtime/client/media.ts
  packages/astro/src/runtime/client/only.ts
  packages/astro/src/runtime/client/visible.ts
  packages/astro/src/runtime/server/hydration.ts
  packages/astro/src/runtime/server/render/astro/instance.ts
  packages/astro/src/runtime/server/render/common.ts
  packages/astro/src/runtime/server/render/component.ts
  packages/astro/src/runtime/server/scripts.ts
  packages/astro/test/test-utils.js
  pnpm-lock.yaml
  scripts/cmd/prebuild.js
Labels: core, semver minor

#7103 Add `edge-light` and `worker` to vercel edge bundling
  .changeset/pretty-planets-wink.md
  packages/integrations/vercel/src/edge/adapter.ts
Labels: integration

#7095 [Markdoc] `headings` and heading IDs
  .changeset/pretty-students-try.md
  packages/astro/src/core/config/vite-load.ts
  packages/integrations/markdoc/README.md
  packages/integrations/markdoc/package.json
  packages/integrations/markdoc/src/config.ts
  packages/integrations/markdoc/src/default-config.ts
  packages/integrations/markdoc/src/experimental-assets-config.ts
  packages/integrations/markdoc/src/index.ts
  packages/integrations/markdoc/src/nodes/heading.ts
  packages/integrations/markdoc/src/nodes/index.ts
  packages/integrations/markdoc/src/runtime.ts
  packages/integrations/markdoc/test/fixtures/headings-custom/astro.config.mjs
  packages/integrations/markdoc/test/fixtures/headings-custom/markdoc.config.mjs
  packages/integrations/markdoc/test/fixtures/headings-custom/package.json
  packages/integrations/markdoc/test/fixtures/headings-custom/src/components/Heading.astro
  packages/integrations/markdoc/test/fixtures/headings-custom/src/content/docs/headings.mdoc
  packages/integrations/markdoc/test/fixtures/headings-custom/src/pages/index.astro
  packages/integrations/markdoc/test/fixtures/headings/astro.config.mjs
  packages/integrations/markdoc/test/fixtures/headings/markdoc.config.mjs
  packages/integrations/markdoc/test/fixtures/headings/package.json
  packages/integrations/markdoc/test/fixtures/headings/src/content/docs/headings.mdoc
  packages/integrations/markdoc/test/fixtures/headings/src/pages/index.astro
  packages/integrations/markdoc/test/headings.test.js
  pnpm-lock.yaml
Labels: integration, core

#6854 adding meta description tag to basics example
  examples/basics/src/layouts/Layout.astro
Labels: example

#6991 feat: hybrid output
  .changeset/mighty-shoes-scream.md
  packages/astro/src/@types/astro.ts
  packages/astro/src/assets/generate.ts
  packages/astro/src/assets/internal.ts
  packages/astro/src/core/build/generate.ts
  packages/astro/src/core/build/index.ts
  packages/astro/src/core/build/plugins/plugin-pages.ts
  packages/astro/src/core/build/plugins/plugin-prerender.ts
  packages/astro/src/core/build/plugins/plugin-ssr.ts
  packages/astro/src/core/build/static-build.ts
  packages/astro/src/core/config/config.ts
  packages/astro/src/core/config/schema.ts
  packages/astro/src/core/config/settings.ts
  packages/astro/src/core/endpoint/index.ts
  packages/astro/src/core/errors/errors-data.ts
  packages/astro/src/core/render/dev/environment.ts
  packages/astro/src/core/routing/manifest/create.ts
  packages/astro/src/core/util.ts
  packages/astro/src/integrations/index.ts
  packages/astro/src/prerender/utils.ts
  packages/astro/src/runtime/server/endpoint.ts
  packages/astro/src/vite-plugin-astro-server/request.ts
  packages/astro/src/vite-plugin-astro-server/route.ts
  packages/astro/src/vite-plugin-scanner/index.ts
  packages/astro/src/vite-plugin-scanner/scan.ts
  packages/astro/test/ssr-prerender-integrations.test.js
  packages/astro/test/ssr-prerender.test.js
  packages/integrations/cloudflare/package.json
  packages/integrations/cloudflare/src/index.ts
  packages/integrations/cloudflare/test/fixtures/prerender/src/pages/one.astro
  packages/integrations/cloudflare/test/prerender.test.js
  packages/integrations/cloudflare/test/test-utils.js
  packages/integrations/deno/src/index.ts
  packages/integrations/image/src/index.ts
  packages/integrations/image/src/utils/prerender.ts
  packages/integrations/netlify/src/integration-edge-functions.ts
  packages/integrations/netlify/src/integration-functions.ts
  packages/integrations/netlify/test/edge-functions/deps.ts
  packages/integrations/netlify/test/edge-functions/dynamic-import.test.js
  packages/integrations/netlify/test/edge-functions/edge-basic.test.ts
  packages/integrations/netlify/test/edge-functions/fixtures/prerender/astro.config.mjs
  packages/integrations/netlify/test/edge-functions/fixtures/prerender/src/pages/index.astro
  packages/integrations/netlify/test/edge-functions/prerender.test.ts
  packages/integrations/netlify/test/edge-functions/root-dynamic.test.ts
  packages/integrations/netlify/test/edge-functions/test-utils.ts
  packages/integrations/netlify/test/functions/fixtures/prerender/src/pages/one.astro
  packages/integrations/netlify/test/functions/prerender.test.js
  packages/integrations/node/src/index.ts
  packages/integrations/node/test/fixtures/prerender/src/pages/two.astro
  packages/integrations/node/test/prerender.test.js
  packages/integrations/vercel/src/edge/adapter.ts
  packages/integrations/vercel/src/lib/prerender.ts
  packages/integrations/vercel/src/serverless/adapter.ts
  packages/integrations/vercel/src/static/adapter.ts
  packages/integrations/vercel/test/fixtures/serverless-prerender/src/pages/index.astro
  packages/integrations/vercel/test/serverless-prerender.test.js
  pnpm-lock.yaml
Labels: integration, core, semver minor

#7069 feat: uncomment polymorphic type
  .changeset/two-carrots-smile.md
  packages/astro/types.d.ts
Labels: core, semver minor

#7093 Prevent removal of nested slots within islands
  .changeset/unlucky-lamps-remember.md
  packages/astro/src/@types/astro.ts
  packages/astro/src/runtime/server/render/component.ts
  packages/astro/src/vite-plugin-jsx/index.ts
  packages/astro/test/astro-slots-nested.test.js
  packages/astro/test/fixtures/astro-slots-nested/astro.config.mjs
  packages/astro/test/fixtures/astro-slots-nested/package.json
  packages/astro/test/fixtures/astro-slots-nested/src/components/Inner.tsx
  packages/astro/test/fixtures/astro-slots-nested/src/components/PassesChildren.tsx
  packages/astro/test/fixtures/astro-slots-nested/src/components/PassesChildrenP.tsx
  packages/astro/test/fixtures/astro-slots-nested/src/components/PassesChildrenS.tsx
  packages/astro/test/fixtures/astro-slots-nested/src/components/PassesChildrenSv.svelte
  packages/astro/test/fixtures/astro-slots-nested/src/components/PassesChildrenV.vue
  packages/astro/test/fixtures/astro-slots-nested/src/pages/server-component-nested.astro
  packages/integrations/preact/src/server.ts
  packages/integrations/preact/src/static-html.ts
  packages/integrations/react/server-v17.js
  packages/integrations/react/server.js
  packages/integrations/react/static-html.js
  packages/integrations/solid/src/server.ts
  packages/integrations/svelte/server.js
  packages/integrations/vue/server.js
  packages/integrations/vue/static-html.js
  pnpm-lock.yaml
Labels: framework-svelte, framework-vue, framework-react, framework-preact, framework-solid, integration, core, semver minor

#7108 Fix imports using ?raw and ?url not working when `experimental.assets` is enabled
  .changeset/thirty-squids-relax.md
  packages/astro/src/assets/vite-plugin-assets.ts
  packages/astro/test/core-image.test.js
  packages/astro/test/fixtures/core-image/src/pages/vite.astro
Labels: core

#7110 Fix weird periods in `NoMatchingRenderer` error
  .changeset/ninety-sheep-knock.md
  packages/astro/src/core/errors/errors-data.ts
Labels: core

#6850 Data collections and references
  .changeset/early-eyes-bow.md
  package.json
  packages/astro/package.json
  packages/astro/src/@types/astro.ts
  packages/astro/src/content/consts.ts
  packages/astro/src/content/runtime-assets.ts
  packages/astro/src/content/runtime.ts
  packages/astro/src/content/template/types.d.ts
  packages/astro/src/content/template/virtual-mod.mjs
  packages/astro/src/content/types-generator.ts
  packages/astro/src/content/utils.ts
  packages/astro/src/content/vite-plugin-content-imports.ts
  packages/astro/src/content/vite-plugin-content-virtual-mod.ts
  packages/astro/src/core/config/settings.ts
  packages/astro/src/core/errors/errors-data.ts
  packages/astro/src/core/errors/errors.ts
  packages/astro/src/core/errors/index.ts
  packages/astro/src/core/errors/utils.ts
  packages/astro/src/core/sync/index.ts
  packages/astro/src/integrations/index.ts
  packages/astro/test/content-collection-references.test.js
  packages/astro/test/data-collections.test.js
  packages/astro/test/fixtures/content-collection-references/astro.config.mjs
  packages/astro/test/fixtures/content-collection-references/package.json
  packages/astro/test/fixtures/content-collection-references/src/assets/the-future.jpg
  packages/astro/test/fixtures/content-collection-references/src/content/authors/ben-holmes.yml
  packages/astro/test/fixtures/content-collection-references/src/content/authors/fred-schott.yml
  packages/astro/test/fixtures/content-collection-references/src/content/authors/nate-moore.yml
  packages/astro/test/fixtures/content-collection-references/src/content/banners/welcome.json
  packages/astro/test/fixtures/content-collection-references/src/content/blog/related-1.md
  packages/astro/test/fixtures/content-collection-references/src/content/blog/related-2.md
  packages/astro/test/fixtures/content-collection-references/src/content/blog/welcome.md
  packages/astro/test/fixtures/content-collection-references/src/content/config.ts
  packages/astro/test/fixtures/content-collection-references/src/pages/welcome-data.json.js
  packages/astro/test/fixtures/content-collection-references/src/pages/welcome.astro
  packages/astro/test/fixtures/content-mixed-errors/astro.config.mjs
  packages/astro/test/fixtures/content-mixed-errors/package.json
  packages/astro/test/fixtures/content-mixed-errors/src/content/authors/placeholder.json
  packages/astro/test/fixtures/content-mixed-errors/src/content/blog/placeholder.md
  packages/astro/test/fixtures/content-mixed-errors/src/pages/authors.astro
  packages/astro/test/fixtures/content-mixed-errors/src/pages/blog.astro
  packages/astro/test/fixtures/data-collections/astro.config.mjs
  packages/astro/test/fixtures/data-collections/package.json
  packages/astro/test/fixtures/data-collections/src/content/authors-without-config/Ben Holmes.yml
  packages/astro/test/fixtures/data-collections/src/content/authors-without-config/Fred K Schott.yml
  packages/astro/test/fixtures/data-collections/src/content/authors-without-config/Nate Moore.yml
  packages/astro/test/fixtures/data-collections/src/content/config.ts
  packages/astro/test/fixtures/data-collections/src/content/docs/example.md
  packages/astro/test/fixtures/data-collections/src/content/i18n/en.json
  packages/astro/test/fixtures/data-collections/src/content/i18n/es.json
  packages/astro/test/fixtures/data-collections/src/content/i18n/fr.yaml
  packages/astro/test/fixtures/data-collections/src/pages/authors/[id].json.js
  packages/astro/test/fixtures/data-collections/src/pages/authors/all.json.js
  packages/astro/test/fixtures/data-collections/src/pages/translations/[lang].json.js
  packages/astro/test/fixtures/data-collections/src/pages/translations/all.json.js
  packages/astro/test/units/content-collections/get-entry-info.test.js
  packages/astro/test/units/content-collections/get-entry-type.test.js
  packages/astro/test/units/dev/collections-mixed-content-errors.test.js
  packages/integrations/markdoc/src/index.ts
  pnpm-lock.yaml
Labels: integration, core, semver minor

#7111 Fix: add `headings` to `.mdoc` render type
  .changeset/plenty-cows-act.md
  packages/integrations/markdoc/template/content-module-types.d.ts
Labels: integration

#7011 Add errors for unknown experimental keys
  .changeset/red-eggs-speak.md
  packages/astro/src/core/config/schema.ts
  packages/astro/test/custom-elements.test.js
  packages/astro/test/fixtures/custom-elements/astro.config.mjs
  packages/astro/test/ssr-prerender-404.test.js
  packages/astro/test/ssr-prerender.test.js
Labels: core

#7119 Fix customClientDirectives config default typo
  packages/astro/src/core/config/schema.ts
Labels: core

#7114 chore: remove unused `content/internal` export
  packages/astro/package.json
Labels: core

#7071 Parallelize rendering of sibling components to avoid async waterfalls
  .changeset/clever-garlics-relate.md
  packages/astro/src/runtime/server/render/astro/render-template.ts
  packages/astro/src/runtime/server/render/page.ts
  packages/astro/src/runtime/server/render/util.ts
  packages/astro/test/fixtures/parallel/package.json
  packages/astro/test/fixtures/parallel/src/components/Delayed.astro
  packages/astro/test/fixtures/parallel/src/pages/index.astro
  packages/astro/test/fixtures/streaming/src/pages/slot.astro
  packages/astro/test/parallel.js
  pnpm-lock.yaml
Labels: core, semver minor

#7117 Document inlineStylesheets available astro version
  packages/astro/src/@types/astro.ts
Labels: core

#7132 refactor: create virtual module for middleware
  .changeset/good-frogs-report.md
  packages/astro/src/core/build/plugins/index.ts
  packages/astro/src/core/build/plugins/plugin-middleware.ts
  packages/astro/src/core/build/plugins/plugin-pages.ts
  packages/astro/src/core/build/static-build.ts
Labels: core

#7129 Fix e2e flaky tests again
  packages/astro/e2e/client-only.test.js
  packages/astro/e2e/errors.test.js
  packages/astro/e2e/hydration-race.test.js
  packages/astro/e2e/multiple-frameworks.test.js
  packages/astro/e2e/namespaced-component.test.js
  packages/astro/e2e/nested-in-preact.test.js
  packages/astro/e2e/nested-in-react.test.js
  packages/astro/e2e/nested-in-solid.test.js
  packages/astro/e2e/nested-in-svelte.test.js
  packages/astro/e2e/nested-in-vue.test.js
  packages/astro/e2e/nested-recursive.test.js
  packages/astro/e2e/pass-js.test.js
  packages/astro/e2e/shared-component-tests.js
  packages/astro/e2e/solid-circular.test.js
  packages/astro/e2e/solid-recurse.test.js
  packages/astro/e2e/test-utils.js
  packages/astro/playwright.config.js
  packages/astro/test/test-utils.js
Labels: core

#7128 Fix injectRoute for SSR
  .changeset/friendly-garlics-chew.md
  packages/astro/src/core/build/plugins/plugin-ssr.ts
  packages/astro/test/ssr-dynamic.test.js
Labels: core

#7123 fix(prefetch): Fix the inclusion of `@types/network-information`
  .changeset/brown-goats-serve.md
  packages/integrations/prefetch/src/client.ts
Labels: integration

#7141 Fix: Heading ID CI flakiness
  .changeset/eleven-tables-speak.md
  packages/integrations/markdoc/src/index.ts
  packages/integrations/markdoc/src/nodes/heading.ts
  packages/integrations/markdoc/src/nodes/index.ts
  packages/integrations/markdoc/src/runtime.ts
  packages/integrations/markdoc/test/fixtures/headings-custom/src/content/docs/headings-stale-cache-check.mdoc
  packages/integrations/markdoc/test/fixtures/headings-custom/src/pages/[slug].astro
  packages/integrations/markdoc/test/fixtures/headings/src/content/docs/headings-stale-cache-check.mdoc
  packages/integrations/markdoc/test/fixtures/headings/src/pages/[slug].astro
  packages/integrations/markdoc/test/headings.test.js
Labels: integration

#7150 fix(hybrid-output): no matched route when using `getStaticPaths`
  .changeset/strange-ties-cry.md
  packages/astro/src/core/build/plugins/plugin-prerender.ts
  packages/astro/src/core/endpoint/index.ts
  packages/astro/src/core/render/core.ts
  packages/astro/src/core/render/dev/index.ts
  packages/astro/src/core/render/route-cache.ts
  packages/astro/src/core/routing/manifest/create.ts
  packages/astro/src/core/routing/validation.ts
  packages/astro/src/prerender/metadata.ts
  packages/astro/src/vite-plugin-astro-server/route.ts
  packages/astro/test/ssr-prerender-get-static-paths.test.js
  pnpm-lock.yaml
Labels: core

#7144 fix(hoisted scripts): consider script's dependents
  .changeset/perfect-oranges-tease.md
  packages/astro/src/core/build/plugins/plugin-hoisted-scripts.ts
Labels: core

#7143 Render 404 page content for existing pages with 404 Response
  .changeset/tough-pots-visit.md
  packages/astro/src/core/app/index.ts
  packages/astro/test/fixtures/ssr-api-route-custom-404/src/pages/causes-404.astro
  packages/astro/test/ssr-404-500-pages.test.js
Labels: core

#7134 fix: value of var could be undefined when using `define:vars`
  .changeset/odd-geese-shop.md
  packages/astro/src/runtime/server/render/util.ts
  packages/astro/test/astro-directives.test.js
  packages/astro/test/fixtures/astro-directives/src/pages/define-vars.astro
Labels: core

#7125 Make vite-plugin-content-virtual-mod run `getEntrySlug` 10 at a time
  .changeset/dull-teachers-work.md
  packages/astro/package.json
  packages/astro/src/content/vite-plugin-content-virtual-mod.ts
  pnpm-lock.yaml
Labels: core

#7174 chore(middleware): lift restriction around serializable data
  .changeset/fuzzy-cycles-trade.md
  packages/astro/src/core/endpoint/index.ts
  packages/astro/src/core/errors/errors-data.ts
  packages/astro/src/core/render/core.ts
  packages/astro/test/middleware.test.js
Labels: core

#7171 Prevent Vite watching on Astro config load
  .changeset/orange-lizards-report.md
  packages/astro/src/core/config/vite-load.ts
  packages/astro/src/core/sync/index.ts
Labels: core

#6832 fix a bug when Fragment is as a slot
  .changeset/good-parrots-work.md
  packages/astro/src/core/render/result.ts
  packages/astro/src/runtime/server/render/slot.ts
  packages/astro/test/fixtures/set-html/components/Slot.astro
  packages/astro/test/fixtures/set-html/src/pages/children.astro
  packages/astro/test/set-html.test.js
Labels: core

#7182 Implement support for redirects config in the Vercel adapter
  packages/astro/package.json
  packages/astro/src/core/build/generate.ts
  packages/astro/src/core/path.ts
  packages/integrations/vercel/package.json
  packages/integrations/vercel/src/lib/redirects.ts
  packages/integrations/vercel/test/fixtures/redirects/astro.config.mjs
  packages/integrations/vercel/test/fixtures/redirects/package.json
  packages/integrations/vercel/test/fixtures/redirects/src/pages/index.astro
  packages/integrations/vercel/test/fixtures/redirects/src/pages/team/articles/[...slug].astro
  packages/integrations/vercel/test/redirects.test.js
  packages/internal-helpers/package.json
  packages/internal-helpers/readme.md
  packages/internal-helpers/src/path.ts
  packages/internal-helpers/tsconfig.json
  pnpm-lock.yaml
Labels: integration, core

#7189 fix: add astro-static-slot to the list of inert tags in astro css
  .changeset/static-slot-css.md
  packages/astro/src/runtime/server/scripts.ts
Labels: core

#7191 Remove `@mdx-js/rollup` dependency
  .changeset/spotty-glasses-return.md
  packages/integrations/mdx/package.json
  packages/integrations/mdx/src/index.ts
  packages/integrations/mdx/src/plugins.ts
  pnpm-lock.yaml
Labels: integration

#7186 Use status 308 for non-GET redirects
  packages/astro/src/core/app/index.ts
  packages/astro/src/core/build/generate.ts
  packages/astro/src/core/redirects/component.ts
  packages/astro/src/core/redirects/helpers.ts
  packages/astro/src/core/redirects/index.ts
  packages/astro/src/core/render/core.ts
  packages/astro/test/redirects.test.js
Labels: core

#7187 Markdoc - Shiki
  .changeset/eleven-tables-speak.md
  packages/astro/src/runtime/server/index.ts
  packages/integrations/markdoc/README.md
  packages/integrations/markdoc/components/TreeNode.ts
  packages/integrations/markdoc/package.json
  packages/integrations/markdoc/src/config.ts
  packages/integrations/markdoc/src/extensions/shiki.ts
  packages/integrations/markdoc/src/heading-ids.ts
  packages/integrations/markdoc/src/index.ts
  packages/integrations/markdoc/src/nodes/index.ts
  packages/integrations/markdoc/src/runtime.ts
  packages/integrations/markdoc/test/syntax-highlighting.test.js
  pnpm-lock.yaml
Labels: integration, core

#7175 fix: :adhesive_bandage: update partytown options ts type
  .changeset/curvy-hotels-study.md
  packages/integrations/partytown/src/index.ts
Labels: integration

#7028 Export ChangeFreqEnum type for sitemap integration
  .changeset/clever-garlics-doubt.md
  packages/integrations/sitemap/src/index.ts
Labels: integration

#7206 fix: formatting comment
  packages/integrations/markdoc/src/extensions/shiki.ts
Labels: integration

#7205 Document partytown script block by extensions
  packages/integrations/partytown/README.md
Labels: integration

#7151 Add MDX optimize option
  .changeset/dirty-singers-enjoy.md
  packages/integrations/mdx/README.md
  packages/integrations/mdx/package.json
  packages/integrations/mdx/src/index.ts
  packages/integrations/mdx/src/plugins.ts
  packages/integrations/mdx/src/rehype-optimize-static.ts
  packages/integrations/mdx/test/fixtures/mdx-optimize/astro.config.mjs
  packages/integrations/mdx/test/fixtures/mdx-optimize/package.json
  packages/integrations/mdx/test/fixtures/mdx-optimize/src/components/Blockquote.astro
  packages/integrations/mdx/test/fixtures/mdx-optimize/src/components/Strong.astro
  packages/integrations/mdx/test/fixtures/mdx-optimize/src/pages/_imported.mdx
  packages/integrations/mdx/test/fixtures/mdx-optimize/src/pages/import.astro
  packages/integrations/mdx/test/fixtures/mdx-optimize/src/pages/index.mdx
  packages/integrations/mdx/test/mdx-optimize.test.js
  pnpm-lock.yaml
Labels: integration

#7208 fix(vercel): Fix typo in README 🤦‍♀️
  .changeset/plenty-geese-fold.md
  packages/integrations/vercel/README.md
Labels: integration

#7193 refactor: emit pages as physical entry points
  .changeset/dry-taxis-suffer.md
  packages/astro/src/@types/astro.ts
  packages/astro/src/core/app/index.ts
  packages/astro/src/core/app/types.ts
  packages/astro/src/core/build/generate.ts
  packages/astro/src/core/build/graph.ts
  packages/astro/src/core/build/internal.ts
  packages/astro/src/core/build/plugins/README.md
  packages/astro/src/core/build/plugins/plugin-middleware.ts
  packages/astro/src/core/build/plugins/plugin-pages.ts
  packages/astro/src/core/build/plugins/plugin-ssr.ts
  packages/astro/src/core/build/static-build.ts
  packages/astro/src/core/build/types.ts
Labels: core

#7198 Implement redirects in Cloudflare
  packages/integrations/cloudflare/package.json
  packages/integrations/cloudflare/src/index.ts
  packages/integrations/cloudflare/test/directory.test.js
  packages/integrations/netlify/package.json
  packages/integrations/netlify/src/shared.ts
  packages/integrations/netlify/test/functions/redirects.test.js
  packages/integrations/netlify/test/static/redirects.test.js
  packages/underscore-redirects/package.json
  packages/underscore-redirects/readme.md
  packages/underscore-redirects/src/astro.ts
  packages/underscore-redirects/src/index.ts
  packages/underscore-redirects/src/print.ts
  packages/underscore-redirects/src/redirects.ts
  packages/underscore-redirects/test/astro.test.js
  packages/underscore-redirects/test/print.test.js
  packages/underscore-redirects/test/weight.test.js
  packages/underscore-redirects/tsconfig.json
  pnpm-lock.yaml
Labels: integration

#7213 Test that redirects can come from middleware
  packages/astro/src/@types/astro.ts
  packages/astro/test/fixtures/ssr-redirect/src/middleware.ts
  packages/astro/test/fixtures/ssr-redirect/src/pages/middleware-redirect.astro
  packages/astro/test/redirects.test.js
Labels: core

#7218 Fix CSS deduping and missing chunks
  .changeset/eighty-gifts-cheer.md
  packages/astro/src/core/build/internal.ts
  packages/astro/src/core/build/plugins/plugin-css.ts
  packages/astro/test/0-css.test.js
  packages/astro/test/fixtures/0-css/src/pages/client-only-and-ssr/_components/SvelteOnlyAndSsr.svelte
  packages/astro/test/fixtures/0-css/src/pages/client-only-and-ssr/only.astro
  packages/astro/test/fixtures/0-css/src/pages/client-only-and-ssr/ssr.astro
Labels: core

#7196 Fix `astro-static-slot` hydration mismatch error
  .changeset/eleven-walls-explain.md
  packages/astro/e2e/nested-in-react.test.js
  packages/astro/e2e/nested-in-vue.test.js
  packages/integrations/preact/src/static-html.ts
  packages/integrations/react/static-html.js
  packages/integrations/vue/static-html.js
Labels: framework-vue, framework-react, framework-preact, integration, core

#7139 feat: support images outside the project
  .changeset/wise-cars-hear.md
  packages/astro/src/assets/services/service.ts
  packages/astro/src/assets/utils/emitAsset.ts
  packages/astro/src/assets/vite-plugin-assets.ts
  packages/astro/src/content/runtime-assets.ts
  packages/astro/src/content/utils.ts
  packages/astro/src/core/errors/errors-data.ts
  packages/astro/test/core-image.test.js
  packages/astro/test/fixtures/core-image-ssr/src/pages/api.ts
  packages/astro/test/fixtures/core-image/src/pages/error-image-src-passed.astro
  packages/astro/test/fixtures/core-image/src/pages/outsideProject.astro
Labels: core

#7231 Fix markdoc image tests
  packages/integrations/markdoc/test/image-assets.test.js
Labels: integration

#7221 Document MDX optimize static logic
  packages/integrations/mdx/src/README.md
Labels: integration

#7062 Bug 6672
  .changeset/small-wombats-know.md
  packages/astro/src/runtime/server/render/astro/instance.ts
  packages/integrations/mdx/test/astro-content-css.test.js
  packages/integrations/mdx/test/fixtures/astro-content-css/astro.config.mjs
  packages/integrations/mdx/test/fixtures/astro-content-css/package.json
  packages/integrations/mdx/test/fixtures/astro-content-css/src/content/config.ts
  packages/integrations/mdx/test/fixtures/astro-content-css/src/content/dynamic/FirstComponentWithJS.astro
  packages/integrations/mdx/test/fixtures/astro-content-css/src/content/dynamic/first-component-with-js.mdx
  packages/integrations/mdx/test/fixtures/astro-content-css/src/pages/index.astro
  pnpm-lock.yaml
Labels: integration, core

#7235 fix: prioritize dynamic prerendered routes over dynamic server routes
  .changeset/hungry-peaches-speak.md
  packages/astro/src/core/render/dev/index.ts
  packages/astro/src/core/routing/manifest/create.ts
  packages/astro/src/prerender/routing.ts
  packages/astro/src/vite-plugin-astro-server/route.ts
  packages/astro/test/units/routing/route-matching.test.js
Labels: core

#7225 Markdoc: new README for Markdoc nodes
  packages/integrations/markdoc/README.md
Labels: integration

#7244 Markdoc - remove `$entry` variable
  .changeset/metal-bugs-drive.md
  packages/astro/src/@types/astro.ts
  packages/astro/src/content/types-generator.ts
  packages/astro/src/content/utils.ts
  packages/astro/src/content/vite-plugin-content-imports.ts
  packages/astro/src/content/vite-plugin-content-virtual-mod.ts
  packages/integrations/markdoc/README.md
  packages/integrations/markdoc/src/index.ts
  packages/integrations/markdoc/src/runtime.ts
  packages/integrations/markdoc/test/fixtures/variables/astro.config.mjs
  packages/integrations/markdoc/test/fixtures/variables/package.json
  packages/integrations/markdoc/test/fixtures/variables/src/content/blog/entry.mdoc
  packages/integrations/markdoc/test/fixtures/variables/src/content/config.ts
  packages/integrations/markdoc/test/fixtures/variables/src/pages/index.astro
  packages/integrations/markdoc/test/variables.test.js
  pnpm-lock.yaml
Labels: integration, core

#7246 Content collections - fix `.json` collection errors
  .changeset/olive-rabbits-rhyme.md
  packages/astro/src/content/types-generator.ts
  packages/astro/src/content/vite-plugin-content-virtual-mod.ts
  packages/astro/test/units/dev/collections-mixed-content-errors.test.js
Labels: core

#7245 Redirects: Allow preventing the output of the static HTML file
  packages/astro/src/@types/astro.ts
  packages/astro/src/core/build/generate.ts
  packages/astro/src/core/config/schema.ts
  packages/astro/test/redirects.test.js
  packages/integrations/cloudflare/src/index.ts
  packages/integrations/netlify/src/integration-static.ts
  packages/integrations/vercel/src/static/adapter.ts
Labels: integration, core

#7248 Fix out-of-date example dependencies
  .prettierrc.cjs
  .prettierrc.js
  examples/basics/package.json
  examples/blog/package.json
  examples/component/package.json
  examples/deno/package.json
  examples/docs/package.json
  examples/framework-alpine/package.json
  examples/framework-lit/package.json
  examples/framework-multiple/package.json
  examples/framework-preact/package.json
  examples/framework-react/package.json
  examples/framework-solid/package.json
  examples/framework-svelte/package.json
  examples/framework-vue/package.json
  examples/hackernews/package.json
  examples/integration/package.json
  examples/middleware/package.json
  examples/minimal/package.json
  examples/non-html-pages/package.json
  examples/portfolio/package.json
  examples/ssr/package.json
  examples/with-markdoc/package.json
  examples/with-markdown-plugins/package.json
  examples/with-markdown-shiki/package.json
  examples/with-mdx/package.json
  examples/with-nanostores/package.json
  examples/with-tailwindcss/package.json
  examples/with-vite-plugin-pwa/package.json
  examples/with-vitest/package.json
  package.json
  patches/@changesets__cli@2.23.0.patch
  pnpm-lock.yaml
Labels: example

#7224 Markdoc: strip HTML comments from output
  .changeset/many-cats-fry.md
  packages/integrations/markdoc/src/index.ts
Labels: integration

#7259 Revert 7255
  .changeset/weak-wombats-swim.md
  packages/astro/src/@types/astro.ts
  packages/astro/src/assets/generate.ts
  packages/astro/src/core/build/generate.ts
  packages/astro/src/core/build/plugins/plugin-ssr.ts
  packages/astro/src/core/build/static-build.ts
  packages/astro/src/core/config/config.ts
  packages/astro/src/core/config/schema.ts
  packages/astro/src/core/config/settings.ts
  packages/astro/src/core/endpoint/index.ts
  packages/astro/src/core/render/dev/environment.ts
  packages/astro/src/core/routing/manifest/create.ts
  packages/astro/src/core/util.ts
  packages/astro/src/integrations/index.ts
  packages/astro/src/prerender/utils.ts
  packages/astro/src/vite-plugin-astro-server/request.ts
  packages/astro/src/vite-plugin-astro-server/route.ts
  packages/astro/src/vite-plugin-scanner/index.ts
  packages/astro/test/ssr-prerender-get-static-paths.test.js
  packages/astro/test/units/routing/route-matching.test.js
  packages/integrations/cloudflare/test/prerender.test.js
  packages/integrations/image/src/index.ts
  packages/integrations/image/src/utils/prerender.ts
  packages/integrations/netlify/test/edge-functions/fixtures/prerender/astro.config.mjs
  packages/integrations/netlify/test/functions/prerender.test.js
  packages/integrations/node/test/prerender.test.js
  packages/integrations/vercel/src/lib/prerender.ts
  packages/integrations/vercel/src/static/adapter.ts
  packages/integrations/vercel/test/serverless-prerender.test.js
Labels: integration, core

#7261 Fix `semver minor` action
  .github/workflows/check-merge.yml
Labels: 🚨 action

#7185 Markdoc asset bleed, second try
  .changeset/smart-moles-double.md
  examples/with-markdoc/src/content/config.ts
  packages/astro/src/@types/astro.ts
  packages/astro/src/content/consts.ts
  packages/astro/src/content/runtime.ts
  packages/astro/src/content/template/virtual-mod.mjs
  packages/astro/src/content/utils.ts
  packages/astro/src/content/vite-plugin-content-assets.ts
  packages/astro/src/core/render/dev/vite.ts
  packages/astro/src/vite-plugin-head/index.ts
  packages/astro/src/vite-plugin-markdown/content-entry-type.ts
  packages/integrations/markdoc/components/Renderer.astro
  packages/integrations/markdoc/components/TreeNode.ts
  packages/integrations/markdoc/src/heading-ids.ts
  packages/integrations/markdoc/src/index.ts
  packages/integrations/markdoc/src/runtime.ts
  packages/integrations/markdoc/src/utils.ts
  packages/integrations/markdoc/test/fixtures/propagated-assets/astro.config.mjs
  packages/integrations/markdoc/test/fixtures/propagated-assets/markdoc.config.mjs
  packages/integrations/markdoc/test/fixtures/propagated-assets/package.json
  packages/integrations/markdoc/test/fixtures/propagated-assets/src/components/Aside.astro
  packages/integrations/markdoc/test/fixtures/propagated-assets/src/components/LogHello.astro
  packages/integrations/markdoc/test/fixtures/propagated-assets/src/content/blog/scripts.mdoc
  packages/integrations/markdoc/test/fixtures/propagated-assets/src/content/blog/styles.mdoc
  packages/integrations/markdoc/test/fixtures/propagated-assets/src/pages/[slug].astro
  packages/integrations/markdoc/test/propagated-assets.test.js
  packages/integrations/mdx/src/index.ts
  pnpm-lock.yaml
Labels: example, integration, core
