Repository withastro/astro, pull requests merged in 2024-06, with the labels that each got.

#11170 Retain client scripts in content cache
  .changeset/wicked-dragons-draw.md
  packages/astro/src/core/build/plugins/plugin-content.ts
  packages/astro/test/experimental-content-collections-render.test.js
Labels: pkg: astro

#11183 fix(cli): Suggest `pnpm dlx` instead of `pnpx`
  .changeset/purple-pears-divide.md
  packages/astro/src/cli/install-package.ts
Labels: pkg: astro

#11178 fix: better isPromise check for proxy objects
  .changeset/green-moose-fetch.md
  packages/astro/src/runtime/server/util.ts
Labels: pkg: astro

#11144 feat(container): provide a virtual module to load renderers
  .changeset/fair-singers-reflect.md
  .changeset/gold-mayflies-beam.md
  examples/container-with-vitest/package.json
  examples/container-with-vitest/test/ReactWrapper.test.ts
  packages/astro/client.d.ts
  packages/astro/src/@types/astro.ts
  packages/astro/src/container/index.ts
  packages/astro/src/virtual-modules/container.ts
  packages/integrations/lit/src/index.ts
  packages/integrations/mdx/src/index.ts
  packages/integrations/preact/src/index.ts
  packages/integrations/react/src/index.ts
  packages/integrations/solid/src/index.ts
  packages/integrations/svelte/src/index.ts
  packages/integrations/vue/src/index.ts
  pnpm-lock.yaml
Labels: pkg: svelte, pkg: vue, pkg: example, pkg: react, pkg: preact, pkg: solid, pkg: lit, pkg: integration, pkg: astro, docs pr

#10974 feat(astro): experimental astro:env
  .changeset/poor-berries-occur.md
  packages/astro/client.d.ts
  packages/astro/config.d.ts
  packages/astro/config.mjs
  packages/astro/package.json
  packages/astro/src/@types/astro.ts
  packages/astro/src/container/index.ts
  packages/astro/src/content/types-generator.ts
  packages/astro/src/content/utils.ts
  packages/astro/src/content/vite-plugin-content-virtual-mod.ts
  packages/astro/src/core/app/pipeline.ts
  packages/astro/src/core/app/types.ts
  packages/astro/src/core/base-pipeline.ts
  packages/astro/src/core/build/generate.ts
  packages/astro/src/core/build/plugins/plugin-manifest.ts
  packages/astro/src/core/config/schema.ts
  packages/astro/src/core/config/settings.ts
  packages/astro/src/core/create-vite.ts
  packages/astro/src/core/errors/errors-data.ts
  packages/astro/src/core/logger/core.ts
  packages/astro/src/env/config.ts
  packages/astro/src/env/constants.ts
  packages/astro/src/env/runtime.ts
  packages/astro/src/env/schema.ts
  packages/astro/src/env/validators.ts
  packages/astro/src/env/vite-plugin-env.ts
  packages/astro/src/integrations/features-validation.ts
  packages/astro/src/virtual-modules/env-setup.ts
  packages/astro/src/vite-plugin-astro-server/plugin.ts
  packages/astro/src/vite-plugin-inject-env-ts/index.ts
  packages/astro/templates/content/module.mjs
  packages/astro/templates/content/types.d.ts
  packages/astro/templates/env/module.mjs
  packages/astro/templates/env/types.d.ts
  packages/astro/test/astro-sync.test.js
  packages/astro/test/cli.test.js
  packages/astro/test/env-public.test.js
  packages/astro/test/env-secret.test.js
  packages/astro/test/fixtures/astro-env-server-fail/astro.config.mjs
  packages/astro/test/fixtures/astro-env-server-fail/package.json
  packages/astro/test/fixtures/astro-env-server-fail/src/pages/index.astro
  packages/astro/test/fixtures/astro-env-server-fail/tsconfig.json
  packages/astro/test/fixtures/astro-env-server-secret/astro.config.mjs
  packages/astro/test/fixtures/astro-env-server-secret/package.json
  packages/astro/test/fixtures/astro-env-server-secret/src/pages/index.astro
  packages/astro/test/fixtures/astro-env-server-secret/tsconfig.json
  packages/astro/test/fixtures/astro-env/astro.config.mjs
  packages/astro/test/fixtures/astro-env/package.json
  packages/astro/test/fixtures/astro-env/src/pages/index.astro
  packages/astro/test/fixtures/astro-env/tsconfig.json
  packages/astro/test/middleware.test.js
  packages/astro/test/ssr-locals.test.js
  packages/astro/test/test-adapter.js
  packages/astro/test/units/config/config-validate.test.js
  packages/astro/test/units/content-collections/frontmatter.test.js
  packages/astro/test/units/env/env-validators.test.js
  pnpm-lock.yaml
Labels: pkg: astro, semver: minor, docs pr

#11182 fix(rewrite): copy body from the request
  .changeset/swift-phones-rhyme.md
  packages/astro/src/core/render-context.ts
  packages/astro/test/fixtures/reroute/src/pages/post/post-a.astro
  packages/astro/test/fixtures/reroute/src/pages/post/post-b.astro
  packages/astro/test/rewrite.test.js
Labels: pkg: astro

#11136 fix: bubble up errors in rewrites
  .changeset/dull-lizards-jog.md
  .changeset/nervous-pens-retire.md
  packages/astro/src/container/pipeline.ts
  packages/astro/src/core/app/pipeline.ts
  packages/astro/src/core/base-pipeline.ts
  packages/astro/src/core/build/generate.ts
  packages/astro/src/core/build/pipeline.ts
  packages/astro/src/core/constants.ts
  packages/astro/src/core/errors/errors-data.ts
  packages/astro/src/core/render-context.ts
  packages/astro/src/core/routing/astro-designed-error-pages.ts
  packages/astro/src/vite-plugin-astro-server/pipeline.ts
  packages/astro/src/vite-plugin-astro-server/response.ts
  packages/astro/src/vite-plugin-astro-server/route.ts
  packages/astro/test/fixtures/reroute/src/pages/blog/oops.astro
  packages/astro/test/fixtures/rewrite-404-invalid/astro.config.mjs
  packages/astro/test/fixtures/rewrite-404-invalid/package.json
  packages/astro/test/fixtures/rewrite-404-invalid/src/pages/rewrite-404.astro
  packages/astro/test/fixtures/rewrite-runtime-error/astro.config.mjs
  packages/astro/test/fixtures/rewrite-runtime-error/package.json
  packages/astro/test/fixtures/rewrite-runtime-error/src/pages/errors/from.astro
  packages/astro/test/fixtures/rewrite-runtime-error/src/pages/errors/to.astro
  packages/astro/test/rewrite.test.js
  pnpm-lock.yaml
Labels: pkg: astro, docs pr

#11188 [docs] format error messages
  packages/astro/src/core/errors/errors-data.ts
Labels: pkg: astro, docs pr

#11192 Fix throw `AstroUserError` in mdx
  .changeset/brave-pots-listen.md
  packages/astro/src/jsx/server.ts
Labels: pkg: astro

#11191 Make Astro.url in format: 'preserve' match dev
  .changeset/sweet-trainers-eat.md
  packages/astro/src/core/build/generate.ts
  packages/astro/test/fixtures/page-format/src/pages/nested/index.astro
  packages/astro/test/page-format.test.js
Labels: pkg: astro

#11194 fix: merge userConfig inside `getViteConfig`
  .changeset/tidy-days-decide.md
  packages/astro/src/config/index.ts
  packages/astro/src/core/config/config.ts
Labels: pkg: astro

#11198 fix(astro): getSecret in dev and build
  .changeset/metal-onions-hope.md
  packages/astro/src/env/vite-plugin-env.ts
  packages/astro/test/env-secret.test.js
  packages/astro/test/fixtures/astro-env-server-secret/astro.config.mjs
Labels: pkg: astro

#11202 fix(node): add missing error logging
  .changeset/nervous-worms-sort.md
  packages/integrations/node/src/serve-app.ts
Labels: pkg: integration

#11205 fix(astro:) config reference typo
  .changeset/six-kangaroos-beam.md
  packages/astro/src/@types/astro.ts
Labels: pkg: astro, docs pr

#11206 feat(astro): update astro env setup
  .changeset/silly-beds-hammer.md
  packages/astro/client.d.ts
  packages/astro/package.json
  packages/astro/src/env/constants.ts
  packages/astro/src/env/setup.ts
  packages/astro/src/env/vite-plugin-env.ts
  packages/astro/src/virtual-modules/env-setup.ts
  packages/astro/test/test-adapter.js
Labels: pkg: astro

#11189 fix(i18n): improve error message
  .changeset/heavy-eagles-happen.md
  packages/astro/src/core/errors/errors-data.ts
  packages/astro/src/i18n/index.ts
Labels: pkg: astro, docs pr

#11083 fix(@astrojs/partytown): prevent crashes when View Transitions are enabled
  .changeset/friendly-eagles-arrive.md
  packages/integrations/partytown/src/index.ts
Labels: pkg: integration

#10607 Fix leading slash creating incorrect conflict resolution between pages generated from static routes and rest parameters
  .changeset/tender-apples-lie.md
  packages/astro/src/core/build/generate.ts
  packages/astro/src/core/routing/params.ts
  packages/astro/test/dynamic-route-collision.test.js
  packages/astro/test/fixtures/dynamic-route-collision/src/pages/[...slug].astro
  packages/astro/test/fixtures/dynamic-route-collision/src/pages/[page].astro
  packages/astro/test/fixtures/dynamic-route-collision/src/pages/test.astro
  packages/astro/test/fixtures/dynamic-route-collision/src/pages/test/ing.astro
Labels: pkg: astro

#11226 ci: fix regression in errors data
  packages/astro/src/core/errors/errors-data.ts
Labels: pkg: astro, docs pr

#11218 Minor cleanup in the content types generator
  packages/astro/src/content/types-generator.ts
Labels: pkg: astro

#11195 feat(astro): improved validators
  .changeset/nasty-frogs-camp.md
  .changeset/red-rings-tell.md
  packages/astro/src/env/config.ts
  packages/astro/src/env/schema.ts
  packages/astro/src/env/validators.ts
  packages/astro/test/units/env/env-validators.test.js
Labels: pkg: astro

#11199 feat: add support for astro:env to node and vercel
  .changeset/wet-chefs-develop.md
  packages/integrations/node/src/index.ts
  packages/integrations/node/src/server.ts
  packages/integrations/vercel/src/serverless/adapter.ts
  packages/integrations/vercel/src/serverless/entrypoint.ts
  packages/integrations/vercel/src/static/adapter.ts
Labels: pkg: integration

#11210 Close iterator after rendering is complete and no more chunks remain
  .changeset/purple-pianos-greet.md
  packages/astro/src/runtime/server/render/astro/render.ts
  packages/astro/test/fixtures/partials/src/pages/partials/nested-conditional.astro
  packages/astro/test/partials.test.js
Labels: pkg: astro

#11228 fix(astro): always return cloned content collection
  .changeset/early-melons-thank.md
  packages/astro/src/content/runtime.ts
  packages/astro/test/content-collections.test.js
  packages/astro/test/fixtures/content-collections-mutation/astro.config.mjs
  packages/astro/test/fixtures/content-collections-mutation/package.json
  packages/astro/test/fixtures/content-collections-mutation/src/content/blog/first.md
  packages/astro/test/fixtures/content-collections-mutation/src/content/blog/second.md
  packages/astro/test/fixtures/content-collections-mutation/src/content/blog/third.md
  packages/astro/test/fixtures/content-collections-mutation/src/content/config.ts
  packages/astro/test/fixtures/content-collections-mutation/src/pages/another_page.astro
  packages/astro/test/fixtures/content-collections-mutation/src/pages/index.astro
  pnpm-lock.yaml
Labels: pkg: astro

#11231 fix: regression for getViteConfig
  .changeset/bright-elephants-yell.md
  packages/astro/src/config/index.ts
Labels: pkg: astro

#11207 fix(rewrite): purge old data when rewriting
  .changeset/fuzzy-eggs-kneel.md
  packages/astro/src/container/pipeline.ts
  packages/astro/src/core/app/pipeline.ts
  packages/astro/src/core/base-pipeline.ts
  packages/astro/src/core/build/pipeline.ts
  packages/astro/src/core/render-context.ts
  packages/astro/src/vite-plugin-astro-server/pipeline.ts
  packages/astro/test/fixtures/rewrite-server/astro.config.mjs
  packages/astro/test/fixtures/rewrite-server/package.json
  packages/astro/test/fixtures/rewrite-server/src/pages/[slug]/title.astro
  packages/astro/test/fixtures/rewrite-server/src/pages/index.astro
  packages/astro/test/rewrite.test.js
  pnpm-lock.yaml
Labels: pkg: astro

#11227 In Vercel Edge, include cookies set by Astro.cookies.set
  .changeset/shaggy-camels-dream.md
  packages/integrations/vercel/package.json
  packages/integrations/vercel/src/serverless/adapter.ts
  packages/integrations/vercel/src/serverless/middleware.ts
  packages/integrations/vercel/test/edge-middleware.test.js
  packages/integrations/vercel/test/fixtures/middleware-with-edge-file/src/middleware.js
Labels: pkg: integration

#11213 feat(astro): address astro env rfc feedback
  .changeset/clever-jars-trade.md
  .changeset/dirty-rabbits-act.md
  packages/astro/src/@types/astro.ts
  packages/astro/src/core/base-pipeline.ts
  packages/astro/src/env/constants.ts
  packages/astro/src/env/runtime.ts
  packages/astro/src/env/schema.ts
  packages/astro/src/env/vite-plugin-env.ts
  packages/astro/templates/env/module.mjs
  packages/astro/templates/env/types.d.ts
  packages/astro/test/fixtures/astro-env-server-fail/astro.config.mjs
  packages/astro/test/fixtures/astro-env-server-fail/src/pages/index.astro
  packages/astro/test/fixtures/astro-env-server-secret/src/pages/index.astro
  packages/astro/test/fixtures/astro-env/astro.config.mjs
  packages/astro/test/fixtures/astro-env/src/pages/index.astro
  packages/astro/test/units/config/config-validate.test.js
Labels: pkg: astro, docs pr

#11240 fix(astro): ignore query params when matching .astro extension
  .changeset/pink-experts-count.md
  packages/astro/src/vite-plugin-astro/index.ts
  packages/astro/test/extension-matching.test.js
  packages/astro/test/fixtures/extension-matching/astro.config.mjs
  packages/astro/test/fixtures/extension-matching/package.json
  packages/astro/test/fixtures/extension-matching/src/pages/index.astro
  pnpm-lock.yaml
Labels: pkg: astro

#11236 fix(astro): handle symlinked content collection directories
  .changeset/fifty-clouds-clean.md
  packages/astro/src/content/utils.ts
  packages/astro/src/content/vite-plugin-content-imports.ts
  packages/astro/src/core/build/static-build.ts
  packages/astro/src/core/create-vite.ts
  packages/astro/test/content-collections.test.js
  packages/astro/test/fixtures/content-collections/src/assets/the-future.jpg
  packages/astro/test/fixtures/content-collections/src/content/config.ts
  packages/astro/test/fixtures/content-collections/src/content/with-symlinked-content
  packages/astro/test/fixtures/content-collections/src/content/with-symlinked-data
  packages/astro/test/fixtures/content-collections/src/pages/collections.json.js
  packages/astro/test/fixtures/content-collections/symlinked-collections/content-collection/first.md
  packages/astro/test/fixtures/content-collections/symlinked-collections/content-collection/second.md
  packages/astro/test/fixtures/content-collections/symlinked-collections/content-collection/third.md
  packages/astro/test/fixtures/content-collections/symlinked-collections/data-collection/welcome.json
Labels: pkg: astro

#11244 fix: better DX for 500.astro in local development
  .changeset/olive-feet-eat.md
  packages/astro/src/core/constants.ts
  packages/astro/src/core/routing/astro-designed-error-pages.ts
  packages/astro/src/vite-plugin-astro-server/route.ts
  packages/astro/test/core-image.test.js
  packages/astro/test/fixtures/rewrite-runtime-error-custom500/astro.config.mjs
  packages/astro/test/fixtures/rewrite-runtime-error-custom500/package.json
  packages/astro/test/fixtures/rewrite-runtime-error-custom500/src/pages/500.astro
  packages/astro/test/fixtures/rewrite-runtime-error-custom500/src/pages/errors/start.astro
  packages/astro/test/fixtures/rewrite-runtime-error-custom500/src/pages/errors/throw.astro
  packages/astro/test/rewrite.test.js
  pnpm-lock.yaml
Labels: pkg: astro

#11250 fix(markdown-remark): mark prism package as an internal dependency
  packages/markdown/remark/package.json
  pnpm-lock.yaml
Labels: feat: markdown

#11251 feat: refine container APIs for renderers
  .changeset/dull-carpets-breathe.md
  packages/astro/src/@types/astro.ts
  packages/astro/src/container/index.ts
  packages/astro/src/jsx/server.ts
  packages/astro/test/container.test.js
  packages/astro/test/fixtures/container-custom-renderers/astro.config.mjs
  packages/astro/test/fixtures/container-custom-renderers/package.json
  packages/astro/test/fixtures/container-custom-renderers/src/components/button.jsx
  packages/astro/test/fixtures/container-custom-renderers/src/components/button.vue
  packages/astro/test/fixtures/container-custom-renderers/src/pages/react.ts
  packages/astro/test/fixtures/container-custom-renderers/src/pages/vue.ts
  packages/integrations/lit/package.json
  packages/integrations/lit/server.d.ts
  packages/integrations/lit/server.js
  packages/integrations/preact/src/server.ts
  packages/integrations/react/package.json
  packages/integrations/react/server-v17.js
  packages/integrations/react/server.d.ts
  packages/integrations/react/server.js
  packages/integrations/react/server17.d.ts
  packages/integrations/solid/src/server.ts
  packages/integrations/svelte/package.json
  packages/integrations/svelte/server-v5.d.ts
  packages/integrations/svelte/server.d.ts
  packages/integrations/vue/package.json
  packages/integrations/vue/server.d.ts
  packages/integrations/vue/server.js
  pnpm-lock.yaml
Labels: pkg: svelte, pkg: vue, pkg: react, pkg: preact, pkg: solid, pkg: lit, pkg: integration, pkg: astro, docs pr

#11252 [docs] update JSDoc for API Reference links
  packages/astro/src/@types/astro.ts
Labels: pkg: astro, docs pr

#11249 Fix a performance issue with JSON schema generation
  .changeset/early-spies-bow.md
  packages/astro/src/content/types-generator.ts
Labels: pkg: astro

#11258 fix: throw error if rewrite is attempted after body is used
  .changeset/healthy-oranges-report.md
  packages/astro/src/core/errors/errors-data.ts
  packages/astro/src/core/render-context.ts
  packages/astro/test/fixtures/rewrite-server/src/pages/post/index.astro
  packages/astro/test/fixtures/rewrite-server/src/pages/post/post-b.astro
  packages/astro/test/fixtures/rewrite-server/src/pages/post/post-body-used.astro
  packages/astro/test/rewrite.test.js
Labels: pkg: astro, docs pr

#11243 fix(astro): prerendering issue when path contains underscore
  .changeset/honest-ravens-double.md
  packages/astro/src/core/util.ts
  packages/astro/test/fixtures/_underscore in folder name/astro.config.mjs
  packages/astro/test/fixtures/_underscore in folder name/node_modules/fake-astro-library/404.astro
  packages/astro/test/fixtures/_underscore in folder name/node_modules/fake-astro-library/index.ts
  packages/astro/test/fixtures/_underscore in folder name/node_modules/fake-astro-library/package.json
  packages/astro/test/fixtures/_underscore in folder name/src/pages/index.astro
  packages/astro/test/underscore-in-folder-name.test.js
Labels: pkg: astro

#11261 Fix backwards compat with Astro <= 4.9 in Node and Vercel adapters
  .changeset/serious-humans-obey.md
  packages/integrations/node/src/server.ts
  packages/integrations/vercel/src/serverless/entrypoint.ts
Labels: pkg: integration

#11087 Add config object to the remarkToc plugin in the astro config
  packages/astro/src/@types/astro.ts
Labels: pkg: astro, docs pr

#11245 Refactor prerendering chunk handling
  .changeset/three-boxes-sniff.md
  CONTRIBUTING.md
  packages/astro/src/core/build/internal.ts
  packages/astro/src/core/build/page-data.ts
  packages/astro/src/core/build/plugins/plugin-chunks.ts
  packages/astro/src/core/build/plugins/plugin-prerender.ts
  packages/astro/src/core/build/plugins/plugin-ssr.ts
  packages/astro/src/core/build/static-build.ts
  packages/astro/src/core/build/types.ts
  packages/astro/test/astro-assets-prefix.test.js
  packages/astro/test/before-hydration.test.js
  packages/astro/test/core-image.test.js
  packages/astro/test/css-inline-stylesheets.test.js
  packages/astro/test/experimental-content-collections-css-inline-stylesheets.test.js
  packages/astro/test/fixtures/ssr-prerender-chunks/astro.config.mjs
  packages/astro/test/fixtures/ssr-prerender-chunks/deps/test-adapter/index.js
  packages/astro/test/fixtures/ssr-prerender-chunks/deps/test-adapter/package.json
  packages/astro/test/fixtures/ssr-prerender-chunks/deps/test-adapter/server.js
  packages/astro/test/fixtures/ssr-prerender-chunks/package.json
  packages/astro/test/fixtures/ssr-prerender-chunks/src/components/Counter.tsx
  packages/astro/test/fixtures/ssr-prerender-chunks/src/pages/index.astro
  packages/astro/test/fixtures/ssr-prerender-chunks/tsconfig.json
  packages/astro/test/i18n-routing.test.js
  packages/astro/test/ssr-hoisted-script.test.js
  packages/astro/test/ssr-prerender-chunks.test.js
  packages/astro/test/ssr-prerender.test.js
  packages/astro/test/test-utils.js
  packages/integrations/node/test/node-middleware.test.js
  packages/integrations/node/test/prerender-404-500.test.js
  packages/integrations/node/test/prerender.test.js
  packages/integrations/node/test/trailing-slash.test.js
  packages/integrations/vercel/test/serverless-prerender.test.js
  pnpm-lock.yaml
Labels: pkg: integration, pkg: astro

#11263 chore: logging cleanup
  .changeset/thin-icons-yell.md
  packages/integrations/mdx/src/index.ts
  packages/integrations/mdx/src/utils.ts
  packages/integrations/node/src/index.ts
  packages/integrations/sitemap/src/index.ts
Labels: pkg: integration

#11275 fix(astro): duplicated brackets are generated in data collections.
  .changeset/duplicated-brackets-generation.md
  packages/astro/src/content/types-generator.ts
Labels: pkg: astro

#11273 fix(astro): don't run middleware in dev for prerendered 404 routes
  .changeset/silly-pens-fetch.md
  packages/astro/src/vite-plugin-astro-server/route.ts
  packages/astro/test/fixtures/i18n-routing-manual/src/middleware.js
  packages/astro/test/fixtures/i18n-routing-manual/src/pages/404.astro
  packages/astro/test/fixtures/middleware space/src/pages/integration-post.astro
  packages/astro/test/fixtures/middleware space/src/pages/integration-pre.astro
  packages/astro/test/i18n-routing-manual.test.js
Labels: pkg: astro

#11284 fix: support HTTP/2 in `astro dev`
  .changeset/six-fans-kiss.md
  packages/astro/package.json
  packages/astro/src/core/create-vite.ts
  packages/astro/src/core/request.ts
  packages/astro/src/vite-plugin-astro-server/request.ts
  packages/astro/test/astro-dev-http2.test.js
  packages/astro/test/fixtures/astro-dev-http2/.cert/cert.pem
  packages/astro/test/fixtures/astro-dev-http2/.cert/key.pem
  packages/astro/test/fixtures/astro-dev-http2/astro.config.ts
  packages/astro/test/fixtures/astro-dev-http2/package.json
  packages/astro/test/fixtures/astro-dev-http2/src/pages/index.astro
  packages/astro/test/test-utils.js
  pnpm-lock.yaml
Labels: pkg: astro

#11272 fix(rewrite): allow to rewrite 404 and take `base` into consideration
  .changeset/five-owls-check.md
  .changeset/honest-shirts-trade.md
  packages/astro/src/container/pipeline.ts
  packages/astro/src/core/app/pipeline.ts
  packages/astro/src/core/base-pipeline.ts
  packages/astro/src/core/build/pipeline.ts
  packages/astro/src/core/errors/errors-data.ts
  packages/astro/src/core/routing/rewrite.ts
  packages/astro/src/vite-plugin-astro-server/pipeline.ts
  packages/astro/test/fixtures/rewrite-trailing-slash-never/astro.config.mjs
  packages/astro/test/fixtures/rewrite-trailing-slash-never/package.json
  packages/astro/test/fixtures/rewrite-trailing-slash-never/src/pages/foo.astro
  packages/astro/test/fixtures/rewrite-trailing-slash-never/src/pages/index.astro
  packages/astro/test/rewrite.test.js
  pnpm-lock.yaml
Labels: pkg: astro, docs pr

#11134 feat: 500.astro improvements
  .changeset/rich-dolls-compete.md
  packages/astro/playwright.config.js
  packages/astro/src/core/app/index.ts
  packages/astro/src/core/render-context.ts
  packages/astro/src/vite-plugin-astro-server/route.ts
  packages/astro/test/custom-500.test.js
  packages/astro/test/fixtures/custom-500-failing/astro.config.mjs
  packages/astro/test/fixtures/custom-500-failing/package.json
  packages/astro/test/fixtures/custom-500-failing/src/pages/500.astro
  packages/astro/test/fixtures/custom-500-failing/src/pages/index.astro
  packages/astro/test/fixtures/custom-500/astro.config.mjs
  packages/astro/test/fixtures/custom-500/package.json
  packages/astro/test/fixtures/custom-500/src/pages/500.astro
  packages/astro/test/fixtures/custom-500/src/pages/index.astro
  pnpm-lock.yaml
Labels: pkg: astro, semver: minor

#11197 feat: add `ShikiTransformer` support to the `<Code />` component
  .changeset/fluffy-carrots-search.md
  packages/astro/components/Code.astro
Labels: pkg: astro, semver: minor

#11264 fix(astro): type generation for empty collections
  .changeset/light-bugs-shake.md
  packages/astro/src/content/types-generator.ts
  packages/astro/test/astro-sync.test.js
  packages/astro/test/fixtures/content-collections-empty-dir/src/content/config.ts
Labels: pkg: astro, feat: typescript

#11292 bug: removes type override from defineAction
  .changeset/quiet-doors-eat.md
  packages/astro/src/actions/runtime/virtual/server.ts
Labels: pkg: astro, - P2: nice to have

#11280 fix: allow cookies to be set in rewritten responses
  .changeset/big-eyes-share.md
  packages/astro/src/core/cookies/cookies.ts
  packages/astro/src/core/cookies/response.ts
  packages/astro/src/core/render-context.ts
  packages/astro/test/astro-cookies.test.js
  packages/astro/test/fixtures/astro-cookies/src/pages/from-endpoint.ts
  packages/astro/test/fixtures/astro-cookies/src/pages/from.astro
  packages/astro/test/fixtures/astro-cookies/src/pages/rewrite-target.astro
  packages/astro/test/fixtures/astro-cookies/src/pages/to-endpoint.ts
Labels: pkg: astro

#11277 Add a test to ensure that `types.d.ts` is valid
  packages/astro/test/astro-sync.test.js
  packages/astro/test/fixtures/content-collections/src/content/config.ts
  packages/astro/test/fixtures/content-collections/src/content/with-data/one.json
  packages/astro/test/fixtures/content-collections/src/content/with-data/three.json
  packages/astro/test/fixtures/content-collections/src/content/with-data/two.json
Labels: pkg: astro

#11302 Fall back to page reload when redirected to a cross origin URL
  .changeset/small-badgers-juggle.md
  packages/astro/e2e/fixtures/view-transitions/src/pages/one.astro
  packages/astro/e2e/fixtures/view-transitions/src/pages/redirect.astro
  packages/astro/e2e/view-transitions.test.js
  packages/astro/src/transitions/router.ts
Labels: pkg: astro

#11307 refactor(plugin-analyzer): code refactor
  packages/astro/src/core/build/plugins/plugin-analyzer.ts
Labels: pkg: astro, semver: major

#11323 chore: extract fs helpers into shared internal-helpers package
  .changeset/lovely-parents-attend.md
  packages/integrations/vercel/src/lib/nft.ts
  packages/integrations/vercel/src/serverless/adapter.ts
  packages/integrations/vercel/src/static/adapter.ts
  packages/internal-helpers/package.json
  packages/internal-helpers/src/fs.ts
Labels: pkg: integration

#11308 fix(routing): return correct status code for `500.astro` and `404.astro`
  .changeset/curvy-emus-mate.md
  packages/astro/src/core/cookies/response.ts
  packages/astro/src/core/render-context.ts
  packages/astro/src/runtime/server/render/page.ts
  packages/astro/test/custom-404-implicit-rerouting.test.js
  packages/astro/test/fixtures/rewrite-custom-404/astro.config.mjs
  packages/astro/test/fixtures/rewrite-custom-404/package.json
  packages/astro/test/fixtures/rewrite-custom-404/src/middleware.js
  packages/astro/test/fixtures/rewrite-custom-404/src/pages/404.astro
  packages/astro/test/fixtures/rewrite-custom-404/src/pages/500.astro
  packages/astro/test/fixtures/rewrite-custom-404/src/pages/about-2.astro
  packages/astro/test/fixtures/rewrite-custom-404/src/pages/about.astro
  packages/astro/test/rewrite.test.js
  pnpm-lock.yaml
Labels: pkg: astro

#11298 Update CompressHTML Whitespace issue #7502
  packages/astro/src/@types/astro.ts
Labels: pkg: astro, docs pr

#11335 Revert "bug: removes type override from defineAction"
  .changeset/afraid-rivers-begin.md
  packages/astro/src/actions/runtime/virtual/server.ts
Labels: pkg: astro

#11326 fix(astro): astro sync and astro:env
  .changeset/dirty-ducks-play.md
  packages/astro/src/config/index.ts
  packages/astro/src/core/build/index.ts
  packages/astro/src/core/create-vite.ts
  packages/astro/src/core/dev/container.ts
  packages/astro/src/core/sync/index.ts
  packages/astro/src/env/sync.ts
  packages/astro/src/env/vite-plugin-env.ts
  packages/astro/test/astro-sync.test.js
  packages/astro/test/fixtures/astro-env-required-public/astro.config.mjs
  packages/astro/test/fixtures/astro-env-required-public/package.json
  packages/astro/test/fixtures/astro-env-required-public/tsconfig.json
  pnpm-lock.yaml
Labels: pkg: astro

#11312 refactor(plugin-content): code refactor
  packages/astro/src/core/build/plugins/plugin-content.ts
Labels: pkg: astro

#11339 Remove non-fatal errors from telemetry
  .changeset/swift-ladybugs-sniff.md
  packages/astro/src/vite-plugin-astro-server/error.ts
Labels: pkg: astro

#11338 [ui] fix margin around devtool tooltip icon in `rtl`
  .changeset/rare-singers-try.md
  packages/astro/src/runtime/client/dev-toolbar/ui-library/tooltip.ts
Labels: pkg: astro

#11331 Remove resolve package and refactor db & studio exports
  .changeset/selfish-impalas-cough.md
  .changeset/strong-news-yawn.md
  .npmrc
  packages/astro/package.json
  packages/astro/src/cli/install-package.ts
  packages/db/package.json
  packages/studio/package.json
  pnpm-lock.yaml
Labels: pkg: astro

#11347 Fix getPackage resolve path
  .changeset/famous-maps-notice.md
  packages/astro/src/cli/install-package.ts
Labels: pkg: astro

#11349 fix: check experimental flag when using the rewrite function
  .changeset/curvy-elephants-fry.md
  packages/astro/src/core/render-context.ts
  packages/astro/test/actions.test.js
  packages/astro/test/astro-cookies.test.js
Labels: pkg: astro

#11345 [docs] update compressHTML entry for readability
  packages/astro/src/@types/astro.ts
Labels: pkg: astro, docs pr

#11334 feat: add Content Layer loader
  packages/astro/package.json
  packages/astro/src/content/consts.ts
  packages/astro/src/content/data-store.ts
  packages/astro/src/content/file.ts
  packages/astro/src/content/loaders.ts
  packages/astro/src/content/runtime.ts
  packages/astro/src/content/types-generator.ts
  packages/astro/src/content/utils.ts
  packages/astro/src/content/vite-plugin-content-virtual-mod.ts
  packages/astro/src/core/build/index.ts
  packages/astro/src/core/sync/index.ts
  packages/astro/templates/content/module.mjs
  packages/astro/test/content-layer.test.js
  packages/astro/test/fixtures/content-layer/astro.config.mjs
  packages/astro/test/fixtures/content-layer/package.json
  packages/astro/test/fixtures/content-layer/src/components/H2.astro
  packages/astro/test/fixtures/content-layer/src/components/H3.astro
  packages/astro/test/fixtures/content-layer/src/components/LayoutProp.astro
  packages/astro/test/fixtures/content-layer/src/components/WithScripts.astro
  packages/astro/test/fixtures/content-layer/src/content/_data/dogs.json
  packages/astro/test/fixtures/content-layer/src/content/config.ts
  packages/astro/test/fixtures/content-layer/src/loaders/post-loader.ts
  packages/astro/test/fixtures/content-layer/src/pages/blog/[id].astro
  packages/astro/test/fixtures/content-layer/src/pages/collections.json.js
  packages/astro/test/fixtures/content-layer/src/pages/dogs/[slug].astro
  packages/astro/test/fixtures/content-layer/src/pages/index.astro
  packages/astro/types/content.d.ts
  pnpm-lock.yaml
Labels: pkg: astro

#11365 fix: sync content layer in dev
  packages/astro/src/content/file.ts
  packages/astro/src/content/loaders.ts
  packages/astro/src/core/dev/dev.ts
  packages/astro/types/content.d.ts
Labels: pkg: astro

#11358 feat: add typegen for loaders
  packages/astro/package.json
  packages/astro/src/content/loaders.ts
  packages/astro/src/content/types-generator.ts
  packages/astro/test/fixtures/content-layer/src/loaders/post-loader.ts
  packages/astro/types/content.d.ts
  pnpm-lock.yaml
Labels: pkg: astro

#11371 fix: watch for content layer changes
  packages/astro/src/content/data-store.ts
  packages/astro/src/content/file.ts
  packages/astro/src/content/loaders.ts
  packages/astro/src/content/utils.ts
  packages/astro/src/content/vite-plugin-content-virtual-mod.ts
  packages/astro/src/core/dev/dev.ts
  packages/astro/test/content-layer.test.js
  packages/astro/test/test-utils.js
  packages/astro/types/content.d.ts
Labels: pkg: astro
