Repository withastro/astro, pull requests merged in 2024-11, with the labels that each got.

#12346 Fix prefetch sourcemap generation
  .changeset/heavy-walls-rhyme.md
  packages/astro/src/prefetch/vite-plugin-prefetch.ts
Labels: pkg: astro

#12349 fix(assets): fix `getImage` options type
  .changeset/long-monkeys-exercise.md
  packages/astro/src/assets/types.ts
  packages/astro/src/type-utils.ts
Labels: pkg: astro

#12351 fix: revert #12227
  .changeset/friendly-radios-live.md
  packages/astro/src/env/runtime-constants.ts
  packages/astro/src/env/runtime.ts
  packages/astro/src/env/vite-plugin-env.ts
Labels: pkg: astro

#12353 Fix watchfile multiple dev server restart
  .changeset/famous-timers-move.md
  packages/astro/src/core/dev/restart.ts
Labels: pkg: astro

#12358 fix: honor getViteConfig inlineAstroConfig.logLevel setting
  .changeset/cuddly-feet-float.md
  packages/astro/src/config/index.ts
Labels: pkg: astro

#12368 Improve tinyexec errors
  .changeset/many-eyes-call.md
  benchmark/bench/cli-startup.js
  benchmark/bench/memory.js
  benchmark/bench/render.js
  benchmark/bench/server-stress.js
  packages/astro/src/cli/add/index.ts
  packages/astro/src/cli/docs/open.ts
  packages/astro/src/cli/exec.ts
  packages/astro/src/cli/install-package.ts
  scripts/smoke/cleanup.js
  scripts/smoke/index.js
Labels: pkg: astro

#12363 Fix `astro add` generated import identifier
  .changeset/five-maps-bake.md
  packages/astro/src/cli/add/index.ts
Labels: pkg: astro

#12378 feat: add experimental responsive images config option
  packages/astro/client.d.ts
  packages/astro/src/assets/types.ts
  packages/astro/src/assets/vite-plugin-assets.ts
  packages/astro/src/core/config/schema.ts
  packages/astro/src/types/public/config.ts
Labels: pkg: astro, docs pr

#12347 chore: codspeed benchmark
  .github/workflows/continuous_benchmark.yml
  benchmark/bench/_util.js
  benchmark/bench/cli-startup.js
  benchmark/bench/codspeed.js
  benchmark/bench/memory.js
  benchmark/bench/render.js
  benchmark/bench/server-stress.js
  benchmark/index.js
  benchmark/make-project/render-bench.js
  benchmark/package.json
  benchmark/packages/adapter/README.md
  benchmark/packages/adapter/package.json
  benchmark/packages/adapter/src/index.ts
  benchmark/packages/adapter/src/server.ts
  benchmark/packages/adapter/tsconfig.json
  benchmark/packages/timer/src/index.ts
  benchmark/packages/timer/src/server.ts
  biome.jsonc
  pnpm-lock.yaml
Labels: 🚨 action

#12355 fix: show file name with invalid frontmatter errors for MDX
  .changeset/wise-bulldogs-jump.md
  packages/astro/src/cli/index.ts
  packages/astro/src/cli/sync/index.ts
  packages/astro/src/core/errors/errors-data.ts
  packages/astro/src/core/messages.ts
  packages/astro/src/core/sync/index.ts
Labels: pkg: astro, docs pr

#12311 add `checked` to htmlBooleanAttributes
  .changeset/brown-rocks-ring.md
  packages/astro/src/runtime/server/render/util.ts
Labels: pkg: astro, semver: major

#12379 Adds missing changeset for new basics template
  .changeset/tough-planets-dress.md
Labels: semver: minor

#12328 Add support for Svelte 5 @render syntax
  .changeset/shaggy-kids-juggle.md
  packages/integrations/svelte/client-v5.js
  packages/integrations/svelte/server-v5.js
Labels: pkg: svelte, pkg: integration

#12323 Update to Vite 6.0.0-beta.6
  .changeset/empty-houses-melt.md
  package.json
  packages/astro/e2e/errors.test.js
  packages/astro/package.json
  packages/db/package.json
  packages/integrations/alpinejs/package.json
  packages/integrations/markdoc/package.json
  packages/integrations/mdx/package.json
  packages/integrations/react/package.json
  packages/integrations/solid/package.json
  packages/integrations/svelte/package.json
  packages/integrations/tailwind/package.json
  packages/integrations/vue/package.json
  packages/studio/package.json
  pnpm-lock.yaml
Labels: pkg: svelte, pkg: vue, pkg: react, pkg: solid, pkg: integration, pkg: astro, semver: minor

#12305 fix: error overlay message escape
  .changeset/breezy-plums-clap.md
  packages/astro/src/core/errors/dev/vite.ts
  packages/astro/src/core/module-loader/vite.ts
Labels: pkg: astro

#12402 fix(actions): better runtime check for invalid usages
  .changeset/dull-lemons-check.md
  packages/astro/src/actions/runtime/middleware.ts
  packages/astro/src/actions/runtime/route.ts
  packages/astro/src/actions/runtime/utils.ts
  packages/astro/src/actions/runtime/virtual/server.ts
  packages/astro/src/actions/utils.ts
  packages/astro/test/actions.test.js
  packages/astro/test/fixtures/actions/src/pages/invalid.astro
Labels: pkg: astro

#12401 Fix incorrect status code in dev server for action errors
  .changeset/nine-mayflies-film.md
  packages/astro/src/vite-plugin-astro-server/route.ts
Labels: pkg: astro

#12381 feat: add responsive image component
  packages/astro/components/Image.astro
  packages/astro/src/assets/internal.ts
  packages/astro/src/assets/layout.ts
  packages/astro/src/assets/services/service.ts
  packages/astro/src/assets/types.ts
  packages/astro/test/content-collections-render.test.js
  packages/astro/test/core-image-layout.test.js
  packages/astro/test/fixtures/core-image-layout/astro.config.mjs
  packages/astro/test/fixtures/core-image-layout/package.json
  packages/astro/test/fixtures/core-image-layout/src/assets/penguin.jpg
  packages/astro/test/fixtures/core-image-layout/src/assets/walrus.jpg
  packages/astro/test/fixtures/core-image-layout/src/pages/index.astro
  packages/astro/test/fixtures/core-image-layout/src/pages/remote.astro
  packages/astro/test/fixtures/core-image-layout/tsconfig.json
  packages/astro/test/test-remote-image-service.js
  packages/astro/test/units/dev/collections-renderentry.test.js
  packages/integrations/markdoc/test/image-assets.test.js
  packages/integrations/markdoc/test/propagated-assets.test.js
  packages/integrations/mdx/test/css-head-mdx.test.js
  packages/integrations/mdx/test/mdx-math.test.js
  pnpm-lock.yaml
Labels: pkg: integration, pkg: astro

#12382 update markdown config docs
  packages/astro/src/@types/astro.ts
Labels: pkg: astro, docs pr

#12339 fix(routing): emit error for forbidden rewrite
  .changeset/proud-games-repair.md
  packages/astro/src/core/errors/errors-data.ts
  packages/astro/src/core/middleware/sequence.ts
  packages/astro/src/core/render-context.ts
  packages/astro/test/fixtures/rewrite-server/src/pages/forbidden/dynamic.astro
  packages/astro/test/fixtures/rewrite-server/src/pages/forbidden/static.astro
  packages/astro/test/rewrite.test.js
Labels: pkg: astro, docs pr

#12414 feat: add crop support to image services
  packages/astro/components/Image.astro
  packages/astro/src/assets/consts.ts
  packages/astro/src/assets/internal.ts
  packages/astro/src/assets/layout.ts
  packages/astro/src/assets/services/service.ts
  packages/astro/src/assets/services/sharp.ts
  packages/astro/src/assets/types.ts
  packages/astro/src/types/public/config.ts
  packages/astro/test/core-image-layout.test.js
  packages/astro/test/core-image-service.test.js
  packages/astro/test/fixtures/core-image-layout/src/pages/build.astro
  packages/astro/test/fixtures/core-image-layout/src/pages/fit.astro
Labels: pkg: astro, docs pr

#12420 fix(routing): middleware in dev
  .changeset/spicy-ties-matter.md
  packages/astro/src/core/constants.ts
  packages/astro/src/core/middleware/noop-middleware.ts
  packages/astro/src/vite-plugin-astro-server/route.ts
  packages/astro/test/fixtures/middleware space/src/middleware.js
  packages/astro/test/middleware.test.js
Labels: pkg: astro

#12392 Fix script injection during build
  .changeset/slimy-pets-lick.md
  packages/astro/src/core/build/plugins/index.ts
  packages/astro/src/core/build/plugins/plugin-hoisted-scripts.ts
  packages/astro/test/fixtures/reuse-injected-entrypoint/src/to-inject.astro
  packages/astro/test/reuse-injected-entrypoint.test.js
Labels: pkg: astro

#12424 fix(actions): internal symbol check
  .changeset/brown-bulldogs-share.md
  packages/astro/src/actions/runtime/virtual/server.ts
  packages/astro/src/actions/utils.ts
  packages/astro/test/fixtures/actions/src/pages/invalid.astro
Labels: pkg: astro

#12423 feat: add responsive support to picture component
  packages/astro/components/Image.astro
  packages/astro/components/Picture.astro
  packages/astro/components/image.css
  packages/astro/src/assets/utils/imageAttributes.ts
  packages/astro/src/runtime/server/render/util.ts
  packages/astro/test/core-image-layout.test.js
  packages/astro/test/fixtures/core-image-layout/src/pages/both.astro
  packages/astro/test/fixtures/core-image-layout/src/pages/index.astro
  packages/astro/test/fixtures/core-image-layout/src/pages/picture.astro
  packages/astro/test/ssr-assets.test.js
Labels: pkg: astro

#12436 prevents access to the history state if not set
  .changeset/dirty-teachers-know.md
  packages/astro/src/transitions/router.ts
Labels: pkg: astro

#12429 docs: add docs for responsive images
  packages/astro/src/assets/types.ts
  packages/astro/src/assets/utils/imageAttributes.ts
  packages/astro/src/types/public/config.ts
Labels: pkg: astro, docs pr

#12442 Publish missing file for svelte integration
  .changeset/wild-houses-learn.md
  packages/integrations/svelte/package.json
Labels: pkg: svelte, pkg: integration

#12438 fix: skip legacy typegen by default
  .changeset/clean-moles-rest.md
  packages/astro/src/config/index.ts
  packages/astro/src/content/types-generator.ts
  packages/astro/test/astro-sync.test.js
  packages/astro/test/data-collections-schema.test.js
  packages/astro/test/fixtures/content-layer/src/content/config.ts
  packages/astro/test/fixtures/content-layer/src/content/space/columbia-copy.md
  packages/astro/test/fixtures/content-layer/src/content/space/columbia.md
  packages/astro/test/fixtures/content-layer/src/content/space/endeavour.md
  packages/astro/test/fixtures/content-layer/src/content/space/enterprise.md
  packages/astro/test/fixtures/content-layer/src/content/space/index.md
  packages/astro/test/fixtures/content-layer/src/content/space/lunar-module.md
  packages/astro/test/fixtures/content-layer/src/content/space/shuttle.jpg
  packages/astro/test/fixtures/data-collections-schema/src/content/config.ts
Labels: pkg: astro

#12377 feat: experimental responsive images
  .changeset/proud-terms-swim.md
  packages/astro/client.d.ts
  packages/astro/components/Image.astro
  packages/astro/components/Picture.astro
  packages/astro/components/image.css
  packages/astro/src/assets/consts.ts
  packages/astro/src/assets/internal.ts
  packages/astro/src/assets/layout.ts
  packages/astro/src/assets/services/service.ts
  packages/astro/src/assets/services/sharp.ts
  packages/astro/src/assets/types.ts
  packages/astro/src/assets/utils/imageAttributes.ts
  packages/astro/src/assets/vite-plugin-assets.ts
  packages/astro/src/core/config/schema.ts
  packages/astro/src/runtime/server/render/util.ts
  packages/astro/src/types/public/config.ts
  packages/astro/test/content-collections-render.test.js
  packages/astro/test/core-image-layout.test.js
  packages/astro/test/core-image-service.test.js
  packages/astro/test/fixtures/core-image-layout/astro.config.mjs
  packages/astro/test/fixtures/core-image-layout/package.json
  packages/astro/test/fixtures/core-image-layout/src/assets/penguin.jpg
  packages/astro/test/fixtures/core-image-layout/src/assets/walrus.jpg
  packages/astro/test/fixtures/core-image-layout/src/pages/both.astro
  packages/astro/test/fixtures/core-image-layout/src/pages/build.astro
  packages/astro/test/fixtures/core-image-layout/src/pages/fit.astro
  packages/astro/test/fixtures/core-image-layout/src/pages/index.astro
  packages/astro/test/fixtures/core-image-layout/src/pages/picture.astro
  packages/astro/test/fixtures/core-image-layout/src/pages/remote.astro
  packages/astro/test/fixtures/core-image-layout/tsconfig.json
  packages/astro/test/ssr-assets.test.js
  packages/astro/test/test-remote-image-service.js
  packages/astro/test/units/dev/collections-renderentry.test.js
  packages/integrations/markdoc/test/image-assets.test.js
  packages/integrations/markdoc/test/propagated-assets.test.js
  packages/integrations/mdx/test/css-head-mdx.test.js
  packages/integrations/mdx/test/mdx-math.test.js
  pnpm-lock.yaml
Labels: pkg: integration, pkg: astro, docs pr

#12418 Ensure final asset directory exists before writing cached files
  .changeset/thick-shrimps-hammer.md
  packages/astro/src/assets/build/generate.ts
Labels: pkg: astro

#12450 feat: adds session options
  packages/astro/package.json
  packages/astro/src/config/index.ts
  packages/astro/src/core/config/schema.ts
  packages/astro/src/types/public/config.ts
  pnpm-lock.yaml
Labels: pkg: astro, docs pr

#12468 Update links to linting and formatting files in the style guide
  STYLE_GUIDE.md
Labels: - P1: chore, markdown

#12466 ci: remove owner check to enable external PR jobs
  .github/workflows/continuous_benchmark.yml
Labels: 🚨 action

#12470 ci: filter paths of when running the benchmark action
  .github/workflows/continuous_benchmark.yml
Labels: 🚨 action

#12476 fix: content layer glob deletion
  .changeset/six-pianos-draw.md
  packages/astro/src/content/loaders/glob.ts
  packages/astro/test/content-layer.test.js
  packages/astro/test/fixtures/content-layer/src/pages/collections.json.js
Labels: pkg: astro

#12477 fix(build): generated entry
  .changeset/thin-cups-peel.md
  packages/astro/src/core/build/plugins/plugin-ssr.ts
Labels: pkg: astro

#12478 wip: implement sessions
  packages/astro/src/core/app/index.ts
  packages/astro/src/core/app/types.ts
  packages/astro/src/core/build/plugins/plugin-manifest.ts
  packages/astro/src/core/errors/errors-data.ts
  packages/astro/src/core/render-context.ts
  packages/astro/src/core/session.ts
  packages/astro/src/types/public/config.ts
  packages/astro/src/types/public/context.ts
  packages/astro/src/vite-plugin-astro-server/plugin.ts
  packages/astro/src/vite-plugin-astro-server/route.ts
  packages/astro/test/fixtures/sessions/astro.config.mjs
  packages/astro/test/fixtures/sessions/package.json
  packages/astro/test/fixtures/sessions/src/actions/index.ts
  packages/astro/test/fixtures/sessions/src/middleware.ts
  packages/astro/test/fixtures/sessions/src/pages/api.ts
  packages/astro/test/fixtures/sessions/src/pages/cart.astro
  packages/astro/test/fixtures/sessions/src/pages/destroy.ts
  packages/astro/test/fixtures/sessions/src/pages/index.astro
  packages/astro/test/fixtures/sessions/src/pages/regenerate.ts
  packages/astro/test/fixtures/sessions/tsconfig.json
  packages/astro/test/units/sessions/astro-session.js
  pnpm-lock.yaml
Labels: pkg: astro, docs pr

#12480 Remove default throw behavior in astro:env
  .changeset/early-scissors-beg.md
  packages/astro/src/core/app/pipeline.ts
  packages/astro/src/core/base-pipeline.ts
  packages/astro/src/core/errors/errors-data.ts
Labels: pkg: astro, docs pr

#12479 refactor(build): don't emit `middleware.mjs`
  packages/astro/src/core/build/generate.ts
  packages/astro/src/core/build/pipeline.ts
  packages/astro/src/core/middleware/vite-plugin.ts
Labels: pkg: astro

#12482 chore: clarify wording of responsive image props
  packages/astro/src/assets/internal.ts
  packages/astro/src/types/public/config.ts
Labels: pkg: astro, docs pr

#12484 chore: better images changeset pt 2
  .changeset/proud-terms-swim.md
Labels: semver: minor

#12444 fix: server island hydration
  .changeset/olive-garlics-marry.md
  packages/astro/src/runtime/server/render/server-islands.ts
Labels: pkg: astro

#12365 fix: return correct locale in root 404 and 500 page with i18n
  .changeset/warm-poems-breathe.md
  packages/astro/src/core/render-context.ts
  packages/astro/src/core/routing/match.ts
  packages/astro/test/fixtures/i18n-routing/src/pages/404.astro
  packages/astro/test/i18n-routing.test.js
Labels: pkg: astro

#12475 feat: support new location for content config
  .changeset/thirty-clocks-jump.md
  examples/blog/src/content.config.ts
  examples/portfolio/src/content.config.ts
  examples/starlog/src/content.config.ts
  examples/with-markdoc/src/content.config.ts
  packages/astro/src/content/runtime.ts
  packages/astro/src/content/server-listeners.ts
  packages/astro/src/content/types-generator.ts
  packages/astro/src/content/utils.ts
  packages/astro/src/core/errors/errors-data.ts
  packages/astro/src/core/sync/index.ts
  packages/astro/src/types/public/config.ts
  packages/astro/test/astro-sync.test.js
  packages/astro/test/content-layer.test.js
  packages/astro/test/fixtures/astro-assets-dir/src/content.config.ts
  packages/astro/test/fixtures/astro-assets-prefix/src/content.config.ts
  packages/astro/test/fixtures/astro-env-content-collections/src/content.config.ts
  packages/astro/test/fixtures/content with spaces in folder name/src/content.config.ts
  packages/astro/test/fixtures/content-collection-references/src/content.config.ts
  packages/astro/test/fixtures/content-collections-base/src/content.config.ts
  packages/astro/test/fixtures/content-collections-cache-invalidation/src/content.config.ts
  packages/astro/test/fixtures/content-collections-empty-dir/src/content.config.ts
  packages/astro/test/fixtures/content-collections-mutation/src/content.config.ts
  packages/astro/test/fixtures/content-collections-same-contents/src/content.config.ts
  packages/astro/test/fixtures/content-collections/src/content.config.ts
  packages/astro/test/fixtures/content-intellisense/src/content.config.ts
  packages/astro/test/fixtures/content-layer-markdoc/src/content.config.ts
  packages/astro/test/fixtures/content-layer-rendering/src/content.config.ts
  packages/astro/test/fixtures/content-layer/src/content.config.ts
  packages/astro/test/fixtures/content-static-paths-integration/src/content.config.ts
  packages/astro/test/fixtures/core-image-base/src/content.config.ts
  packages/astro/test/fixtures/core-image-deletion/src/content.config.ts
  packages/astro/test/fixtures/core-image-ssg/src/content.config.ts
  packages/astro/test/fixtures/data-collections-schema/src/content.config.ts
  packages/astro/test/fixtures/data-collections/src/content.config.ts
  packages/astro/test/units/content-collections/frontmatter.test.js
  packages/astro/test/units/content-collections/get-entry-type.test.js
  packages/astro/test/units/dev/collections-mixed-content-errors.test.js
  packages/astro/test/units/dev/collections-renderentry.test.js
Labels: pkg: example, pkg: astro, semver: minor, docs pr

#12481 Resolve peer dependency problem in the integration packages (SolidJS, Vue, Svelte, React)
  .changeset/strong-stingrays-provide.md
  packages/integrations/preact/package.json
  packages/integrations/react/package.json
  packages/integrations/solid/package.json
  packages/integrations/svelte/package.json
  packages/integrations/vue/package.json
  pnpm-lock.yaml
Labels: pkg: svelte, pkg: vue, pkg: react, pkg: preact, pkg: solid, pkg: integration

#12329 feat(next): astro:routes:resolved
  .changeset/giant-ravens-look.md
  packages/astro/src/actions/integration.ts
  packages/astro/src/assets/endpoint/config.ts
  packages/astro/src/container/index.ts
  packages/astro/src/core/dev/container.ts
  packages/astro/src/core/routing/astro-designed-error-pages.ts
  packages/astro/src/core/routing/manifest/create.ts
  packages/astro/src/core/routing/manifest/serialization.ts
  packages/astro/src/core/server-islands/endpoint.ts
  packages/astro/src/integrations/hooks.ts
  packages/astro/src/types/astro.ts
  packages/astro/src/types/public/integrations.ts
  packages/astro/src/types/public/internal.ts
  packages/astro/src/vite-plugin-astro-server/plugin.ts
  packages/astro/src/vite-plugin-integrations-container/index.ts
  packages/astro/test/units/integrations/api.test.js
Labels: pkg: astro, semver: minor, docs pr

#12486 Call server island early so it can set headers
  .changeset/rotten-dodos-judge.md
  packages/astro/src/core/server-islands/endpoint.ts
  packages/astro/src/vite-plugin-astro-server/plugin.ts
  packages/astro/test/fixtures/server-islands/ssr/src/components/Island.astro
  packages/astro/test/server-islands.test.js
Labels: pkg: astro

#12493 Merge main into next
  .changeset/strong-stingrays-provide.md
  examples/framework-solid/package.json
  packages/integrations/preact/CHANGELOG.md
  packages/integrations/react/CHANGELOG.md
  packages/integrations/solid/CHANGELOG.md
  packages/integrations/svelte/CHANGELOG.md
  packages/integrations/vue/CHANGELOG.md
  pnpm-lock.yaml
Labels: pkg: svelte, pkg: vue, pkg: example, pkg: react, pkg: preact, pkg: solid, pkg: integration, semver: minor

#12471 feat: prototype session support
  packages/astro/src/core/app/index.ts
  packages/astro/src/core/app/types.ts
  packages/astro/src/core/build/plugins/plugin-manifest.ts
  packages/astro/src/core/config/schema.ts
  packages/astro/src/core/errors/errors-data.ts
  packages/astro/src/core/render-context.ts
  packages/astro/src/core/session.ts
  packages/astro/src/types/public/config.ts
  packages/astro/src/types/public/context.ts
  packages/astro/src/vite-plugin-astro-server/plugin.ts
  packages/astro/src/vite-plugin-astro-server/route.ts
  packages/astro/test/fixtures/sessions/astro.config.mjs
  packages/astro/test/fixtures/sessions/package.json
  packages/astro/test/fixtures/sessions/src/actions/index.ts
  packages/astro/test/fixtures/sessions/src/middleware.ts
  packages/astro/test/fixtures/sessions/src/pages/api.ts
  packages/astro/test/fixtures/sessions/src/pages/cart.astro
  packages/astro/test/fixtures/sessions/src/pages/destroy.ts
  packages/astro/test/fixtures/sessions/src/pages/index.astro
  packages/astro/test/fixtures/sessions/src/pages/regenerate.ts
  packages/astro/test/fixtures/sessions/tsconfig.json
  packages/astro/test/units/sessions/astro-session.test.js
  pnpm-lock.yaml
Labels: pkg: astro, docs pr

#12498 fix(routing): don't access Request headers
  .changeset/unlucky-kids-compete.md
  packages/astro/src/core/middleware/noop-middleware.ts
Labels: pkg: astro

#12502 ci: exit pre if needed
  .github/workflows/snapshot-release.yml
  package.json
  pnpm-lock.yaml
Labels: 🚨 action

#12504 ci: fix changeset action
  .github/workflows/snapshot-release.yml
Labels: 🚨 action

#12472 feat(examples): New basics template
  examples/basics/src/assets/astro.svg
  examples/basics/src/assets/background.svg
  examples/basics/src/components/Welcome.astro
  examples/basics/src/layouts/Layout.astro
  examples/basics/src/pages/index.astro
  packages/astro/components/Welcome.astro
  packages/astro/components/index.ts
Labels: pkg: example, pkg: astro

#12511 Fix SVG Component sprite ids
  .changeset/red-paws-juggle.md
  packages/astro/src/assets/runtime.ts
  packages/astro/test/core-image-svg.test.js
Labels: pkg: astro

#12512 Delete empty `server-islands` example
  examples/server-islands/tsconfig.json
Labels: pkg: example

#12510 Rename Action query param to _action
  .changeset/sixty-fishes-flow.md
  packages/astro/e2e/actions-blog.test.js
  packages/astro/src/actions/consts.ts
  packages/astro/test/actions.test.js
  packages/integrations/react/server.js
  packages/integrations/react/src/actions.ts
Labels: pkg: react, pkg: integration, pkg: astro, semver: minor

#12519 fix(examples): Missing node types for toolbar example
  examples/toolbar-app/package.json
  pnpm-lock.yaml
Labels: pkg: example

#12520 fix: use virtual import for storage drivers
  packages/astro/src/core/create-vite.ts
  packages/astro/src/core/session.ts
  packages/astro/src/vite-plugin-sessions/index.ts
  packages/astro/test/fixtures/sessions/astro.config.mjs
Labels: pkg: astro

#12523 Update links in errors-data.ts
  packages/astro/src/core/errors/errors-data.ts
Labels: pkg: astro, docs pr

#12516 fix: handle other elements before the `svg` element
  .changeset/eight-seahorses-attend.md
  packages/astro/src/assets/utils/svg.ts
  packages/astro/test/core-image-svg.test.js
  packages/astro/test/fixtures/core-image-svg/src/assets/dragon.svg
  packages/astro/test/fixtures/core-image-svg/src/pages/strip.astro
Labels: pkg: astro

#12533 refactor(mdx): add entrypoint as full path file
  .changeset/young-terms-hammer.md
  packages/integrations/mdx/src/index.ts
Labels: pkg: integration

#12525 fix(i18n): render `404.astro` when i18n is enabled
  .changeset/hot-dingos-dress.md
  packages/astro/src/i18n/middleware.ts
  packages/astro/src/vite-plugin-astro-server/request.ts
  packages/astro/src/vite-plugin-astro-server/route.ts
  packages/astro/test/fixtures/i18n-routing/src/pages/404.astro
  packages/astro/test/i18n-routing.test.js
Labels: pkg: astro

#12524 Update Vite to 6.0.0
  .changeset/breezy-brooms-count.md
  .changeset/eighty-crabs-cross.md
  .changeset/lemon-frogs-wait.md
  .changeset/slimy-jeans-train.md
  examples/container-with-vitest/package.json
  examples/with-tailwindcss/package.json
  examples/with-vitest/package.json
  package.json
  packages/astro/e2e/fixtures/tailwindcss/package.json
  packages/astro/package.json
  packages/astro/src/core/create-vite.ts
  packages/astro/src/vite-plugin-astro/index.ts
  packages/astro/test/config-vite.test.js
  packages/astro/test/fixtures/postcss/package.json
  packages/astro/test/fixtures/tailwindcss-ts/package.json
  packages/astro/test/fixtures/tailwindcss/package.json
  packages/astro/test/fixtures/vitest/package.json
  packages/db/package.json
  packages/db/test/fixtures/ticketing-example/package.json
  packages/integrations/alpinejs/package.json
  packages/integrations/markdoc/package.json
  packages/integrations/mdx/package.json
  packages/integrations/preact/package.json
  packages/integrations/react/package.json
  packages/integrations/solid/package.json
  packages/integrations/solid/src/index.ts
  packages/integrations/svelte/package.json
  packages/integrations/tailwind/package.json
  packages/integrations/vue/package.json
  packages/studio/package.json
  pnpm-lock.yaml
Labels: pkg: svelte, pkg: vue, pkg: example, pkg: react, pkg: preact, pkg: solid, pkg: integration, pkg: astro, semver: major

#12508 ci: fetch changeset base branch when snapshot
  .github/workflows/snapshot-release.yml
Labels: 🚨 action

#12542 Fix JPEG image size determination
  .changeset/bright-pants-trade.md
  packages/astro/src/assets/utils/vendor/image-size/types/jpg.ts
Labels: pkg: astro

#12539 Drop node 21 support
  .changeset/fair-ears-compare.md
  package.json
  packages/astro-prism/package.json
  packages/astro/package.json
  packages/create-astro/package.json
  packages/integrations/markdoc/package.json
  packages/integrations/mdx/package.json
  packages/integrations/preact/package.json
  packages/integrations/react/package.json
  packages/integrations/solid/package.json
  packages/integrations/svelte/package.json
  packages/integrations/vue/package.json
  packages/telemetry/package.json
  packages/upgrade/package.json
Labels: pkg: svelte, pkg: vue, pkg: react, pkg: preact, pkg: solid, pkg: integration, pkg: create-astro, pkg: astro, semver: minor

#12543 Examples fixes and preview.astro.new support
  .github/workflows/examples-deploy.yml
  examples/blog/src/components/HeaderLink.astro
  examples/portfolio/src/components/Nav.astro
  examples/with-nanostores/src/layouts/Layout.astro
  examples/with-nanostores/src/pages/index.astro
  examples/with-nanostores/src/utils.ts
Labels: pkg: example, 🚨 action

#12540 Use node 22 in CI
  .github/workflows/benchmark.yml
  .github/workflows/check.yml
  .github/workflows/ci.yml
  .github/workflows/continuous_benchmark.yml
  .github/workflows/preview-release.yml
  .github/workflows/release.yml
  .github/workflows/scripts.yml
  .github/workflows/snapshot-release.yml
  .github/workflows/test-hosts.yml
Labels: 🚨 action

#12550 ci: remove `next` from workflows
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .github/workflows/sync-examples.yml
Labels: 🚨 action

#12557 chore: downgrade examples to not use beta releases
  examples/basics/package.json
  examples/blog/package.json
  examples/blog/src/content/config.ts
  examples/component/package.json
  examples/framework-alpine/package.json
  examples/framework-multiple/package.json
  examples/framework-preact/package.json
  examples/framework-react/package.json
  examples/framework-solid/package.json
  examples/framework-svelte/package.json
  examples/framework-vue/package.json
  examples/hackernews/package.json
  examples/integration/package.json
  examples/minimal/package.json
  examples/portfolio/package.json
  examples/ssr/package.json
  examples/toolbar-app/package.json
  examples/with-markdoc/package.json
  examples/with-mdx/package.json
  examples/with-nanostores/package.json
  examples/with-tailwindcss/package.json
  pnpm-lock.yaml
Labels: pkg: example

#12565 fix: generate types even without src/content
  .changeset/blue-gorillas-accept.md
  packages/astro/src/core/sync/index.ts
  packages/astro/test/content-layer.test.js
Labels: pkg: astro
