Repository withastro/astro, pull requests merged in 2024-12, with the labels that each got.

#12552 fix: remove value and writable properties from headers descriptor
  .changeset/tame-hats-fold.md
  packages/astro/src/core/request.ts
Labels: pkg: astro

#12584 fix(markdoc): correctly render boolean HTML attributes
  .changeset/twenty-lobsters-think.md
  packages/integrations/markdoc/src/html/tagdefs/html.tag.ts
  packages/integrations/markdoc/test/fixtures/render-html/src/content/blog/simple.mdoc
  packages/integrations/markdoc/test/render-html.test.js
Labels: pkg: integration

#12578 fix(actions): explicitly import index.ts to fix types when moduleResolution is NodeNext
  .changeset/empty-jobs-impress.md
  packages/astro/src/actions/integration.ts
Labels: pkg: astro

#12586 fix: update tests
  packages/astro/test/fixtures/astro-cookies/astro.config.mjs
  packages/astro/test/fixtures/redirects/astro.config.mjs
  packages/astro/test/fixtures/reroute/astro.config.mjs
  packages/astro/test/fixtures/rewrite-server/astro.config.mjs
  packages/astro/test/fixtures/ssr-error-pages/astro.config.mjs
Labels: pkg: astro

#12588 Update examples for v5
  examples/basics/package.json
  examples/blog/package.json
  examples/blog/src/content.config.ts
  examples/blog/src/pages/blog/[...slug].astro
  examples/blog/src/pages/blog/index.astro
  examples/blog/src/pages/rss.xml.js
  examples/component/package.json
  examples/framework-alpine/package.json
  examples/framework-multiple/package.json
  examples/framework-preact/package.json
  examples/framework-react/package.json
  examples/framework-solid/package.json
  examples/framework-svelte/package.json
  examples/framework-vue/package.json
  examples/hackernews/package.json
  examples/integration/package.json
  examples/minimal/package.json
  examples/portfolio/package.json
  examples/portfolio/src/components/PortfolioPreview.astro
  examples/portfolio/src/content.config.ts
  examples/portfolio/src/pages/work/[...slug].astro
  examples/ssr/package.json
  examples/starlog/src/content.config.ts
  examples/starlog/src/pages/index.astro
  examples/starlog/src/pages/releases/[slug].astro
  examples/toolbar-app/package.json
  examples/with-markdoc/package.json
  examples/with-mdx/package.json
  examples/with-nanostores/package.json
  examples/with-tailwindcss/package.json
  pnpm-lock.yaml
Labels: pkg: example

#12591 fix: make image endpoint highest priority
  .changeset/plenty-carrots-nail.md
  packages/astro/src/assets/endpoint/config.ts
  packages/astro/test/fixtures/core-image-ssr/src/pages/[...catchall].astro
Labels: pkg: astro

#12593 test: update `sitemap` tests to use the latest `@astrojs/node`
  packages/integrations/sitemap/package.json
  pnpm-lock.yaml
Labels: pkg: integration

#12590 fix: devtools warnings about dev toolbar form fields
  .changeset/lazy-bottles-trade.md
  packages/astro/src/runtime/client/dev-toolbar/ui-library/select.ts
  packages/astro/src/runtime/client/dev-toolbar/ui-library/toggle.ts
Labels: pkg: astro

#12596 fix(examples): update Sass usage in Starlog example
  examples/starlog/src/styles/colors.scss
  examples/starlog/src/styles/global.scss
  examples/starlog/src/styles/layout.scss
  examples/starlog/src/styles/type.scss
Labels: pkg: example

#12601 fix: include undefined in types for getEntry with content layer
  .changeset/fuzzy-bats-try.md
  packages/astro/templates/content/types.d.ts
Labels: pkg: astro

#12607 chore: add null check to example
  examples/with-markdoc/src/pages/index.astro
Labels: pkg: example

#12603 chore: update examples to use latest node
  examples/hackernews/package.json
  examples/ssr/package.json
  pnpm-lock.yaml
Labels: pkg: example

#12605 refactor: use `vitest` for benchmarks
  .github/workflows/continuous_benchmark.yml
  benchmark/bench/_util.js
  benchmark/bench/codspeed.bench.js
  benchmark/bench/codspeed.js
  benchmark/index.js
  benchmark/make-project/markdown-cc1.js
  benchmark/make-project/markdown-cc2.js
  benchmark/make-project/mdx-cc1.js
  benchmark/make-project/mdx-cc2.js
  benchmark/make-project/memory-default.js
  benchmark/make-project/render-bench.js
  benchmark/make-project/render-default.js
  benchmark/make-project/server-stress-default.js
  benchmark/package.json
  benchmark/vitest.config.js
  biome.jsonc
  pnpm-lock.yaml
Labels: 🚨 action

#12600 feat: make basics link point to final article
  examples/basics/src/components/Welcome.astro
Labels: pkg: example

#12620 ci: update repro link
  .github/ISSUE_TEMPLATE/---01-bug-report.yml
  .github/workflows/issue-labeled.yml
Labels: 🚨 action

#12461 Remove misleading warning when using a custom renderer
  .changeset/chatty-knives-confess.md
  packages/astro/src/runtime/server/render/component.ts
  packages/astro/test/custom-renderer.test.js
  packages/astro/test/fixtures/custom-renderer/astro.config.mjs
  packages/astro/test/fixtures/custom-renderer/package.json
  packages/astro/test/fixtures/custom-renderer/src/components/CustomRendererTest.ts
  packages/astro/test/fixtures/custom-renderer/src/custom-renderer/client.ts
  packages/astro/test/fixtures/custom-renderer/src/custom-renderer/index.ts
  packages/astro/test/fixtures/custom-renderer/src/custom-renderer/server.ts
  packages/astro/test/fixtures/custom-renderer/src/pages/index.astro
  packages/astro/test/fixtures/custom-renderer/tsconfig.json
  pnpm-lock.yaml
Labels: pkg: astro

#12566 Improve serverEntrypoint codegen
  packages/astro/src/core/build/plugins/plugin-renderers.ts
  packages/astro/src/core/build/plugins/plugin-ssr.ts
Labels: pkg: astro

#12623 fix: handle uppercase image file extensions
  .changeset/six-toes-sort.md
  packages/astro/src/assets/utils/resolveImports.ts
  packages/astro/test/content-layer.test.js
  packages/astro/test/fixtures/content-layer/src/content/space/atlantis.JPG
  packages/astro/test/fixtures/content-layer/src/content/space/atlantis.md
  packages/astro/test/fixtures/content-layer/src/pages/collections.json.js
Labels: pkg: astro

#12627 chore: use the `/repro` route for reproduction
  .github/ISSUE_TEMPLATE/---01-bug-report.yml
  .github/workflows/issue-labeled.yml
Labels: 🚨 action

#12625 fix: experimental svg types
  .changeset/rare-cooks-battle.md
  packages/astro/src/core/config/schema.ts
  packages/astro/src/types/public/config.ts
  pnpm-lock.yaml
Labels: pkg: astro, docs pr

#12630 [docs] removes link in config reference
  packages/astro/src/types/public/config.ts
Labels: pkg: astro, docs pr

#12449 fix custom `assetFileNames` issue
  .changeset/neat-papayas-brake.md
  packages/astro/src/core/build/index.ts
  packages/astro/src/core/build/static-build.ts
  packages/astro/test/custom-assets-name.test.js
  packages/astro/test/fixtures/custom-assets-name/astro.config.mjs
  packages/astro/test/fixtures/custom-assets-name/src/images/penguin1.jpg
  packages/astro/test/fixtures/custom-assets-name/src/pages/index.astro
Labels: pkg: astro

#12631 fix: don't apply duplicate class to images
  .changeset/silver-hats-agree.md
  packages/astro/components/Image.astro
  packages/astro/components/Picture.astro
  packages/astro/test/core-image-layout.test.js
Labels: pkg: astro

#12547 fix(i18n): pass search params to fallback
  .changeset/kind-mayflies-argue.md
  packages/astro/src/i18n/index.ts
  packages/astro/test/fixtures/i18n-routing-fallback/src/pages/pt/start.astro
  packages/astro/test/fixtures/i18n-routing-fallback/src/pages/start.astro
  packages/astro/test/i18n-routing.test.js
Labels: pkg: astro, semver: minor

#12640 fix: use correct datastore location in test environment
  .changeset/violet-bugs-enjoy.md
  packages/astro/src/content/vite-plugin-content-virtual-mod.ts
  packages/astro/src/core/dev/dev.ts
Labels: pkg: astro

#12642 chore: better warning
  .changeset/fuzzy-pans-cough.md
  packages/astro/src/core/build/generate.ts
  packages/astro/src/core/request.ts
  packages/astro/src/vite-plugin-astro-server/route.ts
Labels: pkg: astro

#12645 [docs] update error message URLs
  packages/astro/src/core/errors/errors-data.ts
Labels: pkg: astro, docs pr

#12634 Improve Zod error messages and user config error messages
  .changeset/heavy-buttons-compare.md
  packages/astro/src/core/config/schema.ts
  packages/astro/src/core/config/validate.ts
  packages/astro/src/core/errors/zod-error-map.ts
  packages/astro/src/core/messages.ts
  packages/astro/test/content-collections.test.js
  packages/astro/test/error-map.test.js
  packages/astro/test/legacy-content-collections.test.js
  packages/astro/test/units/config/config-validate.test.js
Labels: pkg: astro

#12641 fix: correctly copy to clipboard in `astro info`
  .changeset/angry-pumas-act.md
  packages/astro/src/cli/info/index.ts
  packages/astro/test/cli.test.js
Labels: pkg: astro

#12613 Keep clientAddress on cloned requests
  .changeset/wild-geckos-draw.md
  packages/astro/src/container/index.ts
  packages/astro/src/core/app/index.ts
  packages/astro/src/core/build/generate.ts
  packages/astro/src/core/render-context.ts
  packages/astro/src/core/request.ts
  packages/astro/src/vite-plugin-astro-server/route.ts
  packages/astro/test/fixtures/client-address/src/middleware.ts
Labels: pkg: astro

#12518 fix(ssr): duplicate custom headers
  .changeset/proud-wombats-mate.md
  packages/astro/src/core/app/index.ts
  packages/astro/test/fixtures/ssr-error/package.json
  packages/astro/test/fixtures/ssr-error/src/pages/[...slug].astro
  packages/astro/test/fixtures/ssr-error/src/pages/index.astro
  packages/astro/test/ssr-error-pages.test.js
  pnpm-lock.yaml
Labels: pkg: astro

#12632 fix: `checkOrigin` headers check
  .changeset/swift-pandas-serve.md
  packages/astro/src/core/app/middlewares.ts
  packages/astro/test/csrf-protection.test.js
Labels: pkg: astro

#12570 Bugfix/extra whitespace in code
  .changeset/twelve-pens-remain.md
  packages/markdown/remark/src/shiki.ts
Labels: feat: markdown

#12654 fix: [sessions] import storage driver in manifest
  packages/astro/src/core/app/types.ts
  packages/astro/src/core/build/plugins/plugin-manifest.ts
  packages/astro/src/core/create-vite.ts
  packages/astro/src/core/session.ts
  packages/astro/src/types/public/config.ts
  packages/astro/src/vite-plugin-sessions/index.ts
Labels: pkg: astro, docs pr

#12664 Fix frontmatter parsing with utf8 bom
  .changeset/unlucky-wasps-refuse.md
  packages/markdown/remark/src/frontmatter.ts
  packages/markdown/remark/test/frontmatter.test.js
Labels: feat: markdown

#12647 fix(routing): don't attach locals to request
  packages/astro/src/core/app/index.ts
  packages/astro/src/core/base-pipeline.ts
  packages/astro/src/core/middleware/index.ts
  packages/astro/src/core/request.ts
  packages/astro/src/vite-plugin-astro-server/route.ts
  packages/astro/test/units/routing/api-context.test.js
  packages/astro/test/units/vite-plugin-astro-server/response.test.js
Labels: pkg: astro

#12653 [error message] updates docs link
  .changeset/bright-gifts-prove.md
  packages/astro/src/core/errors/errors-data.ts
Labels: pkg: astro, docs pr

#12585 fix: do not freeze process.env in dev
  .changeset/nasty-parrots-cry.md
  packages/astro/src/container/index.ts
  packages/astro/src/core/app/types.ts
  packages/astro/src/core/build/generate.ts
  packages/astro/src/core/build/plugins/plugin-manifest.ts
  packages/astro/src/core/create-vite.ts
  packages/astro/src/env/env-loader.ts
  packages/astro/src/env/runtime.ts
  packages/astro/src/env/vite-plugin-env.ts
  packages/astro/src/vite-plugin-astro-server/plugin.ts
  packages/astro/src/vite-plugin-env/index.ts
  packages/astro/templates/env.mjs
Labels: pkg: astro

#12697 fix: escape image filenames
  .changeset/famous-teachers-hug.md
  packages/astro/src/content/mutable-data-store.ts
  packages/astro/test/fixtures/content-layer/images/I'm back.jpg
  packages/astro/test/fixtures/content-layer/src/content/space/endeavour.md
Labels: pkg: astro

#12688 chore: fix vite peer dependency issue for vue integration
  .changeset/green-coins-tie.md
  packages/integrations/vue/package.json
  pnpm-lock.yaml
Labels: pkg: vue, pkg: integration

#12694 fix(svg): conditional opt-in
  .changeset/fast-adults-lick.md
  packages/astro/src/assets/utils/node/emitAsset.ts
  packages/astro/src/assets/vite-plugin-assets.ts
  packages/astro/src/content/content-layer.ts
  packages/astro/src/content/runtime-assets.ts
  packages/astro/src/content/utils.ts
  packages/astro/src/content/vite-plugin-content-imports.ts
  packages/integrations/markdoc/src/content-entry-type.ts
Labels: pkg: integration, pkg: astro

#12705 fix: escape content module import paths
  .changeset/blue-spiders-carry.md
  packages/astro/src/content/mutable-data-store.ts
  packages/astro/test/fixtures/content-layer-rendering/content-outside-src-mdx/I'm back!.mdx
  packages/astro/test/fixtures/content-layer-rendering/content-outside-src-mdx/I'm back.jpg
Labels: pkg: astro

#12658 fix: copy info to clipboard on linux
  .changeset/shy-worms-talk.md
  packages/astro/src/cli/info/index.ts
Labels: pkg: astro

#12693 feat(sessions): implement ttl and flash
  packages/astro/src/core/config/schema.ts
  packages/astro/src/core/session.ts
  packages/astro/src/types/public/config.ts
  packages/astro/test/fixtures/sessions/astro.config.mjs
  packages/astro/test/fixtures/sessions/src/middleware.ts
  packages/astro/test/fixtures/sessions/src/pages/flash-rewrite.astro
  packages/astro/test/fixtures/sessions/src/pages/flash.astro
  packages/astro/test/fixtures/sessions/src/pages/index.astro
  packages/astro/test/units/sessions/astro-session.test.js
Labels: pkg: astro, docs pr

#12707 fix(middleware): don't import via entrypoint
  .changeset/bright-crabs-kick.md
  packages/astro/src/core/build/pipeline.ts
  packages/astro/test/fixtures/middleware-full-ssr/package.json
  packages/astro/test/fixtures/middleware-full-ssr/src/error.js
  packages/astro/test/fixtures/middleware-full-ssr/src/middleware.js
  packages/astro/test/fixtures/middleware-full-ssr/src/pages/index.astro
  packages/astro/test/middleware.test.js
  pnpm-lock.yaml
Labels: pkg: astro

#12678 Add React 19 stable as peer dependency for React integration
  .changeset/tame-countries-beg.md
  packages/integrations/react/package.json
Labels: pkg: react, pkg: integration

#12712 fix: strip query string before checking md extension
  .changeset/tidy-ligers-tan.md
  packages/astro/src/core/util.ts
  packages/astro/test/astro-markdown.test.js
  packages/astro/test/fixtures/astro-markdown/src/pages/false-positive.astro
Labels: pkg: astro

#12714 chore: refactor query param strip
  packages/astro/src/core/util.ts
Labels: pkg: astro

#12696 chore: remove unused imports
  benchmark/index.js
  benchmark/packages/adapter/src/index.ts
  biome.jsonc
  packages/astro/src/assets/utils/imageAttributes.ts
  packages/astro/src/core/app/index.ts
  packages/astro/src/core/build/plugins/plugin-manifest.ts
  packages/astro/src/core/build/plugins/plugin-ssr.ts
  packages/astro/src/vite-plugin-astro-server/route.ts
  packages/astro/templates/env.mjs
  packages/astro/test/units/routing/route-matching.test.js
  packages/db/src/core/integration/index.ts
  packages/integrations/markdoc/src/html/transform/html-token-transform.ts
Labels: pkg: integration, pkg: astro

#12657 fix(actions): support trailing slash
  .changeset/spicy-guests-protect.md
  packages/astro/src/actions/plugins.ts
  packages/astro/src/actions/runtime/virtual/server.ts
  packages/astro/src/actions/runtime/virtual/shared.ts
  packages/astro/templates/actions.mjs
  packages/astro/test/actions.test.js
Labels: pkg: astro

#12709 fix(i18n): parse params and props correctly with fallback
  .changeset/selfish-paws-play.md
  packages/astro/src/core/render/params-and-props.ts
  packages/astro/test/fixtures/i18n-routing-fallback/src/pages/blog/[id].astro
  packages/astro/test/fixtures/i18n-routing-fallback/src/pages/pt/blog/[id].astro
  packages/astro/test/i18n-routing.test.js
Labels: pkg: astro

#12715 fix: use atomic writes for data store file operations
  .changeset/tame-bags-remember.md
  packages/astro/src/content/mutable-data-store.ts
Labels: pkg: astro

#12728 Adds `closedby` to dialog interface
  .changeset/neat-pumas-accept.md
  packages/astro/astro-jsx.d.ts
Labels: pkg: astro

#12729 Add inert attribute to boolean list
  .changeset/twelve-donuts-hide.md
  packages/astro/src/runtime/server/render/util.ts
Labels: pkg: astro

#12732 test: make tailwind test more stable
  packages/integrations/tailwind/test/fixtures/basic/tailwind.config.js
Labels: pkg: integration

#12726 fix(cli): let sync throw in check
  .changeset/twenty-keys-divide.md
  packages/astro/src/cli/check/index.ts
Labels: pkg: astro, semver: minor

#12746 Revert "fix custom `assetFileNames` issue (#12449)"
  .changeset/loud-emus-look.md
  packages/astro/src/core/build/index.ts
  packages/astro/src/core/build/static-build.ts
  packages/astro/test/custom-assets-name.test.js
  packages/astro/test/fixtures/custom-assets-name/astro.config.mjs
  packages/astro/test/fixtures/custom-assets-name/src/images/penguin1.jpg
  packages/astro/test/fixtures/custom-assets-name/src/pages/index.astro
Labels: pkg: astro

#12749 Clean sourcemaps from static output
  .changeset/tame-spoons-shop.md
  packages/astro/src/core/build/index.ts
  packages/astro/src/core/build/static-build.ts
  packages/astro/test/astro-basic.test.js
  packages/astro/test/fixtures/astro-basic/astro.config.mjs
  packages/astro/test/sourcemap.test.js
Labels: pkg: astro

#12756 Remove debug logging from output
  .changeset/soft-cows-buy.md
  packages/astro/src/core/build/static-build.ts
Labels: pkg: astro

#12758 Adds types for `?url&inline` & `?url&no-inline` import queries
  .changeset/curly-snakes-shave.md
  packages/astro/client.d.ts
Labels: pkg: astro

#12763 fix: invoke vite.build with up to date configuration during astro:bui…
  .changeset/heavy-dots-sip.md
  packages/astro/src/core/build/static-build.ts
Labels: pkg: astro

#12757 Prevent server sourcemaps from being part of client output
  .changeset/loud-emus-look.md
  .changeset/tame-spoons-shop.md
  packages/astro/src/core/build/index.ts
  packages/astro/src/core/build/static-build.ts
  packages/astro/test/astro-basic.test.js
  packages/astro/test/experimental-content-collections-render.test.js
  packages/astro/test/fixtures/astro-basic/astro.config.mjs
  packages/astro/test/sourcemap.test.js
Labels: pkg: astro

#12769 docs: fix typos/punctuation
  packages/astro/src/types/public/config.ts
Labels: pkg: astro, docs pr

#12426 feat(assets): Use entity-tags to revalidate cached remote images
  .changeset/red-poems-pay.md
  packages/astro/src/assets/build/generate.ts
  packages/astro/src/assets/build/remote.ts
Labels: pkg: astro, semver: minor

#12441 Sessions API
  .changeset/poor-mangos-fold.md
  packages/astro/package.json
  packages/astro/src/config/index.ts
  packages/astro/src/core/app/index.ts
  packages/astro/src/core/app/types.ts
  packages/astro/src/core/build/plugins/plugin-manifest.ts
  packages/astro/src/core/config/schema.ts
  packages/astro/src/core/errors/errors-data.ts
  packages/astro/src/core/render-context.ts
  packages/astro/src/core/session.ts
  packages/astro/src/types/public/config.ts
  packages/astro/src/types/public/context.ts
  packages/astro/src/vite-plugin-astro-server/plugin.ts
  packages/astro/src/vite-plugin-astro-server/route.ts
  packages/astro/test/fixtures/sessions/astro.config.mjs
  packages/astro/test/fixtures/sessions/package.json
  packages/astro/test/fixtures/sessions/src/actions/index.ts
  packages/astro/test/fixtures/sessions/src/middleware.ts
  packages/astro/test/fixtures/sessions/src/pages/api.ts
  packages/astro/test/fixtures/sessions/src/pages/cart.astro
  packages/astro/test/fixtures/sessions/src/pages/destroy.ts
  packages/astro/test/fixtures/sessions/src/pages/index.astro
  packages/astro/test/fixtures/sessions/src/pages/regenerate.ts
  packages/astro/test/fixtures/sessions/tsconfig.json
  packages/astro/test/units/sessions/astro-session.test.js
  packages/integrations/preact/src/static-html.ts
  pnpm-lock.yaml
Labels: pkg: preact, pkg: integration, pkg: astro, semver: minor, docs pr

#12767 fix: clear the content layer cache when the Astro config changes
  .changeset/shaggy-dancers-run.md
  packages/astro/src/content/content-layer.ts
  packages/astro/src/content/utils.ts
  packages/astro/test/content-layer.test.js
  packages/astro/test/fixtures/content-layer/astro.config.mjs
Labels: pkg: astro

#12721 feat(actions): getActionPath()
  .changeset/wise-boxes-develop.md
  packages/astro/src/actions/plugins.ts
  packages/astro/templates/actions.mjs
  packages/astro/test/actions.test.js
  packages/astro/test/fixtures/actions/src/pages/get-action-path.astro
  packages/astro/types/actions.d.ts
Labels: pkg: astro, semver: minor

#12783 chore(deps): update unstorage and use new syntax
  .changeset/poor-mangos-fold.md
  packages/astro/package.json
  packages/astro/src/core/session.ts
  packages/astro/test/fixtures/sessions/package.json
  pnpm-lock.yaml
Labels: pkg: astro, semver: minor

#12764 fix: correctly return 404.astro in i18n
  packages/astro/src/i18n/middleware.ts
  packages/astro/test/i18n-routing.test.js
Labels: pkg: astro

#12787 chore: fix links in session errors
  packages/astro/src/core/errors/errors-data.ts
Labels: pkg: astro, docs pr

#12765 chore: move files to `.mjs`
  packages/astro/test/fixtures/hoisted-imports/astro.config.mjs
  packages/astro/test/fixtures/virtual-routes/astro.config.mjs
Labels: pkg: astro

#12789 fix: pass raw frontmatter to when parsing markdown in glob loader
  .changeset/fresh-gifts-buy.md
  packages/astro/src/content/loaders/glob.ts
  packages/astro/test/astro-markdown-plugins.test.js
  packages/astro/test/fixtures/content-layer-remark-plugins/.gitignore
  packages/astro/test/fixtures/content-layer-remark-plugins/astro.config.mjs
  packages/astro/test/fixtures/content-layer-remark-plugins/package.json
  packages/astro/test/fixtures/content-layer-remark-plugins/public/favicon.svg
  packages/astro/test/fixtures/content-layer-remark-plugins/src/content.config.ts
  packages/astro/test/fixtures/content-layer-remark-plugins/src/content/docs/test1.md
  packages/astro/test/fixtures/content-layer-remark-plugins/src/content/docs/test2.mdx
  packages/astro/test/fixtures/content-layer-remark-plugins/src/pages/[...slug].astro
  packages/astro/test/fixtures/content-layer-remark-plugins/src/pages/index.astro
  pnpm-lock.yaml
Labels: pkg: astro

#12782 update JSDoc in packages/astro/src/types/public/common.ts
  .changeset/fluffy-lies-eat.md
  packages/astro/src/types/public/common.ts
Labels: pkg: astro, docs pr

#12799 fix(deps): upgrade Vite
  .changeset/gentle-windows-doubt.md
  packages/astro/package.json
  packages/db/package.json
  packages/integrations/alpinejs/package.json
  packages/integrations/markdoc/package.json
  packages/integrations/mdx/package.json
  packages/integrations/preact/package.json
  packages/integrations/react/package.json
  packages/integrations/solid/package.json
  packages/integrations/svelte/package.json
  packages/integrations/tailwind/package.json
  packages/integrations/vue/package.json
  packages/studio/package.json
  pnpm-lock.yaml
Labels: pkg: svelte, pkg: vue, pkg: react, pkg: preact, pkg: solid, pkg: integration, pkg: astro

#12798 fix: better logs for invalid content config
  .changeset/afraid-sloths-shake.md
  packages/astro/src/content/content-layer.ts
  packages/astro/src/content/loaders/glob.ts
  packages/astro/src/content/runtime.ts
  packages/astro/test/content-layer.test.js
  packages/astro/test/fixtures/content-layer/src/content.config.ts
Labels: pkg: astro

#12734 fix(toolbar): assign label to icons
  packages/astro/src/runtime/client/dev-toolbar/apps/audit/index.ts
  packages/astro/src/runtime/client/dev-toolbar/apps/xray.ts
  packages/astro/src/runtime/client/dev-toolbar/ui-library/icons.ts
Labels: pkg: astro

#12810 Fix server island script breaking when charset is added to content-type
  .changeset/six-pumpkins-act.md
  packages/astro/e2e/fixtures/server-islands/src/components/MediaTypeInHeader.astro
  packages/astro/e2e/fixtures/server-islands/src/pages/index.astro
  packages/astro/e2e/server-islands.test.js
  packages/astro/src/runtime/server/render/server-islands.ts
Labels: pkg: astro

#12822 chore: changeset
  .changeset/thirty-apples-develop.md
  packages/integrations/partytown/package.json
  packages/integrations/partytown/src/index.ts
  pnpm-lock.yaml
Labels: pkg: integration
