Repository withastro/astro, pull requests merged in 2024-10, with the labels that each got.

#12095 Fix non-stable versions for astro add
  .changeset/real-nails-tan.md
  packages/astro/src/cli/add/index.ts
Labels: pkg: astro

#12097 fix: defer check for schema references to content layer collections
  .changeset/bright-swans-shout.md
  packages/astro/src/content/runtime.ts
Labels: pkg: astro

#12090 Use IE conditional comment placeholders for server island start markers
  .changeset/rich-apes-divide.md
  packages/astro/src/runtime/server/render/server-islands.ts
Labels: pkg: astro

#12079 feat(routing): decode pathname early, don't decode `params`
  .changeset/wet-foxes-walk.md
  packages/astro/src/core/build/generate.ts
  packages/astro/src/core/build/static-build.ts
  packages/astro/src/core/fs/index.ts
  packages/astro/src/core/render-context.ts
  packages/astro/src/core/render/params-and-props.ts
  packages/astro/test/fixtures/ssr-params/src/pages/[category].astro
  packages/astro/test/fixtures/ssr-params/src/pages/東西/[category].astro
  packages/astro/test/params.test.js
  packages/astro/test/ssr-params.test.js
Labels: pkg: astro, semver: major

#12105 fix: pass custom statusText in Response
  .changeset/moody-doors-wink.md
  packages/astro/src/core/app/node.ts
  packages/astro/src/vite-plugin-astro-server/response.ts
  packages/astro/test/fixtures/ssr-api-route/src/pages/food.json.js
  packages/astro/test/ssr-api-route.test.js
Labels: pkg: astro

#12106 fix: handle immutable response object
  .changeset/poor-doors-listen.md
  packages/astro/src/runtime/server/endpoint.ts
  packages/astro/test/fixtures/ssr-api-route/src/pages/fail.js
  packages/astro/test/ssr-api-route.test.js
Labels: pkg: astro

#12108 use shorthash for data url image to prevent ENAMETOOLONG
  .changeset/dull-worms-own.md
  packages/astro/src/assets/utils/transformToPath.ts
  packages/astro/test/core-image.test.js
  packages/astro/test/fixtures/core-image-data-url/package.json
  packages/astro/test/fixtures/core-image-data-url/src/pages/index.astro
  pnpm-lock.yaml
Labels: pkg: astro

#12112 fix(vue): useId() collisions
  .changeset/beige-students-compete.md
  packages/integrations/vue/client.js
  packages/integrations/vue/context.js
  packages/integrations/vue/server.js
  packages/integrations/vue/test/basics.test.js
  packages/integrations/vue/test/fixtures/basics/src/components/WithId.vue
  packages/integrations/vue/test/fixtures/basics/src/pages/index.astro
Labels: pkg: vue, pkg: integration

#12113 fix: throw a useful error if rendering undefined entry
  .changeset/wise-pumas-fry.md
  packages/astro/src/content/runtime.ts
  packages/astro/src/core/errors/errors-data.ts
  packages/astro/test/content-layer.test.js
  packages/astro/test/fixtures/content-layer/src/pages/missing.astro
Labels: pkg: astro, docs pr

#12117 docs: update Vite links to use their new domain
  .changeset/strange-cats-notice.md
  packages/astro-rss/README.md
  packages/astro/CHANGELOG.md
  packages/astro/client.d.ts
  packages/astro/src/@types/astro.ts
  packages/astro/src/core/errors/errors-data.ts
  packages/astro/src/vite-plugin-env/README.md
  packages/integrations/react/CHANGELOG.md
  packages/integrations/svelte/CHANGELOG.md
  packages/integrations/vue/CHANGELOG.md
Labels: pkg: svelte, pkg: vue, pkg: react, pkg: integration, pkg: astro, docs pr

#12120 fix(vue): missing file
  packages/integrations/vue/package.json
Labels: pkg: vue, pkg: integration

#12118 chore(deps): replace strip-ansi with native module
  .changeset/large-phones-compare.md
  packages/astro/package.json
  packages/astro/src/core/errors/dev/utils.ts
  packages/astro/src/core/logger/vite.ts
  packages/astro/test/cli.test.js
  packages/astro/test/test-utils.js
  packages/astro/test/units/config/config-validate.test.js
  packages/create-astro/package.json
  packages/create-astro/src/messages.ts
  packages/create-astro/test/utils.js
  packages/db/package.json
  packages/db/src/core/cli/migration-queries.ts
  packages/upgrade/package.json
  packages/upgrade/test/utils.js
  pnpm-lock.yaml
Labels: pkg: create-astro, pkg: astro

#12122 Only run dispatch-event.yml in source repo
  .github/workflows/dispatch-event.yml
Labels: 🚨 action

#12126 fix: clear content layer cache if astro version changes
  .changeset/ninety-monkeys-complain.md
  packages/astro/src/content/content-layer.ts
Labels: pkg: astro

#12127 fix: copy server URLs to Vite dev server
  .changeset/dull-moles-talk.md
  packages/astro/src/core/dev/restart.ts
Labels: pkg: astro

#12102 Fix-component-undefined-svelte-v5
  .changeset/eighty-ligers-punch.md
  packages/integrations/svelte/client-v5.js
Labels: pkg: svelte, pkg: integration

#12129 Fix-component-undefined-svelte-v5 (#12102)
  .changeset/eighty-ligers-punch.md
  packages/integrations/svelte/client-v5.js
Labels: pkg: svelte, pkg: integration

#12116 Fixed an "Uncaught ReferenceError" inside of the @astrojs/vue package
  .changeset/wicked-sloths-cry.md
  packages/integrations/vue/client.js
Labels: pkg: vue, pkg: integration

#12132 [CVE 2024-47764] Update package 'cookie'
  .changeset/twenty-spoons-sneeze.md
  packages/astro/package.json
  pnpm-lock.yaml
Labels: pkg: astro

#12147 fix: don't set statusMessage in HTTP/2
  .changeset/strong-pugs-stare.md
  packages/astro/src/core/app/node.ts
  packages/astro/src/vite-plugin-astro-server/response.ts
Labels: pkg: astro

#12143 Simplify giget dependency
  .changeset/red-bugs-pump.md
  packages/create-astro/package.json
  packages/create-astro/src/actions/template.ts
  packages/create-astro/src/actions/verify.ts
  pnpm-lock.yaml
Labels: pkg: create-astro

#12114 Setup sync branches for create-astro
  .github/workflows/congrats.yml
  .github/workflows/main.yml
  .github/workflows/sync-examples.yml
Labels: 🚨 action

#12161 Add `css` keyword to Tailwind integration
  .changeset/angry-ducks-kneel.md
  packages/integrations/tailwind/package.json
Labels: pkg: integration

#12167 ci: use `ci` command
  .github/workflows/ci.yml
  package.json
Labels: 🚨 action

#12130 Fixed parsing of x-forwarded-* headers
  .changeset/slimy-buses-agree.md
  packages/astro/src/core/app/node.ts
  packages/astro/test/client-address-node.test.js
  packages/astro/test/units/app/node.test.js
Labels: pkg: astro

#12039 feat(markdown): add support for `shiki` option `langAlias`
  .changeset/dirty-socks-sip.md
  packages/astro/src/core/config/schema.ts
  packages/markdown/remark/src/index.ts
  packages/markdown/remark/src/shiki.ts
  packages/markdown/remark/src/types.ts
  packages/markdown/remark/test/shiki.test.js
Labels: feat: markdown, pkg: astro, semver: minor

#12160 Fix mts reloads
  .changeset/mean-bags-shave.md
  packages/astro/src/core/dev/restart.ts
Labels: pkg: astro

#12164 add info about content intellisense
  packages/astro/src/@types/astro.ts
Labels: pkg: astro, docs pr

#12168 fix: don't strip "slug" from content layer data
  .changeset/funny-wolves-dream.md
  packages/astro/src/content/utils.ts
  packages/astro/test/content-layer.test.js
  packages/astro/test/fixtures/content-layer/src/content/config.ts
Labels: pkg: astro

#12169 fix(routing): correct redirects in dev
  .changeset/light-pears-accept.md
  .changeset/three-days-cough.md
  packages/astro/src/core/build/generate.ts
  packages/astro/src/core/routing/3xx.ts
  packages/astro/src/core/routing/manifest/create.ts
  packages/astro/src/vite-plugin-astro-server/route.ts
Labels: pkg: astro

#12181 Check permissions for workflows
  .github/workflows/benchmark.yml
  .github/workflows/preview-comment.yml
  .github/workflows/snapshot-release.yml
Labels: 🚨 action

#12187 Fix biome lint warning
  packages/astro/types/content.d.ts
Labels: pkg: astro

#12186 Ensure that the generated package.json and tsconfig.json end with a newline.
  .changeset/tidy-bugs-yawn.md
  packages/create-astro/src/actions/typescript.ts
  packages/create-astro/test/typescript.test.js
Labels: pkg: create-astro

#12189 Use p-queue instead of fastq
  packages/astro/package.json
  packages/astro/src/content/content-layer.ts
  packages/astro/src/core/logger/core.ts
  pnpm-lock.yaml
Labels: pkg: astro

#12177 Ensure router only targets scripts for execution
  .changeset/nervous-peaches-sort.md
  packages/astro/e2e/fixtures/view-transitions/src/assets/astro-build.mp4
  packages/astro/e2e/fixtures/view-transitions/src/components/Video.astro
  packages/astro/e2e/fixtures/view-transitions/src/pages/one.astro
  packages/astro/src/transitions/router.ts
Labels: pkg: astro

#12173 fix(routing): actions should redirect the original pathname
  .changeset/tough-snakes-reflect.md
  packages/astro/e2e/actions-blog.test.js
  packages/astro/e2e/fixtures/actions-blog/src/actions/index.ts
  packages/astro/e2e/fixtures/actions-blog/src/middleware.ts
  packages/astro/e2e/fixtures/actions-blog/src/pages/rewritten.astro
  packages/astro/src/actions/runtime/middleware.ts
  packages/astro/src/core/constants.ts
  packages/astro/src/core/middleware/sequence.ts
  packages/astro/src/core/render-context.ts
  packages/astro/src/core/routing/rewrite.ts
Labels: pkg: astro

#12188 Fix VT video test fail in firefox
  packages/astro/e2e/fixtures/view-transitions/src/components/Video.astro
  packages/astro/e2e/view-transitions.test.js
Labels: pkg: astro

#12206 Revert #12173
  .changeset/gold-masks-trade.md
  packages/astro/e2e/actions-blog.test.js
  packages/astro/src/actions/runtime/middleware.ts
  packages/astro/src/core/constants.ts
  packages/astro/src/core/middleware/sequence.ts
  packages/astro/src/core/render-context.ts
  packages/astro/src/core/routing/rewrite.ts
Labels: pkg: astro

#12220 Fix setOnSetGetEnv parameter name
  .changeset/bright-bananas-run.md
  packages/astro/templates/env/module.mjs
Labels: pkg: astro

#12197 fix: revert regression of port computation
  .changeset/tidy-dancers-act.md
  packages/astro/src/core/app/node.ts
Labels: pkg: astro, pr: preview

#12156 fix(sitemap): add missing `xslURL` property to `SitemapOptions` type
  .changeset/funny-onions-grin.md
  packages/integrations/sitemap/src/index.ts
Labels: pkg: integration

#12199 fix(i18n): correctly compute the current locale
  .changeset/sharp-garlics-float.md
  packages/astro/src/core/render-context.ts
  packages/astro/src/i18n/utils.ts
  packages/astro/test/fixtures/i18n-routing-dynamic/astro.config.mjs
  packages/astro/test/fixtures/i18n-routing-dynamic/package.json
  packages/astro/test/fixtures/i18n-routing-dynamic/src/pages/[language].astro
  packages/astro/test/fixtures/i18n-routing-dynamic/src/pages/index.astro
  packages/astro/test/i18n-routing.test.js
  pnpm-lock.yaml
Labels: pkg: astro

#12222 fix(middleware): compute client address
  .changeset/slimy-kids-peel.md
  packages/astro/src/core/middleware/index.ts
  packages/astro/src/core/routing/request.ts
  packages/astro/test/units/routing/api-context.test.js
Labels: pkg: astro

#12223 fix(dev-toolbar): false positive in Audit with a11y check on labels
  .changeset/selfish-toes-carry.md
  packages/astro/e2e/dev-toolbar-audits.test.js
  packages/astro/e2e/fixtures/dev-toolbar/src/pages/a11y-labelable.astro
  packages/astro/src/runtime/client/dev-toolbar/apps/audit/rules/a11y.ts
Labels: pkg: astro

#12200 Remove start comand from templates (next)
  examples/basics/package.json
  examples/blog/package.json
  examples/container-with-vitest/package.json
  examples/framework-alpine/package.json
  examples/framework-multiple/package.json
  examples/framework-preact/package.json
  examples/framework-react/package.json
  examples/framework-solid/package.json
  examples/framework-svelte/package.json
  examples/framework-vue/package.json
  examples/hackernews/package.json
  examples/middleware/package.json
  examples/minimal/package.json
  examples/non-html-pages/package.json
  examples/portfolio/package.json
  examples/server-islands/package.json
  examples/ssr/package.json
  examples/starlog/package.json
  examples/view-transitions/package.json
  examples/with-markdoc/package.json
  examples/with-markdown-plugins/package.json
  examples/with-markdown-shiki/package.json
  examples/with-mdx/package.json
  examples/with-nanostores/package.json
  examples/with-tailwindcss/package.json
  examples/with-vitest/package.json
  packages/astro/performance/fixtures/md/package.json
  packages/astro/performance/fixtures/mdoc/package.json
  packages/astro/performance/fixtures/mdx/package.json
  packages/astro/test/fixtures/content-collection-references/package.json
  packages/astro/test/fixtures/content-mixed-errors/package.json
  packages/astro/test/fixtures/data-collections-schema/package.json
  packages/astro/test/fixtures/data-collections/package.json
  packages/astro/test/fixtures/error-bad-js/package.json
  packages/astro/test/fixtures/error-build-location/package.json
  packages/astro/test/fixtures/error-non-error/package.json
  packages/astro/test/fixtures/extension-matching/package.json
  packages/astro/test/fixtures/legacy-data-collections/package.json
  packages/db/test/fixtures/ticketing-example/package.json
Labels: pkg: example, pkg: astro

#12172 Use real filesystem for unit testing
  .gitignore
  biome.jsonc
  package.json
  packages/astro/package.json
  packages/astro/src/vite-plugin-astro-server/plugin.ts
  packages/astro/test/fixtures/content-mixed-errors/astro.config.mjs
  packages/astro/test/fixtures/content-mixed-errors/package.json
  packages/astro/test/fixtures/content-mixed-errors/src/content/authors/placeholder.json
  packages/astro/test/fixtures/content-mixed-errors/src/content/blog/placeholder.md
  packages/astro/test/fixtures/content-mixed-errors/src/pages/authors.astro
  packages/astro/test/fixtures/content-mixed-errors/src/pages/blog.astro
  packages/astro/test/units/_temp-fixtures/package.json
  packages/astro/test/units/config/format.test.js
  packages/astro/test/units/content-collections/frontmatter.test.js
  packages/astro/test/units/correct-path.js
  packages/astro/test/units/dev/base.test.js
  packages/astro/test/units/dev/collections-mixed-content-errors.test.js
  packages/astro/test/units/dev/collections-renderentry.test.js
  packages/astro/test/units/dev/dev.test.js
  packages/astro/test/units/dev/head-injection.test.js
  packages/astro/test/units/dev/hydration.test.js
  packages/astro/test/units/dev/restart.test.js
  packages/astro/test/units/render/chunk.test.js
  packages/astro/test/units/render/components.test.js
  packages/astro/test/units/routing/endpoints.test.js
  packages/astro/test/units/routing/manifest.test.js
  packages/astro/test/units/routing/route-matching.test.js
  packages/astro/test/units/routing/route-sanitization.test.js
  packages/astro/test/units/routing/trailing-slash.test.js
  packages/astro/test/units/runtime/endpoints.test.js
  packages/astro/test/units/teardown.js
  packages/astro/test/units/test-utils.js
  packages/astro/test/units/vite-plugin-astro-server/request.test.js
  packages/astro/test/units/vite-plugin-astro-server/response.test.js
  patches/fs-fixture@2.4.0.patch
  pnpm-lock.yaml
  pnpm-workspace.yaml
  scripts/cmd/test.js
Labels: pkg: astro

#12226 feat: accept `URL` for entry points
  .changeset/eighty-donkeys-fly.md
  packages/astro/src/core/client-directive/build.ts
  packages/astro/src/core/preview/index.ts
  packages/astro/src/core/render/renderer.ts
  packages/astro/src/core/routing/manifest/create.ts
  packages/astro/src/integrations/hooks.ts
  packages/astro/src/runtime/server/hydration.ts
  packages/astro/src/toolbar/vite-plugin-dev-toolbar.ts
  packages/astro/src/types/public/integrations.ts
  packages/astro/src/types/public/toolbar.ts
  packages/astro/src/virtual-modules/container.ts
  packages/astro/src/vite-plugin-integrations-container/index.ts
  packages/astro/test/fixtures/middleware-no-user-middleware/astro.config.mjs
  packages/astro/test/fixtures/middleware-no-user-middleware/integration-middleware-url.js
  packages/astro/test/fixtures/middleware-no-user-middleware/src/pages/url.astro
  packages/astro/test/fixtures/multiple-renderers/renderers/two/index.mjs
  packages/astro/test/fixtures/reuse-injected-entrypoint/astro.config.mjs
  packages/astro/test/middleware.test.js
  packages/astro/test/reuse-injected-entrypoint.test.js
Labels: pkg: astro, semver: minor, docs pr

#12232 Fixes an issue with cssesc in dev mode when setting vite.ssr.noExternal: true
  .changeset/dirty-bags-double.md
  packages/astro/src/core/create-vite.ts
Labels: pkg: astro

#11823 fix: improve error for inferSize and Image component
  .changeset/lazy-flowers-destroy.md
  packages/astro/src/assets/internal.ts
Labels: pkg: astro

#12239 fix(container): emit components as partials
  .changeset/soft-rabbits-draw.md
  packages/astro/src/container/index.ts
  packages/astro/src/core/render-context.ts
  packages/astro/test/container.test.js
  packages/astro/test/fixtures/container-custom-renderers/src/pages/react-as-page.ts
Labels: pkg: astro

#12242 Setup CI for next branch
  .github/workflows/ci.yml
Labels: 🚨 action

#12227 fix: do not override process.env
  .changeset/real-actors-jog.md
  packages/astro/src/env/runtime-constants.ts
  packages/astro/src/env/runtime.ts
  packages/astro/src/env/vite-plugin-env.ts
Labels: pkg: astro

#12246 Fix test:vite-ci script
  package.json
  packages/astro/package.json
  patches/fs-fixture@2.4.0.patch
  pnpm-lock.yaml
Labels: pkg: astro

#12235 fix(routing): actions should redirect the original pathname (#12173)
  .changeset/tough-snakes-reflect.md
  packages/astro/e2e/actions-blog.test.js
  packages/astro/src/actions/runtime/middleware.ts
  packages/astro/src/core/app/node.ts
  packages/astro/src/core/constants.ts
  packages/astro/src/core/render-context.ts
  packages/astro/src/core/routing/rewrite.ts
Labels: pkg: astro

#11839 fix: Cannot read properties of null (reading 'Symbol(astro.headAndContent)')
  .changeset/twelve-moose-cough.md
  packages/astro/src/runtime/server/render/astro/head-and-content.ts
  packages/astro/src/runtime/server/render/astro/instance.ts
  packages/astro/src/runtime/server/render/astro/render-template.ts
  packages/astro/test/units/render/components.test.js
Labels: pkg: astro

#12271 ci: fix syntax error
  .github/workflows/ci.yml
Labels: 🚨 action

#12273 fix: dynamically load zod-to-ts
  .changeset/swift-crabs-exercise.md
  packages/astro/src/content/types-generator.ts
Labels: pkg: astro

#12272 fix: handle base path with images
  .changeset/wise-parents-agree.md
  packages/astro/src/assets/endpoint/node.ts
  packages/astro/test/core-image.test.js
Labels: pkg: astro

#12263 Add server island route to the front of the route list
  .changeset/honest-dots-jump.md
  packages/astro/e2e/fixtures/server-islands/src/pages/[conflicting]/[dynamicRoute].astro
  packages/astro/src/core/server-islands/endpoint.ts
Labels: pkg: astro

#12243 feat(next): make defineConfig generic
  .changeset/forty-trains-notice.md
  packages/astro/config.d.ts
  packages/astro/config.mjs
  packages/astro/package.json
  packages/astro/src/config/entrypoint.ts
  packages/astro/src/config/index.ts
  packages/astro/src/core/errors/errors-data.ts
  packages/astro/src/env/config.ts
  packages/astro/src/types/public/config.ts
  packages/astro/test/types/define-config.ts
Labels: pkg: astro, semver: minor, docs pr

#12279 fix: update wrong action error message
  .changeset/seven-elephants-suffer.md
  packages/astro/src/actions/runtime/middleware.ts
Labels: pkg: astro

#12286 fix: astro:env warning
  .changeset/late-fireants-ring.md
  packages/astro/src/integrations/features-validation.ts
Labels: pkg: astro

#12231 Unset charset=utf-8 content-type for md/mdx pages
  .changeset/dirty-cooks-explode.md
  .changeset/strong-months-grab.md
  packages/astro/src/core/preview/vite-plugin-astro-preview.ts
  packages/astro/src/core/routing/astro-designed-error-pages.ts
  packages/astro/src/runtime/server/render/page.ts
  packages/astro/src/vite-plugin-astro-server/response.ts
  packages/astro/src/vite-plugin-markdown/index.ts
  packages/astro/test/astro-basic.test.js
  packages/integrations/mdx/src/index.ts
  packages/integrations/mdx/src/rehype-apply-frontmatter-export.ts
  packages/integrations/mdx/src/vite-plugin-mdx.ts
  packages/integrations/mdx/test/fixtures/mdx-page/src/layouts/EncodingLayout.astro
  packages/integrations/mdx/test/fixtures/mdx-page/src/pages/chinese-encoding-layout-frontmatter.mdx
  packages/integrations/mdx/test/fixtures/mdx-page/src/pages/chinese-encoding-layout-manual.mdx
  packages/integrations/mdx/test/fixtures/mdx-page/src/pages/chinese-encoding.mdx
  packages/integrations/mdx/test/mdx-page.test.js
Labels: pkg: integration, pkg: astro, semver: major

#12245 fix(@astro/mdx): add components property to RenderResult type definition
  .changeset/twenty-gifts-kick.md
  packages/astro/client.d.ts
  packages/astro/src/@types/astro.ts
  packages/integrations/mdx/template/content-module-types.d.ts
Labels: pkg: integration, pkg: astro, docs pr

#12268 feat: update `astro add vercel`
  .changeset/loud-cougars-grow.md
  packages/astro/src/cli/add/index.ts
Labels: pkg: astro, semver: major

#12302 fix(routing): don't check headers for prenredered pages
  .changeset/gentle-scissors-bow.md
  packages/astro/src/core/app/middlewares.ts
Labels: pkg: astro

#12298 [docs] update a link in error reference
  packages/astro/src/core/errors/errors-data.ts
Labels: pkg: astro, docs pr

#12312 Fix: The problem getViteConfig() duplicates some config
  .changeset/slimy-sloths-fry.md
  packages/astro/src/core/middleware/vite-plugin.ts
  packages/astro/test/config-vite.test.js
Labels: pkg: astro

#12334 Update link in error message
  packages/astro/src/core/errors/errors-data.ts
Labels: pkg: astro, docs pr

#12331 Update image error messages
  packages/astro/src/core/errors/errors-data.ts
Labels: pkg: astro, docs pr

#12270 fix(routing): match against decoded pathname
  .changeset/metal-birds-admire.md
  packages/astro/src/core/render/params-and-props.ts
  packages/astro/test/fixtures/ssr-params/src/pages/[category].astro
  packages/astro/test/params.test.js
Labels: pkg: astro

#12280 Fix base not working with server actions
  packages/astro/src/actions/runtime/virtual/get-action.ts
  packages/astro/templates/actions.mjs
  packages/astro/test/actions.test.js
Labels: pkg: astro

#12341 fix(i18n): default locale in server islands
  .changeset/gorgeous-foxes-divide.md
  packages/astro/e2e/fixtures/i18n/astro.config.mjs
  packages/astro/e2e/fixtures/i18n/components/Greeting.astro
  packages/astro/e2e/fixtures/i18n/package.json
  packages/astro/e2e/fixtures/i18n/src/pages/fr/island.astro
  packages/astro/e2e/fixtures/i18n/src/pages/island.astro
  packages/astro/e2e/i18n.test.js
  packages/astro/src/core/render-context.ts
  pnpm-lock.yaml
Labels: pkg: astro

#12338 fix(cli): reset `NODE_ENV` to ensure install command run in dev mode
  .changeset/itchy-flowers-report.md
  packages/astro/src/cli/install-package.ts
Labels: pkg: astro

#12342 Fix cli command typo
  .changeset/mighty-pants-rush.md
  packages/astro/src/cli/index.ts
Labels: pkg: astro

#12333 fix: Destroy the node http server response stream if there was a caught error
  .changeset/clean-plums-tap.md
  packages/astro/src/core/app/node.ts
Labels: pkg: astro
