Repository withastro/astro, pull requests merged in 2024-04, with the labels that each got.

#10495 fix: use ReadableStream for response object if deno
  .changeset/cool-bulldogs-change.md
  packages/astro/src/runtime/server/render/page.ts
  packages/astro/src/runtime/server/render/util.ts
Labels: pkg: astro

#10627 fix(starlog): Correct layout syntax.
  examples/starlog/src/components/BaseHead.astro
  examples/starlog/src/layouts/IndexLayout.astro
Labels: pkg: example

#10585 refactor: Drop Preact compat hack, remove incorrect alias
  .changeset/proud-books-hope.md
  packages/integrations/preact/src/index.ts
Labels: pkg: preact, pkg: integration

#10624 feat: rework child rendering to use class
  packages/astro/src/runtime/server/render/any.ts
  packages/astro/src/runtime/server/render/util.ts
Labels: pkg: astro

#10608 Fixes issue with head content being pushed into body
  .changeset/small-islands-pump.md
  packages/astro/package.json
  pnpm-lock.yaml
Labels: pkg: astro

#10618 Lazy loaded shiki languages during syntax highlighting
  .changeset/real-rabbits-bake.md
  packages/astro/components/Code.astro
  packages/astro/src/assets/vite-plugin-assets.ts
  packages/astro/src/content/vite-plugin-content-assets.ts
  packages/astro/src/vite-plugin-markdown/index.ts
  packages/astro/test/astro-markdown-shiki.test.js
  packages/astro/test/fixtures/astro-markdown-shiki/langs/src/pages/index.md
  packages/create-astro/test/fixtures/not-empty/package.json
  packages/integrations/markdoc/components/Renderer.astro
  packages/integrations/markdoc/src/extensions/shiki.ts
  packages/integrations/markdoc/test/syntax-highlighting.test.js
  packages/markdown/remark/src/highlight.ts
  packages/markdown/remark/src/rehype-prism.ts
  packages/markdown/remark/src/rehype-shiki.ts
  packages/markdown/remark/src/shiki.ts
  packages/markdown/remark/test/shiki.test.js
Labels: feat: markdown, pkg: integration, pkg: create-astro, pkg: astro

#10645 fix(svelte): update import statements and bump peer dependency for v5
  .changeset/calm-spiders-listen.md
  packages/integrations/svelte/client-v5.js
  packages/integrations/svelte/package.json
  packages/integrations/svelte/server-v5.js
Labels: pkg: svelte, pkg: integration

#10496 feat: make 3rd party integration warning less scary
  .changeset/light-bikes-study.md
  packages/astro/src/cli/add/index.ts
Labels: pkg: astro

#10470 improves `client:only` error message
  .changeset/calm-hotels-kiss.md
  packages/astro/src/runtime/server/render/component.ts
Labels: pkg: astro

#10653 chore: remove console.log from test
  packages/integrations/vercel/test/serverless-prerender.test.js
Labels: pkg: integration

#10654 Mark @material-tailwind/react as noExternal
  .changeset/tall-apples-turn.md
  packages/integrations/react/src/index.ts
Labels: pkg: react, pkg: integration

#10642 Move format option from LocalImageProps to ImageSharedProps
  .changeset/lovely-trees-wait.md
  packages/astro/src/assets/types.ts
Labels: pkg: astro

#10611 fix: update vercel node support status
  .changeset/clever-houses-yawn.md
  packages/integrations/vercel/src/serverless/adapter.ts
Labels: pkg: integration

#10616 Disable `sharp` `libvips` cache.
  .changeset/thin-seahorses-whisper.md
  packages/astro/src/assets/services/sharp.ts
Labels: pkg: astro

#10666 fix(app/node): include `x-forwarded-port` header in url
  .changeset/brave-pumpkins-train.md
  packages/astro/src/core/app/node.ts
  packages/integrations/node/test/fixtures/url-protocol/src/pages/index.astro
  packages/integrations/node/test/fixtures/url/package.json
  packages/integrations/node/test/fixtures/url/src/pages/index.astro
  packages/integrations/node/test/url.test.js
  pnpm-lock.yaml
Labels: pkg: integration, pkg: astro

#10673 Remove unnecessary `recmaInjectImportMetaEnv` plugin for MDX
  .changeset/sharp-socks-kick.md
  packages/integrations/mdx/src/index.ts
  packages/integrations/mdx/src/plugins.ts
  packages/integrations/mdx/src/recma-inject-import-meta-env.ts
Labels: pkg: integration

#10669 fix(install-package): Automatically exit in CI instead of waiting for input
  .changeset/neat-grapes-cry.md
  packages/astro/src/cli/install-package.ts
Labels: pkg: astro

#10679 Generates missing popstate events for Firefox when navigating to hash targets on the same page
  .changeset/loud-numbers-notice.md
  packages/astro/src/transitions/router.ts
Labels: pkg: astro

#10675 @astrojs/react - Expose Babel config.
  .changeset/tall-wombats-clap.md
  packages/integrations/react/src/index.ts
Labels: pkg: react, pkg: integration

#10692 test(@astrojs/node) listen for server setup errors in test-utils
  packages/integrations/node/test/test-utils.js
Labels: pkg: integration

#10693 Add disableremoteplayback attribute to VideoHTMLAttributes interface
  .changeset/olive-camels-greet.md
  packages/astro/astro-jsx.d.ts
Labels: pkg: astro

#10694 test(@astrojs/node) wait for server listening in trailing-slash tests
  packages/integrations/node/test/prerender.test.js
  packages/integrations/node/test/trailing-slash.test.js
Labels: pkg: integration

#10657 Improve dev toolbar notification contrast on hover
  .changeset/loud-wasps-pay.md
  packages/astro/src/runtime/client/dev-toolbar/entrypoint.ts
  packages/astro/src/runtime/client/dev-toolbar/toolbar.ts
Labels: pkg: astro

#10695 Skip prerender chunk in static output
  .changeset/plenty-bugs-hunt.md
  packages/astro/src/core/build/plugins/plugin-prerender.ts
Labels: pkg: astro

#10687 Remove unused config in Vue JSX integration
  .changeset/few-forks-taste.md
  packages/integrations/vue/package.json
  packages/integrations/vue/src/index.ts
  pnpm-lock.yaml
Labels: pkg: vue, pkg: integration

#10688 Refactor MDX transformJSX handling
  .changeset/four-pants-juggle.md
  packages/astro/src/@types/astro.ts
  packages/astro/src/core/create-vite.ts
  packages/astro/src/jsx/renderer.ts
  packages/astro/src/jsx/transform-options.ts
  packages/astro/src/vite-plugin-mdx/README.md
  packages/astro/src/vite-plugin-mdx/index.ts
  packages/astro/src/vite-plugin-mdx/tag.ts
  packages/astro/src/vite-plugin-mdx/transform-jsx.ts
  packages/astro/test/units/render/jsx.test.js
Labels: pkg: astro, docs pr

#10716 Fix vue-jsx change
  packages/integrations/vue/src/index.ts
Labels: pkg: vue, pkg: integration

#10686 Fix script inline with directRenderScript
  .changeset/sour-chairs-compare.md
  packages/astro/src/core/build/plugins/plugin-scripts.ts
  packages/astro/test/fixtures/hoisted-imports/src/components/shared-scripts/A.astro
  packages/astro/test/fixtures/hoisted-imports/src/components/shared-scripts/B.astro
  packages/astro/test/fixtures/hoisted-imports/src/components/shared-scripts/script.ts
  packages/astro/test/fixtures/hoisted-imports/src/pages/no-inline-if-shared.astro
  packages/astro/test/hoisted-imports.test.js
Labels: pkg: astro

#10719 fix(devtool): do not trigger interaction check for `div` and `span`
  .changeset/swift-coats-teach.md
  packages/astro/e2e/fixtures/dev-toolbar/src/pages/a11y-exceptions.astro
  packages/astro/src/runtime/client/dev-toolbar/apps/audit/rules/a11y.ts
Labels: pkg: astro

#10728 fix: regression for astro attributes escaping
  .changeset/large-knives-confess.md
  packages/astro/src/runtime/server/render/util.ts
  packages/astro/test/astro-attrs.test.js
  packages/astro/test/fixtures/astro-attrs/src/pages/index.astro
Labels: pkg: astro

#10733 ci: add ref when checking out the repository
  .github/workflows/check-merge.yml
Labels: 🚨 action

#10737 fix(dev): break implicit rerouting loop
  .changeset/sharp-elephants-clap.md
  packages/astro/src/vite-plugin-astro-server/route.ts
  packages/astro/test/custom-404-implicit-rerouting.test.js
  packages/astro/test/fixtures/custom-404-loop-case-5/src/pages/index.astro
Labels: pkg: astro

#10661 fix: Fixed errorOverlay theme toggle bug.
  .changeset/short-flies-itch.md
  packages/astro/src/core/errors/overlay.ts
Labels: pkg: astro

#10678 feat: add origin check for CSRF protection
  .changeset/fair-jars-behave.md
  packages/astro/src/@types/astro.ts
  packages/astro/src/core/app/index.ts
  packages/astro/src/core/app/middlewares.ts
  packages/astro/src/core/app/types.ts
  packages/astro/src/core/build/generate.ts
  packages/astro/src/core/build/plugins/plugin-manifest.ts
  packages/astro/src/core/config/schema.ts
  packages/astro/src/vite-plugin-astro-server/plugin.ts
  packages/astro/test/csrf-protection.test.js
  packages/astro/test/fixtures/csrf-check-origin/astro.config.mjs
  packages/astro/test/fixtures/csrf-check-origin/package.json
  packages/astro/test/fixtures/csrf-check-origin/src/pages/api.ts
  pnpm-lock.yaml
Labels: pkg: astro, docs pr

#10689 feat: upgrade the minimum Node.js maintainance LTS version
  .changeset/empty-rules-type.md
  package.json
  packages/astro-prism/package.json
  packages/astro/package.json
  packages/create-astro/package.json
  packages/integrations/markdoc/package.json
  packages/integrations/mdx/package.json
  packages/integrations/preact/package.json
  packages/integrations/react/package.json
  packages/integrations/solid/package.json
  packages/integrations/svelte/package.json
  packages/integrations/vue/package.json
  packages/telemetry/package.json
  packages/upgrade/package.json
Labels: pkg: svelte, pkg: vue, pkg: react, pkg: preact, pkg: solid, pkg: integration, pkg: create-astro, pkg: astro

#10671 Accept common cookie attributes when deleting a cookie
  .changeset/shaggy-cats-film.md
  packages/astro/src/core/cookies/cookies.ts
  packages/astro/test/units/cookies/delete.test.js
Labels: pkg: astro

#10193 feat(i18n): manual routing
  .changeset/little-hornets-give.md
  packages/astro/src/@types/astro.ts
  packages/astro/src/core/app/types.ts
  packages/astro/src/core/base-pipeline.ts
  packages/astro/src/core/build/generate.ts
  packages/astro/src/core/build/plugins/plugin-manifest.ts
  packages/astro/src/core/config/schema.ts
  packages/astro/src/core/errors/errors-data.ts
  packages/astro/src/core/middleware/vite-plugin.ts
  packages/astro/src/core/routing/manifest/create.ts
  packages/astro/src/i18n/index.ts
  packages/astro/src/i18n/middleware.ts
  packages/astro/src/i18n/utils.ts
  packages/astro/src/virtual-modules/i18n.ts
  packages/astro/src/vite-plugin-astro-server/plugin.ts
  packages/astro/src/vite-plugin-astro-server/route.ts
  packages/astro/test/fixtures/i18n-routing-manual-with-default-middleware/astro.config.mjs
  packages/astro/test/fixtures/i18n-routing-manual-with-default-middleware/package.json
  packages/astro/test/fixtures/i18n-routing-manual-with-default-middleware/src/middleware.js
  packages/astro/test/fixtures/i18n-routing-manual-with-default-middleware/src/pages/about.astro
  packages/astro/test/fixtures/i18n-routing-manual-with-default-middleware/src/pages/blog.astro
  packages/astro/test/fixtures/i18n-routing-manual-with-default-middleware/src/pages/en/blog/[id].astro
  packages/astro/test/fixtures/i18n-routing-manual-with-default-middleware/src/pages/en/start.astro
  packages/astro/test/fixtures/i18n-routing-manual-with-default-middleware/src/pages/index.astro
  packages/astro/test/fixtures/i18n-routing-manual-with-default-middleware/src/pages/pt/blog/[id].astro
  packages/astro/test/fixtures/i18n-routing-manual-with-default-middleware/src/pages/pt/start.astro
  packages/astro/test/fixtures/i18n-routing-manual-with-default-middleware/src/pages/spanish/index.astro
  packages/astro/test/fixtures/i18n-routing-manual/astro.config.mjs
  packages/astro/test/fixtures/i18n-routing-manual/package.json
  packages/astro/test/fixtures/i18n-routing-manual/src/middleware.js
  packages/astro/test/fixtures/i18n-routing-manual/src/pages/en/blog/[id].astro
  packages/astro/test/fixtures/i18n-routing-manual/src/pages/en/blog/index.astro
  packages/astro/test/fixtures/i18n-routing-manual/src/pages/en/index.astro
  packages/astro/test/fixtures/i18n-routing-manual/src/pages/en/start.astro
  packages/astro/test/fixtures/i18n-routing-manual/src/pages/help.astro
  packages/astro/test/fixtures/i18n-routing-manual/src/pages/index.astro
  packages/astro/test/fixtures/i18n-routing-manual/src/pages/pt/blog/[id].astro
  packages/astro/test/fixtures/i18n-routing-manual/src/pages/pt/start.astro
  packages/astro/test/fixtures/i18n-routing-manual/src/pages/spanish/index.astro
  packages/astro/test/i18n-routing-manual-with-default-middleware.test.js
  packages/astro/test/i18n-routing-manual.test.js
  packages/astro/test/i18n-routing.test.js
  packages/astro/test/units/i18n/astro_i18n.test.js
  pnpm-lock.yaml
  scripts/cmd/test.js
Labels: pkg: astro, semver: minor, docs pr

#10591 feat(toolbar): allow the user to change the placement
  .changeset/dry-eels-yell.md
  packages/astro/e2e/dev-toolbar.test.js
  packages/astro/src/@types/astro.ts
  packages/astro/src/runtime/client/dev-toolbar/apps/astro.ts
  packages/astro/src/runtime/client/dev-toolbar/apps/settings.ts
  packages/astro/src/runtime/client/dev-toolbar/apps/utils/window.ts
  packages/astro/src/runtime/client/dev-toolbar/apps/xray.ts
  packages/astro/src/runtime/client/dev-toolbar/entrypoint.ts
  packages/astro/src/runtime/client/dev-toolbar/settings.ts
  packages/astro/src/runtime/client/dev-toolbar/toolbar.ts
  packages/astro/src/runtime/client/dev-toolbar/ui-library/index.ts
  packages/astro/src/runtime/client/dev-toolbar/ui-library/select.ts
  packages/astro/src/runtime/client/dev-toolbar/ui-library/window.ts
Labels: pkg: astro, docs pr

#10538 Adds dataLanguage property to the replacement <pre> element.
  .changeset/cold-snakes-train.md
  packages/markdown/remark/src/rehype-prism.ts
  packages/markdown/remark/src/shiki.ts
Labels: feat: markdown

#10746 fix some i18n config docs
  packages/astro/src/@types/astro.ts
Labels: pkg: astro, docs pr

#10747 fix(rendering): remove render instructions from slot expressions
  .changeset/calm-mails-check.md
  packages/astro/src/core/render/index.ts
  packages/astro/src/core/render/slots.ts
  packages/astro/src/runtime/server/render/astro/render-template.ts
  packages/astro/test/astro-slots.test.js
  packages/astro/test/fixtures/astro-slots/src/components/FunctionsToAPI.astro
  packages/astro/test/fixtures/astro-slots/src/pages/slotted-named-functions.astro
Labels: pkg: astro

#10750 Update a11y-no-noninteractive-tabindex rule for dev tool bar
  .changeset/few-mails-kiss.md
  packages/astro/src/runtime/client/dev-toolbar/apps/audit/rules/a11y.ts
Labels: pkg: astro

#10749 Update utils.ts: Optimize and simplify code
  packages/astro/src/i18n/utils.ts
Labels: pkg: astro

#10745 fix(cli): call path.replace only if it is a function
  .changeset/late-spoons-knock.md
  packages/astro/src/core/errors/dev/utils.ts
Labels: pkg: astro

#10753 fix: rewrite Node.js changeset
  .changeset/empty-rules-type.md
Labels: semver: minor

#10755 fix(i18n): fallback SSR
  .changeset/old-pugs-jog.md
  packages/astro/src/i18n/index.ts
  packages/astro/src/i18n/middleware.ts
  packages/astro/test/i18n-routing.test.js
Labels: pkg: astro

#10758 [docs] config reference link fix
  packages/astro/src/@types/astro.ts
Labels: pkg: astro, docs pr

#10708 Limit imports in flight for `getCollection`
  .changeset/four-zoos-taste.md
  packages/astro/src/content/runtime.ts
Labels: pkg: astro

#10765 Performance improvement in createAstro function
  packages/astro/src/core/render-context.ts
Labels: pkg: astro

#10768 Fix typo in error message for IncorrectStrategyForI18n
  packages/astro/src/core/errors/errors-data.ts
Labels: pkg: astro, docs pr

#10756 fix(vercel): Fix srcset generation not working on Vercel
  .changeset/nine-radios-peel.md
  packages/integrations/vercel/src/image/build-service.ts
  packages/integrations/vercel/src/image/shared-dev-service.ts
Labels: pkg: integration

#10667 feat(toolbar): Add helpers features
  .changeset/khaki-pianos-burn.md
  packages/astro/e2e/dev-toolbar.test.js
  packages/astro/e2e/fixtures/dev-toolbar/custom-integration.js
  packages/astro/e2e/fixtures/dev-toolbar/custom-plugin.js
  packages/astro/src/@types/astro.ts
  packages/astro/src/integrations/index.ts
  packages/astro/src/runtime/client/dev-toolbar/entrypoint.ts
  packages/astro/src/runtime/client/dev-toolbar/helpers.ts
  packages/astro/src/runtime/client/dev-toolbar/toolbar.ts
Labels: pkg: astro, semver: minor, docs pr

#10774 fix(add): Fixes astro add modifying baseUrl by accident
  .changeset/mean-candles-hammer.md
  packages/astro/src/cli/add/index.ts
  packages/astro/src/core/config/tsconfig.ts
  packages/astro/test/fixtures/tsconfig-handling/baseUrl/tsconfig.json
  packages/astro/test/units/config/config-tsconfig.test.js
Labels: pkg: astro

#10770 Remove MDX processor on buildEnd
  .changeset/orange-ladybugs-nail.md
  benchmark/make-project/memory-default.js
  packages/astro/src/vite-plugin-markdown/index.ts
  packages/integrations/mdx/src/index.ts
  packages/markdown/remark/src/highlight.ts
Labels: feat: markdown, pkg: integration, pkg: astro

#10730 lint: upgrade eslint to version 9
  .eslintignore
  .eslintrc.cjs
  eslint.config.js
  package.json
  packages/astro/src/assets/utils/vendor/image-size/types/svg.ts
  packages/astro/src/core/build/generate.ts
  packages/astro/src/runtime/server/render/component.ts
  packages/db/src/runtime/errors.ts
  pnpm-lock.yaml
Labels: pkg: astro

#10783 fix: picture fallback check
  .changeset/modern-mugs-raise.md
  packages/astro/components/Picture.astro
Labels: pkg: astro

#10776 Fix @types/cookie dependency
  .changeset/brown-news-roll.md
  packages/astro/package.json
  pnpm-lock.yaml
Labels: pkg: astro

#10787 Make viewTransition.finished wait for animations triggered by viewTransition.ready
  .changeset/stupid-countries-warn.md
  packages/astro/src/transitions/router.ts
Labels: pkg: astro

#10775 fix(assets): Forward headers from the original request to the internal request to the image
  .changeset/rich-spoons-fold.md
  packages/astro/src/assets/endpoint/generic.ts
Labels: pkg: astro

#10782 astro/cli/install-package.ts: whichPm may return null if ran in an empty directory
  .changeset/many-hairs-jump.md
  packages/astro/src/cli/install-package.ts
Labels: pkg: astro

#10795 Improve sitemap generate performance
  .changeset/famous-seals-camp.md
  packages/integrations/sitemap/src/generate-sitemap.ts
  packages/integrations/sitemap/src/utils/parse-i18n-url.ts
  packages/integrations/sitemap/src/utils/parse-url.ts
  packages/integrations/sitemap/test/units/generate-sitemap.test.js
Labels: pkg: integration

#10796 Disable streaming for SSG
  .changeset/eight-hotels-try.md
  packages/astro/src/core/build/pipeline.ts
  packages/astro/src/runtime/server/render/astro/render.ts
  packages/astro/test/content-collections-render.test.js
Labels: pkg: astro

#10732 fix: use assetsDir in creating vite config
  .changeset/afraid-laws-speak.md
  packages/astro/src/core/create-vite.ts
  packages/astro/test/astro-assets-dir.test.js
  packages/astro/test/fixtures/astro-assets-dir/astro.config.mjs
  packages/astro/test/fixtures/astro-assets-dir/package.json
  packages/astro/test/fixtures/astro-assets-dir/src/assets/penguin1.jpg
  packages/astro/test/fixtures/astro-assets-dir/src/assets/ペンギン.jpg
  packages/astro/test/fixtures/astro-assets-dir/src/components/Counter.jsx
  packages/astro/test/fixtures/astro-assets-dir/src/content/blog/my-post.md
  packages/astro/test/fixtures/astro-assets-dir/src/content/config.ts
  packages/astro/test/fixtures/astro-assets-dir/src/pages/blog.astro
  packages/astro/test/fixtures/astro-assets-dir/src/pages/index.astro
  packages/astro/test/fixtures/astro-assets-dir/src/pages/markdown.md
  pnpm-lock.yaml
Labels: pkg: astro

#10754 fix: MDX cannot find relative image path without leading ./
  .changeset/curly-badgers-boil.md
  packages/integrations/mdx/src/index.ts
  packages/integrations/mdx/src/remark-images-to-component.ts
  packages/integrations/mdx/test/fixtures/mdx-images/src/pages/houston.png
  packages/integrations/mdx/test/fixtures/mdx-images/src/pages/index.mdx
  packages/integrations/mdx/test/fixtures/mdx-images/src/pages/relative/houston.png
  packages/integrations/mdx/test/mdx-images.test.js
Labels: pkg: integration

#10788 chore: use Biome to format JS files
  .prettierignore
  biome.json
  package.json
  packages/astro-rss/test/rss.test.js
  packages/astro/astro-jsx.d.ts
  packages/astro/src/@types/astro.ts
  packages/astro/src/assets/vite-plugin-assets.ts
  packages/astro/src/cli/install-package.ts
  packages/astro/src/core/errors/dev/utils.ts
  packages/astro/src/core/errors/errors-data.ts
  packages/astro/src/runtime/client/dev-toolbar/apps/settings.ts
  packages/astro/src/runtime/client/dev-toolbar/toolbar.ts
  packages/astro/src/runtime/client/dev-toolbar/ui-library/tooltip.ts
  packages/astro/src/transitions/router.ts
  packages/astro/test/test-adapter.js
  packages/db/src/core/errors.ts
  packages/db/src/core/schemas.ts
  packages/upgrade/src/actions/context.ts
  pnpm-lock.yaml
  prettier.config.js
Labels: pkg: astro, docs pr

#10799 Fixes an issue with persisted non-text input fields that have the focus during view transition navigation.
  .changeset/itchy-donuts-destroy.md
  packages/astro/e2e/fixtures/view-transitions/src/pages/persist-1.astro
  packages/astro/e2e/fixtures/view-transitions/src/pages/persist-2.astro
  packages/astro/e2e/view-transitions.test.js
  packages/astro/src/transitions/router.ts
Labels: pkg: astro

#10802 test: fix regression upon import sorting
  biome.json
  packages/astro/test/fixtures/css-order-layout/src/layouts/Main.astro
Labels: pkg: astro

#10772 fix(sitemap): Trailing slashes on root url
  .changeset/late-bags-marry.md
  packages/integrations/sitemap/package.json
  packages/integrations/sitemap/src/index.ts
  packages/integrations/sitemap/src/write-sitemap.ts
  packages/integrations/sitemap/test/fixtures/trailing-slash/src/pages/index.astro
  packages/integrations/sitemap/test/trailing-slash.test.js
  pnpm-lock.yaml
Labels: pkg: integration

#10793 feat(toolbar): Add a toolbar example
  examples/toolbar-app/.codesandbox/Dockerfile
  examples/toolbar-app/.gitignore
  examples/toolbar-app/README.md
  examples/toolbar-app/package.json
  examples/toolbar-app/src/app.ts
  examples/toolbar-app/src/integration.ts
  examples/toolbar-app/tsconfig.json
  pnpm-lock.yaml
  scripts/smoke/check.js
Labels: pkg: example

#10811 add/cli: update list of integrations
  .changeset/yellow-fishes-occur.md
  packages/astro/src/cli/add/index.ts
Labels: pkg: astro

#10763 Invalidate CC cache manifest when lockfile or config changes
  .changeset/metal-terms-push.md
  packages/astro/src/@types/astro.ts
  packages/astro/src/core/build/consts.ts
  packages/astro/src/core/build/index.ts
  packages/astro/src/core/build/internal.ts
  packages/astro/src/core/build/plugins/plugin-content.ts
  packages/astro/src/core/build/static-build.ts
  packages/astro/src/core/config/config.ts
  packages/astro/src/core/config/index.ts
  packages/astro/src/integrations/index.ts
  packages/astro/src/vite-plugin-astro/index.ts
  packages/astro/test/experimental-content-collections-cache-invalidation.test.js
  packages/astro/test/fixtures/content-collections-cache-invalidation/.gitignore
  packages/astro/test/fixtures/content-collections-cache-invalidation/astro.config.mjs
  packages/astro/test/fixtures/content-collections-cache-invalidation/cache/lockfile-mismatch/content/manifest.json
  packages/astro/test/fixtures/content-collections-cache-invalidation/cache/version-mismatch/content/manifest.json
  packages/astro/test/fixtures/content-collections-cache-invalidation/package.json
  packages/astro/test/fixtures/content-collections-cache-invalidation/src/content/blog/one.md
  packages/astro/test/fixtures/content-collections-cache-invalidation/src/content/config.ts
  packages/astro/test/fixtures/content-collections-cache-invalidation/src/pages/index.astro
  pnpm-lock.yaml
Labels: pkg: astro, docs pr

#10814 fixed the path to checkout existing blog posts on the home page of the blog starter template
  examples/blog/src/pages/index.astro
Labels: pkg: example

#10422 Use renovate
  .github/renovate.json5
  .github/workflows/nightly.yml
Labels: 🚨 action

#10823 Update major deps
  .github/renovate.json5
  packages/astro/e2e/fixtures/multiple-frameworks/package.json
  packages/astro/package.json
  packages/astro/performance/package.json
  packages/astro/src/assets/endpoint/generic.ts
  packages/astro/src/assets/endpoint/node.ts
  packages/astro/test/fixtures/lit-element/package.json
  packages/db/package.json
  packages/integrations/markdoc/package.json
  packages/integrations/mdx/package.json
  packages/integrations/partytown/package.json
  packages/integrations/vercel/test/setup.js
  packages/integrations/vue/package.json
  packages/markdown/remark/package.json
  pnpm-lock.yaml
  scripts/cmd/copy.js
  scripts/package.json
Labels: feat: markdown, pkg: vue, pkg: integration, pkg: astro

#10805 feat(env): add schema, types and envField
  packages/astro/src/@types/astro.ts
  packages/astro/src/config/index.ts
  packages/astro/src/core/config/schema.ts
  packages/astro/src/env/config.ts
  packages/astro/src/env/schema.ts
  packages/astro/test/units/config/config-validate.test.js
Labels: pkg: astro, docs pr

#10841 revert handling of JavaScript animations during view transitions
  .changeset/weak-swans-sparkle.md
  packages/astro/src/transitions/router.ts
Labels: pkg: astro

#10843 feat: reroute in SSG
  packages/astro/src/core/build/generate.ts
  packages/astro/src/core/build/pipeline.ts
  packages/astro/src/core/render-context.ts
  packages/astro/src/vite-plugin-astro-server/pipeline.ts
  packages/astro/src/vite-plugin-astro-server/route.ts
  packages/astro/test/fixtures/reroute/src/pages/dynamic/[id].astro
  packages/astro/test/fixtures/reroute/src/pages/spread/[...id].astro
  packages/astro/test/i18n-routing-manual.test.js
  packages/astro/test/reroute.test.js
Labels: pkg: astro

#10845 feat: reroute for SSR
  packages/astro/src/core/app/index.ts
  packages/astro/src/core/app/pipeline.ts
  packages/astro/src/core/render-context.ts
  packages/astro/test/reroute.test.js
  pnpm-lock.yaml
Labels: pkg: astro

#10839 unnest astro-island class
  packages/astro/src/runtime/server/astro-island.ts
Labels: pkg: astro

#10828 fix: resolve syntax errors in fixtures
  packages/astro/e2e/fixtures/view-transitions/src/pages/404.astro
  packages/astro/test/fixtures/astro-basic/src/pages/fileurl.astro
  packages/astro/test/fixtures/core-image-deletion/src/pages/index.astro
Labels: pkg: astro

#10766 fix: head and tail blank spaces should be trimed
  packages/create-astro/test/project-name.test.js
Labels: pkg: create-astro

#10829 feat(env): add vite plugin
  packages/astro/src/core/config/schema.ts
  packages/astro/src/core/create-vite.ts
  packages/astro/src/core/logger/core.ts
  packages/astro/src/env/schema.ts
  packages/astro/src/env/vite-plugin-env-virtual-mod.ts
  packages/astro/test/units/config/config-validate.test.js
Labels: pkg: astro

#10846 Prevent getCollection from breaking in vitest
  .changeset/sweet-coins-shop.md
  packages/astro/src/assets/utils/emitAsset.ts
  packages/astro/src/assets/vite-plugin-assets.ts
  packages/astro/src/config/index.ts
  packages/astro/src/content/runtime-assets.ts
  packages/astro/src/content/utils.ts
  packages/astro/src/content/vite-plugin-content-imports.ts
Labels: pkg: astro

#10801 fix: markdown cannot find relative image path without leading ./
  .changeset/thirty-walls-yell.md
  packages/astro/src/vite-plugin-markdown/images.ts
  packages/astro/src/vite-plugin-markdown/index.ts
  packages/astro/test/fixtures/markdown/src/pages/houston.png
  packages/astro/test/fixtures/markdown/src/pages/images.md
  packages/astro/test/fixtures/markdown/src/pages/relative/houston.png
  packages/astro/test/markdown.test.js
Labels: pkg: astro

#10854 Move MDX Vite plugin to new file
  packages/integrations/mdx/src/index.ts
  packages/integrations/mdx/src/vite-plugin-mdx.ts
Labels: pkg: integration

#10861 Fix an issue where `astro build` writes type declaration files to `outDir`
  .changeset/curvy-humans-judge.md
  packages/astro/src/core/build/static-build.ts
Labels: pkg: astro

#10697 fix(mdx): convert remark-images-to-component plugin to a rehype plugin
  .changeset/sweet-goats-own.md
  packages/integrations/mdx/package.json
  packages/integrations/mdx/src/plugins.ts
  packages/integrations/mdx/src/rehype-images-to-component.ts
  packages/integrations/mdx/src/remark-images-to-component.ts
  packages/integrations/mdx/src/vite-plugin-mdx-postprocess.ts
  pnpm-lock.yaml
Labels: pkg: integration, pkg: mdx

#10684 Update sharp to 0.33 to fix issue with Alpine Linux
  .changeset/famous-mugs-grab.md
  examples/starlog/package.json
  packages/astro/package.json
  pnpm-lock.yaml
Labels: pkg: example, pkg: astro

#10864 Tag MDX component for faster checks when rendering
  .changeset/chilly-items-help.md
  .changeset/tame-avocados-relax.md
  packages/astro/src/jsx/server.ts
  packages/integrations/mdx/src/vite-plugin-mdx-postprocess.ts
Labels: pkg: integration, pkg: astro

#10762 Enable `allowJs` for `strictest.json`
  .changeset/thirty-poems-chew.md
  packages/astro/tsconfigs/strictest.json
Labels: pkg: astro, semver: minor

#10734 feat: add a new message telling the user that a new version of Astro is available
  .changeset/pink-rivers-knock.md
  packages/astro/src/@types/astro.ts
  packages/astro/src/cli/add/index.ts
  packages/astro/src/cli/install-package.ts
  packages/astro/src/cli/preferences/index.ts
  packages/astro/src/core/config/settings.ts
  packages/astro/src/core/dev/dev.ts
  packages/astro/src/core/dev/restart.ts
  packages/astro/src/core/dev/update-check.ts
  packages/astro/src/core/logger/core.ts
  packages/astro/src/core/messages.ts
  packages/astro/src/preferences/defaults.ts
  packages/astro/src/preferences/index.ts
  packages/astro/src/runtime/client/dev-toolbar/apps/astro.ts
  packages/astro/src/vite-plugin-astro-server/pipeline.ts
Labels: pkg: astro, semver: minor, docs pr

#10665 feat(toolbar): Toolbar API improvements
  .changeset/khaki-pianos-burn.md
  examples/toolbar-app/.codesandbox/Dockerfile
  examples/toolbar-app/.gitignore
  examples/toolbar-app/README.md
  examples/toolbar-app/package.json
  examples/toolbar-app/src/app.ts
  examples/toolbar-app/src/integration.ts
  examples/toolbar-app/tsconfig.json
  packages/astro/e2e/dev-toolbar.test.js
  packages/astro/e2e/fixtures/dev-toolbar/custom-integration.js
  packages/astro/e2e/fixtures/dev-toolbar/custom-plugin.js
  packages/astro/package.json
  packages/astro/src/@types/astro.ts
  packages/astro/src/core/create-vite.ts
  packages/astro/src/integrations/index.ts
  packages/astro/src/runtime/client/dev-toolbar/entrypoint.ts
  packages/astro/src/runtime/client/dev-toolbar/helpers.ts
  packages/astro/src/runtime/client/dev-toolbar/toolbar.ts
  packages/astro/src/toolbar/index.ts
  packages/astro/src/toolbar/vite-plugin-dev-toolbar.ts
  pnpm-lock.yaml
  scripts/smoke/check.js
Labels: pkg: example, pkg: astro, semver: minor, docs pr

#10821 Optimize minor hot code
  packages/astro/src/runtime/server/render/astro/instance.ts
  packages/astro/src/runtime/server/render/util.ts
Labels: pkg: astro

#10869 Use unified plugin only for MDX transform
  .changeset/fresh-masks-agree.md
  .changeset/friendly-plants-leave.md
  packages/astro/package.json
  packages/astro/src/jsx/babel.ts
  packages/astro/src/jsx/rehype.ts
  packages/astro/src/jsx/transform-options.ts
  packages/astro/src/vite-plugin-mdx/index.ts
  packages/astro/src/vite-plugin-mdx/tag.ts
  packages/astro/src/vite-plugin-mdx/transform-jsx.ts
  packages/astro/test/units/dev/collections-renderentry.test.js
  packages/integrations/mdx/src/plugins.ts
  packages/integrations/mdx/src/vite-plugin-mdx-postprocess.ts
  packages/integrations/mdx/src/vite-plugin-mdx.ts
  pnpm-lock.yaml
Labels: pkg: integration, pkg: astro, semver: minor

#10848 feat(env): client/public variables
  packages/astro/config.d.ts
  packages/astro/config.mjs
  packages/astro/src/@types/astro.ts
  packages/astro/src/config/index.ts
  packages/astro/src/content/index.ts
  packages/astro/src/content/types-generator.ts
  packages/astro/src/content/utils.ts
  packages/astro/src/core/config/settings.ts
  packages/astro/src/core/create-vite.ts
  packages/astro/src/core/errors/errors-data.ts
  packages/astro/src/env/constants.ts
  packages/astro/src/env/schema.ts
  packages/astro/src/env/validators.ts
  packages/astro/src/env/vite-plugin-env-virtual-mod.ts
  packages/astro/src/vite-plugin-inject-env-ts/index.ts
  packages/astro/test/astro-sync.test.js
  packages/astro/test/cli.test.js
  packages/astro/test/fixtures/astro-env/astro.config.mjs
  packages/astro/test/fixtures/astro-env/package.json
  packages/astro/test/fixtures/astro-env/src/pages/index.astro
  packages/astro/test/fixtures/astro-env/tsconfig.json
  packages/astro/test/units/config/config-validate.test.js
  packages/astro/test/units/env/env-client-public.test.js
  packages/astro/test/units/env/env-validators.test.js
  pnpm-lock.yaml
Labels: pkg: astro, docs pr

#10885 Only traverse children and handle mdxJsxTextElement when optimizing
  .changeset/young-chicken-exercise.md
  packages/integrations/mdx/src/rehype-optimize-static.ts
Labels: pkg: integration

#10884 Rename to `optimize.ignoreComponentNames` in MDX
  .changeset/small-oranges-report.md
  packages/integrations/mdx/src/rehype-optimize-static.ts
  packages/integrations/mdx/test/fixtures/mdx-optimize/astro.config.mjs
Labels: pkg: integration

#10896 chore(astro): reorganize integrations hooks
  packages/astro/src/@types/astro.ts
  packages/astro/src/config/index.ts
  packages/astro/src/core/build/generate.ts
  packages/astro/src/core/build/index.ts
  packages/astro/src/core/build/plugins/plugin-manifest.ts
  packages/astro/src/core/build/plugins/plugin-ssr.ts
  packages/astro/src/core/build/static-build.ts
  packages/astro/src/core/dev/container.ts
  packages/astro/src/core/preview/index.ts
  packages/astro/src/core/sync/index.ts
  packages/astro/src/integrations/features-validation.ts
  packages/astro/src/integrations/hooks.ts
  packages/astro/src/vite-plugin-integrations-container/index.ts
  packages/astro/test/units/integrations/api.test.js
Labels: pkg: astro, docs pr

#10903 fix(actions): Make it possible for users with write access to make preview releases
  .github/workflows/snapshot-release.yml
Labels: 🚨 action

#10898 chore(astro): move error-map
  packages/astro/src/content/index.ts
  packages/astro/src/content/utils.ts
  packages/astro/src/core/errors/index.ts
  packages/astro/src/core/errors/zod-error-map.ts
  packages/astro/test/error-map.test.js
Labels: pkg: astro

#10911 Skip crawling into CSS requests when crawling module graph
  .changeset/afraid-mirrors-tease.md
  packages/astro/src/vite-plugin-astro-server/vite.ts
Labels: pkg: astro

#10900 fix(astro): newer navigation aborts existing one
  .changeset/curly-spoons-pull.md
  packages/astro/e2e/fixtures/view-transitions/src/pages/abort.astro
  packages/astro/e2e/fixtures/view-transitions/src/pages/abort2.astro
  packages/astro/e2e/view-transitions.test.js
  packages/astro/src/transitions/events.ts
  packages/astro/src/transitions/router.ts
Labels: pkg: astro

#10893 fix a deprecated method in react integration using SSR: renderToStaticNodeStream
  .changeset/twelve-bulldogs-raise.md
  packages/integrations/react/server.js
Labels: pkg: react, pkg: integration
