Repository withastro/astro, pull requests merged in 2024-02, with the labels that each got.

#9908 fix(NodeApp): end with "Internal server error" on mid-stream error
  .changeset/clever-roses-sleep.md
  packages/astro/src/core/app/node.ts
  packages/integrations/node/test/errors.test.js
  packages/integrations/node/test/fixtures/errors/src/pages/generator.astro
Labels: pkg: integration, pkg: astro

#9920 chore: fix alignment docs
  packages/astro/src/@types/astro.ts
Labels: pkg: astro, docs pr

#9922 fix(docs): add missing variant
  packages/astro/src/@types/astro.ts
Labels: pkg: astro, docs pr

#9924 fix(docs): Fix import in changelog example
  packages/astro/CHANGELOG.md
Labels: pkg: astro

#9918 Add a name property for DetailsHTMLAttributes
  .changeset/old-jokes-complain.md
  packages/astro/astro-jsx.d.ts
Labels: pkg: astro

#9915 fix: upgrade lit library to v3
  examples/framework-lit/package.json
  pnpm-lock.yaml
Labels: pkg: example

#9841 fix: use publicDir & base for 'include your base in url' error message
  .changeset/eight-windows-kiss.md
  packages/astro/src/vite-plugin-astro-server/base.ts
Labels: pkg: astro

#9927 Fix indentation formatting in types JSDoc
  packages/astro/src/@types/astro.ts
Labels: pkg: astro, docs pr

#9929 [docs] update typo in error message
  packages/astro/src/@types/astro.ts
  packages/astro/src/core/errors/errors-data.ts
Labels: pkg: astro, docs pr

#9931 fix(NodeApp): fix responses with null bodies never completing
  .changeset/sour-seas-hang.md
  packages/astro/src/core/app/node.ts
  packages/integrations/markdoc/package.json
  packages/integrations/node/test/api-route.test.js
  packages/integrations/node/test/errors.test.js
  packages/integrations/node/test/fixtures/api-route/src/pages/astro-redirect.astro
  packages/integrations/node/test/fixtures/api-route/src/pages/redirect.ts
  packages/integrations/node/test/fixtures/api-route/src/pages/response-redirect.ts
  packages/integrations/node/test/prerender.test.js
Labels: pkg: integration, pkg: astro

#9937 fix semver check in CLI entrypoint
  packages/astro/astro.js
Labels: pkg: astro

#9938 fix(middleware): load while retrieving ssr manifest for prerendering
  .changeset/shaggy-sloths-mix.md
  packages/astro/src/core/build/buildPipeline.ts
  packages/astro/test/fixtures/middleware space/src/middleware.js
  packages/astro/test/fixtures/middleware space/src/pages/prerendered.astro
  packages/astro/test/middleware.test.js
Labels: pkg: astro

#9888 Improve `astro sync` error handling
  .changeset/healthy-jokes-deny.md
  packages/astro/src/core/errors/errors.ts
  packages/astro/src/core/sync/index.ts
  packages/astro/test/units/dev/collections-mixed-content-errors.test.js
Labels: pkg: astro, semver: minor

#9934 fix: route matching for encoded pathnames
  packages/astro/src/core/routing/match.ts
Labels: pkg: astro

#9944 chore(@astrojs/integrations/lit): use Node.js for testing
  packages/integrations/lit/package.json
  packages/integrations/lit/test/sass.test.js
  packages/integrations/lit/test/server.test.js
  pnpm-lock.yaml
Labels: pkg: lit, pkg: integration

#9932 fix: don't log warning if `i18nDomains` isn't enabled
  .changeset/mean-pugs-nail.md
  packages/astro/src/integrations/astroFeaturesValidation.ts
Labels: pkg: astro

#9947 Add new test cases for non-UTF-8 and space file names
  packages/astro/test/dev-routing.test.js
  packages/astro/test/fixtures/without-site-config/src/pages/te st.astro
  packages/astro/test/fixtures/without-site-config/src/pages/テスト.astro
Labels: pkg: astro

#9907 Fix: 404.html load correctly on preview
  .changeset/tidy-deers-double.md
  packages/astro/src/core/preview/vite-plugin-astro-preview.ts
  packages/astro/test/preview-routing.test.js
Labels: pkg: astro

#9955 Revert "Provide better ignores for Vercel's file tracer (#9885)"
  .changeset/gold-ways-attend.md
  packages/integrations/vercel/package.json
  packages/integrations/vercel/src/lib/nft.ts
  pnpm-lock.yaml
Labels: pkg: integration

#9962 Remove the same CSS properties
  examples/view-transitions/src/components/Nav.astro
Labels: pkg: example

#9964 fix typo
  packages/astro/src/@types/astro.ts
Labels: pkg: astro, docs pr

#9985 Fix flaky streaming test
  packages/astro/test/fixtures/streaming/src/pages/slot.astro
Labels: pkg: astro

#9988 chore: typo
  packages/astro/components/Picture.astro
Labels: pkg: astro

#9956 Fix HMR in MDX deps in Content Collections
  .changeset/soft-bags-flash.md
  packages/astro/e2e/content-collections.test.js
  packages/astro/e2e/fixtures/content-collections/astro.config.mjs
  packages/astro/e2e/fixtures/content-collections/package.json
  packages/astro/e2e/fixtures/content-collections/src/components/MyComponent.astro
  packages/astro/e2e/fixtures/content-collections/src/content/posts/post-1.mdx
  packages/astro/e2e/fixtures/content-collections/src/pages/index.astro
  packages/astro/src/content/vite-plugin-content-assets.ts
  packages/astro/src/core/module-loader/loader.ts
  packages/astro/src/vite-plugin-astro-server/css.ts
  packages/astro/src/vite-plugin-astro-server/route.ts
  packages/astro/src/vite-plugin-astro-server/scripts.ts
  pnpm-lock.yaml
Labels: pkg: astro

#9999 Revert "fix(compiler): Support dynamic slot names (#9605)"
  .changeset/weak-pans-sit.md
  packages/astro/package.json
  packages/astro/src/runtime/server/index.ts
  packages/astro/test/astro-slots.test.js
  packages/astro/test/fixtures/astro-slots/src/pages/dynamic-for.astro
  packages/astro/test/fixtures/astro-slots/src/pages/dynamic-map.astro
  pnpm-lock.yaml
Labels: pkg: astro

#9998 fix(i18n): fix regression in current locale
  .changeset/shy-wolves-ring.md
  .changeset/six-fishes-beg.md
  packages/astro/src/core/render/context.ts
  packages/astro/test/fixtures/i18n-routing/src/pages/blog/[...lang]/index.astro
  packages/astro/test/fixtures/i18n-routing/src/pages/spanish/index.astro
  packages/astro/test/i18n-routing.test.js
Labels: pkg: astro

#10003 Fix: support `strict()` on content collection schemas when `slug` is present
  .changeset/strong-pets-rhyme.md
  packages/astro/src/content/utils.ts
  packages/astro/test/fixtures/content-collections/src/content/config.ts
Labels: pkg: astro

#10008 Fix small typo in astro.ts
  packages/astro/src/@types/astro.ts
Labels: pkg: astro, docs pr

#9714 feat(vercel): ISR
  .changeset/flat-snakes-hammer.md
  packages/integrations/vercel/src/lib/redirects.ts
  packages/integrations/vercel/src/serverless/adapter.ts
  packages/integrations/vercel/src/serverless/entrypoint.ts
  packages/integrations/vercel/test/fixtures/isr/astro.config.mjs
  packages/integrations/vercel/test/fixtures/isr/package.json
  packages/integrations/vercel/test/fixtures/isr/src/pages/one.astro
  packages/integrations/vercel/test/fixtures/isr/src/pages/two.astro
  packages/integrations/vercel/test/isr.test.js
  pnpm-lock.yaml
Labels: pkg: integration

#10016 fix(i18n): don't consider URLs that start with the name of the defaut locale
  .changeset/tough-socks-change.md
  packages/astro/src/i18n/middleware.ts
  packages/astro/test/fixtures/i18n-routing/src/pages/endurance.astro
  packages/astro/test/i18n-routing.test.js
Labels: pkg: astro

#10002 chore: move i18n routing tests
  packages/astro/package.json
  packages/astro/test/astro-basic.test.js
  packages/astro/test/cli.test.js
  packages/astro/test/i18n-routing.nodetest.js
Labels: pkg: astro

#9987 feat(vercel): middleware verification
  .changeset/slimy-zebras-march.md
  packages/integrations/vercel/src/serverless/adapter.ts
  packages/integrations/vercel/src/serverless/entrypoint.ts
  packages/integrations/vercel/src/serverless/middleware.ts
Labels: pkg: integration

#9849 Fix Issues with passing void elements to React with `experimentalReactChildren` flag set
  .changeset/metal-penguins-drum.md
  packages/integrations/react/client.js
Labels: pkg: react, pkg: integration

#10022 fix(astro:content): include required type declarations
  .changeset/cool-walls-fail.md
  packages/astro/package.json
Labels: pkg: astro

#9991 Change view transitions rule
  .changeset/wild-singers-turn.md
  packages/astro/e2e/fixtures/view-transitions/src/pages/long-page.astro
  packages/astro/e2e/view-transitions.test.js
  packages/astro/src/transitions/router.ts
Labels: pkg: astro, feat: view transitions

#9958 feat(markdoc): Add support for using a custom component for images
  .changeset/shaggy-spies-sit.md
  packages/integrations/markdoc/src/content-entry-type.ts
  packages/integrations/markdoc/test/fixtures/image-assets/markdoc.config.mjs
  packages/integrations/markdoc/test/fixtures/image-assets/src/components/Image.astro
  packages/integrations/markdoc/test/fixtures/image-assets/src/content/docs/intro.mdoc
  packages/integrations/markdoc/test/image-assets.test.js
Labels: pkg: integration

#10020 chore: Migrate `astro-markdown-plugins.test.js` to `node:test`
  packages/astro/test/astro-markdown-plugins.nodetest.js
Labels: pkg: astro

#10021 chore: Migrate `astro-markdown-remarkRehype.test.js` to `node:test`
  packages/astro/test/astro-markdown-remarkRehype.nodetest.js
Labels: pkg: astro

#10025 chore: Migrate `custom-404-html.test.js` to `node:test`
  packages/astro/test/custom-404-html.nodetest.js
Labels: pkg: astro

#10051 chore: migrate `static-build.test.js` to `node:test`
  packages/astro/test/static-build.nodetest.js
Labels: pkg: astro

#10050 chore: migrate `static-build-vite-plugins.test.js` to `node:test`
  packages/astro/test/static-build-vite-plugins.nodetest.js
Labels: pkg: astro

#10049 chore: migrate `static-build-page-url-format.test.js` to `node:test`
  packages/astro/test/static-build-page-url-format.nodetest.js
Labels: pkg: astro

#10048 chore: migrate `static-build-page-dist-url.test.js` to `node:test`
  packages/astro/test/static-build-page-dist-url.nodetest.js
Labels: pkg: astro

#10047 chore: migrate `static-build-frameworks.test.js` to `node:test`
  packages/astro/test/static-build-frameworks.nodetest.js
Labels: pkg: astro

#10044 chore: Migrate `html-slots.test.js` to `node:test`
  packages/astro/test/html-slots.nodetest.js
Labels: pkg: astro

#10043 chore: Migrate `html-page.test.js` to `node:test`
  packages/astro/test/html-page.nodetest.js
Labels: pkg: astro

#10042 chore: Migrate `html-escape.test.js` to `node:test`
  packages/astro/test/html-escape.nodetest.js
Labels: pkg: astro

#10041 chore: Migrate `html-escape-complex.test.js` to`node:test`
  packages/astro/test/html-escape-complex.nodetest.js
Labels: pkg: astro

#10040 chore: Migrate `html-component.test.js` to `node:test`
  packages/astro/test/html-component.nodetest.js
Labels: pkg: astro

#10039 chore: Migrate error-non-error.test.js to node:test
  packages/astro/test/error-non-error.nodetest.js
Labels: pkg: astro

#10037 chore: Migrate error-bad-js.test.js to node:test
  packages/astro/test/error-bad-js.nodetest.js
Labels: pkg: astro

#10036 chore: Migrate `custom-404-md.test.js` to `node:test`
  packages/astro/test/custom-404-md.nodetest.js
Labels: pkg: astro

#10034 chore: Migrate `custom-404-injected.test.js` to `node:test`
  packages/astro/test/custom-404-injected.nodetest.js
Labels: pkg: astro

#10033 chore: Migrate `custom-404-injected-from-dep.test.js` to `node:test`
  packages/astro/test/custom-404-injected-from-dep.nodetest.js
Labels: pkg: astro

#10032 chore: Migrate `markdown.test.js` to `node:test`
  packages/astro/test/markdown.nodetest.js
Labels: pkg: astro

#10031 chore: Migrate `astro-markdown.test.js` to `node:test`
  packages/astro/test/astro-markdown.nodetest.js
Labels: pkg: astro

#10028 chore: Migrate `astro-markdown-url.test.js` to `node:test`
  packages/astro/test/astro-markdown-url.nodetest.js
Labels: pkg: astro

#10027 chore: Migrate `ssr-markdown.test.js` to `node:test`
  packages/astro/test/ssr-markdown.nodetest.js
Labels: pkg: astro

#10026 chore: Migrate `custom-404-implicit-rerouting.test.js` to `node:test`
  packages/astro/test/custom-404-implicit-rerouting.nodetest.js
Labels: pkg: astro

#10035 chore: Migrate `custom-404-static.test.js` to `node:test`
  packages/astro/test/custom-404-static.nodetest.js
Labels: pkg: astro

#10038 chore: Migrate error-build-location.test.js to node:test
  packages/astro/test/error-build-location.nodetest.js
Labels: pkg: astro

#9995 Update workflow actions
  .github/workflows/benchmark.yml
  .github/workflows/check-merge.yml
  .github/workflows/check.yml
  .github/workflows/ci.yml
  .github/workflows/cleanup-cache.yml
  .github/workflows/issue-opened.yml
  .github/workflows/label.yml
  .github/workflows/main.yml
  .github/workflows/release.yml
  .github/workflows/scripts.yml
  .github/workflows/snapshot-release.yml
  .github/workflows/test-hosts.yml
Labels: 🚨 action

#10067 fix(i18n): regression where emitted URLs had `//`
  .changeset/tasty-actors-dance.md
  packages/astro/src/core/app/index.ts
  packages/astro/src/core/build/plugins/plugin-manifest.ts
  packages/astro/src/core/config/schema.ts
  packages/astro/src/i18n/index.ts
  packages/astro/src/i18n/middleware.ts
  packages/astro/test/i18n-routing.nodetest.js
  packages/astro/test/units/i18n/astro_i18n.test.js
Labels: pkg: astro

#10060 fix(integration api): improve module resolution
  .changeset/tough-shirts-allow.md
  packages/astro/src/core/client-directive/build.ts
  packages/astro/src/integrations/index.ts
Labels: pkg: astro

#10061 chore: migrate vue related tests to `node:test`
  packages/astro/test/slots-vue.nodetest.js
  packages/astro/test/vue-component.nodetest.js
  packages/astro/test/vue-jsx.nodetest.js
  packages/astro/test/vue-with-multi-renderer.nodetest.js
Labels: pkg: astro

#10083 chore: Migrate All `packages/markdown/remark/tests` to node:test
  packages/markdown/remark/package.json
  packages/markdown/remark/test/autolinking.test.js
  packages/markdown/remark/test/browser.test.js
  packages/markdown/remark/test/entities.test.js
  packages/markdown/remark/test/plugins.test.js
  packages/markdown/remark/test/remark-collect-images.test.js
  packages/markdown/remark/test/shiki.test.js
Labels: feat: markdown

#10088 test: mocha should ignore `*.nodetest.js` files
  packages/create-astro/package.json
  packages/integrations/vercel/package.json
Labels: feat: markdown, pkg: integration, pkg: create-astro

#10085 chore: Migrate some `astro-*.test.js` to `node:test`
  packages/astro/test/astro-not-response.nodetest.js
  packages/astro/test/astro-pageDirectoryUrl.nodetest.js
  packages/astro/test/astro-pagination-root-spread.nodetest.js
  packages/astro/test/astro-pagination.nodetest.js
  packages/astro/test/astro-public.nodetest.js
  packages/astro/test/astro-public.test.js
  packages/astro/test/astro-response.nodetest.js
  packages/astro/test/astro-slot-with-client.nodetest.js
  packages/astro/test/astro-slots.nodetest.js
  packages/astro/test/before-hydration.nodetest.js
  packages/astro/test/build-assets.nodetest.js
Labels: pkg: astro

#10072 qol(routing): improve endpoint error message
  .changeset/sweet-chicken-sneeze.md
  packages/astro/src/runtime/server/endpoint.ts
Labels: pkg: astro

#10093 test: mocha should ignore `nodetest.js` files during unit testing
  packages/astro/package.json
Labels: pkg: astro

#9971 Fix an issue where ReadableStream wasn't canceled in dev mode
  .changeset/thin-kangaroos-exist.md
  packages/astro/src/vite-plugin-astro-server/response.ts
  packages/astro/test/units/vite-plugin-astro-server/response.test.js
Labels: pkg: astro

#10082 fix(vercel): trailing slash conflict
  .changeset/breezy-pets-dream.md
  packages/integrations/vercel/src/serverless/adapter.ts
Labels: pkg: integration

#10090 test: move unit tests to use node:test
  packages/astro/package.json
  packages/astro/test/units/app/headers.nodetest.js
  packages/astro/test/units/assets/remote-pattern.nodetest.js
  packages/astro/test/units/assets/remote-pattern.test.js
  packages/astro/test/units/build/static-build.nodetest.js
  packages/astro/test/units/compile/invalid-css.nodetest.js
  packages/astro/test/units/dev/base.nodetest.js
  packages/astro/test/units/dev/collections-mixed-content-errors.nodetest.js
  packages/astro/test/units/dev/collections-renderentry.nodetest.js
  packages/astro/test/units/dev/dev.nodetest.js
  packages/astro/test/units/dev/head-injection.nodetest.js
  packages/astro/test/units/dev/hydration.nodetest.js
  packages/astro/test/units/dev/restart.nodetest.js
  packages/astro/test/units/dev/styles.nodetest.js
  packages/astro/test/units/i18n/astro_i18n.nodetest.js
  packages/astro/test/units/integrations/api.nodetest.js
  packages/astro/test/units/logger/locale.nodetest.js
  packages/astro/test/units/render/chunk.nodetest.js
  packages/astro/test/units/render/components.nodetest.js
  packages/astro/test/units/render/head.nodetest.js
  packages/astro/test/units/render/jsx.nodetest.js
  packages/astro/test/units/routing/endpoints.nodetest.js
  packages/astro/test/units/routing/manifest.nodetest.js
  packages/astro/test/units/routing/route-matching.nodetest.js
  packages/astro/test/units/routing/route-sanitization.nodetest.js
  packages/astro/test/units/routing/trailing-slash.nodetest.js
  packages/astro/test/units/runtime/astro-global.nodetest.js
  packages/astro/test/units/runtime/astro-global.test.js
  packages/astro/test/units/vite-plugin-astro-server/controller.nodetest.js
  packages/astro/test/units/vite-plugin-astro-server/request.nodetest.js
  packages/astro/test/units/vite-plugin-astro-server/response.nodetest.js
  packages/astro/test/units/vite-plugin-astro/compile.nodetest.js
  packages/astro/test/units/vite-plugin-scanner/scan.nodetest.js
Labels: pkg: astro

#10010 chore(@astrojs/vercel): migrate tests to `node:test`
  packages/integrations/vercel/package.json
  packages/integrations/vercel/test/hosted/hosted.test.js
  packages/integrations/vercel/test/image.test.js
  packages/integrations/vercel/test/isr.test.js
  packages/integrations/vercel/test/max-duration.test.js
  packages/integrations/vercel/test/no-output.test.js
  packages/integrations/vercel/test/prerendered-error-pages.test.js
  packages/integrations/vercel/test/redirects-serverless.test.js
  packages/integrations/vercel/test/redirects.test.js
  packages/integrations/vercel/test/serverless-prerender.test.js
  packages/integrations/vercel/test/serverless-with-dynamic-routes.test.js
  packages/integrations/vercel/test/speed-insights.test.js
  packages/integrations/vercel/test/split.test.js
  packages/integrations/vercel/test/static-assets.test.js
  packages/integrations/vercel/test/static.test.js
  packages/integrations/vercel/test/streaming.test.js
  packages/integrations/vercel/test/web-analytics.test.js
Labels: pkg: integration

#10084 chore: Migrate all `packages/create-astro/test` to node:test
  packages/astro/test/custom-404-implicit-rerouting.nodetest.js
  packages/astro/test/vue-component.nodetest.js
  packages/create-astro/package.json
  packages/create-astro/test/context.test.js
  packages/create-astro/test/dependencies.test.js
  packages/create-astro/test/fixtures/not-empty/package.json
  packages/create-astro/test/git.test.js
  packages/create-astro/test/intro.test.js
  packages/create-astro/test/next.test.js
  packages/create-astro/test/project-name.test.js
  packages/create-astro/test/template.test.js
  packages/create-astro/test/typescript.test.js
  packages/create-astro/test/utils.js
  packages/create-astro/test/verify.test.js
Labels: pkg: create-astro, pkg: astro

#10098 chore: Migrate `content-collection-**.test.js` to `node:test`
  packages/astro/test/content-collection-references.nodetest.js
  packages/astro/test/content-collections-render.nodetest.js
Labels: pkg: astro

#10101 chore: fix test that was failing
  packages/astro/test/units/vite-plugin-astro-server/response.nodetest.js
Labels: pkg: astro

#10078 chore: Migrate some `astro-*.test.js` to `node:test`
  packages/astro/test/asset-url-base.nodetest.js
  packages/astro/test/astro-assets-prefix.nodetest.js
  packages/astro/test/astro-assets.nodetest.js
  packages/astro/test/astro-attrs.nodetest.js
  packages/astro/test/astro-basic.nodetest.js
  packages/astro/test/astro-children.nodetest.js
  packages/astro/test/astro-class-list.nodetest.js
  packages/astro/test/astro-class-list.test.js
  packages/astro/test/astro-component-bundling.nodetest.js
  packages/astro/test/astro-external-files.nodetest.js
  packages/astro/test/astro-generator.nodetest.js
  packages/astro/test/astro-head.nodetest.js
Labels: pkg: astro

#9857 Fixes false positives in the dev overlay audit when multiple `role` values exist.
  .changeset/eight-flowers-remain.md
  packages/astro/src/runtime/client/dev-toolbar/apps/audit/a11y.ts
Labels: pkg: astro

#10075 qol(islands): improve hydration errors
  .changeset/giant-zoos-fail.md
  packages/astro/src/runtime/server/astro-island.ts
Labels: pkg: astro

#10096 Fixes regression on routing priority for multi-layer index pages
  .changeset/early-windows-accept.md
  .changeset/lemon-cobras-swim.md
  packages/astro/src/core/routing/manifest/create.ts
  packages/astro/test/units/routing/manifest.nodetest.js
Labels: pkg: astro

#10001 Refine content collection warnings
  .changeset/hip-hotels-divide.md
  packages/astro/src/content/runtime.ts
  packages/astro/src/content/types-generator.ts
Labels: pkg: astro, semver: minor

#10108 chore: migrate `alias` tests to `node:test`
  packages/astro/test/alias-tsconfig-baseurl-only.nodetest.js
  packages/astro/test/alias-tsconfig.nodetest.js
  packages/astro/test/alias.nodetest.js
Labels: pkg: astro

#10074 feat(audits): Add UI with list of audits
  .changeset/lovely-yaks-obey.md
  packages/astro/e2e/dev-toolbar.test.js
  packages/astro/package.json
  packages/astro/src/runtime/client/dev-toolbar/apps/audit/index.ts
  packages/astro/src/runtime/client/dev-toolbar/ui-library/card.ts
  pnpm-lock.yaml
Labels: pkg: astro, semver: minor

#10099 Re-encode view-transition-names
  .changeset/many-lobsters-accept.md
  packages/astro/e2e/fixtures/view-transitions/src/pages/transition-name.astro
  packages/astro/e2e/view-transitions.test.js
  packages/astro/src/runtime/server/transition.ts
Labels: pkg: astro, semver: minor

#10111 chore: move tests to node
  packages/astro/test/data-collections.nodetest.js
  packages/astro/test/debug-component.nodetest.js
  packages/astro/test/debug-component.test.js
  packages/astro/test/dev-routing.nodetest.js
  packages/astro/test/dont-delete-root.nodetest.js
  packages/astro/test/dynamic-endpoint-collision.nodetest.js
  packages/astro/test/dynamic-route-build-file.nodetest.js
  packages/astro/test/entry-file-names.nodetest.js
  packages/astro/test/events.nodetest.js
  packages/astro/test/experimental-content-collection-references.nodetest.js
  packages/astro/test/experimental-content-collections-css-inline-stylesheets.nodetest.js
  packages/astro/test/experimental-content-collections-render.nodetest.js
  packages/astro/test/experimental-content-collections-render.test.js
  packages/astro/test/experimental-content-collections.nodetest.js
Labels: pkg: astro

#9614 Improve Node.js performance using an AsyncIterable
  .changeset/hip-cherries-behave.md
  benchmark/bench/render.js
  benchmark/make-project/render-default.js
  packages/astro/src/runtime/server/render/astro/render.ts
  packages/astro/src/runtime/server/render/page.ts
  packages/astro/src/runtime/server/render/util.ts
Labels: pkg: astro, semver: minor

#10112 Rename Astro app to astro:home
  .changeset/silent-hotels-approve.md
  packages/astro/e2e/dev-toolbar-audits.test.js
  packages/astro/e2e/dev-toolbar.test.js
  packages/astro/src/runtime/client/dev-toolbar/apps/astro.ts
Labels: pkg: astro

#10113 chore: move tests to node
  packages/astro/test/scoped-style-strategy.nodetest.js
  packages/astro/test/serialize.nodetest.js
  packages/astro/test/set-html.nodetest.js
  packages/astro/test/slots-preact.nodetest.js
  packages/astro/test/slots-react.nodetest.js
  packages/astro/test/slots-solid.nodetest.js
  packages/astro/test/slots-svelte.nodetest.js
  packages/astro/test/solid-component.nodetest.js
  packages/astro/test/solid-component.test.js
  packages/astro/test/sourcemap.nodetest.js
  packages/astro/test/space-in-folder-name.nodetest.js
  packages/astro/test/special-chars-in-component-imports.nodetest.js
  packages/astro/test/ssr-error-pages.nodetest.js
  packages/astro/test/ssr-preview.nodetest.js
  packages/astro/test/streaming.nodetest.js
  packages/astro/test/svelte-component.nodetest.js
  packages/astro/test/tailwindcss.nodetest.js
  packages/astro/test/third-party-astro.nodetest.js
  packages/astro/test/type-imports.nodetest.js
  packages/astro/test/unused-slot.nodetest.js
  packages/astro/test/view-transitions.nodetest.js
  packages/astro/test/virtual-astro-file.nodetest.js
Labels: pkg: astro

#10117 Fix invalid URLs being returned from `getRegistry`, synchronize all copies of the function
  .changeset/twelve-waves-matter.md
  packages/astro/src/cli/add/index.ts
  packages/create-astro/src/messages.ts
  packages/upgrade/src/messages.ts
Labels: pkg: create-astro, pkg: astro

#10116 fix(dev): preload matched routes sequentially
  .changeset/afraid-seals-tan.md
  packages/astro/src/prerender/routing.ts
Labels: pkg: astro

#10120 Update to Vite 5.1
  .changeset/empty-carrots-film.md
  packages/astro/package.json
  packages/astro/src/core/build/plugins/plugin-css.ts
  packages/astro/src/core/build/plugins/plugin-hoisted-scripts.ts
  packages/astro/src/core/build/plugins/util.ts
  packages/integrations/alpinejs/package.json
  packages/integrations/markdoc/package.json
  packages/integrations/mdx/package.json
  packages/integrations/react/package.json
  packages/integrations/svelte/package.json
  packages/integrations/tailwind/package.json
  packages/integrations/vue/package.json
  pnpm-lock.yaml
Labels: pkg: svelte, pkg: vue, pkg: react, pkg: integration, pkg: astro

#10121 Fix Vitest example check fail
  examples/with-vitest/package.json
  pnpm-lock.yaml
Labels: pkg: example

#10114 chore: move `css-` related tests to `node:test`
  packages/astro/test/css-assets.nodetest.js
  packages/astro/test/css-dangling-references.nodetest.js
  packages/astro/test/css-import-as-inline.nodetest.js
  packages/astro/test/css-inline-stylesheets.nodetest.js
  packages/astro/test/css-no-code-split.nodetest.js
  packages/astro/test/css-order-import.nodetest.js
  packages/astro/test/css-order-layout.nodetest.js
  packages/astro/test/css-order.nodetest.js
Labels: pkg: astro

#10115 chore: move tests to node
  packages/astro/test/featuresSupport.nodetest.js
  packages/astro/test/fetch.nodetest.js
  packages/astro/test/fontsource.nodetest.js
Labels: pkg: astro

#10123 chore: move tests to node
  packages/astro/test/page-format.nodetest.js
  packages/astro/test/page-level-styles.nodetest.js
  packages/astro/test/parallel.nodetest.js
  packages/astro/test/partials.nodetest.js
  packages/astro/test/postcss.nodetest.js
  packages/astro/test/postcss.test.js
  packages/astro/test/preact-compat-component.nodetest.js
  packages/astro/test/preact-component.nodetest.js
  packages/astro/test/preview-routing.nodetest.js
  packages/astro/test/public-base-404.nodetest.js
  packages/astro/test/react-and-solid.nodetest.js
  packages/astro/test/react-jsx-export.nodetest.js
  packages/astro/test/redirects.nodetest.js
  packages/astro/test/reexport-astro-containing-client-component.nodetest.js
  packages/astro/test/remote-css.nodetest.js
  packages/astro/test/root-srcdir-css.nodetest.js
  packages/astro/test/route-manifest.nodetest.js
  packages/astro/test/routing-priority.nodetest.js
Labels: pkg: astro

#10127 chore: move tests to node
  packages/astro/package.json
  packages/astro/test/fixtures/non-html-pages/src/pages/placeholder.png.ts
  packages/astro/test/lazy-layout.nodetest.js
  packages/astro/test/lit-element.nodetest.js
  packages/astro/test/lit-element.test.js
  packages/astro/test/middleware.nodetest.js
  packages/astro/test/minification-html.nodetest.js
  packages/astro/test/multiple-renderers.nodetest.js
  packages/astro/test/non-ascii-path.nodetest.js
  packages/astro/test/non-html-pages.nodetest.js
Labels: pkg: astro

#10125 chore: move test to node
  packages/astro/test/get-static-paths-pages.nodetest.js
  packages/astro/test/glob-pages-css.nodetest.js
  packages/astro/test/head-injection.nodetest.js
  packages/astro/test/hoisted-imports.nodetest.js
  packages/astro/test/hydration-race.nodetest.js
Labels: pkg: astro

#10128 Remove unhelpful message in `errors-data.ts`
  packages/astro/src/core/errors/errors-data.ts
Labels: pkg: astro, docs pr

#10105 fix(cli): load polyfill before loading config during `astro add`
  .changeset/itchy-monkeys-fail.md
  packages/astro/src/cli/add/index.ts
  packages/astro/src/cli/db/index.ts
  packages/astro/src/cli/info/index.ts
  packages/astro/src/cli/preferences/index.ts
  packages/astro/src/core/preview/index.ts
Labels: pkg: astro

#10132 Remove server-destroy dependency
  .changeset/poor-llamas-chew.md
  packages/astro/package.json
  packages/astro/src/core/preview/static-preview-server.ts
  pnpm-lock.yaml
Labels: pkg: astro

#10134 chore: move test to node
  packages/astro/test/0-css.nodetest.js
  packages/astro/test/cli.nodetest.js
  packages/astro/test/cli.test.js
  packages/astro/test/client-address.nodetest.js
  packages/astro/test/code-component.nodetest.js
  packages/astro/test/component-library.nodetest.js
  packages/astro/test/config-mode.nodetest.js
  packages/astro/test/config-vite-css-target.nodetest.js
  packages/astro/test/config-vite.nodetest.js
  packages/astro/test/content-collections.nodetest.js
  packages/astro/test/core-image-infersize.nodetest.js
  packages/astro/test/core-image-remark-imgattr.nodetest.js
  packages/astro/test/core-image.nodetest.js
  packages/astro/test/custom-assets-name.nodetest.js
Labels: pkg: astro

#10140 chore: Change `strictEqual` to `equal`
  packages/astro-rss/test/pagesGlobToRssItems.test.js
  packages/astro-rss/test/rss.test.js
  packages/astro/test/astro-basic.nodetest.js
  packages/astro/test/astro-children.nodetest.js
  packages/astro/test/astro-markdown-frontmatter-injection.nodetest.js
  packages/astro/test/astro-markdown-plugins.nodetest.js
  packages/astro/test/astro-markdown-remarkRehype.nodetest.js
  packages/astro/test/astro-markdown-shiki.nodetest.js
  packages/astro/test/astro-markdown-url.nodetest.js
  packages/astro/test/astro-markdown.nodetest.js
  packages/astro/test/custom-404-html.nodetest.js
  packages/astro/test/custom-404-implicit-rerouting.nodetest.js
  packages/astro/test/custom-404-injected-from-dep.nodetest.js
  packages/astro/test/custom-404-injected.nodetest.js
  packages/astro/test/custom-404-md.nodetest.js
  packages/astro/test/custom-404-static.nodetest.js
  packages/astro/test/markdown.nodetest.js
  packages/astro/test/ssr-markdown.nodetest.js
  packages/create-astro/test/context.test.js
  packages/integrations/node/test/well-known-locations.test.js
  packages/integrations/react/test/parsed-react-children.test.js
  packages/markdown/remark/test/remark-collect-images.test.js
Labels: feat: markdown, pkg: react, pkg: integration, pkg: create-astro, pkg: astro

#10138 Update Vite ws property to hot
  packages/astro/src/content/types-generator.ts
  packages/astro/src/core/dev/restart.ts
  packages/astro/src/core/module-loader/vite.ts
  packages/astro/src/core/sync/index.ts
  packages/astro/src/vite-plugin-astro/hmr.ts
  packages/astro/src/vite-plugin-dev-toolbar/vite-plugin-dev-toolbar.ts
Labels: pkg: astro

#10141 chore: fix failing tests and skip some
  packages/astro/test/experimental-content-collection-references.nodetest.js
  packages/astro/test/experimental-content-collections-css-inline-stylesheets.nodetest.js
  packages/astro/test/experimental-content-collections-render.nodetest.js
  packages/astro/test/experimental-content-collections.nodetest.js
  packages/astro/test/units/dev/hydration.nodetest.js
  packages/integrations/node/test/errors.test.js
  packages/integrations/node/test/prerender.test.js
Labels: pkg: integration, pkg: astro

#10155 Fix docs markdown link
  packages/astro/src/core/errors/errors-data.ts
Labels: pkg: astro, docs pr

#10156 chore: fix tests in `packages/astro/test/i18n-routing` which use `try/catch`
  packages/astro/test/i18n-routing.test.js
Labels: pkg: astro

#10139 Fix Astro HMR style-only change detection
  .changeset/twenty-monkeys-thank.md
  packages/astro/src/vite-plugin-astro/hmr.ts
  packages/astro/test/units/vite-plugin-astro/hmr.test.js
Labels: pkg: astro

#9846 Add option to prefix sitemap
  .changeset/eighty-falcons-tease.md
  packages/integrations/sitemap/src/index.ts
  packages/integrations/sitemap/src/schema.ts
  packages/integrations/sitemap/test/prefix.test.js
Labels: pkg: integration

#10165 fix(i18n): make `i18n.routing` fields optional
  .changeset/large-planets-kick.md
  packages/astro/src/@types/astro.ts
Labels: pkg: astro, docs pr

#10163 Fix an issue where audit fails to initialize when encountered `<a>` inside `<svg>`
  .changeset/spotty-cobras-warn.md
  packages/astro/src/runtime/client/dev-toolbar/apps/audit/a11y.ts
Labels: pkg: astro

#10079 Fix to get Integration Data even when a page is transitioned by ViewTransition
  .changeset/tidy-laws-think.md
  packages/astro/e2e/dev-toolbar.test.js
  packages/astro/e2e/fixtures/dev-toolbar/src/layout/Layout.astro
  packages/astro/e2e/fixtures/dev-toolbar/src/pages/view-transition-a.astro
  packages/astro/e2e/fixtures/dev-toolbar/src/pages/view-transition-b.astro
  packages/astro/src/runtime/client/dev-toolbar/apps/astro.ts
Labels: pkg: astro

#10167 fix: dev-toolbar test
  packages/astro/e2e/dev-toolbar.test.js
Labels: pkg: astro

#9795 refactor: pipeline lifetime
  .changeset/hungry-rings-argue.md
  packages/astro/src/assets/build/generate.ts
  packages/astro/src/core/app/index.ts
  packages/astro/src/core/app/pipeline.ts
  packages/astro/src/core/app/ssrPipeline.ts
  packages/astro/src/core/base-pipeline.ts
  packages/astro/src/core/build/generate.ts
  packages/astro/src/core/build/index.ts
  packages/astro/src/core/build/pipeline.ts
  packages/astro/src/core/build/types.ts
  packages/astro/src/core/constants.ts
  packages/astro/src/core/endpoint/index.ts
  packages/astro/src/core/middleware/callMiddleware.ts
  packages/astro/src/core/middleware/index.ts
  packages/astro/src/core/pipeline.ts
  packages/astro/src/core/redirects/helpers.ts
  packages/astro/src/core/redirects/index.ts
  packages/astro/src/core/redirects/render.ts
  packages/astro/src/core/render-context.ts
  packages/astro/src/core/render/core.ts
  packages/astro/src/core/render/environment.ts
  packages/astro/src/core/render/index.ts
  packages/astro/src/core/render/params-and-props.ts
  packages/astro/src/core/render/result.ts
  packages/astro/src/core/routing/index.ts
  packages/astro/src/core/routing/params.ts
  packages/astro/src/i18n/middleware.ts
  packages/astro/src/i18n/utils.ts
  packages/astro/src/prerender/routing.ts
  packages/astro/src/runtime/server/consts.ts
  packages/astro/src/runtime/server/endpoint.ts
  packages/astro/src/vite-plugin-astro-server/devPipeline.ts
  packages/astro/src/vite-plugin-astro-server/error.ts
  packages/astro/src/vite-plugin-astro-server/index.ts
  packages/astro/src/vite-plugin-astro-server/pipeline.ts
  packages/astro/src/vite-plugin-astro-server/plugin.ts
  packages/astro/src/vite-plugin-astro-server/request.ts
  packages/astro/src/vite-plugin-astro-server/route.ts
  packages/astro/test/fixtures/i18n-routing-prefix-always/astro.config.mjs
  packages/astro/test/units/i18n/astro_i18n.test.js
  packages/astro/test/units/render/head.test.js
  packages/astro/test/units/render/jsx.test.js
  packages/astro/test/units/routing/route-matching.test.js
  packages/astro/test/units/test-utils.js
  packages/astro/test/units/vite-plugin-astro-server/request.test.js
  packages/astro/test/units/vite-plugin-astro-server/response.test.js
Labels: pkg: astro

#10172 Fix typo in `errors-data.ts`
  packages/astro/src/core/errors/errors-data.ts
Labels: pkg: astro, docs pr

#10169 fix(i18n): move transformation outside the user schema
  .changeset/loud-snakes-behave.md
  packages/astro/src/core/app/index.ts
  packages/astro/src/core/app/types.ts
  packages/astro/src/core/build/generate.ts
  packages/astro/src/core/build/plugins/plugin-manifest.ts
  packages/astro/src/core/config/schema.ts
  packages/astro/src/core/endpoint/index.ts
  packages/astro/src/core/render-context.ts
  packages/astro/src/core/render/result.ts
  packages/astro/src/core/routing/manifest/create.ts
  packages/astro/src/i18n/index.ts
  packages/astro/src/i18n/middleware.ts
  packages/astro/src/i18n/utils.ts
  packages/astro/src/virtual-modules/i18n.ts
  packages/astro/src/vite-plugin-astro-server/plugin.ts
  packages/astro/test/units/i18n/astro_i18n.test.js
Labels: pkg: astro

#10168 Fix blog ordering
  examples/blog/src/content/blog/second-post.md
  examples/blog/src/content/blog/third-post.md
Labels: pkg: example

#9975 fix(sitemap): url when rest parameter is used in page file names
  .changeset/sour-ties-sparkle.md
  packages/integrations/sitemap/src/index.ts
  packages/integrations/sitemap/test/dynamic-path.test.js
  packages/integrations/sitemap/test/fixtures/dynamic/astro.config.mjs
  packages/integrations/sitemap/test/fixtures/dynamic/package.json
  packages/integrations/sitemap/test/fixtures/dynamic/src/pages/[...slug].astro
  pnpm-lock.yaml
Labels: pkg: integration

#10179 Revert "Add option to prefix sitemap"
  .changeset/slow-cats-argue.md
  packages/integrations/sitemap/src/index.ts
  packages/integrations/sitemap/src/schema.ts
  packages/integrations/sitemap/test/prefix.test.js
Labels: pkg: integration

#10182 ci: fix regression of the commands
  .github/workflows/ci.yml
  package.json
Labels: 🚨 action

#10143 Improve `optimizeDeps.entries` to avoid server endpoints
  .changeset/funny-bananas-switch.md
  packages/astro/src/core/create-vite.ts
Labels: pkg: astro

#10166 Improve Astro style HMR for imported styles
  .changeset/little-trains-act.md
  packages/astro/e2e/fixtures/hmr/src/pages/css-external.astro
  packages/astro/e2e/fixtures/hmr/src/styles/css-external.css
  packages/astro/e2e/hmr.test.js
  packages/astro/src/core/compile/compile.ts
  packages/astro/src/core/compile/style.ts
  packages/astro/src/vite-plugin-astro/hmr.ts
  packages/astro/src/vite-plugin-astro/index.ts
  packages/astro/src/vite-plugin-astro/types.ts
  packages/astro/src/vite-plugin-astro/utils.ts
Labels: pkg: astro

#10197 fix(errors): Remove duplicate logging of errors
  .changeset/light-masks-watch.md
  packages/astro/src/vite-plugin-astro-server/response.ts
Labels: pkg: astro

#10194 Fix cssesc from breaking browser code
  .changeset/cuddly-ads-fail.md
  .changeset/quick-bottles-march.md
  packages/astro/src/content/vite-plugin-content-virtual-mod.ts
  packages/astro/src/core/build/plugins/plugin-content.ts
  packages/astro/src/transitions/vite-plugin-transitions.ts
  packages/integrations/vercel/src/serverless/adapter.ts
Labels: pkg: integration, pkg: astro

#10200 fix(preact): Fixes passing children to server-rendered components causing an error
  .changeset/three-deers-glow.md
  packages/integrations/preact/package.json
  pnpm-lock.yaml
Labels: pkg: preact, pkg: integration

#10204 Fix typo in `@types/astro.ts`
  packages/astro/src/@types/astro.ts
Labels: pkg: astro, docs pr

#10210 ci: fix formatting
  .github/workflows/ci.yml
  .github/workflows/format.yml
  package.json
Labels: 🚨 action

#10208 Fix(node): Custom headers are not present in responses from standalone Node server in preview mode
  .changeset/spotty-dryers-hear.md
  packages/astro/src/@types/astro.ts
  packages/astro/src/core/preview/index.ts
  packages/integrations/node/src/preview.ts
  packages/integrations/node/test/fixtures/preview-headers/package.json
  packages/integrations/node/test/fixtures/preview-headers/src/pages/index.astro
  packages/integrations/node/test/preview-headers.test.js
  pnpm-lock.yaml
Labels: pkg: integration, pkg: astro, docs pr

#10215 Fixes edge middleware calling nested routes
  .changeset/popular-turtles-sort.md
  packages/integrations/vercel/src/serverless/middleware.ts
Labels: pkg: integration

#10196 prevent warning: `Astro.request.headers` is not available in "static" output mode
  .changeset/metal-schools-type.md
  packages/astro/src/core/render-context.ts
Labels: pkg: astro

#10221 Prevent errors in rendering from crashing server
  .changeset/breezy-pears-admire.md
  packages/astro/src/runtime/server/render/util.ts
  packages/astro/test/error-bad-js.test.js
  packages/astro/test/fixtures/error-bad-js/src/components/Other.astro
  packages/astro/test/fixtures/error-bad-js/src/other.js
  packages/astro/test/fixtures/error-bad-js/src/pages/in-stream.astro
  packages/astro/test/fixtures/error-bad-js/src/something.js
Labels: pkg: astro

#10219 Fix hydration scripts missing from dynamic slot usage
  .changeset/dirty-boats-suffer.md
  packages/astro/src/core/render/result.ts
  packages/astro/src/runtime/server/escape.ts
  packages/astro/test/fixtures/hydration-race/src/components/WithSlot.astro
  packages/astro/test/fixtures/hydration-race/src/pages/slot.astro
  packages/astro/test/hydration-race.test.js
Labels: pkg: astro

#10231 Fix an issue where Vercel adapter may create functions for prerendered routes
  .changeset/four-shoes-rule.md
  packages/integrations/vercel/src/serverless/adapter.ts
  packages/integrations/vercel/test/fixtures/functionPerRoute/src/pages/prerender.astro
  packages/integrations/vercel/test/split.test.js
Labels: pkg: integration

#10220 fix(toolbar): Make it so every built-in app can be closed by outside clicks
  .changeset/kind-rice-clean.md
  .github/workflows/scripts.yml
  packages/astro/e2e/dev-toolbar.test.js
  packages/astro/src/runtime/client/dev-toolbar/apps/astro.ts
  packages/astro/src/runtime/client/dev-toolbar/apps/audit/index.ts
  packages/astro/src/runtime/client/dev-toolbar/apps/settings.ts
  packages/astro/src/runtime/client/dev-toolbar/apps/utils/window.ts
  packages/astro/src/runtime/client/dev-toolbar/apps/xray.ts
Labels: 🚨 action, pkg: astro

#10154 fix: better assetsInlineLimit runtime type checking
  .changeset/late-bears-collect.md
  packages/astro/src/core/build/plugins/util.ts
Labels: pkg: astro

#10239 Improve the message of `MiddlewareCantBeLoaded` for clarity
  .changeset/tall-papayas-drive.md
  packages/astro/src/core/errors/errors-data.ts
Labels: pkg: astro, docs pr

#10244 Fix Svelte editor tooling not working under relaxed TypeScripts projects
  .changeset/gold-baboons-drum.md
  package.json
  packages/integrations/svelte/package.json
  pnpm-lock.yaml
Labels: pkg: svelte, pkg: integration

#10247 Removes morph animations when setting transition:animate=none
  .changeset/eight-shrimps-enjoy.md
  packages/astro/src/runtime/server/transition.ts
Labels: pkg: astro

#10251 Fix TypeScript type definitions for `Code` component
  .changeset/wicked-houses-occur.md
  packages/astro/components/Code.astro
Labels: pkg: astro

#10248 fix: change strategy for route caching
  .changeset/great-flowers-own.md
  packages/astro/src/core/render/route-cache.ts
Labels: pkg: astro

#10259 Update Vite to latest
  packages/astro/package.json
  packages/db/package.json
  packages/db/src/core/integration/load-astro-config.ts
  packages/integrations/alpinejs/package.json
  packages/integrations/markdoc/package.json
  packages/integrations/mdx/package.json
  packages/integrations/react/package.json
  packages/integrations/svelte/package.json
  packages/integrations/tailwind/package.json
  packages/integrations/vue/package.json
  pnpm-lock.yaml
Labels: pkg: svelte, pkg: vue, pkg: react, pkg: integration, pkg: astro

#10263 Adds auto completion for `astro:` event names when adding or removing event listeners on `document`
  .changeset/few-worms-rush.md
  packages/astro/src/@types/astro.ts
Labels: pkg: astro, docs pr

#10266 Fix Vitest check fail again
  examples/with-vitest/package.json
  pnpm-lock.yaml
Labels: pkg: example

#10270 Updates deprecated Node.js 16 github actions
  .github/workflows/benchmark.yml
  .github/workflows/check.yml
  .github/workflows/ci.yml
  .github/workflows/main.yml
  .github/workflows/release.yml
  .github/workflows/scripts.yml
  .github/workflows/snapshot-release.yml
  .github/workflows/test-hosts.yml
Labels: 🚨 action
