Repository withastro/astro, pull requests merged in 2024-07, with the labels that each got.

#11369 Fix attribute rendering for boolean values
  .changeset/small-ties-sort.md
  packages/astro/src/runtime/server/render/util.ts
  packages/astro/test/astro-attrs.test.js
  packages/astro/test/fixtures/astro-attrs/src/pages/index.astro
  packages/integrations/mdx/test/mdx-vite-env-vars.test.js
Labels: pkg: integration, pkg: astro

#11388 fix(overlay): adjust the color of punctuations
  .changeset/fair-wolves-move.md
  packages/astro/src/core/errors/overlay.ts
Labels: pkg: astro

#11362 fix(i18n): update strategy when defining manually astro i18n middleware
  .changeset/brave-mayflies-share.md
  packages/astro/src/i18n/index.ts
  packages/astro/src/virtual-modules/i18n.ts
  packages/astro/test/fixtures/i18n-routing-manual-with-default-middleware/src/pages/en/start.astro
  packages/astro/test/i18n-routing-manual-with-default-middleware.test.js
Labels: pkg: astro

#11352 fix(rewrite): correctly update the status code during a rewrite
  .changeset/curvy-kids-call.md
  packages/astro/src/core/render-context.ts
  packages/astro/src/vite-plugin-astro-server/route.ts
  packages/astro/test/fixtures/rewrite-i18n-manual-routing/astro.config.mjs
  packages/astro/test/fixtures/rewrite-i18n-manual-routing/package.json
  packages/astro/test/fixtures/rewrite-i18n-manual-routing/src/middleware.js
  packages/astro/test/fixtures/rewrite-i18n-manual-routing/src/pages/index.astro
  packages/astro/test/rewrite.test.js
  pnpm-lock.yaml
Labels: pkg: astro

#11386 feat: adds simple loader
  packages/astro/src/content/loaders.ts
  packages/astro/src/content/types-generator.ts
  packages/astro/src/content/utils.ts
  packages/astro/test/content-layer.test.js
  packages/astro/test/fixtures/content-layer/src/content/config.ts
  packages/astro/test/fixtures/content-layer/src/pages/collections.json.js
  packages/astro/types/content.d.ts
Labels: pkg: astro

#11372 Add support for the build to Server Islands
  examples/server-islands/package.json
  examples/server-islands/src/components/Cart.astro
  examples/server-islands/src/components/Cart.tsx
  examples/server-islands/src/components/Header.astro
  examples/server-islands/src/pages/index.astro
  examples/server-islands/src/pages/old-index.astro
  packages/astro/src/core/app/common.ts
  packages/astro/src/core/app/index.ts
  packages/astro/src/core/app/pipeline.ts
  packages/astro/src/core/app/types.ts
  packages/astro/src/core/base-pipeline.ts
  packages/astro/src/core/build/plugins/plugin-manifest.ts
  packages/astro/src/core/build/plugins/plugin-ssr.ts
  packages/astro/src/core/server-islands/endpoint.ts
  packages/astro/src/core/server-islands/vite-plugin-server-islands.ts
  pnpm-lock.yaml
Labels: pkg: example, pkg: astro

#11408 Revert "Fix attribute rendering for boolean values (#11369)"
  .changeset/calm-rules-trade.md
  packages/astro/src/runtime/server/render/util.ts
  packages/astro/test/astro-attrs.test.js
  packages/astro/test/fixtures/astro-attrs/src/pages/index.astro
  packages/integrations/mdx/test/mdx-vite-env-vars.test.js
Labels: pkg: integration, pkg: astro

#11337 feat: astro:env validateSecrets
  .changeset/slow-roses-call.md
  packages/astro/src/@types/astro.ts
  packages/astro/src/core/config/schema.ts
  packages/astro/src/env/vite-plugin-env.ts
  packages/astro/test/env-secret.test.js
Labels: pkg: astro, docs pr

#11431 Pass slots to server islands
  packages/astro/e2e/fixtures/server-islands/src/components/Island.astro
  packages/astro/e2e/fixtures/server-islands/src/pages/index.astro
  packages/astro/e2e/server-islands.test.js
  packages/astro/src/core/server-islands/endpoint.ts
  packages/astro/src/runtime/server/render/component.ts
  packages/astro/src/runtime/server/render/server-islands.ts
  packages/astro/src/runtime/server/render/slot.ts
Labels: pkg: astro

#11432 Require the experimental flag to use server islands
  examples/server-islands/astro.config.mjs
  packages/astro/e2e/fixtures/server-islands/astro.config.mjs
  packages/astro/src/@types/astro.ts
  packages/astro/src/core/build/plugins/plugin-ssr.ts
  packages/astro/src/core/config/schema.ts
  packages/astro/src/core/create-vite.ts
  packages/astro/test/fixtures/server-islands/hybrid/astro.config.mjs
  packages/astro/test/fixtures/server-islands/ssr/astro.config.mjs
Labels: pkg: example, pkg: astro, docs pr

#11439 Actions: expand `isInputError` to accept `unknown`
  .changeset/nasty-poems-juggle.md
  package.json
  packages/astro/package.json
  packages/astro/src/actions/runtime/utils.ts
  packages/astro/src/actions/runtime/virtual/server.ts
  packages/astro/src/actions/runtime/virtual/shared.ts
  packages/astro/test/types/is-input-error.ts
  packages/astro/tsconfig.tests.json
  pnpm-lock.yaml
Labels: pkg: astro

#11436 Fix: Actions `accept` type completions
  .changeset/swift-cows-walk.md
  packages/astro/src/actions/runtime/virtual/server.ts
  packages/astro/test/types/define-action-accept.ts
Labels: pkg: astro

#11443 feat: `ActionReturnType`
  .changeset/small-vans-own.md
  packages/astro/src/actions/runtime/virtual/server.ts
  packages/astro/test/types/action-return-type.ts
Labels: pkg: astro

#11437 feat: astro:env allow schema keys to include numbers
  .changeset/loud-socks-doubt.md
  packages/astro/src/env/schema.ts
  packages/astro/test/units/config/config-validate.test.js
Labels: pkg: astro

#11438 Actions: expose utility types
  .changeset/plenty-socks-talk.md
  packages/astro/src/@types/astro.ts
  packages/astro/src/actions/runtime/virtual/server.ts
  packages/astro/src/actions/runtime/virtual/shared.ts
Labels: pkg: astro, docs pr

#11398 feat: add glob loader
  packages/astro/package.json
  packages/astro/src/@types/astro.ts
  packages/astro/src/content/data-store.ts
  packages/astro/src/content/loaders/file.ts
  packages/astro/src/content/loaders/glob.ts
  packages/astro/src/content/loaders/index.ts
  packages/astro/src/content/loaders/types.ts
  packages/astro/src/content/runtime.ts
  packages/astro/src/content/sync.ts
  packages/astro/src/content/types-generator.ts
  packages/astro/src/content/vite-plugin-content-virtual-mod.ts
  packages/astro/src/core/build/index.ts
  packages/astro/src/core/dev/dev.ts
  packages/astro/src/core/sync/index.ts
  packages/astro/templates/content/module.mjs
  packages/astro/test/content-layer.test.js
  packages/astro/test/fixtures/content-layer/content-outside-src/columbia-copy.md
  packages/astro/test/fixtures/content-layer/content-outside-src/columbia.md
  packages/astro/test/fixtures/content-layer/content-outside-src/endeavour.md
  packages/astro/test/fixtures/content-layer/content-outside-src/enterprise.md
  packages/astro/test/fixtures/content-layer/content-outside-src/index.md
  packages/astro/test/fixtures/content-layer/src/content/config.ts
  packages/astro/test/fixtures/content-layer/src/data/dogs.json
  packages/astro/test/fixtures/content-layer/src/data/glob-data/index.json
  packages/astro/test/fixtures/content-layer/src/data/glob-data/one.json
  packages/astro/test/fixtures/content-layer/src/data/glob-data/three.json
  packages/astro/test/fixtures/content-layer/src/data/glob-data/two.json
  packages/astro/test/fixtures/content-layer/src/loaders/post-loader.ts
  packages/astro/test/fixtures/content-layer/src/pages/collections.json.js
  packages/astro/test/fixtures/content-layer/src/pages/spacecraft/[slug].astro
  packages/astro/types/content.d.ts
  pnpm-lock.yaml
Labels: pkg: astro, docs pr

#11459 fix(audit): remove false positive warnings on elements with `tabpanel` role
  .changeset/calm-beans-jam.md
  packages/astro/src/runtime/client/dev-toolbar/apps/audit/rules/a11y.ts
Labels: pkg: astro

#11456 fix(astro): do not open new tab when saving config files
  .changeset/proud-singers-call.md
  packages/astro/src/core/dev/container.ts
Labels: pkg: astro

#11472 Only add framework component formats to Vite’s `optimizeDeps`
  .changeset/chatty-spies-jog.md
  packages/astro/src/core/create-vite.ts
Labels: pkg: astro

#11464 refactor(preact): Drop `preact-ssr-prepass` in favor of `renderToStringAsync`
  .changeset/few-candles-warn.md
  packages/integrations/preact/package.json
  packages/integrations/preact/src/server.ts
  pnpm-lock.yaml
Labels: pkg: preact, pkg: integration

#11450 feat(markdoc): Support markdown-it's typographer option
  .changeset/forty-scissors-jog.md
  packages/integrations/markdoc/src/options.ts
  packages/integrations/markdoc/src/tokenizer.ts
  packages/integrations/markdoc/test/fixtures/render-typographer/astro.config.mjs
  packages/integrations/markdoc/test/fixtures/render-typographer/package.json
  packages/integrations/markdoc/test/fixtures/render-typographer/src/content/blog/typographer.mdoc
  packages/integrations/markdoc/test/fixtures/render-typographer/src/pages/index.astro
  packages/integrations/markdoc/test/render.test.js
  pnpm-lock.yaml
Labels: pkg: integration

#11452 Fix action form parsing for .nullish
  .changeset/new-mails-prove.md
  packages/astro/src/actions/runtime/virtual/server.ts
Labels: pkg: astro

#11343 refactor(astro): code refactor
  packages/astro/src/core/build/static-build.ts
  packages/astro/src/core/errors/dev/vite.ts
  packages/astro/src/core/errors/overlay.ts
  packages/astro/src/core/middleware/callMiddleware.ts
  packages/astro/src/core/redirects/render.ts
  packages/astro/src/jsx-runtime/index.ts
  packages/astro/src/runtime/client/dev-toolbar/entrypoint.ts
Labels: pkg: astro

#11341 Feature: add support for shiki `defaultColors` option
  .changeset/cold-crabs-arrive.md
  packages/astro/src/core/config/schema.ts
  packages/astro/test/astro-markdown-shiki.test.js
  packages/astro/test/fixtures/astro-markdown-shiki/default-color/astro.config.mjs
  packages/astro/test/fixtures/astro-markdown-shiki/default-color/package.json
  packages/astro/test/fixtures/astro-markdown-shiki/default-color/src/layouts/content.astro
  packages/astro/test/fixtures/astro-markdown-shiki/default-color/src/pages/index.md
  packages/markdown/remark/src/shiki.ts
  packages/markdown/remark/src/types.ts
  packages/markdown/remark/test/shiki.test.js
  pnpm-lock.yaml
Labels: feat: markdown, pkg: astro, semver: minor

#11176 feat: add first and last to the Page interface
  .changeset/twenty-maps-glow.md
  packages/astro/src/@types/astro.ts
  packages/astro/src/core/render/paginate.ts
Labels: pkg: astro, semver: minor, docs pr

#11415 feat(astro): clean sync
  .changeset/modern-buses-check.md
  packages/astro/src/actions/index.ts
  packages/astro/src/cli/check/index.ts
  packages/astro/src/cli/sync/index.ts
  packages/astro/src/core/build/index.ts
  packages/astro/src/core/create-vite.ts
  packages/astro/src/core/dev/container.ts
  packages/astro/src/core/index.ts
  packages/astro/src/core/sync/index.ts
  packages/astro/src/core/sync/setup-env-ts.ts
  packages/astro/src/integrations/hooks.ts
  packages/astro/test/astro-sync.test.js
  packages/astro/test/test-utils.js
  packages/astro/test/units/dev/collections-mixed-content-errors.test.js
Labels: pkg: astro

#11304 feat: Refactor integration hooks type
  .changeset/blue-colts-film.md
  .changeset/curvy-otters-jog.md
  packages/astro/src/@types/astro.ts
  packages/db/src/core/load-file.ts
  packages/db/src/core/types.ts
  packages/db/src/core/utils.ts
Labels: pkg: astro, semver: minor, docs pr

#11477 fix: avoid response rewrite inside the dev server
  .changeset/chilled-impalas-dance.md
  packages/astro/src/core/constants.ts
  packages/astro/src/core/render-context.ts
  packages/astro/src/vite-plugin-astro-server/route.ts
  packages/astro/test/rewrite.test.js
Labels: pkg: astro

#11391 Add Shiki's `defaultColor` option to `<Code />` component
  .changeset/thin-dodos-serve.md
  packages/astro/components/Code.astro
Labels: pkg: astro, semver: minor

#11484 Fix smoke tests
  packages/astro/src/runtime/server/render/astro/factory.ts
  scripts/smoke/check.js
Labels: pkg: astro

#11483 fix: pin boxen to avoid JSON import
  .changeset/warm-lizards-mate.md
  packages/astro/package.json
  pnpm-lock.yaml
Labels: pkg: astro

#11482 feat: noSync flag for astro check
  .changeset/grumpy-dolphins-jump.md
  packages/astro/src/cli/check/index.ts
Labels: pkg: astro, semver: minor

#11469 feat: image support for content layer
  benchmark/make-project/image.jpg
  benchmark/make-project/markdown-cc1.js
  benchmark/make-project/markdown-cc2.js
  benchmark/package.json
  packages/astro/package.json
  packages/astro/src/assets/utils/resolveImports.ts
  packages/astro/src/content/consts.ts
  packages/astro/src/content/data-store.ts
  packages/astro/src/content/loaders/file.ts
  packages/astro/src/content/loaders/glob.ts
  packages/astro/src/content/runtime.ts
  packages/astro/src/content/sync.ts
  packages/astro/src/content/types-generator.ts
  packages/astro/src/content/utils.ts
  packages/astro/src/content/vite-plugin-content-assets.ts
  packages/astro/src/content/vite-plugin-content-virtual-mod.ts
  packages/astro/src/core/errors/errors-data.ts
  packages/astro/test/content-layer.test.js
  packages/astro/test/fixtures/content-layer/astro.config.mjs
  packages/astro/test/fixtures/content-layer/content-outside-src/columbia.md
  packages/astro/test/fixtures/content-layer/images/atlantis.avif
  packages/astro/test/fixtures/content-layer/images/launch.webp
  packages/astro/test/fixtures/content-layer/images/shuttle.jpg
  packages/astro/test/fixtures/content-layer/src/content/config.ts
  packages/astro/test/fixtures/content-layer/src/pages/collections.json.js
  packages/astro/test/fixtures/content-layer/src/pages/spacecraft/[slug].astro
  pnpm-lock.yaml
Labels: pkg: astro, docs pr

#11490 Fix Svelte 5 slots change
  .changeset/nine-carpets-doubt.md
  packages/integrations/svelte/client-v5.js
  packages/integrations/svelte/package.json
  packages/integrations/svelte/server-v5.js
Labels: pkg: svelte, pkg: integration

#11489 fix: make root serializable
  .changeset/cuddly-days-relate.md
  packages/astro/src/container/index.ts
  packages/astro/src/core/app/index.ts
  packages/astro/src/core/app/pipeline.ts
  packages/astro/src/core/app/types.ts
  packages/astro/src/core/base-pipeline.ts
  packages/astro/src/core/build/generate.ts
  packages/astro/src/core/build/pipeline.ts
  packages/astro/src/core/build/plugins/plugin-manifest.ts
  packages/astro/src/core/routing/default.ts
  packages/astro/src/vite-plugin-astro-server/pipeline.ts
  packages/astro/src/vite-plugin-astro-server/plugin.ts
  packages/astro/test/units/test-utils.js
Labels: pkg: astro

#11491 Fix Server Islands in Vercel
  .changeset/tidy-shrimps-grab.md
  packages/astro/src/container/index.ts
  packages/astro/src/core/app/index.ts
  packages/astro/src/core/build/index.ts
  packages/astro/src/core/routing/default.ts
  packages/astro/src/core/routing/manifest/create.ts
  packages/astro/src/core/routing/manifest/pattern.ts
  packages/astro/src/core/server-islands/endpoint.ts
  packages/astro/src/vite-plugin-astro-server/plugin.ts
  packages/integrations/vercel/test/fixtures/server-islands/astro.config.mjs
  packages/integrations/vercel/test/fixtures/server-islands/package.json
  packages/integrations/vercel/test/fixtures/server-islands/src/components/Island.astro
  packages/integrations/vercel/test/fixtures/server-islands/src/pages/index.astro
  packages/integrations/vercel/test/server-islands.test.js
  pnpm-lock.yaml
Labels: pkg: integration, pkg: astro

#11486 feat(container): client hydration
  .changeset/afraid-cups-deliver.md
  packages/astro/src/container/index.ts
  packages/astro/src/runtime/server/render/component.ts
  packages/astro/test/container.test.js
  packages/astro/test/fixtures/container-custom-renderers/src/components/buttonDirective.astro
  packages/astro/test/fixtures/container-custom-renderers/src/pages/button-directive.ts
  packages/astro/test/fixtures/container-custom-renderers/src/pages/react.ts
  packages/integrations/react/server.d.ts
Labels: pkg: react, pkg: integration, pkg: astro

#11495 fix typo in CHANGELOG
  packages/astro/CHANGELOG.md
Labels: pkg: astro

#11496 Hide the dev toolbar on print
  .changeset/orange-boats-trade.md
  packages/astro/e2e/dev-toolbar.test.js
  packages/astro/src/runtime/client/dev-toolbar/toolbar.ts
Labels: pkg: astro

#11500 fix: inferRemoteSize not being exported in the type
  .changeset/cold-ravens-dream.md
  packages/astro/client.d.ts
Labels: pkg: astro

#11501 Adds missing export
  .changeset/spotty-camels-joke.md
  packages/astro/src/transitions/router.ts
Labels: pkg: astro

#11505 fix: better logging for rewrites
  .changeset/blue-jars-hang.md
  packages/astro/src/core/messages.ts
  packages/astro/src/vite-plugin-astro-server/route.ts
Labels: pkg: astro

#11506 [docs] fix typos in config reference
  .changeset/empty-onions-buy.md
  packages/astro/src/@types/astro.ts
Labels: pkg: astro, docs pr

#11508 Fix an XSS in Server Islands.
  .changeset/smart-snakes-promise.md
  packages/astro/src/runtime/server/render/server-islands.ts
Labels: pkg: astro

#11509 Exclude hoisted scripts and styles from raw imports
  .changeset/clever-pillows-boil.md
  packages/astro/src/vite-plugin-astro-server/vite.ts
  packages/astro/test/astro-basic.test.js
  packages/astro/test/fixtures/astro-basic/src/pages/import-queries/_content.astro
Labels: pkg: astro

#11494 feat(content-layer): support references in content layer
  packages/astro/src/content/runtime.ts
  packages/astro/templates/content/module.mjs
  packages/astro/test/content-layer.test.js
  packages/astro/test/fixtures/content-layer/content-outside-src/columbia-copy.md
  packages/astro/test/fixtures/content-layer/src/content/config.ts
  packages/astro/test/fixtures/content-layer/src/pages/collections.json.js
  packages/astro/test/fixtures/content-layer/src/pages/spacecraft/[slug].astro
Labels: pkg: astro

#11440 feat: add markdown rendering to content layer
  benchmark/bench/memory.js
  benchmark/make-project/image.jpg
  benchmark/make-project/markdown-cc1.js
  benchmark/make-project/markdown-cc2.js
  benchmark/package.json
  packages/astro/package.json
  packages/astro/src/@types/astro.ts
  packages/astro/src/assets/utils/resolveImports.ts
  packages/astro/src/content/consts.ts
  packages/astro/src/content/data-store.ts
  packages/astro/src/content/loaders/file.ts
  packages/astro/src/content/loaders/glob.ts
  packages/astro/src/content/loaders/types.ts
  packages/astro/src/content/runtime.ts
  packages/astro/src/content/sync.ts
  packages/astro/src/content/types-generator.ts
  packages/astro/src/content/utils.ts
  packages/astro/src/content/vite-plugin-content-assets.ts
  packages/astro/src/content/vite-plugin-content-virtual-mod.ts
  packages/astro/src/core/build/index.ts
  packages/astro/src/core/dev/dev.ts
  packages/astro/src/core/errors/errors-data.ts
  packages/astro/src/core/sync/index.ts
  packages/astro/src/vite-plugin-markdown/content-entry-type.ts
  packages/astro/templates/content/module.mjs
  packages/astro/test/content-layer.test.js
  packages/astro/test/fixtures/content-layer/astro.config.mjs
  packages/astro/test/fixtures/content-layer/content-outside-src/columbia-copy.md
  packages/astro/test/fixtures/content-layer/content-outside-src/columbia.md
  packages/astro/test/fixtures/content-layer/content-outside-src/shuttle.jpg
  packages/astro/test/fixtures/content-layer/images/atlantis.avif
  packages/astro/test/fixtures/content-layer/images/launch.webp
  packages/astro/test/fixtures/content-layer/images/shuttle.jpg
  packages/astro/test/fixtures/content-layer/src/content/config.ts
  packages/astro/test/fixtures/content-layer/src/loaders/post-loader.ts
  packages/astro/test/fixtures/content-layer/src/pages/collections.json.js
  packages/astro/test/fixtures/content-layer/src/pages/spacecraft/[slug].astro
  pnpm-lock.yaml
Labels: pkg: astro, docs pr

#11525 fix(actions): resolve actions when there aren't user actions
  .changeset/new-melons-cross.md
  packages/astro/src/actions/consts.ts
  packages/astro/src/actions/index.ts
  packages/astro/src/actions/runtime/utils.ts
  packages/astro/src/integrations/hooks.ts
Labels: pkg: astro

#11527 chore: fix content layer types
  packages/astro/src/content/data-store.ts
  packages/astro/src/content/loaders/glob.ts
  packages/astro/src/content/loaders/types.ts
  packages/astro/src/content/runtime.ts
  packages/astro/src/content/sync.ts
  packages/astro/src/content/types-generator.ts
  packages/astro/src/content/utils.ts
  packages/astro/src/core/dev/dev.ts
  packages/astro/src/core/sync/index.ts
  packages/astro/templates/content/types.d.ts
  packages/astro/test/fixtures/content-layer/src/content/config.ts
  packages/astro/types/content.d.ts
Labels: pkg: astro

#11541 Clean content layer with `--force`
  packages/astro/src/cli/build/index.ts
  packages/astro/src/core/build/index.ts
  packages/astro/test/content-layer.test.js
  packages/astro/test/fixtures/content-layer/src/content/config.ts
  packages/astro/test/fixtures/content-layer/src/pages/collections.json.js
  packages/astro/test/test-utils.js
Labels: pkg: astro

#11546 fix(types): update Astro.redirect JSDoc comment
  .changeset/mighty-mirrors-try.md
  packages/astro/src/@types/astro.ts
Labels: pkg: astro, docs pr

#11548 Fix astro add for prerelease packages
  .changeset/violet-coats-fail.md
  packages/astro/src/cli/add/index.ts
Labels: pkg: astro

#11553 fix: cache collections using file name too
  .changeset/tidy-needles-build.md
  packages/astro/src/core/build/plugins/plugin-content.ts
  packages/astro/test/experimental-content-collections-cache-invalidation.test.js
  packages/astro/test/fixtures/content-collections-same-contents/astro.config.mjs
  packages/astro/test/fixtures/content-collections-same-contents/package.json
  packages/astro/test/fixtures/content-collections-same-contents/src/content/config.ts
  packages/astro/test/fixtures/content-collections-same-contents/src/content/docs/one.md
  packages/astro/test/fixtures/content-collections-same-contents/src/content/docs/two.md
  packages/astro/test/fixtures/content-collections-same-contents/src/pages/docs.astro
  pnpm-lock.yaml
Labels: pkg: astro

#11558 Fixes to content layer render types
  packages/astro/src/content/data-store.ts
  packages/astro/src/content/types-generator.ts
Labels: pkg: astro

#11529 Fix server islands with trailingSlash: always
  .changeset/wicked-books-sip.md
  packages/astro/e2e/fixtures/server-islands/astro.config.mjs
  packages/astro/e2e/server-islands.test.js
  packages/astro/src/@types/astro.ts
  packages/astro/src/core/render-context.ts
  packages/astro/src/runtime/server/render/server-islands.ts
Labels: pkg: astro, docs pr

#11567 fix(create-astro): log fetch errors
  .changeset/gorgeous-timers-tease.md
  packages/create-astro/src/actions/template.ts
Labels: pkg: create-astro

#11566 fix: check before writing to errors
  .changeset/violet-drinks-film.md
  packages/astro/e2e/errors.test.js
  packages/astro/e2e/fixtures/errors/src/pages/dom-exception.astro
  packages/astro/src/core/errors/dev/utils.ts
Labels: pkg: astro

#11562 feat: use devalue to serialize content layer data
  packages/astro/src/content/data-store.ts
  packages/astro/src/content/sync.ts
  packages/astro/src/content/vite-plugin-content-virtual-mod.ts
  packages/astro/src/core/dev/dev.ts
  packages/astro/src/core/sync/index.ts
  packages/astro/test/content-layer.test.js
  packages/astro/test/fixtures/content-layer/src/content/config.ts
  packages/astro/test/fixtures/content-layer/src/pages/collections.json.js
  packages/astro/test/fixtures/content-layer/src/utils.js
Labels: pkg: astro

#11574 fix: highlight line with error in the error overlay
  .changeset/old-bats-travel.md
  packages/astro/e2e/errors.test.js
  packages/astro/e2e/test-utils.js
  packages/astro/src/core/errors/dev/vite.ts
Labels: pkg: astro

#11559 actions: check result.data is not undefined instead of truthy
  .changeset/tasty-rockets-jog.md
  packages/astro/src/actions/runtime/route.ts
  packages/astro/test/actions.test.js
  packages/astro/test/fixtures/actions/src/actions/index.ts
Labels: pkg: astro

#11570 Actions: New fallback behavior with `action={actions.name}`
  .changeset/silly-bulldogs-sparkle.md
  packages/astro/e2e/fixtures/actions-blog/src/pages/blog/[...slug].astro
  packages/astro/e2e/fixtures/actions-react-19/src/actions/index.ts
  packages/astro/src/actions/runtime/middleware.ts
  packages/astro/src/actions/runtime/virtual/server.ts
  packages/astro/src/actions/runtime/virtual/shared.ts
  packages/astro/src/core/errors/errors-data.ts
  packages/astro/templates/actions.mjs
  packages/astro/test/actions.test.js
  packages/integrations/react/server.js
  packages/integrations/react/src/actions.ts
Labels: pkg: react, pkg: integration, pkg: astro, semver: minor, docs pr

#11571 Actions: Make `.safe()` the default return value
  .changeset/light-chairs-happen.md
  packages/astro/e2e/fixtures/actions-blog/src/components/Like.tsx
  packages/astro/e2e/fixtures/actions-blog/src/components/PostComment.tsx
  packages/astro/e2e/fixtures/actions-react-19/src/actions/index.ts
  packages/astro/e2e/fixtures/actions-react-19/src/components/Like.tsx
  packages/astro/src/@types/astro.ts
  packages/astro/src/actions/runtime/middleware.ts
  packages/astro/src/actions/runtime/route.ts
  packages/astro/src/actions/runtime/utils.ts
  packages/astro/src/actions/runtime/virtual/server.ts
  packages/astro/templates/actions.mjs
  packages/astro/test/fixtures/actions/astro.config.mjs
  packages/astro/test/fixtures/actions/src/pages/subscribe.astro
  packages/astro/test/types/action-return-type.ts
  packages/astro/test/types/is-input-error.ts
  packages/integrations/react/server.js
Labels: pkg: react, pkg: integration, pkg: astro, semver: minor, docs pr

#11577 Verify you can use server:defer on self-imported module
  packages/astro/e2e/fixtures/server-islands/src/components/Self.astro
  packages/astro/e2e/fixtures/server-islands/src/pages/index.astro
  packages/astro/e2e/server-islands.test.js
Labels: pkg: astro

#11379 chore: unflag contentCollectionJsonSchema
  .changeset/tasty-spoons-double.md
  packages/astro/src/@types/astro.ts
  packages/astro/src/content/types-generator.ts
  packages/astro/src/core/config/schema.ts
  packages/astro/test/fixtures/data-collections-schema/astro.config.mjs
Labels: pkg: astro, semver: minor, docs pr

#11507 feat: log slow pages in red
  .changeset/spotty-rice-shake.md
  packages/astro/src/core/build/generate.ts
Labels: pkg: astro, semver: minor

#11542 feat: stabilise the rewrite APIs
  .changeset/thick-cats-compete.md
  packages/astro/src/@types/astro.ts
  packages/astro/src/container/index.ts
  packages/astro/src/core/app/types.ts
  packages/astro/src/core/build/generate.ts
  packages/astro/src/core/build/plugins/plugin-manifest.ts
  packages/astro/src/core/config/schema.ts
  packages/astro/src/core/middleware/callMiddleware.ts
  packages/astro/src/core/render-context.ts
  packages/astro/src/vite-plugin-astro-server/plugin.ts
  packages/astro/test/actions.test.js
  packages/astro/test/astro-cookies.test.js
  packages/astro/test/fixtures/actions/astro.config.mjs
  packages/astro/test/fixtures/reroute/astro.config.mjs
  packages/astro/test/fixtures/rewrite-custom-404/astro.config.mjs
  packages/astro/test/fixtures/rewrite-i18n-manual-routing/astro.config.mjs
  packages/astro/test/fixtures/rewrite-runtime-error-custom500/astro.config.mjs
  packages/astro/test/fixtures/rewrite-runtime-error/astro.config.mjs
  packages/astro/test/fixtures/rewrite-server/astro.config.mjs
  packages/astro/test/fixtures/rewrite-trailing-slash-never/astro.config.mjs
Labels: pkg: astro, semver: minor, docs pr

#11581 Support --force flag in sync and dev
  packages/astro/src/@types/astro.ts
  packages/astro/src/cli/build/index.ts
  packages/astro/src/cli/dev/index.ts
  packages/astro/src/cli/flags.ts
  packages/astro/src/cli/sync/index.ts
  packages/astro/src/core/build/index.ts
  packages/astro/src/core/dev/container.ts
  packages/astro/src/core/sync/index.ts
  packages/astro/test/content-layer.test.js
Labels: pkg: astro, docs pr

#11580 Update errors-data.ts for Astro.rewrite release in 4.13
  packages/astro/src/core/errors/errors-data.ts
Labels: pkg: astro, docs pr
