Repository withastro/astro, pull requests merged in 2024-03, with the labels that each got.

#10285 fix(node): Safely create requests
  .changeset/perfect-poets-teach.md
  packages/integrations/node/src/serve-app.ts
Labels: pkg: integration

#10287 fix(assets): Solidify Node endpoint (#10284)
  .changeset/soft-boxes-allow.md
  packages/astro/src/assets/endpoint/node.ts
  packages/astro/src/assets/vite-plugin-assets.ts
  packages/astro/test/core-image.test.js
Labels: pkg: astro, docs pr

#10278 fix(markdoc & mdx): Proxy crimes
  .changeset/giant-spies-type.md
  packages/astro/package.json
  packages/astro/src/assets/build/generate.ts
  packages/astro/src/assets/utils/proxy.ts
  packages/astro/src/core/logger/core.ts
  packages/astro/test/fixtures/core-image-deletion/astro.config.mjs
  packages/astro/test/fixtures/core-image-deletion/package.json
  packages/astro/test/fixtures/core-image-deletion/src/assets/markdocStillExists.jpg
  packages/astro/test/fixtures/core-image-deletion/src/assets/mdxDontExist.jpg
  packages/astro/test/fixtures/core-image-deletion/src/content/blog/markdoc.mdoc
  packages/astro/test/fixtures/core-image-deletion/src/content/blog/mdx.mdx
  packages/astro/test/fixtures/core-image-deletion/src/content/config.ts
  packages/astro/test/fixtures/core-image-deletion/src/pages/blog/[slug].astro
  packages/astro/test/image-deletion.test.js
  packages/integrations/markdoc/src/content-entry-type.ts
  pnpm-lock.yaml
Labels: pkg: integration, pkg: astro

#10280 finalize WIP API
  .changeset/rich-turtles-live.md
  packages/astro/src/core/config/schema.ts
  packages/db/config-augment.d.ts
  packages/db/index.d.ts
  packages/db/package.json
  packages/db/src/core/cli/commands/execute/index.ts
  packages/db/src/core/cli/commands/gen/index.ts
  packages/db/src/core/cli/commands/link/index.ts
  packages/db/src/core/cli/commands/login/index.ts
  packages/db/src/core/cli/commands/logout/index.ts
  packages/db/src/core/cli/commands/push/index.ts
  packages/db/src/core/cli/commands/shell/index.ts
  packages/db/src/core/cli/commands/verify/index.ts
  packages/db/src/core/cli/index.ts
  packages/db/src/core/cli/migration-queries.ts
  packages/db/src/core/cli/migrations.ts
  packages/db/src/core/consts.ts
  packages/db/src/core/errors.ts
  packages/db/src/core/integration/index.ts
  packages/db/src/core/integration/typegen.ts
  packages/db/src/core/integration/vite-plugin-db.ts
  packages/db/src/core/load-file.ts
  packages/db/src/core/queries.ts
  packages/db/src/core/types.ts
  packages/db/src/core/utils.ts
  packages/db/src/index.ts
  packages/db/src/runtime/config.ts
  packages/db/src/runtime/db-client.ts
  packages/db/src/runtime/index.ts
  packages/db/src/runtime/queries.ts
  packages/db/src/runtime/types.ts
  packages/db/src/utils.ts
  packages/db/test/basics.test.js
  packages/db/test/fixtures/basics/astro.config.mjs
  packages/db/test/fixtures/basics/astro.config.ts
  packages/db/test/fixtures/basics/db/config.ts
  packages/db/test/fixtures/basics/db/seed.ts
  packages/db/test/fixtures/basics/db/theme.ts
  packages/db/test/fixtures/basics/package.json
  packages/db/test/fixtures/basics/src/pages/index.astro
  packages/db/test/fixtures/basics/src/pages/insert-into-readonly.astro
  packages/db/test/fixtures/basics/src/pages/insert-into-writable.astro
  packages/db/test/fixtures/basics/themes-integration.ts
  packages/db/test/fixtures/glob/astro.config.ts
  packages/db/test/fixtures/glob/package.json
  packages/db/test/fixtures/glob/quotes/erika.json
  packages/db/test/fixtures/glob/quotes/tony.json
  packages/db/test/fixtures/glob/src/pages/index.astro
  packages/db/test/fixtures/glob/utils.ts
  packages/db/test/fixtures/recipes/astro.config.ts
  packages/db/test/fixtures/recipes/db/config.ts
  packages/db/test/fixtures/recipes/db/seed.ts
  packages/db/test/fixtures/ticketing-example/astro.config.ts
  packages/db/test/fixtures/ticketing-example/db/config.ts
  packages/db/test/fixtures/ticketing-example/db/seed.ts
  packages/db/test/unit/column-queries.test.js
  packages/db/test/unit/index-queries.test.js
  packages/db/test/unit/reference-queries.test.js
Labels: pkg: astro

#10304 chore(vercel): update @vercel/nft
  .changeset/slimy-berries-mate.md
  packages/integrations/vercel/package.json
  pnpm-lock.yaml
Labels: pkg: integration

#10235 fix(#8625): smooth scrolling in SPA mode on iOS
  .changeset/purple-tips-camp.md
  packages/astro/src/transitions/router.ts
Labels: pkg: astro

#10279 fix(build): skip only the configured redirects
  .changeset/fifty-buttons-clean.md
  packages/astro/src/core/build/generate.ts
  packages/astro/test/redirects.test.js
Labels: pkg: astro

#10281 fix(i18n): prevent overwriting 404.astro
  .changeset/curvy-trees-compare.md
  packages/astro/src/core/app/index.ts
  packages/astro/src/core/render-context.ts
  packages/astro/src/i18n/middleware.ts
  packages/astro/src/vite-plugin-astro-server/route.ts
  packages/astro/test/fixtures/i18n-routing-prefix-always/src/pages/404.astro
  packages/astro/test/i18n-routing.test.js
  packages/astro/test/units/routing/endpoints.test.js
Labels: pkg: astro

#10302 fix(astro): static entrypoints build with path with several '.astro'
  .changeset/stale-ducks-protect.md
  packages/astro/src/core/build/pipeline.ts
  packages/astro/src/core/build/plugins/plugin-pages.ts
  packages/astro/src/core/build/plugins/util.ts
  packages/astro/test/ssr-dynamic.test.js
Labels: pkg: astro

#10324 chore: delete `core/endpoint/index.ts`
  packages/astro/src/core/endpoint/index.ts
Labels: pkg: astro

#10322 fix broken link in code examples
  examples/framework-alpine/src/components/Counter.astro
  examples/framework-alpine/src/pages/index.astro
  examples/framework-lit/src/pages/index.astro
  examples/framework-multiple/src/pages/index.astro
  examples/framework-preact/src/pages/index.astro
  examples/framework-react/src/pages/index.astro
  examples/framework-solid/src/pages/index.astro
  examples/framework-svelte/src/pages/index.astro
  examples/framework-vue/src/pages/index.astro
  examples/portfolio/src/pages/index.astro
  examples/with-tailwindcss/src/pages/index.astro
  packages/astro/e2e/fixtures/client-only/src/pages/index.astro
  packages/astro/e2e/fixtures/multiple-frameworks/src/pages/index.astro
  packages/astro/e2e/fixtures/nested-in-preact/src/pages/index.astro
  packages/astro/e2e/fixtures/nested-in-react/src/pages/index.astro
  packages/astro/e2e/fixtures/nested-in-solid/src/pages/index.astro
  packages/astro/e2e/fixtures/nested-in-svelte/src/pages/index.astro
  packages/astro/e2e/fixtures/nested-in-vue/src/pages/index.astro
  packages/astro/test/fixtures/hydration-race/src/pages/slot.astro
Labels: pkg: example, pkg: astro

#10329 Update turbo test dependsOn
  package.json
  packages/integrations/mdx/package.json
  pnpm-lock.yaml
  turbo.json
Labels: pkg: integration

#10305 chore(vercel): update @vercel/nft
  .changeset/slimy-berries-mate.md
  packages/integrations/vercel/package.json
  pnpm-lock.yaml
Labels: pkg: integration

#10293 fix: fixed an error in the vue component editor
  packages/integrations/vue/src/editor.cts
  packages/integrations/vue/test/toTsx.test.js
Labels: pkg: vue, pkg: integration

#10316 fix(rendering): allow render instructions to propagate while rendering slots
  .changeset/sharp-scissors-think.md
  packages/astro/e2e/fixtures/nested-in-react/src/pages/nested-in-only.astro
  packages/astro/e2e/nested-in-react.test.js
  packages/astro/src/runtime/server/render/slot.ts
Labels: pkg: astro

#10323 [ci] set `--tag` on release
  .github/workflows/release.yml
Labels: 🚨 action

#10336 Revert bad release
  .changeset/sharp-scissors-think.md
  .changeset/slimy-berries-mate.md
  .changeset/two-coats-smoke.md
  .github/workflows/release.yml
  examples/basics/package.json
  examples/blog/package.json
  examples/component/package.json
  examples/framework-alpine/package.json
  examples/framework-lit/package.json
  examples/framework-multiple/package.json
  examples/framework-preact/package.json
  examples/framework-react/package.json
  examples/framework-solid/package.json
  examples/framework-svelte/package.json
  examples/framework-vue/package.json
  examples/hackernews/package.json
  examples/integration/package.json
  examples/middleware/package.json
  examples/minimal/package.json
  examples/non-html-pages/package.json
  examples/portfolio/package.json
  examples/ssr/package.json
  examples/starlog/package.json
  examples/view-transitions/package.json
  examples/with-markdoc/package.json
  examples/with-markdown-plugins/package.json
  examples/with-markdown-shiki/package.json
  examples/with-mdx/package.json
  examples/with-nanostores/package.json
  examples/with-tailwindcss/package.json
  examples/with-vitest/package.json
  packages/astro/CHANGELOG.md
  packages/astro/package.json
  packages/db/CHANGELOG.md
  packages/db/package.json
  packages/integrations/vercel/CHANGELOG.md
  packages/integrations/vercel/package.json
  pnpm-lock.yaml
Labels: pkg: example, 🚨 action, pkg: integration, pkg: astro

#10338 Fix cli package resolution for `@astrojs/db`
  packages/astro/src/cli/install-package.ts
Labels: pkg: astro

#10343 fix(toolbar): add anchor element to interactive elements
  .changeset/tough-moose-prove.md
  packages/astro/e2e/dev-toolbar-audits.test.js
  packages/astro/e2e/fixtures/dev-toolbar/src/pages/a11y-exceptions.astro
  packages/astro/src/runtime/client/dev-toolbar/apps/audit/a11y.ts
Labels: pkg: astro

#10356 Fix an issue where `getCollection` might return `undefined`
  .changeset/polite-bats-smile.md
  packages/astro/src/content/runtime.ts
  packages/astro/test/content-collections.test.js
  packages/astro/test/fixtures/content-collections-empty-dir/src/pages/index.astro
Labels: pkg: astro

#10295 fix: client prerender fallback
  .changeset/warm-spoons-fetch.md
  packages/astro/src/@types/astro.ts
  packages/astro/src/prefetch/index.ts
Labels: pkg: astro, docs pr

#10325 fix(Astro global): parity with `ctx.site`
  .changeset/sour-apples-try.md
  packages/astro/src/@types/astro.ts
  packages/astro/src/core/base-pipeline.ts
  packages/astro/src/core/build/generate.ts
  packages/astro/src/core/compile/compile.ts
  packages/astro/src/core/errors/errors-data.ts
  packages/astro/src/core/middleware/index.ts
  packages/astro/src/core/render-context.ts
  packages/astro/src/core/render/index.ts
  packages/astro/src/core/render/result.ts
  packages/astro/src/i18n/utils.ts
  packages/astro/src/runtime/server/astro-global.ts
  packages/astro/src/vite-plugin-astro-server/plugin.ts
  packages/astro/test/astro-global.test.js
  packages/astro/test/ssr-api-route.test.js
  packages/astro/test/units/test-utils.js
Labels: pkg: astro, docs pr

#10355 fix(routing): regression on partial dynamic routes
  .changeset/eight-spoons-nail.md
  packages/astro/src/core/routing/manifest/create.ts
  packages/astro/test/units/routing/manifest.test.js
Labels: pkg: astro

#10317 fix(rendering): prevent removal of necessary `<astro-slot>` elements
  .changeset/thick-geckos-design.md
  packages/astro/e2e/fixtures/svelte-component/src/components/Poly.astro
  packages/astro/e2e/fixtures/svelte-component/src/components/Stuff.svelte
  packages/astro/e2e/fixtures/svelte-component/src/pages/with-slots.astro
  packages/astro/e2e/svelte-component.test.js
  packages/astro/src/runtime/server/render/component.ts
  packages/astro/test/astro-slot-with-client.test.js
Labels: pkg: astro

#10255 `create-astro`: Add fallback values when registry fails to fetch package version
  .changeset/empty-bees-help.md
  packages/create-astro/src/actions/context.ts
  packages/create-astro/src/actions/typescript.ts
  packages/create-astro/src/messages.ts
  packages/create-astro/test/fixtures/not-empty/package.json
  packages/create-astro/test/fixtures/not-empty/tsconfig.json
  packages/create-astro/test/typescript.test.js
  packages/create-astro/test/utils.js
  scripts/cmd/build.js
Labels: pkg: create-astro

#10363 Revert release merge
  .changeset/bright-students-worry.md
  .changeset/chilly-cherries-appear.md
  .changeset/empty-bees-help.md
  .changeset/fluffy-bobcats-arrive.md
  .changeset/healthy-taxis-applaud.md
  .changeset/purple-poets-sin.md
  .changeset/thick-geckos-design.md
  .changeset/weak-weeks-pump.md
  examples/basics/package.json
  examples/blog/package.json
  examples/component/package.json
  examples/framework-alpine/package.json
  examples/framework-lit/package.json
  examples/framework-multiple/package.json
  examples/framework-preact/package.json
  examples/framework-react/package.json
  examples/framework-solid/package.json
  examples/framework-svelte/package.json
  examples/framework-vue/package.json
  examples/hackernews/package.json
  examples/integration/package.json
  examples/middleware/package.json
  examples/minimal/package.json
  examples/non-html-pages/package.json
  examples/portfolio/package.json
  examples/ssr/package.json
  examples/starlog/package.json
  examples/view-transitions/package.json
  examples/with-markdoc/package.json
  examples/with-markdown-plugins/package.json
  examples/with-markdown-shiki/package.json
  examples/with-mdx/package.json
  examples/with-nanostores/package.json
  examples/with-tailwindcss/package.json
  examples/with-vitest/package.json
  packages/astro/CHANGELOG.md
  packages/astro/package.json
  packages/create-astro/CHANGELOG.md
  packages/create-astro/package.json
  packages/db/CHANGELOG.md
  packages/db/package.json
  pnpm-lock.yaml
Labels: pkg: example, pkg: create-astro, pkg: astro

#10364 Rename `defineDB` to `defineDb`
  .changeset/wet-kiwis-laugh.md
  packages/astro/src/cli/add/index.ts
  packages/db/src/runtime/config.ts
  packages/db/test/fixtures/basics/db/config.ts
  packages/db/test/fixtures/integrations/db/config.ts
  packages/db/test/fixtures/integrations/integration/config.ts
  packages/db/test/fixtures/recipes/db/config.ts
  packages/db/test/fixtures/ticketing-example/db/config.ts
  packages/db/virtual.d.ts
Labels: pkg: astro

#10360 fix(config): prevent vite from loading config
  .changeset/khaki-emus-wait.md
  packages/astro/src/core/config/vite-load.ts
Labels: pkg: astro

#10366 Fix check-merge workflow on PRs from forks
  .github/workflows/check-merge.yml
Labels: 🚨 action

#10186 feat(toolbar): Allow every element to have every color
  .changeset/khaki-elephants-hang.md
  packages/astro/src/runtime/client/dev-toolbar/settings.ts
  packages/astro/src/runtime/client/dev-toolbar/ui-library/badge.ts
  packages/astro/src/runtime/client/dev-toolbar/ui-library/button.ts
  packages/astro/src/runtime/client/dev-toolbar/ui-library/card.ts
  packages/astro/src/runtime/client/dev-toolbar/ui-library/highlight.ts
  packages/astro/src/runtime/client/dev-toolbar/ui-library/toggle.ts
Labels: pkg: astro, semver: minor

#10130 Move to shiki and stabilize dual themes support
  .changeset/curvy-hats-shave.md
  .changeset/thin-chicken-greet.md
  examples/with-mdx/src/pages/index.mdx
  packages/astro/components/Code.astro
  packages/astro/package.json
  packages/astro/src/@types/astro.ts
  packages/astro/src/core/config/schema.ts
  packages/astro/src/core/errors/dev/vite.ts
  packages/markdown/remark/package.json
  packages/markdown/remark/src/index.ts
  packages/markdown/remark/src/shiki.ts
  packages/markdown/remark/src/types.ts
  packages/markdown/remark/test/shiki.test.js
  pnpm-lock.yaml
Labels: feat: markdown, pkg: example, pkg: astro, semver: minor, docs pr

#10104 fix(markdown): don’t generate mdast html nodes
  .changeset/thirty-beds-smoke.md
  packages/integrations/mdx/src/plugins.ts
  packages/markdown/remark/package.json
  packages/markdown/remark/src/highlight.ts
  packages/markdown/remark/src/index.ts
  packages/markdown/remark/src/rehype-prism.ts
  packages/markdown/remark/src/rehype-shiki.ts
  packages/markdown/remark/src/remark-prism.ts
  packages/markdown/remark/src/remark-shiki.ts
  pnpm-lock.yaml
Labels: feat: markdown, pkg: integration, semver: minor

#10252 Add new levels of notification for dev toolbar apps
  .changeset/hungry-needles-cough.md
  packages/astro/e2e/dev-toolbar.test.js
  packages/astro/e2e/fixtures/dev-toolbar/custom-plugin.js
  packages/astro/src/runtime/client/dev-toolbar/entrypoint.ts
  packages/astro/src/runtime/client/dev-toolbar/toolbar.ts
Labels: pkg: astro, semver: minor

#10136 Allow islands to be re-rendered with new props on page transition
  .changeset/lovely-nails-cough.md
  packages/astro/e2e/fixtures/view-transitions/src/components/Island.jsx
  packages/astro/e2e/fixtures/view-transitions/src/pages/island-one.astro
  packages/astro/e2e/fixtures/view-transitions/src/pages/island-two.astro
  packages/astro/e2e/view-transitions.test.js
  packages/astro/package.json
  packages/astro/src/runtime/server/hydration.ts
  packages/astro/src/transitions/router.ts
  packages/integrations/react/client.js
  pnpm-lock.yaml
Labels: pkg: react, pkg: integration, pkg: astro, semver: minor

#10145 feat: experimental content collection JSON schemas
  .changeset/slow-items-heal.md
  packages/astro/package.json
  packages/astro/src/@types/astro.ts
  packages/astro/src/content/types-generator.ts
  packages/astro/src/core/config/schema.ts
  packages/astro/test/data-collections-schema.test.js
  packages/astro/test/fixtures/data-collections-schema/astro.config.mjs
  packages/astro/test/fixtures/data-collections-schema/package.json
  packages/astro/test/fixtures/data-collections-schema/src/content/authors-without-config/Ben Holmes.yml
  packages/astro/test/fixtures/data-collections-schema/src/content/authors-without-config/Fred K Schott.yml
  packages/astro/test/fixtures/data-collections-schema/src/content/authors-without-config/Nate Moore.yml
  packages/astro/test/fixtures/data-collections-schema/src/content/config.ts
  packages/astro/test/fixtures/data-collections-schema/src/content/docs/example.md
  packages/astro/test/fixtures/data-collections-schema/src/content/i18n/en.json
  packages/astro/test/fixtures/data-collections-schema/src/content/i18n/es.json
  packages/astro/test/fixtures/data-collections-schema/src/content/i18n/fr.yaml
  packages/astro/test/fixtures/data-collections-schema/src/pages/authors/[id].json.js
  packages/astro/test/fixtures/data-collections-schema/src/pages/authors/all.json.js
  packages/astro/test/fixtures/data-collections-schema/src/pages/translations/[lang].json.js
  packages/astro/test/fixtures/data-collections-schema/src/pages/translations/all.json.js
  packages/astro/test/fixtures/data-collections-schema/src/pages/translations/by-id.json.js
  pnpm-lock.yaml
Labels: pkg: astro, semver: minor, docs pr

#10268 feat(audits): Handle mutations
  .changeset/two-ads-bathe.md
  packages/astro/e2e/dev-toolbar-audits.test.js
  packages/astro/e2e/dev-toolbar.test.js
  packages/astro/e2e/fixtures/dev-toolbar/src/pages/audits-mutations-2.astro
  packages/astro/e2e/fixtures/dev-toolbar/src/pages/audits-mutations.astro
  packages/astro/src/runtime/client/dev-toolbar/apps/audit/index.ts
Labels: pkg: astro, semver: minor

#10217 feat(audits): Add new UI
  .changeset/witty-wombats-attend.md
  packages/astro/e2e/dev-toolbar.test.js
  packages/astro/package.json
  packages/astro/src/runtime/client/dev-toolbar/apps/audit/index.ts
  packages/astro/src/runtime/client/dev-toolbar/apps/audit/rules/a11y.ts
  packages/astro/src/runtime/client/dev-toolbar/apps/audit/rules/index.ts
  packages/astro/src/runtime/client/dev-toolbar/apps/audit/rules/perf.ts
  packages/astro/src/runtime/client/dev-toolbar/apps/audit/ui/audit-list-item.ts
  packages/astro/src/runtime/client/dev-toolbar/apps/audit/ui/audit-list-window.ts
  packages/astro/src/runtime/client/dev-toolbar/apps/audit/ui/audit-ui.ts
  packages/astro/src/runtime/client/dev-toolbar/apps/utils/window.ts
  packages/astro/src/runtime/client/dev-toolbar/toolbar.ts
  packages/astro/src/runtime/client/dev-toolbar/ui-library/icons.ts
  pnpm-lock.yaml
Labels: pkg: astro, semver: minor

#10370 Fix mdx test fail with rehype-pretty-code
  packages/integrations/mdx/package.json
  pnpm-lock.yaml
Labels: pkg: integration

#9960 Allow Code Component to have custom props and extra class styles
  .changeset/calm-bags-deliver.md
  packages/astro/components/Code.astro
  packages/markdown/remark/src/shiki.ts
Labels: feat: markdown, pkg: astro, semver: minor

#10102 Add `experimental.directRenderScript` option
  .changeset/cool-jobs-fetch.md
  packages/astro/package.json
  packages/astro/src/@types/astro.ts
  packages/astro/src/content/vite-plugin-content-assets.ts
  packages/astro/src/core/app/common.ts
  packages/astro/src/core/app/types.ts
  packages/astro/src/core/base-pipeline.ts
  packages/astro/src/core/build/generate.ts
  packages/astro/src/core/build/internal.ts
  packages/astro/src/core/build/plugins/index.ts
  packages/astro/src/core/build/plugins/plugin-analyzer.ts
  packages/astro/src/core/build/plugins/plugin-manifest.ts
  packages/astro/src/core/build/plugins/plugin-scripts.ts
  packages/astro/src/core/compile/compile.ts
  packages/astro/src/core/config/schema.ts
  packages/astro/src/core/render-context.ts
  packages/astro/src/runtime/compiler/index.ts
  packages/astro/src/runtime/server/index.ts
  packages/astro/src/runtime/server/render/index.ts
  packages/astro/src/runtime/server/render/script.ts
  packages/astro/src/vite-plugin-astro-server/pipeline.ts
  packages/astro/src/vite-plugin-astro-server/plugin.ts
  packages/astro/test/fixtures/hoisted-imports/astro.config.js
  packages/astro/test/fixtures/hoisted-imports/src/components/LargeScript.astro
  packages/astro/test/fixtures/hoisted-imports/src/components/index.ts
  packages/astro/test/fixtures/hoisted-imports/src/pages/dedupe.astro
  packages/astro/test/fixtures/hoisted-imports/src/pages/no-inline.astro
  packages/astro/test/hoisted-imports.test.js
  packages/astro/test/units/test-utils.js
  pnpm-lock.yaml
Labels: pkg: astro, semver: minor, docs pr

#10189 Add multiple cdn v2
  .changeset/fluffy-readers-add.md
  packages/astro/src/@types/astro.ts
  packages/astro/src/assets/utils/getAssetsPrefix.ts
  packages/astro/src/assets/vite-plugin-assets.ts
  packages/astro/src/content/vite-plugin-content-assets.ts
  packages/astro/src/core/app/types.ts
  packages/astro/src/core/build/plugins/plugin-manifest.ts
  packages/astro/src/core/config/schema.ts
  packages/astro/src/core/create-vite.ts
  packages/astro/src/core/render/ssr-element.ts
  packages/astro/test/astro-assets-prefix-multi-cdn.test.js
  packages/astro/test/fixtures/astro-assets-prefix/src/pages/index.astro
  packages/internal-helpers/src/path.ts
Labels: pkg: astro, semver: minor, docs pr

#10368 fix(tsconfigs): Add `jsx: 'preserve'` to the base template
  .changeset/slimy-avocados-sniff.md
  packages/astro/tsconfigs/base.json
Labels: pkg: astro

#10372 [docs] update JSDoc for formatting in docs
  packages/astro/src/@types/astro.ts
Labels: pkg: astro, docs pr

#10291 Treeshake unused Astro scoped styles
  .changeset/nine-trains-drop.md
  packages/astro/src/core/build/plugins/plugin-css.ts
  packages/astro/src/core/compile/compile.ts
  packages/astro/src/core/compile/style.ts
  packages/astro/src/core/compile/types.ts
  packages/astro/src/vite-plugin-astro/index.ts
  packages/astro/src/vite-plugin-astro/types.ts
  packages/astro/test/0-css.test.js
  packages/astro/test/fixtures/0-css/src/pages/barrel-styles/_components/A.astro
  packages/astro/test/fixtures/0-css/src/pages/barrel-styles/_components/B.astro
  packages/astro/test/fixtures/0-css/src/pages/barrel-styles/_components/C.astro
  packages/astro/test/fixtures/0-css/src/pages/barrel-styles/_components/index.js
  packages/astro/test/fixtures/0-css/src/pages/barrel-styles/index.astro
  packages/astro/test/fixtures/css-order-dynamic-import/src/components/Three.astro
  packages/astro/test/fixtures/css-order-dynamic-import/src/components/Three.js
  packages/astro/test/fixtures/css-order-dynamic-import/src/pages/one.astro
  packages/astro/test/fixtures/css-order-dynamic-import/src/styles/Three.css
Labels: pkg: astro

#10206 feat: middleware and virtual routes
  .changeset/brown-pets-clean.md
  packages/astro/src/core/app/index.ts
  packages/astro/src/core/constants.ts
  packages/astro/src/core/render/params-and-props.ts
  packages/astro/src/core/routing/astro-designed-error-pages.ts
  packages/astro/src/runtime/server/render/astro/factory.ts
  packages/astro/src/runtime/server/render/astro/instance.ts
  packages/astro/src/vite-plugin-astro-server/pipeline.ts
  packages/astro/src/vite-plugin-astro-server/plugin.ts
  packages/astro/src/vite-plugin-astro-server/response.ts
  packages/astro/src/vite-plugin-astro-server/route.ts
  packages/astro/test/astro-dev-headers.test.js
  packages/astro/test/fixtures/virtual-routes/astro.config.js
  packages/astro/test/fixtures/virtual-routes/package.json
  packages/astro/test/fixtures/virtual-routes/src/middleware.js
  packages/astro/test/units/routing/trailing-slash.test.js
  packages/astro/test/virtual-routes.test.js
  pnpm-lock.yaml
Labels: pkg: astro, semver: minor

#10392 Fixes broken transition types
  .changeset/late-penguins-change.md
  packages/astro/client.d.ts
Labels: pkg: astro

#10390 New CLI help reference for studio and db commands
  .changeset/thirty-bags-live.md
  packages/astro/src/cli/index.ts
  packages/db/src/core/cli/index.ts
  packages/db/src/core/cli/print-help.ts
Labels: pkg: astro

#10400 Fix an issue where dev toolbar x-ray didn't escape props content
  .changeset/gentle-gorillas-sit.md
  packages/astro/e2e/dev-toolbar.test.js
  packages/astro/e2e/fixtures/dev-toolbar/src/pages/xray-props-escape.astro
  packages/astro/src/runtime/client/dev-toolbar/apps/xray.ts
Labels: pkg: astro

#10410 fix(redirects): escape `Location` header
  .changeset/khaki-bears-enjoy.md
  packages/astro/src/core/redirects/render.ts
  packages/astro/test/redirects.test.js
Labels: pkg: astro

#10415 Fix check example CI fail
  .github/workflows/check.yml
  examples/framework-multiple/package.json
  examples/framework-multiple/src/components/preact/PreactCounter.tsx
  examples/framework-multiple/src/components/react/ReactCounter.tsx
  examples/framework-multiple/src/components/solid/SolidCounter.tsx
  examples/framework-preact/src/components/Counter.tsx
  examples/framework-preact/src/components/Message.tsx
  examples/framework-solid/src/components/Counter.tsx
  examples/with-nanostores/src/cartStore.ts
  examples/with-nanostores/tsconfig.json
  package.json
  packages/astro/package.json
  pnpm-lock.yaml
Labels: pkg: example, 🚨 action, pkg: astro

#10414 Update VSCode Guidance for JSON Schemas
  packages/astro/src/@types/astro.ts
Labels: pkg: astro, docs pr

#9820 prevent URLs in attributes being escaped
  .changeset/quick-islands-ring.md
  packages/astro/src/runtime/server/render/util.ts
  packages/astro/test/astro-attrs.test.js
  packages/astro/test/fixtures/astro-attrs/src/pages/index.astro
Labels: pkg: astro

#10427 fix(app): provide adapter locals to error pages
  .changeset/thin-deers-sin.md
  packages/astro/src/core/app/index.ts
  packages/astro/test/fixtures/ssr-locals/src/pages/404.astro
  packages/astro/test/fixtures/ssr-locals/src/pages/500.astro
  packages/astro/test/fixtures/ssr-locals/src/pages/go-to-error-page.astro
  packages/astro/test/ssr-locals.test.js
Labels: pkg: astro

#10419 fix(vue): Add default options to not transform assets
  .changeset/bright-needles-teach.md
  packages/integrations/vue/package.json
  packages/integrations/vue/src/index.ts
  packages/integrations/vue/test/basics.test.js
  packages/integrations/vue/test/fixtures/basics/public/light_walrus.avif
  packages/integrations/vue/test/fixtures/basics/src/components/Image.vue
  packages/integrations/vue/test/fixtures/basics/src/pages/public.astro
  pnpm-lock.yaml
Labels: pkg: vue, pkg: integration

#10434 Fix a test case which might fail when run locally using IPv4
  packages/astro/test/ssr-api-route.test.js
Labels: pkg: astro

#10379 fix(routing): partially dynamic segments are being truncated
  .changeset/five-colts-rescue.md
  packages/astro/src/core/routing/manifest/create.ts
  packages/astro/test/units/routing/manifest.test.js
Labels: pkg: astro

#10442 fix(toolbar): Fixes small misc issues
  .changeset/old-readers-notice.md
  packages/astro/e2e/dev-toolbar-audits.test.js
  packages/astro/src/core/errors/dev/utils.ts
  packages/astro/src/runtime/client/dev-toolbar/apps/audit/index.ts
  packages/astro/src/runtime/client/dev-toolbar/apps/audit/ui/audit-list-item.ts
  packages/astro/src/runtime/client/dev-toolbar/apps/audit/ui/audit-ui.ts
Labels: pkg: astro

#10438 feat(db): Run db type generation on `astro sync`
  .changeset/popular-radios-grow.md
  packages/astro/src/cli/install-package.ts
  packages/astro/src/core/build/index.ts
  packages/astro/src/core/sync/index.ts
  packages/db/src/core/integration/index.ts
  packages/db/src/core/integration/typegen.ts
  packages/db/src/core/load-file.ts
  packages/db/src/index.ts
Labels: pkg: astro

#10456 Fixes an TypeError when using astro:transitions/client without <ViewTransitions>
  .changeset/thirty-dancers-wink.md
  packages/astro/src/transitions/router.ts
Labels: pkg: astro

#10426 Fix issue with JSON schema generation when schema is a function
  .changeset/itchy-buttons-wait.md
  packages/astro/src/content/types-generator.ts
  packages/astro/test/data-collections-schema.test.js
  packages/astro/test/fixtures/data-collections-schema/src/assets/hero.jpg
  packages/astro/test/fixtures/data-collections-schema/src/content/config.ts
  packages/astro/test/fixtures/data-collections-schema/src/content/func/en.json
  packages/astro/test/fixtures/data-collections-schema/src/content/func/es.json
  packages/astro/test/fixtures/data-collections-schema/src/content/func/fr.yaml
  packages/astro/test/fixtures/data-collections-schema/src/content/image/en.json
  packages/astro/test/fixtures/data-collections-schema/src/content/image/es.json
  packages/astro/test/fixtures/data-collections-schema/src/content/image/fr.yaml
Labels: pkg: astro

#10448 fix(rendering): allow framework renders to be cancelled
  .changeset/slow-rabbits-care.md
  packages/astro/src/@types/astro.ts
  packages/astro/src/core/render-context.ts
  packages/astro/src/runtime/server/render/astro/render.ts
  packages/astro/src/runtime/server/render/component.ts
  packages/astro/test/fixtures/streaming/astro.config.mjs
  packages/astro/test/fixtures/streaming/package.json
  packages/astro/test/fixtures/streaming/src/components/react.tsx
  packages/astro/test/fixtures/streaming/src/pages/multiple-errors.astro
  packages/astro/test/streaming.test.js
  pnpm-lock.yaml
Labels: pkg: astro, docs pr

#10454 fix(node): handle offshoot promise rejections
  .changeset/sharp-flowers-ring.md
  packages/integrations/node/src/serve-app.ts
  packages/integrations/node/test/errors.test.js
  packages/integrations/node/test/fixtures/errors/src/pages/offshoot-promise-rejection.astro
Labels: pkg: integration

#10455 qol(endpoints): helpful error message when a response is not provided
  .changeset/cuddly-suits-hunt.md
  packages/astro/src/core/errors/errors-data.ts
  packages/astro/src/runtime/server/endpoint.ts
  packages/astro/test/units/runtime/endpoints.test.js
Labels: pkg: astro, docs pr

#10487 fix(packages/create-astro): wait for writeFile to complete in updateFiles
  .changeset/light-falcons-battle.md
  packages/create-astro/src/actions/template.ts
Labels: pkg: create-astro

#10493 fix: void elements
  .changeset/thick-games-thank.md
  packages/astro/src/runtime/server/render/util.ts
Labels: pkg: astro

#10491 fix: do not append trailing slash to subresource urls
  .changeset/tender-snails-accept.md
  packages/integrations/node/src/serve-static.ts
  packages/integrations/node/test/fixtures/trailing-slash/public/one.css
  packages/integrations/node/test/trailing-slash.test.js
Labels: pkg: integration

#10494 Pass meta to shiki transformers
  .changeset/stale-jeans-yawn.md
  packages/integrations/markdoc/src/extensions/shiki.ts
  packages/markdown/remark/src/highlight.ts
  packages/markdown/remark/src/shiki.ts
  packages/markdown/remark/test/shiki.test.js
Labels: feat: markdown, pkg: integration

#10504 chore: update Babel version
  .changeset/sharp-cobras-drive.md
  packages/astro/package.json
  pnpm-lock.yaml
Labels: pkg: astro

#10476 deprecation(vercel): vercel-edge-middleware.js file
  .changeset/itchy-oranges-relate.md
  packages/integrations/vercel/package.json
  packages/integrations/vercel/src/serverless/adapter.ts
  packages/integrations/vercel/src/serverless/middleware.ts
  packages/integrations/vercel/types.d.ts
  pnpm-lock.yaml
Labels: pkg: integration

#10473 Improve Astro JSX rendering
  .changeset/twelve-rules-collect.md
  packages/astro/src/runtime/server/jsx.ts
  packages/astro/src/runtime/server/render/component.ts
Labels: pkg: astro

#10526 chore: test with latest minor versions of node
  .github/workflows/ci.yml
Labels: 🚨 action

#10529 Avoid generators when crawling module graph
  packages/astro/src/content/vite-plugin-content-assets.ts
  packages/astro/src/core/build/css-asset-name.ts
  packages/astro/src/core/build/graph.ts
  packages/astro/src/core/build/plugins/plugin-analyzer.ts
  packages/astro/src/core/build/plugins/plugin-css.ts
  packages/astro/src/vite-plugin-head/index.ts
Labels: pkg: astro

#10528 Avoid generators in render head API
  packages/astro/src/runtime/server/render/component.ts
  packages/astro/src/runtime/server/render/head.ts
  packages/astro/test/streaming.test.js
Labels: pkg: astro

#10532 Fixes a style issue of `client:only` components in DEV mode during view transitions.
  .changeset/spotty-bats-nail.md
  packages/astro/src/transitions/router.ts
Labels: pkg: astro

#10540 fix: use Shiki's `isSpecialLang` to allow `ansi` codeblocks
  .changeset/eighty-pumpkins-float.md
  packages/markdown/remark/src/shiki.ts
Labels: feat: markdown

#10549 Fix: Type error on `<Image />` component when strict TypeScript rules are used with library type checking.
  .changeset/blue-dolls-melt.md
  packages/astro/types.d.ts
Labels: pkg: astro

#10550 fix: ensure outDir doesn't lead to bundlers bloating Lambda size
  .changeset/thin-impalas-cry.md
  packages/astro/src/assets/vite-plugin-assets.ts
  packages/integrations/vercel/test/serverless-prerender.test.js
Labels: pkg: integration, pkg: astro

#10561 fix(types): Fixes HTMLAttribute extend to allow everything
  .github/workflows/check.yml
  packages/astro/astro-jsx.d.ts
  packages/astro/types.d.ts
Labels: 🚨 action, pkg: astro

#10562 Patch for Astro VS Code Plugin type errors
  .changeset/breezy-peaches-agree.md
  packages/astro/components/Code.astro
  packages/astro/components/Picture.astro
  packages/astro/src/assets/internal.ts
  packages/astro/src/assets/utils/imageKind.ts
Labels: pkg: astro

#10583 qol(runtime): clarify message about unavailable headers
  packages/astro/src/core/request.ts
  packages/astro/test/static-build.test.js
Labels: pkg: astro

#10582 fix(dev): consider pages' route priority when matching request to a page
  .changeset/wise-ears-flash.md
  packages/astro/src/core/routing/astro-designed-error-pages.ts
  packages/astro/src/core/routing/manifest/create.ts
  packages/astro/src/core/routing/priority.ts
  packages/astro/src/prerender/routing.ts
  packages/astro/src/vite-plugin-astro-server/route.ts
  packages/astro/test/fixtures/custom-404-loop-case-5/astro.config.mjs
  packages/astro/test/fixtures/custom-404-loop-case-5/package.json
  packages/astro/test/fixtures/custom-404-loop-case-5/src/pages/[x].astro
  pnpm-lock.yaml
Labels: pkg: astro

#10567 fix(assets): Fixes assets generation when using custom paths and configs
  .changeset/few-avocados-notice.md
  packages/astro/e2e/dev-toolbar-audits.test.js
  packages/astro/src/assets/build/generate.ts
  packages/astro/src/assets/internal.ts
  packages/astro/src/assets/types.ts
  packages/astro/src/assets/utils/transformToPath.ts
  packages/astro/src/assets/vite-plugin-assets.ts
  packages/astro/test/core-image-unconventional-settings.test.js
  packages/astro/test/fixtures/core-image-unconventional-settings/package.json
  packages/astro/test/fixtures/core-image-unconventional-settings/src/assets/light_walrus.avif
  packages/astro/test/fixtures/core-image-unconventional-settings/src/pages/index.astro
  packages/astro/test/fixtures/core-image-unconventional-settings/tsconfig.json
  packages/astro/test/image-deletion.test.js
  packages/internal-helpers/src/path.ts
  pnpm-lock.yaml
Labels: pkg: astro

#10543 Fix inline stylesheets in content collection cache
  .changeset/tricky-cobras-mate.md
  packages/astro/src/content/index.ts
  packages/astro/src/content/utils.ts
  packages/astro/src/core/build/plugins/plugin-css.ts
  packages/astro/test/experimental-content-collections-css-inline-stylesheets.test.js
Labels: pkg: astro

#10513 feat: allow dynamic route segments in isr.exclude array
  .changeset/angry-lamps-cheer.md
  packages/integrations/vercel/src/lib/redirects.ts
  packages/integrations/vercel/test/fixtures/isr/astro.config.mjs
  packages/integrations/vercel/test/fixtures/isr/src/pages/excluded/[dynamic].astro
  packages/integrations/vercel/test/isr.test.js
Labels: pkg: integration

#10584 fix: dont error on nullish prop values in jsx runtime
  .changeset/forty-turkeys-tap.md
  packages/astro/src/runtime/server/jsx.ts
Labels: pkg: astro

#10605 reset history title after push/replace but prior to assignment to location
  .changeset/eighty-olives-destroy.md
  packages/astro/src/transitions/router.ts
Labels: pkg: astro

#10601 Remove the ssr external for vue
  .changeset/gold-lies-behave.md
  packages/integrations/vue/src/index.ts
Labels: pkg: vue, pkg: integration
