Repository withastro/astro, pull requests merged in 2024-08, with the labels that each got.

#11589 fix: changelog formatting
  packages/astro/CHANGELOG.md
Labels: pkg: astro

#11579 Separate render function and merge content layer types
  packages/astro/src/content/consts.ts
  packages/astro/src/content/data-store.ts
  packages/astro/src/content/runtime.ts
  packages/astro/src/content/sync.ts
  packages/astro/src/content/types-generator.ts
  packages/astro/src/content/utils.ts
  packages/astro/src/core/dev/dev.ts
  packages/astro/src/core/sync/index.ts
  packages/astro/templates/content/module.mjs
  packages/astro/templates/content/types.d.ts
  packages/astro/test/content-layer.test.js
  packages/astro/test/fixtures/content-layer/src/content/config.ts
  packages/astro/test/fixtures/content-layer/src/pages/spacecraft/[slug].astro
  packages/astro/types/content.d.ts
Labels: pkg: astro

#11584 Actions: Remove async local storage dependency
  .changeset/many-mayflies-enjoy.md
  packages/astro/e2e/fixtures/actions-blog/src/pages/blog/[...slug].astro
  packages/astro/src/@types/astro.ts
  packages/astro/src/actions/runtime/middleware.ts
  packages/astro/src/actions/runtime/route.ts
  packages/astro/src/actions/runtime/store.ts
  packages/astro/src/actions/runtime/utils.ts
  packages/astro/src/actions/runtime/virtual/client.ts
  packages/astro/src/actions/runtime/virtual/server.ts
  packages/astro/src/actions/utils.ts
  packages/astro/src/core/errors/errors-data.ts
  packages/astro/src/core/middleware/index.ts
  packages/astro/src/core/render-context.ts
  packages/astro/templates/actions.mjs
  packages/astro/test/fixtures/actions/src/pages/subscribe.astro
  packages/astro/test/types/call-action.ts
Labels: pkg: astro, docs pr

#11591 fix: clear content layer cache if config has changed
  packages/astro/src/content/data-store.ts
  packages/astro/src/content/sync.ts
  packages/astro/src/content/utils.ts
  packages/astro/src/content/vite-plugin-content-imports.ts
  packages/astro/src/core/build/index.ts
  packages/astro/src/core/dev/dev.ts
  packages/astro/src/core/sync/index.ts
  packages/astro/test/content-layer.test.js
  packages/astro/test/test-utils.js
Labels: pkg: astro

#11592 Remove unused code
  packages/astro/src/core/build/index.ts
  packages/astro/src/core/build/internal.ts
  packages/astro/src/core/build/page-data.ts
  packages/astro/src/core/build/plugins/plugin-analyzer.ts
  packages/astro/src/core/build/plugins/plugin-internals.ts
  packages/astro/src/core/build/plugins/plugin-ssr.ts
Labels: pkg: astro

#11598 Remove more unused code
  eslint.config.js
  package.json
  packages/astro/package.json
  packages/astro/src/cli/add/index.ts
  packages/astro/src/cli/install-package.ts
  packages/astro/src/content/utils.ts
  packages/astro/src/core/build/generate.ts
  packages/astro/src/core/build/internal.ts
  packages/astro/src/core/build/plugins/plugin-hoisted-scripts.ts
  packages/astro/src/core/build/plugins/plugin-manifest.ts
  packages/astro/src/core/build/types.ts
  packages/astro/src/core/compile/index.ts
  packages/astro/src/core/compile/types.ts
  packages/astro/src/core/dev/restart.ts
  packages/astro/src/core/errors/dev/vite.ts
  packages/astro/src/core/fs/index.ts
  packages/astro/src/core/logger/core.ts
  packages/astro/src/core/messages.ts
  packages/astro/src/core/render/ssr-element.ts
  packages/astro/src/core/util.ts
  packages/astro/src/preferences/index.ts
  packages/astro/src/runtime/client/dev-toolbar/apps/audit/rules/a11y.ts
  packages/astro/src/runtime/server/render/component.ts
  packages/astro/src/vite-plugin-astro-server/controller.ts
  packages/astro/test/astro-assets.test.js
  packages/astro/test/core-image.test.js
  packages/db/package.json
  packages/integrations/markdoc/package.json
  packages/integrations/mdx/package.json
  packages/integrations/vercel/package.json
  pnpm-lock.yaml
  scripts/package.json
Labels: pkg: integration, pkg: astro

#11596 chore: Remove unnecessary CSS in basic example
  examples/basics/src/layouts/Layout.astro
Labels: pkg: example

#11601 [error docs] adds section heading for Actions
  packages/astro/src/core/errors/errors-data.ts
Labels: pkg: astro, docs pr

#11600 fix(astro:content): add deprecated to `getEntryBySlug` & `getDataEntryById`
  .changeset/dull-taxis-warn.md
  packages/astro/templates/content/types.d.ts
Labels: pkg: astro

#11622 fix: skip glob files in content dir
  packages/astro/src/content/loaders/glob.ts
Labels: pkg: astro

#11617 fix: audit incorrectly flagging images as above the fold (#10891)
  .changeset/shy-bees-look.md
  packages/astro/src/runtime/client/dev-toolbar/apps/audit/rules/perf.ts
Labels: pkg: astro

#11587 sort newest to oldest
  examples/blog/src/content/blog/markdown-style-guide.md
  examples/blog/src/content/blog/using-mdx.mdx
  examples/blog/src/pages/blog/index.astro
  packages/astro/e2e/fixtures/actions-blog/src/pages/blog/index.astro
  packages/astro/e2e/fixtures/actions-react-19/src/pages/blog/index.astro
  packages/astro/test/fixtures/content-ssr-integration/src/content/blog/using-mdx.mdx
  packages/astro/test/fixtures/content-static-paths-integration/src/content/blog/using-mdx.mdx
Labels: pkg: example, pkg: astro

#11593 Actions: Add `devalue` for serializing complex values
  .changeset/happy-zebras-clean.md
  packages/astro/src/actions/runtime/middleware.ts
  packages/astro/src/actions/runtime/route.ts
  packages/astro/src/actions/runtime/utils.ts
  packages/astro/src/actions/runtime/virtual/get-action.ts
  packages/astro/src/actions/runtime/virtual/shared.ts
  packages/astro/src/actions/utils.ts
  packages/astro/src/core/middleware/index.ts
  packages/astro/src/core/render-context.ts
  packages/astro/templates/actions.mjs
  packages/astro/test/actions.test.js
  packages/astro/test/fixtures/actions/src/actions/index.ts
Labels: pkg: astro

#11625 Refactor content layer into shared instance
  packages/astro/src/content/loaders/glob.ts
  packages/astro/src/content/sync.ts
  packages/astro/src/core/dev/dev.ts
  packages/astro/src/core/sync/index.ts
  packages/astro/test/test-utils.js
Labels: pkg: astro

#10742 fix(cli): hardcoded supported Node.js version
  .changeset/chatty-teachers-sit.md
  packages/astro/astro.js
Labels: pkg: astro, semver: major

#11631 fix: support filters in content layer `getCollection`
  packages/astro/src/content/runtime.ts
  packages/astro/test/content-layer.test.js
  packages/astro/test/fixtures/content-layer/src/loaders/post-loader.ts
  packages/astro/test/fixtures/content-layer/src/pages/collections.json.js
  packages/astro/test/fixtures/content-layer/src/utils.js
Labels: pkg: astro

#11636 Remove `#astro/*` subpath imports
  packages/astro/package.json
  packages/astro/test/units/i18n/astro_i18n.test.js
Labels: pkg: astro

#11635 Improve regex performance
  eslint.config.js
  packages/astro/e2e/errors.test.js
  packages/astro/src/actions/runtime/middleware.ts
  packages/astro/src/assets/utils/vendor/image-size/types/svg.ts
  packages/astro/src/core/app/index.ts
  packages/astro/src/core/build/generate.ts
  packages/astro/src/core/errors/dev/vite.ts
  packages/astro/src/events/error.ts
  packages/astro/src/runtime/client/dev-toolbar/ui-library/radio-checkbox.ts
  packages/astro/src/transitions/router.ts
  packages/astro/test/css-order-import.test.js
  packages/astro/test/css-order.test.js
  packages/astro/test/solid-component.test.js
  packages/astro/test/ssr-api-route.test.js
  packages/create-astro/src/actions/verify.ts
  packages/db/test/unit/column-queries.test.js
  packages/db/test/unit/reference-queries.test.js
  packages/integrations/markdoc/src/content-entry-type.ts
  packages/integrations/mdx/test/units/rehype-optimize-static.test.js
  packages/integrations/node/src/serve-static.ts
  packages/integrations/vue/src/editor.cts
  packages/markdown/remark/src/highlight.ts
  packages/markdown/remark/src/rehype-collect-headings.ts
Labels: feat: markdown, pkg: vue, pkg: integration, pkg: create-astro, pkg: astro

#11637 Throw when using deprecated `getEntryByX` functions with content layer
  packages/astro/src/content/runtime.ts
  packages/astro/src/core/errors/errors-data.ts
  packages/astro/test/fixtures/content-layer/src/pages/index.astro
Labels: pkg: astro, docs pr

#11643 Updates to content layer types and jsdocs
  packages/astro/src/content/data-store.ts
  packages/astro/src/content/loaders/types.ts
Labels: pkg: astro

#11626 Add hot key to reload content layer
  packages/astro/src/content/content-layer.ts
  packages/astro/src/core/dev/dev.ts
  packages/astro/src/core/dev/restart.ts
  packages/astro/src/core/sync/index.ts
  packages/astro/test/fixtures/content-layer/src/content/config.ts
  packages/astro/test/fixtures/content-layer/src/pages/index.astro
  packages/astro/test/test-utils.js
Labels: pkg: astro

#11628 Consistent file hashes
  .changeset/young-pillows-shave.md
  packages/astro/src/core/build/css-asset-name.ts
  packages/astro/src/core/build/plugins/plugin-css.ts
Labels: pkg: astro

#11633 feat: handle simple mdx rendering
  packages/astro/src/content/consts.ts
  packages/astro/src/content/content-layer.ts
  packages/astro/src/content/data-store.ts
  packages/astro/src/content/loaders/glob.ts
  packages/astro/src/content/runtime.ts
  packages/astro/src/content/utils.ts
  packages/astro/src/content/vite-plugin-content-virtual-mod.ts
  packages/astro/src/core/errors/errors-data.ts
  packages/astro/test/content-layer-render.test.js
  packages/astro/test/content-layer.test.js
  packages/astro/test/fixtures/content-layer-rendering/.gitignore
  packages/astro/test/fixtures/content-layer-rendering/astro.config.mjs
  packages/astro/test/fixtures/content-layer-rendering/content-outside-src-mdx/iguana.mdx
  packages/astro/test/fixtures/content-layer-rendering/content-outside-src-mdx/shuttle.jpg
  packages/astro/test/fixtures/content-layer-rendering/images/atlantis.avif
  packages/astro/test/fixtures/content-layer-rendering/images/launch.webp
  packages/astro/test/fixtures/content-layer-rendering/images/shuttle.jpg
  packages/astro/test/fixtures/content-layer-rendering/package.json
  packages/astro/test/fixtures/content-layer-rendering/src/components/H2.astro
  packages/astro/test/fixtures/content-layer-rendering/src/components/H3.astro
  packages/astro/test/fixtures/content-layer-rendering/src/components/LayoutProp.astro
  packages/astro/test/fixtures/content-layer-rendering/src/components/WithScripts.astro
  packages/astro/test/fixtures/content-layer-rendering/src/content/config.ts
  packages/astro/test/fixtures/content-layer-rendering/src/pages/reptiles/[slug].astro
  packages/astro/test/fixtures/content-layer/src/content/config.ts
  pnpm-lock.yaml
Labels: pkg: astro, docs pr

#11648 Actions: remove "action used with get" error
  .changeset/big-tables-pump.md
  packages/astro/src/actions/runtime/middleware.ts
  packages/astro/test/actions.test.js
Labels: pkg: astro

#11653 chore: improve astro:env docs
  .changeset/early-experts-retire.md
  packages/astro/src/@types/astro.ts
Labels: pkg: astro, docs pr

#11658 Actions: fix missing orThrow type when input is omitted
  .changeset/gold-seas-crash.md
  packages/astro/src/actions/runtime/virtual/server.ts
  packages/astro/test/types/action-return-type.ts
Labels: pkg: astro

#11646 Simplify eslint and pnpm config
  eslint.config.js
  package.json
  packages/integrations/mdx/package.json
  packages/integrations/vue/test/fixtures/app-entrypoint-async/package.json
  packages/integrations/vue/test/fixtures/app-entrypoint-no-export-default/package.json
  packages/integrations/vue/test/fixtures/app-entrypoint/package.json
  pnpm-lock.yaml
Labels: pkg: vue, pkg: integration

#11652 Add experimental content layer flag
  packages/astro/src/@types/astro.ts
  packages/astro/src/content/consts.ts
  packages/astro/src/content/content-layer.ts
  packages/astro/src/content/runtime.ts
  packages/astro/src/core/config/schema.ts
  packages/astro/src/core/dev/dev.ts
  packages/astro/src/core/dev/restart.ts
  packages/astro/test/content-layer.test.js
  packages/astro/test/fixtures/content-layer-rendering/astro.config.mjs
  packages/astro/test/fixtures/content-layer-rendering/src/content/config.ts
  packages/astro/test/fixtures/content-layer/astro.config.mjs
  packages/astro/test/fixtures/content-layer/src/content/config.ts
  packages/astro/test/test-utils.js
  packages/astro/types/content.d.ts
Labels: pkg: astro, docs pr

#11624 Prevent throwing in react and solid component checks
  .changeset/few-starfishes-change.md
  .changeset/spotty-lies-eat.md
  packages/astro/e2e/errors.test.js
  packages/integrations/preact/src/server.ts
  packages/integrations/react/server-v17.js
  packages/integrations/react/server.js
  packages/integrations/solid/src/server.ts
Labels: pkg: react, pkg: preact, pkg: solid, pkg: integration, pkg: astro

#11663 Normalize content layer render function return value
  packages/astro/src/@types/astro.ts
  packages/astro/src/content/runtime.ts
  packages/astro/templates/content/types.d.ts
  packages/astro/test/fixtures/content-layer-rendering/content-outside-src-mdx/iguana.mdx
  packages/astro/test/fixtures/content-layer/src/pages/spacecraft/[slug].astro
Labels: pkg: astro, docs pr

#11661 Update to new shiki token names
  .changeset/quick-ads-exercise.md
  packages/astro/test/astro-component-code.test.js
  packages/markdown/remark/src/shiki.ts
Labels: feat: markdown, pkg: astro

#11664 Add markdoc support to content layer
  packages/astro/package.json
  packages/astro/src/content/loaders/glob.ts
  packages/astro/test/content-layer-markdoc.test.js
  packages/astro/test/content-layer-render.test.js
  packages/astro/test/fixtures/content-layer-markdoc/astro.config.mjs
  packages/astro/test/fixtures/content-layer-markdoc/content/_nested.mdoc
  packages/astro/test/fixtures/content-layer-markdoc/content/blog/_counter.mdoc
  packages/astro/test/fixtures/content-layer-markdoc/content/blog/with-components.mdoc
  packages/astro/test/fixtures/content-layer-markdoc/markdoc.config.ts
  packages/astro/test/fixtures/content-layer-markdoc/package.json
  packages/astro/test/fixtures/content-layer-markdoc/src/components/Code.astro
  packages/astro/test/fixtures/content-layer-markdoc/src/components/Counter.tsx
  packages/astro/test/fixtures/content-layer-markdoc/src/components/CounterWrapper.astro
  packages/astro/test/fixtures/content-layer-markdoc/src/components/CustomMarquee.astro
  packages/astro/test/fixtures/content-layer-markdoc/src/components/DeeplyNested.astro
  packages/astro/test/fixtures/content-layer-markdoc/src/content/config.ts
  packages/astro/test/fixtures/content-layer-markdoc/src/pages/index.astro
  pnpm-lock.yaml
Labels: pkg: astro

#11665 Update astro.ts
  packages/astro/src/@types/astro.ts
Labels: pkg: astro, docs pr

#11678 fix: make semicolon optional when detecting `prerender` option
  .changeset/good-birds-clap.md
  packages/astro/src/vite-plugin-scanner/scan.ts
Labels: pkg: astro

#11655 Set action input default values from zod if FormData key is not present
  .changeset/nervous-garlics-beam.md
  packages/astro/src/actions/runtime/virtual/server.ts
  packages/astro/test/units/actions/form-data-to-object.test.js
Labels: pkg: astro

#11660 Fix attribute rendering for boolean values (take 2)
  .changeset/small-ties-sort.md
  packages/astro/src/runtime/server/render/util.ts
  packages/astro/test/astro-attrs.test.js
  packages/astro/test/fixtures/astro-attrs/src/pages/index.astro
  packages/integrations/mdx/test/mdx-vite-env-vars.test.js
Labels: pkg: integration, pkg: astro, semver: major

#11689 fix(actions): save error stack trace in memory
  .changeset/silver-horses-beam.md
  packages/astro/src/actions/runtime/virtual/shared.ts
Labels: pkg: astro

#11682 Update content layer flag docs
  packages/astro/src/@types/astro.ts
Labels: pkg: astro, docs pr

#11644 Add changeset for content layer experimental release
  .changeset/smooth-chicken-wash.md
Labels: semver: minor

#11605 fix: code component was missing support for meta string
  .changeset/odd-buttons-pay.md
  packages/astro/components/Code.astro
Labels: pkg: astro, semver: minor

#11551 feat: injectTypes
  .changeset/fresh-fans-study.md
  .changeset/mean-horses-kiss.md
  examples/basics/src/env.d.ts
  examples/blog/src/env.d.ts
  examples/framework-alpine/src/env.d.ts
  examples/framework-lit/src/env.d.ts
  examples/framework-multiple/src/env.d.ts
  examples/framework-preact/src/env.d.ts
  examples/framework-react/src/env.d.ts
  examples/framework-solid/src/env.d.ts
  examples/framework-svelte/src/env.d.ts
  examples/framework-vue/src/env.d.ts
  examples/hackernews/src/env.d.ts
  examples/middleware/src/env.d.ts
  examples/minimal/src/env.d.ts
  examples/non-html-pages/src/env.d.ts
  examples/portfolio/src/env.d.ts
  examples/ssr/src/env.d.ts
  examples/with-markdoc/src/env.d.ts
  examples/with-markdown-plugins/src/env.d.ts
  examples/with-markdown-shiki/src/env.d.ts
  examples/with-mdx/src/env.d.ts
  examples/with-nanostores/src/env.d.ts
  examples/with-tailwindcss/src/env.d.ts
  packages/astro/src/@types/astro.ts
  packages/astro/src/actions/consts.ts
  packages/astro/src/actions/index.ts
  packages/astro/src/cli/check/index.ts
  packages/astro/src/cli/sync/index.ts
  packages/astro/src/content/consts.ts
  packages/astro/src/content/types-generator.ts
  packages/astro/src/core/config/settings.ts
  packages/astro/src/core/dev/restart.ts
  packages/astro/src/core/errors/errors-data.ts
  packages/astro/src/core/index.ts
  packages/astro/src/core/sync/constants.ts
  packages/astro/src/core/sync/index.ts
  packages/astro/src/core/sync/setup-env-ts.ts
  packages/astro/src/core/sync/write-files.ts
  packages/astro/src/env/sync.ts
  packages/astro/src/integrations/hooks.ts
  packages/astro/src/preferences/index.ts
  packages/astro/test/astro-sync.test.js
  packages/astro/test/test-utils.js
  packages/astro/test/units/dev/collections-mixed-content-errors.test.js
  packages/astro/test/units/dev/restart.test.js
  packages/astro/test/units/integrations/api.test.js
  packages/db/src/core/integration/index.ts
  packages/db/src/core/integration/typegen.ts
  packages/db/src/core/integration/vite-plugin-inject-env-ts.ts
  packages/db/src/index.ts
Labels: pkg: example, pkg: astro, semver: minor, docs pr

#11657 Deprecates exporting prerender with dynamic values
  .changeset/eleven-pens-glow.md
  packages/astro/src/@types/astro.ts
  packages/astro/src/core/create-vite.ts
  packages/astro/src/core/util.ts
  packages/astro/src/integrations/hooks.ts
  packages/astro/src/vite-plugin-env/index.ts
  packages/astro/src/vite-plugin-scanner/index.ts
  packages/integrations/node/test/prerender.test.js
Labels: pkg: integration, pkg: astro, semver: minor, docs pr

#11645 Use node parseArgs instead of yargs-parser and arg
  .changeset/fifty-stingrays-flow.md
  .changeset/rude-queens-shop.md
  packages/astro/package.json
  packages/astro/performance/content-benchmark.mjs
  packages/astro/performance/package.json
  packages/astro/src/cli/add/index.ts
  packages/astro/src/cli/build/index.ts
  packages/astro/src/cli/check/index.ts
  packages/astro/src/cli/db/index.ts
  packages/astro/src/cli/dev/index.ts
  packages/astro/src/cli/docs/index.ts
  packages/astro/src/cli/flags.ts
  packages/astro/src/cli/index.ts
  packages/astro/src/cli/info/index.ts
  packages/astro/src/cli/preferences/index.ts
  packages/astro/src/cli/preview/index.ts
  packages/astro/src/cli/sync/index.ts
  packages/astro/src/cli/telemetry/index.ts
  packages/astro/src/core/config/config.ts
  packages/astro/src/core/config/index.ts
  packages/create-astro/src/actions/context.ts
  packages/db/package.json
  packages/db/src/core/cli/commands/execute/index.ts
  packages/db/src/core/cli/commands/login/index.ts
  packages/db/src/core/cli/commands/push/index.ts
  packages/db/src/core/cli/commands/shell/index.ts
  packages/db/src/core/cli/commands/verify/index.ts
  packages/db/src/core/cli/index.ts
  packages/db/src/core/cli/types.ts
  packages/db/src/core/integration/index.ts
  packages/upgrade/src/actions/context.ts
  packages/upgrade/test/context.test.js
  pnpm-lock.yaml
  scripts/cmd/copy.js
  scripts/cmd/test.js
Labels: pkg: create-astro, pkg: astro

#11704 chore: optimize check
  packages/astro/src/core/dev/restart.ts
Labels: pkg: astro

#11706 [docs] updates link in Content Layer API
  packages/astro/src/@types/astro.ts
Labels: pkg: astro, docs pr

#11709 Prevent externalized adapters from breaking build
  .changeset/new-boats-flash.md
  packages/astro/src/core/build/plugins/plugin-ssr.ts
  packages/astro/test/ssr-split-manifest.test.js
Labels: pkg: astro

#11711 Fix typos in 4.14 error references
  packages/astro/src/core/errors/errors-data.ts
Labels: pkg: astro, docs pr

#11710 Small wording/nit improvements to 4.14 release types docs
  packages/astro/src/@types/astro.ts
Labels: pkg: astro, docs pr

#11712 Server Islands - Handle base + trailingSlash ignore
  .changeset/kind-bees-admire.md
  packages/astro/e2e/fixtures/server-islands/astro.config.mjs
  packages/astro/e2e/server-islands.test.js
  packages/astro/src/runtime/server/render/server-islands.ts
Labels: pkg: astro

#11718 [docs] updates experimental.contentLayer with Expressive Code
  packages/astro/src/@types/astro.ts
Labels: pkg: astro, docs pr

#11692 Prevent errant HTML from crashing server islands
  .changeset/hot-dodos-whisper.md
  packages/astro/e2e/fixtures/server-islands/src/components/HTMLError.astro
  packages/astro/e2e/fixtures/server-islands/src/pages/index.astro
  packages/astro/e2e/server-islands.test.js
  packages/astro/src/runtime/server/render/server-islands.ts
Labels: pkg: astro

#11724 chore: updates the supported features of test adapter
  packages/astro/test/test-adapter.js
Labels: pkg: astro

#11725 fix: separate data store into mutable and immutable versions
  .changeset/fresh-tigers-cheat.md
  packages/astro/src/content/content-layer.ts
  packages/astro/src/content/data-store.ts
  packages/astro/src/content/loaders/types.ts
  packages/astro/src/content/mutable-data-store.ts
  packages/astro/src/content/utils.ts
  packages/astro/src/core/dev/dev.ts
  packages/astro/src/core/sync/index.ts
Labels: pkg: astro

#11727 fix: content types sync in dev
  .changeset/ten-buckets-matter.md
  packages/astro/src/content/types-generator.ts
  packages/astro/src/core/sync/index.ts
Labels: pkg: astro

#11723 refactor: enforce node prefix
  biome.json
  package.json
  packages/astro/src/assets/endpoint/node.ts
  packages/astro/src/core/dev/dev.ts
  packages/astro/src/core/logger/vite.ts
  packages/astro/src/core/preview/static-preview-server.ts
  packages/astro/src/core/routing/manifest/create.ts
  packages/astro/src/vite-plugin-astro-server/response.ts
  packages/astro/test/build-readonly-file.test.js
  packages/db/src/core/integration/index.ts
  packages/db/test/local-prod.test.js
  packages/integrations/node/src/standalone.ts
  packages/integrations/partytown/src/index.ts
  packages/integrations/sitemap/src/write-sitemap.ts
Labels: pkg: integration, pkg: astro

#11733 Revert parseArgs change
  .changeset/famous-dolls-grin.md
  .changeset/wild-trainers-matter.md
  packages/astro/package.json
  packages/astro/src/cli/check/index.ts
  packages/astro/src/cli/db/index.ts
  packages/astro/src/cli/flags.ts
  packages/astro/src/cli/index.ts
  packages/create-astro/src/actions/context.ts
  packages/db/package.json
  packages/db/src/core/cli/commands/execute/index.ts
  packages/db/src/core/cli/commands/login/index.ts
  packages/db/src/core/cli/commands/push/index.ts
  packages/db/src/core/cli/commands/shell/index.ts
  packages/db/src/core/cli/commands/verify/index.ts
  packages/db/src/core/cli/index.ts
  packages/db/src/core/cli/types.ts
  packages/db/src/core/integration/index.ts
  packages/upgrade/src/actions/context.ts
  packages/upgrade/test/context.test.js
  pnpm-lock.yaml
Labels: pkg: create-astro, pkg: astro

#11717 Fix MDX stack trace location with frontmatter
  .changeset/mighty-trees-teach.md
  packages/integrations/mdx/src/vite-plugin-mdx.ts
Labels: pkg: integration

#11730 feat: simplifies sync paths
  .changeset/spicy-houses-fry.md
  packages/astro/src/core/sync/write-files.ts
  packages/astro/test/astro-sync.test.js
  packages/astro/test/units/dev/collections-renderentry.test.js
Labels: pkg: astro

#11728 Deprecate the functionPerRoute option
  .changeset/weak-dancers-beam.md
  packages/integrations/vercel/src/serverless/adapter.ts
Labels: pkg: integration

#11745 Reduce prerender dynamic value warning false positives
  .changeset/new-pillows-kick.md
  packages/astro/src/vite-plugin-env/index.ts
Labels: pkg: astro

#11766 Fix create-astro initial git commit
  .changeset/smart-comics-doubt.md
  packages/create-astro/src/actions/git.ts
Labels: pkg: create-astro

#11680 Remove @astrojs/lit
  examples/framework-lit/.codesandbox/Dockerfile
  examples/framework-lit/.gitignore
  examples/framework-lit/.npmrc
  examples/framework-lit/.vscode/extensions.json
  examples/framework-lit/.vscode/launch.json
  examples/framework-lit/README.md
  examples/framework-lit/astro.config.mjs
  examples/framework-lit/package.json
  examples/framework-lit/public/assets/logo.svg
  examples/framework-lit/public/favicon.svg
  examples/framework-lit/src/components/Lorem.astro
  examples/framework-lit/src/components/calc-add.js
  examples/framework-lit/src/components/my-counter.js
  examples/framework-lit/src/env.d.ts
  examples/framework-lit/src/pages/index.astro
  examples/framework-lit/tsconfig.json
  examples/integration/index.ts
  packages/astro/e2e/fixtures/lit-component/astro.config.mjs
  packages/astro/e2e/fixtures/lit-component/package.json
  packages/astro/e2e/fixtures/lit-component/src/components/ClientOnlyComponent.js
  packages/astro/e2e/fixtures/lit-component/src/components/Counter.js
  packages/astro/e2e/fixtures/lit-component/src/components/NonDeferredCounter.js
  packages/astro/e2e/fixtures/lit-component/src/pages/index.astro
  packages/astro/e2e/fixtures/lit-component/src/pages/media.astro
  packages/astro/e2e/fixtures/lit-component/src/pages/solo.astro
  packages/astro/e2e/fixtures/multiple-frameworks/package.json
  packages/astro/e2e/fixtures/multiple-frameworks/src/components/LitCounter.js
  packages/astro/e2e/lit-component.test.js
  packages/astro/src/runtime/server/render/component.ts
  packages/astro/test/fixtures/lit-element/astro.config.mjs
  packages/astro/test/fixtures/lit-element/package.json
  packages/astro/test/fixtures/lit-element/src/components/my-element.ts
  packages/astro/test/fixtures/lit-element/src/components/non-deferred-element.ts
  packages/astro/test/fixtures/lit-element/src/pages/[page].astro
  packages/astro/test/fixtures/lit-element/src/pages/index.astro
  packages/astro/test/fixtures/lit-element/src/pages/slots.astro
  packages/astro/test/fixtures/lit-element/src/skipped-pages/ctr.astro
  packages/astro/test/fixtures/lit-element/tsconfig.json
  packages/astro/test/lit-element.test.js
  packages/astro/test/ssr-lit.test.js
  packages/integrations/lit/.gitignore
  packages/integrations/lit/CHANGELOG.md
  packages/integrations/lit/README.md
  packages/integrations/lit/client-shim.js
  packages/integrations/lit/client-shim.min.js
  packages/integrations/lit/hydration-support.js
  packages/integrations/lit/package.json
  packages/integrations/lit/server-shim.js
  packages/integrations/lit/server.d.ts
  packages/integrations/lit/server.js
  packages/integrations/lit/src/client.ts
  packages/integrations/lit/src/index.ts
  packages/integrations/lit/test/sass.test.js
  packages/integrations/lit/test/server.test.js
  packages/integrations/lit/tsconfig.json
  pnpm-lock.yaml
Labels: pkg: example, pkg: lit, pkg: integration, pkg: astro

#11771 fix: astro:env sync error in content config
  .changeset/tiny-lamps-lick.md
  packages/astro/src/env/vite-plugin-env.ts
  packages/astro/test/astro-sync.test.js
  packages/astro/test/fixtures/astro-env-content-collections/astro.config.mjs
  packages/astro/test/fixtures/astro-env-content-collections/package.json
  packages/astro/test/fixtures/astro-env-content-collections/src/content/config.ts
  packages/astro/test/fixtures/astro-env-content-collections/tsconfig.json
  pnpm-lock.yaml
Labels: pkg: astro

#11714 Remove functionPerRoute option
  .changeset/ten-students-repair.md
  packages/astro/src/core/build/generate.ts
  packages/astro/src/core/build/pipeline.ts
  packages/astro/src/core/build/plugins/index.ts
  packages/astro/src/core/build/plugins/plugin-prerender.ts
  packages/astro/src/core/build/plugins/plugin-ssr.ts
  packages/astro/src/core/build/static-build.ts
  packages/astro/src/integrations/features-validation.ts
  packages/astro/src/integrations/hooks.ts
  packages/astro/src/types/public/integrations.ts
  packages/astro/test/middleware.test.js
  packages/astro/test/ssr-split-manifest.test.js
  packages/astro/test/test-utils.js
  packages/integrations/vercel/src/serverless/adapter.ts
  packages/integrations/vercel/src/static/adapter.ts
  packages/integrations/vercel/test/fixtures/basic/astro.config.mjs
  packages/integrations/vercel/test/fixtures/functionPerRoute/astro.config.mjs
  packages/integrations/vercel/test/fixtures/functionPerRoute/package.json
  packages/integrations/vercel/test/fixtures/functionPerRoute/src/pages/one.astro
  packages/integrations/vercel/test/fixtures/functionPerRoute/src/pages/prerender.astro
  packages/integrations/vercel/test/fixtures/functionPerRoute/src/pages/two.astro
  packages/integrations/vercel/test/fixtures/serverless-with-dynamic-routes/astro.config.mjs
  packages/integrations/vercel/test/serverless-with-dynamic-routes.test.js
  packages/integrations/vercel/test/split.test.js
Labels: pkg: integration, pkg: astro, semver: major, docs pr

#11742 Fix middleware example
  examples/middleware/src/middleware.ts
  examples/middleware/src/pages/admin.astro
  examples/middleware/src/pages/api/login.ts
  examples/middleware/src/pages/api/logout.ts
  examples/middleware/src/pages/index.astro
  examples/middleware/src/pages/login.astro
Labels: pkg: example

#11744 Disable server.ws vite config for loading config files
  .changeset/weak-masks-do.md
  packages/astro/src/core/config/vite-load.ts
  packages/astro/src/core/sync/index.ts
  packages/db/src/core/integration/index.ts
Labels: pkg: astro

#11749 [docs] `pattern` to preserve ignoring files prefixed with an underscore
  packages/astro/src/@types/astro.ts
Labels: pkg: astro, docs pr

#11774 fix: injectTypes path
  .changeset/odd-donuts-impress.md
  packages/astro/src/integrations/hooks.ts
Labels: pkg: astro

#11773 fix: adapter features messaging
  .changeset/long-months-burn.md
  packages/astro/src/integrations/features-validation.ts
Labels: pkg: astro

#11786 [docs] fix indents
  packages/astro/src/@types/astro.ts
Labels: pkg: astro, docs pr

#11741 Cleanup unused JSX code
  .changeset/many-garlics-lick.md
  .changeset/perfect-fans-fly.md
  packages/astro/package.json
  packages/astro/src/core/build/plugins/README.md
  packages/astro/src/core/create-vite.ts
  packages/astro/src/jsx/babel.ts
  packages/astro/src/jsx/component.ts
  packages/astro/src/jsx/index.ts
  packages/astro/src/jsx/renderer.ts
  packages/astro/src/jsx/transform-options.ts
  packages/astro/src/runtime/server/index.ts
  packages/astro/src/types/astro.ts
  packages/astro/src/vite-plugin-mdx/README.md
  packages/astro/src/vite-plugin-mdx/index.ts
  packages/astro/src/vite-plugin-mdx/tag.ts
  packages/astro/src/vite-plugin-mdx/transform-jsx.ts
  packages/astro/test/fixtures/jsx/astro.config.mjs
  packages/astro/test/units/render/jsx.test.js
  packages/integrations/mdx/package.json
  packages/integrations/mdx/src/index.ts
  packages/integrations/mdx/src/server.ts
Labels: pkg: integration, pkg: astro, semver: major

#11769 Remove unused code in internal scripts
  biome.json
  packages/astro/package.json
  packages/internal-helpers/package.json
  packages/markdown/remark/package.json
  packages/underscore-redirects/package.json
  pnpm-lock.yaml
  scripts/cmd/build.js
  scripts/cmd/copy.js
  scripts/cmd/prebuild.js
  scripts/cmd/test.js
  scripts/deps/update-example-versions.js
  scripts/index.js
  scripts/package.json
  scripts/stats/index.js
  scripts/stats/stats.csv
  scripts/utils/svelte-plugin.js
Labels: feat: markdown, pkg: astro

#11780 Deprecate the Squoosh image service
  .changeset/fair-rats-fail.md
  packages/astro/config.d.ts
  packages/astro/src/assets/services/squoosh.ts
Labels: pkg: astro

#11770 feat: remove the squoosh image service
  .changeset/spotty-garlics-cheat.md
  packages/astro/config.d.ts
  packages/astro/config.mjs
  packages/astro/package.json
  packages/astro/src/assets/services/noop.ts
  packages/astro/src/assets/services/squoosh.ts
  packages/astro/src/assets/services/vendor/squoosh/LICENSE
  packages/astro/src/assets/services/vendor/squoosh/avif/avif_enc.d.ts
  packages/astro/src/assets/services/vendor/squoosh/avif/avif_node_dec.ts
  packages/astro/src/assets/services/vendor/squoosh/avif/avif_node_dec.wasm
  packages/astro/src/assets/services/vendor/squoosh/avif/avif_node_dec.wasm.ts
  packages/astro/src/assets/services/vendor/squoosh/avif/avif_node_enc.ts
  packages/astro/src/assets/services/vendor/squoosh/avif/avif_node_enc.wasm
  packages/astro/src/assets/services/vendor/squoosh/avif/avif_node_enc.wasm.ts
  packages/astro/src/assets/services/vendor/squoosh/codecs.ts
  packages/astro/src/assets/services/vendor/squoosh/emscripten-types.d.ts
  packages/astro/src/assets/services/vendor/squoosh/emscripten-utils.ts
  packages/astro/src/assets/services/vendor/squoosh/image-pool.ts
  packages/astro/src/assets/services/vendor/squoosh/image.ts
  packages/astro/src/assets/services/vendor/squoosh/image_data.ts
  packages/astro/src/assets/services/vendor/squoosh/impl.ts
  packages/astro/src/assets/services/vendor/squoosh/mozjpeg/mozjpeg_enc.d.ts
  packages/astro/src/assets/services/vendor/squoosh/mozjpeg/mozjpeg_node_dec.ts
  packages/astro/src/assets/services/vendor/squoosh/mozjpeg/mozjpeg_node_dec.wasm
  packages/astro/src/assets/services/vendor/squoosh/mozjpeg/mozjpeg_node_dec.wasm.ts
  packages/astro/src/assets/services/vendor/squoosh/mozjpeg/mozjpeg_node_enc.ts
  packages/astro/src/assets/services/vendor/squoosh/mozjpeg/mozjpeg_node_enc.wasm
  packages/astro/src/assets/services/vendor/squoosh/mozjpeg/mozjpeg_node_enc.wasm.ts
  packages/astro/src/assets/services/vendor/squoosh/png/squoosh_oxipng.ts
  packages/astro/src/assets/services/vendor/squoosh/png/squoosh_oxipng_bg.wasm
  packages/astro/src/assets/services/vendor/squoosh/png/squoosh_oxipng_bg.wasm.ts
  packages/astro/src/assets/services/vendor/squoosh/png/squoosh_png.ts
  packages/astro/src/assets/services/vendor/squoosh/png/squoosh_png_bg.wasm
  packages/astro/src/assets/services/vendor/squoosh/png/squoosh_png_bg.wasm.ts
  packages/astro/src/assets/services/vendor/squoosh/resize/squoosh_resize.ts
  packages/astro/src/assets/services/vendor/squoosh/resize/squoosh_resize_bg.wasm
  packages/astro/src/assets/services/vendor/squoosh/resize/squoosh_resize_bg.wasm.ts
  packages/astro/src/assets/services/vendor/squoosh/rotate/rotate.wasm
  packages/astro/src/assets/services/vendor/squoosh/rotate/rotate.wasm.ts
  packages/astro/src/assets/services/vendor/squoosh/utils/execOnce.ts
  packages/astro/src/assets/services/vendor/squoosh/utils/workerPool.ts
  packages/astro/src/assets/services/vendor/squoosh/webp/webp_enc.d.ts
  packages/astro/src/assets/services/vendor/squoosh/webp/webp_node_dec.ts
  packages/astro/src/assets/services/vendor/squoosh/webp/webp_node_dec.wasm
  packages/astro/src/assets/services/vendor/squoosh/webp/webp_node_dec.wasm.ts
  packages/astro/src/assets/services/vendor/squoosh/webp/webp_node_enc.ts
  packages/astro/src/assets/services/vendor/squoosh/webp/webp_node_enc.wasm
  packages/astro/src/assets/services/vendor/squoosh/webp/webp_node_enc.wasm.ts
  packages/astro/src/core/config/schema.ts
  packages/astro/src/integrations/features-validation.ts
  packages/astro/src/types/public/config.ts
  packages/astro/src/types/public/integrations.ts
  packages/astro/test/units/integrations/api.test.js
  packages/integrations/node/src/index.ts
  packages/integrations/vercel/package.json
  packages/integrations/vercel/src/image/shared.ts
  packages/integrations/vercel/src/image/squoosh-dev-service.ts
  packages/integrations/vercel/src/serverless/adapter.ts
  packages/integrations/vercel/src/static/adapter.ts
  scripts/cmd/build.js
Labels: pkg: integration, pkg: astro, semver: major, docs pr

#11782 fix(assets): Remove TLA by making compiledContent async
  .changeset/modern-bears-deny.md
  packages/astro/src/assets/vite-plugin-assets.ts
  packages/astro/src/types/public/content.ts
  packages/astro/src/vite-plugin-markdown/images.ts
  packages/astro/src/vite-plugin-markdown/index.ts
Labels: pkg: astro, semver: major, docs pr

#11732 Use GET and preload links on Server Islands
  .changeset/healthy-ads-scream.md
  packages/astro/e2e/fixtures/server-islands/src/components/Island.astro
  packages/astro/e2e/fixtures/server-islands/src/lorem.ts
  packages/astro/e2e/fixtures/server-islands/src/pages/index.astro
  packages/astro/e2e/server-islands.test.js
  packages/astro/src/core/server-islands/endpoint.ts
  packages/astro/src/runtime/server/render/server-islands.ts
Labels: pkg: astro, semver: minor

#11794 [Actions] Fix middleware warning static mode
  .changeset/chatty-cups-sleep.md
  packages/astro/e2e/fixtures/actions-blog/src/pages/blog/[...slug].astro
  packages/astro/src/actions/runtime/middleware.ts
  packages/astro/src/core/render-context.ts
  packages/astro/test/actions.test.js
  packages/astro/test/fixtures/actions/src/pages/subscribe-prerendered.astro
Labels: pkg: astro

#11795 chore: remove unused astro error
  packages/astro/src/core/errors/errors-data.ts
Labels: pkg: astro, docs pr

#11679 feat(next): make astro:env stable
  .changeset/eighty-boxes-applaud.md
  .changeset/selfish-impalas-grin.md
  packages/astro/client.d.ts
  packages/astro/src/container/index.ts
  packages/astro/src/core/app/types.ts
  packages/astro/src/core/base-pipeline.ts
  packages/astro/src/core/build/generate.ts
  packages/astro/src/core/build/plugins/plugin-chunks.ts
  packages/astro/src/core/build/plugins/plugin-manifest.ts
  packages/astro/src/core/config/schema.ts
  packages/astro/src/core/create-vite.ts
  packages/astro/src/core/errors/errors-data.ts
  packages/astro/src/core/sync/index.ts
  packages/astro/src/env/constants.ts
  packages/astro/src/env/sync.ts
  packages/astro/src/env/vite-plugin-env.ts
  packages/astro/src/integrations/features-validation.ts
  packages/astro/src/types/public/config.ts
  packages/astro/src/vite-plugin-astro-server/plugin.ts
  packages/astro/templates/env.mjs
  packages/astro/test/env-secret.test.js
  packages/astro/test/fixtures/astro-env-content-collections/astro.config.mjs
  packages/astro/test/fixtures/astro-env-required-public/astro.config.mjs
  packages/astro/test/fixtures/astro-env-server-fail/astro.config.mjs
  packages/astro/test/fixtures/astro-env-server-secret/astro.config.mjs
  packages/astro/test/fixtures/astro-env/astro.config.mjs
  packages/astro/test/units/config/config-validate.test.js
  packages/astro/types/env.d.ts
  packages/integrations/node/src/index.ts
  packages/integrations/node/src/server.ts
  packages/integrations/vercel/src/serverless/adapter.ts
  packages/integrations/vercel/src/serverless/entrypoint.ts
Labels: pkg: integration, pkg: astro, semver: major, docs pr

#11799 [docs]: fix typo
  packages/astro/src/@types/astro.ts
Labels: pkg: astro, docs pr

#11800 chore: restore error and deprecate it
  packages/astro/src/core/errors/errors-data.ts
Labels: pkg: astro, docs pr

#11801 Fix file loader for JSON object files
  .changeset/four-rats-fail.md
  packages/astro/src/content/loaders/file.ts
Labels: pkg: astro

#11768 ci: enable preview and repo dispatch
  .github/workflows/dispatch-event.yml
  .github/workflows/preview-release.yml
Labels: 🚨 action

#11804 ci: trigger using review comment instead
  .github/workflows/preview-release.yml
Labels: 🚨 action

#11805 ci: use `issue_comment`
  .github/workflows/preview-release.yml
Labels: 🚨 action

#11812 Actions: expose ActionAPIContext
  .changeset/poor-olives-battle.md
  packages/astro/src/actions/runtime/virtual/shared.ts
Labels: pkg: astro

#11809 Actions: Allow effect chaining on form input validators
  .changeset/pink-kids-taste.md
  packages/astro/src/@types/astro.ts
  packages/astro/src/actions/runtime/virtual/server.ts
  packages/astro/test/actions.test.js
  packages/astro/test/fixtures/actions/src/actions/index.ts
  packages/astro/test/units/actions/form-data-to-object.test.js
Labels: pkg: astro, docs pr

#11813 Actions: fix bad action result for actions with empty return value
  .changeset/selfish-pianos-notice.md
  packages/astro/e2e/actions-blog.test.js
  packages/astro/e2e/fixtures/actions-blog/src/actions/index.ts
  packages/astro/e2e/fixtures/actions-blog/src/components/Logout.tsx
  packages/astro/e2e/fixtures/actions-blog/src/pages/blog/[...slug].astro
  packages/astro/templates/actions.mjs
Labels: pkg: astro

#11798 Remove legacy route prioritization
  .changeset/blue-boats-relax.md
  packages/astro/src/core/config/schema.ts
  packages/astro/src/core/routing/manifest/create.ts
  packages/astro/src/types/public/config.ts
  packages/astro/src/types/public/integrations.ts
  packages/astro/test/units/routing/manifest.test.js
Labels: pkg: astro, semver: major, docs pr

#11788 feat: change default value of `checkOrigin`
  .changeset/itchy-toys-march.md
  packages/astro/src/core/config/schema.ts
  packages/astro/src/types/public/config.ts
  packages/astro/test/fixtures/actions/astro.config.mjs
  packages/astro/test/fixtures/csrf-check-origin/astro.config.mjs
Labels: pkg: astro, semver: major, docs pr

#11822 Make vite-plugin-fileurl a pre plugin
  .changeset/fuzzy-falcons-tan.md
  packages/astro/src/core/create-vite.ts
  packages/astro/src/vite-plugin-fileurl/index.ts
Labels: pkg: astro

#11713 fix(astro): Prevent prefetching of same urls with different hashes
  .changeset/nasty-ladybugs-whisper.md
  packages/astro/src/prefetch/index.ts
Labels: pkg: astro

#11842 Fix typo in `MissingImageDimension` error message
  .changeset/perfect-socks-dress.md
  packages/astro/src/core/errors/errors-data.ts
Labels: pkg: astro, docs pr

#11829 Prevent Partytown integration from inserting a 'null' string into the body
  .changeset/eight-rice-tap.md
  packages/integrations/partytown/src/index.ts
Labels: pkg: integration

#11828 Actions: give better guidance when a Response is returned by an Action
  .changeset/thirty-bikes-peel.md
  packages/astro/e2e/actions-blog.test.js
  packages/astro/playwright.config.js
  packages/astro/playwright.firefox.config.js
  packages/astro/src/@types/astro.ts
  packages/astro/src/actions/runtime/utils.ts
  packages/astro/src/actions/runtime/virtual/shared.ts
  packages/astro/src/core/constants.ts
  packages/astro/src/core/errors/errors-data.ts
  packages/astro/src/core/render-context.ts
  packages/astro/test/actions.test.js
Labels: pkg: astro, docs pr

#11847 fix: ensure vite is not imported by runtime utils
  .changeset/eleven-papayas-rhyme.md
  packages/astro/src/content/utils.ts
  packages/astro/src/core/viteUtils.ts
Labels: pkg: astro

#11698 feat(next): add `Astro.routePattern`
  .changeset/nasty-crabs-worry.md
  packages/astro/src/core/middleware/index.ts
  packages/astro/src/core/render-context.ts
  packages/astro/src/types/public/context.ts
  packages/astro/test/astro-global.test.js
  packages/astro/test/fixtures/astro-global/src/components/Route.astro
  packages/astro/test/fixtures/astro-global/src/middleware.js
  packages/astro/test/fixtures/astro-global/src/pages/index.astro
  packages/astro/test/fixtures/astro-global/src/pages/omit-markdown-extensions.astro
  packages/astro/test/fixtures/astro-global/src/pages/posts/[page].astro
Labels: pkg: astro, semver: minor, pr: docs

#11846 Fix component defined in `extends` not rendered as Markdoc tags/nodes
  .changeset/good-adults-punch.md
  packages/integrations/markdoc/src/content-entry-type.ts
  packages/integrations/markdoc/test/fixtures/render-with-extends-components/astro.config.mjs
  packages/integrations/markdoc/test/fixtures/render-with-extends-components/markdoc.config.ts
  packages/integrations/markdoc/test/fixtures/render-with-extends-components/package.json
  packages/integrations/markdoc/test/fixtures/render-with-extends-components/src/components/Code.astro
  packages/integrations/markdoc/test/fixtures/render-with-extends-components/src/components/CustomMarquee.astro
  packages/integrations/markdoc/test/fixtures/render-with-extends-components/src/content/blog/with-components.mdoc
  packages/integrations/markdoc/test/fixtures/render-with-extends-components/src/pages/index.astro
  packages/integrations/markdoc/test/render-extends-components.test.js
  pnpm-lock.yaml
Labels: pkg: integration

#11848 chore: enable `useImportType` rule
  .vscode/settings.json
  biome.json
  packages/astro/src/actions/utils.ts
  packages/astro/src/core/build/plugins/plugin-content.ts
  packages/astro/src/core/build/plugins/plugin-pages.ts
  packages/astro/src/runtime/client/dev-toolbar/toolbar.ts
  packages/astro/src/vite-plugin-astro-server/pipeline.ts
  packages/astro/src/vite-plugin-scanner/index.ts
  packages/db/src/core/cli/commands/link/index.ts
  packages/db/src/core/cli/commands/push/index.ts
  packages/db/src/core/cli/migration-queries.ts
  packages/db/src/core/queries.ts
  packages/db/src/runtime/index.ts
  packages/integrations/markdoc/src/runtime.ts
Labels: pkg: integration, pkg: astro

#11850 Improve e2e setup
  packages/astro/e2e/actions-blog.test.js
  packages/astro/e2e/actions-react-19.test.js
  packages/astro/e2e/astro-component.test.js
  packages/astro/e2e/astro-envs.test.js
  packages/astro/e2e/client-only.test.js
  packages/astro/e2e/content-collections.test.js
  packages/astro/e2e/css.test.js
  packages/astro/e2e/custom-client-directives.test.js
  packages/astro/e2e/dev-toolbar-audits.test.js
  packages/astro/e2e/dev-toolbar.test.js
  packages/astro/e2e/error-cyclic.test.js
  packages/astro/e2e/error-sass.test.js
  packages/astro/e2e/errors.test.js
  packages/astro/e2e/hmr.test.js
  packages/astro/e2e/hydration-race.test.js
  packages/astro/e2e/i18n.test.js
  packages/astro/e2e/lit-component.test.js
  packages/astro/e2e/multiple-frameworks.test.js
  packages/astro/e2e/namespaced-component.test.js
  packages/astro/e2e/nested-in-preact.test.js
  packages/astro/e2e/nested-in-react.test.js
  packages/astro/e2e/nested-in-solid.test.js
  packages/astro/e2e/nested-in-svelte.test.js
  packages/astro/e2e/nested-in-vue.test.js
  packages/astro/e2e/nested-recursive.test.js
  packages/astro/e2e/nested-styles.test.js
  packages/astro/e2e/pass-js.test.js
  packages/astro/e2e/preact-compat-component.test.js
  packages/astro/e2e/preact-component.test.js
  packages/astro/e2e/preact-lazy-component.test.js
  packages/astro/e2e/prefetch.test.js
  packages/astro/e2e/react-component.test.js
  packages/astro/e2e/server-islands.test.js
  packages/astro/e2e/shared-component-tests.js
  packages/astro/e2e/solid-circular.test.js
  packages/astro/e2e/solid-component.test.js
  packages/astro/e2e/solid-recurse.test.js
  packages/astro/e2e/svelte-component.test.js
  packages/astro/e2e/tailwindcss.test.js
  packages/astro/e2e/test-utils.js
  packages/astro/e2e/ts-resolution.test.js
  packages/astro/e2e/view-transitions.test.js
  packages/astro/e2e/vue-component.test.js
  packages/astro/playwright.config.js
  packages/astro/playwright.firefox.config.js
Labels: pkg: astro

#11852 Remove lingering env.d.ts files
  packages/astro/e2e/fixtures/solid-circular/src/env.d.ts
  packages/astro/e2e/fixtures/svelte-component/src/env.d.ts
  packages/astro/performance/fixtures/mdoc/src/env.d.ts
  packages/astro/performance/fixtures/mdx/src/env.d.ts
  packages/astro/test/fixtures/error-bad-js/src/env.d.ts
  packages/astro/test/fixtures/error-build-location/src/env.d.ts
  packages/astro/test/fixtures/error-non-error/src/env.d.ts
  packages/integrations/vercel/test/hosted/hosted-astro-project/src/env.d.ts
Labels: pkg: integration, pkg: astro

#11827 Prevent usage of astro:content in the client
  .changeset/neat-dots-hear.md
  packages/astro/src/content/vite-plugin-content-virtual-mod.ts
Labels: pkg: astro, semver: major

#11818 Fix MDX layout style ordering
  .changeset/tiny-suns-sit.md
  packages/integrations/mdx/src/rehype-apply-frontmatter-export.ts
Labels: pkg: integration

#11789 Remove unused dependencies in next
  package.json
  packages/astro/package.json
  pnpm-lock.yaml
Labels: pkg: astro

#11253 Add base to paginate
  .changeset/twenty-cobras-push.md
  packages/astro/src/core/build/generate.ts
  packages/astro/src/core/render-context.ts
  packages/astro/src/core/render/paginate.ts
  packages/astro/src/core/render/params-and-props.ts
  packages/astro/src/core/render/route-cache.ts
  packages/astro/src/vite-plugin-astro-server/route.ts
  packages/astro/test/astro-pagination-root-spread.test.js
  packages/astro/test/astro-pagination.test.js
Labels: pkg: astro, semver: major

#11834 fix: handle preact signals in array correctly
  .changeset/eleven-cameras-sing.md
  packages/astro/test/fixtures/preact-component/src/components/SignalsInArray.jsx
  packages/astro/test/fixtures/preact-component/src/components/SignalsInObject.jsx
  packages/astro/test/fixtures/preact-component/src/pages/signals.astro
  packages/astro/test/preact-component.test.js
  packages/integrations/preact/src/client.ts
  packages/integrations/preact/src/signals.ts
  packages/integrations/preact/src/types.ts
Labels: pkg: preact, pkg: integration, pkg: astro

#11708 Extends virtual module astro:transitions/client to export swapFunctions
  .changeset/new-monkeys-sit.md
  packages/astro/client.d.ts
  packages/astro/e2e/fixtures/view-transitions/src/pages/keep-style-one.astro
  packages/astro/e2e/fixtures/view-transitions/src/pages/keep-theme-one.astro
  packages/astro/e2e/fixtures/view-transitions/src/pages/replace-main-one.astro
  packages/astro/e2e/view-transitions.test.js
  packages/astro/src/transitions/swap-functions.ts
  packages/astro/src/transitions/vite-plugin-transitions.ts
  packages/astro/src/virtual-modules/transitions-swap-functions.ts
Labels: pkg: astro, semver: minor

#11729 feat: add `sync` variant
  .changeset/afraid-apricots-develop.md
  packages/astro/src/@types/astro.ts
  packages/astro/src/core/sync/index.ts
  packages/astro/src/integrations/hooks.ts
  packages/db/src/core/integration/file-url.ts
  packages/db/src/core/integration/index.ts
Labels: pkg: astro, semver: minor, pr: docs

#11860 test: fix broken e2e test
  packages/astro/e2e/client-idle-timeout.test.js
Labels: pkg: astro

#11791 Make directRenderScript the default
  .changeset/five-jars-hear.md
  packages/astro/e2e/astro-component.test.js
  packages/astro/src/content/consts.ts
  packages/astro/src/content/vite-plugin-content-assets.ts
  packages/astro/src/core/build/generate.ts
  packages/astro/src/core/build/internal.ts
  packages/astro/src/core/build/page-data.ts
  packages/astro/src/core/build/pipeline.ts
  packages/astro/src/core/build/plugins/index.ts
  packages/astro/src/core/build/plugins/plugin-analyzer.ts
  packages/astro/src/core/build/plugins/plugin-css.ts
  packages/astro/src/core/build/plugins/plugin-hoisted-scripts.ts
  packages/astro/src/core/build/plugins/plugin-manifest.ts
  packages/astro/src/core/build/plugins/plugin-scripts.ts
  packages/astro/src/core/build/types.ts
  packages/astro/src/core/compile/compile.ts
  packages/astro/src/core/config/schema.ts
  packages/astro/src/core/render/ssr-element.ts
  packages/astro/src/types/public/config.ts
  packages/astro/src/vite-plugin-astro-server/pipeline.ts
  packages/astro/src/vite-plugin-astro-server/scripts.ts
  packages/astro/src/vite-plugin-astro/index.ts
  packages/astro/src/vite-plugin-astro/types.ts
  packages/astro/test/astro-scripts.test.js
  packages/astro/test/content-collections-render.test.js
  packages/astro/test/content-collections.test.js
  packages/astro/test/experimental-content-collections-render.test.js
  packages/astro/test/experimental-content-collections.test.js
  packages/astro/test/fixtures/astro-scripts/src/components/InlineShared.astro
  packages/astro/test/fixtures/astro-scripts/src/pages/inline-shared-one.astro
  packages/astro/test/fixtures/astro-scripts/src/pages/inline-shared-two.astro
  packages/astro/test/fixtures/astro-scripts/src/scripts/something.js
  packages/astro/test/fixtures/content-layer-rendering/src/components/WithScripts.astro
  packages/astro/test/fixtures/content-layer/src/components/WithScripts.astro
  packages/astro/test/fixtures/content/src/components/WithScripts.astro
  packages/astro/test/fixtures/hoisted-imports/astro.config.js
  packages/astro/test/fixtures/ssr-script/package.json
  packages/astro/test/fixtures/ssr-script/src/pages/index.astro
  packages/astro/test/fixtures/static-build/src/components/ExternalHoisted.astro
  packages/astro/test/fixtures/static-build/src/components/ExternalScripts.astro
  packages/astro/test/fixtures/static-build/src/components/InlineHoisted.astro
  packages/astro/test/fixtures/static-build/src/components/InlineScripts.astro
  packages/astro/test/fixtures/static-build/src/pages/hoisted.astro
  packages/astro/test/fixtures/static-build/src/pages/scripts.astro
  packages/astro/test/fixtures/static-build/src/scripts/external-hoist.ts
  packages/astro/test/fixtures/static-build/src/scripts/external-script.ts
  packages/astro/test/fixtures/static-build/src/scripts/inline-hoist.js
  packages/astro/test/fixtures/static-build/src/scripts/inline-script.js
  packages/astro/test/space-in-folder-name.test.js
  packages/astro/test/ssr-script.test.js
  packages/astro/test/static-build.test.js
  packages/integrations/mdx/test/css-head-mdx.test.js
  pnpm-lock.yaml
Labels: pkg: integration, pkg: astro, pr: docs, docs pr

#11772 Use magicast for astro add
  .changeset/eight-balloons-cover.md
  packages/astro/package.json
  packages/astro/src/cli/add/babel.ts
  packages/astro/src/cli/add/imports.ts
  packages/astro/src/cli/add/index.ts
  packages/astro/src/cli/add/wrapper.ts
  pnpm-lock.yaml
Labels: pkg: astro

#11845 Use tinyexec
  .changeset/four-beans-remember.md
  benchmark/bench/cli-startup.js
  benchmark/bench/memory.js
  benchmark/bench/render.js
  benchmark/bench/server-stress.js
  benchmark/package.json
  packages/astro/package.json
  packages/astro/src/cli/add/index.ts
  packages/astro/src/cli/docs/open.ts
  packages/astro/src/cli/install-package.ts
  pnpm-lock.yaml
  scripts/package.json
  scripts/smoke/cleanup.js
  scripts/smoke/index.js
Labels: pkg: astro

#11862 fix: pass config instead of settings to content layer loaders
  .changeset/chilled-timers-shave.md
  packages/astro/src/@types/astro.ts
  packages/astro/src/content/content-layer.ts
  packages/astro/src/content/loaders/file.ts
  packages/astro/src/content/loaders/glob.ts
  packages/astro/src/content/loaders/types.ts
  packages/astro/src/content/utils.ts
  packages/astro/src/vite-plugin-markdown/content-entry-type.ts
Labels: pkg: astro, docs pr

#11858 fix: resolve content layer images without filePath set
  .changeset/rich-kings-wait.md
  packages/astro/src/assets/utils/resolveImports.ts
  packages/astro/src/content/runtime.ts
  packages/astro/src/content/vite-plugin-content-assets.ts
  packages/astro/test/content-layer.test.js
  packages/astro/test/fixtures/content-layer/content-outside-src/columbia-copy.md
  packages/astro/test/fixtures/content-layer/src/content/config.ts
  packages/astro/test/fixtures/content-layer/src/pages/collections.json.js
Labels: pkg: astro

#11867 refactor: `Astro.routePattern` is `RouteData.route`
  packages/astro/src/core/render-context.ts
  packages/astro/test/astro-global.test.js
Labels: pkg: astro

#11843 Actions stable release
  .changeset/perfect-wasps-grow.md
  .changeset/spicy-suits-explode.md
  packages/astro/client.d.ts
  packages/astro/e2e/fixtures/actions-blog/astro.config.mjs
  packages/astro/e2e/fixtures/actions-blog/src/actions/index.ts
  packages/astro/e2e/fixtures/actions-blog/src/components/PostComment.tsx
  packages/astro/e2e/fixtures/actions-react-19/astro.config.mjs
  packages/astro/e2e/fixtures/actions-react-19/src/actions/index.ts
  packages/astro/playwright.config.js
  packages/astro/playwright.firefox.config.js
  packages/astro/src/@types/astro.ts
  packages/astro/src/actions/index.ts
  packages/astro/src/actions/integration.ts
  packages/astro/src/actions/plugins.ts
  packages/astro/src/actions/runtime/middleware.ts
  packages/astro/src/actions/runtime/route.ts
  packages/astro/src/actions/runtime/virtual/client.ts
  packages/astro/src/actions/runtime/virtual/get-action.ts
  packages/astro/src/actions/runtime/virtual/server.ts
  packages/astro/src/actions/runtime/virtual/shared.ts
  packages/astro/src/actions/utils.ts
  packages/astro/src/core/config/schema.ts
  packages/astro/src/core/create-vite.ts
  packages/astro/src/core/errors/errors-data.ts
  packages/astro/src/integrations/hooks.ts
  packages/astro/test/actions.test.js
  packages/astro/test/fixtures/actions/astro.config.mjs
  packages/astro/test/fixtures/actions/src/actions/index.ts
  packages/astro/test/units/integrations/api.test.js
Labels: pkg: astro, semver: minor, pr: docs, docs pr

#11767 Moves content layer sync to a queue and support selective sync
  .changeset/sixty-masks-lie.md
  packages/astro/package.json
  packages/astro/src/@types/astro.ts
  packages/astro/src/content/content-layer.ts
  packages/astro/src/content/loaders/types.ts
  packages/astro/src/core/dev/restart.ts
  pnpm-lock.yaml
Labels: pkg: astro, pr: docs, docs pr

#11873 test: fix regression
  packages/astro/test/fixtures/actions/astro.config.mjs
  pnpm-lock.yaml
Labels: pkg: astro

#11872 Use default import in astro add
  .changeset/neat-swans-hear.md
  packages/astro/src/cli/add/index.ts
Labels: pkg: astro

#11876 [docs] formatting for config ref docs
  packages/astro/src/types/public/config.ts
Labels: pkg: astro, docs pr

#11870 docs(i18n): fix typo in `fallbackType` JSDoc comment
  .changeset/little-zebras-march.md
  packages/astro/src/@types/astro.ts
Labels: pkg: astro, docs pr
