Repository withastro/astro, pull requests merged in 2024-01, with the labels that each got.

#9558 Fix asynchronous `appEntrypoint` support
  .changeset/ninety-buses-occur.md
  packages/integrations/vue/src/index.ts
  packages/integrations/vue/test/app-entrypoint.test.js
  packages/integrations/vue/test/fixtures/app-entrypoint-async/astro.config.mjs
  packages/integrations/vue/test/fixtures/app-entrypoint-async/package.json
  packages/integrations/vue/test/fixtures/app-entrypoint-async/src/components/Bar.vue
  packages/integrations/vue/test/fixtures/app-entrypoint-async/src/components/Baz.vue
  packages/integrations/vue/test/fixtures/app-entrypoint-async/src/components/Foo.vue
  packages/integrations/vue/test/fixtures/app-entrypoint-async/src/pages/_app.ts
  packages/integrations/vue/test/fixtures/app-entrypoint-async/src/pages/index.astro
  pnpm-lock.yaml
Labels: pkg: vue, pkg: integration, docs pr

#9572 Document --host and --port flag for preview
  .changeset/sixty-bugs-unite.md
  packages/astro/src/cli/preview/index.ts
Labels: pkg: astro, docs pr

#9504 Implement i18n's `getLocaleByPath` function
  .changeset/plenty-dingos-relax.md
  packages/astro/e2e/fixtures/i18n/astro.config.mjs
  packages/astro/e2e/fixtures/i18n/package.json
  packages/astro/e2e/fixtures/i18n/src/pages/index.astro
  packages/astro/e2e/i18n.test.js
  packages/astro/src/i18n/index.ts
  packages/astro/src/i18n/vite-plugin-i18n.ts
  pnpm-lock.yaml
Labels: pkg: astro, docs pr

#9559 Add 'starlight' to displayed options under 'add' option in CLI
  .changeset/tall-mayflies-deliver.md
  packages/astro/src/cli/add/index.ts
Labels: pkg: astro, docs pr

#9571 Remove telemetry for unhandled errors
  .changeset/few-days-relate.md
  packages/astro/src/vite-plugin-astro-server/error.ts
Labels: pkg: astro, docs pr

#9563 Fix history navigation to hash fragment on Firefox when using view transitions
  .changeset/breezy-eyes-teach.md
  packages/astro/src/transitions/router.ts
Labels: pkg: astro, docs pr

#9581 Fix history usage of PR 9563
  packages/astro/src/transitions/router.ts
Labels: pkg: astro

#9543 Patch `set-output` deprecation in workflows
  .github/workflows/check-merge.yml
  .github/workflows/main.yml
  .github/workflows/release.yml
Labels: 🚨 action

#9575 Set default NODE_ENV for JS API
  .changeset/six-bottles-mix.md
  packages/astro/src/cli/add/index.ts
  packages/astro/src/cli/check/index.ts
  packages/astro/src/cli/index.ts
  packages/astro/src/core/build/index.ts
  packages/astro/src/core/dev/dev.ts
  packages/astro/src/core/preview/index.ts
  packages/astro/src/core/sync/index.ts
  packages/astro/src/core/util.ts
Labels: pkg: astro, docs pr

#9544 Error on preview if outDir missing
  .changeset/four-moles-burn.md
  packages/astro/src/core/preview/index.ts
Labels: pkg: astro, semver: minor, docs pr

#9470 Move create-astro async tasks to end
  .changeset/chatty-penguins-sin.md
  packages/create-astro/package.json
  packages/create-astro/src/actions/context.ts
  packages/create-astro/src/actions/dependencies.ts
  packages/create-astro/src/actions/git.ts
  packages/create-astro/src/actions/template.ts
  packages/create-astro/src/actions/typescript.ts
  packages/create-astro/src/index.ts
  pnpm-lock.yaml
Labels: pkg: create-astro, semver: minor, docs pr

#9546 Add limitInputPixels option for sharp image service
  .changeset/poor-apes-cheat.md
  packages/astro/config.d.ts
  packages/astro/config.mjs
  packages/astro/src/@types/astro.ts
  packages/astro/src/assets/services/sharp.ts
Labels: pkg: astro, semver: minor, docs pr

#9063 Allow setting all cookie package serialize/parse options
  .changeset/tiny-days-dance.md
  packages/astro/src/@types/astro.ts
  packages/astro/src/core/cookies/cookies.ts
  packages/astro/src/core/cookies/index.ts
  packages/astro/test/units/cookies/get.test.js
  packages/astro/test/units/cookies/set.test.js
Labels: pkg: astro, semver: minor, docs pr

#9363 feat: support setting rootMargin for `client:visible`
  .changeset/stupid-peas-juggle.md
  packages/astro/src/@types/astro.ts
  packages/astro/src/runtime/client/visible.ts
Labels: pkg: astro, semver: minor, docs pr

#9377 Add reverted aria audit rules for dev toolbar
  .changeset/chilly-students-glow.md
  packages/astro/package.json
  packages/astro/src/runtime/client/dev-overlay/plugins/audit/a11y.ts
  packages/astro/src/vite-plugin-dev-overlay/vite-plugin-dev-overlay.ts
  pnpm-lock.yaml
Labels: pkg: astro, semver: minor, docs pr

#9587 feat: add extendable `CSSProperties` interface
  .changeset/slow-kiwis-own.md
  packages/astro/astro-jsx.d.ts
Labels: pkg: astro, docs pr

#9596 feat: update extended client:visible to use an object instead of a string
  .changeset/stupid-peas-juggle.md
  .changeset/three-owls-drop.md
  packages/astro/e2e/custom-client-directives.test.js
  packages/astro/e2e/fixtures/custom-client-directives/astro.config.mjs
  packages/astro/e2e/fixtures/custom-client-directives/client-options.js
  packages/astro/e2e/fixtures/custom-client-directives/src/client-directives-types.d.ts
  packages/astro/e2e/fixtures/custom-client-directives/src/pages/index.astro
  packages/astro/src/@types/astro.ts
  packages/astro/src/runtime/client/visible.ts
Labels: pkg: astro, docs pr

#9595 [docs] update config-reference for 4.1.0 docs release
  packages/astro/src/@types/astro.ts
Labels: pkg: astro, docs pr

#9597 fix(routing): trailingSlash on endpoints
  .changeset/funny-lobsters-promise.md
  packages/astro/src/core/routing/manifest/create.ts
  packages/astro/test/units/routing/trailing-slash.test.js
Labels: pkg: astro, docs pr

#9602 Fix ts errors for component template
  examples/component/tsconfig.json
  scripts/smoke/check.js
Labels: pkg: example

#9593 Improve astro add deps error reporting
  .changeset/afraid-socks-rescue.md
  packages/astro/src/cli/add/index.ts
Labels: pkg: astro, docs pr

#6791 Render async SolidJS components
  .changeset/chilly-badgers-push.md
  packages/astro/e2e/shared-component-tests.js
  packages/astro/e2e/solid-component.test.js
  packages/astro/src/@types/astro.ts
  packages/astro/src/core/render/result.ts
  packages/astro/src/runtime/server/render/common.ts
  packages/astro/src/runtime/server/render/component.ts
  packages/astro/src/runtime/server/render/instruction.ts
  packages/astro/test/fixtures/solid-component/src/components/Counter.jsx
  packages/astro/test/fixtures/solid-component/src/components/LazyCounter.jsx
  packages/astro/test/fixtures/solid-component/src/components/async-components.jsx
  packages/astro/test/fixtures/solid-component/src/components/defer.astro
  packages/astro/test/fixtures/solid-component/src/pages/deferred.astro
  packages/astro/test/fixtures/solid-component/src/pages/nested.astro
  packages/astro/test/fixtures/solid-component/src/pages/ssr-client-load-throwing.astro
  packages/astro/test/fixtures/solid-component/src/pages/ssr-client-load.astro
  packages/astro/test/fixtures/solid-component/src/pages/ssr-client-none-throwing.astro
  packages/astro/test/fixtures/solid-component/src/pages/ssr-client-none.astro
  packages/astro/test/fixtures/solid-component/src/pages/ssr-client-only.astro
  packages/astro/test/solid-component.test.js
  packages/integrations/solid/package.json
  packages/integrations/solid/src/client.ts
  packages/integrations/solid/src/context.ts
  packages/integrations/solid/src/server.ts
Labels: pkg: solid, pkg: integration, pkg: astro, docs pr

#9598 chore(vercel): deprecate `speedInsights`
  .changeset/lemon-garlics-pretend.md
  packages/integrations/vercel/src/serverless/adapter.ts
  packages/integrations/vercel/src/static/adapter.ts
Labels: pkg: integration, docs pr

#9600 chore: Update`possibleConfigFiles`
  .changeset/many-rules-kick.md
  packages/astro/src/cli/add/index.ts
Labels: pkg: astro, docs pr

#9618 feat: Add APIRoute second generic
  .changeset/fair-bottles-lie.md
  packages/astro/src/@types/astro.ts
Labels: pkg: astro, docs pr

#9622 Fix limitInputPixels type
  .changeset/slow-impalas-taste.md
  packages/astro/src/@types/astro.ts
  packages/astro/src/assets/services/sharp.ts
Labels: pkg: astro, docs pr

#9621 [docs] update config reference
  packages/astro/src/@types/astro.ts
Labels: pkg: astro, docs pr

#9591 fix(vercel): include 404.html as fallback in the static adapter
  .changeset/brown-turtles-invite.md
  packages/integrations/vercel/src/static/adapter.ts
  packages/integrations/vercel/test/fixtures/static/astro.config.mjs
  packages/integrations/vercel/test/fixtures/static/package.json
  packages/integrations/vercel/test/fixtures/static/src/pages/404.astro
  packages/integrations/vercel/test/fixtures/static/src/pages/one.astro
  packages/integrations/vercel/test/fixtures/static/src/pages/two.astro
  packages/integrations/vercel/test/static.test.js
  pnpm-lock.yaml
Labels: pkg: integration, docs pr

#9490 Ensure `appEntrypoint` is referenced in Vue components
  .changeset/odd-rivers-learn.md
  packages/integrations/vue/src/index.ts
  packages/integrations/vue/test/app-entrypoint-css.test.js
  packages/integrations/vue/test/fixtures/app-entrypoint-css/astro.config.mjs
  packages/integrations/vue/test/fixtures/app-entrypoint-css/package.json
  packages/integrations/vue/test/fixtures/app-entrypoint-css/src/app.ts
  packages/integrations/vue/test/fixtures/app-entrypoint-css/src/components/Bar.vue
  packages/integrations/vue/test/fixtures/app-entrypoint-css/src/components/Foo.vue
  packages/integrations/vue/test/fixtures/app-entrypoint-css/src/main.css
  packages/integrations/vue/test/fixtures/app-entrypoint-css/src/pages/index.astro
  packages/integrations/vue/test/fixtures/app-entrypoint-css/src/pages/unrelated.astro
  pnpm-lock.yaml
Labels: pkg: vue, pkg: integration, docs pr

#9620 Fix class property Vue hydration error
  .changeset/dirty-monkeys-bow.md
  packages/integrations/vue/client.js
Labels: pkg: vue, pkg: integration, docs pr

#9476 Adds automatic, seasonally appropriate messages from Houston
  .changeset/afraid-ligers-add.md
  packages/create-astro/package.json
  packages/create-astro/src/actions/context.ts
  packages/create-astro/src/actions/intro.ts
  packages/create-astro/src/actions/next-steps.ts
  packages/create-astro/src/data/seasonal.ts
  packages/create-astro/src/messages.ts
  pnpm-lock.yaml
Labels: pkg: create-astro, docs pr

#9610 fix(rss): make title optional if description is provided
  .changeset/shy-spoons-sort.md
  packages/astro-rss/src/index.ts
  packages/astro-rss/src/schema.ts
  packages/astro-rss/test/pagesGlobToRssItems.test.js
Labels: docs pr

#9560 Fix tsconfig alias with import.meta.glob
  .changeset/silent-taxis-act.md
  packages/astro/src/vite-plugin-config-alias/index.ts
  packages/astro/test/alias-tsconfig.test.js
  packages/astro/test/fixtures/alias-tsconfig/src/components/glob/a.js
  packages/astro/test/fixtures/alias-tsconfig/src/pages/index.astro
Labels: pkg: astro, docs pr

#9619 Update `plugin-toggled` to `app-toggled`
  packages/astro/src/runtime/client/dev-overlay/plugins/astro.ts
  packages/astro/src/runtime/client/dev-overlay/plugins/audit/index.ts
  packages/astro/src/runtime/client/dev-overlay/plugins/xray.ts
Labels: pkg: astro

#9626 Fix Discord release message
  .github/workflows/release.yml
  scripts/notify/index.js
Labels: 🚨 action

#9579 quality of life updates for `App`
  .changeset/cool-foxes-talk.md
  packages/astro/src/core/app/createOutgoingHttpHeaders.ts
  packages/astro/src/core/app/index.ts
  packages/astro/src/core/app/node.ts
  packages/astro/test/astro-cookies.test.js
  packages/astro/test/client-address.test.js
  packages/astro/test/units/app/headers.test.js
Labels: pkg: astro, docs pr

#9642 Fixes an issue where view transitions to the 404-page did not work
  .changeset/big-knives-own.md
  packages/astro/e2e/fixtures/view-transitions/src/pages/404.astro
  packages/astro/e2e/fixtures/view-transitions/src/pages/one.astro
  packages/astro/e2e/view-transitions.test.js
  packages/astro/src/vite-plugin-astro-server/route.ts
Labels: pkg: astro

#9637 Improve env var handling in SSR
  .changeset/curvy-socks-rhyme.md
  packages/astro/src/core/create-vite.ts
  packages/astro/src/vite-plugin-env/index.ts
Labels: pkg: astro, docs pr

#9641 fix: add metadata to build error pages
  packages/astro/src/core/errors/errors-data.ts
Labels: pkg: astro, docs pr

#9651 [docs] fix some error message syntax and add some lint rules to help
  .eslintrc.cjs
  packages/astro/src/core/errors/dev/utils.ts
  packages/astro/src/core/errors/errors-data.ts
Labels: pkg: astro, docs pr

#9657 fix(redirects): correctly compute the status code in redirects
  .changeset/honest-seas-raise.md
  packages/astro/src/core/redirects/helpers.ts
  packages/astro/src/core/routing/manifest/create.ts
Labels: pkg: astro

#9627 qol(cookies): warn when cookies are set after the headers have been sent
  .changeset/kind-waves-travel.md
  packages/astro/src/core/cookies/cookies.ts
  packages/astro/src/core/cookies/response.ts
Labels: pkg: astro

#9653 fix: pin Sharp at old version
  .changeset/twenty-stingrays-hear.md
  examples/starlog/package.json
  packages/astro/package.json
  pnpm-lock.yaml
Labels: pkg: example, pkg: astro

#9545 Fallback node standalone to localhost
  .changeset/tame-squids-film.md
  examples/ssr/src/api.ts
  packages/integrations/node/src/standalone.ts
Labels: pkg: example, pkg: integration

#9652 Use esbuild for env replacement
  .changeset/lazy-pandas-pretend.md
  .changeset/silent-pandas-rush.md
  packages/astro/src/content/vite-plugin-content-imports.ts
  packages/astro/src/vite-plugin-env/index.ts
  packages/astro/src/vite-plugin-markdown/index.ts
  packages/astro/src/vite-plugin-utils/index.ts
  packages/integrations/mdx/src/index.ts
  packages/integrations/mdx/src/recma-inject-import-meta-env.ts
  packages/integrations/mdx/test/fixtures/mdx-vite-env-vars/astro.config.mjs
  packages/integrations/mdx/test/fixtures/mdx-vite-env-vars/src/pages/vite-env-vars.mdx
  packages/integrations/mdx/test/mdx-vite-env-vars.test.js
Labels: pkg: integration, pkg: astro

#9658 Don't try to load partytown scripts in the main thread during view transitions
  .changeset/early-taxis-love.md
  packages/astro/src/transitions/router.ts
Labels: pkg: astro

#9666 Force re-execution of Partytown's head snippet on view transitions
  .changeset/afraid-suits-beam.md
  packages/integrations/partytown/src/index.ts
Labels: pkg: integration

#9668 fix(assets): Implement all hooks in the passthrough image service
  .changeset/long-mangos-walk.md
  packages/astro/src/assets/services/noop.ts
Labels: pkg: astro

#9647 refactor(toolbar): Rename every internal reference of overlay/plugins to toolbar/apps
  packages/astro/e2e/dev-toolbar.test.js
  packages/astro/e2e/fixtures/dev-toolbar/astro.config.mjs
  packages/astro/e2e/fixtures/dev-toolbar/package.json
  packages/astro/e2e/fixtures/dev-toolbar/src/components/HelloWorld.tsx
  packages/astro/e2e/fixtures/dev-toolbar/src/pages/audit-no-warning.astro
  packages/astro/e2e/fixtures/dev-toolbar/src/pages/index.astro
  packages/astro/e2e/fixtures/dev-toolbar/src/pages/tooltip-position.astro
  packages/astro/e2e/fixtures/dev-toolbar/src/pages/xray-no-islands.astro
  packages/astro/src/@types/astro.ts
  packages/astro/src/core/create-vite.ts
  packages/astro/src/runtime/client/dev-overlay/ui-library/index.ts
  packages/astro/src/runtime/client/dev-toolbar/apps/astro.ts
  packages/astro/src/runtime/client/dev-toolbar/apps/audit/a11y.ts
  packages/astro/src/runtime/client/dev-toolbar/apps/audit/index.ts
  packages/astro/src/runtime/client/dev-toolbar/apps/settings.ts
  packages/astro/src/runtime/client/dev-toolbar/apps/utils/highlight.ts
  packages/astro/src/runtime/client/dev-toolbar/apps/utils/icons.ts
  packages/astro/src/runtime/client/dev-toolbar/apps/utils/window.ts
  packages/astro/src/runtime/client/dev-toolbar/apps/xray.ts
  packages/astro/src/runtime/client/dev-toolbar/entrypoint.ts
  packages/astro/src/runtime/client/dev-toolbar/settings.ts
  packages/astro/src/runtime/client/dev-toolbar/toolbar.ts
  packages/astro/src/runtime/client/dev-toolbar/ui-library/badge.ts
  packages/astro/src/runtime/client/dev-toolbar/ui-library/button.ts
  packages/astro/src/runtime/client/dev-toolbar/ui-library/card.ts
  packages/astro/src/runtime/client/dev-toolbar/ui-library/highlight.ts
  packages/astro/src/runtime/client/dev-toolbar/ui-library/icon.ts
  packages/astro/src/runtime/client/dev-toolbar/ui-library/icons.ts
  packages/astro/src/runtime/client/dev-toolbar/ui-library/index.ts
  packages/astro/src/runtime/client/dev-toolbar/ui-library/toggle.ts
  packages/astro/src/runtime/client/dev-toolbar/ui-library/tooltip.ts
  packages/astro/src/runtime/client/dev-toolbar/ui-library/window.ts
  packages/astro/src/vite-plugin-astro-server/route.ts
  packages/astro/src/vite-plugin-dev-toolbar/vite-plugin-dev-toolbar.ts
  pnpm-lock.yaml
Labels: pkg: astro

#9665 Disable file watcher for internal one-off vite servers
  .changeset/blue-pets-battle.md
  packages/astro/src/core/config/vite-load.ts
  packages/astro/src/core/sync/index.ts
Labels: pkg: astro

#9678 fix(i18n): emit an error when the index isn't found
  .changeset/proud-guests-bake.md
  packages/astro/src/core/errors/errors-data.ts
  packages/astro/src/core/routing/manifest/create.ts
  packages/astro/test/fixtures/i18n-routing-prefix-always/src/pages/index.astro
Labels: pkg: astro, docs pr

#9582 quality of life updates for the node adapter
  .changeset/unlucky-stingrays-clean.md
  .changeset/weak-apes-add.md
  packages/astro/src/core/app/node.ts
  packages/integrations/node/src/createOutgoingHttpHeaders.ts
  packages/integrations/node/src/get-network-address.ts
  packages/integrations/node/src/http-server.ts
  packages/integrations/node/src/index.ts
  packages/integrations/node/src/log-listening-on.ts
  packages/integrations/node/src/middleware.ts
  packages/integrations/node/src/nodeMiddleware.ts
  packages/integrations/node/src/preview.ts
  packages/integrations/node/src/serve-app.ts
  packages/integrations/node/src/serve-static.ts
  packages/integrations/node/src/server.ts
  packages/integrations/node/src/standalone.ts
  packages/integrations/node/src/types.ts
  packages/integrations/node/test/bad-urls.test.js
  packages/integrations/node/test/node-middleware.test.js
  packages/integrations/node/test/prerender-404-500.test.js
  packages/integrations/node/test/prerender.test.js
  packages/integrations/node/test/test-utils.js
Labels: pkg: integration, pkg: astro

#9583 chore(vercel): delete request response conversion logic
  .changeset/early-cups-poke.md
  packages/integrations/node/package.json
  packages/integrations/vercel/package.json
  packages/integrations/vercel/src/serverless/adapter.ts
  packages/integrations/vercel/src/serverless/entrypoint.ts
  packages/integrations/vercel/src/serverless/request-transform.ts
Labels: pkg: integration

#9682 Update `check-merge` action
  .github/workflows/check-merge.yml
Labels: 🚨 action

#9685 fix(transitions router): attempt to find the clicked element within an open shadow root
  .changeset/weak-planes-help.md
  packages/astro/components/ViewTransitions.astro
  packages/astro/e2e/fixtures/view-transitions/src/pages/one.astro
  packages/astro/e2e/view-transitions.test.js
Labels: pkg: astro

#9683 adapter enhancement: revert exposing symbols
  .changeset/cool-foxes-talk.md
  packages/astro/src/core/app/index.ts
  packages/astro/src/core/app/node.ts
  packages/integrations/node/src/serve-app.ts
Labels: pkg: integration, pkg: astro

#9693 Opt-out ViewTransition for cross-origin form.
  .changeset/poor-cherries-buy.md
  packages/astro/components/ViewTransitions.astro
  packages/astro/e2e/fixtures/view-transitions/src/pages/form-five.astro
  packages/astro/e2e/view-transitions.test.js
Labels: pkg: astro

#9664 Add fallback compile for astro script and style load
  .changeset/friendly-needles-invite.md
  packages/astro/src/vite-plugin-astro/index.ts
Labels: pkg: astro

#9706 Simplify HMR for circular imports and CSS
  .changeset/curvy-seas-explain.md
  .changeset/tidy-planets-whisper.md
  packages/astro/e2e/fixtures/tailwindcss/astro.config.mjs
  packages/astro/e2e/fixtures/tailwindcss/src/components/Layout.astro
  packages/astro/e2e/fixtures/tailwindcss/src/pages/index.astro
  packages/astro/src/core/logger/vite.ts
  packages/astro/src/vite-plugin-astro/compile.ts
  packages/astro/src/vite-plugin-astro/hmr.ts
  packages/astro/src/vite-plugin-astro/index.ts
  packages/astro/src/vite-plugin-astro/query.ts
  packages/astro/test/units/vite-plugin-astro/compile.test.js
  packages/integrations/mdx/src/index.ts
Labels: pkg: integration, pkg: astro

#9661 Adapter enhancements
  .changeset/cool-foxes-talk.md
  .changeset/early-cups-poke.md
  .changeset/tame-squids-film.md
  .changeset/unlucky-stingrays-clean.md
  .changeset/weak-apes-add.md
  examples/ssr/src/api.ts
  packages/astro/src/core/app/createOutgoingHttpHeaders.ts
  packages/astro/src/core/app/index.ts
  packages/astro/src/core/app/node.ts
  packages/astro/test/astro-cookies.test.js
  packages/astro/test/client-address.test.js
  packages/astro/test/units/app/headers.test.js
  packages/integrations/node/package.json
  packages/integrations/node/src/get-network-address.ts
  packages/integrations/node/src/http-server.ts
  packages/integrations/node/src/index.ts
  packages/integrations/node/src/log-listening-on.ts
  packages/integrations/node/src/middleware.ts
  packages/integrations/node/src/nodeMiddleware.ts
  packages/integrations/node/src/preview.ts
  packages/integrations/node/src/serve-app.ts
  packages/integrations/node/src/serve-static.ts
  packages/integrations/node/src/server.ts
  packages/integrations/node/src/standalone.ts
  packages/integrations/node/src/types.ts
  packages/integrations/node/test/bad-urls.test.js
  packages/integrations/node/test/node-middleware.test.js
  packages/integrations/node/test/prerender-404-500.test.js
  packages/integrations/node/test/prerender.test.js
  packages/integrations/node/test/test-utils.js
  packages/integrations/vercel/package.json
  packages/integrations/vercel/src/serverless/adapter.ts
  packages/integrations/vercel/src/serverless/entrypoint.ts
  packages/integrations/vercel/src/serverless/request-transform.ts
Labels: pkg: example, pkg: integration, pkg: astro, semver: minor

#9644 feat: add experimental client prerender
  .changeset/sixty-dogs-sneeze.md
  packages/astro/e2e/prefetch.test.js
  packages/astro/src/@types/astro.ts
  packages/astro/src/core/config/schema.ts
  packages/astro/src/prefetch/index.ts
  packages/astro/src/prefetch/vite-plugin-prefetch.ts
Labels: pkg: astro, docs pr

#9671 [Content collections] Remove "unsupported file type" warning
  .changeset/itchy-clouds-invite.md
  packages/astro/src/content/types-generator.ts
  packages/astro/src/content/utils.ts
  packages/astro/test/units/content-collections/get-entry-type.test.js
Labels: pkg: astro, semver: minor

#9643 Bump shikiji, use transformers API, expose transformers API
  .changeset/polite-dogs-join.md
  .changeset/six-scissors-worry.md
  packages/astro/package.json
  packages/astro/src/core/config/schema.ts
  packages/astro/src/core/errors/dev/vite.ts
  packages/astro/src/core/errors/overlay.ts
  packages/integrations/markdoc/package.json
  packages/markdown/remark/package.json
  packages/markdown/remark/src/index.ts
  packages/markdown/remark/src/shiki.ts
  packages/markdown/remark/src/types.ts
  pnpm-lock.yaml
Labels: feat: markdown, pkg: integration, pkg: astro, semver: minor

#9566 Allow remark plugins to affect getImage call for .md files
  .changeset/calm-socks-shake.md
  packages/astro/src/vite-plugin-markdown/images.ts
  packages/astro/test/core-image-remark-imgattr.test.js
  packages/astro/test/fixtures/core-image-remark-imgattr/astro.config.mjs
  packages/astro/test/fixtures/core-image-remark-imgattr/package.json
  packages/astro/test/fixtures/core-image-remark-imgattr/remarkPlugin.js
  packages/astro/test/fixtures/core-image-remark-imgattr/src/assets/penguin2.jpg
  packages/astro/test/fixtures/core-image-remark-imgattr/src/pages/index.md
  packages/astro/test/fixtures/core-image-remark-imgattr/tsconfig.json
  packages/markdown/remark/src/rehype-images.ts
  packages/markdown/remark/test/remark-collect-images.test.js
  pnpm-lock.yaml
Labels: feat: markdown, pkg: astro, semver: minor

#9638 feat(i18n): disable redirect to default language
  .changeset/cyan-grapes-suffer.md
  packages/astro/src/@types/astro.ts
  packages/astro/src/core/app/types.ts
  packages/astro/src/core/config/schema.ts
  packages/astro/src/core/endpoint/index.ts
  packages/astro/src/core/render/context.ts
  packages/astro/src/core/render/result.ts
  packages/astro/src/core/routing/manifest/create.ts
  packages/astro/src/i18n/index.ts
  packages/astro/src/i18n/middleware.ts
  packages/astro/test/fixtures/i18n-routing-prefix-always/src/pages/index.astro
  packages/astro/test/i18n-routing.test.js
  packages/astro/test/units/config/config-validate.test.js
  packages/astro/test/units/i18n/astro_i18n.test.js
Labels: pkg: astro, semver: minor, docs pr

#9439 Implement priority overrides for injected routes and redirects
  .changeset/short-keys-bow.md
  .changeset/smooth-cobras-help.md
  packages/astro/src/@types/astro.ts
  packages/astro/src/core/config/schema.ts
  packages/astro/src/core/routing/manifest/create.ts
  packages/astro/test/units/routing/manifest.test.js
Labels: pkg: astro, semver: minor, docs pr

#9704 @astrojs/sitemap: Fixes generated URLs when using a `base` with a SSR adapter
  .changeset/curly-seals-count.md
  packages/integrations/sitemap/src/index.ts
  packages/integrations/sitemap/test/base-path.test.js
Labels: pkg: integration

#9713 [docs] fix syntax error, avoid a Markdown table
  packages/astro/src/@types/astro.ts
Labels: pkg: astro, docs pr

#9721 Fix eslint warnings
  packages/astro-rss/test/rss.test.js
  packages/astro/src/assets/endpoint/generic.ts
  packages/astro/src/assets/endpoint/node.ts
  packages/astro/src/cli/preferences/index.ts
  packages/astro/src/core/app/node.ts
  packages/astro/src/core/build/generate.ts
  packages/astro/src/core/logger/node.ts
  packages/astro/src/i18n/middleware.ts
  packages/astro/src/runtime/server/endpoint.ts
  packages/astro/src/runtime/server/render/util.ts
  packages/astro/test/i18n-routing.test.js
  packages/astro/test/ssr-error-pages.test.js
  packages/astro/test/units/routing/manifest.test.js
Labels: pkg: astro

#9726 Fix regression in the routing priority of index routes
  .changeset/smart-rules-train.md
  packages/astro/src/core/routing/manifest/create.ts
  packages/astro/test/units/routing/manifest.test.js
Labels: pkg: astro

#9381 makes the output of 'astro preferences list' more verbose
  .changeset/selfish-donuts-approve.md
  packages/astro/src/cli/preferences/index.ts
  packages/astro/src/preferences/index.ts
Labels: pkg: astro

#9712 Refactor style-only HMR cache and performance
  .changeset/eight-turtles-itch.md
  packages/astro/src/core/compile/cache.ts
  packages/astro/src/core/compile/index.ts
  packages/astro/src/vite-plugin-astro/compile.ts
  packages/astro/src/vite-plugin-astro/hmr.ts
  packages/astro/src/vite-plugin-astro/index.ts
  packages/astro/src/vite-plugin-astro/types.ts
  packages/astro/test/units/compile/invalid-css.test.js
  packages/astro/test/units/vite-plugin-astro/compile.test.js
Labels: pkg: astro

#9730 fix getRelativeLocaleUrl when redirectToDefaultLocale is false
  .changeset/sweet-owls-trade.md
  packages/astro/src/i18n/index.ts
  packages/astro/test/units/i18n/astro_i18n.test.js
Labels: pkg: astro

#9736 Fix `@astrojs/markdown-remark` bundling for non-node runtimes
  .changeset/lemon-carrots-cheer.md
  packages/markdown/remark/src/load-plugins.ts
Labels: feat: markdown

#9738 Make `@astrojs/markdown-remark` browser-safe
  .changeset/thick-carrots-run.md
  packages/markdown/remark/package.json
  packages/markdown/remark/src/import-plugin-browser.ts
  packages/markdown/remark/src/import-plugin-default.ts
  packages/markdown/remark/src/load-plugins.ts
  packages/markdown/remark/test/browser.test.js
  packages/markdown/remark/tsconfig.json
  pnpm-lock.yaml
Labels: feat: markdown

#9741 Fix dot files not being copied over on non-root builds (#9740)
  .changeset/slimy-jobs-smash.md
  packages/astro/src/core/build/static-build.ts
Labels: pkg: astro

#9739 fix(i18n): pass `build.format` when computing the redirect
  .changeset/fifty-pots-greet.md
  packages/astro/src/core/app/index.ts
  packages/astro/src/core/app/types.ts
  packages/astro/src/core/build/generate.ts
  packages/astro/src/core/build/plugins/plugin-manifest.ts
  packages/astro/src/i18n/middleware.ts
  packages/astro/src/vite-plugin-astro-server/plugin.ts
  packages/astro/src/vite-plugin-astro-server/route.ts
  packages/astro/test/i18n-routing.test.js
Labels: pkg: astro

#9762 fix: add missing attribute to button
  .changeset/lazy-fireants-clap.md
  packages/astro/astro-jsx.d.ts
Labels: pkg: astro

#9767 Add new top-level passthrough config option
  packages/astro/src/@types/astro.ts
  packages/astro/src/cli/db/index.ts
  packages/astro/src/cli/index.ts
  packages/astro/src/core/config/schema.ts
Labels: pkg: astro, docs pr

#9723 normalize class property
  .changeset/nervous-dodos-compete.md
  packages/markdown/remark/src/shiki.ts
Labels: feat: markdown

#9768 fix: handle error at load for apps
  .changeset/honest-impalas-walk.md
  packages/astro/src/@types/astro.ts
  packages/astro/src/core/logger/core.ts
  packages/astro/src/runtime/client/dev-toolbar/apps/settings.ts
  packages/astro/src/runtime/client/dev-toolbar/entrypoint.ts
  packages/astro/src/runtime/client/dev-toolbar/settings.ts
  packages/astro/src/runtime/client/dev-toolbar/toolbar.ts
  packages/astro/src/vite-plugin-dev-toolbar/vite-plugin-dev-toolbar.ts
Labels: pkg: astro, docs pr

#9774 Change way args are passed to cli packages
  packages/astro/src/cli/db/index.ts
Labels: pkg: astro

#9585 fix(vercel): edge middleware
  .changeset/brown-parents-sniff.md
  packages/integrations/vercel/src/lib/fs.ts
  packages/integrations/vercel/src/serverless/adapter.ts
  packages/integrations/vercel/src/serverless/entrypoint.ts
  packages/integrations/vercel/src/serverless/middleware.ts
  packages/integrations/vercel/src/static/adapter.ts
  packages/integrations/vercel/test/edge-middleware.test.js
  packages/integrations/vercel/test/max-duration.test.js
  packages/integrations/vercel/test/streaming.test.js
Labels: pkg: integration

#9780 fix(portfolio): set min-height to 100% on html and body
  examples/portfolio/src/styles/global.css
Labels: pkg: example

#9773 fix: vite security issue
  .changeset/tricky-cobras-provide.md
  packages/astro/package.json
  packages/integrations/markdoc/package.json
  packages/integrations/mdx/package.json
  packages/integrations/react/package.json
  packages/integrations/svelte/package.json
  packages/integrations/tailwind/package.json
  packages/integrations/vue/package.json
  pnpm-lock.yaml
Labels: pkg: svelte, pkg: vue, pkg: react, pkg: integration, pkg: astro

#9775 refactor: remove endpoint handling infra
  .changeset/tall-comics-punch.md
  packages/astro/src/core/app/index.ts
  packages/astro/src/core/app/ssrPipeline.ts
  packages/astro/src/core/build/buildPipeline.ts
  packages/astro/src/core/build/generate.ts
  packages/astro/src/core/pipeline.ts
  packages/astro/src/runtime/server/endpoint.ts
  packages/astro/src/vite-plugin-astro-server/devPipeline.ts
Labels: pkg: astro

#9787 fix: update vitest
  examples/with-vitest/package.json
  pnpm-lock.yaml
Labels: pkg: example

#9796 Fix release announcement script
  .github/scripts/announce.js
  .github/scripts/utils.mjs
  .github/workflows/release.yml
Labels: 🚨 action

#9792 fix: accept the 'switch' aria role during a11y checks
  .changeset/large-phones-guess.md
  packages/astro/src/runtime/client/dev-toolbar/apps/audit/a11y.ts
Labels: pkg: astro

#9800 Fix release announcement script (again)
  .github/workflows/release.yml
Labels: 🚨 action

#9781 Fix build failure when image file name includes special characters
  .changeset/weak-plums-sip.md
  packages/astro/src/vite-plugin-markdown/images.ts
  packages/astro/test/core-image.test.js
  packages/astro/test/fixtures/core-image/src/assets/c++.png
  packages/astro/test/fixtures/core-image/src/pages/specialChars.md
Labels: pkg: astro

#9753 MDX remark image props
  .changeset/quick-cars-kneel.md
  packages/integrations/mdx/src/plugins.ts
  packages/integrations/mdx/src/remark-images-to-component.ts
  packages/integrations/mdx/test/fixtures/image-remark-imgattr/astro.config.mjs
  packages/integrations/mdx/test/fixtures/image-remark-imgattr/package.json
  packages/integrations/mdx/test/fixtures/image-remark-imgattr/remarkPlugin.js
  packages/integrations/mdx/test/fixtures/image-remark-imgattr/src/assets/penguin2.jpg
  packages/integrations/mdx/test/fixtures/image-remark-imgattr/src/pages/index.mdx
  packages/integrations/mdx/test/remark-imgattr.test.js
  pnpm-lock.yaml
Labels: pkg: integration

#9606 Fix `.html` file escaping
  .changeset/metal-garlics-exercise.md
  packages/astro/src/vite-plugin-html/transform/escape.ts
  packages/astro/src/vite-plugin-html/transform/slots.ts
  packages/astro/src/vite-plugin-html/transform/utils.ts
  packages/astro/test/fixtures/html-escape-complex/package.json
  packages/astro/test/fixtures/html-escape-complex/src/pages/index.html
  packages/astro/test/html-escape-complex.test.js
  pnpm-lock.yaml
Labels: pkg: astro

#9786 Fix regression on dynamic sibling trees and index inside rest parameter folders
  .changeset/six-shrimps-glow.md
  packages/astro/src/core/routing/manifest/create.ts
  packages/astro/src/prerender/utils.ts
  packages/astro/test/units/routing/manifest.test.js
Labels: pkg: astro

#9799 deps: bump peer deps to 4.0
  examples/component/package.json
  examples/integration/package.json
Labels: pkg: example

#9680 Fix for #9673
  .changeset/breezy-plants-smoke.md
  packages/astro/src/content/types-generator.ts
Labels: pkg: astro

#9807 Fix env var replacement for export const prerender
  .changeset/strange-students-shake.md
  packages/astro/src/vite-plugin-env/index.ts
  packages/integrations/node/test/prerender.test.js
Labels: pkg: integration, pkg: astro

#9751 feat(alpinejs): allow customizing the Alpine instance
  .changeset/heavy-beers-tickle.md
  packages/integrations/alpinejs/package.json
  packages/integrations/alpinejs/src/index.ts
  packages/integrations/alpinejs/test/basics.test.js
  packages/integrations/alpinejs/test/directive.test.js
  packages/integrations/alpinejs/test/fixtures/basics/astro.config.mjs
  packages/integrations/alpinejs/test/fixtures/basics/package.json
  packages/integrations/alpinejs/test/fixtures/basics/src/pages/index.astro
  packages/integrations/alpinejs/test/fixtures/directive/astro.config.mjs
  packages/integrations/alpinejs/test/fixtures/directive/package.json
  packages/integrations/alpinejs/test/fixtures/directive/src/entrypoint.ts
  packages/integrations/alpinejs/test/fixtures/directive/src/pages/index.astro
  packages/integrations/alpinejs/test/test-utils.js
  pnpm-lock.yaml
Labels: pkg: integration

#9790 refactor: unsplit `astro:i18n` module
  .changeset/tame-crabs-reply.md
  packages/astro/client.d.ts
  packages/astro/src/core/create-vite.ts
  packages/astro/src/core/errors/errors-data.ts
  packages/astro/src/i18n/index.ts
  packages/astro/src/i18n/middleware.ts
  packages/astro/src/i18n/vite-plugin-i18n.ts
  packages/astro/src/virtual-modules/i18n.ts
Labels: pkg: astro, docs pr

#9809 fix(vercel): make Astro.cookies work again
  .changeset/two-ducks-give.md
  packages/integrations/vercel/src/serverless/entrypoint.ts
Labels: pkg: integration

#9816 feat: Add telemetry for toolbar apps
  .changeset/spicy-tips-remember.md
  packages/astro/src/events/toolbar.ts
  packages/astro/src/runtime/client/dev-toolbar/toolbar.ts
  packages/astro/src/vite-plugin-dev-toolbar/vite-plugin-dev-toolbar.ts
Labels: pkg: astro

#9815 [docs] reorder items for configuration reference page
  packages/astro/src/@types/astro.ts
Labels: pkg: astro, docs pr

#9813 fix(create-astro): @astrojs/check and typescript addition
  .changeset/seven-kiwis-join.md
  packages/create-astro/src/actions/context.ts
  packages/create-astro/src/actions/typescript.ts
  packages/create-astro/src/messages.ts
Labels: pkg: create-astro

#9812 chore(alpinejs): add e2e test
  packages/integrations/alpinejs/test/fixtures/plugin-script-import/astro.config.mjs
  packages/integrations/alpinejs/test/fixtures/plugin-script-import/package.json
  packages/integrations/alpinejs/test/fixtures/plugin-script-import/src/pages/index.astro
  packages/integrations/alpinejs/test/plugin-script-import.test.js
  pnpm-lock.yaml
Labels: pkg: integration

#9804 Fix: update doc links
  examples/with-markdoc/src/components/Aside.astro
  packages/astro/performance/fixtures/utils/Aside.astro
  packages/create-astro/src/index.ts
  packages/integrations/markdoc/test/fixtures/propagated-assets/src/components/Aside.astro
  packages/integrations/markdoc/test/fixtures/render-html/src/components/Aside.astro
Labels: pkg: example, pkg: integration, pkg: create-astro, pkg: astro

#9080 feat(node): add trailingSlash support
  .changeset/calm-jobs-pay.md
  packages/integrations/node/src/serve-static.ts
  packages/integrations/node/src/server.ts
  packages/integrations/node/src/types.ts
  packages/integrations/node/test/fixtures/trailing-slash/astro.config.mjs
  packages/integrations/node/test/fixtures/trailing-slash/package.json
  packages/integrations/node/test/fixtures/trailing-slash/src/pages/index.astro
  packages/integrations/node/test/fixtures/trailing-slash/src/pages/one.astro
  packages/integrations/node/test/prerender.test.js
  packages/integrations/node/test/trailing-slash.js
  pnpm-lock.yaml
Labels: pkg: integration

#9758 chore(@astrojs/node): use Node.js for testing
  packages/integrations/node/package.json
  packages/integrations/node/test/api-route.test.js
  packages/integrations/node/test/assets.test.js
  packages/integrations/node/test/bad-urls.test.js
  packages/integrations/node/test/encoded.test.js
  packages/integrations/node/test/errors.test.js
  packages/integrations/node/test/headers.test.js
  packages/integrations/node/test/image.test.js
  packages/integrations/node/test/locals.test.js
  packages/integrations/node/test/node-middleware.test.js
  packages/integrations/node/test/prerender-404-500.test.js
  packages/integrations/node/test/prerender.test.js
  packages/integrations/node/test/test-utils.js
  packages/integrations/node/test/url-protocol.test.js
  packages/integrations/node/test/well-known-locations.test.js
  pnpm-lock.yaml
  scripts/cmd/test.js
Labels: pkg: integration

#9817 Remove `create-astro` version cache
  packages/create-astro/src/actions/typescript.ts
  packages/create-astro/src/index.ts
  packages/create-astro/src/messages.ts
Labels: pkg: create-astro

#9830 fix(dev): dont reroute endpoint responses
  .changeset/rotten-masks-rhyme.md
  packages/astro/src/core/app/index.ts
  packages/astro/src/runtime/server/consts.ts
  packages/astro/src/runtime/server/endpoint.ts
  packages/astro/src/vite-plugin-astro-server/route.ts
  packages/astro/test/dev-routing.test.js
  packages/astro/test/fixtures/with-endpoint-routes/src/pages/404.astro
  packages/astro/test/fixtures/with-endpoint-routes/src/pages/not-ok.ts
Labels: pkg: astro

#9776 refactor: singular middleware
  .changeset/twenty-papayas-agree.md
  packages/astro/src/core/app/common.ts
  packages/astro/src/core/app/index.ts
  packages/astro/src/core/app/types.ts
  packages/astro/src/core/build/generate.ts
  packages/astro/src/core/build/plugins/plugin-manifest.ts
  packages/astro/src/core/build/plugins/plugin-pages.ts
  packages/astro/src/core/build/plugins/plugin-ssr.ts
  packages/astro/src/core/middleware/vite-plugin.ts
  packages/astro/src/vite-plugin-astro-server/plugin.ts
  packages/astro/src/vite-plugin-astro-server/route.ts
Labels: pkg: astro

#9822 fix: fix `transition:name` can be unicode
  .changeset/cold-bobcats-shave.md
  packages/astro/e2e/fixtures/view-transitions/src/components/Layout.astro
  packages/astro/e2e/fixtures/view-transitions/src/pages/transition-name.astro
  packages/astro/e2e/view-transitions.test.js
  packages/astro/package.json
  packages/astro/src/runtime/server/transition.ts
  pnpm-lock.yaml
Labels: pkg: astro

#9828 fix(core): don't noop shared modules
  .changeset/real-dodos-worry.md
  packages/astro/src/core/build/page-data.ts
  packages/astro/src/core/build/plugins/plugin-prerender.ts
  packages/astro/src/core/build/static-build.ts
  packages/astro/src/core/build/types.ts
  packages/integrations/node/test/fixtures/prerender/src/middleware.ts
  packages/integrations/node/test/fixtures/prerender/src/pages/third.astro
  packages/integrations/node/test/fixtures/prerender/src/shared.ts
  packages/integrations/node/test/prerender.test.js
Labels: pkg: integration, pkg: astro

#9825 fix(audit): mark widget roles as interactive
  .changeset/old-actors-taste.md
  packages/astro/src/runtime/client/dev-toolbar/apps/audit/a11y.ts
Labels: pkg: astro

#9834 fix(toolbar): Fix loading third-party apps using absolute paths
  .changeset/real-lamps-design.md
  packages/astro/e2e/dev-toolbar.test.js
  packages/astro/e2e/fixtures/dev-toolbar/astro.config.mjs
  packages/astro/e2e/fixtures/dev-toolbar/custom-integration.js
  packages/astro/e2e/fixtures/dev-toolbar/custom-plugin.js
  packages/astro/src/vite-plugin-dev-toolbar/vite-plugin-dev-toolbar.ts
Labels: pkg: astro

#9840 Expose `ContentConfig` type from `astro:content`
  .changeset/famous-seas-press.md
  packages/astro/content-types.template.d.ts
Labels: pkg: astro

#9848 remove unused prop in blog template
  examples/blog/src/pages/index.astro
Labels: pkg: example

#9865 fix(i18n): compute current locale from route instead of request
  .changeset/large-kangaroos-camp.md
  packages/astro/src/core/constants.ts
  packages/astro/src/core/render/context.ts
  packages/astro/src/i18n/middleware.ts
  packages/astro/test/fixtures/i18n-routing-fallback/src/pages/pt/start.astro
  packages/astro/test/i18n-routing.test.js
Labels: pkg: astro

#9838 fix(i18n): use `define` to deliver config to virtual module
  .changeset/silent-buckets-retire.md
  packages/astro/src/i18n/vite-plugin-i18n.ts
  packages/astro/src/virtual-modules/i18n.ts
Labels: pkg: astro

#9866 Fix a bug that Japanese files were not displayed correctly.
  .changeset/cool-colts-watch.md
  packages/astro/test/astro-assets-prefix.test.js
  packages/astro/test/fixtures/astro-assets-prefix/src/assets/ペンギン.jpg
  packages/astro/test/fixtures/astro-assets-prefix/src/pages/markdown.md
  packages/markdown/remark/src/rehype-images.ts
Labels: feat: markdown, pkg: astro

#9867 chore: add rule `switch-exhaustiveness-check`
  .eslintrc.cjs
  packages/astro/src/assets/services/squoosh.ts
  packages/astro/src/cli/add/index.ts
  packages/astro/src/core/app/types.ts
  packages/astro/src/preferences/index.ts
  packages/astro/src/runtime/client/dev-toolbar/apps/settings.ts
  packages/astro/src/runtime/server/scripts.ts
  packages/astro/src/vite-plugin-astro/types.ts
  packages/integrations/node/test/encoded.test.js
  packages/integrations/node/test/headers.test.js
  packages/integrations/node/test/locals.test.js
Labels: pkg: integration, pkg: astro

#9694 chore: support isActive link all subpages
  examples/blog/src/components/HeaderLink.astro
Labels: pkg: example

#9876 Fix endpoint response with immutable header
  .changeset/silver-peaches-pump.md
  packages/astro/src/runtime/server/endpoint.ts
  packages/astro/test/units/routing/endpoints.test.js
Labels: pkg: astro

#9878 fix(ssg): consider trailingSlash for url
  .changeset/wet-rivers-do.md
  packages/astro/src/core/build/generate.ts
  packages/astro/test/astro-get-static-paths.test.js
Labels: pkg: astro

#9882 Improves YAML error handling consistency
  .changeset/twelve-humans-remain.md
  packages/astro/src/content/utils.ts
  packages/astro/src/vite-plugin-markdown/content-entry-type.ts
  packages/astro/src/vite-plugin-markdown/index.ts
Labels: pkg: astro

#9884 fix(dev): prevent comma-separating multiple Set-Cookie headers
  .changeset/long-peaches-fetch.md
  packages/astro/src/vite-plugin-astro-server/response.ts
  packages/astro/test/units/vite-plugin-astro-server/response.test.js
Labels: pkg: astro

#9899 chore(@astrojs/integrations/react) Migrate tests to `node:test` for `@astrojs/react`
  packages/integrations/react/package.json
  packages/integrations/react/test/parsed-react-children.test.js
  packages/integrations/react/test/react-component.test.js
  pnpm-lock.yaml
Labels: pkg: react, pkg: integration

#9891 chore(@astrojs/integrations/sitemap): use Node.js for testing
  packages/integrations/sitemap/package.json
  packages/integrations/sitemap/test/base-path.test.js
  packages/integrations/sitemap/test/filter.test.js
  packages/integrations/sitemap/test/routes.test.js
  packages/integrations/sitemap/test/ssr.test.js
  packages/integrations/sitemap/test/staticPaths.test.js
  packages/integrations/sitemap/test/trailing-slash.test.js
  pnpm-lock.yaml
Labels: pkg: integration

#9894 chore(@astrojs/mdx): use Node.js for testing
  packages/integrations/mdx/package.json
  packages/integrations/mdx/test/css-head-mdx.test.js
  packages/integrations/mdx/test/invalid-mdx-component.test.js
  packages/integrations/mdx/test/mdx-astro-markdown-remarkRehype.test.js
  packages/integrations/mdx/test/mdx-component.test.js
  packages/integrations/mdx/test/mdx-escape.test.js
  packages/integrations/mdx/test/mdx-frontmatter-injection.test.js
  packages/integrations/mdx/test/mdx-frontmatter.test.js
  packages/integrations/mdx/test/mdx-get-headings.test.js
  packages/integrations/mdx/test/mdx-get-static-paths.test.js
  packages/integrations/mdx/test/mdx-images.test.js
  packages/integrations/mdx/test/mdx-infinite-loop.test.js
  packages/integrations/mdx/test/mdx-math.test.js
  packages/integrations/mdx/test/mdx-namespace.test.js
  packages/integrations/mdx/test/mdx-optimize.test.js
  packages/integrations/mdx/test/mdx-page.test.js
  packages/integrations/mdx/test/mdx-plugins.test.js
  packages/integrations/mdx/test/mdx-plus-react.test.js
  packages/integrations/mdx/test/mdx-script-style-raw.test.js
  packages/integrations/mdx/test/mdx-slots.test.js
  packages/integrations/mdx/test/mdx-syntax-highlighting.test.js
  packages/integrations/mdx/test/mdx-url-export.test.js
  packages/integrations/mdx/test/mdx-vite-env-vars.test.js
  packages/integrations/mdx/test/remark-imgattr.test.js
  pnpm-lock.yaml
Labels: pkg: integration

#9900 Revert "chore(@astrojs/integrations/sitemap): use Node.js for testing (#9891)"
  packages/integrations/sitemap/package.json
  packages/integrations/sitemap/test/base-path.test.js
  packages/integrations/sitemap/test/filter.test.js
  packages/integrations/sitemap/test/routes.test.js
  packages/integrations/sitemap/test/ssr.test.js
  packages/integrations/sitemap/test/staticPaths.test.js
  packages/integrations/sitemap/test/trailing-slash.test.js
  pnpm-lock.yaml
Labels: pkg: integration

#9892 chore(@astrojs/sitemap): migrate tests to `node:test`
  packages/integrations/sitemap/package.json
  packages/integrations/sitemap/test/base-path.test.js
  packages/integrations/sitemap/test/filter.test.js
  packages/integrations/sitemap/test/routes.test.js
  packages/integrations/sitemap/test/ssr.test.js
  packages/integrations/sitemap/test/staticPaths.test.js
  packages/integrations/sitemap/test/trailing-slash.test.js
  pnpm-lock.yaml
Labels: pkg: integration

#9897 chore(@astrojs/markdoc): use Node.js for testing
  packages/integrations/markdoc/package.json
  packages/integrations/markdoc/test/content-collections.test.js
  packages/integrations/markdoc/test/headings.test.js
  packages/integrations/markdoc/test/image-assets.test.js
  packages/integrations/markdoc/test/propagated-assets.test.js
  packages/integrations/markdoc/test/render-html.test.js
  packages/integrations/markdoc/test/render.test.js
  packages/integrations/markdoc/test/syntax-highlighting.test.js
  packages/integrations/markdoc/test/variables.test.js
  pnpm-lock.yaml
Labels: pkg: integration

#9839 Add `ComponentProps` util
  .changeset/cuddly-moons-hang.md
  packages/astro/types.d.ts
Labels: pkg: astro, semver: minor

#9159 Add CLI shortcuts
  .changeset/old-cherries-beg.md
  packages/astro/src/core/dev/restart.ts
  packages/astro/src/core/logger/vite.ts
  packages/astro/src/core/messages.ts
Labels: pkg: astro, semver: minor

#9755 Allow images in content collections folder to be used without relative import prefix
  .changeset/young-eyes-film.md
  packages/astro/src/vite-plugin-markdown/images.ts
  packages/astro/test/core-image.test.js
  packages/astro/test/fixtures/core-image/src/content/blog/blogfolder.jpg
  packages/astro/test/fixtures/core-image/src/content/blog/one.md
Labels: pkg: astro, semver: minor

#9764 Implements build.format: 'preserve'
  .changeset/tame-flies-confess.md
  packages/astro/src/@types/astro.ts
  packages/astro/src/core/app/types.ts
  packages/astro/src/core/build/common.ts
  packages/astro/src/core/build/generate.ts
  packages/astro/src/core/build/plugins/plugin-manifest.ts
  packages/astro/src/core/build/util.ts
  packages/astro/src/core/config/schema.ts
  packages/astro/src/core/routing/manifest/create.ts
  packages/astro/src/core/routing/manifest/serialization.ts
  packages/astro/src/vite-plugin-astro-server/route.ts
  packages/astro/test/astro-pageDirectoryUrl.test.js
  packages/astro/test/fixtures/page-format/src/pages/en/index.astro
  packages/astro/test/fixtures/page-format/src/pages/en/nested/index.astro
  packages/astro/test/fixtures/page-format/src/pages/en/nested/page.astro
  packages/astro/test/fixtures/page-format/src/pages/index.astro
  packages/astro/test/fixtures/page-format/src/pages/nested/index.astro
  packages/astro/test/page-format.test.js
Labels: pkg: astro, semver: minor, docs pr

#9901 chore(`@astrojs/vue`): use Node.js for testing
  packages/integrations/vue/package.json
  packages/integrations/vue/test/app-entrypoint-css.test.js
  packages/integrations/vue/test/app-entrypoint.test.js
  packages/integrations/vue/test/basics.test.js
  pnpm-lock.yaml
Labels: pkg: vue, pkg: integration

#9885 Provide better ignores for Vercel's file tracer
  .changeset/poor-tips-turn.md
  packages/integrations/vercel/package.json
  packages/integrations/vercel/src/lib/nft.ts
  pnpm-lock.yaml
Labels: pkg: integration

#9911 Silently ignore adapters that don't export `start()`
  .changeset/tiny-moose-melt.md
  packages/astro/src/core/build/plugins/plugin-ssr.ts
Labels: pkg: astro
