Repository withastro/astro, pull requests merged in 2024-09, with the labels that each got.

#11884 fix: separate image extraction from schema parsing in content layer
  .changeset/odd-tips-jam.md
  packages/astro/src/content/content-layer.ts
  packages/astro/src/content/data-store.ts
  packages/astro/src/content/loaders/glob.ts
  packages/astro/src/content/mutable-data-store.ts
  packages/astro/test/content-layer.test.js
  packages/astro/test/fixtures/content-layer/content-outside-src/columbia-copy.md
  packages/astro/test/fixtures/content-layer/src/content/config.ts
  packages/astro/test/fixtures/content-layer/src/pages/collections.json.js
Labels: pkg: astro

#11802 docs: rework docs around errors
  packages/astro/src/core/errors/README.md
  packages/astro/src/core/errors/errors-data.ts
Labels: pkg: astro, pr: docs, docs pr

#11901 Fix examples version update for removed packages
  examples/hackernews/package.json
  examples/middleware/package.json
  examples/server-islands/package.json
  examples/ssr/package.json
  examples/view-transitions/package.json
  pnpm-lock.yaml
  scripts/deps/update-example-versions.js
Labels: pkg: example

#11825 Refactor createShikiHighlighter
  .changeset/breezy-colts-promise.md
  .changeset/hungry-jokes-try.md
  .changeset/large-zebras-sniff.md
  packages/astro/components/Code.astro
  packages/integrations/markdoc/src/extensions/shiki.ts
  packages/markdown/remark/src/highlight.ts
  packages/markdown/remark/src/index.ts
  packages/markdown/remark/src/rehype-shiki.ts
  packages/markdown/remark/src/shiki.ts
  packages/markdown/remark/src/types.ts
  packages/markdown/remark/test/shiki.test.js
Labels: feat: markdown, pkg: integration, pkg: astro, semver: major

#11895 Remove unused types
  packages/astro/package.json
  pnpm-lock.yaml
Labels: pkg: astro

#11819 Set external: true when loading astro config
  .changeset/moody-waves-think.md
  packages/astro/src/core/config/vite-load.ts
Labels: pkg: astro, semver: major

#11861 Clean up Astro metadata in vfile.data
  .changeset/clean-donuts-walk.md
  .changeset/selfish-cats-crash.md
  .changeset/twelve-comics-march.md
  packages/astro/src/vite-plugin-markdown/content-entry-type.ts
  packages/astro/src/vite-plugin-markdown/index.ts
  packages/integrations/mdx/src/plugins.ts
  packages/integrations/mdx/src/rehype-apply-frontmatter-export.ts
  packages/integrations/mdx/src/rehype-collect-headings.ts
  packages/integrations/mdx/src/rehype-images-to-component.ts
  packages/integrations/mdx/src/vite-plugin-mdx.ts
  packages/markdown/remark/package.json
  packages/markdown/remark/src/frontmatter-injection.ts
  packages/markdown/remark/src/frontmatter.ts
  packages/markdown/remark/src/index.ts
  packages/markdown/remark/src/internal.ts
  packages/markdown/remark/src/rehype-collect-headings.ts
  packages/markdown/remark/src/rehype-images.ts
  packages/markdown/remark/src/remark-collect-images.ts
  packages/markdown/remark/src/types.ts
  packages/markdown/remark/test/remark-collect-images.test.js
Labels: feat: markdown, pkg: integration, pkg: astro, semver: major

#11878 feat: allow integrations to refresh content layer data
  .changeset/curvy-walls-kneel.md
  packages/astro/src/content/content-layer.ts
  packages/astro/src/content/data-store.ts
  packages/astro/src/content/loaders/types.ts
  packages/astro/src/content/vite-plugin-content-virtual-mod.ts
  packages/astro/src/core/build/index.ts
  packages/astro/src/core/dev/dev.ts
  packages/astro/src/core/sync/index.ts
  packages/astro/src/integrations/hooks.ts
  packages/astro/src/types/public/integrations.ts
  packages/astro/test/content-layer.test.js
  packages/astro/test/fixtures/content-layer/astro.config.mjs
  packages/astro/test/test-utils.js
Labels: pkg: astro, docs pr

#11894 Fix mixed DB token env vars
  .changeset/empty-spoons-kiss.md
  packages/db/src/core/cli/commands/execute/index.ts
  packages/db/src/core/cli/commands/push/index.ts
  packages/db/src/core/cli/commands/shell/index.ts
  packages/db/src/core/cli/commands/verify/index.ts
  packages/db/src/core/cli/migration-queries.ts
  packages/db/src/core/integration/index.ts
  packages/db/src/core/utils.ts
  packages/db/test/basics.test.js
  packages/db/test/static-remote.test.js
  packages/db/test/test-utils.js
  packages/db/test/unit/remote-info.test.js
Labels: - P4: important

#11902 fix: keep data store outside of node_modules during dev
  .changeset/forty-spies-train.md
  packages/astro/src/content/content-layer.ts
  packages/astro/src/content/data-store.ts
  packages/astro/src/content/vite-plugin-content-virtual-mod.ts
  packages/astro/src/core/build/index.ts
  packages/astro/src/core/dev/dev.ts
  packages/astro/src/core/sync/index.ts
  packages/astro/test/content-layer.test.js
  packages/astro/test/test-utils.js
Labels: pkg: astro

#11886 Provide an error message when Actions throws in setup
  .changeset/many-turtles-tie.md
  packages/astro/src/core/logger/core.ts
  packages/astro/src/core/sync/index.ts
Labels: pkg: astro

#11914 Export `LoaderContext` types
  .changeset/mean-donkeys-switch.md
  packages/astro/src/content/data-store.ts
  packages/astro/src/content/loaders/types.ts
  packages/astro/src/content/mutable-data-store.ts
Labels: pkg: astro

#11911 Unflag content layer
  .changeset/heavy-seahorses-poke.md
  benchmark/make-project/markdown-cc2.js
  benchmark/make-project/mdx-cc2.js
  packages/astro/src/content/content-layer.ts
  packages/astro/src/core/config/schema.ts
  packages/astro/src/core/dev/restart.ts
  packages/astro/src/integrations/hooks.ts
  packages/astro/src/types/public/config.ts
  packages/astro/test/fixtures/content-intellisense/astro.config.mjs
  packages/astro/test/fixtures/content-layer-markdoc/astro.config.mjs
  packages/astro/test/fixtures/content-layer-rendering/astro.config.mjs
  packages/astro/test/fixtures/content-layer/astro.config.mjs
Labels: pkg: astro, semver: minor, docs pr

#11904 perf(astro/assets): avoid downloading original image when using cache
  .changeset/purple-ears-sneeze.md
  packages/astro/src/assets/build/generate.ts
Labels: pkg: astro

#11875 feat(next): ctx.isPrerendered
  .changeset/long-lions-do.md
  .changeset/nasty-crabs-worry.md
  packages/astro/src/actions/runtime/middleware.ts
  packages/astro/src/core/middleware/index.ts
  packages/astro/src/core/render-context.ts
  packages/astro/src/types/public/context.ts
  packages/astro/test/astro-global.test.js
  packages/astro/test/fixtures/astro-global/src/components/Route.astro
  packages/astro/test/fixtures/astro-global/src/middleware.js
  packages/astro/test/fixtures/astro-global/src/pages/about.astro
  packages/astro/test/fixtures/astro-global/src/pages/glob.astro
  pnpm-lock.yaml
Labels: pkg: astro, semver: minor, docs pr

#11935 fix(add): Use proper export names when adding adapters
  .changeset/green-bulldogs-shout.md
  packages/astro/src/cli/add/index.ts
Labels: pkg: astro

#11930 fix: explicitly check for null props in `serializeSignals`
  .changeset/long-lemons-add.md
  packages/astro/test/fixtures/preact-component/src/components/ComponentWithNullProp.jsx
  packages/astro/test/fixtures/preact-component/src/pages/signals.astro
  packages/astro/test/preact-component.test.js
  packages/integrations/preact/src/signals.ts
Labels: pkg: preact, pkg: integration, pkg: astro

#11927 feat(next): envField jsdoc
  .changeset/pink-yaks-exercise.md
  packages/astro/src/types/public/config.ts
Labels: pkg: astro, docs pr

#11924 feat(create-astro): ts-check comment
  .changeset/nasty-dogs-sort.md
  packages/create-astro/src/actions/typescript.ts
Labels: pkg: create-astro

#11879 Allow passing into the crypto key via ASTRO_KEY
  .changeset/four-tips-accept.md
  packages/astro/e2e/fixtures/server-islands-key/astro.config.mjs
  packages/astro/e2e/fixtures/server-islands-key/package.json
  packages/astro/e2e/fixtures/server-islands-key/src/components/Island.astro
  packages/astro/e2e/fixtures/server-islands-key/src/pages/index.astro
  packages/astro/e2e/server-islands-key.test.js
  packages/astro/e2e/test-utils.js
  packages/astro/src/cli/create-key/index.ts
  packages/astro/src/cli/index.ts
  packages/astro/src/core/build/index.ts
  packages/astro/src/core/encryption.ts
  packages/astro/src/core/logger/core.ts
  packages/astro/test/fixtures/server-islands/ssr/astro.config.mjs
  pnpm-lock.yaml
Labels: pkg: astro, pr: preview

#11939 Actions: add discriminated union support
  .changeset/mighty-stingrays-press.md
  packages/astro/src/actions/runtime/virtual/server.ts
  packages/astro/test/actions.test.js
  packages/astro/test/fixtures/actions/src/actions/index.ts
Labels: pkg: astro

#11943 [error docs] Update error messages that reference src/content/
  .changeset/sharp-worms-sniff.md
  packages/astro/src/core/errors/errors-data.ts
Labels: pkg: astro, docs pr

#11952 feat: allow arrays of patterns for glob loader
  .changeset/honest-dingos-add.md
  packages/astro/src/content/loaders/glob.ts
  packages/astro/test/content-layer.test.js
  packages/astro/test/fixtures/content-layer/content/space/columbia-copy.md
  packages/astro/test/fixtures/content-layer/content/space/columbia.md
  packages/astro/test/fixtures/content-layer/content/space/endeavour.md
  packages/astro/test/fixtures/content-layer/content/space/enterprise.md
  packages/astro/test/fixtures/content-layer/content/space/index.md
  packages/astro/test/fixtures/content-layer/content/space/shuttle.jpg
  packages/astro/test/fixtures/content-layer/src/content/config.ts
  packages/astro/test/fixtures/content-layer/src/data/space-probes/cassini.md
  packages/astro/test/fixtures/content-layer/src/data/space-probes/curiosity-rover.md
  packages/astro/test/fixtures/content-layer/src/data/space-probes/juno.md
  packages/astro/test/fixtures/content-layer/src/data/space-probes/new-horizons.md
  packages/astro/test/fixtures/content-layer/src/data/space-probes/philae-lander.md
  packages/astro/test/fixtures/content-layer/src/data/space-probes/voyager-1.md
  packages/astro/test/fixtures/content-layer/src/data/space-probes/voyager-2.md
  packages/astro/test/fixtures/content-layer/src/pages/collections.json.js
Labels: pkg: astro

#11942 feat(hybrid): Clean logging and misc tweaks for hybrid removal
  packages/astro/e2e/custom-client-directives.test.js
  packages/astro/src/core/build/generate.ts
  packages/astro/src/core/build/index.ts
  packages/astro/src/core/build/static-build.ts
  packages/astro/src/core/dev/adapter-validation.ts
  packages/astro/src/core/dev/container.ts
  packages/astro/src/core/errors/errors-data.ts
  packages/astro/src/core/preview/index.ts
  packages/astro/src/core/render-context.ts
  packages/astro/src/core/request.ts
  packages/astro/src/core/routing/manifest/create.ts
  packages/astro/src/core/routing/manifest/prerender.ts
  packages/astro/src/core/sync/index.ts
  packages/astro/src/integrations/features-validation.ts
  packages/astro/src/integrations/hooks.ts
  packages/astro/src/types/public/integrations.ts
  packages/astro/src/vite-plugin-astro-server/plugin.ts
  packages/astro/src/vite-plugin-astro-server/route.ts
  packages/astro/src/vite-plugin-scanner/index.ts
  packages/astro/test/build-assets.test.js
  packages/astro/test/static-build.test.js
  packages/astro/test/test-adapter.js
Labels: pkg: astro, docs pr

#11917 fix(css): fix inline query injection for CSS inlining
  packages/astro/src/vite-plugin-astro-server/css.ts
  packages/astro/test/0-css.test.js
  packages/astro/test/fixtures/0-css/src/components/VueModules.vue
Labels: pkg: astro

#11941 feat: changesets for the hybrid removal
  .changeset/afraid-apricots-buy.md
  .changeset/giant-rocks-thank.md
  .changeset/poor-dots-add.md
Labels: semver: minor

#11961 [docs] update legacy collections error messages
  packages/astro/src/core/errors/errors-data.ts
Labels: pkg: astro, docs pr

#11908 feat(assets): Allow customising the route of the image endpoint
  .changeset/dry-worms-knock.md
  packages/astro/src/assets/endpoint/config.ts
  packages/astro/src/assets/services/service.ts
  packages/astro/src/assets/vite-plugin-assets.ts
  packages/astro/src/core/build/generate.ts
  packages/astro/src/core/config/schema.ts
  packages/astro/src/core/request.ts
  packages/astro/src/types/public/config.ts
  packages/astro/src/vite-plugin-astro-server/route.ts
  packages/astro/test/core-image.test.js
Labels: pkg: astro, semver: major, docs pr

#11925 feat(next): reference astro/client from astro/config
  .changeset/old-zebras-teach.md
  .changeset/violet-goats-grab.md
  examples/basics/src/env.d.ts
  examples/basics/tsconfig.json
  examples/blog/tsconfig.json
  examples/component/tsconfig.json
  examples/container-with-vitest/tsconfig.json
  examples/framework-alpine/tsconfig.json
  examples/framework-multiple/tsconfig.json
  examples/framework-preact/tsconfig.json
  examples/framework-react/tsconfig.json
  examples/framework-solid/tsconfig.json
  examples/framework-svelte/tsconfig.json
  examples/framework-vue/tsconfig.json
  examples/hackernews/tsconfig.json
  examples/middleware/tsconfig.json
  examples/minimal/tsconfig.json
  examples/non-html-pages/tsconfig.json
  examples/portfolio/tsconfig.json
  examples/ssr/tsconfig.json
  examples/starlog/tsconfig.json
  examples/view-transitions/tsconfig.json
  examples/with-markdoc/tsconfig.json
  examples/with-markdown-plugins/tsconfig.json
  examples/with-markdown-shiki/tsconfig.json
  examples/with-mdx/tsconfig.json
  examples/with-nanostores/tsconfig.json
  examples/with-tailwindcss/tsconfig.json
  examples/with-vitest/tsconfig.json
  packages/astro/CHANGELOG.md
  packages/astro/config.d.ts
  packages/astro/e2e/fixtures/actions-blog/tsconfig.json
  packages/astro/e2e/fixtures/actions-react-19/tsconfig.json
  packages/astro/e2e/fixtures/client-only/tsconfig.json
  packages/astro/e2e/fixtures/custom-client-directives/tsconfig.json
  packages/astro/performance/fixtures/md/tsconfig.json
  packages/astro/performance/fixtures/mdoc/tsconfig.json
  packages/astro/performance/fixtures/mdx/tsconfig.json
  packages/astro/performance/fixtures/utils/tsconfig.json
  packages/astro/test/fixtures/alias-tsconfig-baseurl-only/tsconfig.json
  packages/astro/test/fixtures/alias-tsconfig/tsconfig.json
  packages/astro/test/fixtures/astro-env-content-collections/tsconfig.json
  packages/astro/test/fixtures/astro-env-required-public/tsconfig.json
  packages/astro/test/fixtures/astro-env-server-fail/tsconfig.json
  packages/astro/test/fixtures/astro-env-server-secret/tsconfig.json
  packages/astro/test/fixtures/astro-env/tsconfig.json
  packages/astro/test/fixtures/core-image-base/tsconfig.json
  packages/astro/test/fixtures/core-image-deletion/tsconfig.json
  packages/astro/test/fixtures/core-image-infersize/tsconfig.json
  packages/astro/test/fixtures/core-image-remark-imgattr/tsconfig.json
  packages/astro/test/fixtures/core-image-ssg/tsconfig.json
  packages/astro/test/fixtures/core-image-unconventional-settings/tsconfig.json
  packages/astro/test/fixtures/core-image/tsconfig.json
  packages/astro/test/fixtures/react-and-solid/tsconfig.json
  packages/astro/test/fixtures/ssr-prerender-chunks/tsconfig.json
  packages/db/test/fixtures/ticketing-example/tsconfig.json
  packages/integrations/markdoc/test/fixtures/image-assets/tsconfig.json
  packages/integrations/markdoc/test/fixtures/render-with-components/tsconfig.json
  packages/integrations/mdx/test/fixtures/mdx-images/tsconfig.json
Labels: pkg: example, pkg: integration, pkg: astro, semver: minor

#11968 Fixes typo.
  .changeset/nine-chairs-decide.md
  packages/astro/src/@types/astro.ts
Labels: pkg: astro, docs pr

#11972 [docs] update legacy collections error messages (again)
  packages/astro/src/core/errors/errors-data.ts
Labels: pkg: astro, docs pr

#11974 Export the RenderResult type
  .changeset/eighty-bags-cross.md
  packages/astro/templates/content/types.d.ts
Labels: pkg: astro

#11975 Handle MDX optimize for root hast node
  .changeset/lovely-dolphins-draw.md
  packages/integrations/mdx/src/rehype-optimize-static.ts
  packages/integrations/mdx/test/fixtures/mdx-optimize/astro.config.mjs
  packages/integrations/mdx/test/mdx-optimize.test.js
  pnpm-lock.yaml
Labels: pkg: integration

#11955 Unflag Server Islands
  .changeset/strange-sheep-film.md
  examples/server-islands/astro.config.mjs
  packages/astro/e2e/fixtures/server-islands-key/astro.config.mjs
  packages/astro/e2e/fixtures/server-islands/astro.config.mjs
  packages/astro/src/core/build/index.ts
  packages/astro/src/core/build/plugins/plugin-ssr.ts
  packages/astro/src/core/config/schema.ts
  packages/astro/src/core/create-vite.ts
  packages/astro/src/core/errors/errors-data.ts
  packages/astro/test/fixtures/server-islands/hybrid/astro.config.mjs
  packages/astro/test/fixtures/server-islands/ssr/astro.config.mjs
  packages/astro/test/server-islands.test.js
Labels: pkg: example, pkg: astro, semver: minor, docs pr

#11864 refactor(next): send `IntegrationRouteData` to integrations
  .changeset/brave-elephants-fly.md
  .changeset/fuzzy-pugs-live.md
  .changeset/ten-walls-tap.md
  packages/astro/src/core/build/generate.ts
  packages/astro/src/core/routing/manifest/create.ts
  packages/astro/src/integrations/hooks.ts
  packages/astro/src/types/public/integrations.ts
  packages/astro/src/types/public/internal.ts
  packages/astro/test/static-build-page-dist-url.test.js
Labels: pkg: astro, semver: major, docs pr

#11983 Remove dependency on path-to-regexp
  .changeset/quiet-lemons-collect.md
  packages/astro/package.json
  packages/astro/src/core/routing/manifest/generator.ts
  pnpm-lock.yaml
Labels: pkg: astro, semver: minor

#11964 Add copy support for Wayland via wl-copy
  .changeset/two-suns-admire.md
  packages/astro/src/cli/info/index.ts
Labels: pkg: astro, semver: minor

#11806 refactor: rework supportedAstroFeatures
  .changeset/fluffy-jars-live.md
  .changeset/slimy-queens-hang.md
  .changeset/unlucky-bobcats-sit.md
  packages/astro/src/core/build/plugins/plugin-manifest.ts
  packages/astro/src/core/logger/core.ts
  packages/astro/src/integrations/features-validation.ts
  packages/astro/src/integrations/hooks.ts
  packages/astro/src/types/public/integrations.ts
  packages/astro/test/units/integrations/api.test.js
Labels: pkg: astro, semver: minor, pr: docs, docs pr

#11982 feat: add default exclude to tsconfigs
  .changeset/clean-camels-drive.md
  packages/astro/tsconfigs/base.json
Labels: pkg: astro, semver: major

#11980 Rename the ViewTransitions component to ClientRouter
  .changeset/hip-wombats-exercise.md
  examples/starlog/src/components/BaseHead.astro
  examples/view-transitions/src/layouts/Layout.astro
  packages/astro/client.d.ts
  packages/astro/components/ClientRouter.astro
  packages/astro/e2e/fixtures/dev-toolbar/src/layout/Layout.astro
  packages/astro/e2e/fixtures/view-transitions/src/components/AttributedLayout.astro
  packages/astro/e2e/fixtures/view-transitions/src/components/Layout.astro
  packages/astro/e2e/fixtures/view-transitions/src/components/listener-layout.astro
  packages/astro/e2e/fixtures/view-transitions/src/pages/abort.astro
  packages/astro/e2e/fixtures/view-transitions/src/pages/abort2.astro
  packages/astro/e2e/fixtures/view-transitions/src/pages/client-load.astro
  packages/astro/e2e/fixtures/view-transitions/src/pages/dialog.astro
  packages/astro/e2e/fixtures/view-transitions/src/pages/form-four.astro
  packages/astro/e2e/fixtures/view-transitions/src/pages/half-baked.astro
  packages/astro/e2e/fixtures/view-transitions/src/pages/no-directive-one.astro
  packages/astro/e2e/fixtures/view-transitions/src/pages/no-directive-two.astro
  packages/astro/e2e/view-transitions.test.js
  packages/astro/src/transitions/router.ts
  packages/astro/src/transitions/vite-plugin-transitions.ts
  packages/astro/src/types/public/config.ts
  packages/db/test/fixtures/ticketing-example/src/layouts/Layout.astro
Labels: pkg: example, pkg: astro, semver: minor, docs pr

#11991 Remove experimental.serverIslands flag
  .changeset/dry-lamps-smile.md
  packages/astro/src/core/errors/errors-data.ts
  packages/astro/src/types/public/config.ts
Labels: pkg: astro, docs pr

#11987 feat(next): TODOs
  .changeset/blue-sloths-stare.md
  .changeset/cool-mangos-shop.md
  packages/astro/src/assets/utils/node/emitAsset.ts
  packages/astro/src/content/runtime.ts
  packages/astro/src/core/app/index.ts
  packages/astro/src/core/build/internal.ts
  packages/astro/src/core/build/static-build.ts
  packages/astro/src/core/config/schema.ts
  packages/astro/src/core/errors/errors-data.ts
  packages/astro/src/core/middleware/index.ts
  packages/astro/src/core/render-context.ts
  packages/astro/src/runtime/client/dev-toolbar/apps/astro.ts
  packages/astro/src/runtime/client/dev-toolbar/apps/audit/index.ts
  packages/astro/src/runtime/client/dev-toolbar/apps/settings.ts
  packages/astro/src/runtime/client/dev-toolbar/apps/xray.ts
  packages/astro/src/runtime/client/dev-toolbar/entrypoint.ts
  packages/astro/src/runtime/client/dev-toolbar/settings.ts
  packages/astro/src/runtime/client/dev-toolbar/toolbar.ts
  packages/astro/src/runtime/client/dev-toolbar/ui-library/button.ts
  packages/astro/src/types/public/integrations.ts
  packages/astro/src/types/public/toolbar.ts
  packages/astro/test/fixtures/astro-global/src/middleware.js
  packages/astro/test/fixtures/middleware space/src/middleware.js
  packages/astro/test/fixtures/rewrite-custom-404/src/middleware.js
Labels: pkg: astro, semver: major, docs pr

#11993 Fix getStaticPaths regression
  .changeset/happy-ways-sin.md
  packages/astro/package.json
  packages/astro/src/core/routing/manifest/generator.ts
  packages/astro/test/fixtures/get-static-paths-pages/src/pages/archive/[...slug]/[...page].astro
  packages/astro/test/get-static-paths-pages.test.js
  pnpm-lock.yaml
Labels: pkg: astro

#11999 Update an error message
  packages/astro/src/core/errors/errors-data.ts
Labels: pkg: astro, docs pr

#12000 docs: fix Content Layer RFC Link
  .changeset/healthy-donuts-yell.md
  packages/astro/src/@types/astro.ts
Labels: pkg: astro, docs pr

#12011 docs: update `security.checkOrigin` JSDoc comment
  .changeset/fresh-pandas-drive.md
  packages/astro/src/types/public/config.ts
Labels: pkg: astro, docs pr

#12008 feat: update to beta
  .changeset/eight-days-sort.md
  .changeset/pre.json
Labels: semver: major

#11946 Fix vue resetting state when using view transition persistence
  .changeset/five-walls-build.md
  packages/astro/e2e/fixtures/view-transitions/src/components/VueCounter.vue
  packages/astro/e2e/fixtures/view-transitions/src/pages/island-vue-one.astro
  packages/astro/e2e/fixtures/view-transitions/src/pages/island-vue-two.astro
  packages/astro/e2e/view-transitions.test.js
  packages/integrations/vue/client.js
Labels: pkg: vue, pkg: integration, pkg: astro

#11998 Fix SolidJS view transition state persistence
  .changeset/grumpy-bobcats-rush.md
  packages/astro/e2e/fixtures/view-transitions/astro.config.mjs
  packages/astro/e2e/fixtures/view-transitions/package.json
  packages/astro/e2e/fixtures/view-transitions/src/components/solid/Counter.jsx
  packages/astro/e2e/fixtures/view-transitions/src/pages/island-solid-one.astro
  packages/astro/e2e/fixtures/view-transitions/src/pages/island-solid-two.astro
  packages/astro/e2e/view-transitions.test.js
  packages/integrations/solid/src/client.ts
  pnpm-lock.yaml
Labels: pkg: solid, pkg: integration, pkg: astro

#12006 Fix Svelte view transition state persistence
  .changeset/warm-birds-cheer.md
  packages/astro/e2e/fixtures/view-transitions/src/components/SvelteCounter.svelte
  packages/astro/e2e/fixtures/view-transitions/src/pages/island-svelte-one.astro
  packages/astro/e2e/fixtures/view-transitions/src/pages/island-svelte-two.astro
  packages/astro/e2e/view-transitions.test.js
  packages/integrations/svelte/client-v5.js
  packages/integrations/svelte/client.js
Labels: pkg: svelte, pkg: integration, pkg: astro

#12016 Encode action result in cookie
  .changeset/rotten-phones-scream.md
  packages/astro/e2e/actions-blog.test.js
  packages/astro/e2e/fixtures/actions-blog/src/actions/index.ts
  packages/astro/e2e/fixtures/actions-blog/src/pages/lots-of-fields.astro
  packages/astro/src/actions/runtime/middleware.ts
  packages/astro/src/actions/runtime/virtual/shared.ts
Labels: pkg: astro

#12018 Make @astrojs/tailwind compat with Astro 5
  .changeset/plenty-pandas-repeat.md
  packages/integrations/tailwind/package.json
Labels: pkg: integration, pr: preview

#12014 fix: correctly handle head propagation in content layer deferred rendering
  .changeset/beige-points-search.md
  packages/astro/src/content/runtime.ts
  packages/astro/src/content/vite-plugin-content-virtual-mod.ts
  packages/integrations/mdx/test/css-head-mdx.test.js
  packages/integrations/mdx/test/fixtures/css-head-mdx/src/components/UsingMdx.astro
  packages/integrations/mdx/test/fixtures/css-head-mdx/src/content/config.ts
  packages/integrations/mdx/test/fixtures/css-head-mdx/src/data/blog/_styles.css
  packages/integrations/mdx/test/fixtures/css-head-mdx/src/data/blog/using-mdx.mdx
  packages/integrations/mdx/test/fixtures/css-head-mdx/src/data/posts/test.mdx
  packages/integrations/mdx/test/fixtures/css-head-mdx/src/data/posts/using-component.mdx
  packages/integrations/mdx/test/fixtures/css-head-mdx/src/pages/posts/[post].astro
Labels: pkg: integration, pkg: astro

#12001 Remove dependency on path-to-regexp
  .changeset/shiny-worms-rest.md
  packages/astro/package.json
  packages/astro/src/core/routing/manifest/generator.ts
  packages/astro/test/units/routing/generator.test.js
  pnpm-lock.yaml
Labels: pkg: astro

#12027 Add selected to the list of boolean attributes
  .changeset/rare-goats-join.md
  packages/astro/src/runtime/server/render/util.ts
Labels: pkg: astro

#12026 Lazily initialize the md and mdx processor
  .changeset/heavy-pugs-jam.md
  .changeset/moody-cougars-taste.md
  packages/astro/src/vite-plugin-markdown/index.ts
  packages/integrations/mdx/src/vite-plugin-mdx.ts
Labels: pkg: integration, pkg: astro

#12028 Check route collision after getStaticPaths
  .changeset/light-pianos-sip.md
  packages/astro/src/core/render/params-and-props.ts
  packages/astro/test/dynamic-endpoint-collision.test.js
  packages/astro/test/fixtures/dynamic-endpoint-collision/src/pages/api/safe/[...slug].ts
Labels: pkg: astro

#12030 fix: treat images with initial slash as local, and resolve with vite
  .changeset/sixty-oranges-walk.md
  packages/astro/src/assets/utils/resolveImports.ts
  packages/astro/test/content-layer.test.js
  packages/astro/test/fixtures/content-layer/content/space/lunar-module.md
  packages/astro/test/fixtures/content-layer/images/lunar-module.jpg
  packages/astro/test/fixtures/content-layer/public/buzz.jpg
  packages/astro/test/fixtures/content-layer/src/pages/collections.json.js
Labels: pkg: astro

#12022 fix: handle trailing slash on the image endpoint
  .changeset/hot-camels-move.md
  packages/astro/src/assets/services/service.ts
  packages/astro/src/core/config/schema.ts
  packages/astro/test/core-image.test.js
Labels: pkg: astro

#12034 fix(routing): call middleware when rendering `404.astro`
  .changeset/clever-vans-flash.md
  packages/astro/src/vite-plugin-astro-server/route.ts
  packages/astro/test/i18n-routing-manual.test.js
Labels: pkg: astro

#12038 fix: restore behavior of absolute images in v4 branch
  .changeset/sixty-oranges-walk.md
  packages/astro/src/assets/utils/resolveImports.ts
  packages/astro/test/content-layer.test.js
  packages/astro/test/fixtures/content-layer/content-outside-src/lunar-module.md
  packages/astro/test/fixtures/content-layer/images/lunar-module.jpg
  packages/astro/test/fixtures/content-layer/public/buzz.jpg
  packages/astro/test/fixtures/content-layer/src/pages/collections.json.js
Labels: pkg: astro

#12042 fix(container): apply polyfill
  .changeset/fast-queens-try.md
  packages/astro/src/container/index.ts
  packages/astro/src/container/polyfill.ts
Labels: pkg: astro

#11550 refactor: dynamically import middleware
  packages/astro/src/container/index.ts
  packages/astro/src/container/pipeline.ts
  packages/astro/src/core/app/common.ts
  packages/astro/src/core/app/index.ts
  packages/astro/src/core/app/types.ts
  packages/astro/src/core/base-pipeline.ts
  packages/astro/src/core/build/generate.ts
  packages/astro/src/core/build/pipeline.ts
  packages/astro/src/core/build/plugins/plugin-ssr.ts
  packages/astro/src/core/middleware/noop-middleware.ts
  packages/astro/src/core/render-context.ts
  packages/astro/src/vite-plugin-astro-server/plugin.ts
  packages/astro/src/vite-plugin-astro-server/route.ts
  packages/astro/test/units/render/head.test.js
  packages/astro/test/units/render/jsx.test.js
  packages/astro/test/units/test-utils.js
Labels: pkg: astro, pr: preview

#11944 docs: fix typo in code comments
  packages/astro/src/@types/astro.ts
Labels: pkg: astro, docs pr

#12071 feat: makes it so astro add does not set output server by default
  .changeset/smooth-panthers-heal.md
  packages/astro/src/cli/add/index.ts
Labels: pkg: astro, semver: minor

#12070 fix: check origin in static build
  .changeset/tame-pumpkins-swim.md
  packages/astro/src/core/build/generate.ts
  packages/astro/src/core/build/plugins/plugin-manifest.ts
  packages/astro/src/vite-plugin-astro-server/plugin.ts
Labels: pkg: astro

#12073 Replace ora with yocto-spinner
  .changeset/poor-seals-clap.md
  packages/astro/package.json
  packages/astro/src/cli/add/index.ts
  packages/astro/src/cli/install-package.ts
  packages/db/package.json
  packages/db/src/core/cli/commands/link/index.ts
  packages/db/src/core/cli/commands/login/index.ts
  packages/studio/package.json
  packages/studio/src/core/tokens.ts
  pnpm-lock.yaml
Labels: pkg: astro

#12046 View Transitions: Fixes Astro's fade animation to prevent flicker during morph transitions
  .changeset/fifty-squids-build.md
  packages/astro/components/viewtransitions.css
Labels: pkg: astro

#12075 Parse frontmatter ourselves
  .changeset/sweet-timers-smash.md
  packages/astro/package.json
  packages/astro/src/content/utils.ts
  packages/astro/src/vite-plugin-markdown/content-entry-type.ts
  packages/astro/src/vite-plugin-markdown/index.ts
  packages/integrations/markdoc/package.json
  packages/integrations/markdoc/src/content-entry-type.ts
  packages/integrations/markdoc/test/content-collections.test.js
  packages/integrations/mdx/package.json
  packages/integrations/mdx/src/index.ts
  packages/integrations/mdx/src/utils.ts
  packages/integrations/mdx/src/vite-plugin-mdx.ts
  packages/markdown/remark/package.json
  packages/markdown/remark/src/frontmatter.ts
  packages/markdown/remark/src/index.ts
  pnpm-lock.yaml
Labels: feat: markdown, pkg: integration, pkg: astro

#11963 feat(next): codegenDir and update .astro paths
  .changeset/three-olives-reflect.md
  packages/astro/src/actions/consts.ts
  packages/astro/src/content/consts.ts
  packages/astro/src/content/content-layer.ts
  packages/astro/src/content/types-generator.ts
  packages/astro/src/core/dev/restart.ts
  packages/astro/src/env/constants.ts
  packages/astro/src/integrations/hooks.ts
  packages/astro/src/preferences/constants.ts
  packages/astro/src/preferences/store.ts
  packages/astro/src/types/public/integrations.ts
  packages/astro/test/astro-sync.test.js
  packages/astro/test/units/integrations/api.test.js
Labels: pkg: astro, semver: major, docs pr

#12047 feat: custom file formats in file content loader
  .changeset/lovely-pianos-breathe.md
  packages/astro/src/content/loaders/file.ts
  packages/astro/test/content-layer.test.js
  packages/astro/test/fixtures/content-layer/package.json
  packages/astro/test/fixtures/content-layer/src/content/config.ts
  packages/astro/test/fixtures/content-layer/src/data/birds.json
  packages/astro/test/fixtures/content-layer/src/data/fish.yaml
  packages/astro/test/fixtures/content-layer/src/data/music.toml
  packages/astro/test/fixtures/content-layer/src/pages/collections.json.js
  pnpm-lock.yaml
Labels: pkg: astro, semver: minor

#12094 Update boxen to v8
  packages/astro/package.json
  pnpm-lock.yaml
Labels: pkg: astro

#12081 feat(next): remove CCC
  .changeset/wise-carrots-float.md
  packages/astro/src/content/vite-plugin-content-virtual-mod.ts
  packages/astro/src/core/build/index.ts
  packages/astro/src/core/build/internal.ts
  packages/astro/src/core/build/plugins/index.ts
  packages/astro/src/core/build/plugins/plugin-content.ts
  packages/astro/src/core/build/static-build.ts
  packages/astro/src/core/config/schema.ts
  packages/astro/src/core/util.ts
  packages/astro/src/integrations/hooks.ts
  packages/astro/src/types/public/config.ts
  packages/astro/src/types/public/integrations.ts
  packages/astro/src/vite-plugin-astro/index.ts
  packages/astro/test/experimental-content-collection-references.test.js
  packages/astro/test/experimental-content-collections-cache-invalidation.test.js
  packages/astro/test/experimental-content-collections-css-inline-stylesheets.test.js
  packages/astro/test/experimental-content-collections-render.test.js
  packages/astro/test/experimental-content-collections.test.js
Labels: pkg: astro, semver: minor, docs pr

#12084 Adds missing filePath property on content layer entries
  .changeset/afraid-candles-hear.md
  packages/astro/src/content/types-generator.ts
Labels: pkg: astro
