Repository withastro/astro, pull requests merged in 2024-05, with the labels that each got.

#10923 Fix typos
  benchmark/make-project/README.md
  examples/blog/src/content/blog/markdown-style-guide.md
  examples/blog/src/styles/global.css
  examples/hackernews/src/lib/api.ts
  examples/view-transitions/src/scripts/spa-navigation.js
  examples/with-nanostores/src/components/FigurineDescription.astro
  packages/astro/e2e/dev-toolbar.test.js
  packages/astro/e2e/fixtures/i18n/astro.config.mjs
  packages/astro/e2e/fixtures/i18n/src/pages/index.astro
  packages/astro/e2e/fixtures/view-transitions/src/pages/half-baked.astro
  packages/astro/e2e/fixtures/view-transitions/src/pages/transition-name.astro
  packages/astro/e2e/view-transitions.test.js
  packages/astro/src/assets/utils/vendor/image-size/types/jpg.ts
  packages/astro/src/cli/preferences/index.ts
  packages/astro/src/content/vite-plugin-content-virtual-mod.ts
  packages/astro/src/core/build/pipeline.ts
  packages/astro/src/core/compile/compile.ts
  packages/astro/src/core/constants.ts
  packages/astro/src/core/errors/errors-data.ts
  packages/astro/src/core/errors/overlay.ts
  packages/astro/src/core/routing/priority.ts
  packages/astro/src/prefetch/vite-plugin-prefetch.ts
  packages/astro/src/prerender/utils.ts
  packages/astro/src/runtime/server/astro-global.ts
  packages/astro/src/runtime/server/transition.ts
  packages/astro/src/transitions/router.ts
  packages/astro/src/vite-plugin-astro-server/vite.ts
  packages/astro/test/astro-css-bundling.test.js
  packages/astro/test/astro-slots.test.js
  packages/astro/test/experimental-content-collections.test.js
  packages/astro/test/fixtures/astro-slots/src/components/FunctionsToAPI.astro
  packages/astro/test/fixtures/dynamic-route-build-file/src/pages/[...slug].astro
  packages/astro/test/fixtures/i18n-routing-prefix-always/src/pages/404.astro
  packages/astro/test/fixtures/markdown/src/pages/realworld.md
  packages/astro/test/fixtures/set-html/src/pages/children.astro
  packages/astro/test/fixtures/vue-component/src/pages/index.astro
  packages/astro/test/fixtures/vue-jsx/src/pages/index.astro
  packages/astro/test/i18n-routing.test.js
  packages/astro/test/minification-html.test.js
  packages/astro/test/solid-component.test.js
  packages/astro/test/ssr-api-route.test.js
  packages/astro/test/units/i18n/astro_i18n.test.js
  packages/create-astro/test/project-name.test.js
  packages/db/src/core/cli/commands/login/index.ts
  packages/integrations/lit/server-shim.js
  packages/integrations/lit/src/client.ts
  packages/integrations/markdoc/test/render-html.test.js
  packages/integrations/vue/src/index.ts
  packages/markdown/remark/src/highlight.ts
  packages/markdown/remark/src/import-plugin-default.ts
  packages/upgrade/src/actions/verify.ts
  scripts/cmd/build.js
Labels: feat: markdown, pkg: vue, pkg: example, pkg: lit, pkg: integration, pkg: create-astro, pkg: astro, docs pr

#10931 change: NotificationPayload type
  .changeset/silent-zoos-work.md
  packages/astro/src/runtime/client/dev-toolbar/helpers.ts
Labels: pkg: astro

#10933 Fixes toggleState
  .changeset/lovely-feet-greet.md
  packages/astro/src/runtime/client/dev-toolbar/helpers.ts
Labels: pkg: astro

#10934 Simplify plain MDX nodes in optimize option
  .changeset/blue-geese-visit.md
  packages/integrations/mdx/src/rehype-optimize-static.ts
  packages/integrations/mdx/test/units/rehype-optimize-static.test.js
Labels: pkg: integration

#10883 Add web-vitals integration
  .changeset/great-swans-punch.md
  packages/integrations/web-vitals/README.md
  packages/integrations/web-vitals/package.json
  packages/integrations/web-vitals/src/client-script.ts
  packages/integrations/web-vitals/src/constants.ts
  packages/integrations/web-vitals/src/db-config.ts
  packages/integrations/web-vitals/src/endpoint.ts
  packages/integrations/web-vitals/src/env.d.ts
  packages/integrations/web-vitals/src/index.ts
  packages/integrations/web-vitals/src/middleware.ts
  packages/integrations/web-vitals/src/schemas.ts
  packages/integrations/web-vitals/test/basics.test.js
  packages/integrations/web-vitals/test/fixtures/basics/astro.config.mjs
  packages/integrations/web-vitals/test/fixtures/basics/package.json
  packages/integrations/web-vitals/test/fixtures/basics/src/pages/[dynamic].astro
  packages/integrations/web-vitals/test/fixtures/basics/src/pages/index.astro
  packages/integrations/web-vitals/test/test-utils.js
  packages/integrations/web-vitals/tsconfig.json
  pnpm-lock.yaml
Labels: pkg: integration

#10917 fix: don't include port twice from x-forwarded-host and x-forwarded-port headers
  .changeset/forty-wolves-turn.md
  packages/astro/src/core/app/node.ts
  packages/integrations/node/test/url.test.js
Labels: pkg: integration, pkg: astro

#10938 feat(preact): add support for devtools
  .changeset/little-dryers-stare.md
  packages/integrations/preact/src/index.ts
Labels: pkg: preact, pkg: integration

#10881 feat(env): server/public variables
  packages/astro/src/core/errors/errors-data.ts
  packages/astro/src/env/vite-plugin-env-virtual-mod.ts
  packages/astro/test/fixtures/astro-env-server-fail/astro.config.mjs
  packages/astro/test/fixtures/astro-env-server-fail/package.json
  packages/astro/test/fixtures/astro-env-server-fail/src/pages/index.astro
  packages/astro/test/fixtures/astro-env-server-fail/tsconfig.json
  packages/astro/test/fixtures/astro-env/astro.config.mjs
  packages/astro/test/fixtures/astro-env/src/pages/index.astro
  packages/astro/test/units/env/env-public.test.js
  pnpm-lock.yaml
Labels: pkg: astro, docs pr

#10929 feat(vue): add support for devtools
  .changeset/thin-rabbits-wait.md
  packages/integrations/vue/package.json
  packages/integrations/vue/src/index.ts
  pnpm-lock.yaml
Labels: pkg: vue, pkg: integration, semver: minor

#10889 Preserve content modules properly in cache
  .changeset/spicy-keys-own.md
  packages/astro/content-module.template.mjs
  packages/astro/src/assets/build/generate.ts
  packages/astro/src/assets/vite-plugin-assets.ts
  packages/astro/src/content/runtime.ts
  packages/astro/src/content/vite-plugin-content-imports.ts
  packages/astro/src/content/vite-plugin-content-virtual-mod.ts
  packages/astro/src/core/build/generate.ts
  packages/astro/src/core/build/index.ts
  packages/astro/src/core/build/internal.ts
  packages/astro/src/core/build/pipeline.ts
  packages/astro/src/core/build/plugins/plugin-analyzer.ts
  packages/astro/src/core/build/plugins/plugin-content.ts
  packages/astro/src/core/build/plugins/plugin-hoisted-scripts.ts
  packages/astro/src/core/build/plugins/plugin-ssr.ts
  packages/astro/src/core/build/static-build.ts
  packages/astro/src/core/build/types.ts
  packages/astro/src/core/config/config.ts
  packages/astro/src/core/util.ts
  packages/astro/src/integrations/hooks.ts
  packages/astro/src/prerender/utils.ts
  packages/astro/src/vite-plugin-astro-server/pipeline.ts
  packages/astro/src/vite-plugin-scanner/index.ts
  packages/astro/test/experimental-content-collections-css-inline-stylesheets.test.js
  packages/astro/test/experimental-content-collections-render.test.js
  packages/astro/test/fixtures/css-inline-stylesheets-2/package.json
  packages/astro/test/fixtures/css-inline-stylesheets-2/src/components/Button.astro
  packages/astro/test/fixtures/css-inline-stylesheets-2/src/content/en/endeavour.md
  packages/astro/test/fixtures/css-inline-stylesheets-2/src/imported.css
  packages/astro/test/fixtures/css-inline-stylesheets-2/src/layouts/Layout.astro
  packages/astro/test/fixtures/css-inline-stylesheets-2/src/pages/index.astro
  packages/astro/test/test-utils.js
  pnpm-lock.yaml
Labels: pkg: astro

#10947 Import metric table from astro:db
  .changeset/tough-numbers-build.md
  packages/integrations/web-vitals/src/db-config.ts
  packages/integrations/web-vitals/src/endpoint.ts
Labels: pkg: integration

#10942 Support React 19
  .changeset/short-phones-breathe.md
  packages/integrations/react/package.json
  packages/integrations/react/src/index.ts
Labels: pkg: react, pkg: integration

#10959 Improve content collection styles and scripts build perf
  .changeset/grumpy-pillows-develop.md
  packages/astro/src/content/vite-plugin-content-assets.ts
  packages/astro/src/core/build/internal.ts
  packages/astro/src/core/build/page-data.ts
  packages/astro/src/core/build/plugins/plugin-analyzer.ts
  packages/astro/src/core/build/plugins/plugin-content.ts
  packages/astro/src/core/build/plugins/plugin-css.ts
  packages/astro/src/core/build/plugins/plugin-hoisted-scripts.ts
  packages/astro/src/core/build/types.ts
  packages/astro/test/experimental-content-collections-css-inline-stylesheets.test.js
  packages/astro/test/experimental-content-collections-render.test.js
  packages/astro/test/fixtures/css-inline-stylesheets-3/package.json
  packages/astro/test/fixtures/css-inline-stylesheets-3/src/components/Button.astro
  packages/astro/test/fixtures/css-inline-stylesheets-3/src/content/en/endeavour.md
  packages/astro/test/fixtures/css-inline-stylesheets-3/src/imported.css
  packages/astro/test/fixtures/css-inline-stylesheets-3/src/layouts/Layout.astro
  packages/astro/test/fixtures/css-inline-stylesheets-3/src/pages/index.astro
  packages/integrations/mdx/test/css-head-mdx.test.js
  pnpm-lock.yaml
Labels: pkg: integration, pkg: astro

#10935 MDX integration v3
  .changeset/blue-geese-visit.md
  .changeset/chilly-items-help.md
  .changeset/fresh-masks-agree.md
  .changeset/friendly-plants-leave.md
  .changeset/large-glasses-jam.md
  .changeset/slimy-cobras-end.md
  .changeset/small-oranges-report.md
  .changeset/smart-rats-mate.md
  .changeset/sweet-goats-own.md
  .changeset/tame-avocados-relax.md
  .changeset/violet-snails-call.md
  .changeset/young-chicken-exercise.md
  packages/astro/package.json
  packages/astro/src/jsx/babel.ts
  packages/astro/src/jsx/rehype.ts
  packages/astro/src/jsx/server.ts
  packages/astro/src/jsx/transform-options.ts
  packages/astro/src/vite-plugin-mdx/index.ts
  packages/astro/src/vite-plugin-mdx/tag.ts
  packages/astro/src/vite-plugin-mdx/transform-jsx.ts
  packages/astro/test/units/dev/collections-renderentry.test.js
  packages/integrations/mdx/package.json
  packages/integrations/mdx/src/README.md
  packages/integrations/mdx/src/index.ts
  packages/integrations/mdx/src/plugins.ts
  packages/integrations/mdx/src/rehype-images-to-component.ts
  packages/integrations/mdx/src/rehype-optimize-static.ts
  packages/integrations/mdx/src/remark-images-to-component.ts
  packages/integrations/mdx/src/vite-plugin-mdx-postprocess.ts
  packages/integrations/mdx/src/vite-plugin-mdx.ts
  packages/integrations/mdx/test/fixtures/mdx-optimize/astro.config.mjs
  packages/integrations/mdx/test/mdx-plugins.test.js
  packages/integrations/mdx/test/units/rehype-optimize-static.test.js
  pnpm-lock.yaml
Labels: pkg: integration, pkg: astro, semver: minor

#10906 feat: Add new component to toolbar library
  .changeset/metal-crabs-applaud.md
  .changeset/twelve-dolphins-roll.md
  packages/astro/src/@types/astro.ts
  packages/astro/src/runtime/client/dev-toolbar/entrypoint.ts
  packages/astro/src/runtime/client/dev-toolbar/ui-library/button.ts
  packages/astro/src/runtime/client/dev-toolbar/ui-library/index.ts
  packages/astro/src/runtime/client/dev-toolbar/ui-library/radio-checkbox.ts
Labels: pkg: astro, semver: minor, docs pr

#10867 feat: rewriting (experimental)
  .changeset/pink-ligers-share.md
  packages/astro/src/@types/astro.ts
  packages/astro/src/core/app/index.ts
  packages/astro/src/core/app/pipeline.ts
  packages/astro/src/core/app/types.ts
  packages/astro/src/core/base-pipeline.ts
  packages/astro/src/core/build/generate.ts
  packages/astro/src/core/build/pipeline.ts
  packages/astro/src/core/build/plugins/plugin-manifest.ts
  packages/astro/src/core/config/schema.ts
  packages/astro/src/core/errors/errors-data.ts
  packages/astro/src/core/middleware/callMiddleware.ts
  packages/astro/src/core/middleware/index.ts
  packages/astro/src/core/middleware/sequence.ts
  packages/astro/src/core/render-context.ts
  packages/astro/src/prerender/routing.ts
  packages/astro/src/vite-plugin-astro-server/pipeline.ts
  packages/astro/src/vite-plugin-astro-server/plugin.ts
  packages/astro/src/vite-plugin-astro-server/route.ts
  packages/astro/test/fixtures/middleware-virtual/astro.config.mjs
  packages/astro/test/fixtures/middleware-virtual/package.json
  packages/astro/test/fixtures/middleware-virtual/src/middleware.js
  packages/astro/test/fixtures/middleware-virtual/src/pages/index.astro
  packages/astro/test/fixtures/reroute/astro.config.mjs
  packages/astro/test/fixtures/reroute/package.json
  packages/astro/test/fixtures/reroute/src/middleware.js
  packages/astro/test/fixtures/reroute/src/pages/auth/base.astro
  packages/astro/test/fixtures/reroute/src/pages/auth/dashboard.astro
  packages/astro/test/fixtures/reroute/src/pages/auth/settings.astro
  packages/astro/test/fixtures/reroute/src/pages/blog/hello/index.astro
  packages/astro/test/fixtures/reroute/src/pages/blog/oops.astro
  packages/astro/test/fixtures/reroute/src/pages/blog/salut/index.astro
  packages/astro/test/fixtures/reroute/src/pages/dynamic/[id].astro
  packages/astro/test/fixtures/reroute/src/pages/index.astro
  packages/astro/test/fixtures/reroute/src/pages/reroute.astro
  packages/astro/test/fixtures/reroute/src/pages/spread/[...id].astro
  packages/astro/test/i18n-routing-manual.test.js
  packages/astro/test/rewrite.test.js
  packages/astro/test/units/routing/route-matching.test.js
  packages/astro/test/units/vite-plugin-astro-server/request.test.js
  pnpm-lock.yaml
Labels: pkg: astro, semver: minor, docs pr

#10963 Support passing inline Astro config to getViteConfig()
  .changeset/nervous-waves-shop.md
  packages/astro/src/config/index.ts
Labels: pkg: astro, semver: minor

#10625 fix(page-data): add key to allPages
  .changeset/great-turtles-greet.md
  packages/astro/src/core/build/generate.ts
  packages/astro/src/core/build/internal.ts
  packages/astro/src/core/build/page-data.ts
  packages/astro/src/core/build/pipeline.ts
  packages/astro/src/core/build/plugins/plugin-css.ts
  packages/astro/src/core/build/plugins/plugin-manifest.ts
  packages/astro/src/core/build/plugins/plugin-pages.ts
  packages/astro/src/core/build/plugins/plugin-ssr.ts
  packages/astro/src/core/build/plugins/util.ts
  packages/astro/src/core/build/static-build.ts
  packages/astro/src/core/build/types.ts
  packages/astro/test/fixtures/reuse-injected-entrypoint/astro.config.mjs
  packages/astro/test/fixtures/reuse-injected-entrypoint/package.json
  packages/astro/test/fixtures/reuse-injected-entrypoint/src/[id].astro
  packages/astro/test/fixtures/reuse-injected-entrypoint/src/pages/index.astro
  packages/astro/test/fixtures/reuse-injected-entrypoint/src/to-inject.astro
  packages/astro/test/reuse-injected-entrypoint.test.js
  packages/astro/test/test-utils.js
  pnpm-lock.yaml
Labels: pkg: astro, semver: minor

#10858 Actions experimental release
  .changeset/shaggy-moons-peel.md
  packages/astro/client.d.ts
  packages/astro/e2e/actions-blog.test.js
  packages/astro/e2e/fixtures/actions-blog/astro.config.mjs
  packages/astro/e2e/fixtures/actions-blog/db/config.ts
  packages/astro/e2e/fixtures/actions-blog/db/seed.ts
  packages/astro/e2e/fixtures/actions-blog/package.json
  packages/astro/e2e/fixtures/actions-blog/src/actions/index.ts
  packages/astro/e2e/fixtures/actions-blog/src/components/BaseHead.astro
  packages/astro/e2e/fixtures/actions-blog/src/components/Footer.astro
  packages/astro/e2e/fixtures/actions-blog/src/components/FormattedDate.astro
  packages/astro/e2e/fixtures/actions-blog/src/components/Header.astro
  packages/astro/e2e/fixtures/actions-blog/src/components/HeaderLink.astro
  packages/astro/e2e/fixtures/actions-blog/src/components/Like.tsx
  packages/astro/e2e/fixtures/actions-blog/src/components/PostComment.tsx
  packages/astro/e2e/fixtures/actions-blog/src/consts.ts
  packages/astro/e2e/fixtures/actions-blog/src/content/blog/first-post.md
  packages/astro/e2e/fixtures/actions-blog/src/content/config.ts
  packages/astro/e2e/fixtures/actions-blog/src/layouts/BlogPost.astro
  packages/astro/e2e/fixtures/actions-blog/src/pages/blog/[...slug].astro
  packages/astro/e2e/fixtures/actions-blog/src/pages/blog/index.astro
  packages/astro/e2e/fixtures/actions-blog/src/styles/global.css
  packages/astro/e2e/fixtures/actions-blog/tsconfig.json
  packages/astro/package.json
  packages/astro/src/@types/astro.ts
  packages/astro/src/actions/consts.ts
  packages/astro/src/actions/index.ts
  packages/astro/src/actions/runtime/middleware.ts
  packages/astro/src/actions/runtime/route.ts
  packages/astro/src/actions/runtime/store.ts
  packages/astro/src/actions/runtime/utils.ts
  packages/astro/src/actions/runtime/virtual/client.ts
  packages/astro/src/actions/runtime/virtual/server.ts
  packages/astro/src/actions/runtime/virtual/shared.ts
  packages/astro/src/actions/utils.ts
  packages/astro/src/content/index.ts
  packages/astro/src/content/utils.ts
  packages/astro/src/core/config/schema.ts
  packages/astro/src/core/middleware/index.ts
  packages/astro/src/core/render-context.ts
  packages/astro/src/integrations/hooks.ts
  packages/astro/src/vite-plugin-inject-env-ts/index.ts
  packages/astro/templates/actions.mjs
  packages/astro/test/actions.test.js
  packages/astro/test/astro-sync.test.js
  packages/astro/test/fixtures/actions/astro.config.mjs
  packages/astro/test/fixtures/actions/package.json
  packages/astro/test/fixtures/actions/src/actions/index.ts
  packages/astro/test/units/actions/form-data-to-object.test.js
  packages/astro/types/actions.d.ts
  pnpm-lock.yaml
Labels: pkg: astro, semver: minor, docs pr

#10962 Fix markdown of `markdown-style-guide.md` in the blog example
  examples/blog/src/content/blog/markdown-style-guide.md
Labels: pkg: example

#10973 fix: error message grammar
  packages/astro/src/core/errors/errors-data.ts
Labels: pkg: astro, docs pr

#10908 proposal for better support for custom swap functions
  packages/astro/e2e/fixtures/view-transitions/src/pages/chaining.astro
  packages/astro/e2e/fixtures/view-transitions/src/pages/half-baked.astro
  packages/astro/e2e/fixtures/view-transitions/src/pages/keep-style-one.astro
  packages/astro/e2e/fixtures/view-transitions/src/pages/keep-theme-one.astro
  packages/astro/e2e/fixtures/view-transitions/src/pages/keep-two.astro
  packages/astro/e2e/fixtures/view-transitions/src/pages/replace-main-one.astro
  packages/astro/e2e/view-transitions.test.js
  packages/astro/src/transitions/events.ts
  packages/astro/src/transitions/router.ts
  packages/astro/src/transitions/swap-functions.ts
Labels: pkg: astro

#10954 feat(env): server/secret variables
  packages/astro/package.json
  packages/astro/src/@types/astro.ts
  packages/astro/src/content/utils.ts
  packages/astro/src/content/vite-plugin-content-virtual-mod.ts
  packages/astro/src/core/app/index.ts
  packages/astro/src/core/app/types.ts
  packages/astro/src/core/build/generate.ts
  packages/astro/src/core/build/plugins/plugin-manifest.ts
  packages/astro/src/core/errors/errors-data.ts
  packages/astro/src/env/constants.ts
  packages/astro/src/env/types.ts
  packages/astro/src/env/vite-plugin-env-virtual-mod.ts
  packages/astro/src/integrations/astroFeaturesValidation.ts
  packages/astro/src/runtime/server/astro-env.ts
  packages/astro/src/vite-plugin-astro-server/plugin.ts
  packages/astro/templates/content/module.mjs
  packages/astro/templates/content/types.d.ts
  packages/astro/templates/env/module.mjs
  packages/astro/templates/env/types.d.ts
  packages/astro/test/astro-sync.test.js
  packages/astro/test/fixtures/astro-env-server-secret/astro.config.mjs
  packages/astro/test/fixtures/astro-env-server-secret/package.json
  packages/astro/test/fixtures/astro-env-server-secret/src/pages/index.astro
  packages/astro/test/fixtures/astro-env-server-secret/tsconfig.json
  packages/astro/test/middleware.test.js
  packages/astro/test/ssr-locals.test.js
  packages/astro/test/test-adapter.js
  packages/astro/test/units/content-collections/frontmatter.test.js
  packages/astro/test/units/env/env-client-public.test.js
  packages/astro/test/units/env/env-public.test.js
  packages/astro/test/units/env/env-secret.test.js
  pnpm-lock.yaml
Labels: pkg: astro, docs pr

#10761 feat(vercel): skew protection
  .changeset/honest-games-bathe.md
  packages/integrations/vercel/src/serverless/adapter.ts
  packages/integrations/vercel/src/serverless/entrypoint.ts
  packages/integrations/vercel/test/edge-middleware.test.js.snap
Labels: pkg: integration

#10937 feat(solid): add support for devtools
  .changeset/olive-bags-drive.md
  packages/astro/test/sourcemap.test.js
  packages/integrations/solid/package.json
  packages/integrations/solid/src/index.ts
  pnpm-lock.yaml
Labels: pkg: solid, pkg: integration, pkg: astro

#10976 fix: logic for printing warning
  packages/astro/src/core/middleware/callMiddleware.ts
Labels: pkg: astro

#10977 Fix error when accessing `clientAddress` on prerendered routes
  .changeset/breezy-lies-sparkle.md
  packages/astro/src/core/errors/errors-data.ts
  packages/astro/src/core/render-context.ts
  packages/astro/src/vite-plugin-astro-server/plugin.ts
Labels: pkg: astro, docs pr

#10980 chore: move error in the correct section
  packages/astro/src/core/errors/errors-data.ts
Labels: pkg: astro, docs pr

#10982 chore: fix changelog bug caused by changesets bot
  packages/astro/CHANGELOG.md
Labels: pkg: astro

#10975 Support scope styles for picture element in Picture component
  .changeset/ten-needles-rescue.md
  packages/astro/components/Picture.astro
  packages/astro/test/core-image.test.js
  packages/astro/test/fixtures/core-image/src/pages/picturecomponent.astro
Labels: pkg: astro

#10987 fix: incorrect type for experimental option
  .changeset/lemon-otters-rest.md
  packages/astro/src/@types/astro.ts
Labels: pkg: astro, docs pr

#10986 feat(package.json): removed wrong react types
  .changeset/unlucky-seas-greet.md
  packages/integrations/react/package.json
Labels: pkg: react, pkg: integration

#10991 fix: new version message when running astro dev
  packages/astro/src/core/dev/dev.ts
  packages/astro/src/core/messages.ts
Labels: pkg: astro

#10979 Fix loading of non-index routes that end with `index.html`
  .changeset/tiny-dodos-melt.md
  packages/astro/src/vite-plugin-astro-server/route.ts
  packages/astro/test/dev-routing.test.js
  packages/astro/test/fixtures/without-site-config/src/pages/base-index.astro
Labels: pkg: astro

#10990 fix: fix incorrect actions path on windows
  .changeset/fluffy-zoos-hammer.md
  packages/astro/src/actions/index.ts
Labels: pkg: astro

#10997 docs: fix actions added-in version
  packages/astro/src/@types/astro.ts
Labels: pkg: astro, docs pr

#11001 docs: fix indentation in experimental.actions code examples
  packages/astro/src/@types/astro.ts
Labels: pkg: astro, docs pr

#11006 Fix: allow `locals` access from actions
  .changeset/popular-spiders-cough.md
  packages/astro/src/actions/index.ts
  packages/astro/test/actions.test.js
  packages/astro/test/fixtures/actions/src/actions/index.ts
  packages/astro/test/fixtures/actions/src/middleware.ts
  packages/astro/test/fixtures/actions/src/pages/middleware.astro
Labels: pkg: astro

#11008 docs: fix arguments in experimental.actions code example
  packages/astro/CHANGELOG.md
  packages/astro/src/@types/astro.ts
Labels: pkg: astro, docs pr

#11013 Prevents unhandledrejection error when checking for latest Astro version
  .changeset/warm-schools-applaud.md
  packages/astro/src/core/dev/dev.ts
Labels: pkg: astro

#11030 Actions: fix custom error message on client
  .changeset/slimy-comics-thank.md
  packages/astro/e2e/actions-blog.test.js
  packages/astro/e2e/fixtures/actions-blog/src/actions/index.ts
  packages/astro/e2e/fixtures/actions-blog/src/components/PostComment.tsx
  packages/astro/e2e/fixtures/actions-blog/src/pages/blog/[...slug].astro
  packages/astro/src/actions/runtime/route.ts
  packages/astro/src/actions/runtime/virtual/shared.ts
  packages/astro/test/actions.test.js
  packages/astro/test/fixtures/actions/src/actions/index.ts
  packages/astro/test/fixtures/actions/src/pages/user-or-throw.astro
  packages/astro/test/fixtures/actions/src/pages/user.astro
Labels: pkg: astro

#11029 Actions: include zod error in message for easier debugging
  .changeset/modern-donkeys-taste.md
  packages/astro/src/actions/runtime/virtual/shared.ts
Labels: pkg: astro

#11034 fix: add missing attribute popovertargetaction
  .changeset/witty-cougars-allow.md
  packages/astro/astro-jsx.d.ts
Labels: pkg: astro

#11020 fix(astro): refine assets prefix typing
  .changeset/seven-crabs-burn.md
  packages/astro/client.d.ts
Labels: pkg: astro

#10981 fix(types): Add name attribute to AnchorHTMLAttributes
  .changeset/tiny-toys-exist.md
  packages/astro/astro-jsx.d.ts
Labels: pkg: astro

#11028 actions: Throw error on missing server output
  .changeset/many-news-rescue.md
  packages/astro/src/actions/index.ts
  packages/astro/src/core/errors/errors-data.ts
Labels: pkg: astro, docs pr

#11039 docs: fix grammatical mix-up
  packages/astro/src/@types/astro.ts
Labels: pkg: astro, docs pr

#11036 test: add firefox to the list of browsers to test
  package.json
  packages/astro/package.json
  packages/astro/playwright.firefox.config.js
Labels: pkg: astro

#11046 Fix `getViteConfig()` type definition
  .changeset/popular-colts-happen.md
  packages/astro/config.d.ts
Labels: pkg: astro

#11043 Actions: fix minor type issues in documented example
  .changeset/dirty-planes-punch.md
  packages/astro/src/@types/astro.ts
Labels: pkg: astro, docs pr

#11041 Actions: support empty args and empty response
  .changeset/many-guests-yell.md
  packages/astro/src/actions/runtime/middleware.ts
  packages/astro/src/actions/runtime/route.ts
  packages/astro/src/actions/runtime/utils.ts
  packages/astro/templates/actions.mjs
  packages/astro/test/actions.test.js
  packages/astro/test/fixtures/actions/src/actions/index.ts
Labels: pkg: astro

#10999 Improve prefetch behaviour for browsers
  .changeset/great-turtles-clap.md
  .gitignore
  packages/astro/e2e/prefetch.test.js
  packages/astro/playwright.firefox.config.js
  packages/astro/src/prefetch/index.ts
Labels: pkg: astro

#11050 fix(rss): fix an issue where trailing slash is not removed even if `trailingSlash` is set to `false`
  .changeset/tame-otters-destroy.md
  packages/astro-rss/src/index.ts
  packages/astro-rss/src/util.ts
  packages/astro-rss/test/rss.test.js
Labels: pkg: rss

#11052 fix: conflict between rewrite and actions middleware
  .changeset/khaki-papayas-knock.md
  packages/astro/e2e/actions-blog.test.js
  packages/astro/e2e/fixtures/actions-blog/src/components/BaseHead.astro
  packages/astro/e2e/fixtures/actions-blog/src/components/PostComment.tsx
  packages/astro/e2e/fixtures/actions-blog/src/pages/blog/[...slug].astro
  packages/astro/src/actions/runtime/middleware.ts
Labels: pkg: astro

#10965 Update generator.ts to allow %23 (#) in dynamic urls
  .changeset/mean-geckos-sell.md
  packages/astro/src/core/routing/manifest/generator.ts
  packages/astro/test/ssr-params.test.js
Labels: pkg: astro, semver: minor

#10924 add error message for svg without dimensions
  .changeset/cold-dolls-do.md
  packages/astro/src/assets/utils/metadata.ts
Labels: pkg: astro

#11062 fix(i18n): allow to create 404.html and 500.html
  .changeset/lazy-rockets-raise.md
  packages/astro/src/i18n/index.ts
  packages/astro/src/i18n/middleware.ts
  packages/astro/test/fixtures/i18n-routing-prefix-always/src/pages/500.astro
  packages/astro/test/i18n-routing-manual-with-default-middleware.test.js
  packages/astro/test/i18n-routing.test.js
Labels: pkg: astro

#11065 fix(rewrite): match index with params
  .changeset/brave-cycles-suffer.md
  packages/astro/src/core/app/pipeline.ts
  packages/astro/src/core/base-pipeline.ts
  packages/astro/src/core/build/pipeline.ts
  packages/astro/src/core/render-context.ts
  packages/astro/src/vite-plugin-astro-server/pipeline.ts
  packages/astro/test/fixtures/reroute/src/middleware.js
  packages/astro/test/fixtures/reroute/src/pages/auth/params.astro
  packages/astro/test/rewrite.test.js
Labels: pkg: astro

#11069 fix: improve logging for on-demand pages
  .changeset/silly-parents-repair.md
  packages/astro/src/core/app/index.ts
Labels: pkg: astro

#11058 Fix streaming in Node.js fast path
  .changeset/fluffy-pears-press.md
  packages/astro/src/runtime/server/render/astro/render.ts
  packages/astro/test/streaming.test.js
Labels: pkg: astro

#11084 Fix hoisted scripts propagation
  .changeset/hungry-phones-melt.md
  packages/astro/src/core/build/plugins/plugin-analyzer.ts
  packages/astro/test/content-collections.test.js
  packages/astro/test/fixtures/content-collections/src/components/ScriptCompA.astro
  packages/astro/test/fixtures/content-collections/src/components/ScriptCompB.astro
  packages/astro/test/fixtures/content-collections/src/content/with-scripts/one.mdx
  packages/astro/test/fixtures/content-collections/src/pages/with-scripts/[...slug].astro
Labels: pkg: astro

#11073 Prevent cache content from being left in dist folder
  .changeset/brown-pens-type.md
  packages/astro/src/core/build/consts.ts
  packages/astro/src/core/build/index.ts
  packages/astro/src/core/build/plugins/plugin-content.ts
  packages/astro/src/core/build/static-build.ts
  packages/astro/test/experimental-content-collections-render.test.js
Labels: pkg: astro

#11094 Upgrade `web-vitals` to v4
  .changeset/many-icons-kiss.md
  packages/integrations/web-vitals/package.json
  packages/integrations/web-vitals/src/client-script.ts
  packages/integrations/web-vitals/src/schemas.ts
  packages/integrations/web-vitals/test/basics.test.js
  packages/integrations/web-vitals/test/fixtures/basics/src/pages/rows.json.ts
  pnpm-lock.yaml
Labels: pkg: integration

#11096 Support deprecating Web Vitals table
  .changeset/good-turtles-guess.md
  packages/integrations/web-vitals/README.md
  packages/integrations/web-vitals/src/db-config.ts
  packages/integrations/web-vitals/src/index.ts
Labels: pkg: integration

#11054 fix: set status on error with progressive fallback
  .changeset/gorgeous-dancers-return.md
  packages/astro/src/actions/runtime/middleware.ts
Labels: pkg: astro

#11092 fix type definition of IntrinsicAttributes's slot attribute
  .changeset/new-mice-occur.md
  packages/astro/astro-jsx.d.ts
Labels: pkg: astro

#11093 Enables view transition e2e tests with Firefox
  packages/astro/e2e/fixtures/view-transitions/src/pages/abort2.astro
  packages/astro/e2e/view-transitions.test.js
  packages/astro/playwright.firefox.config.js
Labels: pkg: astro

#10875 docs: updated comment from Accept-Header to Accept-Language
  .changeset/rare-dots-check.md
  packages/astro/src/i18n/utils.ts
Labels: pkg: astro

#11081 fix(astro): positioning of inspection tooltip in RTL mode
  .changeset/young-cooks-switch.md
  packages/astro/e2e/dev-toolbar.test.js
  packages/astro/e2e/fixtures/dev-toolbar/src/pages/xray-overlay-positioning.astro
  packages/astro/src/runtime/client/dev-toolbar/apps/utils/highlight.ts
Labels: pkg: astro

#11074 Actions: support React 19 `useActionState()` with progressive enhancement
  .changeset/gentle-windows-enjoy.md
  packages/astro/e2e/actions-react-19.test.js
  packages/astro/e2e/fixtures/actions-blog/src/actions/index.ts
  packages/astro/e2e/fixtures/actions-react-19/src/actions/index.ts
  packages/astro/e2e/fixtures/actions-react-19/src/components/Like.tsx
  packages/astro/e2e/fixtures/actions-react-19/src/pages/blog/[...slug].astro
  packages/astro/src/@types/astro.ts
  packages/astro/src/actions/runtime/middleware.ts
  packages/astro/src/actions/utils.ts
  packages/astro/src/core/render-context.ts
  packages/astro/templates/actions.mjs
  packages/integrations/react/client.js
  packages/integrations/react/package.json
  packages/integrations/react/server.js
  packages/integrations/react/src/actions.ts
Labels: pkg: react, pkg: integration, pkg: astro, semver: minor, docs pr

#10813 fix(renderer): omitting internal symbol from mdx props
  .changeset/wild-mice-battle.md
  packages/astro/src/runtime/server/jsx.ts
  packages/integrations/mdx/test/fixtures/mdx-plus-react-errors/astro.config.mjs
  packages/integrations/mdx/test/fixtures/mdx-plus-react-errors/package.json
  packages/integrations/mdx/test/fixtures/mdx-plus-react-errors/src/components/BrokenComponent.jsx
  packages/integrations/mdx/test/fixtures/mdx-plus-react-errors/src/content/config.js
  packages/integrations/mdx/test/fixtures/mdx-plus-react-errors/src/content/files/file.mdx
  packages/integrations/mdx/test/fixtures/mdx-plus-react-errors/src/pages/broken.astro
  packages/integrations/mdx/test/mdx-plus-react-errors.test.js
  pnpm-lock.yaml
Labels: pkg: integration, pkg: astro

#11111 Actions: stop warning about `headers` usage on prerendered routes
  .changeset/wild-hounds-repair.md
  packages/astro/src/actions/runtime/middleware.ts
Labels: pkg: astro

#11022 feat: make i18n domains stable
  .changeset/five-crabs-rhyme.md
  packages/astro/src/@types/astro.ts
  packages/astro/src/core/build/generate.ts
  packages/astro/src/core/build/plugins/plugin-manifest.ts
  packages/astro/src/core/config/schema.ts
  packages/astro/src/integrations/features-validation.ts
  packages/astro/test/fixtures/i18n-routing-subdomain/astro.config.mjs
  packages/astro/test/units/config/config-validate.test.js
  packages/astro/test/units/i18n/astro_i18n.test.js
Labels: pkg: astro, semver: minor, docs pr

#11021 feat: make CSRF protection stable
  .changeset/chatty-experts-smell.md
  packages/astro/src/@types/astro.ts
  packages/astro/src/core/build/generate.ts
  packages/astro/src/core/build/plugins/plugin-manifest.ts
  packages/astro/src/core/config/schema.ts
  packages/astro/src/vite-plugin-astro-server/plugin.ts
  packages/astro/test/fixtures/csrf-check-origin/astro.config.mjs
Labels: pkg: astro, semver: minor, docs pr

#11101 feat: prefer using x-forwarded-for as clientAddress
  .changeset/healthy-planets-dream.md
  packages/astro/src/core/app/node.ts
  packages/astro/test/client-address-node.test.js
  packages/astro/test/fixtures/client-address-node/astro.config.mjs
  packages/astro/test/fixtures/client-address-node/package.json
  packages/astro/test/fixtures/client-address-node/src/pages/index.astro
  packages/astro/test/test-utils.js
  pnpm-lock.yaml
Labels: pkg: astro, semver: minor

#11051 feat: container APIs
  .changeset/brave-colts-cover.md
  examples/container-with-vitest/.codesandbox/Dockerfile
  examples/container-with-vitest/.gitignore
  examples/container-with-vitest/README.md
  examples/container-with-vitest/astro.config.ts
  examples/container-with-vitest/package.json
  examples/container-with-vitest/public/favicon.svg
  examples/container-with-vitest/src/components/Card.astro
  examples/container-with-vitest/src/components/Counter.jsx
  examples/container-with-vitest/src/components/ReactWrapper.astro
  examples/container-with-vitest/src/pages/[locale].astro
  examples/container-with-vitest/src/pages/api.ts
  examples/container-with-vitest/src/pages/index.astro
  examples/container-with-vitest/test/Card.test.ts
  examples/container-with-vitest/test/ReactWrapper.test.ts
  examples/container-with-vitest/test/[locale].test.ts
  examples/container-with-vitest/tsconfig.json
  examples/container-with-vitest/vitest.config.ts
  packages/astro/package.json
  packages/astro/src/container/index.ts
  packages/astro/src/container/pipeline.ts
  packages/astro/src/core/config/schema.ts
  packages/astro/src/core/render-context.ts
  packages/astro/src/core/routing/manifest/create.ts
  packages/astro/src/vite-plugin-astro-server/plugin.ts
  packages/astro/test/container.test.js
  pnpm-lock.yaml
Labels: pkg: example, pkg: astro, semver: minor

#11112 Actions: restore api context param
  .changeset/six-icons-pump.md
  packages/astro/src/actions/runtime/virtual/server.ts
  packages/astro/test/fixtures/actions/src/actions/index.ts
Labels: pkg: astro

#11055 feat(vue): add support vue devtools options
  .changeset/sweet-needles-juggle.md
  packages/integrations/vue/package.json
  packages/integrations/vue/src/index.ts
  pnpm-lock.yaml
Labels: pkg: vue, pkg: integration

#11117 [docs] updates security.checkOrigin config reference
  packages/astro/src/@types/astro.ts
Labels: pkg: astro, docs pr

#11118 [docs] update heading level in config reference
  packages/astro/src/@types/astro.ts
Labels: pkg: astro, docs pr

#11119 [docs] fix config reference code formatting
  packages/astro/src/@types/astro.ts
Labels: pkg: astro, docs pr

#11088 Actions: Allow actions to be called on the server
  .changeset/eighty-taxis-wait.md
  packages/astro/e2e/actions-blog.test.js
  packages/astro/e2e/fixtures/actions-blog/src/pages/blog/[...slug].astro
  packages/astro/src/actions/runtime/middleware.ts
  packages/astro/src/actions/runtime/route.ts
  packages/astro/src/actions/runtime/utils.ts
  packages/astro/src/actions/runtime/virtual/server.ts
  packages/astro/templates/actions.mjs
  packages/astro/test/actions.test.js
  packages/astro/test/fixtures/actions/src/actions/index.ts
  packages/astro/test/fixtures/actions/src/pages/rewrite.astro
  packages/astro/test/fixtures/actions/src/pages/subscribe.astro
Labels: pkg: astro, semver: minor

#11129 Prevent errors from adapters when i18n domains is not used
  .changeset/shy-pets-lie.md
  packages/astro/src/integrations/features-validation.ts
Labels: pkg: astro

#11138 feat: pass props to container
  .changeset/thirty-dots-end.md
  packages/astro/src/container/index.ts
  packages/astro/src/core/render-context.ts
  packages/astro/test/container.test.js
Labels: pkg: astro

#11147 fix(assets): ensure valid mime types in picture component
  .changeset/serious-garlics-cheer.md
  packages/astro/components/Picture.astro
  packages/astro/test/core-image.test.js
  packages/astro/test/fixtures/core-image/src/pages/picturecomponent.astro
Labels: pkg: astro

#11163 Changelog: Fix link
  packages/astro/CHANGELOG.md
Labels: pkg: astro

#11141 fix(runtime): check head+content component before throwing an error
  .changeset/silver-bananas-move.md
  packages/astro/src/runtime/server/render/astro/render.ts
  packages/astro/test/container.test.js
Labels: pkg: astro

#11164 :bug: removed deprecated items from lit integration
  .changeset/gold-meals-march.md
  packages/integrations/lit/client-shim.js
  packages/integrations/lit/client-shim.min.js
Labels: pkg: lit, pkg: integration

#11171 fix: guard asset global usage
  .changeset/gentle-moose-provide.md
  packages/astro/src/assets/utils/proxy.ts
Labels: pkg: astro
