Repository withastro/astro, pull requests merged in 2025-02, with the labels that each got.

#12950 chore(preact): upgrade @preact/preset-vite
  .changeset/short-pots-report.md
  .github/renovate.json5
  packages/integrations/preact/package.json
  pnpm-lock.yaml
Labels: pkg: preact, pkg: integration

#13130 fix: correct handling of collapsing slashes
  .changeset/afraid-kangaroos-hope.md
  .changeset/pink-apes-invite.md
  packages/astro/src/vite-plugin-astro-server/trailing-slash.ts
  packages/astro/test/dev-routing.test.js
  packages/astro/test/ssr-trailing-slash.test.js
  packages/internal-helpers/src/path.ts
  pnpm-lock.yaml
Labels: pkg: astro

#13131 fix: ignore trailing slash for endpoints with file extensions
  .changeset/purple-suits-matter.md
  packages/astro/src/core/routing/manifest/create.ts
  packages/astro/test/units/routing/trailing-slash.test.js
Labels: pkg: astro

#13126 Fix typo
  packages/integrations/svelte/client.svelte.js
Labels: pkg: svelte, pkg: integration

#13133 fix(routing): skip middleware for external redirects
  .changeset/lazy-readers-change.md
  packages/astro/src/core/render-context.ts
  packages/astro/src/core/routing/match.ts
  packages/astro/test/fixtures/redirects-i18n/astro.config.mjs
  packages/astro/test/fixtures/redirects-i18n/package.json
  packages/astro/test/fixtures/redirects-i18n/src/pages/index.astro
  packages/astro/test/redirects.test.js
  pnpm-lock.yaml
Labels: pkg: astro

#13119 Tailwind v4 onboarding enhancements
  .changeset/spotty-maps-sneeze.md
  packages/astro/src/cli/add/index.ts
  packages/astro/src/core/messages.ts
Labels: pkg: astro

#13151 chore: print snapshot release error output
  .github/workflows/snapshot-release.yml
Labels: 🚨 action

#13093 feat(fonts): vite plugin
  packages/astro/client.d.ts
  packages/astro/components/Fonts.astro
  packages/astro/package.json
  packages/astro/src/assets/fonts/README.md
  packages/astro/src/assets/fonts/cache.ts
  packages/astro/src/assets/fonts/constants.ts
  packages/astro/src/assets/fonts/providers.ts
  packages/astro/src/assets/fonts/providers/adobe.ts
  packages/astro/src/assets/fonts/providers/google.ts
  packages/astro/src/assets/fonts/providers/local.ts
  packages/astro/src/assets/fonts/types.ts
  packages/astro/src/assets/fonts/utils.ts
  packages/astro/src/assets/fonts/vite-plugin-fonts.ts
  packages/astro/src/assets/vite-plugin-assets.ts
  packages/astro/src/core/build/generate.ts
  packages/astro/src/core/build/pipeline.ts
  packages/astro/src/core/build/static-build.ts
  packages/astro/src/core/build/util.ts
  packages/astro/src/core/config/schema.ts
  packages/astro/src/core/create-vite.ts
  packages/astro/src/core/middleware/vite-plugin.ts
  packages/astro/src/integrations/hooks.ts
  packages/astro/src/prerender/utils.ts
  packages/astro/test/fixtures/fonts/astro.config.mjs
  packages/astro/test/fixtures/fonts/package.json
  packages/astro/test/fixtures/fonts/src/pages/index.astro
  packages/astro/test/fixtures/fonts/src/pages/preload.astro
  packages/astro/test/fonts.test.js
  packages/astro/test/types/define-config.ts
  packages/astro/test/units/config/config-validate.test.js
  pnpm-lock.yaml
Labels: pkg: astro

#13187 chore: fix linting issues, integration tests
  packages/integrations/cloudflare/package.json
  packages/integrations/netlify/package.json
  packages/integrations/netlify/src/index.ts
  packages/integrations/netlify/test/functions/redirects.test.js
  packages/integrations/netlify/test/hosted/hosted-astro-project/package.json
  packages/integrations/node/package.json
  packages/integrations/node/src/middleware.ts
  packages/integrations/node/src/preview.ts
  packages/integrations/node/src/serve-static.ts
  packages/integrations/node/src/standalone.ts
  packages/integrations/node/test/errors.test.js
  packages/integrations/node/test/fixtures/api-route/package.json
  packages/integrations/node/test/fixtures/bad-urls/package.json
  packages/integrations/node/test/fixtures/encoded/package.json
  packages/integrations/node/test/fixtures/errors/package.json
  packages/integrations/node/test/fixtures/headers/package.json
  packages/integrations/node/test/fixtures/image/package.json
  packages/integrations/node/test/fixtures/locals/package.json
  packages/integrations/node/test/fixtures/node-middleware/package.json
  packages/integrations/node/test/fixtures/prerender-404-500/package.json
  packages/integrations/node/test/fixtures/prerender/package.json
  packages/integrations/node/test/fixtures/preview-headers/package.json
  packages/integrations/node/test/fixtures/trailing-slash/package.json
  packages/integrations/node/test/fixtures/url/package.json
  packages/integrations/node/test/fixtures/well-known-locations/package.json
  packages/integrations/node/test/prerender.test.js
  packages/integrations/vercel/package.json
  packages/integrations/vercel/test/edge-middleware.test.js
  packages/integrations/vercel/test/hosted/hosted-astro-project/package.json
  packages/integrations/vercel/test/hosted/hosted.test.js
  pnpm-lock.yaml
Labels: pkg: integration

#13188 fix: error message text
  .changeset/mean-icons-applaud.md
  packages/astro/src/core/errors/errors-data.ts
Labels: pkg: astro, docs pr

#13207 feat(fonts): rename component
  packages/astro/client.d.ts
  packages/astro/components/Font.astro
  packages/astro/src/assets/fonts/README.md
  packages/astro/src/assets/fonts/vite-plugin-fonts.ts
  packages/astro/src/assets/vite-plugin-assets.ts
  packages/astro/test/fixtures/fonts/src/pages/index.astro
  packages/astro/test/fixtures/fonts/src/pages/preload.astro
  packages/astro/test/fonts.test.js
Labels: pkg: astro

#13205 fix(i18n): bypass server island with base
  .changeset/nice-poems-smoke.md
  packages/astro/src/core/routing/match.ts
  packages/astro/test/i18n-routing.test.js
Labels: pkg: astro

#13208 feat(fonts): more providers
  packages/astro/src/assets/fonts/providers.ts
  packages/astro/src/assets/fonts/providers/bunny.ts
  packages/astro/src/assets/fonts/providers/fontshare.ts
  packages/astro/src/assets/fonts/providers/fontsource.ts
  packages/astro/src/assets/fonts/providers/index.ts
  packages/astro/src/config/entrypoint.ts
Labels: pkg: astro

#13216 ci: remove dispatch event workflow
  .github/workflows/dispatch-event.yml
Labels: 🚨 action

#13218 ci: preview release via pkg.pr.new for current packages
  .github/workflows/preview-release.yml
Labels: 🚨 action

#13223 fix: use shared helper for file extensions
  .changeset/silent-guests-play.md
  packages/integrations/node/package.json
  packages/integrations/node/src/serve-static.ts
  packages/integrations/node/test/fixtures/trailing-slash/src/assets/bitgeneva12.woff2
  packages/integrations/node/test/fixtures/trailing-slash/src/pages/index.astro
  packages/integrations/node/test/trailing-slash.test.js
  pnpm-lock.yaml
Labels: pkg: integration

#13212 Fix: Adds clarity around output setting log statement
  .changeset/quiet-swans-tickle.md
  packages/astro/src/core/build/index.ts
Labels: pkg: astro

#13224 chore: unpin vercel routing lib
  .changeset/cool-parents-love.md
  packages/integrations/vercel/package.json
  pnpm-lock.yaml
Labels: pkg: integration, pr: preview

#13213 Fix:changes the paginate function to allow readonly array types
  .changeset/thick-crabs-juggle.md
  packages/astro/src/core/render/paginate.ts
  packages/astro/src/types/public/common.ts
Labels: pkg: astro, docs pr

#13226 ci: hardcode packages to publish of release
  .github/workflows/preview-release.yml
Labels: 🚨 action

#13194 Update netlify adapter to integrate includeFiles and excludeFiles options
  .changeset/ninety-clouds-judge.md
  packages/integrations/netlify/src/index.ts
  packages/integrations/netlify/test/functions/fixtures/includes/astro.config.mjs
  packages/integrations/netlify/test/functions/fixtures/includes/files/also-this.csv
  packages/integrations/netlify/test/functions/fixtures/includes/files/exclude-asset.json
  packages/integrations/netlify/test/functions/fixtures/includes/files/include-asset.json
  packages/integrations/netlify/test/functions/fixtures/includes/files/include-this.txt
  packages/integrations/netlify/test/functions/fixtures/includes/files/subdirectory/and-this.csv
  packages/integrations/netlify/test/functions/fixtures/includes/files/subdirectory/not-this.csv
  packages/integrations/netlify/test/functions/fixtures/includes/files/subdirectory/or-this.txt
  packages/integrations/netlify/test/functions/fixtures/includes/package.json
  packages/integrations/netlify/test/functions/fixtures/includes/src/pages/404.astro
  packages/integrations/netlify/test/functions/fixtures/includes/src/pages/index.astro
  packages/integrations/netlify/test/functions/include-files.test.js
  pnpm-lock.yaml
Labels: pkg: integration

#13195 fix(astro): Improve ssr performance (astro#11454)
  .changeset/shaggy-deers-destroy.md
  packages/astro/src/runtime/server/render/any.ts
  packages/astro/src/runtime/server/render/astro/instance.ts
  packages/astro/src/runtime/server/render/astro/render-template.ts
  packages/astro/src/runtime/server/render/astro/render.ts
  packages/astro/src/runtime/server/render/component.ts
  packages/astro/src/runtime/server/render/util.ts
  packages/astro/test/units/render/rendering.test.js
Labels: pkg: astro, semver: minor, pr: preview

#13210 fix: default head requests for endpoints when no explicit head method…
  .changeset/afraid-turkeys-kneel.md
  packages/astro/src/runtime/server/endpoint.ts
  packages/astro/test/core-image.test.js
  packages/astro/test/units/runtime/endpoints.test.js
Labels: pkg: astro, semver: minor

#13101 fix: respond with 200 to HEAD requests for non-prerendered pages as well
  .changeset/tricky-toes-drum.md
  packages/astro/src/core/app/middlewares.ts
  packages/astro/test/csrf-protection.test.js
  packages/astro/test/fixtures/csrf-check-origin/src/pages/api.ts
Labels: pkg: astro

#13240 chore: reword error message
  packages/astro/src/core/errors/errors-data.ts
  packages/astro/src/core/session.ts
Labels: pkg: astro, docs pr

#13242 test: update test assertion after error rename
  packages/astro/test/sessions.test.js
Labels: pkg: astro

#13251 fix(vue): compiler fallback
  .changeset/itchy-buckets-dream.md
  packages/integrations/vue/src/index.ts
Labels: pkg: vue, pkg: integration

#13209 feat(fonts): local provider
  packages/astro/src/assets/fonts/cache.ts
  packages/astro/src/assets/fonts/config.ts
  packages/astro/src/assets/fonts/constants.ts
  packages/astro/src/assets/fonts/providers.ts
  packages/astro/src/assets/fonts/providers/index.ts
  packages/astro/src/assets/fonts/providers/local.ts
  packages/astro/src/assets/fonts/types.ts
  packages/astro/src/assets/fonts/vite-plugin-fonts.ts
  packages/astro/src/config/index.ts
  packages/astro/src/core/config/schema.ts
  packages/astro/src/types/public/config.ts
  packages/astro/test/types/define-config.ts
Labels: pkg: astro, docs pr

#13263 feat(fonts): improve providers
  packages/astro/package.json
  packages/astro/src/assets/fonts/helpers.ts
  packages/astro/src/assets/fonts/providers.ts
  packages/astro/src/assets/fonts/providers/adobe.ts
  packages/astro/src/assets/fonts/providers/bunny.ts
  packages/astro/src/assets/fonts/providers/entrypoints/adobe.ts
  packages/astro/src/assets/fonts/providers/entrypoints/bunny.ts
  packages/astro/src/assets/fonts/providers/entrypoints/fontshare.ts
  packages/astro/src/assets/fonts/providers/entrypoints/fontsource.ts
  packages/astro/src/assets/fonts/providers/entrypoints/google.ts
  packages/astro/src/assets/fonts/providers/fontshare.ts
  packages/astro/src/assets/fonts/providers/fontsource.ts
  packages/astro/src/assets/fonts/providers/google.ts
  packages/astro/src/assets/fonts/providers/index.ts
  packages/astro/src/assets/fonts/providers/local.ts
  packages/astro/src/assets/fonts/providers/utils.ts
  packages/astro/src/assets/fonts/vite-plugin-fonts.ts
  packages/astro/src/config/entrypoint.ts
  packages/astro/test/types/define-font-provider.ts
  packages/astro/test/units/assets/fonts/providers.test.js
Labels: pkg: astro

#13273 feat(fonts): improve cache
  packages/astro/src/assets/fonts/cache.ts
  packages/astro/src/assets/fonts/utils.ts
  packages/astro/src/assets/fonts/vite-plugin-fonts.ts
  packages/astro/test/units/assets/fonts/utils.test.js
Labels: pkg: astro

#13274 refactor(fonts): url proxy
  packages/astro/src/assets/fonts/providers/local.ts
  packages/astro/src/assets/fonts/utils.ts
  packages/astro/src/assets/fonts/vite-plugin-fonts.ts
  packages/astro/src/assets/vite-plugin-assets.ts
  packages/astro/test/units/assets/fonts/utils.test.js
Labels: pkg: astro

#13275 feat(fonts): dev headers
  packages/astro/src/assets/fonts/vite-plugin-fonts.ts
  packages/astro/test/fonts.test.js
Labels: pkg: astro

#13267 chore: use workspace Node.js adapter
  benchmark/package.json
  packages/astro/e2e/fixtures/actions-blog/package.json
  packages/astro/e2e/fixtures/actions-react-19/package.json
  packages/astro/e2e/fixtures/i18n/package.json
  packages/astro/e2e/fixtures/server-islands-key/package.json
  packages/astro/e2e/fixtures/server-islands/package.json
  packages/astro/e2e/fixtures/view-transitions/package.json
  packages/astro/test/fixtures/client-address-node/package.json
  packages/astro/test/fixtures/custom-assets-name/package.json
  packages/astro/test/fixtures/ssr-api-route/package.json
  packages/astro/test/fixtures/static-build-ssr/package.json
  packages/db/test/fixtures/ticketing-example/package.json
  packages/integrations/sitemap/package.json
  packages/integrations/web-vitals/test/fixtures/basics/package.json
  pnpm-lock.yaml
Labels: pkg: integration, pkg: astro

#13233 FIX: Ensures that rewrite url contains base path
  .changeset/clean-tools-promise.md
  .changeset/modern-seals-sell.md
  packages/astro/src/core/routing/rewrite.ts
  packages/astro/test/fixtures/rewrite-trailing-slash-never/src/pages/bar.astro
  packages/astro/test/fixtures/rewrite-trailing-slash-never/src/pages/index.astro
  packages/astro/test/fixtures/rewrite-with-base/astro.config.mjs
  packages/astro/test/fixtures/rewrite-with-base/package.json
  packages/astro/test/fixtures/rewrite-with-base/src/pages/index.astro
  packages/astro/test/fixtures/rewrite-with-base/src/pages/page.astro
  packages/astro/test/fixtures/rewrite-with-base/src/pages/rewrite-to-index.astro
  packages/astro/test/fixtures/rewrite-with-base/src/pages/rewrite-to-subpage-with-slash.astro
  packages/astro/test/fixtures/rewrite-with-base/src/pages/rewrite-to-subpage.astro
  packages/astro/test/fixtures/rewrite-with-base/src/pages/rewrite-with-base-to-index-with-slash.astro
  packages/astro/test/fixtures/rewrite-with-base/src/pages/rewrite-with-base-to-index.astro
  packages/astro/test/fixtures/rewrite-with-base/src/pages/rewrite-with-base-to-subpage-with-slash.astro
  packages/astro/test/fixtures/rewrite-with-base/src/pages/rewrite-with-base-to-subpage.astro
  packages/astro/test/rewrite.test.js
  pnpm-lock.yaml
Labels: pkg: astro

#13201 feat(cloudflare): Includes onerror passthrough
  .changeset/gentle-rings-confess.md
  packages/integrations/cloudflare/src/entrypoints/image-service.ts
Labels: pkg: integration

#13190 fix: update node image.endpoint config structure
  .changeset/young-pears-press.md
  packages/integrations/node/src/index.ts
Labels: pkg: integration

#13276 feat(fonts): better local provider
  packages/astro/src/assets/fonts/providers/local.ts
  packages/astro/src/assets/fonts/utils.ts
  packages/astro/src/assets/fonts/vite-plugin-fonts.ts
  packages/astro/test/units/assets/fonts/providers.test.js
  packages/astro/test/units/assets/fonts/utils.test.js
Labels: pkg: astro

#13288 ci: remove old preview release workflows
  .github/workflows/preview-comment.yml
  .github/workflows/preview-release.yml
  .github/workflows/snapshot-release.yml
  CONTRIBUTING.md
Labels: 🚨 action

#13289 ci: Automatically remove preview label on trigger
  .github/workflows/preview-release.yml
Labels: 🚨 action, - P1: chore

#13292 ci: remove colon from label
  .github/workflows/preview-release.yml
Labels: 🚨 action

#13257 Modify the template README file to reflect the correct package manager
  .changeset/slow-goats-eat.md
  packages/create-astro/src/actions/template.ts
Labels: pkg: create-astro

#13003 feat: fix the use of vite.base in Astro Dev Server
  .changeset/fresh-badgers-itch.md
  packages/astro/src/container/index.ts
  packages/astro/src/core/app/types.ts
  packages/astro/src/core/build/generate.ts
  packages/astro/src/core/build/plugins/plugin-manifest.ts
  packages/astro/src/core/render-context.ts
  packages/astro/src/runtime/server/render/head.ts
  packages/astro/src/runtime/server/render/script.ts
  packages/astro/src/types/public/internal.ts
  packages/astro/src/vite-plugin-astro-server/plugin.ts
  packages/astro/test/astro-dev-headers.test.js
  pnpm-lock.yaml
Labels: pkg: astro, docs pr

#13299 Replace globby/fast-glob/tiny-glob with tinyglobby
  .changeset/happy-tomatoes-kick.md
  .github/scripts/announce.mjs
  package.json
  packages/astro/package.json
  packages/astro/src/content/loaders/glob.ts
  packages/astro/src/content/types-generator.ts
  packages/astro/src/content/vite-plugin-content-virtual-mod.ts
  packages/astro/src/core/build/plugins/plugin-manifest.ts
  packages/astro/src/core/build/static-build.ts
  packages/astro/src/core/create-vite.ts
  packages/astro/test/test-utils.js
  packages/integrations/cloudflare/package.json
  packages/integrations/cloudflare/src/utils/generate-routes-json.ts
  packages/integrations/cloudflare/test/external-image-service.test.js
  packages/integrations/netlify/package.json
  packages/integrations/netlify/src/index.ts
  packages/integrations/netlify/test/functions/include-files.test.js
  packages/integrations/vercel/package.json
  packages/integrations/vercel/src/index.ts
  pnpm-lock.yaml
  scripts/cmd/build.js
  scripts/cmd/prebuild.js
  scripts/cmd/test.js
  scripts/deps/update-example-versions.js
  scripts/package.json
Labels: pkg: integration, pkg: astro

#13304 fix: update deps of adapters
  .changeset/fluffy-crabs-sneeze.md
  packages/integrations/cloudflare/package.json
  packages/integrations/vercel/package.json
  pnpm-lock.yaml
Labels: pkg: integration

#13254 feat: Pass remote Markdown images through image service
  .changeset/quiet-birds-joke.md
  .changeset/shy-bats-exist.md
  .changeset/tiny-cows-march.md
  .changeset/warm-planes-swim.md
  packages/astro/src/assets/endpoint/generic.ts
  packages/astro/src/assets/endpoint/node.ts
  packages/astro/src/assets/services/service.ts
  packages/astro/src/assets/utils/index.ts
  packages/astro/src/content/runtime.ts
  packages/astro/src/types/public/config.ts
  packages/astro/src/types/public/index.ts
  packages/astro/src/vite-plugin-markdown/content-entry-type.ts
  packages/astro/src/vite-plugin-markdown/images.ts
  packages/astro/src/vite-plugin-markdown/index.ts
  packages/astro/test/units/remote-pattern.test.js
  packages/integrations/mdx/src/rehype-images-to-component.ts
  packages/internal-helpers/package.json
  packages/internal-helpers/src/remote.ts
  packages/markdown/remark/package.json
  packages/markdown/remark/src/index.ts
  packages/markdown/remark/src/rehype-images.ts
  packages/markdown/remark/src/remark-collect-images.ts
  packages/markdown/remark/src/types.ts
  packages/markdown/remark/test/remark-collect-images.test.js
  pnpm-lock.yaml
Labels: feat: markdown, pkg: integration, pkg: astro, semver: minor, docs pr

#13256 feat: Add CSS variables in getImage for experimental.responsiveImages
  .changeset/clever-rice-compete.md
  packages/astro/components/Image.astro
  packages/astro/components/Picture.astro
  packages/astro/src/assets/internal.ts
  packages/astro/src/assets/utils/imageAttributes.ts
Labels: pkg: astro

#13278 feat: add new `allowedHosts` option
  .changeset/grumpy-sloths-fail.md
  packages/astro/src/cli/dev/index.ts
  packages/astro/src/cli/flags.ts
  packages/astro/src/cli/preview/index.ts
  packages/astro/src/core/config/schema.ts
  packages/astro/src/core/dev/container.ts
  packages/astro/src/core/preview/static-preview-server.ts
  packages/astro/src/types/public/config.ts
Labels: pkg: astro, - P1: chore, semver: minor, docs pr

#13313 fixes property shadowing for form.attributes
  .changeset/purple-jokes-pay.md
  packages/astro/e2e/fixtures/view-transitions/src/pages/form-one.astro
  packages/astro/src/transitions/router.ts
Labels: pkg: astro

#12052 feat(astro): Exposes extra APIs for script and testing
  .changeset/bright-eels-cross.md
  .changeset/slimy-cougars-worry.md
  packages/astro/src/config/entrypoint.ts
  packages/astro/src/core/build/index.ts
  packages/astro/src/core/config/merge.ts
  packages/astro/src/core/index.ts
  packages/astro/src/integrations/hooks.ts
Labels: pkg: astro, semver: minor, pr preview

#13323 chore(deps): update `esbuild` and `vite` versions
  .changeset/flat-ladybugs-argue.md
  package.json
  packages/astro/package.json
  packages/integrations/cloudflare/package.json
  packages/integrations/markdoc/package.json
  packages/integrations/netlify/package.json
  packages/integrations/preact/package.json
  packages/integrations/react/package.json
  packages/integrations/solid/package.json
  packages/integrations/svelte/package.json
  packages/integrations/tailwind/src/index.ts
  packages/integrations/vercel/package.json
  packages/integrations/vue/package.json
  pnpm-lock.yaml
  scripts/package.json
Labels: pkg: svelte, pkg: vue, pkg: react, pkg: preact, pkg: solid, pkg: integration, pkg: astro

#13330 chore: bump `compiler` and `upgrade` packages
  .changeset/three-eyes-listen.md
  .changeset/wet-frogs-visit.md
  packages/astro/package.json
  pnpm-lock.yaml
Labels: pkg: astro

#13320 feat: add support session typing
  .changeset/slimy-bulldogs-sell.md
  packages/astro/src/core/session.ts
  packages/astro/src/types/public/extendables.ts
  packages/astro/test/types/session-data.ts
  packages/astro/test/types/session-env.d.ts
Labels: pkg: astro, docs pr
