Repository withastro/astro, pull requests merged in 2025-06, with the labels that each got.

#13679 fix(vercel): handle SVG images correctly in build image service
  .changeset/dull-pots-laugh.md
  packages/integrations/vercel/src/image/build-service.ts
  packages/integrations/vercel/src/image/shared.ts
Labels: pkg: integration

#13870 chore: docs and changeset
  .changeset/crazy-doors-buy.md
  packages/astro/src/types/public/config.ts
Labels: pkg: astro, semver: minor, docs pr

#13887 Suppress supported features log option
  .changeset/dull-beers-move.md
  packages/astro/src/integrations/features-validation.ts
  packages/astro/src/types/public/integrations.ts
  packages/astro/test/fixtures/feature-support-message-suppresion/astro.config.mjs
  packages/astro/test/fixtures/feature-support-message-suppresion/package.json
  packages/astro/test/fixtures/feature-support-message-suppresion/src/pages/index.astro
  packages/integrations/cloudflare/src/index.ts
  packages/integrations/cloudflare/src/utils/image-config.ts
  pnpm-lock.yaml
Labels: pkg: integration, pkg: astro, semver: minor, docs pr

#13817 Clarify and reduce Cloudflare adapter integration logs noise
  .changeset/fast-planets-shout.md
  packages/integrations/cloudflare/src/index.ts
  pnpm-lock.yaml
Labels: pkg: integration, semver: minor

#13893 chore: clean db specific code
  packages/astro/src/core/config/merge.ts
  packages/astro/src/types/public/config.ts
Labels: pkg: astro, docs pr

#13901 fix: server island fallback not being deleted
  .changeset/silly-peas-smash.md
  packages/astro/e2e/fixtures/server-islands/src/pages/index.astro
  packages/astro/e2e/server-islands.test.js
  packages/astro/src/runtime/server/render/server-islands.ts
Labels: pkg: astro

#13907 bug fix for lost view transition names introduced by 5.9.0
  .changeset/shy-showers-care.md
  packages/astro/e2e/view-transitions.test.js
  packages/astro/package.json
  pnpm-lock.yaml
Labels: pkg: astro

#13902 feat(vite-server): handle vite virtual module ids
  .changeset/open-melons-start.md
  packages/astro/e2e/fixtures/vite-virtual-modules/astro.config.mjs
  packages/astro/e2e/fixtures/vite-virtual-modules/package.json
  packages/astro/e2e/fixtures/vite-virtual-modules/src/pages/index.astro
  packages/astro/e2e/fixtures/vite-virtual-modules/src/plugins/virtual.ts
  packages/astro/e2e/vite-virtual-modules.test.js
  packages/astro/src/core/util.ts
  packages/astro/src/vite-plugin-astro-server/css.ts
  pnpm-lock.yaml
Labels: pkg: astro

#13899 fix(errors): handle servers returning error docs with compression
  .changeset/cold-views-mix.md
  packages/astro/src/core/app/index.ts
Labels: pkg: astro

#13924 fix: isPrerendered now set correctly in static configured redirects.
  .changeset/sharp-vans-greet.md
  packages/astro/src/core/routing/manifest/create.ts
  packages/astro/test/fixtures/static-redirect/astro.config.mjs
  packages/astro/test/fixtures/static-redirect/package.json
  packages/astro/test/fixtures/static-redirect/src/middleware.ts
  packages/astro/test/fixtures/static-redirect/src/pages/index.astro
  packages/astro/test/static-build.test.js
  pnpm-lock.yaml
Labels: pkg: astro

#13697 fix: fallback and rewrite dynamic route pattern matching
  .changeset/seven-geckos-rule.md
  packages/astro/src/container/pipeline.ts
  packages/astro/src/core/app/pipeline.ts
  packages/astro/src/core/build/generate.ts
  packages/astro/src/core/build/pipeline.ts
  packages/astro/src/core/routing/rewrite.ts
  packages/astro/src/vite-plugin-astro-server/pipeline.ts
  packages/astro/test/fixtures/i18n-routing-fallback-rewrite/astro.config.mjs
  packages/astro/test/fixtures/i18n-routing-fallback-rewrite/package.json
  packages/astro/test/fixtures/i18n-routing-fallback-rewrite/src/pages/[...page].astro
  packages/astro/test/fixtures/i18n-routing-fallback-rewrite/src/pages/[slug].astro
  packages/astro/test/fixtures/i18n-routing-fallback-rewrite/src/pages/es/index.astro
  packages/astro/test/fixtures/i18n-routing-fallback-rewrite/src/pages/index.astro
  packages/astro/test/i18n-routing.test.js
  pnpm-lock.yaml
Labels: pkg: astro, semver: minor

#13930 fix(cloudflare): internal fetch
  .changeset/wise-hats-smell.md
  packages/integrations/cloudflare/src/entrypoints/server.ts
Labels: pkg: integration

#13952 feat(netlify): add experimental support for static headers
  .changeset/huge-crabs-remain.md
  .changeset/silver-windows-accept.md
  .changeset/sixty-icons-camp.md
  .changeset/sweet-hotels-cross.md
  packages/astro/test/csp.test.js
  packages/integrations/cloudflare/src/index.ts
  packages/integrations/netlify/package.json
  packages/integrations/netlify/src/index.ts
  packages/integrations/netlify/test/static/fixtures/static-headers/astro.config.mjs
  packages/integrations/netlify/test/static/fixtures/static-headers/package.json
  packages/integrations/netlify/test/static/fixtures/static-headers/src/components/Island.astro
  packages/integrations/netlify/test/static/fixtures/static-headers/src/pages/index.astro
  packages/integrations/netlify/test/static/static-headers.test.js
  packages/underscore-redirects/src/astro.ts
  packages/underscore-redirects/src/host-route.ts
  packages/underscore-redirects/src/index.ts
  packages/underscore-redirects/src/print.ts
  packages/underscore-redirects/test/print.test.js
  packages/underscore-redirects/test/weight.test.js
  pnpm-lock.yaml
Labels: pkg: integration, pkg: astro

#13951 fix: make session driver name optional
  .changeset/neat-worlds-hide.md
  packages/astro/src/core/config/schemas/base.ts
  packages/astro/src/core/session.ts
  packages/astro/src/types/public/config.ts
  packages/integrations/cloudflare/test/sessions.test.js
Labels: pkg: integration, pkg: astro, docs pr

#13965 feat(vercel): experimental static headers
  .changeset/curly-masks-retire.md
  packages/integrations/vercel/package.json
  packages/integrations/vercel/src/index.ts
  packages/integrations/vercel/test/fixtures/static-headers/astro.config.mjs
  packages/integrations/vercel/test/fixtures/static-headers/package.json
  packages/integrations/vercel/test/fixtures/static-headers/src/components/Island.astro
  packages/integrations/vercel/test/fixtures/static-headers/src/pages/index.astro
  packages/integrations/vercel/test/static-headers.test.js
  pnpm-lock.yaml
Labels: pkg: integration

#13963 fix(cloudflare): dispose platform proxy on server close
  .changeset/tall-buses-rest.md
  packages/integrations/cloudflare/package.json
  packages/integrations/cloudflare/src/index.ts
Labels: pkg: integration

#13837 feat(cloudflare): add support for user defined entryfile
  .changeset/breezy-pianos-slide.md
  packages/integrations/cloudflare/env.d.ts
  packages/integrations/cloudflare/package.json
  packages/integrations/cloudflare/src/entrypoints/server.ts
  packages/integrations/cloudflare/src/index.ts
  packages/integrations/cloudflare/src/utils/handler.ts
  packages/integrations/cloudflare/test/fixtures/custom-entryfile/.gitignore
  packages/integrations/cloudflare/test/fixtures/custom-entryfile/astro.config.mjs
  packages/integrations/cloudflare/test/fixtures/custom-entryfile/package.json
  packages/integrations/cloudflare/test/fixtures/custom-entryfile/src/pages/index.astro
  packages/integrations/cloudflare/test/fixtures/custom-entryfile/src/public/.assetsignore
  packages/integrations/cloudflare/test/fixtures/custom-entryfile/src/worker.ts
  packages/integrations/cloudflare/test/fixtures/custom-entryfile/tsconfig.json
  packages/integrations/cloudflare/test/fixtures/custom-entryfile/wrangler.jsonc
  packages/integrations/cloudflare/tsconfig.json
  pnpm-lock.yaml
Labels: pkg: integration

#13976 fix: actions typegen path
  .changeset/stale-donkeys-bake.md
  packages/astro/src/actions/integration.ts
  packages/astro/src/actions/utils.ts
  packages/astro/src/integrations/hooks.ts
Labels: pkg: astro

#13917 feat: unflag responsive images
  .changeset/khaki-cloths-repair.md
  .changeset/mean-gifts-know.md
  packages/astro/client.d.ts
  packages/astro/components/Image.astro
  packages/astro/components/Picture.astro
  packages/astro/components/ResponsivePicture.astro
  packages/astro/src/assets/internal.ts
  packages/astro/src/assets/types.ts
  packages/astro/src/assets/vite-plugin-assets.ts
  packages/astro/src/core/config/schemas/base.ts
  packages/astro/src/core/config/schemas/refined.ts
  packages/astro/src/types/public/config.ts
  packages/astro/test/core-image-layout.test.js
  packages/astro/test/fixtures/core-image-layout/astro.config.mjs
  packages/integrations/mdx/test/fixtures/mdx-images/astro.config.ts
  packages/integrations/vercel/src/image/shared.ts
  packages/integrations/vercel/src/index.ts
  packages/integrations/vercel/test/fixtures/image/astro.config.mjs
Labels: pkg: integration, pkg: astro, semver: minor, docs pr

#13685 feat: live content collections
  .changeset/pretty-doodles-wash.md
  examples/with-markdoc/src/content.config.ts
  packages/astro/package.json
  packages/astro/src/config/entrypoint.ts
  packages/astro/src/content/config.ts
  packages/astro/src/content/consts.ts
  packages/astro/src/content/loaders/errors.ts
  packages/astro/src/content/loaders/types.ts
  packages/astro/src/content/runtime.ts
  packages/astro/src/content/types-generator.ts
  packages/astro/src/content/utils.ts
  packages/astro/src/content/vite-plugin-content-virtual-mod.ts
  packages/astro/src/core/config/schemas/base.ts
  packages/astro/src/core/errors/errors-data.ts
  packages/astro/src/core/errors/errors.ts
  packages/astro/src/types/public/config.ts
  packages/astro/src/types/public/content.ts
  packages/astro/templates/content/module.mjs
  packages/astro/templates/content/types.d.ts
  packages/astro/test/fixtures/live-loaders/astro.config.mjs
  packages/astro/test/fixtures/live-loaders/package.json
  packages/astro/test/fixtures/live-loaders/src/content.config.ts
  packages/astro/test/fixtures/live-loaders/src/live.config.ts
  packages/astro/test/fixtures/live-loaders/src/pages/api.ts
  packages/astro/test/fixtures/live-loaders/src/pages/index.astro
  packages/astro/test/fixtures/live-loaders/src/pages/more.astro
  packages/astro/test/fixtures/live-loaders/src/pages/test-old-api.ts
  packages/astro/test/fixtures/live-loaders/tsconfig.json
  packages/astro/test/live-loaders.test.js
  packages/astro/types/content.d.ts
  pnpm-lock.yaml
  tsconfig.base.json
Labels: pkg: example, pkg: astro, semver: minor, docs pr

#13977 Updates image config ref docs for responsive images to match live docs
  packages/astro/src/types/public/config.ts
Labels: pkg: astro, docs pr

#13983 fix: toolbar image audit in content collections
  .changeset/legal-facts-teach.md
  examples/blog/src/content/blog/markdown-style-guide.md
  packages/astro/src/content/runtime.ts
Labels: pkg: example, pkg: astro

#13987 fix: add info message in dev
  .changeset/small-knives-feel.md
  packages/astro/src/core/dev/restart.ts
Labels: pkg: astro

#14000 fix invalid examples in `Astro.routePattern` docstring
  .changeset/blue-olives-itch.md
  packages/astro/src/types/public/context.ts
Labels: pkg: astro, docs pr

#14008 update readme from examples basics examples
  examples/basics/README.md
Labels: pkg: example

#14019 Make "type" optional when defining live collections
  .changeset/petite-turtles-leave.md
  packages/astro/src/content/config.ts
  packages/astro/src/content/utils.ts
  packages/astro/test/fixtures/live-loaders/src/live.config.ts
Labels: pkg: astro
