Repository withastro/astro, pull requests merged in 2025-07, with the labels that each got.

#14017 fix i18n fallback rewrites failing in server mode
  .changeset/rare-spies-join.md
  packages/astro/src/core/app/pipeline.ts
  packages/astro/src/core/build/pipeline.ts
  packages/astro/src/core/render-context.ts
  packages/astro/src/core/routing/rewrite.ts
  packages/astro/test/fixtures/i18n-routing-fallback-rewrite-hybrid/astro.config.mjs
  packages/astro/test/fixtures/i18n-routing-fallback-rewrite-hybrid/package.json
  packages/astro/test/fixtures/i18n-routing-fallback-rewrite-hybrid/src/pages/[slug].astro
  packages/astro/test/fixtures/i18n-routing-fallback-rewrite-hybrid/src/pages/about.astro
  packages/astro/test/fixtures/i18n-routing-fallback-rewrite-hybrid/src/pages/es/index.astro
  packages/astro/test/fixtures/i18n-routing-fallback-rewrite-hybrid/src/pages/index.astro
  packages/astro/test/i18n-routing.test.js
  pnpm-lock.yaml
Labels: pkg: astro

#13972 feat(node): experimental static headers
  .changeset/all-loops-deny.md
  .changeset/full-hoops-hear.md
  .changeset/purple-spoons-jog.md
  packages/astro/src/core/app/index.ts
  packages/astro/src/core/app/node.ts
  packages/astro/src/core/app/types.ts
  packages/astro/src/core/build/generate.ts
  packages/astro/src/core/build/plugins/plugin-manifest.ts
  packages/astro/src/integrations/hooks.ts
  packages/astro/src/types/public/index.ts
  packages/astro/src/types/public/integrations.ts
  packages/astro/test/csp.test.js
  packages/astro/test/fixtures/csp-adapter/src/pages/[title].astro
  packages/integrations/netlify/src/index.ts
  packages/integrations/node/package.json
  packages/integrations/node/src/index.ts
  packages/integrations/node/src/serve-static.ts
  packages/integrations/node/src/server.ts
  packages/integrations/node/src/shared.ts
  packages/integrations/node/src/types.ts
  packages/integrations/node/test/fixtures/sessions/src/middleware.ts
  packages/integrations/node/test/fixtures/static-headers/astro.config.mjs
  packages/integrations/node/test/fixtures/static-headers/package.json
  packages/integrations/node/test/fixtures/static-headers/src/components/Island.astro
  packages/integrations/node/test/fixtures/static-headers/src/pages/[slug].astro
  packages/integrations/node/test/fixtures/static-headers/src/pages/index.astro
  packages/integrations/node/test/static-headers.test.js
  packages/integrations/vercel/package.json
  packages/integrations/vercel/src/index.ts
  pnpm-lock.yaml
Labels: pkg: integration, pkg: astro, semver: minor, docs pr

#14012 feat(node): experimentalDisableStreaming
  .changeset/cold-cooks-battle.md
  packages/integrations/node/src/server.ts
  packages/integrations/node/src/types.ts
  packages/integrations/node/test/fixtures/headers/src/pages/astro/component-simple.astro
  packages/integrations/node/test/fixtures/headers/src/pages/components/Wait.astro
  packages/integrations/node/test/fixtures/headers/src/pages/components/Wrapper.astro
  packages/integrations/node/test/headers.test.js
  packages/integrations/node/test/test-utils.js
Labels: pkg: integration

#14041 fix: run fallback view transition for old page only after dispatching `astro:before-swap` event
  .changeset/smart-mirrors-eat.md
  packages/astro/e2e/fixtures/view-transitions/src/pages/skip.astro
  packages/astro/e2e/view-transitions.test.js
  packages/astro/src/transitions/events.ts
  packages/astro/src/transitions/router.ts
Labels: pkg: astro

#13768 feat: add Vite plugin to Netlify adapter
  .changeset/four-eels-occur.md
  packages/integrations/netlify/package.json
  packages/integrations/netlify/src/index.ts
  packages/integrations/netlify/test/development/fixtures/.gitignore
  packages/integrations/netlify/test/development/fixtures/primitives/.gitignore
  packages/integrations/netlify/test/development/fixtures/primitives/astro.config.mjs
  packages/integrations/netlify/test/development/fixtures/primitives/netlify/edge-functions/yell.mjs
  packages/integrations/netlify/test/development/fixtures/primitives/netlify/functions/func.mjs
  packages/integrations/netlify/test/development/fixtures/primitives/package.json
  packages/integrations/netlify/test/development/fixtures/primitives/src/astronaut.jpg
  packages/integrations/netlify/test/development/fixtures/primitives/src/middleware.ts
  packages/integrations/netlify/test/development/fixtures/primitives/src/pages/astronaut.astro
  packages/integrations/netlify/test/development/fixtures/primitives/src/pages/index.astro
  packages/integrations/netlify/test/development/fixtures/primitives/src/pages/prerender.astro
  packages/integrations/netlify/test/development/fixtures/primitives/src/pages/processed/hello.astro
  packages/integrations/netlify/test/development/primitives.test.js
  packages/integrations/netlify/test/functions/image-cdn.test.js
  pnpm-lock.yaml
Labels: pkg: integration

#14045 fix(astro): add support for 'avis' brand in HEIF
  .changeset/great-pugs-find.md
  packages/astro/src/assets/utils/vendor/image-size/types/heif.ts
Labels: pkg: astro

#14075 feat(web-vitals): remove
  packages/integrations/web-vitals/CHANGELOG.md
  packages/integrations/web-vitals/README.md
  packages/integrations/web-vitals/package.json
  packages/integrations/web-vitals/src/client-script.ts
  packages/integrations/web-vitals/src/constants.ts
  packages/integrations/web-vitals/src/db-config.ts
  packages/integrations/web-vitals/src/endpoint.ts
  packages/integrations/web-vitals/src/env.d.ts
  packages/integrations/web-vitals/src/index.ts
  packages/integrations/web-vitals/src/middleware.ts
  packages/integrations/web-vitals/src/schemas.ts
  packages/integrations/web-vitals/test/basics.test.js
  packages/integrations/web-vitals/test/fixtures/basics/astro.config.mjs
  packages/integrations/web-vitals/test/fixtures/basics/package.json
  packages/integrations/web-vitals/test/fixtures/basics/src/pages/[dynamic].astro
  packages/integrations/web-vitals/test/fixtures/basics/src/pages/index.astro
  packages/integrations/web-vitals/test/fixtures/basics/src/pages/rows.json.ts
  packages/integrations/web-vitals/test/test-utils.js
  packages/integrations/web-vitals/tsconfig.json
  pnpm-lock.yaml
Labels: pkg: integration

#14078 fix: regressions in Netlify adapter
  .changeset/easy-animals-glow.md
  .changeset/fifty-pets-knock.md
  packages/integrations/netlify/package.json
  packages/integrations/netlify/src/index.ts
  packages/integrations/netlify/test/development/fixtures/primitives/astro.config.mjs
  packages/integrations/netlify/test/development/fixtures/primitives/src/pages/astronaut.astro
  packages/integrations/netlify/test/development/primitives.test.js
  pnpm-lock.yaml
Labels: pkg: integration

#13941 feat: Add TOML support to the built-in content loaders
  .changeset/icy-keys-tickle.md
  packages/astro/package.json
  packages/astro/src/content/loaders/file.ts
  packages/astro/src/core/config/settings.ts
  packages/astro/src/core/errors/errors-data.ts
  packages/astro/src/core/errors/utils.ts
  packages/astro/test/content-layer.test.js
  packages/astro/test/fixtures/content-layer/package.json
  packages/astro/test/fixtures/content-layer/src/content.config.ts
  packages/astro/test/fixtures/content-layer/src/data/artists.toml
  packages/astro/test/fixtures/content-layer/src/data/glob-toml/one.toml
  packages/astro/test/fixtures/content-layer/src/data/glob-toml/three.toml
  packages/astro/test/fixtures/content-layer/src/data/glob-toml/two.toml
  packages/astro/test/fixtures/content-layer/src/data/glob-yaml/one.yaml
  packages/astro/test/fixtures/content-layer/src/data/glob-yaml/three.yaml
  packages/astro/test/fixtures/content-layer/src/data/glob-yaml/two.yaml
  packages/astro/test/fixtures/content-layer/src/data/music.toml
  packages/astro/test/fixtures/content-layer/src/data/plants.csv
  packages/astro/test/fixtures/content-layer/src/data/songs.toml
  packages/astro/test/fixtures/content-layer/src/pages/collections.json.js
  packages/astro/test/fixtures/data-collections-schema/src/content/func/it.toml
  packages/astro/test/fixtures/data-collections-schema/src/content/i18n/it.toml
  packages/astro/test/fixtures/data-collections-schema/src/content/image/it.toml
  packages/markdown/remark/package.json
  pnpm-lock.yaml
Labels: feat: markdown, pkg: astro, semver: minor, docs pr

#14091 fix: session options type fix
  .changeset/fuzzy-laws-feel.md
  packages/astro/src/types/public/config.ts
Labels: pkg: astro, docs pr

#14082 fix: Modify route priority logic so user routes are preferred
  .changeset/lucky-cameras-notice.md
  packages/astro/src/core/routing/astro-designed-error-pages.ts
  packages/astro/test/fixtures/user-route-priority/package.json
  packages/astro/test/fixtures/user-route-priority/public/favicon.ico
  packages/astro/test/fixtures/user-route-priority/src/pages/[number].astro
  packages/astro/test/user-route-priority.test.js
  pnpm-lock.yaml
Labels: pkg: astro

#14094 fix: move priority prop to shared image props
  .changeset/fluffy-seas-shine.md
  packages/astro/src/assets/types.ts
  packages/astro/test/core-image.test.js
  packages/astro/test/fixtures/core-image-ssg/src/pages/index.astro
  packages/astro/test/fixtures/core-image/src/pages/index.astro
Labels: pkg: astro

#14074 fix(astro): prevent image service resolution on client build
  .changeset/stale-knives-rhyme.md
  packages/astro/src/assets/vite-plugin-assets.ts
Labels: pkg: astro

#14103 fix: upgrade Netlify Vite plugin
  .changeset/upset-books-ask.md
  packages/integrations/netlify/package.json
  pnpm-lock.yaml
Labels: pkg: integration

#14092 fix: give live collections their own astro:content entrypoint
  .changeset/sharp-apes-pick.md
  .changeset/tricky-eels-laugh.md
  packages/astro/e2e/fixtures/view-transitions/src/pages/form-five.astro
  packages/astro/e2e/view-transitions.test.js
  packages/astro/src/content/loaders/errors.ts
  packages/astro/src/content/runtime.ts
  packages/astro/src/content/vite-plugin-content-virtual-mod.ts
  packages/astro/src/virtual-modules/live-config.ts
  packages/astro/test/fixtures/live-loaders/src/live.config.ts
Labels: pkg: astro

#14061 fix(astro): add module declaration for `?no-inline` asset imports
  .changeset/giant-adults-fry.md
  packages/astro/client.d.ts
Labels: pkg: astro

#14106 fix: exit with non-zero code for Zod errors
  .changeset/few-rules-lose.md
  packages/astro/src/cli/throw-and-exit.ts
Labels: pkg: astro

#14111 fix: set key argument as prop in JSX transform
  .changeset/cruel-pandas-wonder.md
  packages/astro/src/jsx-runtime/index.ts
  packages/integrations/mdx/test/fixtures/mdx-page/src/components/KeyTest.astro
  packages/integrations/mdx/test/fixtures/mdx-page/src/pages/index.mdx
  packages/integrations/mdx/test/mdx-page.test.js
Labels: pkg: integration, pkg: astro

#14112 fix: make SVG ImageMetadata serializable
  .changeset/floppy-shrimps-smile.md
  packages/astro/src/assets/runtime.ts
  packages/astro/test/core-image-svg.test.js
  packages/astro/test/fixtures/core-image-svg/src/pages/serialize.json.ts
Labels: pkg: astro

#14001 fix: reuse src url for srcset by matching validated transform instead of the original in `getImage()`
  .changeset/shaggy-cows-train.md
  packages/astro/src/assets/internal.ts
  packages/astro/test/core-image.test.js
  packages/astro/test/fixtures/core-image/src/assets/walrus_600x400.jpg
  packages/astro/test/fixtures/core-image/src/pages/srcset.astro
Labels: pkg: astro

#14114 chore: dynamic preview releases
  .changeset/config.json
  .github/workflows/preview-release-test.yml
  CONTRIBUTING.md
Labels: 🚨 action

#14125 test: preview release
  .github/workflows/preview-release-test.yml
Labels: 🚨 action

#14126 feat: merge preview release workflow
  .github/workflows/preview-release-test.yml
  .github/workflows/preview-release.yml
Labels: 🚨 action

#14129 fix(csp): header in response header
  .changeset/twelve-regions-allow.md
  packages/astro/src/runtime/server/render/page.ts
Labels: pkg: astro

#14031 fix(astro): fix svg content-based deduplication
  .changeset/chubby-falcons-fly.md
  packages/astro/src/assets/utils/node/emitAsset.ts
  packages/astro/src/core/encryption.ts
  packages/astro/test/fixtures/svg-deduplication/astro.config.mjs
  packages/astro/test/fixtures/svg-deduplication/package.json
  packages/astro/test/fixtures/svg-deduplication/src/assets/duplicate1.svg
  packages/astro/test/fixtures/svg-deduplication/src/assets/duplicate2.svg
  packages/astro/test/fixtures/svg-deduplication/src/assets/unique.svg
  packages/astro/test/fixtures/svg-deduplication/src/pages/index.astro
  packages/astro/test/fixtures/svg-deduplication/tsconfig.json
  packages/astro/test/svg-deduplication.test.js
  pnpm-lock.yaml
Labels: pkg: astro

#14131 fix: show 500.astro if error occurs in middleware
  .changeset/five-forks-guess.md
  packages/astro/src/vite-plugin-astro-server/route.ts
  packages/astro/test/custom-500.test.js
  packages/astro/test/fixtures/custom-500-middleware/astro.config.mjs
  packages/astro/test/fixtures/custom-500-middleware/package.json
  packages/astro/test/fixtures/custom-500-middleware/src/middleware.js
  packages/astro/test/fixtures/custom-500-middleware/src/pages/500.astro
  packages/astro/test/fixtures/custom-500-middleware/src/pages/index.astro
  pnpm-lock.yaml
Labels: pkg: astro

#14148 fix(node): emit set-cookie header from middlewares for not-found routes (#14136)
  .changeset/upset-pianos-sink.md
  packages/integrations/node/src/serve-app.ts
Labels: pkg: integration

#14147 fix: recognize a custom default image node component
  .changeset/green-bats-boil.md
  packages/integrations/markdoc/src/content-entry-type.ts
  packages/integrations/markdoc/test/fixtures/image-assets-custom/astro.config.mjs
  packages/integrations/markdoc/test/fixtures/image-assets-custom/markdoc.config.mjs
  packages/integrations/markdoc/test/fixtures/image-assets-custom/package.json
  packages/integrations/markdoc/test/fixtures/image-assets-custom/src/assets/alias/cityscape.jpg
  packages/integrations/markdoc/test/fixtures/image-assets-custom/src/assets/relative/oar.jpg
  packages/integrations/markdoc/test/fixtures/image-assets-custom/src/components/Image.astro
  packages/integrations/markdoc/test/fixtures/image-assets-custom/src/content/config.ts
  packages/integrations/markdoc/test/fixtures/image-assets-custom/src/content/docs/intro.mdoc
  packages/integrations/markdoc/test/fixtures/image-assets-custom/src/pages/index.astro
  packages/integrations/markdoc/test/fixtures/image-assets-custom/src/public/favicon.svg
  packages/integrations/markdoc/test/fixtures/image-assets-custom/tsconfig.json
  packages/integrations/markdoc/test/image-assets.test.js
  pnpm-lock.yaml
Labels: pkg: integration

#14059 Fix: [i18n] Dynamic spread route in [locale] folder causes false-positive match when i18n.fallbackType = "rewrite"
  .changeset/rare-lights-camp.md
  packages/astro/src/core/build/generate.ts
  packages/astro/test/fixtures/i18n-routing-fallback-rewrite/src/pages/es/[...tags].astro
  packages/astro/test/fixtures/i18n-routing-fallback-rewrite/src/pages/test.astro
  packages/astro/test/i18n-routing.test.js
Labels: pkg: astro

#14158 fix: update spawn command to concatenate command and flags
  .changeset/stupid-ways-tie.md
  packages/create-astro/src/shell.ts
  packages/upgrade/src/shell.ts
Labels: pkg: create-astro

#14160 fix: sanitize generated image filenames
  .changeset/purple-peaches-allow.md
  packages/astro/src/assets/utils/transformToPath.ts
  packages/astro/test/core-image.test.js
  packages/astro/test/fixtures/core-image-ssg/src/pages/special-chars.astro
Labels: pkg: astro

#14170 fix(routing): static redirect with prerendered route
  .changeset/rude-sites-heal.md
  packages/astro/src/core/routing/manifest/create.ts
  packages/astro/src/core/routing/manifest/prerender.ts
  packages/astro/test/fixtures/redirects/src/pages/more/[dynamic]/[prerender].astro
  packages/astro/test/redirects.test.js
Labels: pkg: astro
