Repository withastro/astro, pull requests merged in 2025-04, with the labels that each got.

#13515 feat(fonts): update config shape
  packages/astro/src/assets/fonts/config.ts
  packages/astro/src/assets/fonts/constants.ts
  packages/astro/src/assets/fonts/load.ts
  packages/astro/src/assets/fonts/providers/google.ts
  packages/astro/src/assets/fonts/providers/index.ts
  packages/astro/src/assets/fonts/providers/utils.ts
  packages/astro/src/assets/fonts/sync.ts
  packages/astro/src/assets/fonts/types.ts
  packages/astro/src/assets/fonts/utils.ts
  packages/astro/src/assets/fonts/vite-plugin-fonts.ts
  packages/astro/src/config/index.ts
  packages/astro/src/core/config/schema.ts
  packages/astro/src/core/errors/errors-data.ts
  packages/astro/src/types/public/config.ts
  packages/astro/test/fonts.test.js
  packages/astro/test/types/define-config.ts
  packages/astro/test/types/define-font-provider.ts
  packages/astro/test/units/assets/fonts/load.test.js
  packages/astro/test/units/assets/fonts/providers.test.js
  packages/astro/test/units/assets/fonts/schemas.test.js
  packages/astro/test/units/assets/fonts/utils.test.js
  packages/astro/test/units/config/config-validate.test.js
Labels: pkg: astro, docs pr

#13533 feat(fonts): rename provider type helper
  packages/astro/src/assets/fonts/providers/google.ts
  packages/astro/src/assets/fonts/providers/index.ts
  packages/astro/src/config/entrypoint.ts
  packages/astro/test/types/define-config.ts
Labels: pkg: astro

#13535 feat(fonts): simpler logging
  packages/astro/src/assets/fonts/utils.ts
  packages/astro/src/assets/fonts/vite-plugin-fonts.ts
Labels: pkg: astro

#13405 feat: Add `eagerness` support for `prefetch()`
  .changeset/poor-squids-like.md
  packages/astro/src/prefetch/index.ts
Labels: pkg: astro, semver: minor

#13403 Allow to pass custom fetch for fetching pre-rendered errors
  .changeset/big-hats-train.md
  packages/astro/src/core/app/index.ts
  packages/astro/test/custom-fetch-error-pages.test.js
  packages/astro/test/fixtures/custom-fetch-error-pages/astro.config.mjs
  packages/astro/test/fixtures/custom-fetch-error-pages/package.json
  packages/astro/test/fixtures/custom-fetch-error-pages/src/pages/404.astro
  packages/astro/test/fixtures/custom-fetch-error-pages/src/pages/500.astro
  packages/astro/test/fixtures/custom-fetch-error-pages/src/pages/[page].astro
  packages/astro/test/fixtures/custom-fetch-error-pages/src/pages/causes-error.astro
  packages/astro/test/test-adapter.js
  pnpm-lock.yaml
Labels: pkg: astro, semver: minor

#13482 feat: move astro config validation after astro:config:setup
  .changeset/easy-vans-laugh.md
  .changeset/three-masks-see.md
  packages/astro/src/container/index.ts
  packages/astro/src/core/build/index.ts
  packages/astro/src/core/config/index.ts
  packages/astro/src/core/config/schemas/README.md
  packages/astro/src/core/config/schemas/base.ts
  packages/astro/src/core/config/schemas/index.ts
  packages/astro/src/core/config/schemas/refined.ts
  packages/astro/src/core/config/schemas/relative.ts
  packages/astro/src/core/config/validate.ts
  packages/astro/src/events/session.ts
  packages/astro/src/integrations/hooks.ts
  packages/astro/src/types/public/config.ts
  packages/astro/test/units/config/config-validate.test.js
  packages/astro/test/units/integrations/api.test.js
Labels: pkg: astro, semver: minor, docs pr

#13539 feat: add `session.load(id)` method
  .changeset/famous-areas-peel.md
  packages/astro/src/core/session.ts
  packages/astro/test/fixtures/sessions/src/actions/index.ts
  packages/astro/test/sessions.test.js
Labels: pkg: astro

#13488 Remove non-stable SVG features
  .changeset/little-steaks-rule.md
  packages/astro/client.d.ts
  packages/astro/src/assets/runtime.ts
  packages/astro/src/assets/utils/svg.ts
  packages/astro/src/assets/vite-plugin-assets.ts
  packages/astro/src/core/config/schemas/base.ts
  packages/astro/src/types/public/config.ts
  packages/astro/test/core-image-svg.test.js
  packages/astro/test/fixtures/core-image-svg/astro.config.mjs
  packages/astro/test/fixtures/core-image-svg/src/content/blog/props.mdx
  packages/astro/test/fixtures/core-image-svg/src/content/blog/sprite.mdx
  packages/astro/test/fixtures/core-image-svg/src/pages/index.astro
  packages/astro/test/fixtures/core-image-svg/src/pages/inline.astro
  packages/astro/test/fixtures/core-image-svg/src/pages/multiple.astro
  packages/astro/test/fixtures/core-image-svg/src/pages/size.astro
  packages/astro/test/fixtures/core-image-svg/src/pages/title.astro
Labels: pkg: astro, docs pr

#13519 feat: improve rolldown compatibility
  .changeset/brave-pandas-make.md
  packages/astro/src/actions/plugins.ts
  packages/astro/src/assets/vite-plugin-assets.ts
  packages/astro/src/content/vite-plugin-content-virtual-mod.ts
  packages/astro/src/core/build/plugins/plugin-component-entry.ts
  packages/astro/src/core/build/plugins/plugin-manifest.ts
  packages/astro/src/core/build/plugins/plugin-pages.ts
  packages/astro/src/core/build/plugins/plugin-prerender.ts
  packages/astro/src/core/build/plugins/plugin-renderers.ts
  packages/astro/src/core/build/plugins/plugin-ssr.ts
  packages/astro/src/core/middleware/vite-plugin.ts
  packages/astro/src/core/server-islands/vite-plugin-server-islands.ts
  packages/astro/src/env/vite-plugin-env.ts
  packages/astro/src/manifest/virtual-module.ts
  packages/astro/src/prefetch/vite-plugin-prefetch.ts
  packages/astro/src/toolbar/vite-plugin-dev-toolbar.ts
  packages/astro/src/transitions/vite-plugin-transitions.ts
  packages/astro/src/vite-plugin-load-fallback/index.ts
  packages/astro/src/vite-plugin-scripts/index.ts
  packages/astro/src/vite-plugin-ssr-manifest/index.ts
  packages/astro/test/test-adapter.js
Labels: pkg: astro

#13545 fix(svg): prevent empty attributes
  .changeset/itchy-bulldogs-scream.md
  packages/astro/package.json
  packages/astro/test/core-image-svg.test.js
  packages/astro/test/fixtures/core-image-svg/src/pages/strip.astro
  pnpm-lock.yaml
Labels: pkg: astro

#13552 fix(i18n): incorrect validation
  .changeset/old-animals-shop.md
  packages/astro/src/core/config/schemas/base.ts
  packages/astro/src/core/config/schemas/refined.ts
  packages/astro/src/integrations/hooks.ts
  packages/astro/test/fixtures/i18n-routing-prefix-always/astro.config.mjs
  packages/astro/test/units/config/config-validate.test.js
Labels: pkg: astro, pr preview

#13553 feat(fonts): update local family shape
  packages/astro/src/assets/fonts/config.ts
  packages/astro/src/assets/fonts/constants.ts
  packages/astro/src/assets/fonts/load.ts
  packages/astro/src/assets/fonts/providers/local.ts
  packages/astro/src/assets/fonts/types.ts
  packages/astro/src/assets/fonts/utils.ts
  packages/astro/test/types/define-config.ts
  packages/astro/test/units/assets/fonts/providers.test.js
  packages/astro/test/units/assets/fonts/schemas.test.js
  packages/astro/test/units/assets/fonts/utils.test.js
Labels: pkg: astro

#13548 fix: support for Deno to install npm packages
  .changeset/wet-onions-kick.md
  packages/astro/src/cli/add/index.ts
  packages/astro/src/cli/install-package.ts
Labels: pkg: astro

#13557 fix(actions): pr preview label removal
  .github/workflows/preview-release.yml
Labels: 🚨 action

#13547 fix: update vite to latest version
  .changeset/pretty-games-walk.md
  packages/astro/package.json
  packages/db/package.json
  packages/integrations/alpinejs/package.json
  packages/integrations/cloudflare/package.json
  packages/integrations/markdoc/package.json
  packages/integrations/mdx/package.json
  packages/integrations/netlify/package.json
  packages/integrations/preact/package.json
  packages/integrations/react/package.json
  packages/integrations/solid/package.json
  packages/integrations/svelte/package.json
  packages/integrations/vue/package.json
  packages/studio/package.json
  pnpm-lock.yaml
Labels: pkg: svelte, pkg: vue, pkg: react, pkg: preact, pkg: solid, pkg: integration, pkg: astro

#13556 feat(fonts): update local to support entrypoints src and techs
  packages/astro/src/assets/fonts/config.ts
  packages/astro/src/assets/fonts/load.ts
  packages/astro/src/assets/fonts/providers/local.ts
  packages/astro/src/assets/fonts/providers/utils.ts
  packages/astro/src/assets/fonts/types.ts
  packages/astro/src/assets/fonts/utils.ts
  packages/astro/src/assets/fonts/vite-plugin-fonts.ts
  packages/astro/test/units/assets/fonts/load.test.js
  packages/astro/test/units/assets/fonts/providers.test.js
  packages/astro/test/units/assets/fonts/utils.test.js
Labels: pkg: astro

#13572 feat(fonts): remove default provider
  packages/astro/src/assets/fonts/config.ts
  packages/astro/src/assets/fonts/constants.ts
  packages/astro/src/assets/fonts/providers/google.ts
  packages/astro/src/assets/fonts/providers/index.ts
  packages/astro/src/assets/fonts/types.ts
  packages/astro/src/assets/fonts/utils.ts
  packages/astro/src/assets/fonts/vite-plugin-fonts.ts
  packages/astro/src/config/index.ts
  packages/astro/src/types/public/config.ts
  packages/astro/test/fonts.test.js
  packages/astro/test/types/define-config.ts
  packages/astro/test/units/assets/fonts/load.test.js
  packages/astro/test/units/assets/fonts/providers.test.js
  packages/astro/test/units/assets/fonts/utils.test.js
  packages/astro/test/units/config/config-validate.test.js
Labels: pkg: astro, docs pr

#13589 chore: deprecate `emitESMImage` function
  .changeset/good-worms-heal.md
  packages/astro/src/assets/utils/index.ts
  packages/astro/src/assets/utils/node/emitAsset.ts
Labels: pkg: astro

#13587 fix: solving #13577
  .changeset/yellow-dogs-say.md
  packages/astro/e2e/fixtures/view-transitions/src/pages/other-attributes.astro
  packages/astro/e2e/fixtures/view-transitions/src/pages/some-attributes.astro
  packages/astro/e2e/view-transitions.test.js
  packages/astro/src/transitions/swap-functions.ts
Labels: pkg: astro

#13596 fix(vite): update `vite` to latest version to fix CVE
  .changeset/honest-meals-bathe.md
  packages/astro/package.json
  packages/db/package.json
  packages/integrations/alpinejs/package.json
  packages/integrations/cloudflare/package.json
  packages/integrations/markdoc/package.json
  packages/integrations/mdx/package.json
  packages/integrations/netlify/package.json
  packages/integrations/preact/package.json
  packages/integrations/react/package.json
  packages/integrations/solid/package.json
  packages/integrations/svelte/package.json
  packages/integrations/vue/package.json
  packages/studio/package.json
  pnpm-lock.yaml
Labels: pkg: svelte, pkg: vue, pkg: react, pkg: preact, pkg: solid, pkg: integration, pkg: astro

#13597 feat(fonts): T&D feedback
  packages/astro/components/Font.astro
  packages/astro/src/assets/fonts/config.ts
  packages/astro/src/assets/fonts/constants.ts
  packages/astro/src/assets/fonts/load.ts
  packages/astro/test/fixtures/fonts/src/pages/index.astro
  packages/astro/test/fixtures/fonts/src/pages/preload.astro
Labels: pkg: astro

#13600 feat(fonts): jsdocs
  packages/astro/components/Font.astro
  packages/astro/src/assets/fonts/config.ts
  packages/astro/src/assets/fonts/providers/index.ts
  packages/astro/src/assets/fonts/providers/utils.ts
  packages/astro/src/assets/fonts/types.ts
  packages/astro/src/config/entrypoint.ts
  packages/astro/src/types/public/config.ts
  packages/astro/test/types/define-config.ts
Labels: pkg: astro, docs pr

#13576 fix: extract shared logic for server island loading into a function and only include it once
  .changeset/bumpy-onions-mix.md
  packages/astro/src/core/render-context.ts
  packages/astro/src/runtime/server/render/common.ts
  packages/astro/src/runtime/server/render/instruction.ts
  packages/astro/src/runtime/server/render/server-islands.ts
  packages/astro/src/types/public/internal.ts
  packages/astro/test/fixtures/server-islands/hybrid/astro.config.mjs
  packages/astro/test/fixtures/server-islands/hybrid/src/components/Island2.astro
  packages/astro/test/fixtures/server-islands/hybrid/src/pages/index.astro
  packages/astro/test/server-islands.test.js
Labels: pkg: astro, docs pr

#13606 fix(prerender): revert dynamic entry chunks included in server bundle
  .changeset/brown-lines-talk.md
  packages/astro/src/core/build/plugins/plugin-prerender.ts
Labels: pkg: astro

#13588 fix(svg): do not attach `svg` buffer to `imageMetadata`
  .changeset/five-rings-smile.md
  packages/astro/src/assets/utils/node/emitAsset.ts
  packages/astro/src/assets/vite-plugin-assets.ts
  packages/astro/src/core/create-vite.ts
Labels: pkg: astro

#13527 feat: stable sessions
  .changeset/all-readers-jump.md
  packages/astro/src/core/config/schemas/base.ts
  packages/astro/src/core/errors/errors-data.ts
  packages/astro/src/core/logger/core.ts
  packages/astro/src/core/render-context.ts
  packages/astro/src/core/session.ts
  packages/astro/src/integrations/hooks.ts
  packages/astro/src/types/public/config.ts
  packages/astro/src/vite-plugin-astro-server/plugin.ts
  packages/astro/test/sessions.test.js
  packages/astro/test/units/sessions/astro-session.test.js
  packages/integrations/cloudflare/src/index.ts
  packages/integrations/cloudflare/test/fixtures/sessions/astro.config.mjs
  packages/integrations/netlify/src/index.ts
  packages/integrations/netlify/test/functions/fixtures/sessions/astro.config.mjs
  packages/integrations/netlify/test/functions/sessions.test.js
  packages/integrations/node/src/index.ts
  packages/integrations/node/test/sessions.test.js
Labels: pkg: integration, pkg: astro, semver: minor, docs pr

#13560 feat: make `astro:config` stable
  .changeset/wild-rabbits-arrive.md
  packages/astro/src/core/config/schemas/base.ts
  packages/astro/src/core/config/schemas/relative.ts
  packages/astro/src/core/create-vite.ts
  packages/astro/src/core/errors/errors-data.ts
  packages/astro/src/manifest/virtual-module.ts
  packages/astro/src/types/public/config.ts
  packages/astro/test/fixtures/astro-manifest-invalid/astro.config.mjs
  packages/astro/test/fixtures/astro-manifest/astro.config.mjs
  packages/astro/test/serializeManifest.test.js
Labels: pkg: astro, semver: minor, docs pr

#12775 feat(fonts): experimental release
  .changeset/happy-spies-punch.md
  package.json
  packages/astro/client.d.ts
  packages/astro/components/Font.astro
  packages/astro/package.json
  packages/astro/src/actions/plugins.ts
  packages/astro/src/assets/fonts/README.md
  packages/astro/src/assets/fonts/config.ts
  packages/astro/src/assets/fonts/constants.ts
  packages/astro/src/assets/fonts/load.ts
  packages/astro/src/assets/fonts/metrics.ts
  packages/astro/src/assets/fonts/providers/entrypoints/adobe.ts
  packages/astro/src/assets/fonts/providers/entrypoints/bunny.ts
  packages/astro/src/assets/fonts/providers/entrypoints/fontshare.ts
  packages/astro/src/assets/fonts/providers/entrypoints/fontsource.ts
  packages/astro/src/assets/fonts/providers/entrypoints/google.ts
  packages/astro/src/assets/fonts/providers/index.ts
  packages/astro/src/assets/fonts/providers/local.ts
  packages/astro/src/assets/fonts/providers/utils.ts
  packages/astro/src/assets/fonts/sync.ts
  packages/astro/src/assets/fonts/types.ts
  packages/astro/src/assets/fonts/utils.ts
  packages/astro/src/assets/fonts/vite-plugin-fonts.ts
  packages/astro/src/assets/vite-plugin-assets.ts
  packages/astro/src/config/entrypoint.ts
  packages/astro/src/config/index.ts
  packages/astro/src/core/build/generate.ts
  packages/astro/src/core/build/pipeline.ts
  packages/astro/src/core/build/static-build.ts
  packages/astro/src/core/build/util.ts
  packages/astro/src/core/config/schemas/base.ts
  packages/astro/src/core/config/schemas/refined.ts
  packages/astro/src/core/create-vite.ts
  packages/astro/src/core/errors/errors-data.ts
  packages/astro/src/core/middleware/vite-plugin.ts
  packages/astro/src/core/sync/index.ts
  packages/astro/src/integrations/hooks.ts
  packages/astro/src/prerender/utils.ts
  packages/astro/src/types/public/config.ts
  packages/astro/test/fixtures/fonts/astro.config.mjs
  packages/astro/test/fixtures/fonts/package.json
  packages/astro/test/fixtures/fonts/src/pages/index.astro
  packages/astro/test/fixtures/fonts/src/pages/preload.astro
  packages/astro/test/fonts.test.js
  packages/astro/test/types/define-config.ts
  packages/astro/test/types/tsconfig.json
  packages/astro/test/units/assets/fonts/load.test.js
  packages/astro/test/units/assets/fonts/providers.test.js
  packages/astro/test/units/assets/fonts/utils.test.js
  packages/astro/test/units/config/config-validate.test.js
  packages/astro/types/fonts.d.ts
  patches/unifont@0.1.7.patch
  pnpm-lock.yaml
Labels: pkg: astro, semver: minor, docs pr

#13598 fix(routing): handle base path with trailing slash 'never' configuration
  .changeset/puny-masks-laugh.md
  packages/astro/src/core/routing/rewrite.ts
  packages/astro/test/units/routing/trailing-slash.test.js
Labels: pkg: astro

#13612 add missing `message` to a Fonts API error
  packages/astro/src/assets/fonts/utils.ts
  packages/astro/src/core/errors/errors-data.ts
Labels: pkg: astro, docs pr

#13578 feat: unflag svg component feature
  .changeset/young-kids-turn.md
  packages/astro/src/assets/utils/node/emitAsset.ts
  packages/astro/src/assets/vite-plugin-assets.ts
  packages/astro/src/content/content-layer.ts
  packages/astro/src/content/runtime-assets.ts
  packages/astro/src/content/vite-plugin-content-imports.ts
  packages/astro/src/core/config/schemas/base.ts
  packages/astro/src/types/public/config.ts
  packages/astro/test/fixtures/core-image-svg/astro.config.mjs
  packages/integrations/markdoc/src/content-entry-type.ts
Labels: pkg: integration, pkg: astro, semver: minor, docs pr

#13603 Add the minimal example to `create astro` options
  .changeset/tricky-adults-jump.md
  packages/create-astro/src/actions/template.ts
Labels: pkg: create-astro

#13619 Fix changelog heading levels
  packages/astro/CHANGELOG.md
  packages/integrations/cloudflare/CHANGELOG.md
  packages/integrations/netlify/CHANGELOG.md
  packages/integrations/node/CHANGELOG.md
Labels: pkg: integration, pkg: astro

#13622 fix: improve autocomplete for session keys
  .changeset/young-peaches-serve.md
  packages/astro/src/core/session.ts
Labels: pkg: astro

#13626 fix(fonts): lighter fallbacks
  .changeset/red-parents-tease.md
  packages/astro/package.json
  packages/astro/src/assets/fonts/load.ts
  packages/astro/src/assets/fonts/metrics.ts
  packages/astro/src/assets/fonts/utils.ts
  packages/astro/src/assets/fonts/vite-plugin-fonts.ts
  packages/astro/test/units/assets/fonts/utils.test.js
  pnpm-lock.yaml
Labels: pkg: astro

#13625 fix(fonts): component ordering
  .changeset/thick-walls-open.md
  packages/astro/components/Font.astro
Labels: pkg: astro

#13627 fix(fonts): client access
  .changeset/poor-grapes-share.md
  packages/astro/src/assets/fonts/vite-plugin-fonts.ts
Labels: pkg: astro

#13630 fix(fonts): tech(undefined) for local provider
  .changeset/few-flowers-notice.md
  packages/astro/src/assets/fonts/utils.ts
  packages/astro/test/units/assets/fonts/utils.test.js
Labels: pkg: astro

#13632 feat(fonts): fallback improvements
  .changeset/cold-carrots-stare.md
  .changeset/stupid-wasps-walk.md
  packages/astro/src/assets/fonts/constants.ts
  packages/astro/src/assets/fonts/metrics.ts
  packages/astro/src/assets/fonts/utils.ts
  packages/astro/src/assets/fonts/vite-plugin-fonts.ts
  packages/astro/test/units/assets/fonts/utils.test.js
Labels: pkg: astro

#13634 fix(routing): rewrite regression
  .changeset/orange-cloths-camp.md
  packages/astro/src/core/routing/rewrite.ts
  packages/astro/test/fixtures/rewrite-issue-13633/astro.config.mjs
  packages/astro/test/fixtures/rewrite-issue-13633/package.json
  packages/astro/test/fixtures/rewrite-issue-13633/src/middleware.js
  packages/astro/test/fixtures/rewrite-issue-13633/src/pages/about.astro
  packages/astro/test/fixtures/rewrite-issue-13633/src/pages/index.astro
  packages/astro/test/rewrite.test.js
  pnpm-lock.yaml
Labels: pkg: astro

#13616 Fix relative redirects regression. Closes #13607
  .changeset/tasty-cities-warn.md
  packages/astro/src/core/routing/manifest/create.ts
  packages/astro/test/redirects.test.js
Labels: pkg: astro, semver: minor

#13636 update create-astro minimal template wording
  .changeset/chilled-pears-know.md
  packages/create-astro/src/actions/template.ts
Labels: pkg: create-astro

#13639 fix(fonts): providers deduplication logic
  .changeset/rich-dancers-sniff.md
  packages/astro/src/assets/fonts/utils.ts
  packages/astro/test/units/assets/fonts/utils.test.js
Labels: pkg: astro

#13643 fix(font): type to format mapping
  .changeset/moody-windows-flash.md
  packages/astro/src/assets/fonts/constants.ts
  packages/astro/src/assets/fonts/providers/local.ts
  packages/astro/src/assets/fonts/utils.ts
  packages/astro/test/units/assets/fonts/providers.test.js
  packages/astro/test/units/assets/fonts/utils.test.js
Labels: pkg: astro

#13647 fix: clone actionAPIContext preserving accessors
  .changeset/dirty-dryers-rush.md
  packages/astro/src/actions/runtime/virtual/server.ts
Labels: pkg: astro

#13635 feat(fonts): generate fallbacks for all faces
  .changeset/major-beds-press.md
  packages/astro/src/assets/fonts/load.ts
  packages/astro/src/assets/fonts/metrics.ts
  packages/astro/src/assets/fonts/providers/local.ts
  packages/astro/src/assets/fonts/utils.ts
  packages/astro/test/units/assets/fonts/load.test.js
  packages/astro/test/units/assets/fonts/providers.test.js
  packages/astro/test/units/assets/fonts/utils.test.js
Labels: pkg: astro

#13660 fix(types): add `server.allowedHosts` docs comment to `AstroUserConfig`
  .changeset/dull-teeth-cut.md
  packages/astro/src/types/public/config.ts
Labels: pkg: astro, docs pr

#13663 feat: convert integrations to TS
  .changeset/better-carrots-attend.md
  packages/integrations/react/env.d.ts
  packages/integrations/react/package.json
  packages/integrations/react/server.d.ts
  packages/integrations/react/server17.d.ts
  packages/integrations/react/src/client-v17.ts
  packages/integrations/react/src/client.ts
  packages/integrations/react/src/context.ts
  packages/integrations/react/src/jsx-runtime.ts
  packages/integrations/react/src/server-v17.ts
  packages/integrations/react/src/server.ts
  packages/integrations/react/src/static-html.ts
  packages/integrations/react/src/types.ts
  packages/integrations/react/src/vnode-children.ts
  packages/integrations/react/test/parsed-react-children.test.js
  packages/integrations/react/tsconfig.json
  packages/integrations/svelte/package.json
  packages/integrations/svelte/server.d.ts
  packages/integrations/svelte/src/client.svelte.ts
  packages/integrations/svelte/src/context.ts
  packages/integrations/svelte/src/server.ts
  packages/integrations/svelte/src/types.ts
  packages/integrations/vue/context.js
  packages/integrations/vue/env.d.ts
  packages/integrations/vue/package.json
  packages/integrations/vue/server.d.ts
  packages/integrations/vue/src/client.ts
  packages/integrations/vue/src/context.ts
  packages/integrations/vue/src/server.ts
  packages/integrations/vue/src/static-html.ts
  packages/integrations/vue/src/types.ts
  packages/integrations/vue/tsconfig.json
Labels: pkg: svelte, pkg: vue, pkg: react, pkg: integration

#13654 fix(fonts): google config
  .changeset/slick-eggs-laugh.md
  packages/astro/src/assets/fonts/providers/index.ts
Labels: pkg: astro

#13590 chore: build hashes of scripts
  packages/astro/src/core/csp-hashes.js
  scripts/cmd/prebuild.js
Labels: pkg: astro

#13669 fix(routing): origin pathname when using rewrites
  .changeset/moody-lines-clean.md
  packages/astro/src/core/middleware/sequence.ts
  packages/astro/src/core/render-context.ts
  packages/astro/test/fixtures/reroute/src/pages/index.astro
  packages/astro/test/rewrite.test.js
Labels: pkg: astro

#13674 fix(fonts): import side effect
  .changeset/plenty-loops-cry.md
  packages/astro/src/assets/fonts/vite-plugin-fonts.ts
Labels: pkg: astro

#13678 feat(fonts): warn if local font is in public dir
  .changeset/social-bats-kiss.md
  packages/astro/src/assets/fonts/utils.ts
  packages/astro/src/assets/fonts/vite-plugin-fonts.ts
  packages/astro/test/units/assets/fonts/utils.test.js
Labels: pkg: astro

#13677 feat: rename layout and refactor styles
  .changeset/shaky-coins-fry.md
  .changeset/tall-pots-fly.md
  packages/astro/components/image.css
  packages/astro/src/assets/internal.ts
  packages/astro/src/assets/layout.ts
  packages/astro/src/assets/types.ts
  packages/astro/src/core/config/schemas/base.ts
  packages/astro/src/types/public/config.ts
  packages/astro/test/core-image-layout.test.js
  packages/astro/test/fixtures/core-image-layout/astro.config.mjs
  packages/integrations/vercel/test/fixtures/image/src/pages/index.astro
Labels: pkg: integration, pkg: astro, docs pr

#13681 Fonts: fix typing for disabled fallbacks (empty array)
  .changeset/chatty-taxes-retire.md
  packages/astro/src/assets/fonts/config.ts
  packages/astro/test/types/define-config.ts
  packages/astro/test/units/config/config-validate.test.js
  pnpm-lock.yaml
Labels: pkg: astro

#13680 fix: improve external redirects message
  .changeset/flat-chicken-shout.md
  packages/astro/src/core/errors/errors-data.ts
  packages/astro/src/core/routing/manifest/create.ts
Labels: pkg: astro, docs pr

#13703 Revert "[ci] release"
  .changeset/chatty-taxes-retire.md
  .changeset/shaky-coins-fry.md
  .changeset/social-bats-kiss.md
  .changeset/tall-pots-fly.md
  .changeset/wicked-beds-sniff.md
  examples/basics/package.json
  examples/blog/package.json
  examples/component/package.json
  examples/container-with-vitest/package.json
  examples/framework-alpine/package.json
  examples/framework-multiple/package.json
  examples/framework-preact/package.json
  examples/framework-react/package.json
  examples/framework-solid/package.json
  examples/framework-svelte/package.json
  examples/framework-vue/package.json
  examples/hackernews/package.json
  examples/integration/package.json
  examples/minimal/package.json
  examples/portfolio/package.json
  examples/ssr/package.json
  examples/starlog/package.json
  examples/toolbar-app/package.json
  examples/with-markdoc/package.json
  examples/with-mdx/package.json
  examples/with-nanostores/package.json
  examples/with-tailwindcss/package.json
  examples/with-vitest/package.json
  packages/astro/CHANGELOG.md
  packages/astro/package.json
  packages/create-astro/CHANGELOG.md
  packages/create-astro/package.json
  pnpm-lock.yaml
Labels: pkg: example, pkg: create-astro, pkg: astro

#13698 [docs] better text/links in config ref adapter entry
  .changeset/purple-horses-talk.md
  packages/astro/src/types/public/config.ts
Labels: pkg: astro, docs pr

#13692 fix: images urls containing ' which are inferSize'd
  .changeset/dirty-months-hunt.md
  packages/astro/src/vite-plugin-markdown/images.ts
  packages/astro/test/core-image.test.js
  packages/astro/test/fixtures/core-image/src/assets/penguin with apostrophe'.jpg
  packages/astro/test/fixtures/core-image/src/pages/specialChars.md
Labels: pkg: astro

#13705 feat(fonts): update unifont
  .changeset/cyan-games-jog.md
  packages/astro/package.json
  packages/astro/src/assets/fonts/definitions.ts
  packages/astro/src/assets/fonts/implementations/data-collector.ts
  packages/astro/src/assets/fonts/implementations/font-fetcher.ts
  packages/astro/src/assets/fonts/implementations/font-metrics-resolver.ts
  packages/astro/src/assets/fonts/implementations/url-proxy.ts
  packages/astro/src/assets/fonts/logic/normalize-remote-font-faces.ts
  packages/astro/src/assets/fonts/logic/optimize-fallbacks.ts
  packages/astro/src/assets/fonts/orchestrate.ts
  packages/astro/src/assets/fonts/providers/local.ts
  packages/astro/src/assets/fonts/types.ts
  packages/astro/src/assets/fonts/vite-plugin-fonts.ts
  packages/astro/test/units/assets/fonts/implementations.test.js
  packages/astro/test/units/assets/fonts/logic.test.js
  packages/astro/test/units/assets/fonts/orchestrate.test.js
  packages/astro/test/units/assets/fonts/providers.test.js
  pnpm-lock.yaml
Labels: pkg: astro

#13711 fix: set height: auto for responsive images
  .changeset/fuzzy-laws-kick.md
  packages/astro/components/image.css
Labels: pkg: astro

#13720 fix: renderers types
  .changeset/tangy-eagles-train.md
  packages/integrations/react/src/server-v17.ts
  packages/integrations/react/src/server.ts
  packages/integrations/svelte/src/server.ts
  packages/integrations/vue/src/server.ts
Labels: pkg: svelte, pkg: vue, pkg: react, pkg: integration

#13731 fix(vite): update vite to latest version
  .changeset/young-boxes-admire.md
  packages/astro/package.json
  packages/db/package.json
  packages/integrations/alpinejs/package.json
  packages/integrations/cloudflare/package.json
  packages/integrations/markdoc/package.json
  packages/integrations/mdx/package.json
  packages/integrations/netlify/package.json
  packages/integrations/preact/package.json
  packages/integrations/react/package.json
  packages/integrations/solid/package.json
  packages/integrations/svelte/package.json
  packages/integrations/vue/package.json
  packages/studio/package.json
  pnpm-lock.yaml
Labels: pkg: svelte, pkg: vue, pkg: react, pkg: preact, pkg: solid, pkg: integration, pkg: astro

#13725 feat(csp): track client scripts and CSS
  packages/astro/src/container/index.ts
  packages/astro/src/core/app/types.ts
  packages/astro/src/core/astro-islands-hashes.ts
  packages/astro/src/core/base-pipeline.ts
  packages/astro/src/core/build/generate.ts
  packages/astro/src/core/build/internal.ts
  packages/astro/src/core/build/plugins/plugin-internals.ts
  packages/astro/src/core/build/plugins/plugin-manifest.ts
  packages/astro/src/core/build/plugins/plugin-ssr.ts
  packages/astro/src/core/csp/common.ts
  packages/astro/src/core/encryption.ts
  packages/astro/src/core/render-context.ts
  packages/astro/src/runtime/server/astro-island-styles.ts
  packages/astro/src/runtime/server/render/common.ts
  packages/astro/src/runtime/server/render/csp.ts
  packages/astro/src/runtime/server/render/head.ts
  packages/astro/src/runtime/server/scripts.ts
  packages/astro/src/types/public/internal.ts
  packages/astro/src/vite-plugin-astro-server/plugin.ts
  packages/astro/test/astro-dynamic.test.js
  packages/astro/test/astro-slot-with-client.test.js
  packages/astro/test/astro-slots-nested.test.js
  packages/astro/test/csp.test.js
  packages/astro/test/hydration-race.test.js
  scripts/cmd/prebuild.js
Labels: pkg: astro, docs pr

#13734 fix: loosen the BaseSchema type
  .changeset/bright-breads-report.md
  packages/astro/types/content.d.ts
Labels: pkg: astro
