Repository withastro/astro, pull requests merged in 2025-05, with the labels that each got.

#13740 Fix cookies set after middleware called `next(url)` not being…
  .changeset/little-jokes-rhyme.md
  packages/astro/src/core/render-context.ts
  packages/astro/test/astro-cookies.test.js
  packages/astro/test/fixtures/astro-cookies/src/middleware.ts
Labels: pkg: astro

#13751 feat(fonts): update unifont
  .changeset/every-garlics-share.md
  packages/astro/package.json
  pnpm-lock.yaml
Labels: pkg: astro

#13759 refactor(astro): Replaced generic `Error` throws with `AstroError`
  .changeset/thin-regions-know.md
  packages/astro/src/content/loaders/file.ts
Labels: pkg: astro

#13756 feat(fonts): warn when no data
  .changeset/lazy-ducks-fix.md
  packages/astro/src/assets/fonts/orchestrate.ts
  packages/astro/src/assets/fonts/vite-plugin-fonts.ts
Labels: pkg: astro

#13750 ClientRouter: honor ctrl/shift... keys when clicking submit
  .changeset/four-carpets-wear.md
  packages/astro/components/ClientRouter.astro
  packages/astro/e2e/fixtures/view-transitions/public/favicon.ico
Labels: pkg: astro

#13763 feat: add schema parsing to live collections
  packages/astro/src/content/runtime.ts
  packages/astro/src/content/utils.ts
  packages/astro/src/core/errors/errors-data.ts
  packages/astro/src/core/errors/errors.ts
  packages/astro/templates/content/types.d.ts
  packages/astro/test/fixtures/live-loaders/src/live.config.ts
Labels: pkg: astro, docs pr

#13640 feat(fonts): local provider infer
  .changeset/tricky-papayas-stand.md
  packages/astro/package.json
  packages/astro/src/assets/fonts/config.ts
  packages/astro/src/assets/fonts/definitions.ts
  packages/astro/src/assets/fonts/implementations/error-handler.ts
  packages/astro/src/assets/fonts/implementations/font-file-reader.ts
  packages/astro/src/assets/fonts/logic/resolve-families.ts
  packages/astro/src/assets/fonts/orchestrate.ts
  packages/astro/src/assets/fonts/providers/index.ts
  packages/astro/src/assets/fonts/providers/local.ts
  packages/astro/src/assets/fonts/types.ts
  packages/astro/src/assets/fonts/utils.ts
  packages/astro/src/assets/fonts/vite-plugin-fonts.ts
  packages/astro/src/core/errors/errors-data.ts
  packages/astro/test/units/assets/fonts/orchestrate.test.js
  packages/astro/test/units/assets/fonts/providers.test.js
  packages/astro/test/units/assets/fonts/utils.test.js
  pnpm-lock.yaml
Labels: pkg: astro, docs pr

#13755 refactor(example): remove todo comment and normalize network errors
  examples/ssr/src/api.ts
Labels: pkg: example

#13765 fix(fonts): relative protocol urls
  .changeset/mean-lands-pull.md
  packages/astro/src/assets/fonts/logic/normalize-remote-font-faces.ts
  packages/astro/test/units/assets/fonts/logic.test.js
Labels: pkg: astro

#13752 fix(fonts): handle urls without extensions
  .changeset/cruel-pants-lead.md
  packages/astro/src/assets/fonts/constants.ts
  packages/astro/src/assets/fonts/definitions.ts
  packages/astro/src/assets/fonts/implementations/url-proxy.ts
  packages/astro/src/assets/fonts/logic/normalize-remote-font-faces.ts
  packages/astro/src/assets/fonts/orchestrate.ts
  packages/astro/src/assets/fonts/providers/local.ts
  packages/astro/src/assets/fonts/vite-plugin-fonts.ts
  packages/astro/test/units/assets/fonts/logic.test.js
  packages/astro/test/units/assets/fonts/orchestrate.test.js
  packages/astro/test/units/assets/fonts/providers.test.js
Labels: pkg: astro

#13753 Add a config option for filenames generated by the @astrojs/sitemap integration
  .changeset/neat-tigers-float.md
  packages/integrations/sitemap/src/config-defaults.ts
  packages/integrations/sitemap/src/index.ts
  packages/integrations/sitemap/src/schema.ts
  packages/integrations/sitemap/src/write-sitemap.ts
  packages/integrations/sitemap/test/config.test.js
Labels: pkg: integration

#13774 feat(fonts): improve error
  packages/astro/src/core/errors/errors-data.ts
Labels: pkg: astro, docs pr

#13766 chore(fonts): document
  packages/astro/src/assets/fonts/README.md
Labels: pkg: astro

#13784 fix(fonts): take build config into account
  .changeset/soft-memes-sin.md
  packages/astro/src/assets/fonts/constants.ts
  packages/astro/src/assets/fonts/definitions.ts
  packages/astro/src/assets/fonts/implementations/url-proxy.ts
  packages/astro/src/assets/fonts/implementations/url-resolver.ts
  packages/astro/src/assets/fonts/vite-plugin-fonts.ts
  packages/astro/test/fonts.test.js
  packages/astro/test/units/assets/fonts/implementations.test.js
  packages/astro/test/units/assets/fonts/orchestrate.test.js
Labels: pkg: astro

#13787 fix(fonts): windows test
  packages/astro/test/units/assets/fonts/orchestrate.test.js
Labels: pkg: astro

#13788 fix(fonts): properly throw error
  .changeset/petite-rockets-relax.md
  packages/astro/components/Font.astro
Labels: pkg: astro

#13777 Gif animation would not loop
  .changeset/thirty-pumas-shop.md
  packages/astro/src/assets/services/sharp.ts
Labels: pkg: astro, pr preview

#13761 refactor(astro): put them to follow a pattern for errors
  .changeset/moody-apples-hang.md
  packages/astro/src/content/loaders/file.ts
  packages/astro/src/core/errors/errors-data.ts
Labels: pkg: astro, docs pr

#13792 Unify isESMImportedImage in image service adapters
  .changeset/forty-peaches-talk.md
  packages/integrations/cloudflare/src/entrypoints/image-service.ts
  packages/integrations/cloudflare/src/utils/assets.ts
  packages/integrations/netlify/src/image-service.ts
Labels: pkg: integration

#13799 fix: respect the outdir option in the netlify integration
  .changeset/fine-needles-send.md
  packages/integrations/netlify/src/index.ts
Labels: pkg: integration

#13668 Replace internal cssScopeTo implementation to vite.cssScopeTo
  .changeset/three-cooks-drive.md
  packages/astro/src/core/build/plugins/plugin-css.ts
  packages/astro/src/vite-plugin-astro/index.ts
  packages/astro/src/vite-plugin-astro/types.ts
Labels: pkg: astro, pr preview

#13810 feat(csp): allow additional directives
  packages/astro/src/actions/runtime/utils.ts
  packages/astro/src/core/app/types.ts
  packages/astro/src/core/build/generate.ts
  packages/astro/src/core/build/plugins/plugin-manifest.ts
  packages/astro/src/core/config/schemas/base.ts
  packages/astro/src/core/config/schemas/refined.ts
  packages/astro/src/core/csp/common.ts
  packages/astro/src/core/csp/config.ts
  packages/astro/src/core/errors/errors-data.ts
  packages/astro/src/core/middleware/index.ts
  packages/astro/src/core/render-context.ts
  packages/astro/src/runtime/server/render/csp.ts
  packages/astro/src/types/public/config.ts
  packages/astro/src/types/public/context.ts
  packages/astro/src/types/public/internal.ts
  packages/astro/src/vite-plugin-astro-server/plugin.ts
  packages/astro/test/csp.test.js
  packages/astro/test/units/config/config-validate.test.js
Labels: pkg: astro, docs pr

#13767 feat: add cache hint support to live loaders
  packages/astro/src/content/runtime.ts
  packages/astro/src/core/errors/errors-data.ts
  packages/astro/src/types/public/content.ts
  packages/astro/test/fixtures/live-loaders/src/live.config.ts
Labels: pkg: astro, docs pr

#13812 feat(csp): resources for script and styles directives
  packages/astro/e2e/fixtures/view-transitions/astro.config.mjs
  packages/astro/src/core/app/types.ts
  packages/astro/src/core/build/generate.ts
  packages/astro/src/core/build/plugins/plugin-manifest.ts
  packages/astro/src/core/config/schemas/base.ts
  packages/astro/src/core/config/schemas/refined.ts
  packages/astro/src/core/csp/common.ts
  packages/astro/src/core/csp/config.ts
  packages/astro/src/core/encryption.ts
  packages/astro/src/core/render-context.ts
  packages/astro/src/runtime/server/render/csp.ts
  packages/astro/src/types/public/config.ts
  packages/astro/src/types/public/internal.ts
  packages/astro/src/vite-plugin-astro-server/plugin.ts
  packages/astro/test/csp.test.js
  packages/astro/test/types/define-config.ts
  packages/astro/test/units/config/config-validate.test.js
Labels: pkg: astro, docs pr

#13830 fix(@astrojs/netlify): Handle SVGs properly with imageCDN enabled
  .changeset/loud-brooms-kick.md
  packages/integrations/netlify/src/image-service.ts
Labels: pkg: integration

#13824 feat(csp): runtime APIs
  packages/astro/src/actions/runtime/utils.ts
  packages/astro/src/core/app/types.ts
  packages/astro/src/core/config/schemas/base.ts
  packages/astro/src/core/csp/common.ts
  packages/astro/src/core/csp/config.ts
  packages/astro/src/core/middleware/index.ts
  packages/astro/src/core/render-context.ts
  packages/astro/src/runtime/server/render/csp.ts
  packages/astro/src/types/public/config.ts
  packages/astro/src/types/public/context.ts
  packages/astro/test/csp.test.js
  packages/astro/test/fixtures/csp/src/pages/scripts.astro
  packages/astro/test/fixtures/csp/src/pages/styles.astro
Labels: pkg: astro, docs pr

#13773 ignore lightningcss global pseudo-class warning
  .changeset/cyan-doodles-wish.md
  packages/astro/src/core/logger/vite.ts
Labels: pkg: astro

#13507 Handle module not found errors in server entrypoint
  .changeset/sixty-carrots-pick.md
  packages/integrations/node/src/preview.ts
Labels: pkg: integration

#13373 fix: audit list window covered by tooltip and highlight
  .changeset/silent-planes-show.md
  packages/astro/e2e/dev-toolbar.test.js
  packages/astro/src/runtime/client/dev-toolbar/apps/audit/ui/audit-list-window.ts
Labels: pkg: astro

#13383 fix(astro): stop toolbar settings from overflowing
  .changeset/real-tigers-like.md
  packages/astro/src/runtime/client/dev-toolbar/apps/settings.ts
Labels: pkg: astro, pr preview

#13769 Expand `ActionError` codes to include all IANA HTTP error codes
  .changeset/spotty-glasses-prove.md
  packages/astro/src/actions/runtime/virtual/shared.ts
Labels: pkg: astro

#13833 fix: ponyfill import.meta.resolve
  .changeset/fruity-pugs-cross.md
  packages/astro/package.json
  packages/astro/src/core/build/plugins/plugin-manifest.ts
  packages/astro/src/core/session.ts
  pnpm-lock.yaml
Labels: pkg: astro

#13839 test: skip test due to some regression
  packages/astro/e2e/dev-toolbar.test.js
Labels: pkg: astro

#13809 fix: increase minimum Node version to 18.20.8
  .changeset/upset-tires-shout.md
  packages/astro-prism/package.json
  packages/astro/astro.js
  packages/astro/package.json
  packages/astro/src/core/build/plugins/plugin-manifest.ts
  packages/create-astro/package.json
  packages/integrations/markdoc/package.json
  packages/integrations/mdx/package.json
  packages/integrations/preact/package.json
  packages/integrations/react/package.json
  packages/integrations/solid/package.json
  packages/integrations/svelte/package.json
  packages/integrations/vue/package.json
  packages/telemetry/package.json
  packages/upgrade/package.json
Labels: pkg: svelte, pkg: vue, pkg: react, pkg: preact, pkg: solid, pkg: integration, pkg: create-astro, pkg: astro, semver: minor

#13843 fix(astro): Export AstroSession type
  .changeset/tidy-mails-cough.md
  packages/astro/src/types/public/index.ts
Labels: pkg: astro, docs pr

#12574 feat: add server islands support for `MDX`
  .changeset/smooth-houses-own.md
  packages/astro/e2e/fixtures/server-islands/src/pages/mdx.mdx
  packages/astro/src/core/server-islands/vite-plugin-server-islands.ts
  packages/astro/src/jsx/rehype.ts
  packages/astro/src/runtime/server/jsx.ts
  packages/astro/src/vite-plugin-scanner/index.ts
  packages/astro/test/fixtures/server-islands/ssr/astro.config.mjs
  packages/astro/test/fixtures/server-islands/ssr/package.json
  packages/astro/test/fixtures/server-islands/ssr/src/pages/test.mdx
  packages/astro/test/server-islands.test.js
  pnpm-lock.yaml
Labels: pkg: astro

#13858 fix: client directive on astro component warning
  .changeset/slick-pillows-smash.md
  packages/astro/src/runtime/server/render/astro/instance.ts
  packages/astro/test/units/render/rendering.test.js
Labels: pkg: astro

#13851 feat: allow disabling of default responsive image styles
  .changeset/open-tables-sit.md
  packages/astro/src/assets/vite-plugin-assets.ts
  packages/astro/src/core/config/schemas/base.ts
  packages/astro/src/types/public/config.ts
  packages/astro/test/core-image-layout.test.js
Labels: pkg: astro, docs pr

#13846 feat(live loaders): rename functions and add error handling
  packages/astro/src/config/content.ts
  packages/astro/src/config/entrypoint.ts
  packages/astro/src/content/loaders/errors.ts
  packages/astro/src/content/loaders/types.ts
  packages/astro/src/content/runtime.ts
  packages/astro/src/core/errors/errors-data.ts
  packages/astro/src/types/public/content.ts
  packages/astro/templates/content/module.mjs
  packages/astro/templates/content/types.d.ts
  packages/astro/test/fixtures/live-loaders/src/live.config.ts
  packages/astro/test/fixtures/live-loaders/src/pages/api.ts
  packages/astro/test/fixtures/live-loaders/src/pages/index.astro
  packages/astro/test/fixtures/live-loaders/src/pages/more.astro
  packages/astro/test/fixtures/live-loaders/src/pages/test-old-api.ts
  packages/astro/test/live-loaders.test.js
  packages/astro/types/content.d.ts
Labels: pkg: astro, docs pr
