Repository withastro/astro, pull requests merged in 2025-03, with the labels that each got.

#13349 fix: escape img attributes in Markdown
  .changeset/fuzzy-planes-collect.md
  packages/astro/src/content/runtime.ts
  packages/astro/test/content-layer.test.js
  packages/astro/test/fixtures/content-layer/src/content/space/lunar-module.md
Labels: pkg: astro

#13351 fix: generate correct responsive srcsets on Vercel
  .changeset/metal-emus-bathe.md
  packages/integrations/vercel/src/image/shared.ts
  packages/integrations/vercel/src/index.ts
  packages/integrations/vercel/test/fixtures/image/astro.config.mjs
  packages/integrations/vercel/test/fixtures/image/src/assets/penguin.jpg
  packages/integrations/vercel/test/fixtures/image/src/pages/index.astro
  packages/integrations/vercel/test/image.test.js
Labels: pkg: integration

#12985 Prevent rerunning scripts already ran in router
  .changeset/forty-houses-taste.md
  packages/astro/e2e/fixtures/view-transitions/src/pages/eight.astro
  packages/astro/e2e/fixtures/view-transitions/src/pages/one.astro
  packages/astro/e2e/fixtures/view-transitions/src/pages/page1-with-scripts.astro
  packages/astro/e2e/fixtures/view-transitions/src/pages/page2-with-scripts.astro
  packages/astro/e2e/fixtures/view-transitions/src/pages/page3-with-scripts.astro
  packages/astro/e2e/view-transitions.test.js
  packages/astro/src/transitions/router.ts
  packages/astro/src/transitions/swap-functions.ts
Labels: pkg: astro

#13109 feat(partytown): allow overriding `copyLibFiles.dest` in `astro:build:done` hook with the `lib` option
  .changeset/plenty-coins-destroy.md
  packages/integrations/partytown/src/index.ts
Labels: pkg: integration

#13357 ci: add new command for vite ecosystem CI
  packages/integrations/cloudflare/package.json
  packages/integrations/netlify/package.json
  packages/integrations/node/package.json
  packages/integrations/vercel/package.json
Labels: pkg: integration

#13353 feat(fonts): refactor loading logic
  packages/astro/src/assets/fonts/constants.ts
  packages/astro/src/assets/fonts/load.ts
  packages/astro/src/assets/fonts/providers/google.ts
  packages/astro/src/assets/fonts/providers/local.ts
  packages/astro/src/assets/fonts/providers/utils.ts
  packages/astro/src/assets/fonts/types.ts
  packages/astro/src/assets/fonts/utils.ts
  packages/astro/src/assets/fonts/vite-plugin-fonts.ts
  packages/astro/src/core/config/schema.ts
  packages/astro/test/units/assets/fonts/load.test.js
  packages/astro/test/units/assets/fonts/utils.test.js
Labels: pkg: astro

#13339 bugfix(svelte): fix colliding id's generated from `$props.id`
  .changeset/flat-cherries-rule.md
  packages/integrations/svelte/context.js
  packages/integrations/svelte/package.json
  packages/integrations/svelte/server.js
  pnpm-lock.yaml
Labels: pkg: svelte, pkg: integration

#13363 fix(assets): remove export of internal function
  .changeset/twenty-news-tease.md
  packages/astro/src/assets/utils/index.ts
Labels: pkg: astro

#13362 feat(fonts): css vars
  packages/astro/src/assets/fonts/config.ts
  packages/astro/src/assets/fonts/load.ts
  packages/astro/src/assets/fonts/utils.ts
  packages/astro/src/assets/fonts/vite-plugin-fonts.ts
  packages/astro/src/core/config/schema.ts
  packages/astro/test/units/assets/fonts/load.test.js
  packages/astro/test/units/assets/fonts/utils.test.js
Labels: pkg: astro

#13368 [docs] move location of an Actions error
  packages/astro/src/core/errors/errors-data.ts
Labels: pkg: astro, docs pr

#13347 Replace internal cssScopeTo implementation to vite.cssScopeTo
  .changeset/hungry-sheep-sneeze.md
  packages/astro/src/core/build/plugins/plugin-css.ts
  packages/astro/src/core/build/static-build.ts
  packages/astro/src/vite-plugin-astro/index.ts
  packages/astro/src/vite-plugin-astro/types.ts
  packages/astro/test/0-css.test.js
  packages/astro/test/astro-css-bundling.test.js
  packages/astro/test/config-vite.test.js
  packages/astro/test/css-inline-stylesheets.test.js
  packages/astro/test/css-order-import.test.js
  packages/astro/test/css-order.test.js
  packages/astro/test/postcss.test.js
  packages/astro/test/remote-css.test.js
  packages/integrations/tailwind/test/fixtures/basic/astro.config.js
Labels: pkg: integration, pkg: astro

#13367 docs: document utility functions
  .changeset/gold-pears-reply.md
  packages/astro/src/assets/utils/imageKind.ts
  packages/astro/src/assets/utils/metadata.ts
  packages/astro/src/assets/utils/node/emitAsset.ts
  packages/astro/src/assets/utils/queryParams.ts
  packages/astro/src/assets/utils/remoteProbe.ts
  packages/astro/src/assets/utils/transformToPath.ts
Labels: pkg: astro

#13381 Extend the simulated viewTransition object with the `types` property
  .changeset/every-birds-stick.md
  packages/astro/src/transitions/router.ts
Labels: pkg: astro

#13366 feat(fonts): as prop
  packages/astro/src/assets/fonts/config.ts
  packages/astro/src/assets/fonts/load.ts
  packages/astro/src/assets/fonts/types.ts
  packages/astro/src/assets/fonts/utils.ts
  packages/astro/src/assets/fonts/vite-plugin-fonts.ts
  packages/astro/src/core/config/schema.ts
  packages/astro/test/units/assets/fonts/load.test.js
  packages/astro/test/units/assets/fonts/utils.test.js
Labels: pkg: astro

#13390 chore: fix SSR API test
  packages/astro/test/fixtures/ssr-api-route/src/pages/500.js
  packages/astro/test/fixtures/ssr-api-route/src/pages/fail.js
Labels: pkg: astro

#13391 fix: astro:config types tests
  packages/astro/test/types/astro-config-virtual-module.ts
Labels: pkg: astro

#13389 Remove trailing spaces from blog example links.
  examples/blog/src/pages/index.astro
Labels: pkg: example

#13395 Use package-manager-detector
  .changeset/pink-pugs-hide.md
  packages/astro/package.json
  packages/astro/src/cli/add/index.ts
  packages/astro/src/cli/install-package.ts
  packages/astro/src/core/messages.ts
  packages/create-astro/src/actions/dependencies.ts
  packages/upgrade/package.json
  packages/upgrade/src/actions/context.ts
  packages/upgrade/src/actions/install.ts
  packages/upgrade/src/messages.ts
  pnpm-lock.yaml
Labels: pkg: create-astro, pkg: astro

#13374 docs: fix config types (images, i18n)
  .changeset/rude-maps-visit.md
  packages/astro/src/types/public/config.ts
Labels: pkg: astro, docs pr

#13379 ClientRouter: prevent double execution of scripts when custom swap() only swaps parts of the DOM
  .changeset/lazy-kings-rush.md
  packages/astro/e2e/fixtures/view-transitions/src/pages/partial-swap.astro
  packages/astro/e2e/view-transitions.test.js
  packages/astro/src/transitions/router.ts
Labels: pkg: astro

#13370 Docs: Clarify redirects use case
  packages/astro/src/types/public/config.ts
Labels: pkg: astro, docs pr

#13380 Ensure that all scripts are executed prior to astro:page-load
  .changeset/slow-kings-wave.md
  packages/astro/e2e/fixtures/view-transitions/src/pages/inline-module.astro
  packages/astro/e2e/fixtures/view-transitions/src/pages/one.astro
  packages/astro/e2e/view-transitions.test.js
  packages/astro/src/transitions/router.ts
Labels: pkg: astro

#13398 Fix codeblock formatting in `i18n.domains` comments
  packages/astro/src/types/public/config.ts
Labels: pkg: astro, docs pr

#13352 Add `experimental.headingIdCompat` flag
  .changeset/good-toys-refuse.md
  packages/astro/src/core/config/schema.ts
  packages/astro/src/types/public/config.ts
  packages/astro/src/vite-plugin-markdown/index.ts
  packages/integrations/markdoc/src/content-entry-type.ts
  packages/integrations/markdoc/src/heading-ids.ts
  packages/integrations/markdoc/src/runtime.ts
  packages/integrations/markdoc/test/fixtures/headings/src/content/docs/headings-with-special-characters.mdoc
  packages/integrations/markdoc/test/headings.test.js
  packages/integrations/mdx/src/index.ts
  packages/integrations/mdx/src/plugins.ts
  packages/integrations/mdx/src/vite-plugin-mdx.ts
  packages/integrations/mdx/test/fixtures/mdx-get-headings/src/pages/test.mdx
  packages/integrations/mdx/test/mdx-get-headings.test.js
  packages/markdown/remark/src/index.ts
  packages/markdown/remark/src/rehype-collect-headings.ts
  packages/markdown/remark/src/types.ts
Labels: feat: markdown, pkg: integration, pkg: astro, semver: minor, docs pr

#13402 feat: experimental flag from compiler
  .changeset/cold-rats-swim.md
  packages/astro/package.json
  packages/astro/src/core/compile/compile.ts
  packages/astro/src/core/config/schema.ts
  packages/astro/src/types/public/config.ts
  packages/astro/test/css-order.test.js
  packages/astro/test/fixtures/css-order-transparent/astro.config.mjs
  packages/astro/test/fixtures/css-order-transparent/package.json
  packages/astro/test/fixtures/css-order-transparent/src/components/Item.astro
  packages/astro/test/fixtures/css-order-transparent/src/pages/index.astro
  pnpm-lock.yaml
Labels: pkg: astro, semver: minor, docs pr

#13401 feat(fonts): resolve config todos
  packages/astro/src/assets/fonts/config.ts
  packages/astro/src/assets/fonts/load.ts
  packages/astro/src/assets/fonts/providers/local.ts
  packages/astro/src/assets/fonts/types.ts
  packages/astro/src/assets/fonts/utils.ts
  packages/astro/src/core/config/schema.ts
  packages/astro/test/units/assets/fonts/load.test.js
  packages/astro/test/units/assets/fonts/providers.test.js
  packages/astro/test/units/assets/fonts/schemas.test.js
  packages/astro/test/units/config/config-validate.test.js
Labels: pkg: astro

#13407 fix: rethrow astroerrors in image processing
  .changeset/small-masks-wink.md
  packages/astro/src/assets/build/generate.ts
Labels: pkg: astro

#13408 docs: fix formatting of `excludeLangs` default value
  packages/astro/src/types/public/config.ts
Labels: pkg: astro, docs pr

#13410 chore: breakdown changelog
  packages/astro/CHANGELOG-v2.md
  packages/astro/CHANGELOG-v3.md
  packages/astro/CHANGELOG.md
Labels: pkg: astro

#13413 fix: make preserveScriptOrder an optional flag
  .changeset/real-results-float.md
  packages/astro/src/types/public/config.ts
Labels: pkg: astro, docs pr

#13411 feat(fonts): use capsize instead of fontaine
  packages/astro/package.json
  packages/astro/src/assets/fonts/load.ts
  packages/astro/src/assets/fonts/metrics.ts
  packages/astro/src/assets/fonts/utils.ts
  packages/astro/src/assets/fonts/vite-plugin-fonts.ts
  packages/astro/test/units/assets/fonts/load.test.js
  packages/astro/test/units/assets/fonts/utils.test.js
  pnpm-lock.yaml
Labels: pkg: astro

#13415 fix: reuse storage objects in sessions
  .changeset/dull-papers-fry.md
  packages/astro/src/core/session.ts
Labels: pkg: astro

#13417 feat(fonts): family name validation
  packages/astro/src/assets/fonts/config.ts
  packages/astro/src/assets/fonts/vite-plugin-fonts.ts
  packages/astro/src/core/config/schema.ts
  packages/astro/test/units/assets/fonts/schemas.test.js
  packages/astro/test/units/config/config-validate.test.js
Labels: pkg: astro

#13420 Revert "Replace internal cssScopeTo implementation to vite.cssScopeTo"
  .changeset/weak-grapes-join.md
  packages/astro/src/core/build/plugins/plugin-css.ts
  packages/astro/src/core/build/static-build.ts
  packages/astro/src/vite-plugin-astro/index.ts
  packages/astro/src/vite-plugin-astro/types.ts
  packages/astro/test/0-css.test.js
  packages/astro/test/astro-css-bundling.test.js
  packages/astro/test/config-vite.test.js
  packages/astro/test/css-inline-stylesheets.test.js
  packages/astro/test/css-order-import.test.js
  packages/astro/test/css-order.test.js
  packages/astro/test/postcss.test.js
  packages/astro/test/remote-css.test.js
  packages/integrations/tailwind/test/fixtures/basic/astro.config.js
Labels: pkg: integration, pkg: astro, pr preview

#13424 fix(fonts): vite plugin cleanup
  packages/astro/src/assets/fonts/vite-plugin-fonts.ts
Labels: pkg: astro

#13426 fix: respect `--yes` flag for third-party integrations
  .changeset/ten-tips-share.md
  packages/astro/src/cli/add/index.ts
Labels: pkg: astro

#13324 chore(deps): update shiki to v3
  .changeset/all-suns-report.md
  packages/astro/package.json
  packages/integrations/mdx/package.json
  packages/markdown/remark/package.json
  pnpm-lock.yaml
Labels: feat: markdown, pkg: integration, pkg: astro

#13435 Remove action
  .github/workflows/check-merge.yml
Labels: 🚨 action

#13442 feat(fonts): allow disabling automatic fallback generation
  packages/astro/src/assets/fonts/config.ts
  packages/astro/src/assets/fonts/constants.ts
  packages/astro/src/assets/fonts/load.ts
  packages/astro/src/assets/fonts/utils.ts
  packages/astro/test/units/assets/fonts/schemas.test.js
  packages/astro/test/units/assets/fonts/utils.test.js
Labels: pkg: astro

#13437 fix(config): handle boolean server.allowedHosts
  .changeset/bitter-rockets-pull.md
  packages/astro/src/core/config/merge.ts
Labels: pkg: astro

#13372 fix: race conditions in data store save
  .changeset/empty-cloths-sort.md
  packages/astro/src/content/content-layer.ts
  packages/astro/src/content/mutable-data-store.ts
  packages/astro/src/content/runtime.ts
Labels: pkg: astro, pr preview

#13432 fix: renderToString function not render properly nested slots when they are components
  .changeset/wide-carrots-dream.md
  examples/container-with-vitest/src/components/CounterLight.astro
  examples/container-with-vitest/test/Card.test.ts
  packages/astro/src/container/index.ts
Labels: pkg: example, pkg: astro, semver: minor

#13358 feat: add new method `insertPageRoute` to container
  .changeset/ninety-cups-decide.md
  packages/astro/e2e/fixtures/actions-blog/src/components/PostComment.tsx
  packages/astro/src/container/index.ts
  packages/astro/src/container/pipeline.ts
  packages/astro/test/container.test.js
  pnpm-lock.yaml
Labels: pkg: astro

#13239 chore: add tests for HEAD requests to endpoints
  packages/astro/test/fixtures/ssr-api-route/src/pages/custom-status.ts
  packages/astro/test/ssr-api-route.test.js
  pnpm-lock.yaml
Labels: pkg: astro

#13428 Handle bad values in x-forwarded-host
  .changeset/true-moose-report.md
  packages/astro/src/core/app/node.ts
  packages/astro/test/units/app/node.test.js
Labels: pkg: astro

#13451 chore: fix changelog message due to a previous mistake
  packages/astro/CHANGELOG.md
Labels: pkg: astro

#13456 ci: restore workflow
  .github/workflows/check-merge.yml
Labels: 🚨 action

#13455 chore: remove deprecated package
  packages/astro/package.json
  packages/astro/src/core/cookies/cookies.ts
  pnpm-lock.yaml
Labels: pkg: astro

#13457 fix: set correct statusText for custom error pages
  .changeset/bumpy-sites-ring.md
  packages/astro/src/runtime/server/render/page.ts
  packages/astro/test/custom-404-static.test.js
  packages/astro/test/custom-500.test.js
Labels: pkg: astro

#13425 feat(fonts): add errors
  packages/astro/components/Font.astro
  packages/astro/src/assets/fonts/providers/local.ts
  packages/astro/src/assets/fonts/providers/utils.ts
  packages/astro/src/assets/fonts/utils.ts
  packages/astro/src/assets/fonts/vite-plugin-fonts.ts
  packages/astro/src/core/errors/errors-data.ts
  packages/astro/test/units/assets/fonts/providers.test.js
  packages/astro/test/units/assets/fonts/utils.test.js
Labels: pkg: astro, docs pr

#13471 Add deprecation notice to Tailwind integration README
  .changeset/witty-socks-relax.md
  packages/integrations/tailwind/README.md
Labels: pkg: integration

#13472 Small change to linking style
  packages/integrations/tailwind/README.md
Labels: pkg: integration

#13465 feat(fonts): typegen for <Font /> family prop
  packages/astro/client.d.ts
  packages/astro/components/Font.astro
  packages/astro/src/assets/fonts/constants.ts
  packages/astro/src/assets/fonts/load.ts
  packages/astro/src/assets/fonts/sync.ts
  packages/astro/src/core/sync/index.ts
  packages/astro/test/units/assets/fonts/load.test.js
  packages/astro/types/fonts.d.ts
Labels: pkg: astro

#13444 feat(cloudflare): global env
  .changeset/cold-news-hope.md
  packages/integrations/cloudflare/env.d.ts
  packages/integrations/cloudflare/package.json
  packages/integrations/cloudflare/src/entrypoints/server.ts
  packages/integrations/cloudflare/tsconfig.json
  pnpm-lock.yaml
Labels: pkg: integration

#13480 fix(vercel): generate correct external redirects
  .changeset/little-doors-tickle.md
  packages/integrations/vercel/src/lib/redirects.ts
  packages/integrations/vercel/test/redirects.test.js
Labels: pkg: integration

#13481 Repair server islands to work with client router
  .changeset/tough-tires-kneel.md
  packages/astro/src/runtime/server/render/server-islands.ts
Labels: pkg: astro

#13484 fix: better error handling on Stackblitz
  .changeset/twelve-gifts-attend.md
  packages/astro/src/core/config/vite-load.ts
Labels: pkg: astro, pr preview

#13483 fix(app): call renderer when routes don't match
  .changeset/wet-bottles-invite.md
  packages/astro/src/core/app/index.ts
  packages/astro/test/fixtures/middleware space/integration-middleware-post.js
  packages/astro/test/middleware.test.js
Labels: pkg: astro

#13469 fix(fonts): config family types for inferred provider
  packages/astro/src/assets/fonts/config.ts
  packages/astro/src/assets/fonts/load.ts
  packages/astro/src/assets/fonts/types.ts
  packages/astro/src/core/config/schema.ts
  packages/astro/test/types/define-config.ts
Labels: pkg: astro

#13485 fix: cache raw cookie value and decode when getting
  .changeset/honest-loops-cheat.md
  packages/astro/src/core/cookies/cookies.ts
  packages/astro/test/units/cookies/get.test.js
Labels: pkg: astro

#13510 fix(astro): dynamically import actions
  .changeset/clever-tigers-dig.md
  packages/astro/src/actions/noop-actions.ts
  packages/astro/src/core/app/types.ts
  packages/astro/src/core/base-pipeline.ts
  packages/astro/src/core/build/generate.ts
  packages/astro/src/core/build/plugins/plugin-ssr.ts
  packages/integrations/cloudflare/test/astro-env.test.js
  packages/integrations/cloudflare/test/fixtures/astro-env/package.json
  packages/integrations/cloudflare/test/fixtures/astro-env/src/actions.ts
  packages/integrations/cloudflare/test/fixtures/astro-env/src/middleware.ts
  packages/integrations/cloudflare/test/fixtures/astro-env/src/pages/test.astro
  pnpm-lock.yaml
Labels: pkg: integration, pkg: astro

#13429 refactor(actions): use `Omit` to avoid leaking types to shared context
  .changeset/calm-beans-roll.md
  packages/astro/src/actions/runtime/utils.ts
  packages/astro/src/core/errors/errors-data.ts
  packages/astro/src/core/render-context.ts
  packages/astro/src/types/public/context.ts
Labels: pkg: astro, docs pr

#13518 fix(fonts): read local fonts files to extract metrics
  packages/astro/package.json
  packages/astro/src/assets/fonts/metrics.ts
  pnpm-lock.yaml
Labels: pkg: astro

#13514 feat(cloudflare): add KV session storage support
  .changeset/twenty-dogs-listen.md
  packages/integrations/cloudflare/package.json
  packages/integrations/cloudflare/src/entrypoints/server.ts
  packages/integrations/cloudflare/src/index.ts
  packages/integrations/cloudflare/test/fixtures/astro-dev-platform/package.json
  packages/integrations/cloudflare/test/fixtures/astro-env/package.json
  packages/integrations/cloudflare/test/fixtures/sessions/astro.config.mjs
  packages/integrations/cloudflare/test/fixtures/sessions/package.json
  packages/integrations/cloudflare/test/fixtures/sessions/src/actions/index.ts
  packages/integrations/cloudflare/test/fixtures/sessions/src/middleware.ts
  packages/integrations/cloudflare/test/fixtures/sessions/src/pages/api.ts
  packages/integrations/cloudflare/test/fixtures/sessions/src/pages/cart.astro
  packages/integrations/cloudflare/test/fixtures/sessions/src/pages/destroy.ts
  packages/integrations/cloudflare/test/fixtures/sessions/src/pages/index.astro
  packages/integrations/cloudflare/test/fixtures/sessions/src/pages/regenerate.ts
  packages/integrations/cloudflare/test/fixtures/sessions/src/pages/update.ts
  packages/integrations/cloudflare/test/fixtures/sessions/wrangler.json
  packages/integrations/cloudflare/test/sessions.test.js
  pnpm-lock.yaml
Labels: pkg: integration, pr preview

#13516 feat(fonts): set default fallbacks
  packages/astro/src/assets/fonts/constants.ts
  packages/astro/src/assets/fonts/load.ts
Labels: pkg: astro

#13511 chore(tailwind): delete integration
  .github/renovate.json5
  README.md
  packages/astro/e2e/fixtures/tailwindcss/package.json
  packages/astro/src/cli/add/index.ts
  packages/integrations/tailwind/CHANGELOG.md
  packages/integrations/tailwind/README.md
  packages/integrations/tailwind/base.css
  packages/integrations/tailwind/package.json
  packages/integrations/tailwind/src/index.ts
  packages/integrations/tailwind/test/basic.test.js
  packages/integrations/tailwind/test/fixtures/basic/astro.config.js
  packages/integrations/tailwind/test/fixtures/basic/package.json
  packages/integrations/tailwind/test/fixtures/basic/src/pages/index.astro
  packages/integrations/tailwind/test/fixtures/basic/tailwind.config.js
  packages/integrations/tailwind/tsconfig.json
  pnpm-lock.yaml
Labels: pkg: integration, pkg: astro

#13524 fix(i18n): return value from `preferredLocale`
  .changeset/ninety-nights-hug.md
  packages/astro/src/i18n/index.ts
  packages/astro/src/i18n/utils.ts
  packages/astro/test/fixtures/i18n-routing-redirect-preferred-language/astro.config.mjs
  packages/astro/test/i18n-routing.test.js
Labels: pkg: astro
