Repository withastro/astro, pull requests merged in 2025-08, with the labels that each got.

#14175 fix(netlify): update deps
  .changeset/eighty-geese-act.md
  packages/integrations/netlify/package.json
  pnpm-lock.yaml
Labels: pkg: integration

#14182 test: enable test for style preprocess error line highlighting
  packages/astro/e2e/errors.test.js
Labels: pkg: astro

#14191 refactor: use ssr environment to load modules
  packages/astro/src/assets/fonts/implementations/remote-font-provider-mod-resolver.ts
  packages/astro/src/assets/fonts/vite-plugin-fonts.ts
  packages/astro/src/content/types-generator.ts
  packages/astro/src/content/utils.ts
  packages/astro/src/content/vite-plugin-content-assets.ts
  packages/astro/src/content/vite-plugin-content-imports.ts
  packages/astro/src/content/vite-plugin-content-virtual-mod.ts
  packages/astro/src/core/config/vite-load.ts
  packages/astro/src/core/dev/restart.ts
  packages/astro/src/core/module-loader/index.ts
  packages/astro/src/core/module-loader/runner.ts
  packages/astro/src/core/module-loader/vite.ts
  packages/astro/src/core/server-islands/vite-plugin-server-islands.ts
  packages/astro/src/core/sync/index.ts
  packages/astro/src/core/util.ts
  packages/astro/src/integrations/hooks.ts
  packages/astro/src/vite-plugin-astro-server/util.ts
  packages/astro/src/vite-plugin-astro-server/vite.ts
  packages/astro/src/vite-plugin-head/index.ts
  packages/astro/src/vite-plugin-hmr-reload/index.ts
  packages/db/src/core/integration/index.ts
Labels: pkg: astro

#14188 feat: add support for specifying a prerendered error page host
  .changeset/six-hotels-taste.md
  packages/integrations/node/src/index.ts
  packages/integrations/node/src/middleware.ts
  packages/integrations/node/src/serve-app.ts
  packages/integrations/node/src/server.ts
  packages/integrations/node/src/standalone.ts
  packages/integrations/node/src/types.ts
  packages/integrations/node/test/error-page-host.test.js
  packages/integrations/node/test/fixtures/prerender-error-page/package.json
  packages/integrations/node/test/fixtures/prerender-error-page/src/pages/404.astro
  packages/integrations/node/test/fixtures/prerender-error-page/src/pages/500.astro
  packages/integrations/node/test/fixtures/prerender-error-page/src/pages/error.astro
  packages/integrations/node/test/fixtures/prerender-error-page/src/pages/index.astro
  pnpm-lock.yaml
Labels: pkg: integration

#14197 refactor: make `App` more extensible using `BaseApp`
  benchmark/packages/adapter/src/server.ts
  packages/astro/src/core/app/app.ts
  packages/astro/src/core/app/base.ts
  packages/astro/src/core/app/index.ts
  packages/astro/src/core/app/node.ts
  packages/astro/src/core/app/pipeline.ts
  packages/astro/src/core/base-pipeline.ts
  packages/astro/test/test-adapter.js
Labels: pkg: astro

#13682 feat(@astro/sitemap): custom sitemaps
  .changeset/red-candles-invite.md
  packages/integrations/sitemap/src/index.ts
  packages/integrations/sitemap/src/schema.ts
  packages/integrations/sitemap/src/write-sitemap.ts
  packages/integrations/sitemap/test/custom-pages.test.js
  packages/integrations/sitemap/test/custom-sitemaps.test.js
Labels: pkg: integration

#14122 feat: add automatic chrome workspace handling
  .changeset/plain-dragons-bow.md
  packages/astro/src/core/config/schemas/base.ts
  packages/astro/src/types/public/config.ts
  packages/astro/src/vite-plugin-astro-server/plugin.ts
  packages/astro/test/chrome-devtools-workspace.test.js
Labels: pkg: astro, semver: minor, docs pr

#14173 feat: experimental static import.meta.env
  .changeset/kind-kids-listen.md
  packages/astro/src/core/config/schemas/base.ts
  packages/astro/src/core/create-vite.ts
  packages/astro/src/env/env-loader.ts
  packages/astro/src/types/public/config.ts
  packages/astro/test/astro-envs.test.js
  packages/astro/test/fixtures/astro-envs/astro.config.mjs
Labels: pkg: astro, semver: minor, docs pr

#14225 Fix automatic Chrome DevTools workspace feature
  .changeset/wet-brooms-take.md
  packages/astro/src/vite-plugin-astro-server/plugin.ts
  packages/astro/test/chrome-devtools-workspace.test.js
Labels: pkg: astro

#14239 fix(sync): add missing live check for generating content collections types
  .changeset/slick-trains-worry.md
  packages/astro/src/core/sync/index.ts
Labels: pkg: astro

#14234 Filter duplicate exports from Cloudflare adapter's `namedExports`
  .changeset/lovely-years-live.md
  packages/integrations/cloudflare/src/index.ts
  packages/integrations/cloudflare/test/custom-entryfile.test.js
  packages/integrations/cloudflare/test/fixtures/custom-entryfile/astro.config.mjs
Labels: pkg: integration

#14213 refactor: App to extends the new BaseApp
  packages/astro/src/core/app/base.ts
  packages/astro/src/core/render-context.ts
  packages/astro/src/prerender/routing.ts
  packages/astro/src/vite-plugin-astro-server/app.ts
  packages/astro/src/vite-plugin-astro-server/error.ts
  packages/astro/src/vite-plugin-astro-server/index.ts
  packages/astro/src/vite-plugin-astro-server/pipeline.ts
  packages/astro/src/vite-plugin-astro-server/plugin.ts
  packages/astro/src/vite-plugin-astro-server/request.ts
  packages/astro/src/vite-plugin-astro-server/route.ts
  packages/astro/test/actions.test.js
  packages/astro/test/units/vite-plugin-astro-server/request.test.js
Labels: pkg: astro

#14259 fix(cloudflare): don't warn when using in static build
  .changeset/floppy-shoes-smell.md
  packages/integrations/cloudflare/src/index.ts
Labels: pkg: integration

#14248 fix(astro): action named apply
  .changeset/wild-jeans-smash.md
  packages/astro/e2e/actions-blog.test.js
  packages/astro/e2e/fixtures/actions-blog/src/actions/index.ts
  packages/astro/e2e/fixtures/actions-blog/src/components/ApplyForm.tsx
  packages/astro/e2e/fixtures/actions-blog/src/pages/apply.astro
  packages/astro/templates/actions.mjs
Labels: pkg: astro

#14260 fix(astro): Astro.url.pathname respects trailingSlash: 'never' with base path
  .changeset/plenty-colts-hammer.md
  packages/astro/src/vite-plugin-astro-server/request.ts
  packages/astro/test/fixtures/ssr-trailing-slash/astro.config.mjs
  packages/astro/test/fixtures/ssr-trailing-slash/package.json
  packages/astro/test/fixtures/ssr-trailing-slash/src/pages/index.astro
  packages/astro/test/ssr-trailing-slash.test.js
  packages/astro/test/units/routing/trailing-slash.test.js
  pnpm-lock.yaml
Labels: pkg: astro

#14278 fix(cloudflare): tests
  packages/integrations/cloudflare/test/fixtures/astro-env/wrangler.toml
  packages/integrations/cloudflare/test/fixtures/compile-image-service/wrangler.toml
  packages/integrations/cloudflare/test/fixtures/module-loader/wrangler.toml
  packages/integrations/cloudflare/test/fixtures/with-solid-js/wrangler.toml
  packages/integrations/cloudflare/test/fixtures/with-svelte/wrangler.toml
  packages/integrations/cloudflare/test/fixtures/with-vue/wrangler.toml
  packages/integrations/cloudflare/test/fixtures/wrangler-preview-platform/wrangler.toml
  packages/integrations/cloudflare/test/wrangler-preview-platform.test.js
Labels: pkg: integration

#14276 fix: add missing export for a documented image service utility
  .changeset/smart-squids-pick.md
  packages/astro/src/assets/utils/index.ts
Labels: pkg: astro

#14289 fix(vercel): ensure srcset widths are always from configured list
  .changeset/new-falcons-tickle.md
  packages/integrations/vercel/src/image/build-service.ts
  packages/integrations/vercel/test/fixtures/image/src/pages/index.astro
  packages/integrations/vercel/test/image.test.js
Labels: pkg: integration
