Repository withastro/astro, pull requests merged in 2025-09, with the labels that each got.

#14294 revert history function caching
  .changeset/angry-eels-unite.md
  packages/astro/src/transitions/router.ts
Labels: pkg: astro

#14296 docs(tailwind): restore tailwind readme and changelog as stub
  packages/integrations/tailwind/CHANGELOG.md
  packages/integrations/tailwind/README.md
Labels: pkg: integration

#14298 refactor: manifest as virtual module
  packages/astro/src/config/index.ts
  packages/astro/src/core/app/common.ts
  packages/astro/src/core/app/index.ts
  packages/astro/src/core/app/types.ts
  packages/astro/src/core/build/generate.ts
  packages/astro/src/core/build/index.ts
  packages/astro/src/core/build/plugins/plugin-manifest.ts
  packages/astro/src/core/create-vite.ts
  packages/astro/src/core/dev/container.ts
  packages/astro/src/core/routing/manifest/create.ts
  packages/astro/src/core/sync/index.ts
  packages/astro/src/i18n/index.ts
  packages/astro/src/i18n/utils.ts
  packages/astro/src/manifest/serialized.ts
  packages/astro/src/manifest/virtual-module.ts
  packages/astro/src/virtual-modules/i18n.ts
  packages/astro/src/vite-plugin-astro-server/app.ts
  packages/astro/src/vite-plugin-astro-server/plugin.ts
  packages/astro/test/astro-assets-prefix-multi-cdn.test.js
  packages/astro/test/astro-assets-prefix.test.js
  packages/astro/test/astro-preview-headers.test.js
  packages/astro/test/fixtures/content-layer/src/content.config.ts
  packages/astro/test/fixtures/static-build-frameworks/astro.config.mjs
  packages/astro/test/static-build-frameworks.test.js
  packages/astro/test/units/i18n/astro_i18n.test.js
  packages/astro/test/units/integrations/api.test.js
  packages/astro/test/units/vite-plugin-astro-server/request.test.js
Labels: pkg: astro

#14307 fix(deps): update astro dependencies
  packages/integrations/mdx/package.json
  pnpm-lock.yaml
Labels: pkg: integration

#14303 refactor: create generate when needed
  packages/astro/src/assets/endpoint/config.ts
  packages/astro/src/container/index.ts
  packages/astro/src/core/build/generate.ts
  packages/astro/src/core/csp/common.ts
  packages/astro/src/core/redirects/render.ts
  packages/astro/src/core/render-context.ts
  packages/astro/src/core/render/paginate.ts
  packages/astro/src/core/render/params-and-props.ts
  packages/astro/src/core/render/route-cache.ts
  packages/astro/src/core/routing/astro-designed-error-pages.ts
  packages/astro/src/core/routing/manifest/create.ts
  packages/astro/src/core/routing/manifest/generator.ts
  packages/astro/src/core/routing/manifest/serialization.ts
  packages/astro/src/core/routing/params.ts
  packages/astro/src/core/server-islands/endpoint.ts
  packages/astro/src/integrations/hooks.ts
  packages/astro/src/types/astro.ts
  packages/astro/src/types/public/integrations.ts
  packages/astro/src/types/public/internal.ts
  packages/astro/src/vite-plugin-astro-server/app.ts
  packages/astro/test/astro-assets-prefix.test.js
Labels: pkg: astro, docs pr

#14308 fix(deps): update astro dependencies
  packages/astro/package.json
  pnpm-lock.yaml
Labels: pkg: astro

#14108 Fix: Dynamic route split regex
  .changeset/lemon-tires-yell.md
  packages/astro/src/core/routing/manifest/create.ts
Labels: pkg: astro

#14335 feat: update sharp
  .changeset/wet-clouds-behave.md
  .github/renovate.json5
  benchmark/package.json
  examples/blog/package.json
  examples/starlog/package.json
  packages/astro/package.json
  packages/integrations/netlify/test/development/fixtures/primitives/package.json
  packages/integrations/netlify/test/functions/fixtures/middleware/package.json
  packages/integrations/node/test/fixtures/image/package.json
  pnpm-lock.yaml
Labels: pkg: example, pkg: integration, pkg: astro

#14333 refactor(dev): use entry point to bootstrap the app
  packages/astro/src/core/create-vite.ts
  packages/astro/src/manifest/serialized.ts
  packages/astro/src/vite-plugin-astro-server/app.ts
  packages/astro/src/vite-plugin-astro-server/entrypoint.ts
  packages/astro/src/vite-plugin-astro-server/plugin.ts
Labels: pkg: astro

#14337 refactor(dev): expose dev app and entrypoint
  packages/astro/package.json
  packages/astro/src/core/app/dev/app.ts
  packages/astro/src/core/app/dev/index.ts
  packages/astro/src/core/app/dev/pipeline.ts
  packages/astro/src/prerender/routing.ts
  packages/astro/src/types/public/integrations.ts
  packages/astro/src/vite-plugin-astro-server/index.ts
  packages/astro/src/vite-plugin-astro-server/plugin.ts
  pnpm-lock.yaml
Labels: pkg: astro, docs pr

#14354 fix: Read in package versions for CLI tests
  packages/astro/test/cli.test.js
  packages/astro/test/fixtures/astro-info-versions/package.json
Labels: pkg: astro

#14350 fix: log errors for invalid content config
  .changeset/kind-snakes-grow.md
  packages/astro/src/content/utils.ts
Labels: pkg: astro

#14385 fix: Skip `astro info` version tests in ecosystem CI
  packages/astro/test/cli.test.js
  packages/astro/test/fixtures/astro-info-versions/package.json
  pnpm-lock.yaml
Labels: pkg: astro

#14393 Support HMR in Environment API
  packages/astro/src/core/app/dev/pipeline.ts
  packages/astro/src/vite-plugin-hmr-reload/index.ts
Labels: pkg: astro

#14394 Fix unit tests for environment API
  packages/astro/src/manifest/virtual-module.ts
  packages/astro/src/vite-plugin-hmr-reload/index.ts
  packages/astro/test/units/routing/route-matching.test.js
  packages/astro/test/units/test-utils.js
  packages/astro/test/units/vite-plugin-astro-server/request.test.js
  pnpm-workspace.yaml
Labels: pkg: astro

#14402 Remove warning for bun, causing unexpected console spam
  .changeset/rare-avocados-sin.md
  packages/astro/src/cli/info/index.ts
Labels: pkg: astro

#14400 Remove deprecated ViewTransitions component
  .changeset/rich-horses-begin.md
  packages/astro/client.d.ts
  packages/astro/src/transitions/vite-plugin-transitions.ts
Labels: pkg: astro, semver: major

#14398 fix(types): remove invalid `name: never` from AddServerRenderer
  .changeset/lazy-trains-switch.md
  packages/astro/src/container/index.ts
Labels: pkg: astro

#14426 feat!: remove emitESMImage()
  .changeset/busy-olives-chew.md
  packages/astro/src/assets/utils/index.ts
  packages/astro/src/assets/utils/node/emitAsset.ts
  packages/astro/src/assets/vite-plugin-assets.ts
  packages/astro/src/content/content-layer.ts
  packages/astro/src/content/runtime-assets.ts
  packages/astro/src/content/utils.ts
  packages/astro/src/content/vite-plugin-content-imports.ts
  packages/integrations/markdoc/src/content-entry-type.ts
Labels: pkg: integration, pkg: astro, semver: major

#14386 Stabilize React 19 + Actions APIs
  .changeset/spicy-spiders-compare.md
  packages/astro/e2e/fixtures/actions-react-19/src/actions/index.ts
  packages/astro/e2e/fixtures/actions-react-19/src/components/Like.tsx
  packages/integrations/react/src/actions.ts
Labels: pkg: react, pkg: integration, pkg: astro

#13520 feat(core): add `routePattern` to `GetStaticPathsOptions`
  .changeset/little-sheep-hear.md
  packages/astro/src/core/render/route-cache.ts
  packages/astro/src/types/public/common.ts
  packages/astro/test/astro-get-static-paths.test.js
  packages/astro/test/fixtures/astro-get-static-paths/src/pages/blog/[year]/[slug].astro
Labels: pkg: astro, semver: minor, docs pr

#13651 feat(types): add SvgComponent type and update SVG module declaration
  .changeset/shy-heads-know.md
  packages/astro/client.d.ts
  packages/astro/types.d.ts
Labels: pkg: astro, semver: minor

#14436 feat: update minimum node version to 22.12
  .changeset/puny-poems-create.md
  .github/ISSUE_TEMPLATE/---01-bug-report.yml
  CONTRIBUTING.md
  package.json
  packages/astro-prism/package.json
  packages/astro/bin/astro.mjs
  packages/astro/package.json
  packages/create-astro/package.json
  packages/integrations/markdoc/package.json
  packages/integrations/mdx/package.json
  packages/integrations/preact/package.json
  packages/integrations/react/package.json
  packages/integrations/solid/package.json
  packages/integrations/svelte/package.json
  packages/upgrade/package.json
Labels: pkg: svelte, pkg: react, pkg: preact, pkg: solid, pkg: integration, pkg: create-astro, pkg: astro, semver: major

#14437 Fix name of new flag in changelog
  packages/astro/CHANGELOG.md
Labels: pkg: astro

#14440 fix(astro): invalid font url
  .changeset/cuddly-islands-cut.md
  packages/astro/src/assets/fonts/implementations/url-proxy-hash-resolver.ts
  packages/astro/test/units/assets/fonts/implementations.test.js
Labels: pkg: astro

#14447 chore: add changeset validation workflow
  .github/workflows/changeset-validation-prompt.txt
  .github/workflows/validate-changesets.yml
Labels: 🚨 action

#14445 feat: update vite
  .changeset/tricky-donkeys-camp.md
  packages/astro/package.json
  packages/astro/src/core/errors/overlay.ts
  packages/astro/test/fixtures/astro-info-versions/package.json
  packages/db/package.json
  packages/integrations/alpinejs/package.json
  packages/integrations/cloudflare/package.json
  packages/integrations/markdoc/package.json
  packages/integrations/mdx/package.json
  packages/integrations/netlify/package.json
  packages/integrations/preact/package.json
  packages/integrations/react/package.json
  packages/integrations/solid/package.json
  packages/integrations/svelte/package.json
  packages/integrations/vue/package.json
  pnpm-lock.yaml
Labels: pkg: svelte, pkg: vue, pkg: react, pkg: preact, pkg: solid, pkg: integration, pkg: astro, semver: major

#14446 feat: cleanup integration api
  .changeset/beige-clowns-read.md
  .changeset/cuddly-worlds-beam.md
  .github/workflows/ci.yml
  packages/astro/src/core/build/index.ts
  packages/astro/src/core/build/internal.ts
  packages/astro/src/core/build/plugins/plugin-manifest.ts
  packages/astro/src/core/server-islands/endpoint.ts
  packages/astro/src/integrations/hooks.ts
  packages/astro/src/types/public/integrations.ts
  packages/astro/test/middleware.test.js
  packages/astro/test/static-build-page-dist-url.test.js
  packages/astro/test/test-adapter.js
  packages/integrations/sitemap/src/index.ts
  packages/integrations/vercel/src/index.ts
Labels: 🚨 action, pkg: integration, pkg: astro, semver: major, docs pr
