Repository withastro/astro, pull requests merged in 2025-01, with the labels that each got.

#12781 fix: make `reference()` a sync transform
  .changeset/fluffy-ants-reflect.md
  packages/astro/src/content/runtime.ts
  packages/astro/test/fixtures/content-layer/src/content.config.ts
Labels: pkg: astro

#12776 Fix Vue & Svelte server renderer types
  .changeset/old-kings-obey.md
  packages/integrations/svelte/server.d.ts
  packages/integrations/vue/server.d.ts
Labels: pkg: svelte, pkg: vue, pkg: integration

#12864 fix: session regeneration
  .changeset/hot-baboons-own.md
  packages/astro/src/core/session.ts
  packages/astro/test/sessions.test.js
Labels: pkg: astro

#12820 fix: pass cookie options to delete
  .changeset/heavy-lemons-tie.md
  packages/astro/src/core/session.ts
  packages/astro/test/units/sessions/astro-session.test.js
Labels: pkg: astro

#12768 fix(core): add error log for server islands
  .changeset/khaki-tools-live.md
  .changeset/silver-cars-confess.md
  .changeset/spotty-timers-shake.md
  packages/astro/src/core/build/index.ts
  packages/astro/src/core/build/static-build.ts
  packages/astro/src/core/create-vite.ts
  packages/astro/src/core/logger/core.ts
  packages/astro/src/core/server-islands/vite-plugin-server-islands.ts
  packages/underscore-redirects/src/astro.ts
Labels: pkg: astro

#12875 fix: pass emulated entry to getCollection filter function
  .changeset/rotten-baboons-roll.md
  packages/astro/src/content/runtime.ts
  packages/astro/test/fixtures/legacy-content-collections/src/pages/collections.json.js
  packages/astro/test/legacy-content-collections.test.js
Labels: pkg: astro

#12814 fix: missing log
  .changeset/red-schools-marry.md
  packages/astro/src/core/build/generate.ts
Labels: pkg: astro

#12816 fix: injected route entrypoint
  .changeset/sour-bananas-rule.md
  packages/astro/src/core/util.ts
Labels: pkg: astro

#12827 fix: add noindex to server island headers
  .changeset/witty-lies-end.md
  packages/astro/src/core/server-islands/endpoint.ts
  packages/astro/test/server-islands.test.js
Labels: pkg: astro

#12818 fix: wait for content layer sync before starting dev server
  .changeset/mighty-pugs-retire.md
  packages/astro/e2e/actions-blog.test.js
  packages/astro/e2e/actions-react-19.test.js
  packages/astro/src/content/content-layer.ts
  packages/astro/src/content/utils.ts
  packages/astro/src/content/vite-plugin-content-virtual-mod.ts
  packages/astro/src/core/dev/dev.ts
  packages/astro/test/test-utils.js
  packages/astro/test/units/content-collections/get-entry-type.test.js
Labels: pkg: astro

#12876 Bump vitest to v3 beta
  benchmark/package.json
  examples/container-with-vitest/package.json
  examples/with-vitest/package.json
  packages/astro/package.json
  packages/astro/test/fixtures/vitest/package.json
  pnpm-lock.yaml
Labels: pkg: example, pkg: astro

#12884 fix: add render() to stub content type defs
  .changeset/strange-carpets-drop.md
  packages/astro/types/content.d.ts
Labels: pkg: astro

#12877 Fix sourcemap warning in server islands plugin
  .changeset/big-mugs-approve.md
  packages/astro/src/core/server-islands/vite-plugin-server-islands.ts
Labels: pkg: astro

#12883 fix: clone session data on .set()
  .changeset/slimy-oranges-argue.md
  .changeset/tough-cars-yawn.md
  .gitignore
  packages/astro/src/core/app/index.ts
  packages/astro/src/core/session.ts
  packages/astro/test/fixtures/sessions/src/actions/index.ts
  packages/astro/test/fixtures/sessions/src/pages/update.ts
  packages/astro/test/sessions.test.js
Labels: pkg: astro

#12815 fix: match index files only by using entire basename
  .changeset/small-maps-give.md
  packages/astro/src/core/routing/manifest/create.ts
Labels: pkg: astro, semver: minor

#12905 chore(examples): add node types dep
  examples/toolbar-app/package.json
  pnpm-lock.yaml
Labels: pkg: example

#12907 fix: pass server island route to astro:build:done routes
  .changeset/metal-phones-cross.md
  packages/astro/src/core/build/index.ts
Labels: pkg: astro

#12676 fix: Reflect the configuration for esbuild
  .changeset/seven-feet-juggle.md
  packages/astro/src/vite-plugin-astro/compile.ts
  packages/astro/test/units/vite-plugin-astro/compile.test.js
Labels: pkg: astro

#12921 fix(mdx): don't import image component when no images are used
  .changeset/old-clouds-act.md
  packages/astro/test/content-collections-render.test.js
  packages/astro/test/fixtures/ssr-api-route/src/pages/fail.js
  packages/astro/test/ssr-api-route.test.js
  packages/astro/test/units/dev/collections-renderentry.test.js
  packages/integrations/mdx/src/rehype-images-to-component.ts
  packages/integrations/mdx/test/css-head-mdx.test.js
  packages/integrations/mdx/test/mdx-math.test.js
Labels: pkg: integration, pkg: astro

#12927 fix(routing): multiple decoding
  .changeset/afraid-peas-smash.md
  packages/astro/src/core/app/index.ts
  packages/astro/src/core/config/schema.ts
  packages/astro/src/core/middleware/sequence.ts
  packages/astro/src/core/render-context.ts
  packages/astro/src/core/render/params-and-props.ts
  packages/astro/src/vite-plugin-astro-server/base.ts
  packages/astro/src/vite-plugin-astro-server/request.ts
  packages/astro/test/fixtures/ssr-params/src/pages/[category].astro
  packages/astro/test/fixtures/ssr-params/src/pages/東西/[group].astro
  packages/astro/test/params.test.js
Labels: pkg: astro

#12929 Fix biome correctness checks
  benchmark/make-project/_template.js
  packages/astro/src/core/build/static-build.ts
  scripts/cmd/build.js
Labels: pkg: astro

#12925 fix: conditionally import image style
  .changeset/green-buses-add.md
  packages/astro/components/Image.astro
  packages/astro/components/Picture.astro
  packages/astro/components/ResponsiveImage.astro
  packages/astro/components/ResponsivePicture.astro
  packages/astro/src/assets/vite-plugin-assets.ts
  packages/astro/test/content-collections-render.test.js
  packages/astro/test/core-image.test.js
  packages/astro/test/ssr-assets.test.js
  packages/integrations/markdoc/test/propagated-assets.test.js
  packages/integrations/mdx/test/css-head-mdx.test.js
  packages/integrations/mdx/test/fixtures/mdx-images/astro.config.ts
  packages/integrations/mdx/test/fixtures/mdx-images/src/pages/content-collection.astro
  packages/integrations/mdx/test/fixtures/mdx-images/src/pages/no-image.mdx
  packages/integrations/mdx/test/mdx-images.test.js
Labels: pkg: integration, pkg: astro

#12912 feat: improve astro:env config error
  .changeset/curvy-readers-invent.md
  packages/astro/src/env/schema.ts
  packages/astro/test/units/config/config-validate.test.js
Labels: pkg: astro

#12918 fix output path logging for build.format: preserve
  .changeset/rich-terms-sit.md
  packages/astro/src/core/build/generate.ts
  packages/astro/src/core/util.ts
  packages/astro/test/astro-pageDirectoryUrl.test.js
Labels: pkg: astro

#12933 chore: add test for astro:route:setup hook
  packages/astro/test/units/integrations/api.test.js
Labels: pkg: astro

#12938 fix: invalidate data store module when dev server starts
  .changeset/strong-scissors-sip.md
  packages/astro/src/content/vite-plugin-content-virtual-mod.ts
Labels: pkg: astro

#12937 fix(routing): don't trigger get of headers
  .changeset/sweet-zoos-move.md
  .changeset/tame-pianos-approve.md
  packages/astro/src/core/render-context.ts
  packages/astro/src/core/request.ts
  packages/astro/src/core/routing/rewrite.ts
Labels: pkg: astro

#12926 feat(assets): Store remote cached images in binary format
  .changeset/light-buttons-compare.md
  packages/astro/src/assets/build/generate.ts
  packages/astro/src/assets/build/remote.ts
  packages/astro/test/core-image.test.js
Labels: pkg: astro

#12934 fix(container): compiling error with pnpm
  .changeset/cold-clocks-tell.md
  packages/astro/src/assets/vite-plugin-assets.ts
  packages/astro/src/container/index.ts
  packages/astro/src/core/build/css-asset-name.ts
  packages/astro/src/core/compile/compile.ts
  packages/astro/src/core/compile/style.ts
  packages/astro/src/core/errors/dev/utils.ts
  packages/astro/src/core/middleware/vite-plugin.ts
  packages/astro/src/core/routing/manifest/create.ts
  packages/astro/src/core/routing/manifest/parts.ts
  packages/astro/src/core/routing/manifest/segment.ts
  packages/astro/src/core/sync/index.ts
  packages/astro/src/vite-plugin-markdown/index.ts
  packages/astro/src/vite-plugin-scanner/index.ts
Labels: pkg: astro

#12946 chore: add `funding` to the main package
  packages/astro/package.json
Labels: pkg: astro

#12930 Fix markdoc render code block in if tag
  .changeset/twelve-cobras-shake.md
  packages/integrations/markdoc/components/Renderer.astro
  packages/integrations/markdoc/components/TreeNode.ts
  packages/integrations/markdoc/test/fixtures/render-with-components/src/content/blog/with-components.mdoc
  packages/integrations/markdoc/test/fixtures/render-with-extends-components/src/content/blog/with-components.mdoc
  packages/integrations/markdoc/test/render-components.test.js
  packages/integrations/markdoc/test/render-extends-components.test.js
  packages/integrations/markdoc/test/syntax-highlighting.test.js
Labels: pkg: integration

#12941 fix(examples): add Starlog example viewport meta tag
  examples/starlog/src/components/BaseHead.astro
Labels: pkg: example

#12944 chore: better types
  packages/astro/src/core/request.ts
Labels: pkg: astro

#12947 fix: explicitly set dev mode for data store
  .changeset/purple-pillows-lay.md
  packages/astro/src/content/content-layer.ts
  packages/astro/src/content/mutable-data-store.ts
  packages/astro/src/core/build/index.ts
  packages/astro/src/core/dev/container.ts
  packages/astro/src/core/dev/dev.ts
  packages/astro/src/core/sync/index.ts
  packages/astro/test/astro-mode.test.js
  packages/astro/test/fixtures/content-layer/src/pages/missing.astro
Labels: pkg: astro

#12948 Support checking react 19 components
  .changeset/sweet-turtles-flash.md
  packages/integrations/react/server.js
Labels: pkg: react, pkg: integration

#12955 Adds "blocking" and "disabled" attributes to the TypeScript definition of the HTML link element
  .changeset/four-kangaroos-develop.md
  packages/astro/astro-jsx.d.ts
Labels: pkg: astro

#12922 Improve Static Asset Generation Performance
  .changeset/new-radios-pay.md
  packages/astro/src/assets/build/generate.ts
  packages/astro/src/core/build/generate.ts
Labels: pkg: astro

#12959 Revert "Make MDX integration check noop (#12913)"
  .changeset/calm-tips-think.md
  packages/integrations/mdx/src/server.ts
Labels: pkg: integration

#12942 fix(errors): fix error messages rendering incorrectly
  .changeset/tame-hats-kiss.md
  packages/astro/src/core/errors/errors-data.ts
Labels: pkg: astro, docs pr

#12962 fix: check if content layer files have changed before writing
  .changeset/light-meals-press.md
  packages/astro/src/content/mutable-data-store.ts
Labels: pkg: astro

#12965 Add inline mdx component test
  packages/integrations/mdx/test/fixtures/mdx-plus-react/src/pages/inline-component.mdx
  packages/integrations/mdx/test/mdx-plus-react.test.js
Labels: pkg: integration

#12966 fix: delete old entry when frontmatter slug changed
  .changeset/tiny-papayas-develop.md
  packages/astro/src/content/loaders/glob.ts
  packages/astro/test/content-layer.test.js
  packages/astro/test/fixtures/content-layer/src/content/space/exomars.md
  packages/astro/test/fixtures/content-layer/src/pages/collections.json.js
  packages/astro/test/fixtures/content-layer/src/pages/spacecraft/index.astro
Labels: pkg: astro

#12839 Fix i18n current locale
  .changeset/happy-pianos-report.md
  packages/astro/src/core/render-context.ts
  packages/astro/test/fixtures/i18n-routing-fallback/src/pages/index.astro
  packages/astro/test/i18n-routing.test.js
Labels: pkg: astro

#12971 fix: correct more typos
  packages/astro-rss/CHANGELOG.md
  packages/astro/CHANGELOG.md
  packages/astro/client.d.ts
  packages/astro/e2e/fixtures/actions-blog/src/styles/global.css
  packages/astro/e2e/fixtures/actions-react-19/src/styles/global.css
  packages/astro/src/actions/runtime/virtual/server.ts
  packages/astro/src/assets/build/generate.ts
  packages/astro/src/assets/build/remote.ts
  packages/astro/src/core/routing/manifest/create.ts
  packages/astro/test/core-image-svg.test.js
  packages/astro/test/fixtures/middleware-full-ssr/src/error.js
  packages/astro/test/fixtures/rewrite-runtime-error-custom500/package.json
  packages/astro/test/fixtures/rewrite-runtime-error/package.json
  packages/create-astro/CHANGELOG.md
  packages/db/CHANGELOG.md
  packages/db/src/core/cli/commands/shell/index.ts
  packages/db/src/core/integration/vite-plugin-db.ts
  packages/db/src/runtime/db-client.ts
  packages/integrations/mdx/CHANGELOG.md
  packages/integrations/mdx/src/README.md
  packages/integrations/preact/CHANGELOG.md
  packages/integrations/react/CHANGELOG.md
  packages/integrations/sitemap/test/config.test.js
  packages/integrations/solid/CHANGELOG.md
  packages/markdown/remark/CHANGELOG.md
  packages/markdown/remark/test/shiki.test.js
Labels: feat: markdown, pkg: react, pkg: preact, pkg: solid, pkg: integration, pkg: create-astro, pkg: astro

#12923 Remove custom optimizeDeps.include in react integration
  .changeset/curvy-pans-share.md
  .changeset/smart-ties-hear.md
  packages/integrations/react/src/index.ts
  packages/integrations/solid/src/index.ts
  packages/integrations/vue/src/index.ts
Labels: pkg: vue, pkg: react, pkg: solid, pkg: integration

#12956 Remove encryption of empty props to allow server island cacheability
  .changeset/bright-toes-wink.md
  packages/astro/src/core/server-islands/endpoint.ts
  packages/astro/src/runtime/server/render/server-islands.ts
  packages/astro/test/fixtures/server-islands/ssr/src/components/ComponentWithProps.astro
  packages/astro/test/fixtures/server-islands/ssr/src/pages/includeComponentWithProps.astro
  packages/astro/test/server-islands.test.js
Labels: pkg: astro

#12361 fix: align esbuild to vite
  .changeset/cyan-panthers-count.md
  package.json
  packages/astro/package.json
  packages/db/package.json
  packages/integrations/alpinejs/package.json
  packages/integrations/markdoc/package.json
  packages/integrations/mdx/package.json
  packages/integrations/preact/package.json
  packages/integrations/react/package.json
  packages/integrations/solid/package.json
  packages/integrations/svelte/package.json
  packages/integrations/tailwind/package.json
  packages/integrations/vue/package.json
  packages/markdown/remark/package.json
  packages/studio/package.json
  pnpm-lock.yaml
  scripts/package.json
Labels: feat: markdown, pkg: svelte, pkg: vue, pkg: react, pkg: preact, pkg: solid, pkg: integration, pkg: astro

#12967 Fix component render in markdoc when `nodes.document.render` is `null`
  .changeset/nasty-pandas-unite.md
  packages/integrations/markdoc/components/TreeNode.ts
  packages/integrations/markdoc/test/fixtures/render-null/markdoc.config.mjs
  packages/integrations/markdoc/test/fixtures/render-null/src/components/DivWrapper.astro
  packages/integrations/markdoc/test/fixtures/render-null/src/content/blog/render-null.mdoc
  packages/integrations/markdoc/test/render.test.js
Labels: pkg: integration

#12887 Add warnings if multiple JSX renderers are used
  .changeset/strong-games-travel.md
  packages/integrations/preact/src/index.ts
  packages/integrations/react/src/index.ts
  packages/integrations/solid/src/index.ts
  packages/integrations/vue/src/index.ts
Labels: pkg: vue, pkg: react, pkg: preact, pkg: solid, pkg: integration

#12980 fix: 404 status in dev
  .changeset/itchy-trains-allow.md
  packages/astro/src/vite-plugin-astro-server/route.ts
  packages/astro/test/astro-response.test.js
  packages/astro/test/fixtures/astro-response/src/pages/not-found-custom.astro
  packages/astro/test/test-utils.js
Labels: pkg: astro

#12984 fix: better handling of resync and restarts in content layer
  .changeset/kind-horses-smile.md
  .changeset/large-cherries-explain.md
  packages/astro/src/content/content-layer.ts
  packages/astro/src/content/loaders/file.ts
  packages/astro/src/content/loaders/glob.ts
  packages/astro/src/content/server-listeners.ts
  packages/astro/src/content/types-generator.ts
  packages/astro/src/content/watcher.ts
  packages/astro/src/core/dev/container.ts
  packages/astro/src/core/dev/restart.ts
  packages/astro/src/core/sync/index.ts
  packages/astro/test/content-layer.test.js
  packages/markdown/remark/src/import-plugin-default.ts
Labels: feat: markdown, pkg: astro

#12990 fix: defer validation of reference entries
  .changeset/heavy-fireants-melt.md
  packages/astro/src/content/runtime.ts
  packages/astro/test/content-layer.test.js
  packages/astro/test/fixtures/content-layer/src/content.config.ts
  packages/astro/test/fixtures/content-layer/src/data/cats.json
Labels: pkg: astro

#12733 fix: handle requests for double slash in dev
  .changeset/twenty-cherries-switch.md
  packages/astro/src/core/routing/3xx.ts
  packages/astro/src/vite-plugin-astro-server/base.ts
  packages/astro/src/vite-plugin-astro-server/response.ts
  packages/astro/test/dev-routing.test.js
Labels: pkg: astro

#12995 fix: actions codegen types
  .changeset/real-hairs-scream.md
  packages/astro/src/actions/integration.ts
Labels: pkg: astro

#13001 fix: do not inject env vars into non-source files
  .changeset/warm-pandas-lick.md
  packages/astro/src/env/vite-plugin-import-meta-env.ts
  packages/astro/test/astro-envs.test.js
  packages/astro/test/fixtures/astro-envs/.env
  packages/astro/test/fixtures/astro-envs/astro.config.mjs
  packages/astro/test/fixtures/astro-envs/src/data/cats.json
  packages/astro/test/fixtures/astro-envs/src/data/hello.css
  packages/astro/test/fixtures/astro-envs/src/data/hi.md
  packages/astro/test/fixtures/astro-envs/src/pages/index.astro
  packages/astro/test/fixtures/astro-envs/src/pages/info.html
Labels: pkg: astro

#12996 Remove react integration ssr.external config
  .changeset/many-pianos-develop.md
  packages/integrations/react/src/index.ts
  packages/integrations/react/src/version.ts
Labels: pkg: react, pkg: integration

#12982 Fix server islands for prerender-only sites
  .changeset/orange-suits-suffer.md
  packages/astro/src/core/routing/manifest/create.ts
  packages/astro/test/units/routing/manifest.test.js
Labels: pkg: astro

#12998 fix: audit incorrectly flagging images as above the fold (#12993)
  .changeset/cuddly-rings-sing.md
  packages/astro/e2e/dev-toolbar-audits.test.js
  packages/astro/e2e/fixtures/dev-toolbar/src/pages/audits-perf-absolute.astro
  packages/astro/e2e/fixtures/dev-toolbar/src/pages/audits-perf-body-unscrollable.astro
  packages/astro/e2e/fixtures/dev-toolbar/src/pages/audits-perf-relative.astro
  packages/astro/src/runtime/client/dev-toolbar/apps/audit/rules/perf.ts
Labels: pkg: astro

#13011 fix: upgrade Vite and update tests
  .changeset/tiny-otters-hear.md
  benchmark/package.json
  examples/container-with-vitest/package.json
  examples/with-vitest/package.json
  packages/astro/package.json
  packages/astro/test/fixtures/vitest/package.json
  packages/astro/test/units/test-utils.js
  packages/astro/test/units/vite-plugin-astro-server/request.test.js
  packages/astro/test/units/vite-plugin-astro-server/response.test.js
  packages/db/package.json
  packages/integrations/alpinejs/package.json
  packages/integrations/markdoc/package.json
  packages/integrations/mdx/package.json
  packages/integrations/preact/package.json
  packages/integrations/react/package.json
  packages/integrations/solid/package.json
  packages/integrations/svelte/package.json
  packages/integrations/tailwind/package.json
  packages/integrations/vue/package.json
  packages/studio/package.json
  pnpm-lock.yaml
Labels: pkg: svelte, pkg: vue, pkg: example, pkg: react, pkg: preact, pkg: solid, pkg: integration, pkg: astro

#11513 feat(server-islands): only encode ETAGO delimiter
  .changeset/fifty-socks-end.md
  packages/astro/src/runtime/server/render/server-islands.ts
  packages/astro/test/fixtures/server-islands/ssr/src/pages/index.astro
  packages/astro/test/server-islands.test.js
Labels: pkg: astro

#13026 fix: allow imports of Markdown files as raw text
  .changeset/large-dodos-bake.md
  packages/astro/src/core/util.ts
  packages/astro/test/astro-markdown.test.js
  packages/astro/test/fixtures/astro-markdown/src/pages/raw-content.json.js
Labels: pkg: astro

#12777 feat(fonts): config
  packages/astro/package.json
  packages/astro/src/assets/fonts/constants.ts
  packages/astro/src/assets/fonts/helpers.ts
  packages/astro/src/assets/fonts/providers.ts
  packages/astro/src/assets/fonts/providers/adobe.ts
  packages/astro/src/assets/fonts/providers/google.ts
  packages/astro/src/assets/fonts/providers/local.ts
  packages/astro/src/assets/fonts/types.ts
  packages/astro/src/config/entrypoint.ts
  packages/astro/src/config/index.ts
  packages/astro/src/core/config/schema.ts
  packages/astro/src/types/public/config.ts
  packages/astro/test/types/define-config.ts
  packages/astro/test/types/tsconfig.json
  packages/astro/test/units/config/config-validate.test.js
Labels: pkg: astro, docs pr

#13029 chore: ignore jsonc files
  .prettierignore
  biome.jsonc
  package.json
  packages/astro/astro-jsx.d.ts
  packages/astro/client.d.ts
  pnpm-lock.yaml
Labels: pkg: astro

#13000 chore: first implementation for serialized config
  packages/astro/client.d.ts
  packages/astro/src/core/config/schema.ts
  packages/astro/src/core/create-vite.ts
  packages/astro/src/core/errors/errors-data.ts
  packages/astro/src/manifest/virtual-module.ts
  packages/astro/src/types/public/config.ts
  packages/astro/src/types/public/index.ts
  packages/astro/src/types/public/manifest.ts
  packages/astro/test/fixtures/astro-manifest/astro.config.mjs
  packages/astro/test/fixtures/astro-manifest/package.json
  packages/astro/test/fixtures/astro-manifest/src/pages/client.astro
  packages/astro/test/fixtures/astro-manifest/src/pages/index.astro
  packages/astro/test/fixtures/astro-manifest/src/pages/server.astro
  packages/astro/test/serializeManifest.test.js
  pnpm-lock.yaml
Labels: pkg: astro, docs pr

#13014 fix(alpinejs): start on DOMContentLoaded
  .changeset/tall-bears-return.md
  packages/integrations/alpinejs/src/index.ts
Labels: pkg: integration

#13043 Add rel links to sitemap and rss feed in blog starter kit
  examples/blog/src/components/BaseHead.astro
Labels: pkg: example

#12892 Improve errors for invalid IDs in content collections
  .changeset/dry-dragons-shout.md
  packages/astro/src/content/content-layer.ts
  packages/astro/src/content/utils.ts
  packages/astro/src/core/errors/errors-data.ts
  packages/astro/test/content-collections.test.js
  packages/astro/test/fixtures/content-collections-number-id/package.json
  packages/astro/test/fixtures/content-collections-number-id/src/content.config.ts
  packages/astro/test/fixtures/content-collections-number-id/src/pages/index.astro
  pnpm-lock.yaml
Labels: pkg: astro, docs pr

#13045 Fix get relative locale
  .changeset/seven-avocados-confess.md
  packages/astro/src/i18n/index.ts
  packages/astro/test/units/i18n/astro_i18n.test.js
Labels: pkg: astro

#13058 fix: correct broken import formatting
  .changeset/clean-suns-shout.md
  packages/astro/client.d.ts
Labels: pkg: astro

#13054 refactor: use manifest as source of truth
  packages/astro/client.d.ts
  packages/astro/src/assets/endpoint/config.ts
  packages/astro/src/config/index.ts
  packages/astro/src/container/index.ts
  packages/astro/src/core/app/index.ts
  packages/astro/src/core/app/pipeline.ts
  packages/astro/src/core/app/types.ts
  packages/astro/src/core/build/generate.ts
  packages/astro/src/core/build/index.ts
  packages/astro/src/core/build/page-data.ts
  packages/astro/src/core/build/pipeline.ts
  packages/astro/src/core/build/plugins/plugin-manifest.ts
  packages/astro/src/core/build/types.ts
  packages/astro/src/core/create-vite.ts
  packages/astro/src/core/dev/container.ts
  packages/astro/src/core/preview/index.ts
  packages/astro/src/core/routing/astro-designed-error-pages.ts
  packages/astro/src/core/routing/index.ts
  packages/astro/src/core/routing/manifest/create.ts
  packages/astro/src/core/routing/match.ts
  packages/astro/src/core/server-islands/endpoint.ts
  packages/astro/src/core/sync/index.ts
  packages/astro/src/i18n/utils.ts
  packages/astro/src/manifest/virtual-module.ts
  packages/astro/src/types/astro.ts
  packages/astro/src/types/public/config.ts
  packages/astro/src/types/public/manifest.ts
  packages/astro/src/vite-plugin-astro-server/pipeline.ts
  packages/astro/src/vite-plugin-astro-server/plugin.ts
  packages/astro/src/vite-plugin-astro-server/request.ts
  packages/astro/src/vite-plugin-astro-server/route.ts
  packages/astro/src/vite-plugin-scanner/index.ts
  packages/astro/test/fixtures/astro-manifest-invalid/astro.config.mjs
  packages/astro/test/fixtures/astro-manifest-invalid/package.json
  packages/astro/test/fixtures/astro-manifest-invalid/src/pages/client.astro
  packages/astro/test/serializeManifest.test.js
  packages/astro/test/units/routing/manifest.test.js
  packages/astro/test/units/routing/route-matching.test.js
  packages/astro/test/units/vite-plugin-astro-server/request.test.js
  pnpm-lock.yaml
Labels: pkg: astro, docs pr

#13059 fix: correctly handle multiple wildcard path aliases
  .changeset/late-years-flow.md
  packages/astro/src/vite-plugin-config-alias/index.ts
  packages/astro/test/alias-tsconfig.test.js
  packages/astro/test/fixtures/alias-tsconfig/src/components/Bar/index.astro
  packages/astro/test/fixtures/alias-tsconfig/src/components/Baz.astro
  packages/astro/test/fixtures/alias-tsconfig/src/more-styles/extra.css
  packages/astro/test/fixtures/alias-tsconfig/src/pages/index.astro
  packages/astro/test/fixtures/alias-tsconfig/tsconfig.json
Labels: pkg: astro

#13061 chore: rename to `astro:config`
  packages/astro/src/core/config/schema.ts
  packages/astro/src/manifest/virtual-module.ts
  packages/astro/src/types/public/config.ts
  packages/astro/test/fixtures/astro-manifest-invalid/astro.config.mjs
  packages/astro/test/fixtures/astro-manifest-invalid/src/pages/client.astro
  packages/astro/test/fixtures/astro-manifest/astro.config.mjs
  packages/astro/test/fixtures/astro-manifest/src/pages/index.astro
  packages/astro/test/fixtures/astro-manifest/src/pages/server.astro
  packages/astro/test/serializeManifest.test.js
Labels: pkg: astro, docs pr

#13062 chore: adds wontfix label action
  .github/workflows/issue-labeled.yml
Labels: 🚨 action

#13063 chore: fix a typo in the action message
  .github/workflows/issue-labeled.yml
Labels: 🚨 action

#13077 chore: add tests to cover `astro:config` cases
  packages/astro/test/serializeManifest.test.js
Labels: pkg: astro

#12850 feat(markdown): add support for TOML frontmatter in Markdown files.
  .changeset/lazy-pandas-love.md
  packages/markdown/remark/package.json
  packages/markdown/remark/src/frontmatter.ts
  packages/markdown/remark/test/frontmatter.test.js
  pnpm-lock.yaml
Labels: feat: markdown

#13049 feat(tailwind): support v4
  .changeset/curvy-penguins-act.md
  .changeset/four-chairs-exercise.md
  examples/with-tailwindcss/astro.config.mjs
  examples/with-tailwindcss/package.json
  examples/with-tailwindcss/src/layouts/main.astro
  examples/with-tailwindcss/src/pages/index.astro
  examples/with-tailwindcss/src/styles/global.css
  examples/with-tailwindcss/tailwind.config.cjs
  packages/astro/e2e/fixtures/tailwindcss/astro.config.mjs
  packages/astro/e2e/fixtures/tailwindcss/package.json
  packages/astro/e2e/fixtures/tailwindcss/src/pages/index.astro
  packages/astro/e2e/fixtures/tailwindcss/src/styles/global.css
  packages/astro/e2e/fixtures/tailwindcss/tailwind.config.js
  packages/astro/e2e/tailwindcss.test.js
  packages/astro/src/cli/add/index.ts
  packages/astro/test/fixtures/astro-scripts/astro.config.mjs
  packages/astro/test/fixtures/astro-scripts/package.json
  packages/astro/test/fixtures/astro-scripts/src/external-page.astro
  packages/astro/test/fixtures/astro-scripts/src/pages/external-no-hoist-classic.astro
  packages/astro/test/fixtures/astro-scripts/src/pages/external-no-hoist.astro
  packages/astro/test/fixtures/astro-scripts/src/pages/external.astro
  packages/astro/test/fixtures/astro-scripts/src/pages/glob.astro
  packages/astro/test/fixtures/astro-scripts/src/pages/inline-in-page.astro
  packages/astro/test/fixtures/astro-scripts/src/pages/inline.astro
  packages/astro/test/fixtures/astro-scripts/src/pages/with-styles.astro
  packages/astro/test/fixtures/astro-scripts/src/styles/global.css
  packages/astro/test/fixtures/astro-scripts/tailwind.config.cjs
  packages/astro/test/fixtures/middleware-tailwind/astro.config.mjs
  packages/astro/test/fixtures/middleware-tailwind/package.json
  packages/astro/test/fixtures/middleware-tailwind/src/pages/index.astro
  packages/astro/test/fixtures/middleware-tailwind/src/styles/global.css
  packages/astro/test/fixtures/middleware-tailwind/tailwind.config.cjs
  packages/astro/test/fixtures/tailwindcss/astro.config.mjs
  packages/astro/test/fixtures/tailwindcss/package.json
  packages/astro/test/fixtures/tailwindcss/src/pages/index.astro
  packages/astro/test/fixtures/tailwindcss/src/pages/mdx-page.mdx
  packages/astro/test/fixtures/tailwindcss/src/styles/global.css
  packages/astro/test/fixtures/tailwindcss/tailwind.config.js
  packages/astro/test/middleware.test.js
  pnpm-lock.yaml
Labels: pkg: example, pkg: astro

#13084 feat: new virtual module `astro:config`
  .changeset/stupid-glasses-switch.md
  packages/astro/client.d.ts
  packages/astro/src/assets/endpoint/config.ts
  packages/astro/src/config/index.ts
  packages/astro/src/container/index.ts
  packages/astro/src/core/app/index.ts
  packages/astro/src/core/app/pipeline.ts
  packages/astro/src/core/app/types.ts
  packages/astro/src/core/build/generate.ts
  packages/astro/src/core/build/index.ts
  packages/astro/src/core/build/page-data.ts
  packages/astro/src/core/build/pipeline.ts
  packages/astro/src/core/build/plugins/plugin-manifest.ts
  packages/astro/src/core/build/types.ts
  packages/astro/src/core/config/schema.ts
  packages/astro/src/core/create-vite.ts
  packages/astro/src/core/dev/container.ts
  packages/astro/src/core/errors/errors-data.ts
  packages/astro/src/core/preview/index.ts
  packages/astro/src/core/routing/astro-designed-error-pages.ts
  packages/astro/src/core/routing/index.ts
  packages/astro/src/core/routing/manifest/create.ts
  packages/astro/src/core/routing/match.ts
  packages/astro/src/core/server-islands/endpoint.ts
  packages/astro/src/core/sync/index.ts
  packages/astro/src/i18n/utils.ts
  packages/astro/src/manifest/virtual-module.ts
  packages/astro/src/types/astro.ts
  packages/astro/src/types/public/config.ts
  packages/astro/src/types/public/index.ts
  packages/astro/src/types/public/manifest.ts
  packages/astro/src/vite-plugin-astro-server/pipeline.ts
  packages/astro/src/vite-plugin-astro-server/plugin.ts
  packages/astro/src/vite-plugin-astro-server/request.ts
  packages/astro/src/vite-plugin-astro-server/route.ts
  packages/astro/src/vite-plugin-scanner/index.ts
  packages/astro/test/fixtures/astro-manifest-invalid/astro.config.mjs
  packages/astro/test/fixtures/astro-manifest-invalid/package.json
  packages/astro/test/fixtures/astro-manifest-invalid/src/pages/client.astro
  packages/astro/test/fixtures/astro-manifest/astro.config.mjs
  packages/astro/test/fixtures/astro-manifest/package.json
  packages/astro/test/fixtures/astro-manifest/src/pages/index.astro
  packages/astro/test/fixtures/astro-manifest/src/pages/server.astro
  packages/astro/test/serializeManifest.test.js
  packages/astro/test/units/routing/manifest.test.js
  packages/astro/test/units/routing/route-matching.test.js
  packages/astro/test/units/vite-plugin-astro-server/request.test.js
  pnpm-lock.yaml
Labels: pkg: astro, semver: minor, docs pr

#12979 feat(routing): external redirects
  .changeset/light-pants-smoke.md
  packages/astro/src/core/errors/errors-data.ts
  packages/astro/src/core/redirects/render.ts
  packages/astro/src/core/routing/manifest/create.ts
  packages/astro/src/types/public/config.ts
  packages/astro/test/redirects.test.js
  packages/underscore-redirects/src/astro.ts
Labels: pkg: astro, semver: minor, docs pr

#12994 feat: redirect trailing slashes on on-demand rendered pages
  .changeset/blue-jokes-eat.md
  .changeset/blue-spies-shave.md
  .changeset/many-fans-battle.md
  packages/astro/src/core/app/index.ts
  packages/astro/src/core/constants.ts
  packages/astro/src/template/4xx.ts
  packages/astro/src/types/public/config.ts
  packages/astro/src/vite-plugin-astro-server/base.ts
  packages/astro/src/vite-plugin-astro-server/plugin.ts
  packages/astro/src/vite-plugin-astro-server/trailing-slash.ts
  packages/astro/test/fixtures/ssr-response/src/pages/another.astro
  packages/astro/test/fixtures/ssr-response/src/pages/index.astro
  packages/astro/test/fixtures/ssr-response/src/pages/sub/path.astro
  packages/astro/test/ssr-error-pages.test.js
  packages/astro/test/ssr-trailing-slash.js
  packages/astro/test/units/test-utils.js
  packages/internal-helpers/src/path.ts
Labels: pkg: astro, semver: minor, docs pr

#13087 fix: docs and types
  packages/astro/client.d.ts
  packages/astro/src/core/errors/errors-data.ts
  packages/astro/src/manifest/virtual-module.ts
  packages/astro/src/types/public/config.ts
  packages/astro/test/serializeManifest.test.js
  pnpm-lock.yaml
Labels: pkg: astro, docs pr

#13076 chore: upgrade Vite and update tests
  packages/astro/package.json
  packages/astro/test/units/vite-plugin-astro-server/response.test.js
  packages/db/package.json
  packages/integrations/alpinejs/package.json
  packages/integrations/markdoc/package.json
  packages/integrations/mdx/package.json
  packages/integrations/preact/package.json
  packages/integrations/react/package.json
  packages/integrations/solid/package.json
  packages/integrations/svelte/package.json
  packages/integrations/tailwind/package.json
  packages/integrations/vue/package.json
  packages/studio/package.json
  pnpm-lock.yaml
Labels: pkg: svelte, pkg: vue, pkg: react, pkg: preact, pkg: solid, pkg: integration, pkg: astro

#13089 docs: update the JSDoc of `integrations` to replace Tailwind integration
  packages/astro/src/types/public/config.ts
Labels: pkg: astro, docs pr

#12666 feat: content layer typings
  .changeset/sharp-clouds-begin.md
  packages/astro/templates/content/types.d.ts
Labels: pkg: astro

#13095 fix: exclude Vite requests from trailing slash handling
  .changeset/large-waves-cheat.md
  packages/astro/src/vite-plugin-astro-server/trailing-slash.ts
  packages/astro/test/ssr-error-pages.test.js
Labels: pkg: astro

#13106 fix: exclude tailwind package when installing integration
  .changeset/green-sloths-switch.md
  packages/astro/src/cli/add/index.ts
Labels: pkg: astro

#13113 fix: correctly handle pathname for dynamic routing in rewrite
  .changeset/brave-cats-retire.md
  packages/astro/src/core/routing/rewrite.ts
  packages/astro/test/fixtures/rewrite-dynamic-routing/astro.config.mjs
  packages/astro/test/fixtures/rewrite-dynamic-routing/package.json
  packages/astro/test/fixtures/rewrite-dynamic-routing/src/pages/[id].astro
  packages/astro/test/fixtures/rewrite-dynamic-routing/src/pages/bar.astro
  packages/astro/test/fixtures/rewrite-dynamic-routing/src/pages/foo.astro
  packages/astro/test/fixtures/rewrite-dynamic-routing/src/pages/has space/[id].astro
  packages/astro/test/rewrite.test.js
  pnpm-lock.yaml
Labels: pkg: astro

#13112 fix(i18n): server island request
  .changeset/silent-worms-whisper.md
  packages/astro/src/core/render-context.ts
  packages/astro/src/core/routing/match.ts
  packages/astro/src/core/server-islands/endpoint.ts
  packages/astro/src/i18n/index.ts
  packages/astro/src/i18n/middleware.ts
  packages/astro/test/fixtures/i18n-server-island/astro.config.mjs
  packages/astro/test/fixtures/i18n-server-island/package.json
  packages/astro/test/fixtures/i18n-server-island/src/components/Island.astro
  packages/astro/test/fixtures/i18n-server-island/src/pages/en/island.astro
  packages/astro/test/fixtures/i18n-server-island/src/pages/index.astro
  packages/astro/test/i18n-routing.test.js
  pnpm-lock.yaml
Labels: pkg: astro
