Repository withastro/astro, pull requests merged in 2025-10, with the labels that each got.

#14461 feat: deprecate import.meta.env.ASSETS_PREFIX
  .changeset/green-garlics-heal.md
  packages/astro/client.d.ts
Labels: pkg: astro, semver: major

#14462 feat: clean deprecated APIs
  .changeset/cyan-crews-cross.md
  .changeset/dull-mangos-travel.md
  .changeset/pretty-forks-smash.md
  packages/astro/components/ClientRouter.astro
  packages/astro/e2e/fixtures/prefetch/src/pages/index.astro
  packages/astro/src/content/data-store.ts
  packages/astro/src/content/mutable-data-store.ts
  packages/astro/src/core/app/index.ts
  packages/astro/src/core/app/node.ts
  packages/astro/src/prefetch/index.ts
Labels: pkg: astro, semver: major

#14478 feat: support for astro actions
  packages/integrations/cloudflare/test/fixtures/vite-plugin/src/actions/index.ts
  packages/integrations/cloudflare/test/fixtures/vite-plugin/src/dev.ts
  packages/integrations/cloudflare/test/fixtures/vite-plugin/src/pages/action-success.astro
  packages/integrations/cloudflare/test/fixtures/vite-plugin/src/pages/actions.astro
  packages/integrations/cloudflare/test/fixtures/vite-plugin/src/pages/success-action.astro
Labels: pkg: integration

#14482 chore: fixes from merged PR
  packages/astro/src/assets/endpoint/node.ts
  packages/astro/src/assets/services/service.ts
  packages/integrations/node/test/image.test.js
  packages/internal-helpers/src/path.ts
  packages/internal-helpers/test/path.test.js
Labels: pkg: integration, pkg: astro

#14479 feat: remove renderScript option
  packages/astro/package.json
  packages/astro/src/core/compile/compile.ts
  pnpm-lock.yaml
Labels: pkg: astro

#14477 feat!: remove rewrite from action context
  .changeset/six-women-visit.md
  packages/astro/src/actions/runtime/utils.ts
  packages/astro/src/core/render-context.ts
  packages/astro/src/types/public/context.ts
Labels: pkg: astro, semver: major, docs pr

#14486 feat: support i18n
  packages/astro/src/core/app/types.ts
  packages/astro/src/core/build/generate.ts
  packages/astro/src/core/build/plugins/plugin-manifest.ts
  packages/astro/src/i18n/index.ts
  packages/astro/src/i18n/vite-plugin-i18n.ts
  packages/astro/src/manifest/serialized.ts
  packages/astro/src/manifest/virtual-module.ts
  packages/astro/src/virtual-modules/i18n.ts
  packages/astro/src/vite-plugin-astro-server/plugin.ts
  packages/integrations/cloudflare/test/fixtures/vite-plugin/astro.config.mjs
  packages/integrations/cloudflare/test/fixtures/vite-plugin/src/pages/fr/index.astro
  packages/integrations/cloudflare/test/fixtures/vite-plugin/src/pages/index.astro
Labels: pkg: integration, pkg: astro

#14488 fix(astro): include styles in custom 500 error pages
  .changeset/shaggy-chairs-sing.md
  packages/astro/src/core/build/page-data.ts
  packages/astro/src/core/build/plugins/plugin-ssr.ts
  packages/astro/test/custom-500.test.js
  packages/astro/test/fixtures/custom-500/src/pages/500.astro
Labels: pkg: astro
